{
  "kind": "discovery#directoryList",
  "discoveryVersion": "v1",
  "items": [
    {
      "kind": "discovery#directoryItem",
      "id": "admin:datatransfer_v1",
      "name": "admin",
      "version": "datatransfer_v1",
      "title": "Admin SDK API",
      "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
      "discoveryRestUrl": "https://admin.googleapis.com/$discovery/rest?version=datatransfer_v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/admin/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "admin:directory_v1",
      "name": "admin",
      "version": "directory_v1",
      "title": "Admin SDK API",
      "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
      "discoveryRestUrl": "https://admin.googleapis.com/$discovery/rest?version=directory_v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/admin/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "admin:reports_v1",
      "name": "admin",
      "version": "reports_v1",
      "title": "Admin SDK API",
      "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
      "discoveryRestUrl": "https://admin.googleapis.com/$discovery/rest?version=reports_v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/admin/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "alertcenter:v1beta1",
      "name": "alertcenter",
      "version": "v1beta1",
      "title": "Google Workspace Alert Center API",
      "description": "Manages alerts on issues affecting your domain. Note: The current version of this API (v1beta1) is available to all Google Workspace customers.",
      "discoveryRestUrl": "https://alertcenter.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/admin/alertcenter/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "appsmarket:v2",
      "name": "appsmarket",
      "version": "v2",
      "title": "Google Workspace Marketplace API",
      "description": "Lets your Google Workspace Marketplace applications integrate with Google's installtion and licensing services.",
      "discoveryRestUrl": "https://appsmarket.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/marketplace",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "calendar:v3",
      "name": "calendar",
      "version": "v3",
      "title": "Google Calendar API",
      "description": "The Google Calendar API lets you manage your calendars and events.",
      "discoveryRestUrl": "https://calendar-json.googleapis.com/$discovery/rest?version=v3",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "http://code.google.com/apis/calendar/v3/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "chat:v1",
      "name": "chat",
      "version": "v1",
      "title": "Google Chat API",
      "description": "The Google Chat API lets you build Chat apps to integrate your services with Google Chat and manage Chat resources such as spaces, members, and messages.",
      "discoveryRestUrl": "https://chat.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/chat",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "classroom:v1",
      "name": "classroom",
      "version": "v1",
      "title": "Google Classroom API",
      "description": "Manages classes, rosters, and invitations in Google Classroom.",
      "discoveryRestUrl": "https://classroom.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/classroom",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudidentity:v1",
      "name": "cloudidentity",
      "version": "v1",
      "title": "Cloud Identity API",
      "description": "API for provisioning and managing identity resources.",
      "discoveryRestUrl": "https://cloudidentity.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/identity/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudidentity:v1beta1",
      "name": "cloudidentity",
      "version": "v1beta1",
      "title": "Cloud Identity API",
      "description": "API for provisioning and managing identity resources.",
      "discoveryRestUrl": "https://cloudidentity.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://cloud.google.com/identity/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "cloudsearch:v1",
      "name": "cloudsearch",
      "version": "v1",
      "title": "Cloud Search API",
      "description": "Cloud Search provides cloud-based search capabilities over Google Workspace data. The Cloud Search API allows indexing of non-Google Workspace data into Cloud Search.",
      "discoveryRestUrl": "https://cloudsearch.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/cloud-search/docs/guides/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "docs:v1",
      "name": "docs",
      "version": "v1",
      "title": "Google Docs API",
      "description": "Reads and writes Google Docs documents.",
      "discoveryRestUrl": "https://docs.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/docs/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "drive:v2",
      "name": "drive",
      "version": "v2",
      "title": "Drive API",
      "description": "Manages files in Drive including uploading, downloading, searching, detecting changes, and updating sharing permissions.",
      "discoveryRestUrl": "https://www.googleapis.com/discovery/v1/apis/drive/v2/rest",
      "discoveryLink": "./apis/drive/v2/rest",
      "icons": {
        "x16": "https://ssl.gstatic.com/docs/doclist/images/drive_icon_16.png",
        "x32": "https://ssl.gstatic.com/docs/doclist/images/drive_icon_32.png"
      },
      "documentationLink": "https://developers.google.com/drive/",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "drive:v3",
      "name": "drive",
      "version": "v3",
      "title": "Drive API",
      "description": "Manages files in Drive including uploading, downloading, searching, detecting changes, and updating sharing permissions.",
      "discoveryRestUrl": "https://www.googleapis.com/discovery/v1/apis/drive/v3/rest",
      "discoveryLink": "./apis/drive/v3/rest",
      "icons": {
        "x16": "https://ssl.gstatic.com/docs/doclist/images/drive_icon_16.png",
        "x32": "https://ssl.gstatic.com/docs/doclist/images/drive_icon_32.png"
      },
      "documentationLink": "https://developers.google.com/drive/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "driveactivity:v2",
      "name": "driveactivity",
      "version": "v2",
      "title": "Drive Activity API",
      "description": "Provides a historical view of activity in Google Drive.",
      "discoveryRestUrl": "https://driveactivity.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/drive/activity/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "drivelabels:v2",
      "name": "drivelabels",
      "version": "v2",
      "title": "Drive Labels API",
      "description": "An API for managing Drive Labels",
      "discoveryRestUrl": "https://drivelabels.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/drive/labels",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "drivelabels:v2beta",
      "name": "drivelabels",
      "version": "v2beta",
      "title": "Drive Labels API",
      "description": "An API for managing Drive Labels",
      "discoveryRestUrl": "https://drivelabels.googleapis.com/$discovery/rest?version=v2beta",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/drive/labels",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "forms:v1",
      "name": "forms",
      "version": "v1",
      "title": "Google Forms API",
      "description": "Reads and writes Google Forms and responses.",
      "discoveryRestUrl": "https://forms.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/forms/api",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "gmail:v1",
      "name": "gmail",
      "version": "v1",
      "title": "Gmail API",
      "description": "The Gmail API lets you view and manage Gmail mailbox data like threads, messages, and labels.",
      "discoveryRestUrl": "https://gmail.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/gmail/api/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "gmailpostmastertools:v1",
      "name": "gmailpostmastertools",
      "version": "v1",
      "title": "Gmail Postmaster Tools API",
      "description": "The Postmaster Tools API is a RESTful API that provides programmatic access to email traffic metrics (like spam reports, delivery errors etc) otherwise available through the Gmail Postmaster Tools UI currently.",
      "discoveryRestUrl": "https://gmailpostmastertools.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/gmail/postmaster",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "gmailpostmastertools:v1beta1",
      "name": "gmailpostmastertools",
      "version": "v1beta1",
      "title": "Gmail Postmaster Tools API",
      "description": "The Postmaster Tools API is a RESTful API that provides programmatic access to email traffic metrics (like spam reports, delivery errors etc) otherwise available through the Gmail Postmaster Tools UI currently.",
      "discoveryRestUrl": "https://gmailpostmastertools.googleapis.com/$discovery/rest?version=v1beta1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/gmail/postmaster",
      "preferred": false
    },
    {
      "kind": "discovery#directoryItem",
      "id": "gmailpostmastertools:v2",
      "name": "gmailpostmastertools",
      "version": "v2",
      "title": "Gmail Postmaster Tools API",
      "description": "The Postmaster Tools API is a RESTful API that provides programmatic access to email traffic metrics (like spam reports, delivery errors etc) otherwise available through the Gmail Postmaster Tools UI currently.",
      "discoveryRestUrl": "https://gmailpostmastertools.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/gmail/postmaster",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "groupsmigration:v1",
      "name": "groupsmigration",
      "version": "v1",
      "title": "Groups Migration API",
      "description": "The Groups Migration API allows domain administrators to archive emails into Google groups.",
      "discoveryRestUrl": "https://groupsmigration.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/google-apps/groups-migration/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "groupssettings:v1",
      "name": "groupssettings",
      "version": "v1",
      "title": "Groups Settings API",
      "description": "The Groups Settings API allows domain administrators to view and manage access levels and advanced settings for a group.",
      "discoveryRestUrl": "https://groupssettings.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/admin-sdk/groups-settings",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "keep:v1",
      "name": "keep",
      "version": "v1",
      "title": "Google Keep API",
      "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
      "discoveryRestUrl": "https://keep.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/keep/api",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "licensing:v1",
      "name": "licensing",
      "version": "v1",
      "title": "Enterprise License Manager API",
      "description": "The Google Enterprise License Manager API lets you manage Google Workspace and related licenses for all users of a customer that you manage.",
      "discoveryRestUrl": "https://licensing.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/admin/licensing/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "meet:v2",
      "name": "meet",
      "version": "v2",
      "title": "Google Meet API",
      "description": "Create and manage meetings in Google Meet.",
      "discoveryRestUrl": "https://meet.googleapis.com/$discovery/rest?version=v2",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/meet/api",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "people:v1",
      "name": "people",
      "version": "v1",
      "title": "People API",
      "description": "Provides access to information about profiles and contacts.",
      "discoveryRestUrl": "https://people.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/people/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "reseller:v1",
      "name": "reseller",
      "version": "v1",
      "title": "Google Workspace Reseller API",
      "description": "Perform common functions that are available on the Channel Services console at scale, like placing orders and viewing customer information",
      "discoveryRestUrl": "https://reseller.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/google-apps/reseller/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "script:v1",
      "name": "script",
      "version": "v1",
      "title": "Apps Script API",
      "description": "Manages and executes Google Apps Script projects.",
      "discoveryRestUrl": "https://script.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/apps-script/api/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "sheets:v4",
      "name": "sheets",
      "version": "v4",
      "title": "Google Sheets API",
      "description": "Reads and writes Google Sheets.",
      "discoveryRestUrl": "https://sheets.googleapis.com/$discovery/rest?version=v4",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/sheets/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "slides:v1",
      "name": "slides",
      "version": "v1",
      "title": "Google Slides API",
      "description": "Reads and writes Google Slides presentations.",
      "discoveryRestUrl": "https://slides.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/slides/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "tasks:v1",
      "name": "tasks",
      "version": "v1",
      "title": "Google Tasks API",
      "description": "The Google Tasks API lets you manage your tasks and task lists.",
      "discoveryRestUrl": "https://tasks.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/tasks/",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "vault:v1",
      "name": "vault",
      "version": "v1",
      "title": "Google Vault API",
      "description": "Retention and eDiscovery for Google Workspace. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege. For example, to download an export, an account needs the **Manage Exports** privilege and the matter shared with them.",
      "discoveryRestUrl": "https://vault.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/vault",
      "preferred": true
    },
    {
      "kind": "discovery#directoryItem",
      "id": "workspaceevents:v1",
      "name": "workspaceevents",
      "version": "v1",
      "title": "Google Workspace Events API",
      "description": "The Google Workspace Events API lets you subscribe to events and manage change notifications across Google Workspace applications.",
      "discoveryRestUrl": "https://workspaceevents.googleapis.com/$discovery/rest?version=v1",
      "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
      },
      "documentationLink": "https://developers.google.com/workspace/events",
      "preferred": true
    }
  ]
}
