{
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "id": "admin:directory_v1",
  "canonicalName": "directory",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "title": "Admin SDK API",
  "discoveryVersion": "v1",
  "rootUrl": "https://admin.googleapis.com/",
  "name": "admin",
  "baseUrl": "https://admin.googleapis.com/",
  "packagePath": "admin",
  "batchPath": "batch",
  "resources": {
    "chromeosdevices": {
      "methods": {
        "update": {
          "id": "directory.chromeosdevices.update",
          "parameterOrder": [
            "customerId",
            "deviceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "deviceId": {
              "description": "The unique ID of the device. The `deviceId`s are returned in the response from the [chromeosdevices.list](https://developers.google.com/workspace/admin/v1/reference/chromeosdevices/list) method.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "location": "path"
            },
            "projection": {
              "type": "string",
              "description": "Determines whether the response contains the full list of properties or only a subset.",
              "location": "query",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ],
              "enum": [
                "BASIC",
                "FULL"
              ]
            }
          },
          "response": {
            "$ref": "ChromeOsDevice"
          },
          "description": "Updates a device's updatable properties, such as `annotatedUser`, `annotatedLocation`, `notes`, `orgUnitPath`, or `annotatedAssetId`.",
          "request": {
            "$ref": "ChromeOsDevice"
          },
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}"
        },
        "list": {
          "description": "Retrieves a paginated list of Chrome OS devices within an account.",
          "response": {
            "$ref": "ChromeOsDevices"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos",
            "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "includeChildOrgunits": {
              "description": "Return devices from all child orgunits, as well as the specified org unit. If this is set to true, 'orgUnitPath' must be provided.",
              "type": "boolean",
              "location": "query"
            },
            "query": {
              "type": "string",
              "description": "Search string in the format given at [List query operators](https://developers.google.com/workspace/admin/directory/v1/list-query-operators).",
              "location": "query"
            },
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string",
              "location": "path",
              "required": true
            },
            "projection": {
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ],
              "description": "Determines whether the response contains the full list of properties or only a subset."
            },
            "pageToken": {
              "location": "query",
              "description": "The `pageToken` query parameter is used to request the next page of query results. The follow-on request's `pageToken` query parameter is the `nextPageToken` from your previous response.",
              "type": "string"
            },
            "maxResults": {
              "minimum": "1",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return. Value should not exceed 300.",
              "format": "int32",
              "default": "100"
            },
            "orderBy": {
              "location": "query",
              "enum": [
                "annotatedLocation",
                "annotatedUser",
                "lastSync",
                "notes",
                "serialNumber",
                "status"
              ],
              "enumDescriptions": [
                "Chrome device location as annotated by the administrator.",
                "Chromebook user as annotated by administrator.",
                "The date and time the Chrome device was last synchronized with the policy settings in the Admin console.",
                "Chrome device notes as annotated by the administrator.",
                "The Chrome device serial number entered when the device was enabled.",
                "Chrome device status. For more information, see the <a [chromeosdevices](https://developers.google.com/workspace/admin/directory/v1/reference/chromeosdevices.html)."
              ],
              "type": "string",
              "description": "Device property to use for sorting results."
            },
            "orgUnitPath": {
              "location": "query",
              "type": "string",
              "description": "The full path of the organizational unit (minus the leading `/`) or its unique ID."
            },
            "sortOrder": {
              "description": "Whether to return results in ascending or descending order. Must be used with the `orderBy` parameter.",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            }
          },
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos",
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos",
          "parameterOrder": [
            "customerId"
          ],
          "id": "directory.chromeosdevices.list"
        },
        "action": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{resourceId}/action",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{resourceId}/action",
          "description": "Use [BatchChangeChromeOsDeviceStatus](https://developers.google.com/workspace/admin/directory/reference/rest/v1/customer.devices.chromeos/batchChangeStatus) instead. Takes an action that affects a Chrome OS Device. This includes deprovisioning, disabling, and re-enabling devices. *Warning:* * Deprovisioning a device will stop device policy syncing and remove device-level printers. After a device is deprovisioned, it must be wiped before it can be re-enrolled. * Lost or stolen devices should use the disable action. * Re-enabling a disabled device will consume a device license. If you do not have sufficient licenses available when completing the re-enable action, you will receive an error. For more information about deprovisioning and disabling devices, visit the [help center](https://support.google.com/chrome/a/answer/3523633).",
          "request": {
            "$ref": "ChromeOsDeviceAction"
          },
          "id": "directory.chromeosdevices.action",
          "deprecated": true,
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users)."
            },
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique ID of the device. The `resourceId`s are returned in the response from the [chromeosdevices.list](https://developers.google.com/workspace/admin/directory/v1/reference/chromeosdevices/list) method."
            }
          },
          "parameterOrder": [
            "customerId",
            "resourceId"
          ]
        },
        "moveDevicesToOu": {
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/moveDevicesToOu",
          "request": {
            "$ref": "ChromeOsMoveDevicesToOu"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/moveDevicesToOu",
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Immutable. ID of the Google Workspace account"
            },
            "orgUnitPath": {
              "location": "query",
              "type": "string",
              "description": "Full path of the target organizational unit or its ID",
              "required": true
            }
          },
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "description": "Moves or inserts multiple Chrome OS devices to an organizational unit. You can move up to 50 devices at once.",
          "id": "directory.chromeosdevices.moveDevicesToOu"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos",
            "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
          ],
          "description": "Retrieves a Chrome OS device's properties.",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "id": "directory.chromeosdevices.get",
          "response": {
            "$ref": "ChromeOsDevice"
          },
          "httpMethod": "GET",
          "parameters": {
            "deviceId": {
              "description": "The unique ID of the device. The `deviceId`s are returned in the response from the [chromeosdevices.list](https://developers.google.com/workspace/admin/directory/v1/reference/chromeosdevices/list) method.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "location": "path"
            },
            "projection": {
              "type": "string",
              "location": "query",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Determines whether the response contains the full list of properties or only a subset.",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ]
            }
          },
          "parameterOrder": [
            "customerId",
            "deviceId"
          ],
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}"
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "projection": {
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "description": "Determines whether the response contains the full list of properties or only a subset.",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ]
            },
            "customerId": {
              "location": "path",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string",
              "required": true
            },
            "deviceId": {
              "type": "string",
              "description": "The unique ID of the device. The `deviceId`s are returned in the response from the [chromeosdevices.list](https://developers.google.com/workspace/admin/v1/reference/chromeosdevices/list) method.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "ChromeOsDevice"
          },
          "id": "directory.chromeosdevices.patch",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "description": "Updates a device's updatable properties, such as `annotatedUser`, `annotatedLocation`, `notes`, `orgUnitPath`, or `annotatedAssetId`. This method supports [patch semantics](https://developers.google.com/workspace/admin/directory/v1/guides/performance#patch).",
          "parameterOrder": [
            "customerId",
            "deviceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "response": {
            "$ref": "ChromeOsDevice"
          },
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}"
        }
      }
    },
    "verificationCodes": {
      "methods": {
        "invalidate": {
          "httpMethod": "POST",
          "parameters": {
            "userKey": {
              "description": "Email or immutable ID of the user",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Invalidates the current backup verification codes for the user.",
          "id": "directory.verificationCodes.invalidate",
          "parameterOrder": [
            "userKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "path": "admin/directory/v1/users/{userKey}/verificationCodes/invalidate",
          "flatPath": "admin/directory/v1/users/{userKey}/verificationCodes/invalidate"
        },
        "generate": {
          "description": "Generates new backup verification codes for the user.",
          "flatPath": "admin/directory/v1/users/{userKey}/verificationCodes/generate",
          "httpMethod": "POST",
          "parameters": {
            "userKey": {
              "location": "path",
              "description": "Email or immutable ID of the user",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "userKey"
          ],
          "path": "admin/directory/v1/users/{userKey}/verificationCodes/generate",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "id": "directory.verificationCodes.generate"
        },
        "list": {
          "description": "Returns the current set of valid backup verification codes for the specified user.",
          "path": "admin/directory/v1/users/{userKey}/verificationCodes",
          "httpMethod": "GET",
          "parameters": {
            "userKey": {
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "VerificationCodes"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "parameterOrder": [
            "userKey"
          ],
          "flatPath": "admin/directory/v1/users/{userKey}/verificationCodes",
          "id": "directory.verificationCodes.list"
        }
      }
    },
    "mobiledevices": {
      "methods": {
        "list": {
          "response": {
            "$ref": "MobileDevices"
          },
          "parameterOrder": [
            "customerId"
          ],
          "path": "admin/directory/v1/customer/{customerId}/devices/mobile",
          "httpMethod": "GET",
          "parameters": {
            "orderBy": {
              "description": "Device property to use for sorting results.",
              "enumDescriptions": [
                "The serial number for a Google Sync mobile device. For Android devices, this is a software generated unique identifier.",
                "The device owner's email address.",
                "Last policy settings sync date time of the device.",
                "The mobile device's model.",
                "The device owner's user name.",
                "The device's operating system.",
                "The device status.",
                "Type of the device."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "deviceId",
                "email",
                "lastSync",
                "model",
                "name",
                "os",
                "status",
                "type"
              ]
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Whether to return results in ascending or descending order. Must be used with the `orderBy` parameter.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify next page in the list"
            },
            "projection": {
              "description": "Restrict information returned to a set of selected fields.",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, model, status, type, and status)",
                "Includes all metadata fields"
              ],
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "minimum": "1",
              "format": "int32",
              "maximum": "100",
              "location": "query",
              "default": "100",
              "description": "Maximum number of results to return. Max allowed value is 100."
            },
            "query": {
              "location": "query",
              "description": "Search string in the format given at https://developers.google.com/workspace/admin/directory/v1/search-operators",
              "type": "string"
            },
            "customerId": {
              "location": "path",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.action",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly"
          ],
          "id": "directory.mobiledevices.list",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/mobile",
          "description": "Retrieves a paginated list of all user-owned mobile devices for an account. To retrieve a list that includes company-owned devices, use the Cloud Identity [Devices API](https://cloud.google.com/identity/docs/concepts/overview-devices) instead. This method times out after 60 minutes. For more information, see [Troubleshoot error codes](https://developers.google.com/workspace/admin/directory/v1/guides/troubleshoot-error-codes)."
        },
        "get": {
          "response": {
            "$ref": "MobileDevice"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.action",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly"
          ],
          "parameterOrder": [
            "customerId",
            "resourceId"
          ],
          "path": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}",
          "description": "Retrieves a mobile device's properties.",
          "id": "directory.mobiledevices.get",
          "httpMethod": "GET",
          "parameters": {
            "projection": {
              "type": "string",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, model, status, type, and status)",
                "Includes all metadata fields"
              ],
              "location": "query",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Restrict information returned to a set of selected fields."
            },
            "customerId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users)."
            },
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique ID the API service uses to identify the mobile device."
            }
          }
        },
        "action": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.action"
          ],
          "id": "directory.mobiledevices.action",
          "parameterOrder": [
            "customerId",
            "resourceId"
          ],
          "request": {
            "$ref": "MobileDeviceAction"
          },
          "path": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}/action",
          "httpMethod": "POST",
          "parameters": {
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "resourceId": {
              "required": true,
              "description": "The unique ID the API service uses to identify the mobile device.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Takes an action that affects a mobile device. For example, remotely wiping a device.",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}/action"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile"
          ],
          "description": "Removes a mobile device.",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}",
          "id": "directory.mobiledevices.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users)."
            },
            "resourceId": {
              "location": "path",
              "description": "The unique ID the API service uses to identify the mobile device.",
              "required": true,
              "type": "string"
            }
          },
          "path": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}",
          "parameterOrder": [
            "customerId",
            "resourceId"
          ]
        }
      }
    },
    "roleAssignments": {
      "methods": {
        "insert": {
          "id": "directory.roleAssignments.insert",
          "description": "Creates a role assignment.",
          "httpMethod": "POST",
          "parameters": {
            "customer": {
              "location": "path",
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "required": true
            }
          },
          "path": "admin/directory/v1/customer/{customer}/roleassignments",
          "response": {
            "$ref": "RoleAssignment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement"
          ],
          "request": {
            "$ref": "RoleAssignment"
          },
          "parameterOrder": [
            "customer"
          ],
          "flatPath": "admin/directory/v1/customer/{customer}/roleassignments"
        },
        "delete": {
          "description": "Deletes a role assignment.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement"
          ],
          "path": "admin/directory/v1/customer/{customer}/roleassignments/{roleAssignmentId}",
          "id": "directory.roleAssignments.delete",
          "flatPath": "admin/directory/v1/customer/{customer}/roleassignments/{roleAssignmentId}",
          "httpMethod": "DELETE",
          "parameters": {
            "roleAssignmentId": {
              "location": "path",
              "description": "Immutable ID of the role assignment.",
              "type": "string",
              "required": true
            },
            "customer": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Immutable ID of the Google Workspace account."
            }
          },
          "parameterOrder": [
            "customer",
            "roleAssignmentId"
          ]
        },
        "list": {
          "flatPath": "admin/directory/v1/customer/{customer}/roleassignments",
          "path": "admin/directory/v1/customer/{customer}/roleassignments",
          "httpMethod": "GET",
          "parameters": {
            "includeIndirectRoleAssignments": {
              "description": "When set to `true`, fetches indirect role assignments (i.e. role assignment via a group) as well as direct ones. Defaults to `false`. You must specify `user_key` or the indirect role assignments will not be included.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token to specify the next page in the list."
            },
            "roleId": {
              "location": "query",
              "description": "Immutable ID of a role. If included in the request, returns only role assignments containing this role ID.",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "minimum": "1",
              "maximum": "200",
              "type": "integer"
            },
            "customer": {
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "type": "string",
              "location": "path"
            },
            "userKey": {
              "type": "string",
              "description": "The primary email address, alias email address, or unique user or group ID. If included in the request, returns role assignments only for this user or group.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ],
          "id": "directory.roleAssignments.list",
          "response": {
            "$ref": "RoleAssignments"
          },
          "description": "Retrieves a paginated list of all roleAssignments.",
          "parameterOrder": [
            "customer"
          ]
        },
        "get": {
          "response": {
            "$ref": "RoleAssignment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ],
          "path": "admin/directory/v1/customer/{customer}/roleassignments/{roleAssignmentId}",
          "id": "directory.roleAssignments.get",
          "httpMethod": "GET",
          "parameters": {
            "customer": {
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "roleAssignmentId": {
              "description": "Immutable ID of the role assignment.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "admin/directory/v1/customer/{customer}/roleassignments/{roleAssignmentId}",
          "description": "Retrieves a role assignment.",
          "parameterOrder": [
            "customer",
            "roleAssignmentId"
          ]
        }
      }
    },
    "asps": {
      "methods": {
        "delete": {
          "flatPath": "admin/directory/v1/users/{userKey}/asps/{codeId}",
          "parameterOrder": [
            "userKey",
            "codeId"
          ],
          "path": "admin/directory/v1/users/{userKey}/asps/{codeId}",
          "httpMethod": "DELETE",
          "parameters": {
            "codeId": {
              "location": "path",
              "description": "The unique ID of the ASP to be deleted.",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            "userKey": {
              "required": true,
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Deletes an ASP issued by a user.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "id": "directory.asps.delete"
        },
        "list": {
          "response": {
            "$ref": "Asps"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "path": "admin/directory/v1/users/{userKey}/asps",
          "httpMethod": "GET",
          "parameters": {
            "userKey": {
              "location": "path",
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "userKey"
          ],
          "id": "directory.asps.list",
          "flatPath": "admin/directory/v1/users/{userKey}/asps",
          "description": "Lists the ASPs issued by a user."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "flatPath": "admin/directory/v1/users/{userKey}/asps/{codeId}",
          "description": "Gets information about an ASP issued by a user.",
          "parameterOrder": [
            "userKey",
            "codeId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "userKey": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID."
            },
            "codeId": {
              "location": "path",
              "format": "int32",
              "description": "The unique ID of the ASP.",
              "type": "integer",
              "required": true
            }
          },
          "response": {
            "$ref": "Asp"
          },
          "path": "admin/directory/v1/users/{userKey}/asps/{codeId}",
          "id": "directory.asps.get"
        }
      }
    },
    "domains": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ],
          "parameterOrder": [
            "customer",
            "domainName"
          ],
          "id": "directory.domains.get",
          "response": {
            "$ref": "Domains"
          },
          "httpMethod": "GET",
          "parameters": {
            "domainName": {
              "description": "Name of domain to be retrieved",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "customer": {
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "admin/directory/v1/customer/{customer}/domains/{domainName}",
          "path": "admin/directory/v1/customer/{customer}/domains/{domainName}",
          "description": "Retrieves a domain of the customer."
        },
        "list": {
          "path": "admin/directory/v1/customer/{customer}/domains",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ],
          "parameterOrder": [
            "customer"
          ],
          "description": "Lists the domains of the customer.",
          "response": {
            "$ref": "Domains2"
          },
          "id": "directory.domains.list",
          "flatPath": "admin/directory/v1/customer/{customer}/domains",
          "httpMethod": "GET",
          "parameters": {
            "customer": {
              "location": "path",
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "required": true
            }
          }
        },
        "insert": {
          "description": "Inserts a domain of the customer.",
          "response": {
            "$ref": "Domains"
          },
          "path": "admin/directory/v1/customer/{customer}/domains",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain"
          ],
          "id": "directory.domains.insert",
          "flatPath": "admin/directory/v1/customer/{customer}/domains",
          "httpMethod": "POST",
          "parameters": {
            "customer": {
              "required": true,
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "Domains"
          },
          "parameterOrder": [
            "customer"
          ]
        },
        "delete": {
          "flatPath": "admin/directory/v1/customer/{customer}/domains/{domainName}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "customer": {
              "required": true,
              "description": "Immutable ID of the Google Workspace account.",
              "location": "path",
              "type": "string"
            },
            "domainName": {
              "required": true,
              "type": "string",
              "description": "Name of domain to be deleted",
              "location": "path"
            }
          },
          "path": "admin/directory/v1/customer/{customer}/domains/{domainName}",
          "parameterOrder": [
            "customer",
            "domainName"
          ],
          "id": "directory.domains.delete",
          "description": "Deletes a domain of the customer."
        }
      }
    },
    "customer": {
      "resources": {
        "devices": {
          "resources": {
            "chromeos": {
              "methods": {
                "issueCommand": {
                  "id": "admin.customer.devices.chromeos.issueCommand",
                  "response": {
                    "$ref": "DirectoryChromeosdevicesIssueCommandResponse"
                  },
                  "request": {
                    "$ref": "DirectoryChromeosdevicesIssueCommandRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.directory.device.chromeos"
                  ],
                  "description": "Issues a command for the device to execute.",
                  "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}:issueCommand",
                  "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}:issueCommand",
                  "httpMethod": "POST",
                  "parameters": {
                    "customerId": {
                      "location": "path",
                      "type": "string",
                      "description": "Immutable. ID of the Google Workspace account.",
                      "required": true
                    },
                    "deviceId": {
                      "description": "Immutable. ID of Chrome OS Device.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "customerId",
                    "deviceId"
                  ]
                },
                "countChromeOsDevices": {
                  "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos:countChromeOsDevices",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.directory.device.chromeos",
                    "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
                  ],
                  "path": "admin/directory/v1/customer/{customerId}/devices/chromeos:countChromeOsDevices",
                  "response": {
                    "$ref": "CountChromeOsDevicesResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "description": "Optional. Search string in the format given at [List query operators](https://developers.google.com/workspace/admin/directory/v1/list-query-operators).",
                      "type": "string",
                      "location": "query"
                    },
                    "customerId": {
                      "location": "path",
                      "description": "Required. Immutable ID of the Google Workspace account.",
                      "type": "string",
                      "required": true
                    },
                    "orgUnitPath": {
                      "type": "string",
                      "description": "Optional. The full path of the organizational unit (minus the leading `/`) or its unique ID.",
                      "location": "query"
                    },
                    "includeChildOrgunits": {
                      "description": "Optional. Return devices from all child orgunits, as well as the specified org unit. If this is set to true, 'orgUnitPath' must be provided.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "customerId"
                  ],
                  "id": "admin.customer.devices.chromeos.countChromeOsDevices",
                  "description": "Counts ChromeOS devices matching the request."
                },
                "batchChangeStatus": {
                  "httpMethod": "POST",
                  "parameters": {
                    "customerId": {
                      "description": "Required. Immutable ID of the Google Workspace account.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "BatchChangeChromeOsDeviceStatusResponse"
                  },
                  "description": "Changes the status of a batch of ChromeOS devices. For more information about changing a ChromeOS device state [Repair, repurpose, or retire ChromeOS devices](https://support.google.com/chrome/a/answer/3523633).",
                  "request": {
                    "$ref": "BatchChangeChromeOsDeviceStatusRequest"
                  },
                  "parameterOrder": [
                    "customerId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.directory.device.chromeos"
                  ],
                  "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos:batchChangeStatus",
                  "id": "admin.customer.devices.chromeos.batchChangeStatus",
                  "path": "admin/directory/v1/customer/{customerId}/devices/chromeos:batchChangeStatus"
                }
              },
              "resources": {
                "commands": {
                  "methods": {
                    "get": {
                      "id": "admin.customer.devices.chromeos.commands.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.device.chromeos",
                        "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
                      ],
                      "description": "Gets command data a specific command issued to the device.",
                      "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}/commands/{commandId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "commandId": {
                          "format": "int64",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Immutable. ID of Chrome OS Device Command."
                        },
                        "deviceId": {
                          "location": "path",
                          "required": true,
                          "description": "Immutable. ID of Chrome OS Device.",
                          "type": "string"
                        },
                        "customerId": {
                          "type": "string",
                          "description": "Immutable. ID of the Google Workspace account.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "customerId",
                        "deviceId",
                        "commandId"
                      ],
                      "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}/commands/{commandId}",
                      "response": {
                        "$ref": "DirectoryChromeosdevicesCommand"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "resources": {
      "resources": {
        "buildings": {
          "methods": {
            "get": {
              "id": "directory.resources.buildings.get",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ],
              "response": {
                "$ref": "Building"
              },
              "path": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "parameterOrder": [
                "customer",
                "buildingId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "buildingId": {
                  "location": "path",
                  "description": "The unique ID of the building to retrieve.",
                  "type": "string",
                  "required": true
                },
                "customer": {
                  "type": "string",
                  "location": "path",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "required": true
                }
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "description": "Retrieves a building."
            },
            "delete": {
              "path": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "httpMethod": "DELETE",
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "buildingId": {
                  "type": "string",
                  "required": true,
                  "description": "The id of the building to delete.",
                  "location": "path"
                }
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "id": "directory.resources.buildings.delete",
              "description": "Deletes a building.",
              "parameterOrder": [
                "customer",
                "buildingId"
              ]
            },
            "insert": {
              "response": {
                "$ref": "Building"
              },
              "request": {
                "$ref": "Building"
              },
              "id": "directory.resources.buildings.insert",
              "path": "admin/directory/v1/customer/{customer}/resources/buildings",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/buildings",
              "parameterOrder": [
                "customer"
              ],
              "description": "Inserts a building.",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "httpMethod": "POST",
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "coordinatesSource": {
                  "enum": [
                    "CLIENT_SPECIFIED",
                    "RESOLVED_FROM_ADDRESS",
                    "SOURCE_UNSPECIFIED"
                  ],
                  "enumDescriptions": [
                    "Building.coordinates are set to the coordinates included in the request.",
                    "Building.coordinates are automatically populated based on the postal address.",
                    "Defaults to `RESOLVED_FROM_ADDRESS` if postal address is provided. Otherwise, defaults to `CLIENT_SPECIFIED` if coordinates are provided."
                  ],
                  "location": "query",
                  "default": "SOURCE_UNSPECIFIED",
                  "type": "string",
                  "description": "Source from which Building.coordinates are derived."
                }
              }
            },
            "patch": {
              "description": "Patches a building.",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "path": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "parameterOrder": [
                "customer",
                "buildingId"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "customer": {
                  "location": "path",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "required": true,
                  "type": "string"
                },
                "coordinatesSource": {
                  "enumDescriptions": [
                    "Building.coordinates are set to the coordinates included in the request.",
                    "Building.coordinates are automatically populated based on the postal address.",
                    "Defaults to `RESOLVED_FROM_ADDRESS` if postal address is provided. Otherwise, defaults to `CLIENT_SPECIFIED` if coordinates are provided."
                  ],
                  "default": "SOURCE_UNSPECIFIED",
                  "enum": [
                    "CLIENT_SPECIFIED",
                    "RESOLVED_FROM_ADDRESS",
                    "SOURCE_UNSPECIFIED"
                  ],
                  "type": "string",
                  "location": "query",
                  "description": "Source from which Building.coordinates are derived."
                },
                "buildingId": {
                  "required": true,
                  "description": "The id of the building to update.",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Building"
              },
              "response": {
                "$ref": "Building"
              },
              "id": "directory.resources.buildings.patch"
            },
            "update": {
              "path": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "httpMethod": "PUT",
              "parameters": {
                "customer": {
                  "required": true,
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "location": "path"
                },
                "buildingId": {
                  "required": true,
                  "location": "path",
                  "description": "The id of the building to update.",
                  "type": "string"
                },
                "coordinatesSource": {
                  "type": "string",
                  "enumDescriptions": [
                    "Building.coordinates are set to the coordinates included in the request.",
                    "Building.coordinates are automatically populated based on the postal address.",
                    "Defaults to `RESOLVED_FROM_ADDRESS` if postal address is provided. Otherwise, defaults to `CLIENT_SPECIFIED` if coordinates are provided."
                  ],
                  "description": "Source from which Building.coordinates are derived.",
                  "enum": [
                    "CLIENT_SPECIFIED",
                    "RESOLVED_FROM_ADDRESS",
                    "SOURCE_UNSPECIFIED"
                  ],
                  "default": "SOURCE_UNSPECIFIED",
                  "location": "query"
                }
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "id": "directory.resources.buildings.update",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "description": "Updates a building.",
              "request": {
                "$ref": "Building"
              },
              "response": {
                "$ref": "Building"
              },
              "parameterOrder": [
                "customer",
                "buildingId"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the next page in the list.",
                  "location": "query"
                },
                "customer": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID."
                },
                "maxResults": {
                  "description": "Maximum number of results to return.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "minimum": "1",
                  "maximum": "500"
                }
              },
              "path": "admin/directory/v1/customer/{customer}/resources/buildings",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ],
              "response": {
                "$ref": "Buildings"
              },
              "description": "Retrieves a list of buildings for an account.",
              "id": "directory.resources.buildings.list",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/buildings",
              "parameterOrder": [
                "customer"
              ]
            }
          }
        },
        "features": {
          "methods": {
            "delete": {
              "path": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "id": "directory.resources.features.delete",
              "parameterOrder": [
                "customer",
                "featureKey"
              ],
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "description": "Deletes a feature.",
              "httpMethod": "DELETE",
              "parameters": {
                "featureKey": {
                  "location": "path",
                  "description": "The unique ID of the feature to delete.",
                  "type": "string",
                  "required": true
                },
                "customer": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ]
            },
            "insert": {
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features",
              "parameterOrder": [
                "customer"
              ],
              "request": {
                "$ref": "Feature"
              },
              "id": "directory.resources.features.insert",
              "response": {
                "$ref": "Feature"
              },
              "path": "admin/directory/v1/customer/{customer}/resources/features",
              "httpMethod": "POST",
              "parameters": {
                "customer": {
                  "location": "path",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "description": "Inserts a feature."
            },
            "rename": {
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features/{oldName}/rename",
              "id": "directory.resources.features.rename",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "request": {
                "$ref": "FeatureRename"
              },
              "httpMethod": "POST",
              "parameters": {
                "customer": {
                  "required": true,
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "location": "path",
                  "type": "string"
                },
                "oldName": {
                  "type": "string",
                  "required": true,
                  "description": "The unique ID of the feature to rename.",
                  "location": "path"
                }
              },
              "description": "Renames a feature.",
              "path": "admin/directory/v1/customer/{customer}/resources/features/{oldName}/rename",
              "parameterOrder": [
                "customer",
                "oldName"
              ]
            },
            "patch": {
              "path": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "request": {
                "$ref": "Feature"
              },
              "response": {
                "$ref": "Feature"
              },
              "id": "directory.resources.features.patch",
              "description": "Patches a feature.",
              "httpMethod": "PATCH",
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "featureKey": {
                  "type": "string",
                  "location": "path",
                  "description": "The unique ID of the feature to update.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "parameterOrder": [
                "customer",
                "featureKey"
              ],
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}"
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "customer": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID."
                },
                "pageToken": {
                  "description": "Token to specify the next page in the list.",
                  "location": "query",
                  "type": "string"
                },
                "maxResults": {
                  "maximum": "500",
                  "minimum": "1",
                  "description": "Maximum number of results to return.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "id": "directory.resources.features.list",
              "description": "Retrieves a list of features for an account.",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features",
              "parameterOrder": [
                "customer"
              ],
              "path": "admin/directory/v1/customer/{customer}/resources/features",
              "response": {
                "$ref": "Features"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ]
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "request": {
                "$ref": "Feature"
              },
              "httpMethod": "PUT",
              "parameters": {
                "featureKey": {
                  "type": "string",
                  "description": "The unique ID of the feature to update.",
                  "location": "path",
                  "required": true
                },
                "customer": {
                  "required": true,
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "description": "Updates a feature.",
              "id": "directory.resources.features.update",
              "parameterOrder": [
                "customer",
                "featureKey"
              ],
              "path": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "response": {
                "$ref": "Feature"
              }
            },
            "get": {
              "description": "Retrieves a feature.",
              "response": {
                "$ref": "Feature"
              },
              "parameterOrder": [
                "customer",
                "featureKey"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ],
              "path": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "id": "directory.resources.features.get",
              "httpMethod": "GET",
              "parameters": {
                "customer": {
                  "required": true,
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "location": "path"
                },
                "featureKey": {
                  "description": "The unique ID of the feature to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}"
            }
          }
        },
        "calendars": {
          "methods": {
            "insert": {
              "path": "admin/directory/v1/customer/{customer}/resources/calendars",
              "httpMethod": "POST",
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Inserts a calendar resource.",
              "response": {
                "$ref": "CalendarResource"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "id": "directory.resources.calendars.insert",
              "parameterOrder": [
                "customer"
              ],
              "request": {
                "$ref": "CalendarResource"
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/calendars"
            },
            "delete": {
              "description": "Deletes a calendar resource.",
              "path": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "id": "directory.resources.calendars.delete",
              "parameterOrder": [
                "customer",
                "calendarResourceId"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "calendarResourceId": {
                  "type": "string",
                  "required": true,
                  "description": "The unique ID of the calendar resource to delete.",
                  "location": "path"
                }
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}"
            },
            "patch": {
              "response": {
                "$ref": "CalendarResource"
              },
              "request": {
                "$ref": "CalendarResource"
              },
              "path": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "description": "Patches a calendar resource.",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "calendarResourceId": {
                  "type": "string",
                  "location": "path",
                  "description": "The unique ID of the calendar resource to update.",
                  "required": true
                },
                "customer": {
                  "location": "path",
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "required": true
                }
              },
              "id": "directory.resources.calendars.patch",
              "parameterOrder": [
                "customer",
                "calendarResourceId"
              ],
              "flatPath": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}"
            },
            "get": {
              "path": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "id": "directory.resources.calendars.get",
              "response": {
                "$ref": "CalendarResource"
              },
              "parameterOrder": [
                "customer",
                "calendarResourceId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "customer": {
                  "required": true,
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "location": "path"
                },
                "calendarResourceId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The unique ID of the calendar resource to retrieve."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ],
              "description": "Retrieves a calendar resource."
            },
            "list": {
              "description": "Retrieves a list of calendar resources for an account.",
              "path": "admin/directory/v1/customer/{customer}/resources/calendars",
              "response": {
                "$ref": "CalendarResources"
              },
              "httpMethod": "GET",
              "parameters": {
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field(s) to sort results by in either ascending or descending order. Supported fields include `resourceId`, `resourceName`, `capacity`, `buildingId`, and `floorName`. If no order is specified, defaults to ascending. Should be of the form \"field [asc|desc], field [asc|desc], ...\". For example `buildingId, capacity desc` would return results sorted first by `buildingId` in ascending order then by `capacity` in descending order."
                },
                "maxResults": {
                  "description": "Maximum number of results to return.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "maximum": "500",
                  "minimum": "1"
                },
                "customer": {
                  "required": true,
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to specify the next page in the list.",
                  "type": "string",
                  "location": "query"
                },
                "query": {
                  "type": "string",
                  "description": "String query used to filter results. Contains one or more search clauses, each with a field, operator, and value. A field can be any of supported fields and operators can be any of supported operations. Operators include '=' for exact match, '!=' for mismatch and ':' for prefix match or HAS match where applicable. For prefix match, the value should always be followed by a *. Logical operators NOT and AND are supported (in this order of precedence). Supported fields include `generatedResourceName`, `name`, `buildingId`, `floor_name`, `capacity`, `featureInstances.feature.name`, `resourceEmail`, `resourceCategory`. For example `buildingId=US-NYC-9TH AND featureInstances.feature.name:Phone`.",
                  "location": "query"
                }
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/calendars",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "id": "directory.resources.calendars.list"
            },
            "update": {
              "flatPath": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "request": {
                "$ref": "CalendarResource"
              },
              "id": "directory.resources.calendars.update",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "httpMethod": "PUT",
              "parameters": {
                "customer": {
                  "type": "string",
                  "required": true,
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "location": "path"
                },
                "calendarResourceId": {
                  "description": "The unique ID of the calendar resource to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "response": {
                "$ref": "CalendarResource"
              },
              "description": "Updates a calendar resource. This method supports patch semantics, meaning you only need to include the fields you wish to update. Fields that are not present in the request will be preserved.",
              "parameterOrder": [
                "customer",
                "calendarResourceId"
              ]
            }
          }
        }
      }
    },
    "domainAliases": {
      "methods": {
        "get": {
          "path": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "description": "Retrieves a domain alias of the customer.",
          "httpMethod": "GET",
          "parameters": {
            "customer": {
              "required": true,
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "location": "path"
            },
            "domainAliasName": {
              "type": "string",
              "required": true,
              "description": "Name of domain alias to be retrieved.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "DomainAlias"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ],
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "parameterOrder": [
            "customer",
            "domainAliasName"
          ],
          "id": "directory.domainAliases.get"
        },
        "insert": {
          "id": "directory.domainAliases.insert",
          "request": {
            "$ref": "DomainAlias"
          },
          "response": {
            "$ref": "DomainAlias"
          },
          "path": "admin/directory/v1/customer/{customer}/domainaliases",
          "description": "Inserts a domain alias of the customer.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain"
          ],
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases",
          "httpMethod": "POST",
          "parameters": {
            "customer": {
              "description": "Immutable ID of the Google Workspace account.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "customer"
          ]
        },
        "delete": {
          "parameterOrder": [
            "customer",
            "domainAliasName"
          ],
          "description": "Deletes a domain Alias of the customer.",
          "path": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "id": "directory.domainAliases.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "customer": {
              "type": "string",
              "location": "path",
              "description": "Immutable ID of the Google Workspace account.",
              "required": true
            },
            "domainAliasName": {
              "type": "string",
              "required": true,
              "description": "Name of domain alias to be retrieved.",
              "location": "path"
            }
          },
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "customer": {
              "required": true,
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "location": "path"
            },
            "parentDomainName": {
              "location": "query",
              "type": "string",
              "description": "Name of the parent domain for which domain aliases are to be fetched."
            }
          },
          "response": {
            "$ref": "DomainAliases"
          },
          "description": "Lists the domain aliases of the customer.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ],
          "id": "directory.domainAliases.list",
          "parameterOrder": [
            "customer"
          ],
          "path": "admin/directory/v1/customer/{customer}/domainaliases",
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases"
        }
      }
    },
    "customers": {
      "resources": {
        "chrome": {
          "resources": {
            "printers": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Printer"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers",
                    "https://www.googleapis.com/auth/admin.chrome.printers.readonly"
                  ],
                  "id": "admin.customers.chrome.printers.get",
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers/{printersId}",
                  "path": "admin/directory/v1/{+name}",
                  "description": "Returns a `Printer` resource (printer's config).",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^customers/[^/]+/chrome/printers/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the printer to retrieve. Format: customers/{customer_id}/chrome/printers/{printer_id}",
                      "required": true
                    }
                  }
                },
                "patch": {
                  "description": "Updates a `Printer` resource.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "The list of fields to be updated. Note, some of the fields are read only and cannot be updated. Values for not specified fields will be patched.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^customers/[^/]+/chrome/printers/[^/]+$",
                      "location": "path",
                      "description": "Identifier. The resource name of the Printer object, in the format customers/{customer-id}/printers/{printer-id} (During printer creation leave empty)",
                      "type": "string",
                      "required": true
                    },
                    "clearMask": {
                      "description": "The list of fields to be cleared. Note, some of the fields are read only and cannot be updated. Values for not specified fields will be patched.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "id": "admin.customers.chrome.printers.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "response": {
                    "$ref": "Printer"
                  },
                  "path": "admin/directory/v1/{+name}",
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers/{printersId}",
                  "request": {
                    "$ref": "Printer"
                  }
                },
                "listPrinterModels": {
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers",
                    "https://www.googleapis.com/auth/admin.chrome.printers.readonly"
                  ],
                  "response": {
                    "$ref": "ListPrinterModelsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "admin.customers.chrome.printers.listPrinterModels",
                  "description": "Lists the supported printer models.",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the customer who owns this collection of printers. Format: customers/{customer_id}",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of objects to return. The service may return fewer than this value.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous call.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Filer to list only models by a given manufacturer in format: \"manufacturer:Brother\". Search syntax is shared between this api and Admin Console printers pages.",
                      "type": "string"
                    }
                  },
                  "path": "admin/directory/v1/{+parent}/chrome/printers:listPrinterModels",
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers:listPrinterModels"
                },
                "list": {
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers",
                    "https://www.googleapis.com/auth/admin.chrome.printers.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListPrintersResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous call.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the customer who owns this collection of printers. Format: customers/{customer_id}",
                      "location": "path"
                    },
                    "filter": {
                      "description": "Search query. Search syntax is shared between this api and Admin Console printers pages.",
                      "location": "query",
                      "type": "string"
                    },
                    "orgUnitId": {
                      "type": "string",
                      "description": "Organization Unit that we want to list the printers for. When org_unit is not present in the request then all printers of the customer are returned (or filtered). When org_unit is present in the request then only printers available to this OU will be returned (owned or inherited). You may see if printer is owned or inherited for this OU by looking at Printer.org_unit_id.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of objects to return. The service may return fewer than this value."
                    },
                    "orderBy": {
                      "description": "The order to sort results by. Must be one of display_name, description, make_and_model, or create_time. Default order is ascending, but descending order can be returned by appending \"desc\" to the order_by field. For instance, \"description desc\" will return the printers sorted by description in descending order.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "admin/directory/v1/{+parent}/chrome/printers",
                  "description": "List printers configs.",
                  "id": "admin.customers.chrome.printers.list"
                },
                "batchCreatePrinters": {
                  "description": "Creates printers under given Organization Unit.",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the customer. Format: customers/{customer_id}",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers:batchCreatePrinters",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "id": "admin.customers.chrome.printers.batchCreatePrinters",
                  "path": "admin/directory/v1/{+parent}/chrome/printers:batchCreatePrinters",
                  "response": {
                    "$ref": "BatchCreatePrintersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "BatchCreatePrintersRequest"
                  }
                },
                "batchDeletePrinters": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "id": "admin.customers.chrome.printers.batchDeletePrinters",
                  "description": "Deletes printers in batch.",
                  "response": {
                    "$ref": "BatchDeletePrintersResponse"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the customer. Format: customers/{customer_id}",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "path": "admin/directory/v1/{+parent}/chrome/printers:batchDeletePrinters",
                  "request": {
                    "$ref": "BatchDeletePrintersRequest"
                  },
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers:batchDeletePrinters"
                },
                "create": {
                  "path": "admin/directory/v1/{+parent}/chrome/printers",
                  "response": {
                    "$ref": "Printer"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the customer. Format: customers/{customer_id}",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Printer"
                  },
                  "id": "admin.customers.chrome.printers.create",
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers",
                  "description": "Creates a printer under given Organization Unit."
                },
                "delete": {
                  "path": "admin/directory/v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers/{printersId}",
                  "id": "admin.customers.chrome.printers.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+/chrome/printers/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the printer to be updated. Format: customers/{customer_id}/chrome/printers/{printer_id}"
                    }
                  },
                  "description": "Deletes a `Printer`."
                }
              }
            },
            "printServers": {
              "methods": {
                "batchDeletePrintServers": {
                  "description": "Deletes multiple print servers.",
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printServers:batchDeletePrintServers",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
[...]
