{
  "schemas": {
    "DataTransfer": {
      "properties": {
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a DataTransfer request.",
          "default": "admin#datatransfer#DataTransfer"
        },
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        },
        "overallTransferStatusCode": {
          "description": "Read-only. Overall transfer status.",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "format": "date-time",
          "description": "Read-only. The time at which the data transfer was requested."
        },
        "applicationDataTransfers": {
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "type": "array",
          "items": {
            "$ref": "ApplicationDataTransfer"
          }
        }
      },
      "id": "DataTransfer",
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "type": "object"
    },
    "ApplicationDataTransfer": {
      "properties": {
        "applicationTransferParams": {
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference."
        },
        "applicationTransferStatus": {
          "description": "Read-only. Current status of transfer for this application.",
          "type": "string"
        },
        "applicationId": {
          "type": "string",
          "description": "The application's ID.",
          "format": "int64"
        }
      },
      "id": "ApplicationDataTransfer",
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "type": "object"
    },
    "ApplicationTransferParam": {
      "description": "Template for application transfer parameters.",
      "properties": {
        "key": {
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`.",
          "type": "string"
        },
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`."
        }
      },
      "type": "object",
      "id": "ApplicationTransferParam"
    },
    "ApplicationsListResponse": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "applications": {
          "items": {
            "$ref": "Application"
          },
          "type": "array",
          "description": "The list of applications that support data transfer and are also installed for the customer."
        },
        "kind": {
          "default": "admin#datatransfer#applicationsList",
          "description": "Identifies the resource as a collection of Applications.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ApplicationsListResponse",
      "description": "Template for a collection of Applications."
    },
    "DataTransfersListResponse": {
      "id": "DataTransfersListResponse",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "dataTransfers": {
          "description": "List of data transfer requests.",
          "type": "array",
          "items": {
            "$ref": "DataTransfer"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "kind": {
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string",
          "description": "Identifies the resource as a collection of data transfer requests."
        }
      },
      "type": "object",
      "description": "Template for a collection of DataTransfer resources."
    },
    "Application": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The application's name."
        },
        "transferParams": {
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer."
        },
        "id": {
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "default": "admin#datatransfer#ApplicationResource"
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        }
      },
      "id": "Application",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "type": "object"
    }
  },
  "servicePath": "",
  "basePath": "",
  "rootUrl": "https://admin.googleapis.com/",
  "batchPath": "batch",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "canonicalName": "DataTransfer",
  "id": "admin:datatransfer_v1",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "resources": {
    "transfers": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "DataTransfer"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "DataTransfer"
          },
          "parameters": {},
          "id": "datatransfer.transfers.insert",
          "parameterOrder": [],
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "path": "admin/datatransfer/v1/transfers",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "flatPath": "admin/datatransfer/v1/transfers"
        },
        "get": {
          "parameterOrder": [
            "dataTransferId"
          ],
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "id": "datatransfer.transfers.get",
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "DataTransfer"
          },
          "httpMethod": "GET",
          "description": "Retrieves a data transfer request by its resource ID.",
          "parameters": {
            "dataTransferId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method."
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "path": "admin/datatransfer/v1/transfers",
          "parameters": {
            "status": {
              "location": "query",
              "type": "string",
              "description": "Status of the transfer."
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "location": "query"
            },
            "newOwnerUserId": {
              "type": "string",
              "location": "query",
              "description": "Destination user's profile ID."
            },
            "pageToken": {
              "type": "string",
              "description": "Token to specify the next page in the list.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return. Default is 100.",
              "minimum": "1",
              "maximum": "500",
              "type": "integer"
            },
            "oldOwnerUserId": {
              "type": "string",
              "description": "Source user's profile ID.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "parameterOrder": [],
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "id": "datatransfer.transfers.list",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "flatPath": "admin/datatransfer/v1/transfers"
        }
      }
    },
    "applications": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return. Default is 100.",
              "minimum": "1",
              "maximum": "500",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "Token to specify next page in the list.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/applications",
          "description": "Lists the applications available for data transfer for a customer.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "id": "datatransfer.applications.list",
          "path": "admin/datatransfer/v1/applications"
        },
        "get": {
          "description": "Retrieves information about an application for the given application ID.",
          "response": {
            "$ref": "Application"
          },
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "parameterOrder": [
            "applicationId"
          ],
          "id": "datatransfer.applications.get",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "parameters": {
            "applicationId": {
              "location": "path",
              "type": "string",
              "description": "ID of the application resource to be retrieved.",
              "required": true,
              "format": "int64"
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "baseUrl": "https://admin.googleapis.com/",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "name": "admin",
  "revision": "20260907",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "title": "Admin SDK API",
  "version": "datatransfer_v1",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "packagePath": "admin",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        }
      }
    }
  }
}
