{
  "discoveryVersion": "v1",
  "revision": "20260929",
  "protocol": "rest",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "canonicalName": "DataTransfer",
  "batchPath": "batch",
  "title": "Admin SDK API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "schemas": {
    "ApplicationDataTransfer": {
      "properties": {
        "applicationTransferParams": {
          "type": "array",
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "applicationTransferStatus": {
          "description": "Read-only. Current status of transfer for this application.",
          "type": "string"
        },
        "applicationId": {
          "description": "The application's ID.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "id": "ApplicationDataTransfer",
      "type": "object"
    },
    "Application": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of the resource."
        },
        "name": {
          "type": "string",
          "description": "The application's name."
        },
        "id": {
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "default": "admin#datatransfer#ApplicationResource",
          "type": "string",
          "description": "Identifies the resource as a DataTransfer Application Resource."
        },
        "transferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "id": "Application"
    },
    "DataTransfersListResponse": {
      "description": "Template for a collection of DataTransfer resources.",
      "id": "DataTransfersListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies the resource as a collection of data transfer requests.",
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "dataTransfers": {
          "items": {
            "$ref": "DataTransfer"
          },
          "description": "List of data transfer requests.",
          "type": "array"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      }
    },
    "ApplicationTransferParam": {
      "properties": {
        "value": {
          "items": {
            "type": "string"
          },
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "type": "array"
        },
        "key": {
          "type": "string",
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`."
        }
      },
      "description": "Template for application transfer parameters.",
      "id": "ApplicationTransferParam",
      "type": "object"
    },
    "DataTransfer": {
      "id": "DataTransfer",
      "type": "object",
      "properties": {
        "requestTime": {
          "type": "string",
          "description": "Read-only. The time at which the data transfer was requested.",
          "format": "date-time"
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer request.",
          "default": "admin#datatransfer#DataTransfer",
          "type": "string"
        },
        "newOwnerUserId": {
          "type": "string",
          "description": "ID of the user to whom the data is being transferred."
        },
        "id": {
          "type": "string",
          "description": "Read-only. The transfer's ID."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "overallTransferStatusCode": {
          "type": "string",
          "description": "Read-only. Overall transfer status."
        },
        "applicationDataTransfers": {
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "type": "array",
          "items": {
            "$ref": "ApplicationDataTransfer"
          }
        }
      },
      "description": "A Transfer resource represents the transfer of the ownership of user data between users."
    },
    "ApplicationsListResponse": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "kind": {
          "description": "Identifies the resource as a collection of Applications.",
          "default": "admin#datatransfer#applicationsList",
          "type": "string"
        },
        "applications": {
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "type": "array",
          "items": {
            "$ref": "Application"
          }
        }
      },
      "id": "ApplicationsListResponse",
      "description": "Template for a collection of Applications.",
      "type": "object"
    }
  },
  "name": "admin",
  "baseUrl": "https://admin.googleapis.com/",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "resources": {
    "applications": {
      "methods": {
        "get": {
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "description": "Retrieves information about an application for the given application ID.",
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "parameters": {
            "applicationId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "ID of the application resource to be retrieved.",
              "required": true
            }
          },
          "id": "datatransfer.applications.get",
          "response": {
            "$ref": "Application"
          }
        },
        "list": {
          "id": "datatransfer.applications.list",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return. Default is 100.",
              "maximum": "500",
              "minimum": "1",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "Token to specify next page in the list.",
              "location": "query",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Immutable ID of the Google Workspace account."
            }
          },
          "path": "admin/datatransfer/v1/applications",
          "description": "Lists the applications available for data transfer for a customer.",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "flatPath": "admin/datatransfer/v1/applications",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": []
        }
      }
    },
    "transfers": {
      "methods": {
        "insert": {
          "flatPath": "admin/datatransfer/v1/transfers",
          "parameters": {},
          "id": "datatransfer.transfers.insert",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "path": "admin/datatransfer/v1/transfers",
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "DataTransfer"
          },
          "response": {
            "$ref": "DataTransfer"
          }
        },
        "get": {
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "httpMethod": "GET",
          "description": "Retrieves a data transfer request by its resource ID.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": [
            "dataTransferId"
          ],
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "parameters": {
            "dataTransferId": {
              "required": true,
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "DataTransfer"
          },
          "id": "datatransfer.transfers.get"
        },
        "list": {
          "flatPath": "admin/datatransfer/v1/transfers",
          "httpMethod": "GET",
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "id": "datatransfer.transfers.list",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "path": "admin/datatransfer/v1/transfers",
          "parameterOrder": [],
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "location": "query"
            },
            "status": {
              "location": "query",
              "description": "Status of the transfer.",
              "type": "string"
            },
            "maxResults": {
              "maximum": "500",
              "description": "Maximum number of results to return. Default is 100.",
              "format": "int32",
              "type": "integer",
              "minimum": "1",
              "location": "query"
            },
            "pageToken": {
              "description": "Token to specify the next page in the list.",
              "location": "query",
              "type": "string"
            },
            "newOwnerUserId": {
              "location": "query",
              "type": "string",
              "description": "Destination user's profile ID."
            },
            "oldOwnerUserId": {
              "description": "Source user's profile ID.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    }
  },
  "id": "admin:datatransfer_v1",
  "fullyEncodeReservedExpansion": true,
  "packagePath": "admin",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://admin.googleapis.com/",
  "version": "datatransfer_v1"
}
