{
  "batchPath": "batch",
  "canonicalName": "reports",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "version": "reports_v1",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.reports.audit.readonly": {
          "description": "View audit reports for your Google Workspace domain"
        },
        "https://www.googleapis.com/auth/admin.reports.usage.readonly": {
          "description": "View usage reports for your Google Workspace domain"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "activities": {
      "methods": {
        "watch": {
          "flatPath": "admin/reports/v1/activity/users/{userKey}/applications/{applicationName}/watch",
          "scopes": [
            "https://www.googleapis.com/auth/admin.reports.audit.readonly"
          ],
          "description": "Start receiving notifications for account activities. For more information, see Receiving Push Notifications.",
          "request": {
            "$ref": "Channel"
          },
          "id": "reports.activities.watch",
          "response": {
            "$ref": "Channel"
          },
          "path": "admin/reports/v1/activity/users/{userKey}/applications/{applicationName}/watch",
          "parameters": {
            "actorIpAddress": {
              "description": "The Internet Protocol (IP) Address of host where the event was performed. This is an additional way to filter a report's summary using the IP address of the user whose activity is being reported. This IP address may or may not reflect the user's physical location. For example, the IP address can be the user's proxy server's address or a virtual private network (VPN) address. This parameter supports both IPv4 and IPv6 address versions.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "The token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. In your follow-on request getting the next page of the report, enter the `nextPageToken` value in the `pageToken` query string.",
              "type": "string",
              "location": "query"
            },
            "endTime": {
              "type": "string",
              "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))",
              "location": "query",
              "description": "Sets the end of the range of time shown in the report. The date is in the RFC 3339 format, for example 2010-10-28T10:26:35.000Z. The default value is the approximate time of the API request. An API report has three basic time concepts: - *Date of the API's request for a report*: When the API created and retrieved the report. - *Report's start time*: The beginning of the timespan shown in the report. The `startTime` must be before the `endTime` (if specified) and the current time when the request is made, or the API returns an error. - *Report's end time*: The end of the timespan shown in the report. For example, the timespan of events summarized in a report can start in April and end in May. The report itself can be requested in August. If the `endTime` is not specified, the report returns all activities from the `startTime` until the current time or the most recent 180 days if the `startTime` is more than 180 days in the past."
            },
            "orgUnitID": {
              "type": "string",
              "pattern": "(id:[a-z0-9]+)",
              "description": "`Deprecated`. This field is deprecated and is no longer supported. ID of the organizational unit to report on. Activity records will be shown only for users who belong to the specified organizational unit. Data before Dec 17, 2018 doesn't appear in the filtered results.",
              "location": "query",
              "default": "",
              "deprecated": true
            },
            "filters": {
              "pattern": "(.+[<,<=,==,>=,>,<>].+,)*(.+[<,<=,==,>=,>,<>].+)",
              "location": "query",
              "description": "The `filters` query string is a comma-separated list composed of event parameters manipulated by relational operators. Event parameters are in the form `{parameter1 name}{relational operator}{parameter1 value},{parameter2 name}{relational operator}{parameter2 value},...` These event parameters are associated with a specific `eventName`. An empty report is returned if the request's parameter doesn't belong to the `eventName`. For more information about the available `eventName` fields for each application and their associated parameters, go to the [ApplicationName](#applicationname) table, then click through to the Activity Events page in the Appendix for the application you want. In the following Drive activity examples, the returned list consists of all `edit` events where the `doc_id` parameter value matches the conditions defined by the relational operator. In the first example, the request returns all edited documents with a `doc_id` value equal to `12345`. In the second example, the report returns any edited documents where the `doc_id` value is not equal to `98765`. The `<>` operator is URL-encoded in the request's query string (`%3C%3E`): ``` GET...&eventName=edit&filters=doc_id==12345 GET...&eventName=edit&filters=doc_id%3C%3E98765 ``` A `filters` query supports these relational operators: * `==`—'equal to'. * `<>`—'not equal to'. Must be URL-encoded (%3C%3E). * `<`—'less than'. Must be URL-encoded (%3C). * `<=`—'less than or equal to'. Must be URL-encoded (%3C=). * `>`—'greater than'. Must be URL-encoded (%3E). * `>=`—'greater than or equal to'. Must be URL-encoded (%3E=). **Note:** The API doesn't accept multiple values of the same parameter. If a parameter is supplied more than once in the API request, the API only accepts the last value of that parameter. In addition, if an invalid parameter is supplied in the API request, the API ignores that parameter and returns the response corresponding to the remaining valid parameters. If no parameters are requested, all parameters are returned.",
              "type": "string"
            },
            "maxResults": {
              "minimum": "1",
              "description": "Determines how many activity records are shown on each response page. For example, if the request sets `maxResults=1` and the report has two activities, the report has two pages. The response's `nextPageToken` property has the token to the second page. The `maxResults` query string is optional in the request. The default value is 1000.",
              "format": "int32",
              "type": "integer",
              "maximum": "1000",
              "location": "query",
              "default": "1000"
            },
            "eventName": {
              "type": "string",
              "location": "query",
              "description": "The name of the event being queried by the API. Each `eventName` is related to a specific Google Workspace service or feature which the API organizes into types of events. An example is the Google Calendar events in the Admin console application's reports. The Calendar Settings `type` structure has all of the Calendar `eventName` activities reported by the API. When an administrator changes a Calendar setting, the API reports this activity in the Calendar Settings `type` and `eventName` parameters. For more information about `eventName` query strings and parameters, see the list of event names for various applications above in `applicationName`."
            },
            "applicationName": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Application name for which the events are to be retrieved.",
              "enum": [
                "access_transparency",
                "admin",
                "calendar",
                "chat",
                "drive",
                "gcp",
                "gplus",
                "groups",
                "groups_enterprise",
                "jamboard",
                "login",
                "meet",
                "mobile",
                "rules",
                "saml",
                "token",
                "user_accounts",
                "context_aware_access",
                "chrome",
                "data_studio",
                "keep",
                "classroom"
              ],
              "pattern": "(access_transparency)|(admin)|(calendar)|(chat)|(chrome)|(classroom)|(context_aware_access)|(data_studio)|(drive)|(gcp)|(gplus)|(groups)|(groups_enterprise)|(jamboard)|(keep)|(login)|(meet)|(mobile)|(rules)|(saml)|(token)|(user_accounts)",
              "enumDescriptions": [
                "The Google Workspace Access Transparency activity reports return information about different types of Access Transparency activity events.",
                "The Admin console application's activity reports return account information about different types of administrator activity events.",
                "The Google Calendar application's activity reports return information about various Calendar activity events.",
                "The Chat activity reports return information about various Chat activity events.",
                "The Google Drive application's activity reports return information about various Google Drive activity events. The Drive activity report is only available for Google Workspace Business and Google Workspace Enterprise customers.",
                "The Google Cloud Platform application's activity reports return information about various GCP activity events.",
                "The Google+ application's activity reports return information about various Google+ activity events.",
                "The Google Groups application's activity reports return information about various Groups activity events.",
                "The Enterprise Groups activity reports return information about various Enterprise group activity events.",
                "The Jamboard activity reports return information about various Jamboard activity events.",
                "The Login application's activity reports return account information about different types of Login activity events.",
                "The Meet Audit activity report returns information about different types of Meet Audit activity events.",
                "The Device Audit activity report returns information about different types of Device Audit activity events.",
                "The Rules activity report returns information about different types of Rules activity events.",
                "The SAML activity report returns information about different types of SAML activity events.",
                "The Token application's activity reports return account information about different types of Token activity events.",
                "The User Accounts application's activity reports return account information about different types of User Accounts activity events.",
                "The Context-aware access activity reports return information about users' access denied events due to Context-aware access rules.",
                "The Chrome activity reports return information about Chrome browser and Chrome OS events.",
                "The Data Studio activity reports return information about various types of Data Studio activity events.",
                "The Keep application's activity reports return information about various Google Keep activity events. The Keep activity report is only available for Google Workspace Business and Enterprise customers.",
                "The Classroom activity reports return information about different types of [Classroom activity events](https://developers.google.com/workspace/admin/reports/v1/appendix/activity/classroom)."
              ]
            },
            "userKey": {
              "location": "path",
              "type": "string",
              "description": "Represents the profile ID or the user email for which the data should be filtered. Can be `all` for all information, or `userKey` for a user's unique Google Workspace profile ID or their primary email address. Must not be a deleted user. For a deleted user, call `users.list` in Directory API with `showDeleted=true`, then use the returned `ID` as the `userKey`.",
              "required": true
            },
            "startTime": {
              "location": "query",
              "description": "Sets the beginning of the range of time shown in the report. The date is in the RFC 3339 format, for example 2010-10-28T10:26:35.000Z. The report returns all activities from `startTime` until `endTime`. The `startTime` must be before the `endTime` (if specified) and the current time when the request is made, or the API returns an error.",
              "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "pattern": "C.+|my_customer",
              "description": "The unique ID of the customer to retrieve data for.",
              "location": "query"
            },
            "groupIdFilter": {
              "pattern": "(id:[a-z0-9]+(,id:[a-z0-9]+)*)",
              "deprecated": true,
              "type": "string",
              "location": "query",
              "description": "`Deprecated`. This field is deprecated and is no longer supported. Comma separated group ids (obfuscated) on which user activities are filtered, i.e. the response will contain activities for only those users that are a part of at least one of the group ids mentioned here. Format: \"id:abc123,id:xyz456\" *Important:* To filter by groups, you must explicitly add the groups to your filtering groups allowlist. For more information about adding groups to filtering groups allowlist, see [Filter results by Google Group](https://support.google.com/a/answer/11482175)"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "userKey",
            "applicationName"
          ]
        },
        "list": {
          "id": "reports.activities.list",
          "flatPath": "admin/reports/v1/activity/users/{userKey}/applications/{applicationName}",
          "parameterOrder": [
            "userKey",
            "applicationName"
          ],
          "path": "admin/reports/v1/activity/users/{userKey}/applications/{applicationName}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Activities"
          },
          "parameters": {
            "startTime": {
              "location": "query",
              "type": "string",
              "description": "Sets the beginning of the range of time shown in the report. The date is in the RFC 3339 format, for example 2010-10-28T10:26:35.000Z. The report returns all activities from `startTime` until `endTime`. The `startTime` must be before the `endTime` (if specified) and the current time when the request is made, or the API returns an error. For Gmail requests, `startTime` and `endTime` must be provided and the difference must not be greater than 30 days.",
              "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))"
            },
            "agentInfoFilter": {
              "description": "Optional. Filters on agent info fields in the activity. This filter gets applied in conjunction(AND) with other filters. Example: \"agentInfoFilter=agentId=\\\"agent-id\\\" AND agentName=\\\"agent-name\\\" AND agentOwnerEmail=\\\"agent-owner-email\\\"\"",
              "type": "string",
              "location": "query"
            },
            "customerId": {
              "description": "The unique ID of the customer to retrieve data for.",
              "pattern": "C.+|my_customer",
              "location": "query",
              "type": "string"
            },
            "actorIpAddress": {
              "type": "string",
              "location": "query",
              "description": "The Internet Protocol (IP) Address of host where the event was performed. This is an additional way to filter a report's summary using the IP address of the user whose activity is being reported. This IP address may or may not reflect the user's physical location. For example, the IP address can be the user's proxy server's address or a virtual private network (VPN) address. This parameter supports both IPv4 and IPv6 address versions."
            },
            "userKey": {
              "location": "path",
              "description": "Represents the profile ID or the user email for which the data should be filtered. Can be `all` for all information, or `userKey` for a user's unique Google Workspace profile ID or their primary email address. Must not be a deleted user. For a deleted user, call `users.list` in Directory API with `showDeleted=true`, then use the returned `ID` as the `userKey`.",
              "type": "string",
              "required": true
            },
            "applicationName": {
              "description": "Application name for which the events are to be retrieved.",
              "enum": [
                "access_transparency",
                "admin",
                "calendar",
                "chat",
                "drive",
                "gcp",
                "gmail",
                "gplus",
                "groups",
                "groups_enterprise",
                "jamboard",
                "login",
                "meet",
                "mobile",
                "rules",
                "saml",
                "token",
                "user_accounts",
                "context_aware_access",
                "chrome",
                "data_studio",
                "keep",
                "vault",
                "gemini_in_workspace_apps",
                "classroom",
                "assignments",
                "cloud_search",
                "tasks",
                "data_migration",
                "meet_hardware",
                "directory_sync",
                "ldap",
                "profile",
                "access_evaluation",
                "admin_data_action",
                "contacts",
                "takeout",
                "graduation",
                "voice",
                "chrome_sync",
                "workspace_studio"
              ],
              "enumDescriptions": [
                "The Google Workspace Access Transparency activity reports return information about different types of Access Transparency activity events.",
                "The Admin console application's activity reports return account information about different types of administrator activity events.",
                "The Google Calendar application's activity reports return information about various Calendar activity events.",
                "The Chat activity reports return information about various Chat activity events.",
                "The Google Drive application's activity reports return information about various Google Drive activity events. The Drive activity report is only available for Google Workspace Business and Enterprise customers.",
                "The Google Cloud Platform application's activity reports return information about various GCP activity events.",
                "The Gmail application's activity reports return information about various [Gmail activity events](/admin-sdk/reports/v1/appendix/activity/gmail).",
                "The Google+ application's activity reports return information about various Google+ activity events.",
                "The Google Groups application's activity reports return information about various Groups activity events.",
                "The Enterprise Groups activity reports return information about various Enterprise group activity events.",
                "The Jamboard activity reports return information about various Jamboard activity events.",
                "The Login application's activity reports return account information about different types of Login activity events.",
                "The Meet Audit activity report returns information about different types of Meet Audit activity events.",
                "The Device Audit activity report returns information about different types of Device Audit activity events.",
                "The Rules activity report returns information about different types of Rules activity events.",
                "The SAML activity report returns information about different types of SAML activity events.",
                "The Token application's activity reports return account information about different types of Token activity events.",
                "The User Accounts application's activity reports return account information about different types of User Accounts activity events.",
                "The Context-aware access activity reports return information about users' access denied events due to Context-aware access rules.",
                "The Chrome activity reports return information about Chrome browser and Chrome OS events.",
                "The Data Studio activity reports return information about various types of Data Studio activity events.",
                "The Keep application's activity reports return information about various Google Keep activity events. The Keep activity report is only available for Google Workspace Business and Enterprise customers.",
                "The Vault activity reports return information about various types of Vault activity events.",
                "The Gemini for Workspace activity reports return information about various types of Gemini activity events performed by users within a Workspace application.",
                "The Classroom activity reports return information about different types of [Classroom activity events](https://developers.google.com/workspace/admin/reports/v1/appendix/activity/classroom).",
                "The assignments application's activity reports return information about various types of assignments activity events.",
                "The Cloud Search application's activity reports return information about various types of cloud_search activity events.",
                "The Tasks application's activity reports return information about various types of Tasks activity events.",
                "The Data Migration application's activity reports return information about various types of data migration activity events.",
                "The Meet Hardware application's activity reports return information about various types of Meet Hardware activity events.",
                "The Directory Sync application's activity reports return information about various types of Directory Sync activity events.",
                "The ldap application's activity reports return information about various types of ldap activity events.",
                "The Profile application's activity reports return information about various types of Profile activity events.",
                "The Access Evaluation activity reports return information about various types of Access Evaluation activity events.",
                "The Admin Data Action application's activity reports return information about various types of Admin Data Action activity events.",
                "The Contacts application's activity reports return information about various types of Contacts activity events.",
                "The Takeout application's activity reports return information about various types of Takeout activity events.",
                "The Graduation application's activity reports return information about various types of Graduation activity events.",
                "The Voice application's activity reports return information about various types of Voice activity events.",
                "The Chrome Sync application's activity reports return information about various types of Chrome Sync activity events.",
                "The Workspace Studio application's activity reports return information about various types of Workspace Studio activity events."
              ],
              "pattern": "(access_evaluation)|(access_transparency)|(admin)|(admin_data_action)|(assignments)|(calendar)|(chat)|(chrome)|(classroom)|(cloud_search)|(contacts)|(context_aware_access)|(data_studio)|(data_migration)|(directory_sync)|(drive)|(gcp)|(gmail)|(gplus)|(graduation)|(groups)|(groups_enterprise)|(jamboard)|(keep)|(ldap)|(login)|(meet)|(meet_hardware)|(mobile)|(profile)|(rules)|(saml)|(token)|(user_accounts)|(vault)|(gemini_in_workspace_apps)|(tasks)|(takeout)|(voice)|(chrome_sync)|(workspace_studio)",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "groupIdFilter": {
              "location": "query",
              "description": "Comma separated group ids (obfuscated) on which user activities are filtered, i.e. the response will contain activities for only those users that are a part of at least one of the group ids mentioned here. Format: \"id:abc123,id:xyz456\" *Important:* To filter by groups, you must explicitly add the groups to your filtering groups allowlist. For more information about adding groups to filtering groups allowlist, see [Filter results by Google Group](https://support.google.com/a/answer/11482175)",
              "type": "string",
              "pattern": "(id:[a-z0-9]+(,id:[a-z0-9]+)*)"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "default": "1000",
              "format": "int32",
              "description": "Determines how many activity records are shown on each response page. For example, if the request sets `maxResults=1` and the report has two activities, the report has two pages. The response's `nextPageToken` property has the token to the second page. The `maxResults` query string is optional in the request. The default value is 1000.",
              "maximum": "1000"
            },
            "pageToken": {
              "type": "string",
              "description": "The token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. In your follow-on request getting the next page of the report, enter the `nextPageToken` value in the `pageToken` query string.",
              "location": "query"
            },
            "deviceFilter": {
              "description": "Optional. Used to filter on the fields present in [`UserDeviceInfo`](#userdeviceinfo) message like `deviceId`, `deviceType`, and `deviceOsVersion`. **Usage** ``` GET...&deviceFilter=deviceId=\"123\" GET...&deviceFilter=deviceType=\"ANDROID\" GET...&deviceFilter=deviceOsVersion=\"14.0\" ```",
              "location": "query",
              "type": "string"
            },
            "resourceDetailsFilter": {
              "type": "string",
              "description": "Optional. The `resourceDetailsFilter` query string is an AND separated list composed of [Resource Details](#resourcedetails) fields manipulated by relational operators. Resource Details Filters are in the form `{resourceDetails.field1}{relational operator}{field1 value} AND {resourceDetails.field2}{relational operator}{field2 value}...` All the inner fields are traversed using the `.` operator, as shown in the following example: ``` resourceDetails.id = \"resourceId\" AND resourceDetails.appliedLabels.id = \"appliedLabelId\" AND resourceDetails.appliedLabels.fieldValue.id = \"fieldValueId\" ``` `resourceDetailsFilter` query supports these relational operators: * `=`—'equal to'. * `!=`—'not equal to'. * `:`—'exists'. This is used for filtering on repeated fields. [`FieldValue`](#fieldvalue) types that are repeated in nature uses `exists` operator for filtering. The following [`FieldValue`](#fieldvalue) types are repeated: * [`TextListValue`](#textlistvalue) * [`SelectionListValue`](#selectionlistvalue) * [`UserListValue`](#userlistvalue) For example, in the following filter, [`SelectionListValue`](#selectionlistvalue), is a repeated field. The filter checks whether [`SelectionListValue`](#selectionlistvalue) contains `selection_id`: ``` resourceDetails.id = \"resourceId\" AND resourceDetails.appliedLabels.id = \"appliedLabelId\" AND resourceDetails.appliedLabels.fieldValue.id = \"fieldValueId\" AND resourceDetails.appliedLabels.fieldValue.type = \"SELECTION_LIST_VALUE\" AND resourceDetails.appliedLabels.fieldValue.selectionListValue.id: \"id\" ``` **Usage** ``` GET...&resourceDetailsFilter=resourceDetails.id = \"resourceId\" AND resourceDetails.appliedLabels.id = \"appliedLabelId\" GET...&resourceDetailsFilter=resourceDetails.id=%22resourceId%22%20AND%20resourceDetails.appliedLabels.id=%22appliedLabelId%22 ``` **Note the following**: * You must URL encode the query string before sending the request. * The API supports a maximum of 5 fields separated by the AND operator. - When filtering on deeper levels (e.g., [`AppliedLabel`](#appliedlabel), [`FieldValue`](#fieldvalue)), the IDs of all preceding levels in the hierarchy must be included in the filter. For example: Filtering on [`FieldValue`](#fieldvalue) requires [`AppliedLabel`](#appliedlabel) ID and resourceDetails ID to be present. *Sample Query*: ``` resourceDetails.id = \"resourceId\" AND resourceDetails.appliedLabels.id = \"appliedLabelId\" AND resourceDetails.appliedLabels.fieldValue.id = \"fieldValueId\" ``` * Filtering on inner [`FieldValue`](#fieldvalue) types like `longTextValue` and `textValue` requires `resourceDetails.appliedLabels.fieldValue.type` to be present. * Only Filtering on a single [`AppliedLabel`](#appliedlabel) id and [`FieldValue`](#fieldvalue) id is supported.",
              "location": "query"
            },
            "applicationInfoFilter": {
              "location": "query",
              "type": "string",
              "description": "Optional. Used to filter on the `oAuthClientId` field present in [`ApplicationInfo`](#applicationinfo) message. **Usage** ``` GET...&applicationInfoFilter=oAuthClientId=\"clientId\" GET...&applicationInfoFilter=oAuthClientId=%22clientId%22 ```"
            },
            "networkInfoFilter": {
              "type": "string",
              "description": "Optional. Used to filter on the `regionCode` field present in [`NetworkInfo`](#networkinfo) message. **Usage** ``` GET...&networkInfoFilter=regionCode=\"IN\" GET...&networkInfoFilter=regionCode=%22IN%22 ```",
              "location": "query"
            },
            "statusFilter": {
              "description": "Optional. Used to filter on the `statusCode` field present in [`Status`](#status) message. **Usage** ``` GET...&statusFilter=statusCode=\"200\" GET...&statusFilter=statusCode=%22200%22 ```",
              "location": "query",
              "type": "string"
            },
            "endTime": {
              "description": "Sets the end of the range of time shown in the report. The date is in the RFC 3339 format, for example 2010-10-28T10:26:35.000Z. The default value is the approximate time of the API request. An API report has three basic time concepts: - *Date of the API's request for a report*: When the API created and retrieved the report. - *Report's start time*: The beginning of the timespan shown in the report. The `startTime` must be before the `endTime` (if specified) and the current time when the request is made, or the API returns an error. - *Report's end time*: The end of the timespan shown in the report. For example, the timespan of events summarized in a report can start in April and end in May. The report itself can be requested in August. If the `endTime` is not specified, the report returns all activities from the `startTime` until the current time or the most recent 180 days if the `startTime` is more than 180 days in the past. For Gmail requests, `startTime` and `endTime` must be provided and the difference must not be greater than 30 days.",
              "type": "string",
              "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))",
              "location": "query"
            },
            "eventName": {
              "location": "query",
              "type": "string",
              "description": "The name of the event being queried by the API. Each `eventName` is related to a specific Google Workspace service or feature which the API organizes into types of events. An example is the Google Calendar events in the Admin console application's reports. The Calendar Settings `type` structure has all of the Calendar `eventName` activities reported by the API. When an administrator changes a Calendar setting, the API reports this activity in the Calendar Settings `type` and `eventName` parameters. For more information about `eventName` query strings and parameters, see the list of event names for various applications above in `applicationName`."
            },
            "includeSensitiveData": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. When set to `true`, this field allows sensitive user-generated content to be included in the returned audit logs. This parameter is supported only for Rules (DLP), Chat and Workspace Studio applications; using it with any other application will result in a permission error."
            },
            "filters": {
              "description": "The `filters` query string is a comma-separated list composed of event parameters manipulated by relational operators. Event parameters are in the form `{parameter1 name}{relational operator}{parameter1 value},{parameter2 name}{relational operator}{parameter2 value},...` These event parameters are associated with a specific `eventName`. An empty report is returned if the request's parameter doesn't belong to the `eventName`. For more information about the available `eventName` fields for each application and their associated parameters, go to the [ApplicationName](#applicationname) table, then click through to the Activity Events page in the Appendix for the application you want. In the following Drive activity examples, the returned list consists of all `edit` events where the `doc_id` parameter value matches the conditions defined by the relational operator. In the first example, the request returns all edited documents with a `doc_id` value equal to `12345`. In the second example, the report returns any edited documents where the `doc_id` value is not equal to `98765`. The `<>` operator is URL-encoded in the request's query string (`%3C%3E`): ``` GET...&eventName=edit&filters=doc_id==12345 GET...&eventName=edit&filters=doc_id%3C%3E98765 ``` A `filters` query supports these relational operators: * `==`—'equal to'. * `<>`—'not equal to'. Must be URL-encoded (%3C%3E). * `<`—'less than'. Must be URL-encoded (%3C). * `<=`—'less than or equal to'. Must be URL-encoded (%3C=). * `>`—'greater than'. Must be URL-encoded (%3E). * `>=`—'greater than or equal to'. Must be URL-encoded (%3E=). **Note:** The API doesn't accept multiple values of the same parameter. If a parameter is supplied more than once in the API request, the API only accepts the last value of that parameter. In addition, if an invalid parameter is supplied in the API request, the API ignores that parameter and returns the response corresponding to the remaining valid parameters. If no parameters are requested, all parameters are returned.",
              "location": "query",
              "type": "string",
              "pattern": "(.+[<,<=,==,>=,>,<>].+,)*(.+[<,<=,==,>=,>,<>].+)"
            },
            "orgUnitID": {
              "description": "ID of the organizational unit to report on. Activity records will be shown only for users who belong to the specified organizational unit. Data before Dec 17, 2018 doesn't appear in the filtered results.",
              "pattern": "(id:[a-z0-9]+)",
              "type": "string",
              "default": "",
              "location": "query"
            }
          },
          "description": "Retrieves a list of activities for a specific customer's account and application such as the Admin console application or the Google Drive application. For more information, see the guides for administrator and Google Drive activity reports. For more information about the activity report's parameters, see the activity parameters reference guides. ",
          "scopes": [
            "https://www.googleapis.com/auth/admin.reports.audit.readonly"
          ]
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.reports.audit.readonly"
          ],
          "description": "Stop watching resources through this channel.",
          "flatPath": "admin/reports_v1/channels/stop",
          "path": "admin/reports_v1/channels/stop",
          "parameterOrder": [],
          "request": {
            "$ref": "Channel"
          },
          "parameters": {},
          "id": "admin.channels.stop",
          "httpMethod": "POST"
        }
      }
    },
    "userUsageReport": {
      "methods": {
        "get": {
          "id": "reports.userUsageReport.get",
          "parameterOrder": [
            "userKey",
            "date"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.reports.usage.readonly"
          ],
          "response": {
            "$ref": "UsageReports"
          },
          "httpMethod": "GET",
          "parameters": {
            "customerId": {
              "location": "query",
              "type": "string",
              "pattern": "C.+|my_customer",
              "description": "The unique ID of the customer to retrieve data for."
            },
            "groupIdFilter": {
              "location": "query",
              "description": "Comma separated group ids (obfuscated) on which user activities are filtered, i.e. the response will contain activities for only those users that are a part of at least one of the group ids mentioned here. Format: \"id:abc123,id:xyz456\"",
              "pattern": "(id:[a-z0-9]+(,id:[a-z0-9]+)*)",
              "type": "string"
            },
            "parameters": {
              "type": "string",
              "location": "query",
              "pattern": "(((accounts)|(chat)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[^,]+,)*(((accounts)|(chat)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[^,]+)",
              "description": "The `parameters` query string is a comma-separated list of event parameters that refine a report's results. The parameter is associated with a specific application. The application values for the Customers Usage report include `accounts`, `app_maker`, `apps_scripts`, `calendar`, `chat`, `classroom`, `cros`, `docs`, `gmail`, `gplus`, `device_management`, `meet`, and `sites`. A `parameters` query string is in the CSV form of `app_name1:param_name1, app_name2:param_name2`. *Note:* The API doesn't accept multiple values of a parameter. If a particular parameter is supplied more than once in the API request, the API only accepts the last value of that request parameter. In addition, if an invalid request parameter is supplied in the API request, the API ignores that request parameter and returns the response corresponding to the remaining valid request parameters. An example of an invalid request parameter is one that does not belong to the application. If no parameters are requested, all parameters are returned. "
            },
            "userKey": {
              "required": true,
              "location": "path",
              "description": "Represents the profile ID or the user email for which the data should be filtered. Can be `all` for all information, or `userKey` for a user's unique Google Workspace profile ID or their primary email address. Must not be a deleted user. For a deleted user, call `users.list` in Directory API with `showDeleted=true`, then use the returned `ID` as the `userKey`.",
              "type": "string"
            },
            "date": {
              "type": "string",
              "pattern": "(\\d){4}-(\\d){2}-(\\d){2}",
              "description": "Represents the date the usage occurred, based on UTC-8:00 (Pacific Standard Time). The timestamp is in the [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601), `yyyy-mm-dd`.",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "default": "1000",
              "maximum": "1000",
              "location": "query",
              "description": "Determines how many activity records are shown on each response page. For example, if the request sets `maxResults=1` and the report has two activities, the report has two pages. The response's `nextPageToken` property has the token to the second page. The `maxResults` query string is optional.",
              "format": "uint32",
              "minimum": "1",
              "type": "integer"
            },
            "orgUnitID": {
              "default": "",
              "type": "string",
              "pattern": "(id:[a-z0-9]+)",
              "location": "query",
              "description": "ID of the organizational unit to report on. User activity will be shown only for users who belong to the specified organizational unit. Data before Dec 17, 2018 doesn't appear in the filtered results."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. In your follow-on request getting the next page of the report, enter the `nextPageToken` value in the `pageToken` query string."
            },
            "filters": {
              "location": "query",
              "type": "string",
              "pattern": "(((accounts)|(chat)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[a-z0-9_]+[<,<=,==,>=,>,!=][^,]+,)*(((accounts)|(chat)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[a-z0-9_]+[<,<=,==,>=,>,!=][^,]+)",
              "description": "The `filters` query string is a comma-separated list of an application's event parameters where the parameter's value is manipulated by a relational operator. The `filters` query string includes the name of the application whose usage is returned in the report. The application values for the Users Usage Report include `accounts`, `chat`, `docs`, and `gmail`. Filters are in the form `[application name]:parameter name[parameter value],...`. In this example, the `<>` 'not equal to' operator is URL-encoded in the request's query string (%3C%3E): GET https://www.googleapis.com/admin/reports/v1/usage/users/all/dates/2013-03-03 ?parameters=accounts:last_login_time &filters=accounts:last_login_time%3C%3E2010-10-28T10:26:35.000Z The relational operators include: - `==` - 'equal to'. - `<>` - 'not equal to'. It is URL-encoded (%3C%3E). - `<` - 'less than'. It is URL-encoded (%3C). - `<=` - 'less than or equal to'. It is URL-encoded (%3C=). - `>` - 'greater than'. It is URL-encoded (%3E). - `>=` - 'greater than or equal to'. It is URL-encoded (%3E=). "
            }
          },
          "flatPath": "admin/reports/v1/usage/users/{userKey}/dates/{date}",
          "path": "admin/reports/v1/usage/users/{userKey}/dates/{date}",
          "description": "Retrieves a report which is a collection of properties and statistics for a set of users with the account. For more information, see the User Usage Report guide. For more information about the user report's parameters, see the Users Usage parameters reference guides."
        }
      }
    },
    "entityUsageReports": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.reports.usage.readonly"
          ],
          "response": {
            "$ref": "UsageReports"
          },
          "parameters": {
            "date": {
              "required": true,
              "location": "path",
              "pattern": "(\\d){4}-(\\d){2}-(\\d){2}",
              "type": "string",
              "description": "Represents the date the usage occurred, based on UTC-8:00 (Pacific Standard Time). The timestamp is in the [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601), `yyyy-mm-dd`."
            },
            "entityKey": {
              "location": "path",
              "type": "string",
              "description": "Represents the key of the object to filter the data with. It is a string which can take the value `all` to get activity events for all users, or any other value for an app-specific entity. For details on how to obtain the `entityKey` for a particular `entityType`, see the Entities Usage parameters reference guides.",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "description": "Token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. In your follow-on request getting the next page of the report, enter the `nextPageToken` value in the `pageToken` query string.",
              "location": "query"
            },
            "entityType": {
              "enum": [
                "gplus_communities"
              ],
              "description": "Represents the type of entity for the report.",
              "pattern": "(gplus_communities)",
              "location": "path",
              "required": true,
              "enumDescriptions": [
                "Returns a report on Google+ communities."
              ],
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Determines how many activity records are shown on each response page. For example, if the request sets `maxResults=1` and the report has two activities, the report has two pages. The response's `nextPageToken` property has the token to the second page.",
              "default": "1000",
              "maximum": "1000",
              "format": "uint32",
              "minimum": "1"
            },
            "customerId": {
              "description": "The unique ID of the customer to retrieve data for.",
              "type": "string",
              "location": "query",
              "pattern": "C.+|my_customer"
            },
            "filters": {
              "pattern": "(((gplus)):[a-z0-9_]+[<,<=,==,>=,>,!=][^,]+,)*(((gplus)):[a-z0-9_]+[<,<=,==,>=,>,!=][^,]+)",
              "description": "The `filters` query string is a comma-separated list of an application's event parameters where the parameter's value is manipulated by a relational operator. The `filters` query string includes the name of the application whose usage is returned in the report. The application values for the Entities usage report include `accounts`, `docs`, and `gmail`. Filters are in the form `[application name]:parameter name[parameter value],...`. In this example, the `<>` 'not equal to' operator is URL-encoded in the request's query string (%3C%3E): GET https://www.googleapis.com/admin/reports/v1/usage/gplus_communities/all/dates/2017-12-01 ?parameters=gplus:community_name,gplus:num_total_members &filters=gplus:num_total_members%3C%3E0 The relational operators include: - `==` - 'equal to'. - `<>` - 'not equal to'. It is URL-encoded (%3C%3E). - `<` - 'less than'. It is URL-encoded (%3C). - `<=` - 'less than or equal to'. It is URL-encoded (%3C=). - `>` - 'greater than'. It is URL-encoded (%3E). - `>=` - 'greater than or equal to'. It is URL-encoded (%3E=). Filters can only be applied to numeric parameters.",
              "type": "string",
              "location": "query"
            },
            "parameters": {
              "type": "string",
              "pattern": "(((gplus)):[^,]+,)*(((gplus)):[^,]+)",
              "location": "query",
              "description": "The `parameters` query string is a comma-separated list of event parameters that refine a report's results. The parameter is associated with a specific application. The application values for the Entities usage report are only `gplus`. A `parameter` query string is in the CSV form of `[app_name1:param_name1], [app_name2:param_name2]...`. *Note:* The API doesn't accept multiple values of a parameter. If a particular parameter is supplied more than once in the API request, the API only accepts the last value of that request parameter. In addition, if an invalid request parameter is supplied in the API request, the API ignores that request parameter and returns the response corresponding to the remaining valid request parameters. An example of an invalid request parameter is one that does not belong to the application. If no parameters are requested, all parameters are returned. "
            }
          },
          "path": "admin/reports/v1/usage/{entityType}/{entityKey}/dates/{date}",
          "flatPath": "admin/reports/v1/usage/{entityType}/{entityKey}/dates/{date}",
          "parameterOrder": [
            "entityType",
            "entityKey",
            "date"
          ],
          "description": "Retrieves a report which is a collection of properties and statistics for entities used by users within the account. For more information, see the Entities Usage Report guide. For more information about the entities report's parameters, see the Entities Usage parameters reference guides.",
          "httpMethod": "GET",
          "id": "reports.entityUsageReports.get"
        }
      }
    },
    "customerUsageReports": {
      "methods": {
        "get": {
          "description": "Retrieves a report which is a collection of properties and statistics for a specific customer's account. For more information, see the Customers Usage Report guide. For more information about the customer report's parameters, see the Customers Usage parameters reference guides. ",
          "parameterOrder": [
            "date"
          ],
          "id": "reports.customerUsageReports.get",
          "flatPath": "admin/reports/v1/usage/dates/{date}",
          "parameters": {
            "customerId": {
              "description": "The unique ID of the customer to retrieve data for.",
              "type": "string",
              "pattern": "C.+|my_customer",
              "location": "query"
            },
            "parameters": {
              "type": "string",
              "description": "The `parameters` query string is a comma-separated list of event parameters that refine a report's results. The parameter is associated with a specific application. The application values for the Customers usage report include `accounts`, `app_maker`, `apps_scripts`, `calendar`, `chat`, `classroom`, `cros`, `docs`, `gmail`, `gplus`, `device_management`, `meet`, and `sites`. A `parameters` query string is in the CSV form of `app_name1:param_name1, app_name2:param_name2`. *Note:* The API doesn't accept multiple values of a parameter. If a particular parameter is supplied more than once in the API request, the API only accepts the last value of that request parameter. In addition, if an invalid request parameter is supplied in the API request, the API ignores that request parameter and returns the response corresponding to the remaining valid request parameters. An example of an invalid request parameter is one that does not belong to the application. If no parameters are requested, all parameters are returned. ",
              "pattern": "(((accounts)|(app_maker)|(apps_scripts)|(chat)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)|(meet)):[^,]+,)*(((accounts)|(app_maker)|(apps_scripts)|(chat)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)|(meet)):[^,]+)",
              "location": "query"
            },
            "date": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Represents the date the usage occurred, based on UTC-8:00 (Pacific Standard Time). The timestamp is in the [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601), `yyyy-mm-dd`.",
              "pattern": "(\\d){4}-(\\d){2}-(\\d){2}"
            },
            "pageToken": {
              "description": "Token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. For your follow-on requests getting all of the report's pages, enter the `nextPageToken` value in the `pageToken` query string.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.reports.usage.readonly"
          ],
          "httpMethod": "GET",
          "path": "admin/reports/v1/usage/dates/{date}",
          "response": {
            "$ref": "UsageReports"
          }
        }
      }
    }
  },
  "packagePath": "admin",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "fullyEncodeReservedExpansion": true,
  "name": "admin",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "baseUrl": "https://admin.googleapis.com/",
  "servicePath": "",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    }
  },
  "id": "admin:reports_v1",
  "title": "Admin SDK API",
  "schemas": {
    "UsageReports": {
      "properties": {
        "usageReports": {
          "items": {
            "$ref": "UsageReport"
          },
          "type": "array",
          "description": "Various application parameter records."
        },
        "warnings": {
          "items": {
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine readable code or warning type. The warning code value is `200`."
              },
              "message": {
                "type": "string",
                "description": "The human readable messages for a warning are: - Data is not available warning - Sorry, data for date yyyy-mm-dd for application \"`application name`\" is not available. - Partial data is available warning - Data for date yyyy-mm-dd for application \"`application name`\" is not available right now, please try again after a few hours. "
              },
              "data": {
                "description": "Key-value pairs to give detailed information on the warning.",
                "type": "array",
                "items": {
                  "properties": {
                    "value": {
                      "description": "Value associated with a key-value pair to give detailed information on the warning.",
                      "type": "string"
                    },
                    "key": {
                      "type": "string",
                      "description": "Key associated with a key-value pair to give detailed information on the warning."
                    }
                  },
                  "type": "object"
                }
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "Warnings, if any."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "The type of API resource. For a usage report, the value is `admin#reports#usageReports`.",
          "default": "admin#reports#usageReports",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. For your follow-on requests getting all of the report's pages, enter the `nextPageToken` value in the `pageToken` query string."
        }
      },
      "id": "UsageReports",
      "type": "object"
    },
    "FieldValueUserListValue": {
      "description": "Setting a user list value by selecting multiple users.",
      "type": "object",
      "properties": {
        "values": {
          "description": "List of users.",
          "items": {
            "$ref": "FieldValueUserValue"
          },
          "type": "array"
        }
      },
      "id": "FieldValueUserListValue"
    },
    "ResourceDetails": {
      "properties": {
        "id": {
          "description": "Identifier of the resource, such as a doc_id for a Drive document, a conference_id for a Meet conference, or a \"gaia_id/rfc2822_message_id\" for an email.",
          "type": "string"
        },
        "ownerDetails": {
          "$ref": "OwnerDetails",
          "description": "Owner details of the resource."
        },
        "relation": {
          "description": "Defines relationship of the resource to the events",
          "type": "string"
        },
        "appliedLabels": {
          "items": {
            "$ref": "AppliedLabel"
          },
          "type": "array",
          "description": "List of labels applied on the resource"
        },
        "title": {
          "type": "string",
          "description": "Title of the resource. For instance, in case of a drive document, this would be the title of the document. In case of an email, this would be the subject."
        },
        "type": {
          "type": "string",
          "description": "Type of the resource - document, email, chat message"
        }
      },
      "description": "Details of the resource on which the action was performed.",
      "type": "object",
      "id": "ResourceDetails"
    },
    "Activity": {
      "type": "object",
      "id": "Activity",
      "properties": {
        "id": {
          "properties": {
            "time": {
              "description": "Time of occurrence of the activity. This is in UNIX epoch time in seconds.",
              "type": "string",
              "format": "date-time"
            },
            "applicationName": {
              "type": "string",
              "description": "Application name to which the event belongs. For possible values see the list of applications above in `applicationName`."
            },
            "customerId": {
              "description": "The unique identifier for a Google Workspace account.",
              "type": "string"
            },
            "uniqueQualifier": {
              "type": "string",
              "format": "int64",
              "description": "Unique qualifier if multiple events have the same time."
            }
          },
          "description": "Unique identifier for each activity record.",
          "type": "object"
        },
        "etag": {
          "description": "ETag of the entry.",
          "type": "string"
        },
        "ipAddress": {
          "description": "IP address of the user doing the action. This is the Internet Protocol (IP) address of the user when logging into Google Workspace, which may or may not reflect the user's physical location. For example, the IP address can be the user's proxy server's address or a virtual private network (VPN) address. The API supports IPv4 and IPv6.",
          "type": "string"
        },
        "isAgenticAction": {
          "description": "Whether the activity was performed by an agent.",
          "type": "boolean"
        },
        "userDeviceInfo": {
          "description": "Device details of the user doing the action. This field is only exposed for the `contacts`, `gemini_in_workspace_apps`, `keep`, `meet_hardware`, `meet`, `chat`, `chrome`, `directory_sync`, `drive`, `groups`, `rules`, `data_studio`, `saml` applications.",
          "$ref": "ActivityUserDeviceInfo"
        },
        "kind": {
          "type": "string",
          "default": "admin#reports#activity",
          "description": "The type of API resource. For an activity report, the value is `audit#activity`."
        },
        "events": {
          "type": "array",
          "items": {
            "properties": {
              "status": {
                "$ref": "ActivityEventsStatus",
                "description": "Status of the event. Note: Not all events have status."
              },
              "sensitiveParameters": {
                "description": "Includes sensitive parameter value pairs for various applications.",
                "items": {
                  "properties": {
                    "name": {
                      "description": "The name of the parameter.",
                      "type": "string"
                    },
                    "boolValue": {
                      "type": "boolean",
                      "description": "Boolean value of the parameter."
                    },
                    "value": {
                      "type": "string",
                      "description": "String value of the parameter."
                    },
                    "messageValue": {
                      "properties": {
                        "parameter": {
                          "items": {
                            "$ref": "NestedParameter"
                          },
                          "description": "Parameter values",
                          "type": "array"
                        }
                      },
                      "type": "object",
                      "description": "Nested parameter value pairs associated with this parameter. Complex value type for a parameter are returned as a list of parameter values. For example, the address parameter may have a value as `[{parameter: [{name: city, value: abc}]}]`"
                    },
                    "intValue": {
                      "format": "int64",
                      "type": "string",
                      "description": "Integer value of the parameter."
                    },
                    "multiValue": {
                      "description": "String values of the parameter.",
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "multiIntValue": {
                      "items": {
                        "type": "string",
                        "format": "int64"
                      },
                      "description": "Integer values of the parameter.",
                      "type": "array"
                    },
                    "multiMessageValue": {
                      "description": "List of `messageValue` objects.",
                      "items": {
                        "properties": {
                          "parameter": {
                            "items": {
                              "$ref": "NestedParameter"
                            },
                            "type": "array",
                            "description": "Parameter values"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              },
              "resourceIds": {
                "description": "Resource ids associated with the event.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "parameters": {
                "type": "array",
                "description": "Parameter value pairs for various applications. For more information about `eventName` parameters, see the list of event names for various applications above in `applicationName`.",
                "items": {
                  "properties": {
                    "multiValue": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array",
                      "description": "String values of the parameter."
                    },
                    "name": {
                      "description": "The name of the parameter.",
                      "type": "string"
                    },
                    "value": {
                      "description": "String value of the parameter.",
                      "type": "string"
                    },
                    "multiMessageValue": {
                      "description": "List of `messageValue` objects.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "array",
                            "description": "Parameter values",
                            "items": {
                              "$ref": "NestedParameter"
                            }
                          }
                        }
                      }
                    },
                    "intValue": {
                      "description": "Integer value of the parameter.",
                      "type": "string",
                      "format": "int64"
                    },
                    "messageValue": {
                      "type": "object",
                      "description": "Nested parameter value pairs associated with this parameter. Complex value type for a parameter are returned as a list of parameter values. For example, the address parameter may have a value as `[{parameter: [{name: city, value: abc}]}]`",
                      "properties": {
                        "parameter": {
                          "items": {
                            "$ref": "NestedParameter"
                          },
                          "type": "array",
                          "description": "Parameter values"
                        }
                      }
                    },
                    "multiIntValue": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "int64"
                      },
                      "description": "Integer values of the parameter."
                    },
                    "boolValue": {
                      "type": "boolean",
                      "description": "Boolean value of the parameter."
                    }
                  },
                  "type": "object"
                }
              },
              "type": {
                "type": "string",
                "description": "Type of event. The Google Workspace service or feature that an administrator changes is identified in the `type` property which identifies an event using the `eventName` property. For a full list of the API's `type` categories, see the list of event names for various applications above in `applicationName`."
              },
              "name": {
                "type": "string",
                "description": "Name of the event. This is the specific name of the activity reported by the API. And each `eventName` is related to a specific Google Workspace service or feature which the API organizes into types of events. For `eventName` request parameters in general: - If no `eventName` is given, the report returns all possible instances of an `eventName`. - When you request an `eventName`, the API's response returns all activities which contain that `eventName`. For more information about `eventName` properties, see the list of event names for various applications above in `applicationName`."
              }
            },
            "type": "object"
          },
          "description": "Activity events in the report."
        },
        "actor": {
          "properties": {
            "email": {
              "type": "string",
              "description": "The primary email address of the actor. May be absent if there is no email address associated with the actor."
            },
            "profileId": {
              "description": "The unique Google Workspace profile ID of the actor. This value might be absent if the actor is not a Google Workspace user, or may be the number 105250506097979753968 which acts as a placeholder ID.",
              "type": "string"
            },
            "agentAttributionInfo": {
              "description": "Details of the AI agent that was the actor for the activity.",
              "$ref": "AgentAttributionInfo"
            },
            "callerType": {
              "description": "The type of actor.",
              "type": "string"
            },
            "applicationInfo": {
              "description": "Details of the application that was the actor for the activity.",
              "type": "object",
              "properties": {
                "impersonation": {
                  "type": "boolean",
                  "description": "Whether the application was impersonating a user."
                },
                "applicationName": {
                  "type": "string",
                  "description": "Name of the application used to perform the action."
                },
                "oauthClientId": {
                  "type": "string",
                  "description": "OAuth client id of the third party application used to perform the action."
                }
              }
            },
            "key": {
              "description": "Only present when `callerType` is `KEY`. Can be the `consumer_key` of the requestor for OAuth 2LO API requests or an identifier for robot accounts.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "User doing the action."
        },
        "networkInfo": {
          "description": "Network information of the user doing the action.",
          "$ref": "ActivityNetworkInfo"
        },
        "resourceDetails": {
          "description": "Details of the resource on which the action was performed.",
          "items": {
            "$ref": "ResourceDetails"
          },
          "type": "array"
        },
        "ownerDomain": {
          "type": "string",
          "description": "This is the domain that is affected by the report's event. For example domain of Admin console or the Drive application's document owner."
        }
      },
      "description": "JSON template for the activity resource."
    },
    "AppliedLabel": {
      "id": "AppliedLabel",
      "description": "Details of the label applied on the resource.",
      "properties": {
        "fieldValues": {
          "type": "array",
          "description": "List of fields which are part of the label and have been set by the user. If label has a field which was not set by the user, it would not be present in this list.",
          "items": {
            "$ref": "FieldValue"
          }
        },
        "title": {
          "type": "string",
          "description": "Title of the label"
        },
        "reason": {
          "$ref": "Reason",
          "description": "The reason why the label was applied on the resource."
        },
        "id": {
          "description": "Identifier of the label - Only the label id, not the full OnePlatform resource name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OwnerDetails": {
      "type": "object",
      "id": "OwnerDetails",
      "description": "Details of the owner of the resource.",
      "properties": {
        "ownerIdentity": {
          "items": {
            "$ref": "OwnerIdentity"
          },
          "type": "array",
          "description": "Identity details of the owner(s) of the resource."
        },
        "ownerType": {
          "type": "string",
          "description": "Type of the owner of the resource."
        }
      }
    },
    "FieldValue": {
      "description": "Details of the field value set by the user for the particular label.",
      "type": "object",
      "properties": {
        "reason": {
          "$ref": "Reason",
          "description": "The reason why the field was applied to the label."
        },
        "unsetValue": {
          "type": "boolean",
          "description": "If the field is unset, this will be true."
        },
        "selectionValue": {
          "$ref": "FieldValueSelectionValue",
          "description": "Setting a selection value by selecting a single value from a dropdown."
        },
        "userListValue": {
          "description": "Setting a user list value by selecting multiple users.",
          "$ref": "FieldValueUserListValue"
        },
        "selectionListValue": {
          "description": "Setting a selection list value by selecting multiple values from a dropdown.",
          "$ref": "FieldValueSelectionListValue"
        },
        "dateValue": {
          "$ref": "Date",
          "description": "Setting a date value."
        },
        "textListValue": {
          "$ref": "FieldValueTextListValue",
          "description": "Setting a text list value."
        },
        "integerValue": {
          "format": "int64",
          "description": "Setting an integer value.",
          "type": "string"
        },
        "userValue": {
          "description": "Setting a user value by selecting a single user.",
          "$ref": "FieldValueUserValue"
        },
        "type": {
          "description": "Type of the field",
          "type": "string"
        },
        "longTextValue": {
          "type": "string",
          "description": "Setting a long text value."
        },
        "displayName": {
          "description": "Display name of the field",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Identifier of the field"
        },
        "textValue": {
          "type": "string",
          "description": "Setting a text value."
        }
      },
      "id": "FieldValue"
    },
    "GroupIdentity": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Group gaia id."
        },
        "groupEmail": {
          "description": "Group email.",
          "type": "string"
        }
      },
      "id": "GroupIdentity",
      "description": "Identity of the group who owns the resource.",
      "type": "object"
    },
    "Activities": {
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "description": "Each activity record in the response.",
          "type": "array",
          "items": {
            "$ref": "Activity"
          }
        },
        "nextPageToken": {
          "description": "Token for retrieving the follow-on next page of the report. The `nextPageToken` value is used in the request's `pageToken` query string.",
          "type": "string"
        },
        "kind": {
          "default": "admin#reports#activities",
          "description": "The type of API resource. For an activity report, the value is `reports#activities`.",
          "type": "string"
        }
      },
      "description": "JSON template for a collection of activities.",
      "type": "object",
      "id": "Activities"
    },
    "AgentAttributionInfo": {
      "description": "Details of the AI agent that was the actor for the activity.",
      "properties": {
        "agentName": {
          "type": "string",
          "description": "The user visible name of the agent."
        },
        "agentType": {
          "description": "Type of the agent.",
          "type": "string"
        },
        "agentId": {
          "type": "string",
          "description": "The ID of the agent."
        },
        "agentOwner": {
          "description": "The owner of the agent.",
          "$ref": "AgentAttributionInfoAgentOwner"
        }
      },
      "id": "AgentAttributionInfo",
      "type": "object"
    },
    "UserIdentity": {
      "id": "UserIdentity",
      "properties": {
        "userEmail": {
          "description": "User email.",
          "type": "string"
        },
        "id": {
          "description": "User gaia id.",
          "type": "string"
        }
      },
      "description": "Identity of the user who owns the resource.",
      "type": "object"
    },
    "FieldValueTextListValue": {
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of text values."
        }
      },
      "id": "FieldValueTextListValue",
      "description": "Setting a text list value."
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      }
    },
    "ActivityEventsStatus": {
      "id": "ActivityEventsStatus",
      "type": "object",
      "description": "Status of the event. Note: Not all events have status.",
      "properties": {
        "eventStatus": {
          "description": "Status of the event. Possible values if not empty: - UNKNOWN_EVENT_STATUS - SUCCEEDED - SUCCEEDED_WITH_WARNINGS - FAILED - SKIPPED ",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "Error message of the event. Note: Field can be empty."
        },
        "errorCode": {
          "description": "Error code of the event. Note: Field can be empty.",
          "type": "string"
        },
        "httpStatusCode": {
          "description": "Status code of the event. Note: Field can be empty.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AgentAttributionInfoAgentOwner": {
      "type": "object",
      "id": "AgentAttributionInfoAgentOwner",
      "description": "Details of the owner of the AI agent.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the agent owner."
        }
      }
    },
    "Channel": {
      "properties": {
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of delivery mechanism used for this channel. The value should be set to `\"web_hook\"`."
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "kind": {
          "default": "api#channel",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is \"`api#channel`\".",
          "type": "string"
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "params": {
          "type": "object",
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. A payload is data that is sent in the body of an HTTP POST, PUT, or PATCH message and contains important information about the request. Optional.",
          "type": "boolean"
        },
        "expiration": {
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "format": "int64",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        }
      },
      "type": "object",
      "id": "Channel",
      "description": "A notification channel used to watch for resource changes."
    },
    "ActivityNetworkInfo": {
      "description": "Network information of the user doing the action.",
      "type": "object",
      "properties": {
        "ipAsn": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "IP Address of the user doing the action."
        },
        "subdivisionCode": {
          "description": "ISO 3166-2 region code (states and provinces) for countries of the user doing the action.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 region code of the user doing the action."
        }
      },
      "id": "ActivityNetworkInfo"
    },
    "NestedParameter": {
      "properties": {
        "boolValue": {
          "description": "Boolean value of the parameter.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The name of the parameter."
        },
        "multiValue": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Multiple string values of the parameter."
        },
        "intValue": {
          "format": "int64",
          "description": "Integer value of the parameter.",
          "type": "string"
        },
        "multiIntValue": {
          "description": "Multiple integer values of the parameter.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "multiBoolValue": {
          "description": "Multiple boolean values of the parameter.",
          "items": {
            "type": "boolean"
          },
          "type": "array"
        },
        "value": {
          "type": "string",
          "description": "String value of the parameter."
        }
      },
      "type": "object",
      "description": "JSON template for a parameter used in various reports.",
      "id": "NestedParameter"
    },
    "Reason": {
      "description": "The reason why the label/field was applied.",
      "properties": {
        "reasonType": {
          "type": "string",
          "description": "The type of the reason."
        }
      },
      "type": "object",
      "id": "Reason"
    },
    "OwnerIdentity": {
      "properties": {
        "sharedDriveIdentity": {
          "description": "Identity of the shared drive who owns the resource.",
          "$ref": "SharedDriveIdentity"
        },
        "customerIdentity": {
          "description": "Identity of the Google Workspace customer who owns the resource.",
          "$ref": "CustomerIdentity"
        },
        "userIdentity": {
          "description": "Identity of the user who owns the resource.",
          "$ref": "UserIdentity"
        },
        "groupIdentity": {
          "$ref": "GroupIdentity",
          "description": "Identity of the group who owns the resource."
        }
      },
      "type": "object",
      "description": "Identity details of the owner of the resource.",
      "id": "OwnerIdentity"
    },
    "FieldValueUserValue": {
      "description": "Setting a user value by selecting a single user.",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email of the user."
        }
      },
      "type": "object",
      "id": "FieldValueUserValue"
    },
    "FieldValueSelectionListValue": {
      "properties": {
        "values": {
          "items": {
            "$ref": "FieldValueSelectionValue"
          },
          "type": "array",
          "description": "List of selections."
        }
      },
      "id": "FieldValueSelectionListValue",
      "description": "Setting a selection list value by selecting multiple values from a dropdown.",
      "type": "object"
    },
    "FieldValueSelectionValue": {
      "description": "Setting a selection value by selecting a single value from a dropdown.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the selection."
        },
        "badged": {
          "type": "boolean",
          "description": "Whether the selection is badged."
        },
        "id": {
          "description": "Identifier of the selection.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FieldValueSelectionValue"
    },
    "CustomerIdentity": {
      "type": "object",
      "id": "CustomerIdentity",
      "description": "Identity of the Google Workspace customer who owns the resource.",
      "properties": {
        "id": {
          "description": "Customer id.",
          "type": "string"
        }
      }
    },
    "ActivityUserDeviceInfo": {
      "description": "Device details of the user doing the action.",
      "id": "ActivityUserDeviceInfo",
      "type": "object",
      "properties": {
        "deviceId": {
          "description": "Output only. Device ID of the user's device.",
          "type": "string",
          "readOnly": true
        },
        "deviceOsVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device OS version of the user's device."
        },
        "deviceType": {
          "readOnly": true,
          "description": "Output only. The type of the user's device.",
          "type": "string"
        }
      }
    },
    "UsageReport": {
      "id": "UsageReport",
      "description": "JSON template for a usage report.",
      "type": "object",
      "properties": {
        "parameters": {
          "items": {
            "type": "object",
            "properties": {
              "stringValue": {
                "description": "Output only. String value of the parameter.",
                "type": "string",
                "readOnly": true
              },
              "msgValue": {
                "description": "Output only. Nested message value of the parameter.",
                "type": "array",
                "readOnly": true,
                "items": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "any",
                    "description": "Properties of the object."
                  }
                }
              },
              "boolValue": {
                "type": "boolean",
                "description": "Output only. Boolean value of the parameter.",
                "readOnly": true
              },
              "intValue": {
                "readOnly": true,
                "type": "string",
                "description": "Output only. Integer value of the parameter.",
                "format": "int64"
              },
              "name": {
                "description": "The name of the parameter. For the User Usage Report parameter names, see the User Usage parameters reference.",
                "type": "string"
              },
              "datetimeValue": {
                "format": "date-time",
                "description": "The RFC 3339 formatted value of the parameter, for example 2010-10-28T10:26:35.000Z.",
                "type": "string",
                "readOnly": true
              }
            }
          },
          "type": "array",
          "description": "Output only. Parameter value pairs for various applications. For the Entity Usage Report parameters and values, see [the Entity Usage parameters reference](https://developers.google.com/workspace/admin/reports/v1/reference/usage-ref-appendix-a/entities).",
          "readOnly": true
        },
        "kind": {
          "type": "string",
          "description": "The type of API resource. For a usage report, the value is `admin#reports#usageReport`.",
          "default": "admin#reports#usageReport"
        },
        "date": {
          "description": "Output only. The date of the report request.",
          "type": "string",
          "readOnly": true
        },
        "entity": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Information about the type of the item.",
          "properties": {
            "entityId": {
              "type": "string",
              "readOnly": true,
              "description": "Output only. Object key. Only relevant if entity.type = \"OBJECT\" Note: external-facing name of report is \"Entities\" rather than \"Objects\"."
            },
            "userEmail": {
              "type": "string",
              "description": "Output only. The user's email address. Only relevant if entity.type = \"USER\"",
              "readOnly": true
            },
            "profileId": {
              "readOnly": true,
              "description": "Output only. The user's immutable Google Workspace profile identifier.",
              "type": "string"
            },
            "customerId": {
              "description": "Output only. The unique identifier of the customer's account.",
              "type": "string",
              "readOnly": true
            },
            "type": {
              "description": "Output only. The type of item. The value is `user`.",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      }
    },
    "SharedDriveIdentity": {
      "id": "SharedDriveIdentity",
      "type": "object",
      "description": "Identity of the shared drive who owns the resource.",
      "properties": {
        "id": {
          "description": "Shared drive gaia id.",
          "type": "string"
        },
        "sharedDriveName": {
          "type": "string",
          "description": "Shared drive name."
        }
      }
    }
  },
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "rootUrl": "https://admin.googleapis.com/",
  "revision": "20260914",
  "basePath": "",
  "ownerName": "Google"
}
