{
  "canonicalName": "DataTransfer",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "resources": {
    "applications": {
      "methods": {
        "get": {
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "description": "Retrieves information about an application for the given application ID.",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "response": {
            "$ref": "Application"
          },
          "parameters": {
            "applicationId": {
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "ID of the application resource to be retrieved."
            }
          },
          "id": "datatransfer.applications.get",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "GET"
        },
        "list": {
          "description": "Lists the applications available for data transfer for a customer.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.applications.list",
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query"
            },
            "maxResults": {
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return. Default is 100.",
              "type": "integer",
              "maximum": "500"
            },
            "pageToken": {
              "description": "Token to specify next page in the list.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "path": "admin/datatransfer/v1/applications",
          "flatPath": "admin/datatransfer/v1/applications",
          "httpMethod": "GET"
        }
      }
    },
    "transfers": {
      "methods": {
        "list": {
          "parameters": {
            "maxResults": {
              "maximum": "500",
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "description": "Maximum number of results to return. Default is 100.",
              "location": "query"
            },
            "oldOwnerUserId": {
              "type": "string",
              "description": "Source user's profile ID.",
              "location": "query"
            },
            "status": {
              "type": "string",
              "location": "query",
              "description": "Status of the transfer."
            },
            "pageToken": {
              "description": "Token to specify the next page in the list.",
              "location": "query",
              "type": "string"
            },
            "newOwnerUserId": {
              "type": "string",
              "location": "query",
              "description": "Destination user's profile ID."
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "path": "admin/datatransfer/v1/transfers",
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "flatPath": "admin/datatransfer/v1/transfers",
          "id": "datatransfer.transfers.list"
        },
        "insert": {
          "path": "admin/datatransfer/v1/transfers",
          "parameters": {},
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "response": {
            "$ref": "DataTransfer"
          },
          "request": {
            "$ref": "DataTransfer"
          },
          "flatPath": "admin/datatransfer/v1/transfers",
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "datatransfer.transfers.insert",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ]
        },
        "get": {
          "id": "datatransfer.transfers.get",
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "description": "Retrieves a data transfer request by its resource ID.",
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "parameters": {
            "dataTransferId": {
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": [
            "dataTransferId"
          ],
          "httpMethod": "GET"
        }
      }
    }
  },
  "servicePath": "",
  "ownerDomain": "google.com",
  "rootUrl": "https://admin.googleapis.com/",
  "basePath": "",
  "packagePath": "admin",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "protocol": "rest",
  "version": "datatransfer_v1",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "name": "admin",
  "schemas": {
    "DataTransfer": {
      "type": "object",
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "id": "DataTransfer",
      "properties": {
        "oldOwnerUserId": {
          "type": "string",
          "description": "ID of the user whose data is being transferred."
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer request.",
          "default": "admin#datatransfer#DataTransfer",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "requestTime": {
          "format": "date-time",
          "description": "Read-only. The time at which the data transfer was requested.",
          "type": "string"
        },
        "overallTransferStatusCode": {
          "type": "string",
          "description": "Read-only. Overall transfer status."
        },
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "applicationDataTransfers": {
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "type": "array"
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        }
      }
    },
    "ApplicationDataTransfer": {
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "properties": {
        "applicationTransferStatus": {
          "type": "string",
          "description": "Read-only. Current status of transfer for this application."
        },
        "applicationTransferParams": {
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "applicationId": {
          "description": "The application's ID.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ApplicationDataTransfer",
      "type": "object"
    },
    "Application": {
      "type": "object",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "id": "Application",
      "properties": {
        "kind": {
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "type": "string",
          "default": "admin#datatransfer#ApplicationResource"
        },
        "etag": {
          "type": "string",
          "description": "Etag of the resource."
        },
        "id": {
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "type": "string",
          "format": "int64"
        },
        "transferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "type": "array",
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer."
        },
        "name": {
          "type": "string",
          "description": "The application's name."
        }
      }
    },
    "ApplicationsListResponse": {
      "type": "object",
      "description": "Template for a collection of Applications.",
      "properties": {
        "kind": {
          "description": "Identifies the resource as a collection of Applications.",
          "type": "string",
          "default": "admin#datatransfer#applicationsList"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "applications": {
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "type": "array",
          "items": {
            "$ref": "Application"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      },
      "id": "ApplicationsListResponse"
    },
    "DataTransfersListResponse": {
      "id": "DataTransfersListResponse",
      "properties": {
        "kind": {
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string",
          "description": "Identifies the resource as a collection of data transfer requests."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "dataTransfers": {
          "items": {
            "$ref": "DataTransfer"
          },
          "description": "List of data transfer requests.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Template for a collection of DataTransfer resources."
    },
    "ApplicationTransferParam": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`.",
          "type": "string"
        }
      },
      "id": "ApplicationTransferParam",
      "description": "Template for application transfer parameters."
    }
  },
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "title": "Admin SDK API",
  "kind": "discovery#restDescription",
  "baseUrl": "https://admin.googleapis.com/",
  "revision": "20260917",
  "id": "admin:datatransfer_v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "batchPath": "batch",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}
