{
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "protocol": "rest",
  "batchPath": "batch",
  "ownerName": "Google",
  "revision": "20260917",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "kind": "discovery#restDescription",
  "packagePath": "admin",
  "rootUrl": "https://admin.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "schemas": {
    "ApplicationTransferParam": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`."
        },
        "value": {
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ApplicationTransferParam",
      "description": "Template for application transfer parameters."
    },
    "ApplicationsListResponse": {
      "properties": {
        "kind": {
          "default": "admin#datatransfer#applicationsList",
          "type": "string",
          "description": "Identifies the resource as a collection of Applications."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "applications": {
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "type": "array",
          "items": {
            "$ref": "Application"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        }
      },
      "description": "Template for a collection of Applications.",
      "type": "object",
      "id": "ApplicationsListResponse"
    },
    "Application": {
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "properties": {
        "kind": {
          "default": "admin#datatransfer#ApplicationResource",
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "transferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "type": "array",
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer."
        },
        "name": {
          "description": "The application's name.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Application"
    },
    "DataTransfersListResponse": {
      "id": "DataTransfersListResponse",
      "type": "object",
      "description": "Template for a collection of DataTransfer resources.",
      "properties": {
        "kind": {
          "description": "Identifies the resource as a collection of data transfer requests.",
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "dataTransfers": {
          "description": "List of data transfer requests.",
          "items": {
            "$ref": "DataTransfer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      }
    },
    "DataTransfer": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a DataTransfer request.",
          "default": "admin#datatransfer#DataTransfer"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "overallTransferStatusCode": {
          "type": "string",
          "description": "Read-only. Overall transfer status."
        },
        "requestTime": {
          "description": "Read-only. The time at which the data transfer was requested.",
          "type": "string",
          "format": "date-time"
        },
        "oldOwnerUserId": {
          "type": "string",
          "description": "ID of the user whose data is being transferred."
        },
        "applicationDataTransfers": {
          "type": "array",
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation."
        },
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "id": "DataTransfer"
    },
    "ApplicationDataTransfer": {
      "properties": {
        "applicationId": {
          "format": "int64",
          "description": "The application's ID.",
          "type": "string"
        },
        "applicationTransferParams": {
          "type": "array",
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "applicationTransferStatus": {
          "type": "string",
          "description": "Read-only. Current status of transfer for this application."
        }
      },
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "type": "object",
      "id": "ApplicationDataTransfer"
    }
  },
  "version": "datatransfer_v1",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "resources": {
    "transfers": {
      "methods": {
        "get": {
          "description": "Retrieves a data transfer request by its resource ID.",
          "parameters": {
            "dataTransferId": {
              "required": true,
              "type": "string",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "dataTransferId"
          ],
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "httpMethod": "GET",
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "response": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.transfers.get"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.transfers.list",
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "admin/datatransfer/v1/transfers",
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "maximum": "500",
              "description": "Maximum number of results to return. Default is 100.",
              "minimum": "1",
              "format": "int32"
            },
            "oldOwnerUserId": {
              "description": "Source user's profile ID.",
              "type": "string",
              "location": "query"
            },
            "status": {
              "description": "Status of the transfer.",
              "location": "query",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Immutable ID of the Google Workspace account."
            },
            "newOwnerUserId": {
              "description": "Destination user's profile ID.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Token to specify the next page in the list.",
              "type": "string"
            }
          },
          "path": "admin/datatransfer/v1/transfers"
        },
        "insert": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "id": "datatransfer.transfers.insert",
          "parameters": {},
          "path": "admin/datatransfer/v1/transfers",
          "request": {
            "$ref": "DataTransfer"
          },
          "parameterOrder": [],
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "response": {
            "$ref": "DataTransfer"
          },
          "flatPath": "admin/datatransfer/v1/transfers"
        }
      }
    },
    "applications": {
      "methods": {
        "get": {
          "parameters": {
            "applicationId": {
              "location": "path",
              "description": "ID of the application resource to be retrieved.",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "GET",
          "description": "Retrieves information about an application for the given application ID.",
          "id": "datatransfer.applications.get",
          "response": {
            "$ref": "Application"
          },
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}"
        },
        "list": {
          "flatPath": "admin/datatransfer/v1/applications",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "description": "Lists the applications available for data transfer for a customer.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.applications.list",
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Immutable ID of the Google Workspace account."
            },
            "maxResults": {
              "maximum": "500",
              "description": "Maximum number of results to return. Default is 100.",
              "location": "query",
              "format": "int32",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify next page in the list."
            }
          },
          "path": "admin/datatransfer/v1/applications"
        }
      }
    }
  },
  "name": "admin",
  "baseUrl": "https://admin.googleapis.com/",
  "canonicalName": "DataTransfer",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        }
      }
    }
  },
  "id": "admin:datatransfer_v1",
  "title": "Admin SDK API",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}
