{
  "discoveryVersion": "v1",
  "packagePath": "admin",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "id": "admin:datatransfer_v1",
  "schemas": {
    "Application": {
      "properties": {
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "transferParams": {
          "type": "array",
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "kind": {
          "default": "admin#datatransfer#ApplicationResource",
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "type": "string"
        },
        "name": {
          "description": "The application's name.",
          "type": "string"
        },
        "id": {
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "Application",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data."
    },
    "ApplicationsListResponse": {
      "properties": {
        "applications": {
          "type": "array",
          "items": {
            "$ref": "Application"
          },
          "description": "The list of applications that support data transfer and are also installed for the customer."
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#applicationsList",
          "description": "Identifies the resource as a collection of Applications."
        }
      },
      "id": "ApplicationsListResponse",
      "type": "object",
      "description": "Template for a collection of Applications."
    },
    "ApplicationDataTransfer": {
      "type": "object",
      "id": "ApplicationDataTransfer",
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "properties": {
        "applicationTransferParams": {
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference."
        },
        "applicationTransferStatus": {
          "type": "string",
          "description": "Read-only. Current status of transfer for this application."
        },
        "applicationId": {
          "format": "int64",
          "type": "string",
          "description": "The application's ID."
        }
      }
    },
    "ApplicationTransferParam": {
      "properties": {
        "value": {
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "key": {
          "type": "string",
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`."
        }
      },
      "type": "object",
      "description": "Template for application transfer parameters.",
      "id": "ApplicationTransferParam"
    },
    "DataTransfer": {
      "id": "DataTransfer",
      "properties": {
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#DataTransfer",
          "description": "Identifies the resource as a DataTransfer request."
        },
        "applicationDataTransfers": {
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "type": "array"
        },
        "overallTransferStatusCode": {
          "type": "string",
          "description": "Read-only. Overall transfer status."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "oldOwnerUserId": {
          "type": "string",
          "description": "ID of the user whose data is being transferred."
        },
        "requestTime": {
          "description": "Read-only. The time at which the data transfer was requested.",
          "format": "date-time",
          "type": "string"
        }
      },
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "type": "object"
    },
    "DataTransfersListResponse": {
      "type": "object",
      "description": "Template for a collection of DataTransfer resources.",
      "id": "DataTransfersListResponse",
      "properties": {
        "dataTransfers": {
          "description": "List of data transfer requests.",
          "items": {
            "$ref": "DataTransfer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "kind": {
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string",
          "description": "Identifies the resource as a collection of data transfer requests."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "rootUrl": "https://admin.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://admin.googleapis.com/",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "title": "Admin SDK API",
  "canonicalName": "DataTransfer",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "name": "admin",
  "ownerDomain": "google.com",
  "basePath": "",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "ownerName": "Google",
  "version": "datatransfer_v1",
  "resources": {
    "applications": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "description": "Lists the applications available for data transfer for a customer.",
          "flatPath": "admin/datatransfer/v1/applications",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify next page in the list."
            },
            "maxResults": {
              "maximum": "500",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results to return. Default is 100.",
              "minimum": "1",
              "location": "query"
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "admin/datatransfer/v1/applications",
          "id": "datatransfer.applications.list",
          "response": {
            "$ref": "ApplicationsListResponse"
          }
        },
        "get": {
          "description": "Retrieves information about an application for the given application ID.",
          "parameters": {
            "applicationId": {
              "format": "int64",
              "type": "string",
              "description": "ID of the application resource to be retrieved.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "Application"
          },
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "httpMethod": "GET",
          "id": "datatransfer.applications.get"
        }
      }
    },
    "transfers": {
      "methods": {
        "list": {
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "path": "admin/datatransfer/v1/transfers",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "description": "Token to specify the next page in the list.",
              "location": "query",
              "type": "string"
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query",
              "type": "string"
            },
            "status": {
              "description": "Status of the transfer.",
              "type": "string",
              "location": "query"
            },
            "newOwnerUserId": {
              "description": "Destination user's profile ID.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "minimum": "1",
              "description": "Maximum number of results to return. Default is 100.",
              "type": "integer",
              "maximum": "500"
            },
            "oldOwnerUserId": {
              "type": "string",
              "location": "query",
              "description": "Source user's profile ID."
            }
          },
          "id": "datatransfer.transfers.list",
          "flatPath": "admin/datatransfer/v1/transfers"
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "description": "Retrieves a data transfer request by its resource ID.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": [
            "dataTransferId"
          ],
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "parameters": {
            "dataTransferId": {
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "DataTransfer"
          },
          "id": "datatransfer.transfers.get"
        },
        "insert": {
          "flatPath": "admin/datatransfer/v1/transfers",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "DataTransfer"
          },
          "httpMethod": "POST",
          "path": "admin/datatransfer/v1/transfers",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "id": "datatransfer.transfers.insert",
          "response": {
            "$ref": "DataTransfer"
          }
        }
      }
    }
  },
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "revision": "20260917"
}
