{
  "fullyEncodeReservedExpansion": true,
  "name": "admin",
  "baseUrl": "https://admin.googleapis.com/",
  "parameters": {
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.reports.audit.readonly": {
          "description": "View audit reports for your Google Workspace domain"
        },
        "https://www.googleapis.com/auth/admin.reports.usage.readonly": {
          "description": "View usage reports for your Google Workspace domain"
        }
      }
    }
  },
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "SharedDriveIdentity": {
      "id": "SharedDriveIdentity",
      "properties": {
        "sharedDriveName": {
          "type": "string",
          "description": "Shared drive name."
        },
        "id": {
          "description": "Shared drive gaia id.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Identity of the shared drive who owns the resource."
    },
    "GroupIdentity": {
      "id": "GroupIdentity",
      "properties": {
        "id": {
          "description": "Group gaia id.",
          "type": "string"
        },
        "groupEmail": {
          "type": "string",
          "description": "Group email."
        }
      },
      "description": "Identity of the group who owns the resource.",
      "type": "object"
    },
    "UserIdentity": {
      "description": "Identity of the user who owns the resource.",
      "type": "object",
      "id": "UserIdentity",
      "properties": {
        "id": {
          "description": "User gaia id.",
          "type": "string"
        },
        "userEmail": {
          "type": "string",
          "description": "User email."
        }
      }
    },
    "AgentAttributionInfo": {
      "id": "AgentAttributionInfo",
      "type": "object",
      "properties": {
        "agentType": {
          "description": "Type of the agent.",
          "type": "string"
        },
        "agentName": {
          "type": "string",
          "description": "The user visible name of the agent."
        },
        "agentOwner": {
          "$ref": "AgentAttributionInfoAgentOwner",
          "description": "The owner of the agent."
        },
        "agentId": {
          "description": "The ID of the agent.",
          "type": "string"
        }
      },
      "description": "Details of the AI agent that was the actor for the activity."
    },
    "FieldValue": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the field"
        },
        "longTextValue": {
          "type": "string",
          "description": "Setting a long text value."
        },
        "userValue": {
          "description": "Setting a user value by selecting a single user.",
          "$ref": "FieldValueUserValue"
        },
        "userListValue": {
          "$ref": "FieldValueUserListValue",
          "description": "Setting a user list value by selecting multiple users."
        },
        "selectionListValue": {
          "description": "Setting a selection list value by selecting multiple values from a dropdown.",
          "$ref": "FieldValueSelectionListValue"
        },
        "type": {
          "description": "Type of the field",
          "type": "string"
        },
        "selectionValue": {
          "description": "Setting a selection value by selecting a single value from a dropdown.",
          "$ref": "FieldValueSelectionValue"
        },
        "textListValue": {
          "description": "Setting a text list value.",
          "$ref": "FieldValueTextListValue"
        },
        "id": {
          "type": "string",
          "description": "Identifier of the field"
        },
        "textValue": {
          "type": "string",
          "description": "Setting a text value."
        },
        "unsetValue": {
          "description": "If the field is unset, this will be true.",
          "type": "boolean"
        },
        "integerValue": {
          "format": "int64",
          "description": "Setting an integer value.",
          "type": "string"
        },
        "reason": {
          "$ref": "Reason",
          "description": "The reason why the field was applied to the label."
        },
        "dateValue": {
          "$ref": "Date",
          "description": "Setting a date value."
        }
      },
      "description": "Details of the field value set by the user for the particular label.",
      "type": "object",
      "id": "FieldValue"
    },
    "OwnerDetails": {
      "type": "object",
      "id": "OwnerDetails",
      "properties": {
        "ownerIdentity": {
          "type": "array",
          "items": {
            "$ref": "OwnerIdentity"
          },
          "description": "Identity details of the owner(s) of the resource."
        },
        "ownerType": {
          "type": "string",
          "description": "Type of the owner of the resource."
        }
      },
      "description": "Details of the owner of the resource."
    },
    "ResourceDetails": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of the resource. For instance, in case of a drive document, this would be the title of the document. In case of an email, this would be the subject."
        },
        "type": {
          "description": "Type of the resource - document, email, chat message",
          "type": "string"
        },
        "ownerDetails": {
          "description": "Owner details of the resource.",
          "$ref": "OwnerDetails"
        },
        "id": {
          "type": "string",
          "description": "Identifier of the resource, such as a doc_id for a Drive document, a conference_id for a Meet conference, or a \"gaia_id/rfc2822_message_id\" for an email."
        },
        "appliedLabels": {
          "items": {
            "$ref": "AppliedLabel"
          },
          "description": "List of labels applied on the resource",
          "type": "array"
        },
        "relation": {
          "description": "Defines relationship of the resource to the events",
          "type": "string"
        }
      },
      "id": "ResourceDetails",
      "description": "Details of the resource on which the action was performed.",
      "type": "object"
    },
    "FieldValueUserValue": {
      "id": "FieldValueUserValue",
      "description": "Setting a user value by selecting a single user.",
      "properties": {
        "email": {
          "description": "Email of the user.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ActivityNetworkInfo": {
      "properties": {
        "ipAsn": {
          "description": "IP Address of the user doing the action.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "subdivisionCode": {
          "type": "string",
          "description": "ISO 3166-2 region code (states and provinces) for countries of the user doing the action."
        },
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 region code of the user doing the action."
        }
      },
      "id": "ActivityNetworkInfo",
      "type": "object",
      "description": "Network information of the user doing the action."
    },
    "FieldValueTextListValue": {
      "description": "Setting a text list value.",
      "id": "FieldValueTextListValue",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of text values."
        }
      }
    },
    "AppliedLabel": {
      "id": "AppliedLabel",
      "description": "Details of the label applied on the resource.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of the label"
        },
        "id": {
          "description": "Identifier of the label - Only the label id, not the full OnePlatform resource name.",
          "type": "string"
        },
        "reason": {
          "description": "The reason why the label was applied on the resource.",
          "$ref": "Reason"
        },
        "fieldValues": {
          "items": {
            "$ref": "FieldValue"
          },
          "type": "array",
          "description": "List of fields which are part of the label and have been set by the user. If label has a field which was not set by the user, it would not be present in this list."
        }
      },
      "type": "object"
    },
    "Date": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        }
      },
      "id": "Date"
    },
    "ActivityUserDeviceInfo": {
      "type": "object",
      "description": "Device details of the user doing the action.",
      "id": "ActivityUserDeviceInfo",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "Output only. Device ID of the user's device.",
          "readOnly": true
        },
        "deviceType": {
          "description": "Output only. The type of the user's device.",
          "type": "string",
          "readOnly": true
        },
        "deviceOsVersion": {
          "description": "Output only. Device OS version of the user's device.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "UsageReports": {
      "id": "UsageReports",
      "properties": {
        "kind": {
          "description": "The type of API resource. For a usage report, the value is `admin#reports#usageReports`.",
          "type": "string",
          "default": "admin#reports#usageReports"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "usageReports": {
          "items": {
            "$ref": "UsageReport"
          },
          "type": "array",
          "description": "Various application parameter records."
        },
        "nextPageToken": {
          "description": "Token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. For your follow-on requests getting all of the report's pages, enter the `nextPageToken` value in the `pageToken` query string.",
          "type": "string"
        },
        "warnings": {
          "items": {
            "type": "object",
            "properties": {
              "message": {
                "description": "The human readable messages for a warning are: - Data is not available warning - Sorry, data for date yyyy-mm-dd for application \"`application name`\" is not available. - Partial data is available warning - Data for date yyyy-mm-dd for application \"`application name`\" is not available right now, please try again after a few hours. ",
                "type": "string"
              },
              "code": {
                "description": "Machine readable code or warning type. The warning code value is `200`.",
                "type": "string"
              },
              "data": {
                "type": "array",
                "description": "Key-value pairs to give detailed information on the warning.",
                "items": {
                  "properties": {
                    "key": {
                      "description": "Key associated with a key-value pair to give detailed information on the warning.",
                      "type": "string"
                    },
                    "value": {
                      "description": "Value associated with a key-value pair to give detailed information on the warning.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "description": "Warnings, if any.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Reason": {
      "type": "object",
      "description": "The reason why the label/field was applied.",
      "id": "Reason",
      "properties": {
        "reasonType": {
          "type": "string",
          "description": "The type of the reason."
        }
      }
    },
    "Activities": {
      "type": "object",
      "id": "Activities",
      "description": "JSON template for a collection of activities.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "default": "admin#reports#activities",
          "description": "The type of API resource. For an activity report, the value is `reports#activities`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Activity"
          },
          "description": "Each activity record in the response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token for retrieving the follow-on next page of the report. The `nextPageToken` value is used in the request's `pageToken` query string."
        }
      }
    },
    "NestedParameter": {
      "type": "object",
      "description": "JSON template for a parameter used in various reports.",
      "id": "NestedParameter",
      "properties": {
        "boolValue": {
          "type": "boolean",
          "description": "Boolean value of the parameter."
        },
        "value": {
          "type": "string",
          "description": "String value of the parameter."
        },
        "multiValue": {
          "items": {
            "type": "string"
          },
          "description": "Multiple string values of the parameter.",
          "type": "array"
        },
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "Integer value of the parameter."
        },
        "multiBoolValue": {
          "description": "Multiple boolean values of the parameter.",
          "items": {
            "type": "boolean"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The name of the parameter."
        },
        "multiIntValue": {
          "description": "Multiple integer values of the parameter.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "UsageReport": {
      "type": "object",
      "description": "JSON template for a usage report.",
      "properties": {
        "parameters": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "boolValue": {
                "readOnly": true,
                "type": "boolean",
                "description": "Output only. Boolean value of the parameter."
              },
              "intValue": {
                "description": "Output only. Integer value of the parameter.",
                "format": "int64",
                "type": "string",
                "readOnly": true
              },
              "stringValue": {
                "type": "string",
                "description": "Output only. String value of the parameter.",
                "readOnly": true
              },
              "msgValue": {
                "readOnly": true,
                "type": "array",
                "description": "Output only. Nested message value of the parameter.",
                "items": {
                  "type": "object",
                  "additionalProperties": {
                    "description": "Properties of the object.",
                    "type": "any"
                  }
                }
              },
              "name": {
                "description": "The name of the parameter. For the User Usage Report parameter names, see the User Usage parameters reference.",
                "type": "string"
              },
              "datetimeValue": {
                "format": "date-time",
                "readOnly": true,
                "type": "string",
                "description": "The RFC 3339 formatted value of the parameter, for example 2010-10-28T10:26:35.000Z."
              }
            }
          },
          "description": "Output only. Parameter value pairs for various applications. For the Entity Usage Report parameters and values, see [the Entity Usage parameters reference](https://developers.google.com/workspace/admin/reports/v1/reference/usage-ref-appendix-a/entities)."
        },
        "date": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The date of the report request."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "The type of API resource. For a usage report, the value is `admin#reports#usageReport`.",
          "default": "admin#reports#usageReport",
          "type": "string"
        },
        "entity": {
          "type": "object",
          "readOnly": true,
          "properties": {
            "userEmail": {
              "description": "Output only. The user's email address. Only relevant if entity.type = \"USER\"",
              "readOnly": true,
              "type": "string"
            },
            "customerId": {
              "description": "Output only. The unique identifier of the customer's account.",
              "readOnly": true,
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "Output only. The type of item. The value is `user`.",
              "readOnly": true
            },
            "profileId": {
              "readOnly": true,
              "description": "Output only. The user's immutable Google Workspace profile identifier.",
              "type": "string"
            },
            "entityId": {
              "description": "Output only. Object key. Only relevant if entity.type = \"OBJECT\" Note: external-facing name of report is \"Entities\" rather than \"Objects\".",
              "readOnly": true,
              "type": "string"
            }
          },
          "description": "Output only. Information about the type of the item."
        }
      },
      "id": "UsageReport"
    },
    "FieldValueSelectionListValue": {
      "properties": {
        "values": {
          "description": "List of selections.",
          "type": "array",
          "items": {
            "$ref": "FieldValueSelectionValue"
          }
        }
      },
      "id": "FieldValueSelectionListValue",
      "type": "object",
      "description": "Setting a selection list value by selecting multiple values from a dropdown."
    },
    "FieldValueSelectionValue": {
      "description": "Setting a selection value by selecting a single value from a dropdown.",
      "properties": {
        "id": {
          "description": "Identifier of the selection.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the selection."
        },
        "badged": {
          "description": "Whether the selection is badged.",
          "type": "boolean"
        }
      },
      "id": "FieldValueSelectionValue",
      "type": "object"
    },
    "Activity": {
      "description": "JSON template for the activity resource.",
      "id": "Activity",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The type of API resource. For an activity report, the value is `audit#activity`.",
          "type": "string",
          "default": "admin#reports#activity"
        },
        "id": {
          "properties": {
            "customerId": {
              "type": "string",
              "description": "The unique identifier for a Google Workspace account."
            },
            "uniqueQualifier": {
              "description": "Unique qualifier if multiple events have the same time.",
              "format": "int64",
              "type": "string"
            },
            "time": {
              "description": "Time of occurrence of the activity. This is in UNIX epoch time in seconds.",
              "type": "string",
              "format": "date-time"
            },
            "applicationName": {
              "type": "string",
              "description": "Application name to which the event belongs. For possible values see the list of applications above in `applicationName`."
            }
          },
          "description": "Unique identifier for each activity record.",
          "type": "object"
        },
        "events": {
          "description": "Activity events in the report.",
          "type": "array",
          "items": {
            "properties": {
              "type": {
                "description": "Type of event. The Google Workspace service or feature that an administrator changes is identified in the `type` property which identifies an event using the `eventName` property. For a full list of the API's `type` categories, see the list of event names for various applications above in `applicationName`.",
                "type": "string"
              },
              "resourceIds": {
                "type": "array",
                "description": "Resource ids associated with the event.",
                "items": {
                  "type": "string"
                }
              },
              "parameters": {
                "items": {
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name of the parameter."
                    },
                    "boolValue": {
                      "type": "boolean",
                      "description": "Boolean value of the parameter."
                    },
                    "multiValue": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "String values of the parameter."
                    },
                    "multiMessageValue": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "items": {
                              "$ref": "NestedParameter"
                            },
                            "type": "array",
                            "description": "Parameter values"
                          }
                        }
                      },
                      "description": "List of `messageValue` objects."
                    },
                    "messageValue": {
                      "type": "object",
                      "properties": {
                        "parameter": {
                          "type": "array",
                          "description": "Parameter values",
                          "items": {
                            "$ref": "NestedParameter"
                          }
                        }
                      },
                      "description": "Nested parameter value pairs associated with this parameter. Complex value type for a parameter are returned as a list of parameter values. For example, the address parameter may have a value as `[{parameter: [{name: city, value: abc}]}]`"
                    },
                    "multiIntValue": {
                      "description": "Integer values of the parameter.",
                      "items": {
                        "type": "string",
                        "format": "int64"
                      },
                      "type": "array"
                    },
                    "value": {
                      "description": "String value of the parameter.",
                      "type": "string"
                    },
                    "intValue": {
                      "description": "Integer value of the parameter.",
                      "format": "int64",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "description": "Parameter value pairs for various applications. For more information about `eventName` parameters, see the list of event names for various applications above in `applicationName`.",
                "type": "array"
              },
              "sensitiveParameters": {
                "type": "array",
                "items": {
                  "properties": {
                    "intValue": {
                      "description": "Integer value of the parameter.",
                      "format": "int64",
                      "type": "string"
                    },
                    "multiIntValue": {
                      "type": "array",
                      "description": "Integer values of the parameter.",
                      "items": {
                        "type": "string",
                        "format": "int64"
                      }
                    },
                    "boolValue": {
                      "type": "boolean",
                      "description": "Boolean value of the parameter."
                    },
                    "multiMessageValue": {
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "array",
                            "description": "Parameter values",
                            "items": {
                              "$ref": "NestedParameter"
                            }
                          }
                        }
                      },
                      "description": "List of `messageValue` objects.",
                      "type": "array"
                    },
                    "messageValue": {
                      "properties": {
                        "parameter": {
                          "items": {
                            "$ref": "NestedParameter"
                          },
                          "description": "Parameter values",
                          "type": "array"
                        }
                      },
                      "type": "object",
                      "description": "Nested parameter value pairs associated with this parameter. Complex value type for a parameter are returned as a list of parameter values. For example, the address parameter may have a value as `[{parameter: [{name: city, value: abc}]}]`"
                    },
                    "value": {
                      "description": "String value of the parameter.",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the parameter.",
                      "type": "string"
                    },
                    "multiValue": {
                      "description": "String values of the parameter.",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "type": "object"
                },
                "description": "Includes sensitive parameter value pairs for various applications."
              },
              "name": {
                "type": "string",
                "description": "Name of the event. This is the specific name of the activity reported by the API. And each `eventName` is related to a specific Google Workspace service or feature which the API organizes into types of events. For `eventName` request parameters in general: - If no `eventName` is given, the report returns all possible instances of an `eventName`. - When you request an `eventName`, the API's response returns all activities which contain that `eventName`. For more information about `eventName` properties, see the list of event names for various applications above in `applicationName`."
              },
              "status": {
                "description": "Status of the event. Note: Not all events have status.",
                "$ref": "ActivityEventsStatus"
              }
            },
            "type": "object"
          }
        },
        "ownerDomain": {
          "type": "string",
          "description": "This is the domain that is affected by the report's event. For example domain of Admin console or the Drive application's document owner."
        },
        "actor": {
          "properties": {
            "profileId": {
              "type": "string",
              "description": "The unique Google Workspace profile ID of the actor. This value might be absent if the actor is not a Google Workspace user, or may be the number 105250506097979753968 which acts as a placeholder ID."
            },
            "email": {
              "description": "The primary email address of the actor. May be absent if there is no email address associated with the actor.",
              "type": "string"
            },
            "applicationInfo": {
              "type": "object",
              "description": "Details of the application that was the actor for the activity.",
              "properties": {
                "applicationName": {
                  "description": "Name of the application used to perform the action.",
                  "type": "string"
                },
                "oauthClientId": {
                  "description": "OAuth client id of the third party application used to perform the action.",
                  "type": "string"
                },
                "impersonation": {
                  "description": "Whether the application was impersonating a user.",
                  "type": "boolean"
                }
              }
            },
            "callerType": {
              "description": "The type of actor.",
              "type": "string"
            },
            "agentAttributionInfo": {
              "description": "Details of the AI agent that was the actor for the activity.",
              "$ref": "AgentAttributionInfo"
            },
            "key": {
              "description": "Only present when `callerType` is `KEY`. Can be the `consumer_key` of the requestor for OAuth 2LO API requests or an identifier for robot accounts.",
              "type": "string"
            }
          },
          "description": "User doing the action.",
          "type": "object"
        },
        "resourceDetails": {
          "items": {
            "$ref": "ResourceDetails"
          },
          "type": "array",
          "description": "Details of the resource on which the action was performed."
        },
        "ipAddress": {
          "description": "IP address of the user doing the action. This is the Internet Protocol (IP) address of the user when logging into Google Workspace, which may or may not reflect the user's physical location. For example, the IP address can be the user's proxy server's address or a virtual private network (VPN) address. The API supports IPv4 and IPv6.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the entry."
        },
        "isAgenticAction": {
          "description": "Whether the activity was performed by an agent.",
          "type": "boolean"
        },
        "userDeviceInfo": {
          "description": "Device details of the user doing the action. This field is only exposed for the `contacts`, `gemini_in_workspace_apps`, `keep`, `meet_hardware`, `meet`, `chat`, `chrome`, `directory_sync`, `drive`, `groups`, `rules`, `data_studio`, `saml` applications.",
          "$ref": "ActivityUserDeviceInfo"
        },
        "networkInfo": {
          "description": "Network information of the user doing the action.",
          "$ref": "ActivityNetworkInfo"
        }
      }
    },
    "ActivityEventsStatus": {
      "properties": {
        "httpStatusCode": {
          "type": "integer",
          "format": "int32",
          "description": "Status code of the event. Note: Field can be empty."
        },
        "eventStatus": {
          "description": "Status of the event. Possible values if not empty: - UNKNOWN_EVENT_STATUS - SUCCEEDED - SUCCEEDED_WITH_WARNINGS - FAILED - SKIPPED ",
          "type": "string"
        },
        "errorCode": {
          "type": "string",
          "description": "Error code of the event. Note: Field can be empty."
        },
        "errorMessage": {
          "description": "Error message of the event. Note: Field can be empty.",
          "type": "string"
        }
      },
      "id": "ActivityEventsStatus",
      "description": "Status of the event. Note: Not all events have status.",
      "type": "object"
    },
    "Channel": {
      "id": "Channel",
      "properties": {
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "The address where notifications are delivered for this channel."
        },
        "params": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "type": "object"
        },
        "expiration": {
          "type": "string",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "format": "int64"
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. A payload is data that is sent in the body of an HTTP POST, PUT, or PATCH message and contains important information about the request. Optional.",
          "type": "boolean"
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "resourceUri": {
          "type": "string",
          "description": "A version-specific identifier for the watched resource."
        },
        "type": {
          "type": "string",
          "description": "The type of delivery mechanism used for this channel. The value should be set to `\"web_hook\"`."
        },
        "kind": {
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is \"`api#channel`\".",
          "default": "api#channel",
          "type": "string"
        }
      },
      "description": "A notification channel used to watch for resource changes.",
      "type": "object"
    },
    "FieldValueUserListValue": {
      "properties": {
        "values": {
          "items": {
            "$ref": "FieldValueUserValue"
          },
          "type": "array",
          "description": "List of users."
        }
      },
      "description": "Setting a user list value by selecting multiple users.",
      "type": "object",
      "id": "FieldValueUserListValue"
    },
    "OwnerIdentity": {
      "type": "object",
      "properties": {
        "userIdentity": {
          "$ref": "UserIdentity",
          "description": "Identity of the user who owns the resource."
        },
        "customerIdentity": {
          "description": "Identity of the Google Workspace customer who owns the resource.",
          "$ref": "CustomerIdentity"
        },
        "groupIdentity": {
          "$ref": "GroupIdentity",
          "description": "Identity of the group who owns the resource."
        },
        "sharedDriveIdentity": {
          "description": "Identity of the shared drive who owns the resource.",
          "$ref": "SharedDriveIdentity"
        }
      },
      "description": "Identity details of the owner of the resource.",
      "id": "OwnerIdentity"
    },
    "AgentAttributionInfoAgentOwner": {
      "id": "AgentAttributionInfoAgentOwner",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the agent owner."
        }
      },
      "description": "Details of the owner of the AI agent."
    },
    "CustomerIdentity": {
      "properties": {
        "id": {
          "description": "Customer id.",
          "type": "string"
        }
      },
      "description": "Identity of the Google Workspace customer who owns the resource.",
      "type": "object",
      "id": "CustomerIdentity"
    }
  },
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "servicePath": "",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "resources": {
    "channels": {
      "methods": {
        "stop": {
          "httpMethod": "POST",
          "flatPath": "admin/reports_v1/channels/stop",
          "parameterOrder": [],
          "id": "admin.channels.stop",
          "description": "Stop watching resources through this channel.",
          "path": "admin/reports_v1/channels/stop",
          "request": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.reports.audit.readonly"
          ],
          "parameters": {}
        }
      }
    },
    "activities": {
      "methods": {
        "watch": {
          "path": "admin/reports/v1/activity/users/{userKey}/applications/{applicationName}/watch",
          "id": "reports.activities.watch",
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.reports.audit.readonly"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Channel"
          },
          "description": "Start receiving notifications for account activities. For more information, see Receiving Push Notifications.",
          "parameterOrder": [
            "userKey",
            "applicationName"
          ],
          "parameters": {
            "customerId": {
              "type": "string",
              "pattern": "C.+|my_customer",
              "location": "query",
              "description": "The unique ID of the customer to retrieve data for."
            },
            "orgUnitID": {
              "default": "",
              "location": "query",
              "description": "`Deprecated`. This field is deprecated and is no longer supported. ID of the organizational unit to report on. Activity records will be shown only for users who belong to the specified organizational unit. Data before Dec 17, 2018 doesn't appear in the filtered results.",
              "type": "string",
              "pattern": "(id:[a-z0-9]+)",
              "deprecated": true
            },
            "pageToken": {
              "location": "query",
              "description": "The token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. In your follow-on request getting the next page of the report, enter the `nextPageToken` value in the `pageToken` query string.",
              "type": "string"
            },
            "startTime": {
              "type": "string",
              "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))",
              "description": "Sets the beginning of the range of time shown in the report. The date is in the RFC 3339 format, for example 2010-10-28T10:26:35.000Z. The report returns all activities from `startTime` until `endTime`. The `startTime` must be before the `endTime` (if specified) and the current time when the request is made, or the API returns an error.",
              "location": "query"
            },
            "actorIpAddress": {
              "location": "query",
              "type": "string",
              "description": "The Internet Protocol (IP) Address of host where the event was performed. This is an additional way to filter a report's summary using the IP address of the user whose activity is being reported. This IP address may or may not reflect the user's physical location. For example, the IP address can be the user's proxy server's address or a virtual private network (VPN) address. This parameter supports both IPv4 and IPv6 address versions."
            },
            "applicationName": {
              "enum": [
                "access_transparency",
                "admin",
                "calendar",
                "chat",
                "drive",
                "gcp",
                "gplus",
                "groups",
                "groups_enterprise",
                "jamboard",
                "login",
                "meet",
                "mobile",
                "rules",
                "saml",
                "token",
                "user_accounts",
                "context_aware_access",
                "chrome",
                "data_studio",
                "keep",
                "classroom"
              ],
              "required": true,
              "enumDescriptions": [
                "The Google Workspace Access Transparency activity reports return information about different types of Access Transparency activity events.",
                "The Admin console application's activity reports return account information about different types of administrator activity events.",
                "The Google Calendar application's activity reports return information about various Calendar activity events.",
                "The Chat activity reports return information about various Chat activity events.",
                "The Google Drive application's activity reports return information about various Google Drive activity events. The Drive activity report is only available for Google Workspace Business and Google Workspace Enterprise customers.",
                "The Google Cloud Platform application's activity reports return information about various GCP activity events.",
                "The Google+ application's activity reports return information about various Google+ activity events.",
                "The Google Groups application's activity reports return information about various Groups activity events.",
                "The Enterprise Groups activity reports return information about various Enterprise group activity events.",
                "The Jamboard activity reports return information about various Jamboard activity events.",
                "The Login application's activity reports return account information about different types of Login activity events.",
                "The Meet Audit activity report returns information about different types of Meet Audit activity events.",
                "The Device Audit activity report returns information about different types of Device Audit activity events.",
                "The Rules activity report returns information about different types of Rules activity events.",
                "The SAML activity report returns information about different types of SAML activity events.",
                "The Token application's activity reports return account information about different types of Token activity events.",
                "The User Accounts application's activity reports return account information about different types of User Accounts activity events.",
                "The Context-aware access activity reports return information about users' access denied events due to Context-aware access rules.",
                "The Chrome activity reports return information about Chrome browser and Chrome OS events.",
                "The Data Studio activity reports return information about various types of Data Studio activity events.",
                "The Keep application's activity reports return information about various Google Keep activity events. The Keep activity report is only available for Google Workspace Business and Enterprise customers.",
                "The Classroom activity reports return information about different types of [Classroom activity events](https://developers.google.com/workspace/admin/reports/v1/appendix/activity/classroom)."
              ],
              "type": "string",
              "pattern": "(access_transparency)|(admin)|(calendar)|(chat)|(chrome)|(classroom)|(context_aware_access)|(data_studio)|(drive)|(gcp)|(gplus)|(groups)|(groups_enterprise)|(jamboard)|(keep)|(login)|(meet)|(mobile)|(rules)|(saml)|(token)|(user_accounts)",
              "location": "path",
              "description": "Application name for which the events are to be retrieved."
            },
            "userKey": {
              "type": "string",
              "location": "path",
              "description": "Represents the profile ID or the user email for which the data should be filtered. Can be `all` for all information, or `userKey` for a user's unique Google Workspace profile ID or their primary email address. Must not be a deleted user. For a deleted user, call `users.list` in Directory API with `showDeleted=true`, then use the returned `ID` as the `userKey`.",
              "required": true
            },
            "eventName": {
              "location": "query",
              "description": "The name of the event being queried by the API. Each `eventName` is related to a specific Google Workspace service or feature which the API organizes into types of events. An example is the Google Calendar events in the Admin console application's reports. The Calendar Settings `type` structure has all of the Calendar `eventName` activities reported by the API. When an administrator changes a Calendar setting, the API reports this activity in the Calendar Settings `type` and `eventName` parameters. For more information about `eventName` query strings and parameters, see the list of event names for various applications above in `applicationName`.",
              "type": "string"
            },
            "maxResults": {
              "description": "Determines how many activity records are shown on each response page. For example, if the request sets `maxResults=1` and the report has two activities, the report has two pages. The response's `nextPageToken` property has the token to the second page. The `maxResults` query string is optional in the request. The default value is 1000.",
              "default": "1000",
              "maximum": "1000",
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "format": "int32"
            },
            "endTime": {
              "type": "string",
              "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))",
              "description": "Sets the end of the range of time shown in the report. The date is in the RFC 3339 format, for example 2010-10-28T10:26:35.000Z. The default value is the approximate time of the API request. An API report has three basic time concepts: - *Date of the API's request for a report*: When the API created and retrieved the report. - *Report's start time*: The beginning of the timespan shown in the report. The `startTime` must be before the `endTime` (if specified) and the current time when the request is made, or the API returns an error. - *Report's end time*: The end of the timespan shown in the report. For example, the timespan of events summarized in a report can start in April and end in May. The report itself can be requested in August. If the `endTime` is not specified, the report returns all activities from the `startTime` until the current time or the most recent 180 days if the `startTime` is more than 180 days in the past.",
              "location": "query"
            },
            "groupIdFilter": {
              "type": "string",
              "deprecated": true,
              "location": "query",
              "description": "`Deprecated`. This field is deprecated and is no longer supported. Comma separated group ids (obfuscated) on which user activities are filtered, i.e. the response will contain activities for only those users that are a part of at least one of the group ids mentioned here. Format: \"id:abc123,id:xyz456\" *Important:* To filter by groups, you must explicitly add the groups to your filtering groups allowlist. For more information about adding groups to filtering groups allowlist, see [Filter results by Google Group](https://support.google.com/a/answer/11482175)",
              "pattern": "(id:[a-z0-9]+(,id:[a-z0-9]+)*)"
            },
            "filters": {
              "type": "string",
              "location": "query",
              "pattern": "(.+[<,<=,==,>=,>,<>].+,)*(.+[<,<=,==,>=,>,<>].+)",
              "description": "The `filters` query string is a comma-separated list composed of event parameters manipulated by relational operators. Event parameters are in the form `{parameter1 name}{relational operator}{parameter1 value},{parameter2 name}{relational operator}{parameter2 value},...` These event parameters are associated with a specific `eventName`. An empty report is returned if the request's parameter doesn't belong to the `eventName`. For more information about the available `eventName` fields for each application and their associated parameters, go to the [ApplicationName](#applicationname) table, then click through to the Activity Events page in the Appendix for the application you want. In the following Drive activity examples, the returned list consists of all `edit` events where the `doc_id` parameter value matches the conditions defined by the relational operator. In the first example, the request returns all edited documents with a `doc_id` value equal to `12345`. In the second example, the report returns any edited documents where the `doc_id` value is not equal to `98765`. The `<>` operator is URL-encoded in the request's query string (`%3C%3E`): ``` GET...&eventName=edit&filters=doc_id==12345 GET...&eventName=edit&filters=doc_id%3C%3E98765 ``` A `filters` query supports these relational operators: * `==`—'equal to'. * `<>`—'not equal to'. Must be URL-encoded (%3C%3E). * `<`—'less than'. Must be URL-encoded (%3C). * `<=`—'less than or equal to'. Must be URL-encoded (%3C=). * `>`—'greater than'. Must be URL-encoded (%3E). * `>=`—'greater than or equal to'. Must be URL-encoded (%3E=). **Note:** The API doesn't accept multiple values of the same parameter. If a parameter is supplied more than once in the API request, the API only accepts the last value of that parameter. In addition, if an invalid parameter is supplied in the API request, the API ignores that parameter and returns the response corresponding to the remaining valid parameters. If no parameters are requested, all parameters are returned."
            }
          },
          "flatPath": "admin/reports/v1/activity/users/{userKey}/applications/{applicationName}/watch"
        },
        "list": {
          "description": "Retrieves a list of activities for a specific customer's account and application such as the Admin console application or the Google Drive application. For more information, see the guides for administrator and Google Drive activity reports. For more information about the activity report's parameters, see the activity parameters reference guides. ",
          "httpMethod": "GET",
          "flatPath": "admin/reports/v1/activity/users/{userKey}/applications/{applicationName}",
          "path": "admin/reports/v1/activity/users/{userKey}/applications/{applicationName}",
          "id": "reports.activities.list",
          "parameterOrder": [
            "userKey",
            "applicationName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.reports.audit.readonly"
          ],
          "response": {
            "$ref": "Activities"
          },
          "parameters": {
            "orgUnitID": {
              "type": "string",
              "pattern": "(id:[a-z0-9]+)",
              "location": "query",
              "default": "",
              "description": "ID of the organizational unit to report on. Activity records will be shown only for users who belong to the specified organizational unit. Data before Dec 17, 2018 doesn't appear in the filtered results."
            },
            "includeSensitiveData": {
              "location": "query",
              "description": "Optional. When set to `true`, this field allows sensitive user-generated content to be included in the returned audit logs. This parameter is supported only for Rules (DLP), Chat and Workspace Studio applications; using it with any other application will result in a permission error.",
              "type": "boolean"
            },
            "startTime": {
              "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))",
              "description": "Sets the beginning of the range of time shown in the report. The date is in the RFC 3339 format, for example 2010-10-28T10:26:35.000Z. The report returns all activities from `startTime` until `endTime`. The `startTime` must be before the `endTime` (if specified) and the current time when the request is made, or the API returns an error. For Gmail requests, `startTime` and `endTime` must be provided and the difference must not be greater than 30 days.",
              "type": "string",
              "location": "query"
            },
            "resourceDetailsFilter": {
              "location": "query",
              "type": "string",
              "description": "Optional. The `resourceDetailsFilter` query string is an AND separated list composed of [Resource Details](#resourcedetails) fields manipulated by relational operators. Resource Details Filters are in the form `{resourceDetails.field1}{relational operator}{field1 value} AND {resourceDetails.field2}{relational operator}{field2 value}...` All the inner fields are traversed using the `.` operator, as shown in the following example: ``` resourceDetails.id = \"resourceId\" AND resourceDetails.appliedLabels.id = \"appliedLabelId\" AND resourceDetails.appliedLabels.fieldValue.id = \"fieldValueId\" ``` `resourceDetailsFilter` query supports these relational operators: * `=`—'equal to'. * `!=`—'not equal to'. * `:`—'exists'. This is used for filtering on repeated fields. [`FieldValue`](#fieldvalue) types that are repeated in nature uses `exists` operator for filtering. The following [`FieldValue`](#fieldvalue) types are repeated: * [`TextListValue`](#textlistvalue) * [`SelectionListValue`](#selectionlistvalue) * [`UserListValue`](#userlistvalue) For example, in the following filter, [`SelectionListValue`](#selectionlistvalue), is a repeated field. The filter checks whether [`SelectionListValue`](#selectionlistvalue) contains `selection_id`: ``` resourceDetails.id = \"resourceId\" AND resourceDetails.appliedLabels.id = \"appliedLabelId\" AND resourceDetails.appliedLabels.fieldValue.id = \"fieldValueId\" AND resourceDetails.appliedLabels.fieldValue.type = \"SELECTION_LIST_VALUE\" AND resourceDetails.appliedLabels.fieldValue.selectionListValue.id: \"id\" ``` **Usage** ``` GET...&resourceDetailsFilter=resourceDetails.id = \"resourceId\" AND resourceDetails.appliedLabels.id = \"appliedLabelId\" GET...&resourceDetailsFilter=resourceDetails.id=%22resourceId%22%20AND%20resourceDetails.appliedLabels.id=%22appliedLabelId%22 ``` **Note the following**: * You must URL encode the query string before sending the request. * The API supports a maximum of 5 fields separated by the AND operator. - When filtering on deeper levels (e.g., [`AppliedLabel`](#appliedlabel), [`FieldValue`](#fieldvalue)), the IDs of all preceding levels in the hierarchy must be included in the filter. For example: Filtering on [`FieldValue`](#fieldvalue) requires [`AppliedLabel`](#appliedlabel) ID and resourceDetails ID to be present. *Sample Query*: ``` resourceDetails.id = \"resourceId\" AND resourceDetails.appliedLabels.id = \"appliedLabelId\" AND resourceDetails.appliedLabels.fieldValue.id = \"fieldValueId\" ``` * Filtering on inner [`FieldValue`](#fieldvalue) types like `longTextValue` and `textValue` requires `resourceDetails.appliedLabels.fieldValue.type` to be present. * Only Filtering on a single [`AppliedLabel`](#appliedlabel) id and [`FieldValue`](#fieldvalue) id is supported."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. In your follow-on request getting the next page of the report, enter the `nextPageToken` value in the `pageToken` query string."
            },
            "endTime": {
              "type": "string",
              "location": "query",
              "description": "Sets the end of the range of time shown in the report. The date is in the RFC 3339 format, for example 2010-10-28T10:26:35.000Z. The default value is the approximate time of the API request. An API report has three basic time concepts: - *Date of the API's request for a report*: When the API created and retrieved the report. - *Report's start time*: The beginning of the timespan shown in the report. The `startTime` must be before the `endTime` (if specified) and the current time when the request is made, or the API returns an error. - *Report's end time*: The end of the timespan shown in the report. For example, the timespan of events summarized in a report can start in April and end in May. The report itself can be requested in August. If the `endTime` is not specified, the report returns all activities from the `startTime` until the current time or the most recent 180 days if the `startTime` is more than 180 days in the past. For Gmail requests, `startTime` and `endTime` must be provided and the difference must not be greater than 30 days.",
              "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))"
            },
            "userKey": {
              "type": "string",
              "description": "Represents the profile ID or the user email for which the data should be filtered. Can be `all` for all information, or `userKey` for a user's unique Google Workspace profile ID or their primary email address. Must not be a deleted user. For a deleted user, call `users.list` in Directory API with `showDeleted=true`, then use the returned `ID` as the `userKey`.",
              "required": true,
              "location": "path"
            },
            "customerId": {
              "location": "query",
              "pattern": "C.+|my_customer",
              "type": "string",
              "description": "The unique ID of the customer to retrieve data for."
            },
            "agentInfoFilter": {
              "description": "Optional. Filters on agent info fields in the activity. This filter gets applied in conjunction(AND) with other filters. Example: \"agentInfoFilter=agentId=\\\"agent-id\\\" AND agentName=\\\"agent-name\\\" AND agentOwnerEmail=\\\"agent-owner-email\\\"\"",
              "location": "query",
              "type": "string"
            },
            "groupIdFilter": {
              "type": "string",
              "location": "query",
              "pattern": "(id:[a-z0-9]+(,id:[a-z0-9]+)*)",
              "description": "Comma separated group ids (obfuscated) on which user activities are filtered, i.e. the response will contain activities for only those users that are a part of at least one of the group ids mentioned here. Format: \"id:abc123,id:xyz456\" *Important:* To filter by groups, you must explicitly add the groups to your filtering groups allowlist. For more information about adding groups to filtering groups allowlist, see [Filter results by Google Group](https://support.google.com/a/answer/11482175)"
            },
            "networkInfoFilter": {
              "location": "query",
              "description": "Optional. Used to filter on the `regionCode` field present in [`NetworkInfo`](#networkinfo) message. **Usage** ``` GET...&networkInfoFilter=regionCode=\"IN\" GET...&networkInfoFilter=regionCode=%22IN%22 ```",
              "type": "string"
            },
            "applicationName": {
              "type": "string",
              "required": true,
              "enumDescriptions": [
                "The Google Workspace Access Transparency activity reports return information about different types of Access Transparency activity events.",
                "The Admin console application's activity reports return account information about different types of administrator activity events.",
                "The Google Calendar application's activity reports return information about various Calendar activity events.",
                "The Chat activity reports return information about various Chat activity events.",
                "The Google Drive application's activity reports return information about various Google Drive activity events. The Drive activity report is only available for Google Workspace Business and Enterprise customers.",
                "The Google Cloud Platform application's activity reports return information about various GCP activity events.",
                "The Gmail application's activity reports return information about various [Gmail activity events](/admin-sdk/reports/v1/appendix/activity/gmail).",
                "The Google+ application's activity reports return information about various Google+ activity events.",
                "The Google Groups application's activity reports return information about various Groups activity events.",
                "The Enterprise Groups activity reports return information about various Enterprise group activity events.",
                "The Jamboard activity reports return information about various Jamboard activity events.",
                "The Login application's activity reports return account information about different types of Login activity events.",
                "The Meet Audit activity report returns information about different types of Meet Audit activity events.",
                "The Device Audit activity report returns information about different types of Device Audit activity events.",
                "The Rules activity report returns information about different types of Rules activity events.",
                "The SAML activity report returns information about different types of SAML activity events.",
                "The Token application's activity reports return account information about different types of Token activity events.",
                "The User Accounts application's activity reports return account information about different types of User Accounts activity events.",
                "The Context-aware access activity reports return information about users' access denied events due to Context-aware access rules.",
                "The Chrome activity reports return information about Chrome browser and Chrome OS events.",
                "The Data Studio activity reports return information about various types of Data Studio activity events.",
                "The Keep application's activity reports return information about various Google Keep activity events. The Keep activity report is only available for Google Workspace Business and Enterprise customers.",
                "The Vault activity reports return information about various types of Vault activity events.",
                "The Gemini for Workspace activity reports return information about various types of Gemini activity events performed by users within a Workspace application.",
                "The Classroom activity reports return information about different types of [Classroom activity events](https://developers.google.com/workspace/admin/reports/v1/appendix/activity/classroom).",
                "The assignments application's activity reports return information about various types of assignments activity events.",
                "The Cloud Search application's activity reports return information about various types of cloud_search activity events.",
                "The Tasks application's activity reports return information about various types of Tasks activity events.",
                "The Data Migration application's activity reports return information about various types of data migration activity events.",
                "The Meet Hardware application's activity reports return information about various types of Meet Hardware activity events.",
                "The Directory Sync application's activity reports return information about various types of Directory Sync activity events.",
                "The ldap application's activity reports return information about various types of ldap activity events.",
                "The Profile application's activity reports return information about various types of Profile activity events.",
                "The Access Evaluation activity reports return information about various types of Access Evaluation activity events.",
                "The Admin Data Action application's activity reports return information about various types of Admin Data Action activity events.",
                "The Contacts application's activity reports return information about various types of Contacts activity events.",
                "The Takeout application's activity reports return information about various types of Takeout activity events.",
                "The Graduation application's activity reports return information about various types of Graduation activity events.",
                "The Voice application's activity reports return information about various types of Voice activity events.",
                "The Chrome Sync application's activity reports return information about various types of Chrome Sync activity events.",
                "The Workspace Studio application's activity reports return information about various types of Workspace Studio activity events.",
                "The Gemini Notebook application's activity reports return information about various types of Gemini Notebook activity events."
              ],
              "enum": [
                "access_transparency",
                "admin",
                "calendar",
                "chat",
                "drive",
                "gcp",
                "gmail",
                "gplus",
                "groups",
                "groups_enterprise",
                "jamboard",
                "login",
                "meet",
                "mobile",
                "rules",
                "saml",
                "token",
                "user_accounts",
                "context_aware_access",
                "chrome",
                "data_studio",
                "keep",
                "vault",
                "gemini_in_workspace_apps",
                "classroom",
                "assignments",
                "cloud_search",
                "tasks",
                "data_migration",
                "meet_hardware",
                "directory_sync",
                "ldap",
                "profile",
                "access_evaluation",
                "admin_data_action",
                "contacts",
                "takeout",
                "graduation",
                "voice",
                "chrome_sync",
                "workspace_studio",
                "gemini_notebook"
              ],
              "description": "Application name for which the events are to be retrieved.",
              "pattern": "(access_evaluation)|(access_transparency)|(admin)|(admin_data_action)|(assignments)|(calendar)|(chat)|(chrome)|(classroom)|(cloud_search)|(contacts)|(context_aware_access)|(data_studio)|(data_migration)|(directory_sync)|(drive)|(gcp)|(gmail)|(gplus)|(graduation)|(groups)|(groups_enterprise)|(jamboard)|(keep)|(ldap)|(login)|(meet)|(meet_hardware)|(mobile)|(profile)|(rules)|(saml)|(token)|(user_accounts)|(vault)|(gemini_in_workspace_apps)|(tasks)|(takeout)|(voice)|(chrome_sync)|(workspace_studio)|(gemini_notebook)",
              "location": "path"
            },
            "maxResults": {
              "description": "Determines how many activity records are shown on each response page. For example, if the request sets `maxResults=1` and the report has two activities, the report has two pages. The response's `nextPageToken` property has the token to the second page. The `maxResults` query string is optional in the request. The default value is 1000.",
              "minimum": "1",
              "type": "integer",
              "default": "1000",
              "maximum": "1000",
              "format": "int32",
              "location": "query"
            },
            "eventName": {
              "description": "The name of the event being queried by the API. Each `eventName` is related to a specific Google Workspace service or feature which the API organizes into types of events. An example is the Google Calendar events in the Admin console application's reports. The Calendar Settings `type` structure has all of the Calendar `eventName` activities reported by the API. When an administrator changes a Calendar setting, the API reports this activity in the Calendar Settings `type` and `eventName` parameters. For more information about `eventName` query strings and parameters, see the list of event names for various applications above in `applicationName`.",
              "type": "string",
              "location": "query"
            },
            "filters": {
              "type": "string",
              "location": "query",
              "pattern": "(.+[<,<=,==,>=,>,<>].+,)*(.+[<,<=,==,>=,>,<>].+)",
              "description": "The `filters` query string is a comma-separated list composed of event parameters manipulated by relational operators. Event parameters are in the form `{parameter1 name}{relational operator}{parameter1 value},{parameter2 name}{relational operator}{parameter2 value},...` These event parameters are associated with a specific `eventName`. An empty report is returned if the request's parameter doesn't belong to the `eventName`. For more information about the available `eventName` fields for each application and their associated parameters, go to the [ApplicationName](#applicationname) table, then click through to the Activity Events page in the Appendix for the application you want. In the following Drive activity examples, the returned list consists of all `edit` events where the `doc_id` parameter value matches the conditions defined by the relational operator. In the first example, the request returns all edited documents with a `doc_id` value equal to `12345`. In the second example, the report returns any edited documents where the `doc_id` value is not equal to `98765`. The `<>` operator is URL-encoded in the request's query string (`%3C%3E`): ``` GET...&eventName=edit&filters=doc_id==12345 GET...&eventName=edit&filters=doc_id%3C%3E98765 ``` A `filters` query supports these relational operators: * `==`—'equal to'. * `<>`—'not equal to'. Must be URL-encoded (%3C%3E). * `<`—'less than'. Must be URL-encoded (%3C). * `<=`—'less than or equal to'. Must be URL-encoded (%3C=). * `>`—'greater than'. Must be URL-encoded (%3E). * `>=`—'greater than or equal to'. Must be URL-encoded (%3E=). **Note:** The API doesn't accept multiple values of the same parameter. If a parameter is supplied more than once in the API request, the API only accepts the last value of that parameter. In addition, if an invalid parameter is supplied in the API request, the API ignores that parameter and returns the response corresponding to the remaining valid parameters. If no parameters are requested, all parameters are returned."
            },
            "applicationInfoFilter": {
              "description": "Optional. Used to filter on the `oAuthClientId` field present in [`ApplicationInfo`](#applicationinfo) message. **Usage** ``` GET...&applicationInfoFilter=oAuthClientId=\"clientId\" GET...&applicationInfoFilter=oAuthClientId=%22clientId%22 ```",
              "location": "query",
              "type": "string"
            },
            "deviceFilter": {
              "type": "string",
              "description": "Optional. Used to filter on the fields present in [`UserDeviceInfo`](#userdeviceinfo) message like `deviceId`, `deviceType`, and `deviceOsVersion`. **Usage** ``` GET...&deviceFilter=deviceId=\"123\" GET...&deviceFilter=deviceType=\"ANDROID\" GET...&deviceFilter=deviceOsVersion=\"14.0\" ```",
              "location": "query"
            },
            "actorIpAddress": {
              "location": "query",
              "type": "string",
              "description": "The Internet Protocol (IP) Address of host where the event was performed. This is an additional way to filter a report's summary using the IP address of the user whose activity is being reported. This IP address may or may not reflect the user's physical location. For example, the IP address can be the user's proxy server's address or a virtual private network (VPN) address. This parameter supports both IPv4 and IPv6 address versions."
            },
            "statusFilter": {
              "location": "query",
              "type": "string",
              "description": "Optional. Used to filter on the `statusCode` field present in [`Status`](#status) message. **Usage** ``` GET...&statusFilter=statusCode=\"200\" GET...&statusFilter=statusCode=%22200%22 ```"
            }
          }
        }
      }
    },
    "userUsageReport": {
      "methods": {
        "get": {
          "description": "Retrieves a report which is a collection of properties and statistics for a set of users with the account. For more information, see the User Usage Report guide. For more information about the user report's parameters, see the Users Usage parameters reference guides.",
          "parameterOrder": [
            "userKey",
            "date"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "UsageReports"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.reports.usage.readonly"
          ],
          "flatPath": "admin/reports/v1/usage/users/{userKey}/dates/{date}",
          "parameters": {
            "customerId": {
              "location": "query",
              "type": "string",
              "pattern": "C.+|my_customer",
              "description": "The unique ID of the customer to retrieve data for."
            },
            "parameters": {
              "location": "query",
              "type": "string",
              "description": "The `parameters` query string is a comma-separated list of event parameters that refine a report's results. The parameter is associated with a specific application. The application values for the Customers Usage report include `accounts`, `app_maker`, `apps_scripts`, `calendar`, `chat`, `classroom`, `cros`, `docs`, `gmail`, `gplus`, `device_management`, `meet`, and `sites`. A `parameters` query string is in the CSV form of `app_name1:param_name1, app_name2:param_name2`. *Note:* The API doesn't accept multiple values of a parameter. If a particular parameter is supplied more than once in the API request, the API only accepts the last value of that request parameter. In addition, if an invalid request parameter is supplied in the API request, the API ignores that request parameter and returns the response corresponding to the remaining valid request parameters. An example of an invalid request parameter is one that does not belong to the application. If no parameters are requested, all parameters are returned. ",
              "pattern": "(((accounts)|(chat)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[^,]+,)*(((accounts)|(chat)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[^,]+)"
            },
            "date": {
              "required": true,
              "description": "Represents the date the usage occurred, based on UTC-8:00 (Pacific Standard Time). The timestamp is in the [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601), `yyyy-mm-dd`.",
              "pattern": "(\\d){4}-(\\d){2}-(\\d){2}",
              "type": "string",
              "location": "path"
            },
            "filters": {
              "pattern": "(((accounts)|(chat)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[a-z0-9_]+[<,<=,==,>=,>,!=][^,]+,)*(((accounts)|(chat)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[a-z0-9_]+[<,<=,==,>=,>,!=][^,]+)",
              "type": "string",
              "description": "The `filters` query string is a comma-separated list of an application's event parameters where the parameter's value is manipulated by a relational operator. The `filters` query string includes the name of the application whose usage is returned in the report. The application values for the Users Usage Report include `accounts`, `chat`, `docs`, and `gmail`. Filters are in the form `[application name]:parameter name[parameter value],...`. In this example, the `<>` 'not equal to' operator is URL-encoded in the request's query string (%3C%3E): GET https://www.googleapis.com/admin/reports/v1/usage/users/all/dates/2013-03-03 ?parameters=accounts:last_login_time &filters=accounts:last_login_time%3C%3E2010-10-28T10:26:35.000Z The relational operators include: - `==` - 'equal to'. - `<>` - 'not equal to'. It is URL-encoded (%3C%3E). - `<` - 'less than'. It is URL-encoded (%3C). - `<=` - 'less than or equal to'. It is URL-encoded (%3C=). - `>` - 'greater than'. It is URL-encoded (%3E). - `>=` - 'greater than or equal to'. It is URL-encoded (%3E=). ",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "default": "1000",
              "maximum": "1000",
              "description": "Determines how many activity records are shown on each response page. For example, if the request sets `maxResults=1` and the report has two activities, the report has two pages. The response's `nextPageToken` property has the token to the second page. The `maxResults` query string is optional.",
              "minimum": "1",
              "type": "integer",
              "location": "query"
            },
            "groupIdFilter": {
              "location": "query",
              "type": "string",
              "description": "Comma separated group ids (obfuscated) on which user activities are filtered, i.e. the response will contain activities for only those users that are a part of at least one of the group ids mentioned here. Format: \"id:abc123,id:xyz456\"",
              "pattern": "(id:[a-z0-9]+(,id:[a-z0-9]+)*)"
            },
            "pageToken": {
              "type": "string",
              "description": "Token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. In your follow-on request getting the next page of the report, enter the `nextPageToken` value in the `pageToken` query string.",
              "location": "query"
            },
            "orgUnitID": {
              "description": "ID of the organizational unit to report on. User activity will be shown only for users who belong to the specified organizational unit. Data before Dec 17, 2018 doesn't appear in the filtered results.",
              "location": "query",
              "pattern": "(id:[a-z0-9]+)",
              "type": "string",
              "default": ""
            },
            "userKey": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Represents the profile ID or the user email for which the data should be filtered. Can be `all` for all information, or `userKey` for a user's unique Google Workspace profile ID or their primary email address. Must not be a deleted user. For a deleted user, call `users.list` in Directory API with `showDeleted=true`, then use the returned `ID` as the `userKey`."
            }
          },
          "id": "reports.userUsageReport.get",
          "path": "admin/reports/v1/usage/users/{userKey}/dates/{date}"
        }
      }
    },
    "entityUsageReports": {
      "methods": {
        "get": {
          "response": {
            "$ref": "UsageReports"
          },
          "description": "Retrieves a report which is a collection of properties and statistics for entities used by users within the account. For more information, see the Entities Usage Report guide. For more information about the entities report's parameters, see the Entities Usage parameters reference guides.",
          "httpMethod": "GET",
          "id": "reports.entityUsageReports.get",
          "path": "admin/reports/v1/usage/{entityType}/{entityKey}/dates/{date}",
          "parameterOrder": [
            "entityType",
            "entityKey",
            "date"
          ],
          "flatPath": "admin/reports/v1/usage/{entityType}/{entityKey}/dates/{date}",
          "parameters": {
            "customerId": {
              "description": "The unique ID of the customer to retrieve data for.",
              "location": "query",
              "type": "string",
              "pattern": "C.+|my_customer"
            },
            "parameters": {
              "location": "query",
              "type": "string",
              "description": "The `parameters` query string is a comma-separated list of event parameters that refine a report's results. The parameter is associated with a specific application. The application values for the Entities usage report are only `gplus`. A `parameter` query string is in the CSV form of `[app_name1:param_name1], [app_name2:param_name2]...`. *Note:* The API doesn't accept multiple values of a parameter. If a particular parameter is supplied more than once in the API request, the API only accepts the last value of that request parameter. In addition, if an invalid request parameter is supplied in the API request, the API ignores that request parameter and returns the response corresponding to the remaining valid request parameters. An example of an invalid request parameter is one that does not belong to the application. If no parameters are requested, all parameters are returned. ",
              "pattern": "(((gplus)):[^,]+,)*(((gplus)):[^,]+)"
            },
            "filters": {
              "description": "The `filters` query string is a comma-separated list of an application's event parameters where the parameter's value is manipulated by a relational operator. The `filters` query string includes the name of the application whose usage is returned in the report. The application values for the Entities usage report include `accounts`, `docs`, and `gmail`. Filters are in the form `[application name]:parameter name[parameter value],...`. In this example, the `<>` 'not equal to' operator is URL-encoded in the request's query string (%3C%3E): GET https://www.googleapis.com/admin/reports/v1/usage/gplus_communities/all/dates/2017-12-01 ?parameters=gplus:community_name,gplus:num_total_members &filters=gplus:num_total_members%3C%3E0 The relational operators include: - `==` - 'equal to'. - `<>` - 'not equal to'. It is URL-encoded (%3C%3E). - `<` - 'less than'. It is URL-encoded (%3C). - `<=` - 'less than or equal to'. It is URL-encoded (%3C=). - `>` - 'greater than'. It is URL-encoded (%3E). - `>=` - 'greater than or equal to'. It is URL-encoded (%3E=). Filters can only be applied to numeric parameters.",
              "location": "query",
              "pattern": "(((gplus)):[a-z0-9_]+[<,<=,==,>=,>,!=][^,]+,)*(((gplus)):[a-z0-9_]+[<,<=,==,>=,>,!=][^,]+)",
              "type": "string"
            },
            "entityKey": {
              "description": "Represents the key of the object to filter the data with. It is a string which can take the value `all` to get activity events for all users, or any other value for an app-specific entity. For details on how to obtain the `entityKey` for a particular `entityType`, see the Entities Usage parameters reference guides.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "default": "1000",
              "maximum": "1000",
              "location": "query",
              "description": "Determines how many activity records are shown on each response page. For example, if the request sets `maxResults=1` and the report has two activities, the report has two pages. The response's `nextPageToken` property has the token to the second page.",
              "minimum": "1",
              "format": "uint32",
              "type": "integer"
            },
            "date": {
              "required": true,
              "description": "Represents the date the usage occurred, based on UTC-8:00 (Pacific Standard Time). The timestamp is in the [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601), `yyyy-mm-dd`.",
              "location": "path",
              "type": "string",
              "pattern": "(\\d){4}-(\\d){2}-(\\d){2}"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. In your follow-on request getting the next page of the report, enter the `nextPageToken` value in the `pageToken` query string."
            },
            "entityType": {
              "enumDescriptions": [
                "Returns a report on Google+ communities."
              ],
              "description": "Represents the type of entity for the report.",
              "location": "path",
              "type": "string",
              "required": true,
              "enum": [
                "gplus_communities"
              ],
              "pattern": "(gplus_communities)"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.reports.usage.readonly"
          ]
        }
      }
    },
    "customerUsageReports": {
      "methods": {
        "get": {
          "path": "admin/reports/v1/usage/dates/{date}",
          "parameters": {
            "pageToken": {
              "description": "Token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. For your follow-on requests getting all of the report's pages, enter the `nextPageToken` value in the `pageToken` query string.",
              "type": "string",
              "location": "query"
            },
            "customerId": {
              "pattern": "C.+|my_customer",
              "location": "query",
              "description": "The unique ID of the customer to retrieve data for.",
              "type": "string"
            },
            "parameters": {
              "pattern": "(((accounts)|(app_maker)|(apps_scripts)|(chat)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)|(meet)):[^,]+,)*(((accounts)|(app_maker)|(apps_scripts)|(chat)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)|(meet)):[^,]+)",
              "type": "string",
              "description": "The `parameters` query string is a comma-separated list of event parameters that refine a report's results. The parameter is associated with a specific application. The application values for the Customers usage report include `accounts`, `app_maker`, `apps_scripts`, `calendar`, `chat`, `classroom`, `cros`, `docs`, `gmail`, `gplus`, `device_management`, `meet`, and `sites`. A `parameters` query string is in the CSV form of `app_name1:param_name1, app_name2:param_name2`. *Note:* The API doesn't accept multiple values of a parameter. If a particular parameter is supplied more than once in the API request, the API only accepts the last value of that request parameter. In addition, if an invalid request parameter is supplied in the API request, the API ignores that request parameter and returns the response corresponding to the remaining valid request parameters. An example of an invalid request parameter is one that does not belong to the application. If no parameters are requested, all parameters are returned. ",
              "location": "query"
            },
            "date": {
              "required": true,
              "description": "Represents the date the usage occurred, based on UTC-8:00 (Pacific Standard Time). The timestamp is in the [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601), `yyyy-mm-dd`.",
              "type": "string",
              "location": "path",
              "pattern": "(\\d){4}-(\\d){2}-(\\d){2}"
            }
          },
          "id": "reports.customerUsageReports.get",
          "flatPath": "admin/reports/v1/usage/dates/{date}",
          "description": "Retrieves a report which is a collection of properties and statistics for a specific customer's account. For more information, see the Customers Usage Report guide. For more information about the customer report's parameters, see the Customers Usage parameters reference guides. ",
          "response": {
            "$ref": "UsageReports"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "date"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.reports.usage.readonly"
          ]
        }
      }
    }
  },
  "version": "reports_v1",
  "ownerName": "Google",
  "rootUrl": "https://admin.googleapis.com/",
  "kind": "discovery#restDescription",
  "id": "admin:reports_v1",
  "revision": "20260929",
  "protocol": "rest",
  "canonicalName": "reports",
  "ownerDomain": "google.com",
  "title": "Admin SDK API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "packagePath": "admin"
}
