{
  "discoveryVersion": "v1",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    }
  },
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "schemas": {
    "ApplicationDataTransfer": {
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "type": "object",
      "properties": {
        "applicationTransferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "type": "array",
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference."
        },
        "applicationId": {
          "description": "The application's ID.",
          "type": "string",
          "format": "int64"
        },
        "applicationTransferStatus": {
          "type": "string",
          "description": "Read-only. Current status of transfer for this application."
        }
      },
      "id": "ApplicationDataTransfer"
    },
    "ApplicationTransferParam": {
      "type": "object",
      "description": "Template for application transfer parameters.",
      "properties": {
        "key": {
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`.",
          "type": "string"
        },
        "value": {
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ApplicationTransferParam"
    },
    "Application": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#ApplicationResource",
          "description": "Identifies the resource as a DataTransfer Application Resource."
        },
        "etag": {
          "type": "string",
          "description": "Etag of the resource."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method."
        },
        "name": {
          "description": "The application's name.",
          "type": "string"
        },
        "transferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
          "type": "array"
        }
      },
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "id": "Application",
      "type": "object"
    },
    "DataTransfer": {
      "properties": {
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "overallTransferStatusCode": {
          "description": "Read-only. Overall transfer status.",
          "type": "string"
        },
        "applicationDataTransfers": {
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer request.",
          "type": "string",
          "default": "admin#datatransfer#DataTransfer"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "requestTime": {
          "description": "Read-only. The time at which the data transfer was requested.",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataTransfer",
      "description": "A Transfer resource represents the transfer of the ownership of user data between users."
    },
    "ApplicationsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a collection of Applications.",
          "default": "admin#datatransfer#applicationsList"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "applications": {
          "type": "array",
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "items": {
            "$ref": "Application"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      },
      "id": "ApplicationsListResponse",
      "description": "Template for a collection of Applications."
    },
    "DataTransfersListResponse": {
      "id": "DataTransfersListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies the resource as a collection of data transfer requests.",
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "dataTransfers": {
          "items": {
            "$ref": "DataTransfer"
          },
          "type": "array",
          "description": "List of data transfer requests."
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      },
      "description": "Template for a collection of DataTransfer resources."
    }
  },
  "revision": "20260929",
  "rootUrl": "https://admin.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "admin:datatransfer_v1",
  "canonicalName": "DataTransfer",
  "protocol": "rest",
  "version": "datatransfer_v1",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "resources": {
    "applications": {
      "methods": {
        "get": {
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "description": "Retrieves information about an application for the given application ID.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.applications.get",
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "Application"
          },
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "httpMethod": "GET",
          "parameters": {
            "applicationId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "ID of the application resource to be retrieved."
            }
          }
        },
        "list": {
          "description": "Lists the applications available for data transfer for a customer.",
          "path": "admin/datatransfer/v1/applications",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "flatPath": "admin/datatransfer/v1/applications",
          "id": "datatransfer.applications.list",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Token to specify next page in the list.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "maximum": "500",
              "description": "Maximum number of results to return. Default is 100.",
              "format": "int32",
              "location": "query",
              "minimum": "1"
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": []
        }
      }
    },
    "transfers": {
      "methods": {
        "insert": {
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "parameterOrder": [],
          "flatPath": "admin/datatransfer/v1/transfers",
          "request": {
            "$ref": "DataTransfer"
          },
          "response": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "path": "admin/datatransfer/v1/transfers",
          "id": "datatransfer.transfers.insert",
          "httpMethod": "POST",
          "parameters": {}
        },
        "get": {
          "response": {
            "$ref": "DataTransfer"
          },
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "description": "Retrieves a data transfer request by its resource ID.",
          "id": "datatransfer.transfers.get",
          "httpMethod": "GET",
          "parameters": {
            "dataTransferId": {
              "location": "path",
              "type": "string",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "required": true
            }
          },
          "parameterOrder": [
            "dataTransferId"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "newOwnerUserId": {
              "type": "string",
              "location": "query",
              "description": "Destination user's profile ID."
            },
            "oldOwnerUserId": {
              "type": "string",
              "location": "query",
              "description": "Source user's profile ID."
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Immutable ID of the Google Workspace account."
            },
            "status": {
              "description": "Status of the transfer.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Token to specify the next page in the list.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "maximum": "500",
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "format": "int32",
              "description": "Maximum number of results to return. Default is 100."
            }
          },
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "flatPath": "admin/datatransfer/v1/transfers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.transfers.list",
          "path": "admin/datatransfer/v1/transfers",
          "description": "Lists the transfers for a customer by source user, destination user, or status."
        }
      }
    }
  },
  "batchPath": "batch",
  "packagePath": "admin",
  "baseUrl": "https://admin.googleapis.com/",
  "basePath": "",
  "name": "admin",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "title": "Admin SDK API",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        }
      }
    }
  },
  "ownerDomain": "google.com"
}
