{
  "baseUrl": "https://alertcenter.googleapis.com/",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "AlertCenter",
  "title": "Google Workspace Alert Center API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.alerts": {
          "description": "See and delete your domain's Google Workspace alerts, and send alert feedback"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "rootUrl": "https://alertcenter.googleapis.com/",
  "resources": {
    "v1beta1": {
      "methods": {
        "getSettings": {
          "flatPath": "v1beta1/settings",
          "path": "v1beta1/settings",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {
            "customerId": {
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must/ have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "Settings"
          },
          "id": "alertcenter.getSettings",
          "description": "Returns customer-level settings."
        },
        "updateSettings": {
          "parameters": {
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Settings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "request": {
            "$ref": "Settings"
          },
          "id": "alertcenter.updateSettings",
          "httpMethod": "PATCH",
          "path": "v1beta1/settings",
          "description": "Updates the customer-level settings.",
          "parameterOrder": [],
          "flatPath": "v1beta1/settings"
        }
      }
    },
    "alerts": {
      "resources": {
        "feedback": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "response": {
                "$ref": "AlertFeedback"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "parameters": {
                "alertId": {
                  "type": "string",
                  "description": "Required. The identifier of the alert this feedback belongs to.",
                  "required": true,
                  "location": "path"
                },
                "customerId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
                }
              },
              "parameterOrder": [
                "alertId"
              ],
              "id": "alertcenter.alerts.feedback.create",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "request": {
                "$ref": "AlertFeedback"
              },
              "description": "Creates new feedback for an alert. Attempting to create a feedback for a non-existent alert returns `NOT_FOUND` error. Attempting to create a feedback for an alert that is marked for deletion returns `FAILED_PRECONDITION' error."
            },
            "list": {
              "response": {
                "$ref": "ListAlertFeedbackResponse"
              },
              "path": "v1beta1/alerts/{alertId}/feedback",
              "parameterOrder": [
                "alertId"
              ],
              "description": "Lists all the feedback for an alert. Attempting to list feedbacks for a non-existent alert returns `NOT_FOUND` error.",
              "httpMethod": "GET",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
                  "location": "query"
                },
                "alertId": {
                  "description": "Required. The alert identifier. The \"-\" wildcard could be used to represent all alerts.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. A query string for filtering alert feedback results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.feedback.list).",
                  "type": "string"
                }
              },
              "id": "alertcenter.alerts.feedback.list",
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ]
            }
          }
        }
      },
      "methods": {
        "undelete": {
          "response": {
            "$ref": "Alert"
          },
          "parameters": {
            "alertId": {
              "location": "path",
              "description": "Required. The identifier of the alert to undelete.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "alertId"
          ],
          "path": "v1beta1/alerts/{alertId}:undelete",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "httpMethod": "POST",
          "description": "Restores, or \"undeletes\", an alert that was marked for deletion within the past 30 days. Attempting to undelete an alert which was marked for deletion over 30 days ago (which has been removed from the Alert Center database) or a nonexistent alert returns a `NOT_FOUND` error. Attempting to undelete an alert which has not been marked for deletion has no effect.",
          "id": "alertcenter.alerts.undelete",
          "flatPath": "v1beta1/alerts/{alertId}:undelete",
          "request": {
            "$ref": "UndeleteAlertRequest"
          }
        },
        "list": {
          "flatPath": "v1beta1/alerts",
          "id": "alertcenter.alerts.list",
          "description": "Lists the alerts.",
          "path": "v1beta1/alerts",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameterOrder": [],
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The requested page size. Server may return fewer items than requested. If unspecified, server picks an appropriate default.",
              "format": "int32",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. A query string for filtering alert results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.list)."
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Optional. The sort order of the list results. If not specified results may be returned in arbitrary order. You can sort the results in descending order based on the creation timestamp using `order_by=\"create_time desc\"`. Currently, supported sorting are `create_time asc`, `create_time desc`, `update_time desc`"
            },
            "pageToken": {
              "description": "Optional. A token identifying a page of results the server should return. If empty, a new iteration is started. To continue an iteration, pass in the value from the previous ListAlertsResponse's next_page_token field.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListAlertsResponse"
          },
          "httpMethod": "GET"
        },
        "batchUndelete": {
          "parameterOrder": [],
          "id": "alertcenter.alerts.batchUndelete",
          "flatPath": "v1beta1/alerts:batchUndelete",
          "request": {
            "$ref": "BatchUndeleteAlertsRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "BatchUndeleteAlertsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {},
          "path": "v1beta1/alerts:batchUndelete",
          "description": "Performs batch undelete operation on alerts."
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "description": "Marks the specified alert for deletion. An alert that has been marked for deletion is removed from Alert Center after 30 days. Marking an alert for deletion has no effect on an alert which has already been marked for deletion. Attempting to mark a nonexistent alert for deletion results in a `NOT_FOUND` error.",
          "id": "alertcenter.alerts.delete",
          "path": "v1beta1/alerts/{alertId}",
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query"
            },
            "alertId": {
              "description": "Required. The identifier of the alert to delete.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "flatPath": "v1beta1/alerts/{alertId}",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameterOrder": [
            "alertId"
          ]
        },
        "batchDelete": {
          "flatPath": "v1beta1/alerts:batchDelete",
          "request": {
            "$ref": "BatchDeleteAlertsRequest"
          },
          "httpMethod": "POST",
          "description": "Performs batch delete operation on alerts.",
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "BatchDeleteAlertsResponse"
          },
          "path": "v1beta1/alerts:batchDelete",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.alerts.batchDelete"
        },
        "get": {
          "response": {
            "$ref": "Alert"
          },
          "description": "Gets the specified alert. Attempting to get a nonexistent alert returns `NOT_FOUND` error.",
          "id": "alertcenter.alerts.get",
          "httpMethod": "GET",
          "flatPath": "v1beta1/alerts/{alertId}",
          "parameters": {
            "alertId": {
              "location": "path",
              "description": "Required. The identifier of the alert to retrieve.",
              "type": "string",
              "required": true
            },
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "alertId"
          ],
          "path": "v1beta1/alerts/{alertId}",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ]
        },
        "getMetadata": {
          "path": "v1beta1/alerts/{alertId}/metadata",
          "id": "alertcenter.alerts.getMetadata",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "AlertMetadata"
          },
          "description": "Returns the metadata of an alert. Attempting to get metadata for a non-existent alert returns `NOT_FOUND` error.",
          "flatPath": "v1beta1/alerts/{alertId}/metadata",
          "parameterOrder": [
            "alertId"
          ],
          "parameters": {
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert metadata is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string",
              "location": "query"
            },
            "alertId": {
              "required": true,
              "description": "Required. The identifier of the alert this metadata belongs to.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        }
      }
    }
  },
  "batchPath": "batch",
  "schemas": {
    "SuperAdminPasswordResetEvent": {
      "id": "SuperAdminPasswordResetEvent",
      "description": "Event occurred when password was reset for super admin in customer's account. The event are being received from insight forwarder",
      "type": "object",
      "properties": {
        "userEmail": {
          "type": "string",
          "description": "email of person whose password was reset"
        }
      }
    },
    "GmailMessageInfo": {
      "type": "object",
      "properties": {
        "date": {
          "type": "string",
          "description": "The date of the event related to this email.",
          "format": "google-datetime"
        },
        "md5HashMessageBody": {
          "type": "string",
          "description": "The hash of the message body text."
        },
        "md5HashSubject": {
          "type": "string",
          "description": "The MD5 Hash of email's subject (only available for reported emails)."
        },
        "recipient": {
          "description": "The recipient of this email.",
          "type": "string"
        },
        "messageBodySnippet": {
          "description": "The snippet of the message body text (only available for reported emails).",
          "type": "string"
        },
        "messageId": {
          "type": "string",
          "description": "The message ID."
        },
        "sentTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The sent time of the email."
        },
        "subjectText": {
          "description": "The email subject text (only available for reported emails).",
          "type": "string"
        },
        "attachmentsSha256Hash": {
          "items": {
            "type": "string"
          },
          "description": "The `SHA256` hash of email's attachment and all MIME parts.",
          "type": "array"
        }
      },
      "id": "GmailMessageInfo",
      "description": "Details of a message in phishing spike alert."
    },
    "MaliciousEntity": {
      "id": "MaliciousEntity",
      "type": "object",
      "properties": {
        "fromHeader": {
          "description": "The sender email address.",
          "type": "string"
        },
        "entity": {
          "description": "The actor who triggered a gmail phishing alert.",
          "$ref": "User"
        },
        "displayName": {
          "type": "string",
          "description": "The header from display name."
        }
      },
      "description": "Entity whose actions triggered a Gmail phishing alert."
    },
    "Notification": {
      "type": "object",
      "id": "Notification",
      "description": "Settings for callback notifications. For more details see [Google Workspace Alert Notification](https://developers.google.com/workspace/admin/alertcenter/guides/notifications).",
      "properties": {
        "cloudPubsubTopic": {
          "description": "A Google Cloud Pub/sub topic destination.",
          "$ref": "CloudPubsubTopic"
        }
      }
    },
    "AccessApproval": {
      "id": "AccessApproval",
      "properties": {
        "tickets": {
          "description": "Support tickets related to this Access Approvals request. Populated if there is an associated case number.",
          "items": {
            "$ref": "SupportTicket"
          },
          "type": "array"
        },
        "products": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Products within scope of the Access Approvals request."
        },
        "scope": {
          "description": "Scope of access, also known as a resource. This is further narrowed down by the product field.",
          "type": "string"
        },
        "requestId": {
          "description": "ID of the Access Approvals request. This is a helpful field when requesting support from Google.",
          "type": "string"
        },
        "officeLocation": {
          "description": "Office location of Google staff requesting access such as \"US\".",
          "type": "string"
        },
        "justificationReason": {
          "description": "Justification for data access based on justification enums.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Justification unspecified",
              "Customer Initiated Support",
              "Google Initiated Review",
              "Google Initiated Service",
              "Third Party Data Request",
              "Google Response to Production Alert"
            ],
            "enum": [
              "JUSTIFICATION_UNSPECIFIED",
              "CUSTOMER_INITIATED_SUPPORT",
              "GOOGLE_INITIATED_REVIEW",
              "GOOGLE_INITIATED_SERVICE",
              "THIRD_PARTY_DATA_REQUEST",
              "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT"
            ]
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Alert that is triggered when Google support requests to access customer data."
    },
    "Attachment": {
      "properties": {
        "csv": {
          "$ref": "Csv",
          "description": "A CSV file attachment."
        }
      },
      "description": "Attachment with application-specific information about an alert.",
      "id": "Attachment",
      "type": "object"
    },
    "MailPhishing": {
      "type": "object",
      "properties": {
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "isInternal": {
          "type": "boolean",
          "description": "If `true`, the email originated from within the organization."
        },
        "systemActionType": {
          "enumDescriptions": [
            "System action is unspecified.",
            "No operation.",
            "Messages were removed from the inbox."
          ],
          "enum": [
            "SYSTEM_ACTION_TYPE_UNSPECIFIED",
            "NO_OPERATION",
            "REMOVED_FROM_INBOX"
          ],
          "description": "System actions on the messages.",
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "description": "The list of messages contained by this alert."
        }
      },
      "description": "Proto for all phishing alerts with common payload. Supported types are any of the following: * User reported phishing * User reported spam spike * Suspicious message reported * Phishing reclassification * Malware reclassification * Gmail potential employee spoofing",
      "id": "MailPhishing"
    },
    "UserDefinedDetectorInfo": {
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "Resource name that uniquely identifies the detector.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the detector."
        }
      },
      "description": "Detector defined by administrators.",
      "id": "UserDefinedDetectorInfo"
    },
    "Entity": {
      "id": "Entity",
      "type": "object",
      "description": "Individual entity affected by, or related to, an alert.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Human-readable name of this entity, such as an email address, file ID, or device name."
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Extra values beyond name. The order of values should align with headers in EntityList."
        },
        "link": {
          "description": "Link to a Security Investigation Tool search based on this entity, if available.",
          "type": "string"
        }
      }
    },
    "AccountSuspensionDetails": {
      "type": "object",
      "description": "Details about why an account is receiving an account suspension warning.",
      "properties": {
        "abuseReason": {
          "enumDescriptions": [
            "Abuse reason is unspecified.",
            "This account is being suspended for a Terms of Service violation.",
            "This account is being suspended for spam.",
            "This account is being suspended for phishing.",
            "This account is being suspended for artificially boosting traffic to a website.",
            "This account is being suspended for fraud.",
            "This account is being suspended for number harvesting.",
            "This account is being suspended for payments fraud.",
            "This account is being suspended for unwanted content.",
            "This account is being suspended for being an unqualified educational institution."
          ],
          "enum": [
            "ACCOUNT_SUSPENSION_ABUSE_REASON_UNSPECIFIED",
            "TOS_VIOLATION",
            "SPAM",
            "PHISHING",
            "TRAFFIC_PUMPING",
            "FRAUD",
            "NUMBER_HARVESTING",
            "PAYMENTS_FRAUD",
            "UNWANTED_CONTENT",
            "UNQUALIFIED_EDU"
          ],
          "description": "The reason why this account is receiving an account suspension warning.",
          "type": "string"
        },
        "productName": {
          "description": "The name of the product being abused. This is restricted to only the following values: \"Gmail\" \"Google Workspace\" \"Payments\" \"Voice\" \"YouTube\" \"Other\"",
          "type": "string"
        }
      },
      "id": "AccountSuspensionDetails"
    },
    "ReportingRule": {
      "properties": {
        "query": {
          "type": "string",
          "format": "byte",
          "description": "Alert Rule query Sample Query query { condition { filter { expected_application_id: 777491262838 expected_event_name: \"indexable_content_change\" filter_op: IN } } conjunction_operator: OR }"
        },
        "alertDetails": {
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "type": "string",
          "format": "byte"
        },
        "name": {
          "description": "Rule name",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Alerts from Reporting Rules configured by Admin.",
      "id": "ReportingRule"
    },
    "BatchDeleteAlertsRequest": {
      "id": "BatchDeleteAlertsRequest",
      "description": "A request to perform batch delete on alerts.",
      "type": "object",
      "properties": {
        "alertId": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of alert IDs to delete.",
          "type": "array"
        },
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        }
      }
    },
    "ResourceInfo": {
      "description": "Proto that contains resource information.",
      "id": "ResourceInfo",
      "properties": {
        "documentId": {
          "type": "string",
          "description": "Drive file ID."
        },
        "resourceTitle": {
          "description": "Title of the resource, for example email subject, or document title.",
          "type": "string"
        },
        "chatAttachmentId": {
          "type": "string",
          "description": "Chat attachment ID."
        },
        "messageId": {
          "description": "RFC2822 message ID.",
          "type": "string"
        },
        "chatMessageId": {
          "type": "string",
          "description": "Chat message ID."
        },
        "deviceId": {
          "description": "Id to identify a device. For example, for Android devices, this is the \"Android Device Id\" and for Chrome OS devices, it's the \"Device Virtual Id\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PredefinedDetectorInfo": {
      "id": "PredefinedDetectorInfo",
      "description": "Detector provided by Google.",
      "type": "object",
      "properties": {
        "detectorName": {
          "type": "string",
          "description": "Name that uniquely identifies the detector."
        }
      }
    },
    "SuspiciousActivitySecurityDetail": {
      "type": "object",
      "id": "SuspiciousActivitySecurityDetail",
      "properties": {
        "newValue": {
          "type": "string",
          "description": "The new value of the device property after the change."
        },
        "deviceProperty": {
          "description": "The device property which was changed.",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "oldValue": {
          "type": "string",
          "description": "The old value of the device property before the change."
        }
      },
      "description": "Detailed information of a single MDM suspicious activity event."
    },
    "BatchUndeleteAlertsRequest": {
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        },
        "alertId": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of alert IDs to undelete.",
          "type": "array"
        }
      },
      "description": "A request to perform batch undelete on alerts.",
      "id": "BatchUndeleteAlertsRequest",
      "type": "object"
    },
    "DomainWideTakeoutInitiated": {
      "type": "object",
      "properties": {
        "takeoutRequestId": {
          "description": "The takeout request ID.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email of the admin who initiated the takeout."
        }
      },
      "id": "DomainWideTakeoutInitiated",
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived from audit logs."
    },
    "PrimaryAdminChangedEvent": {
      "id": "PrimaryAdminChangedEvent",
      "description": "Event occurred when primary admin changed in customer's account. The event are being received from insight forwarder",
      "type": "object",
      "properties": {
        "updatedAdminEmail": {
          "type": "string",
          "description": "Email of person who is the primary admin after the action"
        },
        "domain": {
          "description": "domain in which actioned occurred",
          "type": "string"
        },
        "previousAdminEmail": {
          "description": "Email of person who was the primary admin before the action",
          "type": "string"
        }
      }
    },
    "DeviceCompromised": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user this alert was created for."
        },
        "events": {
          "items": {
            "$ref": "DeviceCompromisedSecurityDetail"
          },
          "description": "Required. The list of security events.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A mobile device compromised alert. Derived from audit logs.",
      "id": "DeviceCompromised"
    },
    "VoiceMisconfiguration": {
      "type": "object",
      "description": "An alert triggered when Google Voice configuration becomes invalid, generally due to an external entity being modified or deleted.",
      "properties": {
        "membersMisconfiguration": {
          "$ref": "TransferMisconfiguration",
          "description": "Issue(s) with members of a ring group."
        },
        "fixUri": {
          "description": "Link that the admin can follow to fix the issue.",
          "type": "string"
        },
        "transferMisconfiguration": {
          "description": "Issue(s) with transferring or forwarding to an external entity.",
          "$ref": "TransferMisconfiguration"
        },
        "voicemailMisconfiguration": {
          "description": "Issue(s) with sending to voicemail.",
          "$ref": "VoicemailMisconfiguration"
        },
        "entityName": {
          "description": "Name of the entity whose configuration is now invalid.",
          "type": "string"
        },
        "entityType": {
          "type": "string",
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "AUTO_ATTENDANT",
            "RING_GROUP"
          ],
          "description": "Type of the entity whose configuration is now invalid.",
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Invalid auto attendant.",
            "Invalid ring group."
          ]
        }
      },
      "id": "VoiceMisconfiguration"
    },
    "User": {
      "type": "object",
      "id": "User",
      "properties": {
        "emailAddress": {
          "description": "Email address of the user.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the user."
        }
      },
      "description": "A user."
    },
    "BatchDeleteAlertsResponse": {
      "description": "Response to batch delete operation on alerts.",
      "properties": {
        "failedAlertStatus": {
          "description": "The status details for each failed `alert_id`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          }
        },
        "successAlertIds": {
          "type": "array",
          "description": "The successful list of alert IDs.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchDeleteAlertsResponse",
      "type": "object"
    },
    "DriveSyncStateChanged": {
      "properties": {
        "syncPauseStartTime": {
          "format": "google-datetime",
          "description": "Time at which sync was paused.",
          "type": "string"
        },
        "email": {
          "description": "Email of the user affected.",
          "type": "string"
        },
        "syncStateChangeReason": {
          "description": "The reason for the sync state change.",
          "enum": [
            "SYNC_STATE_CHANGE_REASON_UNSPECIFIED",
            "UNUSUAL_ACTIVITY",
            "USER_FEEDBACK_TRUE_POSITIVE",
            "USER_FEEDBACK_FALSE_POSITIVE"
          ],
          "enumDescriptions": [
            "Unspecified state change reason",
            "Sync state was changed due to unusual activity, such as potential ransomware",
            "The user provided feedback indicating that the initial sync state change may have been caused by unexpected activity",
            "The user provided feedback indicating that the initial sync state change may have been caused by a false positive"
          ],
          "type": "string"
        },
        "syncState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state",
            "Sync is paused",
            "Sync is resumed"
          ],
          "description": "The current sync state.",
          "enum": [
            "SYNC_STATE_UNSPECIFIED",
            "PAUSED",
            "RESUMED"
          ]
        }
      },
      "description": "Alerts for when a user is restricted from syncing content from clients such as Drive for Desktop.",
      "id": "DriveSyncStateChanged",
      "type": "object"
    },
    "ActivityRule": {
      "id": "ActivityRule",
      "description": "Alerts from Google Workspace Security Center rules service configured by an admin.",
      "properties": {
        "actionNames": {
          "type": "array",
          "description": "List of action names associated with the rule threshold.",
          "items": {
            "type": "string"
          }
        },
        "supersededAlerts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of alert IDs superseded by this alert. It is used to indicate that this alert is essentially extension of superseded alerts and we found the relationship after creating these alerts."
        },
        "displayName": {
          "type": "string",
          "description": "Alert display name."
        },
        "supersedingAlert": {
          "type": "string",
          "description": "Alert ID superseding this alert. It is used to indicate that superseding alert is essentially extension of this alert and we found the relationship after creating both alerts."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Rule create timestamp."
        },
        "description": {
          "description": "Description of the rule.",
          "type": "string"
        },
        "updateTime": {
          "description": "The timestamp of the last update to the rule.",
          "format": "google-datetime",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Query that is used to get the data from the associated source."
        },
        "windowSize": {
          "type": "string",
          "format": "google-duration",
          "description": "Rule window size. Possible values are 1 hour or 24 hours."
        },
        "name": {
          "description": "Rule name.",
          "type": "string"
        },
        "triggerSource": {
          "description": "The trigger sources for this rule. * GMAIL_EVENTS * DEVICE_EVENTS * USER_EVENTS",
          "type": "string"
        },
        "threshold": {
          "type": "string",
          "description": "Alert threshold is for example “COUNT > 5”."
        }
      },
      "type": "object"
    },
    "DeviceCompromisedSecurityDetail": {
      "description": "Detailed information of a single MDM device compromised event.",
      "type": "object",
      "properties": {
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "deviceCompromisedState": {
          "description": "The device compromised state. Possible values are \"`Compromised`\" or \"`Not Compromised`\".",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        }
      },
      "id": "DeviceCompromisedSecurityDetail"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "RequestInfo": {
      "properties": {
        "appDeveloperEmail": {
          "description": "List of app developers who triggered notifications for above application.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "numberOfRequests": {
          "type": "string",
          "description": "Required. Number of requests sent for this application to set up default SQL instance.",
          "format": "int64"
        },
        "appKey": {
          "description": "Required. The application that requires the SQL setup.",
          "type": "string"
        }
      },
      "id": "RequestInfo",
      "type": "object",
      "description": "Requests for one application that needs default SQL setup."
    },
    "BadWhitelist": {
      "description": "Alert for setting the domain or IP that malicious email comes from as whitelisted domain or IP in Gmail advanced settings.",
      "properties": {
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "description": "The list of messages contained by this alert."
        },
        "sourceIp": {
          "description": "The source IP address of the malicious email, for example, `127.0.0.1`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BadWhitelist"
    },
    "ActionInfo": {
      "properties": {
        "evidenceLockerFilePath": {
          "type": "string",
          "description": "Google Cloud Storage location of the content that violated the rule. This field has format: \"/\""
        }
      },
      "id": "ActionInfo",
      "type": "object",
      "description": "Metadata related to the action."
    },
    "RuleViolationInfo": {
      "description": "Common alert information about violated rules that are configured by Google Workspace administrators.",
      "properties": {
        "eventType": {
          "type": "string",
          "description": "Event associated with this alert after applying the rule.",
          "enumDescriptions": [
            "Event type wasn't set.",
            "An access attempt was blocked.",
            "A sharing attempt was blocked."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ACCESS_BLOCKED",
            "SHARING_BLOCKED"
          ]
        },
        "trigger": {
          "type": "string",
          "description": "Trigger of the rule.",
          "enumDescriptions": [
            "Trigger is unspecified.",
            "A Drive file is shared.",
            "An email message is sent.",
            "A file being downloaded in a Chrome browser.",
            "A file being uploaded from a Chrome browser.",
            "Web content being uploaded from a Chrome browser.",
            "A Chat message is sent.",
            "A Chat attachment is uploaded.",
            "A page is being printed by Chrome.",
            "A URL is visited within Chrome.",
            "A file being transferred (copy or moved) between different file systems on ChromeOS.",
            "Gemini access.",
            "Agent execution.",
            "Text copied from Chrome.",
            "Network request from Chrome."
          ],
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "DRIVE_SHARE",
            "MAIL_BEING_SENT",
            "CHROME_FILE_DOWNLOAD",
            "CHROME_FILE_UPLOAD",
            "CHROME_WEB_CONTENT_UPLOAD",
            "CHAT_MESSAGE_SENT",
            "CHAT_ATTACHMENT_UPLOADED",
            "CHROME_PAGE_PRINT",
            "CHROME_URL_VISITED",
            "CHROMEOS_FILE_TRANSFER",
            "GEMINI_ACCESS",
            "AGENT_EXECUTION",
            "CHROME_DATA_COPIED",
            "CHROME_NETWORK_REQUEST"
          ]
        },
        "ruleInfo": {
          "$ref": "RuleInfo",
          "description": "Details of the violated rule."
        },
        "triggeredActionInfo": {
          "items": {
            "$ref": "ActionInfo"
          },
          "type": "array",
          "description": "Metadata related to the triggered actions."
        },
        "dataSource": {
          "enumDescriptions": [
            "Data source is unspecified.",
            "Drive data source.",
            "Gmail data source.",
            "Chrome data source.",
            "Chat data source."
          ],
          "enum": [
            "DATA_SOURCE_UNSPECIFIED",
            "DRIVE",
            "GMAIL",
            "CHROME",
            "CHAT"
          ],
          "type": "string",
          "description": "Source of the data."
        },
        "matchInfo": {
          "description": "List of matches that were found in the resource content.",
          "items": {
            "$ref": "MatchInfo"
          },
          "type": "array"
        },
        "recipients": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Resource recipients. For Drive, they are grantees that the Drive file was shared with at the time of rule triggering. Valid values include user emails, group emails, domains, or 'anyone' if the file was publicly accessible. If the file was private the recipients list will be empty. For Gmail, they are emails of the users or groups that the Gmail message was sent to."
        },
        "suppressedActionTypes": {
          "description": "Actions suppressed due to other actions with higher priority.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Keep in managed Chrome.",
              "Block text copied from Chrome.",
              "Warn on text copied from Chrome.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "CHROME_KEEP_IN_MANAGED_CHROME",
              "CHROME_BLOCK_DATA_COPIED",
              "CHROME_WARN_DATA_COPIED",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ]
          },
          "type": "array"
        },
        "triggeringUserEmail": {
          "type": "string",
          "description": "Email of the user who caused the violation. Value could be empty if not applicable, for example, a violation found by drive continuous scan."
        },
        "agentType": {
          "enum": [
            "AGENT_TYPE_UNSPECIFIED",
            "STUDIO",
            "WORK_AGENT"
          ],
          "description": "Optional. Agent type that triggered the rule.",
          "enumDescriptions": [
            "Unspecified agent type.",
            "Studio agent type.",
            "Work Agent agent type."
          ],
          "type": "string"
        },
        "resourceInfo": {
          "$ref": "ResourceInfo",
          "description": "Details of the resource which violated the rule."
        },
        "triggeredActionTypes": {
          "type": "array",
          "description": "Actions applied as a consequence of the rule being triggered.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Keep in managed Chrome.",
              "Block text copied from Chrome.",
              "Warn on text copied from Chrome.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "CHROME_KEEP_IN_MANAGED_CHROME",
              "CHROME_BLOCK_DATA_COPIED",
              "CHROME_WARN_DATA_COPIED",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ]
          }
        }
      },
      "id": "RuleViolationInfo",
      "type": "object"
    },
    "AccountWarning": {
      "type": "object",
      "id": "AccountWarning",
      "description": "Alerts for user account warning events.",
      "properties": {
        "email": {
          "description": "Required. The email of the user that this event belongs to.",
          "type": "string"
        },
        "loginDetails": {
          "$ref": "LoginDetails",
          "description": "Optional. Details of the login action associated with the warning event. This is only available for: * Suspicious login * Suspicious login (less secure app) * Suspicious programmatic login * User suspended (suspicious activity)"
        }
      }
    },
    "LoginDetails": {
      "id": "LoginDetails",
      "type": "object",
      "description": "The details of the login action.",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Optional. The human-readable IP address (for example, `11.22.33.44`) that is associated with the warning event."
        },
        "loginTime": {
          "description": "Optional. The successful login time that is associated with the warning event. This isn't present for blocked login attempts.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "MatchInfo": {
      "description": "Proto that contains match information from the condition part of the rule.",
      "id": "MatchInfo",
      "properties": {
        "userDefinedDetector": {
          "description": "For matched detector defined by administrators.",
          "$ref": "UserDefinedDetectorInfo"
        },
        "predefinedDetector": {
          "$ref": "PredefinedDetectorInfo",
          "description": "For matched detector predefined by Google."
        }
      },
      "type": "object"
    },
    "DomainId": {
      "type": "object",
      "id": "DomainId",
      "properties": {
        "customerPrimaryDomain": {
          "description": "The primary domain for the customer.",
          "type": "string"
        }
      },
      "description": "Domain ID of Gmail phishing alerts."
    },
    "SSOProfileDeletedEvent": {
      "type": "object",
      "id": "SSOProfileDeletedEvent",
      "description": "Event occurred when SSO Profile deleted in customer's account. The event are being received from insight forwarder",
      "properties": {
        "inboundSsoProfileName": {
          "description": "sso profile name which got deleted",
          "type": "string"
        }
      }
    },
    "StateSponsoredAttack": {
      "properties": {
        "email": {
          "description": "The email of the user this incident was created for.",
          "type": "string"
        }
      },
      "description": "A state-sponsored attack alert. Derived from audit logs.",
      "id": "StateSponsoredAttack",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "UserChanges": {
      "description": "Alerts from UserChanges bucket Rules for predefined rules which contain the following rules: - Suspended user made active - New user added - User suspended (by admin) - User granted admin privileges - User admin privileges revoked - User deleted - Users password changed",
      "type": "object",
      "id": "UserChanges",
      "properties": {
        "name": {
          "description": "Rule name",
          "type": "string"
        }
      }
    },
    "AlertFeedback": {
      "description": "A customer feedback about an alert.",
      "id": "AlertFeedback",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The type of the feedback.",
          "enumDescriptions": [
            "The feedback type is not specified.",
            "The alert report is not useful.",
            "The alert report is somewhat useful.",
            "The alert report is very useful."
          ],
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ]
        },
        "email": {
          "type": "string",
          "description": "Output only. The email of the user that provided the feedback."
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The alert identifier."
        },
        "feedbackId": {
          "type": "string",
          "description": "Output only. The unique identifier for the feedback."
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this feedback was created.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "AppsOutage": {
      "description": "An outage incident reported for a Google Workspace service.",
      "id": "AppsOutage",
      "type": "object",
      "properties": {
        "products": {
          "type": "array",
          "description": "List of products impacted by the outage.",
          "items": {
            "type": "string"
          }
        },
        "dashboardUri": {
          "description": "Link to the outage event in Google Workspace Status Dashboard",
          "type": "string"
        },
        "resolutionTime": {
          "description": "Timestamp when the outage is expected to be resolved, or has confirmed resolution. Provided only when known.",
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "NEW",
            "ONGOING",
            "RESOLVED",
            "FALSE_POSITIVE",
            "PARTIALLY_RESOLVED",
            "MERGED",
            "DOWNGRADED"
          ],
          "type": "string",
          "description": "Current outage status.",
          "enumDescriptions": [
            "Status is unspecified.",
            "The incident has just been reported.",
            "The incident is ongoing.",
            "The incident has been resolved.",
            "Further assessment indicated no customer impact.",
            "The incident has been partially resolved.",
            "The incident was merged into a parent.",
            "The incident has lower impact than initially anticipated."
          ]
        },
        "nextUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp by which the next update is expected to arrive."
        },
        "incidentTrackingId": {
          "description": "Incident tracking ID.",
          "type": "string"
        },
        "mergeInfo": {
          "description": "Indicates new alert details under which the outage is communicated. Only populated when Status is MERGED.",
          "$ref": "MergeInfo"
        }
      }
    },
    "PhishingSpike": {
      "id": "PhishingSpike",
      "properties": {
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "description": "The list of messages contained by this alert."
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        }
      },
      "type": "object",
      "description": "Alert for a spike in user reported phishing. *Warning*: This type has been deprecated. Use [MailPhishing](https://developers.google.com/workspace/admin/alertcenter/reference/rest/v1beta1/MailPhishing) instead."
    },
    "Settings": {
      "properties": {
        "notifications": {
          "description": "The list of notifications.",
          "items": {
            "$ref": "Notification"
          },
          "type": "array"
        }
      },
      "description": "Customer-level settings.",
      "id": "Settings",
      "type": "object"
    },
    "GoogleOperations": {
      "type": "object",
      "id": "GoogleOperations",
      "properties": {
        "attachmentData": {
          "$ref": "Attachment",
          "description": "Optional. Application-specific data for an incident, provided when the Google Workspace application which reported the incident cannot be completely restored to a valid state."
        },
        "description": {
          "description": "A detailed, freeform incident description.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "A one-line incident description."
        },
        "affectedUserEmails": {
          "type": "array",
          "description": "The list of emails which correspond to the users directly affected by the incident.",
          "items": {
            "type": "string"
          }
        },
        "header": {
          "description": "A header to display above the incident message. Typically used to attach a localized notice on the timeline for followup comms translations.",
          "type": "string"
        },
        "domain": {
          "description": "Customer domain for email template personalization.",
          "type": "string"
        }
      },
      "description": "An incident reported by Google Operations for a Google Workspace application."
    },
    "MergeInfo": {
      "properties": {
        "newIncidentTrackingId": {
          "description": "The new tracking ID from the parent incident.",
          "type": "string"
        },
        "newAlertId": {
          "description": "Optional. New alert ID. Reference the [google.apps.alertcenter.Alert] with this ID for the current state.",
          "type": "string"
        }
      },
      "description": "New alert tracking numbers.",
      "type": "object",
      "id": "MergeInfo"
    },
    "AccountSuspensionWarning": {
      "description": "A warning that the customer's account is about to be suspended.",
      "type": "object",
      "properties": {
        "appealWindow": {
          "format": "google-duration",
          "description": "The amount of time remaining to appeal an imminent suspension. After this window has elapsed, the account will be suspended. Only populated if the account suspension is in WARNING state.",
          "type": "string"
        },
        "suspensionDetails": {
          "items": {
            "$ref": "AccountSuspensionDetails"
          },
          "type": "array",
          "description": "Details about why an account is being suspended."
        },
        "state": {
          "enumDescriptions": [
            "State is unspecified.",
            "Customer is receiving a warning about imminent suspension.",
            "Customer is being notified that their account has been suspended.",
            "Customer is being notified that their suspension appeal was approved.",
            "Customer has submitted their appeal, which is pending review."
          ],
          "enum": [
            "ACCOUNT_SUSPENSION_WARNING_STATE_UNSPECIFIED",
            "WARNING",
            "SUSPENDED",
            "APPEAL_APPROVED",
            "APPEAL_SUBMITTED"
          ],
          "description": "Account suspension warning state.",
          "type": "string"
        }
      },
      "id": "AccountSuspensionWarning"
    },
    "DeviceManagementRule": {
      "id": "DeviceManagementRule",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user this alert was created for."
        },
        "id": {
          "type": "string",
          "description": "ID of the rule that triggered the alert"
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "ownerId": {
          "description": "Obfuscated ID of the owner of the device",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "ruleAction": {
          "description": "Action taken as result of the rule",
          "type": "string"
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        }
      },
      "description": "Alerts from Device Management Rules configured by Admin."
    },
    "VoicemailRecipientError": {
      "description": "Issue(s) with a voicemail recipient.",
      "id": "VoicemailRecipientError",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of the invalid recipient. This may be unavailable if the recipient was deleted."
        },
        "invalidReason": {
          "type": "string",
          "enum": [
            "EMAIL_INVALID_REASON_UNSPECIFIED",
            "OUT_OF_QUOTA",
            "RECIPIENT_DELETED"
          ],
          "description": "Reason for the error.",
          "enumDescriptions": [
            "Reason wasn't specified.",
            "User can't receive emails due to insufficient quota.",
            "All recipients were deleted."
          ]
        }
      }
    },
    "MandatoryServiceAnnouncement": {
      "type": "object",
      "description": "Alert Created by the MSA team for communications necessary for continued use of Google Workspace Products.",
      "id": "MandatoryServiceAnnouncement",
      "properties": {
        "title": {
          "type": "string",
          "description": "One line summary of the announcement"
        },
        "description": {
          "type": "string",
          "description": "Detailed, freeform text describing the announcement"
        }
      }
    },
    "AlertMetadata": {
      "id": "AlertMetadata",
      "properties": {
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert metadata from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform metadata updates in order to avoid race conditions: An `etag` is returned in the response which contains alert metadata, and systems are expected to put that etag in the request to update alert metadata to ensure that their change will be applied to the same version of the alert metadata. If no `etag` is provided in the call to update alert metadata, then the existing alert metadata is overwritten blindly."
        },
        "severity": {
          "description": "The severity value of the alert. Alert Center will set this field at alert creation time, default's to an empty string when it could not be determined. The supported values for update actions on this field are the following: * HIGH * MEDIUM * LOW",
          "type": "string"
        },
        "assignee": {
          "description": "The email address of the user assigned to the alert.",
          "type": "string"
        },
        "status": {
          "description": "The current status of the alert. The supported values are the following: * NOT_STARTED * IN_PROGRESS * CLOSED",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time this metadata was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The alert identifier."
        }
      },
      "description": "An alert metadata.",
      "type": "object"
    },
    "AbuseDetected": {
      "properties": {
        "variationType": {
          "type": "string",
          "enumDescriptions": [
            "AbuseDetected alert variation type unspecified. No alert should be unspecified.",
            "Variation displayed for Drive abusive content alerts.",
            "Variation displayed for Limited Disable alerts, when a Google service is disabled for a user, totally or partially, due to the user's abusive behavior."
          ],
          "enum": [
            "ABUSE_DETECTED_VARIATION_TYPE_UNSPECIFIED",
            "DRIVE_ABUSIVE_CONTENT",
            "LIMITED_DISABLE"
          ],
          "description": "Variation of AbuseDetected alerts. The variation_type determines the texts displayed the alert details. This differs from sub_alert_id because each sub alert can have multiple variation_types, representing different stages of the alert."
        },
        "product": {
          "description": "Product that the abuse is originating from.",
          "type": "string"
        },
        "subAlertId": {
          "type": "string",
          "description": "Unique identifier of each sub alert that is onboarded."
        },
        "additionalDetails": {
          "description": "List of abusive users/entities to be displayed in a table in the alert.",
          "$ref": "EntityList"
        }
      },
      "id": "AbuseDetected",
      "description": "A generic alert for abusive user activity occurring with a customer.",
      "type": "object"
    },
    "AppSettingsChanged": {
      "properties": {
        "alertDetails": {
          "format": "byte",
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "type": "string"
        },
        "name": {
          "description": "Rule name",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AppSettingsChanged",
      "description": "Alerts from AppSettingsChanged bucket Rules configured by Admin which contain the following rules: - Calendar settings changed - Drive settings changed - Email settings changed - Mobile settings changed"
    },
    "ListAlertFeedbackResponse": {
      "description": "Response message for an alert feedback listing request.",
      "type": "object",
      "id": "ListAlertFeedbackResponse",
      "properties": {
        "feedback": {
          "items": {
            "$ref": "AlertFeedback"
          },
          "description": "The list of alert feedback. Feedback entries for each alert are ordered by creation time descending.",
          "type": "array"
        }
      }
    },
    "ClientSideEncryptionServiceUnavailable": {
      "id": "ClientSideEncryptionServiceUnavailable",
      "type": "object",
      "properties": {
        "idpError": {
          "type": "array",
          "items": {
            "$ref": "IdentityProviderError"
          },
          "description": "Identity providers impacted by an outage or misconfiguration."
        },
        "keyServiceError": {
          "items": {
            "$ref": "KeyServiceError"
          },
          "type": "array",
          "description": "External key services impacted by an outage or misconfiguration."
        }
      },
      "description": "Alerts for client-side encryption outages."
    },
    "UndeleteAlertRequest": {
      "description": "A request to undelete a specific alert that was marked for deletion.",
      "type": "object",
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        }
      },
      "id": "UndeleteAlertRequest"
    },
    "Alert": {
      "id": "Alert",
      "properties": {
        "securityInvestigationToolLink": {
          "description": "Output only. An optional [Security Investigation Tool](https://support.google.com/a/answer/7575955) query for this alert.",
          "type": "string"
        },
        "data": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Optional. The data associated with this alert, for example google.apps.alertcenter.type.DeviceCompromised.",
          "type": "object"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this alert was created.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Required. The time the event that caused this alert was started or detected.",
          "format": "google-datetime",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. `True` if this alert is marked for deletion."
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The unique identifier for the alert."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time this alert was last updated.",
          "format": "google-datetime"
        },
        "type": {
          "description": "Required. The type of the alert. This is output only after alert is created. For a list of available alert types see [Google Workspace Alert types](https://developers.google.com/workspace/admin/alertcenter/reference/alert-types).",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Required. A unique identifier for the system that reported the alert. This is output only after alert is created. Supported sources are any of the following: * Google Operations * Mobile device management * Gmail phishing * Data Loss Prevention * Domain wide takeout * State sponsored attack * Google identity * Apps outage"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. The time the event that caused this alert ceased being active. If provided, the end time must not be earlier than the start time. If not provided, it indicates an ongoing alert.",
          "type": "string"
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform alert updates in order to avoid race conditions: An `etag` is returned in the response which contains alerts, and systems are expected to put that etag in the request to update alert to ensure that their change will be applied to the same version of the alert. If no `etag` is provided in the call to update alert, then the existing alert is overwritten blindly."
        },
        "metadata": {
          "description": "Output only. The metadata associated with this alert.",
          "$ref": "AlertMetadata"
        }
      },
      "description": "An alert affecting a customer.",
      "type": "object"
    },
    "SSOProfileCreatedEvent": {
      "type": "object",
      "id": "SSOProfileCreatedEvent",
      "properties": {
        "inboundSsoProfileName": {
          "description": "sso profile name which got created",
          "type": "string"
        }
      },
      "description": "Event occurred when SSO Profile created in customer's account. The event are being received from insight forwarder"
    },
    "CloudPubsubTopic": {
      "id": "CloudPubsubTopic",
      "description": "A reference to a Cloud Pubsub topic. To register for notifications, the owner of the topic must grant `alerts-api-push-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "properties": {
        "payloadFormat": {
          "type": "string",
          "enumDescriptions": [
            "Payload format is not specified (will use JSON as default).",
            "Use JSON."
          ],
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "JSON"
          ],
          "description": "Optional. The format of the payload that would be sent. If not specified the format will be JSON."
        },
        "topicName": {
          "type": "string",
          "description": "The `name` field of a Cloud Pubsub [Topic] (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic)."
        }
      },
      "type": "object"
    },
    "SuspiciousActivity": {
      "properties": {
        "events": {
          "description": "Required. The list of security events.",
          "type": "array",
          "items": {
            "$ref": "SuspiciousActivitySecurityDetail"
          }
        },
        "email": {
          "type": "string",
          "description": "The email of the user this alert was created for."
        }
      },
      "type": "object",
      "id": "SuspiciousActivity",
      "description": "A mobile suspicious activity alert. Derived from audit logs."
    },
    "KeyServiceError": {
      "properties": {
        "errorCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of similar errors encountered."
        },
        "httpResponseCode": {
          "format": "int64",
          "type": "string",
          "description": "HTTP response status code from the key service."
        },
        "keyServiceUrl": {
          "description": "Url of the external key service.",
          "type": "string"
        },
        "errorInfo": {
          "enum": [
            "KEY_SERVICE_ERROR_INFO_UNSPECIFIED",
            "MALFORMED_JSON",
            "MISSING_KEY",
            "MISSING_SIGNATURE",
            "MISSING_ALGORITHM_NAME",
            "UNSUPPORTED_ALGORITHM",
            "FETCH_REQUEST_ERROR",
            "SERVER_SIDE_FETCH_REQUEST_ERROR"
          ],
          "enumDescriptions": [
            "Error info not specified.",
            "The response has malformed JSON.",
            "The response did not contain the wrapped/unwrapped key.",
            "SMIME sign only: The sign response did not contain the signature.",
            "SMIME only: The sign response does not include the algorithm name.",
            "SMIME only: the algorithm name in the response is not supported by the client.",
            "Fetch request on the client has failed.",
            "Fetch request from the Google server to the key service has failed."
          ],
          "description": "Info on the key service error.",
          "type": "string"
        }
      },
      "id": "KeyServiceError",
      "description": "Error related to an external key service.",
      "type": "object"
    },
    "TransferError": {
      "description": "Details for an invalid transfer or forward.",
      "type": "object",
      "id": "TransferError",
      "properties": {
        "name": {
          "type": "string",
          "description": "User's full name, or the ring group / auto attendant name. This may be unavailable if the entity was deleted."
        },
        "invalidReason": {
          "type": "string",
          "description": "Reason for the error.",
          "enum": [
            "TRANSFER_INVALID_REASON_UNSPECIFIED",
            "TRANSFER_TARGET_DELETED",
            "UNLICENSED",
            "SUSPENDED",
            "NO_PHONE_NUMBER"
          ],
          "enumDescriptions": [
            "Reason wasn't specified.",
            "The transfer target can't be found—most likely it was deleted.",
            "The user's Google Voice license was removed.",
            "The user's Google Workspace account was suspended.",
            "The transfer target no longer has a phone number. This reason should become deprecated once we support numberless transfer."
          ]
        },
        "entityType": {
          "description": "Type of entity being transferred to. For ring group members, this should always be USER.",
          "enum": [
            "TRANSFER_ENTITY_TYPE_UNSPECIFIED",
            "TRANSFER_AUTO_ATTENDANT",
            "TRANSFER_RING_GROUP",
            "TRANSFER_USER"
          ],
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Transfer to auto attendant.",
            "Transfer to ring group.",
            "Transfer to user."
          ],
          "type": "string"
        },
        "email": {
          "description": "User's email address. This may be unavailable if the entity was deleted.",
          "type": "string"
        },
        "id": {
          "description": "Ring group or auto attendant ID. Not set for users.",
          "type": "string"
        }
      }
    },
    "ApnsCertificateExpirationInfo": {
      "properties": {
        "uid": {
          "type": "string",
          "description": "The UID of the certificate."
        },
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The expiration date of the APNS certificate."
        },
        "appleId": {
          "type": "string",
          "description": "The Apple ID used to create the certificate. It may be blank if admins didn't enter it."
        }
      },
      "description": "The explanation message associated with \"APNS certificate is expiring soon\" and \"APNS certificate has expired\" alerts.",
      "type": "object",
      "id": "ApnsCertificateExpirationInfo"
    },
    "SensitiveAdminAction": {
      "properties": {
        "ssoProfileCreatedEvent": {
          "description": "Event occurred when SSO Profile created in customer's account",
          "$ref": "SSOProfileCreatedEvent"
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "The time at which event occurred",
          "type": "string"
        },
        "ssoProfileUpdatedEvent": {
          "description": "Event occurred when SSO Profile updated in customer's account",
          "$ref": "SSOProfileUpdatedEvent"
        },
        "ssoProfileDeletedEvent": {
          "description": "Event occurred when SSO Profile deleted in customer's account",
          "$ref": "SSOProfileDeletedEvent"
        },
        "actorEmail": {
          "type": "string",
          "description": "Email of person who performed the action"
        },
        "superAdminPasswordResetEvent": {
          "$ref": "SuperAdminPasswordResetEvent",
          "description": "Event occurred when password was reset for super admin in customer's account"
        },
        "primaryAdminChangedEvent": {
          "description": "Event occurred when primary admin changed in customer's account",
          "$ref": "PrimaryAdminChangedEvent"
        }
      },
      "description": "Alert that is triggered when Sensitive Admin Action occur in customer account.",
      "id": "SensitiveAdminAction",
      "type": "object"
    },
    "TransferMisconfiguration": {
      "description": "Error related to transferring or forwarding a phone call.",
      "id": "TransferMisconfiguration",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "TransferError"
          },
          "description": "Details for each invalid transfer or forward."
        }
      }
    },
    "AppMakerSqlSetupNotification": {
      "id": "AppMakerSqlSetupNotification",
      "description": "Alerts from App Maker to notify admins to set up default SQL instance.",
      "type": "object",
      "properties": {
        "requestInfo": {
          "description": "List of applications with requests for default SQL set up.",
          "type": "array",
          "items": {
            "$ref": "RequestInfo"
          }
        }
      }
    },
    "RuleInfo": {
      "type": "object",
      "id": "RuleInfo",
      "properties": {
        "resourceName": {
          "description": "Resource name that uniquely identifies the rule.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User provided name of the rule."
        }
      },
      "description": "Proto that contains rule information."
    },
    "EntityList": {
      "id": "EntityList",
      "description": "EntityList stores entities in a format that can be translated to a table in the Alert Center UI.",
      "type": "object",
      "properties": {
        "entities": {
          "description": "List of entities affected by the alert.",
          "items": {
            "$ref": "Entity"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Name of the key detail used to display this entity list."
        },
        "headers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Headers of the values in entities. If no value is defined in Entity, this field should be empty."
        }
      }
    },
    "BatchUndeleteAlertsResponse": {
      "type": "object",
      "properties": {
        "failedAlertStatus": {
          "additionalProperties": {
            "$ref": "Status"
          },
          "description": "The status details for each failed `alert_id`.",
          "type": "object"
        },
        "successAlertIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The successful list of alert IDs."
        }
      },
      "id": "BatchUndeleteAlertsResponse",
      "description": "Response to batch undelete operation on alerts."
    },
    "ListAlertsResponse": {
      "type": "object",
      "id": "ListAlertsResponse",
      "description": "Response message for an alert listing request.",
      "properties": {
        "alerts": {
          "description": "The list of alerts.",
          "items": {
            "$ref": "Alert"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token for the next page. If not empty, indicates that there may be more alerts that match the listing request; this value can be used in a subsequent ListAlertsRequest to get alerts continuing from last result of the current list call.",
          "type": "string"
        }
      }
    },
    "IdentityProviderError": {
      "id": "IdentityProviderError",
      "description": "Error related to an identity provider.",
      "type": "object",
      "properties": {
        "errorCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of similar errors encountered."
        },
        "errorInfo": {
          "enum": [
            "IDENTITY_PROVIDER_ERROR_INFO_UNSPECIFIED",
            "EMAIL_MISMATCH",
            "UNAVAILABLE_DISCOVERY_CONTENT",
            "INVALID_DISCOVERY_CONTENT",
            "UNAVAILABLE_CSE_CONFIGURATION_CONTENT",
            "INVALID_CSE_CONFIGURATION_CONTENT",
            "INVALID_ID_TOKEN",
            "INVALID_OIDC_SETUP",
            "UNAVAILABLE_IDP",
            "AUTH_CODE_EXCHANGE_ERROR",
            "AUTHENTICATION_TOKEN_MISSING_CLAIM_EMAIL"
          ],
          "description": "Info on the identity provider error.",
          "type": "string",
          "enumDescriptions": [
            "Error info not specified.",
            "Email in the ID token is different from the user's email.",
            "Discovery URL was unreachable.",
            "Discovery URL did not contain all the necessary information.",
            "URL for client-side encryption configuration content was unreachable.",
            "Client-side encryption .well-known URL did not contain all the necessary information.",
            "ID token returned by the identity provider is invalid.",
            "OIDC setup error.",
            "Identity provider was unreachable.",
            "Auth code exchange error.",
            "Authentication token has no \"email\" or \"google_email\" claim."
          ]
        },
        "authorizationBaseUrl": {
          "description": "Authorization base url of the identity provider.",
          "type": "string"
        }
      }
    },
    "SSOProfileUpdatedEvent": {
      "properties": {
        "inboundSsoProfileChanges": {
          "type": "string",
          "description": "changes made to sso profile"
        },
        "inboundSsoProfileName": {
          "description": "sso profile name which got updated",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Event occurred when SSO Profile updated in customer's account. The event are being received from insight forwarder",
      "id": "SSOProfileUpdatedEvent"
    },
    "VaultAcceleratedDeletion": {
      "description": "Alert that is triggered when a Vault accelerated deletion request is created or canceled.",
      "type": "object",
      "properties": {
        "deletionRequestId": {
          "description": "Accelerated deletion request ID intended to be used to construct the Vault UI link to the AD request",
          "type": "string"
        },
        "actionType": {
          "type": "string",
          "description": "The action can be one of create and cancel",
          "enumDescriptions": [
            "Unspecified action type",
            "AD Create action type",
            "AD Cancel action type"
          ],
          "enum": [
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CREATE",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CANCEL"
          ]
        },
        "createTime": {
          "type": "string",
          "description": "The UTC timestamp of when the AD request was created",
          "format": "google-datetime"
        },
        "appType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified app type",
            "Gmail app type"
          ],
          "description": "Currentlty only Gmail is supported as app type",
          "enum": [
            "VAULT_ACCELERATED_DELETION_APP_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_APP_TYPE_GMAIL"
          ]
        },
        "matterId": {
          "type": "string",
          "description": "Matter ID of the accelerated deletion request intended to be used to construct the Vault UI link to the AD request"
        }
      },
      "id": "VaultAcceleratedDeletion"
    },
    "Csv": {
      "type": "object",
      "properties": {
        "headers": {
          "description": "The list of headers for data columns in a CSV file.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dataRows": {
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "type": "array",
          "items": {
            "$ref": "CsvRow"
          }
        }
      },
      "id": "Csv",
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows."
    },
    "DlpRuleViolation": {
      "id": "DlpRuleViolation",
      "properties": {
        "ruleViolationInfo": {
          "description": "Details about the violated DLP rule. Admins can use the predefined detectors provided by Google Cloud DLP https://cloud.google.com/dlp/ when setting up a DLP rule. Matched Cloud DLP detectors in this violation if any will be captured in the MatchInfo.predefined_detector.",
          "$ref": "RuleViolationInfo"
        }
      },
      "type": "object",
      "description": "Alerts that get triggered on violations of Data Loss Prevention (DLP) rules."
    },
    "SupportTicket": {
      "properties": {
        "ticketId": {
          "type": "string",
          "description": "Support ticket ID"
        },
        "ticketUrl": {
          "type": "string",
          "description": "Link to support ticket"
        }
      },
      "id": "SupportTicket",
      "description": "Support ticket related to Access Approvals request",
      "type": "object"
    },
    "VoicemailMisconfiguration": {
      "properties": {
        "errors": {
          "type": "array",
          "description": "Issue(s) with voicemail recipients.",
          "items": {
            "$ref": "VoicemailRecipientError"
          }
        }
      },
      "type": "object",
      "id": "VoicemailMisconfiguration",
      "description": "Issue(s) with sending to voicemail."
    },
    "CsvRow": {
      "description": "A representation of a single data row in a CSV file.",
      "type": "object",
      "id": "CsvRow",
      "properties": {
        "entries": {
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    }
  },
  "version": "v1beta1",
  "id": "alertcenter:v1beta1",
  "basePath": "",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://alertcenter.mtls.googleapis.com/",
  "name": "alertcenter",
  "description": "Manages alerts on issues affecting your domain. Note: The current version of this API (v1beta1) is available to all Google Workspace customers. ",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/workspace/admin/alertcenter/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "revision": "20260928",
  "ownerName": "Google"
}
