{
  "discoveryVersion": "v1",
  "version": "v1beta1",
  "revision": "20260907",
  "documentationLink": "https://developers.google.com/workspace/admin/alertcenter/",
  "baseUrl": "https://alertcenter.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ActivityRule": {
      "id": "ActivityRule",
      "description": "Alerts from Google Workspace Security Center rules service configured by an admin.",
      "properties": {
        "createTime": {
          "description": "Rule create timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "The timestamp of the last update to the rule.",
          "format": "google-datetime"
        },
        "windowSize": {
          "type": "string",
          "description": "Rule window size. Possible values are 1 hour or 24 hours.",
          "format": "google-duration"
        },
        "query": {
          "type": "string",
          "description": "Query that is used to get the data from the associated source."
        },
        "name": {
          "description": "Rule name.",
          "type": "string"
        },
        "supersedingAlert": {
          "type": "string",
          "description": "Alert ID superseding this alert. It is used to indicate that superseding alert is essentially extension of this alert and we found the relationship after creating both alerts."
        },
        "description": {
          "type": "string",
          "description": "Description of the rule."
        },
        "threshold": {
          "type": "string",
          "description": "Alert threshold is for example “COUNT > 5”."
        },
        "supersededAlerts": {
          "description": "List of alert IDs superseded by this alert. It is used to indicate that this alert is essentially extension of superseded alerts and we found the relationship after creating these alerts.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "actionNames": {
          "items": {
            "type": "string"
          },
          "description": "List of action names associated with the rule threshold.",
          "type": "array"
        },
        "triggerSource": {
          "description": "The trigger sources for this rule. * GMAIL_EVENTS * DEVICE_EVENTS * USER_EVENTS",
          "type": "string"
        },
        "displayName": {
          "description": "Alert display name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Attachment": {
      "type": "object",
      "properties": {
        "csv": {
          "description": "A CSV file attachment.",
          "$ref": "Csv"
        }
      },
      "description": "Attachment with application-specific information about an alert.",
      "id": "Attachment"
    },
    "Alert": {
      "description": "An alert affecting a customer.",
      "id": "Alert",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google Workspace account of the customer."
        },
        "source": {
          "description": "Required. A unique identifier for the system that reported the alert. This is output only after alert is created. Supported sources are any of the following: * Google Operations * Mobile device management * Gmail phishing * Data Loss Prevention * Domain wide takeout * State sponsored attack * Google identity * Apps outage",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. `True` if this alert is marked for deletion.",
          "type": "boolean"
        },
        "endTime": {
          "description": "Optional. The time the event that caused this alert ceased being active. If provided, the end time must not be earlier than the start time. If not provided, it indicates an ongoing alert.",
          "format": "google-datetime",
          "type": "string"
        },
        "securityInvestigationToolLink": {
          "description": "Output only. An optional [Security Investigation Tool](https://support.google.com/a/answer/7575955) query for this alert.",
          "type": "string"
        },
        "metadata": {
          "description": "Output only. The metadata associated with this alert.",
          "$ref": "AlertMetadata"
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The unique identifier for the alert."
        },
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform alert updates in order to avoid race conditions: An `etag` is returned in the response which contains alerts, and systems are expected to put that etag in the request to update alert to ensure that their change will be applied to the same version of the alert. If no `etag` is provided in the call to update alert, then the existing alert is overwritten blindly.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time this alert was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this alert was last updated."
        },
        "type": {
          "type": "string",
          "description": "Required. The type of the alert. This is output only after alert is created. For a list of available alert types see [Google Workspace Alert types](https://developers.google.com/workspace/admin/alertcenter/reference/alert-types)."
        },
        "data": {
          "type": "object",
          "description": "Optional. The data associated with this alert, for example google.apps.alertcenter.type.DeviceCompromised.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The time the event that caused this alert was started or detected."
        }
      },
      "type": "object"
    },
    "AccountSuspensionWarning": {
      "id": "AccountSuspensionWarning",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "ACCOUNT_SUSPENSION_WARNING_STATE_UNSPECIFIED",
            "WARNING",
            "SUSPENDED",
            "APPEAL_APPROVED",
            "APPEAL_SUBMITTED"
          ],
          "description": "Account suspension warning state.",
          "enumDescriptions": [
            "State is unspecified.",
            "Customer is receiving a warning about imminent suspension.",
            "Customer is being notified that their account has been suspended.",
            "Customer is being notified that their suspension appeal was approved.",
            "Customer has submitted their appeal, which is pending review."
          ]
        },
        "suspensionDetails": {
          "items": {
            "$ref": "AccountSuspensionDetails"
          },
          "description": "Details about why an account is being suspended.",
          "type": "array"
        },
        "appealWindow": {
          "format": "google-duration",
          "type": "string",
          "description": "The amount of time remaining to appeal an imminent suspension. After this window has elapsed, the account will be suspended. Only populated if the account suspension is in WARNING state."
        }
      },
      "description": "A warning that the customer's account is about to be suspended.",
      "type": "object"
    },
    "BatchDeleteAlertsRequest": {
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        },
        "alertId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of alert IDs to delete."
        }
      },
      "description": "A request to perform batch delete on alerts.",
      "id": "BatchDeleteAlertsRequest",
      "type": "object"
    },
    "SuperAdminPasswordResetEvent": {
      "type": "object",
      "properties": {
        "userEmail": {
          "description": "email of person whose password was reset",
          "type": "string"
        }
      },
      "description": "Event occurred when password was reset for super admin in customer's account. The event are being received from insight forwarder",
      "id": "SuperAdminPasswordResetEvent"
    },
    "ApnsCertificateExpirationInfo": {
      "id": "ApnsCertificateExpirationInfo",
      "description": "The explanation message associated with \"APNS certificate is expiring soon\" and \"APNS certificate has expired\" alerts.",
      "properties": {
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The expiration date of the APNS certificate."
        },
        "uid": {
          "description": "The UID of the certificate.",
          "type": "string"
        },
        "appleId": {
          "type": "string",
          "description": "The Apple ID used to create the certificate. It may be blank if admins didn't enter it."
        }
      },
      "type": "object"
    },
    "IdentityProviderError": {
      "properties": {
        "errorInfo": {
          "type": "string",
          "description": "Info on the identity provider error.",
          "enumDescriptions": [
            "Error info not specified.",
            "Email in the ID token is different from the user's email.",
            "Discovery URL was unreachable.",
            "Discovery URL did not contain all the necessary information.",
            "URL for client-side encryption configuration content was unreachable.",
            "Client-side encryption .well-known URL did not contain all the necessary information.",
            "ID token returned by the identity provider is invalid.",
            "OIDC setup error.",
            "Identity provider was unreachable.",
            "Auth code exchange error.",
            "Authentication token has no \"email\" or \"google_email\" claim."
          ],
          "enum": [
            "IDENTITY_PROVIDER_ERROR_INFO_UNSPECIFIED",
            "EMAIL_MISMATCH",
            "UNAVAILABLE_DISCOVERY_CONTENT",
            "INVALID_DISCOVERY_CONTENT",
            "UNAVAILABLE_CSE_CONFIGURATION_CONTENT",
            "INVALID_CSE_CONFIGURATION_CONTENT",
            "INVALID_ID_TOKEN",
            "INVALID_OIDC_SETUP",
            "UNAVAILABLE_IDP",
            "AUTH_CODE_EXCHANGE_ERROR",
            "AUTHENTICATION_TOKEN_MISSING_CLAIM_EMAIL"
          ]
        },
        "authorizationBaseUrl": {
          "description": "Authorization base url of the identity provider.",
          "type": "string"
        },
        "errorCount": {
          "type": "string",
          "description": "Number of similar errors encountered.",
          "format": "int64"
        }
      },
      "id": "IdentityProviderError",
      "type": "object",
      "description": "Error related to an identity provider."
    },
    "PrimaryAdminChangedEvent": {
      "description": "Event occurred when primary admin changed in customer's account. The event are being received from insight forwarder",
      "type": "object",
      "properties": {
        "updatedAdminEmail": {
          "description": "Email of person who is the primary admin after the action",
          "type": "string"
        },
        "previousAdminEmail": {
          "description": "Email of person who was the primary admin before the action",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "domain in which actioned occurred"
        }
      },
      "id": "PrimaryAdminChangedEvent"
    },
    "ResourceInfo": {
      "description": "Proto that contains resource information.",
      "properties": {
        "chatAttachmentId": {
          "description": "Chat attachment ID.",
          "type": "string"
        },
        "documentId": {
          "description": "Drive file ID.",
          "type": "string"
        },
        "messageId": {
          "description": "RFC2822 message ID.",
          "type": "string"
        },
        "chatMessageId": {
          "type": "string",
          "description": "Chat message ID."
        },
        "resourceTitle": {
          "description": "Title of the resource, for example email subject, or document title.",
          "type": "string"
        },
        "deviceId": {
          "description": "Id to identify a device. For example, for Android devices, this is the \"Android Device Id\" and for Chrome OS devices, it's the \"Device Virtual Id\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ResourceInfo"
    },
    "MailPhishing": {
      "type": "object",
      "properties": {
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "isInternal": {
          "type": "boolean",
          "description": "If `true`, the email originated from within the organization."
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "messages": {
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "type": "array",
          "description": "The list of messages contained by this alert."
        },
        "systemActionType": {
          "enum": [
            "SYSTEM_ACTION_TYPE_UNSPECIFIED",
            "NO_OPERATION",
            "REMOVED_FROM_INBOX"
          ],
          "enumDescriptions": [
            "System action is unspecified.",
            "No operation.",
            "Messages were removed from the inbox."
          ],
          "type": "string",
          "description": "System actions on the messages."
        }
      },
      "description": "Proto for all phishing alerts with common payload. Supported types are any of the following: * User reported phishing * User reported spam spike * Suspicious message reported * Phishing reclassification * Malware reclassification * Gmail potential employee spoofing",
      "id": "MailPhishing"
    },
    "GmailMessageInfo": {
      "type": "object",
      "id": "GmailMessageInfo",
      "description": "Details of a message in phishing spike alert.",
      "properties": {
        "date": {
          "format": "google-datetime",
          "description": "The date of the event related to this email.",
          "type": "string"
        },
        "messageBodySnippet": {
          "description": "The snippet of the message body text (only available for reported emails).",
          "type": "string"
        },
        "attachmentsSha256Hash": {
          "description": "The `SHA256` hash of email's attachment and all MIME parts.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sentTime": {
          "format": "google-datetime",
          "description": "The sent time of the email.",
          "type": "string"
        },
        "md5HashMessageBody": {
          "type": "string",
          "description": "The hash of the message body text."
        },
        "md5HashSubject": {
          "description": "The MD5 Hash of email's subject (only available for reported emails).",
          "type": "string"
        },
        "messageId": {
          "description": "The message ID.",
          "type": "string"
        },
        "recipient": {
          "description": "The recipient of this email.",
          "type": "string"
        },
        "subjectText": {
          "description": "The email subject text (only available for reported emails).",
          "type": "string"
        }
      }
    },
    "CsvRow": {
      "description": "A representation of a single data row in a CSV file.",
      "id": "CsvRow",
      "type": "object",
      "properties": {
        "entries": {
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "SuspiciousActivity": {
      "description": "A mobile suspicious activity alert. Derived from audit logs.",
      "id": "SuspiciousActivity",
      "properties": {
        "events": {
          "type": "array",
          "description": "Required. The list of security events.",
          "items": {
            "$ref": "SuspiciousActivitySecurityDetail"
          }
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "DeviceCompromisedSecurityDetail": {
      "description": "Detailed information of a single MDM device compromised event.",
      "type": "object",
      "id": "DeviceCompromisedSecurityDetail",
      "properties": {
        "deviceCompromisedState": {
          "description": "The device compromised state. Possible values are \"`Compromised`\" or \"`Not Compromised`\".",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        }
      }
    },
    "SupportTicket": {
      "id": "SupportTicket",
      "properties": {
        "ticketId": {
          "description": "Support ticket ID",
          "type": "string"
        },
        "ticketUrl": {
          "description": "Link to support ticket",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Support ticket related to Access Approvals request"
    },
    "TransferError": {
      "type": "object",
      "properties": {
        "name": {
          "description": "User's full name, or the ring group / auto attendant name. This may be unavailable if the entity was deleted.",
          "type": "string"
        },
        "id": {
          "description": "Ring group or auto attendant ID. Not set for users.",
          "type": "string"
        },
        "entityType": {
          "description": "Type of entity being transferred to. For ring group members, this should always be USER.",
          "type": "string",
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Transfer to auto attendant.",
            "Transfer to ring group.",
            "Transfer to user."
          ],
          "enum": [
            "TRANSFER_ENTITY_TYPE_UNSPECIFIED",
            "TRANSFER_AUTO_ATTENDANT",
            "TRANSFER_RING_GROUP",
            "TRANSFER_USER"
          ]
        },
        "invalidReason": {
          "description": "Reason for the error.",
          "enum": [
            "TRANSFER_INVALID_REASON_UNSPECIFIED",
            "TRANSFER_TARGET_DELETED",
            "UNLICENSED",
            "SUSPENDED",
            "NO_PHONE_NUMBER"
          ],
          "enumDescriptions": [
            "Reason wasn't specified.",
            "The transfer target can't be found—most likely it was deleted.",
            "The user's Google Voice license was removed.",
            "The user's Google Workspace account was suspended.",
            "The transfer target no longer has a phone number. This reason should become deprecated once we support numberless transfer."
          ],
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "User's email address. This may be unavailable if the entity was deleted."
        }
      },
      "id": "TransferError",
      "description": "Details for an invalid transfer or forward."
    },
    "AlertMetadata": {
      "properties": {
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "assignee": {
          "type": "string",
          "description": "The email address of the user assigned to the alert."
        },
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert metadata from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform metadata updates in order to avoid race conditions: An `etag` is returned in the response which contains alert metadata, and systems are expected to put that etag in the request to update alert metadata to ensure that their change will be applied to the same version of the alert metadata. If no `etag` is provided in the call to update alert metadata, then the existing alert metadata is overwritten blindly.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time this metadata was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        },
        "severity": {
          "description": "The severity value of the alert. Alert Center will set this field at alert creation time, default's to an empty string when it could not be determined. The supported values for update actions on this field are the following: * HIGH * MEDIUM * LOW",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "The current status of the alert. The supported values are the following: * NOT_STARTED * IN_PROGRESS * CLOSED"
        }
      },
      "type": "object",
      "description": "An alert metadata.",
      "id": "AlertMetadata"
    },
    "AppsOutage": {
      "id": "AppsOutage",
      "type": "object",
      "properties": {
        "status": {
          "description": "Current outage status.",
          "enumDescriptions": [
            "Status is unspecified.",
            "The incident has just been reported.",
            "The incident is ongoing.",
            "The incident has been resolved.",
            "Further assessment indicated no customer impact.",
            "The incident has been partially resolved.",
            "The incident was merged into a parent.",
            "The incident has lower impact than initially anticipated."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "NEW",
            "ONGOING",
            "RESOLVED",
            "FALSE_POSITIVE",
            "PARTIALLY_RESOLVED",
            "MERGED",
            "DOWNGRADED"
          ],
          "type": "string"
        },
        "mergeInfo": {
          "$ref": "MergeInfo",
          "description": "Indicates new alert details under which the outage is communicated. Only populated when Status is MERGED."
        },
        "incidentTrackingId": {
          "type": "string",
          "description": "Incident tracking ID."
        },
        "products": {
          "type": "array",
          "description": "List of products impacted by the outage.",
          "items": {
            "type": "string"
          }
        },
        "nextUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp by which the next update is expected to arrive."
        },
        "resolutionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp when the outage is expected to be resolved, or has confirmed resolution. Provided only when known."
        },
        "dashboardUri": {
          "type": "string",
          "description": "Link to the outage event in Google Workspace Status Dashboard"
        }
      },
      "description": "An outage incident reported for a Google Workspace service."
    },
    "DeviceCompromised": {
      "properties": {
        "events": {
          "type": "array",
          "description": "Required. The list of security events.",
          "items": {
            "$ref": "DeviceCompromisedSecurityDetail"
          }
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        }
      },
      "description": "A mobile device compromised alert. Derived from audit logs.",
      "id": "DeviceCompromised",
      "type": "object"
    },
    "Csv": {
      "type": "object",
      "id": "Csv",
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "properties": {
        "headers": {
          "type": "array",
          "description": "The list of headers for data columns in a CSV file.",
          "items": {
            "type": "string"
          }
        },
        "dataRows": {
          "items": {
            "$ref": "CsvRow"
          },
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "type": "array"
        }
      }
    },
    "DomainId": {
      "id": "DomainId",
      "properties": {
        "customerPrimaryDomain": {
          "type": "string",
          "description": "The primary domain for the customer."
        }
      },
      "type": "object",
      "description": "Domain ID of Gmail phishing alerts."
    },
    "RuleInfo": {
      "type": "object",
      "id": "RuleInfo",
      "properties": {
        "resourceName": {
          "description": "Resource name that uniquely identifies the rule.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User provided name of the rule."
        }
      },
      "description": "Proto that contains rule information."
    },
    "AppMakerSqlSetupNotification": {
      "id": "AppMakerSqlSetupNotification",
      "properties": {
        "requestInfo": {
          "items": {
            "$ref": "RequestInfo"
          },
          "type": "array",
          "description": "List of applications with requests for default SQL set up."
        }
      },
      "description": "Alerts from App Maker to notify admins to set up default SQL instance.",
      "type": "object"
    },
    "UndeleteAlertRequest": {
      "description": "A request to undelete a specific alert that was marked for deletion.",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
        }
      },
      "type": "object",
      "id": "UndeleteAlertRequest"
    },
    "StateSponsoredAttack": {
      "id": "StateSponsoredAttack",
      "description": "A state-sponsored attack alert. Derived from audit logs.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email of the user this incident was created for.",
          "type": "string"
        }
      }
    },
    "AlertFeedback": {
      "id": "AlertFeedback",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The feedback type is not specified.",
            "The alert report is not useful.",
            "The alert report is somewhat useful.",
            "The alert report is very useful."
          ],
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ],
          "description": "Required. The type of the feedback."
        },
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time this feedback was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Output only. The email of the user that provided the feedback."
        },
        "feedbackId": {
          "type": "string",
          "description": "Output only. The unique identifier for the feedback."
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google Workspace account of the customer."
        }
      },
      "type": "object",
      "description": "A customer feedback about an alert."
    },
    "BatchDeleteAlertsResponse": {
      "id": "BatchDeleteAlertsResponse",
      "description": "Response to batch delete operation on alerts.",
      "type": "object",
      "properties": {
        "successAlertIds": {
          "description": "The successful list of alert IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "failedAlertStatus": {
          "description": "The status details for each failed `alert_id`.",
          "additionalProperties": {
            "$ref": "Status"
          },
          "type": "object"
        }
      }
    },
    "AccountSuspensionDetails": {
      "properties": {
        "abuseReason": {
          "enum": [
            "ACCOUNT_SUSPENSION_ABUSE_REASON_UNSPECIFIED",
            "TOS_VIOLATION",
            "SPAM",
            "PHISHING",
            "TRAFFIC_PUMPING",
            "FRAUD",
            "NUMBER_HARVESTING",
            "PAYMENTS_FRAUD",
            "UNWANTED_CONTENT",
            "UNQUALIFIED_EDU"
          ],
          "enumDescriptions": [
            "Abuse reason is unspecified.",
            "This account is being suspended for a Terms of Service violation.",
            "This account is being suspended for spam.",
            "This account is being suspended for phishing.",
            "This account is being suspended for artificially boosting traffic to a website.",
            "This account is being suspended for fraud.",
            "This account is being suspended for number harvesting.",
            "This account is being suspended for payments fraud.",
            "This account is being suspended for unwanted content.",
            "This account is being suspended for being an unqualified educational institution."
          ],
          "type": "string",
          "description": "The reason why this account is receiving an account suspension warning."
        },
        "productName": {
          "description": "The name of the product being abused. This is restricted to only the following values: \"Gmail\" \"Google Workspace\" \"Payments\" \"Voice\" \"YouTube\" \"Other\"",
          "type": "string"
        }
      },
      "id": "AccountSuspensionDetails",
      "type": "object",
      "description": "Details about why an account is receiving an account suspension warning."
    },
    "AbuseDetected": {
      "type": "object",
      "description": "A generic alert for abusive user activity occurring with a customer.",
      "id": "AbuseDetected",
      "properties": {
        "additionalDetails": {
          "$ref": "EntityList",
          "description": "List of abusive users/entities to be displayed in a table in the alert."
        },
        "product": {
          "type": "string",
          "description": "Product that the abuse is originating from."
        },
        "variationType": {
          "enum": [
            "ABUSE_DETECTED_VARIATION_TYPE_UNSPECIFIED",
            "DRIVE_ABUSIVE_CONTENT",
            "LIMITED_DISABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "AbuseDetected alert variation type unspecified. No alert should be unspecified.",
            "Variation displayed for Drive abusive content alerts.",
            "Variation displayed for Limited Disable alerts, when a Google service is disabled for a user, totally or partially, due to the user's abusive behavior."
          ],
          "description": "Variation of AbuseDetected alerts. The variation_type determines the texts displayed the alert details. This differs from sub_alert_id because each sub alert can have multiple variation_types, representing different stages of the alert."
        },
        "subAlertId": {
          "type": "string",
          "description": "Unique identifier of each sub alert that is onboarded."
        }
      }
    },
    "UserChanges": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Rule name"
        }
      },
      "description": "Alerts from UserChanges bucket Rules for predefined rules which contain the following rules: - Suspended user made active - New user added - User suspended (by admin) - User granted admin privileges - User admin privileges revoked - User deleted - Users password changed",
      "id": "UserChanges"
    },
    "Notification": {
      "type": "object",
      "properties": {
        "cloudPubsubTopic": {
          "description": "A Google Cloud Pub/sub topic destination.",
          "$ref": "CloudPubsubTopic"
        }
      },
      "id": "Notification",
      "description": "Settings for callback notifications. For more details see [Google Workspace Alert Notification](https://developers.google.com/workspace/admin/alertcenter/guides/notifications)."
    },
    "DriveSyncStateChanged": {
      "type": "object",
      "id": "DriveSyncStateChanged",
      "properties": {
        "syncStateChangeReason": {
          "enumDescriptions": [
            "Unspecified state change reason",
            "Sync state was changed due to unusual activity, such as potential ransomware",
            "The user provided feedback indicating that the initial sync state change may have been caused by unexpected activity",
            "The user provided feedback indicating that the initial sync state change may have been caused by a false positive"
          ],
          "description": "The reason for the sync state change.",
          "enum": [
            "SYNC_STATE_CHANGE_REASON_UNSPECIFIED",
            "UNUSUAL_ACTIVITY",
            "USER_FEEDBACK_TRUE_POSITIVE",
            "USER_FEEDBACK_FALSE_POSITIVE"
          ],
          "type": "string"
        },
        "syncState": {
          "enum": [
            "SYNC_STATE_UNSPECIFIED",
            "PAUSED",
            "RESUMED"
          ],
          "description": "The current sync state.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state",
            "Sync is paused",
            "Sync is resumed"
          ]
        },
        "email": {
          "description": "Email of the user affected.",
          "type": "string"
        },
        "syncPauseStartTime": {
          "format": "google-datetime",
          "description": "Time at which sync was paused.",
          "type": "string"
        }
      },
      "description": "Alerts for when a user is restricted from syncing content from clients such as Drive for Desktop."
    },
    "SSOProfileUpdatedEvent": {
      "id": "SSOProfileUpdatedEvent",
      "description": "Event occurred when SSO Profile updated in customer's account. The event are being received from insight forwarder",
      "type": "object",
      "properties": {
        "inboundSsoProfileChanges": {
          "type": "string",
          "description": "changes made to sso profile"
        },
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got updated"
        }
      }
    },
    "BadWhitelist": {
      "id": "BadWhitelist",
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        },
        "sourceIp": {
          "description": "The source IP address of the malicious email, for example, `127.0.0.1`.",
          "type": "string"
        },
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        }
      },
      "description": "Alert for setting the domain or IP that malicious email comes from as whitelisted domain or IP in Gmail advanced settings."
    },
    "GoogleOperations": {
      "id": "GoogleOperations",
      "description": "An incident reported by Google Operations for a Google Workspace application.",
      "type": "object",
      "properties": {
        "header": {
          "type": "string",
          "description": "A header to display above the incident message. Typically used to attach a localized notice on the timeline for followup comms translations."
        },
        "domain": {
          "description": "Customer domain for email template personalization.",
          "type": "string"
        },
        "attachmentData": {
          "$ref": "Attachment",
          "description": "Optional. Application-specific data for an incident, provided when the Google Workspace application which reported the incident cannot be completely restored to a valid state."
        },
        "description": {
          "description": "A detailed, freeform incident description.",
          "type": "string"
        },
        "title": {
          "description": "A one-line incident description.",
          "type": "string"
        },
        "affectedUserEmails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of emails which correspond to the users directly affected by the incident."
        }
      }
    },
    "DlpRuleViolation": {
      "description": "Alerts that get triggered on violations of Data Loss Prevention (DLP) rules.",
      "type": "object",
      "id": "DlpRuleViolation",
      "properties": {
        "ruleViolationInfo": {
          "$ref": "RuleViolationInfo",
          "description": "Details about the violated DLP rule. Admins can use the predefined detectors provided by Google Cloud DLP https://cloud.google.com/dlp/ when setting up a DLP rule. Matched Cloud DLP detectors in this violation if any will be captured in the MatchInfo.predefined_detector."
        }
      }
    },
    "Entity": {
      "id": "Entity",
      "type": "object",
      "description": "Individual entity affected by, or related to, an alert.",
      "properties": {
        "name": {
          "description": "Human-readable name of this entity, such as an email address, file ID, or device name.",
          "type": "string"
        },
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Extra values beyond name. The order of values should align with headers in EntityList."
        },
        "link": {
          "type": "string",
          "description": "Link to a Security Investigation Tool search based on this entity, if available."
        }
      }
    },
    "BatchUndeleteAlertsResponse": {
      "properties": {
        "failedAlertStatus": {
          "description": "The status details for each failed `alert_id`.",
          "additionalProperties": {
            "$ref": "Status"
          },
          "type": "object"
        },
        "successAlertIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The successful list of alert IDs."
        }
      },
      "id": "BatchUndeleteAlertsResponse",
      "type": "object",
      "description": "Response to batch undelete operation on alerts."
    },
    "EntityList": {
      "properties": {
        "name": {
          "description": "Name of the key detail used to display this entity list.",
          "type": "string"
        },
        "headers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Headers of the values in entities. If no value is defined in Entity, this field should be empty."
        },
        "entities": {
          "description": "List of entities affected by the alert.",
          "items": {
            "$ref": "Entity"
          },
          "type": "array"
        }
      },
      "id": "EntityList",
      "description": "EntityList stores entities in a format that can be translated to a table in the Alert Center UI.",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "VoiceMisconfiguration": {
      "description": "An alert triggered when Google Voice configuration becomes invalid, generally due to an external entity being modified or deleted.",
      "properties": {
        "voicemailMisconfiguration": {
          "description": "Issue(s) with sending to voicemail.",
          "$ref": "VoicemailMisconfiguration"
        },
        "entityName": {
          "type": "string",
          "description": "Name of the entity whose configuration is now invalid."
        },
        "entityType": {
          "type": "string",
          "description": "Type of the entity whose configuration is now invalid.",
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "AUTO_ATTENDANT",
            "RING_GROUP"
          ],
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Invalid auto attendant.",
            "Invalid ring group."
          ]
        },
        "membersMisconfiguration": {
          "description": "Issue(s) with members of a ring group.",
          "$ref": "TransferMisconfiguration"
        },
        "transferMisconfiguration": {
          "description": "Issue(s) with transferring or forwarding to an external entity.",
          "$ref": "TransferMisconfiguration"
        },
        "fixUri": {
          "type": "string",
          "description": "Link that the admin can follow to fix the issue."
        }
      },
      "id": "VoiceMisconfiguration",
      "type": "object"
    },
    "VoicemailMisconfiguration": {
      "type": "object",
      "id": "VoicemailMisconfiguration",
      "description": "Issue(s) with sending to voicemail.",
      "properties": {
        "errors": {
          "description": "Issue(s) with voicemail recipients.",
          "type": "array",
          "items": {
            "$ref": "VoicemailRecipientError"
          }
        }
      }
    },
    "VoicemailRecipientError": {
      "properties": {
        "invalidReason": {
          "enum": [
            "EMAIL_INVALID_REASON_UNSPECIFIED",
            "OUT_OF_QUOTA",
            "RECIPIENT_DELETED"
          ],
          "description": "Reason for the error.",
          "type": "string",
          "enumDescriptions": [
            "Reason wasn't specified.",
            "User can't receive emails due to insufficient quota.",
            "All recipients were deleted."
          ]
        },
        "email": {
          "type": "string",
          "description": "Email address of the invalid recipient. This may be unavailable if the recipient was deleted."
        }
      },
      "description": "Issue(s) with a voicemail recipient.",
      "id": "VoicemailRecipientError",
      "type": "object"
    },
    "ActionInfo": {
      "id": "ActionInfo",
      "description": "Metadata related to the action.",
      "type": "object",
      "properties": {
        "evidenceLockerFilePath": {
          "description": "Google Cloud Storage location of the content that violated the rule. This field has format: \"/\"",
          "type": "string"
        }
      }
    },
    "LoginDetails": {
      "properties": {
        "loginTime": {
          "description": "Optional. The successful login time that is associated with the warning event. This isn't present for blocked login attempts.",
          "format": "google-datetime",
          "type": "string"
        },
        "ipAddress": {
          "type": "string",
          "description": "Optional. The human-readable IP address (for example, `11.22.33.44`) that is associated with the warning event."
        }
      },
      "id": "LoginDetails",
      "type": "object",
      "description": "The details of the login action."
    },
    "BatchUndeleteAlertsRequest": {
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        },
        "alertId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of alert IDs to undelete."
        }
      },
      "description": "A request to perform batch undelete on alerts.",
      "id": "BatchUndeleteAlertsRequest",
      "type": "object"
    },
    "DeviceManagementRule": {
      "properties": {
        "ruleAction": {
          "type": "string",
          "description": "Action taken as result of the rule"
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of the rule that triggered the alert"
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "iosVendorId": {
          "type": "string",
          "description": "Required for iOS, empty for others."
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "ownerId": {
          "description": "Obfuscated ID of the owner of the device",
          "type": "string"
        }
      },
      "description": "Alerts from Device Management Rules configured by Admin.",
      "id": "DeviceManagementRule",
      "type": "object"
    },
    "DomainWideTakeoutInitiated": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the admin who initiated the takeout."
        },
        "takeoutRequestId": {
          "description": "The takeout request ID.",
          "type": "string"
        }
      },
      "id": "DomainWideTakeoutInitiated",
      "type": "object",
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived from audit logs."
    },
    "AccessApproval": {
      "id": "AccessApproval",
      "description": "Alert that is triggered when Google support requests to access customer data.",
      "properties": {
        "scope": {
          "description": "Scope of access, also known as a resource. This is further narrowed down by the product field.",
          "type": "string"
        },
        "tickets": {
          "items": {
            "$ref": "SupportTicket"
          },
          "description": "Support tickets related to this Access Approvals request. Populated if there is an associated case number.",
          "type": "array"
        },
        "officeLocation": {
          "description": "Office location of Google staff requesting access such as \"US\".",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "ID of the Access Approvals request. This is a helpful field when requesting support from Google."
        },
        "justificationReason": {
          "type": "array",
          "description": "Justification for data access based on justification enums.",
          "items": {
            "enum": [
              "JUSTIFICATION_UNSPECIFIED",
              "CUSTOMER_INITIATED_SUPPORT",
              "GOOGLE_INITIATED_REVIEW",
              "GOOGLE_INITIATED_SERVICE",
              "THIRD_PARTY_DATA_REQUEST",
              "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Justification unspecified",
              "Customer Initiated Support",
              "Google Initiated Review",
              "Google Initiated Service",
              "Third Party Data Request",
              "Google Response to Production Alert"
            ]
          }
        },
        "products": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Products within scope of the Access Approvals request."
        }
      },
      "type": "object"
    },
    "UserDefinedDetectorInfo": {
      "description": "Detector defined by administrators.",
      "properties": {
        "resourceName": {
          "description": "Resource name that uniquely identifies the detector.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the detector.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserDefinedDetectorInfo"
    },
    "ClientSideEncryptionServiceUnavailable": {
      "id": "ClientSideEncryptionServiceUnavailable",
      "properties": {
        "keyServiceError": {
          "items": {
            "$ref": "KeyServiceError"
          },
          "description": "External key services impacted by an outage or misconfiguration.",
          "type": "array"
        },
        "idpError": {
          "type": "array",
          "items": {
            "$ref": "IdentityProviderError"
          },
          "description": "Identity providers impacted by an outage or misconfiguration."
        }
      },
      "description": "Alerts for client-side encryption outages.",
      "type": "object"
    },
    "SensitiveAdminAction": {
      "properties": {
        "primaryAdminChangedEvent": {
          "description": "Event occurred when primary admin changed in customer's account",
          "$ref": "PrimaryAdminChangedEvent"
        },
        "actorEmail": {
          "description": "Email of person who performed the action",
          "type": "string"
        },
        "ssoProfileDeletedEvent": {
          "description": "Event occurred when SSO Profile deleted in customer's account",
          "$ref": "SSOProfileDeletedEvent"
        },
        "superAdminPasswordResetEvent": {
          "description": "Event occurred when password was reset for super admin in customer's account",
          "$ref": "SuperAdminPasswordResetEvent"
        },
        "eventTime": {
          "description": "The time at which event occurred",
          "type": "string",
          "format": "google-datetime"
        },
        "ssoProfileUpdatedEvent": {
          "description": "Event occurred when SSO Profile updated in customer's account",
          "$ref": "SSOProfileUpdatedEvent"
        },
        "ssoProfileCreatedEvent": {
          "$ref": "SSOProfileCreatedEvent",
          "description": "Event occurred when SSO Profile created in customer's account"
        }
      },
      "id": "SensitiveAdminAction",
      "type": "object",
      "description": "Alert that is triggered when Sensitive Admin Action occur in customer account."
    },
    "ListAlertsResponse": {
      "description": "Response message for an alert listing request.",
      "type": "object",
      "id": "ListAlertsResponse",
      "properties": {
        "alerts": {
          "items": {
            "$ref": "Alert"
          },
          "type": "array",
          "description": "The list of alerts."
        },
        "nextPageToken": {
          "description": "The token for the next page. If not empty, indicates that there may be more alerts that match the listing request; this value can be used in a subsequent ListAlertsRequest to get alerts continuing from last result of the current list call.",
          "type": "string"
        }
      }
    },
    "Settings": {
      "id": "Settings",
      "description": "Customer-level settings.",
      "type": "object",
      "properties": {
        "notifications": {
          "description": "The list of notifications.",
          "type": "array",
          "items": {
            "$ref": "Notification"
          }
        }
      }
    },
    "MandatoryServiceAnnouncement": {
      "type": "object",
      "description": "Alert Created by the MSA team for communications necessary for continued use of Google Workspace Products.",
      "id": "MandatoryServiceAnnouncement",
      "properties": {
        "title": {
          "description": "One line summary of the announcement",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Detailed, freeform text describing the announcement"
        }
      }
    },
    "KeyServiceError": {
      "description": "Error related to an external key service.",
      "properties": {
        "errorCount": {
          "type": "string",
          "description": "Number of similar errors encountered.",
          "format": "int64"
        },
        "keyServiceUrl": {
          "type": "string",
          "description": "Url of the external key service."
        },
        "errorInfo": {
          "description": "Info on the key service error.",
          "enumDescriptions": [
            "Error info not specified.",
            "The response has malformed JSON.",
            "The response did not contain the wrapped/unwrapped key.",
            "SMIME sign only: The sign response did not contain the signature.",
            "SMIME only: The sign response does not include the algorithm name.",
            "SMIME only: the algorithm name in the response is not supported by the client.",
            "Fetch request on the client has failed."
          ],
          "type": "string",
          "enum": [
            "KEY_SERVICE_ERROR_INFO_UNSPECIFIED",
            "MALFORMED_JSON",
            "MISSING_KEY",
            "MISSING_SIGNATURE",
            "MISSING_ALGORITHM_NAME",
            "UNSUPPORTED_ALGORITHM",
            "FETCH_REQUEST_ERROR"
          ]
        },
        "httpResponseCode": {
          "description": "HTTP response status code from the key service.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "KeyServiceError",
      "type": "object"
    },
    "AccountWarning": {
      "type": "object",
      "description": "Alerts for user account warning events.",
      "properties": {
        "loginDetails": {
          "description": "Optional. Details of the login action associated with the warning event. This is only available for: * Suspicious login * Suspicious login (less secure app) * Suspicious programmatic login * User suspended (suspicious activity)",
          "$ref": "LoginDetails"
        },
        "email": {
          "description": "Required. The email of the user that this event belongs to.",
          "type": "string"
        }
      },
      "id": "AccountWarning"
    },
    "VaultAcceleratedDeletion": {
      "type": "object",
      "description": "Alert that is triggered when a Vault accelerated deletion request is created or canceled.",
      "properties": {
        "createTime": {
          "description": "The UTC timestamp of when the AD request was created",
          "type": "string",
          "format": "google-datetime"
        },
        "deletionRequestId": {
          "description": "Accelerated deletion request ID intended to be used to construct the Vault UI link to the AD request",
          "type": "string"
        },
        "appType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified app type",
            "Gmail app type"
          ],
          "description": "Currentlty only Gmail is supported as app type",
          "enum": [
            "VAULT_ACCELERATED_DELETION_APP_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_APP_TYPE_GMAIL"
          ]
        },
        "actionType": {
          "description": "The action can be one of create and cancel",
          "enumDescriptions": [
            "Unspecified action type",
            "AD Create action type",
            "AD Cancel action type"
          ],
          "type": "string",
          "enum": [
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CREATE",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CANCEL"
          ]
        },
        "matterId": {
          "description": "Matter ID of the accelerated deletion request intended to be used to construct the Vault UI link to the AD request",
          "type": "string"
        }
      },
      "id": "VaultAcceleratedDeletion"
    },
    "AppSettingsChanged": {
      "id": "AppSettingsChanged",
      "properties": {
        "alertDetails": {
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "format": "byte",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Rule name"
        }
      },
      "type": "object",
      "description": "Alerts from AppSettingsChanged bucket Rules configured by Admin which contain the following rules: - Calendar settings changed - Drive settings changed - Email settings changed - Mobile settings changed"
    },
    "ListAlertFeedbackResponse": {
      "type": "object",
      "id": "ListAlertFeedbackResponse",
      "description": "Response message for an alert feedback listing request.",
      "properties": {
        "feedback": {
          "items": {
            "$ref": "AlertFeedback"
          },
          "type": "array",
          "description": "The list of alert feedback. Feedback entries for each alert are ordered by creation time descending."
        }
      }
    },
    "PredefinedDetectorInfo": {
      "description": "Detector provided by Google.",
      "id": "PredefinedDetectorInfo",
      "properties": {
        "detectorName": {
          "description": "Name that uniquely identifies the detector.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SSOProfileDeletedEvent": {
      "properties": {
        "inboundSsoProfileName": {
          "description": "sso profile name which got deleted",
          "type": "string"
        }
      },
      "description": "Event occurred when SSO Profile deleted in customer's account. The event are being received from insight forwarder",
      "type": "object",
      "id": "SSOProfileDeletedEvent"
    },
    "ReportingRule": {
      "properties": {
        "alertDetails": {
          "type": "string",
          "format": "byte",
          "description": "Any other associated alert details, for example, AlertConfiguration."
        },
        "query": {
          "type": "string",
          "description": "Alert Rule query Sample Query query { condition { filter { expected_application_id: 777491262838 expected_event_name: \"indexable_content_change\" filter_op: IN } } conjunction_operator: OR }",
          "format": "byte"
        },
        "name": {
          "description": "Rule name",
          "type": "string"
        }
      },
      "id": "ReportingRule",
      "description": "Alerts from Reporting Rules configured by Admin.",
      "type": "object"
    },
    "MergeInfo": {
      "id": "MergeInfo",
      "description": "New alert tracking numbers.",
      "type": "object",
      "properties": {
        "newIncidentTrackingId": {
          "type": "string",
          "description": "The new tracking ID from the parent incident."
        },
        "newAlertId": {
          "description": "Optional. New alert ID. Reference the [google.apps.alertcenter.Alert] with this ID for the current state.",
          "type": "string"
        }
      }
    },
    "RequestInfo": {
      "description": "Requests for one application that needs default SQL setup.",
      "type": "object",
      "properties": {
        "numberOfRequests": {
          "type": "string",
          "description": "Required. Number of requests sent for this application to set up default SQL instance.",
          "format": "int64"
        },
        "appKey": {
          "description": "Required. The application that requires the SQL setup.",
          "type": "string"
        },
        "appDeveloperEmail": {
          "description": "List of app developers who triggered notifications for above application.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "RequestInfo"
    },
    "MatchInfo": {
      "properties": {
        "userDefinedDetector": {
          "$ref": "UserDefinedDetectorInfo",
          "description": "For matched detector defined by administrators."
        },
        "predefinedDetector": {
          "$ref": "PredefinedDetectorInfo",
          "description": "For matched detector predefined by Google."
        }
      },
      "description": "Proto that contains match information from the condition part of the rule.",
      "id": "MatchInfo",
      "type": "object"
    },
    "PhishingSpike": {
      "description": "Alert for a spike in user reported phishing. *Warning*: This type has been deprecated. Use [MailPhishing](https://developers.google.com/workspace/admin/alertcenter/reference/rest/v1beta1/MailPhishing) instead.",
      "properties": {
        "messages": {
          "type": "array",
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "PhishingSpike"
    },
    "CloudPubsubTopic": {
      "description": "A reference to a Cloud Pubsub topic. To register for notifications, the owner of the topic must grant `alerts-api-push-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "type": "object",
      "id": "CloudPubsubTopic",
      "properties": {
        "topicName": {
          "type": "string",
          "description": "The `name` field of a Cloud Pubsub [Topic] (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic)."
        },
        "payloadFormat": {
          "description": "Optional. The format of the payload that would be sent. If not specified the format will be JSON.",
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "JSON"
          ],
          "enumDescriptions": [
            "Payload format is not specified (will use JSON as default).",
            "Use JSON."
          ],
          "type": "string"
        }
      }
    },
    "SSOProfileCreatedEvent": {
      "properties": {
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got created"
        }
      },
      "id": "SSOProfileCreatedEvent",
      "description": "Event occurred when SSO Profile created in customer's account. The event are being received from insight forwarder",
      "type": "object"
    },
    "RuleViolationInfo": {
      "properties": {
        "recipients": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Resource recipients. For Drive, they are grantees that the Drive file was shared with at the time of rule triggering. Valid values include user emails, group emails, domains, or 'anyone' if the file was publicly accessible. If the file was private the recipients list will be empty. For Gmail, they are emails of the users or groups that the Gmail message was sent to."
        },
        "matchInfo": {
          "type": "array",
          "description": "List of matches that were found in the resource content.",
          "items": {
            "$ref": "MatchInfo"
          }
        },
        "suppressedActionTypes": {
          "items": {
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "CHROME_KEEP_IN_MANAGED_CHROME",
              "CHROME_BLOCK_DATA_COPIED",
              "CHROME_WARN_DATA_COPIED",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ],
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Keep in managed Chrome.",
              "Block text copied from Chrome.",
              "Warn on text copied from Chrome.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "type": "string"
          },
          "description": "Actions suppressed due to other actions with higher priority.",
          "type": "array"
        },
        "trigger": {
          "type": "string",
          "enumDescriptions": [
            "Trigger is unspecified.",
            "A Drive file is shared.",
            "An email message is sent.",
            "A file being downloaded in a Chrome browser.",
            "A file being uploaded from a Chrome browser.",
            "Web content being uploaded from a Chrome browser.",
            "A Chat message is sent.",
            "A Chat attachment is uploaded.",
            "A page is being printed by Chrome.",
            "A URL is visited within Chrome.",
            "A file being transferred (copy or moved) between different file systems on ChromeOS.",
            "Gemini access.",
            "Agent execution.",
            "Text copied from Chrome."
          ],
          "description": "Trigger of the rule.",
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "DRIVE_SHARE",
            "MAIL_BEING_SENT",
            "CHROME_FILE_DOWNLOAD",
            "CHROME_FILE_UPLOAD",
            "CHROME_WEB_CONTENT_UPLOAD",
            "CHAT_MESSAGE_SENT",
            "CHAT_ATTACHMENT_UPLOADED",
            "CHROME_PAGE_PRINT",
            "CHROME_URL_VISITED",
            "CHROMEOS_FILE_TRANSFER",
            "GEMINI_ACCESS",
            "AGENT_EXECUTION",
            "CHROME_DATA_COPIED"
          ]
        },
        "triggeredActionTypes": {
          "description": "Actions applied as a consequence of the rule being triggered.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Keep in managed Chrome.",
              "Block text copied from Chrome.",
              "Warn on text copied from Chrome.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "CHROME_KEEP_IN_MANAGED_CHROME",
              "CHROME_BLOCK_DATA_COPIED",
              "CHROME_WARN_DATA_COPIED",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ]
          }
        },
        "triggeredActionInfo": {
          "items": {
            "$ref": "ActionInfo"
          },
          "type": "array",
          "description": "Metadata related to the triggered actions."
        },
        "agentType": {
          "enum": [
            "AGENT_TYPE_UNSPECIFIED",
            "STUDIO",
            "WORK_AGENT"
          ],
          "enumDescriptions": [
            "Unspecified agent type.",
            "Studio agent type.",
            "Work Agent agent type."
          ],
          "description": "Optional. Agent type that triggered the rule.",
          "type": "string"
        },
        "resourceInfo": {
          "description": "Details of the resource which violated the rule.",
          "$ref": "ResourceInfo"
        },
        "dataSource": {
          "type": "string",
          "description": "Source of the data.",
          "enumDescriptions": [
            "Data source is unspecified.",
            "Drive data source.",
            "Gmail data source.",
            "Chrome data source.",
            "Chat data source."
          ],
          "enum": [
            "DATA_SOURCE_UNSPECIFIED",
            "DRIVE",
            "GMAIL",
            "CHROME",
            "CHAT"
          ]
        },
        "triggeringUserEmail": {
          "description": "Email of the user who caused the violation. Value could be empty if not applicable, for example, a violation found by drive continuous scan.",
          "type": "string"
        },
        "ruleInfo": {
          "$ref": "RuleInfo",
          "description": "Details of the violated rule."
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "Event type wasn't set.",
            "An access attempt was blocked.",
            "A sharing attempt was blocked."
          ],
          "description": "Event associated with this alert after applying the rule.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ACCESS_BLOCKED",
            "SHARING_BLOCKED"
          ]
        }
      },
      "description": "Common alert information about violated rules that are configured by Google Workspace administrators.",
      "id": "RuleViolationInfo",
      "type": "object"
    },
    "TransferMisconfiguration": {
      "properties": {
        "errors": {
          "description": "Details for each invalid transfer or forward.",
          "type": "array",
          "items": {
            "$ref": "TransferError"
          }
        }
      },
      "type": "object",
      "id": "TransferMisconfiguration",
      "description": "Error related to transferring or forwarding a phone call."
    },
    "MaliciousEntity": {
      "id": "MaliciousEntity",
      "properties": {
        "displayName": {
          "description": "The header from display name.",
          "type": "string"
        },
        "fromHeader": {
          "description": "The sender email address.",
          "type": "string"
        },
        "entity": {
          "description": "The actor who triggered a gmail phishing alert.",
          "$ref": "User"
        }
      },
      "type": "object",
      "description": "Entity whose actions triggered a Gmail phishing alert."
    },
    "SuspiciousActivitySecurityDetail": {
      "type": "object",
      "id": "SuspiciousActivitySecurityDetail",
      "properties": {
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "newValue": {
          "description": "The new value of the device property after the change.",
          "type": "string"
        },
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "oldValue": {
          "type": "string",
          "description": "The old value of the device property before the change."
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "deviceProperty": {
          "type": "string",
          "description": "The device property which was changed."
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        }
      },
      "description": "Detailed information of a single MDM suspicious activity event."
    },
    "User": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the user."
        },
        "emailAddress": {
          "description": "Email address of the user.",
          "type": "string"
        }
      },
      "id": "User",
      "type": "object",
      "description": "A user."
    }
  },
  "servicePath": "",
  "ownerName": "Google",
  "batchPath": "batch",
  "canonicalName": "AlertCenter",
  "rootUrl": "https://alertcenter.googleapis.com/",
  "basePath": "",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "id": "alertcenter:v1beta1",
  "protocol": "rest",
  "title": "Google Workspace Alert Center API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Manages alerts on issues affecting your domain. Note: The current version of this API (v1beta1) is available to all Google Workspace customers. ",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.alerts": {
          "description": "See and delete your domain's Google Workspace alerts, and send alert feedback"
        }
      }
    }
  },
  "version_module": true,
  "name": "alertcenter",
  "mtlsRootUrl": "https://alertcenter.mtls.googleapis.com/",
  "resources": {
    "v1beta1": {
      "methods": {
        "updateSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "description": "Updates the customer-level settings.",
          "id": "alertcenter.updateSettings",
          "flatPath": "v1beta1/settings",
          "path": "v1beta1/settings",
          "request": {
            "$ref": "Settings"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [],
          "response": {
            "$ref": "Settings"
          },
          "parameters": {
            "customerId": {
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string"
            }
          }
        },
        "getSettings": {
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must/ have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "parameterOrder": [],
          "flatPath": "v1beta1/settings",
          "httpMethod": "GET",
          "path": "v1beta1/settings",
          "id": "alertcenter.getSettings",
          "description": "Returns customer-level settings.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "Settings"
          }
        }
      }
    },
    "alerts": {
      "methods": {
        "batchDelete": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "request": {
            "$ref": "BatchDeleteAlertsRequest"
          },
          "description": "Performs batch delete operation on alerts.",
          "response": {
            "$ref": "BatchDeleteAlertsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "v1beta1/alerts:batchDelete",
          "id": "alertcenter.alerts.batchDelete",
          "path": "v1beta1/alerts:batchDelete",
          "parameters": {}
        },
        "batchUndelete": {
          "path": "v1beta1/alerts:batchUndelete",
          "flatPath": "v1beta1/alerts:batchUndelete",
          "id": "alertcenter.alerts.batchUndelete",
          "description": "Performs batch undelete operation on alerts.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {},
          "request": {
            "$ref": "BatchUndeleteAlertsRequest"
          },
          "response": {
            "$ref": "BatchUndeleteAlertsResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "list": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A token identifying a page of results the server should return. If empty, a new iteration is started. To continue an iteration, pass in the value from the previous ListAlertsResponse's next_page_token field."
            },
            "orderBy": {
              "type": "string",
              "description": "Optional. The sort order of the list results. If not specified results may be returned in arbitrary order. You can sort the results in descending order based on the creation timestamp using `order_by=\"create_time desc\"`. Currently, supported sorting are `create_time asc`, `create_time desc`, `update_time desc`",
              "location": "query"
            },
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "Optional. A query string for filtering alert results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.list).",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. The requested page size. Server may return fewer items than requested. If unspecified, server picks an appropriate default.",
              "location": "query"
            }
          },
          "id": "alertcenter.alerts.list",
          "description": "Lists the alerts.",
          "parameterOrder": [],
          "path": "v1beta1/alerts",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "ListAlertsResponse"
          },
          "httpMethod": "GET",
          "flatPath": "v1beta1/alerts"
        },
        "getMetadata": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "flatPath": "v1beta1/alerts/{alertId}/metadata",
          "description": "Returns the metadata of an alert. Attempting to get metadata for a non-existent alert returns `NOT_FOUND` error.",
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert metadata is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query"
            },
            "alertId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The identifier of the alert this metadata belongs to."
            }
          },
          "response": {
            "$ref": "AlertMetadata"
          },
          "path": "v1beta1/alerts/{alertId}/metadata",
          "id": "alertcenter.alerts.getMetadata",
          "parameterOrder": [
            "alertId"
          ],
          "httpMethod": "GET"
        },
        "get": {
          "response": {
            "$ref": "Alert"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameterOrder": [
            "alertId"
          ],
          "description": "Gets the specified alert. Attempting to get a nonexistent alert returns `NOT_FOUND` error.",
          "parameters": {
            "alertId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The identifier of the alert to retrieve."
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "id": "alertcenter.alerts.get",
          "flatPath": "v1beta1/alerts/{alertId}",
          "path": "v1beta1/alerts/{alertId}",
          "httpMethod": "GET"
        },
        "undelete": {
          "response": {
            "$ref": "Alert"
          },
          "parameters": {
            "alertId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The identifier of the alert to undelete."
            }
          },
          "path": "v1beta1/alerts/{alertId}:undelete",
          "request": {
            "$ref": "UndeleteAlertRequest"
          },
          "id": "alertcenter.alerts.undelete",
          "httpMethod": "POST",
          "description": "Restores, or \"undeletes\", an alert that was marked for deletion within the past 30 days. Attempting to undelete an alert which was marked for deletion over 30 days ago (which has been removed from the Alert Center database) or a nonexistent alert returns a `NOT_FOUND` error. Attempting to undelete an alert which has not been marked for deletion has no effect.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameterOrder": [
            "alertId"
          ],
          "flatPath": "v1beta1/alerts/{alertId}:undelete"
        },
        "delete": {
          "flatPath": "v1beta1/alerts/{alertId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string",
              "location": "query"
            },
            "alertId": {
              "location": "path",
              "required": true,
              "description": "Required. The identifier of the alert to delete.",
              "type": "string"
            }
          },
          "description": "Marks the specified alert for deletion. An alert that has been marked for deletion is removed from Alert Center after 30 days. Marking an alert for deletion has no effect on an alert which has already been marked for deletion. Attempting to mark a nonexistent alert for deletion results in a `NOT_FOUND` error.",
          "parameterOrder": [
            "alertId"
          ],
          "path": "v1beta1/alerts/{alertId}",
          "id": "alertcenter.alerts.delete",
          "response": {
            "$ref": "Empty"
          }
        }
      },
      "resources": {
        "feedback": {
          "methods": {
            "create": {
              "path": "v1beta1/alerts/{alertId}/feedback",
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "id": "alertcenter.alerts.feedback.create",
              "request": {
                "$ref": "AlertFeedback"
              },
              "parameterOrder": [
                "alertId"
              ],
              "response": {
                "$ref": "AlertFeedback"
              },
              "description": "Creates new feedback for an alert. Attempting to create a feedback for a non-existent alert returns `NOT_FOUND` error. Attempting to create a feedback for an alert that is marked for deletion returns `FAILED_PRECONDITION' error.",
              "parameters": {
                "customerId": {
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
                  "type": "string",
                  "location": "query"
                },
                "alertId": {
                  "location": "path",
                  "description": "Required. The identifier of the alert this feedback belongs to.",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "httpMethod": "GET",
              "description": "Lists all the feedback for an alert. Attempting to list feedbacks for a non-existent alert returns `NOT_FOUND` error.",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A query string for filtering alert feedback results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.feedback.list)."
                },
                "customerId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
                },
                "alertId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The alert identifier. The \"-\" wildcard could be used to represent all alerts.",
                  "required": true
                }
              },
              "parameterOrder": [
                "alertId"
              ],
              "path": "v1beta1/alerts/{alertId}/feedback",
              "id": "alertcenter.alerts.feedback.list",
              "response": {
                "$ref": "ListAlertFeedbackResponse"
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com"
}
