{
  "kind": "discovery#restDescription",
  "id": "alertcenter:v1beta1",
  "version": "v1beta1",
  "discoveryVersion": "v1",
  "basePath": "",
  "title": "Google Workspace Alert Center API",
  "protocol": "rest",
  "schemas": {
    "SupportTicket": {
      "id": "SupportTicket",
      "description": "Support ticket related to Access Approvals request",
      "type": "object",
      "properties": {
        "ticketId": {
          "description": "Support ticket ID",
          "type": "string"
        },
        "ticketUrl": {
          "type": "string",
          "description": "Link to support ticket"
        }
      }
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "BatchUndeleteAlertsResponse": {
      "type": "object",
      "description": "Response to batch undelete operation on alerts.",
      "id": "BatchUndeleteAlertsResponse",
      "properties": {
        "successAlertIds": {
          "items": {
            "type": "string"
          },
          "description": "The successful list of alert IDs.",
          "type": "array"
        },
        "failedAlertStatus": {
          "additionalProperties": {
            "$ref": "Status"
          },
          "description": "The status details for each failed `alert_id`.",
          "type": "object"
        }
      }
    },
    "AlertMetadata": {
      "description": "An alert metadata.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The time this metadata was last updated.",
          "format": "google-datetime"
        },
        "assignee": {
          "type": "string",
          "description": "The email address of the user assigned to the alert."
        },
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert metadata from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform metadata updates in order to avoid race conditions: An `etag` is returned in the response which contains alert metadata, and systems are expected to put that etag in the request to update alert metadata to ensure that their change will be applied to the same version of the alert metadata. If no `etag` is provided in the call to update alert metadata, then the existing alert metadata is overwritten blindly.",
          "type": "string"
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The alert identifier."
        },
        "severity": {
          "type": "string",
          "description": "The severity value of the alert. Alert Center will set this field at alert creation time, default's to an empty string when it could not be determined. The supported values for update actions on this field are the following: * HIGH * MEDIUM * LOW"
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "The current status of the alert. The supported values are the following: * NOT_STARTED * IN_PROGRESS * CLOSED"
        }
      },
      "id": "AlertMetadata",
      "type": "object"
    },
    "DeviceCompromised": {
      "description": "A mobile device compromised alert. Derived from audit logs.",
      "id": "DeviceCompromised",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "events": {
          "type": "array",
          "description": "Required. The list of security events.",
          "items": {
            "$ref": "DeviceCompromisedSecurityDetail"
          }
        }
      }
    },
    "DomainId": {
      "type": "object",
      "description": "Domain ID of Gmail phishing alerts.",
      "id": "DomainId",
      "properties": {
        "customerPrimaryDomain": {
          "type": "string",
          "description": "The primary domain for the customer."
        }
      }
    },
    "SSOProfileUpdatedEvent": {
      "description": "Event occurred when SSO Profile updated in customer's account. The event are being received from insight forwarder",
      "id": "SSOProfileUpdatedEvent",
      "type": "object",
      "properties": {
        "inboundSsoProfileName": {
          "description": "sso profile name which got updated",
          "type": "string"
        },
        "inboundSsoProfileChanges": {
          "description": "changes made to sso profile",
          "type": "string"
        }
      }
    },
    "SSOProfileCreatedEvent": {
      "type": "object",
      "description": "Event occurred when SSO Profile created in customer's account. The event are being received from insight forwarder",
      "properties": {
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got created"
        }
      },
      "id": "SSOProfileCreatedEvent"
    },
    "BatchUndeleteAlertsRequest": {
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
        },
        "alertId": {
          "description": "Required. The list of alert IDs to undelete.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchUndeleteAlertsRequest",
      "description": "A request to perform batch undelete on alerts."
    },
    "TransferMisconfiguration": {
      "description": "Error related to transferring or forwarding a phone call.",
      "id": "TransferMisconfiguration",
      "type": "object",
      "properties": {
        "errors": {
          "items": {
            "$ref": "TransferError"
          },
          "type": "array",
          "description": "Details for each invalid transfer or forward."
        }
      }
    },
    "DeviceManagementRule": {
      "type": "object",
      "id": "DeviceManagementRule",
      "properties": {
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "ownerId": {
          "description": "Obfuscated ID of the owner of the device",
          "type": "string"
        },
        "iosVendorId": {
          "type": "string",
          "description": "Required for iOS, empty for others."
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "id": {
          "description": "ID of the rule that triggered the alert",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "ruleAction": {
          "description": "Action taken as result of the rule",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        }
      },
      "description": "Alerts from Device Management Rules configured by Admin."
    },
    "TransferError": {
      "description": "Details for an invalid transfer or forward.",
      "id": "TransferError",
      "type": "object",
      "properties": {
        "id": {
          "description": "Ring group or auto attendant ID. Not set for users.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "User's email address. This may be unavailable if the entity was deleted."
        },
        "entityType": {
          "type": "string",
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Transfer to auto attendant.",
            "Transfer to ring group.",
            "Transfer to user."
          ],
          "description": "Type of entity being transferred to. For ring group members, this should always be USER.",
          "enum": [
            "TRANSFER_ENTITY_TYPE_UNSPECIFIED",
            "TRANSFER_AUTO_ATTENDANT",
            "TRANSFER_RING_GROUP",
            "TRANSFER_USER"
          ]
        },
        "invalidReason": {
          "type": "string",
          "enum": [
            "TRANSFER_INVALID_REASON_UNSPECIFIED",
            "TRANSFER_TARGET_DELETED",
            "UNLICENSED",
            "SUSPENDED",
            "NO_PHONE_NUMBER"
          ],
          "enumDescriptions": [
            "Reason wasn't specified.",
            "The transfer target can't be found—most likely it was deleted.",
            "The user's Google Voice license was removed.",
            "The user's Google Workspace account was suspended.",
            "The transfer target no longer has a phone number. This reason should become deprecated once we support numberless transfer."
          ],
          "description": "Reason for the error."
        },
        "name": {
          "description": "User's full name, or the ring group / auto attendant name. This may be unavailable if the entity was deleted.",
          "type": "string"
        }
      }
    },
    "LoginDetails": {
      "properties": {
        "loginTime": {
          "description": "Optional. The successful login time that is associated with the warning event. This isn't present for blocked login attempts.",
          "format": "google-datetime",
          "type": "string"
        },
        "ipAddress": {
          "type": "string",
          "description": "Optional. The human-readable IP address (for example, `11.22.33.44`) that is associated with the warning event."
        }
      },
      "id": "LoginDetails",
      "type": "object",
      "description": "The details of the login action."
    },
    "VoicemailRecipientError": {
      "id": "VoicemailRecipientError",
      "properties": {
        "invalidReason": {
          "type": "string",
          "enum": [
            "EMAIL_INVALID_REASON_UNSPECIFIED",
            "OUT_OF_QUOTA",
            "RECIPIENT_DELETED"
          ],
          "enumDescriptions": [
            "Reason wasn't specified.",
            "User can't receive emails due to insufficient quota.",
            "All recipients were deleted."
          ],
          "description": "Reason for the error."
        },
        "email": {
          "type": "string",
          "description": "Email address of the invalid recipient. This may be unavailable if the recipient was deleted."
        }
      },
      "type": "object",
      "description": "Issue(s) with a voicemail recipient."
    },
    "AppMakerSqlSetupNotification": {
      "description": "Alerts from App Maker to notify admins to set up default SQL instance.",
      "properties": {
        "requestInfo": {
          "type": "array",
          "items": {
            "$ref": "RequestInfo"
          },
          "description": "List of applications with requests for default SQL set up."
        }
      },
      "type": "object",
      "id": "AppMakerSqlSetupNotification"
    },
    "SuspiciousActivitySecurityDetail": {
      "type": "object",
      "id": "SuspiciousActivitySecurityDetail",
      "properties": {
        "iosVendorId": {
          "type": "string",
          "description": "Required for iOS, empty for others."
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "oldValue": {
          "description": "The old value of the device property before the change.",
          "type": "string"
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the device property after the change."
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "deviceProperty": {
          "type": "string",
          "description": "The device property which was changed."
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        }
      },
      "description": "Detailed information of a single MDM suspicious activity event."
    },
    "AppsOutage": {
      "id": "AppsOutage",
      "properties": {
        "resolutionTime": {
          "format": "google-datetime",
          "description": "Timestamp when the outage is expected to be resolved, or has confirmed resolution. Provided only when known.",
          "type": "string"
        },
        "incidentTrackingId": {
          "type": "string",
          "description": "Incident tracking ID."
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Status is unspecified.",
            "The incident has just been reported.",
            "The incident is ongoing.",
            "The incident has been resolved.",
            "Further assessment indicated no customer impact.",
            "The incident has been partially resolved.",
            "The incident was merged into a parent.",
            "The incident has lower impact than initially anticipated."
          ],
          "description": "Current outage status.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NEW",
            "ONGOING",
            "RESOLVED",
            "FALSE_POSITIVE",
            "PARTIALLY_RESOLVED",
            "MERGED",
            "DOWNGRADED"
          ]
        },
        "nextUpdateTime": {
          "type": "string",
          "description": "Timestamp by which the next update is expected to arrive.",
          "format": "google-datetime"
        },
        "mergeInfo": {
          "$ref": "MergeInfo",
          "description": "Indicates new alert details under which the outage is communicated. Only populated when Status is MERGED."
        },
        "products": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of products impacted by the outage."
        },
        "dashboardUri": {
          "type": "string",
          "description": "Link to the outage event in Google Workspace Status Dashboard"
        }
      },
      "type": "object",
      "description": "An outage incident reported for a Google Workspace service."
    },
    "EntityList": {
      "type": "object",
      "properties": {
        "headers": {
          "items": {
            "type": "string"
          },
          "description": "Headers of the values in entities. If no value is defined in Entity, this field should be empty.",
          "type": "array"
        },
        "entities": {
          "type": "array",
          "description": "List of entities affected by the alert.",
          "items": {
            "$ref": "Entity"
          }
        },
        "name": {
          "type": "string",
          "description": "Name of the key detail used to display this entity list."
        }
      },
      "id": "EntityList",
      "description": "EntityList stores entities in a format that can be translated to a table in the Alert Center UI."
    },
    "KeyServiceError": {
      "properties": {
        "errorInfo": {
          "enumDescriptions": [
            "Error info not specified.",
            "The response has malformed JSON.",
            "The response did not contain the wrapped/unwrapped key.",
            "SMIME sign only: The sign response did not contain the signature.",
            "SMIME only: The sign response does not include the algorithm name.",
            "SMIME only: the algorithm name in the response is not supported by the client.",
            "Fetch request on the client has failed.",
            "Fetch request from the Google server to the key service has failed."
          ],
          "description": "Info on the key service error.",
          "enum": [
            "KEY_SERVICE_ERROR_INFO_UNSPECIFIED",
            "MALFORMED_JSON",
            "MISSING_KEY",
            "MISSING_SIGNATURE",
            "MISSING_ALGORITHM_NAME",
            "UNSUPPORTED_ALGORITHM",
            "FETCH_REQUEST_ERROR",
            "SERVER_SIDE_FETCH_REQUEST_ERROR"
          ],
          "type": "string"
        },
        "errorCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of similar errors encountered."
        },
        "httpResponseCode": {
          "format": "int64",
          "type": "string",
          "description": "HTTP response status code from the key service."
        },
        "keyServiceUrl": {
          "type": "string",
          "description": "Url of the external key service."
        }
      },
      "id": "KeyServiceError",
      "description": "Error related to an external key service.",
      "type": "object"
    },
    "VaultAcceleratedDeletion": {
      "properties": {
        "createTime": {
          "description": "The UTC timestamp of when the AD request was created",
          "format": "google-datetime",
          "type": "string"
        },
        "actionType": {
          "enum": [
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CREATE",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CANCEL"
          ],
          "enumDescriptions": [
            "Unspecified action type",
            "AD Create action type",
            "AD Cancel action type"
          ],
          "description": "The action can be one of create and cancel",
          "type": "string"
        },
        "appType": {
          "type": "string",
          "description": "Currentlty only Gmail is supported as app type",
          "enumDescriptions": [
            "Unspecified app type",
            "Gmail app type"
          ],
          "enum": [
            "VAULT_ACCELERATED_DELETION_APP_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_APP_TYPE_GMAIL"
          ]
        },
        "deletionRequestId": {
          "description": "Accelerated deletion request ID intended to be used to construct the Vault UI link to the AD request",
          "type": "string"
        },
        "matterId": {
          "description": "Matter ID of the accelerated deletion request intended to be used to construct the Vault UI link to the AD request",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VaultAcceleratedDeletion",
      "description": "Alert that is triggered when a Vault accelerated deletion request is created or canceled."
    },
    "SuspiciousActivity": {
      "id": "SuspiciousActivity",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "events": {
          "items": {
            "$ref": "SuspiciousActivitySecurityDetail"
          },
          "type": "array",
          "description": "Required. The list of security events."
        }
      },
      "description": "A mobile suspicious activity alert. Derived from audit logs."
    },
    "DeviceCompromisedSecurityDetail": {
      "description": "Detailed information of a single MDM device compromised event.",
      "properties": {
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "deviceCompromisedState": {
          "description": "The device compromised state. Possible values are \"`Compromised`\" or \"`Not Compromised`\".",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DeviceCompromisedSecurityDetail"
    },
    "MaliciousEntity": {
      "description": "Entity whose actions triggered a Gmail phishing alert.",
      "id": "MaliciousEntity",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The header from display name.",
          "type": "string"
        },
        "entity": {
          "description": "The actor who triggered a gmail phishing alert.",
          "$ref": "User"
        },
        "fromHeader": {
          "description": "The sender email address.",
          "type": "string"
        }
      }
    },
    "BadWhitelist": {
      "id": "BadWhitelist",
      "properties": {
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "messages": {
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "type": "array",
          "description": "The list of messages contained by this alert."
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "sourceIp": {
          "type": "string",
          "description": "The source IP address of the malicious email, for example, `127.0.0.1`."
        }
      },
      "description": "Alert for setting the domain or IP that malicious email comes from as whitelisted domain or IP in Gmail advanced settings.",
      "type": "object"
    },
    "AccountWarning": {
      "id": "AccountWarning",
      "properties": {
        "email": {
          "description": "Required. The email of the user that this event belongs to.",
          "type": "string"
        },
        "loginDetails": {
          "$ref": "LoginDetails",
          "description": "Optional. Details of the login action associated with the warning event. This is only available for: * Suspicious login * Suspicious login (less secure app) * Suspicious programmatic login * User suspended (suspicious activity)"
        }
      },
      "description": "Alerts for user account warning events.",
      "type": "object"
    },
    "BatchDeleteAlertsResponse": {
      "id": "BatchDeleteAlertsResponse",
      "description": "Response to batch delete operation on alerts.",
      "properties": {
        "successAlertIds": {
          "items": {
            "type": "string"
          },
          "description": "The successful list of alert IDs.",
          "type": "array"
        },
        "failedAlertStatus": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          },
          "description": "The status details for each failed `alert_id`."
        }
      },
      "type": "object"
    },
    "UndeleteAlertRequest": {
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        }
      },
      "id": "UndeleteAlertRequest",
      "type": "object",
      "description": "A request to undelete a specific alert that was marked for deletion."
    },
    "DomainWideTakeoutInitiated": {
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived from audit logs.",
      "id": "DomainWideTakeoutInitiated",
      "type": "object",
      "properties": {
        "takeoutRequestId": {
          "type": "string",
          "description": "The takeout request ID."
        },
        "email": {
          "description": "The email of the admin who initiated the takeout.",
          "type": "string"
        }
      }
    },
    "DriveSyncStateChanged": {
      "type": "object",
      "id": "DriveSyncStateChanged",
      "description": "Alerts for when a user is restricted from syncing content from clients such as Drive for Desktop.",
      "properties": {
        "syncPauseStartTime": {
          "description": "Time at which sync was paused.",
          "type": "string",
          "format": "google-datetime"
        },
        "syncStateChangeReason": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state change reason",
            "Sync state was changed due to unusual activity, such as potential ransomware",
            "The user provided feedback indicating that the initial sync state change may have been caused by unexpected activity",
            "The user provided feedback indicating that the initial sync state change may have been caused by a false positive"
          ],
          "enum": [
            "SYNC_STATE_CHANGE_REASON_UNSPECIFIED",
            "UNUSUAL_ACTIVITY",
            "USER_FEEDBACK_TRUE_POSITIVE",
            "USER_FEEDBACK_FALSE_POSITIVE"
          ],
          "description": "The reason for the sync state change."
        },
        "email": {
          "type": "string",
          "description": "Email of the user affected."
        },
        "syncState": {
          "description": "The current sync state.",
          "enum": [
            "SYNC_STATE_UNSPECIFIED",
            "PAUSED",
            "RESUMED"
          ],
          "enumDescriptions": [
            "Unspecified state",
            "Sync is paused",
            "Sync is resumed"
          ],
          "type": "string"
        }
      }
    },
    "Notification": {
      "id": "Notification",
      "description": "Settings for callback notifications. For more details see [Google Workspace Alert Notification](https://developers.google.com/workspace/admin/alertcenter/guides/notifications).",
      "type": "object",
      "properties": {
        "cloudPubsubTopic": {
          "$ref": "CloudPubsubTopic",
          "description": "A Google Cloud Pub/sub topic destination."
        }
      }
    },
    "CsvRow": {
      "id": "CsvRow",
      "description": "A representation of a single data row in a CSV file.",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "type": "string"
          },
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "type": "array"
        }
      }
    },
    "UserChanges": {
      "description": "Alerts from UserChanges bucket Rules for predefined rules which contain the following rules: - Suspended user made active - New user added - User suspended (by admin) - User granted admin privileges - User admin privileges revoked - User deleted - Users password changed",
      "type": "object",
      "id": "UserChanges",
      "properties": {
        "name": {
          "description": "Rule name",
          "type": "string"
        }
      }
    },
    "RuleViolationInfo": {
      "properties": {
        "suppressedActionTypes": {
          "description": "Actions suppressed due to other actions with higher priority.",
          "type": "array",
          "items": {
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "CHROME_KEEP_IN_MANAGED_CHROME",
              "CHROME_BLOCK_DATA_COPIED",
              "CHROME_WARN_DATA_COPIED",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Keep in managed Chrome.",
              "Block text copied from Chrome.",
              "Warn on text copied from Chrome.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ]
          }
        },
        "triggeringUserEmail": {
          "description": "Email of the user who caused the violation. Value could be empty if not applicable, for example, a violation found by drive continuous scan.",
          "type": "string"
        },
        "dataSource": {
          "type": "string",
          "description": "Source of the data.",
          "enumDescriptions": [
            "Data source is unspecified.",
            "Drive data source.",
            "Gmail data source.",
            "Chrome data source.",
            "Chat data source."
          ],
          "enum": [
            "DATA_SOURCE_UNSPECIFIED",
            "DRIVE",
            "GMAIL",
            "CHROME",
            "CHAT"
          ]
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "Event type wasn't set.",
            "An access attempt was blocked.",
            "A sharing attempt was blocked."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ACCESS_BLOCKED",
            "SHARING_BLOCKED"
          ],
          "description": "Event associated with this alert after applying the rule."
        },
        "triggeredActionInfo": {
          "items": {
            "$ref": "ActionInfo"
          },
          "description": "Metadata related to the triggered actions.",
          "type": "array"
        },
        "trigger": {
          "type": "string",
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "DRIVE_SHARE",
            "MAIL_BEING_SENT",
            "CHROME_FILE_DOWNLOAD",
            "CHROME_FILE_UPLOAD",
            "CHROME_WEB_CONTENT_UPLOAD",
            "CHAT_MESSAGE_SENT",
            "CHAT_ATTACHMENT_UPLOADED",
            "CHROME_PAGE_PRINT",
            "CHROME_URL_VISITED",
            "CHROMEOS_FILE_TRANSFER",
            "GEMINI_ACCESS",
            "AGENT_EXECUTION",
            "CHROME_DATA_COPIED",
            "CHROME_NETWORK_REQUEST"
          ],
          "enumDescriptions": [
            "Trigger is unspecified.",
            "A Drive file is shared.",
            "An email message is sent.",
            "A file being downloaded in a Chrome browser.",
            "A file being uploaded from a Chrome browser.",
            "Web content being uploaded from a Chrome browser.",
            "A Chat message is sent.",
            "A Chat attachment is uploaded.",
            "A page is being printed by Chrome.",
            "A URL is visited within Chrome.",
            "A file being transferred (copy or moved) between different file systems on ChromeOS.",
            "Gemini access.",
            "Agent execution.",
            "Text copied from Chrome.",
            "Network request from Chrome."
          ],
          "description": "Trigger of the rule."
        },
        "agentType": {
          "description": "Optional. Agent type that triggered the rule.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified agent type.",
            "Studio agent type.",
            "Work Agent agent type."
          ],
          "enum": [
            "AGENT_TYPE_UNSPECIFIED",
            "STUDIO",
            "WORK_AGENT"
          ]
        },
        "triggeredActionTypes": {
          "description": "Actions applied as a consequence of the rule being triggered.",
          "items": {
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Keep in managed Chrome.",
              "Block text copied from Chrome.",
              "Warn on text copied from Chrome.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "CHROME_KEEP_IN_MANAGED_CHROME",
              "CHROME_BLOCK_DATA_COPIED",
              "CHROME_WARN_DATA_COPIED",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ]
          },
          "type": "array"
        },
        "ruleInfo": {
          "description": "Details of the violated rule.",
          "$ref": "RuleInfo"
        },
        "matchInfo": {
          "items": {
            "$ref": "MatchInfo"
          },
          "description": "List of matches that were found in the resource content.",
          "type": "array"
        },
        "recipients": {
          "description": "Resource recipients. For Drive, they are grantees that the Drive file was shared with at the time of rule triggering. Valid values include user emails, group emails, domains, or 'anyone' if the file was publicly accessible. If the file was private the recipients list will be empty. For Gmail, they are emails of the users or groups that the Gmail message was sent to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourceInfo": {
          "description": "Details of the resource which violated the rule.",
          "$ref": "ResourceInfo"
        }
      },
      "type": "object",
      "description": "Common alert information about violated rules that are configured by Google Workspace administrators.",
      "id": "RuleViolationInfo"
    },
    "AlertFeedback": {
      "id": "AlertFeedback",
      "description": "A customer feedback about an alert.",
      "properties": {
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google Workspace account of the customer."
        },
        "createTime": {
          "description": "Output only. The time this feedback was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "enumDescriptions": [
            "The feedback type is not specified.",
            "The alert report is not useful.",
            "The alert report is somewhat useful.",
            "The alert report is very useful."
          ],
          "type": "string",
          "description": "Required. The type of the feedback.",
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ]
        },
        "email": {
          "description": "Output only. The email of the user that provided the feedback.",
          "type": "string"
        },
        "feedbackId": {
          "description": "Output only. The unique identifier for the feedback.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SSOProfileDeletedEvent": {
      "properties": {
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got deleted"
        }
      },
      "description": "Event occurred when SSO Profile deleted in customer's account. The event are being received from insight forwarder",
      "id": "SSOProfileDeletedEvent",
      "type": "object"
    },
    "Csv": {
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "type": "object",
      "id": "Csv",
      "properties": {
        "dataRows": {
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "type": "array",
          "items": {
            "$ref": "CsvRow"
          }
        },
        "headers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of headers for data columns in a CSV file."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "User": {
      "description": "A user.",
      "properties": {
        "displayName": {
          "description": "Display name of the user.",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address of the user."
        }
      },
      "id": "User",
      "type": "object"
    },
    "MatchInfo": {
      "properties": {
        "predefinedDetector": {
          "description": "For matched detector predefined by Google.",
          "$ref": "PredefinedDetectorInfo"
        },
        "userDefinedDetector": {
          "$ref": "UserDefinedDetectorInfo",
          "description": "For matched detector defined by administrators."
        }
      },
      "type": "object",
      "description": "Proto that contains match information from the condition part of the rule.",
      "id": "MatchInfo"
    },
    "ApnsCertificateExpirationInfo": {
      "description": "The explanation message associated with \"APNS certificate is expiring soon\" and \"APNS certificate has expired\" alerts.",
      "properties": {
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The expiration date of the APNS certificate."
        },
        "uid": {
          "description": "The UID of the certificate.",
          "type": "string"
        },
        "appleId": {
          "description": "The Apple ID used to create the certificate. It may be blank if admins didn't enter it.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ApnsCertificateExpirationInfo"
    },
    "CloudPubsubTopic": {
      "properties": {
        "topicName": {
          "type": "string",
          "description": "The `name` field of a Cloud Pubsub [Topic] (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic)."
        },
        "payloadFormat": {
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "JSON"
          ],
          "description": "Optional. The format of the payload that would be sent. If not specified the format will be JSON.",
          "enumDescriptions": [
            "Payload format is not specified (will use JSON as default).",
            "Use JSON."
          ],
          "type": "string"
        }
      },
      "description": "A reference to a Cloud Pubsub topic. To register for notifications, the owner of the topic must grant `alerts-api-push-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "id": "CloudPubsubTopic",
      "type": "object"
    },
    "ActionInfo": {
      "properties": {
        "evidenceLockerFilePath": {
          "description": "Google Cloud Storage location of the content that violated the rule. This field has format: \"/\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ActionInfo",
      "description": "Metadata related to the action."
    },
    "Settings": {
      "type": "object",
      "description": "Customer-level settings.",
      "id": "Settings",
      "properties": {
        "notifications": {
          "type": "array",
          "items": {
            "$ref": "Notification"
          },
          "description": "The list of notifications."
        }
      }
    },
    "VoiceMisconfiguration": {
      "description": "An alert triggered when Google Voice configuration becomes invalid, generally due to an external entity being modified or deleted.",
      "properties": {
        "entityType": {
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Invalid auto attendant.",
            "Invalid ring group."
          ],
          "description": "Type of the entity whose configuration is now invalid.",
          "type": "string",
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "AUTO_ATTENDANT",
            "RING_GROUP"
          ]
        },
        "voicemailMisconfiguration": {
          "description": "Issue(s) with sending to voicemail.",
          "$ref": "VoicemailMisconfiguration"
        },
        "fixUri": {
          "description": "Link that the admin can follow to fix the issue.",
          "type": "string"
        },
        "transferMisconfiguration": {
          "$ref": "TransferMisconfiguration",
          "description": "Issue(s) with transferring or forwarding to an external entity."
        },
        "entityName": {
          "description": "Name of the entity whose configuration is now invalid.",
          "type": "string"
        },
        "membersMisconfiguration": {
          "description": "Issue(s) with members of a ring group.",
          "$ref": "TransferMisconfiguration"
        }
      },
      "id": "VoiceMisconfiguration",
      "type": "object"
    },
    "GoogleOperations": {
      "id": "GoogleOperations",
      "description": "An incident reported by Google Operations for a Google Workspace application.",
      "properties": {
        "description": {
          "description": "A detailed, freeform incident description.",
          "type": "string"
        },
        "title": {
          "description": "A one-line incident description.",
          "type": "string"
        },
        "domain": {
          "description": "Customer domain for email template personalization.",
          "type": "string"
        },
        "affectedUserEmails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of emails which correspond to the users directly affected by the incident."
        },
        "header": {
          "type": "string",
          "description": "A header to display above the incident message. Typically used to attach a localized notice on the timeline for followup comms translations."
        },
        "attachmentData": {
          "description": "Optional. Application-specific data for an incident, provided when the Google Workspace application which reported the incident cannot be completely restored to a valid state.",
          "$ref": "Attachment"
        }
      },
      "type": "object"
    },
    "Entity": {
      "type": "object",
      "description": "Individual entity affected by, or related to, an alert.",
      "id": "Entity",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Extra values beyond name. The order of values should align with headers in EntityList."
        },
        "link": {
          "description": "Link to a Security Investigation Tool search based on this entity, if available.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Human-readable name of this entity, such as an email address, file ID, or device name."
        }
      }
    },
    "Alert": {
      "description": "An alert affecting a customer.",
      "id": "Alert",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Required. The time the event that caused this alert was started or detected.",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform alert updates in order to avoid race conditions: An `etag` is returned in the response which contains alerts, and systems are expected to put that etag in the request to update alert to ensure that their change will be applied to the same version of the alert. If no `etag` is provided in the call to update alert, then the existing alert is overwritten blindly.",
          "type": "string"
        },
        "source": {
          "description": "Required. A unique identifier for the system that reported the alert. This is output only after alert is created. Supported sources are any of the following: * Google Operations * Mobile device management * Gmail phishing * Data Loss Prevention * Domain wide takeout * State sponsored attack * Google identity * Apps outage",
          "type": "string"
        },
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Optional. The data associated with this alert, for example google.apps.alertcenter.type.DeviceCompromised."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this alert was last updated."
        },
        "securityInvestigationToolLink": {
          "type": "string",
          "description": "Output only. An optional [Security Investigation Tool](https://support.google.com/a/answer/7575955) query for this alert."
        },
        "endTime": {
          "description": "Optional. The time the event that caused this alert ceased being active. If provided, the end time must not be earlier than the start time. If not provided, it indicates an ongoing alert.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this alert was created."
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. `True` if this alert is marked for deletion."
        },
        "metadata": {
          "$ref": "AlertMetadata",
          "description": "Output only. The metadata associated with this alert."
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Required. The type of the alert. This is output only after alert is created. For a list of available alert types see [Google Workspace Alert types](https://developers.google.com/workspace/admin/alertcenter/reference/alert-types)."
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The unique identifier for the alert."
        }
      }
    },
    "AccountSuspensionDetails": {
      "type": "object",
      "description": "Details about why an account is receiving an account suspension warning.",
      "properties": {
        "abuseReason": {
          "description": "The reason why this account is receiving an account suspension warning.",
          "enumDescriptions": [
            "Abuse reason is unspecified.",
            "This account is being suspended for a Terms of Service violation.",
            "This account is being suspended for spam.",
            "This account is being suspended for phishing.",
            "This account is being suspended for artificially boosting traffic to a website.",
            "This account is being suspended for fraud.",
            "This account is being suspended for number harvesting.",
            "This account is being suspended for payments fraud.",
            "This account is being suspended for unwanted content.",
            "This account is being suspended for being an unqualified educational institution."
          ],
          "type": "string",
          "enum": [
            "ACCOUNT_SUSPENSION_ABUSE_REASON_UNSPECIFIED",
            "TOS_VIOLATION",
            "SPAM",
            "PHISHING",
            "TRAFFIC_PUMPING",
            "FRAUD",
            "NUMBER_HARVESTING",
            "PAYMENTS_FRAUD",
            "UNWANTED_CONTENT",
            "UNQUALIFIED_EDU"
          ]
        },
        "productName": {
          "description": "The name of the product being abused. This is restricted to only the following values: \"Gmail\" \"Google Workspace\" \"Payments\" \"Voice\" \"YouTube\" \"Other\"",
          "type": "string"
        }
      },
      "id": "AccountSuspensionDetails"
    },
    "AccountSuspensionWarning": {
      "properties": {
        "state": {
          "enum": [
            "ACCOUNT_SUSPENSION_WARNING_STATE_UNSPECIFIED",
            "WARNING",
            "SUSPENDED",
            "APPEAL_APPROVED",
            "APPEAL_SUBMITTED"
          ],
          "enumDescriptions": [
            "State is unspecified.",
            "Customer is receiving a warning about imminent suspension.",
            "Customer is being notified that their account has been suspended.",
            "Customer is being notified that their suspension appeal was approved.",
            "Customer has submitted their appeal, which is pending review."
          ],
          "description": "Account suspension warning state.",
          "type": "string"
        },
        "appealWindow": {
          "description": "The amount of time remaining to appeal an imminent suspension. After this window has elapsed, the account will be suspended. Only populated if the account suspension is in WARNING state.",
          "format": "google-duration",
          "type": "string"
        },
        "suspensionDetails": {
          "type": "array",
          "description": "Details about why an account is being suspended.",
          "items": {
            "$ref": "AccountSuspensionDetails"
          }
        }
      },
      "id": "AccountSuspensionWarning",
      "type": "object",
      "description": "A warning that the customer's account is about to be suspended."
    },
    "SensitiveAdminAction": {
      "id": "SensitiveAdminAction",
      "properties": {
        "ssoProfileUpdatedEvent": {
          "$ref": "SSOProfileUpdatedEvent",
          "description": "Event occurred when SSO Profile updated in customer's account"
        },
        "eventTime": {
          "description": "The time at which event occurred",
          "format": "google-datetime",
          "type": "string"
        },
        "actorEmail": {
          "description": "Email of person who performed the action",
          "type": "string"
        },
        "ssoProfileCreatedEvent": {
          "description": "Event occurred when SSO Profile created in customer's account",
          "$ref": "SSOProfileCreatedEvent"
        },
        "superAdminPasswordResetEvent": {
          "$ref": "SuperAdminPasswordResetEvent",
          "description": "Event occurred when password was reset for super admin in customer's account"
        },
        "ssoProfileDeletedEvent": {
          "$ref": "SSOProfileDeletedEvent",
          "description": "Event occurred when SSO Profile deleted in customer's account"
        },
        "primaryAdminChangedEvent": {
          "$ref": "PrimaryAdminChangedEvent",
          "description": "Event occurred when primary admin changed in customer's account"
        }
      },
      "type": "object",
      "description": "Alert that is triggered when Sensitive Admin Action occur in customer account."
    },
    "PrimaryAdminChangedEvent": {
      "id": "PrimaryAdminChangedEvent",
      "description": "Event occurred when primary admin changed in customer's account. The event are being received from insight forwarder",
      "type": "object",
      "properties": {
        "domain": {
          "description": "domain in which actioned occurred",
          "type": "string"
        },
        "updatedAdminEmail": {
          "description": "Email of person who is the primary admin after the action",
          "type": "string"
        },
        "previousAdminEmail": {
          "description": "Email of person who was the primary admin before the action",
          "type": "string"
        }
      }
    },
    "ListAlertFeedbackResponse": {
      "type": "object",
      "description": "Response message for an alert feedback listing request.",
      "id": "ListAlertFeedbackResponse",
      "properties": {
        "feedback": {
          "type": "array",
          "items": {
            "$ref": "AlertFeedback"
          },
          "description": "The list of alert feedback. Feedback entries for each alert are ordered by creation time descending."
        }
      }
    },
    "AccessApproval": {
      "properties": {
        "justificationReason": {
          "items": {
            "enum": [
              "JUSTIFICATION_UNSPECIFIED",
              "CUSTOMER_INITIATED_SUPPORT",
              "GOOGLE_INITIATED_REVIEW",
              "GOOGLE_INITIATED_SERVICE",
              "THIRD_PARTY_DATA_REQUEST",
              "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT"
            ],
            "enumDescriptions": [
              "Justification unspecified",
              "Customer Initiated Support",
              "Google Initiated Review",
              "Google Initiated Service",
              "Third Party Data Request",
              "Google Response to Production Alert"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Justification for data access based on justification enums."
        },
        "officeLocation": {
          "description": "Office location of Google staff requesting access such as \"US\".",
          "type": "string"
        },
        "products": {
          "type": "array",
          "description": "Products within scope of the Access Approvals request.",
          "items": {
            "type": "string"
          }
        },
        "scope": {
          "type": "string",
          "description": "Scope of access, also known as a resource. This is further narrowed down by the product field."
        },
        "tickets": {
          "type": "array",
          "items": {
            "$ref": "SupportTicket"
          },
          "description": "Support tickets related to this Access Approvals request. Populated if there is an associated case number."
        },
        "requestId": {
          "description": "ID of the Access Approvals request. This is a helpful field when requesting support from Google.",
          "type": "string"
        }
      },
      "description": "Alert that is triggered when Google support requests to access customer data.",
      "type": "object",
      "id": "AccessApproval"
    },
    "AppSettingsChanged": {
      "type": "object",
      "properties": {
        "alertDetails": {
          "type": "string",
          "format": "byte",
          "description": "Any other associated alert details, for example, AlertConfiguration."
        },
        "name": {
          "type": "string",
          "description": "Rule name"
        }
      },
      "id": "AppSettingsChanged",
      "description": "Alerts from AppSettingsChanged bucket Rules configured by Admin which contain the following rules: - Calendar settings changed - Drive settings changed - Email settings changed - Mobile settings changed"
    },
    "DlpRuleViolation": {
      "description": "Alerts that get triggered on violations of Data Loss Prevention (DLP) rules.",
      "properties": {
        "ruleViolationInfo": {
          "description": "Details about the violated DLP rule. Admins can use the predefined detectors provided by Google Cloud DLP https://cloud.google.com/dlp/ when setting up a DLP rule. Matched Cloud DLP detectors in this violation if any will be captured in the MatchInfo.predefined_detector.",
          "$ref": "RuleViolationInfo"
        }
      },
      "id": "DlpRuleViolation",
      "type": "object"
    },
    "StateSponsoredAttack": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user this incident was created for."
        }
      },
      "id": "StateSponsoredAttack",
      "type": "object",
      "description": "A state-sponsored attack alert. Derived from audit logs."
    },
    "ReportingRule": {
      "id": "ReportingRule",
      "properties": {
        "name": {
          "type": "string",
          "description": "Rule name"
        },
        "alertDetails": {
          "format": "byte",
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "type": "string"
        },
        "query": {
          "format": "byte",
          "type": "string",
          "description": "Alert Rule query Sample Query query { condition { filter { expected_application_id: 777491262838 expected_event_name: \"indexable_content_change\" filter_op: IN } } conjunction_operator: OR }"
        }
      },
      "description": "Alerts from Reporting Rules configured by Admin.",
      "type": "object"
    },
    "GmailMessageInfo": {
      "description": "Details of a message in phishing spike alert.",
      "type": "object",
      "id": "GmailMessageInfo",
      "properties": {
        "md5HashMessageBody": {
          "type": "string",
          "description": "The hash of the message body text."
        },
        "sentTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The sent time of the email."
        },
        "recipient": {
          "type": "string",
          "description": "The recipient of this email."
        },
        "date": {
          "description": "The date of the event related to this email.",
          "type": "string",
          "format": "google-datetime"
        },
        "attachmentsSha256Hash": {
          "items": {
            "type": "string"
          },
          "description": "The `SHA256` hash of email's attachment and all MIME parts.",
          "type": "array"
        },
        "messageId": {
          "type": "string",
          "description": "The message ID."
        },
        "messageBodySnippet": {
          "description": "The snippet of the message body text (only available for reported emails).",
          "type": "string"
        },
        "subjectText": {
          "description": "The email subject text (only available for reported emails).",
          "type": "string"
        },
        "md5HashSubject": {
          "type": "string",
          "description": "The MD5 Hash of email's subject (only available for reported emails)."
        }
      }
    },
    "BatchDeleteAlertsRequest": {
      "id": "BatchDeleteAlertsRequest",
      "properties": {
        "alertId": {
          "type": "array",
          "description": "Required. The list of alert IDs to delete.",
          "items": {
            "type": "string"
          }
        },
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A request to perform batch delete on alerts."
    },
    "ClientSideEncryptionServiceUnavailable": {
      "id": "ClientSideEncryptionServiceUnavailable",
      "properties": {
        "keyServiceError": {
          "type": "array",
          "items": {
            "$ref": "KeyServiceError"
          },
          "description": "External key services impacted by an outage or misconfiguration."
        },
        "idpError": {
          "description": "Identity providers impacted by an outage or misconfiguration.",
          "type": "array",
          "items": {
            "$ref": "IdentityProviderError"
          }
        }
      },
      "type": "object",
      "description": "Alerts for client-side encryption outages."
    },
    "VoicemailMisconfiguration": {
      "type": "object",
      "id": "VoicemailMisconfiguration",
      "description": "Issue(s) with sending to voicemail.",
      "properties": {
        "errors": {
          "type": "array",
          "description": "Issue(s) with voicemail recipients.",
          "items": {
            "$ref": "VoicemailRecipientError"
          }
        }
      }
    },
    "MailPhishing": {
      "description": "Proto for all phishing alerts with common payload. Supported types are any of the following: * User reported phishing * User reported spam spike * Suspicious message reported * Phishing reclassification * Malware reclassification * Gmail potential employee spoofing",
      "type": "object",
      "id": "MailPhishing",
      "properties": {
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "systemActionType": {
          "description": "System actions on the messages.",
          "type": "string",
          "enumDescriptions": [
            "System action is unspecified.",
            "No operation.",
            "Messages were removed from the inbox."
          ],
          "enum": [
            "SYSTEM_ACTION_TYPE_UNSPECIFIED",
            "NO_OPERATION",
            "REMOVED_FROM_INBOX"
          ]
        },
        "isInternal": {
          "type": "boolean",
          "description": "If `true`, the email originated from within the organization."
        },
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "messages": {
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "description": "The list of messages contained by this alert.",
          "type": "array"
        }
      }
    },
    "ActivityRule": {
      "id": "ActivityRule",
      "properties": {
        "actionNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of action names associated with the rule threshold."
        },
        "triggerSource": {
          "description": "The trigger sources for this rule. * GMAIL_EVENTS * DEVICE_EVENTS * USER_EVENTS",
          "type": "string"
        },
        "query": {
          "description": "Query that is used to get the data from the associated source.",
          "type": "string"
        },
        "threshold": {
          "type": "string",
          "description": "Alert threshold is for example “COUNT > 5”."
        },
        "supersededAlerts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of alert IDs superseded by this alert. It is used to indicate that this alert is essentially extension of superseded alerts and we found the relationship after creating these alerts."
        },
        "supersedingAlert": {
          "type": "string",
          "description": "Alert ID superseding this alert. It is used to indicate that superseding alert is essentially extension of this alert and we found the relationship after creating both alerts."
        },
        "name": {
          "description": "Rule name.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Rule create timestamp.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the rule."
        },
        "displayName": {
          "description": "Alert display name.",
          "type": "string"
        },
        "updateTime": {
          "description": "The timestamp of the last update to the rule.",
          "format": "google-datetime",
          "type": "string"
        },
        "windowSize": {
          "type": "string",
          "format": "google-duration",
          "description": "Rule window size. Possible values are 1 hour or 24 hours."
        }
      },
      "type": "object",
      "description": "Alerts from Google Workspace Security Center rules service configured by an admin."
    },
    "IdentityProviderError": {
      "description": "Error related to an identity provider.",
      "properties": {
        "errorCount": {
          "description": "Number of similar errors encountered.",
          "type": "string",
          "format": "int64"
        },
        "errorInfo": {
          "enum": [
            "IDENTITY_PROVIDER_ERROR_INFO_UNSPECIFIED",
            "EMAIL_MISMATCH",
            "UNAVAILABLE_DISCOVERY_CONTENT",
            "INVALID_DISCOVERY_CONTENT",
            "UNAVAILABLE_CSE_CONFIGURATION_CONTENT",
            "INVALID_CSE_CONFIGURATION_CONTENT",
            "INVALID_ID_TOKEN",
            "INVALID_OIDC_SETUP",
            "UNAVAILABLE_IDP",
            "AUTH_CODE_EXCHANGE_ERROR",
            "AUTHENTICATION_TOKEN_MISSING_CLAIM_EMAIL"
          ],
          "enumDescriptions": [
            "Error info not specified.",
            "Email in the ID token is different from the user's email.",
            "Discovery URL was unreachable.",
            "Discovery URL did not contain all the necessary information.",
            "URL for client-side encryption configuration content was unreachable.",
            "Client-side encryption .well-known URL did not contain all the necessary information.",
            "ID token returned by the identity provider is invalid.",
            "OIDC setup error.",
            "Identity provider was unreachable.",
            "Auth code exchange error.",
            "Authentication token has no \"email\" or \"google_email\" claim."
          ],
          "description": "Info on the identity provider error.",
          "type": "string"
        },
        "authorizationBaseUrl": {
          "description": "Authorization base url of the identity provider.",
          "type": "string"
        }
      },
      "id": "IdentityProviderError",
      "type": "object"
    },
    "AbuseDetected": {
      "description": "A generic alert for abusive user activity occurring with a customer.",
      "type": "object",
      "properties": {
        "subAlertId": {
          "description": "Unique identifier of each sub alert that is onboarded.",
          "type": "string"
        },
        "additionalDetails": {
          "$ref": "EntityList",
          "description": "List of abusive users/entities to be displayed in a table in the alert."
        },
        "product": {
          "description": "Product that the abuse is originating from.",
          "type": "string"
        },
        "variationType": {
          "enum": [
            "ABUSE_DETECTED_VARIATION_TYPE_UNSPECIFIED",
            "DRIVE_ABUSIVE_CONTENT",
            "LIMITED_DISABLE"
          ],
          "description": "Variation of AbuseDetected alerts. The variation_type determines the texts displayed the alert details. This differs from sub_alert_id because each sub alert can have multiple variation_types, representing different stages of the alert.",
          "type": "string",
          "enumDescriptions": [
            "AbuseDetected alert variation type unspecified. No alert should be unspecified.",
            "Variation displayed for Drive abusive content alerts.",
            "Variation displayed for Limited Disable alerts, when a Google service is disabled for a user, totally or partially, due to the user's abusive behavior."
          ]
        }
      },
      "id": "AbuseDetected"
    },
    "ListAlertsResponse": {
      "type": "object",
      "description": "Response message for an alert listing request.",
      "id": "ListAlertsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token for the next page. If not empty, indicates that there may be more alerts that match the listing request; this value can be used in a subsequent ListAlertsRequest to get alerts continuing from last result of the current list call.",
          "type": "string"
        },
        "alerts": {
          "items": {
            "$ref": "Alert"
          },
          "type": "array",
          "description": "The list of alerts."
        }
      }
    },
    "RequestInfo": {
      "type": "object",
      "id": "RequestInfo",
      "properties": {
        "numberOfRequests": {
          "type": "string",
          "format": "int64",
          "description": "Required. Number of requests sent for this application to set up default SQL instance."
        },
        "appKey": {
          "description": "Required. The application that requires the SQL setup.",
          "type": "string"
        },
        "appDeveloperEmail": {
          "type": "array",
          "description": "List of app developers who triggered notifications for above application.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Requests for one application that needs default SQL setup."
    },
    "ResourceInfo": {
      "description": "Proto that contains resource information.",
      "type": "object",
      "id": "ResourceInfo",
      "properties": {
        "chatMessageId": {
          "description": "Chat message ID.",
          "type": "string"
        },
        "documentId": {
          "type": "string",
          "description": "Drive file ID."
        },
        "messageId": {
          "type": "string",
          "description": "RFC2822 message ID."
        },
        "chatAttachmentId": {
          "description": "Chat attachment ID.",
          "type": "string"
        },
        "resourceTitle": {
          "description": "Title of the resource, for example email subject, or document title.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Id to identify a device. For example, for Android devices, this is the \"Android Device Id\" and for Chrome OS devices, it's the \"Device Virtual Id\"."
        }
      }
    },
    "PredefinedDetectorInfo": {
      "properties": {
        "detectorName": {
          "type": "string",
          "description": "Name that uniquely identifies the detector."
        }
      },
      "description": "Detector provided by Google.",
      "type": "object",
      "id": "PredefinedDetectorInfo"
    },
    "RuleInfo": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "User provided name of the rule.",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Resource name that uniquely identifies the rule."
        }
      },
      "id": "RuleInfo",
      "description": "Proto that contains rule information."
    },
    "UserDefinedDetectorInfo": {
      "properties": {
        "displayName": {
          "description": "Display name of the detector.",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Resource name that uniquely identifies the detector."
        }
      },
      "id": "UserDefinedDetectorInfo",
      "description": "Detector defined by administrators.",
      "type": "object"
    },
    "MergeInfo": {
      "type": "object",
      "description": "New alert tracking numbers.",
      "properties": {
        "newIncidentTrackingId": {
          "description": "The new tracking ID from the parent incident.",
          "type": "string"
        },
        "newAlertId": {
          "type": "string",
          "description": "Optional. New alert ID. Reference the [google.apps.alertcenter.Alert] with this ID for the current state."
        }
      },
      "id": "MergeInfo"
    },
    "SuperAdminPasswordResetEvent": {
      "properties": {
        "userEmail": {
          "type": "string",
          "description": "email of person whose password was reset"
        }
      },
      "id": "SuperAdminPasswordResetEvent",
      "description": "Event occurred when password was reset for super admin in customer's account. The event are being received from insight forwarder",
      "type": "object"
    },
    "MandatoryServiceAnnouncement": {
      "properties": {
        "title": {
          "type": "string",
          "description": "One line summary of the announcement"
        },
        "description": {
          "description": "Detailed, freeform text describing the announcement",
          "type": "string"
        }
      },
      "id": "MandatoryServiceAnnouncement",
      "type": "object",
      "description": "Alert Created by the MSA team for communications necessary for continued use of Google Workspace Products."
    },
    "PhishingSpike": {
      "type": "object",
      "id": "PhishingSpike",
      "properties": {
        "isInternal": {
          "type": "boolean",
          "description": "If `true`, the email originated from within the organization."
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "messages": {
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "type": "array"
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        }
      },
      "description": "Alert for a spike in user reported phishing. *Warning*: This type has been deprecated. Use [MailPhishing](https://developers.google.com/workspace/admin/alertcenter/reference/rest/v1beta1/MailPhishing) instead."
    },
    "Attachment": {
      "id": "Attachment",
      "description": "Attachment with application-specific information about an alert.",
      "type": "object",
      "properties": {
        "csv": {
          "description": "A CSV file attachment.",
          "$ref": "Csv"
        }
      }
    }
  },
  "resources": {
    "v1beta1": {
      "methods": {
        "updateSettings": {
          "request": {
            "$ref": "Settings"
          },
          "parameters": {
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Settings"
          },
          "path": "v1beta1/settings",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "description": "Updates the customer-level settings.",
          "flatPath": "v1beta1/settings",
          "id": "alertcenter.updateSettings",
          "httpMethod": "PATCH"
        },
        "getSettings": {
          "httpMethod": "GET",
          "id": "alertcenter.getSettings",
          "description": "Returns customer-level settings.",
          "flatPath": "v1beta1/settings",
          "path": "v1beta1/settings",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {
            "customerId": {
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must/ have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Settings"
          }
        }
      }
    },
    "alerts": {
      "resources": {
        "feedback": {
          "methods": {
            "list": {
              "id": "alertcenter.alerts.feedback.list",
              "parameters": {
                "customerId": {
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
                  "location": "query",
                  "type": "string"
                },
                "alertId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The alert identifier. The \"-\" wildcard could be used to represent all alerts.",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. A query string for filtering alert feedback results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.feedback.list).",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists all the feedback for an alert. Attempting to list feedbacks for a non-existent alert returns `NOT_FOUND` error.",
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "response": {
                "$ref": "ListAlertFeedbackResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "path": "v1beta1/alerts/{alertId}/feedback",
              "parameterOrder": [
                "alertId"
              ],
              "httpMethod": "GET"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "response": {
                "$ref": "AlertFeedback"
              },
              "parameters": {
                "alertId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The identifier of the alert this feedback belongs to."
                },
                "customerId": {
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1beta1/alerts/{alertId}/feedback",
              "id": "alertcenter.alerts.feedback.create",
              "request": {
                "$ref": "AlertFeedback"
              },
              "description": "Creates new feedback for an alert. Attempting to create a feedback for a non-existent alert returns `NOT_FOUND` error. Attempting to create a feedback for an alert that is marked for deletion returns `FAILED_PRECONDITION' error.",
              "parameterOrder": [
                "alertId"
              ],
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "httpMethod": "POST"
            }
          }
        }
      },
      "methods": {
        "list": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "path": "v1beta1/alerts",
          "response": {
            "$ref": "ListAlertsResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "Optional. A token identifying a page of results the server should return. If empty, a new iteration is started. To continue an iteration, pass in the value from the previous ListAlertsResponse's next_page_token field.",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Optional. The sort order of the list results. If not specified results may be returned in arbitrary order. You can sort the results in descending order based on the creation timestamp using `order_by=\"create_time desc\"`. Currently, supported sorting are `create_time asc`, `create_time desc`, `update_time desc`"
            },
            "filter": {
              "type": "string",
              "description": "Optional. A query string for filtering alert results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.list).",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. The requested page size. Server may return fewer items than requested. If unspecified, server picks an appropriate default.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "flatPath": "v1beta1/alerts",
          "httpMethod": "GET",
          "id": "alertcenter.alerts.list",
          "description": "Lists the alerts."
        },
        "batchDelete": {
          "description": "Performs batch delete operation on alerts.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.alerts.batchDelete",
          "path": "v1beta1/alerts:batchDelete",
          "flatPath": "v1beta1/alerts:batchDelete",
          "request": {
            "$ref": "BatchDeleteAlertsRequest"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "BatchDeleteAlertsResponse"
          },
          "parameters": {}
        },
        "delete": {
          "parameterOrder": [
            "alertId"
          ],
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "description": "Marks the specified alert for deletion. An alert that has been marked for deletion is removed from Alert Center after 30 days. Marking an alert for deletion has no effect on an alert which has already been marked for deletion. Attempting to mark a nonexistent alert for deletion results in a `NOT_FOUND` error.",
          "path": "v1beta1/alerts/{alertId}",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.alerts.delete",
          "flatPath": "v1beta1/alerts/{alertId}",
          "parameters": {
            "alertId": {
              "required": true,
              "description": "Required. The identifier of the alert to delete.",
              "location": "path",
              "type": "string"
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          }
        },
        "getMetadata": {
          "parameterOrder": [
            "alertId"
          ],
          "path": "v1beta1/alerts/{alertId}/metadata",
          "flatPath": "v1beta1/alerts/{alertId}/metadata",
          "httpMethod": "GET",
          "description": "Returns the metadata of an alert. Attempting to get metadata for a non-existent alert returns `NOT_FOUND` error.",
          "id": "alertcenter.alerts.getMetadata",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert metadata is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            },
            "alertId": {
              "description": "Required. The identifier of the alert this metadata belongs to.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "AlertMetadata"
          }
        },
        "batchUndelete": {
          "response": {
            "$ref": "BatchUndeleteAlertsResponse"
          },
          "request": {
            "$ref": "BatchUndeleteAlertsRequest"
          },
          "httpMethod": "POST",
          "id": "alertcenter.alerts.batchUndelete",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "description": "Performs batch undelete operation on alerts.",
          "path": "v1beta1/alerts:batchUndelete",
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "v1beta1/alerts:batchUndelete"
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "alertId"
          ],
          "response": {
            "$ref": "Alert"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "path": "v1beta1/alerts/{alertId}",
          "description": "Gets the specified alert. Attempting to get a nonexistent alert returns `NOT_FOUND` error.",
          "id": "alertcenter.alerts.get",
          "parameters": {
            "alertId": {
              "type": "string",
              "description": "Required. The identifier of the alert to retrieve.",
              "location": "path",
              "required": true
            },
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query"
            }
          },
          "flatPath": "v1beta1/alerts/{alertId}"
        },
        "undelete": {
          "description": "Restores, or \"undeletes\", an alert that was marked for deletion within the past 30 days. Attempting to undelete an alert which was marked for deletion over 30 days ago (which has been removed from the Alert Center database) or a nonexistent alert returns a `NOT_FOUND` error. Attempting to undelete an alert which has not been marked for deletion has no effect.",
          "flatPath": "v1beta1/alerts/{alertId}:undelete",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "path": "v1beta1/alerts/{alertId}:undelete",
          "httpMethod": "POST",
          "request": {
            "$ref": "UndeleteAlertRequest"
          },
          "id": "alertcenter.alerts.undelete",
          "parameters": {
            "alertId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The identifier of the alert to undelete."
            }
          },
          "response": {
            "$ref": "Alert"
          },
          "parameterOrder": [
            "alertId"
          ]
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "version_module": true,
  "servicePath": "",
  "batchPath": "batch",
  "rootUrl": "https://alertcenter.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.alerts": {
          "description": "See and delete your domain's Google Workspace alerts, and send alert feedback"
        }
      }
    }
  },
  "revision": "20260928",
  "name": "alertcenter",
  "mtlsRootUrl": "https://alertcenter.mtls.googleapis.com/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/workspace/admin/alertcenter/",
  "description": "Manages alerts on issues affecting your domain. Note: The current version of this API (v1beta1) is available to all Google Workspace customers. ",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    }
  },
  "canonicalName": "AlertCenter",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://alertcenter.googleapis.com/"
}
