{
  "rootUrl": "https://www.googleapis.com/",
  "icons": {
    "x16": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-16dp/logo_calendar_2020q4_color_1x_web_16dp.png",
    "x32": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-32dp/logo_calendar_2020q4_color_1x_web_32dp.png"
  },
  "servicePath": "calendar/v3/",
  "ownerName": "Google",
  "batchPath": "batch/calendar/v3",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "description": "Manipulates events and other calendar data.",
  "resources": {
    "calendars": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "path": "calendars/{calendarId}",
          "id": "calendar.calendars.update",
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "response": {
            "$ref": "Calendar"
          },
          "request": {
            "$ref": "Calendar"
          },
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Updates metadata for a calendar."
        },
        "get": {
          "id": "calendar.calendars.get",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars",
            "https://www.googleapis.com/auth/calendar.calendars.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "description": "Returns metadata for a calendar.",
          "httpMethod": "GET",
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "calendarId": {
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Calendar"
          },
          "path": "calendars/{calendarId}"
        },
        "insert": {
          "description": "Creates a secondary calendar.\nThe authenticated user for the request is made the data owner of the new calendar.\n\nNote: We recommend to authenticate as the intended data owner of the calendar. You can use domain-wide delegation of authority to allow applications to act on behalf of a specific user. Don't use a service account for authentication. If you use a service account for authentication, the service account is the data owner, which can lead to unexpected behavior. For example, if a service account is the data owner, data ownership cannot be transferred.",
          "path": "calendars",
          "response": {
            "$ref": "Calendar"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "id": "calendar.calendars.insert",
          "request": {
            "$ref": "Calendar"
          }
        },
        "clear": {
          "description": "Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "path": "calendars/{calendarId}/clear",
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.calendars.clear",
          "httpMethod": "POST"
        },
        "transferOwnership": {
          "id": "calendar.calendars.transferOwnership",
          "path": "calendars/{calendarId}/transferOwnership",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "description": "Transfers a secondary calendar between users within a Google Workspace organization. Requires user authentication with Manage Calendars administrator privilege, and one of the following authorization scopes: \n- https://www.googleapis.com/auth/calendar \n- https://www.googleapis.com/auth/calendar.calendars In the request, set useAdminAccess to true. The secondary calendar must be active to be transferred. Transferring disabled or deleted calendars isn't supported.",
          "httpMethod": "POST",
          "parameterOrder": [
            "calendarId",
            "newDataOwner",
            "useAdminAccess"
          ],
          "parameters": {
            "useAdminAccess": {
              "required": true,
              "type": "boolean",
              "location": "query",
              "description": "When true, the method runs using the user's Google Workspace administrator privileges. The calling user must be a Google Workspace administrator with the Manage Calendars privilege. This method currently only supports admin access, thus only true is accepted for this field."
            },
            "newDataOwner": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The email address of a user who will become the data owner of the calendar."
            },
            "calendarId": {
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs, call the calendarList.list method.",
              "location": "path"
            }
          }
        },
        "delete": {
          "id": "calendar.calendars.delete",
          "path": "calendars/{calendarId}",
          "description": "Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "patch": {
          "parameters": {
            "calendarId": {
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            }
          },
          "response": {
            "$ref": "Calendar"
          },
          "path": "calendars/{calendarId}",
          "id": "calendar.calendars.patch",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "description": "Updates metadata for a calendar. This method supports patch semantics.",
          "request": {
            "$ref": "Calendar"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "calendarId"
          ]
        }
      }
    },
    "acl": {
      "methods": {
        "list": {
          "path": "calendars/{calendarId}/acl",
          "supportsSubscription": true,
          "parameters": {
            "calendarId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32",
              "minimum": "1"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            }
          },
          "id": "calendar.acl.list",
          "description": "Returns the rules in the access control list for the calendar.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Acl"
          },
          "parameterOrder": [
            "calendarId"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "calendar.acl.delete",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "ruleId": {
              "location": "path",
              "description": "ACL rule identifier.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "description": "Deletes an access control rule."
        },
        "watch": {
          "parameterOrder": [
            "calendarId"
          ],
          "supportsSubscription": true,
          "parameters": {
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False."
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying which result page to return. Optional.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "location": "query",
              "type": "integer"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "calendar.acl.watch",
          "response": {
            "$ref": "Channel"
          },
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly"
          ],
          "httpMethod": "POST",
          "description": "Watch for changes to ACL resources.",
          "path": "calendars/{calendarId}/acl/watch"
        },
        "update": {
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "parameters": {
            "ruleId": {
              "required": true,
              "type": "string",
              "description": "ACL rule identifier.",
              "location": "path"
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True."
            }
          },
          "id": "calendar.acl.update",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "response": {
            "$ref": "AclRule"
          },
          "request": {
            "$ref": "AclRule"
          },
          "description": "Updates an access control rule.",
          "httpMethod": "PUT",
          "path": "calendars/{calendarId}/acl/{ruleId}"
        },
        "patch": {
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameters": {
            "calendarId": {
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            },
            "ruleId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "ACL rule identifier."
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True."
            }
          },
          "request": {
            "$ref": "AclRule"
          },
          "id": "calendar.acl.patch",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "description": "Updates an access control rule. This method supports patch semantics.",
          "response": {
            "$ref": "AclRule"
          }
        },
        "get": {
          "description": "Returns an access control rule.",
          "response": {
            "$ref": "AclRule"
          },
          "id": "calendar.acl.get",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameters": {
            "calendarId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "ruleId": {
              "location": "path",
              "type": "string",
              "description": "ACL rule identifier.",
              "required": true
            }
          },
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "httpMethod": "GET"
        },
        "insert": {
          "response": {
            "$ref": "AclRule"
          },
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Whether to send notifications about the calendar sharing change. Optional. The default is True.",
              "location": "query"
            }
          },
          "id": "calendar.acl.insert",
          "description": "Creates an access control rule.",
          "httpMethod": "POST",
          "request": {
            "$ref": "AclRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "path": "calendars/{calendarId}/acl",
          "parameterOrder": [
            "calendarId"
          ]
        }
      }
    },
    "freebusy": {
      "methods": {
        "query": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.freebusy",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "httpMethod": "POST",
          "path": "freeBusy",
          "id": "calendar.freebusy.query",
          "request": {
            "$ref": "FreeBusyRequest"
          },
          "response": {
            "$ref": "FreeBusyResponse"
          },
          "description": "Returns free/busy information for a set of calendars."
        }
      }
    },
    "colors": {
      "methods": {
        "get": {
          "path": "colors",
          "description": "Returns the color definitions for calendars and events.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Colors"
          },
          "id": "calendar.colors.get",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ]
        }
      }
    },
    "events": {
      "methods": {
        "instances": {
          "path": "calendars/{calendarId}/events/{eventId}/instances",
          "parameters": {
            "originalStart": {
              "type": "string",
              "description": "The original start time of the instance in the result. Optional.",
              "location": "query"
            },
            "timeZone": {
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string"
            },
            "showDeleted": {
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "eventId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Recurring event identifier."
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying which result page to return. Optional.",
              "type": "string"
            },
            "calendarId": {
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            },
            "timeMin": {
              "type": "string",
              "location": "query",
              "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset.",
              "format": "date-time"
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "timeMax": {
              "location": "query",
              "format": "date-time",
              "type": "string",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset."
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "format": "int32",
              "location": "query",
              "minimum": "1"
            },
            "maxAttendees": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            }
          },
          "response": {
            "$ref": "Events"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.events.instances",
          "httpMethod": "GET",
          "description": "Returns instances of the specified recurring event.",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "supportsSubscription": true
        },
        "insert": {
          "path": "calendars/{calendarId}/events",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "parameters": {
            "sendUpdates": {
              "description": "Whether to send notifications about the creation of the new event. Note that some emails might still be sent. The default is false.",
              "location": "query",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. Warning: Using the value none can have significant adverse effects, including events not syncing to external calendars or events being lost altogether for some users. For calendar migration tasks, consider using the events.import method instead."
              ],
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "type": "string"
            },
            "eventLabelVersion": {
              "type": "integer",
              "minimum": "0",
              "description": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0.",
              "maximum": "1",
              "format": "int32",
              "location": "query"
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "maxAttendees": {
              "minimum": "1",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer",
              "location": "query"
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the new event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query",
              "type": "boolean"
            },
            "conferenceDataVersion": {
              "format": "int32",
              "maximum": "1",
              "location": "query",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "minimum": "0",
              "type": "integer"
            },
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true
            }
          },
          "id": "calendar.events.insert",
          "request": {
            "$ref": "Event"
          },
          "description": "Creates an event.",
          "httpMethod": "POST",
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "Event"
          }
        },
        "list": {
          "parameters": {
            "calendarId": {
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            },
            "maxResults": {
              "format": "int32",
              "minimum": "1",
              "type": "integer",
              "location": "query",
              "default": "250",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional."
            },
            "eventTypes": {
              "description": "Event types to return. Optional. This parameter can be repeated multiple times to return events of different types. If unset, returns all event types.",
              "repeated": true,
              "enumDescriptions": [
                "Special all-day events with an annual recurrence.",
                "Regular events.",
                "Focus time events.",
                "Events from Gmail.",
                "Out of office events.",
                "Working location events."
              ],
              "type": "string",
              "enum": [
                "birthday",
                "default",
                "focusTime",
                "fromGmail",
                "outOfOffice",
                "workingLocation"
              ],
              "location": "query"
            },
            "showHiddenInvitations": {
              "location": "query",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
              "type": "boolean"
            },
            "iCalUID": {
              "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID.",
              "type": "string",
              "location": "query"
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored.",
              "type": "boolean",
              "location": "query"
            },
            "q": {
              "type": "string",
              "location": "query",
              "description": "Free text search terms to find events that match these terms in the following fields:\n\n- summary \n- description \n- location \n- attendee's displayName \n- attendee's email \n- organizer's displayName \n- organizer's email \n- workingLocationProperties.officeLocation.buildingId \n- workingLocationProperties.officeLocation.deskId \n- workingLocationProperties.officeLocation.label \n- workingLocationProperties.customLocation.label \nThese search terms also match predefined keywords against all display title translations of working location, out-of-office, and focus-time events. For example, searching for \"Office\" or \"Bureau\" returns working location events of type officeLocation, whereas searching for \"Out of office\" or \"Abwesend\" returns out-of-office events. Optional."
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "enum": [
                "startTime",
                "updated"
              ],
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order."
            },
            "singleEvents": {
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "updatedMin": {
              "type": "string",
              "format": "date-time",
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
              "location": "query"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin All other query parameters should be the same as for the initial synchronization to avoid undefined behavior. If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            },
            "maxAttendees": {
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query",
              "type": "integer",
              "minimum": "1"
            },
            "sharedExtendedProperty": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "privateExtendedProperty": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "timeZone": {
              "type": "string",
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar."
            },
            "timeMin": {
              "type": "string",
              "location": "query",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax.",
              "format": "date-time"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False."
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying which result page to return. Optional.",
              "type": "string"
            },
            "timeMax": {
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "format": "date-time",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "response": {
            "$ref": "Events"
          },
          "supportsSubscription": true,
          "description": "Returns events on the specified calendar.",
          "httpMethod": "GET",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}/events",
          "id": "calendar.events.list"
        },
        "import": {
          "request": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "parameters": {
            "supportsAttachments": {
              "type": "boolean",
              "location": "query",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "conferenceDataVersion": {
              "minimum": "0",
              "location": "query",
              "format": "int32",
              "maximum": "1",
              "type": "integer",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0."
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            },
            "eventLabelVersion": {
              "type": "integer",
              "format": "int32",
              "minimum": "0",
              "description": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0.",
              "maximum": "1",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Event"
          },
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}/events/import",
          "description": "Imports an event. This operation is used to add a private copy of an existing event to a calendar. Only events with an eventType of default may be imported.\nDeprecated behavior: If a non-default event is imported, its type will be changed to default and any event-type-specific properties it may have will be dropped.",
          "id": "calendar.events.import",
          "httpMethod": "POST"
        },
        "get": {
          "response": {
            "$ref": "Event"
          },
          "description": "Returns an event based on its Google Calendar ID. To retrieve an event using its iCalendar ID, call the events.list method using the iCalUID parameter.",
          "id": "calendar.events.get",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "parameters": {
            "eventId": {
              "description": "Event identifier.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "maxAttendees": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "format": "int32",
              "minimum": "1"
            },
            "timeZone": {
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "location": "query",
              "type": "string"
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "type": "boolean",
              "location": "query"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "httpMethod": "GET",
          "path": "calendars/{calendarId}/events/{eventId}"
        },
        "update": {
          "id": "calendar.events.update",
          "description": "Updates an event.",
          "httpMethod": "PUT",
          "response": {
            "$ref": "Event"
          },
          "path": "calendars/{calendarId}/events/{eventId}",
          "request": {
            "$ref": "Event"
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "parameters": {
            "maxAttendees": {
              "type": "integer",
              "minimum": "1",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query"
            },
            "eventId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Event identifier."
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query"
            },
            "sendUpdates": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "type": "string",
              "location": "query",
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ]
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query",
              "type": "boolean"
            },
            "eventLabelVersion": {
              "location": "query",
              "minimum": "0",
              "description": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0.",
              "maximum": "1",
              "format": "int32",
              "type": "integer"
            },
            "supportsAttachments": {
              "location": "query",
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "conferenceDataVersion": {
              "location": "query",
              "format": "int32",
              "maximum": "1",
              "minimum": "0",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ]
        },
        "quickAdd": {
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "text": {
              "type": "string",
              "description": "The text describing the event to be created.",
              "required": true,
              "location": "query"
            },
            "sendNotifications": {
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean"
            },
            "sendUpdates": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "type": "string",
              "location": "query",
              "description": "Guests who should receive notifications about the creation of the new event.",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ]
            }
          },
          "id": "calendar.events.quickAdd",
          "httpMethod": "POST",
          "path": "calendars/{calendarId}/events/quickAdd",
          "description": "Creates an event based on a simple text string.",
          "parameterOrder": [
            "calendarId",
            "text"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "response": {
            "$ref": "Event"
          }
        },
        "watch": {
          "parameters": {
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "maxAttendees": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "minimum": "1"
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "description": "Deprecated and ignored.",
              "type": "boolean"
            },
            "updatedMin": {
              "type": "string",
              "format": "date-time",
              "location": "query",
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time."
            },
            "q": {
              "type": "string",
              "description": "Free text search terms to find events that match these terms in the following fields:\n\n- summary \n- description \n- location \n- attendee's displayName \n- attendee's email \n- organizer's displayName \n- organizer's email \n- workingLocationProperties.officeLocation.buildingId \n- workingLocationProperties.officeLocation.deskId \n- workingLocationProperties.officeLocation.label \n- workingLocationProperties.customLocation.label \nThese search terms also match predefined keywords against all display title translations of working location, out-of-office, and focus-time events. For example, searching for \"Office\" or \"Bureau\" returns working location events of type officeLocation, whereas searching for \"Out of office\" or \"Abwesend\" returns out-of-office events. Optional.",
              "location": "query"
            },
            "timeMin": {
              "type": "string",
              "format": "date-time",
              "location": "query",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax."
            },
            "timeMax": {
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "location": "query",
              "format": "date-time",
              "type": "string"
            },
            "timeZone": {
              "location": "query",
              "type": "string",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar."
            },
            "eventTypes": {
              "enumDescriptions": [
                "Special all-day events with an annual recurrence.",
                "Regular events.",
                "Focus time events.",
                "Events from Gmail.",
                "Out of office events.",
                "Working location events."
              ],
              "description": "Event types to return. Optional. This parameter can be repeated multiple times to return events of different types. If unset, returns all event types.",
              "repeated": true,
              "location": "query",
              "enum": [
                "birthday",
                "default",
                "focusTime",
                "fromGmail",
                "outOfOffice",
                "workingLocation"
              ],
              "type": "string"
            },
            "privateExtendedProperty": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin All other query parameters should be the same as for the initial synchronization to avoid undefined behavior. If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "maxResults": {
              "default": "250",
              "location": "query",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "type": "integer",
              "format": "int32",
              "minimum": "1"
            },
            "orderBy": {
              "location": "query",
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "type": "string",
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "enum": [
                "startTime",
                "updated"
              ]
            },
            "sharedExtendedProperty": {
              "location": "query",
              "repeated": true,
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "type": "string"
            },
            "showHiddenInvitations": {
              "location": "query",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
              "type": "boolean"
            },
            "showDeleted": {
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "iCalUID": {
              "type": "string",
              "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID.",
              "location": "query"
            },
            "singleEvents": {
              "location": "query",
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "type": "boolean"
            }
          },
          "path": "calendars/{calendarId}/events/watch",
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.events.watch",
          "description": "Watch for changes to Events resources.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "supportsSubscription": true,
          "response": {
            "$ref": "Channel"
          }
        },
        "move": {
          "path": "calendars/{calendarId}/events/{eventId}/move",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "response": {
            "$ref": "Event"
          },
          "parameterOrder": [
            "calendarId",
            "eventId",
            "destination"
          ],
          "description": "Moves an event to another calendar, i.e. changes an event's organizer. Note that only default events can be moved; birthday, focusTime, fromGmail, outOfOffice and workingLocation events cannot be moved.",
          "parameters": {
            "destination": {
              "required": true,
              "description": "Calendar identifier of the target calendar where the event is to be moved to.",
              "location": "query",
              "type": "string"
            },
            "sendUpdates": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "type": "string",
              "description": "Guests who should receive notifications about the change of the event's organizer.",
              "location": "query"
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the change of the event's organizer. Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "eventId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Event identifier."
            },
            "calendarId": {
              "location": "path",
              "type": "string",
              "description": "Calendar identifier of the source calendar where the event currently is on.",
              "required": true
            }
          },
          "id": "calendar.events.move",
          "httpMethod": "POST"
        },
        "patch": {
          "request": {
            "$ref": "Event"
          },
          "path": "calendars/{calendarId}/events/{eventId}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "parameters": {
            "maxAttendees": {
              "type": "integer",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query",
              "minimum": "1",
              "format": "int32"
            },
            "eventLabelVersion": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "maximum": "1",
              "minimum": "0",
              "description": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0."
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "sendUpdates": {
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "type": "string",
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "location": "query"
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean",
              "location": "query"
            },
            "eventId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Event identifier."
            },
            "conferenceDataVersion": {
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "format": "int32",
              "maximum": "1",
              "location": "query",
              "type": "integer",
              "minimum": "0"
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            }
          },
          "description": "Updates an event. This method supports patch semantics.",
          "id": "calendar.events.patch",
          "response": {
            "$ref": "Event"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "id": "calendar.events.delete",
          "httpMethod": "DELETE",
          "description": "Deletes an event.",
          "parameters": {
            "calendarId": {
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            },
            "sendUpdates": {
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Guests who should receive notifications about the deletion of the event."
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the deletion of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query"
            },
            "eventId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Event identifier."
            }
          },
          "path": "calendars/{calendarId}/events/{eventId}"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "id": "calendar.channels.stop",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "path": "channels/stop",
          "description": "Stop watching resources through this channel"
        }
      }
    },
    "settings": {
      "methods": {
        "list": {
          "supportsSubscription": true,
          "id": "calendar.settings.list",
          "response": {
            "$ref": "Settings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "parameters": {
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "syncToken": {
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "type": "integer",
              "location": "query"
            }
          },
          "description": "Returns all user settings for the authenticated user.",
          "httpMethod": "GET",
          "path": "users/me/settings"
        },
        "watch": {
          "supportsSubscription": true,
          "id": "calendar.settings.watch",
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "parameters": {
            "maxResults": {
              "minimum": "1",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            },
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            }
          },
          "description": "Watch for changes to Settings resources.",
          "path": "users/me/settings/watch"
        },
        "get": {
          "parameterOrder": [
            "setting"
          ],
          "description": "Returns a single user setting.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "path": "users/me/settings/{setting}",
          "response": {
            "$ref": "Setting"
          },
          "parameters": {
            "setting": {
              "description": "The id of the user setting.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "id": "calendar.settings.get"
        }
      }
    },
    "calendarList": {
      "methods": {
        "get": {
          "description": "Returns a calendar from the user's calendar list.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "calendarId": {
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "CalendarListEntry"
          },
          "id": "calendar.calendarList.get",
          "httpMethod": "GET",
          "path": "users/me/calendarList/{calendarId}"
        },
        "watch": {
          "id": "calendar.calendarList.watch",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1"
            },
            "showOwnOrganizationOnly": {
              "type": "boolean",
              "description": "Whether to show only entries for calendars from the organization. This parameter is only applicable to Google Workspace users. Optional. The default is False.",
              "location": "query"
            },
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole and showOwnOrganizationOnly query parameters cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            },
            "showHidden": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to show hidden entries. Optional. The default is False."
            },
            "showDeleted": {
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "minAccessRole": {
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events.",
                "The user can read and modify events that aren't private. The user can read free/busy information about private events. The user can't modify private events."
              ],
              "location": "query",
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "type": "string",
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer",
                "writerWithoutPrivateAccess"
              ]
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            }
          },
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "path": "users/me/calendarList/watch",
          "description": "Watch for changes to CalendarList resources.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Channel"
          },
          "supportsSubscription": true
        },
        "delete": {
          "id": "calendar.calendarList.delete",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "DELETE",
          "description": "Removes a calendar from the user's calendar list.",
          "path": "users/me/calendarList/{calendarId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "parameters": {
            "calendarId": {
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "location": "path"
            }
          }
        },
        "patch": {
          "id": "calendar.calendarList.patch",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "path": "users/me/calendarList/{calendarId}",
          "response": {
            "$ref": "CalendarListEntry"
          },
          "parameters": {
            "colorRgbFormat": {
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "request": {
            "$ref": "CalendarListEntry"
          },
          "description": "Updates an existing calendar on the user's calendar list. This method supports patch semantics."
        },
        "update": {
          "path": "users/me/calendarList/{calendarId}",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "CalendarListEntry"
          },
          "description": "Updates an existing calendar on the user's calendar list.",
          "parameters": {
            "colorRgbFormat": {
              "location": "query",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "type": "boolean"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "calendar.calendarList.update",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "response": {
            "$ref": "CalendarListEntry"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "supportsSubscription": true,
          "id": "calendar.calendarList.list",
          "path": "users/me/calendarList",
          "response": {
            "$ref": "CalendarList"
          },
          "description": "Returns the calendars on the user's calendar list.",
          "parameters": {
            "minAccessRole": {
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events.",
                "The user can read and modify events that aren't private. The user can read free/busy information about private events. The user can't modify private events."
              ],
              "location": "query",
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer",
                "writerWithoutPrivateAccess"
              ],
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            },
            "showHidden": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to show hidden entries. Optional. The default is False."
            },
            "showOwnOrganizationOnly": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to show only entries for calendars from the organization. This parameter is only applicable to Google Workspace users. Optional. The default is False."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole and showOwnOrganizationOnly query parameters cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            }
          },
          "httpMethod": "GET"
        },
        "insert": {
          "httpMethod": "POST",
          "path": "users/me/calendarList",
          "parameters": {
            "colorRgbFormat": {
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            }
          },
          "request": {
            "$ref": "CalendarListEntry"
          },
          "response": {
            "$ref": "CalendarListEntry"
          },
          "id": "calendar.calendarList.insert",
          "description": "Inserts an existing calendar into the user's calendar list.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ]
        }
      }
    }
  },
  "basePath": "/calendar/v3/",
  "revision": "20260826",
  "title": "Calendar API",
  "version": "v3",
  "schemas": {
    "FreeBusyGroup": {
      "id": "FreeBusyGroup",
      "type": "object",
      "properties": {
        "calendars": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of calendars' identifiers within a group."
        },
        "errors": {
          "type": "array",
          "description": "Optional error(s) (if computation for the group failed).",
          "items": {
            "$ref": "Error"
          }
        }
      }
    },
    "CalendarListEntry": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "calendar#calendarListEntry",
          "description": "Type of the resource (\"calendar#calendarListEntry\")."
        },
        "summary": {
          "type": "string",
          "description": "Title of the calendar. Read-only."
        },
        "summaryOverride": {
          "type": "string",
          "description": "The summary that the authenticated user has set for this calendar. Optional."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "accessRole": {
          "description": "The effective access role that the authenticated user has on the calendar. Read-only. Possible values are:  \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writerWithoutPrivateAccess\" - Provides read and write access to the calendar. Private events will appear to users with writerWithoutPrivateAccess access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to see and modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. Optional. Read-only."
        },
        "conferenceProperties": {
          "$ref": "ConferenceProperties",
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed."
        },
        "foregroundColor": {
          "description": "The foreground color of the calendar in the hexadecimal format \"#ffffff\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "default": "false",
          "description": "Whether this calendar list entry has been deleted from the calendar list. Read-only. Optional. The default is False."
        },
        "dataOwner": {
          "type": "string",
          "description": "The email of the owner of the calendar. Set only for secondary calendars. Read-only."
        },
        "hidden": {
          "default": "false",
          "description": "Whether the calendar has been hidden from the list. Optional. The attribute is only returned when the calendar is hidden, in which case the value is true.",
          "type": "boolean"
        },
        "backgroundColor": {
          "type": "string",
          "description": "The main color of the calendar in the hexadecimal format \"#0088aa\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional."
        },
        "notificationSettings": {
          "description": "The notifications that the authenticated user is receiving for this calendar.",
          "properties": {
            "notifications": {
              "items": {
                "$ref": "CalendarNotification"
              },
              "description": "The list of notifications set for this calendar.",
              "type": "array"
            }
          },
          "type": "object"
        },
        "colorId": {
          "type": "string",
          "description": "The color of the calendar. This is an ID referring to an entry in the calendar section of the colors definition (see the colors endpoint). This property is superseded by the backgroundColor and foregroundColor properties and can be ignored when using these properties. Optional."
        },
        "location": {
          "type": "string",
          "description": "Geographic location of the calendar as free-form text. Optional. Read-only."
        },
        "defaultReminders": {
          "items": {
            "$ref": "EventReminder"
          },
          "description": "The default reminders that the authenticated user has for this calendar.",
          "type": "array"
        },
        "primary": {
          "description": "Whether the calendar is the primary calendar of the authenticated user. Read-only. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "autoAcceptInvitations": {
          "type": "boolean",
          "description": "Whether this calendar automatically accepts invitations. Only valid for resource calendars. Read-only."
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Optional. Read-only."
        },
        "selected": {
          "type": "boolean",
          "description": "Whether the calendar content shows up in the calendar UI. Optional. The default is False.",
          "default": "false"
        },
        "id": {
          "annotations": {
            "required": [
              "calendar.calendarList.insert"
            ]
          },
          "type": "string",
          "description": "Identifier of the calendar."
        }
      },
      "type": "object",
      "id": "CalendarListEntry"
    },
    "CalendarList": {
      "properties": {
        "kind": {
          "default": "calendar#calendarList",
          "description": "Type of the collection (\"calendar#calendarList\").",
          "type": "string"
        },
        "nextSyncToken": {
          "type": "string",
[...]
