{
  "id": "calendar:v3",
  "discoveryVersion": "v1",
  "rootUrl": "https://www.googleapis.com/",
  "revision": "20260826",
  "kind": "discovery#restDescription",
  "version": "v3",
  "resources": {
    "calendars": {
      "methods": {
        "update": {
          "id": "calendar.calendars.update",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "httpMethod": "PUT",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}",
          "description": "Updates metadata for a calendar.",
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "response": {
            "$ref": "Calendar"
          },
          "request": {
            "$ref": "Calendar"
          }
        },
        "get": {
          "id": "calendar.calendars.get",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars",
            "https://www.googleapis.com/auth/calendar.calendars.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "path": "calendars/{calendarId}",
          "response": {
            "$ref": "Calendar"
          },
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "description": "Returns metadata for a calendar.",
          "parameterOrder": [
            "calendarId"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "description": "Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.",
          "path": "calendars/{calendarId}",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.calendars.delete"
        },
        "patch": {
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "request": {
            "$ref": "Calendar"
          },
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "response": {
            "$ref": "Calendar"
          },
          "description": "Updates metadata for a calendar. This method supports patch semantics.",
          "path": "calendars/{calendarId}",
          "httpMethod": "PATCH",
          "id": "calendar.calendars.patch"
        },
        "clear": {
          "httpMethod": "POST",
          "path": "calendars/{calendarId}/clear",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "id": "calendar.calendars.clear",
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            }
          },
          "description": "Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.",
          "parameterOrder": [
            "calendarId"
          ]
        },
        "transferOwnership": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs, call the calendarList.list method.",
              "required": true,
              "location": "path"
            },
            "newDataOwner": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The email address of a user who will become the data owner of the calendar."
            },
            "useAdminAccess": {
              "type": "boolean",
              "description": "When true, the method runs using the user's Google Workspace administrator privileges. The calling user must be a Google Workspace administrator with the Manage Calendars privilege. This method currently only supports admin access, thus only true is accepted for this field.",
              "required": true,
              "location": "query"
            }
          },
          "path": "calendars/{calendarId}/transferOwnership",
          "parameterOrder": [
            "calendarId",
            "newDataOwner",
            "useAdminAccess"
          ],
          "id": "calendar.calendars.transferOwnership",
          "description": "Transfers a secondary calendar between users within a Google Workspace organization. Requires user authentication with Manage Calendars administrator privilege, and one of the following authorization scopes: \n- https://www.googleapis.com/auth/calendar \n- https://www.googleapis.com/auth/calendar.calendars In the request, set useAdminAccess to true. The secondary calendar must be active to be transferred. Transferring disabled or deleted calendars isn't supported."
        },
        "insert": {
          "httpMethod": "POST",
          "id": "calendar.calendars.insert",
          "path": "calendars",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "request": {
            "$ref": "Calendar"
          },
          "response": {
            "$ref": "Calendar"
          },
          "description": "Creates a secondary calendar.\nThe authenticated user for the request is made the data owner of the new calendar.\n\nNote: We recommend to authenticate as the intended data owner of the calendar. You can use domain-wide delegation of authority to allow applications to act on behalf of a specific user. Don't use a service account for authentication. If you use a service account for authentication, the service account is the data owner, which can lead to unexpected behavior. For example, if a service account is the data owner, data ownership cannot be transferred."
        }
      }
    },
    "acl": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.acl.list",
          "description": "Returns the rules in the access control list for the calendar.",
          "response": {
            "$ref": "Acl"
          },
          "parameters": {
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional."
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "location": "query",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "type": "boolean"
            }
          },
          "path": "calendars/{calendarId}/acl",
          "supportsSubscription": true
        },
        "update": {
          "parameters": {
            "sendNotifications": {
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "location": "query",
              "type": "boolean"
            },
            "ruleId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "ACL rule identifier."
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "calendar.acl.update",
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "response": {
            "$ref": "AclRule"
          },
          "description": "Updates an access control rule.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "AclRule"
          }
        },
        "delete": {
          "id": "calendar.acl.delete",
          "description": "Deletes an access control rule.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "ruleId": {
              "type": "string",
              "description": "ACL rule identifier.",
              "required": true,
              "location": "path"
            }
          },
          "path": "calendars/{calendarId}/acl/{ruleId}"
        },
        "patch": {
          "httpMethod": "PATCH",
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "response": {
            "$ref": "AclRule"
          },
          "parameters": {
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True."
            },
            "ruleId": {
              "type": "string",
              "description": "ACL rule identifier.",
              "required": true,
              "location": "path"
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "request": {
            "$ref": "AclRule"
          },
          "id": "calendar.acl.patch",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "description": "Updates an access control rule. This method supports patch semantics."
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.acl.insert",
          "description": "Creates an access control rule.",
          "parameters": {
            "sendNotifications": {
              "location": "query",
              "description": "Whether to send notifications about the calendar sharing change. Optional. The default is True.",
              "type": "boolean"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "AclRule"
          },
          "path": "calendars/{calendarId}/acl",
          "request": {
            "$ref": "AclRule"
          }
        },
        "watch": {
          "supportsSubscription": true,
          "parameters": {
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "location": "query",
              "minimum": "1"
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "location": "query",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly"
          ],
          "description": "Watch for changes to ACL resources.",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "Channel"
          },
          "id": "calendar.acl.watch",
          "path": "calendars/{calendarId}/acl/watch",
          "httpMethod": "POST"
        },
        "get": {
          "description": "Returns an access control rule.",
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "response": {
            "$ref": "AclRule"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            },
            "ruleId": {
              "description": "ACL rule identifier.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "calendar.acl.get"
        }
      }
    },
    "calendarList": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.calendarList.delete",
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "description": "Removes a calendar from the user's calendar list.",
          "path": "users/me/calendarList/{calendarId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "httpMethod": "DELETE"
        },
        "patch": {
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "CalendarListEntry"
          },
          "id": "calendar.calendarList.patch",
          "path": "users/me/calendarList/{calendarId}",
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "colorRgbFormat": {
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            }
          },
          "description": "Updates an existing calendar on the user's calendar list. This method supports patch semantics.",
          "request": {
            "$ref": "CalendarListEntry"
          }
        },
        "update": {
          "request": {
            "$ref": "CalendarListEntry"
          },
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "description": "Updates an existing calendar on the user's calendar list.",
          "response": {
            "$ref": "CalendarListEntry"
          },
          "httpMethod": "PUT",
          "id": "calendar.calendarList.update",
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "colorRgbFormat": {
              "location": "query",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "type": "boolean"
            }
          },
          "path": "users/me/calendarList/{calendarId}"
        },
        "watch": {
          "response": {
            "$ref": "Channel"
          },
          "parameters": {
            "maxResults": {
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "minimum": "1"
            },
            "showOwnOrganizationOnly": {
              "type": "boolean",
              "description": "Whether to show only entries for calendars from the organization. This parameter is only applicable to Google Workspace users. Optional. The default is False.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            },
            "showDeleted": {
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "showHidden": {
              "description": "Whether to show hidden entries. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "minAccessRole": {
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events.",
                "The user can read and modify events that aren't private. The user can read free/busy information about private events. The user can't modify private events."
              ],
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "location": "query",
              "type": "string",
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer",
                "writerWithoutPrivateAccess"
              ]
            },
            "syncToken": {
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole and showOwnOrganizationOnly query parameters cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string"
            }
          },
          "supportsSubscription": true,
          "httpMethod": "POST",
          "path": "users/me/calendarList/watch",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "id": "calendar.calendarList.watch",
          "description": "Watch for changes to CalendarList resources.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "CalendarList"
          },
          "path": "users/me/calendarList",
          "description": "Returns the calendars on the user's calendar list.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            },
            "showOwnOrganizationOnly": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to show only entries for calendars from the organization. This parameter is only applicable to Google Workspace users. Optional. The default is False."
            },
            "showHidden": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to show hidden entries. Optional. The default is False."
            },
            "showDeleted": {
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "format": "int32",
              "location": "query"
            },
            "minAccessRole": {
              "location": "query",
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events.",
                "The user can read and modify events that aren't private. The user can read free/busy information about private events. The user can't modify private events."
              ],
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer",
                "writerWithoutPrivateAccess"
              ],
              "type": "string"
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole and showOwnOrganizationOnly query parameters cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "supportsSubscription": true,
          "id": "calendar.calendarList.list"
        },
        "insert": {
          "request": {
            "$ref": "CalendarListEntry"
          },
          "parameters": {
            "colorRgbFormat": {
              "type": "boolean",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "location": "query"
            }
          },
          "id": "calendar.calendarList.insert",
          "path": "users/me/calendarList",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "response": {
            "$ref": "CalendarListEntry"
          },
          "description": "Inserts an existing calendar into the user's calendar list."
        },
        "get": {
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "description": "Returns a calendar from the user's calendar list.",
          "httpMethod": "GET",
          "id": "calendar.calendarList.get",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "response": {
            "$ref": "CalendarListEntry"
          },
          "path": "users/me/calendarList/{calendarId}",
          "parameterOrder": [
            "calendarId"
          ]
        }
      }
    },
    "freebusy": {
      "methods": {
        "query": {
          "id": "calendar.freebusy.query",
          "response": {
            "$ref": "FreeBusyResponse"
          },
          "description": "Returns free/busy information for a set of calendars.",
          "path": "freeBusy",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.freebusy",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "request": {
            "$ref": "FreeBusyRequest"
          },
          "httpMethod": "POST"
        }
      }
    },
    "settings": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "httpMethod": "GET",
          "path": "users/me/settings/{setting}",
          "id": "calendar.settings.get",
          "description": "Returns a single user setting.",
          "parameters": {
            "setting": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The id of the user setting."
            }
          },
          "parameterOrder": [
            "setting"
          ],
          "response": {
            "$ref": "Setting"
          }
        },
        "watch": {
          "path": "users/me/settings/watch",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying which result page to return. Optional.",
              "type": "string"
            },
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "supportsSubscription": true,
          "response": {
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "description": "Watch for changes to Settings resources.",
          "id": "calendar.settings.watch"
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "path": "users/me/settings",
          "parameters": {
            "maxResults": {
              "minimum": "1",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "location": "query"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            }
          },
          "supportsSubscription": true,
          "response": {
            "$ref": "Settings"
          },
          "description": "Returns all user settings for the authenticated user.",
          "id": "calendar.settings.list"
        }
      }
    },
    "events": {
      "methods": {
        "get": {
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "eventId": {
              "type": "string",
              "description": "Event identifier.",
              "required": true,
              "location": "path"
            },
            "maxAttendees": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "timeZone": {
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string"
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            }
          },
          "response": {
            "$ref": "Event"
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "httpMethod": "GET",
          "path": "calendars/{calendarId}/events/{eventId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "description": "Returns an event based on its Google Calendar ID. To retrieve an event using its iCalendar ID, call the events.list method using the iCalUID parameter.",
          "id": "calendar.events.get"
        },
        "move": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "description": "Moves an event to another calendar, i.e. changes an event's organizer. Note that only default events can be moved; birthday, focusTime, fromGmail, outOfOffice and workingLocation events cannot be moved.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Event"
          },
          "parameterOrder": [
            "calendarId",
            "eventId",
            "destination"
          ],
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier of the source calendar where the event currently is on.",
              "required": true,
              "location": "path"
            },
            "sendUpdates": {
              "location": "query",
              "type": "string",
              "description": "Guests who should receive notifications about the change of the event's organizer.",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ]
            },
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the change of the event's organizer. Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "destination": {
              "description": "Calendar identifier of the target calendar where the event is to be moved to.",
              "type": "string",
              "required": true,
              "location": "query"
            },
            "eventId": {
              "required": true,
              "location": "path",
              "description": "Event identifier.",
              "type": "string"
            }
          },
          "path": "calendars/{calendarId}/events/{eventId}/move",
          "id": "calendar.events.move"
        },
        "quickAdd": {
          "parameterOrder": [
            "calendarId",
            "text"
          ],
          "description": "Creates an event based on a simple text string.",
          "path": "calendars/{calendarId}/events/quickAdd",
          "httpMethod": "POST",
          "response": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "id": "calendar.events.quickAdd",
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            },
            "text": {
              "description": "The text describing the event to be created.",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "sendUpdates": {
              "location": "query",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "description": "Guests who should receive notifications about the creation of the new event.",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "type": "string"
            },
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the event. Note that some emails might still be sent even if you set the value to false. The default is false."
            }
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "request": {
            "$ref": "Event"
          },
          "path": "calendars/{calendarId}/events",
          "description": "Creates an event.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Event"
          },
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.events.insert",
          "parameters": {
            "maxAttendees": {
              "type": "integer",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "minimum": "1",
              "location": "query",
              "format": "int32"
            },
            "supportsAttachments": {
              "type": "boolean",
              "location": "query",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the new event. Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "conferenceDataVersion": {
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "type": "integer",
              "minimum": "0",
              "format": "int32",
              "maximum": "1",
              "location": "query"
            },
            "sendUpdates": {
              "description": "Whether to send notifications about the creation of the new event. Note that some emails might still be sent. The default is false.",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. Warning: Using the value none can have significant adverse effects, including events not syncing to external calendars or events being lost altogether for some users. For calendar migration tasks, consider using the events.import method instead."
              ],
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "location": "query",
              "type": "string"
            },
            "eventLabelVersion": {
              "maximum": "1",
              "format": "int32",
              "description": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0.",
              "minimum": "0",
              "location": "query",
              "type": "integer"
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            }
          }
        },
        "patch": {
          "description": "Updates an event. This method supports patch semantics.",
          "id": "calendar.events.patch",
          "response": {
            "$ref": "Event"
          },
          "request": {
            "$ref": "Event"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "path": "calendars/{calendarId}/events/{eventId}",
          "parameters": {
            "maxAttendees": {
              "type": "integer",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "minimum": "1",
              "format": "int32",
              "location": "query"
            },
            "eventId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Event identifier."
            },
            "eventLabelVersion": {
              "maximum": "1",
              "format": "int32",
              "location": "query",
              "description": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0.",
              "minimum": "0",
              "type": "integer"
            },
            "sendUpdates": {
              "type": "string",
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "location": "query"
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "conferenceDataVersion": {
              "minimum": "0",
              "maximum": "1",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0."
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            }
          }
        },
        "list": {
          "path": "calendars/{calendarId}/events",
          "id": "calendar.events.list",
          "parameters": {
            "timeMin": {
              "type": "string",
              "location": "query",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax.",
              "format": "date-time"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "default": "250",
              "minimum": "1",
              "type": "integer",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional."
            },
            "sharedExtendedProperty": {
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "updatedMin": {
              "format": "date-time",
              "location": "query",
              "type": "string",
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time."
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            },
            "timeMax": {
              "format": "date-time",
              "type": "string",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "location": "query"
            },
            "singleEvents": {
              "type": "boolean",
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "location": "query"
            },
            "showHiddenInvitations": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False."
            },
            "iCalUID": {
              "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID.",
              "type": "string",
              "location": "query"
            },
            "maxAttendees": {
              "minimum": "1",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer"
            },
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin All other query parameters should be the same as for the initial synchronization to avoid undefined behavior. If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying which result page to return. Optional.",
              "type": "string"
            },
            "orderBy": {
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "location": "query",
              "enum": [
                "startTime",
                "updated"
              ],
              "type": "string",
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ]
            },
            "timeZone": {
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string"
            },
            "eventTypes": {
              "type": "string",
              "enumDescriptions": [
                "Special all-day events with an annual recurrence.",
                "Regular events.",
                "Focus time events.",
                "Events from Gmail.",
                "Out of office events.",
                "Working location events."
              ],
              "location": "query",
              "description": "Event types to return. Optional. This parameter can be repeated multiple times to return events of different types. If unset, returns all event types.",
              "enum": [
                "birthday",
                "default",
                "focusTime",
                "fromGmail",
                "outOfOffice",
                "workingLocation"
              ],
              "repeated": true
            },
            "q": {
              "description": "Free text search terms to find events that match these terms in the following fields:\n\n- summary \n- description \n- location \n- attendee's displayName \n- attendee's email \n- organizer's displayName \n- organizer's email \n- workingLocationProperties.officeLocation.buildingId \n- workingLocationProperties.officeLocation.deskId \n- workingLocationProperties.officeLocation.label \n- workingLocationProperties.customLocation.label \nThese search terms also match predefined keywords against all display title translations of working location, out-of-office, and focus-time events. For example, searching for \"Office\" or \"Bureau\" returns working location events of type officeLocation, whereas searching for \"Out of office\" or \"Abwesend\" returns out-of-office events. Optional.",
              "type": "string",
              "location": "query"
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated and ignored."
            },
            "showDeleted": {
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "privateExtendedProperty": {
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "description": "Returns events on the specified calendar.",
          "supportsSubscription": true,
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "Events"
          },
          "httpMethod": "GET"
        },
        "update": {
          "request": {
            "$ref": "Event"
          },
          "description": "Updates an event.",
          "parameters": {
            "maxAttendees": {
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "conferenceDataVersion": {
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "format": "int32",
              "maximum": "1",
              "minimum": "0",
              "type": "integer",
              "location": "query"
            },
            "sendUpdates": {
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "location": "query",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "type": "string"
            },
            "eventLabelVersion": {
              "format": "int32",
              "location": "query",
              "minimum": "0",
              "type": "integer",
              "maximum": "1",
              "description": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0."
            },
            "eventId": {
              "required": true,
              "location": "path",
              "description": "Event identifier.",
              "type": "string"
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query"
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "calendars/{calendarId}/events/{eventId}",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "id": "calendar.events.update",
          "response": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "httpMethod": "PUT"
        },
        "delete": {
          "id": "calendar.events.delete",
          "path": "calendars/{calendarId}/events/{eventId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "description": "Deletes an event.",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "parameters": {
            "eventId": {
              "description": "Event identifier.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the deletion of the event. Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "sendUpdates": {
              "description": "Guests who should receive notifications about the deletion of the event.",
              "location": "query",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "type": "string"
            }
          },
          "httpMethod": "DELETE"
        },
        "import": {
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}/events/import",
          "response": {
            "$ref": "Event"
          },
          "httpMethod": "POST",
          "id": "calendar.events.import",
          "request": {
            "$ref": "Event"
          },
          "parameters": {
            "conferenceDataVersion": {
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "type": "integer",
              "format": "int32",
              "maximum": "1",
              "location": "query",
              "minimum": "0"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "eventLabelVersion": {
              "type": "integer",
              "location": "query",
              "minimum": "0",
              "format": "int32",
              "maximum": "1",
              "description": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0."
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            }
          },
          "description": "Imports an event. This operation is used to add a private copy of an existing event to a calendar. Only events with an eventType of default may be imported.\nDeprecated behavior: If a non-default event is imported, its type will be changed to default and any event-type-specific properties it may have will be dropped.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ]
        },
        "watch": {
          "description": "Watch for changes to Events resources.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameters": {
            "timeMax": {
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "type": "string",
              "location": "query",
              "format": "date-time"
            },
            "timeZone": {
              "type": "string",
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar."
            },
            "iCalUID": {
              "type": "string",
              "location": "query",
              "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID."
            },
            "eventTypes": {
              "enum": [
                "birthday",
                "default",
                "focusTime",
                "fromGmail",
                "outOfOffice",
                "workingLocation"
              ],
              "type": "string",
              "description": "Event types to return. Optional. This parameter can be repeated multiple times to return events of different types. If unset, returns all event types.",
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "Special all-day events with an annual recurrence.",
                "Regular events.",
                "Focus time events.",
                "Events from Gmail.",
                "Out of office events.",
                "Working location events."
              ]
            },
            "pageToken": {
              "type": "string",
              "description": "Token specifying which result page to return. Optional.",
              "location": "query"
            },
            "singleEvents": {
              "location": "query",
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "type": "boolean"
            },
            "timeMin": {
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax.",
              "format": "date-time",
              "location": "query",
              "type": "string"
            },
            "showHiddenInvitations": {
              "type": "boolean",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
              "location": "query"
            },
            "privateExtendedProperty": {
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "maxAttendees": {
              "location": "query",
              "format": "int32",
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "type": "integer",
              "format": "int32",
              "default": "250",
              "minimum": "1"
            },
            "updatedMin": {
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
              "format": "date-time",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False."
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin All other query parameters should be the same as for the initial synchronization to avoid undefined behavior. If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            },
            "sharedExtendedProperty": {
              "repeated": true,
              "location": "query",
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "type": "string"
            },
            "orderBy": {
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "location": "query",
              "enum": [
                "startTime",
                "updated"
              ],
              "type": "string"
            },
            "q": {
              "type": "string",
              "description": "Free text search terms to find events that match these terms in the following fields:\n\n- summary \n- description \n- location \n- attendee's displayName \n- attendee's email \n- organizer's displayName \n- organizer's email \n- workingLocationProperties.officeLocation.buildingId \n- workingLocationProperties.officeLocation.deskId \n- workingLocationProperties.officeLocation.label \n- workingLocationProperties.customLocation.label \nThese search terms also match predefined keywords against all display title translations of working location, out-of-office, and focus-time events. For example, searching for \"Office\" or \"Bureau\" returns working location events of type officeLocation, whereas searching for \"Out of office\" or \"Abwesend\" returns out-of-office events. Optional.",
              "location": "query"
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "calendars/{calendarId}/events/watch",
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "Channel"
          },
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "supportsSubscription": true,
          "id": "calendar.events.watch",
          "httpMethod": "POST"
        },
        "instances": {
          "supportsSubscription": true,
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "path": "calendars/{calendarId}/events/{eventId}/instances",
          "parameters": {
            "timeMin": {
              "location": "query",
              "type": "string",
              "format": "date-time",
              "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset."
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            },
            "originalStart": {
              "type": "string",
              "description": "The original start time of the instance in the result. Optional.",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "eventId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Recurring event identifier."
            },
            "timeZone": {
              "type": "string",
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "type": "boolean"
            },
            "timeMax": {
              "location": "query",
              "type": "string",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset.",
              "format": "date-time"
            },
            "maxAttendees": {
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "maxResults": {
              "minimum": "1",
              "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "description": "Returns instances of the specified recurring event.",
          "id": "calendar.events.instances",
          "response": {
            "$ref": "Events"
          },
          "httpMethod": "GET"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "id": "calendar.channels.stop",
          "path": "channels/stop",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "description": "Stop watching resources through this channel",
          "httpMethod": "POST"
        }
      }
    },
    "colors": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Colors"
          },
          "path": "colors",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "description": "Returns the color definitions for calendars and events.",
          "id": "calendar.colors.get"
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/calendar.events.owned.readonly": {
          "description": "See the events on Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.acls": {
          "description": "See and change the sharing permissions of Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.calendarlist": {
          "description": "See, add, and remove Google calendars you’re subscribed to"
        },
        "https://www.googleapis.com/auth/calendar.acls.readonly": {
          "description": "See the sharing permissions of Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.readonly": {
          "description": "See and download any calendar you can access using your Google Calendar"
        },
        "https://www.googleapis.com/auth/calendar.settings.readonly": {
          "description": "View your Calendar settings"
        },
        "https://www.googleapis.com/auth/calendar.calendars.readonly": {
          "description": "See the title, description, default time zone, and other properties of Google calendars you have access to"
        },
        "https://www.googleapis.com/auth/calendar.events": {
          "description": "View and edit events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar.events.readonly": {
          "description": "View events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar.events.freebusy": {
          "description": "See the availability on Google calendars you have access to"
        },
        "https://www.googleapis.com/auth/calendar.freebusy": {
          "description": "View your availability in your calendars"
        },
        "https://www.googleapis.com/auth/calendar.events.public.readonly": {
          "description": "See the events on public calendars"
        },
        "https://www.googleapis.com/auth/calendar": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/calendar.app.created": {
          "description": "Make secondary Google calendars, and see, create, change, and delete events on them"
        },
        "https://www.googleapis.com/auth/calendar.calendars": {
          "description": "See and change the properties of Google calendars you have access to, and create secondary calendars"
        },
        "https://www.googleapis.com/auth/calendar.events.owned": {
          "description": "See, create, change, and delete events on Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.calendarlist.readonly": {
          "description": "See the list of Google calendars you’re subscribed to"
        }
      }
    }
  },
  "schemas": {
    "ConferenceParameters": {
      "properties": {
        "addOnParameters": {
          "description": "Additional add-on specific data.",
          "$ref": "ConferenceParametersAddOnParameters"
        }
      },
      "id": "ConferenceParameters",
      "type": "object"
    },
    "Error": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "Domain, or broad category, of the error."
        },
        "reason": {
          "description": "Specific reason for the error. Some of the possible values are:  \n- \"groupTooBig\" - The group of users requested is too large for a single query. \n- \"tooManyCalendarsRequested\" - The number of calendars requested is too large for a single query. \n- \"notFound\" - The requested resource was not found. \n- \"internalError\" - The API service has encountered an internal error.  Additional error types may be added in the future, so clients should gracefully handle additional error statuses not included in this list.",
          "type": "string"
        }
      },
      "id": "Error",
      "type": "object"
    },
    "ColorDefinition": {
      "id": "ColorDefinition",
      "type": "object",
      "properties": {
        "foreground": {
          "description": "The foreground color that can be used to write on top of a background with 'background' color.",
          "type": "string"
        },
        "background": {
          "description": "The background color associated with this color definition.",
          "type": "string"
        }
      }
    },
    "EventAttachment": {
      "properties": {
        "fileUrl": {
          "type": "string",
          "description": "URL link to the attachment.\nFor adding Google Drive file attachments use the same format as in alternateLink property of the Files resource in the Drive API.\nRequired when adding an attachment."
        },
        "mimeType": {
          "type": "string",
          "description": "Internet media type (MIME type) of the attachment."
        },
        "title": {
          "type": "string",
          "description": "Attachment title."
        },
        "iconLink": {
          "description": "URL link to the attachment's icon. This field can only be modified for custom third-party attachments.",
          "type": "string"
        },
        "fileId": {
          "description": "ID of the attached file. Read-only.\nFor Google Drive files, this is the ID of the corresponding Files resource entry in the Drive API.",
          "type": "string"
        }
      },
      "id": "EventAttachment",
      "type": "object"
    },
    "EventAttendee": {
      "id": "EventAttendee",
      "type": "object",
      "properties": {
        "optional": {
          "type": "boolean",
          "default": "false",
          "description": "Whether this is an optional attendee. Optional. The default is False."
        },
        "displayName": {
          "type": "string",
          "description": "The attendee's name, if available. Optional."
        },
        "comment": {
          "type": "string",
          "description": "The attendee's response comment. Optional."
        },
        "responseStatus": {
          "type": "string",
          "description": "The attendee's response status. Possible values are:  \n- \"needsAction\" - The attendee has not responded to the invitation (recommended for new events). \n- \"declined\" - The attendee has declined the invitation. \n- \"tentative\" - The attendee has tentatively accepted the invitation. \n- \"accepted\" - The attendee has accepted the invitation.  Warning: If you add an event using the values declined, tentative, or accepted, attendees with the \"Add invitations to my calendar\" setting set to \"When I respond to invitation in email\" or \"Only if the sender is known\" might have their response reset to needsAction and won't see an event in their calendar unless they change their response in the event invitation email. Furthermore, if more than 200 guests are invited to the event, response status is not propagated to the guests."
        },
        "resource": {
[...]
