{
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    }
  },
  "rootUrl": "https://classroom.googleapis.com/",
  "description": "Manages classes, rosters, and invitations in Google Classroom.",
  "name": "classroom",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/classroom.topics": {
          "description": "See, create, and edit topics in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.profile.photos": {
          "description": "View the profile photos of people in your classes"
        },
        "https://www.googleapis.com/auth/classroom.courses.readonly": {
          "description": "View your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.coursework.students.readonly": {
          "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
        },
        "https://www.googleapis.com/auth/classroom.courses": {
          "description": "See, edit, create, and permanently delete your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.addons.student": {
          "description": "See and update its own attachments to posts in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.rosters": {
          "description": "Manage your Google Classroom class rosters"
        },
        "https://www.googleapis.com/auth/classroom.rosters.readonly": {
          "description": "View your Google Classroom class rosters"
        },
        "https://www.googleapis.com/auth/classroom.push-notifications": {
          "description": "Receive notifications about your Google Classroom data"
        },
        "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly": {
          "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
        },
        "https://www.googleapis.com/auth/classroom.courseworkmaterials": {
          "description": "See, edit, and create classwork materials in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.announcements.readonly": {
          "description": "View announcements in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.students": {
          "description": "View and manage guardians for students in your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.coursework.me.readonly": {
          "description": "View your course work and grades in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.addons.teacher": {
          "description": "See, create, and update its own attachments to posts in classes you teach in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.coursework.me": {
          "description": "See, create and edit coursework items including assignments, questions, and grades"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly": {
          "description": "View guardians for students in your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.coursework.students": {
          "description": "Manage course work and grades for students in the Google Classroom classes you teach and view the course work and grades for classes you administer"
        },
        "https://www.googleapis.com/auth/classroom.profile.emails": {
          "description": "View the email addresses of people in your classes"
        },
        "https://www.googleapis.com/auth/classroom.announcements": {
          "description": "View and manage announcements in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly": {
          "description": "See all classwork materials for your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.topics.readonly": {
          "description": "View topics in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly": {
          "description": "View your Google Classroom guardians"
        },
        "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly": {
          "description": "View your course work and grades in Google Classroom"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "protocol": "rest",
  "servicePath": "",
  "mtlsRootUrl": "https://classroom.mtls.googleapis.com/",
  "basePath": "",
  "resources": {
    "registrations": {
      "methods": {
        "delete": {
          "path": "v1/registrations/{registrationId}",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.push-notifications"
          ],
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "registrationId": {
              "type": "string",
              "required": true,
              "description": "The `registration_id` of the `Registration` to be deleted.",
              "location": "path"
            }
          },
          "description": "Deletes a `Registration`, causing Classroom to stop sending notifications for that `Registration`.",
          "httpMethod": "DELETE",
          "flatPath": "v1/registrations/{registrationId}",
          "parameterOrder": [
            "registrationId"
          ],
          "id": "classroom.registrations.delete"
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/classroom.push-notifications"
          ],
          "path": "v1/registrations",
          "flatPath": "v1/registrations",
          "request": {
            "$ref": "Registration"
          },
          "id": "classroom.registrations.create",
          "description": "Creates a `Registration`, causing Classroom to start sending notifications from the provided `feed` to the destination provided in `cloudPubSubTopic`. Returns the created `Registration`. Currently, this will be the same as the argument, but with server-assigned fields such as `expiry_time` and `id` filled in. Note that any value specified for the `expiry_time` or `id` fields will be ignored. While Classroom may validate the `cloudPubSubTopic` and return errors on a best effort basis, it is the caller's responsibility to ensure that it exists and that Classroom has permission to publish to it. This method may return the following error codes: * `PERMISSION_DENIED` if: * the authenticated user does not have permission to receive notifications from the requested field; or * the current user has not granted access to the current Cloud project with the appropriate scope for the requested feed. Note that domain-wide delegation of authority is not currently supported for this purpose. If the request has the appropriate scope, but no grant exists, a Request Errors is returned. * another access error is encountered. * `INVALID_ARGUMENT` if: * no `cloudPubsubTopic` is specified, or the specified `cloudPubsubTopic` is not valid; or * no `feed` is specified, or the specified `feed` is not valid. * `NOT_FOUND` if: * the specified `feed` cannot be located, or the requesting user does not have permission to determine whether or not it exists; or * the specified `cloudPubsubTopic` cannot be located, or Classroom has not been granted permission to publish to it.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "Registration"
          },
          "parameters": {}
        }
      }
    },
    "userProfiles": {
      "resources": {
        "guardians": {
          "methods": {
            "list": {
              "flatPath": "v1/userProfiles/{studentId}/guardians",
              "parameterOrder": [
                "studentId"
              ],
              "id": "classroom.userProfiles.guardians.list",
              "path": "v1/userProfiles/{studentId}/guardians",
              "response": {
                "$ref": "ListGuardiansResponse"
              },
              "description": "Returns a list of guardians that the requesting user is permitted to view, restricted to those that match the request. To list guardians for any student that the requesting user may view guardians for, use the literal character `-` for the student ID. This method returns the following error codes: * `PERMISSION_DENIED` if a `student_id` is specified, and the requesting user is not permitted to view guardian information for that student, if `\"-\"` is specified as the `student_id` and the user is not a domain administrator, if guardians are not enabled for the domain in question, if the `invited_email_address` filter is set by a user who is not a domain administrator, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). May also be returned if an invalid `page_token` is provided. * `NOT_FOUND` if a `student_id` is specified, and its format can be recognized, but Classroom has no record of that student.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results."
                },
                "studentId": {
                  "location": "path",
                  "description": "Filter results by the student who the guardian is linked to. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user * the string literal `\"-\"`, indicating that results should be returned for all students that the requesting user has access to view.",
                  "type": "string",
                  "required": true
                },
                "invitedEmailAddress": {
                  "type": "string",
                  "description": "Filter results by the email address that the original invitation was sent to, resulting in this guardian link. This filter can only be used by domain administrators.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string"
                }
              },
              "httpMethod": "GET"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "parameterOrder": [
                "studentId",
                "guardianId"
              ],
              "response": {
                "$ref": "Guardian"
              },
              "id": "classroom.userProfiles.guardians.get",
              "httpMethod": "GET",
              "parameters": {
                "studentId": {
                  "required": true,
                  "description": "The student whose guardian is being requested. One of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "location": "path",
                  "type": "string"
                },
                "guardianId": {
                  "description": "The `id` field from a `Guardian`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "path": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "description": "Returns a specific guardian. This method returns the following error codes: * `PERMISSION_DENIED` if no user that matches the provided `student_id` is visible to the requesting user, if the requesting user is not permitted to view guardian information for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). * `NOT_FOUND` if the requesting user is permitted to view guardians for the requested `student_id`, but no `Guardian` record exists for that student that matches the provided `guardian_id`."
            },
            "delete": {
              "parameters": {
                "guardianId": {
                  "location": "path",
                  "description": "The `id` field from a `Guardian`.",
                  "type": "string",
                  "required": true
                },
                "studentId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The student whose guardian is to be deleted. One of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user"
                }
              },
              "httpMethod": "DELETE",
              "description": "Deletes a guardian. The guardian will no longer receive guardian notifications and the guardian will no longer be accessible via the API. This method returns the following error codes: * `PERMISSION_DENIED` if no user that matches the provided `student_id` is visible to the requesting user, if the requesting user is not permitted to manage guardians for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API). * `NOT_FOUND` if the requesting user is permitted to modify guardians for the requested `student_id`, but no `Guardian` record exists for that student with the provided `guardian_id`.",
              "id": "classroom.userProfiles.guardians.delete",
              "flatPath": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "path": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "studentId",
                "guardianId"
              ]
            }
          }
        },
        "guardianInvitations": {
          "methods": {
            "create": {
              "path": "v1/userProfiles/{studentId}/guardianInvitations",
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations",
              "description": "Creates a guardian invitation, and sends an email to the guardian asking them to confirm that they are the student's guardian. Once the guardian accepts the invitation, their `state` will change to `COMPLETED` and they will start receiving guardian notifications. A `Guardian` resource will also be created to represent the active guardian. The request object must have the `student_id` and `invited_email_address` fields set. Failing to set these fields, or setting any other fields in the request, will result in an error. This method returns the following error codes: * `PERMISSION_DENIED` if the current user does not have permission to manage guardians, if the guardian in question has already rejected too many requests for that student, if guardians are not enabled for the domain in question, or for other access errors. * `RESOURCE_EXHAUSTED` if the student or guardian has exceeded the guardian link limit. * `INVALID_ARGUMENT` if the guardian email address is not valid (for example, if it is too long), or if the format of the student ID provided cannot be recognized (it is not an email address, nor a `user_id` from this API). This error will also be returned if read-only fields are set, or if the `state` field is set to to a value other than `PENDING`. * `NOT_FOUND` if the student ID provided is a valid student ID, but Classroom has no record of that student. * `ALREADY_EXISTS` if there is already a pending guardian invitation for the student and `invited_email_address` provided, or if the provided `invited_email_address` matches the Google account of an existing `Guardian` for this user.",
              "httpMethod": "POST",
              "parameterOrder": [
                "studentId"
              ],
              "parameters": {
                "studentId": {
                  "location": "path",
                  "type": "string",
                  "description": "ID of the student (in standard format)",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "request": {
                "$ref": "GuardianInvitation"
              },
              "id": "classroom.userProfiles.guardianInvitations.create",
              "response": {
                "$ref": "GuardianInvitation"
              }
            },
            "list": {
              "description": "Returns a list of guardian invitations that the requesting user is permitted to view, filtered by the parameters provided. This method returns the following error codes: * `PERMISSION_DENIED` if a `student_id` is specified, and the requesting user is not permitted to view guardian invitations for that student, if `\"-\"` is specified as the `student_id` and the user is not a domain administrator, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). May also be returned if an invalid `page_token` or `state` is provided. * `NOT_FOUND` if a `student_id` is specified, and its format can be recognized, but Classroom has no record of that student.",
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations",
              "httpMethod": "GET",
              "id": "classroom.userProfiles.guardianInvitations.list",
              "parameters": {
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query",
                  "type": "string"
                },
                "studentId": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the student whose guardian invitations are to be returned. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user * the string literal `\"-\"`, indicating that results should be returned for all students that the requesting user is permitted to view guardian invitations.",
                  "location": "path"
                },
                "invitedEmailAddress": {
                  "location": "query",
                  "description": "If specified, only results with the specified `invited_email_address` are returned.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32"
                },
                "states": {
                  "enum": [
                    "GUARDIAN_INVITATION_STATE_UNSPECIFIED",
                    "PENDING",
                    "COMPLETE"
                  ],
                  "repeated": true,
                  "enumDescriptions": [
                    "Should never be returned.",
                    "The invitation is active and awaiting a response.",
                    "The invitation is no longer active. It may have been accepted, declined, withdrawn or it may have expired."
                  ],
                  "location": "query",
                  "description": "If specified, only results with the specified `state` values are returned. Otherwise, results with a `state` of `PENDING` are returned.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListGuardianInvitationsResponse"
              },
              "parameterOrder": [
                "studentId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "path": "v1/userProfiles/{studentId}/guardianInvitations"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "path": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "id": "classroom.userProfiles.guardianInvitations.get",
              "parameterOrder": [
                "studentId",
                "invitationId"
              ],
              "response": {
                "$ref": "GuardianInvitation"
              },
              "description": "Returns a specific guardian invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view guardian invitations for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). * `NOT_FOUND` if Classroom cannot find any record of the given student or `invitation_id`. May also be returned if the student exists, but the requesting user does not have access to see that student.",
              "parameters": {
                "studentId": {
                  "location": "path",
                  "description": "The ID of the student whose guardian invitation is being requested.",
                  "required": true,
                  "type": "string"
                },
                "invitationId": {
                  "description": "The `id` field of the `GuardianInvitation` being requested.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET"
            },
            "patch": {
              "id": "classroom.userProfiles.guardianInvitations.patch",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "studentId",
                "invitationId"
              ],
              "description": "Modifies a guardian invitation. Currently, the only valid modification is to change the `state` from `PENDING` to `COMPLETE`. This has the effect of withdrawing the invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the current user does not have permission to manage guardians, if guardians are not enabled for the domain in question or for other access errors. * `FAILED_PRECONDITION` if the guardian link is not in the `PENDING` state. * `INVALID_ARGUMENT` if the format of the student ID provided cannot be recognized (it is not an email address, nor a `user_id` from this API), or if the passed `GuardianInvitation` has a `state` other than `COMPLETE`, or if it modifies fields other than `state`. * `NOT_FOUND` if the student ID provided is a valid student ID, but Classroom has no record of that student, or if the `id` field does not refer to a guardian invitation known to Classroom.",
              "parameters": {
                "invitationId": {
                  "type": "string",
                  "description": "The `id` field of the `GuardianInvitation` to be modified.",
                  "required": true,
                  "location": "path"
                },
                "studentId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the student whose guardian invitation is to be modified."
                },
                "updateMask": {
                  "description": "Mask that identifies which fields on the course to update. This field is required to do an update. The update fails if invalid fields are specified. The following fields are valid: * `state` When set in a query parameter, this field should be specified as `updateMask=,,...`",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "path": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "response": {
                "$ref": "GuardianInvitation"
              },
              "request": {
                "$ref": "GuardianInvitation"
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "path": "v1/userProfiles/{userId}",
          "parameterOrder": [
            "userId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.profile.emails",
            "https://www.googleapis.com/auth/classroom.profile.photos",
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "flatPath": "v1/userProfiles/{userId}",
          "id": "classroom.userProfiles.get",
          "httpMethod": "GET",
          "parameters": {
            "userId": {
              "required": true,
              "description": "Identifier of the profile to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Returns a user profile. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access this user profile, if no profile exists with the requested ID, or for access errors.",
          "response": {
            "$ref": "UserProfile"
          }
        }
      }
    },
    "invitations": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "description": "Deletes an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested invitation or for access errors. * `NOT_FOUND` if no invitation exists with the requested ID.",
          "flatPath": "v1/invitations/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "description": "Identifier of the invitation to delete.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1/invitations/{id}",
          "id": "classroom.invitations.delete",
          "response": {
            "$ref": "Empty"
          }
        },
        "create": {
          "response": {
            "$ref": "Invitation"
          },
          "parameterOrder": [],
          "request": {
            "$ref": "Invitation"
          },
          "description": "Creates an invitation. Only one invitation for a user and course may exist at a time. Delete and re-create an invitation to make changes. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create invitations for this course or for access errors. * `NOT_FOUND` if the course or the user does not exist. * `FAILED_PRECONDITION`: * if the requested user's account is disabled. * if the user already has this role or a role with greater permissions. * for the following request errors: * IneligibleOwner * `ALREADY_EXISTS` if an invitation for the specified user and course already exists.",
          "parameters": {},
          "httpMethod": "POST",
          "path": "v1/invitations",
          "flatPath": "v1/invitations",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "id": "classroom.invitations.create"
        },
        "list": {
          "response": {
            "$ref": "ListInvitationsResponse"
          },
          "parameters": {
            "userId": {
              "location": "query",
              "description": "Restricts returned invitations to those for a specific user. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of items to return. The default is 500 if unspecified or `0`. The server may return fewer than the specified number of results."
            },
            "courseId": {
              "type": "string",
              "location": "query",
              "description": "Restricts returned invitations to those for a course with the specified identifier."
            },
            "pageToken": {
              "location": "query",
              "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "classroom.invitations.list",
          "description": "Returns a list of invitations that the requesting user is permitted to view, restricted to those that match the list request. *Note:* At least one of `user_id` or `course_id` must be supplied. Both fields can be supplied. This method returns the following error codes: * `PERMISSION_DENIED` for access errors.",
          "flatPath": "v1/invitations",
          "path": "v1/invitations",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "parameterOrder": []
        },
        "get": {
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "description": "Identifier of the invitation to return.",
              "required": true
            }
          },
          "response": {
            "$ref": "Invitation"
          },
          "description": "Returns an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view the requested invitation or for access errors. * `NOT_FOUND` if no invitation exists with the requested ID.",
          "httpMethod": "GET",
          "path": "v1/invitations/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "parameterOrder": [
            "id"
          ],
          "flatPath": "v1/invitations/{id}",
          "id": "classroom.invitations.get"
        },
        "accept": {
          "id": "classroom.invitations.accept",
          "httpMethod": "POST",
          "parameters": {
            "id": {
              "type": "string",
              "location": "path",
              "description": "Identifier of the invitation to accept.",
              "required": true
            }
          },
          "parameterOrder": [
            "id"
          ],
          "flatPath": "v1/invitations/{id}:accept",
          "description": "Accepts an invitation, removing it and adding the invited user to the teachers or students (as appropriate) of the specified course. Only the invited user may accept an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to accept the requested invitation or for access errors. * `FAILED_PRECONDITION` for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * `NOT_FOUND` if no invitation exists with the requested ID.",
          "path": "v1/invitations/{id}:accept",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ]
        }
      }
    },
    "courses": {
      "resources": {
        "aliases": {
          "methods": {
            "list": {
              "flatPath": "v1/courses/{courseId}/aliases",
              "id": "classroom.courses.aliases.list",
              "path": "v1/courses/{courseId}/aliases",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "description": "The identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses",
                "https://www.googleapis.com/auth/classroom.courses.readonly"
              ],
              "httpMethod": "GET",
              "description": "Returns a list of aliases for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the course or for access errors. * `NOT_FOUND` if the course does not exist.",
              "response": {
                "$ref": "ListCourseAliasesResponse"
              },
              "parameterOrder": [
                "courseId"
              ]
            },
            "delete": {
              "path": "v1/courses/{courseId}/aliases/{alias}",
              "description": "Deletes an alias of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to remove the alias or for access errors. * `NOT_FOUND` if the alias does not exist. * `FAILED_PRECONDITION` if the alias requested does not make sense for the requesting user or course (for example, if a user not in a domain attempts to delete a domain-scoped alias).",
              "flatPath": "v1/courses/{courseId}/aliases/{alias}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses"
              ],
              "id": "classroom.courses.aliases.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "courseId",
                "alias"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "courseId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the course whose alias should be deleted. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                },
                "alias": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Alias to delete. This may not be the Classroom-assigned identifier."
                }
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses"
              ],
              "httpMethod": "POST",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course to alias. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/courses/{courseId}/aliases",
              "id": "classroom.courses.aliases.create",
              "description": "Creates an alias for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the alias or for access errors. * `NOT_FOUND` if the course does not exist. * `ALREADY_EXISTS` if the alias already exists. * `FAILED_PRECONDITION` if the alias requested does not make sense for the requesting user or course (for example, if a user not in a domain attempts to access a domain-scoped alias).",
              "request": {
                "$ref": "CourseAlias"
              },
              "parameterOrder": [
                "courseId"
              ],
              "response": {
                "$ref": "CourseAlias"
              },
              "path": "v1/courses/{courseId}/aliases"
            }
          }
        },
        "teachers": {
          "methods": {
            "create": {
              "path": "v1/courses/{courseId}/teachers",
              "id": "classroom.courses.teachers.create",
              "parameterOrder": [
                "courseId"
              ],
              "request": {
                "$ref": "Teacher"
              },
              "response": {
                "$ref": "Teacher"
              },
              "httpMethod": "POST",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Creates a teacher of a course. Domain administrators are permitted to [directly add](https://developers.google.com/workspace/classroom/guides/manage-users) users within their domain as teachers to courses within their domain. Non-admin users should send an Invitation instead. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create teachers in this course or for access errors. * `NOT_FOUND` if the requested course ID does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled, for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * InactiveCourseOwner * `ALREADY_EXISTS` if the user is already a teacher or student in the course.",
              "flatPath": "v1/courses/{courseId}/teachers",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters"
              ]
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                },
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of items to return. The default is 30 if unspecified or `0`. The server may return fewer than the specified number of results.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListTeachersResponse"
              },
              "description": "Returns a list of teachers of this course that the requester is permitted to view. This method returns the following error codes: * `NOT_FOUND` if the course does not exist. * `PERMISSION_DENIED` for access errors.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "flatPath": "v1/courses/{courseId}/teachers",
              "path": "v1/courses/{courseId}/teachers",
              "id": "classroom.courses.teachers.list",
              "parameterOrder": [
                "courseId"
              ]
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "description": "Removes the specified teacher from the specified course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist. * `FAILED_PRECONDITION` if the requested ID belongs to the primary teacher of this course. * `FAILED_PRECONDITION` if the requested ID belongs to the owner of the course Drive folder. * `FAILED_PRECONDITION` if the course no longer has an active owner.",
              "id": "classroom.courses.teachers.delete",
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "parameters": {
                "userId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the teacher to delete. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "required": true
                },
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "flatPath": "v1/courses/{courseId}/teachers/{userId}",
              "path": "v1/courses/{courseId}/teachers/{userId}"
            },
            "get": {
              "response": {
                "$ref": "Teacher"
              },
              "description": "Returns a teacher of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist.",
              "id": "classroom.courses.teachers.get",
              "path": "v1/courses/{courseId}/teachers/{userId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the teacher to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "location": "path"
                },
                "courseId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "flatPath": "v1/courses/{courseId}/teachers/{userId}"
            }
          }
        },
        "topics": {
          "methods": {
            "delete": {
              "id": "classroom.courses.topics.delete",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "path": "v1/courses/{courseId}/topics/{id}",
              "httpMethod": "DELETE",
              "parameters": {
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path"
                },
                "id": {
                  "description": "Identifier of the topic to delete.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Deletes a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not allowed to delete the requested topic or for access errors. * `FAILED_PRECONDITION` if the requested topic has already been deleted. * `NOT_FOUND` if no course or topic exists with the requested ID.",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "flatPath": "v1/courses/{courseId}/topics/{id}"
            },
            "patch": {
              "description": "Updates one or more fields of a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding topic or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if there exists a topic in the course with the same name. * `NOT_FOUND` if the requested course or topic does not exist",
              "id": "classroom.courses.topics.patch",
              "parameters": {
                "id": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the topic."
                },
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Mask that identifies which fields on the topic to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the Topic object. If a field that does not support empty values is included in the update mask and not set in the Topic object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified: * `name`"
                }
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "path": "v1/courses/{courseId}/topics/{id}",
              "request": {
                "$ref": "Topic"
              },
              "response": {
                "$ref": "Topic"
              }
            },
            "create": {
              "path": "v1/courses/{courseId}/topics",
              "parameters": {
                "courseId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                }
              },
              "httpMethod": "POST",
              "description": "Creates a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create a topic in the requested course, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `ALREADY_EXISTS` if there exists a topic in the course with the same name. * `FAILED_PRECONDITION` for the following request error: * CourseTopicLimitReached * `NOT_FOUND` if the requested course does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "flatPath": "v1/courses/{courseId}/topics",
              "id": "classroom.courses.topics.create",
              "parameterOrder": [
                "courseId"
              ],
              "request": {
                "$ref": "Topic"
              },
              "response": {
                "$ref": "Topic"
              }
            },
            "list": {
              "httpMethod": "GET",
              "id": "classroom.courses.topics.list",
              "parameters": {
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                }
              },
              "path": "v1/courses/{courseId}/topics",
              "parameterOrder": [
                "courseId"
              ],
              "response": {
                "$ref": "ListTopicResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics",
                "https://www.googleapis.com/auth/classroom.topics.readonly"
              ],
              "flatPath": "v1/courses/{courseId}/topics",
              "description": "Returns the list of topics that the requester is permitted to view. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist."
            },
            "get": {
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "path": "v1/courses/{courseId}/topics/{id}",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "response": {
                "$ref": "Topic"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics",
                "https://www.googleapis.com/auth/classroom.topics.readonly"
              ],
              "id": "classroom.courses.topics.get",
              "httpMethod": "GET",
              "description": "Returns a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or topic, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or topic does not exist.",
              "parameters": {
                "id": {
                  "required": true,
                  "description": "Identifier of the topic.",
                  "location": "path",
                  "type": "string"
                },
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course.",
                  "type": "string",
                  "location": "path"
                }
              }
            }
          }
        },
        "announcements": {
          "methods": {
            "modifyAssignees": {
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "flatPath": "v1/courses/{courseId}/announcements/{id}:modifyAssignees",
              "path": "v1/courses/{courseId}/announcements/{id}:modifyAssignees",
              "description": "Modifies assignee mode and options of an announcement. Only a teacher of the course that contains the announcement may call this method. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work does not exist. * `FAILED_PRECONDITION` for the following request error: * EmptyAssignees",
              "parameters": {
                "courseId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                },
                "id": {
                  "required": true,
                  "description": "Identifier of the announcement.",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "ModifyAnnouncementAssigneesRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "response": {
                "$ref": "Announcement"
              },
              "id": "classroom.courses.announcements.modifyAssignees"
            },
            "get": {
              "response": {
                "$ref": "Announcement"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements",
                "https://www.googleapis.com/auth/classroom.announcements.readonly"
              ],
              "description": "Returns an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or announcement, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or announcement does not exist.",
              "path": "v1/courses/{courseId}/announcements/{id}",
              "httpMethod": "GET",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true
                },
                "id": {
                  "description": "Identifier of the announcement.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/courses/{courseId}/announcements/{id}",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "id": "classroom.courses.announcements.get"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "id": "classroom.courses.announcements.delete",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "courseId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                },
                "id": {
                  "description": "Identifier of the announcement to delete. This identifier is a Classroom-assigned identifier.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Deletes an announcement. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding announcement item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding announcement, if the requesting user is not permitted to delete the requested course or for access errors. * `FAILED_PRECONDITION` if the requested announcement has already been deleted. * `NOT_FOUND` if no course exists with the requested ID.",
              "path": "v1/courses/{courseId}/announcements/{id}",
              "flatPath": "v1/courses/{courseId}/announcements/{id}"
            },
            "create": {
              "flatPath": "v1/courses/{courseId}/announcements",
              "id": "classroom.courses.announcements.create",
              "description": "Creates an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create announcements in the requested course, share a Drive attachment, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist. * `FAILED_PRECONDITION` for the following request error: * AttachmentNotVisible",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Announcement"
              },
              "response": {
                "$ref": "Announcement"
              },
              "httpMethod": "POST",
              "path": "v1/courses/{courseId}/announcements",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "parameterOrder": [
                "courseId"
              ]
            },
            "getAddOnContext": {
              "parameterOrder": [
                "courseId",
                "itemId"
              ],
              "path": "v1/courses/{courseId}/announcements/{itemId}/addOnContext",
              "response": {
                "$ref": "AddOnContext"
              },
              "description": "Gets metadata for Classroom add-ons in the context of a specific post. To maintain the integrity of its own data and permissions model, an add-on should call this to validate query parameters and the requesting user's role whenever the add-on is opened in an [iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/iframes-overview). This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.addons.student",
                "https://www.googleapis.com/auth/classroom.addons.teacher"
              ],
              "httpMethod": "GET",
              "parameters": {
                "itemId": {
                  "required": true,
                  "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                  "location": "path",
                  "type": "string"
                },
                "postId": {
                  "deprecated": true,
                  "location": "query",
                  "description": "Optional. Deprecated, use `item_id` instead.",
                  "type": "string"
                },
                "addOnToken": {
                  "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. The authorization token is required when neither of the following is true: * The add-on has attachments on the post. * The developer project issuing the request is the same project that created the post.",
                  "type": "string",
                  "location": "query"
                },
                "courseId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Identifier of the course."
                },
                "attachmentId": {
                  "location": "query",
                  "description": "Optional. The identifier of the attachment. This field is required for all requests except when the user is in the [Attachment Discovery iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/attachment-discovery-iframe).",
                  "type": "string"
                }
              },
              "id": "classroom.courses.announcements.getAddOnContext",
              "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnContext"
            },
            "patch": {
              "flatPath": "v1/courses/{courseId}/announcements/{id}",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "request": {
                "$ref": "Announcement"
              },
              "parameters": {
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the announcement.",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Mask that identifies which fields on the announcement to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the Announcement object. If a field that does not support empty values is included in the update mask and not set in the Announcement object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `text` * `state` * `scheduled_time`",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "path": "v1/courses/{courseId}/announcements/{id}",
              "id": "classroom.courses.announcements.patch",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "response": {
                "$ref": "Announcement"
              },
              "description": "Updates one or more fields of an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding announcement or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if the requested announcement has already been deleted. * `NOT_FOUND` if the requested course or announcement does not exist"
            },
            "list": {
              "id": "classroom.courses.announcements.list",
              "response": {
                "$ref": "ListAnnouncementsResponse"
              },
              "description": "Returns a list of announcements that the requester is permitted to view. Course students may only view `PUBLISHED` announcements. Course teachers and domain administrators may view all announcements. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "parameterOrder": [
                "courseId"
              ],
              "flatPath": "v1/courses/{courseId}/announcements",
              "path": "v1/courses/{courseId}/announcements",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements",
                "https://www.googleapis.com/auth/classroom.announcements.readonly"
              ],
              "parameters": {
                "announcementStates": {
                  "description": "Restriction on the `state` of announcements returned. If this argument is left unspecified, the default value is `PUBLISHED`.",
                  "location": "query",
                  "type": "string",
                  "repeated": true,
                  "enum": [
                    "ANNOUNCEMENT_STATE_UNSPECIFIED",
                    "PUBLISHED",
                    "DRAFT",
                    "DELETED"
                  ],
                  "enumDescriptions": [
                    "No state specified. This is never returned.",
                    "Status for announcement that has been published. This is the default state.",
                    "Status for an announcement that is not yet published. Announcement in this state is visible only to course teachers and domain administrators.",
                    "Status for announcement that was published but is now deleted. Announcement in this state is visible only to course teachers and domain administrators. Announcement in this state is deleted after some time."
                  ]
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported field is `updateTime`. Supported direction keywords are `asc` and `desc`. If not specified, `updateTime desc` is the default behavior. Examples: `updateTime asc`, `updateTime`"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "location": "query"
                },
                "courseId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                }
              },
              "httpMethod": "GET"
            }
          },
          "resources": {
            "addOnAttachments": {
              "methods": {
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. Mask that identifies which fields on the attachment to update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the `AddOnAttachment` object. If a field that does not support empty values is included in the update mask and not set in the `AddOnAttachment` object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `teacher_view_uri` * `student_view_uri` * `student_work_review_uri` * `due_date` * `due_time` * `max_points`",
                      "location": "query",
                      "type": "string"
                    },
                    "itemId": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier of the post under which the attachment is attached.",
                      "location": "path"
                    },
                    "postId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Identifier of the post under which the attachment is attached."
                    },
                    "courseId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifier of the course.",
                      "required": true
                    },
                    "attachmentId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifier of the attachment.",
                      "required": true
                    }
                  },
                  "id": "classroom.courses.announcements.addOnAttachments.patch",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "description": "Updates an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}"
                },
                "get": {
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "id": "classroom.courses.announcements.addOnAttachments.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "description": "Returns an add-on attachment. Requires the add-on requesting the attachment to be the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "parameters": {
                    "courseId": {
                      "required": true,
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "type": "string"
                    },
                    "itemId": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                      "location": "path"
                    },
                    "postId": {
                      "type": "string",
                      "deprecated": true,
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "location": "query"
                    },
                    "attachmentId": {
                      "required": true,
                      "description": "Required. Identifier of the attachment.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "id": "classroom.courses.announcements.addOnAttachments.delete",
                  "httpMethod": "DELETE",
                  "description": "Deletes an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "parameters": {
                    "courseId": {
                      "location": "path",
                      "description": "Required. Identifier of the course.",
                      "type": "string",
                      "required": true
                    },
                    "attachmentId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Identifier of the attachment.",
                      "type": "string"
                    },
                    "itemId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id."
                    },
                    "postId": {
                      "deprecated": true,
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Deprecated, use `item_id` instead."
                    }
                  },
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}"
                },
                "list": {
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "parameterOrder": [
                    "courseId",
                    "itemId"
                  ],
                  "response": {
                    "$ref": "ListAddOnAttachmentsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of attachments to return. The service may return fewer than this value. If unspecified, at most 20 attachments will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListAddOnAttachments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAddOnAttachments` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "courseId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Identifier of the course."
                    },
                    "itemId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` whose attachments should be enumerated. This field is required, but is not marked as such while we are migrating from post_id."
                    },
                    "postId": {
                      "description": "Optional. Identifier of the post under the course whose attachments to enumerate. Deprecated, use `item_id` instead.",
                      "location": "query",
                      "deprecated": true,
                      "type": "string"
                    }
                  },
                  "description": "Returns all attachments created by an add-on under the post. Requires the add-on to have active attachments on the post or have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "id": "classroom.courses.announcements.addOnAttachments.list",
                  "httpMethod": "GET"
                },
                "create": {
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "description": "Creates an add-on attachment under a post. Requires the add-on to have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "id": "classroom.courses.announcements.addOnAttachments.create",
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "parameters": {
                    "itemId": {
                      "required": true,
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which to create the attachment. This field is required, but is not marked as such while we are migrating from post_id.",
                      "location": "path",
                      "type": "string"
                    },
                    "postId": {
                      "deprecated": true,
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "location": "query",
                      "type": "string"
                    },
                    "addOnToken": {
                      "type": "string",
                      "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. This authorization token is required for in-Classroom attachment creation but optional for partner-first attachment creation. Returns an error if not provided for partner-first attachment creation and the developer projects that created the attachment and its parent stream item do not match.",
                      "location": "query"
                    },
                    "courseId": {
                      "required": true,
                      "description": "Required. Identifier of the course.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "courseId",
                    "itemId"
                  ]
                }
              }
            }
          }
        },
        "courseWork": {
          "resources": {
            "studentSubmissions": {
              "methods": {
                "modifyAttachments": {
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId",
                    "id"
                  ],
                  "response": {
                    "$ref": "StudentSubmission"
                  },
                  "description": "Modifies attachments of student submission. Attachments may only be added to student submissions belonging to course work objects with a `workType` of `ASSIGNMENT`. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item or an add-on attachment on the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, if the user is not permitted to modify attachments on the requested student submission, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:modifyAttachments",
                  "request": {
                    "$ref": "ModifyAttachmentsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.me",
                    "https://www.googleapis.com/auth/classroom.coursework.students"
                  ],
                  "httpMethod": "POST",
                  "id": "classroom.courses.courseWork.studentSubmissions.modifyAttachments",
                  "parameters": {
                    "courseId": {
                      "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "courseWorkId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Identifier of the course work."
                    },
                    "id": {
                      "required": true,
                      "description": "Identifier of the student submission.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:modifyAttachments"
                },
                "get": {
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}",
                  "parameters": {
                    "courseId": {
                      "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "id": {
                      "description": "Identifier of the student submission.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "courseWorkId": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier of the course work.",
                      "location": "path"
                    }
                  },
                  "description": "Returns a student submission. * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, course work, or student submission or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                  "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId",
                    "id"
                  ],
                  "response": {
                    "$ref": "StudentSubmission"
                  },
                  "id": "classroom.courses.courseWork.studentSubmissions.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.me",
                    "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                    "https://www.googleapis.com/auth/classroom.coursework.students",
                    "https://www.googleapis.com/auth/classroom.coursework.students.readonly",
                    "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly",
                    "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly"
                  ]
                },
                "return": {
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId",
                    "id"
                  ],
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:return",
                  "httpMethod": "POST",
                  "id": "classroom.courses.courseWork.studentSubmissions.return",
                  "parameters": {
                    "id": {
                      "location": "path",
                      "description": "Identifier of the student submission.",
                      "type": "string",
                      "required": true
                    },
                    "courseId": {
                      "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "courseWorkId": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier of the course work.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Returns a student submission. Returning a student submission transfers ownership of attached Drive files to the student and may also update the submission state. Unlike the Classroom application, returning a student submission does not set assignedGrade to the draftGrade value. Only a teacher of the course that contains the requested student submission may call this method. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item or an add-on attachment on the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, return the requested student submission, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                  "request": {
                    "$ref": "ReturnStudentSubmissionRequest"
                  },
                  "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:return",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.students"
                  ]
                },
                "reclaim": {
                  "description": "Reclaims a student submission on behalf of the student that owns it. Reclaiming a student submission transfers ownership of attached Drive files to the student and updates the submission state. Only the student that owns the requested student submission may call this method, and only for a student submission that has been turned in. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item or an add-on attachment on the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, unsubmit the requested student submission, or for access errors. * `FAILED_PRECONDITION` if the student submission has not been turned in. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                  "request": {
                    "$ref": "ReclaimStudentSubmissionRequest"
                  },
                  "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:reclaim",
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:reclaim",
                  "id": "classroom.courses.courseWork.studentSubmissions.reclaim",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.me"
                  ],
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId",
                    "id"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "courseId": {
                      "location": "path",
                      "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                      "type": "string",
                      "required": true
                    },
                    "id": {
                      "description": "Identifier of the student submission.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "courseWorkId": {
                      "type": "string",
                      "description": "Identifier of the course work.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
[...]
