{
  "rootUrl": "https://classroom.googleapis.com/",
  "description": "Manages classes, rosters, and invitations in Google Classroom.",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/classroom.push-notifications": {
          "description": "Receive notifications about your Google Classroom data"
        },
        "https://www.googleapis.com/auth/classroom.topics.readonly": {
          "description": "View topics in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.coursework.me.readonly": {
          "description": "View your course work and grades in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.rosters": {
          "description": "Manage your Google Classroom class rosters"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly": {
          "description": "View guardians for students in your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.courseworkmaterials": {
          "description": "See, edit, and create classwork materials in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.courses": {
          "description": "See, edit, create, and permanently delete your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly": {
          "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
        },
        "https://www.googleapis.com/auth/classroom.profile.emails": {
          "description": "View the email addresses of people in your classes"
        },
        "https://www.googleapis.com/auth/classroom.coursework.students": {
          "description": "Manage course work and grades for students in the Google Classroom classes you teach and view the course work and grades for classes you administer"
        },
        "https://www.googleapis.com/auth/classroom.addons.student": {
          "description": "See and update its own attachments to posts in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.announcements.readonly": {
          "description": "View announcements in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly": {
          "description": "View your course work and grades in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.topics": {
          "description": "See, create, and edit topics in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.announcements": {
          "description": "View and manage announcements in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.coursework.students.readonly": {
          "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.students": {
          "description": "View and manage guardians for students in your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.addons.teacher": {
          "description": "See, create, and update its own attachments to posts in classes you teach in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly": {
          "description": "View your Google Classroom guardians"
        },
        "https://www.googleapis.com/auth/classroom.coursework.me": {
          "description": "See, create and edit coursework items including assignments, questions, and grades"
        },
        "https://www.googleapis.com/auth/classroom.rosters.readonly": {
          "description": "View your Google Classroom class rosters"
        },
        "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly": {
          "description": "See all classwork materials for your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.profile.photos": {
          "description": "View the profile photos of people in your classes"
        },
        "https://www.googleapis.com/auth/classroom.courses.readonly": {
          "description": "View your Google Classroom classes"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "title": "Google Classroom API",
  "schemas": {
    "StudentContext": {
      "id": "StudentContext",
      "description": "Role-specific context if the requesting user is a student.",
      "type": "object",
      "properties": {
        "submissionId": {
          "type": "string",
          "description": "Requesting user's submission id to be used for grade passback and to identify the student when showing student work to the teacher. This is set exactly when `supportsStudentWork` is `true`."
        }
      }
    },
    "DriveFile": {
      "id": "DriveFile",
      "properties": {
        "id": {
          "description": "Drive API resource ID.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the Drive item. Read-only."
        },
        "thumbnailUrl": {
          "description": "URL of a thumbnail image of the Drive item. Read-only.",
          "type": "string"
        },
        "alternateLink": {
          "type": "string",
          "description": "URL that can be used to access the Drive item. Read-only."
        }
      },
      "type": "object",
      "description": "Representation of a Google Drive file."
    },
    "Link": {
      "description": "URL item.",
      "id": "Link",
      "properties": {
        "url": {
          "type": "string",
          "description": "URL to link to. This must be a valid UTF-8 string containing between 1 and 2024 characters."
        },
        "thumbnailUrl": {
          "description": "URL of a thumbnail image of the target URL. Read-only.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the target of the URL. Read-only."
        }
      },
      "type": "object"
    },
    "GradeCategory": {
      "id": "GradeCategory",
      "properties": {
        "id": {
          "description": "ID of the grade category.",
          "type": "string"
        },
        "defaultGradeDenominator": {
          "description": "Default value of denominator. Only applicable when grade calculation type is TOTAL_POINTS.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Name of the grade category.",
          "type": "string"
        },
        "weight": {
          "format": "int32",
          "type": "integer",
          "description": "The weight of the category average as part of overall average. A weight of 12.34% is represented as 123400 (100% is 1,000,000). The last two digits should always be zero since we use two decimal precision. Only applicable when grade calculation type is WEIGHTED_CATEGORIES."
        }
      },
      "type": "object",
      "description": "Details for a grade category in a course. Coursework may have zero or one grade category, and the category may be used in computing the overall grade. See the [help center article](https://support.google.com/edu/classroom/answer/9184995) for details."
    },
    "ListCourseAliasesResponse": {
      "id": "ListCourseAliasesResponse",
      "description": "Response when listing course aliases.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "aliases": {
          "type": "array",
          "items": {
            "$ref": "CourseAlias"
          },
          "description": "The course aliases."
        }
      }
    },
    "ModifyIndividualStudentsOptions": {
      "id": "ModifyIndividualStudentsOptions",
      "type": "object",
      "properties": {
        "addStudentIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs of students to be added as having access to this coursework/announcement."
        },
        "removeStudentIds": {
          "description": "IDs of students to be removed from having access to this coursework/announcement.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Contains fields to add or remove students from a course work or announcement where the `assigneeMode` is set to `INDIVIDUAL_STUDENTS`."
    },
    "GradingPeriodSettings": {
      "type": "object",
      "description": "Grading period settings that include all the individual grading periods in a course.",
      "properties": {
        "applyToExistingCoursework": {
          "description": "Supports toggling the application of grading periods on existing stream items. Once set, this value is persisted meaning that it does not need to be set in every request to update `GradingPeriodSettings`. If not previously set, the default is False.",
          "type": "boolean"
        },
        "gradingPeriods": {
          "type": "array",
          "items": {
            "$ref": "GradingPeriod"
          },
          "description": "The list of grading periods in a specific course. Grading periods must not have overlapping date ranges and must be listed in chronological order. Each grading period must have a unique title within a course."
        }
      },
      "id": "GradingPeriodSettings"
    },
    "TurnInStudentSubmissionRequest": {
      "properties": {},
      "id": "TurnInStudentSubmissionRequest",
      "description": "Request to turn in a student submission.",
      "type": "object"
    },
    "ListGuardianInvitationsResponse": {
      "description": "Response when listing guardian invitations.",
      "id": "ListGuardianInvitationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "guardianInvitations": {
          "items": {
            "$ref": "GuardianInvitation"
          },
          "description": "Guardian invitations that matched the list request.",
          "type": "array"
        }
      }
    },
    "GradingPeriod": {
      "description": "An individual grading period. Grading periods must not have overlapping date ranges and must be listed in chronological order. For example, if the end_date of a grading period is 2024-01-25, then the start_date of the next grading period must be 2024-01-26 or later. Each grading period must have a unique title within a course.",
      "type": "object",
      "id": "GradingPeriod",
      "properties": {
        "title": {
          "description": "Required. Title of the grading period. For example, “Semester 1”.",
          "type": "string"
        },
        "startDate": {
          "$ref": "Date",
          "description": "Required. Start date, in UTC, of the grading period. Inclusive."
        },
        "endDate": {
          "description": "Required. End date, in UTC, of the grading period. Inclusive.",
          "$ref": "Date"
        },
        "id": {
          "readOnly": true,
          "description": "Output only. System generated grading period ID. Read-only.",
          "type": "string"
        }
      }
    },
    "ListStudentSubmissionsResponse": {
      "type": "object",
      "description": "Response when listing student submissions.",
      "properties": {
        "studentSubmissions": {
          "type": "array",
          "description": "Student work that matches the request.",
          "items": {
            "$ref": "StudentSubmission"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      },
      "id": "ListStudentSubmissionsResponse"
    },
    "Date": {
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object"
    },
    "Name": {
      "type": "object",
      "id": "Name",
      "description": "Details of the user's name.",
      "properties": {
        "familyName": {
          "description": "The user's last name. Read-only.",
          "type": "string"
        },
        "fullName": {
          "description": "The user's full name formed by concatenating the first and last name values. Read-only.",
          "type": "string"
        },
        "givenName": {
          "type": "string",
          "description": "The user's first name. Read-only."
        }
      }
    },
    "StateHistory": {
      "id": "StateHistory",
      "properties": {
        "stateTimestamp": {
          "type": "string",
          "description": "When the submission entered this state.",
          "format": "google-datetime"
        },
        "actorUserId": {
          "description": "The teacher or student who made the change.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "TURNED_IN",
            "RETURNED",
            "RECLAIMED_BY_STUDENT",
            "STUDENT_EDITED_AFTER_TURN_IN"
          ],
          "description": "The workflow pipeline stage.",
          "enumDescriptions": [
            "No state specified. This should never be returned.",
            "The Submission has been created.",
            "The student has turned in an assigned document, which may or may not be a template.",
            "The teacher has returned the assigned document to the student.",
            "The student turned in the assigned document, and then chose to \"unsubmit\" the assignment, giving the student control again as the owner.",
            "The student edited their submission after turning it in. Currently, only used by Questions, when the student edits their answer."
          ]
        }
      },
      "type": "object",
      "description": "The history of each state this submission has been in."
    },
    "UserProfile": {
      "id": "UserProfile",
      "properties": {
        "id": {
          "type": "string",
          "description": "Identifier of the user. Read-only."
        },
        "name": {
          "description": "Name of the user. Read-only.",
          "$ref": "Name"
        },
        "verifiedTeacher": {
          "description": "Represents whether a Google Workspace for Education user's domain administrator has explicitly verified them as being a teacher. This field is always false if the user is not a member of a Google Workspace for Education domain. Read-only",
          "type": "boolean"
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address of the user. Must request `https://www.googleapis.com/auth/classroom.profile.emails` scope for this field to be populated in a response body. Read-only."
        },
        "permissions": {
          "type": "array",
          "description": "Global permissions of the user. Read-only.",
          "items": {
            "$ref": "GlobalPermission"
          }
        },
        "photoUrl": {
          "description": "URL of user's profile photo. Must request `https://www.googleapis.com/auth/classroom.profile.photos` scope for this field to be populated in a response body. Read-only.",
          "type": "string"
        }
      },
      "description": "Global information for a user.",
      "type": "object"
    },
    "Announcement": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Classroom-assigned identifier of this announcement, unique per course. Read-only.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Description of this announcement. The text must be a valid UTF-8 string containing no more than 30,000 characters."
        },
        "creationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp when this announcement was created. Read-only."
        },
        "individualStudentsOptions": {
          "$ref": "IndividualStudentsOptions",
          "description": "Identifiers of students with access to the announcement. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field can see the announcement."
        },
        "materials": {
          "type": "array",
          "items": {
            "$ref": "Material"
          },
          "description": "Additional materials. Announcements must have no more than 20 material items."
        },
        "state": {
          "description": "Status of this announcement. If unspecified, the default state is `DRAFT`.",
          "enumDescriptions": [
            "No state specified. This is never returned.",
            "Status for announcement that has been published. This is the default state.",
            "Status for an announcement that is not yet published. Announcement in this state is visible only to course teachers and domain administrators.",
            "Status for announcement that was published but is now deleted. Announcement in this state is visible only to course teachers and domain administrators. Announcement in this state is deleted after some time."
          ],
          "type": "string",
          "enum": [
            "ANNOUNCEMENT_STATE_UNSPECIFIED",
            "PUBLISHED",
            "DRAFT",
            "DELETED"
          ]
        },
        "scheduledTime": {
          "format": "google-datetime",
          "description": "Optional timestamp when this announcement is scheduled to be published.",
          "type": "string"
        },
        "creatorUserId": {
          "type": "string",
          "description": "Identifier for the user that created the announcement. Read-only."
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "alternateLink": {
          "description": "Absolute link to this announcement in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only.",
          "type": "string"
        },
        "updateTime": {
          "description": "Timestamp of the most recent change to this announcement. Read-only.",
          "format": "google-datetime",
          "type": "string"
        },
        "assigneeMode": {
          "description": "Assignee mode of the announcement. If unspecified, the default value is `ALL_STUDENTS`.",
          "type": "string",
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ],
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ]
        }
      },
      "id": "Announcement",
      "description": "Announcement created by a teacher for students of the course"
    },
    "ListCourseWorkMaterialResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        },
        "courseWorkMaterial": {
          "items": {
            "$ref": "CourseWorkMaterial"
          },
          "type": "array",
          "description": "Course work material items that match the request."
        }
      },
      "id": "ListCourseWorkMaterialResponse",
      "description": "Response when listing course work material."
    },
    "ListTopicResponse": {
      "properties": {
        "topic": {
          "items": {
            "$ref": "Topic"
          },
          "description": "Topic items that match the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      },
      "description": "Response when listing topics.",
      "id": "ListTopicResponse",
      "type": "object"
    },
    "ListTeachersResponse": {
      "type": "object",
      "properties": {
        "teachers": {
          "type": "array",
          "items": {
            "$ref": "Teacher"
          },
          "description": "Teachers who match the list request."
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "description": "Response when listing teachers.",
      "id": "ListTeachersResponse"
    },
    "NotebookLmNotebook": {
      "id": "NotebookLmNotebook",
      "properties": {
        "url": {
          "type": "string",
          "description": "URL that can be used to access the Notebook."
        },
        "id": {
          "description": "Notebook resource id.",
          "type": "string"
        },
        "title": {
          "description": "Title of the Notebook.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "NotebookLM Notebook link."
    },
    "IndividualStudentsOptions": {
      "id": "IndividualStudentsOptions",
      "type": "object",
      "description": "Assignee details about a coursework/announcement. This field is set if and only if `assigneeMode` is `INDIVIDUAL_STUDENTS`.",
      "properties": {
        "studentIds": {
          "description": "Identifiers for the students that have access to the coursework/announcement.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MultipleChoiceQuestion": {
      "type": "object",
      "description": "Additional details for multiple-choice questions.",
      "properties": {
        "choices": {
          "description": "Possible choices.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "MultipleChoiceQuestion"
    },
    "RubricGrade": {
      "type": "object",
      "properties": {
        "levelId": {
          "type": "string",
          "description": "Optional. Optional level ID of the selected level. If empty, no level was selected."
        },
        "points": {
          "type": "number",
          "description": "Optional. Optional points assigned for this criterion, typically based on the level. Levels might or might not have points. If unset, no points were set for this criterion.",
          "format": "double"
        },
        "criterionId": {
          "description": "Optional. Criterion ID.",
          "type": "string"
        }
      },
      "id": "RubricGrade",
      "description": "A rubric grade set for the student submission. There is at most one entry per rubric criterion."
    },
    "StudentSubmission": {
      "type": "object",
      "id": "StudentSubmission",
      "properties": {
        "courseWorkId": {
          "description": "Identifier for the course work this corresponds to. Read-only.",
          "type": "string"
        },
        "submissionHistory": {
          "items": {
            "$ref": "SubmissionHistory"
          },
          "type": "array",
          "description": "The history of the submission (includes state and grade histories). Read-only."
        },
        "associatedWithDeveloper": {
          "description": "Whether this student submission is associated with the Developer Console project making the request. See CreateCourseWork for more details. Read-only.",
          "type": "boolean"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last update time of this submission. This may be unset if the student has not accessed this item. Read-only."
        },
        "courseWorkType": {
          "type": "string",
          "enum": [
            "COURSE_WORK_TYPE_UNSPECIFIED",
            "ASSIGNMENT",
            "SHORT_ANSWER_QUESTION",
            "MULTIPLE_CHOICE_QUESTION"
          ],
          "description": "Type of course work this submission is for. Read-only.",
          "enumDescriptions": [
            "No work type specified. This is never returned.",
            "An assignment.",
            "A short answer question.",
            "A multiple-choice question."
          ]
        },
        "state": {
          "enumDescriptions": [
            "No state specified. This should never be returned.",
            "The student has never accessed this submission. Attachments are not returned and timestamps is not set.",
            "Has been created.",
            "Has been turned in to the teacher.",
            "Has been returned to the student.",
            "Student chose to \"unsubmit\" the assignment."
          ],
          "description": "State of this submission. Read-only.",
          "type": "string",
          "enum": [
            "SUBMISSION_STATE_UNSPECIFIED",
            "NEW",
            "CREATED",
            "TURNED_IN",
            "RETURNED",
            "RECLAIMED_BY_STUDENT"
          ]
        },
        "courseId": {
          "type": "string",
          "description": "Identifier of the course. Read-only."
        },
        "userId": {
          "type": "string",
          "description": "Identifier for the student that owns this submission. Read-only."
        },
        "shortAnswerSubmission": {
          "description": "Submission content when course_work_type is SHORT_ANSWER_QUESTION.",
          "$ref": "ShortAnswerSubmission"
        },
        "assignedGrade": {
          "format": "double",
          "type": "number",
          "description": "Optional grade. If unset, no grade was set. This value must be non-negative. Decimal (that is, non-integer) values are allowed, but are rounded to two decimal places. This may be modified only by course teachers."
        },
        "late": {
          "type": "boolean",
          "description": "Whether this submission is late. Read-only."
        },
        "id": {
          "description": "Classroom-assigned Identifier for the student submission. This is unique among submissions for the relevant course work. Read-only.",
          "type": "string"
        },
        "assignedRubricGrades": {
          "additionalProperties": {
            "$ref": "RubricGrade"
          },
          "description": "Assigned rubric grades based on the rubric's Criteria. This map is empty if there is no rubric attached to this course work or if a rubric is attached, but no grades have been set on any Criteria. Entries are only populated for grades that have been set. Key: The rubric's criterion ID. Read-only.",
          "type": "object"
        },
        "alternateLink": {
          "description": "Absolute link to the submission in the Classroom web UI. Read-only.",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Creation time of this submission. This may be unset if the student has not accessed this item. Read-only."
        },
        "draftGrade": {
          "description": "Optional pending grade. If unset, no grade was set. This value must be non-negative. Decimal (that is, non-integer) values are allowed, but are rounded to two decimal places. This is only visible to and modifiable by course teachers.",
          "format": "double",
          "type": "number"
        },
        "assignmentSubmission": {
          "$ref": "AssignmentSubmission",
          "description": "Submission content when course_work_type is ASSIGNMENT. Students can modify this content using ModifyAttachments."
        },
        "multipleChoiceSubmission": {
          "$ref": "MultipleChoiceSubmission",
          "description": "Submission content when course_work_type is MULTIPLE_CHOICE_QUESTION."
        },
        "draftRubricGrades": {
          "additionalProperties": {
            "$ref": "RubricGrade"
          },
          "type": "object",
          "description": "Pending rubric grades based on the rubric's criteria. This map is empty if there is no rubric attached to this course work or if a rubric is attached, but no grades have been set on any criteria. Entries are only populated for grades that have been set. Key: The rubric's criterion ID. Read-only."
        }
      },
      "description": "Student submission for course work. `StudentSubmission` items are generated when a `CourseWork` item is created. Student submissions that have never been accessed (i.e. with `state` = NEW) may not have a creation time or update time."
    },
    "CourseWorkMaterial": {
      "properties": {
        "individualStudentsOptions": {
          "description": "Identifiers of students with access to the course work material. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field can see the course work material.",
          "$ref": "IndividualStudentsOptions"
        },
        "alternateLink": {
          "description": "Absolute link to this course work material in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Classroom-assigned identifier of this course work material, unique per course. Read-only."
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when this course work material was created. Read-only."
        },
        "updateTime": {
          "description": "Timestamp of the most recent change to this course work material. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional description of this course work material. The text must be a valid UTF-8 string containing no more than 30,000 characters.",
          "type": "string"
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "topicId": {
          "description": "Identifier for the topic that this course work material is associated with. Must match an existing topic in the course.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "No state specified. This is never returned.",
            "Status for course work material that has been published. This is the default state.",
            "Status for a course work material that is not yet published. Course work material in this state is visible only to course teachers and domain administrators.",
            "Status for course work material that was published but is now deleted. Course work material in this state is visible only to course teachers and domain administrators. Course work material in this state is deleted after some time."
          ],
          "type": "string",
          "enum": [
            "COURSEWORK_MATERIAL_STATE_UNSPECIFIED",
            "PUBLISHED",
            "DRAFT",
            "DELETED"
          ],
          "description": "Status of this course work material. If unspecified, the default state is `DRAFT`."
        },
        "assigneeMode": {
          "description": "Assignee mode of the course work material. If unspecified, the default value is `ALL_STUDENTS`.",
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "type": "string",
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ]
        },
        "scheduledTime": {
          "description": "Optional timestamp when this course work material is scheduled to be published.",
          "type": "string",
          "format": "google-datetime"
        },
        "creatorUserId": {
          "type": "string",
          "description": "Identifier for the user that created the course work material. Read-only."
        },
        "materials": {
          "type": "array",
          "description": "Additional materials. A course work material must have no more than 20 material items.",
          "items": {
            "$ref": "Material"
          }
        },
        "title": {
          "description": "Title of this course work material. The title must be a valid UTF-8 string containing between 1 and 3000 characters.",
          "type": "string"
        }
      },
      "id": "CourseWorkMaterial",
      "description": "Course work material created by a teacher for students of the course",
      "type": "object"
    },
    "ListInvitationsResponse": {
      "id": "ListInvitationsResponse",
      "type": "object",
      "description": "Response when listing invitations.",
      "properties": {
        "invitations": {
          "type": "array",
          "description": "Invitations that match the list request.",
          "items": {
            "$ref": "Invitation"
          }
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      }
    },
    "AddOnAttachment": {
      "id": "AddOnAttachment",
      "description": "An add-on attachment on a post.",
      "properties": {
        "studentViewUri": {
          "$ref": "EmbedUri",
          "description": "Required. URI to show the student view of the attachment. The URI will be opened in an iframe with the `courseId`, `itemId`, `itemType`, and `attachmentId` query parameters set."
        },
        "title": {
          "description": "Required. Title of this attachment. The title must be between 1 and 1000 characters.",
          "type": "string"
        },
        "postId": {
          "deprecated": true,
          "type": "string",
          "description": "Immutable. Deprecated, use `item_id` instead."
        },
        "studentWorkReviewUri": {
          "$ref": "EmbedUri",
          "description": "URI for the teacher to see student work on the attachment, if applicable. The URI will be opened in an iframe with the `courseId`, `itemId`, `itemType`, `attachmentId`, and `submissionId` query parameters set. This is the same `submissionId` returned in the [`AddOnContext.studentContext`](/workspace/classroom/reference/rest/v1/AddOnContext#StudentContext) field when a student views the attachment. If the URI is omitted or removed, `max_points` will also be discarded."
        },
        "dueTime": {
          "$ref": "TimeOfDay",
          "description": "Time of day, in UTC, that work on this attachment is due. This must be specified if `due_date` is specified."
        },
        "itemId": {
          "description": "Immutable. Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. Unique per course.",
          "type": "string"
        },
        "maxPoints": {
          "type": "number",
          "format": "double",
          "description": "Maximum grade for this attachment. Can only be set if `studentWorkReviewUri` is set. Set to a non-zero value to indicate that the attachment supports grade passback. If set, this must be a non-negative integer value. When set to zero, the attachment will not support grade passback."
        },
        "copyHistory": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Identifiers of attachments that were previous copies of this attachment. If the attachment was previously copied by virtue of its parent post being copied, this enumerates the identifiers of attachments that were its previous copies in ascending chronological order of copy.",
          "items": {
            "$ref": "CopyHistory"
          }
        },
        "id": {
          "description": "Immutable. Classroom-assigned identifier for this attachment, unique per post.",
          "type": "string"
        },
        "teacherViewUri": {
          "description": "Required. URI to show the teacher view of the attachment. The URI will be opened in an iframe with the `courseId`, `itemId`, `itemType`, and `attachmentId` query parameters set.",
          "$ref": "EmbedUri"
        },
        "courseId": {
          "description": "Immutable. Identifier of the course.",
          "type": "string"
        },
        "dueDate": {
          "description": "Date, in UTC, that work on this attachment is due. This must be specified if `due_time` is specified.",
          "$ref": "Date"
        }
      },
      "type": "object"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "type": "object",
      "properties": {
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Registration": {
      "properties": {
        "expiryTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time until which the `Registration` is effective. This is a read-only field assigned by the server."
        },
        "registrationId": {
          "description": "A server-generated unique identifier for this `Registration`. Read-only.",
          "type": "string"
        },
        "cloudPubsubTopic": {
          "$ref": "CloudPubsubTopic",
          "description": "The Cloud Pub/Sub topic that notifications are to be sent to."
        },
        "feed": {
          "$ref": "Feed",
          "description": "Specification for the class of notifications that Classroom should deliver to the destination."
        }
      },
      "id": "Registration",
      "type": "object",
      "description": "An instruction to Classroom to send notifications from the `feed` to the provided destination."
    },
    "CloudPubsubTopic": {
      "description": "A reference to a Cloud Pub/Sub topic. To register for notifications, the owner of the topic must grant `classroom-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "properties": {
        "topicName": {
          "type": "string",
          "description": "The `name` field of a Cloud Pub/Sub [Topic](https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic)."
        }
      },
      "id": "CloudPubsubTopic",
      "type": "object"
    },
    "ListStudentGroupsResponse": {
      "properties": {
        "studentGroups": {
          "description": "The student groups.",
          "items": {
            "$ref": "StudentGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "id": "ListStudentGroupsResponse",
      "description": "Response when listing student groups.",
      "type": "object"
    },
    "ReturnStudentSubmissionRequest": {
      "properties": {},
      "type": "object",
      "id": "ReturnStudentSubmissionRequest",
      "description": "Request to return a student submission."
    },
    "CourseMaterial": {
      "description": "A material attached to a course as part of a material set.",
      "id": "CourseMaterial",
      "properties": {
        "form": {
          "$ref": "Form",
          "description": "Google Forms attachment."
        },
        "youTubeVideo": {
          "$ref": "YouTubeVideo",
          "description": "Youtube video attachment."
        },
        "driveFile": {
          "description": "Google Drive file attachment.",
          "$ref": "DriveFile"
        },
        "link": {
          "$ref": "Link",
          "description": "Link atatchment."
        }
      },
      "type": "object"
    },
    "Material": {
      "description": "Material attached to course work. When creating attachments, setting the `form`, `gem`, or `notebook` field is not supported.",
      "id": "Material",
      "type": "object",
      "properties": {
        "driveFile": {
          "description": "Google Drive file material.",
          "$ref": "SharedDriveFile"
        },
        "form": {
          "$ref": "Form",
          "description": "Google Forms material. Read-only."
        },
        "gem": {
          "$ref": "GeminiGem",
          "description": "Gemini Gem material. Read-only."
        },
        "link": {
          "description": "Link material. On creation, this is upgraded to a more appropriate type if possible, and this is reflected in the response.",
          "$ref": "Link"
        },
        "notebook": {
          "$ref": "NotebookLmNotebook",
          "description": "NotebookLM Notebook material. Read-only."
        },
        "youtubeVideo": {
          "$ref": "YouTubeVideo",
          "description": "YouTube video material."
        }
      }
    },
    "GuardianInvitation": {
      "type": "object",
      "id": "GuardianInvitation",
      "description": "An invitation to become the guardian of a specified user, sent to a specified email address.",
      "properties": {
        "invitationId": {
          "description": "Unique identifier for this invitation. Read-only.",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that this invitation was created. Read-only."
        },
        "invitedEmailAddress": {
          "type": "string",
          "description": "Email address that the invitation was sent to. This field is only visible to domain administrators."
        },
        "studentId": {
          "description": "ID of the student (in standard format)",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Should never be returned.",
            "The invitation is active and awaiting a response.",
            "The invitation is no longer active. It may have been accepted, declined, withdrawn or it may have expired."
          ],
          "description": "The state that this invitation is in.",
          "type": "string",
          "enum": [
            "GUARDIAN_INVITATION_STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE"
          ]
        }
      }
    },
    "AssignmentSubmission": {
      "properties": {
        "attachments": {
          "items": {
            "$ref": "Attachment"
          },
          "description": "Attachments added by the student. Drive files that correspond to materials with a share mode of STUDENT_COPY may not exist yet if the student has not accessed the assignment in Classroom. Some attachment metadata is only populated if the requesting user has permission to access it. Identifier and alternate_link fields are always available, but others (for example, title) may not be.",
          "type": "array"
        }
      },
      "description": "Student work for an assignment.",
      "type": "object",
      "id": "AssignmentSubmission"
    },
    "Topic": {
      "description": "Topic created by a teacher for the course",
      "type": "object",
      "id": "Topic",
      "properties": {
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "topicId": {
          "description": "Unique identifier for the topic. Read-only.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the topic, generated by the user. Leading and trailing whitespaces, if any, are trimmed. Also, multiple consecutive whitespaces are collapsed into one inside the name. The result must be a non-empty string. Topic names are case sensitive, and must be no longer than 100 characters."
        },
        "updateTime": {
          "description": "The time the topic was last updated by the system. Read-only.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Form": {
      "description": "Google Forms item.",
      "id": "Form",
      "properties": {
        "thumbnailUrl": {
          "type": "string",
          "description": "URL of a thumbnail image of the Form. Read-only."
        },
        "title": {
          "type": "string",
          "description": "Title of the Form. Read-only."
        },
        "formUrl": {
          "type": "string",
          "description": "URL of the form."
        },
        "responseUrl": {
          "type": "string",
          "description": "URL of the form responses document. Only set if responses have been recorded and only when the requesting user is an editor of the form. Read-only."
        }
      },
      "type": "object"
    },
    "AddOnAttachmentStudentSubmission": {
      "description": "Payload for grade update requests.",
      "id": "AddOnAttachmentStudentSubmission",
      "type": "object",
      "properties": {
        "postSubmissionState": {
          "enumDescriptions": [
            "No state specified. This should never be returned.",
            "The student has never accessed this submission. Attachments are not returned and timestamps is not set.",
            "Has been created.",
            "Has been turned in to the teacher.",
            "Has been returned to the student.",
            "Student chose to \"unsubmit\" the assignment."
          ],
          "description": "Submission state of add-on attachment's parent post (i.e. assignment).",
          "type": "string",
          "enum": [
            "SUBMISSION_STATE_UNSPECIFIED",
            "NEW",
            "CREATED",
            "TURNED_IN",
            "RETURNED",
            "RECLAIMED_BY_STUDENT"
          ]
        },
        "userId": {
          "type": "string",
          "description": "Identifier for the student that owns this submission. Requires the user to be a teacher in the course and have permission to read student submissions. See [`courseWork.studentSubmissions.get`](/workspace/classroom/reference/rest/v1/courses.courseWork.studentSubmissions/get#authorization-scopes) for the list of acceptable OAuth scopes for this field. Read-only."
        },
        "id": {
          "readOnly": true,
          "description": "Output only. Classroom-assigned identifier for this student submission. This is unique among submissions for the relevant course work and add-on attachment combination.",
          "type": "string"
        },
        "courseWorkSubmissionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier of the course work submission under which this attachment submission was made."
        },
        "pointsEarned": {
          "format": "double",
          "type": "number",
          "description": "Student grade on this attachment. If unset, no grade was set."
        }
      }
    },
    "SubmissionHistory": {
      "id": "SubmissionHistory",
      "properties": {
        "gradeHistory": {
          "description": "The grade history information of the submission, if present.",
          "$ref": "GradeHistory"
        },
        "stateHistory": {
          "description": "The state history information of the submission, if present.",
          "$ref": "StateHistory"
        }
      },
      "description": "The history of the submission. This currently includes state and grade histories.",
      "type": "object"
    },
    "CourseRosterChangesInfo": {
      "description": "Information about a `Feed` with a `feed_type` of `COURSE_ROSTER_CHANGES`.",
      "properties": {
        "courseId": {
          "description": "The `course_id` of the course to subscribe to roster changes for.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CourseRosterChangesInfo"
    },
    "Student": {
      "type": "object",
      "properties": {
        "userId": {
          "description": "Identifier of the user. When specified as a parameter of a request, this identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
          "type": "string"
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "studentWorkFolder": {
          "$ref": "DriveFolder",
          "description": "Information about a Drive Folder for this student's work in this course. Only visible to the student and domain administrators. Read-only."
        },
        "profile": {
          "$ref": "UserProfile",
          "description": "Global user information for the student. Read-only."
        }
      },
      "id": "Student",
      "description": "Student in a course."
    },
    "GlobalPermission": {
      "description": "Global user permission description.",
      "type": "object",
      "properties": {
        "permission": {
          "description": "Permission value.",
          "type": "string",
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "CREATE_COURSE"
          ],
          "enumDescriptions": [
            "No permission is specified. This is not returned and is not a valid value.",
            "User is permitted to create a course."
          ]
        }
      },
      "id": "GlobalPermission"
    },
    "CourseMaterialSet": {
      "id": "CourseMaterialSet",
      "description": "A set of materials that appears on the \"About\" page of the course. These materials might include a syllabus, schedule, or other background information relating to the course as a whole.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Title for this set."
        },
        "materials": {
          "type": "array",
          "items": {
            "$ref": "CourseMaterial"
          },
          "description": "Materials attached to this set."
        }
      },
      "type": "object"
    },
    "ListStudentGroupMembersResponse": {
      "type": "object",
      "description": "Response when listing students in a group.",
      "id": "ListStudentGroupMembersResponse",
      "properties": {
        "studentGroupMembers": {
          "description": "The student group members.",
          "items": {
            "$ref": "StudentGroupMember"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      }
    },
    "ShortAnswerSubmission": {
      "type": "object",
      "id": "ShortAnswerSubmission",
      "properties": {
        "answer": {
          "type": "string",
          "description": "Student response to a short-answer question."
        }
      },
      "description": "Student work for a short answer question."
    },
    "GradeHistory": {
      "properties": {
        "maxPoints": {
          "description": "The denominator of the grade at this time in the submission grade history.",
          "type": "number",
          "format": "double"
        },
        "pointsEarned": {
          "description": "The numerator of the grade at this time in the submission grade history.",
          "format": "double",
          "type": "number"
        },
        "actorUserId": {
          "description": "The teacher who made the grade change.",
          "type": "string"
        },
        "gradeChangeType": {
          "description": "The type of grade change at this time in the submission grade history.",
          "enumDescriptions": [
            "No grade change type specified. This should never be returned.",
            "A change in the numerator of the draft grade.",
            "A change in the numerator of the assigned grade.",
            "A change in the denominator of the grade."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_GRADE_CHANGE_TYPE",
            "DRAFT_GRADE_POINTS_EARNED_CHANGE",
            "ASSIGNED_GRADE_POINTS_EARNED_CHANGE",
            "MAX_POINTS_CHANGE"
          ]
        },
        "gradeTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the grade of the submission was changed."
        }
      },
      "id": "GradeHistory",
      "type": "object",
      "description": "The history of each grade on this submission."
    },
    "ListCourseWorkResponse": {
      "id": "ListCourseWorkResponse",
      "description": "Response when listing course work.",
      "type": "object",
      "properties": {
        "courseWork": {
          "items": {
            "$ref": "CourseWork"
          },
          "type": "array",
          "description": "Course work items that match the request."
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      }
    },
    "Guardian": {
      "id": "Guardian",
      "type": "object",
      "description": "Association between a student and a guardian of that student. The guardian may receive information about the student's course work.",
      "properties": {
        "invitedEmailAddress": {
          "description": "The email address to which the initial guardian invitation was sent. This field is only visible to domain administrators.",
          "type": "string"
        },
        "studentId": {
          "description": "Identifier for the student to whom the guardian relationship applies.",
          "type": "string"
        },
        "guardianId": {
          "type": "string",
          "description": "Identifier for the guardian."
        },
        "guardianProfile": {
          "description": "User profile for the guardian.",
          "$ref": "UserProfile"
        }
      }
    },
    "AddOnContext": {
      "type": "object",
      "description": "Attachment-relevant metadata for Classroom add-ons in the context of a specific post.",
      "id": "AddOnContext",
      "properties": {
        "teacherContext": {
          "description": "Add-on context corresponding to the requesting user's role as a teacher. Its presence implies that the requesting user is a teacher in the course.",
          "$ref": "TeacherContext"
        },
        "postId": {
          "deprecated": true,
          "description": "Immutable. Deprecated, use `item_id` instead.",
          "type": "string"
        },
        "courseId": {
          "description": "Immutable. Identifier of the course.",
          "type": "string"
        },
        "supportsStudentWork": {
          "description": "Optional. Whether the post allows the teacher to see student work and passback grades.",
          "type": "boolean"
        },
        "itemId": {
          "description": "Immutable. Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached.",
          "type": "string"
        },
        "studentContext": {
          "description": "Add-on context corresponding to the requesting user's role as a student. Its presence implies that the requesting user is a student in the course.",
          "$ref": "StudentContext"
        }
      }
    },
    "Attachment": {
      "id": "Attachment",
      "properties": {
        "link": {
          "description": "Link attachment.",
          "$ref": "Link"
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "Google Drive file attachment."
        },
        "form": {
          "description": "Google Forms attachment.",
          "$ref": "Form"
        },
        "youTubeVideo": {
          "$ref": "YouTubeVideo",
          "description": "Youtube video attachment."
        }
      },
      "type": "object",
      "description": "Attachment added to student assignment work. When creating attachments, setting the `form` field is not supported."
    },
    "ListCoursesResponse": {
      "type": "object",
      "id": "ListCoursesResponse",
      "properties": {
        "courses": {
          "type": "array",
          "items": {
            "$ref": "Course"
          },
          "description": "Courses that match the list request."
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "description": "Response when listing courses."
    },
    "SharedDriveFile": {
      "type": "object",
      "description": "Drive file that is used as material for course work.",
      "properties": {
        "driveFile": {
          "description": "Drive file details.",
          "$ref": "DriveFile"
        },
        "shareMode": {
          "enumDescriptions": [
            "No sharing mode specified. This should never be returned.",
            "Students can view the shared file.",
            "Students can edit the shared file.",
            "Students have a personal copy of the shared file."
          ],
          "description": "Mechanism by which students access the Drive item.",
          "type": "string",
          "enum": [
            "UNKNOWN_SHARE_MODE",
            "VIEW",
            "EDIT",
            "STUDENT_COPY"
          ]
        }
      },
      "id": "SharedDriveFile"
    },
    "YouTubeVideo": {
      "properties": {
        "thumbnailUrl": {
          "type": "string",
          "description": "URL of a thumbnail image of the YouTube video. Read-only."
        },
        "title": {
          "type": "string",
          "description": "Title of the YouTube video. Read-only."
        },
        "id": {
          "description": "YouTube API resource ID.",
          "type": "string"
        },
        "alternateLink": {
          "description": "URL that can be used to view the YouTube video. Read-only.",
          "type": "string"
        }
      },
      "description": "YouTube video item.",
      "type": "object",
      "id": "YouTubeVideo"
    },
    "Feed": {
      "description": "A class of notifications that an application can register to receive. For example: \"all roster changes for a domain\".",
      "type": "object",
      "id": "Feed",
      "properties": {
        "courseRosterChangesInfo": {
          "$ref": "CourseRosterChangesInfo",
          "description": "Information about a `Feed` with a `feed_type` of `COURSE_ROSTER_CHANGES`. This field must be specified if `feed_type` is `COURSE_ROSTER_CHANGES`."
        },
        "feedType": {
          "description": "The type of feed.",
          "type": "string",
          "enum": [
            "FEED_TYPE_UNSPECIFIED",
            "DOMAIN_ROSTER_CHANGES",
            "COURSE_ROSTER_CHANGES",
            "COURSE_WORK_CHANGES"
          ],
          "enumDescriptions": [
            "Should never be returned or provided.",
            "All roster changes for a particular domain. Notifications will be generated whenever a user joins or leaves a course. No notifications will be generated when an invitation is created or deleted, but notifications will be generated when a user joins a course by accepting an invitation.",
            "All roster changes for a particular course. Notifications will be generated whenever a user joins or leaves a course. No notifications will be generated when an invitation is created or deleted, but notifications will be generated when a user joins a course by accepting an invitation.",
            "All course work activity for a particular course. Notifications will be generated when a CourseWork or StudentSubmission object is created or modified. No notification will be generated when a StudentSubmission object is created in connection with the creation or modification of its parent CourseWork object (but a notification will be generated for that CourseWork object's creation or modification)."
          ]
        },
        "courseWorkChangesInfo": {
          "$ref": "CourseWorkChangesInfo",
          "description": "Information about a `Feed` with a `feed_type` of `COURSE_WORK_CHANGES`. This field must be specified if `feed_type` is `COURSE_WORK_CHANGES`."
        }
      }
    },
    "CourseWork": {
      "type": "object",
      "description": "Course work created by a teacher for students of the course.",
      "id": "CourseWork",
      "properties": {
        "submissionModificationMode": {
          "enumDescriptions": [
            "No modification mode specified. This is never returned.",
            "Submissions can be modified before being turned in.",
            "Submissions can be modified at any time."
          ],
          "description": "Setting to determine when students are allowed to modify submissions. If unspecified, the default value is `MODIFIABLE_UNTIL_TURNED_IN`.",
          "type": "string",
          "enum": [
            "SUBMISSION_MODIFICATION_MODE_UNSPECIFIED",
            "MODIFIABLE_UNTIL_TURNED_IN",
            "MODIFIABLE"
          ]
        },
        "topicId": {
          "description": "Identifier for the topic that this coursework is associated with. Must match an existing topic in the course.",
          "type": "string"
        },
        "assigneeMode": {
          "type": "string",
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ],
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "description": "Assignee mode of the coursework. If unspecified, the default value is `ALL_STUDENTS`."
        },
        "gradeCategory": {
          "$ref": "GradeCategory",
          "description": "The category that this coursework's grade contributes to. Present only when a category has been chosen for the coursework. May be used in calculating the overall grade. Read-only."
        },
        "alternateLink": {
          "description": "Absolute link to this course work in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only.",
          "type": "string"
        },
        "associatedWithDeveloper": {
          "description": "Whether this course work item is associated with the Developer Console project making the request. See CreateCourseWork for more details. Read-only.",
          "type": "boolean"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Timestamp of the most recent change to this course work. Read-only.",
          "type": "string"
        },
        "maxPoints": {
          "description": "Maximum grade for this course work. If zero or unspecified, this assignment is considered ungraded. This must be a non-negative integer value.",
          "format": "double",
          "type": "number"
        },
        "dueTime": {
          "$ref": "TimeOfDay",
          "description": "Optional time of day, in UTC, that submissions for this course work are due. This must be specified if `due_date` is specified."
        },
        "multipleChoiceQuestion": {
          "description": "Multiple choice question details. For read operations, this field is populated only when `work_type` is `MULTIPLE_CHOICE_QUESTION`. For write operations, this field must be specified when creating course work with a `work_type` of `MULTIPLE_CHOICE_QUESTION`, and it must not be set otherwise.",
          "$ref": "MultipleChoiceQuestion"
        },
        "workType": {
          "description": "Type of this course work. The type is set when the course work is created and cannot be changed.",
          "enumDescriptions": [
            "No work type specified. This is never returned.",
            "An assignment.",
            "A short answer question.",
            "A multiple-choice question."
          ],
          "type": "string",
          "enum": [
            "COURSE_WORK_TYPE_UNSPECIFIED",
            "ASSIGNMENT",
            "SHORT_ANSWER_QUESTION",
            "MULTIPLE_CHOICE_QUESTION"
          ]
        },
        "id": {
          "type": "string",
          "description": "Classroom-assigned identifier of this course work, unique per course. Read-only."
        },
        "scheduledTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional timestamp when this course work is scheduled to be published."
        },
        "creatorUserId": {
          "description": "Identifier for the user that created the coursework. Read-only.",
          "type": "string"
        },
        "materials": {
          "items": {
            "$ref": "Material"
          },
          "description": "Additional materials. CourseWork must have no more than 20 material items.",
          "type": "array"
        },
        "dueDate": {
          "$ref": "Date",
          "description": "Optional date, in UTC, that submissions for this course work are due. This must be specified if `due_time` is specified."
        },
        "state": {
          "enumDescriptions": [
            "No state specified. This is never returned.",
            "Status for work that has been published. This is the default state.",
            "Status for work that is not yet published. Work in this state is visible only to course teachers and domain administrators.",
            "Status for work that was published but is now deleted. Work in this state is visible only to course teachers and domain administrators. Work in this state is deleted after some time."
          ],
          "type": "string",
          "enum": [
            "COURSE_WORK_STATE_UNSPECIFIED",
            "PUBLISHED",
            "DRAFT",
            "DELETED"
          ],
          "description": "Status of this course work. If unspecified, the default state is `DRAFT`."
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "Timestamp when this course work was created. Read-only.",
          "type": "string"
        },
        "description": {
          "description": "Optional description of this course work. If set, the description must be a valid UTF-8 string containing no more than 30,000 characters.",
          "type": "string"
        },
        "individualStudentsOptions": {
          "description": "Identifiers of students with access to the coursework. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field are assigned the coursework.",
          "$ref": "IndividualStudentsOptions"
        },
        "gradingPeriodId": {
          "description": "Identifier of the grading period associated with the coursework. * At creation, if unspecified, the grading period ID will be set based on the `dueDate` (or `scheduledTime` if no `dueDate` is set). * To indicate no association to any grading period, set this field to an empty string (\"\"). * If specified, it must match an existing grading period ID in the course.",
          "type": "string"
        },
        "courseId": {
          "type": "string",
          "description": "Identifier of the course. Read-only."
        },
        "title": {
          "description": "Title of this course work. The title must be a valid UTF-8 string containing between 1 and 3000 characters.",
          "type": "string"
        },
        "assignment": {
          "$ref": "Assignment",
          "description": "Assignment details. This is populated only when `work_type` is `ASSIGNMENT`. Read-only."
        }
      }
    },
    "Assignment": {
      "id": "Assignment",
      "description": "Additional details for assignments.",
      "properties": {
        "studentWorkFolder": {
          "$ref": "DriveFolder",
          "description": "Drive folder where attachments from student submissions are placed. This is only populated for course teachers and administrators."
        }
      },
      "type": "object"
    },
    "ListGuardiansResponse": {
      "properties": {
        "guardians": {
          "items": {
            "$ref": "Guardian"
          },
          "description": "Guardians on this page of results that met the criteria specified in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      },
      "description": "Response when listing guardians.",
      "id": "ListGuardiansResponse",
      "type": "object"
    },
    "Level": {
      "type": "object",
      "description": "A level of the criterion.",
      "id": "Level",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the level."
        },
        "title": {
          "description": "The title of the level. If the level has no points set, title must be set.",
          "type": "string"
        },
        "points": {
          "description": "Optional points associated with this level. If set, all levels within the rubric must specify points and the value must be distinct across all levels within a single criterion. 0 is distinct from no points.",
          "type": "number",
          "format": "double"
        },
        "id": {
          "description": "The level ID. On creation, an ID is assigned.",
          "type": "string"
        }
      }
    },
    "Rubric": {
      "type": "object",
      "properties": {
        "sourceSpreadsheetId": {
          "type": "string",
          "description": "Input only. Immutable. Google Sheets ID of the spreadsheet. This spreadsheet must contain formatted rubric settings. See [Create or reuse a rubric for an assignment](https://support.google.com/edu/classroom/answer/9335069). Use of this field requires the `https://www.googleapis.com/auth/spreadsheets.readonly` or `https://www.googleapis.com/auth/spreadsheets` scope."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp of the most recent change to this rubric. Read-only.",
          "format": "google-datetime",
          "readOnly": true
        },
        "creationTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this rubric was created. Read-only."
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "id": {
          "description": "Classroom-assigned identifier for the rubric. This is unique among rubrics for the relevant course work. Read-only.",
          "type": "string"
        },
        "courseWorkId": {
          "type": "string",
          "description": "Identifier for the course work this corresponds to. Read-only."
        },
        "criteria": {
          "items": {
            "$ref": "Criterion"
          },
          "description": "List of criteria. Each criterion is a dimension on which performance is rated.",
          "type": "array"
        }
      },
      "id": "Rubric",
      "description": "The rubric of the course work. A rubric is a scoring guide used to evaluate student work and give feedback. For further details, see [Rubrics structure and known limitations](/classroom/rubrics/limitations)."
    },
    "GradebookSettings": {
      "description": "The gradebook settings for a course. See the [help center article](https://support.google.com/edu/classroom/answer/9184995) for details.",
      "type": "object",
      "id": "GradebookSettings",
      "properties": {
        "gradeCategories": {
          "description": "Grade categories that are available for coursework in the course.",
          "type": "array",
          "items": {
            "$ref": "GradeCategory"
          }
        },
        "displaySetting": {
          "description": "Indicates who can see the overall grade..",
          "enumDescriptions": [
            "No setting specified. This is never returned.",
            "Shows overall grade in the gradebook and student profile to both teachers and students.",
            "Does not show overall grade in the gradebook or student profile.",
            "Shows the overall grade to teachers in the gradebook and student profile. Hides from students in their student profile."
          ],
          "type": "string",
          "enum": [
            "DISPLAY_SETTING_UNSPECIFIED",
            "SHOW_OVERALL_GRADE",
            "HIDE_OVERALL_GRADE",
            "SHOW_TEACHERS_ONLY"
          ]
        },
        "calculationType": {
          "description": "Indicates how the overall grade is calculated.",
          "type": "string",
          "enum": [
            "CALCULATION_TYPE_UNSPECIFIED",
            "TOTAL_POINTS",
            "WEIGHTED_CATEGORIES"
          ],
          "enumDescriptions": [
            "No method specified. This is never returned.",
            "Overall grade is the sum of grades divided by the sum of total points regardless of category.",
            "Overall grade is the weighted average by category."
          ]
        }
      }
    },
    "ListRubricsResponse": {
      "id": "ListRubricsResponse",
      "description": "Response when listing rubrics.",
      "properties": {
        "rubrics": {
          "type": "array",
          "items": {
            "$ref": "Rubric"
          },
          "description": "Rubrics that match the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      },
      "type": "object"
    },
    "TeacherContext": {
      "properties": {},
      "type": "object",
      "id": "TeacherContext",
      "description": "Role-specific context if the requesting user is a teacher."
    },
    "ListAnnouncementsResponse": {
      "type": "object",
      "description": "Response when listing course work.",
      "id": "ListAnnouncementsResponse",
      "properties": {
        "announcements": {
          "description": "Announcement items that match the request.",
          "items": {
            "$ref": "Announcement"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      }
    },
    "Teacher": {
      "type": "object",
      "properties": {
        "profile": {
          "$ref": "UserProfile",
          "description": "Global user information for the teacher. Read-only."
        },
        "userId": {
          "description": "Identifier of the user. When specified as a parameter of a request, this identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
          "type": "string"
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        }
      },
      "id": "Teacher",
      "description": "Teacher of a course."
    },
    "ReclaimStudentSubmissionRequest": {
      "id": "ReclaimStudentSubmissionRequest",
      "type": "object",
      "properties": {},
      "description": "Request to reclaim a student submission."
    },
    "CourseWorkChangesInfo": {
      "type": "object",
      "properties": {
        "courseId": {
          "description": "The `course_id` of the course to subscribe to work changes for.",
          "type": "string"
        }
      },
      "description": "Information about a `Feed` with a `feed_type` of `COURSE_WORK_CHANGES`.",
      "id": "CourseWorkChangesInfo"
    },
    "Criterion": {
      "type": "object",
      "description": "A rubric criterion. Each criterion is a dimension on which performance is rated.",
      "id": "Criterion",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the criterion."
        },
        "id": {
          "description": "The criterion ID. On creation, an ID is assigned.",
          "type": "string"
        },
        "description": {
          "description": "The description of the criterion.",
          "type": "string"
        },
        "levels": {
          "description": "The list of levels within this criterion.",
          "items": {
            "$ref": "Level"
          },
          "type": "array"
        }
      }
    },
    "StudentGroupMember": {
      "id": "StudentGroupMember",
      "properties": {
        "userId": {
          "description": "Identifier of the student.",
          "type": "string"
        },
        "studentGroupId": {
          "description": "The identifier of the student group.",
          "type": "string"
        },
        "courseId": {
          "description": "The identifier of the course.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A student member in a student group."
    },
    "ListStudentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        },
        "students": {
          "items": {
            "$ref": "Student"
          },
          "description": "Students who match the list request.",
          "type": "array"
        }
      },
      "id": "ListStudentsResponse",
      "description": "Response when listing students.",
      "type": "object"
    },
    "MultipleChoiceSubmission": {
      "type": "object",
      "properties": {
        "answer": {
          "description": "Student's select choice.",
          "type": "string"
        }
      },
      "description": "Student work for a multiple-choice question.",
      "id": "MultipleChoiceSubmission"
    },
    "ModifyAttachmentsRequest": {
      "id": "ModifyAttachmentsRequest",
      "description": "Request to modify the attachments of a student submission.",
      "type": "object",
      "properties": {
        "addAttachments": {
          "description": "Attachments to add. A student submission may not have more than 20 attachments. Form attachments are not supported.",
          "items": {
            "$ref": "Attachment"
          },
          "type": "array"
        }
      }
    },
    "ListAddOnAttachmentsResponse": {
      "type": "object",
      "id": "ListAddOnAttachmentsResponse",
      "description": "Response when listing add-on attachments.",
      "properties": {
        "addOnAttachments": {
          "description": "Attachments under the given post.",
          "items": {
            "$ref": "AddOnAttachment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ModifyCourseWorkAssigneesRequest": {
      "id": "ModifyCourseWorkAssigneesRequest",
      "properties": {
        "assigneeMode": {
          "description": "Mode of the coursework describing whether it will be assigned to all students or specified individual students.",
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "type": "string",
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ]
        },
        "modifyIndividualStudentsOptions": {
          "$ref": "ModifyIndividualStudentsOptions",
          "description": "Set which students are assigned or not assigned to the coursework. Must be specified only when `assigneeMode` is `INDIVIDUAL_STUDENTS`."
        }
      },
      "type": "object",
      "description": "Request to modify assignee mode and options of a coursework."
    },
    "EmbedUri": {
      "id": "EmbedUri",
      "description": "URI to be iframed after being populated with query parameters.",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. URI to be iframed after being populated with query parameters. This must be a valid UTF-8 string containing between 1 and 1800 characters."
        }
      }
    },
    "StudentGroup": {
      "description": "A student group in a course.",
      "properties": {
        "courseId": {
          "description": "The identifier of the course.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The identifier of the student group."
        },
        "title": {
          "type": "string",
          "description": "The title of the student group."
        }
      },
      "id": "StudentGroup",
      "type": "object"
    },
    "DriveFolder": {
      "description": "Representation of a Google Drive folder.",
      "id": "DriveFolder",
      "properties": {
        "id": {
          "description": "Drive API resource ID.",
          "type": "string"
        },
        "alternateLink": {
          "type": "string",
          "description": "URL that can be used to access the Drive folder. Read-only."
        },
        "title": {
          "type": "string",
          "description": "Title of the Drive folder. Read-only."
        }
      },
      "type": "object"
    },
    "CopyHistory": {
      "id": "CopyHistory",
      "type": "object",
      "properties": {
        "attachmentId": {
          "type": "string",
          "description": "Immutable. Identifier of the attachment."
        },
        "itemId": {
          "description": "Immutable. Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached.",
          "type": "string"
        },
        "postId": {
          "type": "string",
          "description": "Immutable. Deprecated, use `item_id` instead.",
          "deprecated": true
        },
        "courseId": {
          "description": "Immutable. Identifier of the course.",
          "type": "string"
        }
      },
      "description": "Identifier of a previous copy of a given attachment."
    },
    "Course": {
      "id": "Course",
      "properties": {
        "courseGroupEmail": {
          "description": "The email address of a Google group containing all members of the course. This group does not accept email and can only be used for permissions. Read-only.",
          "type": "string"
        },
        "descriptionHeading": {
          "description": "Optional heading for the description. For example, \"Welcome to 10th Grade Biology.\" If set, this field must be a valid UTF-8 string and no longer than 3600 characters.",
          "type": "string"
        },
        "courseMaterialSets": {
          "deprecated": true,
          "description": "Sets of materials that appear on the \"about\" page of this course. Read-only.",
          "items": {
            "$ref": "CourseMaterialSet"
          },
          "type": "array"
        },
        "updateTime": {
          "description": "Time of the most recent update to this course. Specifying this field in a course update mask results in an error. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "teacherFolder": {
          "description": "Information about a Drive Folder that is shared with all teachers of the course. This field will only be set for teachers of the course and domain administrators. Read-only.",
          "$ref": "DriveFolder"
        },
        "description": {
          "type": "string",
          "description": "Optional description. For example, \"We'll be learning about the structure of living creatures from a combination of textbooks, guest lectures, and lab work. Expect to be excited!\" If set, this field must be a valid UTF-8 string and no longer than 30,000 characters."
        },
        "room": {
          "description": "Optional room location. For example, \"301\". If set, this field must be a valid UTF-8 string and no longer than 650 characters.",
          "type": "string"
        },
        "gradebookSettings": {
          "$ref": "GradebookSettings",
          "description": "The gradebook settings that specify how a student's overall grade for the course will be calculated and who it will be displayed to. Read-only."
        },
        "enrollmentCode": {
          "description": "Enrollment code to use when joining this course. Specifying this field in a course update mask results in an error. Read-only.",
          "type": "string"
        },
        "name": {
          "description": "Name of the course. For example, \"10th Grade Biology\". The name is required. It must be between 1 and 750 characters and a valid UTF-8 string.",
          "type": "string"
        },
        "id": {
          "description": "Identifier for this course assigned by Classroom. When creating a course, you may optionally set this identifier to an alias string in the request to create a corresponding alias. The `id` is still assigned by Classroom and cannot be updated after the course is created. Specifying this field in a course update mask results in an error.",
          "type": "string"
        },
        "levels": {
          "description": "Optional. Levels for the course. Examples: \"9th grade\", \"Middle school\", \"4th - 5th\", \"K-2\", \"3000\". If set, this field must be a valid UTF-8 string and fewer than 1000 characters. This field can only be cleared using the `PatchCourse` method.",
          "type": "string"
        },
        "courseState": {
          "enumDescriptions": [
            "No course state. No returned Course message will use this value.",
            "The course is active.",
            "The course has been archived. You cannot modify it except to change it to a different state.",
            "The course has been created, but not yet activated. It is accessible by the primary teacher and domain administrators, who may modify it or change it to the `ACTIVE` or `DECLINED` states. A course may only be changed to `PROVISIONED` if it is in the `DECLINED` state.",
            "The course has been created, but declined. It is accessible by the course owner and domain administrators, though it will not be displayed in the web UI. You cannot modify the course except to change it to the `PROVISIONED` state. A course may only be changed to `DECLINED` if it is in the `PROVISIONED` state.",
            "The course has been suspended. You cannot modify the course, and only the user identified by the `owner_id` can view the course. A course may be placed in this state if it potentially violates the Terms of Service."
          ],
          "type": "string",
          "enum": [
            "COURSE_STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED",
            "PROVISIONED",
            "DECLINED",
            "SUSPENDED"
          ],
          "description": "State of the course. If unspecified, the default state is `PROVISIONED`."
        },
        "creationTime": {
          "description": "Creation time of the course. Specifying this field in a course update mask results in an error. Read-only.",
          "format": "google-datetime",
          "type": "string"
        },
        "guardiansEnabled": {
          "type": "boolean",
          "description": "Whether or not guardian notifications are enabled for this course. Read-only."
        },
        "section": {
          "description": "Section of the course. For example, \"Period 2\". If set, this field must be a valid UTF-8 string and no longer than 2800 characters.",
          "type": "string"
        },
        "teacherGroupEmail": {
          "description": "The email address of a Google group containing all teachers of the course. This group does not accept email and can only be used for permissions. Read-only.",
          "type": "string"
        },
        "ownerId": {
          "type": "string",
          "description": "The identifier of the owner of a course. When specified as a parameter of a create course request, this field is required. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user This must be set in a create request. Admins can also specify this field in a patch course request to transfer ownership. In other contexts, it is read-only."
        },
        "alternateLink": {
          "type": "string",
          "description": "Absolute link to this course in the Classroom web UI. Read-only."
        },
        "calendarId": {
          "description": "The Calendar ID for a calendar that all course members can see, to which Classroom adds events for course work and announcements in the course. The Calendar for a course is created asynchronously when the course is set to `CourseState.ACTIVE` for the first time (at creation time or when it is updated to `ACTIVE` through the UI or the API). The Calendar ID will not be populated until the creation process is completed. Read-only.",
          "type": "string"
        },
        "subject": {
          "description": "Optional. The subject of the course.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Course in Classroom."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "Invitation": {
      "description": "An invitation to join a course.",
      "id": "Invitation",
      "type": "object",
      "properties": {
        "role": {
          "enumDescriptions": [
            "No course role.",
            "Student in the course.",
            "Teacher of the course.",
            "Owner of the course."
          ],
          "description": "Role to invite the user to have. Must not be `COURSE_ROLE_UNSPECIFIED`.",
          "type": "string",
          "enum": [
            "COURSE_ROLE_UNSPECIFIED",
            "STUDENT",
            "TEACHER",
            "OWNER"
          ]
        },
        "userId": {
          "description": "Identifier of the invited user. When specified as a parameter of a request, this identifier can be set to one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Identifier assigned by Classroom. Read-only."
        },
        "courseId": {
          "type": "string",
          "description": "Identifier of the course to invite the user to."
        }
      }
    },
    "ModifyAnnouncementAssigneesRequest": {
      "properties": {
        "modifyIndividualStudentsOptions": {
          "description": "Set which students can view or cannot view the announcement. Must be specified only when `assigneeMode` is `INDIVIDUAL_STUDENTS`.",
          "$ref": "ModifyIndividualStudentsOptions"
        },
        "assigneeMode": {
          "type": "string",
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ],
          "description": "Mode of the announcement describing whether it is accessible by all students or specified individual students.",
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ]
        }
      },
      "id": "ModifyAnnouncementAssigneesRequest",
      "description": "Request to modify assignee mode and options of an announcement.",
      "type": "object"
    },
    "CourseAlias": {
      "properties": {
        "alias": {
          "type": "string",
          "description": "Alias string. The format of the string indicates the desired alias scoping. * `d:` indicates a domain-scoped alias. Example: `d:math_101` * `p:` indicates a project-scoped alias. Example: `p:abc123` This field has a maximum length of 256 characters."
        }
      },
      "type": "object",
      "id": "CourseAlias",
      "description": "Alternative identifier for a course. An alias uniquely identifies a course. It must be unique within one of the following scopes: * domain: A domain-scoped alias is visible to all users within the alias creator's domain and can be created only by a domain admin. A domain-scoped alias is often used when a course has an identifier external to Classroom. * project: A project-scoped alias is visible to any request from an application using the Developer Console project ID that created the alias and can be created by any project. A project-scoped alias is often used when an application has alternative identifiers. A random value can also be used to avoid duplicate courses in the event of transmission failures, as retrying a request will return `ALREADY_EXISTS` if a previous one has succeeded."
    },
    "GeminiGem": {
[...]
