{
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "rootUrl": "https://classroom.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://classroom.mtls.googleapis.com/",
  "resources": {
    "invitations": {
      "methods": {
        "delete": {
          "description": "Deletes an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested invitation or for access errors. * `NOT_FOUND` if no invitation exists with the requested ID.",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "location": "path",
              "description": "Identifier of the invitation to delete.",
              "required": true
            }
          },
          "id": "classroom.invitations.delete",
          "path": "v1/invitations/{id}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "flatPath": "v1/invitations/{id}"
        },
        "create": {
          "response": {
            "$ref": "Invitation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "request": {
            "$ref": "Invitation"
          },
          "description": "Creates an invitation. Only one invitation for a user and course may exist at a time. Delete and re-create an invitation to make changes. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create invitations for this course or for access errors. * `NOT_FOUND` if the course or the user does not exist. * `FAILED_PRECONDITION`: * if the requested user's account is disabled. * if the user already has this role or a role with greater permissions. * for the following request errors: * IneligibleOwner * `ALREADY_EXISTS` if an invitation for the specified user and course already exists.",
          "path": "v1/invitations",
          "httpMethod": "POST",
          "id": "classroom.invitations.create",
          "flatPath": "v1/invitations",
          "parameters": {},
          "parameterOrder": []
        },
        "accept": {
          "flatPath": "v1/invitations/{id}:accept",
          "parameters": {
            "id": {
              "required": true,
              "description": "Identifier of the invitation to accept.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1/invitations/{id}:accept",
          "id": "classroom.invitations.accept",
          "httpMethod": "POST",
          "description": "Accepts an invitation, removing it and adding the invited user to the teachers or students (as appropriate) of the specified course. Only the invited user may accept an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to accept the requested invitation or for access errors. * `FAILED_PRECONDITION` for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * `NOT_FOUND` if no invitation exists with the requested ID.",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "Empty"
          }
        },
        "get": {
          "parameterOrder": [
            "id"
          ],
          "path": "v1/invitations/{id}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "description": "Returns an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view the requested invitation or for access errors. * `NOT_FOUND` if no invitation exists with the requested ID.",
          "parameters": {
            "id": {
              "description": "Identifier of the invitation to return.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1/invitations/{id}",
          "response": {
            "$ref": "Invitation"
          },
          "id": "classroom.invitations.get"
        },
        "list": {
          "id": "classroom.invitations.list",
          "flatPath": "v1/invitations",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "parameterOrder": [],
          "description": "Returns a list of invitations that the requesting user is permitted to view, restricted to those that match the list request. *Note:* At least one of `user_id` or `course_id` must be supplied. Both fields can be supplied. This method returns the following error codes: * `PERMISSION_DENIED` for access errors.",
          "parameters": {
            "courseId": {
              "description": "Restricts returned invitations to those for a course with the specified identifier.",
              "type": "string",
              "location": "query"
            },
            "userId": {
              "type": "string",
              "description": "Restricts returned invitations to those for a specific user. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of items to return. The default is 500 if unspecified or `0`. The server may return fewer than the specified number of results.",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
            }
          },
          "path": "v1/invitations",
          "response": {
            "$ref": "ListInvitationsResponse"
          },
          "httpMethod": "GET"
        }
      }
    },
    "registrations": {
      "methods": {
        "create": {
          "response": {
            "$ref": "Registration"
          },
          "description": "Creates a `Registration`, causing Classroom to start sending notifications from the provided `feed` to the destination provided in `cloudPubSubTopic`. Returns the created `Registration`. Currently, this will be the same as the argument, but with server-assigned fields such as `expiry_time` and `id` filled in. Note that any value specified for the `expiry_time` or `id` fields will be ignored. While Classroom may validate the `cloudPubSubTopic` and return errors on a best effort basis, it is the caller's responsibility to ensure that it exists and that Classroom has permission to publish to it. This method may return the following error codes: * `PERMISSION_DENIED` if: * the authenticated user does not have permission to receive notifications from the requested field; or * the current user has not granted access to the current Cloud project with the appropriate scope for the requested feed. Note that domain-wide delegation of authority is not currently supported for this purpose. If the request has the appropriate scope, but no grant exists, a Request Errors is returned. * another access error is encountered. * `INVALID_ARGUMENT` if: * no `cloudPubsubTopic` is specified, or the specified `cloudPubsubTopic` is not valid; or * no `feed` is specified, or the specified `feed` is not valid. * `NOT_FOUND` if: * the specified `feed` cannot be located, or the requesting user does not have permission to determine whether or not it exists; or * the specified `cloudPubsubTopic` cannot be located, or Classroom has not been granted permission to publish to it.",
          "id": "classroom.registrations.create",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.push-notifications"
          ],
          "request": {
            "$ref": "Registration"
          },
          "path": "v1/registrations",
          "parameters": {},
          "flatPath": "v1/registrations",
          "httpMethod": "POST"
        },
        "delete": {
          "path": "v1/registrations/{registrationId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "registrationId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "registrationId": {
              "required": true,
              "description": "The `registration_id` of the `Registration` to be deleted.",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.push-notifications"
          ],
          "description": "Deletes a `Registration`, causing Classroom to stop sending notifications for that `Registration`.",
          "id": "classroom.registrations.delete",
          "flatPath": "v1/registrations/{registrationId}"
        }
      }
    },
    "courses": {
      "resources": {
        "students": {
          "methods": {
            "list": {
              "path": "v1/courses/{courseId}/students",
              "description": "Returns a list of students of this course that the requester is permitted to view. This method returns the following error codes: * `NOT_FOUND` if the course does not exist. * `PERMISSION_DENIED` for access errors.",
              "httpMethod": "GET",
              "parameterOrder": [
                "courseId"
              ],
              "parameters": {
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of items to return. The default is 30 if unspecified or `0`. The server may return fewer than the specified number of results.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/courses/{courseId}/students",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "response": {
                "$ref": "ListStudentsResponse"
              },
              "id": "classroom.courses.students.list"
            },
            "get": {
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "flatPath": "v1/courses/{courseId}/students/{userId}",
              "httpMethod": "GET",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "userId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the student to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "path": "v1/courses/{courseId}/students/{userId}",
              "id": "classroom.courses.students.get",
              "description": "Returns a student of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view students of this course or for access errors. * `NOT_FOUND` if no student of this course has the requested ID or if the course does not exist.",
              "response": {
                "$ref": "Student"
              }
            },
            "create": {
              "description": "Adds a user as a student of a course. Domain administrators are permitted to [directly add](https://developers.google.com/workspace/classroom/guides/manage-users) users within their domain as students to courses within their domain. Students are permitted to add themselves to a course using an enrollment code. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create students in this course or for access errors. * `NOT_FOUND` if the requested course ID does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled, for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * UserGroupsMembershipLimitReached * InactiveCourseOwner * `ALREADY_EXISTS` if the user is already a student or teacher in the course.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "response": {
                "$ref": "Student"
              },
              "parameterOrder": [
                "courseId"
              ],
              "path": "v1/courses/{courseId}/students",
              "parameters": {
                "enrollmentCode": {
                  "description": "Enrollment code of the course to create the student in. This code is required if userId corresponds to the requesting user; it may be omitted if the requesting user has administrative permissions to create students for any user.",
                  "location": "query",
                  "type": "string"
                },
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course to create the student in. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true
                }
              },
              "id": "classroom.courses.students.create",
              "flatPath": "v1/courses/{courseId}/students",
              "request": {
                "$ref": "Student"
              },
              "httpMethod": "POST"
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "parameters": {
                "courseId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                },
                "userId": {
                  "required": true,
                  "description": "Identifier of the student to delete. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "classroom.courses.students.delete",
              "flatPath": "v1/courses/{courseId}/students/{userId}",
              "path": "v1/courses/{courseId}/students/{userId}",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a student of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete students of this course or for access errors. * `NOT_FOUND` if no student of this course has the requested ID or if the course does not exist.",
              "parameterOrder": [
                "courseId",
                "userId"
              ]
            }
          }
        },
        "aliases": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results."
                },
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                }
              },
              "id": "classroom.courses.aliases.list",
              "description": "Returns a list of aliases for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the course or for access errors. * `NOT_FOUND` if the course does not exist.",
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses",
                "https://www.googleapis.com/auth/classroom.courses.readonly"
              ],
              "flatPath": "v1/courses/{courseId}/aliases",
              "response": {
                "$ref": "ListCourseAliasesResponse"
              },
              "path": "v1/courses/{courseId}/aliases"
            },
            "create": {
              "description": "Creates an alias for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the alias or for access errors. * `NOT_FOUND` if the course does not exist. * `ALREADY_EXISTS` if the alias already exists. * `FAILED_PRECONDITION` if the alias requested does not make sense for the requesting user or course (for example, if a user not in a domain attempts to access a domain-scoped alias).",
              "httpMethod": "POST",
              "parameterOrder": [
                "courseId"
              ],
              "parameters": {
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course to alias. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/courses/{courseId}/aliases",
              "path": "v1/courses/{courseId}/aliases",
              "id": "classroom.courses.aliases.create",
              "response": {
                "$ref": "CourseAlias"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses"
              ],
              "request": {
                "$ref": "CourseAlias"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "alias": {
                  "type": "string",
                  "description": "Alias to delete. This may not be the Classroom-assigned identifier.",
                  "required": true,
                  "location": "path"
                },
                "courseId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the course whose alias should be deleted. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses"
              ],
              "description": "Deletes an alias of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to remove the alias or for access errors. * `NOT_FOUND` if the alias does not exist. * `FAILED_PRECONDITION` if the alias requested does not make sense for the requesting user or course (for example, if a user not in a domain attempts to delete a domain-scoped alias).",
              "id": "classroom.courses.aliases.delete",
              "flatPath": "v1/courses/{courseId}/aliases/{alias}",
              "path": "v1/courses/{courseId}/aliases/{alias}",
              "parameterOrder": [
                "courseId",
                "alias"
              ]
            }
          }
        },
        "topics": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/courses/{courseId}/topics/{id}",
              "id": "classroom.courses.topics.delete",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "parameters": {
                "id": {
                  "location": "path",
                  "description": "Identifier of the topic to delete.",
                  "required": true,
                  "type": "string"
                },
                "courseId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                }
              },
              "description": "Deletes a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not allowed to delete the requested topic or for access errors. * `FAILED_PRECONDITION` if the requested topic has already been deleted. * `NOT_FOUND` if no course or topic exists with the requested ID.",
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "httpMethod": "DELETE"
            },
            "list": {
              "response": {
                "$ref": "ListTopicResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics",
                "https://www.googleapis.com/auth/classroom.topics.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Returns the list of topics that the requester is permitted to view. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "httpMethod": "GET",
              "parameterOrder": [
                "courseId"
              ],
              "flatPath": "v1/courses/{courseId}/topics",
              "id": "classroom.courses.topics.list",
              "path": "v1/courses/{courseId}/topics"
            },
            "create": {
              "request": {
                "$ref": "Topic"
              },
              "parameterOrder": [
                "courseId"
              ],
              "path": "v1/courses/{courseId}/topics",
              "flatPath": "v1/courses/{courseId}/topics",
              "response": {
                "$ref": "Topic"
              },
              "parameters": {
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                }
              },
              "id": "classroom.courses.topics.create",
              "description": "Creates a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create a topic in the requested course, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `ALREADY_EXISTS` if there exists a topic in the course with the same name. * `FAILED_PRECONDITION` for the following request error: * CourseTopicLimitReached * `NOT_FOUND` if the requested course does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "httpMethod": "POST"
            },
            "patch": {
              "request": {
                "$ref": "Topic"
              },
              "id": "classroom.courses.topics.patch",
              "path": "v1/courses/{courseId}/topics/{id}",
              "response": {
                "$ref": "Topic"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "description": "Mask that identifies which fields on the topic to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the Topic object. If a field that does not support empty values is included in the update mask and not set in the Topic object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified: * `name`",
                  "format": "google-fieldmask"
                },
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "type": "string"
                },
                "id": {
                  "description": "Identifier of the topic.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Updates one or more fields of a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding topic or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if there exists a topic in the course with the same name. * `NOT_FOUND` if the requested course or topic does not exist",
              "httpMethod": "PATCH",
              "flatPath": "v1/courses/{courseId}/topics/{id}"
            },
            "get": {
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "id": "classroom.courses.topics.get",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course.",
                  "required": true,
                  "type": "string"
                },
                "id": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the topic.",
                  "required": true
                }
              },
              "path": "v1/courses/{courseId}/topics/{id}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics",
                "https://www.googleapis.com/auth/classroom.topics.readonly"
              ],
              "description": "Returns a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or topic, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or topic does not exist.",
              "response": {
                "$ref": "Topic"
              }
            }
          }
        },
        "announcements": {
          "methods": {
            "delete": {
              "flatPath": "v1/courses/{courseId}/announcements/{id}",
              "id": "classroom.courses.announcements.delete",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "path": "v1/courses/{courseId}/announcements/{id}",
              "parameters": {
                "id": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the announcement to delete. This identifier is a Classroom-assigned identifier.",
                  "location": "path"
                },
                "courseId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                }
              },
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes an announcement. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding announcement item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding announcement, if the requesting user is not permitted to delete the requested course or for access errors. * `FAILED_PRECONDITION` if the requested announcement has already been deleted. * `NOT_FOUND` if no course exists with the requested ID."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements",
                "https://www.googleapis.com/auth/classroom.announcements.readonly"
              ],
              "id": "classroom.courses.announcements.list",
              "flatPath": "v1/courses/{courseId}/announcements",
              "parameterOrder": [
                "courseId"
              ],
              "parameters": {
                "announcementStates": {
                  "enum": [
                    "ANNOUNCEMENT_STATE_UNSPECIFIED",
                    "PUBLISHED",
                    "DRAFT",
                    "DELETED"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "No state specified. This is never returned.",
                    "Status for announcement that has been published. This is the default state.",
                    "Status for an announcement that is not yet published. Announcement in this state is visible only to course teachers and domain administrators.",
                    "Status for announcement that was published but is now deleted. Announcement in this state is visible only to course teachers and domain administrators. Announcement in this state is deleted after some time."
                  ],
                  "repeated": true,
                  "description": "Restriction on the `state` of announcements returned. If this argument is left unspecified, the default value is `PUBLISHED`.",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported field is `updateTime`. Supported direction keywords are `asc` and `desc`. If not specified, `updateTime desc` is the default behavior. Examples: `updateTime asc`, `updateTime`",
                  "location": "query",
                  "type": "string"
                },
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListAnnouncementsResponse"
              },
              "description": "Returns a list of announcements that the requester is permitted to view. Course students may only view `PUBLISHED` announcements. Course teachers and domain administrators may view all announcements. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "httpMethod": "GET",
              "path": "v1/courses/{courseId}/announcements"
            },
            "getAddOnContext": {
              "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnContext",
              "path": "v1/courses/{courseId}/announcements/{itemId}/addOnContext",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.addons.student",
                "https://www.googleapis.com/auth/classroom.addons.teacher"
              ],
              "description": "Gets metadata for Classroom add-ons in the context of a specific post. To maintain the integrity of its own data and permissions model, an add-on should call this to validate query parameters and the requesting user's role whenever the add-on is opened in an [iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/iframes-overview). This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
              "id": "classroom.courses.announcements.getAddOnContext",
              "parameters": {
                "itemId": {
                  "location": "path",
                  "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                  "required": true,
                  "type": "string"
                },
                "courseId": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Identifier of the course.",
                  "location": "path"
                },
                "addOnToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. The authorization token is required when neither of the following is true: * The add-on has attachments on the post. * The developer project issuing the request is the same project that created the post."
                },
                "postId": {
                  "description": "Optional. Deprecated, use `item_id` instead.",
                  "type": "string",
                  "location": "query",
                  "deprecated": true
                },
                "attachmentId": {
                  "description": "Optional. The identifier of the attachment. This field is required for all requests except when the user is in the [Attachment Discovery iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/attachment-discovery-iframe).",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AddOnContext"
              },
              "parameterOrder": [
                "courseId",
                "itemId"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "id": "classroom.courses.announcements.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements",
                "https://www.googleapis.com/auth/classroom.announcements.readonly"
              ],
              "flatPath": "v1/courses/{courseId}/announcements/{id}",
              "parameters": {
                "courseId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                },
                "id": {
                  "description": "Identifier of the announcement.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Returns an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or announcement, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or announcement does not exist.",
              "response": {
                "$ref": "Announcement"
              },
              "path": "v1/courses/{courseId}/announcements/{id}"
            },
            "patch": {
              "description": "Updates one or more fields of an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding announcement or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if the requested announcement has already been deleted. * `NOT_FOUND` if the requested course or announcement does not exist",
              "response": {
                "$ref": "Announcement"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "id": "classroom.courses.announcements.patch",
              "parameters": {
                "id": {
                  "location": "path",
                  "description": "Identifier of the announcement.",
                  "required": true,
                  "type": "string"
                },
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Mask that identifies which fields on the announcement to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the Announcement object. If a field that does not support empty values is included in the update mask and not set in the Announcement object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `text` * `state` * `scheduled_time`",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "path": "v1/courses/{courseId}/announcements/{id}",
              "request": {
                "$ref": "Announcement"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v1/courses/{courseId}/announcements/{id}"
            },
            "modifyAssignees": {
              "response": {
                "$ref": "Announcement"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "path": "v1/courses/{courseId}/announcements/{id}:modifyAssignees",
              "description": "Modifies assignee mode and options of an announcement. Only a teacher of the course that contains the announcement may call this method. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work does not exist. * `FAILED_PRECONDITION` for the following request error: * EmptyAssignees",
              "request": {
                "$ref": "ModifyAnnouncementAssigneesRequest"
              },
              "id": "classroom.courses.announcements.modifyAssignees",
              "parameters": {
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path"
                },
                "id": {
                  "type": "string",
                  "description": "Identifier of the announcement.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/courses/{courseId}/announcements/{id}:modifyAssignees"
            },
            "create": {
              "parameterOrder": [
                "courseId"
              ],
              "parameters": {
                "courseId": {
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/courses/{courseId}/announcements",
              "description": "Creates an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create announcements in the requested course, share a Drive attachment, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist. * `FAILED_PRECONDITION` for the following request error: * AttachmentNotVisible",
              "id": "classroom.courses.announcements.create",
              "httpMethod": "POST",
              "path": "v1/courses/{courseId}/announcements",
              "request": {
                "$ref": "Announcement"
              },
              "response": {
                "$ref": "Announcement"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ]
            }
          },
          "resources": {
            "addOnAttachments": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "parameters": {
                    "courseId": {
                      "description": "Required. Identifier of the course.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. Mask that identifies which fields on the attachment to update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the `AddOnAttachment` object. If a field that does not support empty values is included in the update mask and not set in the `AddOnAttachment` object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `teacher_view_uri` * `student_view_uri` * `student_work_review_uri` * `due_date` * `due_time` * `max_points`",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "attachmentId": {
                      "description": "Required. Identifier of the attachment.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "postId": {
                      "description": "Required. Identifier of the post under which the attachment is attached.",
                      "location": "query",
                      "type": "string"
                    },
                    "itemId": {
                      "type": "string",
                      "description": "Identifier of the post under which the attachment is attached.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "id": "classroom.courses.announcements.addOnAttachments.patch",
                  "description": "Updates an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "response": {
                    "$ref": "AddOnAttachment"
                  }
                },
                "list": {
                  "description": "Returns all attachments created by an add-on under the post. Requires the add-on to have active attachments on the post or have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "id": "classroom.courses.announcements.addOnAttachments.list",
                  "response": {
                    "$ref": "ListAddOnAttachmentsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "courseId",
                    "itemId"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListAddOnAttachments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAddOnAttachments` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "postId": {
                      "location": "query",
                      "type": "string",
                      "deprecated": true,
                      "description": "Optional. Identifier of the post under the course whose attachments to enumerate. Deprecated, use `item_id` instead."
                    },
                    "itemId": {
                      "location": "path",
                      "type": "string",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` whose attachments should be enumerated. This field is required, but is not marked as such while we are migrating from post_id.",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of attachments to return. The service may return fewer than this value. If unspecified, at most 20 attachments will be returned. The maximum value is 20; values above 20 will be coerced to 20."
                    },
                    "courseId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifier of the course.",
                      "required": true
                    }
                  }
                },
                "get": {
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "description": "Returns an add-on attachment. Requires the add-on requesting the attachment to be the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "id": "classroom.courses.announcements.addOnAttachments.get",
                  "parameters": {
                    "courseId": {
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "itemId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id."
                    },
                    "attachmentId": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Identifier of the attachment.",
                      "location": "path"
                    },
                    "postId": {
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "location": "query",
                      "type": "string",
                      "deprecated": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "description": "Creates an add-on attachment under a post. Requires the add-on to have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "parameters": {
                    "itemId": {
                      "type": "string",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which to create the attachment. This field is required, but is not marked as such while we are migrating from post_id.",
                      "required": true,
                      "location": "path"
                    },
                    "courseId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Identifier of the course.",
                      "type": "string"
                    },
                    "addOnToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. This authorization token is required for in-Classroom attachment creation but optional for partner-first attachment creation. Returns an error if not provided for partner-first attachment creation and the developer projects that created the attachment and its parent stream item do not match."
                    },
                    "postId": {
                      "location": "query",
                      "deprecated": true,
                      "type": "string",
                      "description": "Optional. Deprecated, use `item_id` instead."
                    }
                  },
                  "id": "classroom.courses.announcements.addOnAttachments.create",
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "parameterOrder": [
                    "courseId",
                    "itemId"
                  ],
                  "httpMethod": "POST"
                },
                "delete": {
                  "parameters": {
                    "attachmentId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Identifier of the attachment."
                    },
                    "courseId": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Identifier of the course.",
                      "type": "string"
                    },
                    "postId": {
                      "location": "query",
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "type": "string",
                      "deprecated": true
                    },
                    "itemId": {
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "id": "classroom.courses.announcements.addOnAttachments.delete",
                  "description": "Deletes an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ]
                }
              }
            }
          }
        },
        "courseWorkMaterials": {
          "methods": {
            "patch": {
              "path": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "CourseWorkMaterial"
              },
              "id": "classroom.courses.courseWorkMaterials.patch",
              "response": {
                "$ref": "CourseWorkMaterial"
              },
              "description": "Updates one or more fields of a course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if the requested course work material has already been deleted. * `NOT_FOUND` if the requested course or course work material does not exist",
              "parameters": {
                "id": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the course work material."
                },
                "updateMask": {
                  "location": "query",
                  "description": "Mask that identifies which fields on the course work material to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the course work material object. If a field that does not support empty values is included in the update mask and not set in the course work material object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `description` * `state` * `scheduled_time` * `topic_id` * `learning_goals`",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials"
              ],
              "parameterOrder": [
                "courseId",
                "id"
              ]
            },
            "get": {
              "response": {
                "$ref": "CourseWorkMaterial"
              },
              "parameters": {
                "id": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course work material.",
                  "required": true
                },
                "courseId": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string"
                }
              },
              "id": "classroom.courses.courseWorkMaterials.get",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials",
                "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "description": "Returns a course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work material, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work material does not exist.",
              "path": "v1/courses/{courseId}/courseWorkMaterials/{id}"
            },
            "create": {
              "description": "Creates a course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create course work material in the requested course, share a Drive attachment, or for access errors. * `INVALID_ARGUMENT` if the request is malformed or if more than 20 * materials are provided. * `NOT_FOUND` if the requested course does not exist. * `FAILED_PRECONDITION` for the following request error: * AttachmentNotVisible",
              "parameterOrder": [
                "courseId"
              ],
              "response": {
                "$ref": "CourseWorkMaterial"
              },
              "id": "classroom.courses.courseWorkMaterials.create",
              "request": {
                "$ref": "CourseWorkMaterial"
              },
              "parameters": {
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/courses/{courseId}/courseWorkMaterials",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials"
              ],
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials"
            },
            "list": {
              "id": "classroom.courses.courseWorkMaterials.list",
              "httpMethod": "GET",
              "parameters": {
                "courseWorkMaterialStates": {
                  "enum": [
                    "COURSEWORK_MATERIAL_STATE_UNSPECIFIED",
                    "PUBLISHED",
                    "DRAFT",
                    "DELETED"
                  ],
                  "type": "string",
                  "description": "Restriction on the work status to return. Only course work material that matches is returned. If unspecified, items with a work status of `PUBLISHED` is returned.",
                  "enumDescriptions": [
                    "No state specified. This is never returned.",
                    "Status for course work material that has been published. This is the default state.",
                    "Status for a course work material that is not yet published. Course work material in this state is visible only to course teachers and domain administrators.",
                    "Status for course work material that was published but is now deleted. Course work material in this state is visible only to course teachers and domain administrators. Course work material in this state is deleted after some time."
                  ],
                  "location": "query",
                  "repeated": true
                },
                "orderBy": {
                  "description": "Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported field is `updateTime`. Supported direction keywords are `asc` and `desc`. If not specified, `updateTime desc` is the default behavior. Examples: `updateTime asc`, `updateTime`",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                },
                "courseId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32",
                  "location": "query"
                },
                "materialDriveId": {
                  "description": "Optional filtering for course work material with at least one Drive material whose ID matches the provided string. If `material_link` is also specified, course work material must have materials matching both filters.",
                  "location": "query",
                  "type": "string"
                },
                "materialLink": {
                  "type": "string",
                  "description": "Optional filtering for course work material with at least one link material whose URL partially matches the provided string.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials",
                "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly"
              ],
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials",
              "parameterOrder": [
                "courseId"
              ],
              "response": {
                "$ref": "ListCourseWorkMaterialResponse"
              },
              "description": "Returns a list of course work material that the requester is permitted to view. Course students may only view `PUBLISHED` course work material. Course teachers and domain administrators may view all course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "path": "v1/courses/{courseId}/courseWorkMaterials"
            },
            "getAddOnContext": {
              "parameters": {
                "postId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Deprecated, use `item_id` instead.",
                  "deprecated": true
                },
                "itemId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                  "required": true
                },
                "addOnToken": {
                  "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. The authorization token is required when neither of the following is true: * The add-on has attachments on the post. * The developer project issuing the request is the same project that created the post.",
                  "type": "string",
                  "location": "query"
                },
                "courseId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Identifier of the course.",
                  "location": "path"
                },
                "attachmentId": {
                  "description": "Optional. The identifier of the attachment. This field is required for all requests except when the user is in the [Attachment Discovery iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/attachment-discovery-iframe).",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AddOnContext"
              },
              "httpMethod": "GET",
              "id": "classroom.courses.courseWorkMaterials.getAddOnContext",
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnContext",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.addons.student",
                "https://www.googleapis.com/auth/classroom.addons.teacher"
              ],
              "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnContext",
              "description": "Gets metadata for Classroom add-ons in the context of a specific post. To maintain the integrity of its own data and permissions model, an add-on should call this to validate query parameters and the requesting user's role whenever the add-on is opened in an [iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/iframes-overview). This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
              "parameterOrder": [
                "courseId",
                "itemId"
              ]
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "id": "classroom.courses.courseWorkMaterials.delete",
              "path": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "description": "Deletes a course work material. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work material item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding course work material, if the requesting user is not permitted to delete the requested course or for access errors. * `FAILED_PRECONDITION` if the requested course work material has already been deleted. * `NOT_FOUND` if no course exists with the requested ID.",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true
                },
                "id": {
                  "location": "path",
                  "description": "Identifier of the course work material to delete. This identifier is a Classroom-assigned identifier.",
                  "type": "string",
                  "required": true
                }
              }
            }
          },
          "resources": {
            "addOnAttachments": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "id": "classroom.courses.courseWorkMaterials.addOnAttachments.delete",
                  "parameters": {
                    "itemId": {
                      "required": true,
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                      "location": "path",
                      "type": "string"
                    },
                    "courseId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifier of the course.",
                      "required": true
                    },
                    "postId": {
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "location": "query",
                      "deprecated": true,
                      "type": "string"
                    },
                    "attachmentId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Identifier of the attachment."
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments/{attachmentId}",
                  "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments/{attachmentId}",
                  "description": "Deletes an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist."
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments/{attachmentId}",
                  "description": "Updates an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "parameters": {
                    "attachmentId": {
                      "required": true,
                      "description": "Required. Identifier of the attachment.",
                      "type": "string",
                      "location": "path"
                    },
                    "courseId": {
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "postId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Identifier of the post under which the attachment is attached."
                    },
                    "itemId": {
                      "required": true,
                      "description": "Identifier of the post under which the attachment is attached.",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Required. Mask that identifies which fields on the attachment to update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the `AddOnAttachment` object. If a field that does not support empty values is included in the update mask and not set in the `AddOnAttachment` object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `teacher_view_uri` * `student_view_uri` * `student_work_review_uri` * `due_date` * `due_time` * `max_points`"
                    }
                  },
                  "httpMethod": "PATCH",
                  "id": "classroom.courses.courseWorkMaterials.addOnAttachments.patch",
                  "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments/{attachmentId}"
                },
                "get": {
                  "description": "Returns an add-on attachment. Requires the add-on requesting the attachment to be the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments/{attachmentId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "parameters": {
                    "postId": {
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "location": "query",
                      "type": "string",
                      "deprecated": true
                    },
                    "courseId": {
                      "required": true,
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "type": "string"
                    },
                    "itemId": {
                      "type": "string",
                      "location": "path",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                      "required": true
                    },
                    "attachmentId": {
                      "description": "Required. Identifier of the attachment.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments/{attachmentId}",
                  "id": "classroom.courses.courseWorkMaterials.addOnAttachments.get"
                },
                "create": {
                  "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments",
                  "parameters": {
                    "postId": {
                      "deprecated": true,
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "type": "string",
                      "location": "query"
                    },
                    "addOnToken": {
                      "type": "string",
                      "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. This authorization token is required for in-Classroom attachment creation but optional for partner-first attachment creation. Returns an error if not provided for partner-first attachment creation and the developer projects that created the attachment and its parent stream item do not match.",
                      "location": "query"
                    },
                    "courseId": {
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "itemId": {
                      "location": "path",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which to create the attachment. This field is required, but is not marked as such while we are migrating from post_id.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "classroom.courses.courseWorkMaterials.addOnAttachments.create",
                  "description": "Creates an add-on attachment under a post. Requires the add-on to have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "courseId",
                    "itemId"
                  ],
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "response": {
                    "$ref": "AddOnAttachment"
                  }
                },
                "list": {
                  "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments",
                  "parameterOrder": [
                    "courseId",
                    "itemId"
                  ],
                  "description": "Returns all attachments created by an add-on under the post. Requires the add-on to have active attachments on the post or have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments",
                  "id": "classroom.courses.courseWorkMaterials.addOnAttachments.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListAddOnAttachmentsResponse"
                  },
                  "parameters": {
                    "itemId": {
                      "type": "string",
                      "location": "path",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` whose attachments should be enumerated. This field is required, but is not marked as such while we are migrating from post_id.",
                      "required": true
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListAddOnAttachments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAddOnAttachments` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of attachments to return. The service may return fewer than this value. If unspecified, at most 20 attachments will be returned. The maximum value is 20; values above 20 will be coerced to 20."
                    },
                    "postId": {
                      "location": "query",
                      "deprecated": true,
                      "description": "Optional. Identifier of the post under the course whose attachments to enumerate. Deprecated, use `item_id` instead.",
                      "type": "string"
                    },
                    "courseId": {
                      "type": "string",
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            }
          }
        },
        "teachers": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of items to return. The default is 30 if unspecified or `0`. The server may return fewer than the specified number of results.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                },
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "classroom.courses.teachers.list",
              "flatPath": "v1/courses/{courseId}/teachers",
              "httpMethod": "GET",
              "parameterOrder": [
                "courseId"
              ],
              "path": "v1/courses/{courseId}/teachers",
              "response": {
                "$ref": "ListTeachersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "description": "Returns a list of teachers of this course that the requester is permitted to view. This method returns the following error codes: * `NOT_FOUND` if the course does not exist. * `PERMISSION_DENIED` for access errors."
            },
            "create": {
              "path": "v1/courses/{courseId}/teachers",
              "request": {
                "$ref": "Teacher"
              },
              "parameters": {
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                }
              },
              "description": "Creates a teacher of a course. Domain administrators are permitted to [directly add](https://developers.google.com/workspace/classroom/guides/manage-users) users within their domain as teachers to courses within their domain. Non-admin users should send an Invitation instead. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create teachers in this course or for access errors. * `NOT_FOUND` if the requested course ID does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled, for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * InactiveCourseOwner * `ALREADY_EXISTS` if the user is already a teacher or student in the course.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "flatPath": "v1/courses/{courseId}/teachers",
              "parameterOrder": [
                "courseId"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Teacher"
              },
              "id": "classroom.courses.teachers.create"
            },
            "delete": {
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "parameters": {
                "userId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the teacher to delete. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "location": "path"
                },
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/courses/{courseId}/teachers/{userId}",
              "httpMethod": "DELETE",
              "id": "classroom.courses.teachers.delete",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "description": "Removes the specified teacher from the specified course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist. * `FAILED_PRECONDITION` if the requested ID belongs to the primary teacher of this course. * `FAILED_PRECONDITION` if the requested ID belongs to the owner of the course Drive folder. * `FAILED_PRECONDITION` if the course no longer has an active owner.",
              "flatPath": "v1/courses/{courseId}/teachers/{userId}"
            },
            "get": {
              "response": {
                "$ref": "Teacher"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "path": "v1/courses/{courseId}/teachers/{userId}",
              "description": "Returns a teacher of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist.",
              "parameters": {
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path"
                },
                "userId": {
                  "location": "path",
                  "description": "Identifier of the teacher to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "id": "classroom.courses.teachers.get",
              "flatPath": "v1/courses/{courseId}/teachers/{userId}"
            }
          }
        },
        "studentGroups": {
          "resources": {
            "studentGroupMembers": {
              "methods": {
                "list": {
                  "parameters": {
                    "studentGroupId": {
                      "location": "path",
                      "description": "Required. The identifier of the student group.",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
[...]
