{
  "version": "v1",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/classroom.addons.student": {
          "description": "See and update its own attachments to posts in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.topics.readonly": {
          "description": "View topics in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.courses.readonly": {
          "description": "View your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.push-notifications": {
          "description": "Receive notifications about your Google Classroom data"
        },
        "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly": {
          "description": "View your course work and grades in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.announcements.readonly": {
          "description": "View announcements in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly": {
          "description": "View your Google Classroom guardians"
        },
        "https://www.googleapis.com/auth/classroom.coursework.students": {
          "description": "Manage course work and grades for students in the Google Classroom classes you teach and view the course work and grades for classes you administer"
        },
        "https://www.googleapis.com/auth/classroom.announcements": {
          "description": "View and manage announcements in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.topics": {
          "description": "See, create, and edit topics in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.coursework.students.readonly": {
          "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
        },
        "https://www.googleapis.com/auth/classroom.rosters.readonly": {
          "description": "View your Google Classroom class rosters"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.students": {
          "description": "View and manage guardians for students in your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.courses": {
          "description": "See, edit, create, and permanently delete your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.addons.teacher": {
          "description": "See, create, and update its own attachments to posts in classes you teach in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.coursework.me": {
          "description": "See, create and edit coursework items including assignments, questions, and grades"
        },
        "https://www.googleapis.com/auth/classroom.profile.photos": {
          "description": "View the profile photos of people in your classes"
        },
        "https://www.googleapis.com/auth/classroom.profile.emails": {
          "description": "View the email addresses of people in your classes"
        },
        "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly": {
          "description": "See all classwork materials for your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.courseworkmaterials": {
          "description": "See, edit, and create classwork materials in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly": {
          "description": "View guardians for students in your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly": {
          "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
        },
        "https://www.googleapis.com/auth/classroom.coursework.me.readonly": {
          "description": "View your course work and grades in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.rosters": {
          "description": "Manage your Google Classroom class rosters"
        }
      }
    }
  },
  "id": "classroom:v1",
  "basePath": "",
  "servicePath": "",
  "protocol": "rest",
  "title": "Google Classroom API",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://classroom.mtls.googleapis.com/",
  "name": "classroom",
  "description": "Manages classes, rosters, and invitations in Google Classroom.",
  "resources": {
    "userProfiles": {
      "methods": {
        "get": {
          "path": "v1/userProfiles/{userId}",
          "flatPath": "v1/userProfiles/{userId}",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.profile.emails",
            "https://www.googleapis.com/auth/classroom.profile.photos",
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "parameters": {
            "userId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifier of the profile to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user"
            }
          },
          "parameterOrder": [
            "userId"
          ],
          "description": "Returns a user profile. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access this user profile, if no profile exists with the requested ID, or for access errors.",
          "id": "classroom.userProfiles.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "UserProfile"
          }
        }
      },
      "resources": {
        "guardianInvitations": {
          "methods": {
            "patch": {
              "path": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "response": {
                "$ref": "GuardianInvitation"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "studentId",
                "invitationId"
              ],
              "description": "Modifies a guardian invitation. Currently, the only valid modification is to change the `state` from `PENDING` to `COMPLETE`. This has the effect of withdrawing the invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the current user does not have permission to manage guardians, if guardians are not enabled for the domain in question or for other access errors. * `FAILED_PRECONDITION` if the guardian link is not in the `PENDING` state. * `INVALID_ARGUMENT` if the format of the student ID provided cannot be recognized (it is not an email address, nor a `user_id` from this API), or if the passed `GuardianInvitation` has a `state` other than `COMPLETE`, or if it modifies fields other than `state`. * `NOT_FOUND` if the student ID provided is a valid student ID, but Classroom has no record of that student, or if the `id` field does not refer to a guardian invitation known to Classroom.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "id": "classroom.userProfiles.guardianInvitations.patch",
              "parameters": {
                "studentId": {
                  "description": "The ID of the student whose guardian invitation is to be modified.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "invitationId": {
                  "location": "path",
                  "description": "The `id` field of the `GuardianInvitation` to be modified.",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Mask that identifies which fields on the course to update. This field is required to do an update. The update fails if invalid fields are specified. The following fields are valid: * `state` When set in a query parameter, this field should be specified as `updateMask=,,...`"
                }
              },
              "request": {
                "$ref": "GuardianInvitation"
              },
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GuardianInvitation"
              },
              "description": "Returns a specific guardian invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view guardian invitations for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). * `NOT_FOUND` if Classroom cannot find any record of the given student or `invitation_id`. May also be returned if the student exists, but the requesting user does not have access to see that student.",
              "id": "classroom.userProfiles.guardianInvitations.get",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "parameterOrder": [
                "studentId",
                "invitationId"
              ],
              "parameters": {
                "studentId": {
                  "description": "The ID of the student whose guardian invitation is being requested.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "invitationId": {
                  "location": "path",
                  "required": true,
                  "description": "The `id` field of the `GuardianInvitation` being requested.",
                  "type": "string"
                }
              },
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "path": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}"
            },
            "list": {
              "path": "v1/userProfiles/{studentId}/guardianInvitations",
              "response": {
                "$ref": "ListGuardianInvitationsResponse"
              },
              "parameters": {
                "states": {
                  "description": "If specified, only results with the specified `state` values are returned. Otherwise, results with a `state` of `PENDING` are returned.",
                  "repeated": true,
                  "enum": [
                    "GUARDIAN_INVITATION_STATE_UNSPECIFIED",
                    "PENDING",
                    "COMPLETE"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Should never be returned.",
                    "The invitation is active and awaiting a response.",
                    "The invitation is no longer active. It may have been accepted, declined, withdrawn or it may have expired."
                  ],
                  "type": "string"
                },
                "invitedEmailAddress": {
                  "location": "query",
                  "description": "If specified, only results with the specified `invited_email_address` are returned.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query"
                },
                "studentId": {
                  "required": true,
                  "description": "The ID of the student whose guardian invitations are to be returned. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user * the string literal `\"-\"`, indicating that results should be returned for all students that the requesting user is permitted to view guardian invitations.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "classroom.userProfiles.guardianInvitations.list",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations",
              "description": "Returns a list of guardian invitations that the requesting user is permitted to view, filtered by the parameters provided. This method returns the following error codes: * `PERMISSION_DENIED` if a `student_id` is specified, and the requesting user is not permitted to view guardian invitations for that student, if `\"-\"` is specified as the `student_id` and the user is not a domain administrator, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). May also be returned if an invalid `page_token` or `state` is provided. * `NOT_FOUND` if a `student_id` is specified, and its format can be recognized, but Classroom has no record of that student.",
              "httpMethod": "GET",
              "parameterOrder": [
                "studentId"
              ]
            },
            "create": {
              "description": "Creates a guardian invitation, and sends an email to the guardian asking them to confirm that they are the student's guardian. Once the guardian accepts the invitation, their `state` will change to `COMPLETED` and they will start receiving guardian notifications. A `Guardian` resource will also be created to represent the active guardian. The request object must have the `student_id` and `invited_email_address` fields set. Failing to set these fields, or setting any other fields in the request, will result in an error. This method returns the following error codes: * `PERMISSION_DENIED` if the current user does not have permission to manage guardians, if the guardian in question has already rejected too many requests for that student, if guardians are not enabled for the domain in question, or for other access errors. * `RESOURCE_EXHAUSTED` if the student or guardian has exceeded the guardian link limit. * `INVALID_ARGUMENT` if the guardian email address is not valid (for example, if it is too long), or if the format of the student ID provided cannot be recognized (it is not an email address, nor a `user_id` from this API). This error will also be returned if read-only fields are set, or if the `state` field is set to to a value other than `PENDING`. * `NOT_FOUND` if the student ID provided is a valid student ID, but Classroom has no record of that student. * `ALREADY_EXISTS` if there is already a pending guardian invitation for the student and `invited_email_address` provided, or if the provided `invited_email_address` matches the Google account of an existing `Guardian` for this user.",
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations",
              "parameterOrder": [
                "studentId"
              ],
              "path": "v1/userProfiles/{studentId}/guardianInvitations",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "id": "classroom.userProfiles.guardianInvitations.create",
              "response": {
                "$ref": "GuardianInvitation"
              },
              "request": {
                "$ref": "GuardianInvitation"
              },
              "parameters": {
                "studentId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the student (in standard format)",
                  "location": "path"
                }
              }
            }
          }
        },
        "guardians": {
          "methods": {
            "delete": {
              "flatPath": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "id": "classroom.userProfiles.guardians.delete",
              "parameterOrder": [
                "studentId",
                "guardianId"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a guardian. The guardian will no longer receive guardian notifications and the guardian will no longer be accessible via the API. This method returns the following error codes: * `PERMISSION_DENIED` if no user that matches the provided `student_id` is visible to the requesting user, if the requesting user is not permitted to manage guardians for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API). * `NOT_FOUND` if the requesting user is permitted to modify guardians for the requested `student_id`, but no `Guardian` record exists for that student with the provided `guardian_id`.",
              "path": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "parameters": {
                "studentId": {
                  "location": "path",
                  "description": "The student whose guardian is to be deleted. One of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "required": true,
                  "type": "string"
                },
                "guardianId": {
                  "location": "path",
                  "description": "The `id` field from a `Guardian`.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              }
            },
            "get": {
              "response": {
                "$ref": "Guardian"
              },
              "parameters": {
                "studentId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The student whose guardian is being requested. One of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user"
                },
                "guardianId": {
                  "description": "The `id` field from a `Guardian`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "id": "classroom.userProfiles.guardians.get",
              "description": "Returns a specific guardian. This method returns the following error codes: * `PERMISSION_DENIED` if no user that matches the provided `student_id` is visible to the requesting user, if the requesting user is not permitted to view guardian information for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). * `NOT_FOUND` if the requesting user is permitted to view guardians for the requested `student_id`, but no `Guardian` record exists for that student that matches the provided `guardian_id`.",
              "parameterOrder": [
                "studentId",
                "guardianId"
              ],
              "path": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "httpMethod": "GET",
              "flatPath": "v1/userProfiles/{studentId}/guardians/{guardianId}"
            },
            "list": {
              "flatPath": "v1/userProfiles/{studentId}/guardians",
              "id": "classroom.userProfiles.guardians.list",
              "description": "Returns a list of guardians that the requesting user is permitted to view, restricted to those that match the request. To list guardians for any student that the requesting user may view guardians for, use the literal character `-` for the student ID. This method returns the following error codes: * `PERMISSION_DENIED` if a `student_id` is specified, and the requesting user is not permitted to view guardian information for that student, if `\"-\"` is specified as the `student_id` and the user is not a domain administrator, if guardians are not enabled for the domain in question, if the `invited_email_address` filter is set by a user who is not a domain administrator, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). May also be returned if an invalid `page_token` is provided. * `NOT_FOUND` if a `student_id` is specified, and its format can be recognized, but Classroom has no record of that student.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "parameterOrder": [
                "studentId"
              ],
              "response": {
                "$ref": "ListGuardiansResponse"
              },
              "path": "v1/userProfiles/{studentId}/guardians",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string"
                },
                "studentId": {
                  "required": true,
                  "type": "string",
                  "description": "Filter results by the student who the guardian is linked to. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user * the string literal `\"-\"`, indicating that results should be returned for all students that the requesting user has access to view.",
                  "location": "path"
                },
                "invitedEmailAddress": {
                  "location": "query",
                  "type": "string",
                  "description": "Filter results by the email address that the original invitation was sent to, resulting in this guardian link. This filter can only be used by domain administrators."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "invitations": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "id": "classroom.invitations.delete",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/invitations/{id}",
          "parameters": {
            "id": {
              "location": "path",
              "description": "Identifier of the invitation to delete.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deletes an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested invitation or for access errors. * `NOT_FOUND` if no invitation exists with the requested ID.",
          "path": "v1/invitations/{id}"
        },
        "create": {
          "parameters": {},
          "request": {
            "$ref": "Invitation"
          },
          "description": "Creates an invitation. Only one invitation for a user and course may exist at a time. Delete and re-create an invitation to make changes. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create invitations for this course or for access errors. * `NOT_FOUND` if the course or the user does not exist. * `FAILED_PRECONDITION`: * if the requested user's account is disabled. * if the user already has this role or a role with greater permissions. * for the following request errors: * IneligibleOwner * `ALREADY_EXISTS` if an invitation for the specified user and course already exists.",
          "id": "classroom.invitations.create",
          "response": {
            "$ref": "Invitation"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "flatPath": "v1/invitations",
          "path": "v1/invitations"
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Invitation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "required": true,
              "description": "Identifier of the invitation to return.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1/invitations/{id}",
          "id": "classroom.invitations.get",
          "flatPath": "v1/invitations/{id}",
          "description": "Returns an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view the requested invitation or for access errors. * `NOT_FOUND` if no invitation exists with the requested ID."
        },
        "list": {
          "parameters": {
            "pageSize": {
              "description": "Maximum number of items to return. The default is 500 if unspecified or `0`. The server may return fewer than the specified number of results.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "userId": {
              "location": "query",
              "description": "Restricts returned invitations to those for a specific user. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
              "type": "string"
            },
            "courseId": {
              "location": "query",
              "type": "string",
              "description": "Restricts returned invitations to those for a course with the specified identifier."
            }
          },
          "flatPath": "v1/invitations",
          "parameterOrder": [],
          "id": "classroom.invitations.list",
          "httpMethod": "GET",
          "description": "Returns a list of invitations that the requesting user is permitted to view, restricted to those that match the list request. *Note:* At least one of `user_id` or `course_id` must be supplied. Both fields can be supplied. This method returns the following error codes: * `PERMISSION_DENIED` for access errors.",
          "path": "v1/invitations",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "response": {
            "$ref": "ListInvitationsResponse"
          }
        },
        "accept": {
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "httpMethod": "POST",
          "id": "classroom.invitations.accept",
          "parameters": {
            "id": {
              "type": "string",
              "description": "Identifier of the invitation to accept.",
              "location": "path",
              "required": true
            }
          },
          "description": "Accepts an invitation, removing it and adding the invited user to the teachers or students (as appropriate) of the specified course. Only the invited user may accept an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to accept the requested invitation or for access errors. * `FAILED_PRECONDITION` for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * `NOT_FOUND` if no invitation exists with the requested ID.",
          "flatPath": "v1/invitations/{id}:accept",
          "path": "v1/invitations/{id}:accept"
        }
      }
    },
    "courses": {
      "methods": {
        "patch": {
          "path": "v1/courses/{id}",
          "response": {
            "$ref": "Course"
          },
          "parameterOrder": [
            "id"
          ],
          "id": "classroom.courses.patch",
          "parameters": {
            "id": {
              "description": "Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "description": "Mask that identifies which fields on the course to update. This field is required to do an update. The update will fail if invalid fields are specified. The following fields are valid: * `courseState` * `description` * `descriptionHeading` * `name` * `ownerId` * `room` * `section` * `subject` * `learningStandardSettings` * `levels` Note: patches to ownerId are treated as being effective immediately, but in practice it may take some time for the ownership transfer of all affected resources to complete. When set in a query parameter, this field should be specified as `updateMask=,,...`",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "description": "Updates one or more fields in a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID. * `INVALID_ARGUMENT` if invalid fields are specified in the update mask or if no update mask is supplied. * `FAILED_PRECONDITION` for the following request errors: * CourseNotModifiable * InactiveCourseOwner * IneligibleOwner * CourseTitleCannotContainUrl",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Course"
          },
          "flatPath": "v1/courses/{id}"
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "v1/courses/{id}",
          "description": "Returns a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID.",
          "parameterOrder": [
            "id"
          ],
          "id": "classroom.courses.get",
          "response": {
            "$ref": "Course"
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ],
          "path": "v1/courses/{id}",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifier of the course to return. This identifier can be either the Classroom-assigned identifier or an alias."
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "path": "v1/courses",
          "id": "classroom.courses.list",
          "flatPath": "v1/courses",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
              "location": "query"
            },
            "courseStates": {
              "enumDescriptions": [
                "No course state. No returned Course message will use this value.",
                "The course is active.",
                "The course has been archived. You cannot modify it except to change it to a different state.",
                "The course has been created, but not yet activated. It is accessible by the primary teacher and domain administrators, who may modify it or change it to the `ACTIVE` or `DECLINED` states. A course may only be changed to `PROVISIONED` if it is in the `DECLINED` state.",
                "The course has been created, but declined. It is accessible by the course owner and domain administrators, though it will not be displayed in the web UI. You cannot modify the course except to change it to the `PROVISIONED` state. A course may only be changed to `DECLINED` if it is in the `PROVISIONED` state.",
                "The course has been suspended. You cannot modify the course, and only the user identified by the `owner_id` can view the course. A course may be placed in this state if it potentially violates the Terms of Service."
              ],
              "enum": [
                "COURSE_STATE_UNSPECIFIED",
                "ACTIVE",
                "ARCHIVED",
                "PROVISIONED",
                "DECLINED",
                "SUSPENDED"
              ],
              "repeated": true,
              "description": "Restricts returned courses to those in one of the specified states. If unspecified, Courses in any state are returned.",
              "type": "string",
              "location": "query"
            },
            "studentId": {
              "location": "query",
              "type": "string",
              "description": "Restricts returned courses to those having a student with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user If specified, `teacher_id` must be empty."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
            },
            "teacherId": {
              "type": "string",
              "description": "Restricts returned courses to those having a teacher with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user If specified, `student_id` must be empty.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListCoursesResponse"
          },
          "description": "Returns a list of courses that the requesting user is permitted to view, restricted to those that match the request. Returned courses are ordered by creation time, with the most recently created coming first. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the query argument is malformed. * `NOT_FOUND` if any users specified in the query arguments do not exist."
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "response": {
            "$ref": "Course"
          },
          "description": "Creates a course. The user specified in `ownerId` is the owner of the created course and added as a teacher. A non-admin requesting user can only create a course with themselves as the owner. Domain admins can create courses owned by any user within their domain. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create courses or for access errors. * `NOT_FOUND` if the primary teacher is not a valid user. * `FAILED_PRECONDITION` if the course owner's account is disabled or for the following request errors: * UserCannotOwnCourse * UserGroupsMembershipLimitReached * CourseTitleCannotContainUrl * `ALREADY_EXISTS` if an alias was specified in the `id` and already exists.",
          "request": {
            "$ref": "Course"
          },
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/courses",
          "id": "classroom.courses.create",
          "flatPath": "v1/courses",
          "httpMethod": "POST"
        },
        "updateGradingPeriodSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "id": "classroom.courses.updateGradingPeriodSettings",
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "Mask that identifies which fields in the GradingPeriodSettings to update. The GradingPeriodSettings `grading_periods` list will be fully replaced by the grading periods specified in the update request. For example: * Grading periods included in the list without an ID are considered additions, and a new ID will be assigned when the request is made. * Grading periods that currently exist, but are missing from the request will be considered deletions. * Grading periods with an existing ID and modified data are considered edits. Unmodified data will be left as is. * Grading periods included with an unknown ID will result in an error. The following fields may be specified: * `grading_periods` * `apply_to_existing_coursework`"
            },
            "courseId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The identifier of the course."
            }
          },
          "path": "v1/courses/{courseId}/gradingPeriodSettings",
          "flatPath": "v1/courses/{courseId}/gradingPeriodSettings",
          "response": {
            "$ref": "GradingPeriodSettings"
          },
          "description": "Updates grading period settings of a course. Individual grading periods can be added, removed, or modified using this method. The requesting user and course owner must be eligible to modify Grading Periods. For details, see [licensing requirements](https://developers.google.com/workspace/classroom/grading-periods/manage-grading-periods#licensing_requirements). This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the grading period settings in a course or for access errors: * UserIneligibleToUpdateGradingPeriodSettings * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
          "request": {
            "$ref": "GradingPeriodSettings"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "courseId"
          ]
        },
        "getGradingPeriodSettings": {
          "parameterOrder": [
            "courseId"
          ],
          "description": "Returns the grading period settings in a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user isn't permitted to access the grading period settings in the requested course or for access errors. * `NOT_FOUND` if the requested course does not exist.",
          "id": "classroom.courses.getGradingPeriodSettings",
          "flatPath": "v1/courses/{courseId}/gradingPeriodSettings",
          "path": "v1/courses/{courseId}/gradingPeriodSettings",
          "httpMethod": "GET",
          "parameters": {
            "courseId": {
              "type": "string",
              "description": "Required. The identifier of the course.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ],
          "response": {
            "$ref": "GradingPeriodSettings"
          }
        },
        "update": {
          "description": "Updates a course. Note: Unlike other fields, `levels` is not cleared if omitted from the request. The `UpdateCourse` method only modifies `levels` if it is explicitly provided; otherwise, the existing value is preserved. Use the `PatchCourse` method to clear the `levels` field. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID. * `FAILED_PRECONDITION` for the following request errors: * CourseNotModifiable * CourseTitleCannotContainUrl",
          "flatPath": "v1/courses/{id}",
          "id": "classroom.courses.update",
          "request": {
            "$ref": "Course"
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "location": "path",
              "description": "Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias.",
              "required": true
            }
          },
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "Course"
          },
          "httpMethod": "PUT",
          "path": "v1/courses/{id}"
        },
        "delete": {
          "description": "Deletes a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID.",
          "path": "v1/courses/{id}",
          "flatPath": "v1/courses/{id}",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "id": "classroom.courses.delete",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifier of the course to delete. This identifier can be either the Classroom-assigned identifier or an alias."
            }
          }
        }
      },
      "resources": {
        "teachers": {
          "methods": {
            "list": {
              "flatPath": "v1/courses/{courseId}/teachers",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "description": "Returns a list of teachers of this course that the requester is permitted to view. This method returns the following error codes: * `NOT_FOUND` if the course does not exist. * `PERMISSION_DENIED` for access errors.",
              "id": "classroom.courses.teachers.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "courseId"
              ],
              "path": "v1/courses/{courseId}/teachers",
              "response": {
                "$ref": "ListTeachersResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                },
                "pageSize": {
                  "description": "Maximum number of items to return. The default is 30 if unspecified or `0`. The server may return fewer than the specified number of results.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true
                }
              }
            },
            "delete": {
              "flatPath": "v1/courses/{courseId}/teachers/{userId}",
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "parameters": {
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string"
                },
                "userId": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the teacher to delete. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "required": true
                }
              },
              "description": "Removes the specified teacher from the specified course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist. * `FAILED_PRECONDITION` if the requested ID belongs to the primary teacher of this course. * `FAILED_PRECONDITION` if the requested ID belongs to the owner of the course Drive folder. * `FAILED_PRECONDITION` if the course no longer has an active owner.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "path": "v1/courses/{courseId}/teachers/{userId}",
              "id": "classroom.courses.teachers.delete",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE"
            },
            "get": {
              "flatPath": "v1/courses/{courseId}/teachers/{userId}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "id": "classroom.courses.teachers.get",
              "description": "Returns a teacher of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist.",
              "parameters": {
                "courseId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                },
                "userId": {
                  "description": "Identifier of the teacher to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/courses/{courseId}/teachers/{userId}",
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "response": {
                "$ref": "Teacher"
              },
              "httpMethod": "GET"
            },
            "create": {
              "request": {
                "$ref": "Teacher"
              },
              "parameterOrder": [
                "courseId"
              ],
              "parameters": {
                "courseId": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Teacher"
              },
              "description": "Creates a teacher of a course. Domain administrators are permitted to [directly add](https://developers.google.com/workspace/classroom/guides/manage-users) users within their domain as teachers to courses within their domain. Non-admin users should send an Invitation instead. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create teachers in this course or for access errors. * `NOT_FOUND` if the requested course ID does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled, for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * InactiveCourseOwner * `ALREADY_EXISTS` if the user is already a teacher or student in the course.",
              "flatPath": "v1/courses/{courseId}/teachers",
              "path": "v1/courses/{courseId}/teachers",
              "id": "classroom.courses.teachers.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters"
              ]
            }
          }
        },
        "courseWork": {
          "methods": {
            "getAddOnContext": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.addons.student",
                "https://www.googleapis.com/auth/classroom.addons.teacher"
              ],
              "parameters": {
                "itemId": {
                  "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "attachmentId": {
                  "description": "Optional. The identifier of the attachment. This field is required for all requests except when the user is in the [Attachment Discovery iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/attachment-discovery-iframe).",
                  "location": "query",
                  "type": "string"
                },
                "postId": {
                  "description": "Optional. Deprecated, use `item_id` instead.",
                  "type": "string",
                  "location": "query",
                  "deprecated": true
                },
                "courseId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Identifier of the course.",
                  "location": "path"
                },
                "addOnToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. The authorization token is required when neither of the following is true: * The add-on has attachments on the post. * The developer project issuing the request is the same project that created the post."
                }
              },
              "path": "v1/courses/{courseId}/courseWork/{itemId}/addOnContext",
              "flatPath": "v1/courses/{courseId}/courseWork/{itemId}/addOnContext",
              "id": "classroom.courses.courseWork.getAddOnContext",
              "response": {
                "$ref": "AddOnContext"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "courseId",
                "itemId"
              ],
              "description": "Gets metadata for Classroom add-ons in the context of a specific post. To maintain the integrity of its own data and permissions model, an add-on should call this to validate query parameters and the requesting user's role whenever the add-on is opened in an [iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/iframes-overview). This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist."
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.students"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "flatPath": "v1/courses/{courseId}/courseWork/{id}",
              "description": "Deletes a course work. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding course work, if the requesting user is not permitted to delete the requested course or for access errors. * `FAILED_PRECONDITION` if the requested course work has already been deleted. * `NOT_FOUND` if no course exists with the requested ID.",
              "id": "classroom.courses.courseWork.delete",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path"
                },
                "id": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the course work to delete. This identifier is a Classroom-assigned identifier.",
                  "location": "path"
                }
              },
              "path": "v1/courses/{courseId}/courseWork/{id}"
            },
            "list": {
              "response": {
                "$ref": "ListCourseWorkResponse"
              },
              "parameterOrder": [
                "courseId"
              ],
              "parameters": {
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported fields are `updateTime` and `dueDate`. Supported direction keywords are `asc` and `desc`. If not specified, `updateTime desc` is the default behavior. Examples: `dueDate asc,updateTime desc`, `updateTime,dueDate desc`"
                },
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string"
                },
                "courseWorkStates": {
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "COURSE_WORK_STATE_UNSPECIFIED",
                    "PUBLISHED",
                    "DRAFT",
                    "DELETED"
                  ],
                  "repeated": true,
                  "description": "Restriction on the work status to return. Only courseWork that matches is returned. If unspecified, items with a work status of `PUBLISHED` is returned.",
                  "enumDescriptions": [
                    "No state specified. This is never returned.",
                    "Status for work that has been published. This is the default state.",
                    "Status for work that is not yet published. Work in this state is visible only to course teachers and domain administrators.",
                    "Status for work that was published but is now deleted. Work in this state is visible only to course teachers and domain administrators. Work in this state is deleted after some time."
                  ]
                },
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/courses/{courseId}/courseWork",
              "id": "classroom.courses.courseWork.list",
              "description": "Returns a list of course work that the requester is permitted to view. Course students may only view `PUBLISHED` course work. Course teachers and domain administrators may view all course work. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.me",
                "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                "https://www.googleapis.com/auth/classroom.coursework.students",
                "https://www.googleapis.com/auth/classroom.coursework.students.readonly"
              ],
              "flatPath": "v1/courses/{courseId}/courseWork"
            },
            "modifyAssignees": {
              "httpMethod": "POST",
              "description": "Modifies assignee mode and options of a coursework. Only a teacher of the course that contains the coursework may call this method. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work does not exist. * `FAILED_PRECONDITION` for the following request error: * EmptyAssignees",
              "request": {
                "$ref": "ModifyCourseWorkAssigneesRequest"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "id": "classroom.courses.courseWork.modifyAssignees",
              "flatPath": "v1/courses/{courseId}/courseWork/{id}:modifyAssignees",
              "response": {
                "$ref": "CourseWork"
              },
              "parameters": {
                "courseId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "id": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the coursework."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.students"
              ],
              "path": "v1/courses/{courseId}/courseWork/{id}:modifyAssignees"
            },
            "updateRubric": {
              "response": {
                "$ref": "Rubric"
              },
              "request": {
                "$ref": "Rubric"
              },
              "parameters": {
                "courseWorkId": {
                  "description": "Required. Identifier of the course work.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "id": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Identifier of the rubric."
                },
                "courseId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Identifier of the course.",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Optional. Mask that identifies which fields on the rubric to update. This field is required to do an update. The update fails if invalid fields are specified. There are multiple options to define the criteria of a rubric: the `source_spreadsheet_id` and the `criteria` list. Only one of these can be used at a time to define a rubric. The rubric `criteria` list is fully replaced by the rubric criteria specified in the update request. For example, if a criterion or level is missing from the request, it is deleted. New criteria and levels are added and an ID is assigned. Existing criteria and levels retain the previously assigned ID if the ID is specified in the request. The following fields can be specified by teachers: * `criteria` * `source_spreadsheet_id`"
                }
              },
              "parameterOrder": [
                "courseId",
                "courseWorkId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.students"
              ],
              "description": "Updates a rubric. See google.classroom.v1.Rubric for details of which fields can be updated. Rubric update capabilities are [limited](/classroom/rubrics/limitations) once grading has started. The requesting user and course owner must have rubrics creation capabilities. For details, see [licensing requirements](https://developers.google.com/workspace/classroom/rubrics/limitations#license-requirements). This request must be made by the Google Cloud console of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the parent course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project didn't create the corresponding course work, if the user isn't permitted to make the requested modification to the rubric, or for access errors. This error code is also returned if grading has already started on the rubric. * `INVALID_ARGUMENT` if the request is malformed and for the following request error: * `RubricCriteriaInvalidFormat` * `NOT_FOUND` if the requested course, course work, or rubric doesn't exist or if the user doesn't have access to the corresponding course work. * `INTERNAL` if grading has already started on the rubric.",
              "httpMethod": "PATCH",
              "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/rubric",
              "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/rubric",
              "id": "classroom.courses.courseWork.updateRubric"
            },
            "create": {
              "request": {
                "$ref": "CourseWork"
              },
              "parameterOrder": [
                "courseId"
              ],
              "description": "Creates course work. The resulting course work (and corresponding student submissions) are associated with the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to make the request. Classroom API requests to modify course work and student submissions must be made with an OAuth client ID from the associated Developer Console project. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create course work in the requested course, share a Drive attachment, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist. * `FAILED_PRECONDITION` for the following request error: * AttachmentNotVisible",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true
                }
              },
              "id": "classroom.courses.courseWork.create",
              "flatPath": "v1/courses/{courseId}/courseWork",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.students"
              ],
              "response": {
                "$ref": "CourseWork"
              },
              "httpMethod": "POST",
              "path": "v1/courses/{courseId}/courseWork"
            },
            "get": {
              "parameters": {
                "courseId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string"
                },
                "id": {
                  "description": "Identifier of the course work.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "classroom.courses.courseWork.get",
              "response": {
                "$ref": "CourseWork"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "description": "Returns course work. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work does not exist.",
              "path": "v1/courses/{courseId}/courseWork/{id}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.me",
                "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                "https://www.googleapis.com/auth/classroom.coursework.students",
                "https://www.googleapis.com/auth/classroom.coursework.students.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/courses/{courseId}/courseWork/{id}"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.students"
              ],
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "id": {
                  "description": "Identifier of the course work.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Mask that identifies which fields on the course work to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the `CourseWork` object. If a field that does not support empty values is included in the update mask and not set in the `CourseWork` object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `description` * `state` * `due_date` * `due_time` * `max_points` * `scheduled_time` * `submission_modification_mode` * `topic_id` * `grading_period_id` * `learning_goals`",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "CourseWork"
              },
              "path": "v1/courses/{courseId}/courseWork/{id}",
              "request": {
                "$ref": "CourseWork"
              },
              "description": "Updates one or more fields of a course work. See google.classroom.v1.CourseWork for details of which fields may be updated and who may change them. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item or an add-on attachment on the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding course work or an add-on attachment on the corresponding course work, if the user is not permitted to make the requested modification to the student submission, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if the requested course work has already been deleted. * `NOT_FOUND` if the requested course or course work does not exist.",
              "id": "classroom.courses.courseWork.patch",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "flatPath": "v1/courses/{courseId}/courseWork/{id}"
            }
          },
          "resources": {
            "addOnAttachments": {
              "resources": {
                "studentSubmissions": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "AddOnAttachmentStudentSubmission"
                      },
                      "path": "v1/courses/{courseId}/courseWork/{itemId}/addOnAttachments/{attachmentId}/studentSubmissions/{submissionId}",
                      "description": "Returns a student submission for an add-on attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                      "parameters": {
                        "itemId": {
                          "type": "string",
                          "location": "path",
                          "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                          "required": true
                        },
                        "submissionId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Identifier of the student’s submission."
                        },
                        "postId": {
                          "description": "Optional. Deprecated, use `item_id` instead.",
                          "location": "query",
                          "type": "string",
                          "deprecated": true
                        },
                        "courseId": {
                          "description": "Required. Identifier of the course.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "attachmentId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. Identifier of the attachment.",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/classroom.addons.student",
                        "https://www.googleapis.com/auth/classroom.addons.teacher",
                        "https://www.googleapis.com/auth/classroom.coursework.me",
                        "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                        "https://www.googleapis.com/auth/classroom.coursework.students",
                        "https://www.googleapis.com/auth/classroom.coursework.students.readonly",
                        "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly",
                        "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly"
                      ],
                      "id": "classroom.courses.courseWork.addOnAttachments.studentSubmissions.get",
                      "parameterOrder": [
                        "courseId",
                        "itemId",
                        "attachmentId",
                        "submissionId"
                      ],
                      "flatPath": "v1/courses/{courseId}/courseWork/{itemId}/addOnAttachments/{attachmentId}/studentSubmissions/{submissionId}"
                    },
                    "patch": {
                      "parameterOrder": [
                        "courseId",
                        "itemId",
                        "attachmentId",
                        "submissionId"
                      ],
                      "id": "classroom.courses.courseWork.addOnAttachments.studentSubmissions.patch",
                      "path": "v1/courses/{courseId}/courseWork/{itemId}/addOnAttachments/{attachmentId}/studentSubmissions/{submissionId}",
                      "response": {
                        "$ref": "AddOnAttachmentStudentSubmission"
                      },
                      "parameters": {
                        "courseId": {
                          "description": "Required. Identifier of the course.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "attachmentId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Identifier of the attachment."
                        },
                        "itemId": {
                          "required": true,
                          "type": "string",
                          "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Required. Mask that identifies which fields on the attachment to update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the `AddOnAttachmentStudentSubmission` object. The following fields may be specified by teachers: * `points_earned`",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "postId": {
                          "type": "string",
                          "description": "Optional. Deprecated, use `item_id` instead.",
                          "deprecated": true,
                          "location": "query"
                        },
                        "submissionId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. Identifier of the student's submission."
                        }
                      },
                      "description": "Updates data associated with an add-on attachment submission. Requires the add-on to have been the original creator of the attachment and the attachment to have a positive `max_points` value set. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                      "scopes": [
                        "https://www.googleapis.com/auth/classroom.addons.teacher"
                      ],
                      "flatPath": "v1/courses/{courseId}/courseWork/{itemId}/addOnAttachments/{attachmentId}/studentSubmissions/{submissionId}",
                      "request": {
                        "$ref": "AddOnAttachmentStudentSubmission"
                      },
                      "httpMethod": "PATCH"
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "parameters": {
                    "courseId": {
                      "required": true,
                      "description": "Required. Identifier of the course.",
                      "type": "string",
                      "location": "path"
                    },
                    "itemId": {
                      "required": true,
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                      "location": "path",
                      "type": "string"
                    },
                    "postId": {
                      "location": "query",
                      "deprecated": true,
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "type": "string"
                    },
                    "attachmentId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Identifier of the attachment."
                    }
                  },
                  "flatPath": "v1/courses/{courseId}/courseWork/{itemId}/addOnAttachments/{attachmentId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "id": "classroom.courses.courseWork.addOnAttachments.delete",
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "path": "v1/courses/{courseId}/courseWork/{itemId}/addOnAttachments/{attachmentId}",
                  "description": "Deletes an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist."
                },
                "patch": {
                  "flatPath": "v1/courses/{courseId}/courseWork/{itemId}/addOnAttachments/{attachmentId}",
                  "parameters": {
                    "attachmentId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Identifier of the attachment."
                    },
                    "itemId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Identifier of the post under which the attachment is attached."
                    },
                    "courseId": {
                      "required": true,
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "type": "string"
                    },
                    "postId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Identifier of the post under which the attachment is attached."
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. Mask that identifies which fields on the attachment to update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the `AddOnAttachment` object. If a field that does not support empty values is included in the update mask and not set in the `AddOnAttachment` object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `teacher_view_uri` * `student_view_uri` * `student_work_review_uri` * `due_date` * `due_time` * `max_points`",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "id": "classroom.courses.courseWork.addOnAttachments.patch",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "path": "v1/courses/{courseId}/courseWork/{itemId}/addOnAttachments/{attachmentId}",
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "description": "Updates an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ]
                },
                "create": {
                  "flatPath": "v1/courses/{courseId}/courseWork/{itemId}/addOnAttachments",
                  "parameterOrder": [
                    "courseId",
                    "itemId"
                  ],
                  "path": "v1/courses/{courseId}/courseWork/{itemId}/addOnAttachments",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "parameters": {
                    "itemId": {
                      "location": "path",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which to create the attachment. This field is required, but is not marked as such while we are migrating from post_id.",
                      "required": true,
                      "type": "string"
                    },
                    "postId": {
                      "type": "string",
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "deprecated": true,
                      "location": "query"
                    },
                    "courseId": {
                      "description": "Required. Identifier of the course.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "addOnToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. This authorization token is required for in-Classroom attachment creation but optional for partner-first attachment creation. Returns an error if not provided for partner-first attachment creation and the developer projects that created the attachment and its parent stream item do not match."
                    }
                  },
                  "description": "Creates an add-on attachment under a post. Requires the add-on to have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "id": "classroom.courses.courseWork.addOnAttachments.create"
                },
                "list": {
                  "response": {
                    "$ref": "ListAddOnAttachmentsResponse"
                  },
                  "description": "Returns all attachments created by an add-on under the post. Requires the add-on to have active attachments on the post or have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "parameterOrder": [
                    "courseId",
                    "itemId"
                  ],
                  "parameters": {
                    "courseId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Identifier of the course."
                    },
                    "itemId": {
                      "required": true,
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` whose attachments should be enumerated. This field is required, but is not marked as such while we are migrating from post_id.",
                      "type": "string",
                      "location": "path"
                    },
                    "postId": {
                      "location": "query",
                      "deprecated": true,
                      "description": "Optional. Identifier of the post under the course whose attachments to enumerate. Deprecated, use `item_id` instead.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of attachments to return. The service may return fewer than this value. If unspecified, at most 20 attachments will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListAddOnAttachments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAddOnAttachments` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "path": "v1/courses/{courseId}/courseWork/{itemId}/addOnAttachments",
                  "httpMethod": "GET",
                  "id": "classroom.courses.courseWork.addOnAttachments.list",
                  "flatPath": "v1/courses/{courseId}/courseWork/{itemId}/addOnAttachments"
                },
                "get": {
                  "path": "v1/courses/{courseId}/courseWork/{itemId}/addOnAttachments/{attachmentId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "description": "Returns an add-on attachment. Requires the add-on requesting the attachment to be the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "httpMethod": "GET",
                  "flatPath": "v1/courses/{courseId}/courseWork/{itemId}/addOnAttachments/{attachmentId}",
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "id": "classroom.courses.courseWork.addOnAttachments.get",
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "parameters": {
                    "itemId": {
                      "location": "path",
                      "type": "string",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                      "required": true
                    },
                    "postId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "deprecated": true
                    },
                    "attachmentId": {
                      "location": "path",
                      "description": "Required. Identifier of the attachment.",
                      "type": "string",
                      "required": true
                    },
                    "courseId": {
                      "required": true,
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "rubrics": {
              "methods": {
                "patch": {
                  "id": "classroom.courses.courseWork.rubrics.patch",
                  "httpMethod": "PATCH",
                  "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/rubrics/{id}",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.coursework.students"
                  ],
                  "parameterOrder": [
                    "courseId",
                    "courseWorkId",
                    "id"
[...]
