{
  "baseUrl": "https://classroom.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260908",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "basePath": "",
  "resources": {
    "userProfiles": {
      "resources": {
        "guardianInvitations": {
          "methods": {
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "request": {
                "$ref": "GuardianInvitation"
              },
              "id": "classroom.userProfiles.guardianInvitations.patch",
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "path": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "parameterOrder": [
                "studentId",
                "invitationId"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Mask that identifies which fields on the course to update. This field is required to do an update. The update fails if invalid fields are specified. The following fields are valid: * `state` When set in a query parameter, this field should be specified as `updateMask=,,...`",
                  "location": "query"
                },
                "invitationId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The `id` field of the `GuardianInvitation` to be modified."
                },
                "studentId": {
                  "required": true,
                  "description": "The ID of the student whose guardian invitation is to be modified.",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Modifies a guardian invitation. Currently, the only valid modification is to change the `state` from `PENDING` to `COMPLETE`. This has the effect of withdrawing the invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the current user does not have permission to manage guardians, if guardians are not enabled for the domain in question or for other access errors. * `FAILED_PRECONDITION` if the guardian link is not in the `PENDING` state. * `INVALID_ARGUMENT` if the format of the student ID provided cannot be recognized (it is not an email address, nor a `user_id` from this API), or if the passed `GuardianInvitation` has a `state` other than `COMPLETE`, or if it modifies fields other than `state`. * `NOT_FOUND` if the student ID provided is a valid student ID, but Classroom has no record of that student, or if the `id` field does not refer to a guardian invitation known to Classroom.",
              "response": {
                "$ref": "GuardianInvitation"
              }
            },
            "create": {
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations",
              "request": {
                "$ref": "GuardianInvitation"
              },
              "description": "Creates a guardian invitation, and sends an email to the guardian asking them to confirm that they are the student's guardian. Once the guardian accepts the invitation, their `state` will change to `COMPLETED` and they will start receiving guardian notifications. A `Guardian` resource will also be created to represent the active guardian. The request object must have the `student_id` and `invited_email_address` fields set. Failing to set these fields, or setting any other fields in the request, will result in an error. This method returns the following error codes: * `PERMISSION_DENIED` if the current user does not have permission to manage guardians, if the guardian in question has already rejected too many requests for that student, if guardians are not enabled for the domain in question, or for other access errors. * `RESOURCE_EXHAUSTED` if the student or guardian has exceeded the guardian link limit. * `INVALID_ARGUMENT` if the guardian email address is not valid (for example, if it is too long), or if the format of the student ID provided cannot be recognized (it is not an email address, nor a `user_id` from this API). This error will also be returned if read-only fields are set, or if the `state` field is set to to a value other than `PENDING`. * `NOT_FOUND` if the student ID provided is a valid student ID, but Classroom has no record of that student. * `ALREADY_EXISTS` if there is already a pending guardian invitation for the student and `invited_email_address` provided, or if the provided `invited_email_address` matches the Google account of an existing `Guardian` for this user.",
              "parameterOrder": [
                "studentId"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GuardianInvitation"
              },
              "parameters": {
                "studentId": {
                  "description": "ID of the student (in standard format)",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "id": "classroom.userProfiles.guardianInvitations.create",
              "path": "v1/userProfiles/{studentId}/guardianInvitations"
            },
            "get": {
              "description": "Returns a specific guardian invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view guardian invitations for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). * `NOT_FOUND` if Classroom cannot find any record of the given student or `invitation_id`. May also be returned if the student exists, but the requesting user does not have access to see that student.",
              "parameterOrder": [
                "studentId",
                "invitationId"
              ],
              "id": "classroom.userProfiles.guardianInvitations.get",
              "httpMethod": "GET",
              "parameters": {
                "invitationId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The `id` field of the `GuardianInvitation` being requested."
                },
                "studentId": {
                  "required": true,
                  "location": "path",
                  "description": "The ID of the student whose guardian invitation is being requested.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GuardianInvitation"
              },
              "path": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ]
            },
            "list": {
              "path": "v1/userProfiles/{studentId}/guardianInvitations",
              "id": "classroom.userProfiles.guardianInvitations.list",
              "parameters": {
                "studentId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the student whose guardian invitations are to be returned. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user * the string literal `\"-\"`, indicating that results should be returned for all students that the requesting user is permitted to view guardian invitations.",
                  "location": "path"
                },
                "invitedEmailAddress": {
                  "description": "If specified, only results with the specified `invited_email_address` are returned.",
                  "location": "query",
                  "type": "string"
                },
                "states": {
                  "repeated": true,
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "GUARDIAN_INVITATION_STATE_UNSPECIFIED",
                    "PENDING",
                    "COMPLETE"
                  ],
                  "description": "If specified, only results with the specified `state` values are returned. Otherwise, results with a `state` of `PENDING` are returned.",
                  "enumDescriptions": [
                    "Should never be returned.",
                    "The invitation is active and awaiting a response.",
                    "The invitation is no longer active. It may have been accepted, declined, withdrawn or it may have expired."
                  ]
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "parameterOrder": [
                "studentId"
              ],
              "description": "Returns a list of guardian invitations that the requesting user is permitted to view, filtered by the parameters provided. This method returns the following error codes: * `PERMISSION_DENIED` if a `student_id` is specified, and the requesting user is not permitted to view guardian invitations for that student, if `\"-\"` is specified as the `student_id` and the user is not a domain administrator, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). May also be returned if an invalid `page_token` or `state` is provided. * `NOT_FOUND` if a `student_id` is specified, and its format can be recognized, but Classroom has no record of that student.",
              "response": {
                "$ref": "ListGuardianInvitationsResponse"
              }
            }
          }
        },
        "guardians": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "response": {
                "$ref": "ListGuardiansResponse"
              },
              "description": "Returns a list of guardians that the requesting user is permitted to view, restricted to those that match the request. To list guardians for any student that the requesting user may view guardians for, use the literal character `-` for the student ID. This method returns the following error codes: * `PERMISSION_DENIED` if a `student_id` is specified, and the requesting user is not permitted to view guardian information for that student, if `\"-\"` is specified as the `student_id` and the user is not a domain administrator, if guardians are not enabled for the domain in question, if the `invited_email_address` filter is set by a user who is not a domain administrator, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). May also be returned if an invalid `page_token` is provided. * `NOT_FOUND` if a `student_id` is specified, and its format can be recognized, but Classroom has no record of that student.",
              "parameterOrder": [
                "studentId"
              ],
              "flatPath": "v1/userProfiles/{studentId}/guardians",
              "httpMethod": "GET",
              "path": "v1/userProfiles/{studentId}/guardians",
              "id": "classroom.userProfiles.guardians.list",
              "parameters": {
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query",
                  "type": "string"
                },
                "invitedEmailAddress": {
                  "location": "query",
                  "type": "string",
                  "description": "Filter results by the email address that the original invitation was sent to, resulting in this guardian link. This filter can only be used by domain administrators."
                },
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "studentId": {
                  "location": "path",
                  "type": "string",
                  "description": "Filter results by the student who the guardian is linked to. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user * the string literal `\"-\"`, indicating that results should be returned for all students that the requesting user has access to view.",
                  "required": true
                }
              }
            },
            "get": {
              "id": "classroom.userProfiles.guardians.get",
              "description": "Returns a specific guardian. This method returns the following error codes: * `PERMISSION_DENIED` if no user that matches the provided `student_id` is visible to the requesting user, if the requesting user is not permitted to view guardian information for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). * `NOT_FOUND` if the requesting user is permitted to view guardians for the requested `student_id`, but no `Guardian` record exists for that student that matches the provided `guardian_id`.",
              "parameters": {
                "guardianId": {
                  "location": "path",
                  "description": "The `id` field from a `Guardian`.",
                  "type": "string",
                  "required": true
                },
                "studentId": {
                  "required": true,
                  "description": "The student whose guardian is being requested. One of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "parameterOrder": [
                "studentId",
                "guardianId"
              ],
              "path": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "response": {
                "$ref": "Guardian"
              }
            },
            "delete": {
              "path": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "parameterOrder": [
                "studentId",
                "guardianId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "classroom.userProfiles.guardians.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "flatPath": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "description": "Deletes a guardian. The guardian will no longer receive guardian notifications and the guardian will no longer be accessible via the API. This method returns the following error codes: * `PERMISSION_DENIED` if no user that matches the provided `student_id` is visible to the requesting user, if the requesting user is not permitted to manage guardians for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API). * `NOT_FOUND` if the requesting user is permitted to modify guardians for the requested `student_id`, but no `Guardian` record exists for that student with the provided `guardian_id`.",
              "parameters": {
                "guardianId": {
                  "required": true,
                  "description": "The `id` field from a `Guardian`.",
                  "type": "string",
                  "location": "path"
                },
                "studentId": {
                  "description": "The student whose guardian is to be deleted. One of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/classroom.profile.emails",
            "https://www.googleapis.com/auth/classroom.profile.photos",
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "parameterOrder": [
            "userId"
          ],
          "flatPath": "v1/userProfiles/{userId}",
          "id": "classroom.userProfiles.get",
          "response": {
            "$ref": "UserProfile"
          },
          "httpMethod": "GET",
          "description": "Returns a user profile. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access this user profile, if no profile exists with the requested ID, or for access errors.",
          "path": "v1/userProfiles/{userId}",
          "parameters": {
            "userId": {
              "required": true,
              "type": "string",
              "description": "Identifier of the profile to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
              "location": "path"
            }
          }
        }
      }
    },
    "invitations": {
      "methods": {
        "create": {
          "path": "v1/invitations",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "Invitation"
          },
          "response": {
            "$ref": "Invitation"
          },
          "flatPath": "v1/invitations",
          "parameters": {},
          "httpMethod": "POST",
          "id": "classroom.invitations.create",
          "description": "Creates an invitation. Only one invitation for a user and course may exist at a time. Delete and re-create an invitation to make changes. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create invitations for this course or for access errors. * `NOT_FOUND` if the course or the user does not exist. * `FAILED_PRECONDITION`: * if the requested user's account is disabled. * if the user already has this role or a role with greater permissions. * for the following request errors: * IneligibleOwner * `ALREADY_EXISTS` if an invitation for the specified user and course already exists."
        },
        "get": {
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifier of the invitation to return."
            }
          },
          "flatPath": "v1/invitations/{id}",
          "httpMethod": "GET",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "id": "classroom.invitations.get",
          "description": "Returns an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view the requested invitation or for access errors. * `NOT_FOUND` if no invitation exists with the requested ID.",
          "response": {
            "$ref": "Invitation"
          },
          "path": "v1/invitations/{id}"
        },
        "accept": {
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifier of the invitation to accept."
            }
          },
          "httpMethod": "POST",
          "flatPath": "v1/invitations/{id}:accept",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "parameterOrder": [
            "id"
          ],
          "id": "classroom.invitations.accept",
          "description": "Accepts an invitation, removing it and adding the invited user to the teachers or students (as appropriate) of the specified course. Only the invited user may accept an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to accept the requested invitation or for access errors. * `FAILED_PRECONDITION` for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * `NOT_FOUND` if no invitation exists with the requested ID.",
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/invitations/{id}:accept"
        },
        "delete": {
          "id": "classroom.invitations.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "description": "Identifier of the invitation to delete.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "description": "Deletes an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested invitation or for access errors. * `NOT_FOUND` if no invitation exists with the requested ID.",
          "path": "v1/invitations/{id}",
          "parameterOrder": [
            "id"
          ],
          "flatPath": "v1/invitations/{id}"
        },
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "ListInvitationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "parameters": {
            "userId": {
              "type": "string",
              "description": "Restricts returned invitations to those for a specific user. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
              "type": "string"
            },
            "courseId": {
              "description": "Restricts returned invitations to those for a course with the specified identifier.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Maximum number of items to return. The default is 500 if unspecified or `0`. The server may return fewer than the specified number of results.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "flatPath": "v1/invitations",
          "id": "classroom.invitations.list",
          "httpMethod": "GET",
          "path": "v1/invitations",
          "description": "Returns a list of invitations that the requesting user is permitted to view, restricted to those that match the list request. *Note:* At least one of `user_id` or `course_id` must be supplied. Both fields can be supplied. This method returns the following error codes: * `PERMISSION_DENIED` for access errors."
        }
      }
    },
    "courses": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListCoursesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ],
          "httpMethod": "GET",
          "id": "classroom.courses.list",
          "parameterOrder": [],
          "path": "v1/courses",
          "parameters": {
            "studentId": {
              "location": "query",
              "type": "string",
              "description": "Restricts returned courses to those having a student with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user If specified, `teacher_id` must be empty."
            },
            "pageToken": {
              "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
              "location": "query",
              "type": "string"
            },
            "courseStates": {
              "repeated": true,
              "location": "query",
              "enumDescriptions": [
                "No course state. No returned Course message will use this value.",
                "The course is active.",
                "The course has been archived. You cannot modify it except to change it to a different state.",
                "The course has been created, but not yet activated. It is accessible by the primary teacher and domain administrators, who may modify it or change it to the `ACTIVE` or `DECLINED` states. A course may only be changed to `PROVISIONED` if it is in the `DECLINED` state.",
                "The course has been created, but declined. It is accessible by the course owner and domain administrators, though it will not be displayed in the web UI. You cannot modify the course except to change it to the `PROVISIONED` state. A course may only be changed to `DECLINED` if it is in the `PROVISIONED` state.",
                "The course has been suspended. You cannot modify the course, and only the user identified by the `owner_id` can view the course. A course may be placed in this state if it potentially violates the Terms of Service."
              ],
              "description": "Restricts returned courses to those in one of the specified states. If unspecified, Courses in any state are returned.",
              "type": "string",
              "enum": [
                "COURSE_STATE_UNSPECIFIED",
                "ACTIVE",
                "ARCHIVED",
                "PROVISIONED",
                "DECLINED",
                "SUSPENDED"
              ]
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results."
            },
            "teacherId": {
              "type": "string",
              "description": "Restricts returned courses to those having a teacher with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user If specified, `student_id` must be empty.",
              "location": "query"
            }
          },
          "flatPath": "v1/courses",
          "description": "Returns a list of courses that the requesting user is permitted to view, restricted to those that match the request. Returned courses are ordered by creation time, with the most recently created coming first. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the query argument is malformed. * `NOT_FOUND` if any users specified in the query arguments do not exist."
        },
        "patch": {
          "parameters": {
            "id": {
              "description": "Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "Mask that identifies which fields on the course to update. This field is required to do an update. The update will fail if invalid fields are specified. The following fields are valid: * `courseState` * `description` * `descriptionHeading` * `name` * `ownerId` * `room` * `section` * `subject` * `learningStandardSettings` * `levels` Note: patches to ownerId are treated as being effective immediately, but in practice it may take some time for the ownership transfer of all affected resources to complete. When set in a query parameter, this field should be specified as `updateMask=,,...`",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "path": "v1/courses/{id}",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "request": {
            "$ref": "Course"
          },
          "description": "Updates one or more fields in a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID. * `INVALID_ARGUMENT` if invalid fields are specified in the update mask or if no update mask is supplied. * `FAILED_PRECONDITION` for the following request errors: * CourseNotModifiable * InactiveCourseOwner * IneligibleOwner * CourseTitleCannotContainUrl",
          "response": {
            "$ref": "Course"
          },
          "id": "classroom.courses.patch",
          "flatPath": "v1/courses/{id}"
        },
        "get": {
          "path": "v1/courses/{id}",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "Identifier of the course to return. This identifier can be either the Classroom-assigned identifier or an alias.",
              "location": "path"
            }
          },
          "flatPath": "v1/courses/{id}",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ],
          "description": "Returns a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID.",
          "id": "classroom.courses.get",
          "response": {
            "$ref": "Course"
          }
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "response": {
            "$ref": "Course"
          },
          "id": "classroom.courses.create",
          "path": "v1/courses",
          "description": "Creates a course. The user specified in `ownerId` is the owner of the created course and added as a teacher. A non-admin requesting user can only create a course with themselves as the owner. Domain admins can create courses owned by any user within their domain. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create courses or for access errors. * `NOT_FOUND` if the primary teacher is not a valid user. * `FAILED_PRECONDITION` if the course owner's account is disabled or for the following request errors: * UserCannotOwnCourse * UserGroupsMembershipLimitReached * CourseTitleCannotContainUrl * `ALREADY_EXISTS` if an alias was specified in the `id` and already exists.",
          "flatPath": "v1/courses",
          "request": {
            "$ref": "Course"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {}
        },
        "updateGradingPeriodSettings": {
          "parameters": {
            "courseId": {
              "location": "path",
              "description": "Required. The identifier of the course.",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Mask that identifies which fields in the GradingPeriodSettings to update. The GradingPeriodSettings `grading_periods` list will be fully replaced by the grading periods specified in the update request. For example: * Grading periods included in the list without an ID are considered additions, and a new ID will be assigned when the request is made. * Grading periods that currently exist, but are missing from the request will be considered deletions. * Grading periods with an existing ID and modified data are considered edits. Unmodified data will be left as is. * Grading periods included with an unknown ID will result in an error. The following fields may be specified: * `grading_periods` * `apply_to_existing_coursework`",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GradingPeriodSettings"
          },
          "httpMethod": "PATCH",
          "path": "v1/courses/{courseId}/gradingPeriodSettings",
          "description": "Updates grading period settings of a course. Individual grading periods can be added, removed, or modified using this method. The requesting user and course owner must be eligible to modify Grading Periods. For details, see [licensing requirements](https://developers.google.com/workspace/classroom/grading-periods/manage-grading-periods#licensing_requirements). This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the grading period settings in a course or for access errors: * UserIneligibleToUpdateGradingPeriodSettings * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
          "request": {
            "$ref": "GradingPeriodSettings"
          },
          "flatPath": "v1/courses/{courseId}/gradingPeriodSettings",
          "parameterOrder": [
            "courseId"
          ],
          "id": "classroom.courses.updateGradingPeriodSettings",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "id": "classroom.courses.update",
          "httpMethod": "PUT",
          "path": "v1/courses/{id}",
          "parameters": {
            "id": {
              "type": "string",
              "location": "path",
              "description": "Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias.",
              "required": true
            }
          },
          "response": {
            "$ref": "Course"
          },
          "description": "Updates a course. Note: Unlike other fields, `levels` is not cleared if omitted from the request. The `UpdateCourse` method only modifies `levels` if it is explicitly provided; otherwise, the existing value is preserved. Use the `PatchCourse` method to clear the `levels` field. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID. * `FAILED_PRECONDITION` for the following request errors: * CourseNotModifiable * CourseTitleCannotContainUrl",
          "parameterOrder": [
            "id"
          ],
          "request": {
            "$ref": "Course"
          },
          "flatPath": "v1/courses/{id}"
        },
        "delete": {
          "path": "v1/courses/{id}",
          "description": "Deletes a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID.",
          "id": "classroom.courses.delete",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "flatPath": "v1/courses/{id}",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "Identifier of the course to delete. This identifier can be either the Classroom-assigned identifier or an alias.",
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "id"
          ]
        },
        "getGradingPeriodSettings": {
          "id": "classroom.courses.getGradingPeriodSettings",
          "description": "Returns the grading period settings in a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user isn't permitted to access the grading period settings in the requested course or for access errors. * `NOT_FOUND` if the requested course does not exist.",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ],
          "path": "v1/courses/{courseId}/gradingPeriodSettings",
          "flatPath": "v1/courses/{courseId}/gradingPeriodSettings",
          "httpMethod": "GET",
          "parameters": {
            "courseId": {
              "description": "Required. The identifier of the course.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "courseId"
          ],
          "response": {
            "$ref": "GradingPeriodSettings"
          }
        }
      },
      "resources": {
        "teachers": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "path": "v1/courses/{courseId}/teachers",
              "flatPath": "v1/courses/{courseId}/teachers",
              "description": "Returns a list of teachers of this course that the requester is permitted to view. This method returns the following error codes: * `NOT_FOUND` if the course does not exist. * `PERMISSION_DENIED` for access errors.",
              "response": {
                "$ref": "ListTeachersResponse"
              },
              "id": "classroom.courses.teachers.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Maximum number of items to return. The default is 30 if unspecified or `0`. The server may return fewer than the specified number of results."
                },
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "courseId"
              ]
            },
            "create": {
              "description": "Creates a teacher of a course. Domain administrators are permitted to [directly add](https://developers.google.com/workspace/classroom/guides/manage-users) users within their domain as teachers to courses within their domain. Non-admin users should send an Invitation instead. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create teachers in this course or for access errors. * `NOT_FOUND` if the requested course ID does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled, for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * InactiveCourseOwner * `ALREADY_EXISTS` if the user is already a teacher or student in the course.",
              "path": "v1/courses/{courseId}/teachers",
              "flatPath": "v1/courses/{courseId}/teachers",
              "id": "classroom.courses.teachers.create",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "parameterOrder": [
                "courseId"
              ],
              "request": {
                "$ref": "Teacher"
              },
              "httpMethod": "POST",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Teacher"
              }
            },
            "delete": {
              "flatPath": "v1/courses/{courseId}/teachers/{userId}",
              "httpMethod": "DELETE",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string"
                },
                "userId": {
                  "description": "Identifier of the teacher to delete. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/courses/{courseId}/teachers/{userId}",
              "response": {
                "$ref": "Empty"
              },
              "description": "Removes the specified teacher from the specified course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist. * `FAILED_PRECONDITION` if the requested ID belongs to the primary teacher of this course. * `FAILED_PRECONDITION` if the requested ID belongs to the owner of the course Drive folder. * `FAILED_PRECONDITION` if the course no longer has an active owner.",
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "id": "classroom.courses.teachers.delete"
            },
            "get": {
              "id": "classroom.courses.teachers.get",
              "path": "v1/courses/{courseId}/teachers/{userId}",
              "parameterOrder": [
                "courseId",
                "userId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "location": "path",
                  "description": "Identifier of the teacher to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "type": "string",
                  "required": true
                },
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Teacher"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.profile.emails",
                "https://www.googleapis.com/auth/classroom.profile.photos",
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "description": "Returns a teacher of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist.",
              "flatPath": "v1/courses/{courseId}/teachers/{userId}"
            }
          }
        },
        "studentGroups": {
          "resources": {
            "studentGroupMembers": {
              "methods": {
                "create": {
                  "description": "Creates a student group member for a student group. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the student group or member for access errors. * `NOT_FOUND` if the student group does not exist or the user does not have access to the student group. * `ALREADY_EXISTS` if the student group member already exists. * `FAILED_PRECONDITION` if attempting to add a member to a student group that has reached its member limit.",
                  "request": {
                    "$ref": "StudentGroupMember"
                  },
                  "flatPath": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.rosters"
                  ],
                  "parameters": {
                    "courseId": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The identifier of the course.",
                      "location": "path"
                    },
                    "studentGroupId": {
                      "description": "Required. The identifier of the student group.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "StudentGroupMember"
                  },
                  "parameterOrder": [
                    "courseId",
                    "studentGroupId"
                  ],
                  "path": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers",
                  "id": "classroom.courses.studentGroups.studentGroupMembers.create"
                },
                "delete": {
                  "path": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers/{userId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "courseId",
                    "studentGroupId",
                    "userId"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a student group member. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested student group member or for access errors. * `NOT_FOUND` if the student group member does not exist or the user does not have access to the student group.",
                  "parameters": {
                    "studentGroupId": {
                      "location": "path",
                      "description": "Required. The identifier of the student group containing the student group member to delete.",
                      "type": "string",
                      "required": true
                    },
                    "courseId": {
                      "required": true,
                      "description": "Required. The identifier of the course containing the relevant student group.",
                      "type": "string",
                      "location": "path"
                    },
                    "userId": {
                      "description": "Required. The identifier of the student group member to delete.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "classroom.courses.studentGroups.studentGroupMembers.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.rosters"
                  ],
                  "flatPath": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers/{userId}"
                },
                "list": {
                  "flatPath": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers",
                  "description": "Returns a list of students in a group. This method returns the following error codes: * `NOT_FOUND` if the course or student group does not exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.rosters",
                    "https://www.googleapis.com/auth/classroom.rosters.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "studentGroupId": {
                      "description": "Required. The identifier of the student group.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                    },
                    "courseId": {
                      "required": true,
                      "description": "Required. The identifier of the course.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "classroom.courses.studentGroups.studentGroupMembers.list",
                  "parameterOrder": [
                    "courseId",
                    "studentGroupId"
                  ],
                  "response": {
                    "$ref": "ListStudentGroupMembersResponse"
                  },
                  "path": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers"
                }
              }
            }
          },
          "methods": {
            "list": {
              "description": "Returns a list of groups in a course. This method returns the following error codes: * `NOT_FOUND` if the course does not exist.",
              "parameterOrder": [
                "courseId"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/courses/{courseId}/studentGroups",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "description": "Required. The identifier of the course.",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                },
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum, which is currently set to 75 items. The server may return fewer than the specified number of results.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "id": "classroom.courses.studentGroups.list",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "path": "v1/courses/{courseId}/studentGroups",
              "response": {
                "$ref": "ListStudentGroupsResponse"
              }
            },
            "create": {
              "response": {
                "$ref": "StudentGroup"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "request": {
                "$ref": "StudentGroup"
              },
              "description": "Creates a student group for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the student group or for access errors. * `NOT_FOUND` if the course does not exist or the requesting user doesn't have access to the course. * `FAILED_PRECONDITION` if creating the student group would exceed the maximum number of student groups per course.",
              "path": "v1/courses/{courseId}/studentGroups",
              "httpMethod": "POST",
              "flatPath": "v1/courses/{courseId}/studentGroups",
              "id": "classroom.courses.studentGroups.create",
              "parameters": {
                "courseId": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The identifier of the course.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "courseId"
              ]
            },
            "delete": {
              "id": "classroom.courses.studentGroups.delete",
              "description": "Deletes a student group. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested student group or for access errors. * `NOT_FOUND` if the student group does not exist or the user does not have access to the student group.",
              "path": "v1/courses/{courseId}/studentGroups/{id}",
              "flatPath": "v1/courses/{courseId}/studentGroups/{id}",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The identifier of the course containing the student group to delete.",
                  "required": true
                },
                "id": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The identifier of the student group to delete."
                }
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ]
            },
            "patch": {
              "request": {
                "$ref": "StudentGroup"
              },
              "response": {
                "$ref": "StudentGroup"
              },
              "id": "classroom.courses.studentGroups.patch",
              "description": "Updates one or more fields in a student group. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested student group or for access errors. * `NOT_FOUND` if the student group does not exist or the user does not have access to the student group. * `INVALID_ARGUMENT` if invalid fields are specified in the update mask or if no update mask is supplied.",
              "parameters": {
                "updateMask": {
                  "description": "Required. Mask that identifies which fields on the student group to update. This field is required to do an update. The update fails if invalid fields are specified. The following fields can be specified by teachers: * `title`",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "courseId": {
                  "required": true,
                  "description": "Required. Identifier of the course.",
                  "location": "path",
                  "type": "string"
                },
                "id": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Identifier of the student group."
                }
              },
              "httpMethod": "PATCH",
              "path": "v1/courses/{courseId}/studentGroups/{id}",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "flatPath": "v1/courses/{courseId}/studentGroups/{id}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ]
            }
          }
        },
        "topics": {
          "methods": {
            "create": {
              "request": {
                "$ref": "Topic"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Topic"
              },
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "id": "classroom.courses.topics.create",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/courses/{courseId}/topics",
              "flatPath": "v1/courses/{courseId}/topics",
              "description": "Creates a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create a topic in the requested course, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `ALREADY_EXISTS` if there exists a topic in the course with the same name. * `FAILED_PRECONDITION` for the following request error: * CourseTopicLimitReached * `NOT_FOUND` if the requested course does not exist."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics",
                "https://www.googleapis.com/auth/classroom.topics.readonly"
              ],
              "response": {
                "$ref": "ListTopicResponse"
              },
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query"
                },
                "courseId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/courses/{courseId}/topics",
              "description": "Returns the list of topics that the requester is permitted to view. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "id": "classroom.courses.topics.list",
              "parameterOrder": [
                "courseId"
              ],
              "path": "v1/courses/{courseId}/topics"
            },
            "get": {
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "id": "classroom.courses.topics.get",
              "httpMethod": "GET",
              "parameters": {
                "id": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the topic.",
                  "required": true
                },
                "courseId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course."
                }
              },
              "response": {
                "$ref": "Topic"
              },
              "description": "Returns a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or topic, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or topic does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics",
                "https://www.googleapis.com/auth/classroom.topics.readonly"
              ],
              "path": "v1/courses/{courseId}/topics/{id}"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "parameters": {
                "id": {
                  "type": "string",
                  "description": "Identifier of the topic to delete.",
                  "required": true,
                  "location": "path"
                },
                "courseId": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "path": "v1/courses/{courseId}/topics/{id}",
              "id": "classroom.courses.topics.delete",
              "description": "Deletes a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not allowed to delete the requested topic or for access errors. * `FAILED_PRECONDITION` if the requested topic has already been deleted. * `NOT_FOUND` if no course or topic exists with the requested ID.",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "response": {
                "$ref": "Empty"
              }
            },
            "patch": {
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "id": "classroom.courses.topics.patch",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "path": "v1/courses/{courseId}/topics/{id}",
              "description": "Updates one or more fields of a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding topic or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if there exists a topic in the course with the same name. * `NOT_FOUND` if the requested course or topic does not exist",
              "request": {
                "$ref": "Topic"
              },
              "parameters": {
                "courseId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Mask that identifies which fields on the topic to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the Topic object. If a field that does not support empty values is included in the update mask and not set in the Topic object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified: * `name`",
                  "location": "query"
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the topic.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Topic"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ]
            }
          }
        },
        "courseWorkMaterials": {
          "resources": {
            "addOnAttachments": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "parameters": {
                    "courseId": {
                      "required": true,
                      "description": "Required. Identifier of the course.",
                      "type": "string",
                      "location": "path"
                    },
                    "postId": {
                      "location": "query",
                      "description": "Required. Identifier of the post under which the attachment is attached.",
                      "type": "string"
                    },
                    "attachmentId": {
                      "description": "Required. Identifier of the attachment.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "itemId": {
                      "type": "string",
                      "location": "path",
                      "description": "Identifier of the post under which the attachment is attached.",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Required. Mask that identifies which fields on the attachment to update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the `AddOnAttachment` object. If a field that does not support empty values is included in the update mask and not set in the `AddOnAttachment` object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `teacher_view_uri` * `student_view_uri` * `student_work_review_uri` * `due_date` * `due_time` * `max_points`",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments/{attachmentId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "id": "classroom.courses.courseWorkMaterials.addOnAttachments.patch",
                  "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments/{attachmentId}",
                  "description": "Updates an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "request": {
                    "$ref": "AddOnAttachment"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListAddOnAttachmentsResponse"
                  },
                  "id": "classroom.courses.courseWorkMaterials.addOnAttachments.list",
                  "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments",
                  "description": "Returns all attachments created by an add-on under the post. Requires the add-on to have active attachments on the post or have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "parameterOrder": [
                    "courseId",
                    "itemId"
                  ],
                  "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments",
                  "parameters": {
                    "courseId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifier of the course.",
                      "required": true
                    },
                    "itemId": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` whose attachments should be enumerated. This field is required, but is not marked as such while we are migrating from post_id.",
                      "location": "path"
                    },
                    "postId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Identifier of the post under the course whose attachments to enumerate. Deprecated, use `item_id` instead.",
                      "deprecated": true
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListAddOnAttachments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAddOnAttachments` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of attachments to return. The service may return fewer than this value. If unspecified, at most 20 attachments will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                      "type": "integer"
                    }
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments",
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "httpMethod": "POST",
                  "id": "classroom.courses.courseWorkMaterials.addOnAttachments.create",
                  "parameters": {
                    "itemId": {
                      "required": true,
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which to create the attachment. This field is required, but is not marked as such while we are migrating from post_id.",
                      "type": "string",
                      "location": "path"
                    },
                    "courseId": {
                      "location": "path",
                      "description": "Required. Identifier of the course.",
                      "required": true,
                      "type": "string"
                    },
                    "postId": {
                      "location": "query",
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "type": "string",
                      "deprecated": true
                    },
                    "addOnToken": {
                      "type": "string",
                      "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. This authorization token is required for in-Classroom attachment creation but optional for partner-first attachment creation. Returns an error if not provided for partner-first attachment creation and the developer projects that created the attachment and its parent stream item do not match.",
                      "location": "query"
                    }
                  },
                  "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments",
                  "description": "Creates an add-on attachment under a post. Requires the add-on to have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "parameterOrder": [
                    "courseId",
                    "itemId"
                  ],
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments/{attachmentId}",
                  "id": "classroom.courses.courseWorkMaterials.addOnAttachments.get",
                  "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments/{attachmentId}",
                  "parameters": {
                    "attachmentId": {
                      "required": true,
                      "description": "Required. Identifier of the attachment.",
                      "type": "string",
                      "location": "path"
                    },
                    "itemId": {
                      "required": true,
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                      "type": "string",
                      "location": "path"
                    },
                    "courseId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Identifier of the course."
                    },
                    "postId": {
                      "deprecated": true,
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Returns an add-on attachment. Requires the add-on requesting the attachment to be the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ]
                },
                "delete": {
                  "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments/{attachmentId}",
                  "description": "Deletes an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnAttachments/{attachmentId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "postId": {
                      "deprecated": true,
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Deprecated, use `item_id` instead."
                    },
                    "courseId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifier of the course."
                    },
                    "itemId": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                      "location": "path"
                    },
                    "attachmentId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Identifier of the attachment."
                    }
                  },
                  "id": "classroom.courses.courseWorkMaterials.addOnAttachments.delete",
                  "httpMethod": "DELETE"
                }
              }
            }
          },
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials"
              ],
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "CourseWorkMaterial"
              },
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials",
              "description": "Creates a course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create course work material in the requested course, share a Drive attachment, or for access errors. * `INVALID_ARGUMENT` if the request is malformed or if more than 20 * materials are provided. * `NOT_FOUND` if the requested course does not exist. * `FAILED_PRECONDITION` for the following request error: * AttachmentNotVisible",
              "id": "classroom.courses.courseWorkMaterials.create",
              "response": {
                "$ref": "CourseWorkMaterial"
              },
              "parameterOrder": [
                "courseId"
              ],
              "path": "v1/courses/{courseId}/courseWorkMaterials"
            },
            "list": {
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials",
              "description": "Returns a list of course work material that the requester is permitted to view. Course students may only view `PUBLISHED` course work material. Course teachers and domain administrators may view all course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "path": "v1/courses/{courseId}/courseWorkMaterials",
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials",
                "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly"
              ],
              "parameters": {
                "materialLink": {
                  "location": "query",
                  "description": "Optional filtering for course work material with at least one link material whose URL partially matches the provided string.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "location": "query"
                },
                "materialDriveId": {
                  "type": "string",
                  "description": "Optional filtering for course work material with at least one Drive material whose ID matches the provided string. If `material_link` is also specified, course work material must have materials matching both filters.",
                  "location": "query"
                },
                "courseWorkMaterialStates": {
                  "repeated": true,
                  "location": "query",
                  "enumDescriptions": [
                    "No state specified. This is never returned.",
                    "Status for course work material that has been published. This is the default state.",
                    "Status for a course work material that is not yet published. Course work material in this state is visible only to course teachers and domain administrators.",
                    "Status for course work material that was published but is now deleted. Course work material in this state is visible only to course teachers and domain administrators. Course work material in this state is deleted after some time."
                  ],
                  "type": "string",
                  "enum": [
                    "COURSEWORK_MATERIAL_STATE_UNSPECIFIED",
                    "PUBLISHED",
                    "DRAFT",
                    "DELETED"
                  ],
                  "description": "Restriction on the work status to return. Only course work material that matches is returned. If unspecified, items with a work status of `PUBLISHED` is returned."
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported field is `updateTime`. Supported direction keywords are `asc` and `desc`. If not specified, `updateTime desc` is the default behavior. Examples: `updateTime asc`, `updateTime`"
                },
                "courseId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListCourseWorkMaterialResponse"
              },
              "id": "classroom.courses.courseWorkMaterials.list"
            },
            "get": {
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "description": "Returns a course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work material, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work material does not exist.",
              "response": {
                "$ref": "CourseWorkMaterial"
              },
              "path": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials",
                "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly"
              ],
              "parameters": {
                "id": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the course work material.",
                  "type": "string"
                },
                "courseId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                }
              },
              "id": "classroom.courses.courseWorkMaterials.get",
              "httpMethod": "GET"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                },
                "id": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course work material to delete. This identifier is a Classroom-assigned identifier.",
                  "required": true
                }
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "path": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "id": "classroom.courses.courseWorkMaterials.delete",
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{id}",
              "description": "Deletes a course work material. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work material item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding course work material, if the requesting user is not permitted to delete the requested course or for access errors. * `FAILED_PRECONDITION` if the requested course work material has already been deleted. * `NOT_FOUND` if no course exists with the requested ID."
            },
            "getAddOnContext": {
              "description": "Gets metadata for Classroom add-ons in the context of a specific post. To maintain the integrity of its own data and permissions model, an add-on should call this to validate query parameters and the requesting user's role whenever the add-on is opened in an [iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/iframes-overview). This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.addons.student",
                "https://www.googleapis.com/auth/classroom.addons.teacher"
              ],
              "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnContext",
              "parameterOrder": [
                "courseId",
                "itemId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "addOnToken": {
                  "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. The authorization token is required when neither of the following is true: * The add-on has attachments on the post. * The developer project issuing the request is the same project that created the post.",
                  "location": "query",
                  "type": "string"
                },
                "attachmentId": {
                  "location": "query",
                  "description": "Optional. The identifier of the attachment. This field is required for all requests except when the user is in the [Attachment Discovery iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/attachment-discovery-iframe).",
                  "type": "string"
                },
                "postId": {
                  "description": "Optional. Deprecated, use `item_id` instead.",
                  "deprecated": true,
                  "location": "query",
                  "type": "string"
                },
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Identifier of the course.",
                  "required": true
                },
                "itemId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                  "required": true
                }
              },
              "response": {
                "$ref": "AddOnContext"
              },
              "id": "classroom.courses.courseWorkMaterials.getAddOnContext",
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnContext"
            },
            "patch": {
              "id": "classroom.courses.courseWorkMaterials.patch",
              "parameters": {
                "id": {
                  "description": "Identifier of the course work material.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
[...]
