{
  "revision": "20260908",
  "version": "v1",
  "mtlsRootUrl": "https://classroom.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "id": "classroom:v1",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://classroom.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/classroom/",
  "kind": "discovery#restDescription",
  "baseUrl": "https://classroom.googleapis.com/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "description": "Manages classes, rosters, and invitations in Google Classroom.",
  "batchPath": "batch",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "ownerName": "Google",
  "resources": {
    "registrations": {
      "methods": {
        "delete": {
          "parameters": {
            "registrationId": {
              "required": true,
              "description": "The `registration_id` of the `Registration` to be deleted.",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.push-notifications"
          ],
          "id": "classroom.registrations.delete",
          "parameterOrder": [
            "registrationId"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v1/registrations/{registrationId}",
          "path": "v1/registrations/{registrationId}",
          "description": "Deletes a `Registration`, causing Classroom to stop sending notifications for that `Registration`.",
          "response": {
            "$ref": "Empty"
          }
        },
        "create": {
          "flatPath": "v1/registrations",
          "parameterOrder": [],
          "path": "v1/registrations",
          "httpMethod": "POST",
          "description": "Creates a `Registration`, causing Classroom to start sending notifications from the provided `feed` to the destination provided in `cloudPubSubTopic`. Returns the created `Registration`. Currently, this will be the same as the argument, but with server-assigned fields such as `expiry_time` and `id` filled in. Note that any value specified for the `expiry_time` or `id` fields will be ignored. While Classroom may validate the `cloudPubSubTopic` and return errors on a best effort basis, it is the caller's responsibility to ensure that it exists and that Classroom has permission to publish to it. This method may return the following error codes: * `PERMISSION_DENIED` if: * the authenticated user does not have permission to receive notifications from the requested field; or * the current user has not granted access to the current Cloud project with the appropriate scope for the requested feed. Note that domain-wide delegation of authority is not currently supported for this purpose. If the request has the appropriate scope, but no grant exists, a Request Errors is returned. * another access error is encountered. * `INVALID_ARGUMENT` if: * no `cloudPubsubTopic` is specified, or the specified `cloudPubsubTopic` is not valid; or * no `feed` is specified, or the specified `feed` is not valid. * `NOT_FOUND` if: * the specified `feed` cannot be located, or the requesting user does not have permission to determine whether or not it exists; or * the specified `cloudPubsubTopic` cannot be located, or Classroom has not been granted permission to publish to it.",
          "request": {
            "$ref": "Registration"
          },
          "response": {
            "$ref": "Registration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.push-notifications"
          ],
          "parameters": {},
          "id": "classroom.registrations.create"
        }
      }
    },
    "userProfiles": {
      "methods": {
        "get": {
          "path": "v1/userProfiles/{userId}",
          "httpMethod": "GET",
          "flatPath": "v1/userProfiles/{userId}",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.profile.emails",
            "https://www.googleapis.com/auth/classroom.profile.photos",
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "response": {
            "$ref": "UserProfile"
          },
          "description": "Returns a user profile. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access this user profile, if no profile exists with the requested ID, or for access errors.",
          "parameterOrder": [
            "userId"
          ],
          "parameters": {
            "userId": {
              "type": "string",
              "description": "Identifier of the profile to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
              "location": "path",
              "required": true
            }
          },
          "id": "classroom.userProfiles.get"
        }
      },
      "resources": {
        "guardians": {
          "methods": {
            "get": {
              "id": "classroom.userProfiles.guardians.get",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "studentId",
                "guardianId"
              ],
              "path": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "description": "Returns a specific guardian. This method returns the following error codes: * `PERMISSION_DENIED` if no user that matches the provided `student_id` is visible to the requesting user, if the requesting user is not permitted to view guardian information for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). * `NOT_FOUND` if the requesting user is permitted to view guardians for the requested `student_id`, but no `Guardian` record exists for that student that matches the provided `guardian_id`.",
              "parameters": {
                "studentId": {
                  "type": "string",
                  "required": true,
                  "description": "The student whose guardian is being requested. One of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "location": "path"
                },
                "guardianId": {
                  "required": true,
                  "description": "The `id` field from a `Guardian`.",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Guardian"
              },
              "flatPath": "v1/userProfiles/{studentId}/guardians/{guardianId}"
            },
            "list": {
              "response": {
                "$ref": "ListGuardiansResponse"
              },
              "flatPath": "v1/userProfiles/{studentId}/guardians",
              "httpMethod": "GET",
              "id": "classroom.userProfiles.guardians.list",
              "parameterOrder": [
                "studentId"
              ],
              "path": "v1/userProfiles/{studentId}/guardians",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query"
                },
                "invitedEmailAddress": {
                  "description": "Filter results by the email address that the original invitation was sent to, resulting in this guardian link. This filter can only be used by domain administrators.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "studentId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Filter results by the student who the guardian is linked to. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user * the string literal `\"-\"`, indicating that results should be returned for all students that the requesting user has access to view."
                }
              },
              "description": "Returns a list of guardians that the requesting user is permitted to view, restricted to those that match the request. To list guardians for any student that the requesting user may view guardians for, use the literal character `-` for the student ID. This method returns the following error codes: * `PERMISSION_DENIED` if a `student_id` is specified, and the requesting user is not permitted to view guardian information for that student, if `\"-\"` is specified as the `student_id` and the user is not a domain administrator, if guardians are not enabled for the domain in question, if the `invited_email_address` filter is set by a user who is not a domain administrator, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). May also be returned if an invalid `page_token` is provided. * `NOT_FOUND` if a `student_id` is specified, and its format can be recognized, but Classroom has no record of that student."
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "description": "Deletes a guardian. The guardian will no longer receive guardian notifications and the guardian will no longer be accessible via the API. This method returns the following error codes: * `PERMISSION_DENIED` if no user that matches the provided `student_id` is visible to the requesting user, if the requesting user is not permitted to manage guardians for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API). * `NOT_FOUND` if the requesting user is permitted to modify guardians for the requested `student_id`, but no `Guardian` record exists for that student with the provided `guardian_id`.",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "parameterOrder": [
                "studentId",
                "guardianId"
              ],
              "path": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "parameters": {
                "studentId": {
                  "location": "path",
                  "type": "string",
                  "description": "The student whose guardian is to be deleted. One of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "required": true
                },
                "guardianId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The `id` field from a `Guardian`."
                }
              },
              "id": "classroom.userProfiles.guardians.delete"
            }
          }
        },
        "guardianInvitations": {
          "methods": {
            "patch": {
              "parameters": {
                "invitationId": {
                  "location": "path",
                  "description": "The `id` field of the `GuardianInvitation` to be modified.",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Mask that identifies which fields on the course to update. This field is required to do an update. The update fails if invalid fields are specified. The following fields are valid: * `state` When set in a query parameter, this field should be specified as `updateMask=,,...`",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "studentId": {
                  "description": "The ID of the student whose guardian invitation is to be modified.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "classroom.userProfiles.guardianInvitations.patch",
              "response": {
                "$ref": "GuardianInvitation"
              },
              "parameterOrder": [
                "studentId",
                "invitationId"
              ],
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "path": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "request": {
                "$ref": "GuardianInvitation"
              },
              "description": "Modifies a guardian invitation. Currently, the only valid modification is to change the `state` from `PENDING` to `COMPLETE`. This has the effect of withdrawing the invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the current user does not have permission to manage guardians, if guardians are not enabled for the domain in question or for other access errors. * `FAILED_PRECONDITION` if the guardian link is not in the `PENDING` state. * `INVALID_ARGUMENT` if the format of the student ID provided cannot be recognized (it is not an email address, nor a `user_id` from this API), or if the passed `GuardianInvitation` has a `state` other than `COMPLETE`, or if it modifies fields other than `state`. * `NOT_FOUND` if the student ID provided is a valid student ID, but Classroom has no record of that student, or if the `id` field does not refer to a guardian invitation known to Classroom."
            },
            "get": {
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "response": {
                "$ref": "GuardianInvitation"
              },
              "httpMethod": "GET",
              "parameters": {
                "invitationId": {
                  "description": "The `id` field of the `GuardianInvitation` being requested.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "studentId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the student whose guardian invitation is being requested."
                }
              },
              "description": "Returns a specific guardian invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view guardian invitations for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). * `NOT_FOUND` if Classroom cannot find any record of the given student or `invitation_id`. May also be returned if the student exists, but the requesting user does not have access to see that student.",
              "parameterOrder": [
                "studentId",
                "invitationId"
              ],
              "path": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "id": "classroom.userProfiles.guardianInvitations.get"
            },
            "list": {
              "response": {
                "$ref": "ListGuardianInvitationsResponse"
              },
              "description": "Returns a list of guardian invitations that the requesting user is permitted to view, filtered by the parameters provided. This method returns the following error codes: * `PERMISSION_DENIED` if a `student_id` is specified, and the requesting user is not permitted to view guardian invitations for that student, if `\"-\"` is specified as the `student_id` and the user is not a domain administrator, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). May also be returned if an invalid `page_token` or `state` is provided. * `NOT_FOUND` if a `student_id` is specified, and its format can be recognized, but Classroom has no record of that student.",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations",
              "id": "classroom.userProfiles.guardianInvitations.list",
              "httpMethod": "GET",
              "path": "v1/userProfiles/{studentId}/guardianInvitations",
              "parameterOrder": [
                "studentId"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "states": {
                  "repeated": true,
                  "location": "query",
                  "enum": [
                    "GUARDIAN_INVITATION_STATE_UNSPECIFIED",
                    "PENDING",
                    "COMPLETE"
                  ],
                  "enumDescriptions": [
                    "Should never be returned.",
                    "The invitation is active and awaiting a response.",
                    "The invitation is no longer active. It may have been accepted, declined, withdrawn or it may have expired."
                  ],
                  "type": "string",
                  "description": "If specified, only results with the specified `state` values are returned. Otherwise, results with a `state` of `PENDING` are returned."
                },
                "studentId": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the student whose guardian invitations are to be returned. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user * the string literal `\"-\"`, indicating that results should be returned for all students that the requesting user is permitted to view guardian invitations.",
                  "type": "string"
                },
                "invitedEmailAddress": {
                  "type": "string",
                  "description": "If specified, only results with the specified `invited_email_address` are returned.",
                  "location": "query"
                }
              }
            },
            "create": {
              "description": "Creates a guardian invitation, and sends an email to the guardian asking them to confirm that they are the student's guardian. Once the guardian accepts the invitation, their `state` will change to `COMPLETED` and they will start receiving guardian notifications. A `Guardian` resource will also be created to represent the active guardian. The request object must have the `student_id` and `invited_email_address` fields set. Failing to set these fields, or setting any other fields in the request, will result in an error. This method returns the following error codes: * `PERMISSION_DENIED` if the current user does not have permission to manage guardians, if the guardian in question has already rejected too many requests for that student, if guardians are not enabled for the domain in question, or for other access errors. * `RESOURCE_EXHAUSTED` if the student or guardian has exceeded the guardian link limit. * `INVALID_ARGUMENT` if the guardian email address is not valid (for example, if it is too long), or if the format of the student ID provided cannot be recognized (it is not an email address, nor a `user_id` from this API). This error will also be returned if read-only fields are set, or if the `state` field is set to to a value other than `PENDING`. * `NOT_FOUND` if the student ID provided is a valid student ID, but Classroom has no record of that student. * `ALREADY_EXISTS` if there is already a pending guardian invitation for the student and `invited_email_address` provided, or if the provided `invited_email_address` matches the Google account of an existing `Guardian` for this user.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "parameterOrder": [
                "studentId"
              ],
              "id": "classroom.userProfiles.guardianInvitations.create",
              "request": {
                "$ref": "GuardianInvitation"
              },
              "response": {
                "$ref": "GuardianInvitation"
              },
              "path": "v1/userProfiles/{studentId}/guardianInvitations",
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations",
              "parameters": {
                "studentId": {
                  "required": true,
                  "location": "path",
                  "description": "ID of the student (in standard format)",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "courses": {
      "methods": {
        "create": {
          "path": "v1/courses",
          "flatPath": "v1/courses",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "response": {
            "$ref": "Course"
          },
          "parameterOrder": [],
          "request": {
            "$ref": "Course"
          },
          "description": "Creates a course. The user specified in `ownerId` is the owner of the created course and added as a teacher. A non-admin requesting user can only create a course with themselves as the owner. Domain admins can create courses owned by any user within their domain. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create courses or for access errors. * `NOT_FOUND` if the primary teacher is not a valid user. * `FAILED_PRECONDITION` if the course owner's account is disabled or for the following request errors: * UserCannotOwnCourse * UserGroupsMembershipLimitReached * CourseTitleCannotContainUrl * `ALREADY_EXISTS` if an alias was specified in the `id` and already exists.",
          "id": "classroom.courses.create",
          "httpMethod": "POST"
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "id": "classroom.courses.delete",
          "flatPath": "v1/courses/{id}",
          "parameters": {
            "id": {
              "description": "Identifier of the course to delete. This identifier can be either the Classroom-assigned identifier or an alias.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Deletes a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID.",
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "path": "v1/courses/{id}"
        },
        "getGradingPeriodSettings": {
          "response": {
            "$ref": "GradingPeriodSettings"
          },
          "httpMethod": "GET",
          "flatPath": "v1/courses/{courseId}/gradingPeriodSettings",
          "parameterOrder": [
            "courseId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ],
          "description": "Returns the grading period settings in a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user isn't permitted to access the grading period settings in the requested course or for access errors. * `NOT_FOUND` if the requested course does not exist.",
          "path": "v1/courses/{courseId}/gradingPeriodSettings",
          "id": "classroom.courses.getGradingPeriodSettings",
          "parameters": {
            "courseId": {
              "description": "Required. The identifier of the course.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "list": {
          "flatPath": "v1/courses",
          "path": "v1/courses",
          "response": {
            "$ref": "ListCoursesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ],
          "parameters": {
            "teacherId": {
              "type": "string",
              "location": "query",
              "description": "Restricts returned courses to those having a teacher with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user If specified, `student_id` must be empty."
            },
            "pageToken": {
              "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results."
            },
            "courseStates": {
              "enumDescriptions": [
                "No course state. No returned Course message will use this value.",
                "The course is active.",
                "The course has been archived. You cannot modify it except to change it to a different state.",
                "The course has been created, but not yet activated. It is accessible by the primary teacher and domain administrators, who may modify it or change it to the `ACTIVE` or `DECLINED` states. A course may only be changed to `PROVISIONED` if it is in the `DECLINED` state.",
                "The course has been created, but declined. It is accessible by the course owner and domain administrators, though it will not be displayed in the web UI. You cannot modify the course except to change it to the `PROVISIONED` state. A course may only be changed to `DECLINED` if it is in the `PROVISIONED` state.",
                "The course has been suspended. You cannot modify the course, and only the user identified by the `owner_id` can view the course. A course may be placed in this state if it potentially violates the Terms of Service."
              ],
              "description": "Restricts returned courses to those in one of the specified states. If unspecified, Courses in any state are returned.",
              "repeated": true,
              "type": "string",
              "location": "query",
              "enum": [
                "COURSE_STATE_UNSPECIFIED",
                "ACTIVE",
                "ARCHIVED",
                "PROVISIONED",
                "DECLINED",
                "SUSPENDED"
              ]
            },
            "studentId": {
              "location": "query",
              "type": "string",
              "description": "Restricts returned courses to those having a student with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user If specified, `teacher_id` must be empty."
            }
          },
          "id": "classroom.courses.list",
          "description": "Returns a list of courses that the requesting user is permitted to view, restricted to those that match the request. Returned courses are ordered by creation time, with the most recently created coming first. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the query argument is malformed. * `NOT_FOUND` if any users specified in the query arguments do not exist."
        },
        "get": {
          "flatPath": "v1/courses/{id}",
          "id": "classroom.courses.get",
          "response": {
            "$ref": "Course"
          },
          "path": "v1/courses/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "type": "string",
              "description": "Identifier of the course to return. This identifier can be either the Classroom-assigned identifier or an alias.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "description": "Returns a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID."
        },
        "patch": {
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias.",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "description": "Mask that identifies which fields on the course to update. This field is required to do an update. The update will fail if invalid fields are specified. The following fields are valid: * `courseState` * `description` * `descriptionHeading` * `name` * `ownerId` * `room` * `section` * `subject` * `learningStandardSettings` * `levels` Note: patches to ownerId are treated as being effective immediately, but in practice it may take some time for the ownership transfer of all affected resources to complete. When set in a query parameter, this field should be specified as `updateMask=,,...`",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "id": "classroom.courses.patch",
          "path": "v1/courses/{id}",
          "description": "Updates one or more fields in a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID. * `INVALID_ARGUMENT` if invalid fields are specified in the update mask or if no update mask is supplied. * `FAILED_PRECONDITION` for the following request errors: * CourseNotModifiable * InactiveCourseOwner * IneligibleOwner * CourseTitleCannotContainUrl",
          "flatPath": "v1/courses/{id}",
          "request": {
            "$ref": "Course"
          },
          "response": {
            "$ref": "Course"
          },
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "PATCH"
        },
        "updateGradingPeriodSettings": {
          "description": "Updates grading period settings of a course. Individual grading periods can be added, removed, or modified using this method. The requesting user and course owner must be eligible to modify Grading Periods. For details, see [licensing requirements](https://developers.google.com/workspace/classroom/grading-periods/manage-grading-periods#licensing_requirements). This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the grading period settings in a course or for access errors: * UserIneligibleToUpdateGradingPeriodSettings * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
          "parameterOrder": [
            "courseId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "response": {
            "$ref": "GradingPeriodSettings"
          },
          "parameters": {
            "courseId": {
              "required": true,
              "location": "path",
              "description": "Required. The identifier of the course.",
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Mask that identifies which fields in the GradingPeriodSettings to update. The GradingPeriodSettings `grading_periods` list will be fully replaced by the grading periods specified in the update request. For example: * Grading periods included in the list without an ID are considered additions, and a new ID will be assigned when the request is made. * Grading periods that currently exist, but are missing from the request will be considered deletions. * Grading periods with an existing ID and modified data are considered edits. Unmodified data will be left as is. * Grading periods included with an unknown ID will result in an error. The following fields may be specified: * `grading_periods` * `apply_to_existing_coursework`",
              "location": "query"
            }
          },
          "flatPath": "v1/courses/{courseId}/gradingPeriodSettings",
          "request": {
            "$ref": "GradingPeriodSettings"
          },
          "httpMethod": "PATCH",
          "id": "classroom.courses.updateGradingPeriodSettings",
          "path": "v1/courses/{courseId}/gradingPeriodSettings"
        },
        "update": {
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "Course"
          },
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "Course"
          },
          "flatPath": "v1/courses/{id}",
          "path": "v1/courses/{id}",
          "httpMethod": "PUT",
          "id": "classroom.courses.update",
          "description": "Updates a course. Note: Unlike other fields, `levels` is not cleared if omitted from the request. The `UpdateCourse` method only modifies `levels` if it is explicitly provided; otherwise, the existing value is preserved. Use the `PatchCourse` method to clear the `levels` field. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID. * `FAILED_PRECONDITION` for the following request errors: * CourseNotModifiable * CourseTitleCannotContainUrl",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ]
        }
      },
      "resources": {
        "posts": {
          "resources": {
            "addOnAttachments": {
              "resources": {
                "studentSubmissions": {
                  "methods": {
                    "patch": {
                      "httpMethod": "PATCH",
                      "path": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}/studentSubmissions/{submissionId}",
                      "parameterOrder": [
                        "courseId",
                        "postId",
                        "attachmentId",
                        "submissionId"
                      ],
                      "response": {
                        "$ref": "AddOnAttachmentStudentSubmission"
                      },
                      "flatPath": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}/studentSubmissions/{submissionId}",
                      "description": "Updates data associated with an add-on attachment submission. Requires the add-on to have been the original creator of the attachment and the attachment to have a positive `max_points` value set. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                      "parameters": {
                        "postId": {
                          "location": "path",
                          "type": "string",
                          "description": "Optional. Deprecated, use `item_id` instead.",
                          "required": true
                        },
                        "submissionId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Identifier of the student's submission."
                        },
                        "itemId": {
                          "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                          "location": "query",
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Required. Mask that identifies which fields on the attachment to update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the `AddOnAttachmentStudentSubmission` object. The following fields may be specified by teachers: * `points_earned`"
                        },
                        "courseId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Identifier of the course."
                        },
                        "attachmentId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Identifier of the attachment.",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/classroom.addons.teacher"
                      ],
                      "request": {
                        "$ref": "AddOnAttachmentStudentSubmission"
                      },
                      "id": "classroom.courses.posts.addOnAttachments.studentSubmissions.patch"
                    },
                    "get": {
                      "path": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}/studentSubmissions/{submissionId}",
                      "parameterOrder": [
                        "courseId",
                        "postId",
                        "attachmentId",
                        "submissionId"
                      ],
                      "description": "Returns a student submission for an add-on attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                      "httpMethod": "GET",
                      "parameters": {
                        "courseId": {
                          "description": "Required. Identifier of the course.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "postId": {
                          "required": true,
                          "type": "string",
                          "description": "Optional. Deprecated, use `item_id` instead.",
                          "location": "path"
                        },
                        "attachmentId": {
                          "description": "Required. Identifier of the attachment.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "itemId": {
                          "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                          "type": "string",
                          "location": "query"
                        },
                        "submissionId": {
                          "location": "path",
                          "description": "Required. Identifier of the student’s submission.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "classroom.courses.posts.addOnAttachments.studentSubmissions.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/classroom.addons.student",
                        "https://www.googleapis.com/auth/classroom.addons.teacher",
                        "https://www.googleapis.com/auth/classroom.coursework.me",
                        "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                        "https://www.googleapis.com/auth/classroom.coursework.students",
                        "https://www.googleapis.com/auth/classroom.coursework.students.readonly",
                        "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly",
                        "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly"
                      ],
                      "flatPath": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}/studentSubmissions/{submissionId}",
                      "response": {
                        "$ref": "AddOnAttachmentStudentSubmission"
                      }
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "parameters": {
                    "attachmentId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Identifier of the attachment."
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. Mask that identifies which fields on the attachment to update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the `AddOnAttachment` object. If a field that does not support empty values is included in the update mask and not set in the `AddOnAttachment` object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `teacher_view_uri` * `student_view_uri` * `student_work_review_uri` * `due_date` * `due_time` * `max_points`"
                    },
                    "postId": {
                      "required": true,
                      "description": "Required. Identifier of the post under which the attachment is attached.",
                      "location": "path",
                      "type": "string"
                    },
                    "itemId": {
                      "type": "string",
                      "location": "query",
                      "description": "Identifier of the post under which the attachment is attached."
                    },
                    "courseId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifier of the course."
                    }
                  },
                  "id": "classroom.courses.posts.addOnAttachments.patch",
                  "path": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}",
                  "parameterOrder": [
                    "courseId",
                    "postId",
                    "attachmentId"
                  ],
                  "description": "Updates an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}",
                  "response": {
                    "$ref": "AddOnAttachment"
                  }
                },
                "list": {
                  "path": "v1/courses/{courseId}/posts/{postId}/addOnAttachments",
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "id": "classroom.courses.posts.addOnAttachments.list",
                  "httpMethod": "GET",
                  "flatPath": "v1/courses/{courseId}/posts/{postId}/addOnAttachments",
                  "parameters": {
                    "postId": {
                      "required": true,
                      "description": "Optional. Identifier of the post under the course whose attachments to enumerate. Deprecated, use `item_id` instead.",
                      "type": "string",
                      "location": "path"
                    },
                    "courseId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifier of the course.",
                      "required": true
                    },
                    "itemId": {
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` whose attachments should be enumerated. This field is required, but is not marked as such while we are migrating from post_id.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListAddOnAttachments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAddOnAttachments` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of attachments to return. The service may return fewer than this value. If unspecified, at most 20 attachments will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListAddOnAttachmentsResponse"
                  },
                  "parameterOrder": [
                    "courseId",
                    "postId"
                  ],
                  "description": "Returns all attachments created by an add-on under the post. Requires the add-on to have active attachments on the post or have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist."
                },
                "delete": {
                  "parameterOrder": [
                    "courseId",
                    "postId",
                    "attachmentId"
                  ],
                  "parameters": {
                    "courseId": {
                      "location": "path",
                      "description": "Required. Identifier of the course.",
                      "type": "string",
                      "required": true
                    },
                    "postId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Optional. Deprecated, use `item_id` instead."
                    },
                    "attachmentId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Identifier of the attachment."
                    },
                    "itemId": {
                      "location": "query",
                      "type": "string",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "description": "Deletes an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "id": "classroom.courses.posts.addOnAttachments.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}",
                  "flatPath": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}",
                  "httpMethod": "DELETE"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "id": "classroom.courses.posts.addOnAttachments.get",
                  "flatPath": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}",
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "parameterOrder": [
                    "courseId",
                    "postId",
                    "attachmentId"
                  ],
                  "parameters": {
                    "postId": {
                      "location": "path",
                      "type": "string",
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "required": true
                    },
                    "itemId": {
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                      "location": "query",
                      "type": "string"
                    },
                    "attachmentId": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Identifier of the attachment.",
                      "type": "string"
                    },
                    "courseId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Identifier of the course."
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Returns an add-on attachment. Requires the add-on requesting the attachment to be the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "path": "v1/courses/{courseId}/posts/{postId}/addOnAttachments/{attachmentId}"
                },
                "create": {
                  "path": "v1/courses/{courseId}/posts/{postId}/addOnAttachments",
                  "description": "Creates an add-on attachment under a post. Requires the add-on to have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "httpMethod": "POST",
                  "id": "classroom.courses.posts.addOnAttachments.create",
                  "flatPath": "v1/courses/{courseId}/posts/{postId}/addOnAttachments",
                  "parameters": {
                    "addOnToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. This authorization token is required for in-Classroom attachment creation but optional for partner-first attachment creation. Returns an error if not provided for partner-first attachment creation and the developer projects that created the attachment and its parent stream item do not match."
                    },
                    "courseId": {
                      "location": "path",
                      "description": "Required. Identifier of the course.",
                      "type": "string",
                      "required": true
                    },
                    "postId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Optional. Deprecated, use `item_id` instead."
                    },
                    "itemId": {
                      "location": "query",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which to create the attachment. This field is required, but is not marked as such while we are migrating from post_id.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "parameterOrder": [
                    "courseId",
                    "postId"
                  ]
                }
              }
            }
          },
          "methods": {
            "getAddOnContext": {
              "parameters": {
                "attachmentId": {
                  "location": "query",
                  "description": "Optional. The identifier of the attachment. This field is required for all requests except when the user is in the [Attachment Discovery iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/attachment-discovery-iframe).",
                  "type": "string"
                },
                "itemId": {
                  "type": "string",
                  "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                  "location": "query"
                },
                "addOnToken": {
                  "type": "string",
                  "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. The authorization token is required when neither of the following is true: * The add-on has attachments on the post. * The developer project issuing the request is the same project that created the post.",
                  "location": "query"
                },
                "courseId": {
                  "location": "path",
                  "description": "Required. Identifier of the course.",
                  "type": "string",
                  "required": true
                },
                "postId": {
                  "description": "Optional. Deprecated, use `item_id` instead.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "classroom.courses.posts.getAddOnContext",
              "flatPath": "v1/courses/{courseId}/posts/{postId}/addOnContext",
              "path": "v1/courses/{courseId}/posts/{postId}/addOnContext",
              "response": {
                "$ref": "AddOnContext"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.addons.student",
                "https://www.googleapis.com/auth/classroom.addons.teacher"
              ],
              "httpMethod": "GET",
              "description": "Gets metadata for Classroom add-ons in the context of a specific post. To maintain the integrity of its own data and permissions model, an add-on should call this to validate query parameters and the requesting user's role whenever the add-on is opened in an [iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/iframes-overview). This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
              "parameterOrder": [
                "courseId",
                "postId"
              ]
            }
          }
        },
        "topics": {
          "methods": {
            "create": {
              "request": {
                "$ref": "Topic"
              },
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "httpMethod": "POST",
              "path": "v1/courses/{courseId}/topics",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "classroom.courses.topics.create",
              "description": "Creates a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create a topic in the requested course, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `ALREADY_EXISTS` if there exists a topic in the course with the same name. * `FAILED_PRECONDITION` for the following request error: * CourseTopicLimitReached * `NOT_FOUND` if the requested course does not exist.",
              "flatPath": "v1/courses/{courseId}/topics",
              "response": {
                "$ref": "Topic"
              }
            },
            "delete": {
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "id": "classroom.courses.topics.delete",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "path": "v1/courses/{courseId}/topics/{id}",
              "description": "Deletes a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not allowed to delete the requested topic or for access errors. * `FAILED_PRECONDITION` if the requested topic has already been deleted. * `NOT_FOUND` if no course or topic exists with the requested ID.",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "id": {
                  "description": "Identifier of the topic to delete.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "list": {
              "flatPath": "v1/courses/{courseId}/topics",
              "parameterOrder": [
                "courseId"
              ],
              "description": "Returns the list of topics that the requester is permitted to view. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "response": {
                "$ref": "ListTopicResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics",
                "https://www.googleapis.com/auth/classroom.topics.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string",
                  "location": "query"
                },
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "id": "classroom.courses.topics.list",
              "path": "v1/courses/{courseId}/topics"
            },
            "patch": {
              "request": {
                "$ref": "Topic"
              },
              "id": "classroom.courses.topics.patch",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics"
              ],
              "path": "v1/courses/{courseId}/topics/{id}",
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Mask that identifies which fields on the topic to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the Topic object. If a field that does not support empty values is included in the update mask and not set in the Topic object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified: * `name`",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "id": {
                  "required": true,
                  "description": "Identifier of the topic.",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Topic"
              },
              "httpMethod": "PATCH",
              "description": "Updates one or more fields of a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding topic or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if there exists a topic in the course with the same name. * `NOT_FOUND` if the requested course or topic does not exist",
              "parameterOrder": [
                "courseId",
                "id"
              ]
            },
            "get": {
              "parameters": {
                "courseId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the course.",
                  "location": "path"
                },
                "id": {
                  "required": true,
                  "description": "Identifier of the topic.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Topic"
              },
              "flatPath": "v1/courses/{courseId}/topics/{id}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.topics",
                "https://www.googleapis.com/auth/classroom.topics.readonly"
              ],
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "path": "v1/courses/{courseId}/topics/{id}",
              "id": "classroom.courses.topics.get",
              "httpMethod": "GET",
              "description": "Returns a topic. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or topic, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or topic does not exist."
            }
          }
        },
        "aliases": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "description": "Creates an alias for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the alias or for access errors. * `NOT_FOUND` if the course does not exist. * `ALREADY_EXISTS` if the alias already exists. * `FAILED_PRECONDITION` if the alias requested does not make sense for the requesting user or course (for example, if a user not in a domain attempts to access a domain-scoped alias).",
              "id": "classroom.courses.aliases.create",
              "request": {
                "$ref": "CourseAlias"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses"
              ],
              "parameterOrder": [
                "courseId"
              ],
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course to alias. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "CourseAlias"
              },
              "path": "v1/courses/{courseId}/aliases",
              "flatPath": "v1/courses/{courseId}/aliases"
            },
            "delete": {
              "description": "Deletes an alias of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to remove the alias or for access errors. * `NOT_FOUND` if the alias does not exist. * `FAILED_PRECONDITION` if the alias requested does not make sense for the requesting user or course (for example, if a user not in a domain attempts to delete a domain-scoped alias).",
              "httpMethod": "DELETE",
              "id": "classroom.courses.aliases.delete",
              "parameters": {
                "courseId": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the course whose alias should be deleted. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                },
                "alias": {
                  "required": true,
                  "type": "string",
                  "description": "Alias to delete. This may not be the Classroom-assigned identifier.",
                  "location": "path"
                }
              },
              "path": "v1/courses/{courseId}/aliases/{alias}",
              "parameterOrder": [
                "courseId",
                "alias"
              ],
              "flatPath": "v1/courses/{courseId}/aliases/{alias}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses"
              ],
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "response": {
                "$ref": "ListCourseAliasesResponse"
              },
              "path": "v1/courses/{courseId}/aliases",
              "flatPath": "v1/courses/{courseId}/aliases",
              "parameterOrder": [
                "courseId"
              ],
              "id": "classroom.courses.aliases.list",
              "parameters": {
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results."
                },
                "courseId": {
                  "required": true,
                  "description": "The identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courses",
                "https://www.googleapis.com/auth/classroom.courses.readonly"
              ],
              "description": "Returns a list of aliases for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the course or for access errors. * `NOT_FOUND` if the course does not exist.",
              "httpMethod": "GET"
            }
          }
        },
        "courseWork": {
          "methods": {
            "updateRubric": {
              "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/rubric",
              "flatPath": "v1/courses/{courseId}/courseWork/{courseWorkId}/rubric",
              "response": {
                "$ref": "Rubric"
              },
              "request": {
                "$ref": "Rubric"
              },
              "parameters": {
                "id": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Identifier of the rubric."
                },
                "updateMask": {
                  "description": "Optional. Mask that identifies which fields on the rubric to update. This field is required to do an update. The update fails if invalid fields are specified. There are multiple options to define the criteria of a rubric: the `source_spreadsheet_id` and the `criteria` list. Only one of these can be used at a time to define a rubric. The rubric `criteria` list is fully replaced by the rubric criteria specified in the update request. For example, if a criterion or level is missing from the request, it is deleted. New criteria and levels are added and an ID is assigned. Existing criteria and levels retain the previously assigned ID if the ID is specified in the request. The following fields can be specified by teachers: * `criteria` * `source_spreadsheet_id`",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "courseWorkId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Identifier of the course work."
                },
                "courseId": {
                  "location": "path",
                  "description": "Required. Identifier of the course.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "courseId",
                "courseWorkId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.students"
              ],
              "httpMethod": "PATCH",
              "id": "classroom.courses.courseWork.updateRubric",
              "description": "Updates a rubric. See google.classroom.v1.Rubric for details of which fields can be updated. Rubric update capabilities are [limited](/classroom/rubrics/limitations) once grading has started. The requesting user and course owner must have rubrics creation capabilities. For details, see [licensing requirements](https://developers.google.com/workspace/classroom/rubrics/limitations#license-requirements). This request must be made by the Google Cloud console of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the parent course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project didn't create the corresponding course work, if the user isn't permitted to make the requested modification to the rubric, or for access errors. This error code is also returned if grading has already started on the rubric. * `INVALID_ARGUMENT` if the request is malformed and for the following request error: * `RubricCriteriaInvalidFormat` * `NOT_FOUND` if the requested course, course work, or rubric doesn't exist or if the user doesn't have access to the corresponding course work. * `INTERNAL` if grading has already started on the rubric."
            },
            "getAddOnContext": {
              "response": {
                "$ref": "AddOnContext"
              },
              "parameterOrder": [
                "courseId",
                "itemId"
              ],
              "flatPath": "v1/courses/{courseId}/courseWork/{itemId}/addOnContext",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.addons.student",
                "https://www.googleapis.com/auth/classroom.addons.teacher"
              ],
              "description": "Gets metadata for Classroom add-ons in the context of a specific post. To maintain the integrity of its own data and permissions model, an add-on should call this to validate query parameters and the requesting user's role whenever the add-on is opened in an [iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/iframes-overview). This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
              "id": "classroom.courses.courseWork.getAddOnContext",
              "parameters": {
                "addOnToken": {
                  "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. The authorization token is required when neither of the following is true: * The add-on has attachments on the post. * The developer project issuing the request is the same project that created the post.",
                  "location": "query",
                  "type": "string"
                },
                "itemId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                  "required": true
                },
                "postId": {
                  "description": "Optional. Deprecated, use `item_id` instead.",
                  "type": "string",
                  "location": "query",
                  "deprecated": true
                },
                "attachmentId": {
                  "description": "Optional. The identifier of the attachment. This field is required for all requests except when the user is in the [Attachment Discovery iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/attachment-discovery-iframe).",
                  "type": "string",
                  "location": "query"
                },
                "courseId": {
                  "description": "Required. Identifier of the course.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/courses/{courseId}/courseWork/{itemId}/addOnContext"
            },
            "create": {
              "parameterOrder": [
                "courseId"
              ],
              "path": "v1/courses/{courseId}/courseWork",
              "flatPath": "v1/courses/{courseId}/courseWork",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.students"
              ],
              "response": {
                "$ref": "CourseWork"
              },
              "parameters": {
                "courseId": {
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "CourseWork"
              },
              "id": "classroom.courses.courseWork.create",
              "description": "Creates course work. The resulting course work (and corresponding student submissions) are associated with the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to make the request. Classroom API requests to modify course work and student submissions must be made with an OAuth client ID from the associated Developer Console project. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create course work in the requested course, share a Drive attachment, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist. * `FAILED_PRECONDITION` for the following request error: * AttachmentNotVisible"
            },
            "modifyAssignees": {
              "response": {
                "$ref": "CourseWork"
              },
              "description": "Modifies assignee mode and options of a coursework. Only a teacher of the course that contains the coursework may call this method. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work does not exist. * `FAILED_PRECONDITION` for the following request error: * EmptyAssignees",
              "parameters": {
                "id": {
                  "required": true,
                  "description": "Identifier of the coursework.",
                  "location": "path",
                  "type": "string"
                },
                "courseId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path"
                }
              },
              "flatPath": "v1/courses/{courseId}/courseWork/{id}:modifyAssignees",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "path": "v1/courses/{courseId}/courseWork/{id}:modifyAssignees",
              "id": "classroom.courses.courseWork.modifyAssignees",
              "request": {
                "$ref": "ModifyCourseWorkAssigneesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.students"
              ],
              "httpMethod": "POST"
            },
            "list": {
              "response": {
                "$ref": "ListCourseWorkResponse"
              },
              "flatPath": "v1/courses/{courseId}/courseWork",
              "id": "classroom.courses.courseWork.list",
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported fields are `updateTime` and `dueDate`. Supported direction keywords are `asc` and `desc`. If not specified, `updateTime desc` is the default behavior. Examples: `dueDate asc,updateTime desc`, `updateTime,dueDate desc`"
                },
                "courseWorkStates": {
                  "repeated": true,
                  "location": "query",
                  "enum": [
                    "COURSE_WORK_STATE_UNSPECIFIED",
                    "PUBLISHED",
                    "DRAFT",
                    "DELETED"
                  ],
                  "enumDescriptions": [
                    "No state specified. This is never returned.",
                    "Status for work that has been published. This is the default state.",
                    "Status for work that is not yet published. Work in this state is visible only to course teachers and domain administrators.",
                    "Status for work that was published but is now deleted. Work in this state is visible only to course teachers and domain administrators. Work in this state is deleted after some time."
                  ],
                  "description": "Restriction on the work status to return. Only courseWork that matches is returned. If unspecified, items with a work status of `PUBLISHED` is returned.",
                  "type": "string"
                }
              },
              "path": "v1/courses/{courseId}/courseWork",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.me",
                "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                "https://www.googleapis.com/auth/classroom.coursework.students",
                "https://www.googleapis.com/auth/classroom.coursework.students.readonly"
              ],
              "parameterOrder": [
                "courseId"
              ],
              "httpMethod": "GET",
              "description": "Returns a list of course work that the requester is permitted to view. Course students may only view `PUBLISHED` course work. Course teachers and domain administrators may view all course work. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist."
            },
            "delete": {
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "id": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course work to delete. This identifier is a Classroom-assigned identifier.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.students"
              ],
              "id": "classroom.courses.courseWork.delete",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/courses/{courseId}/courseWork/{id}",
              "path": "v1/courses/{courseId}/courseWork/{id}",
              "description": "Deletes a course work. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding course work, if the requesting user is not permitted to delete the requested course or for access errors. * `FAILED_PRECONDITION` if the requested course work has already been deleted. * `NOT_FOUND` if no course exists with the requested ID.",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "httpMethod": "DELETE"
            },
            "patch": {
              "parameters": {
                "courseId": {
                  "required": true,
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Mask that identifies which fields on the course work to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the `CourseWork` object. If a field that does not support empty values is included in the update mask and not set in the `CourseWork` object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `description` * `state` * `due_date` * `due_time` * `max_points` * `scheduled_time` * `submission_modification_mode` * `topic_id` * `grading_period_id` * `learning_goals`",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "id": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course work.",
                  "required": true
                }
              },
              "path": "v1/courses/{courseId}/courseWork/{id}",
              "id": "classroom.courses.courseWork.patch",
              "flatPath": "v1/courses/{courseId}/courseWork/{id}",
              "request": {
                "$ref": "CourseWork"
              },
              "response": {
                "$ref": "CourseWork"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.students"
              ],
              "description": "Updates one or more fields of a course work. See google.classroom.v1.CourseWork for details of which fields may be updated and who may change them. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item or an add-on attachment on the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding course work or an add-on attachment on the corresponding course work, if the user is not permitted to make the requested modification to the student submission, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if the requested course work has already been deleted. * `NOT_FOUND` if the requested course or course work does not exist."
            },
            "get": {
              "response": {
                "$ref": "CourseWork"
              },
              "flatPath": "v1/courses/{courseId}/courseWork/{id}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.coursework.me",
                "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                "https://www.googleapis.com/auth/classroom.coursework.students",
                "https://www.googleapis.com/auth/classroom.coursework.students.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "id": {
                  "required": true,
                  "description": "Identifier of the course work.",
                  "type": "string",
                  "location": "path"
                }
              },
[...]
