{
  "mtlsRootUrl": "https://cloudsearch.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260819",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "schemas": {
    "EnterpriseTopazSidekickCommonDocument": {
      "properties": {
        "documentId": {
          "type": "string",
          "description": "Document id."
        },
        "debugInfo": {
          "description": "Information for debugging.",
          "$ref": "EnterpriseTopazSidekickCommonDebugInfo"
        },
        "accessType": {
          "type": "string",
          "enum": [
            "UNKNOWN_ACCESS",
            "ALLOWED",
            "NOT_ALLOWED"
          ],
          "enumDescriptions": [
            "Unknown access type.",
            "Access allowed.",
            "Access not allowed."
          ],
          "description": "Access type, i.e., whether the user has access to the document or not."
        },
        "url": {
          "description": "Absolute URL of the document.",
          "type": "string"
        },
        "provenance": {
          "description": "Document provenance.",
          "deprecated": true,
          "type": "string",
          "enum": [
            "UNKNOWN_PROVENANCE",
            "CALENDAR_DESCRIPTION",
            "CALENDAR_ATTACHMENT",
            "MINED",
            "CALENDAR_ASSIST_ATTACHMENT"
          ],
          "enumDescriptions": [
            "Unknown provenance.",
            "Calendar event description.",
            "Calendar event attachment.",
            "Mined (extracted by some offline/online analysis).",
            "Attachment created by enterprise assist."
          ]
        },
        "type": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "DOCUMENT",
            "PRESENTATION",
            "SPREADSHEET",
            "PDF",
            "IMAGE",
            "BINARY_BLOB",
            "FUSION_TABLE",
            "FOLDER",
            "DRAWING",
            "VIDEO",
            "FORM",
            "LINK_URL",
            "LINK_GO",
            "LINK_GOO_GL",
            "LINK_BIT_LY",
            "LINK_GMAIL",
            "LINK_MAILTO",
            "VIDEO_YOUTUBE",
            "VIDEO_LIVE",
            "GROUPS",
            "NEWS",
            "SITES",
            "HANGOUT",
            "AUDIO",
            "MS_WORD",
            "MS_POWERPOINT",
            "MS_EXCEL",
            "MS_OUTLOOK"
          ],
          "enumDescriptions": [
            "If the type is unknown or not represented in this enum.",
            "Drive document types Writely, Word, etc.",
            "Presently, PowerPoint, etc.",
            "Trix, Excel, etc.",
            "File types for Gdrive objects are below. PDF.",
            "Image.",
            "Fall-back for unknown Gdrive types.",
            "Fusion table.",
            "Folder.",
            "Drawing.",
            "Video.",
            "Form.",
            "Link formats uncategorized URL links",
            "meaningful links that should be renderred specifically",
            "Link to goo.gl.",
            "Link to bit_ly.",
            "Link to Gmail.",
            "Mailto link.",
            "Videos Youtube videos.",
            "Live streams (e.g., liveplayer.googleplex.com)",
            "Other types. Google Groups.",
            "Google News.",
            "Google Sites.",
            "Google Hangout.",
            "Audio files.",
            "Microsoft-specific file types.",
            "",
            "",
            ""
          ],
          "description": "Type of the document."
        },
        "title": {
          "description": "Title of the document.",
          "type": "string"
        },
        "genericUrl": {
          "description": "Generic Drive-based url in the format of drive.google.com/open to be used for deeplink",
          "type": "string"
        },
        "justification": {
          "$ref": "EnterpriseTopazSidekickCommonDocumentJustification",
          "description": "Justification on why the document is selected."
        },
        "driveDocumentMetadata": {
          "description": "Drive document metadata.",
          "$ref": "EnterpriseTopazSidekickCommonDocumentDriveDocumentMetadata"
        },
        "thumbnailUrl": {
          "description": "Thumbnail URL.",
          "type": "string"
        },
        "mimeType": {
          "description": "MIME type",
          "type": "string"
        },
        "snippet": {
          "type": "string",
          "description": "A sampling of the text from the document."
        },
        "reason": {
          "deprecated": true,
          "enumDescriptions": [
            "Unknown justification.",
            "Popular documents within collaborators.",
            "Popular documents within the domain.",
            "Documents being reviewed frequently by the current user .",
            "Documents being edited frequently by the current user .",
            "Documents updated since user's last visit.",
            "Documents that receive comments since user's last visit.",
            "Documents in the calendar event description.",
            "Documents in the calendar event attachments section.",
            "Documents attached in calendar event metadata instead of the attachment section. Event metadata is not visible to the final user. Enterprise assist uses this metadata to store auto-generated documents such as meeting notes.",
            "Documents mined, and so, probably related to the request context. For example, this category includes documents related to a meeting.",
            "Documents that contains mentions of the user.",
            "Documents that are shared with the user."
          ],
          "description": "Justification of why this document is being returned.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "TRENDING_IN_COLLABORATORS",
            "TRENDING_IN_DOMAIN",
            "FREQUENTLY_VIEWED",
            "FREQUENTLY_EDITED",
            "NEW_UPDATES",
            "NEW_COMMENTS",
            "EVENT_DESCRIPTION",
            "EVENT_ATTACHMENT",
            "EVENT_METADATA_ATTACHMENT",
            "MINED_DOCUMENT",
            "NEW_MENTIONS",
            "NEW_SHARES"
          ]
        }
      },
      "type": "object",
      "description": "Representation of a document. NEXT_TAG: 15",
      "id": "EnterpriseTopazSidekickCommonDocument"
    },
    "DateValues": {
      "type": "object",
      "id": "DateValues",
      "description": "List of date values.",
      "properties": {
        "values": {
          "items": {
            "$ref": "Date"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseTopazSidekickAgendaGroupCardProto": {
      "type": "object",
      "id": "EnterpriseTopazSidekickAgendaGroupCardProto",
      "properties": {
        "currentAgendaItem": {
          "$ref": "EnterpriseTopazSidekickAgendaItem"
        },
        "context": {
          "$ref": "EnterpriseTopazSidekickAgendaGroupCardProtoContext"
        },
        "agendaItem": {
          "items": {
            "$ref": "EnterpriseTopazSidekickAgendaItem"
          },
          "type": "array"
        }
      }
    },
    "SearchResponse": {
      "description": "The search API response. NEXT ID: 20",
      "type": "object",
      "id": "SearchResponse",
      "properties": {
        "structuredResults": {
          "items": {
            "$ref": "StructuredResult"
          },
          "type": "array",
          "description": "Structured results for the user query. These results are not counted against the page_size."
        },
        "spellResults": {
          "type": "array",
          "description": "Suggested spelling for the query.",
          "items": {
            "$ref": "SpellResult"
          }
        },
        "facetResults": {
          "items": {
            "$ref": "FacetResult"
          },
          "description": "Repeated facet results.",
          "type": "array"
        },
        "hasMoreResults": {
          "description": "Whether there are more search results matching the query.",
          "type": "boolean"
        },
        "resultCountEstimate": {
          "format": "int64",
          "description": "The estimated result count for this query.",
          "type": "string"
        },
        "resultCounts": {
          "$ref": "ResultCounts",
          "description": "Expanded result count information."
        },
        "resultCountExact": {
          "format": "int64",
          "type": "string",
          "description": "The exact result count for this query."
        },
        "queryInterpretation": {
          "description": "Query interpretation result for user query. Empty if query interpretation is disabled.",
          "$ref": "QueryInterpretation"
        },
        "results": {
          "items": {
            "$ref": "SearchResult"
          },
          "type": "array",
          "description": "Results from a search query."
        },
        "errorInfo": {
          "$ref": "ErrorInfo",
          "description": "Error information about the response."
        },
        "debugInfo": {
          "description": "Debugging information about the response.",
          "$ref": "ResponseDebugInfo"
        }
      }
    },
    "SafeHtmlProto": {
      "type": "object",
      "properties": {
        "privateDoNotAccessOrElseSafeHtmlWrappedValue": {
          "type": "string",
          "description": "IMPORTANT: Never set or read this field, even from tests, it is private. See documentation at the top of .proto file for programming language packages with which to create or read this message."
        }
      },
      "id": "SafeHtmlProto",
      "description": "IMPORTANT: It is unsafe to accept this message from an untrusted source, since it's trivial for an attacker to forge serialized messages that don't fulfill the type's safety contract -- for example, it could contain attacker controlled script. A system which receives a SafeHtmlProto implicitly trusts the producer of the SafeHtmlProto. So, it's generally safe to return this message in RPC responses, but generally unsafe to accept it in RPC requests."
    },
    "EnterpriseTopazSidekickPeopleAnswerPeopleAnswerCardHeader": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The suggested title to display. This defaults to the user's query."
        }
      },
      "type": "object",
      "id": "EnterpriseTopazSidekickPeopleAnswerPeopleAnswerCardHeader",
      "description": "Recommended header to display for the card."
    },
    "HtmlPropertyOptions": {
      "id": "HtmlPropertyOptions",
      "type": "object",
      "description": "The options for html properties.",
      "properties": {
        "operatorOptions": {
          "description": "If set, describes how the property should be used as a search operator.",
          "$ref": "HtmlOperatorOptions"
        },
        "retrievalImportance": {
          "description": "Indicates the search quality importance of the tokens within the field when used for retrieval. Can only be set to DEFAULT or NONE.",
          "$ref": "RetrievalImportance"
        }
      }
    },
    "SortOptions": {
      "id": "SortOptions",
      "properties": {
        "sortOrder": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ASCENDING",
            "DESCENDING"
          ],
          "description": "Ascending is the default sort order"
        },
        "operatorName": {
          "description": "The name of the operator corresponding to the field to sort on. The corresponding property must be marked as sortable.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Date": {
      "description": "Represents a whole calendar date, for example a date of birth. The time of day and time zone are either specified elsewhere or are not significant. The date is relative to the [Proleptic Gregorian Calendar](https://en.wikipedia.org/wiki/Proleptic_Gregorian_calendar). The date must be a valid calendar date between the year 1 and 9999.",
      "type": "object",
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of date. Must be from 1 to 9999."
        },
        "day": {
          "format": "int32",
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of date. Must be from 1 to 12.",
          "format": "int32"
        }
      },
      "id": "Date"
    },
    "PollItemsRequest": {
      "type": "object",
      "properties": {
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        },
        "statusCodes": {
          "items": {
            "type": "string",
            "enum": [
              "CODE_UNSPECIFIED",
              "ERROR",
              "MODIFIED",
              "NEW_ITEM",
              "ACCEPTED"
            ],
            "enumDescriptions": [
              "Input-only value. Used with Items.list to list all items in the queue, regardless of status.",
              "Error encountered by Cloud Search while processing this item. Details of the error are in repositoryError.",
              "Item has been modified in the repository, and is out of date with the version previously accepted into Cloud Search.",
              "Item is known to exist in the repository, but is not yet accepted by Cloud Search. An item can be in this state when Items.push has been called for an item of this name that did not exist previously.",
              "API has accepted the up-to-date data of this item."
            ]
          },
          "type": "array",
          "description": "Limit the items polled to the ones with these statuses."
        },
        "queue": {
          "type": "string",
          "description": "Queue name to fetch items from. If unspecified, PollItems will fetch from 'default' queue. The maximum length is 100 characters."
        },
        "connectorName": {
          "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
          "type": "string"
        },
        "limit": {
          "type": "integer",
          "description": "Maximum number of items to return. The maximum value is 100 and the default value is 20.",
          "format": "int32"
        }
      },
      "id": "PollItemsRequest"
    },
    "ListItemsResponse": {
      "type": "object",
      "id": "ListItemsResponse",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Item"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "ResultDisplayLine": {
      "id": "ResultDisplayLine",
      "description": "The collection of fields that make up a displayed line",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "ResultDisplayField"
          }
        }
      },
      "type": "object"
    },
    "BooleanPropertyOptions": {
      "properties": {
        "operatorOptions": {
          "description": "If set, describes how the boolean should be used as a search operator.",
          "$ref": "BooleanOperatorOptions"
        }
      },
      "description": "The options for boolean properties.",
      "type": "object",
      "id": "BooleanPropertyOptions"
    },
    "ResponseDebugInfo": {
      "type": "object",
      "id": "ResponseDebugInfo",
      "description": "Debugging information about the response.",
      "properties": {
        "formattedDebugInfo": {
          "description": "General debug info formatted for display.",
          "type": "string"
        }
      }
    },
    "SuggestResponse": {
      "properties": {
        "suggestResults": {
          "items": {
            "$ref": "SuggestResult"
          },
          "type": "array",
          "description": "List of suggestions."
        }
      },
      "type": "object",
      "id": "SuggestResponse",
      "description": "Response of the suggest API."
    },
    "IndexItemOptions": {
      "id": "IndexItemOptions",
      "type": "object",
      "properties": {
        "allowUnknownGsuitePrincipals": {
          "type": "boolean",
          "description": "Specifies if the index request should allow Google Workspace principals that do not exist or are deleted."
        }
      }
    },
    "CustomerSearchApplicationStats": {
      "type": "object",
      "description": "Search application stats for a customer for the given date.",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The count of search applications for the date."
        },
        "date": {
          "$ref": "Date",
          "description": "The date for which search application stats were calculated."
        }
      },
      "id": "CustomerSearchApplicationStats"
    },
    "GetSearchApplicationSessionStatsResponse": {
      "properties": {
        "stats": {
          "items": {
            "$ref": "SearchApplicationSessionStats"
          },
          "type": "array"
        }
      },
      "id": "GetSearchApplicationSessionStatsResponse",
      "type": "object"
    },
    "EnterpriseTopazSidekickGetAndKeepAheadCardProto": {
      "id": "EnterpriseTopazSidekickGetAndKeepAheadCardProto",
      "description": "Get and keep ahead card",
      "properties": {
        "mentionedDocuments": {
          "$ref": "EnterpriseTopazSidekickDocumentPerCategoryList"
        },
        "sharedDocuments": {
          "$ref": "EnterpriseTopazSidekickDocumentPerCategoryList"
        },
        "declinedEvents": {
          "$ref": "EnterpriseTopazSidekickGetAndKeepAheadCardProtoDeclinedEvents"
        }
      },
      "type": "object"
    },
    "EnterpriseTopazSidekickRankingParams": {
      "id": "EnterpriseTopazSidekickRankingParams",
      "properties": {
        "endTimeMs": {
          "description": "The end-time that this object will expect to occur. If the type is marked as FIXED, then this end-time will persist after bidding. If the type is marked as FLEXIBLE, this field is NOT expected to be filled and will be filled in after it has won a bid. Expected to be set when type is set to FIXED.",
          "type": "string",
          "format": "uint64"
        },
        "score": {
          "description": "The score of the card to be used to break priority-ties",
          "type": "number",
          "format": "float"
        },
        "priority": {
          "description": "The priority to determine between objects that have the same start_time_ms The lower-value of priority == ranked higher. Max-priority = 0. Expected to be set for all types.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "CRITICAL",
            "IMPORTANT",
            "HIGH",
            "NORMAL",
            "BEST_EFFORT"
          ],
          "enumDescriptions": [
            "Unknown (default).",
            "Critical.",
            "Important.",
            "High.",
            "Normal.",
            "Best effort."
          ]
        },
        "type": {
          "type": "string",
          "enum": [
            "FIXED",
            "FLEXIBLE"
          ],
          "enumDescriptions": [
            "Fixed, i.e., the card is time sensitive.",
            "Flexible, i.e., the card is not time sensitive."
          ],
          "description": "The packing type of this object."
        },
        "startTimeMs": {
          "description": "The start-time that this object will bid-for If the type is marked as FIXED, then this start-time will persist after bidding. If the type is marked as FLEXIBLE, then it will occur at the given time or sometime after the requested time. Expected to be set for all types.",
          "format": "uint64",
          "type": "string"
        },
        "spanMs": {
          "format": "uint64",
          "type": "string",
          "description": "The span that this card will take in the stream Expected to be set when type is set to FLEXIBLE."
        }
      },
      "type": "object",
      "description": "Ranking params."
    },
    "SearchItemsByViewUrlRequest": {
      "type": "object",
      "id": "SearchItemsByViewUrlRequest",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "The next_page_token value returned from a previous request, if any."
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "viewUrl": {
          "description": "Specify the full view URL to find the corresponding item. The maximum length is 2048 characters.",
          "type": "string"
        }
      }
    },
    "EnumValuePair": {
      "id": "EnumValuePair",
      "description": "The enumeration value pair defines two things: a required string value and an optional integer value. The string value defines the necessary query term required to retrieve that item, such as *p0* for a priority item. The integer value determines the ranking of that string value relative to other enumerated values for the same property. For example, you might associate *p0* with *0* and define another enum pair such as *p1* and *1*. You must use the integer value in combination with ordered ranking to set the ranking of a given value relative to other enumerated values for the same property name. Here, a ranking order of DESCENDING for *priority* properties results in a ranking boost for items indexed with a value of *p0* compared to items indexed with a value of *p1*. Without a specified ranking order, the integer value has no effect on item ranking.",
      "type": "object",
      "properties": {
        "integerValue": {
          "format": "int32",
          "description": "The integer value of the EnumValuePair which must be non-negative. Optional.",
          "type": "integer"
        },
        "stringValue": {
          "description": "The string value of the EnumValuePair. The maximum length is 32 characters.",
          "type": "string"
        }
      }
    },
    "Context": {
      "id": "Context",
      "type": "object",
      "properties": {
        "endDayOffsetSec": {
          "format": "int64",
          "type": "string",
          "description": "[Optional] End time in seconds, within a day, when the card should stop being shown if it's within [start_date_sec, end_date_sec]. If missing, this is set to 86400 (24 hours x 3600 sec/hour), i.e., midnight next day."
        },
        "dayOfWeek": {
          "description": "[Optional] Day of week when the card should be shown, where 0 is Monday.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "surface": {
          "items": {
            "type": "string",
            "enum": [
              "UNKNOWN_SURFACE",
              "DESKTOP",
              "ANDROID",
              "IOS",
              "MOBILE",
              "ANY"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "Any mobile device.",
              ""
            ]
          },
          "type": "array",
          "description": "[Optional] Surface where the card should be shown in. If missing, the card will be shown in any surface."
        },
        "endDateSec": {
          "type": "string",
          "description": "[Optional] Date (in seconds since epoch) when the card should stop being shown. If missing, end_date_sec will be set to Jan 1st, 2100.",
          "format": "int64"
        },
        "query": {
          "type": "array",
          "description": "[Required only for Answer and RHS cards - will be ignored for Homepage] cards. It's the exact case-insensitive queries that will trigger the Answer or RHS card.",
          "items": {
            "type": "string"
          }
        },
        "location": {
          "description": "[Optional] Text-free locations where the card should be shown. This is expected to match the user's location in focus. If no location is specified, the card will be shown for any location.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "startDayOffsetSec": {
          "format": "int64",
          "description": "[Optional] Start time in seconds, within a day, when the card should be shown if it's within [start_date_sec, end_date_sec]. If 0, the card will be shown from 12:00am on.",
          "type": "string"
        },
        "type": {
          "description": "[Required] Type of the card (homepage, Answer or RHS).",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "UNKNOWN_CARD_TYPE",
              "HOMEPAGE_CARD",
              "ANSWER_CARD",
              "RHS_CARD"
            ]
          },
          "type": "array"
        },
        "locale": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "[Optional] The locales for which the card should be triggered (e.g., en_US and en_CA). If missing, the card is going to show to clients regardless of their locale."
        },
        "app": {
          "description": "[Optional] App where the card should be shown. If missing, the card will be shown in TOPAZ.",
          "items": {
            "type": "string",
            "enum": [
              "UNKNOWN_APP",
              "TOPAZ",
              "MOMA"
            ],
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "startDateSec": {
          "format": "int64",
          "type": "string",
          "description": "[Optional] Date (in seconds since epoch) when the card should start being shown. If missing, start_date_sec will be Jan 1st, 1970 UTC."
        }
      }
    },
    "ResultCounts": {
      "description": "Result count information",
      "id": "ResultCounts",
      "properties": {
        "sourceResultCounts": {
          "items": {
            "$ref": "SourceResultCount"
          },
          "type": "array",
          "description": "Result count information for each source with results."
        }
      },
      "type": "object"
    },
    "DisplayedProperty": {
      "description": "A reference to a top-level property within the object that should be displayed in search results. The values of the chosen properties is displayed in the search results along with the display label for that property if one is specified. If a display label is not specified, only the values is shown.",
      "type": "object",
      "properties": {
        "propertyName": {
          "type": "string",
          "description": "The name of the top-level property as defined in a property definition for the object. If the name is not a defined property in the schema, an error is given when attempting to update the schema."
        }
      },
      "id": "DisplayedProperty"
    },
    "UnreserveItemsRequest": {
      "type": "object",
      "properties": {
        "queue": {
          "description": "The name of a queue to unreserve items from.",
          "type": "string"
        },
        "connectorName": {
          "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
          "type": "string"
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        }
      },
      "id": "UnreserveItemsRequest"
    },
    "UserActivity": {
      "description": "User's single or bulk query activity. This can be a logging query or deletion query.",
      "type": "object",
      "id": "UserActivity",
      "properties": {
        "queryActivity": {
          "description": "Contains data which needs to be logged/removed.",
          "$ref": "QueryActivity"
        }
      }
    },
    "EnterpriseTopazSidekickPersonalizedDocsCardProto": {
      "description": "Personalized docs card proto.",
      "type": "object",
      "id": "EnterpriseTopazSidekickPersonalizedDocsCardProto",
      "properties": {
        "documentGroup": {
          "description": "Document group.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseTopazSidekickDocumentGroup"
          }
        }
      }
    },
    "Metaline": {
      "id": "Metaline",
      "description": "A metaline is a list of properties that are displayed along with the search result to provide context.",
      "properties": {
        "properties": {
          "description": "The list of displayed properties for the metaline. The maximum number of properties is 5.",
          "items": {
            "$ref": "DisplayedProperty"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "QuerySuggestion": {
      "type": "object",
      "properties": {
        "sourceCorpus": {
          "description": "Source corpus of the suggestion.",
          "enumDescriptions": [
            "Source corpus is unspecified.",
            "Source corpus is Gmail.",
            "Source corpus is Drive.",
            "Source corpus is Chat.",
            "Source corpus is Calendar."
          ],
          "type": "string",
          "enum": [
            "SOURCE_CORPUS_UNSPECIFIED",
            "GMAIL",
            "DRIVE",
            "CHAT",
            "CALENDAR"
          ]
        },
        "lastQueryTime": {
          "type": "string",
          "description": "Last query time of the suggestion for query history suggestions.",
          "format": "google-datetime"
        }
      },
      "id": "QuerySuggestion"
    },
    "ListUnmappedIdentitiesResponse": {
      "type": "object",
      "properties": {
        "unmappedIdentities": {
          "type": "array",
          "items": {
            "$ref": "UnmappedIdentity"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "id": "ListUnmappedIdentitiesResponse"
    },
    "DataSourceIndexStats": {
      "type": "object",
      "properties": {
        "itemCountByStatus": {
          "type": "array",
          "description": "Number of items aggregrated by status code.",
          "items": {
            "$ref": "ItemCountByStatus"
          }
        },
        "date": {
          "$ref": "Date",
          "description": "The date for which index stats were calculated. If the date of request is not the current date then stats calculated on the next day are returned. Stats are calculated close to mid night in this case. If date of request is current date, then real time stats are returned."
        }
      },
      "description": "Aggregation of items by status code as of the specified date.",
      "id": "DataSourceIndexStats"
    },
    "EnterpriseTopazSidekickAgendaEntry": {
      "description": "An AgendaEntry, e.g., a Calendar Event.",
      "id": "EnterpriseTopazSidekickAgendaEntry",
      "properties": {
        "chronology": {
          "type": "string",
          "enum": [
            "STALE",
            "ALL_DAY",
            "PAST",
            "RECENTLY_PAST",
            "PRESENT",
            "NEAR_FUTURE",
            "FUTURE"
          ],
          "description": "The chronology from the present.",
          "enumDescriptions": [
            "Stale.",
            "All day.",
            "Past.",
            "Recently past.",
            "Present.",
            "Near future.",
            "Future."
          ]
        },
        "creator": {
          "$ref": "EnterpriseTopazSidekickPerson",
          "description": "Person who created the event."
        },
        "description": {
          "description": "Description of the agenda item (i.e., typically, summary in calendar event).",
          "type": "string"
        },
        "guestsCanModify": {
          "description": "Whether the guests can modify the event.",
          "type": "boolean"
        },
        "title": {
          "description": "Title of the agenda item.",
          "type": "string"
        },
        "invitee": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseTopazSidekickPerson"
          },
          "description": "People attending the meeting."
        },
        "endDate": {
          "description": "End date \"Friday, August 26\" in the user's timezone.",
          "type": "string"
        },
        "lastModificationTimeMs": {
          "format": "int64",
          "description": "Last time the event was modified.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "User's calendar timezone;"
        },
        "hangoutUrl": {
          "type": "string",
          "description": "Absolute URL for the Hangout meeting."
        },
        "startTime": {
          "description": "Start time (HH:mm) in the user's timezone.",
          "type": "string"
        },
        "endTimeMs": {
          "type": "string",
          "format": "int64",
          "description": "End time in milliseconds"
        },
        "startTimeMs": {
          "description": "Start time in milliseconds.",
          "type": "string",
          "format": "int64"
        },
        "otherAttendeesExcluded": {
          "type": "boolean",
          "description": "Whether guest list is not returned because number of attendees is too large."
        },
        "hangoutId": {
          "type": "string",
          "description": "Hangout meeting identifier."
        },
        "guestsCanInviteOthers": {
          "description": "Whether the guests can invite other guests.",
          "type": "boolean"
        },
        "eventId": {
          "description": "Event id provided by Calendar API.",
          "type": "string"
        },
        "location": {
          "description": "Agenda item location.",
          "type": "string"
        },
        "requesterIsOwner": {
          "description": "Whether the requester is the owner of the agenda entry.",
          "type": "boolean"
        },
        "document": {
          "items": {
            "$ref": "EnterpriseTopazSidekickCommonDocument"
          },
          "description": "Items related to the current AgendaEntry. E.g., related drive/mail/groups documents.",
          "type": "array"
        },
        "isAllDay": {
          "description": "Whether the entry lasts all day.",
          "type": "boolean"
        },
        "notifyToUser": {
          "description": "Whether this should be notified to the user.",
          "type": "boolean"
        },
        "currentUserAttendingStatus": {
          "enumDescriptions": [
            "Awaiting for the user to set the status.",
            "Attending.",
            "Not attending.",
            "Tentatively attending."
          ],
          "description": "Attendance status for the current user making the request. This is a convenience data member in order to avoid figuring out the same by iterating the invitee list above on the caller side.",
          "type": "string",
          "enum": [
            "AWAITING",
            "YES",
            "NO",
            "MAYBE"
          ]
        },
        "agendaItemUrl": {
          "type": "string",
          "description": "URL of the agenda item."
        },
        "guestsCanSeeGuests": {
          "type": "boolean",
          "description": "Whether the guests of the event can be seen. If false, the user is going to be reported as the only attendee to the meeting, even though there may be more attendees."
        },
        "showFullEventDetailsToUse": {
          "type": "boolean",
          "description": "Whether the details of this entry should be displayed to the user."
        },
        "endTime": {
          "description": "End time (HH:mm) in the user's timezone.",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "description": "Start date \"Friday, August 26\" in the user's timezone."
        }
      },
      "type": "object"
    },
    "ScoringConfig": {
      "id": "ScoringConfig",
      "type": "object",
      "description": "Scoring configurations for a source while processing a Search or Suggest request.",
      "properties": {
        "disablePersonalization": {
          "type": "boolean",
          "description": "Whether to personalize the results. By default, personal signals will be used to boost results."
        },
        "disableFreshness": {
          "type": "boolean",
          "description": "Whether to use freshness as a ranking signal. By default, freshness is used as a ranking signal. Note that this setting is not available in the Admin UI."
        }
      }
    },
    "ListDataSourceResponse": {
      "type": "object",
      "id": "ListDataSourceResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "DataSource"
          }
        }
      }
    },
    "EnterpriseTopazSidekickCommonDebugInfo": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Debug message.",
          "type": "string"
        }
      },
      "id": "EnterpriseTopazSidekickCommonDebugInfo",
      "description": "Container of debugging information in all object levels. Extend as needed."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "type": "object"
    },
    "EnterpriseTopazSidekickMeetingNotesCardError": {
      "description": "Errors in the creation of meeting notes.",
      "id": "EnterpriseTopazSidekickMeetingNotesCardError",
      "type": "object",
      "properties": {
        "event": {
          "$ref": "EnterpriseTopazSidekickAgendaEntry",
          "description": "The event to request meeting notes creation"
        },
        "description": {
          "type": "string",
          "description": "The description of the reason why create-meeting-notes failed."
        },
        "reason": {
          "enumDescriptions": [
            "No reason (default value).",
            "The user is not an owner.",
            "Unknown reason."
          ],
          "description": "The reason why create-meeting-notes failed.",
          "type": "string",
          "enum": [
            "NONE",
            "NOT_OWNER",
            "UNKNOWN"
          ]
        }
      }
    },
    "UpdateSchemaRequest": {
      "id": "UpdateSchemaRequest",
      "properties": {
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "If true, the schema will be checked for validity, but will not be registered with the data source, even if valid."
        },
        "schema": {
          "$ref": "Schema",
          "description": "The new schema for the source."
        }
      },
      "type": "object"
    },
    "ObjectOptions": {
      "description": "The options for an object.",
      "id": "ObjectOptions",
      "type": "object",
      "properties": {
        "displayOptions": {
          "$ref": "ObjectDisplayOptions",
          "description": "The options that determine how the object is displayed in the Cloud Search results page."
        },
        "suggestionFilteringOperators": {
          "description": "Operators that can be used to filter suggestions. For Suggest API, only operators mentioned here will be honored in the FilterOptions. Only TEXT and ENUM operators are supported. NOTE: \"objecttype\", \"type\" and \"mimetype\" are already supported. This property is to configure schema specific operators. Even though this is an array, only one operator can be specified. This is an array for future extensibility. Operators mapping to multiple properties within the same object are not supported. If the operator spans across different object types, this option has to be set once for each object definition.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "freshnessOptions": {
          "description": "The freshness options for an object.",
          "$ref": "FreshnessOptions"
        }
      }
    },
    "BackgroundColoredText": {
      "type": "object",
      "properties": {
        "text": {
          "description": "[Required] The text to display.",
          "type": "string"
        },
        "backgroundColor": {
          "description": "[Optional] Color of the background. The text color can change depending on the selected background color, and the client does not have control over this. If missing, the background will be WHITE.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_COLOR",
            "WHITE",
            "YELLOW",
            "ORANGE",
            "GREEN",
            "BLUE",
            "GREY"
          ]
        }
      },
      "id": "BackgroundColoredText"
    },
    "DataSourceRestriction": {
      "id": "DataSourceRestriction",
      "description": "Restriction on Datasource.",
      "type": "object",
      "properties": {
        "source": {
          "description": "The source of restriction.",
          "$ref": "Source"
        },
        "filterOptions": {
          "description": "Filter options restricting the results. If multiple filters are present, they are grouped by object type before joining. Filters with the same object type are joined conjunctively, then the resulting expressions are joined disjunctively. The maximum number of elements is 20. NOTE: Suggest API supports only few filters at the moment: \"objecttype\", \"type\" and \"mimetype\". For now, schema specific filters cannot be used to filter suggestions.",
          "items": {
            "$ref": "FilterOptions"
          },
          "type": "array"
        }
      }
    },
    "PeoplePromotionCard": {
      "properties": {
        "people": {
          "type": "array",
          "items": {
            "$ref": "PersonCore"
          }
        }
      },
      "id": "PeoplePromotionCard",
      "type": "object"
    },
    "SearchApplicationUserStats": {
      "type": "object",
      "id": "SearchApplicationUserStats",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "The date for which session stats were calculated. Stats calculated on the next day close to midnight are returned."
        },
        "thirtyDaysActiveUsersCount": {
          "type": "string",
          "format": "int64",
          "description": "The count of unique active users in the past thirty days"
        },
        "sevenDaysActiveUsersCount": {
          "format": "int64",
          "description": "The count of unique active users in the past seven days",
          "type": "string"
        },
        "oneDayActiveUsersCount": {
          "type": "string",
          "format": "int64",
          "description": "The count of unique active users in the past one day"
        }
      }
    },
    "SearchApplication": {
      "type": "object",
      "id": "SearchApplication",
      "description": "SearchApplication",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Search Application. Format: searchapplications/{application_id}."
        },
        "defaultFacetOptions": {
          "description": "The default fields for returning facet results. The sources specified here also have been included in data_source_restrictions above.",
          "type": "array",
          "items": {
            "$ref": "FacetOptions"
          }
        },
        "displayName": {
          "description": "Display name of the Search Application. The maximum length is 300 characters.",
          "type": "string"
        },
        "defaultSortOptions": {
          "$ref": "SortOptions",
          "description": "The default options for sorting the search results"
        },
        "operationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. IDs of the Long Running Operations (LROs) currently running for this schema. Output only field.",
          "readOnly": true
        },
        "dataSourceRestrictions": {
          "description": "Retrictions applied to the configurations. The maximum number of elements is 10.",
          "type": "array",
          "items": {
            "$ref": "DataSourceRestriction"
          }
        },
        "sourceConfig": {
          "type": "array",
          "items": {
            "$ref": "SourceConfig"
          },
          "description": "Configuration for a sources specified in data_source_restrictions."
        },
        "enableAuditLog": {
          "description": "Indicates whether audit logging is on/off for requests made for the search application in query APIs.",
          "type": "boolean"
        },
        "queryInterpretationConfig": {
          "description": "The default options for query interpretation",
          "$ref": "QueryInterpretationConfig"
        },
        "scoringConfig": {
          "$ref": "ScoringConfig",
          "description": "Configuration for ranking results."
        },
        "returnResultThumbnailUrls": {
          "type": "boolean",
          "description": "With each result we should return the URI for its thumbnail (when applicable)"
        }
      }
    },
    "EnterpriseTopazSidekickPeopleAnswerPersonAnswerCard": {
      "id": "EnterpriseTopazSidekickPeopleAnswerPersonAnswerCard",
      "type": "object",
      "description": "An answer card for a single person.",
      "properties": {
        "answer": {
          "deprecated": true,
          "items": {
            "$ref": "SafeHtmlProto"
          },
          "type": "array",
          "description": "List of answers."
        },
        "header": {
          "description": "The header to display for the card.",
          "$ref": "EnterpriseTopazSidekickPeopleAnswerPeopleAnswerCardHeader"
        },
        "responseStatus": {
          "description": "The response status.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SUCCESS",
            "MISSING_PERSON",
            "MISSING_DATA"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Success.",
            "No such person was found in the user's domain.",
            "A person was found to match the query, but an answer could not be obtained."
          ]
        },
        "disambiguationInfo": {
          "$ref": "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfo",
          "description": "Disambiguation information."
        },
        "answerText": {
          "$ref": "EnterpriseTopazSidekickAnswerAnswerList",
          "description": "List of answers."
        },
        "statusMessage": {
          "description": "Localized user friendly message to display to the user in the case of missing data or an error.",
          "type": "string"
        },
        "subject": {
          "$ref": "EnterpriseTopazSidekickCommonPerson",
          "description": "The profile of the person that was the subject of the query."
        }
      }
    },
    "GetCustomerIndexStatsResponse": {
      "id": "GetCustomerIndexStatsResponse",
      "properties": {
        "stats": {
          "items": {
            "$ref": "CustomerIndexStats"
          },
          "description": "Summary of indexed item counts, one for each day in the requested range.",
          "type": "array"
        },
        "averageIndexedItemCount": {
          "type": "string",
          "format": "int64",
          "description": "Average item count for the given date range for which billing is done."
        }
      },
      "type": "object"
    },
    "ItemStructuredData": {
      "type": "object",
      "properties": {
        "object": {
          "description": "The structured data object that should conform to a registered object definition in the schema for the data source.",
          "$ref": "StructuredDataObject"
        },
        "hash": {
          "description": "Hashing value provided by the API caller. This can be used with the items.push method to calculate modified state. The maximum length is 2048 characters.",
          "type": "string"
        }
      },
      "description": "Available structured data fields for the item.",
      "id": "ItemStructuredData"
    },
    "EnterpriseTopazSidekickCommonDocumentJustification": {
      "description": "Justification of why we are reporting the document.",
      "type": "object",
      "id": "EnterpriseTopazSidekickCommonDocumentJustification",
      "properties": {
        "justification": {
          "description": "A locale aware message that explains why this document was selected.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "TRENDING_IN_COLLABORATORS",
            "TRENDING_IN_DOMAIN",
            "FREQUENTLY_VIEWED",
            "FREQUENTLY_EDITED",
            "NEW_UPDATES",
            "NEW_COMMENTS",
            "EVENT_DESCRIPTION",
            "EVENT_ATTACHMENT",
            "EVENT_METADATA_ATTACHMENT",
            "MINED_DOCUMENT",
            "NEW_MENTIONS",
            "NEW_SHARES"
          ],
          "enumDescriptions": [
            "Unknown justification.",
            "Popular documents within collaborators.",
            "Popular documents within the domain.",
            "Documents being reviewed frequently by the current user .",
            "Documents being edited frequently by the current user .",
            "Documents updated since user's last visit.",
            "Documents that receive comments since user's last visit.",
            "Documents in the calendar event description.",
            "Documents in the calendar event attachments section.",
            "Documents attached in calendar event metadata instead of the attachment section. Event metadata is not visible to the final user. Enterprise assist uses this metadata to store auto-generated documents such as meeting notes.",
            "Documents mined, and so, probably related to the request context. For example, this category includes documents related to a meeting.",
            "Documents that contains mentions of the user.",
            "Documents that are shared with the user."
          ],
          "description": "Reason on why the document is selected. Populate for trending documents."
        }
      }
    },
    "EnumOperatorOptions": {
      "description": "Used to provide a search operator for enum properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched. For example, if you provide no operator for a *priority* enum property with possible values *p0* and *p1*, a query that contains the term *p0* returns items that have *p0* as the value of the *priority* property, as well as any items that contain the string *p0* in other fields. If you provide an operator name for the enum, such as *priority*, then search users can use that operator to refine results to only items that have *p0* as this property's value, with the query *priority:p0*.",
      "type": "object",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the enum property. For example, if operatorName is *priority* and the property's name is *priorityVal*, then queries like *priority:<value>* show results only where the value of the property named *priorityVal* matches *<value>*. By contrast, a search that uses the same *<value>* without an operator returns all items where *<value>* matches the value of any String properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        }
      },
      "id": "EnumOperatorOptions"
    },
    "PersonCore": {
      "description": "Information for rendering a person. NEXT ID: 37",
      "id": "PersonCore",
      "properties": {
        "waldoComeBackTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "officeLocation": {
          "type": "string",
          "description": "Office/building identifier within the company. For google.com this is the office code (e.g. \"DE-MUC-ARP\")."
        },
        "keywords": {
          "description": "Custom keywords the domain admin has added.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "keywordTypes": {
          "description": "List of keys to use from the map 'keywords'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "photoUrl": {
          "$ref": "SafeUrlProto",
          "description": "Person photo."
        },
        "addressMeAs": {
          "type": "string",
          "description": "Instructions for how to address this person (e.g. custom pronouns). For google.com this is a set of pronouns from a defined list of options."
        },
        "birthday": {
          "$ref": "Date",
          "description": "Person birthday."
        },
        "costCenter": {
          "description": "Person's cost center as a string, e.g. \"926: Googler Apps\".",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Detailed desk location within the company. For google.com this is the desk location code (e.g. \"DE-MUC-ARP-6T2-6T2C0C\") if the person has a desk."
        },
        "fingerprint": {
          "description": "A fingerprint used by PAPI to reliably determine if a resource has changed Externally it is used as part of the etag.",
          "type": "string"
        },
        "dottedLineReports": {
          "description": "A subset of the profile owner's dotted-line reports. The number of entities here may be less than total_dlr_count. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty.",
          "type": "array",
          "items": {
            "$ref": "PersonCore"
          }
        },
        "geoLocation": {
          "$ref": "MapInfo"
        },
        "totalDlrCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total count of the profile owner's dotted-line reports."
        },
        "jobTitle": {
          "type": "string",
          "description": "Profile owner's job title (e.g. \"Software Engineer\"). For google.com this is the Workday preferred job title."
        },
        "dottedLineManagers": {
          "description": "The profile owner's direct dotted line managers in no particular order. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty.",
          "items": {
            "$ref": "PersonCore"
          },
          "type": "array"
        },
        "directReports": {
          "type": "array",
          "description": "A subset of the profile owner's direct reports. The number of entities here may be less than total_direct_reports_count, because typically ProfileResponse does not include all the person's reports, if there are too many to retrieve efficiently. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty.",
          "items": {
            "$ref": "PersonCore"
          }
        },
        "chatUrl": {
          "description": "The URL to start a chat conversation with the profile owner. For google.com this is a Hangouts URL.",
          "$ref": "SafeUrlProto"
        },
        "admins": {
          "type": "array",
          "items": {
            "$ref": "PersonCore"
          },
          "description": "The profile owner's admins in no particular order. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty."
        },
        "username": {
          "type": "string",
          "description": "External ID of type \"login_id\" for the profile. For google.com this is the username/LDAP."
        },
        "adminTo": {
          "type": "array",
          "description": "People the profile owner is an admin to. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty.",
          "items": {
            "$ref": "PersonCore"
          }
        },
        "totalDirectReportsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total count of the profile owner's direct reports."
        },
        "ftePermille": {
          "type": "string",
          "description": "Full-time equivalent (in ‰) (e.g. 800 for a person who's working 80%).",
          "format": "int64"
        },
        "links": {
          "description": "Custom links the profile owner has added.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseTopazFrontendTeamsLink"
          }
        },
        "phoneNumbers": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseTopazFrontendTeamsPersonCorePhoneNumber"
          }
        },
        "employeeId": {
          "type": "string",
          "description": "Person's employee number (external ID of type \"organization\") For google.com this is the badge number (e.g. 2 for Larry Page)."
        },
        "department": {
          "type": "string",
          "description": "The person's Organization department, e.g. \"People Operations\". For google.com this is usually called \"area\"."
        },
        "totalFteCount": {
          "description": "The sum of all profile owner's reports and their own full-time-equivalents in ‰ (e.g. 1800 if one report is working 80% and profile owner 100%).",
          "type": "string",
          "format": "int64"
        },
        "mission": {
          "description": "Custom mission statement the profile owner has added.",
          "type": "string"
        },
        "postalAddress": {
          "description": "Postal address of office/building.",
          "type": "string"
        },
        "calendarUrl": {
          "$ref": "SafeUrlProto",
          "description": "The URL to open the profile owner's primary calendar."
        },
        "managers": {
          "description": "The profile owner's management chain from top to bottom, where managers[0] is the CEO, manager[N-2] is the person's manager's manager and managers[N-1] is the person's direct manager. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty.",
          "items": {
            "$ref": "PersonCore"
          },
          "type": "array"
        },
        "personId": {
          "type": "string",
          "description": "The person's obfuscated Gaia ID."
        },
        "gmailUrl": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Human-readable Unicode display name."
        },
        "emails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "E-mail addresses of the person. The primary or preferred email should be first."
        },
        "availabilityStatus": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "OUT_OF_OFFICE",
            "OUTSIDE_WORKING_HOURS",
            "AVAILABLE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "TimestampOperatorOptions": {
      "id": "TimestampOperatorOptions",
      "type": "object",
      "properties": {
        "lessThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the timestamp property using the less-than operator. For example, if lessThanOperatorName is *closedbefore* and the property's name is *closeDate*, then queries like *closedbefore:<value>* show results only where the value of the property named *closeDate* is earlier than *<value>*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        },
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the timestamp property. For example, if operatorName is *closedon* and the property's name is *closeDate*, then queries like *closedon:<value>* show results only where the value of the property named *closeDate* matches *<value>*. By contrast, a search that uses the same *<value>* without an operator returns all items where *<value>* matches the value of any String properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        },
        "greaterThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the timestamp property using the greater-than operator. For example, if greaterThanOperatorName is *closedafter* and the property's name is *closeDate*, then queries like *closedafter:<value>* show results only where the value of the property named *closeDate* is later than *<value>*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        }
      },
      "description": "Used to provide a search operator for timestamp properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched."
    },
    "ObjectPropertyOptions": {
      "description": "The options for object properties.",
      "type": "object",
      "properties": {
        "subobjectProperties": {
          "description": "The properties of the sub-object. These properties represent a nested object. For example, if this property represents a postal address, the subobjectProperties might be named *street*, *city*, and *state*. The maximum number of elements is 1000.",
          "items": {
            "$ref": "PropertyDefinition"
          },
          "type": "array"
        }
      },
      "id": "ObjectPropertyOptions"
    },
    "SearchItemsByViewUrlResponse": {
      "type": "object",
      "id": "SearchItemsByViewUrlResponse",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Item"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "EnterpriseTopazSidekickPeopleAnswerRelatedPeopleAnswerCard": {
      "type": "object",
      "properties": {
        "statusMessage": {
          "type": "string",
          "description": "Localized user friendly message to display to the user in the case of missing data or an error."
        },
        "responseStatus": {
          "enumDescriptions": [
            "Unknown.",
            "Success.",
            "No such person was found in the user's domain.",
            "A person was found to match the query, but an answer could not be obtained."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SUCCESS",
            "MISSING_PERSON",
            "MISSING_DATA"
          ],
          "description": "The response status."
        },
        "disambiguationInfo": {
          "$ref": "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfo",
          "description": "Disambiguation information."
        },
        "header": {
          "$ref": "EnterpriseTopazSidekickPeopleAnswerPeopleAnswerCardHeader",
          "description": "The header to display for the card."
        },
        "relationType": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "DIRECT_REPORTS",
            "MANAGER",
            "PEERS"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Direct reports.",
            "The manager.",
            "The teammates/peers of the subject."
          ],
          "description": "Defines the type of relation the list of people have with the subject of the card."
        },
        "subject": {
          "$ref": "EnterpriseTopazSidekickCommonPerson",
          "description": "The profile of the person that was the subject of the query."
        },
        "relatedPeople": {
          "type": "array",
          "description": "A list of people that are related to the query subject.",
          "items": {
            "$ref": "EnterpriseTopazSidekickCommonPerson"
          }
        }
      },
      "id": "EnterpriseTopazSidekickPeopleAnswerRelatedPeopleAnswerCard",
      "description": "An answer card for a list of people that are related to the subject of the query."
    },
    "EnterpriseTopazSidekickCardMetadata": {
      "type": "object",
      "description": "Card metadata.",
      "id": "EnterpriseTopazSidekickCardMetadata",
      "properties": {
        "nlpMetadata": {
          "description": "Information about the NLP done to get the card.",
          "$ref": "EnterpriseTopazSidekickNlpMetadata"
        },
        "debugInfo": {
          "type": "string",
          "description": "Debug info (only reported if request's debug_level > 0)."
        },
        "cardId": {
          "description": "An ID to identify the card and match actions to it. Be thoughtful of new card IDs since actions will be associated to that ID. E.g., if two card IDs collide, the system will think that the actions have been applied to the same card. Similarly, if EAS can return multiple cards of the same type (e.g., Meetings), ensure that the card_id identifies a given instance of the card so that, e.g., dismissals only affect the dismissed card as opposed to affecting all meeting cards.",
          "type": "string"
        },
        "chronology": {
          "description": "Chronology.",
          "enumDescriptions": [
            "Unknown chronology (default).",
            "Past.",
            "Recently past.",
            "Present.",
            "Near future.",
            "Future."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PAST",
            "RECENTLY_PAST",
            "PRESENT",
            "NEAR_FUTURE",
            "FUTURE"
          ]
        },
        "renderMode": {
          "description": "Render mode.",
          "type": "string",
          "enum": [
            "UNKNOWN_RENDER",
            "COLLAPSED",
            "EXPANDED"
          ],
          "enumDescriptions": [
            "Unknown mode (default).",
            "Collapsed.",
            "Expanded."
          ]
        },
        "rankingParams": {
          "description": "Ranking params.",
          "$ref": "EnterpriseTopazSidekickRankingParams"
        },
        "cardCategory": {
          "enumDescriptions": [
            "Let MSCR decide how this card should be packed. Most cards should choose this type. This type should largely be considered equivalent to ANSWER. However, this is not guaranteed to be the case as the request to MSCR may override the static configuration.",
            "This card should be rendered as an answer card.",
            "This card should be rendered as a knowledge card (a non-organic result).",
            "This card should be rendered in the Homepage."
          ],
          "type": "string",
          "enum": [
            "DEFAULT",
            "ANSWER",
            "KNOWLEDGE",
            "HOMEPAGE"
          ],
          "description": "Declares a preference for how this card should be packed in MSCR. All cards in a response must correspond to a single category. As a result, cards may be dropped from the response if this field is set. Any card that does not match the category of the card with the highest priority in the response will be dropped."
        }
      }
    },
    "StructuredResult": {
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "Representation of a person"
        }
      },
      "id": "StructuredResult",
      "type": "object",
      "description": "Structured results that are returned as part of search request."
    },
    "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfo": {
      "description": "Metadata for disambiguation.",
      "type": "object",
      "id": "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfo",
      "properties": {
        "disambiguation": {
          "description": "A list of people that also matched the query. This list is not complete.",
          "items": {
            "$ref": "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfoDisambiguationPerson"
          },
          "type": "array"
        },
        "name": {
          "description": "The name that was extracted from the query. This may be in the form of the given name, last name, full name, LDAP, or email address. This name can be considered suitable for displaying to the user and can largely be considered to be normalized (e.g. \"Bob's\" -> \"Bob\").",
          "type": "string"
        }
      }
    },
    "MatchRange": {
      "type": "object",
      "properties": {
        "start": {
          "type": "integer",
          "description": "Starting position of the match in the snippet.",
          "format": "int32"
        },
        "end": {
          "type": "integer",
          "format": "int32",
          "description": "End of the match in the snippet."
        }
      },
      "description": "Matched range of a snippet [start, end).",
      "id": "MatchRange"
    },
    "GetCustomerUserStatsResponse": {
      "type": "object",
      "id": "GetCustomerUserStatsResponse",
      "properties": {
        "stats": {
          "type": "array",
          "items": {
            "$ref": "CustomerUserStats"
          }
        }
      }
    },
    "CompositeFilter": {
      "id": "CompositeFilter",
      "properties": {
        "logicOperator": {
          "enumDescriptions": [
            "Logical operators, which can only be applied to sub filters.",
            "",
            "NOT can only be applied on a single sub filter."
          ],
          "description": "The logic operator of the sub filter.",
          "type": "string",
          "enum": [
            "AND",
            "OR",
            "NOT"
          ]
        },
        "subFilters": {
          "items": {
            "$ref": "Filter"
          },
          "description": "Sub filters.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "CustomerSessionStats": {
      "type": "object",
      "id": "CustomerSessionStats",
      "properties": {
        "date": {
          "description": "The date for which session stats were calculated. Stats are calculated on the following day, close to midnight PST, and then returned.",
          "$ref": "Date"
        },
        "searchSessionsCount": {
          "description": "The count of search sessions on the day",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "PhoneNumber": {
      "properties": {
        "phoneNumber": {
          "description": "The phone number of the person.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OTHER",
            "MOBILE",
            "OFFICE"
          ]
        }
      },
      "id": "PhoneNumber",
      "type": "object",
      "description": "A person's Phone Number"
    },
    "EnterpriseTopazSidekickAnswerAnswerList": {
      "id": "EnterpriseTopazSidekickAnswerAnswerList",
      "properties": {
        "type": {
          "description": "Answer type.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PERSON_ADDRESS",
            "PERSON_BIRTHDAY",
            "PERSON_DEPARTMENT",
            "PERSON_DESK_LOCATION",
            "PERSON_EMAIL",
            "PERSON_JOB_TITLE",
            "PERSON_PHONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "labeledAnswer": {
          "items": {
            "$ref": "EnterpriseTopazSidekickAnswerAnswerListLabeledAnswer"
          },
          "description": "Answers that have a corresponding label.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A list of answers represented as free text."
    },
    "FieldViolation": {
      "id": "FieldViolation",
      "type": "object",
      "properties": {
        "field": {
          "description": "Path of field with violation.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the error."
        }
      }
    },
    "RepositoryError": {
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of error.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "NETWORK_ERROR",
            "DNS_ERROR",
            "CONNECTION_ERROR",
            "AUTHENTICATION_ERROR",
            "AUTHORIZATION_ERROR",
            "SERVER_ERROR",
            "QUOTA_EXCEEDED",
            "SERVICE_UNAVAILABLE",
            "CLIENT_ERROR"
          ],
          "enumDescriptions": [
            "Unknown error.",
            "Unknown or unreachable host.",
            "DNS problem, such as the DNS server is not responding.",
            "Cannot connect to the repository server.",
            "Failed authentication due to incorrect credentials.",
            "Service account is not authorized for the repository.",
            "Repository server error.",
            "Quota exceeded.",
            "Server temporarily unavailable.",
            "Client-related error, such as an invalid request from the connector to the repository server."
          ]
        },
        "errorMessage": {
          "description": "Message that describes the error. The maximum allowable length of the message is 8192 characters.",
          "type": "string"
        },
        "httpStatusCode": {
          "format": "int32",
          "description": "Error codes. Matches the definition of HTTP status codes.",
          "type": "integer"
        }
      },
      "id": "RepositoryError",
      "description": "Errors when the connector is communicating to the source repository."
    },
    "SafeUrlProto": {
      "type": "object",
      "description": "Message containing a string that is safe to use in URL contexts in DOM APIs and HTML documents, where the URL context does not refer to a resource that loads code.",
      "properties": {
        "privateDoNotAccessOrElseSafeUrlWrappedValue": {
          "type": "string",
          "description": "IMPORTANT: Never set or read this field, even from tests, it is private. See documentation at the top of .proto file for programming language packages with which to create or read this message."
        }
      },
      "id": "SafeUrlProto"
    },
    "MapInfo": {
      "properties": {
        "lat": {
          "type": "number",
          "format": "double",
          "description": "Latitude in degrees"
        },
        "locationUrl": {
          "description": "URL to a view of a map centered on the user's work location in Campus Maps (for google.com) or Google Maps (external).",
          "$ref": "SafeUrlProto"
        },
        "mapTile": {
          "items": {
            "$ref": "MapTile"
          },
          "type": "array",
          "description": "MapTiles for the area around a user's work location"
        },
        "zoom": {
          "description": "The zoom level of the map. A constant zoom value of 18 is used for now to match the zoom of the map shown on a Moma Teams Profile page",
          "type": "integer",
          "format": "int32"
        },
        "long": {
          "format": "double",
          "type": "number",
          "description": "Longitude in degrees"
        }
      },
      "description": "Geo information used for rendering a map that shows the user's work location.",
      "id": "MapInfo",
      "type": "object"
    },
    "ItemStatus": {
      "id": "ItemStatus",
      "properties": {
        "processingErrors": {
          "type": "array",
          "items": {
            "$ref": "ProcessingError"
          },
          "description": "Error details in case the item is in ERROR state."
        },
        "repositoryErrors": {
          "description": "Repository error reported by connector.",
          "items": {
            "$ref": "RepositoryError"
          },
          "type": "array"
        },
        "code": {
          "enumDescriptions": [
            "Input-only value. Used with Items.list to list all items in the queue, regardless of status.",
            "Error encountered by Cloud Search while processing this item. Details of the error are in repositoryError.",
            "Item has been modified in the repository, and is out of date with the version previously accepted into Cloud Search.",
            "Item is known to exist in the repository, but is not yet accepted by Cloud Search. An item can be in this state when Items.push has been called for an item of this name that did not exist previously.",
            "API has accepted the up-to-date data of this item."
          ],
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "ERROR",
            "MODIFIED",
            "NEW_ITEM",
            "ACCEPTED"
          ],
          "description": "Status code."
        }
      },
      "description": "This contains item's status and any errors.",
      "type": "object"
    },
    "TextPropertyOptions": {
      "properties": {
        "operatorOptions": {
          "description": "If set, describes how the property should be used as a search operator.",
          "$ref": "TextOperatorOptions"
        },
        "retrievalImportance": {
          "description": "Indicates the search quality importance of the tokens within the field when used for retrieval.",
          "$ref": "RetrievalImportance"
        }
      },
      "id": "TextPropertyOptions",
      "type": "object",
      "description": "The options for text properties."
    },
    "GetCustomerSessionStatsResponse": {
      "type": "object",
      "properties": {
        "stats": {
          "items": {
            "$ref": "CustomerSessionStats"
          },
          "type": "array"
        }
      },
      "id": "GetCustomerSessionStatsResponse"
    },
    "EnterpriseTopazFrontendTeamsLink": {
      "type": "object",
      "id": "EnterpriseTopazFrontendTeamsLink",
      "properties": {
        "url": {
          "$ref": "SafeUrlProto"
        },
        "type": {
          "description": "The identifying link type",
          "type": "string"
        }
      }
    },
    "MapTile": {
      "id": "MapTile",
      "properties": {
        "tileY": {
          "format": "double",
          "description": "Map tile y coordinate",
          "type": "number"
        },
        "imageUrl": {
          "description": "URL to an image file containing an office layout of the user's location for their organization, if one is available. For google.com, this image is from Corp Campus Maps.",
          "$ref": "SafeUrlProto"
        },
        "tileX": {
          "description": "Map tile x coordinate",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Information used to render a map tile image in the proper location on a map."
    },
    "Operation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "IntegerOperatorOptions": {
      "description": "Used to provide a search operator for integer properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "properties": {
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the integer property. For example, if operatorName is *priority* and the property's name is *priorityVal*, then queries like *priority:<value>* show results only where the value of the property named *priorityVal* matches *<value>*. By contrast, a search that uses the same *<value>* without an operator returns all items where *<value>* matches the value of any String properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        },
        "greaterThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the integer property using the greater-than operator. For example, if greaterThanOperatorName is *priorityabove* and the property's name is *priorityVal*, then queries like *priorityabove:<value>* show results only where the value of the property named *priorityVal* is greater than *<value>*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        },
        "lessThanOperatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the integer property using the less-than operator. For example, if lessThanOperatorName is *prioritybelow* and the property's name is *priorityVal*, then queries like *prioritybelow:<value>* show results only where the value of the property named *priorityVal* is less than *<value>*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        }
      },
      "id": "IntegerOperatorOptions",
      "type": "object"
    },
    "GetDataSourceIndexStatsResponse": {
      "properties": {
        "stats": {
          "items": {
            "$ref": "DataSourceIndexStats"
          },
          "type": "array",
          "description": "Summary of indexed item counts, one for each day in the requested range."
        },
        "averageIndexedItemCount": {
          "type": "string",
          "format": "int64",
          "description": "Average item count for the given date range for which billing is done."
        }
      },
      "type": "object",
      "id": "GetDataSourceIndexStatsResponse"
    },
    "SourceConfig": {
      "description": "Configurations for a source while processing a Search or Suggest request.",
      "id": "SourceConfig",
      "type": "object",
      "properties": {
        "source": {
          "description": "The source for which this configuration is to be used.",
          "$ref": "Source"
        },
        "crowdingConfig": {
          "$ref": "SourceCrowdingConfig",
          "description": "The crowding configuration for the source."
        },
        "scoringConfig": {
          "description": "The scoring configuration for the source.",
          "$ref": "SourceScoringConfig"
        }
      }
    },
    "InitializeCustomerRequest": {
      "id": "InitializeCustomerRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for `InitializeCustomer` method."
    },
    "ResultDebugInfo": {
      "properties": {
        "formattedDebugInfo": {
          "description": "General debug info formatted for display.",
          "type": "string"
        }
      },
      "id": "ResultDebugInfo",
      "description": "Debugging information about the result.",
      "type": "object"
    },
    "SearchApplicationQueryStats": {
      "id": "SearchApplicationQueryStats",
      "properties": {
        "date": {
          "description": "The date for which query stats were calculated. Stats calculated on the next day close to midnight are returned.",
          "$ref": "Date"
        },
        "queryCountByStatus": {
          "type": "array",
          "items": {
            "$ref": "QueryCountByStatus"
          }
        }
      },
      "description": "Search application level query stats per date",
      "type": "object"
    },
    "ListSearchApplicationsResponse": {
      "properties": {
        "searchApplications": {
          "type": "array",
          "items": {
            "$ref": "SearchApplication"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListSearchApplicationsResponse",
      "type": "object"
    },
    "FreshnessOptions": {
      "properties": {
        "freshnessProperty": {
          "type": "string",
          "description": "This property indicates the freshness level of the object in the index. If set, this property must be a top-level property within the property definitions and it must be a timestamp type or date type. Otherwise, the Indexing API uses updateTime as the freshness indicator. The maximum length is 256 characters. When a property is used to calculate freshness, the value defaults to 2 years from the current time."
        },
        "freshnessDuration": {
          "description": "The duration after which an object should be considered stale. The default value is 180 days (in seconds).",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Indicates which freshness property to use when adjusting search ranking for an item. Fresher, more recent dates indicate higher quality. Use the freshness option property that best works with your data. For fileshare documents, last modified time is most relevant. For calendar event data, the time when the event occurs is a more relevant freshness indicator. In this way, calendar events that occur closer to the time of the search query are considered higher quality and ranked accordingly.",
      "id": "FreshnessOptions"
    },
    "GetSearchApplicationUserStatsResponse": {
      "id": "GetSearchApplicationUserStatsResponse",
      "type": "object",
      "properties": {
        "stats": {
          "items": {
            "$ref": "SearchApplicationUserStats"
          },
          "type": "array"
        }
      }
    },
    "RetrievalImportance": {
      "type": "object",
      "id": "RetrievalImportance",
      "properties": {
        "importance": {
          "type": "string",
          "enum": [
            "DEFAULT",
            "HIGHEST",
            "HIGH",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "Treat the match like a body text match.",
            "Treat the match like a match against title of the item.",
            "Treat the match with higher importance than body text.",
            "Treat the match with lower importance than body text.",
            "Do not match against this field during retrieval. The property can still be used for operator matching, faceting, and suggest if desired."
          ],
          "description": "Indicates the ranking importance given to property when it is matched during retrieval. Once set, the token importance of a property cannot be changed."
        }
      }
    },
    "ResultDisplayField": {
      "type": "object",
      "id": "ResultDisplayField",
      "description": "Display Fields for Search Results",
      "properties": {
        "property": {
          "description": "The name value pair for the property.",
          "$ref": "NamedProperty"
        },
        "operatorName": {
          "type": "string",
          "description": "The operator name of the property."
        },
        "label": {
          "description": "The display label for the property.",
          "type": "string"
        }
      }
    },
    "SourceScoringConfig": {
      "id": "SourceScoringConfig",
      "type": "object",
      "properties": {
        "sourceImportance": {
          "type": "string",
          "enum": [
            "DEFAULT",
            "LOW",
            "HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Importance of the source."
        }
      },
      "description": "Set the scoring configuration. This allows modifying the ranking of results for a source."
    },
    "UploadItemRef": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the content reference. The maximum length is 2048 characters."
        }
      },
      "description": "Represents an upload session reference. This reference is created via upload method. This reference is valid for 30 days after its creation. Updating of item content may refer to this uploaded content via contentDataRef.",
      "type": "object",
      "id": "UploadItemRef"
    },
    "TimestampPropertyOptions": {
      "description": "The options for timestamp properties.",
      "type": "object",
      "properties": {
        "operatorOptions": {
          "description": "If set, describes how the timestamp should be used as a search operator.",
          "$ref": "TimestampOperatorOptions"
        }
      },
      "id": "TimestampPropertyOptions"
    },
    "HtmlValues": {
      "id": "HtmlValues",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "The maximum allowable length for html values is 2048 characters.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "List of html values."
    },
    "EnterpriseTopazSidekickMeetingNotesCardRequest": {
      "type": "object",
      "description": "Meeting notes card request.",
      "id": "EnterpriseTopazSidekickMeetingNotesCardRequest",
      "properties": {
        "event": {
          "$ref": "EnterpriseTopazSidekickAgendaEntry",
          "description": "The event to request meeting notes creation"
        },
        "error": {
          "description": "The error and reason if known error occured.",
          "$ref": "EnterpriseTopazSidekickMeetingNotesCardError"
        },
        "canCreateFor": {
          "description": "Who are the meeting notes created for.",
          "items": {
            "enumDescriptions": [
              "Unknown (default).",
              "For the requester.",
              "For all the meeting attendees."
            ],
            "type": "string",
            "enum": [
              "UNKNOWN",
              "MYSELF",
              "ALL_ATTENDEES"
            ]
          },
          "type": "array"
        }
      }
    },
    "QueryInterpretationConfig": {
      "properties": {
        "forceVerbatimMode": {
          "description": "Enable this flag to turn off all internal optimizations like natural language (NL) interpretation of queries, supplemental results retrieval, and usage of synonyms including custom ones. If this flag is set to True, it will take precedence over the option set at Query level. For the default value of False, query level flag will set the correct interpretation for verbatim mode.",
          "type": "boolean"
        },
        "forceDisableSupplementalResults": {
          "description": "Set this flag to disable supplemental results retrieval, setting a flag here will not retrieve supplemental results for queries associated with a given search application. If this flag is set to True, it will take precedence over the option set at Query level. For the default value of False, query level flag will set the correct interpretation for supplemental results.",
          "type": "boolean"
        }
      },
      "description": "Default options to interpret user query.",
      "id": "QueryInterpretationConfig",
      "type": "object"
    },
    "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfoDisambiguationPerson": {
      "id": "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfoDisambiguationPerson",
      "properties": {
        "query": {
          "description": "The query that can be used to produce an answer card with the same attribute, but for this person.",
          "type": "string"
        },
        "person": {
          "$ref": "EnterpriseTopazSidekickCommonPerson",
          "description": "The profile of this person."
        }
      },
      "type": "object",
      "description": "A person that also matches the query, but was not selected due to a lower affinity with the requesting user."
    },
    "ProcessingError": {
      "properties": {
        "fieldViolations": {
          "items": {
            "$ref": "FieldViolation"
          },
          "description": "In case the item fields are invalid, this field contains the details about the validation errors.",
          "type": "array"
        },
        "code": {
          "enumDescriptions": [
            "Input only value. Use this value in Items.",
            "Item's ACL, metadata, or content is malformed or in invalid state. FieldViolations contains more details on where the problem is.",
            "Countent format is unsupported.",
            "Items with incomplete ACL information due to inheriting other items with broken ACL or having groups with unmapped descendants.",
            "ACL inheritance graph formed a cycle."
          ],
          "type": "string",
          "enum": [
            "PROCESSING_ERROR_CODE_UNSPECIFIED",
            "MALFORMED_REQUEST",
            "UNSUPPORTED_CONTENT_FORMAT",
            "INDIRECT_BROKEN_ACL",
            "ACL_CYCLE"
          ],
          "description": "Error code indicating the nature of the error."
        },
        "errorMessage": {
          "description": "The description of the error.",
          "type": "string"
        }
      },
      "id": "ProcessingError",
      "type": "object"
    },
    "EnterpriseTopazSidekickPersonProfileCard": {
      "properties": {
        "relatedPeople": {
          "items": {
            "$ref": "EnterpriseTopazSidekickPersonProfileCardRelatedPeople"
          },
          "type": "array"
        },
        "subject": {
          "$ref": "EnterpriseTopazSidekickCommonPerson",
          "description": "The subject of the card."
        }
      },
      "type": "object",
      "id": "EnterpriseTopazSidekickPersonProfileCard"
    },
    "SuggestResult": {
      "properties": {
        "peopleSuggestion": {
[...]
