{
  "discoveryVersion": "v1",
  "baseUrl": "https://cloudsearch.googleapis.com/",
  "schemas": {
    "EnterpriseTopazSidekickPerson": {
      "description": "Person.",
      "type": "object",
      "properties": {
        "photoUrl": {
          "type": "string",
          "description": "Absolute URL to the profile photo of the person."
        },
        "obfuscatedGaiaId": {
          "description": "Obfuscated Gaia id.",
          "type": "string"
        },
        "email": {
          "description": "Email.",
          "type": "string"
        },
        "isGroup": {
          "type": "boolean",
          "description": "Whether the invitee is a group."
        },
        "affinityLevel": {
          "enum": [
            "UNKNOWN",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The level of affinity this person has with the requesting user."
        },
        "attendingStatus": {
          "enum": [
            "AWAITING",
            "YES",
            "NO",
            "MAYBE"
          ],
          "type": "string",
          "description": "Attendance status of the person when included in a meeting event.",
          "enumDescriptions": [
            "Awaiting for the user to set the status.",
            "Attending.",
            "Not attending.",
            "Tentatively attending."
          ]
        },
        "name": {
          "type": "string",
          "description": "Name."
        },
        "gaiaId": {
          "type": "string",
          "deprecated": true,
          "description": "Gaia id.",
          "format": "int64"
        }
      },
      "id": "EnterpriseTopazSidekickPerson"
    },
    "ListQuerySourcesResponse": {
      "id": "ListQuerySourcesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "QuerySource"
          }
        }
      },
      "type": "object",
      "description": "List sources response."
    },
    "EnterpriseTopazSidekickPeopleAnswerRelatedPeopleAnswerCard": {
      "description": "An answer card for a list of people that are related to the subject of the query.",
      "id": "EnterpriseTopazSidekickPeopleAnswerRelatedPeopleAnswerCard",
      "properties": {
        "responseStatus": {
          "description": "The response status.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SUCCESS",
            "MISSING_PERSON",
            "MISSING_DATA"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Success.",
            "No such person was found in the user's domain.",
            "A person was found to match the query, but an answer could not be obtained."
          ]
        },
        "statusMessage": {
          "type": "string",
          "description": "Localized user friendly message to display to the user in the case of missing data or an error."
        },
        "disambiguationInfo": {
          "$ref": "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfo",
          "description": "Disambiguation information."
        },
        "relatedPeople": {
          "description": "A list of people that are related to the query subject.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseTopazSidekickCommonPerson"
          }
        },
        "subject": {
          "description": "The profile of the person that was the subject of the query.",
          "$ref": "EnterpriseTopazSidekickCommonPerson"
        },
        "relationType": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "DIRECT_REPORTS",
            "MANAGER",
            "PEERS"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Direct reports.",
            "The manager.",
            "The teammates/peers of the subject."
          ],
          "description": "Defines the type of relation the list of people have with the subject of the card."
        },
        "header": {
          "description": "The header to display for the card.",
          "$ref": "EnterpriseTopazSidekickPeopleAnswerPeopleAnswerCardHeader"
        }
      },
      "type": "object"
    },
    "RemoveActivityRequest": {
      "type": "object",
      "description": "Remove Logged Activity Request.",
      "properties": {
        "requestOptions": {
          "description": "Request options, such as the search application and clientId.",
          "$ref": "RequestOptions"
        },
        "userActivity": {
          "$ref": "UserActivity",
          "description": "User Activity containing the data to be deleted."
        }
      },
      "id": "RemoveActivityRequest"
    },
    "EnterpriseTopazSidekickCommonDocumentJustification": {
      "description": "Justification of why we are reporting the document.",
      "properties": {
        "reason": {
          "enumDescriptions": [
            "Unknown justification.",
            "Popular documents within collaborators.",
            "Popular documents within the domain.",
            "Documents being reviewed frequently by the current user .",
            "Documents being edited frequently by the current user .",
            "Documents updated since user's last visit.",
            "Documents that receive comments since user's last visit.",
            "Documents in the calendar event description.",
            "Documents in the calendar event attachments section.",
            "Documents attached in calendar event metadata instead of the attachment section. Event metadata is not visible to the final user. Enterprise assist uses this metadata to store auto-generated documents such as meeting notes.",
            "Documents mined, and so, probably related to the request context. For example, this category includes documents related to a meeting.",
            "Documents that contains mentions of the user.",
            "Documents that are shared with the user."
          ],
          "enum": [
            "UNKNOWN",
            "TRENDING_IN_COLLABORATORS",
            "TRENDING_IN_DOMAIN",
            "FREQUENTLY_VIEWED",
            "FREQUENTLY_EDITED",
            "NEW_UPDATES",
            "NEW_COMMENTS",
            "EVENT_DESCRIPTION",
            "EVENT_ATTACHMENT",
            "EVENT_METADATA_ATTACHMENT",
            "MINED_DOCUMENT",
            "NEW_MENTIONS",
            "NEW_SHARES"
          ],
          "description": "Reason on why the document is selected. Populate for trending documents.",
          "type": "string"
        },
        "justification": {
          "description": "A locale aware message that explains why this document was selected.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseTopazSidekickCommonDocumentJustification"
    },
    "Filter": {
      "description": "A generic way of expressing filters in a query, which supports two approaches: **1. Setting a ValueFilter.** The name must match an operator_name defined in the schema for your data source. **2. Setting a CompositeFilter.** The filters are evaluated using the logical operator. The top-level operators can only be either an AND or a NOT. AND can appear only at the top-most level. OR can appear only under a top-level AND.",
      "properties": {
        "compositeFilter": {
          "$ref": "CompositeFilter"
        },
        "valueFilter": {
          "$ref": "ValueFilter"
        }
      },
      "id": "Filter",
      "type": "object"
    },
    "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfo": {
      "properties": {
        "disambiguation": {
          "items": {
            "$ref": "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfoDisambiguationPerson"
          },
          "description": "A list of people that also matched the query. This list is not complete.",
          "type": "array"
        },
        "name": {
          "description": "The name that was extracted from the query. This may be in the form of the given name, last name, full name, LDAP, or email address. This name can be considered suitable for displaying to the user and can largely be considered to be normalized (e.g. \"Bob's\" -> \"Bob\").",
          "type": "string"
        }
      },
      "id": "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfo",
      "description": "Metadata for disambiguation.",
      "type": "object"
    },
    "EnterpriseTopazSidekickGenericAnswerCard": {
      "id": "EnterpriseTopazSidekickGenericAnswerCard",
      "properties": {
        "title": {
          "description": "Title or header of the card.",
          "type": "string"
        },
        "answer": {
          "description": "The answer.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpdateSchemaRequest": {
      "id": "UpdateSchemaRequest",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "If true, the schema will be checked for validity, but will not be registered with the data source, even if valid."
        },
        "schema": {
          "description": "The new schema for the source.",
          "$ref": "Schema"
        },
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        }
      },
      "type": "object"
    },
    "StartUploadItemRequest": {
      "type": "object",
      "description": "Start upload file request.",
      "properties": {
        "connectorName": {
          "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
          "type": "string"
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        }
      },
      "id": "StartUploadItemRequest"
    },
    "SearchItemsByViewUrlResponse": {
      "type": "object",
      "id": "SearchItemsByViewUrlResponse",
      "properties": {
        "items": {
          "items": {
            "$ref": "Item"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "FacetOptions": {
      "properties": {
        "integerFacetingOptions": {
          "$ref": "IntegerFacetingOptions",
          "description": "If set, describes integer faceting options for the given integer property. The corresponding integer property in the schema should be marked isFacetable. The number of buckets returned would be minimum of this and num_facet_buckets."
        },
        "operatorName": {
          "type": "string",
          "description": "The name of the operator chosen for faceting. @see cloudsearch.SchemaPropertyOptions"
        },
        "objectType": {
          "description": "If object_type is set, only those objects of that type will be used to compute facets. If empty, then all objects will be used to compute facets.",
          "type": "string"
        },
        "numFacetBuckets": {
          "type": "integer",
          "description": "Maximum number of facet buckets that should be returned for this facet. Defaults to 10. Maximum value is 100.",
          "format": "int32"
        },
        "sourceName": {
          "description": "Source name to facet on. Format: datasources/{source_id} If empty, all data sources will be used.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specifies operators to return facet results for. There will be one FacetResult for every source_name/object_type/operator_name combination.",
      "id": "FacetOptions"
    },
    "RemoveActivityResponse": {
      "type": "object",
      "properties": {},
      "description": "Remove Logged Activity Response. will return an empty response for now. Will be revisited in later phases.",
      "id": "RemoveActivityResponse"
    },
    "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfoDisambiguationPerson": {
      "type": "object",
      "id": "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfoDisambiguationPerson",
      "description": "A person that also matches the query, but was not selected due to a lower affinity with the requesting user.",
      "properties": {
        "query": {
          "type": "string",
          "description": "The query that can be used to produce an answer card with the same attribute, but for this person."
        },
        "person": {
          "description": "The profile of this person.",
          "$ref": "EnterpriseTopazSidekickCommonPerson"
        }
      }
    },
    "StructuredDataObject": {
      "type": "object",
      "id": "StructuredDataObject",
      "description": "A structured data object consisting of named properties.",
      "properties": {
        "properties": {
          "type": "array",
          "description": "The properties for the object. The maximum number of elements is 1000.",
          "items": {
            "$ref": "NamedProperty"
          }
        }
      }
    },
    "CustomerSearchApplicationStats": {
      "type": "object",
      "description": "Search application stats for a customer for the given date.",
      "id": "CustomerSearchApplicationStats",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "The date for which search application stats were calculated."
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The count of search applications for the date."
        }
      }
    },
    "SearchResult": {
      "description": "Results containing indexed information for a document. Next ID: 17",
      "properties": {
        "url": {
          "description": "The URL of the search result. The URL contains a Google redirect to the actual item. This URL is signed and shouldn't be changed.",
          "type": "string"
        },
        "clusteredResults": {
          "items": {
            "$ref": "SearchResult"
          },
          "description": "If source is clustered, provide list of clustered results. There will only be one level of clustered results. If current source is not enabled for clustering, this field will be empty.",
          "type": "array"
        },
        "metadata": {
          "description": "Metadata of the search result.",
          "$ref": "Metadata"
        },
        "title": {
          "type": "string",
          "description": "Title of the search result."
        },
        "debugInfo": {
          "$ref": "ResultDebugInfo",
          "description": "Debugging information about this search result."
        },
        "snippet": {
          "description": "The concatenation of all snippets (summaries) available for this result.",
          "$ref": "Snippet"
        }
      },
      "type": "object",
      "id": "SearchResult"
    },
    "CustomerSettings": {
      "id": "CustomerSettings",
      "description": "Represents settings at a customer level.",
      "properties": {
        "vpcSettings": {
          "$ref": "VPCSettings",
          "description": "VPC SC settings for the customer. If update_mask is empty then this field will be updated based on UpdateCustomerSettings request."
        },
        "auditLoggingSettings": {
          "description": "Audit Logging settings for the customer. If update_mask is empty then this field will be updated based on UpdateCustomerSettings request.",
          "$ref": "AuditLoggingSettings"
        }
      },
      "type": "object"
    },
    "HtmlPropertyOptions": {
      "id": "HtmlPropertyOptions",
      "description": "The options for html properties.",
      "properties": {
        "operatorOptions": {
          "description": "If set, describes how the property should be used as a search operator.",
          "$ref": "HtmlOperatorOptions"
        },
        "retrievalImportance": {
          "$ref": "RetrievalImportance",
          "description": "Indicates the search quality importance of the tokens within the field when used for retrieval. Can only be set to DEFAULT or NONE."
        }
      },
      "type": "object"
    },
    "EnterpriseTopazSidekickCommonDocumentDriveDocumentMetadata": {
      "properties": {
        "scope": {
          "type": "string",
          "description": "ACL scope of the document which identifies the sharing status of the doc (e.g., limited, shared with link, team drive, ...).",
          "enum": [
            "UNKNOWN_DOCUMENT_SCOPE",
            "LIMITED",
            "DASHER_DOMAIN_WITH_LINK",
            "DASHER_DOMAIN",
            "PUBLIC_WITH_LINK",
            "PUBLIC",
            "TEAM_DRIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "lastViewTimeMs": {
          "description": "Timestamp of the most recent view from the current user in milliseconds since epoch.",
          "type": "string",
          "format": "uint64"
        },
        "lastUpdatedTimeMs": {
          "description": "Timestamp of the last updated time of the document in milliseconds since epoch.",
          "type": "string",
          "format": "uint64"
        },
        "lastEditTimeMs": {
          "format": "uint64",
          "type": "string",
          "description": "Timestamp of the most recent edit from the current user in milliseconds since epoch."
        },
        "lastModificationTimeMillis": {
          "description": "Last modification time of the document (independent of the user that modified it).",
          "format": "int64",
          "type": "string"
        },
        "documentId": {
          "type": "string",
          "deprecated": true,
          "description": "The drive document cosmo id. Client could use the id to build a URL to open a document. Please use Document.document_id."
        },
        "lastCommentTimeMs": {
          "type": "string",
          "format": "uint64",
          "description": "Timestamp of the most recent comment added to the document in milliseconds since epoch."
        },
        "owner": {
          "$ref": "EnterpriseTopazSidekickCommonPerson",
          "description": "The owner of the document."
        },
        "isPrivate": {
          "type": "boolean",
          "description": "Additional field to identify whether a document is private since scope set to LIMITED can mean both that the doc is private or that it's shared with others. is_private indicates whether the doc is not shared with anyone except for the owner."
        }
      },
      "description": "Meta data for drive documents.",
      "id": "EnterpriseTopazSidekickCommonDocumentDriveDocumentMetadata",
      "type": "object"
    },
    "QueryInterpretation": {
      "id": "QueryInterpretation",
      "properties": {
        "reason": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "QUERY_HAS_NATURAL_LANGUAGE_INTENT",
            "NOT_ENOUGH_RESULTS_FOUND_FOR_USER_QUERY"
          ],
          "enumDescriptions": [
            "",
            "Natural language interpretation of the query is used to fetch the search results.",
            "Query and document terms similarity is used to selectively broaden the query to retrieve additional search results since enough results were not found for the user query. Interpreted query will be empty for this case."
          ],
          "description": "The reason for interpretation of the query. This field will not be UNSPECIFIED if the interpretation type is not NONE."
        },
        "interpretedQueryActualResultCount": {
          "type": "integer",
          "description": "The actual number of results returned by the interpreted query.",
          "format": "int32"
        },
        "interpretationType": {
          "enumDescriptions": [
            "Neither the natural language interpretation, nor a broader version of the query is used to fetch the search results.",
            "The results from original query are blended with other results. The reason for blending these other results with the results from original query is populated in the 'Reason' field below.",
            "The results from original query are replaced. The reason for replacing the results from original query is populated in the 'Reason' field below."
          ],
          "enum": [
            "NONE",
            "BLEND",
            "REPLACE"
          ],
          "type": "string"
        },
        "interpretedQueryEstimatedResultCount": {
          "format": "int64",
          "description": "The estimated number of results returned by the interpreted query.",
          "type": "string"
        },
        "interpretedQuery": {
          "type": "string",
          "description": "The interpretation of the query used in search. For example, queries with natural language intent like \"email from john\" will be interpreted as \"from:john source:mail\". This field will not be filled when the reason is NOT_ENOUGH_RESULTS_FOUND_FOR_USER_QUERY."
        }
      },
      "type": "object"
    },
    "Person": {
      "id": "Person",
      "properties": {
        "photos": {
          "items": {
            "$ref": "Photo"
          },
          "description": "A person's read-only photo. A picture shown next to the person's name to help others recognize the person in search results.",
          "type": "array"
        },
        "personNames": {
          "description": "The person's name",
          "items": {
            "$ref": "Name"
          },
          "type": "array"
        },
        "name": {
          "description": "The resource name of the person to provide information about. See [`People.get`](https://developers.google.com/people/api/rest/v1/people/get) from the Google People API.",
          "type": "string"
        },
        "obfuscatedId": {
          "description": "Obfuscated ID of a person.",
          "type": "string"
        },
        "phoneNumbers": {
          "items": {
            "$ref": "PhoneNumber"
          },
          "description": "The person's phone numbers",
          "type": "array"
        },
        "emailAddresses": {
          "type": "array",
          "description": "The person's email addresses",
          "items": {
            "$ref": "EmailAddress"
          }
        }
      },
      "type": "object",
      "description": "Object to represent a person."
    },
    "ObjectPropertyOptions": {
      "type": "object",
      "properties": {
        "subobjectProperties": {
          "items": {
            "$ref": "PropertyDefinition"
          },
          "description": "The properties of the sub-object. These properties represent a nested object. For example, if this property represents a postal address, the subobjectProperties might be named *street*, *city*, and *state*. The maximum number of elements is 1000.",
          "type": "array"
        }
      },
      "description": "The options for object properties.",
      "id": "ObjectPropertyOptions"
    },
    "SearchResponse": {
      "properties": {
        "debugInfo": {
          "$ref": "ResponseDebugInfo",
          "description": "Debugging information about the response."
        },
        "spellResults": {
          "items": {
            "$ref": "SpellResult"
          },
          "description": "Suggested spelling for the query.",
          "type": "array"
        },
        "results": {
          "description": "Results from a search query.",
          "items": {
            "$ref": "SearchResult"
          },
          "type": "array"
        },
        "resultCountExact": {
          "type": "string",
          "description": "The exact result count for this query.",
          "format": "int64"
        },
        "facetResults": {
          "description": "Repeated facet results.",
          "items": {
            "$ref": "FacetResult"
          },
          "type": "array"
        },
        "resultCountEstimate": {
          "description": "The estimated result count for this query.",
          "format": "int64",
          "type": "string"
        },
        "errorInfo": {
          "$ref": "ErrorInfo",
          "description": "Error information about the response."
        },
        "structuredResults": {
          "type": "array",
          "description": "Structured results for the user query. These results are not counted against the page_size.",
          "items": {
            "$ref": "StructuredResult"
          }
        },
        "resultCounts": {
          "$ref": "ResultCounts",
          "description": "Expanded result count information."
        },
        "queryInterpretation": {
          "$ref": "QueryInterpretation",
          "description": "Query interpretation result for user query. Empty if query interpretation is disabled."
        },
        "hasMoreResults": {
          "description": "Whether there are more search results matching the query.",
          "type": "boolean"
        }
      },
      "id": "SearchResponse",
      "description": "The search API response. NEXT ID: 20",
      "type": "object"
    },
    "QueryInterpretationConfig": {
      "type": "object",
      "properties": {
        "forceVerbatimMode": {
          "description": "Enable this flag to turn off all internal optimizations like natural language (NL) interpretation of queries, supplemental results retrieval, and usage of synonyms including custom ones. If this flag is set to True, it will take precedence over the option set at Query level. For the default value of False, query level flag will set the correct interpretation for verbatim mode.",
          "type": "boolean"
        },
        "forceDisableSupplementalResults": {
          "description": "Set this flag to disable supplemental results retrieval, setting a flag here will not retrieve supplemental results for queries associated with a given search application. If this flag is set to True, it will take precedence over the option set at Query level. For the default value of False, query level flag will set the correct interpretation for supplemental results.",
          "type": "boolean"
        }
      },
      "description": "Default options to interpret user query.",
      "id": "QueryInterpretationConfig"
    },
    "DisplayedProperty": {
      "id": "DisplayedProperty",
      "type": "object",
      "properties": {
        "propertyName": {
          "description": "The name of the top-level property as defined in a property definition for the object. If the name is not a defined property in the schema, an error is given when attempting to update the schema.",
          "type": "string"
        }
      },
      "description": "A reference to a top-level property within the object that should be displayed in search results. The values of the chosen properties is displayed in the search results along with the display label for that property if one is specified. If a display label is not specified, only the values is shown."
    },
    "SuggestResult": {
      "description": "One suggestion result.",
      "type": "object",
      "properties": {
        "querySuggestion": {
          "description": "This field will be present if the suggested query is a word/phrase completion.",
          "$ref": "QuerySuggestion"
        },
        "peopleSuggestion": {
          "$ref": "PeopleSuggestion",
          "description": "This is present when the suggestion indicates a person. It contains more information about the person - like their email ID, name etc."
        },
        "source": {
          "$ref": "Source",
          "description": "The source of the suggestion."
        },
        "suggestedQuery": {
          "description": "The suggested query that will be used for search, when the user clicks on the suggestion",
          "type": "string"
        }
      },
      "id": "SuggestResult"
    },
    "QuerySuggestion": {
      "id": "QuerySuggestion",
      "properties": {
        "sourceCorpus": {
          "description": "Source corpus of the suggestion.",
          "type": "string",
          "enumDescriptions": [
            "Source corpus is unspecified.",
            "Source corpus is Gmail.",
            "Source corpus is Drive.",
            "Source corpus is Chat.",
            "Source corpus is Calendar."
          ],
          "enum": [
            "SOURCE_CORPUS_UNSPECIFIED",
            "GMAIL",
            "DRIVE",
            "CHAT",
            "CALENDAR"
          ]
        },
        "lastQueryTime": {
          "description": "Last query time of the suggestion for query history suggestions.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Operation": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "EnterpriseTopazSidekickPeopleAnswerPeopleAnswerCardHeader": {
      "id": "EnterpriseTopazSidekickPeopleAnswerPeopleAnswerCardHeader",
      "type": "object",
      "properties": {
        "title": {
          "description": "The suggested title to display. This defaults to the user's query.",
          "type": "string"
        }
      },
      "description": "Recommended header to display for the card."
    },
    "EnterpriseTopazSidekickCardMetadata": {
      "properties": {
        "chronology": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PAST",
            "RECENTLY_PAST",
            "PRESENT",
            "NEAR_FUTURE",
            "FUTURE"
          ],
          "description": "Chronology.",
          "enumDescriptions": [
            "Unknown chronology (default).",
            "Past.",
            "Recently past.",
            "Present.",
            "Near future.",
            "Future."
          ]
        },
        "renderMode": {
          "type": "string",
          "description": "Render mode.",
          "enum": [
            "UNKNOWN_RENDER",
            "COLLAPSED",
            "EXPANDED"
          ],
          "enumDescriptions": [
            "Unknown mode (default).",
            "Collapsed.",
            "Expanded."
          ]
        },
        "nlpMetadata": {
          "description": "Information about the NLP done to get the card.",
          "$ref": "EnterpriseTopazSidekickNlpMetadata"
        },
        "cardCategory": {
          "description": "Declares a preference for how this card should be packed in MSCR. All cards in a response must correspond to a single category. As a result, cards may be dropped from the response if this field is set. Any card that does not match the category of the card with the highest priority in the response will be dropped.",
          "enumDescriptions": [
            "Let MSCR decide how this card should be packed. Most cards should choose this type. This type should largely be considered equivalent to ANSWER. However, this is not guaranteed to be the case as the request to MSCR may override the static configuration.",
            "This card should be rendered as an answer card.",
            "This card should be rendered as a knowledge card (a non-organic result).",
            "This card should be rendered in the Homepage."
          ],
          "type": "string",
          "enum": [
            "DEFAULT",
            "ANSWER",
            "KNOWLEDGE",
            "HOMEPAGE"
          ]
        },
        "cardId": {
          "description": "An ID to identify the card and match actions to it. Be thoughtful of new card IDs since actions will be associated to that ID. E.g., if two card IDs collide, the system will think that the actions have been applied to the same card. Similarly, if EAS can return multiple cards of the same type (e.g., Meetings), ensure that the card_id identifies a given instance of the card so that, e.g., dismissals only affect the dismissed card as opposed to affecting all meeting cards.",
          "type": "string"
        },
        "debugInfo": {
          "description": "Debug info (only reported if request's debug_level > 0).",
          "type": "string"
        },
        "rankingParams": {
          "$ref": "EnterpriseTopazSidekickRankingParams",
          "description": "Ranking params."
        }
      },
      "type": "object",
      "id": "EnterpriseTopazSidekickCardMetadata",
      "description": "Card metadata."
    },
    "FacetResult": {
      "type": "object",
      "description": "Source specific facet response",
      "properties": {
        "sourceName": {
          "type": "string",
          "description": "Source name for which facet results are returned. Will not be empty."
        },
        "objectType": {
          "description": "Object type for which facet results are returned. Can be empty.",
          "type": "string"
        },
        "buckets": {
          "items": {
            "$ref": "FacetBucket"
          },
          "description": "FacetBuckets for values in response containing at least a single result with the corresponding filter.",
          "type": "array"
        },
        "operatorName": {
          "type": "string",
          "description": "The name of the operator chosen for faceting. @see cloudsearch.SchemaPropertyOptions"
        }
      },
      "id": "FacetResult"
    },
    "SearchApplicationUserStats": {
      "id": "SearchApplicationUserStats",
      "type": "object",
      "properties": {
        "oneDayActiveUsersCount": {
          "description": "The count of unique active users in the past one day",
          "type": "string",
          "format": "int64"
        },
        "thirtyDaysActiveUsersCount": {
          "format": "int64",
          "type": "string",
          "description": "The count of unique active users in the past thirty days"
        },
        "sevenDaysActiveUsersCount": {
          "description": "The count of unique active users in the past seven days",
          "type": "string",
          "format": "int64"
        },
        "date": {
          "description": "The date for which session stats were calculated. Stats calculated on the next day close to midnight are returned.",
          "$ref": "Date"
        }
      }
    },
    "EnterpriseTopazSidekickGap": {
      "id": "EnterpriseTopazSidekickGap",
      "type": "object",
      "properties": {
        "startTimeMs": {
          "type": "string",
          "format": "uint64"
        },
        "endTimeMs": {
          "type": "string",
          "format": "uint64"
        },
        "displayRemainingTime": {
          "description": "Localized time string in the format: 1 hour 15 minutes",
          "type": "string"
        },
        "endTime": {
          "description": "Localized time string in the format:(Locale CZ) 8:30 odp.",
          "type": "string"
        },
        "remainingTime": {
          "format": "google-duration",
          "type": "string"
        },
        "startTime": {
          "description": "Localized time string in the format:(Locale CZ) 8:30 odp.",
          "type": "string"
        }
      }
    },
    "DriveLocationRestrict": {
      "description": "Drive location search restricts (e.g. \"is:starred\").",
      "id": "DriveLocationRestrict",
      "properties": {
        "type": {
          "enum": [
            "UNSPECIFIED",
            "TRASHED",
            "STARRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "DriveTimeSpanRestrict": {
      "description": "The time span search restrict (e.g. \"after:2017-09-11 before:2017-09-12\").",
      "properties": {
        "type": {
          "enum": [
            "UNSPECIFIED",
            "TODAY",
            "YESTERDAY",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "Not Enabled",
            "Not Enabled"
          ],
          "type": "string"
        }
      },
      "id": "DriveTimeSpanRestrict",
      "type": "object"
    },
    "IndexItemOptions": {
      "id": "IndexItemOptions",
      "type": "object",
      "properties": {
        "allowUnknownGsuitePrincipals": {
          "type": "boolean",
          "description": "Specifies if the index request should allow Google Workspace principals that do not exist or are deleted."
        }
      }
    },
    "EnterpriseTopazSidekickAgendaGroupCardProto": {
      "id": "EnterpriseTopazSidekickAgendaGroupCardProto",
      "type": "object",
      "properties": {
        "agendaItem": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseTopazSidekickAgendaItem"
          }
        },
        "currentAgendaItem": {
          "$ref": "EnterpriseTopazSidekickAgendaItem"
        },
        "context": {
          "$ref": "EnterpriseTopazSidekickAgendaGroupCardProtoContext"
        }
      }
    },
    "SearchApplication": {
      "id": "SearchApplication",
      "description": "SearchApplication",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Search Application. Format: searchapplications/{application_id}."
        },
        "displayName": {
          "description": "Display name of the Search Application. The maximum length is 300 characters.",
          "type": "string"
        },
        "queryInterpretationConfig": {
          "description": "The default options for query interpretation",
          "$ref": "QueryInterpretationConfig"
        },
        "enableAuditLog": {
          "description": "Indicates whether audit logging is on/off for requests made for the search application in query APIs.",
          "type": "boolean"
        },
        "dataSourceRestrictions": {
          "type": "array",
          "items": {
            "$ref": "DataSourceRestriction"
          },
          "description": "Retrictions applied to the configurations. The maximum number of elements is 10."
        },
        "defaultSortOptions": {
          "$ref": "SortOptions",
          "description": "The default options for sorting the search results"
        },
        "sourceConfig": {
          "items": {
            "$ref": "SourceConfig"
          },
          "description": "Configuration for a sources specified in data_source_restrictions.",
          "type": "array"
        },
        "operationIds": {
          "readOnly": true,
          "description": "Output only. IDs of the Long Running Operations (LROs) currently running for this schema. Output only field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "returnResultThumbnailUrls": {
          "type": "boolean",
          "description": "With each result we should return the URI for its thumbnail (when applicable)"
        },
        "scoringConfig": {
          "description": "Configuration for ranking results.",
          "$ref": "ScoringConfig"
        },
        "defaultFacetOptions": {
          "type": "array",
          "description": "The default fields for returning facet results. The sources specified here also have been included in data_source_restrictions above.",
          "items": {
            "$ref": "FacetOptions"
          }
        }
      },
      "type": "object"
    },
    "UserActivity": {
      "description": "User's single or bulk query activity. This can be a logging query or deletion query.",
      "id": "UserActivity",
      "type": "object",
      "properties": {
        "queryActivity": {
          "description": "Contains data which needs to be logged/removed.",
          "$ref": "QueryActivity"
        }
      }
    },
    "BackgroundColoredText": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "[Required] The text to display."
        },
        "backgroundColor": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "[Optional] Color of the background. The text color can change depending on the selected background color, and the client does not have control over this. If missing, the background will be WHITE.",
          "type": "string",
          "enum": [
            "UNKNOWN_COLOR",
            "WHITE",
            "YELLOW",
            "ORANGE",
            "GREEN",
            "BLUE",
            "GREY"
          ]
        }
      },
      "id": "BackgroundColoredText"
    },
    "ValueFilter": {
      "id": "ValueFilter",
      "type": "object",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "The `operator_name` applied to the query, such as *price_greater_than*. The filter can work against both types of filters defined in the schema for your data source: 1. `operator_name`, where the query filters results by the property that matches the value. 2. `greater_than_operator_name` or `less_than_operator_name` in your schema. The query filters the results for the property values that are greater than or less than the supplied value in the query."
        },
        "value": {
          "description": "The value to be compared with.",
          "$ref": "Value"
        }
      }
    },
    "ObjectDefinition": {
      "properties": {
        "options": {
          "$ref": "ObjectOptions",
          "description": "The optional object-specific options."
        },
        "propertyDefinitions": {
          "description": "The property definitions for the object. The maximum number of elements is 1000.",
          "items": {
            "$ref": "PropertyDefinition"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The name for the object, which then defines its type. Item indexing requests should set the objectType field equal to this value. For example, if *name* is *Document*, then indexing requests for items of type Document should set objectType equal to *Document*. Each object definition must be uniquely named within a schema. The name must start with a letter and can only contain letters (A-Z, a-z) or numbers (0-9). The maximum length is 256 characters."
        }
      },
      "description": "The definition for an object within a data source.",
      "id": "ObjectDefinition",
      "type": "object"
    },
    "GetCustomerUserStatsResponse": {
      "id": "GetCustomerUserStatsResponse",
      "properties": {
        "stats": {
          "items": {
            "$ref": "CustomerUserStats"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SourceResultCount": {
      "description": "Per source result count information.",
      "properties": {
        "resultCountEstimate": {
          "description": "The estimated result count for this source.",
          "type": "string",
          "format": "int64"
        },
        "source": {
          "description": "The source the result count information is associated with.",
          "$ref": "Source"
        },
        "resultCountExact": {
          "format": "int64",
          "type": "string",
          "description": "The exact result count for this source."
        },
        "hasMoreResults": {
          "type": "boolean",
          "description": "Whether there are more search results for this source."
        }
      },
      "type": "object",
      "id": "SourceResultCount"
    },
    "PollItemsResponse": {
      "id": "PollItemsResponse",
      "properties": {
        "items": {
          "description": "Set of items from the queue available for connector to process. These items have the following subset of fields populated: version metadata.hash structured_data.hash content.hash payload status queue",
          "type": "array",
          "items": {
            "$ref": "Item"
          }
        }
      },
      "type": "object"
    },
    "ItemAcl": {
      "description": "Access control list information for the item. For more information see [Map ACLs](https://developers.google.com/workspace/cloud-search/docs/guides/acls).",
      "properties": {
        "readers": {
          "type": "array",
          "items": {
            "$ref": "Principal"
          },
          "description": "List of principals who are allowed to see the item in search results. Optional if inheriting permissions from another item or if the item is not intended to be visible, such as virtual containers. The maximum number of elements is 1000."
        },
        "owners": {
          "description": "Optional. List of owners for the item. This field has no bearing on document access permissions. It does, however, offer a slight ranking boosts items where the querying user is an owner. The maximum number of elements is 5.",
          "items": {
            "$ref": "Principal"
          },
          "type": "array"
        },
        "inheritAclFrom": {
          "type": "string",
          "description": "The name of the item to inherit the Access Permission List (ACL) from. Note: ACL inheritance *only* provides access permissions to child items and does not define structural relationships, nor does it provide convenient ways to delete large groups of items. Deleting an ACL parent from the index only alters the access permissions of child items that reference the parent in the inheritAclFrom field. The item is still in the index, but may not visible in search results. By contrast, deletion of a container item also deletes all items that reference the container via the containerName field. The maximum length for this field is 1536 characters."
        },
        "aclInheritanceType": {
          "description": "Sets the type of access rules to apply when an item inherits its ACL from a parent. This should always be set in tandem with the inheritAclFrom field. Also, when the inheritAclFrom field is set, this field should be set to a valid AclInheritanceType.",
          "type": "string",
          "enum": [
            "NOT_APPLICABLE",
            "CHILD_OVERRIDE",
            "PARENT_OVERRIDE",
            "BOTH_PERMIT"
          ],
          "enumDescriptions": [
            "The default value when this item does not inherit an ACL. Use NOT_APPLICABLE when inheritAclFrom is empty. An item without ACL inheritance can still have ACLs supplied by its own readers and deniedReaders fields.",
            "During an authorization conflict, the ACL of the child item determines its read access.",
            "During an authorization conflict, the ACL of the parent item specified in the inheritAclFrom field determines read access.",
            "Access is granted only if this item and the parent item specified in the inheritAclFrom field both permit read access."
          ]
        },
        "deniedReaders": {
          "type": "array",
          "items": {
            "$ref": "Principal"
          },
          "description": "List of principals who are explicitly denied access to the item in search results. While principals are denied access by default, use denied readers to handle exceptions and override the list allowed readers. The maximum number of elements is 100."
        }
      },
      "id": "ItemAcl",
      "type": "object"
    },
    "ItemStructuredData": {
      "description": "Available structured data fields for the item.",
      "id": "ItemStructuredData",
      "type": "object",
      "properties": {
        "hash": {
          "type": "string",
          "description": "Hashing value provided by the API caller. This can be used with the items.push method to calculate modified state. The maximum length is 2048 characters."
        },
        "object": {
          "$ref": "StructuredDataObject",
          "description": "The structured data object that should conform to a registered object definition in the schema for the data source."
        }
      }
    },
    "IntegerValues": {
      "id": "IntegerValues",
      "properties": {
        "values": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "List of integer values.",
      "type": "object"
    },
    "IndexItemRequest": {
      "properties": {
        "item": {
          "$ref": "Item",
          "description": "The name of the item. Format: datasources/{source_id}/items/{item_id}"
        },
        "mode": {
          "enumDescriptions": [
            "The priority is not specified in the update request. Leaving priority unspecified results in an update failure.",
            "For real-time updates.",
            "For changes that are executed after the response is sent back to the caller."
          ],
          "description": "Required. The RequestMode for this request.",
          "enum": [
            "UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "type": "string"
        },
        "indexItemOptions": {
          "$ref": "IndexItemOptions"
        },
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        },
        "connectorName": {
          "type": "string",
          "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
        }
      },
      "type": "object",
      "id": "IndexItemRequest"
    },
    "BooleanOperatorOptions": {
      "type": "object",
      "description": "Used to provide a search operator for boolean properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the boolean property. For example, if operatorName is *closed* and the property's name is *isClosed*, then queries like *closed:<value>* show results only where the value of the property named *isClosed* matches *<value>*. By contrast, a search that uses the same *<value>* without an operator returns all items where *<value>* matches the value of any String properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        }
      },
      "id": "BooleanOperatorOptions"
    },
    "ItemMetadata": {
      "id": "ItemMetadata",
      "description": "Available metadata fields for the item.",
      "type": "object",
      "properties": {
        "objectType": {
          "type": "string",
          "description": "The type of the item. This should correspond to the name of an object definition in the schema registered for the data source. For example, if the schema for the data source contains an object definition with name 'document', then item indexing requests for objects of that type should set objectType to 'document'. The maximum length is 256 characters."
        },
        "containerName": {
          "type": "string",
          "description": "The name of the container for this item. Deletion of the container item leads to automatic deletion of this item. Note: ACLs are not inherited from a container item. To provide ACL inheritance for an item, use the inheritAclFrom field. The maximum length is 1536 characters."
        },
        "mimeType": {
          "description": "The original mime-type of ItemContent.content in the source repository. The maximum length is 256 characters.",
          "type": "string"
        },
        "contentLanguage": {
          "description": "The BCP-47 language code for the item, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. The maximum length is 32 characters.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the item. If given, this will be the displayed title of the Search result. The maximum length is 2048 characters."
        },
        "hash": {
          "description": "Hashing value provided by the API caller. This can be used with the items.push method to calculate modified state. The maximum length is 2048 characters.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The time when the item was created in the source repository.",
          "format": "google-datetime"
        },
        "sourceRepositoryUrl": {
          "description": "Link to the source repository serving the data. Seach results apply this link to the title. Whitespace or special characters may cause Cloud Seach result links to trigger a redirect notice; to avoid this, encode the URL. The maximum length is 2048 characters.",
          "type": "string"
        },
        "searchQualityMetadata": {
          "$ref": "SearchQualityMetadata",
          "description": "Additional search quality metadata of the item"
        },
        "keywords": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional keywords or phrases that should match the item. Used internally for user generated content. The maximum number of elements is 100. The maximum length is 8192 characters."
        },
        "updateTime": {
          "description": "The time when the item was last modified in the source repository.",
          "format": "google-datetime",
          "type": "string"
        },
        "interactions": {
          "items": {
            "$ref": "Interaction"
          },
          "description": "A list of interactions for the item. Interactions are used to improve Search quality, but are not exposed to end users. The maximum number of elements is 1000.",
          "type": "array"
        },
        "contextAttributes": {
          "description": "A set of named attributes associated with the item. This can be used for influencing the ranking of the item based on the context in the request. The maximum number of elements is 10.",
          "type": "array",
          "items": {
            "$ref": "ContextAttribute"
          }
        }
      }
    },
    "ResultCounts": {
      "description": "Result count information",
      "type": "object",
      "properties": {
        "sourceResultCounts": {
          "description": "Result count information for each source with results.",
          "items": {
            "$ref": "SourceResultCount"
          },
          "type": "array"
        }
      },
      "id": "ResultCounts"
    },
    "SafeHtmlProto": {
      "description": "IMPORTANT: It is unsafe to accept this message from an untrusted source, since it's trivial for an attacker to forge serialized messages that don't fulfill the type's safety contract -- for example, it could contain attacker controlled script. A system which receives a SafeHtmlProto implicitly trusts the producer of the SafeHtmlProto. So, it's generally safe to return this message in RPC responses, but generally unsafe to accept it in RPC requests.",
      "type": "object",
      "properties": {
        "privateDoNotAccessOrElseSafeHtmlWrappedValue": {
          "description": "IMPORTANT: Never set or read this field, even from tests, it is private. See documentation at the top of .proto file for programming language packages with which to create or read this message.",
          "type": "string"
        }
      },
      "id": "SafeHtmlProto"
    },
    "SuggestResponse": {
      "id": "SuggestResponse",
      "type": "object",
      "description": "Response of the suggest API.",
      "properties": {
        "suggestResults": {
          "items": {
            "$ref": "SuggestResult"
          },
          "type": "array",
          "description": "List of suggestions."
        }
      }
    },
    "EnterpriseTopazSidekickTimeSlot": {
      "type": "object",
      "description": "Slot of time.",
      "properties": {
        "startTimeHourAndMinute": {
          "description": "Hour and minute of the start time at the user's timezone.",
          "type": "string"
        },
        "endTimeInMillis": {
          "type": "string",
          "description": "End time in milliseconds.",
          "format": "int64"
        },
        "startTimeInMillis": {
          "type": "string",
          "description": "Start time in milliseconds.",
          "format": "int64"
        },
        "startTimeDay": {
          "type": "string",
          "description": "Day start time at user's timezone."
        },
        "endTimeDay": {
          "type": "string",
          "description": "Day end time at the user's timezone."
        },
        "endTimeHourAndMinute": {
          "type": "string",
          "description": "Hour and minute of the end time at the user's timezone."
        }
      },
      "id": "EnterpriseTopazSidekickTimeSlot"
    },
    "Action": {
      "type": "object",
      "id": "Action",
      "properties": {
        "title": {
          "description": "[Required] Title of the action.",
          "type": "string"
        },
        "url": {
          "description": "[Optional] Url of the action.",
          "type": "string"
        }
      }
    },
    "SearchRequest": {
      "description": "The search API request. NEXT ID: 26",
      "properties": {
        "pageSize": {
          "description": "Maximum number of search results to return in one page. Valid values are between 1 and 100, inclusive. Default value is 10. Minimum value is 50 when results beyond 2000 are requested.",
          "type": "integer",
          "format": "int32"
        },
        "contextAttributes": {
          "items": {
            "$ref": "ContextAttribute"
          },
          "description": "Context attributes for the request which will be used to adjust ranking of search results. The maximum number of elements is 10.",
          "type": "array"
        },
        "facetOptions": {
          "type": "array",
          "items": {
            "$ref": "FacetOptions"
          }
        },
        "queryInterpretationOptions": {
          "$ref": "QueryInterpretationOptions",
          "description": "Options to interpret the user query."
        },
        "sortOptions": {
          "$ref": "SortOptions",
          "description": "The options for sorting the search results"
        },
        "query": {
          "type": "string",
          "description": "The raw query string. See supported search operators in the [Narrow your search with operators](https://support.google.com/cloudsearch/answer/6172299)"
        },
        "dataSourceRestrictions": {
          "type": "array",
          "items": {
            "$ref": "DataSourceRestriction"
          },
          "description": "The sources to use for querying. If not specified, all data sources from the current search application are used."
        },
        "start": {
          "description": "Starting index of the results.",
          "type": "integer",
          "format": "int32"
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Request options, such as the search application and user timezone."
        }
      },
      "type": "object",
      "id": "SearchRequest"
    },
    "EnterpriseTopazSidekickPersonProfileCardRelatedPeople": {
      "type": "object",
      "properties": {
        "relation": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Relation type.",
          "enum": [
            "UNKNOWN",
            "MANAGER",
            "DIRECT_REPORT"
          ]
        },
        "relatedPerson": {
          "items": {
            "$ref": "EnterpriseTopazSidekickCommonPerson"
          },
          "type": "array",
          "description": "Related people."
        }
      },
      "id": "EnterpriseTopazSidekickPersonProfileCardRelatedPeople"
    },
    "CustomerSessionStats": {
      "type": "object",
      "id": "CustomerSessionStats",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "The date for which session stats were calculated. Stats are calculated on the following day, close to midnight PST, and then returned."
        },
        "searchSessionsCount": {
          "format": "int64",
          "description": "The count of search sessions on the day",
          "type": "string"
        }
      }
    },
    "Value": {
      "properties": {
        "timestampValue": {
          "format": "google-datetime",
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "dateValue": {
          "$ref": "Date"
        },
        "stringValue": {
          "type": "string"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "integerValue": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Definition of a single value with generic type.",
      "id": "Value"
    },
    "PushItemRequest": {
      "id": "PushItemRequest",
      "type": "object",
      "properties": {
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "connectorName": {
          "type": "string",
          "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
        },
        "item": {
          "description": "Item to push onto the queue.",
          "$ref": "PushItem"
        }
      }
    },
    "QueryCountByStatus": {
      "properties": {
        "statusCode": {
          "type": "integer",
          "description": "This represents the http status code.",
          "format": "int32"
        },
        "count": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "QueryCountByStatus",
      "type": "object"
    },
    "UnreserveItemsRequest": {
      "id": "UnreserveItemsRequest",
      "properties": {
        "connectorName": {
          "type": "string",
          "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
        },
        "queue": {
          "description": "The name of a queue to unreserve items from.",
          "type": "string"
        },
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        }
      },
      "type": "object"
    },
    "TimestampPropertyOptions": {
      "description": "The options for timestamp properties.",
      "type": "object",
      "id": "TimestampPropertyOptions",
      "properties": {
        "operatorOptions": {
          "$ref": "TimestampOperatorOptions",
          "description": "If set, describes how the timestamp should be used as a search operator."
        }
      }
    },
    "Metadata": {
      "type": "object",
      "description": "Metadata of a matched search result.",
      "id": "Metadata",
      "properties": {
        "thumbnailUrl": {
          "type": "string",
          "description": "The thumbnail URL of the result."
        },
        "fields": {
          "items": {
            "$ref": "NamedProperty"
          },
          "description": "Indexed fields in structured data, returned as a generic named property.",
          "type": "array"
        },
        "objectType": {
          "description": "Object type of the search result.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The creation time for this document or object in the search result.",
          "type": "string"
        },
        "displayOptions": {
          "description": "Options that specify how to display a structured data search result.",
          "$ref": "ResultDisplayMetadata"
        },
        "mimeType": {
          "type": "string",
          "description": "Mime type of the search result."
        },
        "owner": {
          "$ref": "Person",
          "description": "Owner (usually creator) of the document or object of the search result."
        },
        "updateTime": {
          "description": "The last modified date for the object in the search result. If not set in the item, the value returned here is empty. When `updateTime` is used for calculating freshness and is not set, this value defaults to 2 years from the current time.",
          "type": "string",
          "format": "google-datetime"
        },
        "source": {
          "description": "The named source for the result, such as Gmail.",
          "$ref": "Source"
        }
      }
    },
    "AuditLoggingSettings": {
      "properties": {
        "logAdminReadActions": {
          "description": "Indicates whether audit logging is on/off for admin activity read APIs i.e. Get/List DataSources, Get/List SearchApplications etc.",
          "type": "boolean"
        },
        "project": {
          "type": "string",
          "description": "The resource name of the GCP Project to store audit logs. Cloud audit logging will be enabled after project_name has been updated through CustomerService. Format: projects/{project_id}"
        },
        "logDataWriteActions": {
          "type": "boolean",
          "description": "Indicates whether audit logging is on/off for data access write APIs i.e. IndexItem etc."
        },
        "logDataReadActions": {
          "description": "Indicates whether audit logging is on/off for data access read APIs i.e. ListItems, GetItem etc.",
          "type": "boolean"
        }
      },
      "description": "Represents the settings for Cloud audit logging",
      "id": "AuditLoggingSettings",
      "type": "object"
    },
    "QuerySource": {
      "description": "List of sources that the user can search using the query API.",
      "properties": {
        "operators": {
          "type": "array",
          "description": "List of all operators applicable for this source.",
          "items": {
            "$ref": "QueryOperator"
          }
        },
        "displayName": {
          "description": "Display name of the data source.",
          "type": "string"
        },
        "source": {
          "$ref": "Source",
          "description": "The name of the source"
        },
        "shortName": {
          "type": "string",
          "description": "A short name or alias for the source. This value can be used with the 'source' operator."
        }
      },
      "type": "object",
      "id": "QuerySource"
    },
    "SearchQualityMetadata": {
      "type": "object",
      "id": "SearchQualityMetadata",
      "properties": {
        "quality": {
          "format": "double",
          "type": "number",
          "description": "An indication of the quality of the item, used to influence search quality. Value should be between 0.0 (lowest quality) and 1.0 (highest quality). The default value is 0.0."
        }
      },
      "description": "Additional search quality metadata of the item."
    },
    "EnumPropertyOptions": {
      "id": "EnumPropertyOptions",
      "properties": {
        "possibleValues": {
          "description": "The list of possible values for the enumeration property. All EnumValuePairs must provide a string value. If you specify an integer value for one EnumValuePair, then all possible EnumValuePairs must provide an integer value. Both the string value and integer value must be unique over all possible values. Once set, possible values cannot be removed or modified. If you supply an ordered ranking and think you might insert additional enum values in the future, leave gaps in the initial integer values to allow adding a value in between previously registered values. The maximum number of elements is 100.",
          "type": "array",
          "items": {
            "$ref": "EnumValuePair"
          }
        },
        "orderedRanking": {
          "enum": [
            "NO_ORDER",
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "There is no ranking order for the property. Results aren't adjusted by this property's value.",
            "This property is ranked in ascending order. Lower values indicate lower ranking.",
            "This property is ranked in descending order. Lower values indicate higher ranking."
          ],
          "description": "Used to specify the ordered ranking for the enumeration that determines how the integer values provided in the possible EnumValuePairs are used to rank results. If specified, integer values must be provided for all possible EnumValuePair values given for this property. Can only be used if isRepeatable is false.",
          "type": "string"
        },
        "operatorOptions": {
          "description": "If set, describes how the enum should be used as a search operator.",
          "$ref": "EnumOperatorOptions"
        }
      },
      "type": "object",
      "description": "The options for enum properties, which allow you to define a restricted set of strings to match user queries, set rankings for those string values, and define an operator name to be paired with those strings so that users can narrow results to only items with a specific value. For example, for items in a request tracking system with priority information, you could define *p0* as an allowable enum value and tie this enum to the operator name *priority* so that search users could add *priority:p0* to their query to restrict the set of results to only those items indexed with the value *p0*."
    },
    "Principal": {
      "id": "Principal",
      "description": "Reference to a user, group, or domain.",
      "properties": {
        "groupResourceName": {
          "type": "string",
          "description": "This principal is a group identified using an external identity. The name field must specify the group resource name with this format: identitysources/{source_id}/groups/{ID}"
        },
        "userResourceName": {
          "type": "string",
          "description": "This principal is a user identified using an external identity. The name field must specify the user resource name with this format: identitysources/{source_id}/users/{ID}"
        },
        "gsuitePrincipal": {
          "description": "This principal is a Google Workspace user, group or domain.",
          "$ref": "GSuitePrincipal"
        }
      },
      "type": "object"
    },
    "NamedProperty": {
      "id": "NamedProperty",
      "description": "A typed name-value pair for structured data. The type of the value should be the same as the registered type for the `name` property in the object definition of `objectType`.",
      "properties": {
        "timestampValues": {
          "$ref": "TimestampValues"
        },
        "integerValues": {
          "$ref": "IntegerValues"
        },
        "textValues": {
          "$ref": "TextValues"
        },
        "enumValues": {
          "$ref": "EnumValues"
        },
        "htmlValues": {
          "$ref": "HtmlValues"
        },
        "objectValues": {
          "$ref": "ObjectValues"
        },
        "name": {
          "type": "string",
          "description": "The name of the property. This name should correspond to the name of the property that was registered for object definition in the schema. The maximum allowable length for this property is 256 characters."
        },
        "booleanValue": {
          "type": "boolean"
        },
        "dateValues": {
          "$ref": "DateValues"
        },
        "doubleValues": {
          "$ref": "DoubleValues"
        }
      },
      "type": "object"
    },
    "PollItemsRequest": {
      "type": "object",
      "properties": {
        "statusCodes": {
          "items": {
            "type": "string",
            "enum": [
              "CODE_UNSPECIFIED",
              "ERROR",
              "MODIFIED",
              "NEW_ITEM",
              "ACCEPTED"
            ],
            "enumDescriptions": [
              "Input-only value. Used with Items.list to list all items in the queue, regardless of status.",
              "Error encountered by Cloud Search while processing this item. Details of the error are in repositoryError.",
              "Item has been modified in the repository, and is out of date with the version previously accepted into Cloud Search.",
              "Item is known to exist in the repository, but is not yet accepted by Cloud Search. An item can be in this state when Items.push has been called for an item of this name that did not exist previously.",
              "API has accepted the up-to-date data of this item."
            ]
          },
          "type": "array",
          "description": "Limit the items polled to the ones with these statuses."
        },
        "limit": {
          "description": "Maximum number of items to return. The maximum value is 100 and the default value is 20.",
          "format": "int32",
          "type": "integer"
        },
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        },
        "queue": {
          "type": "string",
          "description": "Queue name to fetch items from. If unspecified, PollItems will fetch from 'default' queue. The maximum length is 100 characters."
        },
        "connectorName": {
          "type": "string",
          "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
        }
      },
      "id": "PollItemsRequest"
    },
    "HtmlOperatorOptions": {
      "description": "Used to provide a search operator for html properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the html property. For example, if operatorName is *subject* and the property's name is *subjectLine*, then queries like *subject:<value>* show results only where the value of the property named *subjectLine* matches *<value>*. By contrast, a search that uses the same *<value>* without an operator return all items where *<value>* matches the value of any html properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        }
      },
      "type": "object",
      "id": "HtmlOperatorOptions"
    },
    "InitializeCustomerRequest": {
      "properties": {},
      "description": "Request message for `InitializeCustomer` method.",
      "type": "object",
      "id": "InitializeCustomerRequest"
    },
    "GetCustomerQueryStatsResponse": {
      "id": "GetCustomerQueryStatsResponse",
      "type": "object",
      "properties": {
        "stats": {
          "type": "array",
          "items": {
            "$ref": "CustomerQueryStats"
          }
        },
        "totalQueryCount": {
          "format": "int64",
          "description": "Total successful query count (status code 200) for the given date range.",
          "type": "string"
        }
      }
    },
    "EnterpriseTopazSidekickMeetingNotesCardRequest": {
      "description": "Meeting notes card request.",
      "type": "object",
      "id": "EnterpriseTopazSidekickMeetingNotesCardRequest",
      "properties": {
        "canCreateFor": {
          "description": "Who are the meeting notes created for.",
          "items": {
            "enumDescriptions": [
              "Unknown (default).",
              "For the requester.",
              "For all the meeting attendees."
            ],
            "type": "string",
            "enum": [
              "UNKNOWN",
              "MYSELF",
              "ALL_ATTENDEES"
            ]
          },
          "type": "array"
        },
        "event": {
          "$ref": "EnterpriseTopazSidekickAgendaEntry",
          "description": "The event to request meeting notes creation"
        },
        "error": {
          "$ref": "EnterpriseTopazSidekickMeetingNotesCardError",
          "description": "The error and reason if known error occured."
        }
      }
    },
    "DataSourceRestriction": {
      "properties": {
        "filterOptions": {
          "type": "array",
          "description": "Filter options restricting the results. If multiple filters are present, they are grouped by object type before joining. Filters with the same object type are joined conjunctively, then the resulting expressions are joined disjunctively. The maximum number of elements is 20. NOTE: Suggest API supports only few filters at the moment: \"objecttype\", \"type\" and \"mimetype\". For now, schema specific filters cannot be used to filter suggestions.",
          "items": {
            "$ref": "FilterOptions"
          }
        },
        "source": {
          "description": "The source of restriction.",
          "$ref": "Source"
        }
      },
      "id": "DataSourceRestriction",
      "type": "object",
      "description": "Restriction on Datasource."
    },
    "EnterpriseTopazSidekickPersonProfileCard": {
      "type": "object",
      "id": "EnterpriseTopazSidekickPersonProfileCard",
      "properties": {
        "relatedPeople": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseTopazSidekickPersonProfileCardRelatedPeople"
          }
        },
        "subject": {
          "$ref": "EnterpriseTopazSidekickCommonPerson",
          "description": "The subject of the card."
        }
      }
    },
    "BooleanPropertyOptions": {
      "type": "object",
      "id": "BooleanPropertyOptions",
      "properties": {
        "operatorOptions": {
          "description": "If set, describes how the boolean should be used as a search operator.",
          "$ref": "BooleanOperatorOptions"
        }
      },
      "description": "The options for boolean properties."
    },
    "EnterpriseTopazSidekickRecentDocumentsCardProto": {
      "type": "object",
      "properties": {
        "document": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseTopazSidekickCommonDocument"
          }
        }
      },
      "id": "EnterpriseTopazSidekickRecentDocumentsCardProto"
    },
    "PhoneNumber": {
      "type": "object",
      "id": "PhoneNumber",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the person."
        },
        "type": {
          "enum": [
            "OTHER",
            "MOBILE",
            "OFFICE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "description": "A person's Phone Number"
    },
    "EnterpriseTopazSidekickRankingParams": {
      "properties": {
        "startTimeMs": {
          "description": "The start-time that this object will bid-for If the type is marked as FIXED, then this start-time will persist after bidding. If the type is marked as FLEXIBLE, then it will occur at the given time or sometime after the requested time. Expected to be set for all types.",
          "format": "uint64",
          "type": "string"
        },
        "endTimeMs": {
          "type": "string",
          "description": "The end-time that this object will expect to occur. If the type is marked as FIXED, then this end-time will persist after bidding. If the type is marked as FLEXIBLE, this field is NOT expected to be filled and will be filled in after it has won a bid. Expected to be set when type is set to FIXED.",
          "format": "uint64"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Fixed, i.e., the card is time sensitive.",
            "Flexible, i.e., the card is not time sensitive."
          ],
          "enum": [
            "FIXED",
            "FLEXIBLE"
          ],
          "description": "The packing type of this object."
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "The score of the card to be used to break priority-ties"
        },
        "priority": {
          "type": "string",
          "enumDescriptions": [
            "Unknown (default).",
            "Critical.",
            "Important.",
            "High.",
            "Normal.",
            "Best effort."
          ],
          "description": "The priority to determine between objects that have the same start_time_ms The lower-value of priority == ranked higher. Max-priority = 0. Expected to be set for all types.",
          "enum": [
            "UNKNOWN",
            "CRITICAL",
            "IMPORTANT",
            "HIGH",
            "NORMAL",
            "BEST_EFFORT"
          ]
        },
        "spanMs": {
          "format": "uint64",
          "description": "The span that this card will take in the stream Expected to be set when type is set to FLEXIBLE.",
          "type": "string"
        }
      },
      "description": "Ranking params.",
      "type": "object",
      "id": "EnterpriseTopazSidekickRankingParams"
    },
    "TextPropertyOptions": {
      "type": "object",
      "description": "The options for text properties.",
      "properties": {
        "retrievalImportance": {
          "description": "Indicates the search quality importance of the tokens within the field when used for retrieval.",
          "$ref": "RetrievalImportance"
        },
        "operatorOptions": {
          "$ref": "TextOperatorOptions",
          "description": "If set, describes how the property should be used as a search operator."
        }
      },
      "id": "TextPropertyOptions"
    },
    "ObjectDisplayOptions": {
      "id": "ObjectDisplayOptions",
      "description": "The display options for an object.",
      "type": "object",
      "properties": {
        "objectDisplayLabel": {
          "description": "The user friendly label to display in the search result to indicate the type of the item. This is OPTIONAL; if not provided, an object label isn't displayed on the context line of the search results. The maximum length is 64 characters.",
          "type": "string"
        },
        "metalines": {
          "items": {
            "$ref": "Metaline"
          },
          "description": "Defines the properties that are displayed in the metalines of the search results. The property values are displayed in the order given here. If a property holds multiple values, all of the values are displayed before the next properties. For this reason, it is a good practice to specify singular properties before repeated properties in this list. All of the properties must set is_returnable to true. The maximum number of metalines is 3.",
          "type": "array"
        }
      }
    },
    "EnterpriseTopazSidekickCommonDebugInfo": {
      "id": "EnterpriseTopazSidekickCommonDebugInfo",
      "description": "Container of debugging information in all object levels. Extend as needed.",
      "properties": {
        "message": {
          "description": "Debug message.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseTopazSidekickDocumentPerCategoryList": {
      "id": "EnterpriseTopazSidekickDocumentPerCategoryList",
      "properties": {
        "listTypeDescription": {
          "type": "string",
          "description": "Description of the types of documents present in the list."
        },
        "helpMessage": {
          "type": "string",
          "description": "Localized message explaining how the documents were derived (e.g. from the last 30 days activity). This field is optional."
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseTopazSidekickDocumentPerCategoryListDocumentPerCategoryListEntry"
          }
        },
        "responseMessage": {
          "description": "Response message in case no documents are present in the card.",
          "type": "string"
        },
        "listType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "All documents in the list correspond to one of the mention categories.",
            "All documents in the list correspond to one of the share categories.",
            "A mixture of document categories that correspond to documents that need the users attention (e.g. documents that have been explicitly shared with the user but have not been viewed and documents where the user was mentioned but has not replied).",
            "All documents in the list correspond to one of the view categories.",
            "All documents in the list correspond to one of the edit categories."
          ],
          "enum": [
            "UNKNOWN_LIST_TYPE",
            "MENTIONS",
            "SHARES",
            "NEEDS_ATTENTION",
            "VIEWS",
            "EDITS"
          ]
        }
      },
      "type": "object"
    },
    "ResultDisplayLine": {
      "description": "The collection of fields that make up a displayed line",
      "properties": {
        "fields": {
          "items": {
            "$ref": "ResultDisplayField"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ResultDisplayLine"
    },
    "ResultDebugInfo": {
      "id": "ResultDebugInfo",
      "description": "Debugging information about the result.",
      "type": "object",
      "properties": {
        "formattedDebugInfo": {
          "description": "General debug info formatted for display.",
          "type": "string"
        }
      }
    },
    "MapInfo": {
      "description": "Geo information used for rendering a map that shows the user's work location.",
      "properties": {
        "long": {
          "format": "double",
          "description": "Longitude in degrees",
          "type": "number"
        },
        "lat": {
          "format": "double",
          "type": "number",
          "description": "Latitude in degrees"
        },
        "zoom": {
          "format": "int32",
          "description": "The zoom level of the map. A constant zoom value of 18 is used for now to match the zoom of the map shown on a Moma Teams Profile page",
          "type": "integer"
        },
        "locationUrl": {
          "description": "URL to a view of a map centered on the user's work location in Campus Maps (for google.com) or Google Maps (external).",
          "$ref": "SafeUrlProto"
        },
        "mapTile": {
          "description": "MapTiles for the area around a user's work location",
          "type": "array",
          "items": {
            "$ref": "MapTile"
          }
        }
      },
      "type": "object",
      "id": "MapInfo"
    },
    "EnterpriseTopazSidekickCommonPerson": {
      "type": "object",
      "properties": {
        "gaiaId": {
          "description": "This field is deprecated. The obfuscated_id should be used instead.",
          "format": "int64",
          "deprecated": true,
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Email."
        },
        "jobTitle": {
          "description": "The person's job title (e.g. Software Engineer).",
          "type": "string"
        },
        "streetAddress": {
          "description": "The street address (e.g. 1255 Pear Avenue).",
          "type": "string"
        },
        "fullAddress": {
          "description": "The fully formatted address (e.g. 1255 Pear Avenue, Mountain View 94043, United States).",
          "type": "string"
        },
        "deskLocation": {
          "description": "Desk location (e.g. US-MTV-PR55-5-5B1I).",
          "type": "string"
        },
        "obfuscatedId": {
          "description": "The obfuscated GAIA ID.",
          "type": "string"
        },
        "cellPhone": {
          "description": "Cell phone number.",
          "type": "string"
        },
        "birthday": {
          "$ref": "EnterpriseTopazSidekickCommonPersonBirthday",
          "description": "The birthday."
        },
        "familyName": {
          "type": "string",
          "description": "The last name."
        },
        "displayName": {
          "description": "The full name.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL for the Focus profile picture."
        },
        "deskPhone": {
          "type": "string",
          "description": "Work desk phone number."
        },
        "givenName": {
          "type": "string",
          "description": "The first name."
        },
        "manager": {
          "$ref": "EnterpriseTopazSidekickCommonPerson",
          "description": "The manager."
        },
        "department": {
          "description": "The department the person works in (e.g. Engineering).",
          "type": "string"
        }
      },
      "description": "Common representation of a person.",
      "id": "EnterpriseTopazSidekickCommonPerson"
    },
    "CheckAccessResponse": {
      "properties": {
        "hasAccess": {
          "type": "boolean",
          "description": "Returns true if principal has access. Returns false otherwise."
        }
      },
      "id": "CheckAccessResponse",
      "type": "object"
    },
    "EnterpriseTopazSidekickPeopleAnswerPersonAnswerCard": {
      "id": "EnterpriseTopazSidekickPeopleAnswerPersonAnswerCard",
      "description": "An answer card for a single person.",
      "type": "object",
      "properties": {
        "disambiguationInfo": {
          "description": "Disambiguation information.",
          "$ref": "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfo"
        },
        "answerText": {
          "$ref": "EnterpriseTopazSidekickAnswerAnswerList",
          "description": "List of answers."
        },
        "answer": {
          "description": "List of answers.",
          "type": "array",
          "items": {
            "$ref": "SafeHtmlProto"
          },
          "deprecated": true
        },
        "responseStatus": {
          "enum": [
            "UNKNOWN",
            "SUCCESS",
            "MISSING_PERSON",
            "MISSING_DATA"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Success.",
            "No such person was found in the user's domain.",
            "A person was found to match the query, but an answer could not be obtained."
          ],
          "description": "The response status.",
          "type": "string"
        },
        "subject": {
          "description": "The profile of the person that was the subject of the query.",
          "$ref": "EnterpriseTopazSidekickCommonPerson"
        },
        "statusMessage": {
          "type": "string",
          "description": "Localized user friendly message to display to the user in the case of missing data or an error."
        },
        "header": {
          "description": "The header to display for the card.",
          "$ref": "EnterpriseTopazSidekickPeopleAnswerPeopleAnswerCardHeader"
        }
      }
    },
    "DoubleOperatorOptions": {
      "type": "object",
      "properties": {
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to use the double property in sorting or as a facet. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        }
      },
      "description": "Used to provide a search operator for double properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "id": "DoubleOperatorOptions"
    },
    "ItemCountByStatus": {
      "type": "object",
      "id": "ItemCountByStatus",
      "properties": {
        "count": {
          "type": "string",
          "description": "Number of items matching the status code.",
          "format": "int64"
        },
        "statusCode": {
          "enumDescriptions": [
            "Input-only value. Used with Items.list to list all items in the queue, regardless of status.",
            "Error encountered by Cloud Search while processing this item. Details of the error are in repositoryError.",
            "Item has been modified in the repository, and is out of date with the version previously accepted into Cloud Search.",
            "Item is known to exist in the repository, but is not yet accepted by Cloud Search. An item can be in this state when Items.push has been called for an item of this name that did not exist previously.",
            "API has accepted the up-to-date data of this item."
          ],
          "description": "Status of the items.",
          "enum": [
            "CODE_UNSPECIFIED",
            "ERROR",
            "MODIFIED",
            "NEW_ITEM",
            "ACCEPTED"
          ],
          "type": "string"
        },
        "indexedItemsCount": {
          "description": "Number of items matching the status code for which billing is done. This excludes virtual container items from the total count. This count would not be applicable for items with ERROR or NEW_ITEM status code.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GetDataSourceIndexStatsResponse": {
      "id": "GetDataSourceIndexStatsResponse",
      "type": "object",
      "properties": {
        "averageIndexedItemCount": {
          "description": "Average item count for the given date range for which billing is done.",
          "format": "int64",
          "type": "string"
        },
        "stats": {
          "type": "array",
          "items": {
            "$ref": "DataSourceIndexStats"
          },
          "description": "Summary of indexed item counts, one for each day in the requested range."
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse"
    },
    "EnterpriseTopazFrontendTeamsPersonCorePhoneNumber": {
      "id": "EnterpriseTopazFrontendTeamsPersonCorePhoneNumber",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Phone number in no particular format (as comes from the Focus profile)."
        },
        "type": {
          "enum": [
            "UNKNOWN",
            "MOBILE",
            "OFFICE",
            "OTHER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "phoneUrl": {
          "$ref": "SafeUrlProto",
          "description": "Phone number URL"
        }
      }
    },
    "CustomerQueryStats": {
      "id": "CustomerQueryStats",
      "type": "object",
      "properties": {
        "date": {
          "description": "The date for which query stats were calculated. Stats calculated on the next day close to midnight are returned.",
          "$ref": "Date"
        },
        "queryCountByStatus": {
          "type": "array",
          "items": {
            "$ref": "QueryCountByStatus"
          }
        }
      }
    },
    "FilterOptions": {
      "properties": {
        "objectType": {
          "description": "If object_type is set, only objects of that type are returned. This should correspond to the name of the object that was registered within the definition of schema. The maximum length is 256 characters.",
          "type": "string"
        },
        "filter": {
          "$ref": "Filter",
          "description": "Generic filter to restrict the search, such as `lang:en`, `site:xyz`."
        }
      },
      "description": "Filter options to be applied on query.",
      "id": "FilterOptions",
      "type": "object"
    },
    "HtmlValues": {
      "type": "object",
      "id": "HtmlValues",
      "description": "List of html values.",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
[...]
