{
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/identity/",
  "title": "Cloud Identity API",
  "discoveryVersion": "v1",
  "rootUrl": "https://cloudidentity.googleapis.com/",
  "baseUrl": "https://cloudidentity.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly": {
          "description": "See all of the Inbound SSO profiles and their assignments to any Org Units or Google Groups in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains.readonly": {
          "description": "See allowlisted domains in your Cloud Identity Organization"
        },
        "https://www.googleapis.com/auth/cloud-identity.orgunits": {
          "description": "List, Move orgmembers of an OrgUnit in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.groups.readonly": {
          "description": "See any Cloud Identity Groups that you can access, including group members and their emails"
        },
        "https://www.googleapis.com/auth/cloud-identity.devices": {
          "description": "Private Service: https://www.googleapis.com/auth/cloud-identity.devices"
        },
        "https://www.googleapis.com/auth/cloud-identity.orgunits.readonly": {
          "description": "List org members of an OrgUnit in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.inboundsso": {
          "description": "See and edit all of the Inbound SSO profiles and their assignments to any Org Units or Google Groups in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.policies.readonly": {
          "description": "See policies in your Cloud Identity Organization."
        },
        "https://www.googleapis.com/auth/cloud-identity.devices.readonly": {
          "description": "Private Service: https://www.googleapis.com/auth/cloud-identity.devices.readonly"
        },
        "https://www.googleapis.com/auth/cloud-identity.groups": {
          "description": "See, change, create, and delete any of the Cloud Identity Groups that you can access, including the members of each group"
        },
        "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains": {
          "description": "See and edit allowlisted domains in your Cloud Identity Organization"
        },
        "https://www.googleapis.com/auth/cloud-identity.devices.lookup": {
          "description": "See your device details"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-identity.policies": {
          "description": "See and edit policies in your Cloud Identity Organization."
        }
      }
    }
  },
  "version": "v1beta1",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "inboundSsoAssignments": {
      "methods": {
        "create": {
          "parameters": {},
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "InboundSsoAssignment"
          },
          "path": "v1beta1/inboundSsoAssignments",
          "parameterOrder": [],
          "id": "cloudidentity.inboundSsoAssignments.create",
          "description": "Creates an InboundSsoAssignment for users and devices in a `Customer` under a given `Group` or `OrgUnit`.",
          "flatPath": "v1beta1/inboundSsoAssignments"
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^inboundSsoAssignments/[^/]+$",
              "type": "string",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundSsoAssignment to fetch. Format: `inboundSsoAssignments/{assignment}`"
            }
          },
          "id": "cloudidentity.inboundSsoAssignments.get",
          "flatPath": "v1beta1/inboundSsoAssignments/{inboundSsoAssignmentsId}",
          "description": "Gets an InboundSsoAssignment.",
          "response": {
            "$ref": "InboundSsoAssignment"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta1/{+name}"
        },
        "list": {
          "response": {
            "$ref": "ListInboundSsoAssignmentsResponse"
          },
          "path": "v1beta1/inboundSsoAssignments",
          "id": "cloudidentity.inboundSsoAssignments.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A page token, received from a previous `ListInboundSsoAssignments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListInboundSsoAssignments` must match the call that provided the page token."
            },
            "pageSize": {
              "description": "The maximum number of assignments to return. The service may return fewer than this value. If omitted (or defaulted to zero) the server will use a sensible default. This default may change over time. The maximum allowed value is 100, though requests with page_size greater than that will be silently interpreted as having this maximum value. This may increase in the futue.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "description": "A CEL expression to filter the results. The only supported filter is filtering by customer. For example: `customer==customers/C0123abc`. Omitting the filter or specifying a filter of `customer==customers/my_customer` will return the assignments for the customer that the caller (authenticated user) belongs to.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "v1beta1/inboundSsoAssignments",
          "description": "Lists the InboundSsoAssignments for a `Customer`."
        },
        "delete": {
          "id": "cloudidentity.inboundSsoAssignments.delete",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/inboundSsoAssignments/{inboundSsoAssignmentsId}",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta1/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundSsoAssignment to delete. Format: `inboundSsoAssignments/{assignment}`",
              "required": true,
              "location": "path",
              "pattern": "^inboundSsoAssignments/[^/]+$",
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes an InboundSsoAssignment. To disable SSO, Create (or Update) an assignment that has `sso_mode` == `SSO_OFF`."
        },
        "patch": {
          "id": "cloudidentity.inboundSsoAssignments.patch",
          "flatPath": "v1beta1/inboundSsoAssignments/{inboundSsoAssignmentsId}",
          "description": "Updates an InboundSsoAssignment. The body of this request is the `inbound_sso_assignment` field and the `update_mask` is relative to that. For example: a PATCH to `/v1beta1/inboundSsoAssignments/0abcdefg1234567&update_mask=rank` with a body of `{ \"rank\": 1 }` moves that (presumably group-targeted) SSO assignment to the highest priority and shifts any other group-targeted assignments down in priority.",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "pattern": "^inboundSsoAssignments/[^/]+$",
              "type": "string",
              "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Inbound SSO Assignment.",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "description": "Required. The list of fields to be updated.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta1/{+name}",
          "request": {
            "$ref": "InboundSsoAssignment"
          },
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "devices": {
      "resources": {
        "deviceUsers": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "orderBy": {
                  "description": "Optional. Order specification for devices in the response.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^devices/[^/]+$",
                  "required": true,
                  "description": "Required. To list all DeviceUsers, set this to \"devices/-\". To list all DeviceUsers owned by a device, set this to the resource name of the device. Format: devices/{device}",
                  "location": "path",
                  "type": "string"
                },
                "customer": {
                  "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of DeviceUsers to return. If unspecified, at most 5 DeviceUsers will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                  "format": "int32"
                },
                "filter": {
                  "description": "Optional. Additional restrictions when fetching list of devices. For a list of search fields, refer to [Mobile device search fields](https://developers.google.com/admin-sdk/directory/v1/search-operators). Multiple search fields are separated by the space character.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListDeviceUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBooks` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices",
                "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
              ],
              "id": "cloudidentity.devices.deviceUsers.list",
              "response": {
                "$ref": "ListDeviceUsersResponse"
              },
              "description": "Lists/Searches DeviceUsers.",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers",
              "path": "v1beta1/{+parent}/deviceUsers"
            },
            "approve": {
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices"
              ],
              "description": "Approves device to access user data.",
              "id": "cloudidentity.devices.deviceUsers.approve",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:approve",
              "path": "v1beta1/{+name}:approve",
              "request": {
                "$ref": "ApproveDeviceUserRequest"
              }
            },
            "block": {
              "path": "v1beta1/{+name}:block",
              "request": {
                "$ref": "BlockDeviceUserRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "description": "Blocks device from accessing user data",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "required": true,
                  "location": "path",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "id": "cloudidentity.devices.deviceUsers.block",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:block",
              "parameterOrder": [
                "name"
              ]
            },
            "lookup": {
              "response": {
                "$ref": "LookupSelfDeviceUsersResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "rawResourceId": {
                  "description": "Raw Resource Id used by Google Endpoint Verification. If the user is enrolled into Google Endpoint Verification, this id will be saved as the 'device_resource_id' field in the following platform dependent files. Mac: ~/.secureConnect/context_aware_config.json Windows: C:\\Users\\%USERPROFILE%\\.secureConnect\\context_aware_config.json Linux: ~/.secureConnect/context_aware_config.json",
                  "type": "string",
                  "location": "query"
                },
                "androidId": {
                  "description": "Android Id returned by [Settings.Secure#ANDROID_ID](https://developer.android.com/reference/android/provider/Settings.Secure.html#ANDROID_ID).",
                  "type": "string",
                  "location": "query"
                },
                "userId": {
                  "description": "The user whose DeviceUser's resource name will be fetched. Must be set to 'me' to fetch the DeviceUser's resource name for the calling user.",
                  "type": "string",
                  "location": "query"
                },
                "iosDeviceId": {
                  "type": "string",
                  "description": "Optional. The partner-specified device identifier assigned to the iOS device that initiated the Lookup API call. This string must match the value of the iosDeviceId key in the app config dictionary provided to Google Workspace apps.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of DeviceUsers to return. If unspecified, at most 20 DeviceUsers will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "description": "Must be set to \"devices/-/deviceUsers\" to search across all DeviceUser belonging to the user.",
                  "type": "string",
                  "pattern": "^devices/[^/]+/deviceUsers$",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "description": "A page token, received from a previous `LookupDeviceUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `LookupDeviceUsers` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "partner": {
                  "location": "query",
                  "description": "Optional. The partner ID of the calling iOS app. This string must match the value of the partner key within the app configuration dictionary provided to Google Workspace apps.",
                  "type": "string"
                }
              },
              "id": "cloudidentity.devices.deviceUsers.lookup",
              "description": "Looks up resource names of the DeviceUsers associated with the caller's credentials, as well as the properties provided in the request. This method must be called with end-user credentials with the scope: https://www.googleapis.com/auth/cloud-identity.devices.lookup If multiple properties are provided, only DeviceUsers having all of these properties are considered as matches - i.e. the query behaves like an AND. Different platforms require different amounts of information from the caller to ensure that the DeviceUser is uniquely identified. - iOS: If either the `partner` or `ios_device_id` field is provided, then both fields are required. - Android: Specifying the `android_id` field is required. - Desktop: Specifying the `raw_resource_id` field is required.",
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}:lookup",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices.lookup"
              ],
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers:lookup"
            },
            "cancelWipe": {
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices"
              ],
              "path": "v1beta1/{+name}:cancelWipe",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "location": "path",
                  "required": true,
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "type": "string"
                }
              },
              "id": "cloudidentity.devices.deviceUsers.cancelWipe",
              "request": {
                "$ref": "CancelWipeDeviceUserRequest"
              },
              "description": "Cancels an unfinished user account wipe. This operation can be used to cancel device wipe in the gap between the wipe operation returning success and the device being wiped.",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:cancelWipe"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices",
                "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User."
                },
                "customer": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
                }
              },
              "id": "cloudidentity.devices.deviceUsers.get",
              "response": {
                "$ref": "DeviceUser"
              },
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}",
              "description": "Retrieves the specified DeviceUser"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudidentity.devices.deviceUsers.delete",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}",
              "description": "Deletes the specified DeviceUser. This also revokes the user's access to device data.",
              "httpMethod": "DELETE",
              "parameters": {
                "customer": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User."
                }
              },
              "path": "v1beta1/{+name}"
            },
            "wipe": {
              "path": "v1beta1/{+name}:wipe",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:wipe",
              "id": "cloudidentity.devices.deviceUsers.wipe",
              "description": "Wipes the user's account on a device.",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "type": "string",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User."
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "WipeDeviceUserRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices"
              ]
            }
          },
          "resources": {
            "clientStates": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^devices/[^/]+/deviceUsers/[^/]+/clientStates/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device_id}/deviceUsers/{device_user_id}/clientStates/{partner_id}`, where `device_id` is the unique ID assigned to the Device, `device_user_id` is the unique ID assigned to the User and `partner_id` identifies the partner storing the data. To get the client state for devices belonging to your own organization, the `partnerId` is in the format: `customerId-*anystring*`. Where the `customerId` is your organization's customer ID and `anystring` is any suffix. This suffix is used in setting up Custom Access Levels in Context-Aware Access. You may use `my_customer` instead of the customer ID for devices managed by your own organization. You may specify `-` in place of the `{device_id}`, so the ClientState resource name can be: `devices/-/deviceUsers/{device_user_resource_id}/clientStates/{partner_id}`."
                    },
                    "customer": {
                      "location": "query",
                      "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}/clientStates/{clientStatesId}",
                  "httpMethod": "GET",
                  "description": "Gets the client state for the device user",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-identity.devices",
                    "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
                  ],
                  "response": {
                    "$ref": "ClientState"
                  },
                  "path": "v1beta1/{+name}",
                  "id": "cloudidentity.devices.deviceUsers.clientStates.get"
                },
                "patch": {
                  "description": "Updates the client state for the device user **Note**: This method is available only to customers who have one of the following SKUs: Enterprise Standard, Enterprise Plus, Enterprise for Education, and Cloud Identity Premium",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-identity.devices"
                  ],
                  "request": {
                    "$ref": "ClientState"
                  },
                  "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}/clientStates/{clientStatesId}",
                  "id": "cloudidentity.devices.deviceUsers.clientStates.patch",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Comma-separated list of fully qualified names of fields to be updated. If not specified, all updatable fields in ClientState are updated."
                    },
                    "customer": {
                      "type": "string",
                      "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^devices/[^/]+/deviceUsers/[^/]+/clientStates/[^/]+$",
                      "required": true,
                      "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device_id}/deviceUsers/{device_user_id}/clientState/{partner_id}`, where partner_id corresponds to the partner storing the data.",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "methods": {
        "list": {
          "path": "v1beta1/devices",
          "parameterOrder": [],
          "parameters": {
            "filter": {
              "type": "string",
              "description": "Optional. Additional restrictions when fetching list of devices. For a list of search fields, refer to [Mobile device search fields](https://developers.google.com/admin-sdk/directory/v1/search-operators). Multiple search fields are separated by the space character.",
              "location": "query"
            },
            "customer": {
              "location": "query",
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer.",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The maximum number of Devices to return. If unspecified, at most 20 Devices will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "format": "int32",
              "location": "query"
            },
            "view": {
              "location": "query",
              "type": "string",
              "enum": [
                "VIEW_UNSPECIFIED",
                "COMPANY_INVENTORY",
                "USER_ASSIGNED_DEVICES"
              ],
              "description": "Optional. The view to use for the List request.",
              "enumDescriptions": [
                "Default value. The value is unused.",
                "This view contains all devices imported by the company admin. Each device in the response contains all information specified by the company admin when importing the device (i.e. asset tags).",
                "This view contains all devices with at least one user registered on the device. Each device in the response contains all device information, except for asset tags."
              ]
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListDevices` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDevices` must match the call that provided the page token.",
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "description": "Optional. Order specification for devices in the response. Only one of the following field names may be used to specify the order: `create_time`, `last_sync_time`, `model`, `os_version`, `device_type` and `serial_number`. `desc` may be specified optionally to specify results to be sorted in descending order. Default order is ascending.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices",
            "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
          ],
          "id": "cloudidentity.devices.list",
          "flatPath": "v1beta1/devices",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListDevicesResponse"
          },
          "description": "Lists/Searches devices."
        },
        "get": {
          "response": {
            "$ref": "Device"
          },
          "description": "Retrieves the specified device.",
          "flatPath": "v1beta1/devices/{devicesId}",
          "id": "cloudidentity.devices.get",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^devices/[^/]+$",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "type": "string",
              "required": true
            },
            "customer": {
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Customer in format: `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "v1beta1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices",
            "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
          ]
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^devices/[^/]+$",
              "location": "path",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "required": true
            },
            "customer": {
              "type": "string",
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
              "location": "query"
            }
          },
          "httpMethod": "DELETE",
          "path": "v1beta1/{+name}",
          "id": "cloudidentity.devices.delete",
          "description": "Deletes the specified device.",
          "flatPath": "v1beta1/devices/{devicesId}"
        },
        "cancelWipe": {
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta1/{+name}:cancelWipe",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "CancelWipeDeviceRequest"
          },
          "flatPath": "v1beta1/devices/{devicesId}:cancelWipe",
          "id": "cloudidentity.devices.cancelWipe",
          "description": "Cancels an unfinished device wipe. This operation can be used to cancel device wipe in the gap between the wipe operation returning success and the device being wiped.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices"
          ],
          "parameters": {
            "name": {
              "pattern": "^devices/[^/]+$",
              "type": "string",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST"
        },
        "wipe": {
          "flatPath": "v1beta1/devices/{devicesId}:wipe",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
              "location": "path",
              "pattern": "^devices/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Wipes all data on the specified device.",
          "path": "v1beta1/{+name}:wipe",
          "request": {
            "$ref": "WipeDeviceRequest"
          },
          "id": "cloudidentity.devices.wipe"
        },
        "create": {
          "description": "Creates a device. Only company-owned device may be created. **Note**: This method is available only to customers who have one of the following SKUs: Enterprise Standard, Enterprise Plus, Enterprise for Education, and Cloud Identity Premium",
          "flatPath": "v1beta1/devices",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices"
          ],
          "parameterOrder": [],
          "path": "v1beta1/devices",
          "request": {
            "$ref": "CreateDeviceRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {},
          "id": "cloudidentity.devices.create"
        }
      }
    },
    "groups": {
      "resources": {
        "memberships": {
          "methods": {
            "searchTransitiveMemberships": {
              "path": "v1beta1/{+parent}/memberships:searchTransitiveMemberships",
              "description": "Search transitive memberships of a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A transitive membership is any direct or indirect membership of a group. Actor must have view permissions to all transitive memberships.",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchTransitiveMemberships",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.groups.memberships.searchTransitiveMemberships",
              "response": {
                "$ref": "SearchTransitiveMembershipsResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The next_page_token value returned from a previous list request, if any.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The default page size is 200 (max 1000).",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is the unique ID assigned to the Group."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and to 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group_id}`."
                },
                "view": {
                  "enum": [
                    "BASIC",
                    "FULL"
                  ],
                  "location": "query",
                  "description": "The level of detail to be returned. If unspecified, defaults to `MembershipView.BASIC`.",
                  "enumDescriptions": [
                    "Default. Only basic resource information is returned.",
                    "All resource information is returned."
                  ],
                  "type": "string"
                },
                "pageToken": {
                  "description": "The `next_page_token` value returned from a previous search request, if any.",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/memberships",
              "description": "Lists the `Membership`s within a `Group`.",
              "response": {
                "$ref": "ListMembershipsResponse"
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships",
              "id": "cloudidentity.groups.memberships.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "location": "path",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to delete. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "id": "cloudidentity.groups.memberships.delete",
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a `Membership`."
            },
            "get": {
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Membership"
              },
              "id": "cloudidentity.groups.memberships.get",
              "parameters": {
                "name": {
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to retrieve. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}",
              "description": "Retrieves a `Membership`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "modifyMembershipRoles": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "ModifyMembershipRolesRequest"
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}:modifyMembershipRoles",
              "description": "Modifies the `MembershipRole`s of a `Membership`.",
              "id": "cloudidentity.groups.memberships.modifyMembershipRoles",
              "path": "v1beta1/{+name}:modifyMembershipRoles",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ModifyMembershipRolesResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` whose roles are to be modified. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "create": {
              "id": "cloudidentity.groups.memberships.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent `Group` resource under which to create the `Membership`. Must be of the form `groups/{group_id}`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^groups/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "description": "Creates a `Membership`.",
              "path": "v1beta1/{+parent}/memberships",
              "request": {
                "$ref": "Membership"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/groups/{groupsId}/memberships"
            },
            "checkTransitiveMembership": {
              "parameters": {
                "parent": {
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to check the transitive membership in. Format: `groups/{group_id}`, where `group_id` is the unique id assigned to the Group to which the Membership belongs to.",
                  "type": "string",
                  "pattern": "^groups/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "query": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. A CEL expression that MUST include member specification. This is a `required` field. Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value'`"
                }
              },
              "id": "cloudidentity.groups.memberships.checkTransitiveMembership",
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/memberships:checkTransitiveMembership",
              "description": "Check a potential member for membership in a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A member has membership to a group as long as there is a single viewable transitive membership between the group and the member. The actor must have view permissions to at least one transitive membership between the member and group.",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:checkTransitiveMembership",
              "response": {
                "$ref": "CheckTransitiveMembershipResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "searchTransitiveGroups": {
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchTransitiveGroups",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/memberships:searchTransitiveGroups",
              "id": "cloudidentity.groups.memberships.searchTransitiveGroups",
              "parameters": {
                "query": {
                  "location": "query",
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). This is a `required` field. Users can search on label attributes of groups. CONTAINS match ('in') is supported on labels. Identity-mapped groups are uniquely identified by both a `member_key_id` and a `member_key_namespace`, which requires an additional query input: `member_key_namespace`. Example query: `member_key_id == 'member_key_id_value' && in labels` Query may optionally contain equality operators on the parent of the group restricting the search within a particular customer, e.g. `parent == 'customers/{customer_id}'`. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). This filtering is only supported for Admins with groups read permissions on the input customer. Example query: `member_key_id == 'member_key_id_value' && in labels && parent == 'customers/C046psxkn'`",
                  "type": "string"
                },
                "parent": {
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is always '-' as this API will search across all groups for a given member.",
                  "required": true,
                  "pattern": "^groups/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The `next_page_token` value returned from a previous list request, if any.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The default page size is 200 (max 1000).",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "SearchTransitiveGroupsResponse"
              },
              "description": "Search transitive groups of a member. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A transitive group is any group that has a direct or indirect membership to the member. Actor must have view permissions all transitive groups."
            },
            "getMembershipGraph": {
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "cloudidentity.groups.memberships.getMembershipGraph",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is the unique ID assigned to the Group to which the Membership belongs to. group_id can be a wildcard collection id \"-\". When `group_id` is specified, the membership graph will be constrained to paths between the member (defined in the query) and the parent. If a wildcard collection is provided, all membership paths connected to the member will be returned.",
                  "pattern": "^groups/[^/]+$",
                  "type": "string"
                },
                "query": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value' && in labels`"
                }
              },
              "path": "v1beta1/{+parent}/memberships:getMembershipGraph",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a membership graph of just a member or both a member and a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. Given a member, the response will contain all membership paths from the member. Given both a group and a member, the response will contain all membership paths between the group and the member.",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:getMembershipGraph"
            },
            "searchDirectGroups": {
              "path": "v1beta1/{+parent}/memberships:searchDirectGroups",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchDirectGroups",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The default page size is 200 (max 1000).",
                  "type": "integer"
                },
                "query": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). Users can search on label attributes of groups. CONTAINS match ('in') is supported on labels. Identity-mapped groups are uniquely identified by both a `member_key_id` and a `member_key_namespace`, which requires an additional query input: `member_key_namespace`. Example query: `member_key_id == 'member_key_id_value' && 'label_value' in labels`"
                },
                "orderBy": {
                  "type": "string",
                  "description": "The ordering of membership relation for the display name or email in the response. The syntax for this field can be found at https://cloud.google.com/apis/design/design_patterns#sorting_order. Example: Sort by the ascending display name: order_by=\"group_name\" or order_by=\"group_name asc\". Sort by the descending display name: order_by=\"group_name desc\". Sort by the ascending group key: order_by=\"group_key\" or order_by=\"group_key asc\". Sort by the descending group key: order_by=\"group_key desc\".",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: groups/{group_id}, where group_id is always '-' as this API will search across all groups for a given member.",
                  "location": "path",
                  "pattern": "^groups/[^/]+$"
                },
                "pageToken": {
                  "description": "The next_page_token value returned from a previous list request, if any.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Searches direct groups of a member. Groups for which the actor does not have the permission to view memberships are silently filtered out.",
              "id": "cloudidentity.groups.memberships.searchDirectGroups",
              "response": {
                "$ref": "SearchDirectGroupsResponse"
              }
            },
            "lookup": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "LookupMembershipNameResponse"
              },
              "parameters": {
                "memberKey.namespace": {
                  "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group_id}`."
                },
                "memberKey.id": {
                  "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Membership` by its `EntityKey`.",
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/memberships:lookup",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.groups.memberships.lookup",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:lookup"
            }
          }
        }
      },
      "methods": {
        "search": {
          "flatPath": "v1beta1/groups:search",
          "description": "Searches for `Group` resources matching a specified query.",
          "id": "cloudidentity.groups.search",
          "httpMethod": "GET",
          "parameters": {
            "orderBy": {
              "type": "string",
              "description": "The ordering of groups for the display name or email in the search groups response. The syntax for this field can be found at https://cloud.google.com/apis/design/design_patterns#sorting_order. Example: Sort by the ascending name: order_by=\"display_name\" Sort by the descending group key email: order_by=\"group_key desc\"",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and to 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`.",
              "type": "integer"
            },
            "view": {
              "type": "string",
              "enumDescriptions": [
                "Default. Only basic resource information is returned.",
                "All resource information is returned."
              ],
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`.",
              "location": "query",
              "enum": [
                "BASIC",
                "FULL"
              ]
            },
            "query": {
              "location": "query",
              "description": "Required. The search query. * Must be specified in [Common Expression Language](https://opensource.google/projects/cel). See [CEL Introduction](https://github.com/google/cel-spec/blob/master/doc/intro.md) for CEL syntax usage and examples. * Must contain equality operators on the parent, e.g. `parent == 'customers/{customer_id}'`. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793) * Can contain optional inclusion operators on `labels` such as `'cloudidentity.googleapis.com/groups.discussion_forum' in labels`). * Can contain an optional equality operator on `domain_name`. e.g. `domain_name == 'examplepetstore.com'` * Can contain optional `startsWith/contains/equality` operators on `group_key`, e.g. `group_key.startsWith('dev')`, `group_key.contains('dev'), group_key == 'dev@examplepetstore.com'` * Can contain optional `startsWith/contains/equality` operators on `display_name`, such as `display_name.startsWith('dev')` , `display_name.contains('dev')`, `display_name == 'dev'` Examples: * Search for all discussion forums under a customer: `parent == 'customers/C046psxkn' && 'cloudidentity.googleapis.com/groups.discussion_forum' in labels` * Search for groups with key starting with 'sales': `parent == 'customers/C046psxkn' && group_key.startsWith('sales')` * Search for groups with display name containing 'test': `parent == 'customers/C046psxkn' && display_name.contains('test')`",
              "type": "string"
            },
            "pageToken": {
              "description": "The `next_page_token` value returned from a previous search request, if any.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SearchGroupsResponse"
          },
          "path": "v1beta1/groups:search"
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^groups/[^/]+$",
              "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`."
            },
            "updateMask": {
              "type": "string",
              "description": "Required. The names of fields to update. May only contain the following field names: `display_name`, `description`, `labels`, `dynamic_group_metadata`, `posix_groups`.",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "id": "cloudidentity.groups.patch",
          "description": "Updates a `Group`.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/groups/{groupsId}",
          "request": {
            "$ref": "Group"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "lookup": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Group` by its `EntityKey`.",
          "flatPath": "v1beta1/groups:lookup",
          "id": "cloudidentity.groups.lookup",
          "response": {
            "$ref": "LookupGroupNameResponse"
          },
          "path": "v1beta1/groups:lookup",
          "parameters": {
            "groupKey.namespace": {
              "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`.",
              "location": "query",
              "type": "string"
            },
            "groupKey.id": {
              "location": "query",
              "type": "string",
              "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`."
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "create": {
          "description": "Creates a `Group`.",
          "parameterOrder": [],
          "path": "v1beta1/groups",
          "flatPath": "v1beta1/groups",
          "id": "cloudidentity.groups.create",
          "request": {
            "$ref": "Group"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "initialGroupConfig": {
              "enum": [
                "INITIAL_GROUP_CONFIG_UNSPECIFIED",
                "WITH_INITIAL_OWNER",
                "EMPTY"
              ],
              "description": "Required. The initial configuration option for the `Group`.",
              "enumDescriptions": [
                "Default. Should not be used.",
                "The end user making the request will be added as the initial owner of the `Group`.",
                "An empty group is created without any initial owners. This can only be used by admins of the domain."
              ],
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "pattern": "^groups/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group_id}`.",
              "required": true
            }
          },
          "id": "cloudidentity.groups.delete",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1beta1/groups/{groupsId}",
          "path": "v1beta1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Deletes a `Group`."
        },
        "getSecuritySettings": {
          "id": "cloudidentity.groups.getSecuritySettings",
          "flatPath": "v1beta1/groups/{groupsId}/securitySettings",
          "path": "v1beta1/{+name}",
          "description": "Get Security Settings",
          "parameters": {
            "name": {
              "description": "Required. The security settings to retrieve. Format: `groups/{group_id}/securitySettings`",
              "pattern": "^groups/[^/]+/securitySettings$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "readMask": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "Field-level read mask of which fields to return. \"*\" returns all fields. If not specified, all fields will be returned. May only contain the following field: `member_restriction`.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "SecuritySettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "get": {
          "description": "Retrieves a `Group`.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group_id}`.",
              "required": true,
              "location": "path",
              "pattern": "^groups/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "flatPath": "v1beta1/groups/{groupsId}",
          "id": "cloudidentity.groups.get",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Group"
          },
          "path": "v1beta1/{+name}"
        },
        "updateSecuritySettings": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "Required. The fully-qualified names of fields to update. May only contain the following field: `member_restriction.query`.",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^groups/[^/]+/securitySettings$",
              "required": true,
              "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`."
            }
          },
          "request": {
            "$ref": "SecuritySettings"
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Update Security Settings",
          "flatPath": "v1beta1/groups/{groupsId}/securitySettings",
          "path": "v1beta1/{+name}",
          "id": "cloudidentity.groups.updateSecuritySettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "view": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Default. Should not be used.",
                "Only basic resource information is returned.",
                "All resource information is returned."
              ],
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`."
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `View.BASIC` and to 50 for `View.FULL`. Must not be greater than 1000 for `View.BASIC` or 500 for `View.FULL`."
            },
            "pageToken": {
              "location": "query",
              "description": "The `next_page_token` value returned from a previous list request, if any.",
              "type": "string"
            },
            "parent": {
              "type": "string",
              "description": "Required. The parent resource under which to list all `Group` resources. Must be of the form `identitysources/{identity_source_id}` for external- identity-mapped groups or `customers/{customer_id}` for Google Groups. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793)",
              "location": "query"
            }
          },
          "description": "Lists the `Group` resources under a customer or namespace.",
          "response": {
            "$ref": "ListGroupsResponse"
          },
          "flatPath": "v1beta1/groups",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta1/groups",
          "id": "cloudidentity.groups.list"
        }
      }
    },
    "inboundSamlSsoProfiles": {
      "resources": {
        "idpCredentials": {
          "methods": {
            "get": {
              "description": "Gets an IdpCredential.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^inboundSamlSsoProfiles/[^/]+/idpCredentials/[^/]+$",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the IdpCredential to retrieve. Format: `inboundSamlSsoProfiles/{sso_profile_id}/idpCredentials/{idp_credential_id}`"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}/idpCredentials/{idpCredentialsId}",
              "path": "v1beta1/{+name}",
              "id": "cloudidentity.inboundSamlSsoProfiles.idpCredentials.get",
              "response": {
                "$ref": "IdpCredential"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.inboundsso",
                "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "add": {
              "description": "Adds an IdpCredential. Up to 2 credentials are allowed. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`.",
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta1/{+parent}/idpCredentials:add",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.inboundsso",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.inboundSamlSsoProfiles.idpCredentials.add",
              "request": {
                "$ref": "AddIdpCredentialRequest"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The InboundSamlSsoProfile that owns the IdpCredential. Format: `inboundSamlSsoProfiles/{sso_profile_id}`",
                  "required": true,
                  "pattern": "^inboundSamlSsoProfiles/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}/idpCredentials:add"
            },
            "list": {
              "response": {
                "$ref": "ListIdpCredentialsResponse"
              },
              "description": "Returns a list of IdpCredentials in an InboundSamlSsoProfile.",
              "path": "v1beta1/{+parent}/idpCredentials",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.inboundsso",
                "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListIdpCredentials` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIdpCredentials` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of `IdpCredential`s to return. The service may return fewer than this value.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^inboundSamlSsoProfiles/[^/]+$",
                  "description": "Required. The parent, which owns this collection of `IdpCredential`s. Format: `inboundSamlSsoProfiles/{sso_profile_id}`",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "id": "cloudidentity.inboundSamlSsoProfiles.idpCredentials.list",
              "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}/idpCredentials"
            },
            "delete": {
              "description": "Deletes an IdpCredential.",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudidentity.inboundSamlSsoProfiles.idpCredentials.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^inboundSamlSsoProfiles/[^/]+/idpCredentials/[^/]+$",
                  "location": "path",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the IdpCredential to delete. Format: `inboundSamlSsoProfiles/{sso_profile_id}/idpCredentials/{idp_credential_id}`",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.inboundsso",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}/idpCredentials/{idpCredentialsId}",
              "path": "v1beta1/{+name}"
            }
          }
        }
      },
      "methods": {
        "create": {
          "id": "cloudidentity.inboundSamlSsoProfiles.create",
          "description": "Creates an InboundSamlSsoProfile for a customer. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`.",
          "parameterOrder": [],
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InboundSamlSsoProfile"
          },
          "path": "v1beta1/inboundSamlSsoProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta1/inboundSamlSsoProfiles",
          "parameters": {},
          "httpMethod": "POST"
        },
        "list": {
          "path": "v1beta1/inboundSamlSsoProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta1/inboundSamlSsoProfiles",
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "The maximum number of InboundSamlSsoProfiles to return. The service may return fewer than this value. If omitted (or defaulted to zero) the server will use a sensible default. This default may change over time. The maximum allowed value is 100. Requests with page_size greater than that will be silently interpreted as having this maximum value.",
              "type": "integer",
              "format": "int32"
            },
            "filter": {
              "type": "string",
              "description": "A [Common Expression Language](https://github.com/google/cel-spec) expression to filter the results. The only supported filter is filtering by customer. For example: `customer==\"customers/C0123abc\"`. Omitting the filter or specifying a filter of `customer==\"customers/my_customer\"` will return the profiles for the customer that the caller (authenticated user) belongs to.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListInboundSamlSsoProfiles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListInboundSamlSsoProfiles` must match the call that provided the page token.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "id": "cloudidentity.inboundSamlSsoProfiles.list",
          "response": {
            "$ref": "ListInboundSamlSsoProfilesResponse"
          },
          "description": "Lists InboundSamlSsoProfiles for a customer.",
          "parameterOrder": []
        },
        "get": {
          "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}",
          "path": "v1beta1/{+name}",
          "description": "Gets an InboundSamlSsoProfile.",
          "parameters": {
            "name": {
              "pattern": "^inboundSamlSsoProfiles/[^/]+$",
              "location": "path",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundSamlSsoProfile to get. Format: `inboundSamlSsoProfiles/{sso_profile_id}`",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "cloudidentity.inboundSamlSsoProfiles.get",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "InboundSamlSsoProfile"
          }
        },
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PATCH",
          "id": "cloudidentity.inboundSamlSsoProfiles.patch",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^inboundSamlSsoProfiles/[^/]+$",
              "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the SAML SSO profile.",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "Required. The list of fields to be updated."
            }
          },
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}",
          "description": "Updates an InboundSamlSsoProfile. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`.",
          "request": {
            "$ref": "InboundSamlSsoProfile"
          }
        },
        "delete": {
          "flatPath": "v1beta1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "pattern": "^inboundSamlSsoProfiles/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundSamlSsoProfile to delete. Format: `inboundSamlSsoProfiles/{sso_profile_id}`"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta1/{+name}",
          "description": "Deletes an InboundSamlSsoProfile.",
          "id": "cloudidentity.inboundSamlSsoProfiles.delete"
        }
      }
    },
    "policies": {
      "methods": {
        "create": {
          "request": {
            "$ref": "Policy"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {},
          "path": "v1beta1/policies",
          "id": "cloudidentity.policies.create",
          "flatPath": "v1beta1/policies",
          "parameterOrder": [],
          "description": "Create a policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies",
            "https://www.googleapis.com/auth/cloud-identity.policies.readonly"
          ],
          "description": "Get a policy.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Policy"
          },
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/policies/{policiesId}",
          "id": "cloudidentity.policies.get",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the policy to retrieve. Format: `policies/{policy}`.",
              "required": true,
              "pattern": "^policies/[^/]+$"
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "id": "cloudidentity.policies.list",
          "path": "v1beta1/policies",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of results to return. The service can return fewer than this number. If omitted or set to `0`, the default is `50` results per page. The maximum allowed value is `100`. `page_size` values greater than `100` default to `100`.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. The pagination token received from a prior call to PoliciesService.ListPolicies to retrieve the next page of results. When paginating, all other parameters provided to `ListPoliciesRequest` must match the call that provided the page token."
            },
            "filter": {
              "type": "string",
              "description": "Optional. A CEL expression for filtering the results. Policies can be filtered using the expression in the following ways: - Filter by application: `setting.type.matches('^settings/gmail\\\\..*$')` - Filter by setting type: `setting.type.matches('^.*\\\\.service_status$')` - Filter by customer: `customer == \"customers/{customer}\"` Where `customer` is the `id` from the [Admin SDK `Customer` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers). You may use `customers/my_customer` to specify your own organization. When no `customer` is mentioned it will be default to `customers/my_customer`. You may only filter on policies for a single customer at a time. The above clauses can be combined together in a single filter expression with the `&&` and `||` operators, like in the following example: `customer == \"customers/my_customer\" && ( setting.type.matches('^settings/gmail\\\\..*$') || setting.type.matches('^.*\\\\.service_status$') )`.",
              "location": "query"
            }
          },
          "flatPath": "v1beta1/policies",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies",
            "https://www.googleapis.com/auth/cloud-identity.policies.readonly"
          ],
          "response": {
            "$ref": "ListPoliciesResponse"
          },
          "parameterOrder": [],
          "description": "List policies."
        },
        "patch": {
          "description": "Update a policy.",
          "request": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies"
          ],
          "path": "v1beta1/{+name}",
          "id": "cloudidentity.policies.patch",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Output only. Identifier. The [resource name](https://cloud.google.com/apis/design/resource_names) of the Policy. Format: policies/{policy}.",
              "type": "string",
              "pattern": "^policies/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v1beta1/policies/{policiesId}"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies"
          ],
          "flatPath": "v1beta1/policies/{policiesId}",
          "parameterOrder": [
            "name"
          ],
          "description": "Delete a policy.",
          "path": "v1beta1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "id": "cloudidentity.policies.delete",
          "parameters": {
            "name": {
              "pattern": "^policies/[^/]+$",
              "description": "Required. The name of the policy to delete. Format: `policies/{policy}`.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "DELETE"
        }
      }
    },
    "inboundOidcSsoProfiles": {
      "methods": {
        "delete": {
          "path": "v1beta1/{+name}",
          "description": "Deletes an InboundOidcSsoProfile.",
          "parameters": {
            "name": {
              "pattern": "^inboundOidcSsoProfiles/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundOidcSsoProfile to delete. Format: `inboundOidcSsoProfiles/{sso_profile_id}`",
              "type": "string"
            }
          },
          "id": "cloudidentity.inboundOidcSsoProfiles.delete",
          "httpMethod": "DELETE",
          "flatPath": "v1beta1/inboundOidcSsoProfiles/{inboundOidcSsoProfilesId}",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "patch": {
          "request": {
            "$ref": "InboundOidcSsoProfile"
          },
          "parameters": {
            "name": {
              "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the OIDC SSO profile.",
              "type": "string",
              "required": true,
              "pattern": "^inboundOidcSsoProfiles/[^/]+$",
              "location": "path"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "cloudidentity.inboundOidcSsoProfiles.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
[...]
