{
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "title": "Cloud Search API",
  "discoveryVersion": "v1",
  "rootUrl": "https://cloudsearch.googleapis.com/",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/workspace/cloud-search/docs/guides/",
  "mtlsRootUrl": "https://cloudsearch.mtls.googleapis.com/",
  "resources": {
    "stats": {
      "methods": {
        "getUser": {
          "description": "Get the users statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "response": {
            "$ref": "GetCustomerUserStatsResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "cloudsearch.stats.getUser",
          "path": "v1/stats/user",
          "flatPath": "v1/stats/user",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "parameters": {
            "fromDate.year": {
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "fromDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "toDate.year": {
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "toDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "toDate.day": {
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "fromDate.day": {
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32",
              "type": "integer"
            }
          }
        },
        "getSearchapplication": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GetCustomerSearchApplicationStatsResponse"
          },
          "path": "v1/stats/searchapplication",
          "description": "Get search application stats for customer. **Note:** This API requires a standard end user account to execute.",
          "parameterOrder": [],
          "flatPath": "v1/stats/searchapplication",
          "id": "cloudsearch.stats.getSearchapplication",
          "parameters": {
            "startDate.day": {
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "endDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "endDate.year": {
              "format": "int32",
              "description": "Year of date. Must be from 1 to 9999.",
              "type": "integer",
              "location": "query"
            },
            "startDate.month": {
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12.",
              "location": "query",
              "format": "int32"
            },
            "startDate.year": {
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32",
              "location": "query"
            },
            "endDate.day": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
            }
          }
        },
        "getSession": {
          "flatPath": "v1/stats/session",
          "httpMethod": "GET",
          "id": "cloudsearch.stats.getSession",
          "parameters": {
            "fromDate.day": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
            },
            "fromDate.month": {
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32",
              "location": "query"
            },
            "toDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "toDate.year": {
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32",
              "location": "query"
            },
            "toDate.day": {
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32",
              "type": "integer"
            },
            "fromDate.year": {
              "description": "Year of date. Must be from 1 to 9999.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "GetCustomerSessionStatsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "parameterOrder": [],
          "path": "v1/stats/session",
          "description": "Get the # of search sessions, % of successful sessions with a click query statistics for customer. **Note:** This API requires a standard end user account to execute."
        },
        "getQuery": {
          "parameters": {
            "fromDate.year": {
              "location": "query",
              "description": "Year of date. Must be from 1 to 9999.",
              "type": "integer",
              "format": "int32"
            },
            "fromDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "toDate.day": {
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "fromDate.day": {
              "format": "int32",
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "type": "integer"
            },
            "toDate.year": {
              "format": "int32",
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999.",
              "location": "query"
            },
            "toDate.month": {
              "location": "query",
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32"
            }
          },
          "path": "v1/stats/query",
          "response": {
            "$ref": "GetCustomerQueryStatsResponse"
          },
          "parameterOrder": [],
          "id": "cloudsearch.stats.getQuery",
          "flatPath": "v1/stats/query",
          "description": "Get the query statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ]
        },
        "getIndex": {
          "parameterOrder": [],
          "response": {
            "$ref": "GetCustomerIndexStatsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/stats/index",
          "id": "cloudsearch.stats.getIndex",
          "parameters": {
            "toDate.day": {
              "format": "int32",
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "type": "integer"
            },
            "toDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "fromDate.year": {
              "location": "query",
              "format": "int32",
              "description": "Year of date. Must be from 1 to 9999.",
              "type": "integer"
            },
            "fromDate.month": {
              "format": "int32",
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12.",
              "location": "query"
            },
            "toDate.year": {
              "description": "Year of date. Must be from 1 to 9999.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "fromDate.day": {
              "location": "query",
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32"
            }
          },
          "description": "Gets indexed item statistics aggreggated across all data sources. This API only returns statistics for previous dates; it doesn't return statistics for the current day. **Note:** This API requires a standard end user account to execute.",
          "path": "v1/stats/index"
        }
      },
      "resources": {
        "user": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GetSearchApplicationUserStatsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudsearch.stats.user.searchapplications.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "path": "v1/stats/user/{+name}",
                  "flatPath": "v1/stats/user/searchapplications/{searchapplicationsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^searchapplications/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The resource id of the search application session stats, in the following format: searchapplications/{application_id}"
                    },
                    "fromDate.year": {
                      "type": "integer",
                      "location": "query",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "format": "int32"
                    },
                    "toDate.month": {
                      "description": "Month of date. Must be from 1 to 12.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "toDate.year": {
                      "format": "int32",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "type": "integer",
                      "location": "query"
                    },
                    "fromDate.month": {
                      "description": "Month of date. Must be from 1 to 12.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "toDate.day": {
                      "type": "integer",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "location": "query",
                      "format": "int32"
                    },
                    "fromDate.day": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
                    }
                  },
                  "description": "Get the users statistics for search application. **Note:** This API requires a standard end user account to execute."
                }
              }
            }
          }
        },
        "index": {
          "resources": {
            "datasources": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets indexed item statistics for a single data source. **Note:** This API requires a standard end user account to execute.",
                  "flatPath": "v1/stats/index/datasources/{datasourcesId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "response": {
                    "$ref": "GetDataSourceIndexStatsResponse"
                  },
                  "path": "v1/stats/index/{+name}",
                  "parameters": {
                    "fromDate.month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12.",
                      "location": "query"
                    },
                    "fromDate.day": {
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "type": "integer",
                      "location": "query"
                    },
                    "toDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "fromDate.year": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Year of date. Must be from 1 to 9999."
                    },
                    "toDate.month": {
                      "type": "integer",
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^datasources/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The resource id of the data source to retrieve statistics for, in the following format: \"datasources/{source_id}\""
                    },
                    "toDate.day": {
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "id": "cloudsearch.stats.index.datasources.get"
                }
              }
            }
          }
        },
        "query": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "parameters": {
                    "fromDate.year": {
                      "type": "integer",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "format": "int32",
                      "location": "query"
                    },
                    "toDate.year": {
                      "location": "query",
                      "format": "int32",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "type": "integer"
                    },
                    "toDate.day": {
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "location": "query",
                      "type": "integer"
                    },
                    "name": {
                      "pattern": "^searchapplications/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The resource id of the search application query stats, in the following format: searchapplications/{application_id}"
                    },
                    "toDate.month": {
                      "type": "integer",
                      "location": "query",
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32"
                    },
                    "fromDate.day": {
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "fromDate.month": {
                      "format": "int32",
                      "location": "query",
                      "description": "Month of date. Must be from 1 to 12.",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/stats/query/searchapplications/{searchapplicationsId}",
                  "description": "Get the query statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "path": "v1/stats/query/{+name}",
                  "id": "cloudsearch.stats.query.searchapplications.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GetSearchApplicationQueryStatsResponse"
                  }
                }
              }
            }
          }
        },
        "session": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "path": "v1/stats/session/{+name}",
                  "parameters": {
                    "toDate.month": {
                      "type": "integer",
                      "description": "Month of date. Must be from 1 to 12.",
                      "location": "query",
                      "format": "int32"
                    },
                    "fromDate.day": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
                    },
                    "toDate.day": {
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "location": "query",
                      "type": "integer"
                    },
                    "fromDate.month": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12."
                    },
                    "fromDate.year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query"
                    },
                    "toDate.year": {
                      "location": "query",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "name": {
                      "pattern": "^searchapplications/[^/]+$",
                      "location": "path",
                      "description": "The resource id of the search application session stats, in the following format: searchapplications/{application_id}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/stats/session/searchapplications/{searchapplicationsId}",
                  "description": "Get the # of search sessions, % of successful sessions with a click query statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudsearch.stats.session.searchapplications.get",
                  "response": {
                    "$ref": "GetSearchApplicationSessionStatsResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "v1": {
      "methods": {
        "initializeCustomer": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Enables `third party` support in Google Cloud Search. **Note:** This API requires an admin account to execute.",
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "InitializeCustomerRequest"
          },
          "path": "v1:initializeCustomer",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing"
          ],
          "flatPath": "v1:initializeCustomer",
          "parameters": {},
          "id": "cloudsearch.initializeCustomer"
        }
      }
    },
    "indexing": {
      "resources": {
        "datasources": {
          "resources": {
            "items": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "path": "v1/indexing/{+name}",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}",
                  "id": "cloudsearch.indexing.datasources.items.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "connectorName": {
                      "location": "query",
                      "type": "string",
                      "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
                    },
                    "debugOptions.enableDebugging": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "required": true,
                      "description": "The name of the item to get info. Format: datasources/{source_id}/items/{item_id}"
                    }
                  },
                  "response": {
                    "$ref": "Item"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets Item resource by item name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source."
                },
                "index": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "description": "The name of the Item. Format: datasources/{source_id}/items/{item_id} This is a required field. The maximum length is 1536 characters.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/indexing/{+name}:index",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates Item ACL, metadata, and content. It will insert the Item if it does not exist. This method does not support partial updates. Fields with no provided values are cleared out in the Cloud Search index. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:index",
                  "id": "cloudsearch.indexing.datasources.items.index",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "IndexItemRequest"
                  }
                },
                "poll": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the Data Source to poll items. Format: datasources/{source_id}",
                      "pattern": "^datasources/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "id": "cloudsearch.indexing.datasources.items.poll",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Polls for unreserved items from the indexing queue and marks a set as reserved, starting with items that have the oldest timestamp from the highest priority ItemStatus. The priority order is as follows: ERROR MODIFIED NEW_ITEM ACCEPTED Reserving items ensures that polling from other threads cannot create overlapping sets. After handling the reserved items, the client should put items back into the unreserved state, either by calling index, or by calling push with the type REQUEUE. Items automatically become available (unreserved) after 4 hours even if no update or push method is called. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "path": "v1/indexing/{+name}/items:poll",
                  "response": {
                    "$ref": "PollItemsResponse"
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:poll",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "PollItemsRequest"
                  }
                },
                "deleteQueueItems": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the Data Source to delete items in a queue. Format: datasources/{source_id}",
                      "type": "string",
                      "pattern": "^datasources/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "DeleteQueueItemsRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "path": "v1/indexing/{+name}/items:deleteQueueItems",
                  "description": "Deletes all items in a queue. This method is useful for deleting stale items. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "id": "cloudsearch.indexing.datasources.items.deleteQueueItems",
                  "httpMethod": "POST",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:deleteQueueItems"
                },
                "push": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Item"
                  },
                  "path": "v1/indexing/{+name}:push",
                  "description": "Pushes an item onto a queue for later polling and updating. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:push",
                  "request": {
                    "$ref": "PushItemRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "id": "cloudsearch.indexing.datasources.items.push",
                  "parameters": {
                    "name": {
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "description": "The name of the item to push into the indexing queue. Format: datasources/{source_id}/items/{ID} This is a required field. The maximum length is 1536 characters.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "unreserve": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the Data Source to unreserve all items. Format: datasources/{source_id}",
                      "type": "string",
                      "pattern": "^datasources/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudsearch.indexing.datasources.items.unreserve",
                  "request": {
                    "$ref": "UnreserveItemsRequest"
                  },
                  "path": "v1/indexing/{+name}/items:unreserve",
                  "description": "Unreserves all items from a queue, making them all eligible to be polled. This method is useful for resetting the indexing queue after a connector has been restarted. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:unreserve",
                  "httpMethod": "POST"
                },
                "upload": {
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:upload",
                  "request": {
                    "$ref": "StartUploadItemRequest"
                  },
                  "description": "Creates an upload session for uploading item content. For items smaller than 100 KB, it's easier to embed the content inline within an index request. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "parameters": {
                    "name": {
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the Item to start a resumable upload. Format: datasources/{source_id}/items/{item_id}. The maximum length is 1536 bytes."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "UploadItemRef"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/indexing/{+name}:upload",
                  "id": "cloudsearch.indexing.datasources.items.upload"
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudsearch.indexing.datasources.items.delete",
                  "path": "v1/indexing/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}",
                  "parameters": {
                    "mode": {
                      "type": "string",
                      "description": "Required. The RequestMode for this request.",
                      "location": "query",
                      "enum": [
                        "UNSPECIFIED",
                        "SYNCHRONOUS",
                        "ASYNCHRONOUS"
                      ],
                      "enumDescriptions": [
                        "The priority is not specified in the update request. Leaving priority unspecified results in an update failure.",
                        "For real-time updates.",
                        "For changes that are executed after the response is sent back to the caller."
                      ]
                    },
                    "connectorName": {
                      "type": "string",
                      "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
                      "location": "query"
                    },
                    "debugOptions.enableDebugging": {
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "version": {
                      "description": "Required. The incremented version of the item to delete from the index. The indexing system stores the version from the datasource as a byte string and compares the Item version in the index to the version of the queued Item using lexical ordering. Cloud Search Indexing won't delete any queued item with a version value that is less than or equal to the version of the currently indexed item. The maximum length for this field is 1024 bytes. For information on how item version affects the deletion process, refer to [Handle revisions after manual deletes](https://developers.google.com/workspace/cloud-search/docs/guides/operations).",
                      "location": "query",
                      "type": "string",
                      "format": "byte"
                    },
                    "name": {
                      "description": "Required. The name of the item to delete. Format: datasources/{source_id}/items/{item_id}",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Deletes Item resource for the specified resource name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source."
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/indexing/{+name}/items",
                  "parameters": {
                    "name": {
                      "description": "The name of the Data Source to list Items. Format: datasources/{source_id}",
                      "location": "path",
                      "pattern": "^datasources/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "brief": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to true, the indexing system only populates the following fields: name, version, queue. metadata.hash, metadata.title, metadata.sourceRepositoryURL, metadata.objectType, metadata.createTime, metadata.updateTime, metadata.contentLanguage, metadata.mimeType, structured_data.hash, content.hash, itemType, itemStatus.code, itemStatus.processingError.code, itemStatus.repositoryError.type, If this value is false, then all the fields are populated in Item."
                    },
                    "debugOptions.enableDebugging": {
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Maximum number of items to fetch in a request. The max value is 1000 when brief is true. The max value is 10 if brief is false. The default value is 10",
                      "location": "query",
                      "format": "int32"
                    },
                    "connectorName": {
                      "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items",
                  "description": "Lists all or a subset of Item resources. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "response": {
                    "$ref": "ListItemsResponse"
                  },
                  "id": "cloudsearch.indexing.datasources.items.list"
                }
              }
            }
          },
          "methods": {
            "getSchema": {
              "id": "cloudsearch.indexing.datasources.getSchema",
              "parameters": {
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                },
                "name": {
                  "pattern": "^datasources/[^/]+$",
                  "required": true,
                  "description": "The name of the data source to get Schema. Format: datasources/{source_id}",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "response": {
                "$ref": "Schema"
              },
              "description": "Gets the schema of a data source. **Note:** This API requires an admin or service account to execute.",
              "path": "v1/indexing/{+name}/schema",
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "deleteSchema": {
              "httpMethod": "DELETE",
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "description": "Deletes the schema of a data source. **Note:** This API requires an admin or service account to execute.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/indexing/{+name}/schema",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the data source to delete Schema. Format: datasources/{source_id}",
                  "pattern": "^datasources/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "id": "cloudsearch.indexing.datasources.deleteSchema"
            },
            "updateSchema": {
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "httpMethod": "PUT",
              "path": "v1/indexing/{+name}/schema",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^datasources/[^/]+$",
                  "description": "The name of the data source to update Schema. Format: datasources/{source_id}"
                }
              },
              "description": "Updates the schema of a data source. This method does not perform incremental updates to the schema. Instead, this method updates the schema by overwriting the entire schema. **Note:** This API requires an admin or service account to execute.",
              "id": "cloudsearch.indexing.datasources.updateSchema",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "UpdateSchemaRequest"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "path": "v1/media/{+resourceName}",
          "supportsMediaUpload": true,
          "response": {
            "$ref": "Media"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.indexing"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Media"
          },
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/media/{+resourceName}"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "flatPath": "v1/media/{mediaId}",
          "parameters": {
            "resourceName": {
              "location": "path",
              "pattern": "^.*$",
              "required": true,
              "type": "string",
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name."
            }
          },
          "id": "cloudsearch.media.upload",
          "description": "Uploads media for indexing. The upload endpoint supports direct and resumable upload protocols and is intended for large items that can not be [inlined during index requests](https://developers.google.com/workspace/cloud-search/docs/reference/rest/v1/indexing.datasources.items#itemcontent). To index large content: 1. Call indexing.datasources.items.upload with the item name to begin an upload session and retrieve the UploadItemRef. 1. Call media.upload to upload the content, as a streaming request, using the same resource name from the UploadItemRef from step 1. 1. Call indexing.datasources.items.index to index the item. Populate the [ItemContent](/cloud-search/docs/reference/rest/v1/indexing.datasources.items#ItemContent) with the UploadItemRef from step 1. For additional information, see [Create a content connector using the REST API](https://developers.google.com/workspace/cloud-search/docs/guides/content-connector#rest). **Note:** This API requires a service account to execute."
        }
      }
    },
    "debug": {
      "resources": {
        "identitysources": {
          "resources": {
            "unmappedids": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/debug/identitysources/{identitysourcesId}/unmappedids",
                  "id": "cloudsearch.debug.identitysources.unmappedids.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Maximum number of items to fetch in a request. Defaults to 100."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^identitysources/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the identity source, in the following format: identitysources/{source_id}"
                    },
                    "debugOptions.enableDebugging": {
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "resolutionStatusCode": {
                      "description": "Limit users selection to this status.",
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "CODE_UNSPECIFIED",
                        "NOT_FOUND",
                        "IDENTITY_SOURCE_NOT_FOUND",
                        "IDENTITY_SOURCE_MISCONFIGURED",
                        "TOO_MANY_MAPPINGS_FOUND",
                        "INTERNAL_ERROR"
                      ],
                      "enumDescriptions": [
                        "Input-only value. Used to list all unmapped identities regardless of status.",
                        "The unmapped identity was not found in IDaaS, and needs to be provided by the user.",
                        "The identity source associated with the identity was either not found or deleted.",
                        "IDaaS does not understand the identity source, probably because the schema was modified in a non compatible way.",
                        "The number of users associated with the external identity is too large.",
                        "Internal error."
                      ]
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "response": {
                    "$ref": "ListUnmappedIdentitiesResponse"
                  },
                  "description": "Lists unmapped user identities for an identity source. **Note:** This API requires an admin account to execute.",
                  "path": "v1/debug/{+parent}/unmappedids"
                }
              }
            },
            "items": {
              "methods": {
                "listForunmappedidentity": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "flatPath": "v1/debug/identitysources/{identitysourcesId}/items:forunmappedidentity",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^identitysources/[^/]+$",
                      "description": "The name of the identity source, in the following format: identitysources/{source_id}}"
                    },
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query"
                    },
                    "userResourceName": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "groupResourceName": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Maximum number of items to fetch in a request. Defaults to 100.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "path": "v1/debug/{+parent}/items:forunmappedidentity",
                  "id": "cloudsearch.debug.identitysources.items.listForunmappedidentity",
                  "response": {
                    "$ref": "ListItemNamesForUnmappedIdentityResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists names of items associated with an unmapped identity. **Note:** This API requires an admin account to execute."
                }
              }
            }
          }
        },
        "datasources": {
          "resources": {
            "items": {
              "methods": {
                "checkAccess": {
                  "path": "v1/debug/{+name}:checkAccess",
                  "response": {
                    "$ref": "CheckAccessResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "request": {
                    "$ref": "Principal"
                  },
                  "description": "Checks whether an item is accessible by specified principal. Principal must be a user; groups and domain values aren't supported. **Note:** This API requires an admin account to execute.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Item name, format: datasources/{source_id}/items/{item_id}"
                    }
                  },
                  "id": "cloudsearch.debug.datasources.items.checkAccess",
                  "flatPath": "v1/debug/datasources/{datasourcesId}/items/{itemsId}:checkAccess",
                  "httpMethod": "POST"
                },
                "searchByViewUrl": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "response": {
                    "$ref": "SearchItemsByViewUrlResponse"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^datasources/[^/]+$",
                      "type": "string",
                      "description": "Source name, format: datasources/{source_id}",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SearchItemsByViewUrlRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/debug/datasources/{datasourcesId}/items:searchByViewUrl",
                  "description": "Fetches the item whose viewUrl exactly matches that of the URL provided in the request. **Note:** This API requires an admin account to execute.",
                  "id": "cloudsearch.debug.datasources.items.searchByViewUrl",
                  "path": "v1/debug/{+name}/items:searchByViewUrl"
                }
              },
              "resources": {
                "unmappedids": {
                  "methods": {
                    "list": {
                      "id": "cloudsearch.debug.datasources.items.unmappedids.list",
                      "flatPath": "v1/debug/datasources/{datasourcesId}/items/{itemsId}/unmappedids",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud_search",
                        "https://www.googleapis.com/auth/cloud_search.debug"
                      ],
                      "description": "List all unmapped identities for a specific item. **Note:** This API requires an admin account to execute.",
                      "parameters": {
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous List request, if any.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Maximum number of items to fetch in a request. Defaults to 100.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "description": "The name of the item, in the following format: datasources/{source_id}/items/{ID}",
                          "location": "path",
                          "type": "string",
                          "pattern": "^datasources/[^/]+/items/[^/]+$",
                          "required": true
                        },
                        "debugOptions.enableDebugging": {
                          "location": "query",
                          "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                          "type": "boolean"
                        }
                      },
                      "path": "v1/debug/{+parent}/unmappedids",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListUnmappedIdentitiesResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/{+name}",
          "id": "cloudsearch.operations.get",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The name of the operation resource."
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations/{operationsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.debug",
            "https://www.googleapis.com/auth/cloud_search.indexing",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing",
            "https://www.googleapis.com/auth/cloud_search.settings.query"
          ],
          "httpMethod": "GET"
        }
      },
      "resources": {
        "lro": {
          "methods": {
            "list": {
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "pattern": "^operations/.*$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The standard list page size.",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.debug",
                "https://www.googleapis.com/auth/cloud_search.indexing",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "path": "v1/{+name}/lro",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudsearch.operations.lro.list",
              "flatPath": "v1/operations/{operationsId}/lro",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListOperationsResponse"
              }
            }
          }
        }
      }
    },
    "query": {
      "methods": {
        "removeActivity": {
          "description": "Provides functionality to remove logged activity for a user. Currently to be used only for Chat 1p clients **Note:** This API requires a standard end user account to execute. A service account can't perform Remove Activity requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/workspace/cloud-search/docs/guides/delegation/).",
          "response": {
            "$ref": "RemoveActivityResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ],
          "id": "cloudsearch.query.removeActivity",
          "parameters": {},
          "path": "v1/query:removeActivity",
          "flatPath": "v1/query:removeActivity",
          "parameterOrder": [],
          "request": {
            "$ref": "RemoveActivityRequest"
          }
        },
        "suggest": {
          "response": {
            "$ref": "SuggestResponse"
          },
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "SuggestRequest"
          },
          "id": "cloudsearch.query.suggest",
          "description": "Provides suggestions for autocompleting the query. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/workspace/cloud-search/docs/guides/delegation/).",
          "path": "v1/query/suggest",
          "flatPath": "v1/query/suggest",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ]
        },
        "search": {
          "parameters": {},
          "response": {
            "$ref": "SearchResponse"
          },
          "request": {
            "$ref": "SearchRequest"
          },
          "parameterOrder": [],
          "flatPath": "v1/query/search",
          "path": "v1/query/search",
          "description": "The Cloud Search Query API provides the search method, which returns the most relevant results from a user query. The results can come from Google Workspace apps, such as Gmail or Google Drive, or they can come from data that you have indexed from a third party. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/workspace/cloud-search/docs/guides/delegation/).",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ],
          "id": "cloudsearch.query.search",
          "httpMethod": "POST"
        }
      },
      "resources": {
        "sources": {
          "methods": {
            "list": {
              "path": "v1/query/sources",
              "parameters": {
                "requestOptions.clientDisplayLanguageCode": {
                  "location": "query",
                  "type": "string",
                  "description": "The BCP-47 language code, such as \"pt\" or \"en\". It represents the user's preferred Display Language."
                },
                "requestOptions.timeZone": {
                  "location": "query",
                  "type": "string",
                  "description": "Current user's time zone id, such as \"America/Los_Angeles\" or \"Australia/Sydney\". These IDs are defined by [Unicode Common Locale Data Repository (CLDR)](http://cldr.unicode.org/) project, and currently available in the file [timezone.xml](http://unicode.org/repos/cldr/trunk/common/bcp47/timezone.xml). This field is used to correctly interpret date and time queries. If this field is not specified, the default time zone (UTC) is used."
                },
                "requestOptions.debugOptions.enableDebugging": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                },
                "pageToken": {
                  "description": "Number of sources to return in the response.",
                  "type": "string",
                  "location": "query"
                },
                "requestOptions.languageCode": {
                  "location": "query",
                  "type": "string",
                  "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. For translations. Set this field using the language set in browser or for the page. In the event that the user's language preference is known, set this field to the known user language. When specified, the documents in search results are biased towards the specified language. The Suggest API uses this field as a hint to make better third-party autocomplete predictions."
                },
                "requestOptions.countryCode": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Specifies the country/region where the query originated, as a lowercase ISO 3166-1 alpha-2 region code (using 'uk' instead of 'gb' for the United Kingdom)."
                },
                "requestOptions.searchApplicationId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID generated when you create a search application using the [admin console](https://support.google.com/a/answer/9043922)."
                }
              },
              "description": "Returns list of sources that user can use for Search and Suggest APIs. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/workspace/cloud-search/docs/guides/delegation/).",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.query"
              ],
              "response": {
                "$ref": "ListQuerySourcesResponse"
              },
              "parameterOrder": [],
              "httpMethod": "GET",
              "id": "cloudsearch.query.sources.list",
              "flatPath": "v1/query/sources"
            }
          }
        }
      }
    },
    "settings": {
      "resources": {
        "searchapplications": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^searchapplications/[^/]+$",
                  "required": true,
                  "description": "The name of the search application to be deleted. Format: applications/{application_id}."
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean"
                }
              },
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "id": "cloudsearch.settings.searchapplications.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "description": "Deletes a search application. **Note:** This API requires an admin account to execute.",
              "path": "v1/settings/{+name}"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListSearchApplicationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "parameterOrder": [],
              "id": "cloudsearch.settings.searchapplications.list",
              "flatPath": "v1/settings/searchapplications",
              "description": "Lists all search applications. **Note:** This API requires an admin account to execute.",
              "path": "v1/settings/searchapplications",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token value returned from a previous List request, if any. The default value is 10",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of items to return.",
                  "location": "query",
                  "type": "integer"
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "response": {
                "$ref": "SearchApplication"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "cloudsearch.settings.searchapplications.get",
              "description": "Gets the specified search application. **Note:** This API requires an admin account to execute.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The name of the search application. Format: searchapplications/{application_id}.",
                  "pattern": "^searchapplications/[^/]+$",
                  "location": "path"
                },
                "debugOptions.enableDebugging": {
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "path": "v1/settings/{+name}"
            },
            "update": {
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "SearchApplication"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Only applies to [`settings.searchapplications.patch`](https://developers.google.com/workspace/cloud-search/docs/reference/rest/v1/settings.searchapplications/patch). Update mask to control which fields to update. Example field paths: `search_application.name`, `search_application.displayName`. * If `update_mask` is non-empty, then only the fields specified in the `update_mask` are updated. * If you specify a field in the `update_mask`, but don't specify its value in the `search_application`, then that field is cleared. * If the `update_mask` is not present or empty or has the value `*`, then all fields are updated.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^searchapplications/[^/]+$",
                  "description": "The name of the Search Application. Format: searchapplications/{application_id}.",
                  "location": "path"
                }
              },
              "id": "cloudsearch.settings.searchapplications.update",
              "description": "Updates a search application. **Note:** This API requires an admin account to execute.",
              "httpMethod": "PUT",
              "path": "v1/settings/{+name}",
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}"
            },
            "reset": {
              "id": "cloudsearch.settings.searchapplications.reset",
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}:reset",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^searchapplications/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the search application to be reset. Format: applications/{application_id}."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "path": "v1/settings/{+name}:reset",
              "description": "Resets a search application to default settings. This will return an empty response. **Note:** This API requires an admin account to execute.",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "ResetSearchApplicationRequest"
              }
            },
            "create": {
              "description": "Creates a search application. **Note:** This API requires an admin account to execute.",
              "request": {
                "$ref": "SearchApplication"
              },
              "path": "v1/settings/searchapplications",
              "parameterOrder": [],
              "parameters": {},
              "flatPath": "v1/settings/searchapplications",
              "httpMethod": "POST",
              "id": "cloudsearch.settings.searchapplications.create",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "path": "v1/settings/{+name}",
              "id": "cloudsearch.settings.searchapplications.patch",
              "description": "Updates a search application. **Note:** This API requires an admin account to execute.",
              "request": {
                "$ref": "SearchApplication"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^searchapplications/[^/]+$",
                  "description": "The name of the Search Application. Format: searchapplications/{application_id}.",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Only applies to [`settings.searchapplications.patch`](https://developers.google.com/workspace/cloud-search/docs/reference/rest/v1/settings.searchapplications/patch). Update mask to control which fields to update. Example field paths: `search_application.name`, `search_application.displayName`. * If `update_mask` is non-empty, then only the fields specified in the `update_mask` are updated. * If you specify a field in the `update_mask`, but don't specify its value in the `search_application`, then that field is cleared. * If the `update_mask` is not present or empty or has the value `*`, then all fields are updated.",
                  "location": "query"
                }
              }
            }
          }
        },
        "datasources": {
          "methods": {
            "delete": {
              "id": "cloudsearch.settings.datasources.delete",
              "parameters": {
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query"
                },
                "name": {
                  "description": "The name of the datasource. Format: datasources/{source_id}.",
                  "pattern": "^datasources/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "description": "Deletes a datasource. **Note:** This API requires an admin account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/settings/{+name}"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "description": "Starting index of the results.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of datasources to fetch in a request. The max value is 1000. The default value is 1000.",
                  "format": "int32",
                  "location": "query"
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean"
                }
              },
              "path": "v1/settings/datasources",
              "id": "cloudsearch.settings.datasources.list",
              "flatPath": "v1/settings/datasources",
              "description": "Lists datasources. **Note:** This API requires an admin account to execute.",
              "parameterOrder": [],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "response": {
                "$ref": "ListDataSourceResponse"
              },
              "httpMethod": "GET"
            },
            "create": {
              "path": "v1/settings/datasources",
              "flatPath": "v1/settings/datasources",
              "httpMethod": "POST",
              "id": "cloudsearch.settings.datasources.create",
              "parameters": {},
              "request": {
                "$ref": "DataSource"
              },
              "parameterOrder": [],
              "response": {
                "$ref": "Operation"
              },
              "description": "Creates a datasource. **Note:** This API requires an admin account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ]
            },
            "update": {
              "request": {
                "$ref": "UpdateDataSourceRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^datasources/[^/]+$",
                  "description": "The name of the datasource resource. Format: datasources/{source_id}. The name is ignored when creating a datasource.",
                  "location": "path"
                }
              },
              "description": "Updates a datasource. **Note:** This API requires an admin account to execute.",
              "id": "cloudsearch.settings.datasources.update",
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/settings/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "PUT"
            },
            "patch": {
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "DataSource"
              },
              "path": "v1/settings/{+name}",
              "description": "Updates a datasource. **Note:** This API requires an admin account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "id": "cloudsearch.settings.datasources.patch",
              "parameters": {
                "name": {
                  "description": "The name of the datasource resource. Format: datasources/{source_id}. The name is ignored when creating a datasource.",
                  "location": "path",
                  "required": true,
                  "pattern": "^datasources/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Only applies to [`settings.datasources.patch`](https://developers.google.com/workspace/cloud-search/docs/reference/rest/v1/settings.datasources/patch). Update mask to control which fields to update. Example field paths: `name`, `displayName`. * If `update_mask` is non-empty, then only the fields specified in the `update_mask` are updated. * If you specify a field in the `update_mask`, but don't specify its value in the source, that field is cleared. * If the `update_mask` is not present or empty or has the value `*`, then all fields are updated.",
                  "type": "string"
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query"
                }
              },
              "httpMethod": "PATCH",
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "cloudsearch.settings.datasources.get",
              "parameters": {
                "name": {
                  "description": "The name of the datasource resource. Format: datasources/{source_id}.",
                  "location": "path",
                  "pattern": "^datasources/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                }
              },
              "description": "Gets a datasource. **Note:** This API requires an admin account to execute.",
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/settings/{+name}",
              "response": {
                "$ref": "DataSource"
              }
            }
          }
        }
      },
      "methods": {
        "getCustomer": {
          "response": {
            "$ref": "CustomerSettings"
          },
          "description": "Get customer settings. **Note:** This API requires an admin account to execute.",
          "parameterOrder": [],
          "path": "v1/settings/customer",
          "id": "cloudsearch.settings.getCustomer",
          "parameters": {},
          "flatPath": "v1/settings/customer",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing"
          ],
          "httpMethod": "GET"
        },
        "updateCustomer": {
          "description": "Update customer settings. **Note:** This API requires an admin account to execute.",
          "id": "cloudsearch.settings.updateCustomer",
          "path": "v1/settings/customer",
          "flatPath": "v1/settings/customer",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "Update mask to control which fields get updated. If you specify a field in the update_mask but don't specify its value here, that field will be cleared. If the mask is not present or empty, all fields will be updated. Currently supported field paths: vpc_settings and audit_logging_settings"
            }
          },
          "parameterOrder": [],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "CustomerSettings"
          },
          "response": {
            "$ref": "Operation"
          }
        }
      }
    }
  },
  "version_module": true,
  "ownerDomain": "google.com",
  "canonicalName": "Cloud Search",
  "version": "v1",
  "servicePath": "",
  "ownerName": "Google",
  "basePath": "",
  "revision": "20260819",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://cloudsearch.googleapis.com/",
  "id": "cloudsearch:v1",
  "description": "Cloud Search provides cloud-based search capabilities over Google Workspace data. The Cloud Search API allows indexing of non-Google Workspace data into Cloud Search.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud_search.settings.query": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.debug": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/cloud_search.stats.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.stats": {
          "description": "Index and serve your organization's data with Cloud Search"
        }
      }
    }
  },
  "schemas": {
    "Name": {
      "description": "A person's name.",
      "id": "Name",
      "properties": {
        "displayName": {
          "description": "The read-only display name formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseTopazSidekickDocumentPerCategoryListDocumentPerCategoryListEntry": {
      "id": "EnterpriseTopazSidekickDocumentPerCategoryListDocumentPerCategoryListEntry",
      "type": "object",
      "properties": {
        "document": {
          "$ref": "EnterpriseTopazSidekickCommonDocument"
        },
        "category": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "Mention categories. The mention has been viewed by the user, but the user has not replied.",
            "The user has replied to the mention.",
            "The mention has not been viewed by the user.",
[...]
