{
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "id": "cloudsearch:v1",
  "ownerName": "Google",
  "description": "Cloud Search provides cloud-based search capabilities over Google Workspace data. The Cloud Search API allows indexing of non-Google Workspace data into Cloud Search.",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "basePath": "",
  "canonicalName": "Cloud Search",
  "version_module": true,
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud_search.settings": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.debug": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/cloud_search.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.stats.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.query": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.stats": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/workspace/cloud-search/docs/guides/",
  "ownerDomain": "google.com",
  "schemas": {
    "ListUnmappedIdentitiesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unmappedIdentities": {
          "type": "array",
          "items": {
            "$ref": "UnmappedIdentity"
          }
        }
      },
      "id": "ListUnmappedIdentitiesResponse"
    },
    "Context": {
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "description": "[Optional] Day of week when the card should be shown, where 0 is Monday.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "type": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "UNKNOWN_CARD_TYPE",
              "HOMEPAGE_CARD",
              "ANSWER_CARD",
              "RHS_CARD"
            ]
          },
          "description": "[Required] Type of the card (homepage, Answer or RHS).",
          "type": "array"
        },
        "startDayOffsetSec": {
          "description": "[Optional] Start time in seconds, within a day, when the card should be shown if it's within [start_date_sec, end_date_sec]. If 0, the card will be shown from 12:00am on.",
          "format": "int64",
          "type": "string"
        },
        "locale": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[Optional] The locales for which the card should be triggered (e.g., en_US and en_CA). If missing, the card is going to show to clients regardless of their locale."
        },
        "surface": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "UNKNOWN_SURFACE",
              "DESKTOP",
              "ANDROID",
              "IOS",
              "MOBILE",
              "ANY"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "Any mobile device.",
              ""
            ]
          },
          "description": "[Optional] Surface where the card should be shown in. If missing, the card will be shown in any surface."
        },
        "query": {
          "description": "[Required only for Answer and RHS cards - will be ignored for Homepage] cards. It's the exact case-insensitive queries that will trigger the Answer or RHS card.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "endDateSec": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] Date (in seconds since epoch) when the card should stop being shown. If missing, end_date_sec will be set to Jan 1st, 2100."
        },
        "endDayOffsetSec": {
          "description": "[Optional] End time in seconds, within a day, when the card should stop being shown if it's within [start_date_sec, end_date_sec]. If missing, this is set to 86400 (24 hours x 3600 sec/hour), i.e., midnight next day.",
          "format": "int64",
          "type": "string"
        },
        "location": {
          "type": "array",
          "description": "[Optional] Text-free locations where the card should be shown. This is expected to match the user's location in focus. If no location is specified, the card will be shown for any location.",
          "items": {
            "type": "string"
          }
        },
        "app": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "UNKNOWN_APP",
              "TOPAZ",
              "MOMA"
            ],
            "type": "string"
          },
          "description": "[Optional] App where the card should be shown. If missing, the card will be shown in TOPAZ.",
          "type": "array"
        },
        "startDateSec": {
          "format": "int64",
          "type": "string",
          "description": "[Optional] Date (in seconds since epoch) when the card should start being shown. If missing, start_date_sec will be Jan 1st, 1970 UTC."
        }
      },
      "id": "Context"
    },
    "IntegerFacetingOptions": {
      "properties": {
        "integerBuckets": {
          "type": "array",
          "description": "Buckets for given integer values should be in strictly ascending order. For example, if values supplied are (1,5,10,100), the following facet buckets will be formed {<1, [1,5), [5-10), [10-100), >=100}.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object",
      "description": "Used to specify integer faceting options.",
      "id": "IntegerFacetingOptions"
    },
    "ItemContent": {
      "type": "object",
      "properties": {
        "contentFormat": {
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "contentFormat is HTML.",
            "contentFormat is free text.",
            "contentFormat is raw bytes."
          ],
          "enum": [
            "UNSPECIFIED",
            "HTML",
            "TEXT",
            "RAW"
          ]
        },
        "contentDataRef": {
          "description": "Upload reference ID of a previously uploaded content via write method.",
          "$ref": "UploadItemRef"
        },
        "hash": {
          "description": "Hashing info calculated and provided by the API client for content. Can be used with the items.push method to calculate modified state. The maximum length is 2048 characters.",
          "type": "string"
        },
        "inlineContent": {
          "type": "string",
          "format": "byte",
          "description": "Content that is supplied inlined within the update method. The maximum length is 102400 bytes (100 KiB)."
        }
      },
      "id": "ItemContent",
      "description": "Content of an item to be indexed and surfaced by Cloud Search. Only UTF-8 encoded strings are allowed as inlineContent. If the content is uploaded and not binary, it must be UTF-8 encoded."
    },
    "EnumOperatorOptions": {
      "properties": {
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the enum property. For example, if operatorName is *priority* and the property's name is *priorityVal*, then queries like *priority:<value>* show results only where the value of the property named *priorityVal* matches *<value>*. By contrast, a search that uses the same *<value>* without an operator returns all items where *<value>* matches the value of any String properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        }
      },
      "id": "EnumOperatorOptions",
      "description": "Used to provide a search operator for enum properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched. For example, if you provide no operator for a *priority* enum property with possible values *p0* and *p1*, a query that contains the term *p0* returns items that have *p0* as the value of the *priority* property, as well as any items that contain the string *p0* in other fields. If you provide an operator name for the enum, such as *priority*, then search users can use that operator to refine results to only items that have *p0* as this property's value, with the query *priority:p0*.",
      "type": "object"
    },
    "ErrorInfo": {
      "id": "ErrorInfo",
      "type": "object",
      "description": "Error information about the response.",
      "properties": {
        "errorMessages": {
          "items": {
            "$ref": "ErrorMessage"
          },
          "type": "array"
        }
      }
    },
    "EnumValuePair": {
      "type": "object",
      "properties": {
        "integerValue": {
          "format": "int32",
          "type": "integer",
          "description": "The integer value of the EnumValuePair which must be non-negative. Optional."
        },
        "stringValue": {
          "type": "string",
          "description": "The string value of the EnumValuePair. The maximum length is 32 characters."
        }
      },
      "id": "EnumValuePair",
      "description": "The enumeration value pair defines two things: a required string value and an optional integer value. The string value defines the necessary query term required to retrieve that item, such as *p0* for a priority item. The integer value determines the ranking of that string value relative to other enumerated values for the same property. For example, you might associate *p0* with *0* and define another enum pair such as *p1* and *1*. You must use the integer value in combination with ordered ranking to set the ranking of a given value relative to other enumerated values for the same property name. Here, a ranking order of DESCENDING for *priority* properties results in a ranking boost for items indexed with a value of *p0* compared to items indexed with a value of *p1*. Without a specified ranking order, the integer value has no effect on item ranking."
    },
    "EnterpriseTopazSidekickShareMeetingDocsCardProto": {
      "properties": {
        "event": {
          "description": "Event.",
          "$ref": "EnterpriseTopazSidekickAgendaEntry"
        },
        "document": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseTopazSidekickCommonDocument"
          },
          "description": "Documents to share for the given meeting."
        }
      },
      "id": "EnterpriseTopazSidekickShareMeetingDocsCardProto",
      "description": "Share meeting docs card proto.",
      "type": "object"
    },
    "ThirdPartyGenericCard": {
      "type": "object",
      "id": "ThirdPartyGenericCard",
      "properties": {
        "isDismissible": {
          "type": "boolean",
          "description": "Whether the card can be dismissed."
        },
        "content": {
          "description": "[Required] Card content.",
          "$ref": "Content"
        },
        "category": {
          "description": "Category that the card belongs to.",
          "type": "string"
        },
        "priority": {
          "description": "Priority of the card, where 0 is the highest priority.",
          "type": "integer",
          "format": "int32"
        },
        "cardId": {
          "description": "Unique identifier for the card.",
          "type": "string"
        },
        "context": {
          "$ref": "Context",
          "description": "[Required] Context where the card should be triggered."
        }
      }
    },
    "QuerySource": {
      "id": "QuerySource",
      "properties": {
        "displayName": {
          "description": "Display name of the data source.",
          "type": "string"
        },
        "source": {
          "$ref": "Source",
          "description": "The name of the source"
        },
        "shortName": {
          "description": "A short name or alias for the source. This value can be used with the 'source' operator.",
          "type": "string"
        },
        "operators": {
          "description": "List of all operators applicable for this source.",
          "items": {
            "$ref": "QueryOperator"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "List of sources that the user can search using the query API."
    },
    "ErrorMessage": {
      "properties": {
        "source": {
          "$ref": "Source"
        },
        "errorMessage": {
          "type": "string"
        }
      },
      "description": "Error message per source response.",
      "type": "object",
      "id": "ErrorMessage"
    },
    "EnterpriseTopazSidekickCommonPersonBirthday": {
      "properties": {
        "value": {
          "description": "Unstructured birthday.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseTopazSidekickCommonPersonBirthday"
    },
    "ProcessingError": {
      "type": "object",
      "properties": {
        "fieldViolations": {
          "description": "In case the item fields are invalid, this field contains the details about the validation errors.",
          "type": "array",
          "items": {
            "$ref": "FieldViolation"
          }
        },
        "errorMessage": {
          "description": "The description of the error.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enum": [
            "PROCESSING_ERROR_CODE_UNSPECIFIED",
            "MALFORMED_REQUEST",
            "UNSUPPORTED_CONTENT_FORMAT",
            "INDIRECT_BROKEN_ACL",
            "ACL_CYCLE"
          ],
          "description": "Error code indicating the nature of the error.",
          "enumDescriptions": [
            "Input only value. Use this value in Items.",
            "Item's ACL, metadata, or content is malformed or in invalid state. FieldViolations contains more details on where the problem is.",
            "Countent format is unsupported.",
            "Items with incomplete ACL information due to inheriting other items with broken ACL or having groups with unmapped descendants.",
            "ACL inheritance graph formed a cycle."
          ]
        }
      },
      "id": "ProcessingError"
    },
    "CustomerSettings": {
      "id": "CustomerSettings",
      "description": "Represents settings at a customer level.",
      "properties": {
        "auditLoggingSettings": {
          "$ref": "AuditLoggingSettings",
          "description": "Audit Logging settings for the customer. If update_mask is empty then this field will be updated based on UpdateCustomerSettings request."
        },
        "vpcSettings": {
          "description": "VPC SC settings for the customer. If update_mask is empty then this field will be updated based on UpdateCustomerSettings request.",
          "$ref": "VPCSettings"
        }
      },
      "type": "object"
    },
    "SuggestResult": {
      "description": "One suggestion result.",
      "properties": {
        "peopleSuggestion": {
          "$ref": "PeopleSuggestion",
          "description": "This is present when the suggestion indicates a person. It contains more information about the person - like their email ID, name etc."
        },
        "source": {
          "description": "The source of the suggestion.",
          "$ref": "Source"
        },
        "suggestedQuery": {
          "type": "string",
          "description": "The suggested query that will be used for search, when the user clicks on the suggestion"
        },
        "querySuggestion": {
          "description": "This field will be present if the suggested query is a word/phrase completion.",
          "$ref": "QuerySuggestion"
        }
      },
      "id": "SuggestResult",
      "type": "object"
    },
    "CustomerSessionStats": {
      "properties": {
        "searchSessionsCount": {
          "format": "int64",
          "type": "string",
          "description": "The count of search sessions on the day"
        },
        "date": {
          "$ref": "Date",
          "description": "The date for which session stats were calculated. Stats are calculated on the following day, close to midnight PST, and then returned."
        }
      },
      "id": "CustomerSessionStats",
      "type": "object"
    },
    "PersonCore": {
      "type": "object",
      "description": "Information for rendering a person. NEXT ID: 37",
      "id": "PersonCore",
      "properties": {
        "department": {
          "type": "string",
          "description": "The person's Organization department, e.g. \"People Operations\". For google.com this is usually called \"area\"."
        },
        "availabilityStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "OUT_OF_OFFICE",
            "OUTSIDE_WORKING_HOURS",
            "AVAILABLE"
          ]
        },
        "chatUrl": {
          "$ref": "SafeUrlProto",
          "description": "The URL to start a chat conversation with the profile owner. For google.com this is a Hangouts URL."
        },
        "phoneNumbers": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseTopazFrontendTeamsPersonCorePhoneNumber"
          }
        },
        "keywordTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of keys to use from the map 'keywords'."
        },
        "emails": {
          "description": "E-mail addresses of the person. The primary or preferred email should be first.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "jobTitle": {
          "type": "string",
          "description": "Profile owner's job title (e.g. \"Software Engineer\"). For google.com this is the Workday preferred job title."
        },
        "adminTo": {
          "description": "People the profile owner is an admin to. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty.",
          "type": "array",
          "items": {
            "$ref": "PersonCore"
          }
        },
        "postalAddress": {
          "type": "string",
          "description": "Postal address of office/building."
        },
        "birthday": {
          "description": "Person birthday.",
          "$ref": "Date"
        },
        "dottedLineReports": {
          "items": {
            "$ref": "PersonCore"
          },
          "type": "array",
          "description": "A subset of the profile owner's dotted-line reports. The number of entities here may be less than total_dlr_count. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty."
        },
        "photoUrl": {
          "description": "Person photo.",
          "$ref": "SafeUrlProto"
        },
        "keywords": {
          "description": "Custom keywords the domain admin has added.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "fingerprint": {
          "type": "string",
          "description": "A fingerprint used by PAPI to reliably determine if a resource has changed Externally it is used as part of the etag."
        },
        "geoLocation": {
          "$ref": "MapInfo"
        },
        "admins": {
          "type": "array",
          "description": "The profile owner's admins in no particular order. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty.",
          "items": {
            "$ref": "PersonCore"
          }
        },
        "links": {
          "items": {
            "$ref": "EnterpriseTopazFrontendTeamsLink"
          },
          "description": "Custom links the profile owner has added.",
          "type": "array"
        },
        "calendarUrl": {
          "description": "The URL to open the profile owner's primary calendar.",
          "$ref": "SafeUrlProto"
        },
        "personId": {
          "type": "string",
          "description": "The person's obfuscated Gaia ID."
        },
        "ftePermille": {
          "description": "Full-time equivalent (in ‰) (e.g. 800 for a person who's working 80%).",
          "type": "string",
          "format": "int64"
        },
        "location": {
          "type": "string",
          "description": "Detailed desk location within the company. For google.com this is the desk location code (e.g. \"DE-MUC-ARP-6T2-6T2C0C\") if the person has a desk."
        },
        "directReports": {
          "type": "array",
          "items": {
            "$ref": "PersonCore"
          },
          "description": "A subset of the profile owner's direct reports. The number of entities here may be less than total_direct_reports_count, because typically ProfileResponse does not include all the person's reports, if there are too many to retrieve efficiently. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty."
        },
        "name": {
          "description": "Human-readable Unicode display name.",
          "type": "string"
        },
        "totalDlrCount": {
          "description": "Total count of the profile owner's dotted-line reports.",
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "description": "External ID of type \"login_id\" for the profile. For google.com this is the username/LDAP.",
          "type": "string"
        },
        "officeLocation": {
          "description": "Office/building identifier within the company. For google.com this is the office code (e.g. \"DE-MUC-ARP\").",
          "type": "string"
        },
        "gmailUrl": {
          "type": "string"
        },
        "totalFteCount": {
          "type": "string",
          "format": "int64",
          "description": "The sum of all profile owner's reports and their own full-time-equivalents in ‰ (e.g. 1800 if one report is working 80% and profile owner 100%)."
        },
        "managers": {
          "description": "The profile owner's management chain from top to bottom, where managers[0] is the CEO, manager[N-2] is the person's manager's manager and managers[N-1] is the person's direct manager. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty.",
          "type": "array",
          "items": {
            "$ref": "PersonCore"
          }
        },
        "waldoComeBackTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "dottedLineManagers": {
          "description": "The profile owner's direct dotted line managers in no particular order. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty.",
          "type": "array",
          "items": {
            "$ref": "PersonCore"
          }
        },
        "addressMeAs": {
          "description": "Instructions for how to address this person (e.g. custom pronouns). For google.com this is a set of pronouns from a defined list of options.",
          "type": "string"
        },
        "employeeId": {
          "type": "string",
          "description": "Person's employee number (external ID of type \"organization\") For google.com this is the badge number (e.g. 2 for Larry Page)."
        },
        "totalDirectReportsCount": {
          "format": "int32",
          "description": "Total count of the profile owner's direct reports.",
          "type": "integer"
        },
        "costCenter": {
          "description": "Person's cost center as a string, e.g. \"926: Googler Apps\".",
          "type": "string"
        },
        "mission": {
          "description": "Custom mission statement the profile owner has added.",
          "type": "string"
        }
      }
    },
    "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfo": {
      "id": "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfo",
      "type": "object",
      "description": "Metadata for disambiguation.",
      "properties": {
        "disambiguation": {
          "type": "array",
          "description": "A list of people that also matched the query. This list is not complete.",
          "items": {
            "$ref": "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfoDisambiguationPerson"
          }
        },
        "name": {
          "type": "string",
          "description": "The name that was extracted from the query. This may be in the form of the given name, last name, full name, LDAP, or email address. This name can be considered suitable for displaying to the user and can largely be considered to be normalized (e.g. \"Bob's\" -> \"Bob\")."
        }
      }
    },
    "CheckAccessResponse": {
      "id": "CheckAccessResponse",
      "properties": {
        "hasAccess": {
          "description": "Returns true if principal has access. Returns false otherwise.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "EnterpriseTopazSidekickAnswerSuggestedQueryAnswerCard": {
      "id": "EnterpriseTopazSidekickAnswerSuggestedQueryAnswerCard",
      "description": "Contains a list of suggested queries. Allows the user to determine what natural language queries they can ask Cloud Search (e.g. \"what can I search for?\").",
      "properties": {
        "suggestedQueryCategory": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseTopazSidekickAnswerSuggestedQueryCategory"
          },
          "description": "A list of queries to suggest."
        }
      },
      "type": "object"
    },
    "EnterpriseTopazSidekickCardMetadata": {
      "type": "object",
      "properties": {
        "chronology": {
          "enumDescriptions": [
            "Unknown chronology (default).",
            "Past.",
            "Recently past.",
            "Present.",
            "Near future.",
            "Future."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PAST",
            "RECENTLY_PAST",
            "PRESENT",
            "NEAR_FUTURE",
            "FUTURE"
          ],
          "description": "Chronology."
        },
        "renderMode": {
          "enumDescriptions": [
            "Unknown mode (default).",
            "Collapsed.",
            "Expanded."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_RENDER",
            "COLLAPSED",
            "EXPANDED"
          ],
          "description": "Render mode."
        },
        "cardCategory": {
          "enumDescriptions": [
            "Let MSCR decide how this card should be packed. Most cards should choose this type. This type should largely be considered equivalent to ANSWER. However, this is not guaranteed to be the case as the request to MSCR may override the static configuration.",
            "This card should be rendered as an answer card.",
            "This card should be rendered as a knowledge card (a non-organic result).",
            "This card should be rendered in the Homepage."
          ],
          "description": "Declares a preference for how this card should be packed in MSCR. All cards in a response must correspond to a single category. As a result, cards may be dropped from the response if this field is set. Any card that does not match the category of the card with the highest priority in the response will be dropped.",
          "enum": [
            "DEFAULT",
            "ANSWER",
            "KNOWLEDGE",
            "HOMEPAGE"
          ],
          "type": "string"
        },
        "rankingParams": {
          "description": "Ranking params.",
          "$ref": "EnterpriseTopazSidekickRankingParams"
        },
        "cardId": {
          "description": "An ID to identify the card and match actions to it. Be thoughtful of new card IDs since actions will be associated to that ID. E.g., if two card IDs collide, the system will think that the actions have been applied to the same card. Similarly, if EAS can return multiple cards of the same type (e.g., Meetings), ensure that the card_id identifies a given instance of the card so that, e.g., dismissals only affect the dismissed card as opposed to affecting all meeting cards.",
          "type": "string"
        },
        "debugInfo": {
          "description": "Debug info (only reported if request's debug_level > 0).",
          "type": "string"
        },
        "nlpMetadata": {
          "$ref": "EnterpriseTopazSidekickNlpMetadata",
          "description": "Information about the NLP done to get the card."
        }
      },
      "id": "EnterpriseTopazSidekickCardMetadata",
      "description": "Card metadata."
    },
    "GetCustomerIndexStatsResponse": {
      "id": "GetCustomerIndexStatsResponse",
      "properties": {
        "stats": {
          "type": "array",
          "description": "Summary of indexed item counts, one for each day in the requested range.",
          "items": {
            "$ref": "CustomerIndexStats"
          }
        },
        "averageIndexedItemCount": {
          "format": "int64",
          "type": "string",
          "description": "Average item count for the given date range for which billing is done."
        }
      },
      "type": "object"
    },
    "RepositoryError": {
      "id": "RepositoryError",
      "type": "object",
      "description": "Errors when the connector is communicating to the source repository.",
      "properties": {
        "httpStatusCode": {
          "type": "integer",
          "format": "int32",
          "description": "Error codes. Matches the definition of HTTP status codes."
        },
        "errorMessage": {
          "description": "Message that describes the error. The maximum allowable length of the message is 8192 characters.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of error.",
          "enumDescriptions": [
            "Unknown error.",
            "Unknown or unreachable host.",
            "DNS problem, such as the DNS server is not responding.",
            "Cannot connect to the repository server.",
            "Failed authentication due to incorrect credentials.",
            "Service account is not authorized for the repository.",
            "Repository server error.",
            "Quota exceeded.",
            "Server temporarily unavailable.",
            "Client-related error, such as an invalid request from the connector to the repository server."
          ],
          "enum": [
            "UNKNOWN",
            "NETWORK_ERROR",
            "DNS_ERROR",
            "CONNECTION_ERROR",
            "AUTHENTICATION_ERROR",
            "AUTHORIZATION_ERROR",
            "SERVER_ERROR",
            "QUOTA_EXCEEDED",
            "SERVICE_UNAVAILABLE",
            "CLIENT_ERROR"
          ]
        }
      }
    },
    "Schema": {
      "id": "Schema",
      "type": "object",
      "description": "The schema definition for a data source.",
      "properties": {
        "operationIds": {
          "type": "array",
          "description": "IDs of the Long Running Operations (LROs) currently running for this schema. After modifying the schema, wait for operations to complete before indexing additional content.",
          "items": {
            "type": "string"
          }
        },
        "objectDefinitions": {
          "type": "array",
          "items": {
            "$ref": "ObjectDefinition"
          },
          "description": "The list of top-level objects for the data source. The maximum number of elements is 10."
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "FacetResult": {
      "id": "FacetResult",
      "type": "object",
      "properties": {
        "objectType": {
          "description": "Object type for which facet results are returned. Can be empty.",
          "type": "string"
        },
        "buckets": {
          "description": "FacetBuckets for values in response containing at least a single result with the corresponding filter.",
          "items": {
            "$ref": "FacetBucket"
          },
          "type": "array"
        },
        "sourceName": {
          "description": "Source name for which facet results are returned. Will not be empty.",
          "type": "string"
        },
        "operatorName": {
          "type": "string",
          "description": "The name of the operator chosen for faceting. @see cloudsearch.SchemaPropertyOptions"
        }
      },
      "description": "Source specific facet response"
    },
    "EnterpriseTopazSidekickAssistCardProto": {
      "description": "Wrapper proto for the Assist cards.",
      "properties": {
        "documentsWithMentions": {
          "description": "Documents with mentions.",
          "$ref": "EnterpriseTopazSidekickDocumentPerCategoryList",
          "deprecated": true
        },
        "shareMeetingDocsCard": {
          "deprecated": true,
          "$ref": "EnterpriseTopazSidekickShareMeetingDocsCardProto",
          "description": "Sahre meeting docs card."
        },
        "meetingNotesCardRequest": {
          "description": "Request for meeting notes card.",
          "$ref": "EnterpriseTopazSidekickMeetingNotesCardRequest"
        },
        "cardType": {
          "enum": [
            "UNKNOWN_TYPE",
            "AGENDA",
            "CHANGELISTS",
            "CONFLICTING_MEETINGS",
            "CREATE_NOTES_FOR_MEETING",
            "CREATE_NOTES_FOR_MEETING_REQUEST",
            "CUSTOMER_NEWS",
            "FIND_MEETING_TIME",
            "NEXT_MEETING",
            "PERSONALIZED_DOCS",
            "TRENDING_DOCS",
            "UPCOMING_TRIP",
            "SUMMARY",
            "MEETINGS",
            "HOMEPAGE",
            "SHARE_MEETING_DOCS",
            "DISCOVER_PEOPLE",
            "HOMEPAGE_V3",
            "AGENDA_GROUP",
            "WORK_IN_PROGRESS",
            "GET_AND_KEEP_AHEAD",
            "GENERIC_ANSWER_CARD",
            "THIRD_PARTY_ANSWER_CARD",
            "DOMAIN_TRENDING_DOCS",
            "TEAM_TRENDING_DOCS",
            "DOCUMENT_LIST_ANSWER_CARD",
            "SUGGESTED_QUERY_ANSWER_CARD",
            "PERSON_ANSWER_CARD",
            "RELATED_PEOPLE_ANSWER_CARD",
            "PERSON_KNOWLEDGE_CARD",
            "PEOPLE_SEARCH_PROMOTION_CARD"
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            true,
            true,
            true,
            false,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Card type.",
          "type": "string",
          "enumDescriptions": [
            "The default type, an unknown card type.",
            "The user's agenda for the day.",
            "Changelists.",
            "Any group of meetings for the day that are overlapping.",
            "Create notes for a meeting specified in the request.",
            "Create notes for meeting query.",
            "News about your SFDC customers.",
            "Find a time for two people to meet.",
            "The user's next non-declined meeting.",
            "Important documents for you since you have viewed them in the last month and there's some action going on.",
            "Documents that are trending in your company. A TRENDING_DOCS card can be of two types: TRENDING_IN_COLLABORATORS (i.e., Stay in the Loop) and TRENDING_IN_DOMAIN (i.e., Popular Content). Use DOMAIN_TRENDING_DOCS/TEAM_TRENDING_DOCS instead.",
            "An upcoming trip with all trip information along with calendar events in the destination timezone.",
            "The Morning/Evening Summary Card for the next working day.",
            "A meeting. When requesting meetings, the service will return a MEETING card for each meeting the user has in his agenda.",
            "All cards related to the homepage (agenda, conflicting-meetings, summary, etc...). This type should no longer be used. Use HOMEPAGE_V3 instead.",
            "A card to with specifics to share meeting documents with all attendees.",
            "Represents a set of users that the requesting user has low affinity with.",
            "All cards related to the homepage-v3 (agenda-group, WIP, etc...)",
            "A group of agenda-events (meeting, conflicts)",
            "The documents that you were recently working on.",
            "(v3) The \"get and keep ahead\" card for today and tomorrow",
            "Generic answer card.",
            "Third party answer card.",
            "Documents that are trending in your company/domain (i.e., Popular Content).",
            "Documents that are trending in your team (i.e., Stay in the Loop).",
            "Documents that match the user's query (e.g. sheets shared with me).",
            "A help card that provides examples of queries the user can ask.",
            "Answer card for a single person (e.g. what is x's phone number).",
            "Answer card for a list of people related to the person that is the subject of the query (e.g. who reports to x).",
            "Knowledge card for a single person and their related people.",
            "People Search promotion card."
          ]
        },
        "peopleDisambiguationCard": {
          "description": "The people disambiguation card.",
          "$ref": "EnterpriseTopazSidekickPeopleDisambiguationCard"
        },
        "genericAnswerCard": {
          "$ref": "EnterpriseTopazSidekickGenericAnswerCard",
          "description": "Generic answer card."
        },
        "documentListCard": {
          "description": "Answer card for documents that are applicable to the current query.",
          "$ref": "EnterpriseTopazSidekickDocumentPerCategoryList"
        },
        "personAnswerCard": {
          "description": "Answer card that represents a single person.",
          "$ref": "EnterpriseTopazSidekickPeopleAnswerPersonAnswerCard"
        },
        "suggestedQueryAnswerCard": {
          "$ref": "EnterpriseTopazSidekickAnswerSuggestedQueryAnswerCard",
          "description": "Answer card for what natural language queries the user can ask."
        },
        "meetingNotesCard": {
          "description": "Meeting notes card.",
          "$ref": "EnterpriseTopazSidekickMeetingNotesCardProto"
        },
        "relatedPeopleAnswerCard": {
          "description": "Answer card that represents a list of people related to a person.",
          "$ref": "EnterpriseTopazSidekickPeopleAnswerRelatedPeopleAnswerCard"
        },
        "sharedDocuments": {
          "$ref": "EnterpriseTopazSidekickDocumentPerCategoryList",
          "deprecated": true,
          "description": "Shared documents."
        },
        "personalizedDocsCard": {
          "description": "Card with recommended documents for the user.",
          "$ref": "EnterpriseTopazSidekickPersonalizedDocsCardProto",
          "deprecated": true
        },
        "agendaGroupCardProto": {
          "description": "Agenda group card.",
          "$ref": "EnterpriseTopazSidekickAgendaGroupCardProto"
        },
        "getAndKeepAheadCard": {
          "$ref": "EnterpriseTopazSidekickGetAndKeepAheadCardProto",
          "description": "Get and keep ahead card."
        },
        "cardMetadata": {
          "$ref": "EnterpriseTopazSidekickCardMetadata",
          "description": "Card metadata such as chronology and render mode of the card."
        },
        "conflictingMeetingsCard": {
          "$ref": "EnterpriseTopazSidekickConflictingEventsCardProto",
          "deprecated": true,
          "description": "Conflicting events card."
        },
        "peoplePromotionCard": {
          "description": "People Search promotion card.",
          "$ref": "PeoplePromotionCard"
        },
        "findMeetingTimeCard": {
          "description": "Find meeting time card.",
          "$ref": "EnterpriseTopazSidekickFindMeetingTimeCardProto"
        },
        "workInProgressCardProto": {
          "$ref": "EnterpriseTopazSidekickRecentDocumentsCardProto",
          "description": "Work In Progress card."
        },
        "thirdPartyAnswerCard": {
          "description": "Third party answer cards.",
          "$ref": "ThirdPartyGenericCard"
        },
        "personProfileCard": {
          "description": "Full profile card.",
          "$ref": "EnterpriseTopazSidekickPersonProfileCard"
        },
        "meeting": {
          "deprecated": true,
          "description": "Meeting card.",
          "$ref": "EnterpriseTopazSidekickAgendaEntry"
        }
      },
      "id": "EnterpriseTopazSidekickAssistCardProto",
      "type": "object"
    },
    "FreshnessOptions": {
      "properties": {
        "freshnessProperty": {
          "description": "This property indicates the freshness level of the object in the index. If set, this property must be a top-level property within the property definitions and it must be a timestamp type or date type. Otherwise, the Indexing API uses updateTime as the freshness indicator. The maximum length is 256 characters. When a property is used to calculate freshness, the value defaults to 2 years from the current time.",
          "type": "string"
        },
        "freshnessDuration": {
          "description": "The duration after which an object should be considered stale. The default value is 180 days (in seconds).",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FreshnessOptions",
      "description": "Indicates which freshness property to use when adjusting search ranking for an item. Fresher, more recent dates indicate higher quality. Use the freshness option property that best works with your data. For fileshare documents, last modified time is most relevant. For calendar event data, the time when the event occurs is a more relevant freshness indicator. In this way, calendar events that occur closer to the time of the search query are considered higher quality and ranked accordingly."
    },
    "ListQuerySourcesResponse": {
      "type": "object",
      "description": "List sources response.",
      "id": "ListQuerySourcesResponse",
      "properties": {
        "sources": {
          "items": {
            "$ref": "QuerySource"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "UserActivity": {
      "id": "UserActivity",
      "type": "object",
      "description": "User's single or bulk query activity. This can be a logging query or deletion query.",
      "properties": {
        "queryActivity": {
          "description": "Contains data which needs to be logged/removed.",
          "$ref": "QueryActivity"
        }
      }
    },
    "QueryCountByStatus": {
      "id": "QueryCountByStatus",
      "type": "object",
      "properties": {
        "statusCode": {
          "type": "integer",
          "description": "This represents the http status code.",
          "format": "int32"
        },
        "count": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ContextAttribute": {
      "properties": {
        "name": {
          "description": "The name of the attribute. It should not be empty. The maximum length is 32 characters. The name must start with a letter and can only contain letters (A-Z, a-z) or numbers (0-9). The name will be normalized (lower-cased) before being matched.",
          "type": "string"
        },
        "values": {
          "type": "array",
          "description": "Text values of the attribute. The maximum number of elements is 10. The maximum length of an element in the array is 32 characters. The value will be normalized (lower-cased) before being matched.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A named attribute associated with an item which can be used for influencing the ranking of the item based on the context in the request.",
      "id": "ContextAttribute",
      "type": "object"
    },
    "AuditLoggingSettings": {
      "type": "object",
      "properties": {
        "project": {
          "type": "string",
          "description": "The resource name of the GCP Project to store audit logs. Cloud audit logging will be enabled after project_name has been updated through CustomerService. Format: projects/{project_id}"
        },
        "logDataReadActions": {
          "description": "Indicates whether audit logging is on/off for data access read APIs i.e. ListItems, GetItem etc.",
          "type": "boolean"
        },
        "logAdminReadActions": {
          "type": "boolean",
          "description": "Indicates whether audit logging is on/off for admin activity read APIs i.e. Get/List DataSources, Get/List SearchApplications etc."
        },
        "logDataWriteActions": {
          "type": "boolean",
          "description": "Indicates whether audit logging is on/off for data access write APIs i.e. IndexItem etc."
        }
      },
      "id": "AuditLoggingSettings",
      "description": "Represents the settings for Cloud audit logging"
    },
    "TimestampOperatorOptions": {
      "description": "Used to provide a search operator for timestamp properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the timestamp property. For example, if operatorName is *closedon* and the property's name is *closeDate*, then queries like *closedon:<value>* show results only where the value of the property named *closeDate* matches *<value>*. By contrast, a search that uses the same *<value>* without an operator returns all items where *<value>* matches the value of any String properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        },
        "lessThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the timestamp property using the less-than operator. For example, if lessThanOperatorName is *closedbefore* and the property's name is *closeDate*, then queries like *closedbefore:<value>* show results only where the value of the property named *closeDate* is earlier than *<value>*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        },
        "greaterThanOperatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the timestamp property using the greater-than operator. For example, if greaterThanOperatorName is *closedafter* and the property's name is *closeDate*, then queries like *closedafter:<value>* show results only where the value of the property named *closeDate* is later than *<value>*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TimestampOperatorOptions"
    },
    "DoublePropertyOptions": {
      "description": "The options for double properties.",
      "type": "object",
      "properties": {
        "operatorOptions": {
          "description": "If set, describes how the double should be used as a search operator.",
          "$ref": "DoubleOperatorOptions"
        }
      },
      "id": "DoublePropertyOptions"
    },
    "ResetSearchApplicationRequest": {
      "properties": {
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        }
      },
      "id": "ResetSearchApplicationRequest",
      "type": "object"
    },
    "StructuredResult": {
      "type": "object",
      "id": "StructuredResult",
      "properties": {
        "person": {
          "description": "Representation of a person",
          "$ref": "Person"
        }
      },
      "description": "Structured results that are returned as part of search request."
    },
    "CustomerSearchApplicationStats": {
      "description": "Search application stats for a customer for the given date.",
      "properties": {
        "count": {
          "description": "The count of search applications for the date.",
          "format": "int64",
          "type": "string"
        },
        "date": {
          "description": "The date for which search application stats were calculated.",
          "$ref": "Date"
        }
      },
      "type": "object",
      "id": "CustomerSearchApplicationStats"
    },
    "EnterpriseTopazSidekickGap": {
      "id": "EnterpriseTopazSidekickGap",
      "properties": {
        "displayRemainingTime": {
          "type": "string",
          "description": "Localized time string in the format: 1 hour 15 minutes"
        },
        "endTime": {
          "description": "Localized time string in the format:(Locale CZ) 8:30 odp.",
          "type": "string"
        },
        "startTimeMs": {
          "type": "string",
          "format": "uint64"
        },
        "remainingTime": {
          "format": "google-duration",
          "type": "string"
        },
        "endTimeMs": {
          "type": "string",
          "format": "uint64"
        },
        "startTime": {
          "description": "Localized time string in the format:(Locale CZ) 8:30 odp.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PropertyDefinition": {
      "type": "object",
      "properties": {
        "isReturnable": {
          "type": "boolean",
          "description": "Indicates that the property identifies data that should be returned in search results via the Query API. If set to *true*, indicates that Query API users can use matching property fields in results. However, storing fields requires more space allocation and uses more bandwidth for search queries, which impacts performance over large datasets. Set to *true* here only if the field is needed for search results. Cannot be true for properties whose type is an object."
        },
        "timestampPropertyOptions": {
          "$ref": "TimestampPropertyOptions"
        },
        "displayOptions": {
          "$ref": "PropertyDisplayOptions",
          "description": "The options that determine how the property is displayed in the Cloud Search results page if it's specified to be displayed in the object's display options."
        },
        "isRepeatable": {
          "type": "boolean",
          "description": "Indicates that multiple values are allowed for the property. For example, a document only has one description but can have multiple comments. Cannot be true for properties whose type is a boolean. If set to false, properties that contain more than one value cause the indexing request for that item to be rejected."
        },
        "isFacetable": {
          "description": "Indicates that the property can be used for generating facets. Cannot be true for properties whose type is object. IsReturnable must be true to set this option. Only supported for boolean, enum, integer, and text properties.",
          "type": "boolean"
        },
        "integerPropertyOptions": {
          "$ref": "IntegerPropertyOptions"
        },
        "objectPropertyOptions": {
          "$ref": "ObjectPropertyOptions"
        },
        "name": {
          "description": "The name of the property. Item indexing requests sent to the Indexing API should set the property name equal to this value. For example, if name is *subject_line*, then indexing requests for document items with subject fields should set the name for that field equal to *subject_line*. Use the name as the identifier for the object property. Once registered as a property for an object, you cannot re-use this name for another property within that object. The name must start with a letter and can only contain letters (A-Z, a-z) or numbers (0-9). The maximum length is 256 characters.",
          "type": "string"
        },
        "booleanPropertyOptions": {
          "$ref": "BooleanPropertyOptions"
        },
        "textPropertyOptions": {
          "$ref": "TextPropertyOptions"
        },
        "isSuggestable": {
          "type": "boolean",
          "description": "Indicates that the property can be used for generating query suggestions."
        },
        "isSortable": {
          "type": "boolean",
          "description": "Indicates that the property can be used for sorting. Cannot be true for properties that are repeatable. Cannot be true for properties whose type is object. IsReturnable must be true to set this option. Only supported for boolean, date, double, integer, and timestamp properties."
        },
        "datePropertyOptions": {
          "$ref": "DatePropertyOptions"
        },
        "enumPropertyOptions": {
          "$ref": "EnumPropertyOptions"
        },
        "isWildcardSearchable": {
          "type": "boolean",
          "description": "Indicates that users can perform wildcard search for this property. Only supported for Text properties. IsReturnable must be true to set this option. In a given datasource maximum of 5 properties can be marked as is_wildcard_searchable. For more details, see [Define object properties](https://developers.google.com/workspace/cloud-search/docs/guides/schema-guide#properties)"
        },
        "doublePropertyOptions": {
          "$ref": "DoublePropertyOptions"
        },
        "htmlPropertyOptions": {
          "$ref": "HtmlPropertyOptions"
        }
      },
      "description": "The definition of a property within an object.",
      "id": "PropertyDefinition"
    },
    "SearchItemsByViewUrlRequest": {
      "type": "object",
      "id": "SearchItemsByViewUrlRequest",
      "properties": {
        "viewUrl": {
          "description": "Specify the full view URL to find the corresponding item. The maximum length is 2048 characters.",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "The next_page_token value returned from a previous request, if any."
        },
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        }
      }
    },
    "CustomerIndexStats": {
      "properties": {
        "date": {
          "description": "The date for which statistics were calculated.",
          "$ref": "Date"
        },
        "itemCountByStatus": {
          "description": "Number of items aggregrated by status code.",
          "type": "array",
          "items": {
            "$ref": "ItemCountByStatus"
          }
        }
      },
      "description": "Aggregation of items by status code as of the specified date.",
      "id": "CustomerIndexStats",
      "type": "object"
    },
    "ListItemNamesForUnmappedIdentityResponse": {
      "id": "ListItemNamesForUnmappedIdentityResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "itemNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "BooleanOperatorOptions": {
      "type": "object",
      "id": "BooleanOperatorOptions",
      "description": "Used to provide a search operator for boolean properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "properties": {
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to isolate the boolean property. For example, if operatorName is *closed* and the property's name is *isClosed*, then queries like *closed:<value>* show results only where the value of the property named *isClosed* matches *<value>*. By contrast, a search that uses the same *<value>* without an operator returns all items where *<value>* matches the value of any String properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        }
      }
    },
    "EnterpriseTopazFrontendTeamsPersonCorePhoneNumber": {
      "id": "EnterpriseTopazFrontendTeamsPersonCorePhoneNumber",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "UNKNOWN",
            "MOBILE",
            "OFFICE",
            "OTHER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number in no particular format (as comes from the Focus profile)."
        },
        "phoneUrl": {
          "description": "Phone number URL",
          "$ref": "SafeUrlProto"
        }
      }
    },
    "ResultDisplayField": {
      "id": "ResultDisplayField",
      "description": "Display Fields for Search Results",
      "properties": {
        "operatorName": {
          "description": "The operator name of the property.",
          "type": "string"
        },
        "property": {
          "description": "The name value pair for the property.",
          "$ref": "NamedProperty"
        },
        "label": {
          "type": "string",
          "description": "The display label for the property."
        }
      },
      "type": "object"
    },
    "SuggestRequest": {
      "description": "Request of suggest API.",
      "properties": {
        "dataSourceRestrictions": {
          "description": "The sources to use for suggestions. If not specified, the data sources are taken from the current search application. NOTE: Suggestions are only supported for the following sources: * Third-party data sources * PredefinedSource.PERSON * PredefinedSource.GOOGLE_DRIVE",
          "type": "array",
          "items": {
            "$ref": "DataSourceRestriction"
          }
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Request options, such as the search application and user timezone."
        },
        "query": {
          "type": "string",
          "description": "Partial query for which autocomplete suggestions will be shown. For example, if the query is \"sea\", then the server might return \"season\", \"search\", \"seagull\" and so on."
        }
      },
      "id": "SuggestRequest",
      "type": "object"
    },
    "TimestampValues": {
      "id": "TimestampValues",
      "type": "object",
      "description": "List of timestamp values.",
      "properties": {
        "values": {
          "items": {
            "type": "string",
            "format": "google-datetime"
          },
          "type": "array"
        }
      }
    },
    "SearchApplicationUserStats": {
      "type": "object",
      "properties": {
        "date": {
          "description": "The date for which session stats were calculated. Stats calculated on the next day close to midnight are returned.",
          "$ref": "Date"
        },
        "thirtyDaysActiveUsersCount": {
          "type": "string",
          "description": "The count of unique active users in the past thirty days",
          "format": "int64"
        },
        "sevenDaysActiveUsersCount": {
          "type": "string",
          "description": "The count of unique active users in the past seven days",
          "format": "int64"
        },
        "oneDayActiveUsersCount": {
          "description": "The count of unique active users in the past one day",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "SearchApplicationUserStats"
    },
    "ResultDisplayLine": {
      "type": "object",
      "properties": {
        "fields": {
          "items": {
            "$ref": "ResultDisplayField"
          },
          "type": "array"
        }
      },
      "description": "The collection of fields that make up a displayed line",
      "id": "ResultDisplayLine"
    },
    "Name": {
      "description": "A person's name.",
      "id": "Name",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The read-only display name formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header."
        }
      },
      "type": "object"
    },
    "ObjectOptions": {
      "properties": {
        "displayOptions": {
          "description": "The options that determine how the object is displayed in the Cloud Search results page.",
          "$ref": "ObjectDisplayOptions"
        },
        "freshnessOptions": {
          "$ref": "FreshnessOptions",
          "description": "The freshness options for an object."
        },
        "suggestionFilteringOperators": {
          "type": "array",
          "description": "Operators that can be used to filter suggestions. For Suggest API, only operators mentioned here will be honored in the FilterOptions. Only TEXT and ENUM operators are supported. NOTE: \"objecttype\", \"type\" and \"mimetype\" are already supported. This property is to configure schema specific operators. Even though this is an array, only one operator can be specified. This is an array for future extensibility. Operators mapping to multiple properties within the same object are not supported. If the operator spans across different object types, this option has to be set once for each object definition.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ObjectOptions",
      "description": "The options for an object."
    },
    "EnterpriseTopazSidekickFindMeetingTimeCardProto": {
      "description": "Response to find meeting time among a set of people.",
      "properties": {
        "invitees": {
          "description": "Invitees to the event.",
          "items": {
            "$ref": "EnterpriseTopazSidekickPerson"
          },
          "type": "array"
        },
        "timeBoundaries": {
          "$ref": "EnterpriseTopazSidekickTimeSlot",
          "description": "Min and max timestamp used to find a common available timeslot."
        },
        "scheduledMeeting": {
          "$ref": "EnterpriseTopazSidekickScheduledMeeting",
          "description": "Details about the scheduled meeting, if one exists."
        },
        "skippedInvitees": {
          "items": {
            "$ref": "EnterpriseTopazSidekickPerson"
          },
          "type": "array",
          "description": "Invitees that have been skipped in the computation, most likely because they are groups."
        },
        "requester": {
          "$ref": "EnterpriseTopazSidekickPerson",
          "description": "Requester."
        },
        "commonAvailableTimeSlots": {
          "items": {
            "$ref": "EnterpriseTopazSidekickTimeSlot"
          },
          "type": "array",
          "description": "Slots when all attendees have availability."
        },
        "timezoneId": {
          "description": "Timezone ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseTopazSidekickFindMeetingTimeCardProto"
    },
    "RequestOptions": {
      "id": "RequestOptions",
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. For translations. Set this field using the language set in browser or for the page. In the event that the user's language preference is known, set this field to the known user language. When specified, the documents in search results are biased towards the specified language. The Suggest API uses this field as a hint to make better third-party autocomplete predictions."
        },
        "clientDisplayLanguageCode": {
          "description": "The BCP-47 language code, such as \"pt\" or \"en\". It represents the user's preferred Display Language.",
          "type": "string"
        },
        "debugOptions": {
          "description": "Debug options of the request",
          "$ref": "DebugOptions"
        },
        "timeZone": {
          "description": "Current user's time zone id, such as \"America/Los_Angeles\" or \"Australia/Sydney\". These IDs are defined by [Unicode Common Locale Data Repository (CLDR)](http://cldr.unicode.org/) project, and currently available in the file [timezone.xml](http://unicode.org/repos/cldr/trunk/common/bcp47/timezone.xml). This field is used to correctly interpret date and time queries. If this field is not specified, the default time zone (UTC) is used.",
          "type": "string"
        },
        "searchApplicationId": {
          "description": "The ID generated when you create a search application using the [admin console](https://support.google.com/a/answer/9043922).",
          "type": "string"
        },
        "countryCode": {
          "description": "Optional. Specifies the country/region where the query originated, as a lowercase ISO 3166-1 alpha-2 region code (using 'uk' instead of 'gb' for the United Kingdom).",
          "type": "string"
        }
      },
      "description": "Shared request options for all RPC methods."
    },
    "PushItemRequest": {
      "type": "object",
      "properties": {
        "item": {
          "description": "Item to push onto the queue.",
          "$ref": "PushItem"
        },
        "connectorName": {
          "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
          "type": "string"
        },
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        }
      },
      "id": "PushItemRequest"
    },
    "UnmappedIdentity": {
      "type": "object",
      "id": "UnmappedIdentity",
      "properties": {
        "externalIdentity": {
          "description": "The resource name for an external user.",
          "$ref": "Principal"
        },
        "resolutionStatusCode": {
          "enum": [
            "CODE_UNSPECIFIED",
            "NOT_FOUND",
            "IDENTITY_SOURCE_NOT_FOUND",
            "IDENTITY_SOURCE_MISCONFIGURED",
            "TOO_MANY_MAPPINGS_FOUND",
            "INTERNAL_ERROR"
          ],
          "description": "The resolution status for the external identity.",
          "type": "string",
          "enumDescriptions": [
            "Input-only value. Used to list all unmapped identities regardless of status.",
            "The unmapped identity was not found in IDaaS, and needs to be provided by the user.",
            "The identity source associated with the identity was either not found or deleted.",
            "IDaaS does not understand the identity source, probably because the schema was modified in a non compatible way.",
            "The number of users associated with the external identity is too large.",
            "Internal error."
          ]
        }
      }
    },
    "EnterpriseTopazSidekickPeopleDisambiguationCard": {
      "id": "EnterpriseTopazSidekickPeopleDisambiguationCard",
      "properties": {
        "person": {
          "items": {
            "$ref": "EnterpriseTopazSidekickCommonPerson"
          },
          "type": "array",
          "description": "Candidate persons for the query."
        }
      },
      "type": "object"
    },
    "EnterpriseTopazSidekickPeopleAnswerRelatedPeopleAnswerCard": {
      "properties": {
        "relatedPeople": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseTopazSidekickCommonPerson"
          },
          "description": "A list of people that are related to the query subject."
        },
        "relationType": {
          "enumDescriptions": [
            "Unknown.",
            "Direct reports.",
            "The manager.",
            "The teammates/peers of the subject."
          ],
          "description": "Defines the type of relation the list of people have with the subject of the card.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "DIRECT_REPORTS",
            "MANAGER",
            "PEERS"
          ]
        },
        "disambiguationInfo": {
          "description": "Disambiguation information.",
          "$ref": "EnterpriseTopazSidekickPeopleAnswerDisambiguationInfo"
        },
        "subject": {
          "$ref": "EnterpriseTopazSidekickCommonPerson",
          "description": "The profile of the person that was the subject of the query."
        },
        "header": {
          "description": "The header to display for the card.",
          "$ref": "EnterpriseTopazSidekickPeopleAnswerPeopleAnswerCardHeader"
        },
        "statusMessage": {
          "type": "string",
          "description": "Localized user friendly message to display to the user in the case of missing data or an error."
        },
        "responseStatus": {
          "description": "The response status.",
          "enumDescriptions": [
            "Unknown.",
            "Success.",
            "No such person was found in the user's domain.",
            "A person was found to match the query, but an answer could not be obtained."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SUCCESS",
            "MISSING_PERSON",
            "MISSING_DATA"
          ]
        }
      },
      "type": "object",
      "description": "An answer card for a list of people that are related to the subject of the query.",
      "id": "EnterpriseTopazSidekickPeopleAnswerRelatedPeopleAnswerCard"
    },
    "TextOperatorOptions": {
      "id": "TextOperatorOptions",
      "type": "object",
      "description": "Used to provide a search operator for text properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the text property. For example, if operatorName is *subject* and the property's name is *subjectLine*, then queries like *subject:<value>* show results only where the value of the property named *subjectLine* matches *<value>*. By contrast, a search that uses the same *<value>* without an operator returns all items where *<value>* matches the value of any text properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        },
        "exactMatchWithOperator": {
          "type": "boolean",
          "description": "If true, the text value is tokenized as one atomic value in operator searches and facet matches. For example, if the operator name is \"genre\" and the value is \"science-fiction\" the query restrictions \"genre:science\" and \"genre:fiction\" doesn't match the item; \"genre:science-fiction\" does. Text value matching is case-sensitive and does not remove special characters. If false, the text is tokenized. For example, if the value is \"science-fiction\" the queries \"genre:science\" and \"genre:fiction\" matches the item."
        }
      }
    },
    "EnterpriseTopazSidekickScheduledMeeting": {
      "properties": {
        "meetingTitle": {
          "description": "The meeting title.",
          "type": "string"
        },
        "meetingTime": {
          "description": "The meeting time slot.",
          "$ref": "EnterpriseTopazSidekickTimeSlot"
        },
        "meetingLocation": {
          "description": "The meeting location.",
          "type": "string"
        }
      },
      "id": "EnterpriseTopazSidekickScheduledMeeting",
      "description": "Details about scheduled meetings.",
      "type": "object"
    },
    "EnterpriseTopazSidekickPersonProfileCard": {
      "type": "object",
      "id": "EnterpriseTopazSidekickPersonProfileCard",
      "properties": {
        "subject": {
          "$ref": "EnterpriseTopazSidekickCommonPerson",
          "description": "The subject of the card."
        },
        "relatedPeople": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseTopazSidekickPersonProfileCardRelatedPeople"
          }
        }
      }
    },
    "EnterpriseTopazSidekickMeetingNotesCardProto": {
      "id": "EnterpriseTopazSidekickMeetingNotesCardProto",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "New URL."
        },
        "event": {
          "$ref": "EnterpriseTopazSidekickAgendaEntry",
          "description": "The event to request meeting notes creation."
        },
        "fileId": {
          "type": "string",
          "description": "Google Drive ID (a.k.a. resource ID) of the file."
        },
        "title": {
          "type": "string",
          "description": "Title we want to show for meeting notes in the answer card"
        }
      },
      "description": "Information about the meeting notes created."
    },
    "StructuredDataObject": {
      "id": "StructuredDataObject",
      "description": "A structured data object consisting of named properties.",
      "type": "object",
      "properties": {
        "properties": {
          "items": {
            "$ref": "NamedProperty"
          },
          "type": "array",
          "description": "The properties for the object. The maximum number of elements is 1000."
        }
      }
    },
    "CustomerQueryStats": {
      "properties": {
        "date": {
          "description": "The date for which query stats were calculated. Stats calculated on the next day close to midnight are returned.",
          "$ref": "Date"
        },
        "queryCountByStatus": {
          "type": "array",
          "items": {
            "$ref": "QueryCountByStatus"
          }
        }
      },
      "id": "CustomerQueryStats",
      "type": "object"
    },
    "QueryInterpretation": {
      "properties": {
        "interpretedQuery": {
          "type": "string",
          "description": "The interpretation of the query used in search. For example, queries with natural language intent like \"email from john\" will be interpreted as \"from:john source:mail\". This field will not be filled when the reason is NOT_ENOUGH_RESULTS_FOUND_FOR_USER_QUERY."
        },
        "interpretedQueryEstimatedResultCount": {
          "format": "int64",
          "type": "string",
          "description": "The estimated number of results returned by the interpreted query."
        },
        "interpretedQueryActualResultCount": {
          "type": "integer",
          "format": "int32",
          "description": "The actual number of results returned by the interpreted query."
        },
        "interpretationType": {
          "enumDescriptions": [
            "Neither the natural language interpretation, nor a broader version of the query is used to fetch the search results.",
            "The results from original query are blended with other results. The reason for blending these other results with the results from original query is populated in the 'Reason' field below.",
            "The results from original query are replaced. The reason for replacing the results from original query is populated in the 'Reason' field below."
          ],
          "type": "string",
          "enum": [
            "NONE",
            "BLEND",
            "REPLACE"
          ]
        },
        "reason": {
          "enum": [
            "UNSPECIFIED",
            "QUERY_HAS_NATURAL_LANGUAGE_INTENT",
            "NOT_ENOUGH_RESULTS_FOUND_FOR_USER_QUERY"
          ],
          "enumDescriptions": [
            "",
            "Natural language interpretation of the query is used to fetch the search results.",
            "Query and document terms similarity is used to selectively broaden the query to retrieve additional search results since enough results were not found for the user query. Interpreted query will be empty for this case."
          ],
          "type": "string",
          "description": "The reason for interpretation of the query. This field will not be UNSPECIFIED if the interpretation type is not NONE."
        }
      },
      "id": "QueryInterpretation",
      "type": "object"
    },
    "Snippet": {
      "properties": {
        "snippet": {
          "type": "string",
          "description": "The snippet of the document. May contain escaped HTML character that should be unescaped prior to rendering."
        },
        "matchRanges": {
          "items": {
            "$ref": "MatchRange"
          },
          "type": "array",
          "description": "The matched ranges in the snippet."
        }
      },
      "description": "Snippet of the search result, which summarizes the content of the resulting page.",
      "id": "Snippet",
      "type": "object"
    },
    "EnumPropertyOptions": {
      "id": "EnumPropertyOptions",
      "properties": {
        "possibleValues": {
          "items": {
            "$ref": "EnumValuePair"
          },
          "type": "array",
          "description": "The list of possible values for the enumeration property. All EnumValuePairs must provide a string value. If you specify an integer value for one EnumValuePair, then all possible EnumValuePairs must provide an integer value. Both the string value and integer value must be unique over all possible values. Once set, possible values cannot be removed or modified. If you supply an ordered ranking and think you might insert additional enum values in the future, leave gaps in the initial integer values to allow adding a value in between previously registered values. The maximum number of elements is 100."
        },
        "orderedRanking": {
          "enum": [
            "NO_ORDER",
            "ASCENDING",
            "DESCENDING"
          ],
          "description": "Used to specify the ordered ranking for the enumeration that determines how the integer values provided in the possible EnumValuePairs are used to rank results. If specified, integer values must be provided for all possible EnumValuePair values given for this property. Can only be used if isRepeatable is false.",
          "type": "string",
          "enumDescriptions": [
            "There is no ranking order for the property. Results aren't adjusted by this property's value.",
            "This property is ranked in ascending order. Lower values indicate lower ranking.",
            "This property is ranked in descending order. Lower values indicate higher ranking."
          ]
        },
        "operatorOptions": {
          "description": "If set, describes how the enum should be used as a search operator.",
          "$ref": "EnumOperatorOptions"
        }
      },
      "description": "The options for enum properties, which allow you to define a restricted set of strings to match user queries, set rankings for those string values, and define an operator name to be paired with those strings so that users can narrow results to only items with a specific value. For example, for items in a request tracking system with priority information, you could define *p0* as an allowable enum value and tie this enum to the operator name *priority* so that search users could add *priority:p0* to their query to restrict the set of results to only those items indexed with the value *p0*.",
      "type": "object"
    },
    "SearchApplicationQueryStats": {
      "properties": {
        "queryCountByStatus": {
          "type": "array",
          "items": {
            "$ref": "QueryCountByStatus"
          }
        },
        "date": {
          "$ref": "Date",
          "description": "The date for which query stats were calculated. Stats calculated on the next day close to midnight are returned."
        }
      },
      "id": "SearchApplicationQueryStats",
      "type": "object",
      "description": "Search application level query stats per date"
    },
    "QuerySuggestion": {
      "id": "QuerySuggestion",
      "type": "object",
      "properties": {
        "sourceCorpus": {
          "type": "string",
          "description": "Source corpus of the suggestion.",
          "enumDescriptions": [
            "Source corpus is unspecified.",
            "Source corpus is Gmail.",
            "Source corpus is Drive.",
            "Source corpus is Chat.",
            "Source corpus is Calendar."
          ],
          "enum": [
            "SOURCE_CORPUS_UNSPECIFIED",
            "GMAIL",
            "DRIVE",
            "CHAT",
            "CALENDAR"
          ]
        },
        "lastQueryTime": {
          "description": "Last query time of the suggestion for query history suggestions.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "SearchResponse": {
      "description": "The search API response. NEXT ID: 20",
      "properties": {
        "resultCountExact": {
          "type": "string",
          "description": "The exact result count for this query.",
          "format": "int64"
        },
        "debugInfo": {
          "$ref": "ResponseDebugInfo",
          "description": "Debugging information about the response."
        },
        "results": {
          "items": {
            "$ref": "SearchResult"
          },
          "type": "array",
          "description": "Results from a search query."
        },
        "resultCounts": {
          "$ref": "ResultCounts",
          "description": "Expanded result count information."
        },
        "facetResults": {
          "type": "array",
          "items": {
            "$ref": "FacetResult"
          },
          "description": "Repeated facet results."
        },
        "errorInfo": {
          "description": "Error information about the response.",
          "$ref": "ErrorInfo"
        },
        "resultCountEstimate": {
          "description": "The estimated result count for this query.",
          "type": "string",
          "format": "int64"
        },
        "structuredResults": {
          "description": "Structured results for the user query. These results are not counted against the page_size.",
          "items": {
            "$ref": "StructuredResult"
          },
          "type": "array"
        },
        "queryInterpretation": {
          "description": "Query interpretation result for user query. Empty if query interpretation is disabled.",
          "$ref": "QueryInterpretation"
        },
        "spellResults": {
          "type": "array",
          "items": {
            "$ref": "SpellResult"
          },
          "description": "Suggested spelling for the query."
        },
        "hasMoreResults": {
          "type": "boolean",
          "description": "Whether there are more search results matching the query."
        }
      },
      "id": "SearchResponse",
      "type": "object"
    },
    "ItemAcl": {
      "id": "ItemAcl",
      "type": "object",
      "properties": {
        "owners": {
          "items": {
            "$ref": "Principal"
          },
          "type": "array",
          "description": "Optional. List of owners for the item. This field has no bearing on document access permissions. It does, however, offer a slight ranking boosts items where the querying user is an owner. The maximum number of elements is 5."
        },
        "inheritAclFrom": {
          "type": "string",
          "description": "The name of the item to inherit the Access Permission List (ACL) from. Note: ACL inheritance *only* provides access permissions to child items and does not define structural relationships, nor does it provide convenient ways to delete large groups of items. Deleting an ACL parent from the index only alters the access permissions of child items that reference the parent in the inheritAclFrom field. The item is still in the index, but may not visible in search results. By contrast, deletion of a container item also deletes all items that reference the container via the containerName field. The maximum length for this field is 1536 characters."
        },
        "aclInheritanceType": {
          "enumDescriptions": [
            "The default value when this item does not inherit an ACL. Use NOT_APPLICABLE when inheritAclFrom is empty. An item without ACL inheritance can still have ACLs supplied by its own readers and deniedReaders fields.",
            "During an authorization conflict, the ACL of the child item determines its read access.",
            "During an authorization conflict, the ACL of the parent item specified in the inheritAclFrom field determines read access.",
            "Access is granted only if this item and the parent item specified in the inheritAclFrom field both permit read access."
          ],
          "type": "string",
          "enum": [
            "NOT_APPLICABLE",
            "CHILD_OVERRIDE",
            "PARENT_OVERRIDE",
            "BOTH_PERMIT"
          ],
          "description": "Sets the type of access rules to apply when an item inherits its ACL from a parent. This should always be set in tandem with the inheritAclFrom field. Also, when the inheritAclFrom field is set, this field should be set to a valid AclInheritanceType."
        },
        "deniedReaders": {
          "type": "array",
          "items": {
            "$ref": "Principal"
          },
          "description": "List of principals who are explicitly denied access to the item in search results. While principals are denied access by default, use denied readers to handle exceptions and override the list allowed readers. The maximum number of elements is 100."
        },
        "readers": {
          "items": {
            "$ref": "Principal"
          },
          "description": "List of principals who are allowed to see the item in search results. Optional if inheriting permissions from another item or if the item is not intended to be visible, such as virtual containers. The maximum number of elements is 1000.",
          "type": "array"
        }
      },
      "description": "Access control list information for the item. For more information see [Map ACLs](https://developers.google.com/workspace/cloud-search/docs/guides/acls)."
    },
    "ListDataSourceResponse": {
      "id": "ListDataSourceResponse",
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "DataSource"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "IndexItemOptions": {
      "type": "object",
      "id": "IndexItemOptions",
      "properties": {
        "allowUnknownGsuitePrincipals": {
          "type": "boolean",
          "description": "Specifies if the index request should allow Google Workspace principals that do not exist or are deleted."
        }
      }
    },
    "UnreserveItemsRequest": {
      "id": "UnreserveItemsRequest",
      "properties": {
        "queue": {
          "type": "string",
          "description": "The name of a queue to unreserve items from."
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "connectorName": {
          "type": "string",
          "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
        }
      },
      "type": "object"
    },
    "VPCSettings": {
      "properties": {
        "project": {
          "description": "The resource name of the GCP Project to be used for VPC SC policy check. VPC security settings on this project will be honored for Cloud Search APIs after project_name has been updated through CustomerService. Format: projects/{project_id}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VPCSettings"
    },
    "EnterpriseTopazSidekickGenericAnswerCard": {
      "type": "object",
      "id": "EnterpriseTopazSidekickGenericAnswerCard",
      "properties": {
        "title": {
          "type": "string",
          "description": "Title or header of the card."
        },
        "answer": {
          "type": "string",
          "description": "The answer."
        }
      }
    },
    "RestrictItem": {
      "properties": {
        "driveLocationRestrict": {
          "$ref": "DriveLocationRestrict"
        },
        "driveFollowUpRestrict": {
          "$ref": "DriveFollowUpRestrict"
        },
        "searchOperator": {
          "type": "string",
          "description": "The search restrict (e.g. \"after:2017-09-11 before:2017-09-12\")."
        },
        "driveMimeTypeRestrict": {
          "description": "Drive Types.",
          "$ref": "DriveMimeTypeRestrict"
        },
        "driveTimeSpanRestrict": {
          "$ref": "DriveTimeSpanRestrict"
        }
      },
      "id": "RestrictItem",
      "type": "object",
      "description": "Information relevant only to a restrict entry. NextId: 12"
    },
    "CompositeFilter": {
      "properties": {
        "logicOperator": {
          "enum": [
            "AND",
            "OR",
            "NOT"
          ],
          "enumDescriptions": [
            "Logical operators, which can only be applied to sub filters.",
            "",
            "NOT can only be applied on a single sub filter."
          ],
          "type": "string",
          "description": "The logic operator of the sub filter."
        },
        "subFilters": {
          "items": {
            "$ref": "Filter"
          },
          "description": "Sub filters.",
          "type": "array"
        }
      },
      "id": "CompositeFilter",
      "type": "object"
    },
    "DriveMimeTypeRestrict": {
      "type": "object",
      "description": "Drive mime-type search restricts (e.g. \"type:pdf\").",
      "id": "DriveMimeTypeRestrict",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "PDF",
            "DOCUMENT",
            "PRESENTATION",
            "SPREADSHEET",
            "FORM",
            "DRAWING",
            "SCRIPT",
            "MAP",
            "IMAGE",
            "AUDIO",
            "VIDEO",
            "FOLDER",
            "ARCHIVE",
            "SITE"
          ]
        }
      }
    },
    "SourceScoringConfig": {
      "properties": {
        "sourceImportance": {
          "enum": [
            "DEFAULT",
            "LOW",
            "HIGH"
          ],
          "description": "Importance of the source.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "SourceScoringConfig",
      "description": "Set the scoring configuration. This allows modifying the ranking of results for a source."
    },
    "EnumValues": {
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The maximum allowable length for string values is 32 characters."
        }
      },
      "description": "List of enum values.",
      "type": "object",
      "id": "EnumValues"
    },
    "EnterpriseTopazSidekickNlpMetadata": {
      "description": "Metadata about the NLP interpretation of the query.",
      "properties": {
        "confidence": {
          "description": "Confidence of the interpretation that generated this card.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "EnterpriseTopazSidekickNlpMetadata"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Status"
    },
    "SafeUrlProto": {
      "id": "SafeUrlProto",
      "properties": {
        "privateDoNotAccessOrElseSafeUrlWrappedValue": {
[...]
