{
  "protocol": "rest",
  "servicePath": "",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "mtlsRootUrl": "https://cloudidentity.mtls.googleapis.com/",
  "id": "cloudidentity:v1beta1",
  "version_module": true,
  "title": "Cloud Identity API",
  "discoveryVersion": "v1",
  "description": "API for provisioning and managing identity resources.",
  "version": "v1beta1",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "canonicalName": "Cloud Identity",
  "schemas": {
    "ApproveDeviceUserRequest": {
      "id": "ApproveDeviceUserRequest",
      "description": "Request message for approving the device to access user data.",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
        }
      },
      "type": "object"
    },
    "ListDeviceUsersResponse": {
      "properties": {
        "deviceUsers": {
          "type": "array",
          "description": "Devices meeting the list restrictions.",
          "items": {
            "$ref": "DeviceUser"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        }
      },
      "id": "ListDeviceUsersResponse",
      "description": "Response message that is returned from the ListDeviceUsers method.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata",
      "description": "Metadata for ApproveDeviceUser LRO.",
      "properties": {},
      "type": "object"
    },
    "BlockDeviceUserRequest": {
      "id": "BlockDeviceUserRequest",
      "description": "Request message for blocking account on device.",
      "type": "object",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        }
      }
    },
    "Membership": {
      "id": "Membership",
      "type": "object",
      "description": "A membership within the Cloud Identity Groups API. A `Membership` defines a relationship between a `Group` and an entity belonging to that `Group`, referred to as a \"member\".",
      "properties": {
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the membership.",
          "enumDescriptions": [
            "Default. Should not be used.",
            "Represents user type.",
            "Represents service account type.",
            "Represents group type.",
            "Represents Shared drive.",
            "Represents a CBCM-managed Chrome Browser type.",
            "Represents a ChromeOS-managed ChromeOS device type.",
            "Represents other type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER",
            "SERVICE_ACCOUNT",
            "GROUP",
            "SHARED_DRIVE",
            "CBCM_BROWSER",
            "CHROME_OS_DEVICE",
            "OTHER"
          ]
        },
        "preferredMemberKey": {
          "description": "Required. Immutable. The `EntityKey` of the member. Either `member_key` or `preferred_member_key` must be set when calling MembershipsService.CreateMembership but not both; both shall be set when returned.",
          "$ref": "EntityKey"
        },
        "name": {
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group_id}/memberships/{membership_id}`.",
          "readOnly": true,
          "type": "string"
        },
        "roles": {
          "description": "The `MembershipRole`s that apply to the `Membership`. If unspecified, defaults to a single `MembershipRole` with `name` `MEMBER`. Must not contain duplicate `MembershipRole`s with the same `name`.",
          "type": "array",
          "items": {
            "$ref": "MembershipRole"
          }
        },
        "memberKey": {
          "$ref": "EntityKey",
          "description": "Immutable. The `EntityKey` of the member. Either `member_key` or `preferred_member_key` must be set when calling MembershipsService.CreateMembership but not both; both shall be set when returned."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the `Membership` was last updated."
        },
        "deliverySetting": {
          "enum": [
            "DELIVERY_SETTING_UNSPECIFIED",
            "ALL_MAIL",
            "DIGEST",
            "DAILY",
            "NONE",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default. Should not be used.",
            "Represents each mail should be delivered",
            "Represents 1 email for every 25 messages.",
            "Represents daily summary of messages.",
            "Represents no delivery.",
            "Represents disabled state."
          ],
          "type": "string",
          "description": "Output only. Delivery setting associated with the membership.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the `Membership` was created.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CancelWipeDeviceRequest": {
      "id": "CancelWipeDeviceRequest",
      "description": "Request message for cancelling an unfinished device wipe.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateInboundSsoAssignmentOperationMetadata": {
      "description": "LRO response metadata for InboundSsoAssignmentsService.CreateInboundSsoAssignment.",
      "id": "CreateInboundSsoAssignmentOperationMetadata",
      "type": "object",
      "properties": {}
    },
    "ExternalId": {
      "type": "object",
      "description": "An external identifier for an entity in the Cloud Identity Groups API. Used to link a `Group` in Cloud Identity Groups API with a corresponding entity in an external identity system or directory.",
      "id": "ExternalId",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The unique identifier assigned by the external identity provider. The API does not enforce uniqueness of IDs across entities, but clients should ensure IDs are unique within their namespace."
        },
        "namespace": {
          "type": "string",
          "description": "Required. The namespace in which the entity exists. Cannot be empty. Currently, the only allowable namespace is `\"system/external\"`."
        }
      }
    },
    "SamlIdpConfig": {
      "description": "SAML IDP (identity provider) configuration.",
      "properties": {
        "singleSignOnServiceUri": {
          "description": "Required. The `SingleSignOnService` endpoint location (sign-in page URL) of the identity provider. This is the URL where the `AuthnRequest` will be sent. Must use `HTTPS`. Assumed to accept the `HTTP-Redirect` binding.",
          "type": "string"
        },
        "logoutRedirectUri": {
          "description": "The **Logout Redirect URL** (sign-out page URL) of the identity provider. When a user clicks the sign-out link on a Google page, they will be redirected to this URL. This is a pure redirect with no attached SAML `LogoutRequest` i.e. SAML single logout is not supported. Must use `HTTPS`.",
          "type": "string"
        },
        "entityId": {
          "description": "Required. The SAML **Entity ID** of the identity provider.",
          "type": "string"
        },
        "changePasswordUri": {
          "description": "The **Change Password URL** of the identity provider. Users will be sent to this URL when changing their passwords at `myaccount.google.com`. This takes precedence over the change password URL configured at customer-level. Must use `HTTPS`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SamlIdpConfig"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse": {
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse",
      "type": "object",
      "description": "Response message for cancelling an unfinished user account wipe."
    },
    "AddIdpCredentialOperationMetadata": {
      "properties": {
        "state": {
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.AddIdpCredential.",
      "id": "AddIdpCredentialOperationMetadata"
    },
    "GoogleAppsCloudidentityDevicesV1CustomAttributeValue": {
      "id": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue",
      "type": "object",
      "description": "Additional custom attribute values may be one of these types",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "numberValue": {
          "type": "number",
          "description": "Represents a double value.",
          "format": "double"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        }
      }
    },
    "UserInvitation": {
      "properties": {
        "updateTime": {
          "description": "Time when the `UserInvitation` was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "State of the `UserInvitation`.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The `UserInvitation` has been created and is ready for sending as an email.",
            "The user has been invited by email.",
            "The user has accepted the invitation and is part of the organization.",
            "The user declined the invitation."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_YET_SENT",
            "INVITED",
            "ACCEPTED",
            "DECLINED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Shall be of the form `customers/{customer}/userinvitations/{user_email_address}`."
        },
        "mailsSentCount": {
          "description": "Number of invitation emails sent to the user.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "UserInvitation",
      "description": "The `UserInvitation` resource represents an email that can be sent to an unmanaged user account inviting them to join the customer's Google Workspace or Cloud Identity account. An unmanaged account shares an email address domain with the Google Workspace or Cloud Identity account but is not managed by it yet. If the user accepts the `UserInvitation`, the user account will become managed.",
      "type": "object"
    },
    "OidcIdpConfig": {
      "id": "OidcIdpConfig",
      "description": "OIDC IDP (identity provider) configuration.",
      "properties": {
        "issuerUri": {
          "description": "Required. The Issuer identifier for the IdP. Must be a URL. The discovery URL will be derived from this as described in Section 4 of [the OIDC specification](https://openid.net/specs/openid-connect-discovery-1_0.html).",
          "type": "string"
        },
        "changePasswordUri": {
          "type": "string",
          "description": "The **Change Password URL** of the identity provider. Users will be sent to this URL when changing their passwords at `myaccount.google.com`. This takes precedence over the change password URL configured at customer-level. Must use `HTTPS`."
        }
      },
      "type": "object"
    },
    "IsInvitableUserResponse": {
      "properties": {
        "isInvitableUser": {
          "type": "boolean",
          "description": "Returns true if the email address is invitable."
        }
      },
      "type": "object",
      "id": "IsInvitableUserResponse",
      "description": "Response for IsInvitableUser RPC."
    },
    "CheckTransitiveMembershipResponse": {
      "description": "The response message for MembershipsService.CheckTransitiveMembership.",
      "id": "CheckTransitiveMembershipResponse",
      "properties": {
        "hasMembership": {
          "type": "boolean",
          "description": "Response does not include the possible roles of a member since the behavior of this rpc is not all-or-nothing unlike the other rpcs. So, it may not be possible to list all the roles definitively, due to possible lack of authorization in some of the paths."
        }
      },
      "type": "object"
    },
    "MemberRestriction": {
      "properties": {
        "evaluation": {
          "description": "The evaluated state of this restriction on a group.",
          "$ref": "RestrictionEvaluation"
        },
        "query": {
          "type": "string",
          "description": "Member Restriction as defined by CEL expression. Supported restrictions are: `member.customer_id` and `member.type`. Valid values for `member.type` are `1`, `2` and `3`. They correspond to USER, SERVICE_ACCOUNT, and GROUP respectively. The value for `member.customer_id` only supports `groupCustomerId()` currently which means the customer id of the group will be used for restriction. Supported operators are `&&`, `||` and `==`, corresponding to AND, OR, and EQUAL. Examples: Allow only service accounts of given customer to be members. `member.type == 2 && member.customer_id == groupCustomerId()` Allow only users or groups to be members. `member.type == 1 || member.type == 3`"
        }
      },
      "type": "object",
      "id": "MemberRestriction",
      "description": "The definition of MemberRestriction"
    },
    "CertificateAttributes": {
      "properties": {
        "validityStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Certificate not valid before this timestamp."
        },
        "certificateTemplate": {
          "description": "The X.509 extension for CertificateTemplate.",
          "$ref": "CertificateTemplate"
        },
        "issuer": {
          "type": "string",
          "description": "The name of the issuer of this certificate."
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial number of the certificate, Example: \"123456789\"."
        },
        "fingerprint": {
          "description": "The encoded certificate fingerprint.",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "The subject name of this certificate."
        },
        "thumbprint": {
          "type": "string",
          "description": "The certificate thumbprint."
        },
        "validationState": {
          "enumDescriptions": [
            "Default value.",
            "Certificate validation was successful.",
            "Certificate validation failed."
          ],
          "type": "string",
          "enum": [
            "CERTIFICATE_VALIDATION_STATE_UNSPECIFIED",
            "VALIDATION_SUCCESSFUL",
            "VALIDATION_FAILED"
          ],
          "description": "Validation state of this certificate."
        },
        "validityExpirationTime": {
          "type": "string",
          "description": "Certificate not valid at or after this timestamp.",
          "format": "google-datetime"
        }
      },
      "description": "Stores information about a certificate.",
      "type": "object",
      "id": "CertificateAttributes"
    },
    "ListMembershipsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available.",
          "type": "string"
        },
        "memberships": {
          "items": {
            "$ref": "Membership"
          },
          "description": "The `Membership`s under the specified `parent`.",
          "type": "array"
        }
      },
      "id": "ListMembershipsResponse",
      "type": "object",
      "description": "The response message for MembershipsService.ListMemberships."
    },
    "ModifyMembershipRolesResponse": {
      "id": "ModifyMembershipRolesResponse",
      "properties": {
        "membership": {
          "$ref": "Membership",
          "description": "The `Membership` resource after modifying its `MembershipRole`s."
        }
      },
      "type": "object",
      "description": "The response message for MembershipsService.ModifyMembershipRoles."
    },
    "GoogleAppsCloudidentityDevicesV1BrowserInfo": {
      "description": "Browser-specific fields reported by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
      "properties": {
        "isFileDownloadAnalysisEnabled": {
          "type": "boolean",
          "description": "Current state of [file download analysis](https://chromeenterprise.google/policies/#OnFileDownloadedEnterpriseConnector). Set to true if provider list from Chrome is non-empty."
        },
        "isChromeCleanupEnabled": {
          "type": "boolean",
          "deprecated": true,
          "description": "Deprecated: This field is not used for Chrome version 118 and later. Current state of [Chrome Cleanup](https://chromeenterprise.google/policies/#ChromeCleanupEnabled)."
        },
        "isBuiltInDnsClientEnabled": {
          "type": "boolean",
          "description": "Current state of [built-in DNS client](https://chromeenterprise.google/policies/#BuiltInDnsClientEnabled)."
        },
        "browserVersion": {
          "type": "string",
          "description": "Version of the request initiating browser. E.g. `91.0.4442.4`."
        },
        "isThirdPartyBlockingEnabled": {
          "description": "Current state of [third-party blocking](https://chromeenterprise.google/policies/#ThirdPartyBlockingEnabled).",
          "type": "boolean"
        },
        "browserManagementState": {
          "enumDescriptions": [
            "Management state is not specified.",
            "Browser/Profile is not managed by any customer.",
            "Browser/Profile is managed, but by some other customer.",
            "Profile is managed by customer.",
            "Browser is managed by customer."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNMANAGED",
            "MANAGED_BY_OTHER_DOMAIN",
            "PROFILE_MANAGED",
            "BROWSER_MANAGED"
          ],
          "readOnly": true,
          "description": "Output only. Browser's management state.",
          "type": "string"
        },
        "isChromeRemoteDesktopAppBlocked": {
          "type": "boolean",
          "description": "Current state of [Chrome Remote Desktop app](https://chromeenterprise.google/policies/#URLBlocklist)."
        },
        "isSiteIsolationEnabled": {
          "type": "boolean",
          "description": "Current state of [site isolation](https://chromeenterprise.google/policies/?policy=IsolateOrigins)."
        },
        "isRealtimeUrlCheckEnabled": {
          "description": "Current state of [real-time URL check](https://chromeenterprise.google/policies/#EnterpriseRealTimeUrlCheckMode). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "safeBrowsingProtectionLevel": {
          "enumDescriptions": [
            "Browser protection level is not specified.",
            "No protection against dangerous websites, downloads, and extensions.",
            "Standard protection against websites, downloads, and extensions that are known to be dangerous.",
            "Faster, proactive protection against dangerous websites, downloads, and extensions."
          ],
          "type": "string",
          "enum": [
            "SAFE_BROWSING_LEVEL_UNSPECIFIED",
            "DISABLED",
            "STANDARD",
            "ENHANCED"
          ],
          "description": "Current state of [Safe Browsing protection level](https://chromeenterprise.google/policies/#SafeBrowsingProtectionLevel)."
        },
        "isBulkDataEntryAnalysisEnabled": {
          "description": "Current state of [bulk data analysis](https://chromeenterprise.google/policies/#OnBulkDataEntryEnterpriseConnector). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "isFileUploadAnalysisEnabled": {
          "description": "Current state of [file upload analysis](https://chromeenterprise.google/policies/#OnFileAttachedEnterpriseConnector). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "isSecurityEventAnalysisEnabled": {
          "description": "Current state of [security event analysis](https://chromeenterprise.google/policies/#OnSecurityEventEnterpriseConnector). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "passwordProtectionWarningTrigger": {
          "enumDescriptions": [
            "Password protection is not specified.",
            "Password reuse is never detected.",
            "Warning is shown when the user reuses their protected password on a non-allowed site.",
            "Warning is shown when the user reuses their protected password on a phishing site."
          ],
          "type": "string",
          "enum": [
            "PASSWORD_PROTECTION_TRIGGER_UNSPECIFIED",
            "PROTECTION_OFF",
            "PASSWORD_REUSE",
            "PHISHING_REUSE"
          ],
          "description": "Current state of [password protection trigger](https://chromeenterprise.google/policies/#PasswordProtectionWarningTrigger)."
        }
      },
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1BrowserInfo"
    },
    "SendUserInvitationRequest": {
      "description": "A request to send email for inviting target user corresponding to the UserInvitation.",
      "id": "SendUserInvitationRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse": {
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse",
      "description": "Response message for wiping the user's account from the device.",
      "type": "object"
    },
    "GroupRelation": {
      "description": "Message representing a transitive group of a user or a group.",
      "type": "object",
      "properties": {
        "roles": {
          "items": {
            "$ref": "TransitiveMembershipRole"
          },
          "description": "Membership roles of the member for the group.",
          "type": "array"
        },
        "displayName": {
          "description": "Display name for this group.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels for Group resource.",
          "type": "object"
        },
        "relationType": {
          "type": "string",
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "description": "The relation between the member and the transitive group.",
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ]
        },
        "groupKey": {
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace.",
          "$ref": "EntityKey"
        },
        "group": {
          "description": "Resource name for this group.",
          "type": "string"
        }
      },
      "id": "GroupRelation"
    },
    "LookupMembershipNameResponse": {
      "type": "object",
      "id": "LookupMembershipNameResponse",
      "description": "The response message for MembershipsService.LookupMembershipName.",
      "properties": {
        "name": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Membership`. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1Device": {
      "properties": {
        "imei": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. IMEI number of device if GSM device; empty otherwise."
        },
        "releaseVersion": {
          "description": "Output only. OS release version. Example: 6.0.",
          "type": "string",
          "readOnly": true
        },
        "networkOperator": {
          "description": "Output only. Mobile or network operator of device, if available.",
          "type": "string",
          "readOnly": true
        },
        "encryptionState": {
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device encryption state.",
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ]
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique id assigned to the Device. Important: Device API scopes require that you use domain-wide delegation to access the API. For more information, see [Set up the Devices API](https://cloud.google.com/identity/docs/how-to/setup-devices).",
          "type": "string",
          "readOnly": true
        },
        "serialNumber": {
          "description": "Serial Number of device. Example: HT82V1A01076.",
          "type": "string"
        },
        "buildNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Build number of the device."
        },
        "model": {
          "readOnly": true,
          "description": "Output only. Model name of device. Example: Pixel 3.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Unique identifier for the device."
        },
        "wifiMacAddresses": {
          "type": "array",
          "description": "WiFi MAC addresses of device.",
          "items": {
            "type": "string"
          }
        },
        "securityPatchTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. OS security patch update time on device.",
          "readOnly": true
        },
        "compromisedState": {
          "readOnly": true,
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ],
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ],
          "type": "string",
          "description": "Output only. Represents whether the Device is compromised."
        },
        "enabledDeveloperOptions": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether developer options is enabled on device."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices.",
          "readOnly": true,
          "type": "string"
        },
        "hostname": {
          "description": "Host name of the device.",
          "type": "string"
        },
        "unifiedDeviceId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unified device id of the device."
        },
        "brand": {
          "type": "string",
          "description": "Output only. Device brand. Example: Samsung.",
          "readOnly": true
        },
        "kernelVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Kernel version of the device."
        },
        "lastSyncTime": {
          "description": "Most recent time when device synced with this service.",
          "format": "google-datetime",
          "type": "string"
        },
        "endpointVerificationSpecificAttributes": {
          "readOnly": true,
          "description": "Output only. Attributes specific to [Endpoint Verification](https://cloud.google.com/endpoint-verification/docs/overview) devices.",
          "$ref": "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes"
        },
        "ownerType": {
          "type": "string",
          "description": "Output only. Whether the device is owned by the company or an individual",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ],
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ]
        },
        "assetTag": {
          "type": "string",
          "description": "Asset tag of the device."
        },
        "otherAccounts": {
          "type": "array",
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\".",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "managementState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Management state of the device",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. Device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ],
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ]
        },
        "deviceType": {
          "type": "string",
          "description": "Output only. Type of device.",
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device.",
            "Device is a Googlebook device."
          ],
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS",
            "GOOGLEBOOK"
          ],
          "readOnly": true
        },
        "manufacturer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device manufacturer. Example: Motorola."
        },
        "osVersion": {
          "readOnly": true,
          "description": "Output only. OS version of the device. Example: Android 8.1.0.",
          "type": "string"
        },
        "enabledUsbDebugging": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether USB debugging is enabled on device."
        },
        "basebandVersion": {
          "description": "Output only. Baseband version of the device.",
          "readOnly": true,
          "type": "string"
        },
        "bootloaderVersion": {
          "description": "Output only. Device bootloader version. Example: 0.6.7.",
          "type": "string",
          "readOnly": true
        },
        "androidSpecificAttributes": {
          "readOnly": true,
          "$ref": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
          "description": "Output only. Attributes specific to Android devices."
        },
        "meid": {
          "description": "Output only. MEID number of device if CDMA device; empty otherwise.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": " A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user.",
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1Device"
    },
    "GoogleAppsCloudidentityDevicesV1BrowserAttributes": {
      "description": "Contains information about browser profiles reported by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1BrowserAttributes",
      "properties": {
        "chromeBrowserInfo": {
          "description": "Represents the current state of the [Chrome browser attributes](https://cloud.google.com/access-context-manager/docs/browser-attributes) sent by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
          "$ref": "GoogleAppsCloudidentityDevicesV1BrowserInfo"
        },
        "lastProfileSyncTime": {
          "type": "string",
          "description": "Timestamp in milliseconds since the Unix epoch when the profile/gcm id was last synced.",
          "format": "google-datetime"
        },
        "chromeProfileId": {
          "type": "string",
          "description": "Chrome profile ID that is exposed by the Chrome API. It is unique for each device."
        }
      }
    },
    "UpdateInboundSamlSsoProfileOperationMetadata": {
      "type": "object",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.UpdateInboundSamlSsoProfile.",
      "id": "UpdateInboundSamlSsoProfileOperationMetadata",
      "properties": {
        "state": {
          "type": "string",
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448)."
        }
      }
    },
    "PosixGroup": {
      "properties": {
        "systemId": {
          "description": "System identifier for which group name and gid apply to. If not specified it will default to empty value.",
          "type": "string"
        },
        "gid": {
          "type": "string",
          "format": "uint64",
          "description": "GID of the POSIX group."
        },
        "name": {
          "type": "string",
          "description": "Name of the POSIX group."
        }
      },
      "type": "object",
      "description": "POSIX Group definition to represent a group in a POSIX compliant system. Caution: POSIX groups are deprecated. As of September 26, 2024, you can no longer create new POSIX groups. For more information, see https://cloud.google.com/identity/docs/deprecations/posix-groups",
      "id": "PosixGroup"
    },
    "DynamicGroupQuery": {
      "id": "DynamicGroupQuery",
      "properties": {
        "query": {
          "description": "Query that determines the memberships of the dynamic group. Examples: All users with at least one `organizations.department` of engineering. `user.organizations.exists(org, org.department=='engineering')` All users with at least one location that has `area` of `foo` and `building_id` of `bar`. `user.locations.exists(loc, loc.area=='foo' && loc.building_id=='bar')` All users with any variation of the name John Doe (case-insensitive queries add `equalsIgnoreCase()` to the value being queried). `user.name.value.equalsIgnoreCase('jOhn DoE')`",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "USER"
          ],
          "enumDescriptions": [
            "Default value (not valid)",
            "For queries on User"
          ]
        }
      },
      "description": "Defines a query on a resource.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse": {
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse",
      "description": "Response message for blocking the device from accessing user data."
    },
    "CustomAttributeValue": {
      "properties": {
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "numberValue": {
          "description": "Represents a double value.",
          "format": "double",
          "type": "number"
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        }
      },
      "description": "Additional custom attribute values may be one of these types",
      "id": "CustomAttributeValue",
      "type": "object"
    },
    "ChromePolicy": {
      "type": "object",
      "id": "ChromePolicy",
      "description": "Represents a Chrome policy and its current state.",
      "properties": {
        "scope": {
          "enumDescriptions": [
            "Default value. The policy scope is unknown or not specified.",
            "User-level policy. This scope indicates the policy applies to the specific user session or profile. For cloud policies, this is typically the signed-in Chrome profile. On some platforms like Windows, this can also refer to the OS user.",
            "Machine-level policy. This scope indicates the policy applies system-wide to all users on the current machine or device."
          ],
          "description": "Output only. The scope at which the *applied* policy value is set (USER or MACHINE).",
          "type": "string",
          "readOnly": true,
          "enum": [
            "SCOPE_UNKNOWN",
            "USER",
            "MACHINE"
          ]
        },
        "value": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The currently applied value of the policy. The format depends on the policy type (e.g., boolean, string, JSON array/object)."
        },
        "conflicts": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "PolicyConflict"
          },
          "description": "Output only. A list of other policy values for the same policy name that were not applied due to lower precedence. This field is empty if there were no conflicts."
        },
        "name": {
          "type": "string",
          "description": "Output only. The unique name of the Chrome policy. These names correspond to the policy names listed in [Chrome Enterprise Policy List](https://chromeenterprise.google/policies/)",
          "readOnly": true
        },
        "source": {
          "type": "string",
          "enumDescriptions": [
            "Default value. The policy source is unknown or not specified.",
            "The policy is provided by Chrome's default settings when running in an enterprise environment.",
            "The policy is managed and pushed from a cloud-based administration console, such as the Google Admin console.",
            "The policy is sourced from Active Directory, primarily for Active Directory-managed ChromeOS devices.",
            "Deprecated: Formerly used when a policy was overridden by ChromeOS for public sessions or kiosk mode.",
            "The policy is set by OS built-in tool on desktop.",
            "Deprecated: Formerly used for cloud policies with higher priority.",
            "The applied policy value is the result of a merge from multiple policy sources.",
            "The policy is set using a command line argument passed to the Chrome executable, usually intended for development or testing.",
            "For ChromeOS, this indicates a policy set by cloud management in the Ash browser and then made available to the Lacros browser.",
            "The policy is set by the restricted managed guest session override."
          ],
          "description": "Output only. The source from which the *applied* policy value originated.",
          "readOnly": true,
          "enum": [
            "SOURCE_UNKNOWN",
            "ENTERPRISE_DEFAULT",
            "CLOUD",
            "ACTIVE_DIRECTORY",
            "DEVICE_LOCAL_ACCOUNT_OVERRIDE_DEPRECATED",
            "PLATFORM",
            "PRIORITY_CLOUD_DEPRECATED",
            "MERGED",
            "COMMAND_LINE",
            "CLOUD_FROM_ASH",
            "RESTRICTED_MANAGED_GUEST_SESSION_OVERRIDE"
          ]
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata": {
      "description": "Metadata for ListEndpointApps LRO.",
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata",
      "properties": {}
    },
    "AllowlistedDomain": {
      "type": "object",
      "description": "This resource object defines a domain that has been designated as allowlisted.",
      "id": "AllowlistedDomain",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. Immutable. Name of the domain that is in the allowlist. e.g. \"google.com\""
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Resource name of the domain in the allowlist e.g. \"allowlistedDomains/0184mhaj1smlusv\"",
          "readOnly": true
        }
      }
    },
    "ModifyMembershipRolesRequest": {
      "id": "ModifyMembershipRolesRequest",
      "properties": {
        "addRoles": {
          "type": "array",
          "description": "The `MembershipRole`s to be added. Adding or removing roles in the same request as updating roles is not supported. Must not be set if `update_roles_params` is set.",
          "items": {
            "$ref": "MembershipRole"
          }
        },
        "removeRoles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The `name`s of the `MembershipRole`s to be removed. Adding or removing roles in the same request as updating roles is not supported. It is not possible to remove the `MEMBER` `MembershipRole`. If you wish to delete a `Membership`, call MembershipsService.DeleteMembership instead. Must not contain `MEMBER`. Must not be set if `update_roles_params` is set."
        },
        "updateRolesParams": {
          "type": "array",
          "description": "The `MembershipRole`s to be updated. Updating roles in the same request as adding or removing roles is not supported. Must not be set if either `add_roles` or `remove_roles` is set.",
          "items": {
            "$ref": "UpdateMembershipRolesParams"
          }
        }
      },
      "description": "The request message for MembershipsService.ModifyMembershipRoles.",
      "type": "object"
    },
    "RestrictionEvaluation": {
      "description": "The evaluated state of this restriction.",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "EVALUATING",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT"
          ],
          "description": "Output only. The current state of the restriction",
          "enumDescriptions": [
            "Default. Should not be used.",
            "The restriction state is currently being evaluated.",
            "All transitive memberships are adhering to restriction.",
            "Some transitive memberships violate the restriction. No new violating memberships can be added.",
            "Some transitive memberships violate the restriction. New violating direct memberships will be denied while indirect memberships may be added."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "RestrictionEvaluation"
    },
    "CancelWipeDeviceUserRequest": {
      "description": "Request message for cancelling an unfinished user account wipe.",
      "type": "object",
      "id": "CancelWipeDeviceUserRequest",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
        }
      }
    },
    "DsaPublicKeyInfo": {
      "id": "DsaPublicKeyInfo",
      "properties": {
        "keySize": {
          "format": "int32",
          "type": "integer",
          "description": "Key size in bits (size of parameter P)."
        }
      },
      "type": "object",
      "description": "Information of a DSA public key."
    },
    "CertificateTemplate": {
      "type": "object",
      "description": "CertificateTemplate (v3 Extension in X.509).",
      "id": "CertificateTemplate",
      "properties": {
        "majorVersion": {
          "description": "The Major version of the template. Example: 100.",
          "format": "int32",
          "type": "integer"
        },
        "minorVersion": {
          "description": "The minor version of the template. Example: 12.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "string",
          "description": "The template id of the template. Example: \"1.3.6.1.4.1.311.21.8.15608621.11768144.5720724.16068415.6889630.81.2472537.7784047\"."
        }
      }
    },
    "ListUserInvitationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token for the next page. If not empty, indicates that there may be more `UserInvitation` resources that match the listing request; this value can be used in a subsequent ListUserInvitationsRequest to get continued results with the current list call.",
          "type": "string"
        },
        "userInvitations": {
          "type": "array",
          "description": "The list of UserInvitation resources.",
          "items": {
            "$ref": "UserInvitation"
          }
        }
      },
      "id": "ListUserInvitationsResponse",
      "type": "object",
      "description": "Response message for UserInvitation listing request."
    },
    "RsaPublicKeyInfo": {
      "type": "object",
      "properties": {
        "keySize": {
          "type": "integer",
          "description": "Key size in bits (size of the modulus).",
          "format": "int32"
        }
      },
      "id": "RsaPublicKeyInfo",
      "description": "Information of a RSA public key."
    },
    "SignInBehavior": {
      "id": "SignInBehavior",
      "type": "object",
      "description": "Controls sign-in behavior.",
      "properties": {
        "redirectCondition": {
          "enumDescriptions": [
            "Default and means \"always\"",
            "Sign-in flows where the user is prompted for their identity will not redirect to the IdP (so the user will most likely be prompted by Google for a password), but special flows like IdP-initiated SAML and sign-in following automatic redirection to the IdP by domain-specific service URLs will accept the IdP's assertion of the user's identity."
          ],
          "description": "When to redirect sign-ins to the IdP.",
          "type": "string",
          "enum": [
            "REDIRECT_CONDITION_UNSPECIFIED",
            "NEVER"
          ]
        }
      }
    },
    "SecuritySettings": {
      "type": "object",
      "id": "SecuritySettings",
      "description": "The definiion of security settings.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`."
        },
        "memberRestriction": {
          "description": "The Member Restriction value",
          "$ref": "MemberRestriction"
        }
      }
    },
    "ListClientStatesResponse": {
      "description": "Response message that is returned in LRO result of ListClientStates Operation.",
      "type": "object",
      "id": "ListClientStatesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        },
        "clientStates": {
          "items": {
            "$ref": "ClientState"
          },
          "type": "array",
          "description": "Client states meeting the list restrictions."
        }
      }
    },
    "PolicyQuery": {
      "id": "PolicyQuery",
      "properties": {
        "orgUnit": {
          "description": "Required. Immutable. Non-empty default. The OrgUnit the query applies to. This field is only set if there is a single value for org_unit that satisfies all clauses of the query.",
          "type": "string"
        },
        "sortOrder": {
          "readOnly": true,
          "format": "double",
          "type": "number",
          "description": "Output only. The decimal sort order of this PolicyQuery. The value is relative to all other policies with the same setting type for the customer. (There are no duplicates within this set)."
        },
        "query": {
          "type": "string",
          "description": "Immutable. The CEL query that defines which entities the Policy applies to (ex. a User entity). For details about CEL see https://opensource.google.com/projects/cel. The OrgUnits the Policy applies to are represented by a clause like so: entity.org_units.exists(org_unit, org_unit.org_unit_id == orgUnitId('{orgUnitId}')) The Group the Policy applies to are represented by a clause like so: entity.groups.exists(group, group.group_id == groupId('{groupId}')) The Licenses the Policy applies to are represented by a clause like so: entity.licenses.exists(license, license in ['/product/{productId}/sku/{skuId}']) **Note:** The licenses clause is not supported in mutate endpoints. The above clauses can be present in any combination, and used in conjunction with the &&, || and ! operators. The org_unit and group fields below are helper fields that contain the corresponding value(s) as the query to make the query easier to use."
        },
        "group": {
          "type": "string",
          "description": "Immutable. The group that the query applies to. This field is only set if there is a single value for group that satisfies all clauses of the query. If no group applies, this will be the empty string."
        }
      },
      "description": "PolicyQuery",
      "type": "object"
    },
    "DynamicGroupMetadata": {
      "description": "Dynamic group metadata like queries and status.",
      "type": "object",
      "id": "DynamicGroupMetadata",
      "properties": {
        "status": {
          "readOnly": true,
          "$ref": "DynamicGroupStatus",
          "description": "Output only. Status of the dynamic group."
        },
        "queries": {
          "type": "array",
          "items": {
            "$ref": "DynamicGroupQuery"
          },
          "description": "Memberships will be the union of all queries. Only one entry with USER resource is currently supported. Customers can create up to 500 dynamic groups."
        }
      }
    },
    "WipeDeviceResponse": {
      "id": "WipeDeviceResponse",
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "Device"
        }
      },
      "description": "Response message for wiping all data on the device.",
      "type": "object"
    },
    "UpdateInboundOidcSsoProfileOperationMetadata": {
      "description": "LRO response metadata for InboundOidcSsoProfilesService.UpdateInboundOidcSsoProfile.",
      "id": "UpdateInboundOidcSsoProfileOperationMetadata",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448)."
        }
      }
    },
    "MembershipRoleRestrictionEvaluation": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The current state of the restriction",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT",
            "EVALUATING"
          ],
          "enumDescriptions": [
            "Default. Should not be used.",
            "The member adheres to the parent group's restriction.",
            "The group-group membership might be currently violating some parent group's restriction but in future, it will never allow any new member in the child group which can violate parent group's restriction.",
            "The member violates the parent group's restriction.",
            "The state of the membership is under evaluation."
          ]
        }
      },
      "description": "The evaluated state of this restriction.",
      "id": "MembershipRoleRestrictionEvaluation"
    },
    "WindowsSpecificDeviceAttributes": {
      "description": "Represents the Windows specific attributes of a Device.",
      "properties": {
        "secureBootMode": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value",
            "Secure boot mode is unknown.",
            "Secure boot mode is enabled.",
            "Secure boot mode is disabled."
          ],
          "enum": [
            "SECURE_BOOT_MODE_UNSPECIFIED",
            "SECURE_BOOT_MODE_UNKNOWN",
            "SECURE_BOOT_MODE_ENABLED",
            "SECURE_BOOT_MODE_DISABLED"
          ],
          "description": "Output only. Secure boot mode of the device.",
          "type": "string"
        },
        "windowsMachineDomain": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The domain of the machine that the user is logged into. This is different from the windows_user_domain as the user could be logged into a domain different from the machine domain."
        },
        "windowsUserDomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The domain of the user account that is logged into the machine."
        },
        "hotfixes": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The hotfixes installed on the device.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "WindowsSpecificDeviceAttributes",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CertificateTemplate": {
      "id": "GoogleAppsCloudidentityDevicesV1CertificateTemplate",
      "properties": {
        "minorVersion": {
          "type": "integer",
          "format": "int32",
          "description": "The minor version of the template. Example: 12."
        },
        "id": {
          "description": "The template id of the template. Example: \"1.3.6.1.4.1.311.21.8.15608621.11768144.5720724.16068415.6889630.81.2472537.7784047\".",
          "type": "string"
        },
        "majorVersion": {
          "type": "integer",
          "description": "The Major version of the template. Example: 100.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "CertificateTemplate (v3 Extension in X.509)."
    },
    "MemberRelation": {
      "id": "MemberRelation",
      "properties": {
        "member": {
          "type": "string",
          "description": "Resource name for this member."
        },
        "preferredMemberKey": {
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace.",
          "items": {
            "$ref": "EntityKey"
          },
          "type": "array"
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "TransitiveMembershipRole"
          },
          "description": "The membership role details (i.e name of role and expiry time)."
        },
        "relationType": {
          "type": "string",
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "description": "The relation between the group and the transitive membership.",
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ]
        }
      },
      "description": "Message representing a transitive membership of a group.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata",
      "properties": {},
      "type": "object",
      "description": "Metadata for WipeDeviceUser LRO."
    },
    "PolicyConflict": {
      "id": "PolicyConflict",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The policy value from this lower-priority source."
        },
        "scope": {
          "enumDescriptions": [
            "Default value. The policy scope is unknown or not specified.",
            "User-level policy. This scope indicates the policy applies to the specific user session or profile. For cloud policies, this is typically the signed-in Chrome profile. On some platforms like Windows, this can also refer to the OS user.",
            "Machine-level policy. This scope indicates the policy applies system-wide to all users on the current machine or device."
          ],
          "enum": [
            "SCOPE_UNKNOWN",
            "USER",
            "MACHINE"
          ],
          "description": "Output only. The scope at which this lower-priority policy is set (USER or MACHINE).",
          "type": "string",
          "readOnly": true
        },
        "source": {
          "enum": [
            "SOURCE_UNKNOWN",
            "ENTERPRISE_DEFAULT",
            "CLOUD",
            "ACTIVE_DIRECTORY",
            "DEVICE_LOCAL_ACCOUNT_OVERRIDE_DEPRECATED",
            "PLATFORM",
            "PRIORITY_CLOUD_DEPRECATED",
            "MERGED",
            "COMMAND_LINE",
            "CLOUD_FROM_ASH",
            "RESTRICTED_MANAGED_GUEST_SESSION_OVERRIDE"
          ],
          "enumDescriptions": [
            "Default value. The policy source is unknown or not specified.",
            "The policy is provided by Chrome's default settings when running in an enterprise environment.",
            "The policy is managed and pushed from a cloud-based administration console, such as the Google Admin console.",
            "The policy is sourced from Active Directory, primarily for Active Directory-managed ChromeOS devices.",
            "Deprecated: Formerly used when a policy was overridden by ChromeOS for public sessions or kiosk mode.",
            "The policy is set by OS built-in tool on desktop.",
            "Deprecated: Formerly used for cloud policies with higher priority.",
            "The applied policy value is the result of a merge from multiple policy sources.",
            "The policy is set using a command line argument passed to the Chrome executable, usually intended for development or testing.",
            "For ChromeOS, this indicates a policy set by cloud management in the Ash browser and then made available to the Lacros browser.",
            "The policy is set by the restricted managed guest session override."
          ],
          "description": "Output only. The source from which this lower-priority policy value originated.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents a policy value from a source that was not applied because a higher-priority source took precedence.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata",
      "properties": {},
      "description": "Metadata for DeleteDeviceUser LRO."
    },
    "InboundSsoAssignment": {
      "id": "InboundSsoAssignment",
      "description": "Targets with \"set\" SSO assignments and their respective assignments.",
      "type": "object",
      "properties": {
        "oidcSsoInfo": {
          "description": "OpenID Connect SSO details. Must be set if and only if `sso_mode` is set to `OIDC_SSO`.",
          "$ref": "OidcSsoInfo"
        },
        "targetGroup": {
          "description": "Immutable. Must be of the form `groups/{group}`.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Inbound SSO Assignment.",
          "type": "string"
        },
        "targetOrgUnit": {
          "description": "Immutable. Must be of the form `orgUnits/{org_unit}`.",
          "type": "string"
        },
        "samlSsoInfo": {
          "$ref": "SamlSsoInfo",
          "description": "SAML SSO details. Must be set if and only if `sso_mode` is set to `SAML_SSO`."
        },
        "signInBehavior": {
          "$ref": "SignInBehavior",
          "description": "Assertions about users assigned to an IdP will always be accepted from that IdP. This controls whether/when Google should redirect a user to the IdP. Unset (defaults) is the recommended configuration."
        },
        "ssoMode": {
          "enumDescriptions": [
            "Not allowed.",
            "Disable SSO for the targeted users.",
            "Use an external SAML Identity Provider for SSO for the targeted users.",
            "Use an external OIDC Identity Provider for SSO for the targeted users.",
            "Use the domain-wide SAML Identity Provider for the targeted users if one is configured; otherwise, this is equivalent to `SSO_OFF`. Note that this will also be equivalent to `SSO_OFF` if/when support for domain-wide SAML is removed. Google may disallow this mode at that point and existing assignments with this mode may be automatically changed to `SSO_OFF`."
          ],
          "description": "Inbound SSO behavior.",
          "type": "string",
          "enum": [
            "SSO_MODE_UNSPECIFIED",
            "SSO_OFF",
            "SAML_SSO",
            "OIDC_SSO",
            "DOMAIN_WIDE_SAML_IF_ENABLED"
          ]
        },
        "rank": {
          "type": "integer",
          "description": "Must be zero (which is the default value so it can be omitted) for assignments with `target_org_unit` set and must be greater-than-or-equal-to one for assignments with `target_group` set.",
          "format": "int32"
        },
        "customer": {
          "description": "Immutable. The customer. For example: `customers/C0123abc`.",
          "type": "string"
        }
      }
    },
    "SearchDirectGroupsResponse": {
      "type": "object",
      "description": "The response message for MembershipsService.SearchDirectGroups.",
      "id": "SearchDirectGroupsResponse",
      "properties": {
        "memberships": {
          "description": "List of direct groups satisfying the query.",
          "items": {
            "$ref": "MembershipRelation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing.",
          "type": "string"
        }
      }
    },
    "ListInboundSamlSsoProfilesResponse": {
      "type": "object",
      "description": "Response of the InboundSamlSsoProfilesService.ListInboundSamlSsoProfiles method.",
      "id": "ListInboundSamlSsoProfilesResponse",
      "properties": {
        "inboundSamlSsoProfiles": {
          "type": "array",
          "items": {
            "$ref": "InboundSamlSsoProfile"
          },
          "description": "List of InboundSamlSsoProfiles."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1ClientState": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device}/deviceUsers/{device_user}/clientState/{partner}`, where partner corresponds to the partner storing the data. For partners belonging to the \"BeyondCorp Alliance\", this is the partner ID specified to you by Google. For all other callers, this is a string of the form: `{customer}-suffix`, where `customer` is your customer ID. The *suffix* is any string the caller specifies. This string will be displayed verbatim in the administration console. This suffix is used in setting up Custom Access Levels in Context-Aware Access. Your organization's customer ID can be obtained from the URL: `GET https://www.googleapis.com/admin/directory/v1/customers/my_customer` The `id` field in the response contains the customer ID starting with the letter 'C'. The customer ID to be used in this API is the string after the letter 'C' (not including 'C')",
          "type": "string"
        },
        "ownerType": {
          "enumDescriptions": [
            "Unknown owner type",
            "Customer is the owner",
            "Partner is the owner"
          ],
          "description": "Output only. The owner of the ClientState",
          "type": "string",
          "readOnly": true,
          "enum": [
            "OWNER_TYPE_UNSPECIFIED",
            "OWNER_TYPE_CUSTOMER",
            "OWNER_TYPE_PARTNER"
          ]
        },
        "healthScore": {
          "type": "string",
          "enum": [
            "HEALTH_SCORE_UNSPECIFIED",
            "VERY_POOR",
            "POOR",
            "NEUTRAL",
            "GOOD",
            "VERY_GOOD"
          ],
          "description": "The Health score of the resource. The Health score is the callers specification of the condition of the device from a usability point of view. For example, a third-party device management provider may specify a health score based on its compliance with organizational policies.",
          "enumDescriptions": [
            "Default value",
            "The object is in very poor health as defined by the caller.",
            "The object is in poor health as defined by the caller.",
            "The object health is neither good nor poor, as defined by the caller.",
            "The object is in good health as defined by the caller.",
            "The object is in very good health as defined by the caller."
          ]
        },
        "managed": {
          "description": "The management state of the resource as specified by the API client.",
          "enumDescriptions": [
            "The management state of the resource is unknown or unspecified.",
            "The resource is managed.",
            "The resource is not managed."
          ],
          "type": "string",
          "enum": [
            "MANAGED_STATE_UNSPECIFIED",
            "MANAGED",
            "UNMANAGED"
          ]
        },
        "lastUpdateTime": {
          "description": "Output only. The time the client state data was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the client state data was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "assetTags": {
          "type": "array",
          "description": "The caller can specify asset tags for this resource",
          "items": {
            "type": "string"
          }
        },
        "scoreReason": {
          "description": "A descriptive cause of the health score.",
          "type": "string"
        },
        "keyValuePairs": {
          "description": "The map of key-value attributes stored by callers specific to a device. The total serialized length of this map may not exceed 10KB. No limit is placed on the number of attributes in a map.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue"
          }
        },
        "customId": {
          "type": "string",
          "description": "This field may be used to store a unique identifier for the API resource within which these CustomAttributes are a field."
        },
        "etag": {
          "type": "string",
          "description": "The token that needs to be passed back for concurrency control in updates. Token needs to be passed back in UpdateRequest"
        },
        "complianceState": {
          "type": "string",
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT"
          ],
          "enumDescriptions": [
            "The compliance state of the resource is unknown or unspecified.",
            "Device is compliant with third party policies",
            "Device is not compliant with third party policies"
          ],
          "description": "The compliance state of the resource as specified by the API client."
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1ClientState",
      "description": "Represents the state associated with an API client calling the Devices API. Resource representing ClientState and supports updates from API users",
      "type": "object"
    },
    "ListIdpCredentialsResponse": {
      "id": "ListIdpCredentialsResponse",
      "properties": {
        "idpCredentials": {
          "type": "array",
          "items": {
            "$ref": "IdpCredential"
          },
          "description": "The IdpCredentials from the specified InboundSamlSsoProfile."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response of the InboundSamlSsoProfilesService.ListIdpCredentials method.",
      "type": "object"
    },
    "ListPoliciesResponse": {
      "properties": {
        "policies": {
          "type": "array",
          "description": "The results",
          "items": {
            "$ref": "Policy"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token to retrieve the next page of results. If this field is empty, there are no subsequent pages."
        }
      },
      "description": "The response message for PoliciesService.ListPolicies.",
      "type": "object",
      "id": "ListPoliciesResponse"
    },
    "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes": {
      "type": "object",
      "description": "Resource representing the [Endpoint Verification-specific attributes](https://cloud.google.com/endpoint-verification/docs/device-information) of a device.",
      "id": "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes",
      "properties": {
        "additionalSignals": {
          "description": "[Additional signals](https://cloud.google.com/endpoint-verification/docs/device-information) reported by Endpoint Verification. It includes the following attributes: * Non-configurable attributes: hotfixes, av_installed, av_enabled, windows_domain_name, is_os_native_firewall_enabled, and is_secure_boot_enabled. * [Configurable attributes](https://cloud.google.com/endpoint-verification/docs/collect-config-attributes): file, folder, and binary attributes; registry entries; and properties in a plist.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "certificateAttributes": {
          "type": "array",
          "description": "Details of certificates.",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CertificateAttributes"
          }
        },
        "browserAttributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1BrowserAttributes"
          },
          "description": "Details of browser profiles reported by Endpoint Verification."
        }
      }
    },
    "WipeDeviceUserRequest": {
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        }
      },
      "id": "WipeDeviceUserRequest",
      "description": "Request message for starting an account wipe on device.",
      "type": "object"
    },
    "RestrictionEvaluations": {
      "type": "object",
      "properties": {
        "memberRestrictionEvaluation": {
          "description": "Evaluation of the member restriction applied to this membership. Empty if the user lacks permission to view the restriction evaluation.",
          "$ref": "MembershipRoleRestrictionEvaluation"
        }
      },
      "id": "RestrictionEvaluations",
      "description": "Evaluations of restrictions applied to parent group on this membership."
    },
    "CancelWipeDeviceUserResponse": {
      "type": "object",
      "id": "CancelWipeDeviceUserResponse",
      "description": "Response message for cancelling an unfinished user account wipe.",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "DeviceUser"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata",
      "description": "Metadata for SignoutDeviceUser LRO."
    },
    "TransitiveMembershipRole": {
      "properties": {
        "role": {
          "type": "string",
          "description": "TransitiveMembershipRole in string format. Currently supported TransitiveMembershipRoles: `\"MEMBER\"`, `\"OWNER\"`, and `\"MANAGER\"`."
        }
      },
      "id": "TransitiveMembershipRole",
      "type": "object",
      "description": "Message representing the role of a TransitiveMembership."
    },
    "EntityKey": {
      "properties": {
        "id": {
          "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
          "type": "string"
        },
        "namespace": {
          "type": "string",
          "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`."
        }
      },
      "description": "A unique identifier for an entity in the Cloud Identity Groups API. An entity can represent either a group with an optional `namespace` or a user without a `namespace`. The combination of `id` and `namespace` must be unique; however, the same `id` can be used with different `namespace`s.",
      "id": "EntityKey",
      "type": "object"
    },
    "Group": {
      "type": "object",
      "properties": {
        "posixGroups": {
          "description": "Optional. The POSIX groups associated with the `Group`.",
          "type": "array",
          "items": {
            "$ref": "PosixGroup"
          }
        },
        "description": {
          "description": "An extended description to help users determine the purpose of a `Group`. Must not be longer than 4,096 characters.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the entity under which this `Group` resides in the Cloud Identity resource hierarchy. Must be of the form `identitysources/{identity_source}` for external [identity-mapped groups](https://support.google.com/a/answer/9039510) or `customers/{customer_id}` for Google Groups. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793)"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the `Group` was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when the `Group` was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "groupKey": {
          "$ref": "EntityKey",
          "description": "Required. The `EntityKey` of the `Group`."
        },
        "labels": {
          "description": "Required. One or more label entries that apply to the Group. Labels contain a key with an empty value. Google Groups are the default type of group and have a label with a key of `cloudidentity.googleapis.com/groups.discussion_forum` and an empty value. Existing Google Groups can have an additional label with a key of `cloudidentity.googleapis.com/groups.security` and an empty value added to them. **This is an immutable change and the security label cannot be removed once added.** Dynamic groups have a label with a key of `cloudidentity.googleapis.com/groups.dynamic`. Identity-mapped groups for Cloud Search have a label with a key of `system/groups/external` and an empty value. Google Groups can be [locked](https://support.google.com/a?p=locked-groups). To lock a group, add a label with a key of `cloudidentity.googleapis.com/groups.locked` and an empty value. Doing so locks the group. To unlock the group, remove this label.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "externalIds": {
          "description": "Optional. External identifiers associated with the `Group`. Enables external identity providers and directory sync tools to link their native unique identifiers with this group. Currently, the only allowable namespace is `\"system/external\"`.",
          "type": "array",
          "items": {
            "$ref": "ExternalId"
          }
        },
        "dynamicGroupMetadata": {
          "$ref": "DynamicGroupMetadata",
          "description": "Optional. Dynamic group metadata like queries and status."
        },
        "additionalGroupKeys": {
          "description": "Output only. Additional group keys associated with the Group.",
          "readOnly": true,
          "items": {
            "$ref": "EntityKey"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the `Group`."
        }
      },
      "description": "A group within the Cloud Identity Groups API. A `Group` is a collection of entities, where each entity is either a user, another group, or a service account.",
      "id": "Group"
    },
    "Policy": {
      "properties": {
        "name": {
          "description": "Output only. Identifier. The [resource name](https://cloud.google.com/apis/design/resource_names) of the Policy. Format: policies/{policy}.",
          "readOnly": true,
          "type": "string"
        },
        "setting": {
          "description": "Required. The Setting configured by this Policy.",
          "$ref": "Setting"
        },
        "customer": {
          "description": "Immutable. Customer that the Policy belongs to. The value is in the format 'customers/{customerId}'. The `customerId` must begin with \"C\" To find your customer ID in Admin Console see https://support.google.com/a/answer/10070793.",
          "type": "string"
        },
        "policyQuery": {
          "$ref": "PolicyQuery",
          "description": "Required. The PolicyQuery the Setting applies to."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "POLICY_TYPE_UNSPECIFIED",
            "SYSTEM",
            "ADMIN"
          ],
          "enumDescriptions": [
            "Unspecified policy type.",
            "Policy type denoting the system-configured policies.",
            "Policy type denoting the admin-configurable policies."
          ],
          "description": "Output only. The type of the policy."
        }
      },
      "type": "object",
      "description": "A Policy resource binds an instance of a single Setting with the scope of a PolicyQuery. The Setting instance will be applied to all entities that satisfy the query.",
      "id": "Policy"
    },
    "SamlSpConfig": {
      "properties": {
        "entityId": {
          "description": "Output only. The SAML **Entity ID** for this service provider.",
          "type": "string",
          "readOnly": true
        },
        "assertionConsumerServiceUri": {
          "readOnly": true,
          "description": "Output only. The SAML **Assertion Consumer Service (ACS) URL** to be used for the IDP-initiated login. Assumed to accept response messages via the `HTTP-POST` binding.",
          "type": "string"
        }
      },
      "description": "SAML SP (service provider) configuration.",
      "id": "SamlSpConfig",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse",
      "description": "Response message for wiping all data on the device.",
      "properties": {
        "device": {
          "$ref": "GoogleAppsCloudidentityDevicesV1Device",
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object."
        }
      }
    },
    "InboundSamlSsoProfile": {
      "properties": {
        "customer": {
          "description": "Immutable. The customer. For example: `customers/C0123abc`.",
          "type": "string"
        },
        "spConfig": {
          "$ref": "SamlSpConfig",
          "description": "SAML service provider configuration for this SAML SSO profile. These are the service provider details provided by Google that should be configured on the corresponding identity provider."
        },
        "idpConfig": {
          "$ref": "SamlIdpConfig",
          "description": "SAML identity provider configuration."
        },
        "name": {
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the SAML SSO profile.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable name of the SAML SSO profile."
        }
      },
      "description": "A [SAML 2.0](https://www.oasis-open.org/standards#samlv2.0) federation between a Google enterprise customer and a SAML identity provider.",
      "type": "object",
      "id": "InboundSamlSsoProfile"
    },
    "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata",
      "type": "object",
      "description": "Metadata for UpdateClientState LRO.",
      "properties": {}
    },
    "MembershipRelation": {
      "description": "Message containing membership relation.",
      "type": "object",
      "id": "MembershipRelation",
      "properties": {
        "roles": {
          "description": "The `MembershipRole`s that apply to the `Membership`.",
          "type": "array",
          "items": {
            "$ref": "MembershipRole"
          }
        },
        "membership": {
          "type": "string",
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group_id}/memberships/{membership_id}`."
        },
        "displayName": {
          "description": "The display name of the `Group`.",
          "type": "string"
        },
        "groupKey": {
          "$ref": "EntityKey",
          "description": "The `EntityKey` of the `Group`."
        },
        "description": {
          "type": "string",
          "description": "An extended description to help users determine the purpose of a `Group`."
        },
        "group": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`.",
          "type": "string"
        },
        "labels": {
          "description": "One or more label entries that apply to the Group. Currently supported labels contain a key with an empty value.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ListDevicesResponse": {
      "type": "object",
      "description": "Response message that is returned from the ListDevices method.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "Devices meeting the list restrictions."
        }
      },
      "id": "ListDevicesResponse"
    },
    "CreateInboundSamlSsoProfileOperationMetadata": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448)."
        }
      },
      "description": "LRO response metadata for InboundSamlSsoProfilesService.CreateInboundSamlSsoProfile.",
      "id": "CreateInboundSamlSsoProfileOperationMetadata"
    },
    "DeleteIdpCredentialOperationMetadata": {
      "id": "DeleteIdpCredentialOperationMetadata",
      "properties": {},
      "type": "object",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.DeleteIdpCredential."
    },
    "BlockDeviceUserResponse": {
      "description": "Response message for blocking the device from accessing user data.",
      "type": "object",
      "properties": {
        "deviceUser": {
          "$ref": "DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "id": "BlockDeviceUserResponse"
    },
    "Operation": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "ListOrgMembershipsResponse": {
      "properties": {
        "orgMemberships": {
          "description": "The non-vacuous membership in an orgUnit.",
          "items": {
            "$ref": "OrgMembership"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "id": "ListOrgMembershipsResponse",
      "description": "The response message for OrgMembershipsService.ListOrgMemberships.",
      "type": "object"
    },
    "SearchTransitiveGroupsResponse": {
      "id": "SearchTransitiveGroupsResponse",
      "properties": {
        "memberships": {
          "type": "array",
          "description": "List of transitive groups satisfying the query.",
          "items": {
            "$ref": "GroupRelation"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for MembershipsService.SearchTransitiveGroups."
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata",
      "description": "Metadata for DeleteDevice LRO."
    },
    "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata": {
      "properties": {},
      "description": "Metadata for UpdateDevice LRO.",
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata"
    },
    "ListInboundOidcSsoProfilesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "inboundOidcSsoProfiles": {
          "type": "array",
          "items": {
            "$ref": "InboundOidcSsoProfile"
          },
          "description": "List of InboundOidcSsoProfiles."
        }
      },
      "description": "Response of the InboundOidcSsoProfilesService.ListInboundOidcSsoProfiles method.",
      "id": "ListInboundOidcSsoProfilesResponse",
      "type": "object"
    },
    "SamlSsoInfo": {
      "description": "Details that are applicable when `sso_mode` == `SAML_SSO`.",
      "properties": {
        "inboundSamlSsoProfile": {
          "description": "Required. Name of the `InboundSamlSsoProfile` to use. Must be of the form `inboundSamlSsoProfiles/{inbound_saml_sso_profile}`. ",
          "type": "string"
        }
      },
      "id": "SamlSsoInfo",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse": {
      "type": "object",
      "description": "Response message for approving the device to access user data.",
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse",
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      }
    },
    "SearchGroupsResponse": {
      "properties": {
        "groups": {
[...]
