{
  "kind": "discovery#restDescription",
  "version": "v1",
  "name": "cloudsearch",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "title": "Cloud Search API",
  "mtlsRootUrl": "https://cloudsearch.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/workspace/cloud-search/docs/guides/",
  "batchPath": "batch",
  "version_module": true,
  "description": "Cloud Search provides cloud-based search capabilities over Google Workspace data. The Cloud Search API allows indexing of non-Google Workspace data into Cloud Search.",
  "canonicalName": "Cloud Search",
  "id": "cloudsearch:v1",
  "discoveryVersion": "v1",
  "revision": "20260819",
  "servicePath": "",
  "resources": {
    "indexing": {
      "resources": {
        "datasources": {
          "methods": {
            "getSchema": {
              "path": "v1/indexing/{+name}/schema",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "cloudsearch.indexing.datasources.getSchema",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^datasources/[^/]+$",
                  "required": true,
                  "description": "The name of the data source to get Schema. Format: datasources/{source_id}"
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean"
                }
              },
              "response": {
                "$ref": "Schema"
              },
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "httpMethod": "GET",
              "description": "Gets the schema of a data source. **Note:** This API requires an admin or service account to execute."
            },
            "updateSchema": {
              "httpMethod": "PUT",
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "description": "Updates the schema of a data source. This method does not perform incremental updates to the schema. Instead, this method updates the schema by overwriting the entire schema. **Note:** This API requires an admin or service account to execute.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "The name of the data source to update Schema. Format: datasources/{source_id}",
                  "type": "string",
                  "pattern": "^datasources/[^/]+$"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudsearch.indexing.datasources.updateSchema",
              "request": {
                "$ref": "UpdateSchemaRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "path": "v1/indexing/{+name}/schema"
            },
            "deleteSchema": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "path": "v1/indexing/{+name}/schema",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the data source to delete Schema. Format: datasources/{source_id}",
                  "location": "path",
                  "required": true,
                  "pattern": "^datasources/[^/]+$"
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                }
              },
              "description": "Deletes the schema of a data source. **Note:** This API requires an admin or service account to execute.",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "httpMethod": "DELETE",
              "id": "cloudsearch.indexing.datasources.deleteSchema"
            }
          },
          "resources": {
            "items": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items",
                  "response": {
                    "$ref": "ListItemsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "brief": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to true, the indexing system only populates the following fields: name, version, queue. metadata.hash, metadata.title, metadata.sourceRepositoryURL, metadata.objectType, metadata.createTime, metadata.updateTime, metadata.contentLanguage, metadata.mimeType, structured_data.hash, content.hash, itemType, itemStatus.code, itemStatus.processingError.code, itemStatus.repositoryError.type, If this value is false, then all the fields are populated in Item."
                    },
                    "debugOptions.enableDebugging": {
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "connectorName": {
                      "type": "string",
                      "location": "query",
                      "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "pageSize": {
                      "description": "Maximum number of items to fetch in a request. The max value is 1000 when brief is true. The max value is 10 if brief is false. The default value is 10",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "name": {
                      "description": "The name of the Data Source to list Items. Format: datasources/{source_id}",
                      "location": "path",
                      "pattern": "^datasources/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "cloudsearch.indexing.datasources.items.list",
                  "path": "v1/indexing/{+name}/items",
                  "description": "Lists all or a subset of Item resources. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source."
                },
                "deleteQueueItems": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "id": "cloudsearch.indexing.datasources.items.deleteQueueItems",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^datasources/[^/]+$",
                      "required": true,
                      "description": "The name of the Data Source to delete items in a queue. Format: datasources/{source_id}"
                    }
                  },
                  "description": "Deletes all items in a queue. This method is useful for deleting stale items. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "DeleteQueueItemsRequest"
                  },
                  "path": "v1/indexing/{+name}/items:deleteQueueItems",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:deleteQueueItems"
                },
                "unreserve": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "request": {
                    "$ref": "UnreserveItemsRequest"
                  },
                  "description": "Unreserves all items from a queue, making them all eligible to be polled. This method is useful for resetting the indexing queue after a connector has been restarted. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^datasources/[^/]+$",
                      "description": "The name of the Data Source to unreserve all items. Format: datasources/{source_id}"
                    }
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:unreserve",
                  "path": "v1/indexing/{+name}/items:unreserve",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudsearch.indexing.datasources.items.unreserve"
                },
                "poll": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^datasources/[^/]+$",
                      "location": "path",
                      "description": "The name of the Data Source to poll items. Format: datasources/{source_id}",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "cloudsearch.indexing.datasources.items.poll",
                  "httpMethod": "POST",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:poll",
                  "response": {
                    "$ref": "PollItemsResponse"
                  },
                  "path": "v1/indexing/{+name}/items:poll",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "description": "Polls for unreserved items from the indexing queue and marks a set as reserved, starting with items that have the oldest timestamp from the highest priority ItemStatus. The priority order is as follows: ERROR MODIFIED NEW_ITEM ACCEPTED Reserving items ensures that polling from other threads cannot create overlapping sets. After handling the reserved items, the client should put items back into the unreserved state, either by calling index, or by calling push with the type REQUEUE. Items automatically become available (unreserved) after 4 hours even if no update or push method is called. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "request": {
                    "$ref": "PollItemsRequest"
                  }
                },
                "upload": {
                  "id": "cloudsearch.indexing.datasources.items.upload",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/indexing/{+name}:upload",
                  "response": {
                    "$ref": "UploadItemRef"
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:upload",
                  "description": "Creates an upload session for uploading item content. For items smaller than 100 KB, it's easier to embed the content inline within an index request. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "request": {
                    "$ref": "StartUploadItemRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "required": true,
                      "description": "The name of the Item to start a resumable upload. Format: datasources/{source_id}/items/{item_id}. The maximum length is 1536 bytes.",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}",
                  "parameters": {
                    "mode": {
                      "location": "query",
                      "description": "Required. The RequestMode for this request.",
                      "enumDescriptions": [
                        "The priority is not specified in the update request. Leaving priority unspecified results in an update failure.",
                        "For real-time updates.",
                        "For changes that are executed after the response is sent back to the caller."
                      ],
                      "type": "string",
                      "enum": [
                        "UNSPECIFIED",
                        "SYNCHRONOUS",
                        "ASYNCHRONOUS"
                      ]
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "description": "Required. The name of the item to delete. Format: datasources/{source_id}/items/{item_id}"
                    },
                    "version": {
                      "type": "string",
                      "location": "query",
                      "format": "byte",
                      "description": "Required. The incremented version of the item to delete from the index. The indexing system stores the version from the datasource as a byte string and compares the Item version in the index to the version of the queued Item using lexical ordering. Cloud Search Indexing won't delete any queued item with a version value that is less than or equal to the version of the currently indexed item. The maximum length for this field is 1024 bytes. For information on how item version affects the deletion process, refer to [Handle revisions after manual deletes](https://developers.google.com/workspace/cloud-search/docs/guides/operations)."
                    },
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                    },
                    "connectorName": {
                      "location": "query",
                      "type": "string",
                      "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
                    }
                  },
                  "id": "cloudsearch.indexing.datasources.items.delete",
                  "path": "v1/indexing/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes Item resource for the specified resource name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source."
                },
                "get": {
                  "parameters": {
                    "connectorName": {
                      "description": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
                      "type": "string",
                      "location": "query"
                    },
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the item to get info. Format: datasources/{source_id}/items/{item_id}",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "description": "Gets Item resource by item name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "httpMethod": "GET",
                  "id": "cloudsearch.indexing.datasources.items.get",
                  "path": "v1/indexing/{+name}",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}",
                  "response": {
                    "$ref": "Item"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "index": {
                  "request": {
                    "$ref": "IndexItemRequest"
                  },
                  "description": "Updates Item ACL, metadata, and content. It will insert the Item if it does not exist. This method does not support partial updates. Fields with no provided values are cleared out in the Cloud Search index. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "description": "The name of the Item. Format: datasources/{source_id}/items/{item_id} This is a required field. The maximum length is 1536 characters.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:index",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/indexing/{+name}:index",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "id": "cloudsearch.indexing.datasources.items.index"
                },
                "push": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/indexing/{+name}:push",
                  "id": "cloudsearch.indexing.datasources.items.push",
                  "description": "Pushes an item onto a queue for later polling and updating. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "request": {
                    "$ref": "PushItemRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "required": true,
                      "description": "The name of the item to push into the indexing queue. Format: datasources/{source_id}/items/{ID} This is a required field. The maximum length is 1536 characters.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:push",
                  "response": {
                    "$ref": "Item"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "query": {
      "resources": {
        "sources": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.query"
              ],
              "parameterOrder": [],
              "id": "cloudsearch.query.sources.list",
              "description": "Returns list of sources that user can use for Search and Suggest APIs. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/workspace/cloud-search/docs/guides/delegation/).",
              "parameters": {
                "requestOptions.timeZone": {
                  "description": "Current user's time zone id, such as \"America/Los_Angeles\" or \"Australia/Sydney\". These IDs are defined by [Unicode Common Locale Data Repository (CLDR)](http://cldr.unicode.org/) project, and currently available in the file [timezone.xml](http://unicode.org/repos/cldr/trunk/common/bcp47/timezone.xml). This field is used to correctly interpret date and time queries. If this field is not specified, the default time zone (UTC) is used.",
                  "location": "query",
                  "type": "string"
                },
                "requestOptions.clientDisplayLanguageCode": {
                  "type": "string",
                  "description": "The BCP-47 language code, such as \"pt\" or \"en\". It represents the user's preferred Display Language.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Number of sources to return in the response."
                },
                "requestOptions.languageCode": {
                  "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. For translations. Set this field using the language set in browser or for the page. In the event that the user's language preference is known, set this field to the known user language. When specified, the documents in search results are biased towards the specified language. The Suggest API uses this field as a hint to make better third-party autocomplete predictions.",
                  "location": "query",
                  "type": "string"
                },
                "requestOptions.debugOptions.enableDebugging": {
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query",
                  "type": "boolean"
                },
                "requestOptions.searchApplicationId": {
                  "description": "The ID generated when you create a search application using the [admin console](https://support.google.com/a/answer/9043922).",
                  "type": "string",
                  "location": "query"
                },
                "requestOptions.countryCode": {
                  "location": "query",
                  "description": "Optional. Specifies the country/region where the query originated, as a lowercase ISO 3166-1 alpha-2 region code (using 'uk' instead of 'gb' for the United Kingdom).",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListQuerySourcesResponse"
              },
              "flatPath": "v1/query/sources",
              "path": "v1/query/sources"
            }
          }
        }
      },
      "methods": {
        "suggest": {
          "flatPath": "v1/query/suggest",
          "response": {
            "$ref": "SuggestResponse"
          },
          "parameters": {},
          "path": "v1/query/suggest",
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Provides suggestions for autocompleting the query. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/workspace/cloud-search/docs/guides/delegation/).",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ],
          "id": "cloudsearch.query.suggest",
          "request": {
            "$ref": "SuggestRequest"
          }
        },
        "removeActivity": {
          "httpMethod": "POST",
          "request": {
            "$ref": "RemoveActivityRequest"
          },
          "flatPath": "v1/query:removeActivity",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ],
          "response": {
            "$ref": "RemoveActivityResponse"
          },
          "path": "v1/query:removeActivity",
          "parameters": {},
          "parameterOrder": [],
          "description": "Provides functionality to remove logged activity for a user. Currently to be used only for Chat 1p clients **Note:** This API requires a standard end user account to execute. A service account can't perform Remove Activity requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/workspace/cloud-search/docs/guides/delegation/).",
          "id": "cloudsearch.query.removeActivity"
        },
        "search": {
          "parameters": {},
          "description": "The Cloud Search Query API provides the search method, which returns the most relevant results from a user query. The results can come from Google Workspace apps, such as Gmail or Google Drive, or they can come from data that you have indexed from a third party. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/workspace/cloud-search/docs/guides/delegation/).",
          "request": {
            "$ref": "SearchRequest"
          },
          "path": "v1/query/search",
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "cloudsearch.query.search",
          "flatPath": "v1/query/search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ],
          "response": {
            "$ref": "SearchResponse"
          }
        }
      }
    },
    "settings": {
      "resources": {
        "searchapplications": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListSearchApplicationsResponse"
              },
              "flatPath": "v1/settings/searchapplications",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of items to return."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The next_page_token value returned from a previous List request, if any. The default value is 10"
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query"
                }
              },
              "parameterOrder": [],
              "description": "Lists all search applications. **Note:** This API requires an admin account to execute.",
              "id": "cloudsearch.settings.searchapplications.list",
              "path": "v1/settings/searchapplications"
            },
            "delete": {
              "description": "Deletes a search application. **Note:** This API requires an admin account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "id": "cloudsearch.settings.searchapplications.delete",
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/settings/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^searchapplications/[^/]+$",
                  "description": "The name of the search application to be deleted. Format: applications/{application_id}."
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query"
                }
              }
            },
            "update": {
              "parameterOrder": [
                "name"
              ],
              "id": "cloudsearch.settings.searchapplications.update",
              "request": {
                "$ref": "SearchApplication"
              },
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/settings/{+name}",
              "description": "Updates a search application. **Note:** This API requires an admin account to execute.",
              "httpMethod": "PUT",
              "parameters": {
                "name": {
                  "description": "The name of the Search Application. Format: searchapplications/{application_id}.",
                  "type": "string",
                  "required": true,
                  "pattern": "^searchapplications/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "description": "Only applies to [`settings.searchapplications.patch`](https://developers.google.com/workspace/cloud-search/docs/reference/rest/v1/settings.searchapplications/patch). Update mask to control which fields to update. Example field paths: `search_application.name`, `search_application.displayName`. * If `update_mask` is non-empty, then only the fields specified in the `update_mask` are updated. * If you specify a field in the `update_mask`, but don't specify its value in the `search_application`, then that field is cleared. * If the `update_mask` is not present or empty or has the value `*`, then all fields are updated.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ]
            },
            "patch": {
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "request": {
                "$ref": "SearchApplication"
              },
              "parameters": {
                "name": {
                  "description": "The name of the Search Application. Format: searchapplications/{application_id}.",
                  "required": true,
                  "pattern": "^searchapplications/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Only applies to [`settings.searchapplications.patch`](https://developers.google.com/workspace/cloud-search/docs/reference/rest/v1/settings.searchapplications/patch). Update mask to control which fields to update. Example field paths: `search_application.name`, `search_application.displayName`. * If `update_mask` is non-empty, then only the fields specified in the `update_mask` are updated. * If you specify a field in the `update_mask`, but don't specify its value in the `search_application`, then that field is cleared. * If the `update_mask` is not present or empty or has the value `*`, then all fields are updated.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "id": "cloudsearch.settings.searchapplications.patch",
              "path": "v1/settings/{+name}",
              "description": "Updates a search application. **Note:** This API requires an admin account to execute."
            },
            "get": {
              "description": "Gets the specified search application. **Note:** This API requires an admin account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "response": {
                "$ref": "SearchApplication"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "httpMethod": "GET",
              "path": "v1/settings/{+name}",
              "parameters": {
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                },
                "name": {
                  "location": "path",
                  "pattern": "^searchapplications/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the search application. Format: searchapplications/{application_id}."
                }
              },
              "id": "cloudsearch.settings.searchapplications.get"
            },
            "reset": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "id": "cloudsearch.settings.searchapplications.reset",
              "parameterOrder": [
                "name"
              ],
              "description": "Resets a search application to default settings. This will return an empty response. **Note:** This API requires an admin account to execute.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^searchapplications/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the search application to be reset. Format: applications/{application_id}."
                }
              },
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}:reset",
              "request": {
                "$ref": "ResetSearchApplicationRequest"
              },
              "path": "v1/settings/{+name}:reset"
            },
            "create": {
              "id": "cloudsearch.settings.searchapplications.create",
              "description": "Creates a search application. **Note:** This API requires an admin account to execute.",
              "flatPath": "v1/settings/searchapplications",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {},
              "request": {
                "$ref": "SearchApplication"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "parameterOrder": [],
              "httpMethod": "POST",
              "path": "v1/settings/searchapplications"
            }
          }
        },
        "datasources": {
          "methods": {
            "create": {
              "description": "Creates a datasource. **Note:** This API requires an admin account to execute.",
              "request": {
                "$ref": "DataSource"
              },
              "parameterOrder": [],
              "id": "cloudsearch.settings.datasources.create",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/settings/datasources",
              "httpMethod": "POST",
              "path": "v1/settings/datasources",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameters": {}
            },
            "patch": {
              "id": "cloudsearch.settings.datasources.patch",
              "description": "Updates a datasource. **Note:** This API requires an admin account to execute.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/settings/{+name}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "DataSource"
              },
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameters": {
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Only applies to [`settings.datasources.patch`](https://developers.google.com/workspace/cloud-search/docs/reference/rest/v1/settings.datasources/patch). Update mask to control which fields to update. Example field paths: `name`, `displayName`. * If `update_mask` is non-empty, then only the fields specified in the `update_mask` are updated. * If you specify a field in the `update_mask`, but don't specify its value in the source, that field is cleared. * If the `update_mask` is not present or empty or has the value `*`, then all fields are updated.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "pattern": "^datasources/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the datasource resource. Format: datasources/{source_id}. The name is ignored when creating a datasource."
                }
              }
            },
            "list": {
              "id": "cloudsearch.settings.datasources.list",
              "description": "Lists datasources. **Note:** This API requires an admin account to execute.",
              "parameterOrder": [],
              "flatPath": "v1/settings/datasources",
              "response": {
                "$ref": "ListDataSourceResponse"
              },
              "httpMethod": "GET",
              "path": "v1/settings/datasources",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Starting index of the results.",
                  "type": "string"
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of datasources to fetch in a request. The max value is 1000. The default value is 1000.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ]
            },
            "update": {
              "description": "Updates a datasource. **Note:** This API requires an admin account to execute.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/settings/{+name}",
              "request": {
                "$ref": "UpdateDataSourceRequest"
              },
              "id": "cloudsearch.settings.datasources.update",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "The name of the datasource resource. Format: datasources/{source_id}. The name is ignored when creating a datasource.",
                  "pattern": "^datasources/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/settings/datasources/{datasourcesId}"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "description": "Gets a datasource. **Note:** This API requires an admin account to execute.",
              "parameters": {
                "name": {
                  "pattern": "^datasources/[^/]+$",
                  "location": "path",
                  "description": "The name of the datasource resource. Format: datasources/{source_id}.",
                  "type": "string",
                  "required": true
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "DataSource"
              },
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "path": "v1/settings/{+name}",
              "id": "cloudsearch.settings.datasources.get"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "cloudsearch.settings.datasources.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameters": {
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean"
                },
                "name": {
                  "pattern": "^datasources/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The name of the datasource. Format: datasources/{source_id}.",
                  "type": "string"
                }
              },
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "response": {
                "$ref": "Operation"
              },
              "description": "Deletes a datasource. **Note:** This API requires an admin account to execute.",
              "path": "v1/settings/{+name}",
              "httpMethod": "DELETE"
            }
          }
        }
      },
      "methods": {
        "getCustomer": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing"
          ],
          "description": "Get customer settings. **Note:** This API requires an admin account to execute.",
          "path": "v1/settings/customer",
          "parameters": {},
          "response": {
            "$ref": "CustomerSettings"
          },
          "flatPath": "v1/settings/customer",
          "id": "cloudsearch.settings.getCustomer",
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "updateCustomer": {
          "id": "cloudsearch.settings.updateCustomer",
          "parameterOrder": [],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "CustomerSettings"
          },
          "parameters": {
            "updateMask": {
              "type": "string",
              "description": "Update mask to control which fields get updated. If you specify a field in the update_mask but don't specify its value here, that field will be cleared. If the mask is not present or empty, all fields will be updated. Currently supported field paths: vpc_settings and audit_logging_settings",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "description": "Update customer settings. **Note:** This API requires an admin account to execute.",
          "path": "v1/settings/customer",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing"
          ],
          "flatPath": "v1/settings/customer",
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "v1": {
      "methods": {
        "initializeCustomer": {
          "flatPath": "v1:initializeCustomer",
          "response": {
            "$ref": "Operation"
          },
          "description": "Enables `third party` support in Google Cloud Search. **Note:** This API requires an admin account to execute.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing"
          ],
          "id": "cloudsearch.initializeCustomer",
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "InitializeCustomerRequest"
          },
          "path": "v1:initializeCustomer"
        }
      }
    },
    "debug": {
      "resources": {
        "datasources": {
          "resources": {
            "items": {
              "methods": {
                "checkAccess": {
                  "request": {
                    "$ref": "Principal"
                  },
                  "id": "cloudsearch.debug.datasources.items.checkAccess",
                  "path": "v1/debug/{+name}:checkAccess",
                  "response": {
                    "$ref": "CheckAccessResponse"
                  },
                  "flatPath": "v1/debug/datasources/{datasourcesId}/items/{itemsId}:checkAccess",
                  "parameters": {
                    "debugOptions.enableDebugging": {
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "description": "Item name, format: datasources/{source_id}/items/{item_id}",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Checks whether an item is accessible by specified principal. Principal must be a user; groups and domain values aren't supported. **Note:** This API requires an admin account to execute.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "searchByViewUrl": {
                  "flatPath": "v1/debug/datasources/{datasourcesId}/items:searchByViewUrl",
                  "response": {
                    "$ref": "SearchItemsByViewUrlResponse"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^datasources/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Source name, format: datasources/{source_id}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "id": "cloudsearch.debug.datasources.items.searchByViewUrl",
                  "description": "Fetches the item whose viewUrl exactly matches that of the URL provided in the request. **Note:** This API requires an admin account to execute.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/debug/{+name}/items:searchByViewUrl",
                  "request": {
                    "$ref": "SearchItemsByViewUrlRequest"
                  }
                }
              },
              "resources": {
                "unmappedids": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "List all unmapped identities for a specific item. **Note:** This API requires an admin account to execute.",
                      "path": "v1/debug/{+parent}/unmappedids",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud_search",
                        "https://www.googleapis.com/auth/cloud_search.debug"
                      ],
                      "id": "cloudsearch.debug.datasources.items.unmappedids.list",
                      "flatPath": "v1/debug/datasources/{datasourcesId}/items/{itemsId}/unmappedids",
                      "response": {
                        "$ref": "ListUnmappedIdentitiesResponse"
                      },
                      "parameters": {
                        "parent": {
                          "description": "The name of the item, in the following format: datasources/{source_id}/items/{ID}",
                          "type": "string",
                          "required": true,
                          "pattern": "^datasources/[^/]+/items/[^/]+$",
                          "location": "path"
                        },
                        "debugOptions.enableDebugging": {
                          "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Maximum number of items to fetch in a request. Defaults to 100.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The next_page_token value returned from a previous List request, if any."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "identitysources": {
          "resources": {
            "unmappedids": {
              "methods": {
                "list": {
                  "description": "Lists unmapped user identities for an identity source. **Note:** This API requires an admin account to execute.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of items to fetch in a request. Defaults to 100."
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^identitysources/[^/]+$",
                      "description": "The name of the identity source, in the following format: identitysources/{source_id}"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "resolutionStatusCode": {
                      "type": "string",
                      "location": "query",
                      "description": "Limit users selection to this status.",
                      "enum": [
                        "CODE_UNSPECIFIED",
                        "NOT_FOUND",
                        "IDENTITY_SOURCE_NOT_FOUND",
                        "IDENTITY_SOURCE_MISCONFIGURED",
                        "TOO_MANY_MAPPINGS_FOUND",
                        "INTERNAL_ERROR"
                      ],
                      "enumDescriptions": [
                        "Input-only value. Used to list all unmapped identities regardless of status.",
                        "The unmapped identity was not found in IDaaS, and needs to be provided by the user.",
                        "The identity source associated with the identity was either not found or deleted.",
                        "IDaaS does not understand the identity source, probably because the schema was modified in a non compatible way.",
                        "The number of users associated with the external identity is too large.",
                        "Internal error."
                      ]
                    },
                    "debugOptions.enableDebugging": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                    }
                  },
                  "response": {
                    "$ref": "ListUnmappedIdentitiesResponse"
                  },
                  "id": "cloudsearch.debug.identitysources.unmappedids.list",
                  "flatPath": "v1/debug/identitysources/{identitysourcesId}/unmappedids",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/debug/{+parent}/unmappedids"
                }
              }
            },
            "items": {
              "methods": {
                "listForunmappedidentity": {
                  "httpMethod": "GET",
                  "id": "cloudsearch.debug.identitysources.items.listForunmappedidentity",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^identitysources/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the identity source, in the following format: identitysources/{source_id}}"
                    },
                    "groupResourceName": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Maximum number of items to fetch in a request. Defaults to 100.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "userResourceName": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists names of items associated with an unmapped identity. **Note:** This API requires an admin account to execute.",
                  "path": "v1/debug/{+parent}/items:forunmappedidentity",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "response": {
                    "$ref": "ListItemNamesForUnmappedIdentityResponse"
                  },
                  "flatPath": "v1/debug/identitysources/{identitysourcesId}/items:forunmappedidentity"
                }
              }
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "httpMethod": "POST",
          "request": {
            "$ref": "Media"
          },
          "flatPath": "v1/media/{mediaId}",
          "parameters": {
            "resourceName": {
              "location": "path",
              "pattern": "^.*$",
              "required": true,
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Media"
          },
          "path": "v1/media/{+resourceName}",
          "id": "cloudsearch.media.upload",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.indexing"
          ],
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Uploads media for indexing. The upload endpoint supports direct and resumable upload protocols and is intended for large items that can not be [inlined during index requests](https://developers.google.com/workspace/cloud-search/docs/reference/rest/v1/indexing.datasources.items#itemcontent). To index large content: 1. Call indexing.datasources.items.upload with the item name to begin an upload session and retrieve the UploadItemRef. 1. Call media.upload to upload the content, as a streaming request, using the same resource name from the UploadItemRef from step 1. 1. Call indexing.datasources.items.index to index the item. Populate the [ItemContent](/cloud-search/docs/reference/rest/v1/indexing.datasources.items#ItemContent) with the UploadItemRef from step 1. For additional information, see [Create a content connector using the REST API](https://developers.google.com/workspace/cloud-search/docs/guides/content-connector#rest). **Note:** This API requires a service account to execute.",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/media/{+resourceName}"
              }
            }
          }
        }
      }
    },
    "stats": {
      "methods": {
        "getSession": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "path": "v1/stats/session",
          "flatPath": "v1/stats/session",
          "response": {
            "$ref": "GetCustomerSessionStatsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "cloudsearch.stats.getSession",
          "description": "Get the # of search sessions, % of successful sessions with a click query statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "parameters": {
            "fromDate.day": {
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32",
              "location": "query"
            },
            "fromDate.year": {
              "format": "int32",
              "location": "query",
              "description": "Year of date. Must be from 1 to 9999.",
              "type": "integer"
            },
            "fromDate.month": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Month of date. Must be from 1 to 12."
            },
            "toDate.year": {
              "location": "query",
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32"
            },
            "toDate.day": {
              "type": "integer",
              "format": "int32",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "location": "query"
            },
            "toDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          }
        },
        "getIndex": {
          "flatPath": "v1/stats/index",
          "httpMethod": "GET",
          "response": {
            "$ref": "GetCustomerIndexStatsResponse"
          },
          "parameters": {
            "toDate.year": {
              "type": "integer",
              "location": "query",
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32"
            },
            "fromDate.year": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Year of date. Must be from 1 to 9999."
            },
            "fromDate.day": {
              "type": "integer",
              "format": "int32",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "location": "query"
            },
            "toDate.month": {
              "type": "integer",
              "format": "int32",
              "description": "Month of date. Must be from 1 to 12.",
              "location": "query"
            },
            "fromDate.month": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Month of date. Must be from 1 to 12."
            },
            "toDate.day": {
              "format": "int32",
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "location": "query"
            }
          },
          "description": "Gets indexed item statistics aggreggated across all data sources. This API only returns statistics for previous dates; it doesn't return statistics for the current day. **Note:** This API requires a standard end user account to execute.",
          "id": "cloudsearch.stats.getIndex",
          "parameterOrder": [],
          "path": "v1/stats/index",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ]
        },
        "getUser": {
          "response": {
            "$ref": "GetCustomerUserStatsResponse"
          },
          "description": "Get the users statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "flatPath": "v1/stats/user",
          "path": "v1/stats/user",
          "parameterOrder": [],
          "id": "cloudsearch.stats.getUser",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "parameters": {
            "toDate.month": {
              "format": "int32",
              "description": "Month of date. Must be from 1 to 12.",
              "type": "integer",
              "location": "query"
            },
            "toDate.day": {
              "type": "integer",
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32"
            },
            "toDate.year": {
              "type": "integer",
              "format": "int32",
              "description": "Year of date. Must be from 1 to 9999.",
              "location": "query"
            },
            "fromDate.year": {
              "type": "integer",
              "location": "query",
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32"
            },
            "fromDate.month": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Month of date. Must be from 1 to 12."
            },
            "fromDate.day": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
            }
          }
        },
        "getSearchapplication": {
          "path": "v1/stats/searchapplication",
          "parameterOrder": [],
          "description": "Get search application stats for customer. **Note:** This API requires a standard end user account to execute.",
          "id": "cloudsearch.stats.getSearchapplication",
          "parameters": {
            "startDate.year": {
              "description": "Year of date. Must be from 1 to 9999.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "endDate.month": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12."
            },
            "endDate.year": {
              "description": "Year of date. Must be from 1 to 9999.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "startDate.month": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Month of date. Must be from 1 to 12."
            },
            "endDate.day": {
              "type": "integer",
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32"
            },
            "startDate.day": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
            }
          },
          "response": {
            "$ref": "GetCustomerSearchApplicationStatsResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "flatPath": "v1/stats/searchapplication"
        },
        "getQuery": {
          "flatPath": "v1/stats/query",
          "response": {
            "$ref": "GetCustomerQueryStatsResponse"
          },
          "id": "cloudsearch.stats.getQuery",
          "httpMethod": "GET",
          "parameters": {
            "toDate.year": {
              "type": "integer",
              "format": "int32",
              "description": "Year of date. Must be from 1 to 9999.",
              "location": "query"
            },
            "fromDate.day": {
              "format": "int32",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "location": "query",
              "type": "integer"
            },
            "toDate.month": {
              "format": "int32",
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12.",
              "location": "query"
            },
            "fromDate.year": {
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "fromDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "toDate.day": {
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "path": "v1/stats/query",
          "description": "Get the query statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "parameterOrder": []
        }
      },
      "resources": {
        "session": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "flatPath": "v1/stats/session/searchapplications/{searchapplicationsId}",
                  "response": {
                    "$ref": "GetSearchApplicationSessionStatsResponse"
                  },
                  "parameters": {
                    "toDate.day": {
                      "type": "integer",
                      "location": "query",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "format": "int32"
                    },
                    "toDate.month": {
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12.",
                      "location": "query",
                      "type": "integer"
                    },
                    "fromDate.year": {
                      "format": "int32",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "type": "integer",
                      "location": "query"
                    },
                    "toDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "fromDate.month": {
                      "location": "query",
                      "description": "Month of date. Must be from 1 to 12.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "name": {
                      "type": "string",
                      "description": "The resource id of the search application session stats, in the following format: searchapplications/{application_id}",
                      "pattern": "^searchapplications/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "fromDate.day": {
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "id": "cloudsearch.stats.session.searchapplications.get",
                  "path": "v1/stats/session/{+name}",
                  "httpMethod": "GET",
                  "description": "Get the # of search sessions, % of successful sessions with a click query statistics for search application. **Note:** This API requires a standard end user account to execute."
                }
              }
            }
          }
        },
        "index": {
          "resources": {
            "datasources": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "description": "Gets indexed item statistics for a single data source. **Note:** This API requires a standard end user account to execute.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudsearch.stats.index.datasources.get",
                  "parameters": {
                    "fromDate.month": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Month of date. Must be from 1 to 12."
                    },
                    "fromDate.day": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
                    },
                    "fromDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^datasources/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The resource id of the data source to retrieve statistics for, in the following format: \"datasources/{source_id}\""
                    },
                    "toDate.day": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
                    },
                    "toDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "toDate.month": {
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/stats/index/datasources/{datasourcesId}",
                  "response": {
                    "$ref": "GetDataSourceIndexStatsResponse"
                  },
                  "path": "v1/stats/index/{+name}",
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "user": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "id": "cloudsearch.stats.user.searchapplications.get",
                  "parameters": {
                    "toDate.month": {
                      "type": "integer",
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32",
                      "location": "query"
                    },
                    "toDate.day": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "location": "query"
                    },
                    "toDate.year": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Year of date. Must be from 1 to 9999."
                    },
                    "fromDate.day": {
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "name": {
                      "description": "The resource id of the search application session stats, in the following format: searchapplications/{application_id}",
                      "location": "path",
                      "pattern": "^searchapplications/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "fromDate.month": {
                      "location": "query",
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12.",
                      "type": "integer"
                    },
                    "fromDate.year": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query"
                    }
                  },
                  "path": "v1/stats/user/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/stats/user/searchapplications/{searchapplicationsId}",
                  "description": "Get the users statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "response": {
                    "$ref": "GetSearchApplicationUserStatsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ]
                }
              }
            }
          }
        },
        "query": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GetSearchApplicationQueryStatsResponse"
                  },
                  "flatPath": "v1/stats/query/searchapplications/{searchapplicationsId}",
                  "id": "cloudsearch.stats.query.searchapplications.get",
                  "description": "Get the query statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/stats/query/{+name}",
                  "parameters": {
                    "fromDate.month": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12."
                    },
                    "fromDate.year": {
                      "type": "integer",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "format": "int32",
                      "location": "query"
                    },
                    "toDate.day": {
                      "type": "integer",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "format": "int32",
                      "location": "query"
                    },
                    "toDate.month": {
                      "location": "query",
                      "type": "integer",
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32"
                    },
                    "name": {
                      "description": "The resource id of the search application query stats, in the following format: searchapplications/{application_id}",
                      "pattern": "^searchapplications/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "fromDate.day": {
                      "type": "integer",
                      "location": "query",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "format": "int32"
                    },
                    "toDate.year": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Year of date. Must be from 1 to 9999."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "operations": {
      "resources": {
        "lro": {
          "methods": {
            "list": {
              "parameters": {
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "pattern": "^operations/.*$",
                  "description": "The name of the operation's parent resource.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean",
                  "location": "query"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The standard list page size.",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "id": "cloudsearch.operations.lro.list",
              "path": "v1/{+name}/lro",
              "flatPath": "v1/operations/{operationsId}/lro",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.debug",
                "https://www.googleapis.com/auth/cloud_search.indexing",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      },
      "methods": {
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/operations/{operationsId}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "id": "cloudsearch.operations.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.debug",
            "https://www.googleapis.com/auth/cloud_search.indexing",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing",
            "https://www.googleapis.com/auth/cloud_search.settings.query"
          ],
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "v1/{+name}"
        }
      }
    }
  },
  "baseUrl": "https://cloudsearch.googleapis.com/",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud_search.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.query": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.stats.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.stats": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.debug": {
          "description": "Index and serve your organization's data with Cloud Search"
        }
      }
    }
  },
  "schemas": {
    "Schema": {
      "properties": {
        "objectDefinitions": {
          "items": {
            "$ref": "ObjectDefinition"
          },
          "description": "The list of top-level objects for the data source. The maximum number of elements is 10.",
          "type": "array"
        },
        "operationIds": {
          "description": "IDs of the Long Running Operations (LROs) currently running for this schema. After modifying the schema, wait for operations to complete before indexing additional content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The schema definition for a data source.",
      "id": "Schema",
      "type": "object"
    },
    "DataSourceRestriction": {
      "description": "Restriction on Datasource.",
      "type": "object",
      "id": "DataSourceRestriction",
      "properties": {
        "filterOptions": {
          "items": {
            "$ref": "FilterOptions"
          },
          "type": "array",
[...]
