{
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://cloudidentity.mtls.googleapis.com/",
  "revision": "20260920",
  "version_module": true,
  "ownerName": "Google",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "version": "v1",
  "title": "Cloud Identity API",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "canonicalName": "Cloud Identity",
  "schemas": {
    "DeleteGroupMetadata": {
      "id": "DeleteGroupMetadata",
      "properties": {},
      "type": "object",
      "description": "Metadata for DeleteGroup LRO."
    },
    "PolicyQuery": {
      "id": "PolicyQuery",
      "type": "object",
      "description": "PolicyQuery",
      "properties": {
        "sortOrder": {
          "type": "number",
          "description": "Output only. The decimal sort order of this PolicyQuery. The value is relative to all other policies with the same setting type for the customer. (There are no duplicates within this set).",
          "format": "double",
          "readOnly": true
        },
        "orgUnit": {
          "type": "string",
          "description": "Required. Immutable. Non-empty default. The OrgUnit the query applies to. This field is only set if there is a single value for org_unit that satisfies all clauses of the query."
        },
        "group": {
          "description": "Immutable. The group that the query applies to. This field is only set if there is a single value for group that satisfies all clauses of the query. If no group applies, this will be the empty string.",
          "type": "string"
        },
        "query": {
          "description": "Immutable. The CEL query that defines which entities the Policy applies to (ex. a User entity). For details about CEL see https://opensource.google.com/projects/cel. The OrgUnits the Policy applies to are represented by a clause like so: entity.org_units.exists(org_unit, org_unit.org_unit_id == orgUnitId('{orgUnitId}')) The Group the Policy applies to are represented by a clause like so: entity.groups.exists(group, group.group_id == groupId('{groupId}')) The Licenses the Policy applies to are represented by a clause like so: entity.licenses.exists(license, license in ['/product/{productId}/sku/{skuId}']) **Note:** The licenses clause is not supported in mutate endpoints. The above clauses can be present in any combination, and used in conjunction with the &&, || and ! operators. The org_unit and group fields below are helper fields that contain the corresponding value(s) as the query to make the query easier to use.",
          "type": "string"
        }
      }
    },
    "CancelUserInvitationRequest": {
      "properties": {},
      "description": "Request to cancel sent invitation for target email in UserInvitation.",
      "type": "object",
      "id": "CancelUserInvitationRequest"
    },
    "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes": {
      "description": "Resource representing the [Endpoint Verification-specific attributes](https://cloud.google.com/endpoint-verification/docs/device-information) of a device.",
      "type": "object",
      "properties": {
        "certificateAttributes": {
          "description": "Details of certificates.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CertificateAttributes"
          }
        },
        "browserAttributes": {
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1BrowserAttributes"
          },
          "type": "array",
          "description": "Details of browser profiles reported by Endpoint Verification."
        },
        "additionalSignals": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "[Additional signals](https://cloud.google.com/endpoint-verification/docs/device-information) reported by Endpoint Verification. It includes the following attributes: * Non-configurable attributes: hotfixes, av_installed, av_enabled, windows_domain_name, is_os_native_firewall_enabled, and is_secure_boot_enabled. * [Configurable attributes](https://cloud.google.com/endpoint-verification/docs/collect-config-attributes): file, folder, and binary attributes; registry entries; and properties in a plist."
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes"
    },
    "DeleteIdpCredentialOperationMetadata": {
      "id": "DeleteIdpCredentialOperationMetadata",
      "properties": {},
      "description": "LRO response metadata for InboundSamlSsoProfilesService.DeleteIdpCredential.",
      "type": "object"
    },
    "DeleteInboundOidcSsoProfileOperationMetadata": {
      "description": "LRO response metadata for InboundOidcSsoProfilesService.DeleteInboundOidcSsoProfile.",
      "id": "DeleteInboundOidcSsoProfileOperationMetadata",
      "type": "object",
      "properties": {}
    },
    "SearchGroupsResponse": {
      "properties": {
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "description": "The `Group` resources that match the search query.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available."
        }
      },
      "id": "SearchGroupsResponse",
      "description": "The response message for GroupsService.SearchGroups.",
      "type": "object"
    },
    "ListPoliciesResponse": {
      "id": "ListPoliciesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token to retrieve the next page of results. If this field is empty, there are no subsequent pages."
        },
        "policies": {
          "items": {
            "$ref": "Policy"
          },
          "description": "The results",
          "type": "array"
        }
      },
      "description": "The response message for PoliciesService.ListPolicies.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata",
      "description": "Metadata for DeleteDeviceUser LRO.",
      "properties": {},
      "type": "object"
    },
    "GroupRelation": {
      "id": "GroupRelation",
      "type": "object",
      "properties": {
        "group": {
          "description": "Resource name for this group.",
          "type": "string"
        },
        "relationType": {
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ],
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "description": "The relation between the member and the transitive group.",
          "type": "string"
        },
        "roles": {
          "description": "Membership roles of the member for the group.",
          "type": "array",
          "items": {
            "$ref": "TransitiveMembershipRole"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Display name for this group."
        },
        "groupKey": {
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace.",
          "$ref": "EntityKey"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels for Group resource."
        }
      },
      "description": "Message representing a transitive group of a user or a group."
    },
    "GoogleAppsCloudidentityDevicesV1ListClientStatesResponse": {
      "properties": {
        "clientStates": {
          "description": "Client states meeting the list restrictions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1ClientState"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. Empty if there are no more results."
        }
      },
      "type": "object",
      "description": "Response message that is returned in ListClientStates.",
      "id": "GoogleAppsCloudidentityDevicesV1ListClientStatesResponse"
    },
    "ModifyMembershipRolesRequest": {
      "type": "object",
      "properties": {
        "removeRoles": {
          "type": "array",
          "description": "The `name`s of the `MembershipRole`s to be removed. Adding or removing roles in the same request as updating roles is not supported. It is not possible to remove the `MEMBER` `MembershipRole`. If you wish to delete a `Membership`, call MembershipsService.DeleteMembership instead. Must not contain `MEMBER`. Must not be set if `update_roles_params` is set.",
          "items": {
            "type": "string"
          }
        },
        "updateRolesParams": {
          "type": "array",
          "items": {
            "$ref": "UpdateMembershipRolesParams"
          },
          "description": "The `MembershipRole`s to be updated. Updating roles in the same request as adding or removing roles is not supported. Must not be set if either `add_roles` or `remove_roles` is set."
        },
        "addRoles": {
          "items": {
            "$ref": "MembershipRole"
          },
          "description": "The `MembershipRole`s to be added. Adding or removing roles in the same request as updating roles is not supported. Must not be set if `update_roles_params` is set.",
          "type": "array"
        }
      },
      "description": "The request message for MembershipsService.ModifyMembershipRoles.",
      "id": "ModifyMembershipRolesRequest"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse",
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "type": "object",
      "description": "Response message for blocking the device from accessing user data."
    },
    "ListInboundOidcSsoProfilesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "inboundOidcSsoProfiles": {
          "description": "List of InboundOidcSsoProfiles.",
          "items": {
            "$ref": "InboundOidcSsoProfile"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListInboundOidcSsoProfilesResponse",
      "description": "Response of the InboundOidcSsoProfilesService.ListInboundOidcSsoProfiles method."
    },
    "DynamicGroupMetadata": {
      "properties": {
        "queries": {
          "description": "Memberships will be the union of all queries. Only one entry with USER resource is currently supported. Customers can create up to 500 dynamic groups.",
          "type": "array",
          "items": {
            "$ref": "DynamicGroupQuery"
          }
        },
        "status": {
          "$ref": "DynamicGroupStatus",
          "readOnly": true,
          "description": "Output only. Status of the dynamic group."
        }
      },
      "description": "Dynamic group metadata like queries and status.",
      "type": "object",
      "id": "DynamicGroupMetadata"
    },
    "OidcSsoInfo": {
      "description": "Details that are applicable when `sso_mode` is set to `OIDC_SSO`.",
      "type": "object",
      "properties": {
        "inboundOidcSsoProfile": {
          "description": "Required. Name of the `InboundOidcSsoProfile` to use. Must be of the form `inboundOidcSsoProfiles/{inbound_oidc_sso_profile}`. ",
          "type": "string"
        }
      },
      "id": "OidcSsoInfo"
    },
    "GoogleAppsCloudidentityDevicesV1DeviceUser": {
      "properties": {
        "managementState": {
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "WIPING",
            "WIPED",
            "APPROVED",
            "BLOCKED",
            "PENDING_APPROVAL",
            "UNENROLLED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Management state of the user on the device.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This user's data and profile is being removed from the device.",
            "This user's data and profile is removed from the device.",
            "User is approved to access data on the device.",
            "User is blocked from accessing data on the device.",
            "User is awaiting approval.",
            "User is unenrolled from Advanced Windows Management, but the Windows account is still intact."
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device}/deviceUsers/{device_user}`, where `device_user` uniquely identifies a user's use of a device.",
          "type": "string"
        },
        "passwordState": {
          "type": "string",
          "enumDescriptions": [
            "Password state not set.",
            "Password set in object.",
            "Password not set in object."
          ],
          "description": "Password state of the DeviceUser object",
          "enum": [
            "PASSWORD_STATE_UNSPECIFIED",
            "PASSWORD_SET",
            "PASSWORD_NOT_SET"
          ]
        },
        "userAgent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. User agent on the device for this specific user"
        },
        "compromisedState": {
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "NOT_COMPROMISED"
          ],
          "enumDescriptions": [
            "Compromised state of Device User account is unknown or unspecified.",
            "Device User Account is compromised.",
            "Device User Account is not compromised."
          ],
          "description": "Compromised State of the DeviceUser object",
          "type": "string"
        },
        "languageCode": {
          "description": "Output only. Default locale used on device, in IETF BCP-47 format.",
          "type": "string",
          "readOnly": true
        },
        "userEmail": {
          "description": "Email address of the user registered on the device.",
          "type": "string"
        },
        "firstSyncTime": {
          "format": "google-datetime",
          "description": "Output only. Most recent time when user registered with this service.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "When the user first signed in to the device",
          "format": "google-datetime",
          "type": "string"
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last time when user synced with policies.",
          "type": "string"
        }
      },
      "description": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device",
      "id": "GoogleAppsCloudidentityDevicesV1DeviceUser",
      "type": "object"
    },
    "ListInboundSamlSsoProfilesResponse": {
      "type": "object",
      "id": "ListInboundSamlSsoProfilesResponse",
      "properties": {
        "inboundSamlSsoProfiles": {
          "type": "array",
          "description": "List of InboundSamlSsoProfiles.",
          "items": {
            "$ref": "InboundSamlSsoProfile"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response of the InboundSamlSsoProfilesService.ListInboundSamlSsoProfiles method."
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse": {
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      },
      "description": "Response message for approving the device to access user data.",
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse"
    },
    "OidcIdpConfig": {
      "properties": {
        "changePasswordUri": {
          "type": "string",
          "description": "The **Change Password URL** of the identity provider. Users will be sent to this URL when changing their passwords at `myaccount.google.com`. This takes precedence over the change password URL configured at customer-level. Must use `HTTPS`."
        },
        "issuerUri": {
          "type": "string",
          "description": "Required. The Issuer identifier for the IdP. Must be a URL. The discovery URL will be derived from this as described in Section 4 of [the OIDC specification](https://openid.net/specs/openid-connect-discovery-1_0.html)."
        }
      },
      "id": "OidcIdpConfig",
      "description": "OIDC IDP (identity provider) configuration.",
      "type": "object"
    },
    "CheckTransitiveMembershipResponse": {
      "description": "The response message for MembershipsService.CheckTransitiveMembership.",
      "id": "CheckTransitiveMembershipResponse",
      "type": "object",
      "properties": {
        "hasMembership": {
          "description": "Response does not include the possible roles of a member since the behavior of this rpc is not all-or-nothing unlike the other rpcs. So, it may not be possible to list all the roles definitively, due to possible lack of authorization in some of the paths.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse": {
      "properties": {
        "device": {
          "$ref": "GoogleAppsCloudidentityDevicesV1Device",
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object."
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse",
      "type": "object",
      "description": "Response message for wiping all data on the device."
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse": {
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "GoogleAppsCloudidentityDevicesV1Device"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse",
      "description": "Response message for cancelling an unfinished device wipe.",
      "type": "object"
    },
    "RestrictionEvaluations": {
      "description": "Evaluations of restrictions applied to parent group on this membership.",
      "properties": {
        "memberRestrictionEvaluation": {
          "description": "Evaluation of the member restriction applied to this membership. Empty if the user lacks permission to view the restriction evaluation.",
          "$ref": "MembershipRoleRestrictionEvaluation"
        }
      },
      "id": "RestrictionEvaluations",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1ListDeviceUsersResponse": {
      "properties": {
        "deviceUsers": {
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
          },
          "type": "array",
          "description": "Devices meeting the list restrictions."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message that is returned from the ListDeviceUsers method.",
      "id": "GoogleAppsCloudidentityDevicesV1ListDeviceUsersResponse"
    },
    "GoogleAppsCloudidentityDevicesV1LookupSelfDeviceUsersResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1LookupSelfDeviceUsersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. Empty if there are no more results."
        },
        "customer": {
          "type": "string",
          "description": "The customer resource name that may be passed back to other Devices API methods such as List, Get, etc."
        },
        "names": {
          "type": "array",
          "description": "[Resource names](https://cloud.google.com/apis/design/resource_names) of the DeviceUsers in the format: `devices/{device}/deviceUsers/{user_resource}`, where device is the unique ID assigned to a Device and user_resource is the unique user ID",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response containing resource names of the DeviceUsers associated with the caller's credentials."
    },
    "SearchTransitiveMembershipsResponse": {
      "id": "SearchTransitiveMembershipsResponse",
      "description": "The response message for MembershipsService.SearchTransitiveMemberships.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        },
        "memberships": {
          "items": {
            "$ref": "MemberRelation"
          },
          "description": "List of transitive members satisfying the query.",
          "type": "array"
        }
      }
    },
    "ExternalId": {
      "id": "ExternalId",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The unique identifier assigned by the external identity provider. The API does not enforce unique IDs across entities, but clients **must** ensure IDs are unique within their namespace."
        },
        "namespace": {
          "description": "Required. The namespace in which the entity exists. The only supported namespace is `system/external`.",
          "type": "string"
        }
      },
      "description": "Represents an external identifier that links a Group in the Cloud Identity Groups API with a corresponding entity in an external directory or identity provider.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse",
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "type": "object",
      "description": "Response message for wiping the user's account from the device."
    },
    "SamlIdpConfig": {
      "properties": {
        "changePasswordUri": {
          "type": "string",
          "description": "The **Change Password URL** of the identity provider. Users will be sent to this URL when changing their passwords at `myaccount.google.com`. This takes precedence over the change password URL configured at customer-level. Must use `HTTPS`."
        },
        "entityId": {
          "type": "string",
          "description": "Required. The SAML **Entity ID** of the identity provider."
        },
        "singleSignOnServiceUri": {
          "type": "string",
          "description": "Required. The `SingleSignOnService` endpoint location (sign-in page URL) of the identity provider. This is the URL where the `AuthnRequest` will be sent. Must use `HTTPS`. Assumed to accept the `HTTP-Redirect` binding."
        },
        "logoutRedirectUri": {
          "description": "The **Logout Redirect URL** (sign-out page URL) of the identity provider. When a user clicks the sign-out link on a Google page, they will be redirected to this URL. This is a pure redirect with no attached SAML `LogoutRequest` i.e. SAML single logout is not supported. Must use `HTTPS`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SamlIdpConfig",
      "description": "SAML IDP (identity provider) configuration."
    },
    "GoogleAppsCloudidentityDevicesV1BrowserAttributes": {
      "id": "GoogleAppsCloudidentityDevicesV1BrowserAttributes",
      "type": "object",
      "properties": {
        "chromeProfileId": {
          "type": "string",
          "description": "Chrome profile ID that is exposed by the Chrome API. It is unique for each device."
        },
        "chromeBrowserInfo": {
          "description": "Represents the current state of the [Chrome browser attributes](https://cloud.google.com/access-context-manager/docs/browser-attributes) sent by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
          "$ref": "GoogleAppsCloudidentityDevicesV1BrowserInfo"
        },
        "lastProfileSyncTime": {
          "format": "google-datetime",
          "description": "Timestamp in milliseconds since the Unix epoch when the profile/gcm id was last synced.",
          "type": "string"
        }
      },
      "description": "Contains information about browser profiles reported by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1)."
    },
    "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata": {
      "type": "object",
      "description": "Metadata for CreateDevice LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata",
      "properties": {}
    },
    "IsInvitableUserResponse": {
      "id": "IsInvitableUserResponse",
      "description": "Response for IsInvitableUser RPC.",
      "type": "object",
      "properties": {
        "isInvitableUser": {
          "description": "Returns true if the email address is invitable.",
          "type": "boolean"
        }
      }
    },
    "Group": {
      "properties": {
        "groupKey": {
          "description": "Required. The `EntityKey` of the `Group`.",
          "$ref": "EntityKey"
        },
        "dynamicGroupMetadata": {
          "description": "Optional. Dynamic group metadata like queries and status.",
          "$ref": "DynamicGroupMetadata"
        },
        "name": {
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group}`.",
          "type": "string",
          "readOnly": true
        },
        "additionalGroupKeys": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "EntityKey"
          },
          "description": "Output only. Additional group keys associated with the Group."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. One or more label entries that apply to the Group. Labels contain a key with an empty value. Google Groups are the default type of group and have a label with a key of `cloudidentity.googleapis.com/groups.discussion_forum` and an empty value. Existing Google Groups can have an additional label with a key of `cloudidentity.googleapis.com/groups.security` and an empty value added to them. **This is an immutable change and the security label cannot be removed once added.** Dynamic groups have a label with a key of `cloudidentity.googleapis.com/groups.dynamic`. Identity-mapped groups for Cloud Search have a label with a key of `system/groups/external` and an empty value. Google Groups can be [locked](https://support.google.com/a?p=locked-groups). To lock a group, add a label with a key of `cloudidentity.googleapis.com/groups.locked` and an empty value. Doing so locks the group. To unlock the group, remove this label."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the `Group` was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "externalIds": {
          "description": "Optional. External identifiers associated with the `Group`. Allows external identity providers and directory sync tools link their native unique identifiers with this group. The only supported namespace is `system/external`.",
          "items": {
            "$ref": "ExternalId"
          },
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the `Group` was created."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the `Group`."
        },
        "parent": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the entity under which this `Group` resides in the Cloud Identity resource hierarchy. Must be of the form `identitysources/{identity_source}` for external [identity-mapped groups](https://support.google.com/a/answer/9039510) or `customers/{customer_id}` for Google Groups. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793)"
        },
        "description": {
          "type": "string",
          "description": "An extended description to help users determine the purpose of a `Group`. Must not be longer than 4,096 characters."
        }
      },
      "type": "object",
      "id": "Group",
      "description": "A group within the Cloud Identity Groups API. A `Group` is a collection of entities, where each entity is either a user, another group, or a service account."
    },
    "AllowlistedDomain": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Identifier. Resource name of the domain in the allowlist e.g. \"allowlistedDomains/0184mhaj1smlusv\"",
          "readOnly": true,
          "type": "string"
        },
        "domain": {
          "description": "Required. Immutable. Name of the domain that is in the allowlist. e.g. \"google.com\"",
          "type": "string"
        }
      },
      "id": "AllowlistedDomain",
      "description": "This resource object defines a domain that has been designated as allowlisted."
    },
    "GoogleAppsCloudidentityDevicesV1ClientState": {
      "type": "object",
      "description": "Represents the state associated with an API client calling the Devices API. Resource representing ClientState and supports updates from API users",
      "id": "GoogleAppsCloudidentityDevicesV1ClientState",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device}/deviceUsers/{device_user}/clientState/{partner}`, where partner corresponds to the partner storing the data. For partners belonging to the \"BeyondCorp Alliance\", this is the partner ID specified to you by Google. For all other callers, this is a string of the form: `{customer}-suffix`, where `customer` is your customer ID. The *suffix* is any string the caller specifies. This string will be displayed verbatim in the administration console. This suffix is used in setting up Custom Access Levels in Context-Aware Access. Your organization's customer ID can be obtained from the URL: `GET https://www.googleapis.com/admin/directory/v1/customers/my_customer` The `id` field in the response contains the customer ID starting with the letter 'C'. The customer ID to be used in this API is the string after the letter 'C' (not including 'C')",
          "type": "string"
        },
        "etag": {
          "description": "The token that needs to be passed back for concurrency control in updates. Token needs to be passed back in UpdateRequest",
          "type": "string"
        },
        "healthScore": {
          "type": "string",
          "enumDescriptions": [
            "Default value",
            "The object is in very poor health as defined by the caller.",
            "The object is in poor health as defined by the caller.",
            "The object health is neither good nor poor, as defined by the caller.",
            "The object is in good health as defined by the caller.",
            "The object is in very good health as defined by the caller."
          ],
          "description": "The Health score of the resource. The Health score is the callers specification of the condition of the device from a usability point of view. For example, a third-party device management provider may specify a health score based on its compliance with organizational policies.",
          "enum": [
            "HEALTH_SCORE_UNSPECIFIED",
            "VERY_POOR",
            "POOR",
            "NEUTRAL",
            "GOOD",
            "VERY_GOOD"
          ]
        },
        "ownerType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown owner type",
            "Customer is the owner",
            "Partner is the owner"
          ],
          "enum": [
            "OWNER_TYPE_UNSPECIFIED",
            "OWNER_TYPE_CUSTOMER",
            "OWNER_TYPE_PARTNER"
          ],
          "description": "Output only. The owner of the ClientState",
          "readOnly": true
        },
        "managed": {
          "description": "The management state of the resource as specified by the API client.",
          "enum": [
            "MANAGED_STATE_UNSPECIFIED",
            "MANAGED",
            "UNMANAGED"
          ],
          "enumDescriptions": [
            "The management state of the resource is unknown or unspecified.",
            "The resource is managed.",
            "The resource is not managed."
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the client state data was created.",
          "readOnly": true
        },
        "complianceState": {
          "type": "string",
          "enumDescriptions": [
            "The compliance state of the resource is unknown or unspecified.",
            "Device is compliant with third party policies",
            "Device is not compliant with third party policies"
          ],
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT"
          ],
          "description": "The compliance state of the resource as specified by the API client."
        },
        "customId": {
          "type": "string",
          "description": "This field may be used to store a unique identifier for the API resource within which these CustomAttributes are a field."
        },
        "keyValuePairs": {
          "additionalProperties": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue"
          },
          "type": "object",
          "description": "The map of key-value attributes stored by callers specific to a device. The total serialized length of this map may not exceed 10KB. No limit is placed on the number of attributes in a map."
        },
        "scoreReason": {
          "description": "A descriptive cause of the health score.",
          "type": "string"
        },
        "assetTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The caller can specify asset tags for this resource"
        },
        "lastUpdateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the client state data was last updated.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1Device": {
      "description": " A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user.",
      "id": "GoogleAppsCloudidentityDevicesV1Device",
      "properties": {
        "networkOperator": {
          "type": "string",
          "description": "Output only. Mobile or network operator of device, if available.",
          "readOnly": true
        },
        "meid": {
          "type": "string",
          "description": "Output only. MEID number of device if CDMA device; empty otherwise.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique id assigned to the Device. Important: Device API scopes require that you use domain-wide delegation to access the API. For more information, see [Set up the Devices API](https://cloud.google.com/identity/docs/how-to/setup-devices)."
        },
        "unifiedDeviceId": {
          "readOnly": true,
          "description": "Output only. Unified device id of the device.",
          "type": "string"
        },
        "brand": {
          "description": "Output only. Device brand. Example: Samsung.",
          "readOnly": true,
          "type": "string"
        },
        "androidSpecificAttributes": {
          "description": "Output only. Attributes specific to Android devices.",
          "$ref": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
          "readOnly": true
        },
        "encryptionState": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device encryption state.",
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ],
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ]
        },
        "imei": {
          "description": "Output only. IMEI number of device if GSM device; empty otherwise.",
          "readOnly": true,
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Unique identifier for the device."
        },
        "enabledDeveloperOptions": {
          "description": "Output only. Whether developer options is enabled on device.",
          "type": "boolean",
          "readOnly": true
        },
        "assetTag": {
          "description": "Asset tag of the device.",
          "type": "string"
        },
        "bootloaderVersion": {
          "type": "string",
          "description": "Output only. Device bootloader version. Example: 0.6.7.",
          "readOnly": true
        },
        "osVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. OS version of the device. Example: Android 8.1.0."
        },
        "kernelVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Kernel version of the device."
        },
        "otherAccounts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\".",
          "readOnly": true
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial Number of device. Example: HT82V1A01076."
        },
        "managementState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. Device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ],
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ],
          "description": "Output only. Management state of the device",
          "type": "string",
          "readOnly": true
        },
        "hostname": {
          "type": "string",
          "description": "Host name of the device."
        },
        "wifiMacAddresses": {
          "description": "WiFi MAC addresses of device.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "releaseVersion": {
          "readOnly": true,
          "description": "Output only. OS release version. Example: 6.0.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices.",
          "format": "google-datetime",
          "readOnly": true
        },
        "deviceType": {
          "description": "Output only. Type of device.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS"
          ],
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device."
          ]
        },
        "basebandVersion": {
          "description": "Output only. Baseband version of the device.",
          "readOnly": true,
          "type": "string"
        },
        "manufacturer": {
          "description": "Output only. Device manufacturer. Example: Motorola.",
          "type": "string",
          "readOnly": true
        },
        "buildNumber": {
          "type": "string",
          "description": "Output only. Build number of the device.",
          "readOnly": true
        },
        "ownerType": {
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ],
          "description": "Output only. Whether the device is owned by the company or an individual"
        },
        "enabledUsbDebugging": {
          "type": "boolean",
          "description": "Output only. Whether USB debugging is enabled on device.",
          "readOnly": true
        },
        "model": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Model name of device. Example: Pixel 3."
        },
        "securityPatchTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. OS security patch update time on device."
        },
        "lastSyncTime": {
          "description": "Most recent time when device synced with this service.",
          "type": "string",
          "format": "google-datetime"
        },
        "endpointVerificationSpecificAttributes": {
          "description": "Output only. Attributes specific to [Endpoint Verification](https://cloud.google.com/endpoint-verification/docs/overview) devices.",
          "readOnly": true,
          "$ref": "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes"
        },
        "compromisedState": {
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ],
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ],
          "description": "Output only. Represents whether the Device is compromised.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CertificateAttributes": {
      "properties": {
        "validationState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "CERTIFICATE_VALIDATION_STATE_UNSPECIFIED",
            "VALIDATION_SUCCESSFUL",
            "VALIDATION_FAILED"
          ],
          "description": "Output only. Validation state of this certificate.",
          "enumDescriptions": [
            "Default value.",
            "Certificate validation was successful.",
            "Certificate validation failed."
          ]
        },
        "subject": {
          "description": "The subject name of this certificate.",
          "type": "string"
        },
        "validityStartTime": {
          "format": "google-datetime",
          "description": "Certificate not valid before this timestamp.",
          "type": "string"
        },
        "issuer": {
          "type": "string",
          "description": "The name of the issuer of this certificate."
        },
        "thumbprint": {
          "description": "The certificate thumbprint.",
          "type": "string"
        },
        "validityExpirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Certificate not valid at or after this timestamp."
        },
        "fingerprint": {
          "type": "string",
          "description": "The encoded certificate fingerprint."
        },
        "serialNumber": {
          "description": "Serial number of the certificate, Example: \"123456789\".",
          "type": "string"
        },
        "certificateTemplate": {
          "$ref": "GoogleAppsCloudidentityDevicesV1CertificateTemplate",
          "description": "The X.509 extension for CertificateTemplate."
        }
      },
      "description": "Stores information about a certificate.",
      "id": "GoogleAppsCloudidentityDevicesV1CertificateAttributes",
      "type": "object"
    },
    "AddIdpCredentialRequest": {
      "id": "AddIdpCredentialRequest",
      "description": "The request for creating an IdpCredential with its associated payload. An InboundSamlSsoProfile can own up to 2 credentials.",
      "type": "object",
      "properties": {
        "pemData": {
          "description": "PEM encoded x509 certificate containing the public key for verifying IdP signatures.",
          "type": "string"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "policyQuery": {
          "description": "Required. The PolicyQuery the Setting applies to.",
          "$ref": "PolicyQuery"
        },
        "setting": {
          "$ref": "Setting",
          "description": "Required. The Setting configured by this Policy."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified policy type.",
            "Policy type denoting the system-configured policies.",
            "Policy type denoting the admin-configurable policies."
          ],
          "description": "Output only. The type of the policy.",
          "readOnly": true,
          "enum": [
            "POLICY_TYPE_UNSPECIFIED",
            "SYSTEM",
            "ADMIN"
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The [resource name](https://cloud.google.com/apis/design/resource_names) of the Policy. Format: policies/{policy}.",
          "type": "string"
        },
        "customer": {
          "description": "Immutable. Customer that the Policy belongs to. The value is in the format 'customers/{customerId}'. The `customerId` must begin with \"C\" To find your customer ID in Admin Console see https://support.google.com/a/answer/10070793.",
          "type": "string"
        }
      },
      "description": "A Policy resource binds an instance of a single Setting with the scope of a PolicyQuery. The Setting instance will be applied to all entities that satisfy the query.",
      "type": "object"
    },
    "GetMembershipGraphResponse": {
      "properties": {
        "adjacencyList": {
          "items": {
            "$ref": "MembershipAdjacencyList"
          },
          "type": "array",
          "description": "The membership graph's path information represented as an adjacency list."
        },
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "description": "The resources representing each group in the adjacency list. Each group in this list can be correlated to a 'group' of the MembershipAdjacencyList using the 'name' of the Group resource.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for MembershipsService.GetMembershipGraph.",
      "id": "GetMembershipGraphResponse"
    },
    "InboundSsoAssignment": {
      "description": "Targets with \"set\" SSO assignments and their respective assignments.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Inbound SSO Assignment.",
          "type": "string"
        },
        "oidcSsoInfo": {
          "description": "OpenID Connect SSO details. Must be set if and only if `sso_mode` is set to `OIDC_SSO`.",
          "$ref": "OidcSsoInfo"
        },
        "targetGroup": {
          "type": "string",
          "description": "Immutable. Must be of the form `groups/{group}`."
        },
        "targetOrgUnit": {
          "description": "Immutable. Must be of the form `orgUnits/{org_unit}`.",
          "type": "string"
        },
        "samlSsoInfo": {
          "$ref": "SamlSsoInfo",
          "description": "SAML SSO details. Must be set if and only if `sso_mode` is set to `SAML_SSO`."
        },
        "rank": {
          "type": "integer",
          "description": "Must be zero (which is the default value so it can be omitted) for assignments with `target_org_unit` set and must be greater-than-or-equal-to one for assignments with `target_group` set.",
          "format": "int32"
        },
        "signInBehavior": {
          "$ref": "SignInBehavior",
          "description": "Assertions about users assigned to an IdP will always be accepted from that IdP. This controls whether/when Google should redirect a user to the IdP. Unset (defaults) is the recommended configuration."
        },
        "ssoMode": {
          "enum": [
            "SSO_MODE_UNSPECIFIED",
            "SSO_OFF",
            "SAML_SSO",
            "OIDC_SSO",
            "DOMAIN_WIDE_SAML_IF_ENABLED"
          ],
          "description": "Inbound SSO behavior.",
          "type": "string",
          "enumDescriptions": [
            "Not allowed.",
            "Disable SSO for the targeted users.",
            "Use an external SAML Identity Provider for SSO for the targeted users.",
            "Use an external OIDC Identity Provider for SSO for the targeted users.",
            "Use the domain-wide SAML Identity Provider for the targeted users if one is configured; otherwise, this is equivalent to `SSO_OFF`. Note that this will also be equivalent to `SSO_OFF` if/when support for domain-wide SAML is removed. Google may disallow this mode at that point and existing assignments with this mode may be automatically changed to `SSO_OFF`."
          ]
        },
        "customer": {
          "description": "Immutable. The customer. For example: `customers/C0123abc`.",
          "type": "string"
        }
      },
      "id": "InboundSsoAssignment"
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata",
      "description": "Metadata for DeleteDevice LRO.",
      "type": "object",
      "properties": {}
    },
    "MemberRestriction": {
      "properties": {
        "query": {
          "description": "Member Restriction as defined by CEL expression. Supported restrictions are: `member.customer_id` and `member.type`. Valid values for `member.type` are `1`, `2` and `3`. They correspond to USER, SERVICE_ACCOUNT, and GROUP respectively. The value for `member.customer_id` only supports `groupCustomerId()` currently which means the customer id of the group will be used for restriction. Supported operators are `&&`, `||` and `==`, corresponding to AND, OR, and EQUAL. Examples: Allow only service accounts of given customer to be members. `member.type == 2 && member.customer_id == groupCustomerId()` Allow only users or groups to be members. `member.type == 1 || member.type == 3`",
          "type": "string"
        },
        "evaluation": {
          "description": "The evaluated state of this restriction on a group.",
          "$ref": "RestrictionEvaluation"
        }
      },
      "type": "object",
      "id": "MemberRestriction",
      "description": "The definition of MemberRestriction"
    },
    "UpdateInboundOidcSsoProfileOperationMetadata": {
      "description": "LRO response metadata for InboundOidcSsoProfilesService.UpdateInboundOidcSsoProfile.",
      "properties": {
        "state": {
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448).",
          "type": "string"
        }
      },
      "id": "UpdateInboundOidcSsoProfileOperationMetadata",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata": {
      "properties": {},
      "description": "Metadata for WipeDeviceUser LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata",
      "type": "object"
    },
    "InboundOidcSsoProfile": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the OIDC SSO profile.",
          "type": "string"
        },
        "customer": {
          "description": "Immutable. The customer. For example: `customers/C0123abc`.",
          "type": "string"
        },
        "displayName": {
          "description": "Human-readable name of the OIDC SSO profile.",
          "type": "string"
        },
        "rpConfig": {
          "description": "OIDC relying party (RP) configuration for this OIDC SSO profile. These are the RP details provided by Google that should be configured on the corresponding identity provider.",
          "$ref": "OidcRpConfig"
        },
        "idpConfig": {
          "description": "OIDC identity provider configuration.",
          "$ref": "OidcIdpConfig"
        }
      },
      "id": "InboundOidcSsoProfile",
      "description": "An [OIDC](https://openid.net/developers/how-connect-works/) federation between a Google enterprise customer and an OIDC identity provider."
    },
    "CreateInboundSamlSsoProfileOperationMetadata": {
      "id": "CreateInboundSamlSsoProfileOperationMetadata",
      "properties": {
        "state": {
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.CreateInboundSamlSsoProfile."
    },
    "UpdateInboundSsoAssignmentOperationMetadata": {
      "description": "LRO response metadata for InboundSsoAssignmentsService.UpdateInboundSsoAssignment.",
      "id": "UpdateInboundSsoAssignmentOperationMetadata",
      "type": "object",
      "properties": {}
    },
    "MemberRelation": {
      "description": "Message representing a transitive membership of a group.",
      "type": "object",
      "id": "MemberRelation",
      "properties": {
        "preferredMemberKey": {
          "items": {
            "$ref": "EntityKey"
          },
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace.",
          "type": "array"
        },
        "roles": {
          "description": "The membership role details (i.e name of role and expiry time).",
          "items": {
            "$ref": "TransitiveMembershipRole"
          },
          "type": "array"
        },
        "member": {
          "type": "string",
          "description": "Resource name for this member."
        },
        "relationType": {
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "description": "The relation between the group and the transitive member.",
          "type": "string",
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ]
        }
      }
    },
    "ModifyMembershipRolesResponse": {
      "id": "ModifyMembershipRolesResponse",
      "properties": {
        "membership": {
          "description": "The `Membership` resource after modifying its `MembershipRole`s.",
          "$ref": "Membership"
        }
      },
      "type": "object",
      "description": "The response message for MembershipsService.ModifyMembershipRoles."
    },
    "UserInvitation": {
      "description": "The `UserInvitation` resource represents an email that can be sent to an unmanaged user account inviting them to join the customer's Google Workspace or Cloud Identity account. An unmanaged account shares an email address domain with the Google Workspace or Cloud Identity account but is not managed by it yet. If the user accepts the `UserInvitation`, the user account will become managed.",
      "type": "object",
      "id": "UserInvitation",
      "properties": {
        "name": {
          "description": "Shall be of the form `customers/{customer}/userinvitations/{user_email_address}`.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The `UserInvitation` has been created and is ready for sending as an email.",
            "The user has been invited by email.",
            "The user has accepted the invitation and is part of the organization.",
            "The user declined the invitation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_YET_SENT",
            "INVITED",
            "ACCEPTED",
            "DECLINED"
          ],
          "description": "State of the `UserInvitation`."
        },
        "mailsSentCount": {
          "type": "string",
          "description": "Number of invitation emails sent to the user.",
          "format": "int64"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the `UserInvitation` was last updated."
        }
      }
    },
    "ListAllowlistedDomainsResponse": {
      "type": "object",
      "properties": {
        "allowlistedDomains": {
          "type": "array",
          "items": {
            "$ref": "AllowlistedDomain"
          },
          "description": "Contains the list of domains in the allowlist. There is no defined ordering of domains within a result."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Contains the next page token if the result is not exhaustive. If there are no more results, this token is empty."
        }
      },
      "description": "Response message for AllowlistedDomainsService.ListAllowlistedDomains.",
      "id": "ListAllowlistedDomainsResponse"
    },
    "EntityKey": {
      "description": "A unique identifier for an entity in the Cloud Identity Groups API. An entity can represent either a group with an optional `namespace` or a user without a `namespace`. The combination of `id` and `namespace` must be unique; however, the same `id` can be used with different `namespace`s.",
      "id": "EntityKey",
      "type": "object",
      "properties": {
        "namespace": {
          "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source}`.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the entity. For Google-managed entities, the `id` should be the email address of an existing group or user. Email addresses need to adhere to [name guidelines for users and groups](https://support.google.com/a/answer/9193374). For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
          "type": "string"
        }
      }
    },
    "LookupGroupNameResponse": {
      "properties": {
        "name": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Group`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LookupGroupNameResponse",
      "description": "The response message for GroupsService.LookupGroupName."
    },
    "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata": {
      "type": "object",
      "description": "Metadata for UpdateClientState LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata",
      "properties": {}
    },
    "ListIdpCredentialsResponse": {
      "description": "Response of the InboundSamlSsoProfilesService.ListIdpCredentials method.",
      "id": "ListIdpCredentialsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "idpCredentials": {
          "description": "The IdpCredentials from the specified InboundSamlSsoProfile.",
          "items": {
            "$ref": "IdpCredential"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CustomAttributeValue": {
      "type": "object",
      "properties": {
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "numberValue": {
          "type": "number",
          "description": "Represents a double value.",
          "format": "double"
        }
      },
      "description": "Additional custom attribute values may be one of these types",
      "id": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue"
    },
    "DsaPublicKeyInfo": {
      "id": "DsaPublicKeyInfo",
      "properties": {
        "keySize": {
          "description": "Key size in bits (size of parameter P).",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Information of a DSA public key.",
      "type": "object"
    },
    "SearchTransitiveGroupsResponse": {
      "description": "The response message for MembershipsService.SearchTransitiveGroups.",
      "properties": {
        "memberships": {
          "description": "List of transitive groups satisfying the query.",
          "type": "array",
          "items": {
            "$ref": "GroupRelation"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SearchTransitiveGroupsResponse"
    },
    "SamlSpConfig": {
      "id": "SamlSpConfig",
      "properties": {
        "assertionConsumerServiceUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The SAML **Assertion Consumer Service (ACS) URL** to be used for the IDP-initiated login. Assumed to accept response messages via the `HTTP-POST` binding."
        },
        "entityId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The SAML **Entity ID** for this service provider."
        }
      },
      "description": "SAML SP (service provider) configuration.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserRequest": {
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserRequest",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
          "type": "string"
        }
      },
      "description": "Request message for approving the device to access user data.",
      "type": "object"
    },
    "LookupMembershipNameResponse": {
      "properties": {
        "name": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Membership`. Must be of the form `groups/{group}/memberships/{membership}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LookupMembershipNameResponse",
      "description": "The response message for MembershipsService.LookupMembershipName."
    },
    "OidcRpConfig": {
      "description": "OIDC RP (relying party) configuration.",
      "id": "OidcRpConfig",
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "OAuth2 client ID for OIDC."
        },
        "clientSecret": {
          "description": "Input only. OAuth2 client secret for OIDC.",
          "type": "string"
        },
        "redirectUris": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The URL(s) that this client may use in authentication requests."
        }
      }
    },
    "RsaPublicKeyInfo": {
      "description": "Information of a RSA public key.",
      "type": "object",
      "id": "RsaPublicKeyInfo",
      "properties": {
        "keySize": {
          "type": "integer",
          "format": "int32",
          "description": "Key size in bits (size of the modulus)."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1AndroidAttributes": {
      "description": "Resource representing the Android specific attributes of a Device.",
      "type": "object",
      "properties": {
        "hasPotentiallyHarmfulApps": {
          "type": "boolean",
          "description": "Whether any potentially harmful apps were detected on the device."
        },
        "ownershipPrivilege": {
          "enumDescriptions": [
            "Ownership privilege is not set.",
            "Active device administrator privileges on the device.",
            "Profile Owner privileges. The account is in a managed corporate profile.",
            "Device Owner privileges on the device."
          ],
          "enum": [
            "OWNERSHIP_PRIVILEGE_UNSPECIFIED",
            "DEVICE_ADMINISTRATOR",
            "PROFILE_OWNER",
            "DEVICE_OWNER"
          ],
          "description": "Ownership privileges on device.",
          "type": "string"
        },
        "verifiedBoot": {
          "description": "Whether Android verified boot status is GREEN.",
          "type": "boolean"
        },
        "verifyAppsEnabled": {
          "type": "boolean",
          "description": "Whether Google Play Protect Verify Apps is enabled."
        },
        "supportsWorkProfile": {
          "description": "Whether device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy.",
          "type": "boolean"
        },
        "ownerProfileAccount": {
          "description": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles.",
          "type": "boolean"
        },
        "ctsProfileMatch": {
          "description": "Whether the device passes Android CTS compliance.",
          "type": "boolean"
        },
        "enabledUnknownSources": {
          "description": "Whether applications from unknown sources can be installed on device.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1AndroidAttributes"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata",
      "type": "object",
      "description": "Metadata for CancelWipeDevice LRO.",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserRequest": {
      "description": "Request message for cancelling an unfinished user account wipe.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
          "type": "string"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserRequest",
      "type": "object"
    },
    "IdpCredential": {
      "description": "Credential for verifying signatures produced by the Identity Provider.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the credential.",
          "type": "string"
        },
        "dsaKeyInfo": {
          "readOnly": true,
          "$ref": "DsaPublicKeyInfo",
          "description": "Output only. Information of a DSA public key."
        },
        "rsaKeyInfo": {
          "$ref": "RsaPublicKeyInfo",
          "description": "Output only. Information of a RSA public key.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the `IdpCredential` was last updated.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "IdpCredential",
      "type": "object"
    },
    "DynamicGroupQuery": {
      "description": "Defines a query on a resource.",
      "properties": {
        "query": {
          "type": "string",
          "description": "Query that determines the memberships of the dynamic group. Examples: All users with at least one `organizations.department` of engineering. `user.organizations.exists(org, org.department=='engineering')` All users with at least one location that has `area` of `foo` and `building_id` of `bar`. `user.locations.exists(loc, loc.area=='foo' && loc.building_id=='bar')` All users with any variation of the name John Doe (case-insensitive queries add `equalsIgnoreCase()` to the value being queried). `user.name.value.equalsIgnoreCase('jOhn DoE')`"
        },
        "resourceType": {
          "enumDescriptions": [
            "Default value (not valid)",
            "For queries on User"
          ],
          "type": "string",
          "description": "Resource type for the Dynamic Group Query",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "USER"
          ]
        }
      },
      "type": "object",
      "id": "DynamicGroupQuery"
    },
    "SearchDirectGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing."
        },
        "memberships": {
          "items": {
            "$ref": "MembershipRelation"
          },
          "type": "array",
          "description": "List of direct groups satisfying the query."
        }
      },
      "type": "object",
      "id": "SearchDirectGroupsResponse",
      "description": "The response message for MembershipsService.SearchDirectGroups."
    },
    "SignInBehavior": {
      "properties": {
        "redirectCondition": {
          "enum": [
            "REDIRECT_CONDITION_UNSPECIFIED",
            "NEVER"
          ],
          "description": "When to redirect sign-ins to the IdP.",
          "enumDescriptions": [
            "Default and means \"always\"",
            "Sign-in flows where the user is prompted for their identity will not redirect to the IdP (so the user will most likely be prompted by Google for a password), but special flows like IdP-initiated SAML and sign-in following automatic redirection to the IdP by domain-specific service URLs will accept the IdP's assertion of the user's identity."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "SignInBehavior",
      "description": "Controls sign-in behavior."
    },
    "UpdateMembershipRolesParams": {
      "description": "The details of an update to a `MembershipRole`.",
      "properties": {
        "membershipRole": {
          "$ref": "MembershipRole",
          "description": "The `MembershipRole`s to be updated. Only `MEMBER` `MembershipRole` can currently be updated."
        },
        "fieldMask": {
          "type": "string",
          "description": "The fully-qualified names of fields to update. May only contain the field `expiry_detail.expire_time`.",
          "format": "google-fieldmask"
        }
      },
      "id": "UpdateMembershipRolesParams",
      "type": "object"
    },
    "ListMembershipsResponse": {
      "type": "object",
      "description": "The response message for MembershipsService.ListMemberships.",
      "id": "ListMembershipsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available."
        },
        "memberships": {
          "description": "The `Membership`s under the specified `parent`.",
          "type": "array",
          "items": {
            "$ref": "Membership"
          }
        }
      }
    },
    "Membership": {
      "description": "A membership within the Cloud Identity Groups API. A `Membership` defines a relationship between a `Group` and an entity belonging to that `Group`, referred to as a \"member\".",
      "properties": {
        "updateTime": {
          "description": "Output only. The time when the `Membership` was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "preferredMemberKey": {
          "$ref": "EntityKey",
          "description": "Required. Immutable. The `EntityKey` of the member."
        },
        "deliverySetting": {
          "enum": [
            "DELIVERY_SETTING_UNSPECIFIED",
            "ALL_MAIL",
            "DIGEST",
            "DAILY",
            "NONE",
            "DISABLED"
          ],
          "description": "Output only. Delivery setting associated with the membership.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default. Should not be used.",
            "Represents each mail should be delivered",
            "Represents 1 email for every 25 messages.",
            "Represents daily summary of messages.",
            "Represents no delivery.",
            "Represents disabled state."
          ]
        },
        "type": {
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER",
            "SERVICE_ACCOUNT",
            "GROUP",
            "SHARED_DRIVE",
            "CBCM_BROWSER",
            "CHROME_OS_DEVICE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Default. Should not be used.",
            "Represents user type.",
            "Represents service account type.",
            "Represents group type.",
            "Represents Shared drive.",
            "Represents a CBCM-managed Chrome Browser type.",
            "Represents a ChromeOS-managed ChromeOS device type.",
            "Represents other type."
          ],
          "description": "Output only. The type of the membership.",
          "type": "string"
        },
        "roles": {
          "items": {
            "$ref": "MembershipRole"
          },
          "description": "The `MembershipRole`s that apply to the `Membership`. If unspecified, defaults to a single `MembershipRole` with `name` `MEMBER`. Must not contain duplicate `MembershipRole`s with the same `name`.",
          "type": "array"
        },
        "name": {
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group}/memberships/{membership}`.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the `Membership` was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Membership"
    },
    "SecuritySettings": {
      "properties": {
        "name": {
          "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`.",
          "type": "string",
          "readOnly": true
        },
        "memberRestriction": {
          "$ref": "MemberRestriction",
          "description": "The Member Restriction value"
        }
      },
      "description": "The definition of security settings.",
      "id": "SecuritySettings",
      "type": "object"
    },
    "CreateInboundSsoAssignmentOperationMetadata": {
      "description": "LRO response metadata for InboundSsoAssignmentsService.CreateInboundSsoAssignment.",
      "type": "object",
      "properties": {},
      "id": "CreateInboundSsoAssignmentOperationMetadata"
    },
    "GoogleAppsCloudidentityDevicesV1BrowserInfo": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1BrowserInfo",
      "description": "Browser-specific fields reported by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
      "properties": {
        "safeBrowsingProtectionLevel": {
          "enum": [
            "SAFE_BROWSING_LEVEL_UNSPECIFIED",
            "DISABLED",
            "STANDARD",
            "ENHANCED"
          ],
          "description": "Current state of [Safe Browsing protection level](https://chromeenterprise.google/policies/#SafeBrowsingProtectionLevel).",
          "enumDescriptions": [
            "Browser protection level is not specified.",
            "No protection against dangerous websites, downloads, and extensions.",
            "Standard protection against websites, downloads, and extensions that are known to be dangerous.",
            "Faster, proactive protection against dangerous websites, downloads, and extensions."
          ],
          "type": "string"
        },
        "isFileDownloadAnalysisEnabled": {
          "type": "boolean",
          "description": "Current state of [file download analysis](https://chromeenterprise.google/policies/#OnFileDownloadedEnterpriseConnector). Set to true if provider list from Chrome is non-empty."
        },
        "isThirdPartyBlockingEnabled": {
          "type": "boolean",
          "description": "Current state of [third-party blocking](https://chromeenterprise.google/policies/#ThirdPartyBlockingEnabled)."
        },
        "isSiteIsolationEnabled": {
          "type": "boolean",
          "description": "Current state of [site isolation](https://chromeenterprise.google/policies/?policy=IsolateOrigins)."
        },
        "isBulkDataEntryAnalysisEnabled": {
          "description": "Current state of [bulk data analysis](https://chromeenterprise.google/policies/#OnBulkDataEntryEnterpriseConnector). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "browserVersion": {
          "description": "Version of the request initiating browser. E.g. `91.0.4442.4`.",
          "type": "string"
        },
        "isChromeCleanupEnabled": {
          "description": "Deprecated: This field is not used for Chrome version 118 and later. Current state of [Chrome Cleanup](https://chromeenterprise.google/policies/#ChromeCleanupEnabled).",
          "type": "boolean",
          "deprecated": true
        },
        "isSecurityEventAnalysisEnabled": {
          "description": "Current state of [security event analysis](https://chromeenterprise.google/policies/#OnSecurityEventEnterpriseConnector). Set to true if provider list from Chrome is non-empty.",
          "type": "boolean"
        },
        "isBuiltInDnsClientEnabled": {
          "description": "Current state of [built-in DNS client](https://chromeenterprise.google/policies/#BuiltInDnsClientEnabled).",
          "type": "boolean"
        },
        "browserManagementState": {
          "description": "Output only. Browser's management state.",
          "enum": [
            "UNSPECIFIED",
            "UNMANAGED",
            "MANAGED_BY_OTHER_DOMAIN",
            "PROFILE_MANAGED",
            "BROWSER_MANAGED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Management state is not specified.",
            "Browser/Profile is not managed by any customer.",
            "Browser/Profile is managed, but by some other customer.",
            "Profile is managed by customer.",
            "Browser is managed by customer."
          ]
        },
        "isChromeRemoteDesktopAppBlocked": {
          "description": "Current state of [Chrome Remote Desktop app](https://chromeenterprise.google/policies/#URLBlocklist).",
          "type": "boolean"
        },
        "isRealtimeUrlCheckEnabled": {
          "type": "boolean",
          "description": "Current state of [real-time URL check](https://chromeenterprise.google/policies/#EnterpriseRealTimeUrlCheckMode). Set to true if provider list from Chrome is non-empty."
        },
        "isFileUploadAnalysisEnabled": {
          "type": "boolean",
          "description": "Current state of [file upload analysis](https://chromeenterprise.google/policies/#OnFileAttachedEnterpriseConnector). Set to true if provider list from Chrome is non-empty."
        },
        "passwordProtectionWarningTrigger": {
          "enumDescriptions": [
            "Password protection is not specified.",
            "Password reuse is never detected.",
            "Warning is shown when the user reuses their protected password on a non-allowed site.",
            "Warning is shown when the user reuses their protected password on a phishing site."
          ],
          "enum": [
            "PASSWORD_PROTECTION_TRIGGER_UNSPECIFIED",
            "PROTECTION_OFF",
            "PASSWORD_REUSE",
            "PHISHING_REUSE"
          ],
          "description": "Current state of [password protection trigger](https://chromeenterprise.google/policies/#PasswordProtectionWarningTrigger).",
          "type": "string"
        }
      }
    },
    "UpdateMembershipMetadata": {
      "properties": {},
      "type": "object",
      "id": "UpdateMembershipMetadata",
      "description": "Metadata for UpdateMembership LRO."
    },
    "SamlSsoInfo": {
      "description": "Details that are applicable when `sso_mode` == `SAML_SSO`.",
      "type": "object",
      "properties": {
        "inboundSamlSsoProfile": {
          "description": "Required. Name of the `InboundSamlSsoProfile` to use. Must be of the form `inboundSamlSsoProfiles/{inbound_saml_sso_profile}`. ",
          "type": "string"
        }
      },
      "id": "SamlSsoInfo"
    },
    "MembershipRoleRestrictionEvaluation": {
      "id": "MembershipRoleRestrictionEvaluation",
      "properties": {
        "state": {
          "description": "Output only. The current state of the restriction",
          "type": "string",
          "enumDescriptions": [
            "Default. Should not be used.",
            "The member adheres to the parent group's restriction.",
            "The group-group membership might be currently violating some parent group's restriction but in future, it will never allow any new member in the child group which can violate parent group's restriction.",
            "The member violates the parent group's restriction.",
            "The state of the membership is under evaluation."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT",
            "EVALUATING"
          ]
        }
      },
      "description": "The evaluated state of this restriction.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata": {
      "description": "Metadata for ApproveDeviceUser LRO.",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata",
      "type": "object"
    },
    "Setting": {
      "id": "Setting",
      "description": "Setting",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. Immutable. The type of the Setting."
        },
        "value": {
          "description": "Required. The value of the Setting.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserRequest": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserRequest",
      "description": "Request message for starting an account wipe on device.",
      "type": "object",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceRequest": {
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceRequest",
      "type": "object",
      "description": "Request message for cancelling an unfinished device wipe."
    },
    "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata": {
      "description": "Metadata for UpdateDevice LRO.",
      "type": "object",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata"
    },
    "AddIdpCredentialOperationMetadata": {
      "properties": {
        "state": {
          "type": "string",
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448)."
        }
      },
      "id": "AddIdpCredentialOperationMetadata",
      "type": "object",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.AddIdpCredential."
    },
    "TransitiveMembershipRole": {
      "properties": {
        "role": {
          "description": "TransitiveMembershipRole in string format. Currently supported TransitiveMembershipRoles: `\"MEMBER\"`, `\"OWNER\"`, and `\"MANAGER\"`.",
          "type": "string"
        }
      },
      "description": "Message representing the role of a TransitiveMembership.",
      "id": "TransitiveMembershipRole",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "RestrictionEvaluation": {
      "id": "RestrictionEvaluation",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default. Should not be used.",
            "The restriction state is currently being evaluated.",
            "All transitive memberships are adhering to restriction.",
            "Some transitive memberships violate the restriction. No new violating memberships can be added.",
            "Some transitive memberships violate the restriction. New violating direct memberships will be denied while indirect memberships may be added."
          ],
          "type": "string",
          "description": "Output only. The current state of the restriction",
          "enum": [
            "STATE_UNSPECIFIED",
            "EVALUATING",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT"
          ],
          "readOnly": true
        }
      },
      "description": "The evaluated state of this restriction."
    },
    "CreateMembershipMetadata": {
      "properties": {},
      "description": "Metadata for CreateMembership LRO.",
      "type": "object",
      "id": "CreateMembershipMetadata"
    },
    "SendUserInvitationRequest": {
      "properties": {},
      "type": "object",
      "description": "A request to send email for inviting target user corresponding to the UserInvitation.",
      "id": "SendUserInvitationRequest"
    },
    "GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata",
      "description": "Metadata for ListEndpointApps LRO."
    },
    "GoogleAppsCloudidentityDevicesV1ListDevicesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. Empty if there are no more results."
        },
        "devices": {
          "type": "array",
          "description": "Devices meeting the list restrictions.",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1Device"
          }
        }
      },
      "type": "object",
[...]
