{
  "discoveryVersion": "v1",
  "revision": "20260914",
  "kind": "discovery#restDescription",
  "resources": {
    "customers": {
      "resources": {
        "userinvitations": {
          "methods": {
            "send": {
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}:send",
              "path": "v1beta1/{+name}:send",
              "description": "Sends a UserInvitation to email. If the `UserInvitation` does not exist for this request and it is a valid request, the request creates a `UserInvitation`. **Note:** The `get` and `list` methods have a 48-hour delay where newly-created consumer accounts will not appear in the results. You can still send a `UserInvitation` to those accounts if you know the unmanaged email address and IsInvitableUser==True.",
              "id": "cloudidentity.customers.userinvitations.send",
              "parameters": {
                "name": {
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "location": "path",
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "SendUserInvitationRequest"
              }
            },
            "isInvitableUser": {
              "httpMethod": "GET",
              "response": {
                "$ref": "IsInvitableUserResponse"
              },
              "description": "Verifies whether a user account is eligible to receive a UserInvitation (is an unmanaged account). Eligibility is based on the following criteria: * the email address is a consumer account and it's the primary email address of the account, and * the domain of the email address matches an existing verified Google Workspace or Cloud Identity domain If both conditions are met, the user is eligible. **Note:** This method is not supported for Workspace Essentials customers.",
              "path": "v1beta1/{+name}:isInvitableUser",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudidentity.customers.userinvitations.isInvitableUser",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`"
                }
              },
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}:isInvitableUser"
            },
            "cancel": {
              "path": "v1beta1/{+name}:cancel",
              "parameters": {
                "name": {
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Cancels a UserInvitation that was already sent.",
              "httpMethod": "POST",
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}:cancel",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "cloudidentity.customers.userinvitations.cancel",
              "request": {
                "$ref": "CancelUserInvitationRequest"
              }
            },
            "list": {
              "response": {
                "$ref": "ListUserInvitationsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "cloudidentity.customers.userinvitations.list",
              "path": "v1beta1/{+parent}/userinvitations",
              "flatPath": "v1beta1/customers/{customersId}/userinvitations",
              "parameters": {
                "orderBy": {
                  "description": "Optional. The sort order of the list results. You can sort the results in descending order based on either email or last update timestamp but not both, using `order_by=\"email desc\"`. Currently, sorting is supported for `update_time asc`, `update_time desc`, `email asc`, and `email desc`. If not specified, results will be returned based on `email asc` order.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. The customer ID of the Google Workspace or Cloud Identity account the UserInvitation resources are associated with.",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListUserInvitations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBooks` must match the call that provided the page token.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. A query string for filtering `UserInvitation` results by their current state, in the format: `\"state=='invited'\"`.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of UserInvitation resources to return. If unspecified, at most 100 resources will be returned. The maximum value is 200; values above 200 will be set to 200.",
                  "format": "int32"
                }
              },
              "description": "Retrieves a list of UserInvitation resources. **Note:** New consumer accounts with the customer's verified domain created within the previous 48 hours will not appear in the result. This delay also applies to newly-verified domains."
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. `UserInvitation` name in the format `customers/{customer}/userinvitations/{user_email_address}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+/userinvitations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "UserInvitation"
              },
              "id": "cloudidentity.customers.userinvitations.get",
              "flatPath": "v1beta1/customers/{customersId}/userinvitations/{userinvitationsId}",
              "path": "v1beta1/{+name}",
              "description": "Retrieves a UserInvitation resource. **Note:** New consumer accounts with the customer's verified domain created within the previous 48 hours will not appear in the result. This delay also applies to newly-verified domains.",
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "groups": {
      "resources": {
        "memberships": {
          "methods": {
            "list": {
              "description": "Lists the `Membership`s within a `Group`.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and to 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "view": {
                  "location": "query",
                  "enumDescriptions": [
                    "Default. Only basic resource information is returned.",
                    "All resource information is returned."
                  ],
                  "description": "The level of detail to be returned. If unspecified, defaults to `MembershipView.BASIC`.",
                  "enum": [
                    "BASIC",
                    "FULL"
                  ],
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group_id}`.",
                  "required": true,
                  "pattern": "^groups/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The `next_page_token` value returned from a previous search request, if any."
                }
              },
              "id": "cloudidentity.groups.memberships.list",
              "flatPath": "v1beta1/groups/{groupsId}/memberships",
              "response": {
                "$ref": "ListMembershipsResponse"
              },
              "path": "v1beta1/{+parent}/memberships",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "request": {
                "$ref": "Membership"
              },
              "path": "v1beta1/{+parent}/memberships",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              },
              "description": "Creates a `Membership`.",
              "parameters": {
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent `Group` resource under which to create the `Membership`. Must be of the form `groups/{group_id}`.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "id": "cloudidentity.groups.memberships.create",
              "flatPath": "v1beta1/groups/{groupsId}/memberships"
            },
            "delete": {
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to delete. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$"
                }
              },
              "id": "cloudidentity.groups.memberships.delete",
              "description": "Deletes a `Membership`.",
              "httpMethod": "DELETE",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              }
            },
            "modifyMembershipRoles": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` whose roles are to be modified. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ModifyMembershipRolesResponse"
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}:modifyMembershipRoles",
              "request": {
                "$ref": "ModifyMembershipRolesRequest"
              },
              "description": "Modifies the `MembershipRole`s of a `Membership`.",
              "id": "cloudidentity.groups.memberships.modifyMembershipRoles",
              "path": "v1beta1/{+name}:modifyMembershipRoles"
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to retrieve. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Membership"
              },
              "description": "Retrieves a `Membership`.",
              "id": "cloudidentity.groups.memberships.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}",
              "path": "v1beta1/{+name}"
            },
            "searchTransitiveMemberships": {
              "response": {
                "$ref": "SearchTransitiveMembershipsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^groups/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is the unique ID assigned to the Group."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The default page size is 200 (max 1000)."
                },
                "pageToken": {
                  "location": "query",
                  "description": "The next_page_token value returned from a previous list request, if any.",
                  "type": "string"
                }
              },
              "path": "v1beta1/{+parent}/memberships:searchTransitiveMemberships",
              "description": "Search transitive memberships of a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A transitive membership is any direct or indirect membership of a group. Actor must have view permissions to all transitive memberships.",
              "id": "cloudidentity.groups.memberships.searchTransitiveMemberships",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchTransitiveMemberships",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "lookup": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/groups/{groupsId}/memberships:lookup",
              "parameters": {
                "memberKey.namespace": {
                  "type": "string",
                  "location": "query",
                  "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`."
                },
                "memberKey.id": {
                  "type": "string",
                  "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group_id}`."
                }
              },
              "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Membership` by its `EntityKey`.",
              "path": "v1beta1/{+parent}/memberships:lookup",
              "response": {
                "$ref": "LookupMembershipNameResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudidentity.groups.memberships.lookup",
              "httpMethod": "GET"
            },
            "checkTransitiveMembership": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/memberships:checkTransitiveMembership",
              "response": {
                "$ref": "CheckTransitiveMembershipResponse"
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships:checkTransitiveMembership",
              "description": "Check a potential member for membership in a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A member has membership to a group as long as there is a single viewable transitive membership between the group and the member. The actor must have view permissions to at least one transitive membership between the member and group.",
              "parameters": {
                "parent": {
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to check the transitive membership in. Format: `groups/{group_id}`, where `group_id` is the unique id assigned to the Group to which the Membership belongs to.",
                  "pattern": "^groups/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "query": {
                  "description": "Required. A CEL expression that MUST include member specification. This is a `required` field. Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value'`",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "id": "cloudidentity.groups.memberships.checkTransitiveMembership",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "searchDirectGroups": {
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchDirectGroups",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "description": "The next_page_token value returned from a previous list request, if any.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The default page size is 200 (max 1000).",
                  "location": "query"
                },
                "query": {
                  "type": "string",
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). Users can search on label attributes of groups. CONTAINS match ('in') is supported on labels. Identity-mapped groups are uniquely identified by both a `member_key_id` and a `member_key_namespace`, which requires an additional query input: `member_key_namespace`. Example query: `member_key_id == 'member_key_id_value' && 'label_value' in labels`",
                  "location": "query"
                },
                "orderBy": {
                  "description": "The ordering of membership relation for the display name or email in the response. The syntax for this field can be found at https://cloud.google.com/apis/design/design_patterns#sorting_order. Example: Sort by the ascending display name: order_by=\"group_name\" or order_by=\"group_name asc\". Sort by the descending display name: order_by=\"group_name desc\". Sort by the ascending group key: order_by=\"group_key\" or order_by=\"group_key asc\". Sort by the descending group key: order_by=\"group_key desc\".",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: groups/{group_id}, where group_id is always '-' as this API will search across all groups for a given member.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Searches direct groups of a member. Groups for which the actor does not have the permission to view memberships are silently filtered out.",
              "id": "cloudidentity.groups.memberships.searchDirectGroups",
              "path": "v1beta1/{+parent}/memberships:searchDirectGroups",
              "response": {
                "$ref": "SearchDirectGroupsResponse"
              }
            },
            "getMembershipGraph": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is the unique ID assigned to the Group to which the Membership belongs to. group_id can be a wildcard collection id \"-\". When `group_id` is specified, the membership graph will be constrained to paths between the member (defined in the query) and the parent. If a wildcard collection is provided, all membership paths connected to the member will be returned.",
                  "pattern": "^groups/[^/]+$",
                  "required": true
                },
                "query": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value' && in labels`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/groups/{groupsId}/memberships:getMembershipGraph",
              "id": "cloudidentity.groups.memberships.getMembershipGraph",
              "response": {
                "$ref": "Operation"
              },
              "description": "Get a membership graph of just a member or both a member and a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. Given a member, the response will contain all membership paths from the member. Given both a group and a member, the response will contain all membership paths between the group and the member.",
              "path": "v1beta1/{+parent}/memberships:getMembershipGraph"
            },
            "searchTransitiveGroups": {
              "response": {
                "$ref": "SearchTransitiveGroupsResponse"
              },
              "id": "cloudidentity.groups.memberships.searchTransitiveGroups",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Search transitive groups of a member. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A transitive group is any group that has a direct or indirect membership to the member. Actor must have view permissions all transitive groups.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/memberships:searchTransitiveGroups",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The default page size is 200 (max 1000).",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The `next_page_token` value returned from a previous list request, if any."
                },
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is always '-' as this API will search across all groups for a given member."
                },
                "query": {
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). This is a `required` field. Users can search on label attributes of groups. CONTAINS match ('in') is supported on labels. Identity-mapped groups are uniquely identified by both a `member_key_id` and a `member_key_namespace`, which requires an additional query input: `member_key_namespace`. Example query: `member_key_id == 'member_key_id_value' && in labels` Query may optionally contain equality operators on the parent of the group restricting the search within a particular customer, e.g. `parent == 'customers/{customer_id}'`. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). This filtering is only supported for Admins with groups read permissions on the input customer. Example query: `member_key_id == 'member_key_id_value' && in labels && parent == 'customers/C046psxkn'`",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchTransitiveGroups"
            }
          }
        }
      },
      "methods": {
        "get": {
          "description": "Retrieves a `Group`.",
          "httpMethod": "GET",
          "id": "cloudidentity.groups.get",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^groups/[^/]+$",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group_id}`.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/groups/{groupsId}",
          "response": {
            "$ref": "Group"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "id": "cloudidentity.groups.list",
          "parameterOrder": [],
          "parameters": {
            "view": {
              "location": "query",
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`.",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Default. Should not be used.",
                "Only basic resource information is returned.",
                "All resource information is returned."
              ],
              "type": "string"
            },
            "parent": {
              "description": "Required. The parent resource under which to list all `Group` resources. Must be of the form `identitysources/{identity_source_id}` for external- identity-mapped groups or `customers/{customer_id}` for Google Groups. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793)",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `View.BASIC` and to 50 for `View.FULL`. Must not be greater than 1000 for `View.BASIC` or 500 for `View.FULL`.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "The `next_page_token` value returned from a previous list request, if any.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists the `Group` resources under a customer or namespace.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListGroupsResponse"
          },
          "flatPath": "v1beta1/groups",
          "path": "v1beta1/groups"
        },
        "updateSecuritySettings": {
          "parameters": {
            "name": {
              "required": true,
              "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`.",
              "location": "path",
              "pattern": "^groups/[^/]+/securitySettings$",
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "Required. The fully-qualified names of fields to update. May only contain the following field: `member_restriction.query`.",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "description": "Update Security Settings",
          "path": "v1beta1/{+name}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "SecuritySettings"
          },
          "id": "cloudidentity.groups.updateSecuritySettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta1/groups/{groupsId}/securitySettings"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudidentity.groups.patch",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "description": "Updates a `Group`.",
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/groups/{groupsId}",
          "parameters": {
            "name": {
              "required": true,
              "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`.",
              "pattern": "^groups/[^/]+$",
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "description": "Required. The names of fields to update. May only contain the following field names: `display_name`, `description`, `labels`, `dynamic_group_metadata`, `posix_groups`.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Group"
          }
        },
        "lookup": {
          "flatPath": "v1beta1/groups:lookup",
          "path": "v1beta1/groups:lookup",
          "id": "cloudidentity.groups.lookup",
          "parameters": {
            "groupKey.namespace": {
              "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`.",
              "type": "string",
              "location": "query"
            },
            "groupKey.id": {
              "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Group` by its `EntityKey`.",
          "parameterOrder": [],
          "response": {
            "$ref": "LookupGroupNameResponse"
          }
        },
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta1/groups:search",
          "id": "cloudidentity.groups.search",
          "description": "Searches for `Group` resources matching a specified query.",
          "parameters": {
            "query": {
              "description": "Required. The search query. * Must be specified in [Common Expression Language](https://opensource.google/projects/cel). See [CEL Introduction](https://github.com/google/cel-spec/blob/master/doc/intro.md) for CEL syntax usage and examples. * Must contain equality operators on the parent, e.g. `parent == 'customers/{customer_id}'`. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793) * Can contain optional inclusion operators on `labels` such as `'cloudidentity.googleapis.com/groups.discussion_forum' in labels`). * Can contain an optional equality operator on `domain_name`. e.g. `domain_name == 'examplepetstore.com'` * Can contain optional `startsWith/contains/equality` operators on `group_key`, e.g. `group_key.startsWith('dev')`, `group_key.contains('dev'), group_key == 'dev@examplepetstore.com'` * Can contain optional `startsWith/contains/equality` operators on `display_name`, such as `display_name.startsWith('dev')` , `display_name.contains('dev')`, `display_name == 'dev'` Examples: * Search for all discussion forums under a customer: `parent == 'customers/C046psxkn' && 'cloudidentity.googleapis.com/groups.discussion_forum' in labels` * Search for groups with key starting with 'sales': `parent == 'customers/C046psxkn' && group_key.startsWith('sales')` * Search for groups with display name containing 'test': `parent == 'customers/C046psxkn' && display_name.contains('test')`",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "description": "The ordering of groups for the display name or email in the search groups response. The syntax for this field can be found at https://cloud.google.com/apis/design/design_patterns#sorting_order. Example: Sort by the ascending name: order_by=\"display_name\" Sort by the descending group key email: order_by=\"group_key desc\"",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and to 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "view": {
              "enumDescriptions": [
                "Default. Only basic resource information is returned.",
                "All resource information is returned."
              ],
              "enum": [
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The `next_page_token` value returned from a previous search request, if any."
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "SearchGroupsResponse"
          },
          "httpMethod": "GET",
          "path": "v1beta1/groups:search"
        },
        "getSecuritySettings": {
          "path": "v1beta1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SecuritySettings"
          },
          "parameters": {
            "readMask": {
              "description": "Field-level read mask of which fields to return. \"*\" returns all fields. If not specified, all fields will be returned. May only contain the following field: `member_restriction`.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "required": true,
              "pattern": "^groups/[^/]+/securitySettings$",
              "description": "Required. The security settings to retrieve. Format: `groups/{group_id}/securitySettings`",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1beta1/groups/{groupsId}/securitySettings",
          "description": "Get Security Settings",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "id": "cloudidentity.groups.getSecuritySettings"
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameters": {
            "initialGroupConfig": {
              "location": "query",
              "description": "Required. The initial configuration option for the `Group`.",
              "type": "string",
              "enum": [
                "INITIAL_GROUP_CONFIG_UNSPECIFIED",
                "WITH_INITIAL_OWNER",
                "EMPTY"
              ],
              "enumDescriptions": [
                "Default. Should not be used.",
                "The end user making the request will be added as the initial owner of the `Group`.",
                "An empty group is created without any initial owners. This can only be used by admins of the domain."
              ]
            }
          },
          "flatPath": "v1beta1/groups",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta1/groups",
          "parameterOrder": [],
          "id": "cloudidentity.groups.create",
          "request": {
            "$ref": "Group"
          },
          "description": "Creates a `Group`."
        },
        "delete": {
          "parameters": {
            "name": {
              "pattern": "^groups/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group_id}`."
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta1/{+name}",
          "httpMethod": "DELETE",
          "id": "cloudidentity.groups.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes a `Group`.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/groups/{groupsId}"
        }
      }
    },
    "orgUnits": {
      "resources": {
        "memberships": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/memberships",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `OrgMembershipsService.ListOrgMemberships` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrgMembershipsRequest` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. The service may return fewer than this value. If omitted (or defaulted to zero) the server will default to 50. The maximum allowed value is 100, though requests with page_size greater than that will be silently interpreted as 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "customer": {
                  "location": "query",
                  "description": "Required. Immutable. Customer that this OrgMembership belongs to. All authorization will happen on the role assignments of this customer. Format: customers/{$customerId} where `$customerId` is the `id` from the [Admin SDK `Customer` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers). You may also use `customers/my_customer` to specify your own organization.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The search query. Must be specified in [Common Expression Language](https://opensource.google/projects/cel). May only contain equality operators on the `type` (e.g., `type == 'shared_drive'`)."
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Immutable. OrgUnit which is queried for a list of memberships. Format: orgUnits/{$orgUnitId} where `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits).",
                  "type": "string",
                  "pattern": "^orgUnits/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.orgunits",
                "https://www.googleapis.com/auth/cloud-identity.orgunits.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListOrgMembershipsResponse"
              },
              "description": "List OrgMembership resources in an OrgUnit treated as 'parent'. Parent format: orgUnits/{$orgUnitId} where `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits)",
              "flatPath": "v1beta1/orgUnits/{orgUnitsId}/memberships",
              "id": "cloudidentity.orgUnits.memberships.list"
            },
            "move": {
              "description": "Move an OrgMembership to a new OrgUnit. NOTE: This is an atomic copy-and-delete. The resource will have a new copy under the destination OrgUnit and be deleted from the source OrgUnit. The resource can only be searched under the destination OrgUnit afterwards.",
              "flatPath": "v1beta1/orgUnits/{orgUnitsId}/memberships/{membershipsId}:move",
              "id": "cloudidentity.orgUnits.memberships.move",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.orgunits"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^orgUnits/[^/]+/memberships/[^/]+$",
                  "description": "Required. Immutable. The [resource name](https://cloud.google.com/apis/design/resource_names) of the OrgMembership. Format: orgUnits/{$orgUnitId}/memberships/{$membership} The `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits). To manage a Membership without specifying source `orgUnitId`, this API also supports the wildcard character '-' for `$orgUnitId` per https://google.aip.dev/159. The `$membership` shall be of the form `{$entityType};{$memberId}`, where `$entityType` is the enum value of OrgMembership.EntityType, and `memberId` is the `id` from [Drive API (V3) `Drive` resource](https://developers.google.com/drive/api/v3/reference/drives#resource) for OrgMembership.EntityType.SHARED_DRIVE."
                }
              },
              "request": {
                "$ref": "MoveOrgMembershipRequest"
              },
              "path": "v1beta1/{+name}:move"
            }
          }
        }
      }
    },
    "allowlistedDomains": {
      "methods": {
        "list": {
          "flatPath": "v1beta1/allowlistedDomains",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains",
            "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains.readonly"
          ],
          "id": "cloudidentity.allowlistedDomains.list",
          "description": "Lists the domains in the allowlist.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v1beta1/allowlistedDomains",
          "response": {
            "$ref": "ListAllowlistedDomainsResponse"
          },
          "parameters": {
            "filter": {
              "location": "query",
              "description": "Optional. Provides an optional filter for list results. Currently, only exact matches on the domain are supported, such as \"domain = 'google.com'\", with no composite conditions.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. Identifies a token from a previous page of results, if any."
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Optional. Specifies the requested page size. If unspecified, the service returns at most 5000 domains. The maximum value is 5000; values above 5000 coerce to 5000. The limits can change over time."
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves a specific domain from the allowlist.",
          "response": {
            "$ref": "AllowlistedDomain"
          },
          "parameters": {
            "name": {
              "description": "Required. Specifies the [resource name](https://google.aip.dev/122) of the domain to retrieve.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^allowlistedDomains/[^/]+$"
            }
          },
          "id": "cloudidentity.allowlistedDomains.get",
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/allowlistedDomains/{allowlistedDomainsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains",
            "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains.readonly"
          ]
        },
        "create": {
          "description": "Adds a domain to the allowlist.",
          "httpMethod": "POST",
          "flatPath": "v1beta1/allowlistedDomains",
          "request": {
            "$ref": "AllowlistedDomain"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta1/allowlistedDomains",
          "id": "cloudidentity.allowlistedDomains.create"
        },
        "delete": {
          "description": "Removes a domain from the allowlist.",
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/allowlistedDomains/{allowlistedDomainsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.allowlisteddomains"
          ],
          "parameters": {
            "name": {
              "description": "Required. Specifies the [resource name](https://google.aip.dev/122) of the domain to delete.",
              "required": true,
              "location": "path",
              "pattern": "^allowlistedDomains/[^/]+$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "DELETE",
          "id": "cloudidentity.allowlistedDomains.delete",
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "policies": {
      "methods": {
        "get": {
          "id": "cloudidentity.policies.get",
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies",
            "https://www.googleapis.com/auth/cloud-identity.policies.readonly"
          ],
          "path": "v1beta1/{+name}",
          "description": "Get a policy.",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The name of the policy to retrieve. Format: `policies/{policy}`.",
              "pattern": "^policies/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1beta1/policies/{policiesId}"
        },
        "create": {
          "path": "v1beta1/policies",
          "parameterOrder": [],
          "response": {
            "$ref": "Operation"
          },
          "id": "cloudidentity.policies.create",
          "request": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies"
          ],
          "httpMethod": "POST",
          "flatPath": "v1beta1/policies",
          "description": "Create a policy.",
          "parameters": {}
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. The name of the policy to delete. Format: `policies/{policy}`.",
              "pattern": "^policies/[^/]+$",
              "location": "path"
            }
          },
          "description": "Delete a policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies"
          ],
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/policies/{policiesId}",
          "id": "cloudidentity.policies.delete"
        },
        "patch": {
          "httpMethod": "PATCH",
          "id": "cloudidentity.policies.patch",
          "path": "v1beta1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^policies/[^/]+$",
              "description": "Output only. Identifier. The [resource name](https://cloud.google.com/apis/design/resource_names) of the Policy. Format: policies/{policy}.",
              "required": true
            }
          },
          "description": "Update a policy.",
          "flatPath": "v1beta1/policies/{policiesId}",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies"
          ]
        },
        "list": {
          "response": {
            "$ref": "ListPoliciesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.policies",
            "https://www.googleapis.com/auth/cloud-identity.policies.readonly"
          ],
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Optional. The maximum number of results to return. The service can return fewer than this number. If omitted or set to `0`, the default is `50` results per page. The maximum allowed value is `100`. `page_size` values greater than `100` default to `100`.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. The pagination token received from a prior call to PoliciesService.ListPolicies to retrieve the next page of results. When paginating, all other parameters provided to `ListPoliciesRequest` must match the call that provided the page token.",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "description": "Optional. A CEL expression for filtering the results. Policies can be filtered using the expression in the following ways: - Filter by application: `setting.type.matches('^settings/gmail\\\\..*$')` - Filter by setting type: `setting.type.matches('^.*\\\\.service_status$')` - Filter by customer: `customer == \"customers/{customer}\"` Where `customer` is the `id` from the [Admin SDK `Customer` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers). You may use `customers/my_customer` to specify your own organization. When no `customer` is mentioned it will be default to `customers/my_customer`. You may only filter on policies for a single customer at a time. The above clauses can be combined together in a single filter expression with the `&&` and `||` operators, like in the following example: `customer == \"customers/my_customer\" && ( setting.type.matches('^settings/gmail\\\\..*$') || setting.type.matches('^.*\\\\.service_status$') )`.",
              "location": "query"
            }
          },
          "path": "v1beta1/policies",
          "description": "List policies.",
          "id": "cloudidentity.policies.list",
          "httpMethod": "GET",
          "flatPath": "v1beta1/policies"
        }
      }
    },
    "inboundOidcSsoProfiles": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListInboundOidcSsoProfilesResponse"
          },
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of InboundOidcSsoProfiles to return. The service may return fewer than this value. If omitted (or defaulted to zero) the server will use a sensible default. This default may change over time. The maximum allowed value is 100. Requests with page_size greater than that will be silently interpreted as having this maximum value.",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListInboundOidcSsoProfiles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListInboundOidcSsoProfiles` must match the call that provided the page token."
            },
            "filter": {
              "location": "query",
              "description": "A [Common Expression Language](https://github.com/google/cel-spec) expression to filter the results. The only supported filter is filtering by customer. For example: `customer==\"customers/C0123abc\"`. Omitting the filter or specifying a filter of `customer==\"customers/my_customer\"` will return the profiles for the customer that the caller (authenticated user) belongs to. Specifying a filter of `customer==\"\"` will return the global shared OIDC profiles.",
              "type": "string"
            }
          },
          "id": "cloudidentity.inboundOidcSsoProfiles.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "path": "v1beta1/inboundOidcSsoProfiles",
          "description": "Lists InboundOidcSsoProfile objects for a Google enterprise customer.",
          "parameterOrder": [],
          "flatPath": "v1beta1/inboundOidcSsoProfiles"
        },
        "get": {
          "path": "v1beta1/{+name}",
          "id": "cloudidentity.inboundOidcSsoProfiles.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^inboundOidcSsoProfiles/[^/]+$",
              "location": "path",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundOidcSsoProfile to get. Format: `inboundOidcSsoProfiles/{sso_profile_id}`",
              "required": true,
              "type": "string"
            }
          },
          "description": "Gets an InboundOidcSsoProfile.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "InboundOidcSsoProfile"
          },
          "httpMethod": "GET",
          "flatPath": "v1beta1/inboundOidcSsoProfiles/{inboundOidcSsoProfilesId}"
        },
        "patch": {
          "id": "cloudidentity.inboundOidcSsoProfiles.patch",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta1/{+name}",
          "httpMethod": "PATCH",
          "flatPath": "v1beta1/inboundOidcSsoProfiles/{inboundOidcSsoProfilesId}",
          "request": {
            "$ref": "InboundOidcSsoProfile"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the OIDC SSO profile.",
              "pattern": "^inboundOidcSsoProfiles/[^/]+$",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated.",
              "location": "query"
            }
          },
          "description": "Updates an InboundOidcSsoProfile. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "create": {
          "description": "Creates an InboundOidcSsoProfile for a customer. When the target customer has enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448), the `Operation` in the response will have `\"done\": false`, it will not have a response, and the metadata will have `\"state\": \"awaiting-multi-party-approval\"`.",
          "path": "v1beta1/inboundOidcSsoProfiles",
          "flatPath": "v1beta1/inboundOidcSsoProfiles",
          "request": {
            "$ref": "InboundOidcSsoProfile"
          },
          "id": "cloudidentity.inboundOidcSsoProfiles.create",
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "delete": {
          "id": "cloudidentity.inboundOidcSsoProfiles.delete",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes an InboundOidcSsoProfile.",
          "parameters": {
            "name": {
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundOidcSsoProfile to delete. Format: `inboundOidcSsoProfiles/{sso_profile_id}`",
              "location": "path",
              "type": "string",
              "pattern": "^inboundOidcSsoProfiles/[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/inboundOidcSsoProfiles/{inboundOidcSsoProfilesId}"
        }
      }
    },
    "inboundSsoAssignments": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta1/inboundSsoAssignments/{inboundSsoAssignmentsId}",
          "path": "v1beta1/{+name}",
          "response": {
            "$ref": "InboundSsoAssignment"
          },
          "id": "cloudidentity.inboundSsoAssignments.get",
          "description": "Gets an InboundSsoAssignment.",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundSsoAssignment to fetch. Format: `inboundSsoAssignments/{assignment}`",
              "pattern": "^inboundSsoAssignments/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET"
        },
        "create": {
          "request": {
            "$ref": "InboundSsoAssignment"
          },
          "path": "v1beta1/inboundSsoAssignments",
          "httpMethod": "POST",
          "flatPath": "v1beta1/inboundSsoAssignments",
          "parameters": {},
          "description": "Creates an InboundSsoAssignment for users and devices in a `Customer` under a given `Group` or `OrgUnit`.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [],
          "id": "cloudidentity.inboundSsoAssignments.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "id": "cloudidentity.inboundSsoAssignments.delete",
          "description": "Deletes an InboundSsoAssignment. To disable SSO, Create (or Update) an assignment that has `sso_mode` == `SSO_OFF`.",
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/inboundSsoAssignments/{inboundSsoAssignmentsId}",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^inboundSsoAssignments/[^/]+$",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the InboundSsoAssignment to delete. Format: `inboundSsoAssignments/{assignment}`",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListInboundSsoAssignments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListInboundSsoAssignments` must match the call that provided the page token.",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of assignments to return. The service may return fewer than this value. If omitted (or defaulted to zero) the server will use a sensible default. This default may change over time. The maximum allowed value is 100, though requests with page_size greater than that will be silently interpreted as having this maximum value. This may increase in the futue."
            },
            "filter": {
              "location": "query",
              "description": "A CEL expression to filter the results. The only supported filter is filtering by customer. For example: `customer==customers/C0123abc`. Omitting the filter or specifying a filter of `customer==customers/my_customer` will return the assignments for the customer that the caller (authenticated user) belongs to.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListInboundSsoAssignmentsResponse"
          },
          "description": "Lists the InboundSsoAssignments for a `Customer`.",
          "path": "v1beta1/inboundSsoAssignments",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-identity.inboundsso.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "id": "cloudidentity.inboundSsoAssignments.list",
          "parameterOrder": [],
          "flatPath": "v1beta1/inboundSsoAssignments"
        },
        "patch": {
          "request": {
            "$ref": "InboundSsoAssignment"
          },
          "flatPath": "v1beta1/inboundSsoAssignments/{inboundSsoAssignmentsId}",
          "httpMethod": "PATCH",
          "description": "Updates an InboundSsoAssignment. The body of this request is the `inbound_sso_assignment` field and the `update_mask` is relative to that. For example: a PATCH to `/v1beta1/inboundSsoAssignments/0abcdefg1234567&update_mask=rank` with a body of `{ \"rank\": 1 }` moves that (presumably group-targeted) SSO assignment to the highest priority and shifts any other group-targeted assignments down in priority.",
          "path": "v1beta1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^inboundSsoAssignments/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Inbound SSO Assignment.",
              "required": true
            },
            "updateMask": {
              "description": "Required. The list of fields to be updated.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "id": "cloudidentity.inboundSsoAssignments.patch",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.inboundsso",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "devices": {
      "methods": {
        "wipe": {
          "request": {
            "$ref": "WipeDeviceRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices"
          ],
          "description": "Wipes all data on the specified device.",
          "path": "v1beta1/{+name}:wipe",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
              "pattern": "^devices/[^/]+$",
              "required": true
            }
          },
          "flatPath": "v1beta1/devices/{devicesId}:wipe",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "id": "cloudidentity.devices.wipe"
        },
        "create": {
          "httpMethod": "POST",
          "path": "v1beta1/devices",
          "flatPath": "v1beta1/devices",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices"
          ],
          "id": "cloudidentity.devices.create",
          "parameters": {},
          "description": "Creates a device. Only company-owned device may be created. **Note**: This method is available only to customers who have one of the following SKUs: Enterprise Standard, Enterprise Plus, Enterprise for Education, and Cloud Identity Premium",
          "parameterOrder": [],
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "CreateDeviceRequest"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "path": "v1beta1/{+name}",
          "id": "cloudidentity.devices.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices"
          ],
          "parameters": {
            "customer": {
              "location": "query",
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
              "type": "string"
            },
            "name": {
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^devices/[^/]+$"
            }
          },
          "flatPath": "v1beta1/devices/{devicesId}",
          "description": "Deletes the specified device.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "get": {
          "id": "cloudidentity.devices.get",
          "response": {
            "$ref": "Device"
          },
          "flatPath": "v1beta1/devices/{devicesId}",
          "description": "Retrieves the specified device.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "pattern": "^devices/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "customer": {
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Customer in format: `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices",
            "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
          ],
          "path": "v1beta1/{+name}",
          "httpMethod": "GET"
        },
        "cancelWipe": {
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta1/{+name}:cancelWipe",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "CancelWipeDeviceRequest"
          },
          "id": "cloudidentity.devices.cancelWipe",
          "parameters": {
            "name": {
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^devices/[^/]+$"
            }
          },
          "flatPath": "v1beta1/devices/{devicesId}:cancelWipe",
          "httpMethod": "POST",
          "description": "Cancels an unfinished device wipe. This operation can be used to cancel device wipe in the gap between the wipe operation returning success and the device being wiped.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.devices",
            "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
          ],
          "parameters": {
            "view": {
              "location": "query",
              "enumDescriptions": [
                "Default value. The value is unused.",
                "This view contains all devices imported by the company admin. Each device in the response contains all information specified by the company admin when importing the device (i.e. asset tags).",
                "This view contains all devices with at least one user registered on the device. Each device in the response contains all device information, except for asset tags."
              ],
              "enum": [
                "VIEW_UNSPECIFIED",
                "COMPANY_INVENTORY",
                "USER_ASSIGNED_DEVICES"
              ],
              "description": "Optional. The view to use for the List request.",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. Additional restrictions when fetching list of devices. For a list of search fields, refer to [Mobile device search fields](https://developers.google.com/admin-sdk/directory/v1/search-operators). Multiple search fields are separated by the space character."
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListDevices` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDevices` must match the call that provided the page token.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "Optional. The maximum number of Devices to return. If unspecified, at most 20 Devices will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "type": "integer"
            },
            "orderBy": {
              "description": "Optional. Order specification for devices in the response. Only one of the following field names may be used to specify the order: `create_time`, `last_sync_time`, `model`, `os_version`, `device_type` and `serial_number`. `desc` may be specified optionally to specify results to be sorted in descending order. Default order is ascending.",
              "location": "query",
              "type": "string"
            },
            "customer": {
              "type": "string",
              "location": "query",
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer."
            }
          },
          "id": "cloudidentity.devices.list",
          "parameterOrder": [],
          "flatPath": "v1beta1/devices",
          "httpMethod": "GET",
          "description": "Lists/Searches devices.",
          "response": {
            "$ref": "ListDevicesResponse"
          },
          "path": "v1beta1/devices"
        }
      },
      "resources": {
        "deviceUsers": {
          "methods": {
            "list": {
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists/Searches DeviceUsers.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices",
                "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListDeviceUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBooks` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Additional restrictions when fetching list of devices. For a list of search fields, refer to [Mobile device search fields](https://developers.google.com/admin-sdk/directory/v1/search-operators). Multiple search fields are separated by the space character."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of DeviceUsers to return. If unspecified, at most 5 DeviceUsers will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                  "format": "int32"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Order specification for devices in the response."
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^devices/[^/]+$",
                  "location": "path",
                  "description": "Required. To list all DeviceUsers, set this to \"devices/-\". To list all DeviceUsers owned by a device, set this to the resource name of the device. Format: devices/{device}"
                },
                "customer": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
                }
              },
              "id": "cloudidentity.devices.deviceUsers.list",
              "path": "v1beta1/{+parent}/deviceUsers",
              "response": {
                "$ref": "ListDeviceUsersResponse"
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "customer": {
                  "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "type": "string",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices"
              ],
              "id": "cloudidentity.devices.deviceUsers.delete",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}",
              "description": "Deletes the specified DeviceUser. This also revokes the user's access to device data."
            },
            "block": {
              "id": "cloudidentity.devices.deviceUsers.block",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:block",
              "parameters": {
                "name": {
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "location": "path",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "description": "Blocks device from accessing user data",
              "request": {
                "$ref": "BlockDeviceUserRequest"
              },
              "path": "v1beta1/{+name}:block",
              "response": {
                "$ref": "Operation"
              }
            },
            "cancelWipe": {
              "parameterOrder": [
                "name"
              ],
              "id": "cloudidentity.devices.deviceUsers.cancelWipe",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:cancelWipe",
              "request": {
                "$ref": "CancelWipeDeviceUserRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices"
              ],
              "description": "Cancels an unfinished user account wipe. This operation can be used to cancel device wipe in the gap between the wipe operation returning success and the device being wiped.",
              "parameters": {
                "name": {
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "required": true,
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta1/{+name}:cancelWipe",
              "httpMethod": "POST"
            },
            "lookup": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices.lookup"
              ],
              "path": "v1beta1/{+parent}:lookup",
              "response": {
                "$ref": "LookupSelfDeviceUsersResponse"
              },
              "description": "Looks up resource names of the DeviceUsers associated with the caller's credentials, as well as the properties provided in the request. This method must be called with end-user credentials with the scope: https://www.googleapis.com/auth/cloud-identity.devices.lookup If multiple properties are provided, only DeviceUsers having all of these properties are considered as matches - i.e. the query behaves like an AND. Different platforms require different amounts of information from the caller to ensure that the DeviceUser is uniquely identified. - iOS: If either the `partner` or `ios_device_id` field is provided, then both fields are required. - Android: Specifying the `android_id` field is required. - Desktop: Specifying the `raw_resource_id` field is required.",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers:lookup",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudidentity.devices.deviceUsers.lookup",
              "httpMethod": "GET",
              "parameters": {
                "partner": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The partner ID of the calling iOS app. This string must match the value of the partner key within the app configuration dictionary provided to Google Workspace apps."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of DeviceUsers to return. If unspecified, at most 20 DeviceUsers will be returned. The maximum value is 20; values above 20 will be coerced to 20."
                },
                "rawResourceId": {
                  "type": "string",
                  "description": "Raw Resource Id used by Google Endpoint Verification. If the user is enrolled into Google Endpoint Verification, this id will be saved as the 'device_resource_id' field in the following platform dependent files. Mac: ~/.secureConnect/context_aware_config.json Windows: C:\\Users\\%USERPROFILE%\\.secureConnect\\context_aware_config.json Linux: ~/.secureConnect/context_aware_config.json",
                  "location": "query"
                },
                "iosDeviceId": {
                  "description": "Optional. The partner-specified device identifier assigned to the iOS device that initiated the Lookup API call. This string must match the value of the iosDeviceId key in the app config dictionary provided to Google Workspace apps.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `LookupDeviceUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `LookupDeviceUsers` must match the call that provided the page token."
                },
                "androidId": {
                  "location": "query",
                  "description": "Android Id returned by [Settings.Secure#ANDROID_ID](https://developer.android.com/reference/android/provider/Settings.Secure.html#ANDROID_ID).",
                  "type": "string"
                },
                "userId": {
                  "description": "The user whose DeviceUser's resource name will be fetched. Must be set to 'me' to fetch the DeviceUser's resource name for the calling user.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^devices/[^/]+/deviceUsers$",
                  "location": "path",
                  "required": true,
                  "description": "Must be set to \"devices/-/deviceUsers\" to search across all DeviceUser belonging to the user."
                }
              }
            },
            "approve": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:approve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices"
              ],
              "id": "cloudidentity.devices.deviceUsers.approve",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:approve",
              "description": "Approves device to access user data.",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "ApproveDeviceUserRequest"
              }
            },
            "wipe": {
              "description": "Wipes the user's account on a device.",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "WipeDeviceUserRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "type": "string",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices"
              ],
              "path": "v1beta1/{+name}:wipe",
              "id": "cloudidentity.devices.deviceUsers.wipe",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:wipe"
            },
            "get": {
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices",
                "https://www.googleapis.com/auth/cloud-identity.devices.readonly"
              ],
              "parameters": {
                "customer": {
                  "location": "query",
                  "type": "string",
[...]
