{
  "description": "API for provisioning and managing identity resources.",
  "batchPath": "batch",
  "protocol": "rest",
  "version_module": true,
  "baseUrl": "https://cloudidentity.googleapis.com/",
  "discoveryVersion": "v1",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "canonicalName": "Cloud Identity",
  "kind": "discovery#restDescription",
  "basePath": "",
  "title": "Cloud Identity API",
  "ownerName": "Google",
  "schemas": {
    "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata",
      "description": "Metadata for SignoutDeviceUser LRO."
    },
    "CheckTransitiveMembershipResponse": {
      "description": "The response message for MembershipsService.CheckTransitiveMembership.",
      "id": "CheckTransitiveMembershipResponse",
      "properties": {
        "hasMembership": {
          "description": "Response does not include the possible roles of a member since the behavior of this rpc is not all-or-nothing unlike the other rpcs. So, it may not be possible to list all the roles definitively, due to possible lack of authorization in some of the paths.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "SignInBehavior": {
      "properties": {
        "redirectCondition": {
          "description": "When to redirect sign-ins to the IdP.",
          "enum": [
            "REDIRECT_CONDITION_UNSPECIFIED",
            "NEVER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default and means \"always\"",
            "Sign-in flows where the user is prompted for their identity will not redirect to the IdP (so the user will most likely be prompted by Google for a password), but special flows like IdP-initiated SAML and sign-in following automatic redirection to the IdP by domain-specific service URLs will accept the IdP's assertion of the user's identity."
          ]
        }
      },
      "description": "Controls sign-in behavior.",
      "id": "SignInBehavior",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CertificateAttributes": {
      "id": "GoogleAppsCloudidentityDevicesV1CertificateAttributes",
      "type": "object",
      "description": "Stores information about a certificate.",
      "properties": {
        "subject": {
          "description": "The subject name of this certificate.",
          "type": "string"
        },
        "issuer": {
          "description": "The name of the issuer of this certificate.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The encoded certificate fingerprint."
        },
        "certificateTemplate": {
          "description": "The X.509 extension for CertificateTemplate.",
          "$ref": "GoogleAppsCloudidentityDevicesV1CertificateTemplate"
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial number of the certificate, Example: \"123456789\"."
        },
        "validityStartTime": {
          "description": "Certificate not valid before this timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "thumbprint": {
          "description": "The certificate thumbprint.",
          "type": "string"
        },
        "validityExpirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Certificate not valid at or after this timestamp."
        },
        "validationState": {
          "description": "Output only. Validation state of this certificate.",
          "enumDescriptions": [
            "Default value.",
            "Certificate validation was successful.",
            "Certificate validation failed."
          ],
          "enum": [
            "CERTIFICATE_VALIDATION_STATE_UNSPECIFIED",
            "VALIDATION_SUCCESSFUL",
            "VALIDATION_FAILED"
          ],
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ChromePolicy": {
      "properties": {
        "source": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. The policy source is unknown or not specified.",
            "The policy is provided by Chrome's default settings when running in an enterprise environment.",
            "The policy is managed and pushed from a cloud-based administration console, such as the Google Admin console.",
            "The policy is sourced from Active Directory, primarily for Active Directory-managed ChromeOS devices.",
            "Deprecated: Formerly used when a policy was overridden by ChromeOS for public sessions or kiosk mode.",
            "The policy is set by OS built-in tool on desktop.",
            "Deprecated: Formerly used for cloud policies with higher priority.",
            "The applied policy value is the result of a merge from multiple policy sources.",
            "The policy is set using a command line argument passed to the Chrome executable, usually intended for development or testing.",
            "For ChromeOS, this indicates a policy set by cloud management in the Ash browser and then made available to the Lacros browser.",
            "The policy is set by the restricted managed guest session override."
          ],
          "description": "Output only. The source from which the *applied* policy value originated.",
          "enum": [
            "SOURCE_UNKNOWN",
            "ENTERPRISE_DEFAULT",
            "CLOUD",
            "ACTIVE_DIRECTORY",
            "DEVICE_LOCAL_ACCOUNT_OVERRIDE_DEPRECATED",
            "PLATFORM",
            "PRIORITY_CLOUD_DEPRECATED",
            "MERGED",
            "COMMAND_LINE",
            "CLOUD_FROM_ASH",
            "RESTRICTED_MANAGED_GUEST_SESSION_OVERRIDE"
          ]
        },
        "name": {
          "description": "Output only. The unique name of the Chrome policy. These names correspond to the policy names listed in [Chrome Enterprise Policy List](https://chromeenterprise.google/policies/)",
          "readOnly": true,
          "type": "string"
        },
        "conflicts": {
          "description": "Output only. A list of other policy values for the same policy name that were not applied due to lower precedence. This field is empty if there were no conflicts.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "PolicyConflict"
          }
        },
        "value": {
          "type": "string",
          "description": "Output only. The currently applied value of the policy. The format depends on the policy type (e.g., boolean, string, JSON array/object).",
          "readOnly": true
        },
        "scope": {
          "enum": [
            "SCOPE_UNKNOWN",
            "USER",
            "MACHINE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. The policy scope is unknown or not specified.",
            "User-level policy. This scope indicates the policy applies to the specific user session or profile. For cloud policies, this is typically the signed-in Chrome profile. On some platforms like Windows, this can also refer to the OS user.",
            "Machine-level policy. This scope indicates the policy applies system-wide to all users on the current machine or device."
          ],
          "description": "Output only. The scope at which the *applied* policy value is set (USER or MACHINE)."
        }
      },
      "description": "Represents a Chrome policy and its current state.",
      "type": "object",
      "id": "ChromePolicy"
    },
    "ListInboundSsoAssignmentsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "inboundSsoAssignments": {
          "description": "The assignments.",
          "type": "array",
          "items": {
            "$ref": "InboundSsoAssignment"
          }
        }
      },
      "id": "ListInboundSsoAssignmentsResponse",
      "description": "Response of the InboundSsoAssignmentsService.ListInboundSsoAssignments method.",
      "type": "object"
    },
    "DsaPublicKeyInfo": {
      "type": "object",
      "id": "DsaPublicKeyInfo",
      "properties": {
        "keySize": {
          "description": "Key size in bits (size of parameter P).",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Information of a DSA public key."
    },
    "WipeDeviceResponse": {
      "description": "Response message for wiping all data on the device.",
      "type": "object",
      "properties": {
        "device": {
          "$ref": "Device",
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object."
        }
      },
      "id": "WipeDeviceResponse"
    },
    "CreateDeviceRequest": {
      "type": "object",
      "id": "CreateDeviceRequest",
      "description": "Request message for creating a Company Owned device.",
      "properties": {
        "device": {
          "description": "Required. The device to be created. The name field within this device is ignored in the create method. A new name is created by the method, and returned within the response. Only the fields `device_type`, `serial_number` and `asset_tag` (if present) are used to create the device. All other fields are ignored. The `device_type` and `serial_number` fields are required.",
          "$ref": "Device"
        },
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata": {
      "description": "Metadata for DeleteDeviceUser LRO.",
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata": {
      "description": "Metadata for WipeDevice LRO.",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata",
      "type": "object"
    },
    "SamlSpConfig": {
      "properties": {
        "entityId": {
          "readOnly": true,
          "description": "Output only. The SAML **Entity ID** for this service provider.",
          "type": "string"
        },
        "assertionConsumerServiceUri": {
          "readOnly": true,
          "description": "Output only. The SAML **Assertion Consumer Service (ACS) URL** to be used for the IDP-initiated login. Assumed to accept response messages via the `HTTP-POST` binding.",
          "type": "string"
        }
      },
      "id": "SamlSpConfig",
      "description": "SAML SP (service provider) configuration.",
      "type": "object"
    },
    "MoveOrgMembershipRequest": {
      "description": "The request message for OrgMembershipsService.MoveOrgMembership.",
      "type": "object",
      "properties": {
        "destinationOrgUnit": {
          "type": "string",
          "description": "Required. Immutable. OrgUnit where the membership will be moved to. Format: orgUnits/{$orgUnitId} where `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits)."
        },
        "customer": {
          "type": "string",
          "description": "Required. Immutable. Customer on whose membership change is made. All authorization will happen on the role assignments of this customer. Format: customers/{$customerId} where `$customerId` is the `id` from the [Admin SDK `Customer` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers). You may also use `customers/my_customer` to specify your own organization."
        }
      },
      "id": "MoveOrgMembershipRequest"
    },
    "SearchTransitiveMembershipsResponse": {
      "type": "object",
      "description": "The response message for MembershipsService.SearchTransitiveMemberships.",
      "id": "SearchTransitiveMembershipsResponse",
      "properties": {
        "memberships": {
          "type": "array",
          "items": {
            "$ref": "MemberRelation"
          },
          "description": "List of transitive memberships satisfying the query."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        }
      }
    },
    "BlockDeviceUserRequest": {
      "type": "object",
      "id": "BlockDeviceUserRequest",
      "description": "Request message for blocking account on device.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        }
      }
    },
    "CertificateTemplate": {
      "description": "CertificateTemplate (v3 Extension in X.509).",
      "properties": {
        "id": {
          "type": "string",
          "description": "The template id of the template. Example: \"1.3.6.1.4.1.311.21.8.15608621.11768144.5720724.16068415.6889630.81.2472537.7784047\"."
        },
        "minorVersion": {
          "type": "integer",
          "format": "int32",
          "description": "The minor version of the template. Example: 12."
        },
        "majorVersion": {
          "type": "integer",
          "description": "The Major version of the template. Example: 100.",
          "format": "int32"
        }
      },
      "id": "CertificateTemplate",
      "type": "object"
    },
    "InboundSsoAssignment": {
      "type": "object",
      "description": "Targets with \"set\" SSO assignments and their respective assignments.",
      "properties": {
        "customer": {
          "description": "Immutable. The customer. For example: `customers/C0123abc`.",
          "type": "string"
        },
        "targetOrgUnit": {
          "description": "Immutable. Must be of the form `orgUnits/{org_unit}`.",
          "type": "string"
        },
        "rank": {
          "type": "integer",
          "description": "Must be zero (which is the default value so it can be omitted) for assignments with `target_org_unit` set and must be greater-than-or-equal-to one for assignments with `target_group` set.",
          "format": "int32"
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Inbound SSO Assignment.",
          "type": "string",
          "readOnly": true
        },
        "targetGroup": {
          "description": "Immutable. Must be of the form `groups/{group}`.",
          "type": "string"
        },
        "samlSsoInfo": {
          "description": "SAML SSO details. Must be set if and only if `sso_mode` is set to `SAML_SSO`.",
          "$ref": "SamlSsoInfo"
        },
        "signInBehavior": {
          "description": "Assertions about users assigned to an IdP will always be accepted from that IdP. This controls whether/when Google should redirect a user to the IdP. Unset (defaults) is the recommended configuration.",
          "$ref": "SignInBehavior"
        },
        "oidcSsoInfo": {
          "description": "OpenID Connect SSO details. Must be set if and only if `sso_mode` is set to `OIDC_SSO`.",
          "$ref": "OidcSsoInfo"
        },
        "ssoMode": {
          "type": "string",
          "description": "Inbound SSO behavior.",
          "enum": [
            "SSO_MODE_UNSPECIFIED",
            "SSO_OFF",
            "SAML_SSO",
            "OIDC_SSO",
            "DOMAIN_WIDE_SAML_IF_ENABLED"
          ],
          "enumDescriptions": [
            "Not allowed.",
            "Disable SSO for the targeted users.",
            "Use an external SAML Identity Provider for SSO for the targeted users.",
            "Use an external OIDC Identity Provider for SSO for the targeted users.",
            "Use the domain-wide SAML Identity Provider for the targeted users if one is configured; otherwise, this is equivalent to `SSO_OFF`. Note that this will also be equivalent to `SSO_OFF` if/when support for domain-wide SAML is removed. Google may disallow this mode at that point and existing assignments with this mode may be automatically changed to `SSO_OFF`."
          ]
        }
      },
      "id": "InboundSsoAssignment"
    },
    "Membership": {
      "properties": {
        "preferredMemberKey": {
          "$ref": "EntityKey",
          "description": "Required. Immutable. The `EntityKey` of the member. Either `member_key` or `preferred_member_key` must be set when calling MembershipsService.CreateMembership but not both; both shall be set when returned."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the `Membership` was created.",
          "format": "google-datetime"
        },
        "deliverySetting": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default. Should not be used.",
            "Represents each mail should be delivered",
            "Represents 1 email for every 25 messages.",
            "Represents daily summary of messages.",
            "Represents no delivery.",
            "Represents disabled state."
          ],
          "enum": [
            "DELIVERY_SETTING_UNSPECIFIED",
            "ALL_MAIL",
            "DIGEST",
            "DAILY",
            "NONE",
            "DISABLED"
          ],
          "description": "Output only. Delivery setting associated with the membership."
        },
        "type": {
          "enumDescriptions": [
            "Default. Should not be used.",
            "Represents user type.",
            "Represents service account type.",
            "Represents group type.",
            "Represents Shared drive.",
            "Represents a CBCM-managed Chrome Browser type.",
            "Represents a ChromeOS-managed ChromeOS device type.",
            "Represents other type."
          ],
          "type": "string",
          "description": "Output only. The type of the membership.",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER",
            "SERVICE_ACCOUNT",
            "GROUP",
            "SHARED_DRIVE",
            "CBCM_BROWSER",
            "CHROME_OS_DEVICE",
            "OTHER"
          ]
        },
        "memberKey": {
          "description": "Immutable. The `EntityKey` of the member. Either `member_key` or `preferred_member_key` must be set when calling MembershipsService.CreateMembership but not both; both shall be set when returned.",
          "$ref": "EntityKey"
        },
        "updateTime": {
          "description": "Output only. The time when the `Membership` was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "roles": {
          "items": {
            "$ref": "MembershipRole"
          },
          "description": "The `MembershipRole`s that apply to the `Membership`. If unspecified, defaults to a single `MembershipRole` with `name` `MEMBER`. Must not contain duplicate `MembershipRole`s with the same `name`.",
          "type": "array"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group_id}/memberships/{membership_id}`."
        }
      },
      "type": "object",
      "id": "Membership",
      "description": "A membership within the Cloud Identity Groups API. A `Membership` defines a relationship between a `Group` and an entity belonging to that `Group`, referred to as a \"member\"."
    },
    "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes": {
      "properties": {
        "additionalSignals": {
          "description": "[Additional signals](https://cloud.google.com/endpoint-verification/docs/device-information) reported by Endpoint Verification. It includes the following attributes: * Non-configurable attributes: hotfixes, av_installed, av_enabled, windows_domain_name, is_os_native_firewall_enabled, and is_secure_boot_enabled. * [Configurable attributes](https://cloud.google.com/endpoint-verification/docs/collect-config-attributes): file, folder, and binary attributes; registry entries; and properties in a plist.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "certificateAttributes": {
          "description": "Details of certificates.",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CertificateAttributes"
          },
          "type": "array"
        },
        "browserAttributes": {
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1BrowserAttributes"
          },
          "type": "array",
          "description": "Details of browser profiles reported by Endpoint Verification."
        }
      },
      "type": "object",
      "description": "Resource representing the [Endpoint Verification-specific attributes](https://cloud.google.com/endpoint-verification/docs/device-information) of a device.",
      "id": "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes"
    },
    "MemberRestriction": {
      "type": "object",
      "id": "MemberRestriction",
      "description": "The definition of MemberRestriction",
      "properties": {
        "query": {
          "description": "Member Restriction as defined by CEL expression. Supported restrictions are: `member.customer_id` and `member.type`. Valid values for `member.type` are `1`, `2` and `3`. They correspond to USER, SERVICE_ACCOUNT, and GROUP respectively. The value for `member.customer_id` only supports `groupCustomerId()` currently which means the customer id of the group will be used for restriction. Supported operators are `&&`, `||` and `==`, corresponding to AND, OR, and EQUAL. Examples: Allow only service accounts of given customer to be members. `member.type == 2 && member.customer_id == groupCustomerId()` Allow only users or groups to be members. `member.type == 1 || member.type == 3`",
          "type": "string"
        },
        "evaluation": {
          "description": "The evaluated state of this restriction on a group.",
          "$ref": "RestrictionEvaluation"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse": {
      "type": "object",
      "description": "Response message for approving the device to access user data.",
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      }
    },
    "SearchGroupsResponse": {
      "description": "The response message for GroupsService.SearchGroups.",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "The `Group` resources that match the search query."
        },
        "nextPageToken": {
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SearchGroupsResponse"
    },
    "EntityKey": {
      "properties": {
        "namespace": {
          "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}`.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`."
        }
      },
      "description": "A unique identifier for an entity in the Cloud Identity Groups API. An entity can represent either a group with an optional `namespace` or a user without a `namespace`. The combination of `id` and `namespace` must be unique; however, the same `id` can be used with different `namespace`s.",
      "type": "object",
      "id": "EntityKey"
    },
    "GoogleAppsCloudidentityDevicesV1AndroidAttributes": {
      "properties": {
        "ctsProfileMatch": {
          "type": "boolean",
          "description": "Whether the device passes Android CTS compliance."
        },
        "hasPotentiallyHarmfulApps": {
          "description": "Whether any potentially harmful apps were detected on the device.",
          "type": "boolean"
        },
        "ownershipPrivilege": {
          "enum": [
            "OWNERSHIP_PRIVILEGE_UNSPECIFIED",
            "DEVICE_ADMINISTRATOR",
            "PROFILE_OWNER",
            "DEVICE_OWNER"
          ],
          "description": "Ownership privileges on device.",
          "type": "string",
          "enumDescriptions": [
            "Ownership privilege is not set.",
            "Active device administrator privileges on the device.",
            "Profile Owner privileges. The account is in a managed corporate profile.",
            "Device Owner privileges on the device."
          ]
        },
        "ownerProfileAccount": {
          "type": "boolean",
          "description": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles."
        },
        "supportsWorkProfile": {
          "description": "Whether device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy.",
          "type": "boolean"
        },
        "enabledUnknownSources": {
          "description": "Whether applications from unknown sources can be installed on device.",
          "type": "boolean"
        },
        "verifyAppsEnabled": {
          "description": "Whether Google Play Protect Verify Apps is enabled.",
          "type": "boolean"
        },
        "verifiedBoot": {
          "description": "Whether Android verified boot status is GREEN.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
      "description": "Resource representing the Android specific attributes of a Device.",
      "type": "object"
    },
    "CancelUserInvitationRequest": {
      "id": "CancelUserInvitationRequest",
      "type": "object",
      "properties": {},
      "description": "Request to cancel sent invitation for target email in UserInvitation."
    },
    "WipeDeviceUserResponse": {
      "type": "object",
      "id": "WipeDeviceUserResponse",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "DeviceUser"
        }
      },
      "description": "Response message for wiping the user's account from the device."
    },
    "WipeDeviceUserRequest": {
      "id": "WipeDeviceUserRequest",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
        }
      },
      "description": "Request message for starting an account wipe on device.",
      "type": "object"
    },
    "WipeDeviceRequest": {
      "id": "WipeDeviceRequest",
      "type": "object",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        },
        "removeResetLock": {
          "description": "Optional. Specifies if a user is able to factory reset a device after a Device Wipe. On iOS, this is called \"Activation Lock\", while on Android, this is known as \"Factory Reset Protection\". If true, this protection will be removed from the device, so that a user can successfully factory reset. If false, the setting is untouched on the device.",
          "type": "boolean"
        }
      },
      "description": "Request message for wiping all data on the device."
    },
    "CancelWipeDeviceResponse": {
      "properties": {
        "device": {
          "$ref": "Device",
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object."
        }
      },
      "id": "CancelWipeDeviceResponse",
      "description": "Response message for cancelling an unfinished device wipe.",
      "type": "object"
    },
    "ExternalId": {
      "properties": {
        "namespace": {
          "description": "Required. The namespace in which the entity exists. Cannot be empty. Currently, the only allowable namespace is `\"system/external\"`.",
          "type": "string"
        },
        "id": {
          "description": "Required. The unique identifier assigned by the external identity provider. The API does not enforce uniqueness of IDs across entities, but clients should ensure IDs are unique within their namespace.",
          "type": "string"
        }
      },
      "description": "An external identifier for an entity in the Cloud Identity Groups API. Used to link a `Group` in Cloud Identity Groups API with a corresponding entity in an external identity system or directory.",
      "type": "object",
      "id": "ExternalId"
    },
    "SearchDirectGroupsResponse": {
      "id": "SearchDirectGroupsResponse",
      "properties": {
        "memberships": {
          "items": {
            "$ref": "MembershipRelation"
          },
          "type": "array",
          "description": "List of direct groups satisfying the query."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing."
        }
      },
      "description": "The response message for MembershipsService.SearchDirectGroups.",
      "type": "object"
    },
    "ListDeviceUsersResponse": {
      "id": "ListDeviceUsersResponse",
      "description": "Response message that is returned from the ListDeviceUsers method.",
      "type": "object",
      "properties": {
        "deviceUsers": {
          "type": "array",
          "items": {
            "$ref": "DeviceUser"
          },
          "description": "Devices meeting the list restrictions."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CustomAttributeValue": {
      "id": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue",
      "properties": {
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "numberValue": {
          "format": "double",
          "type": "number",
          "description": "Represents a double value."
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Additional custom attribute values may be one of these types"
    },
    "SamlSsoInfo": {
      "id": "SamlSsoInfo",
      "description": "Details that are applicable when `sso_mode` == `SAML_SSO`.",
      "properties": {
        "inboundSamlSsoProfile": {
          "description": "Required. Name of the `InboundSamlSsoProfile` to use. Must be of the form `inboundSamlSsoProfiles/{inbound_saml_sso_profile}`. ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PolicyQuery": {
      "type": "object",
      "description": "PolicyQuery",
      "properties": {
        "orgUnit": {
          "description": "Required. Immutable. Non-empty default. The OrgUnit the query applies to. This field is only set if there is a single value for org_unit that satisfies all clauses of the query.",
          "type": "string"
        },
        "sortOrder": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Output only. The decimal sort order of this PolicyQuery. The value is relative to all other policies with the same setting type for the customer. (There are no duplicates within this set)."
        },
        "query": {
          "description": "Immutable. The CEL query that defines which entities the Policy applies to (ex. a User entity). For details about CEL see https://opensource.google.com/projects/cel. The OrgUnits the Policy applies to are represented by a clause like so: entity.org_units.exists(org_unit, org_unit.org_unit_id == orgUnitId('{orgUnitId}')) The Group the Policy applies to are represented by a clause like so: entity.groups.exists(group, group.group_id == groupId('{groupId}')) The Licenses the Policy applies to are represented by a clause like so: entity.licenses.exists(license, license in ['/product/{productId}/sku/{skuId}']) **Note:** The licenses clause is not supported in mutate endpoints. The above clauses can be present in any combination, and used in conjunction with the &&, || and ! operators. The org_unit and group fields below are helper fields that contain the corresponding value(s) as the query to make the query easier to use.",
          "type": "string"
        },
        "group": {
          "type": "string",
          "description": "Immutable. The group that the query applies to. This field is only set if there is a single value for group that satisfies all clauses of the query. If no group applies, this will be the empty string."
        }
      },
      "id": "PolicyQuery"
    },
    "CustomAttributeValue": {
      "type": "object",
      "description": "Additional custom attribute values may be one of these types",
      "id": "CustomAttributeValue",
      "properties": {
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "numberValue": {
          "type": "number",
          "description": "Represents a double value.",
          "format": "double"
        }
      }
    },
    "TransitiveMembershipRole": {
      "properties": {
        "role": {
          "type": "string",
          "description": "TransitiveMembershipRole in string format. Currently supported TransitiveMembershipRoles: `\"MEMBER\"`, `\"OWNER\"`, and `\"MANAGER\"`."
        }
      },
      "id": "TransitiveMembershipRole",
      "description": "Message representing the role of a TransitiveMembership.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata",
      "properties": {},
      "description": "Metadata for DeleteDevice LRO."
    },
    "GoogleAppsCloudidentityDevicesV1BrowserAttributes": {
      "id": "GoogleAppsCloudidentityDevicesV1BrowserAttributes",
      "type": "object",
      "properties": {
        "chromeBrowserInfo": {
          "$ref": "GoogleAppsCloudidentityDevicesV1BrowserInfo",
          "description": "Represents the current state of the [Chrome browser attributes](https://cloud.google.com/access-context-manager/docs/browser-attributes) sent by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1)."
        },
        "lastProfileSyncTime": {
          "type": "string",
          "description": "Timestamp in milliseconds since the Unix epoch when the profile/gcm id was last synced.",
          "format": "google-datetime"
        },
        "chromeProfileId": {
          "type": "string",
          "description": "Chrome profile ID that is exposed by the Chrome API. It is unique for each device."
        }
      },
      "description": "Contains information about browser profiles reported by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1)."
    },
    "GetMembershipGraphResponse": {
      "description": "The response message for MembershipsService.GetMembershipGraph.",
      "properties": {
        "groups": {
          "type": "array",
          "description": "The resources representing each group in the adjacency list. Each group in this list can be correlated to a 'group' of the MembershipAdjacencyList using the 'name' of the Group resource.",
          "items": {
            "$ref": "Group"
          }
        },
        "adjacencyList": {
          "type": "array",
          "items": {
            "$ref": "MembershipAdjacencyList"
          },
          "description": "The membership graph's path information represented as an adjacency list."
        }
      },
      "type": "object",
      "id": "GetMembershipGraphResponse"
    },
    "MemberRelation": {
      "id": "MemberRelation",
      "description": "Message representing a transitive membership of a group.",
      "type": "object",
      "properties": {
        "preferredMemberKey": {
          "type": "array",
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace.",
          "items": {
            "$ref": "EntityKey"
          }
        },
        "roles": {
          "items": {
            "$ref": "TransitiveMembershipRole"
          },
          "description": "The membership role details (i.e name of role and expiry time).",
          "type": "array"
        },
        "relationType": {
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "type": "string",
          "description": "The relation between the group and the transitive membership.",
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ]
        },
        "member": {
          "type": "string",
          "description": "Resource name for this member."
        }
      }
    },
    "ApproveDeviceUserRequest": {
      "type": "object",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        }
      },
      "id": "ApproveDeviceUserRequest",
      "description": "Request message for approving the device to access user data."
    },
    "Setting": {
      "description": "Setting",
      "type": "object",
      "id": "Setting",
      "properties": {
        "value": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Required. The value of the Setting.",
          "type": "object"
        },
        "type": {
          "type": "string",
          "description": "Required. Immutable. The type of the Setting."
        }
      }
    },
    "ListOrgMembershipsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "orgMemberships": {
          "type": "array",
          "items": {
            "$ref": "OrgMembership"
          },
          "description": "The non-vacuous membership in an orgUnit."
        }
      },
      "id": "ListOrgMembershipsResponse",
      "type": "object",
      "description": "The response message for OrgMembershipsService.ListOrgMemberships."
    },
    "OidcRpConfig": {
      "description": "OIDC RP (relying party) configuration.",
      "type": "object",
      "properties": {
        "clientId": {
          "description": "OAuth2 client ID for OIDC.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Input only. OAuth2 client secret for OIDC.",
          "type": "string"
        },
        "redirectUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The URL(s) that this client may use in authentication requests.",
          "readOnly": true
        }
      },
      "id": "OidcRpConfig"
    },
    "Group": {
      "description": "A group within the Cloud Identity Groups API. A `Group` is a collection of entities, where each entity is either a user, another group, or a service account.",
      "properties": {
        "externalIds": {
          "type": "array",
          "items": {
            "$ref": "ExternalId"
          },
          "description": "Optional. External identifiers associated with the `Group`. Enables external identity providers and directory sync tools to link their native unique identifiers with this group. Currently, the only allowable namespace is `\"system/external\"`."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the `Group` was last updated."
        },
        "description": {
          "description": "An extended description to help users determine the purpose of a `Group`. Must not be longer than 4,096 characters.",
          "type": "string"
        },
        "groupKey": {
          "description": "Required. The `EntityKey` of the `Group`.",
          "$ref": "EntityKey"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the `Group` was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. One or more label entries that apply to the Group. Labels contain a key with an empty value. Google Groups are the default type of group and have a label with a key of `cloudidentity.googleapis.com/groups.discussion_forum` and an empty value. Existing Google Groups can have an additional label with a key of `cloudidentity.googleapis.com/groups.security` and an empty value added to them. **This is an immutable change and the security label cannot be removed once added.** Dynamic groups have a label with a key of `cloudidentity.googleapis.com/groups.dynamic`. Identity-mapped groups for Cloud Search have a label with a key of `system/groups/external` and an empty value. Google Groups can be [locked](https://support.google.com/a?p=locked-groups). To lock a group, add a label with a key of `cloudidentity.googleapis.com/groups.locked` and an empty value. Doing so locks the group. To unlock the group, remove this label."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the `Group`."
        },
        "posixGroups": {
          "description": "Optional. The POSIX groups associated with the `Group`.",
          "items": {
            "$ref": "PosixGroup"
          },
          "type": "array"
        },
        "additionalGroupKeys": {
          "description": "Output only. Additional group keys associated with the Group.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "EntityKey"
          }
        },
        "parent": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the entity under which this `Group` resides in the Cloud Identity resource hierarchy. Must be of the form `identitysources/{identity_source}` for external [identity-mapped groups](https://support.google.com/a/answer/9039510) or `customers/{customer_id}` for Google Groups. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793)"
        },
        "dynamicGroupMetadata": {
          "description": "Optional. Dynamic group metadata like queries and status.",
          "$ref": "DynamicGroupMetadata"
        }
      },
      "type": "object",
      "id": "Group"
    },
    "AddIdpCredentialRequest": {
      "description": "The request for creating an IdpCredential with its associated payload. An InboundSamlSsoProfile can own up to 2 credentials.",
      "properties": {
        "pemData": {
          "type": "string",
          "description": "PEM encoded x509 certificate containing the public key for verifying IdP signatures."
        }
      },
      "id": "AddIdpCredentialRequest",
      "type": "object"
    },
    "SearchTransitiveGroupsResponse": {
      "description": "The response message for MembershipsService.SearchTransitiveGroups.",
      "id": "SearchTransitiveGroupsResponse",
      "properties": {
        "memberships": {
          "items": {
            "$ref": "GroupRelation"
          },
          "type": "array",
          "description": "List of transitive groups satisfying the query."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing."
        }
      },
      "type": "object"
    },
    "ListInboundOidcSsoProfilesResponse": {
      "type": "object",
      "description": "Response of the InboundOidcSsoProfilesService.ListInboundOidcSsoProfiles method.",
      "properties": {
        "inboundOidcSsoProfiles": {
          "type": "array",
          "description": "List of InboundOidcSsoProfiles.",
          "items": {
            "$ref": "InboundOidcSsoProfile"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListInboundOidcSsoProfilesResponse"
    },
    "SamlIdpConfig": {
      "id": "SamlIdpConfig",
      "description": "SAML IDP (identity provider) configuration.",
      "properties": {
        "singleSignOnServiceUri": {
          "type": "string",
          "description": "Required. The `SingleSignOnService` endpoint location (sign-in page URL) of the identity provider. This is the URL where the `AuthnRequest` will be sent. Must use `HTTPS`. Assumed to accept the `HTTP-Redirect` binding."
        },
        "entityId": {
          "type": "string",
          "description": "Required. The SAML **Entity ID** of the identity provider."
        },
        "logoutRedirectUri": {
          "description": "The **Logout Redirect URL** (sign-out page URL) of the identity provider. When a user clicks the sign-out link on a Google page, they will be redirected to this URL. This is a pure redirect with no attached SAML `LogoutRequest` i.e. SAML single logout is not supported. Must use `HTTPS`.",
          "type": "string"
        },
        "changePasswordUri": {
          "description": "The **Change Password URL** of the identity provider. Users will be sent to this URL when changing their passwords at `myaccount.google.com`. This takes precedence over the change password URL configured at customer-level. Must use `HTTPS`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListAllowlistedDomainsResponse": {
      "description": "Response message for AllowlistedDomainsService.ListAllowlistedDomains.",
      "properties": {
        "allowlistedDomains": {
          "description": "Contains the list of domains in the allowlist. There is no defined ordering of domains within a result.",
          "items": {
            "$ref": "AllowlistedDomain"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Contains the next page token if the result is not exhaustive. If there are no more results, this token is empty.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAllowlistedDomainsResponse"
    },
    "GoogleAppsCloudidentityDevicesV1Device": {
      "id": "GoogleAppsCloudidentityDevicesV1Device",
      "type": "object",
      "properties": {
        "imei": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. IMEI number of device if GSM device; empty otherwise."
        },
        "buildNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Build number of the device."
        },
        "brand": {
          "description": "Output only. Device brand. Example: Samsung.",
          "type": "string",
          "readOnly": true
        },
        "deviceType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device.",
            "Device is a Googlebook device."
          ],
          "type": "string",
          "description": "Output only. Type of device.",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS",
            "GOOGLEBOOK"
          ]
        },
        "networkOperator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Mobile or network operator of device, if available."
        },
        "lastSyncTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Most recent time when device synced with this service."
        },
        "bootloaderVersion": {
          "description": "Output only. Device bootloader version. Example: 0.6.7.",
          "readOnly": true,
          "type": "string"
        },
        "hostname": {
          "type": "string",
          "description": "Host name of the device."
        },
        "basebandVersion": {
          "description": "Output only. Baseband version of the device.",
          "readOnly": true,
          "type": "string"
        },
        "enabledUsbDebugging": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether USB debugging is enabled on device."
        },
        "kernelVersion": {
          "description": "Output only. Kernel version of the device.",
          "type": "string",
          "readOnly": true
        },
        "securityPatchTime": {
          "description": "Output only. OS security patch update time on device.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "manufacturer": {
          "description": "Output only. Device manufacturer. Example: Motorola.",
          "readOnly": true,
          "type": "string"
        },
        "osVersion": {
          "description": "Output only. OS version of the device. Example: Android 8.1.0.",
          "type": "string",
          "readOnly": true
        },
        "serialNumber": {
          "description": "Serial Number of device. Example: HT82V1A01076.",
          "type": "string"
        },
        "compromisedState": {
          "description": "Output only. Represents whether the Device is compromised.",
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ],
          "type": "string"
        },
        "otherAccounts": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\".",
          "type": "array"
        },
        "meid": {
          "description": "Output only. MEID number of device if CDMA device; empty otherwise.",
          "type": "string",
          "readOnly": true
        },
        "unifiedDeviceId": {
          "description": "Output only. Unified device id of the device.",
          "type": "string",
          "readOnly": true
        },
        "releaseVersion": {
          "description": "Output only. OS release version. Example: 6.0.",
          "type": "string",
          "readOnly": true
        },
        "endpointVerificationSpecificAttributes": {
          "$ref": "GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes",
          "description": "Output only. Attributes specific to [Endpoint Verification](https://cloud.google.com/endpoint-verification/docs/overview) devices.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique id assigned to the Device. Important: Device API scopes require that you use domain-wide delegation to access the API. For more information, see [Set up the Devices API](https://cloud.google.com/identity/docs/how-to/setup-devices)."
        },
        "assetTag": {
          "type": "string",
          "description": "Asset tag of the device."
        },
        "model": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Model name of device. Example: Pixel 3."
        },
        "ownerType": {
          "description": "Output only. Whether the device is owned by the company or an individual",
          "readOnly": true,
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ]
        },
        "androidSpecificAttributes": {
          "$ref": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
          "readOnly": true,
          "description": "Output only. Attributes specific to Android devices."
        },
        "wifiMacAddresses": {
          "type": "array",
          "description": "WiFi MAC addresses of device.",
          "items": {
            "type": "string"
          }
        },
        "encryptionState": {
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ],
          "type": "string",
          "description": "Output only. Device encryption state.",
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ],
          "readOnly": true
        },
        "managementState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. Device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ],
          "description": "Output only. Management state of the device",
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ],
          "type": "string",
          "readOnly": true
        },
        "deviceId": {
          "type": "string",
          "description": "Unique identifier for the device."
        },
        "enabledDeveloperOptions": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether developer options is enabled on device."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": " A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user."
    },
    "LookupGroupNameResponse": {
      "properties": {
        "name": {
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Group`.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The response message for GroupsService.LookupGroupName.",
      "id": "LookupGroupNameResponse",
      "type": "object"
    },
    "DeleteInboundSsoAssignmentOperationMetadata": {
      "type": "object",
      "id": "DeleteInboundSsoAssignmentOperationMetadata",
      "properties": {},
      "description": "LRO response metadata for InboundSsoAssignmentsService.DeleteInboundSsoAssignment."
    },
    "OidcIdpConfig": {
      "description": "OIDC IDP (identity provider) configuration.",
      "properties": {
        "issuerUri": {
          "type": "string",
          "description": "Required. The Issuer identifier for the IdP. Must be a URL. The discovery URL will be derived from this as described in Section 4 of [the OIDC specification](https://openid.net/specs/openid-connect-discovery-1_0.html)."
        },
        "changePasswordUri": {
          "description": "The **Change Password URL** of the identity provider. Users will be sent to this URL when changing their passwords at `myaccount.google.com`. This takes precedence over the change password URL configured at customer-level. Must use `HTTPS`.",
          "type": "string"
        }
      },
      "id": "OidcIdpConfig",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata",
      "properties": {},
      "description": "Metadata for CancelWipeDeviceUser LRO.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata": {
      "description": "Metadata for ListEndpointApps LRO.",
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1DeviceUser": {
      "description": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device",
      "id": "GoogleAppsCloudidentityDevicesV1DeviceUser",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the user first signed in to the device"
        },
        "firstSyncTime": {
          "description": "Output only. Most recent time when user registered with this service.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "userAgent": {
          "readOnly": true,
          "description": "Output only. User agent on the device for this specific user",
          "type": "string"
        },
        "compromisedState": {
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "NOT_COMPROMISED"
          ],
          "type": "string",
          "description": "Compromised State of the DeviceUser object",
          "enumDescriptions": [
            "Compromised state of Device User account is unknown or unspecified.",
            "Device User Account is compromised.",
            "Device User Account is not compromised."
          ]
        },
        "userEmail": {
          "description": "Email address of the user registered on the device.",
          "type": "string"
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device}/deviceUsers/{device_user}`, where `device_user` uniquely identifies a user's use of a device.",
          "type": "string",
          "readOnly": true
        },
        "passwordState": {
          "enum": [
            "PASSWORD_STATE_UNSPECIFIED",
            "PASSWORD_SET",
            "PASSWORD_NOT_SET"
          ],
          "type": "string",
          "description": "Password state of the DeviceUser object",
          "enumDescriptions": [
            "Password state not set.",
            "Password set in object.",
            "Password not set in object."
          ]
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last time when user synced with policies.",
          "readOnly": true
        },
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Default locale used on device, in IETF BCP-47 format."
        },
        "managementState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "WIPING",
            "WIPED",
            "APPROVED",
            "BLOCKED",
            "PENDING_APPROVAL",
            "UNENROLLED"
          ],
          "description": "Output only. Management state of the user on the device.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This user's data and profile is being removed from the device.",
            "This user's data and profile is removed from the device.",
            "User is approved to access data on the device.",
            "User is blocked from accessing data on the device.",
            "User is awaiting approval.",
            "User is unenrolled from Advanced Windows Management, but the Windows account is still intact."
          ]
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata": {
      "description": "Metadata for ApproveDeviceUser LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata",
      "properties": {},
      "type": "object"
    },
    "CreateInboundSsoAssignmentOperationMetadata": {
      "id": "CreateInboundSsoAssignmentOperationMetadata",
      "properties": {},
      "description": "LRO response metadata for InboundSsoAssignmentsService.CreateInboundSsoAssignment.",
      "type": "object"
    },
    "UpdateInboundOidcSsoProfileOperationMetadata": {
      "type": "object",
      "id": "UpdateInboundOidcSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundOidcSsoProfilesService.UpdateInboundOidcSsoProfile.",
      "properties": {
        "state": {
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448).",
          "type": "string"
        }
      }
    },
    "PolicyConflict": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The policy value from this lower-priority source."
        },
        "scope": {
          "enum": [
            "SCOPE_UNKNOWN",
            "USER",
            "MACHINE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. The policy scope is unknown or not specified.",
            "User-level policy. This scope indicates the policy applies to the specific user session or profile. For cloud policies, this is typically the signed-in Chrome profile. On some platforms like Windows, this can also refer to the OS user.",
            "Machine-level policy. This scope indicates the policy applies system-wide to all users on the current machine or device."
          ],
          "description": "Output only. The scope at which this lower-priority policy is set (USER or MACHINE)."
        },
        "source": {
          "enum": [
            "SOURCE_UNKNOWN",
            "ENTERPRISE_DEFAULT",
            "CLOUD",
            "ACTIVE_DIRECTORY",
            "DEVICE_LOCAL_ACCOUNT_OVERRIDE_DEPRECATED",
            "PLATFORM",
            "PRIORITY_CLOUD_DEPRECATED",
            "MERGED",
            "COMMAND_LINE",
            "CLOUD_FROM_ASH",
            "RESTRICTED_MANAGED_GUEST_SESSION_OVERRIDE"
          ],
          "description": "Output only. The source from which this lower-priority policy value originated.",
          "enumDescriptions": [
            "Default value. The policy source is unknown or not specified.",
            "The policy is provided by Chrome's default settings when running in an enterprise environment.",
            "The policy is managed and pushed from a cloud-based administration console, such as the Google Admin console.",
            "The policy is sourced from Active Directory, primarily for Active Directory-managed ChromeOS devices.",
            "Deprecated: Formerly used when a policy was overridden by ChromeOS for public sessions or kiosk mode.",
            "The policy is set by OS built-in tool on desktop.",
            "Deprecated: Formerly used for cloud policies with higher priority.",
            "The applied policy value is the result of a merge from multiple policy sources.",
            "The policy is set using a command line argument passed to the Chrome executable, usually intended for development or testing.",
            "For ChromeOS, this indicates a policy set by cloud management in the Ash browser and then made available to the Lacros browser.",
            "The policy is set by the restricted managed guest session override."
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents a policy value from a source that was not applied because a higher-priority source took precedence.",
      "id": "PolicyConflict"
    },
    "MembershipAdjacencyList": {
      "description": "Membership graph's path information as an adjacency list.",
      "type": "object",
      "id": "MembershipAdjacencyList",
      "properties": {
        "group": {
          "type": "string",
          "description": "Resource name of the group that the members belong to."
        },
        "edges": {
          "type": "array",
          "description": "Each edge contains information about the member that belongs to this group. Note: Fields returned here will help identify the specific Membership resource (e.g `name`, `preferred_member_key` and `role`), but may not be a comprehensive list of all fields.",
          "items": {
            "$ref": "Membership"
          }
        }
      }
    },
    "AllowlistedDomain": {
      "id": "AllowlistedDomain",
      "type": "object",
      "description": "This resource object defines a domain that has been designated as allowlisted.",
      "properties": {
        "name": {
          "description": "Output only. Identifier. Resource name of the domain in the allowlist e.g. \"allowlistedDomains/0184mhaj1smlusv\"",
          "type": "string",
          "readOnly": true
        },
        "domain": {
          "type": "string",
          "description": "Required. Immutable. Name of the domain that is in the allowlist. e.g. \"google.com\""
        }
      }
    },
    "DynamicGroupStatus": {
      "id": "DynamicGroupStatus",
      "type": "object",
      "properties": {
        "status": {
          "enumDescriptions": [
            "Default.",
            "The dynamic group is up-to-date.",
            "The dynamic group has just been created and memberships are being updated.",
            "Group is in an unrecoverable state and its memberships can't be updated."
          ],
          "description": "Status of the dynamic group.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "UP_TO_DATE",
            "UPDATING_MEMBERSHIPS",
            "INVALID_QUERY"
          ]
        },
        "statusTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The latest time at which the dynamic group is guaranteed to be in the given status. If status is `UP_TO_DATE`, the latest time at which the dynamic group was confirmed to be up-to-date. If status is `UPDATING_MEMBERSHIPS`, the time at which dynamic group was created."
        }
      },
      "description": "The current status of a dynamic group along with timestamp."
    },
    "LookupMembershipNameResponse": {
      "description": "The response message for MembershipsService.LookupMembershipName.",
      "id": "LookupMembershipNameResponse",
      "properties": {
        "name": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Membership`. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApproveDeviceUserResponse": {
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "DeviceUser"
        }
      },
      "id": "ApproveDeviceUserResponse",
      "type": "object",
      "description": "Response message for approving the device to access user data."
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse",
      "properties": {
        "device": {
          "$ref": "GoogleAppsCloudidentityDevicesV1Device",
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object."
        }
      },
      "description": "Response message for cancelling an unfinished device wipe."
    },
    "MembershipRoleRestrictionEvaluation": {
      "type": "object",
      "id": "MembershipRoleRestrictionEvaluation",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default. Should not be used.",
            "The member adheres to the parent group's restriction.",
            "The group-group membership might be currently violating some parent group's restriction but in future, it will never allow any new member in the child group which can violate parent group's restriction.",
            "The member violates the parent group's restriction.",
            "The state of the membership is under evaluation."
          ],
          "type": "string",
          "description": "Output only. The current state of the restriction",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT",
            "EVALUATING"
          ],
          "readOnly": true
        }
      },
      "description": "The evaluated state of this restriction."
    },
    "MembershipRelation": {
      "type": "object",
      "description": "Message containing membership relation.",
      "id": "MembershipRelation",
      "properties": {
        "labels": {
          "type": "object",
          "description": "One or more label entries that apply to the Group. Currently supported labels contain a key with an empty value.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "An extended description to help users determine the purpose of a `Group`.",
          "type": "string"
        },
        "roles": {
          "description": "The `MembershipRole`s that apply to the `Membership`.",
          "type": "array",
          "items": {
            "$ref": "MembershipRole"
          }
        },
        "group": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the `Group`.",
          "type": "string"
        },
        "membership": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group_id}/memberships/{membership_id}`.",
          "type": "string"
        },
        "groupKey": {
          "description": "The `EntityKey` of the `Group`.",
          "$ref": "EntityKey"
        }
      }
    },
    "RestrictionEvaluations": {
      "id": "RestrictionEvaluations",
      "type": "object",
      "description": "Evaluations of restrictions applied to parent group on this membership.",
      "properties": {
        "memberRestrictionEvaluation": {
          "description": "Evaluation of the member restriction applied to this membership. Empty if the user lacks permission to view the restriction evaluation.",
          "$ref": "MembershipRoleRestrictionEvaluation"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse": {
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      },
      "description": "Response message for cancelling an unfinished user account wipe.",
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse"
    },
    "ListDevicesResponse": {
      "description": "Response message that is returned from the ListDevices method.",
      "id": "ListDevicesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        },
        "devices": {
          "items": {
            "$ref": "Device"
          },
          "description": "Devices meeting the list restrictions.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "OidcSsoInfo": {
      "type": "object",
      "description": "Details that are applicable when `sso_mode` is set to `OIDC_SSO`.",
      "properties": {
        "inboundOidcSsoProfile": {
          "description": "Required. Name of the `InboundOidcSsoProfile` to use. Must be of the form `inboundOidcSsoProfiles/{inbound_oidc_sso_profile}`. ",
          "type": "string"
        }
      },
      "id": "OidcSsoInfo"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse": {
      "description": "Response message for wiping the user's account from the device.",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      },
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse"
    },
    "UpdateInboundSsoAssignmentOperationMetadata": {
      "description": "LRO response metadata for InboundSsoAssignmentsService.UpdateInboundSsoAssignment.",
      "type": "object",
      "properties": {},
      "id": "UpdateInboundSsoAssignmentOperationMetadata"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata",
      "description": "Metadata for WipeDeviceUser LRO.",
      "properties": {},
      "type": "object"
    },
    "SendUserInvitationRequest": {
      "type": "object",
      "id": "SendUserInvitationRequest",
      "properties": {},
      "description": "A request to send email for inviting target user corresponding to the UserInvitation."
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse",
      "type": "object",
      "description": "Response message for blocking the device from accessing user data.",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      }
    },
    "CreateInboundSamlSsoProfileOperationMetadata": {
      "id": "CreateInboundSamlSsoProfileOperationMetadata",
      "properties": {
        "state": {
          "type": "string",
          "description": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448)."
        }
      },
      "description": "LRO response metadata for InboundSamlSsoProfilesService.CreateInboundSamlSsoProfile.",
      "type": "object"
    },
    "CancelWipeDeviceUserResponse": {
      "id": "CancelWipeDeviceUserResponse",
      "description": "Response message for cancelling an unfinished user account wipe.",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "DeviceUser"
        }
      },
      "type": "object"
    },
    "DeleteInboundSamlSsoProfileOperationMetadata": {
      "description": "LRO response metadata for InboundSamlSsoProfilesService.DeleteInboundSamlSsoProfile.",
      "properties": {},
      "type": "object",
      "id": "DeleteInboundSamlSsoProfileOperationMetadata"
    },
    "BrowserAttributes": {
      "description": "Contains information about browser profiles reported by the clients on the device (e.g. [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1)).",
      "properties": {
        "chromeBrowserInfo": {
          "description": "Represents the current state of the [Chrome browser attributes](https://cloud.google.com/access-context-manager/docs/browser-attributes) sent by the clients on the device, such as [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1).",
          "$ref": "BrowserInfo"
        },
        "lastProfileSyncTime": {
          "description": "Timestamp in milliseconds since the Unix epoch when the profile/gcm id was last synced.",
          "format": "google-datetime",
          "type": "string"
        },
        "chromeProfileId": {
          "description": "Chrome profile ID that is exposed by the Chrome API. It is unique for each device.",
          "type": "string"
        }
      },
      "id": "BrowserAttributes",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata": {
      "properties": {},
      "description": "Metadata for CreateDevice LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata",
      "type": "object"
    },
    "DeleteIdpCredentialOperationMetadata": {
      "id": "DeleteIdpCredentialOperationMetadata",
      "type": "object",
      "properties": {},
      "description": "LRO response metadata for InboundSamlSsoProfilesService.DeleteIdpCredential."
    },
    "CancelWipeDeviceRequest": {
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
        }
      },
      "description": "Request message for cancelling an unfinished device wipe.",
      "id": "CancelWipeDeviceRequest",
      "type": "object"
    },
    "SecuritySettings": {
      "type": "object",
      "properties": {
        "memberRestriction": {
          "description": "The Member Restriction value",
          "$ref": "MemberRestriction"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`."
        }
      },
      "id": "SecuritySettings",
      "description": "The definiion of security settings."
    },
    "PosixGroup": {
      "type": "object",
      "properties": {
        "gid": {
          "format": "uint64",
          "description": "GID of the POSIX group.",
          "type": "string"
        },
        "systemId": {
          "type": "string",
          "description": "System identifier for which group name and gid apply to. If not specified it will default to empty value."
        },
        "name": {
          "description": "Name of the POSIX group.",
          "type": "string"
        }
      },
      "id": "PosixGroup",
      "description": "POSIX Group definition to represent a group in a POSIX compliant system. Caution: POSIX groups are deprecated. As of September 26, 2024, you can no longer create new POSIX groups. For more information, see https://cloud.google.com/identity/docs/deprecations/posix-groups"
    },
    "ModifyMembershipRolesResponse": {
      "id": "ModifyMembershipRolesResponse",
      "properties": {
        "membership": {
          "description": "The `Membership` resource after modifying its `MembershipRole`s.",
          "$ref": "Membership"
        }
      },
      "description": "The response message for MembershipsService.ModifyMembershipRoles.",
      "type": "object"
    },
    "IsInvitableUserResponse": {
      "description": "Response for IsInvitableUser RPC.",
      "properties": {
        "isInvitableUser": {
          "type": "boolean",
          "description": "Returns true if the email address is invitable."
        }
      },
      "type": "object",
      "id": "IsInvitableUserResponse"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse",
      "description": "Response message for wiping all data on the device.",
      "type": "object",
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "GoogleAppsCloudidentityDevicesV1Device"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata",
      "properties": {},
      "description": "Metadata for UpdateClientState LRO."
    },
    "ListInboundSamlSsoProfilesResponse": {
      "id": "ListInboundSamlSsoProfilesResponse",
      "description": "Response of the InboundSamlSsoProfilesService.ListInboundSamlSsoProfiles method.",
      "type": "object",
      "properties": {
        "inboundSamlSsoProfiles": {
          "items": {
            "$ref": "InboundSamlSsoProfile"
          },
          "description": "List of InboundSamlSsoProfiles.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "DynamicGroupQuery": {
      "properties": {
        "query": {
          "type": "string",
          "description": "Query that determines the memberships of the dynamic group. Examples: All users with at least one `organizations.department` of engineering. `user.organizations.exists(org, org.department=='engineering')` All users with at least one location that has `area` of `foo` and `building_id` of `bar`. `user.locations.exists(loc, loc.area=='foo' && loc.building_id=='bar')` All users with any variation of the name John Doe (case-insensitive queries add `equalsIgnoreCase()` to the value being queried). `user.name.value.equalsIgnoreCase('jOhn DoE')`"
        },
        "resourceType": {
          "enumDescriptions": [
            "Default value (not valid)",
            "For queries on User"
          ],
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "USER"
          ]
        }
      },
      "description": "Defines a query on a resource.",
      "type": "object",
      "id": "DynamicGroupQuery"
    },
    "ExpiryDetail": {
      "type": "object",
      "id": "ExpiryDetail",
      "properties": {
        "expireTime": {
          "description": "The time at which the `MembershipRole` will expire.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The `MembershipRole` expiry details."
    },
    "CancelWipeDeviceUserRequest": {
      "id": "CancelWipeDeviceUserRequest",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
        }
      },
      "description": "Request message for cancelling an unfinished user account wipe.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata": {
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata",
      "type": "object",
      "description": "Metadata for BlockDeviceUser LRO."
    },
    "GoogleAppsCloudidentityDevicesV1CertificateTemplate": {
      "properties": {
        "id": {
          "description": "The template id of the template. Example: \"1.3.6.1.4.1.311.21.8.15608621.11768144.5720724.16068415.6889630.81.2472537.7784047\".",
          "type": "string"
        },
        "majorVersion": {
          "description": "The Major version of the template. Example: 100.",
          "type": "integer",
          "format": "int32"
        },
        "minorVersion": {
          "type": "integer",
          "description": "The minor version of the template. Example: 12.",
          "format": "int32"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1CertificateTemplate",
      "description": "CertificateTemplate (v3 Extension in X.509).",
      "type": "object"
    },
    "Policy": {
      "properties": {
        "customer": {
          "type": "string",
          "description": "Immutable. Customer that the Policy belongs to. The value is in the format 'customers/{customerId}'. The `customerId` must begin with \"C\" To find your customer ID in Admin Console see https://support.google.com/a/answer/10070793."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The [resource name](https://cloud.google.com/apis/design/resource_names) of the Policy. Format: policies/{policy}."
        },
        "policyQuery": {
          "description": "Required. The PolicyQuery the Setting applies to.",
          "$ref": "PolicyQuery"
        },
        "setting": {
          "description": "Required. The Setting configured by this Policy.",
          "$ref": "Setting"
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of the policy.",
          "enum": [
            "POLICY_TYPE_UNSPECIFIED",
            "SYSTEM",
            "ADMIN"
          ],
          "enumDescriptions": [
            "Unspecified policy type.",
            "Policy type denoting the system-configured policies.",
            "Policy type denoting the admin-configurable policies."
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Policy",
      "description": "A Policy resource binds an instance of a single Setting with the scope of a PolicyQuery. The Setting instance will be applied to all entities that satisfy the query."
    },
    "ListMembershipsResponse": {
      "id": "ListMembershipsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available."
        },
        "memberships": {
          "type": "array",
          "items": {
            "$ref": "Membership"
          },
          "description": "The `Membership`s under the specified `parent`."
        }
      },
      "type": "object",
      "description": "The response message for MembershipsService.ListMemberships."
    },
    "UpdateMembershipRolesParams": {
      "description": "The details of an update to a `MembershipRole`.",
      "properties": {
        "fieldMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fully-qualified names of fields to update. May only contain the field `expiry_detail.expire_time`."
        },
        "membershipRole": {
          "description": "The `MembershipRole`s to be updated. Only `MEMBER` `MembershipRoles` can currently be updated. May only contain a `MembershipRole` with `name` `MEMBER`.",
          "$ref": "MembershipRole"
        }
      },
      "id": "UpdateMembershipRolesParams",
      "type": "object"
    },
    "OrgMembership": {
      "description": "A membership in an OrgUnit. An `OrgMembership` defines a relationship between an `OrgUnit` and an entity belonging to that `OrgUnit`, referred to as a \"member\".",
      "id": "OrgMembership",
      "properties": {
        "type": {
          "description": "Immutable. Entity type for the org member.",
          "enumDescriptions": [
            "Equivalent to no resource type mentioned",
            "Shared drive as resource type"
          ],
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "SHARED_DRIVE"
          ],
          "type": "string"
        },
        "memberUri": {
          "type": "string",
          "description": "Uri with which you can read the member. This follows https://aip.dev/122 Format for shared drive resource: https://drive.googleapis.com/drive/v3/drives/{$memberId} where `$memberId` is the `id` from [Drive API (V3) `Drive` resource](https://developers.google.com/drive/api/v3/reference/drives#resource)."
        },
        "member": {
          "description": "Immutable. Org member id as full resource name. Format for shared drive resource: //drive.googleapis.com/drives/{$memberId} where `$memberId` is the `id` from [Drive API (V3) `Drive` resource](https://developers.google.com/drive/api/v3/reference/drives#resource).",
          "type": "string"
        },
        "name": {
          "type": "string",
[...]
