{
  "rootUrl": "https://docs.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "name": "docs",
  "revision": "20261005",
  "discoveryVersion": "v1",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/workspace/docs/",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    }
  },
  "title": "Google Docs API",
  "kind": "discovery#restDescription",
  "version_module": true,
  "resources": {
    "documents": {
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "Document"
          },
          "flatPath": "v1/documents",
          "parameterOrder": [],
          "id": "docs.documents.create",
          "path": "v1/documents",
          "response": {
            "$ref": "Document"
          },
          "description": "Creates a blank document using the title given in the request. Other fields in the request, including any provided content, are ignored. Returns the created document.",
          "parameters": {},
          "httpMethod": "POST"
        },
        "batchUpdate": {
          "flatPath": "v1/documents/{documentId}:batchUpdate",
          "description": "Applies one or more updates to the document. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies, the reply to the third request, and another empty reply, in that order. Because other users may be editing the document, the document might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the document should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.",
          "response": {
            "$ref": "BatchUpdateDocumentResponse"
          },
          "id": "docs.documents.batchUpdate",
          "path": "v1/documents/{documentId}:batchUpdate",
          "request": {
            "$ref": "BatchUpdateDocumentRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "documentId": {
              "type": "string",
              "required": true,
              "description": "The ID of the document to update.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "documentId"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/documents.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets the latest version of the specified document.",
          "response": {
            "$ref": "Document"
          },
          "path": "v1/documents/{documentId}",
          "parameterOrder": [
            "documentId"
          ],
          "id": "docs.documents.get",
          "parameters": {
            "documentId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the document to retrieve."
            },
            "commentsViewMode": {
              "enumDescriptions": [
                "The CommentsViewMode is unspecified. COMMENTS_VIEW_MODE_OMITTED is applied.",
                "The CommentsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, COMMENTS_VIEW_MODE_OMITTED is applied. Otherwise, COMMENTS_VIEW_MODE_INCLUDED is applied.",
                "The returned document has comments omitted.",
                "The returned document has comments included. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view comments. When set, suggestions_view_mode must also be set to SUGGESTIONS_INLINE. Returns a 400 bad request error otherwise."
              ],
              "type": "string",
              "enum": [
                "COMMENTS_VIEW_MODE_UNSPECIFIED",
                "COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS",
                "COMMENTS_VIEW_MODE_OMITTED",
                "COMMENTS_VIEW_MODE_INCLUDED"
              ],
              "location": "query",
              "description": "The comments view mode to apply to the document. This allows viewing the document with comments omitted or included. If one is not specified, COMMENTS_VIEW_MODE_OMITTED is used. If you set comments_view_mode to any value, you must also set include_tabs_content to `true` or use a field mask that references the Document.tabs field (or any subfield). If you set comments_view_mode to COMMENTS_VIEW_MODE_INCLUDED, you must also explicitly set suggestions_view_mode to SUGGESTIONS_INLINE. If you set comments_view_mode to COMMENTS_VIEW_MODE_INCLUDED or COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS, you may not set suggestions_view_mode to PREVIEW_WITHOUT_SUGGESTIONS or PREVIEW_SUGGESTIONS_ACCEPTED. [Developer Preview](https://developers.google.com/workspace/preview)."
            },
            "suggestionsViewMode": {
              "location": "query",
              "type": "string",
              "enum": [
                "DEFAULT_FOR_CURRENT_ACCESS",
                "SUGGESTIONS_INLINE",
                "PREVIEW_SUGGESTIONS_ACCEPTED",
                "PREVIEW_WITHOUT_SUGGESTIONS"
              ],
              "description": "The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used.",
              "enumDescriptions": [
                "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
                "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
              ]
            },
            "includeTabsContent": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to populate the `Document.tabs` field instead of the text content fields like `body` and `documentStyle` on `Document`. - When `true`: Document content populates in the `Document.tabs` field instead of the text content fields in `Document`. - When `false`: The content of the document's first tab populates the content fields in `Document` excluding `Document.tabs`. If a document has only one tab, then that tab is used to populate the document content. `Document.tabs` will be empty. If you use a field mask that references the `Document.tabs` field (or any subfield), the API implicitly treats the request as if you set `include_tabs_content` to `true`."
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1/documents/{documentId}"
        }
      }
    }
  },
  "version": "v1",
  "protocol": "rest",
  "schemas": {
    "UpdateParagraphStyleRequest": {
      "properties": {
        "range": {
          "description": "The range overlapping the paragraphs to style.",
          "$ref": "Range"
        },
        "paragraphStyle": {
          "description": "The styles to set on the paragraphs. Certain paragraph style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of ParagraphStyle for more information.",
          "$ref": "ParagraphStyle"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `paragraph_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the paragraph style's alignment property, set `fields` to `\"alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "UpdateParagraphStyleRequest",
      "type": "object",
      "description": "Update the styling of all paragraphs that overlap with the given range."
    },
    "DropdownDefinitionProperties": {
      "id": "DropdownDefinitionProperties",
      "type": "object",
      "description": "Properties of a dropdown definition.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the dropdown definition."
        },
        "options": {
          "description": "The list of options defined by this dropdown definition. A dropdown definition must have at least 2 options and at most 50 options.",
          "items": {
            "$ref": "DropdownOption"
          },
          "type": "array"
        }
      }
    },
    "Person": {
      "description": "A person or email address mentioned in a document. These mentions behave as a single, immutable element containing the person's name or email address.",
      "properties": {
        "personId": {
          "type": "string",
          "description": "Output only. The unique ID of this link.",
          "readOnly": true
        },
        "personProperties": {
          "readOnly": true,
          "description": "Output only. The properties of this Person. This field is always present.",
          "$ref": "PersonProperties"
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this Person, keyed by suggestion ID."
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "IDs for suggestions that insert this person link into the document. A Person might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "IDs for suggestions that remove this person link from the document. A Person might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion.",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "description": "The text style of this Person.",
          "$ref": "TextStyle"
        }
      },
      "type": "object",
      "id": "Person"
    },
    "PersonProperties": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address linked to this Person. This field is always present.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the person if it's displayed in the link text instead of the person's email address."
        }
      },
      "id": "PersonProperties",
      "description": "Properties specific to a linked Person."
    },
    "InlineObjectPropertiesSuggestionState": {
      "properties": {
        "embeddedObjectSuggestionState": {
          "$ref": "EmbeddedObjectSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion."
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "InlineObjectPropertiesSuggestionState"
    },
    "Dimension": {
      "description": "A magnitude in a single direction in the specified units.",
      "id": "Dimension",
      "properties": {
        "magnitude": {
          "type": "number",
          "format": "double",
          "description": "The magnitude."
        },
        "unit": {
          "type": "string",
          "enum": [
            "UNIT_UNSPECIFIED",
            "PT"
          ],
          "description": "The units for magnitude.",
          "enumDescriptions": [
            "The units are unknown.",
            "A point, 1/72 of an inch."
          ]
        }
      },
      "type": "object"
    },
    "DeletePositionedObjectRequest": {
      "type": "object",
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The tab that the positioned object to delete is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        },
        "objectId": {
          "description": "The ID of the positioned object to delete.",
          "type": "string"
        }
      },
      "description": "Deletes a PositionedObject from the document.",
      "id": "DeletePositionedObjectRequest"
    },
    "PositionedObjectProperties": {
      "type": "object",
      "properties": {
        "positioning": {
          "description": "The positioning of this positioned object relative to the newline of the Paragraph that references this positioned object.",
          "$ref": "PositionedObjectPositioning"
        },
        "embeddedObject": {
          "$ref": "EmbeddedObject",
          "description": "The embedded object of this positioned object."
        }
      },
      "id": "PositionedObjectProperties",
      "description": "Properties of a PositionedObject."
    },
    "ListPropertiesSuggestionState": {
      "properties": {
        "nestingLevelsSuggestionStates": {
          "items": {
            "$ref": "NestingLevelSuggestionState"
          },
          "description": "A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first.",
          "type": "array"
        }
      },
      "id": "ListPropertiesSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "DocumentFormat": {
      "properties": {
        "documentMode": {
          "description": "Whether the document has pages or is pageless.",
          "enumDescriptions": [
            "The document mode is unspecified.",
            "The document has pages.",
            "The document is pageless."
          ],
          "type": "string",
          "enum": [
            "DOCUMENT_MODE_UNSPECIFIED",
            "PAGES",
            "PAGELESS"
          ]
        }
      },
      "type": "object",
      "description": "Represents document-level format settings.",
      "id": "DocumentFormat"
    },
    "SectionStyle": {
      "type": "object",
      "id": "SectionStyle",
      "properties": {
        "marginTop": {
          "description": "The top page margin of the section. If unset, the value defaults to margin_top from DocumentStyle. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "columnSeparatorStyle": {
          "enumDescriptions": [
            "An unspecified column separator style.",
            "No column separator lines between columns.",
            "Renders a column separator line between each column."
          ],
          "type": "string",
          "enum": [
            "COLUMN_SEPARATOR_STYLE_UNSPECIFIED",
            "NONE",
            "BETWEEN_EACH_COLUMN"
          ],
          "description": "The style of column separators. This style can be set even when there's one column in the section. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "pageNumberStart": {
          "description": "The page number from which to start counting the number of pages for this section. If unset, page numbering continues from the previous section. If the value is unset in the first SectionBreak, refer to DocumentStyle's page_number_start. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "type": "integer",
          "format": "int32"
        },
        "defaultFooterId": {
          "description": "The ID of the default footer. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "marginRight": {
          "$ref": "Dimension",
          "description": "The right page margin of the section. If unset, the value defaults to margin_right from DocumentStyle. Updating the right margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "firstPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the footer on the first page of the section. If it's false, the footer on the first page of the section uses the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "marginHeader": {
          "description": "The header margin of the section. If unset, the value defaults to margin_header from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a header margin is being respected for this section. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "marginLeft": {
          "description": "The left page margin of the section. If unset, the value defaults to margin_left from DocumentStyle. Updating the left margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "flipPageOrientation": {
          "type": "boolean",
          "description": "Optional. Indicates whether to flip the dimensions of DocumentStyle's page_size for this section, which allows changing the page orientation between portrait and landscape. If unset, the value inherits from DocumentStyle's flip_page_orientation. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "columnProperties": {
          "items": {
            "$ref": "SectionColumnProperties"
          },
          "description": "The section's columns properties. If empty, the section contains one column with the default properties in the Docs editor. A section can be updated to have no more than 3 columns. When updating this property, setting a concrete value is required. Unsetting this property will result in a 400 bad request error.",
          "type": "array"
        },
        "evenPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the footers on even pages in the section. If it is false, the footers on even pages use the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "defaultHeaderId": {
          "description": "The ID of the default header. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "evenPageHeaderId": {
          "description": "The ID of the header used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the headers on even pages in the section. If it is false, the headers on even pages use the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "marginBottom": {
          "$ref": "Dimension",
          "description": "The bottom page margin of the section. If unset, the value defaults to margin_bottom from DocumentStyle. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "marginFooter": {
          "description": "The footer margin of the section. If unset, the value defaults to margin_footer from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a footer margin is being respected for this section If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "useFirstPageHeaderFooter": {
          "type": "boolean",
          "description": "Indicates whether to use the first page header / footer IDs for the first page of the section. If unset, it inherits from DocumentStyle's use_first_page_header_footer for the first section. If the value is unset for subsequent sectors, it should be interpreted as false. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "sectionType": {
          "description": "Output only. The type of section.",
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "CONTINUOUS",
            "NEXT_PAGE"
          ],
          "enumDescriptions": [
            "The section type is unspecified.",
            "The section starts immediately after the last paragraph of the previous section.",
            "The section starts on the next page."
          ]
        },
        "contentDirection": {
          "type": "string",
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ],
          "description": "The content direction of this section. If unset, the value defaults to LEFT_TO_RIGHT. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "firstPageHeaderId": {
          "type": "string",
          "description": "The ID of the header used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the header on the first page of the section. If it's false, the header on the first page of the section uses the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        }
      },
      "description": "The styling that applies to a section."
    },
    "OptionalColor": {
      "description": "A color that can either be fully opaque or fully transparent.",
      "properties": {
        "color": {
          "description": "If set, this will be used as an opaque color. If unset, this represents a transparent color.",
          "$ref": "Color"
        }
      },
      "type": "object",
      "id": "OptionalColor"
    },
    "DeleteTabRequest": {
      "type": "object",
      "description": "Deletes a tab. If the tab has child tabs, they are deleted as well.",
      "id": "DeleteTabRequest",
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The ID of the tab to delete."
        }
      }
    },
    "AutoText": {
      "id": "AutoText",
      "type": "object",
      "description": "A ParagraphElement representing a spot in the text that's dynamically replaced with content that can change over time, like a page number.",
      "properties": {
        "type": {
          "description": "The type of this auto text.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PAGE_NUMBER",
            "PAGE_COUNT"
          ],
          "enumDescriptions": [
            "An unspecified auto text type.",
            "Type for auto text that represents the current page number.",
            "Type for auto text that represents the total number of pages in the document."
          ]
        },
        "textStyle": {
          "description": "The text style of this AutoText.",
          "$ref": "TextStyle"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. An AutoText may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this AutoText, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ReplaceAllTextResponse": {
      "type": "object",
      "properties": {
        "occurrencesChanged": {
          "type": "integer",
          "description": "The number of occurrences changed by replacing all text.",
          "format": "int32"
        }
      },
      "description": "The result of replacing text.",
      "id": "ReplaceAllTextResponse"
    },
    "NamedStyle": {
      "description": "A named style. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from this named style when they have the same named style type.",
      "id": "NamedStyle",
      "type": "object",
      "properties": {
        "textStyle": {
          "description": "The text style of this named style.",
          "$ref": "TextStyle"
        },
        "namedStyleType": {
          "type": "string",
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "description": "The type of this named style.",
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ]
        },
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "The paragraph style of this named style."
        }
      }
    },
    "DeleteSuggestionRequest": {
      "properties": {
        "suggestionId": {
          "description": "The ID of the suggestion.",
          "type": "string"
        }
      },
      "description": "Deletes a suggestion. Returns a 403 forbidden error if the requesting user is not the author of the suggestion. [Developer Preview](https://developers.google.com/workspace/preview).",
      "id": "DeleteSuggestionRequest",
      "type": "object"
    },
    "HorizontalRule": {
      "id": "HorizontalRule",
      "properties": {
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this HorizontalRule, keyed by suggestion ID.",
          "type": "object"
        },
        "textStyle": {
          "description": "The text style of this HorizontalRule. Similar to text content, like text runs and footnote references, the text style of a horizontal rule can affect content layout as well as the styling of text inserted next to it.",
          "$ref": "TextStyle"
        }
      },
      "type": "object",
      "description": "A ParagraphElement representing a horizontal line."
    },
    "EmbeddedObjectSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base EmbeddedObject have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "EmbeddedObjectSuggestionState",
      "properties": {
        "embeddedDrawingPropertiesSuggestionState": {
          "$ref": "EmbeddedDrawingPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_drawing_properties have been changed in this suggestion."
        },
        "sizeSuggestionState": {
          "$ref": "SizeSuggestionState",
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion."
        },
        "embeddedObjectBorderSuggestionState": {
          "$ref": "EmbeddedObjectBorderSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object_border have been changed in this suggestion."
        },
        "titleSuggested": {
          "description": "Indicates if there was a suggested change to title.",
          "type": "boolean"
        },
        "marginLeftSuggested": {
          "description": "Indicates if there was a suggested change to margin_left.",
          "type": "boolean"
        },
        "descriptionSuggested": {
          "description": "Indicates if there was a suggested change to description.",
          "type": "boolean"
        },
        "marginBottomSuggested": {
          "description": "Indicates if there was a suggested change to margin_bottom.",
          "type": "boolean"
        },
        "linkedContentReferenceSuggestionState": {
          "description": "A mask that indicates which of the fields in linked_content_reference have been changed in this suggestion.",
          "$ref": "LinkedContentReferenceSuggestionState"
        },
        "imagePropertiesSuggestionState": {
          "$ref": "ImagePropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in image_properties have been changed in this suggestion."
        },
        "marginRightSuggested": {
          "description": "Indicates if there was a suggested change to margin_right.",
          "type": "boolean"
        },
        "marginTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_top."
        }
      }
    },
    "DateElementPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "dateFormatSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to date_format."
        },
        "localeSuggested": {
          "description": "Indicates if there was a suggested change to locale.",
          "type": "boolean"
        },
        "timeFormatSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to time_format."
        },
        "timestampSuggested": {
          "description": "Indicates if there was a suggested change to timestamp.",
          "type": "boolean"
        },
        "timeZoneIdSuggested": {
          "description": "Indicates if there was a suggested change to time_zone_id.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "DateElementPropertiesSuggestionState"
    },
    "CommentThread": {
      "type": "object",
      "id": "CommentThread",
      "properties": {
        "replies": {
          "items": {
            "$ref": "Post"
          },
          "description": "Replies to the head post.",
          "type": "array"
        },
        "status": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "OPEN",
            "RESOLVED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The comment thread is open.",
            "The comment thread is resolved."
          ],
          "description": "Whether the thread is open or resolved."
        },
        "commentId": {
          "type": "string",
          "description": "The unique ID of the comment thread."
        },
        "anchorId": {
          "type": "string",
          "description": "The ID of the CommentAnchor in the document that this thread is tied to. Multiple comment threads may be anchored to the same CommentAnchor."
        },
        "plainTextQuote": {
          "description": "The quoted text from the document when the comment was created, formatted as plain-text.",
          "type": "string"
        },
        "headPost": {
          "description": "The first post in the thread.",
          "$ref": "Post"
        }
      },
      "description": "Represents a single comment thread. [Developer Preview](https://developers.google.com/workspace/preview)."
    },
    "FootnoteReference": {
      "id": "FootnoteReference",
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this FootnoteReference."
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "description": "The suggested text style changes to this FootnoteReference, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "footnoteNumber": {
          "description": "The rendered number of this footnote.",
          "type": "string"
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A FootnoteReference may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        },
        "footnoteId": {
          "type": "string",
          "description": "The ID of the footnote that contains the content of this footnote reference."
        }
      },
      "description": "A ParagraphElement representing a footnote reference. A footnote reference is the inline content rendered with a number and is used to identify the footnote.",
      "type": "object"
    },
    "NamedStylesSuggestionState": {
      "properties": {
        "stylesSuggestionStates": {
          "items": {
            "$ref": "NamedStyleSuggestionState"
          },
          "type": "array",
          "description": "A mask that indicates which of the fields on the corresponding NamedStyle in styles have been changed in this suggestion. The order of these named style suggestion states matches the order of the corresponding named style within the named styles suggestion."
        }
      },
      "description": "The suggestion state of a NamedStyles message.",
      "id": "NamedStylesSuggestionState",
      "type": "object"
    },
    "CreateNamedRangeRequest": {
      "id": "CreateNamedRangeRequest",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the NamedRange. Names do not need to be unique. Names must be at least 1 character and no more than 256 characters, measured in UTF-16 code units.",
          "type": "string"
        },
        "range": {
          "$ref": "Range",
          "description": "The range to apply the name to."
        }
      },
      "description": "Creates a NamedRange referencing the given range."
    },
    "Background": {
      "description": "Represents the background of a document.",
      "id": "Background",
      "properties": {
        "color": {
          "$ref": "OptionalColor",
          "description": "The background color."
        }
      },
      "type": "object"
    },
    "NamedRanges": {
      "id": "NamedRanges",
      "properties": {
        "namedRanges": {
          "type": "array",
          "description": "The NamedRanges that share the same name.",
          "items": {
            "$ref": "NamedRange"
          }
        },
        "name": {
          "description": "The name that all the named ranges share.",
          "type": "string"
        }
      },
      "description": "A collection of all the NamedRanges in the document that share a given name.",
      "type": "object"
    },
    "DeleteParagraphBulletsRequest": {
      "type": "object",
      "description": "Deletes bullets from all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph.",
      "id": "DeleteParagraphBulletsRequest",
      "properties": {
        "range": {
          "$ref": "Range",
          "description": "The range to delete bullets from."
        }
      }
    },
    "ImagePropertiesSuggestionState": {
      "id": "ImagePropertiesSuggestionState",
      "properties": {
        "transparencySuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to transparency."
        },
        "sourceUriSuggested": {
          "description": "Indicates if there was a suggested change to source_uri.",
          "type": "boolean"
        },
        "cropPropertiesSuggestionState": {
          "$ref": "CropPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in crop_properties have been changed in this suggestion."
        },
        "contentUriSuggested": {
          "description": "Indicates if there was a suggested change to content_uri.",
          "type": "boolean"
        },
        "contrastSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to contrast."
        },
        "angleSuggested": {
          "description": "Indicates if there was a suggested change to angle.",
          "type": "boolean"
        },
        "brightnessSuggested": {
          "description": "Indicates if there was a suggested change to brightness.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "ReplaceNamedRangeContentRequest": {
      "id": "ReplaceNamedRangeContentRequest",
      "type": "object",
      "description": "Replaces the contents of the specified NamedRange or NamedRanges with the given replacement content. Note that an individual NamedRange may consist of multiple discontinuous ranges. In this case, only the content in the first range will be replaced. The other ranges and their content will be deleted. In cases where replacing or deleting any ranges would result in an invalid document structure, a 400 bad request error is returned.",
      "properties": {
        "namedRangeId": {
          "description": "The ID of the named range whose content will be replaced. If there is no named range with the given ID a 400 bad request error is returned.",
          "type": "string"
        },
        "namedRangeName": {
          "type": "string",
          "description": "The name of the NamedRanges whose content will be replaced. If there are multiple named ranges with the given name, then the content of each one will be replaced. If there are no named ranges with the given name, then the request will be a no-op."
        },
        "tabsCriteria": {
          "$ref": "TabsCriteria",
          "description": "Optional. The criteria used to specify in which tabs the replacement occurs. When omitted, the replacement applies to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the replacement applies to the singular tab. In a document containing multiple tabs: - If provided, the replacement applies to the specified tabs. - If omitted, the replacement applies to all tabs."
        },
        "text": {
          "type": "string",
          "description": "Replaces the content of the specified named range(s) with the given text."
        }
      }
    },
    "DropdownOption": {
      "description": "An option in a Dropdown.",
      "type": "object",
      "id": "DropdownOption",
      "properties": {
        "displayValue": {
          "type": "string",
          "description": "The display value of this dropdown option."
        },
        "textStyle": {
          "description": "The text style of this dropdown option. Currently, only the `foreground_color` and `background_color` properties are supported. If other properties are set, a 400 bad request error is returned.",
          "$ref": "TextStyle"
        },
        "optionId": {
          "description": "The ID of this dropdown option. If you specify an ID, it must be unique among all options in this dropdown definition. The ID must start with `dropdownItem.` and match regex `^dropdownItem\\.[a-zA-Z0-9_-]{2,14}$` (length 15-27 chars). If you don't specify an ID, a unique one is generated.",
          "type": "string"
        }
      }
    },
    "UpdateTableColumnPropertiesRequest": {
      "description": "Updates the TableColumnProperties of columns in a table.",
      "properties": {
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tableColumnProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the column width, set `fields` to `\"width\"`.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "columnIndices": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "The list of zero-based column indices whose property should be updated. If no indices are specified, all columns will be updated."
        },
        "tableColumnProperties": {
          "description": "The table column properties to update. If the value of `table_column_properties#width` is less than 5 points (5/72 inch), a 400 bad request error is returned.",
          "$ref": "TableColumnProperties"
        },
        "tableStartLocation": {
          "description": "The location where the table starts in the document.",
          "$ref": "Location"
        }
      },
      "id": "UpdateTableColumnPropertiesRequest",
      "type": "object"
    },
    "InsertCommentRequest": {
      "description": "Inserts a CommentThread into the document. [Developer Preview](https://developers.google.com/workspace/preview).",
      "properties": {
        "assigneeEmailAddress": {
          "type": "string",
          "description": "Optional. The email address of the assignee of the comment. Leave empty for a non-assigned comment. May not exceed 2048 UTF-8 code units."
        },
        "content": {
          "description": "The text of the comment, as plain text. This text content will be handled similarly to comments created in the Docs editor. It will have similar behaviors for formatting, notifications, etc. This field cannot be empty, and must not exceed 2048 UTF-8 code units.",
          "type": "string"
        },
        "range": {
          "$ref": "Range",
          "description": "The Range in the document that is tied to this comment."
        }
      },
      "id": "InsertCommentRequest",
      "type": "object"
    },
    "TableRange": {
      "id": "TableRange",
      "description": "A table range represents a reference to a subset of a table. It's important to note that the cells specified by a table range do not necessarily form a rectangle. For example, let's say we have a 3 x 3 table where all the cells of the last row are merged together. The table looks like this: [ ] A table range with table cell location = (table_start_location, row = 0, column = 0), row span = 3 and column span = 2 specifies the following cells: x x [ x x x ]",
      "type": "object",
      "properties": {
        "columnSpan": {
          "description": "The column span of the table range.",
          "type": "integer",
          "format": "int32"
        },
        "rowSpan": {
          "format": "int32",
          "type": "integer",
          "description": "The row span of the table range."
        },
        "tableCellLocation": {
          "description": "The cell location where the table range starts.",
          "$ref": "TableCellLocation"
        }
      }
    },
    "DocumentTab": {
      "type": "object",
      "description": "A tab with document contents.",
      "id": "DocumentTab",
      "properties": {
        "dropdownDefinitions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "DropdownDefinition"
          },
          "description": "The dropdown definitions in a document tab, keyed by dropdown definition ID."
        },
        "inlineObjects": {
          "type": "object",
          "additionalProperties": {
            "$ref": "InlineObject"
          },
          "description": "The inline objects in the document tab, keyed by object ID."
        },
        "suggestedNamedStylesChanges": {
          "description": "The suggested changes to the named styles of the document tab, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          },
          "type": "object"
        },
        "footers": {
          "additionalProperties": {
            "$ref": "Footer"
          },
          "description": "The footers in the document tab, keyed by footer ID.",
          "type": "object"
        },
        "namedRanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "NamedRanges"
          },
          "description": "The named ranges in the document tab, keyed by name."
        },
        "commentAnchors": {
          "description": "The comment anchors in a document tab, keyed by anchor ID. Only populated if the commentsViewMode parameter is set to require comments (such as `COMMENTS_VIEW_MODE_INCLUDED`). [Developer Preview](https://developers.google.com/workspace/preview).",
          "type": "object",
          "additionalProperties": {
            "$ref": "CommentAnchor"
          }
        },
        "lists": {
          "type": "object",
          "additionalProperties": {
            "$ref": "List"
          },
          "description": "The lists in the document tab, keyed by list ID."
        },
        "footnotes": {
          "additionalProperties": {
            "$ref": "Footnote"
          },
          "type": "object",
          "description": "The footnotes in the document tab, keyed by footnote ID."
        },
        "documentStyle": {
          "description": "The style of the document tab.",
          "$ref": "DocumentStyle"
        },
        "namedStyles": {
          "description": "The named styles of the document tab.",
          "$ref": "NamedStyles"
        },
        "positionedObjects": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PositionedObject"
          },
          "description": "The positioned objects in the document tab, keyed by object ID."
        },
        "suggestedDocumentStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          },
          "description": "The suggested changes to the style of the document tab, keyed by suggestion ID.",
          "type": "object"
        },
        "body": {
          "$ref": "Body",
          "description": "The main body of the document tab."
        },
        "headers": {
          "description": "The headers in the document tab, keyed by header ID.",
          "additionalProperties": {
            "$ref": "Header"
          },
          "type": "object"
        }
      }
    },
    "SuggestedDropdownProperties": {
      "id": "SuggestedDropdownProperties",
      "type": "object",
      "properties": {
        "dropdownProperties": {
          "$ref": "DropdownProperties",
          "description": "A DropdownProperties that only includes the changes made in this suggestion. This can be used along with the dropdown_properties_suggestion_state to see which fields have changed and their new values."
        },
        "dropdownPropertiesSuggestionState": {
          "$ref": "DropdownPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields on the base DropdownProperties have been changed in this suggestion."
        }
      },
      "description": "A suggested change to dropdown properties."
    },
    "UnmergeTableCellsRequest": {
      "id": "UnmergeTableCellsRequest",
      "properties": {
        "tableRange": {
          "description": "The table range specifying which cells of the table to unmerge. All merged cells in this range will be unmerged, and cells that are already unmerged will not be affected. If the range has no merged cells, the request will do nothing. If there is text in any of the merged cells, the text will remain in the \"head\" cell of the resulting block of unmerged cells. The \"head\" cell is the upper-left cell when the content direction is from left to right, and the upper-right otherwise.",
          "$ref": "TableRange"
        }
      },
      "type": "object",
      "description": "Unmerges cells in a Table."
    },
    "DocumentStyleSuggestionState": {
      "type": "object",
      "id": "DocumentStyleSuggestionState",
      "properties": {
        "useCustomHeaderFooterMarginsSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to use_custom_header_footer_margins."
        },
        "firstPageHeaderIdSuggested": {
          "description": "Indicates if there was a suggested change to first_page_header_id.",
          "type": "boolean"
        },
        "marginRightSuggested": {
          "description": "Indicates if there was a suggested change to margin_right.",
          "type": "boolean"
        },
        "evenPageFooterIdSuggested": {
          "description": "Indicates if there was a suggested change to even_page_footer_id.",
          "type": "boolean"
        },
        "firstPageFooterIdSuggested": {
          "description": "Indicates if there was a suggested change to first_page_footer_id.",
          "type": "boolean"
        },
        "marginBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_bottom."
        },
        "evenPageHeaderIdSuggested": {
          "description": "Indicates if there was a suggested change to even_page_header_id.",
          "type": "boolean"
        },
        "useFirstPageHeaderFooterSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to use_first_page_header_footer."
        },
        "marginFooterSuggested": {
          "description": "Indicates if there was a suggested change to margin_footer.",
          "type": "boolean"
        },
        "useEvenPageHeaderFooterSuggested": {
          "description": "Indicates if there was a suggested change to use_even_page_header_footer.",
          "type": "boolean"
        },
        "pageSizeSuggestionState": {
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion.",
          "$ref": "SizeSuggestionState"
        },
        "marginHeaderSuggested": {
          "description": "Indicates if there was a suggested change to margin_header.",
          "type": "boolean"
        },
        "marginTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_top."
        },
        "defaultHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to default_header_id."
        },
        "defaultFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to default_footer_id."
        },
        "pageNumberStartSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to page_number_start."
        },
        "marginLeftSuggested": {
          "description": "Indicates if there was a suggested change to margin_left.",
          "type": "boolean"
        },
        "flipPageOrientationSuggested": {
          "type": "boolean",
          "description": "Optional. Indicates if there was a suggested change to flip_page_orientation."
        },
        "backgroundSuggestionState": {
          "description": "A mask that indicates which of the fields in background have been changed in this suggestion.",
          "$ref": "BackgroundSuggestionState"
        }
      },
      "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "InsertTableRowRequest": {
      "id": "InsertTableRowRequest",
      "description": "Inserts an empty row into a table.",
      "type": "object",
      "properties": {
        "insertBelow": {
          "description": "Whether to insert new row below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell.",
          "type": "boolean"
        },
        "tableCellLocation": {
          "description": "The reference table cell location from which rows will be inserted. A new row will be inserted above (or below) the row where the reference cell is. If the reference cell is a merged cell, a new row will be inserted above (or below) the merged cell.",
          "$ref": "TableCellLocation"
        }
      }
    },
    "SuggestedInlineObjectProperties": {
      "description": "A suggested change to InlineObjectProperties.",
      "properties": {
        "inlineObjectPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion.",
          "$ref": "InlineObjectPropertiesSuggestionState"
        },
        "inlineObjectProperties": {
          "description": "An InlineObjectProperties that only includes the changes made in this suggestion. This can be used along with the inline_object_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "InlineObjectProperties"
        }
      },
      "type": "object",
      "id": "SuggestedInlineObjectProperties"
    },
    "CropProperties": {
      "type": "object",
      "id": "CropProperties",
      "properties": {
        "offsetRight": {
          "type": "number",
          "description": "The offset specifies how far inwards the right edge of the crop rectangle is from the right edge of the original content as a fraction of the original content's width.",
          "format": "float"
        },
        "offsetLeft": {
          "description": "The offset specifies how far inwards the left edge of the crop rectangle is from the left edge of the original content as a fraction of the original content's width.",
          "format": "float",
          "type": "number"
        },
        "angle": {
          "type": "number",
          "description": "The clockwise rotation angle of the crop rectangle around its center, in radians. Rotation is applied after the offsets.",
          "format": "float"
        },
        "offsetBottom": {
          "description": "The offset specifies how far inwards the bottom edge of the crop rectangle is from the bottom edge of the original content as a fraction of the original content's height.",
          "type": "number",
          "format": "float"
        },
        "offsetTop": {
          "type": "number",
          "description": "The offset specifies how far inwards the top edge of the crop rectangle is from the top edge of the original content as a fraction of the original content's height.",
          "format": "float"
        }
      },
      "description": "The crop properties of an image. The crop rectangle is represented using fractional offsets from the original content's 4 edges. - If the offset is in the interval (0, 1), the corresponding edge of crop rectangle is positioned inside of the image's original bounding rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop rectangle is positioned outside of the image's original bounding rectangle. - If all offsets and rotation angles are 0, the image is not cropped."
    },
    "SuggestedNamedStyles": {
      "id": "SuggestedNamedStyles",
      "type": "object",
      "description": "A suggested change to the NamedStyles.",
      "properties": {
        "namedStylesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base NamedStyles have been changed in this suggestion.",
          "$ref": "NamedStylesSuggestionState"
        },
        "namedStyles": {
          "$ref": "NamedStyles",
          "description": "A NamedStyles that only includes the changes made in this suggestion. This can be used along with the named_styles_suggestion_state to see which fields have changed and their new values."
        }
      }
    },
    "Footer": {
      "id": "Footer",
      "properties": {
        "footerId": {
          "description": "The ID of the footer.",
          "type": "string"
        },
        "content": {
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The contents of the footer. The indexes for a footer's content begin at zero."
        }
      },
      "description": "A document footer.",
      "type": "object"
    },
    "CreateNamedRangeResponse": {
      "properties": {
        "namedRangeId": {
          "description": "The ID of the created named range.",
          "type": "string"
        }
      },
      "description": "The result of creating a named range.",
      "type": "object",
      "id": "CreateNamedRangeResponse"
    },
    "UpdateDocumentStyleRequest": {
      "type": "object",
      "description": "Updates the DocumentStyle.",
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The tab that contains the style to update. When omitted, the request applies to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If not provided, the request applies to the first tab in the document."
        },
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "The styles to set on the document. Certain document style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of DocumentStyle for more information."
        },
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `document_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the background, set `fields` to `\"background\"`."
        }
      },
      "id": "UpdateDocumentStyleRequest"
    },
    "ShadingSuggestionState": {
      "type": "object",
      "id": "ShadingSuggestionState",
      "properties": {
        "backgroundColorSuggested": {
          "description": "Indicates if there was a suggested change to the Shading.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base Shading have been changed in this suggested change. For any field set to true, there's a new suggested value."
    },
    "EndOfSegmentLocation": {
      "description": "Location at the end of a body, header, footer or footnote. The location is immediately before the last newline in the document segment.",
      "id": "EndOfSegmentLocation",
      "properties": {
        "segmentId": {
          "type": "string",
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body."
        },
        "tabId": {
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EmbeddedDrawingPropertiesSuggestionState": {
      "id": "EmbeddedDrawingPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base EmbeddedDrawingProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {},
      "type": "object"
    },
    "UpdateTableRowStyleRequest": {
      "description": "Updates the TableRowStyle of rows in a table.",
      "properties": {
        "tableRowStyle": {
          "description": "The styles to be set on the rows.",
          "$ref": "TableRowStyle"
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableRowStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the minimum row height, set `fields` to `\"min_row_height\"`."
        },
        "rowIndices": {
          "type": "array",
          "description": "The list of zero-based row indices whose style should be updated. If no indices are specified, all rows will be updated.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "tableStartLocation": {
          "description": "The location where the table starts in the document.",
          "$ref": "Location"
        }
      },
      "type": "object",
      "id": "UpdateTableRowStyleRequest"
    },
    "InsertTableRequest": {
      "id": "InsertTableRequest",
      "description": "Inserts a table at the specified location. A newline character will be inserted before the inserted table.",
      "properties": {
        "location": {
          "description": "Inserts the table at a specific model index. A newline character will be inserted before the inserted table, therefore the table start index will be at the specified location index + 1. The table must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph). Tables cannot be inserted inside a footnote or equation.",
          "$ref": "Location"
        },
        "columns": {
          "format": "int32",
          "description": "The number of columns in the table.",
          "type": "integer"
        },
        "rows": {
          "type": "integer",
          "format": "int32",
          "description": "The number of rows in the table."
        },
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the table at the end of the given header, footer or document body. A newline character will be inserted before the inserted table. Tables cannot be inserted inside a footnote."
        }
      },
      "type": "object"
    },
    "TabProperties": {
      "id": "TabProperties",
      "description": "Properties of a tab.",
      "type": "object",
      "properties": {
        "parentTabId": {
          "description": "Optional. The ID of the parent tab. Empty when the current tab is a root-level tab, which means it doesn't have any parents.",
          "type": "string"
        },
        "iconEmoji": {
          "description": "Optional. The emoji icon displayed with the tab. A valid emoji icon is represented by a non-empty Unicode string. Any set of characters that don't represent a single emoji is invalid. If an emoji is invalid, a 400 bad request error is returned. If this value is unset or empty, the tab will display the default tab icon.",
          "type": "string"
        },
        "index": {
          "format": "int32",
          "description": "The zero-based index of the tab within the parent.",
          "type": "integer"
        },
        "tabId": {
          "type": "string",
          "description": "The immutable ID of the tab."
        },
        "nestingLevel": {
          "type": "integer",
          "description": "Output only. The depth of the tab within the document. Root-level tabs start at 0.",
          "format": "int32"
        },
        "title": {
          "type": "string",
          "description": "The user-visible name of the tab."
        }
      }
    },
    "Footnote": {
      "description": "A document footnote.",
      "properties": {
        "footnoteId": {
          "description": "The ID of the footnote.",
          "type": "string"
        },
        "content": {
          "description": "The contents of the footnote. The indexes for a footnote's content begin at zero.",
          "items": {
            "$ref": "StructuralElement"
          },
          "type": "array"
        }
      },
      "id": "Footnote",
      "type": "object"
    },
    "NamedRange": {
      "description": "A collection of Ranges with the same named range ID. Named ranges allow developers to associate parts of a document with an arbitrary user-defined label so their contents can be programmatically read or edited later. A document can contain multiple named ranges with the same name, but every named range has a unique ID. A named range is created with a single Range, and content inserted inside a named range generally expands that range. However, certain document changes can cause the range to be split into multiple ranges. Named ranges are not private. All applications and collaborators that have access to the document can see its named ranges.",
      "type": "object",
      "properties": {
        "namedRangeId": {
          "description": "The ID of the named range.",
          "type": "string"
        },
        "name": {
          "description": "The name of the named range.",
          "type": "string"
        },
        "ranges": {
          "items": {
            "$ref": "Range"
          },
          "description": "The ranges that belong to this named range.",
          "type": "array"
        }
      },
      "id": "NamedRange"
    },
    "Tab": {
      "type": "object",
      "description": "A tab in a document.",
      "properties": {
        "documentTab": {
          "description": "A tab with document contents, like text and images.",
          "$ref": "DocumentTab"
        },
        "childTabs": {
          "type": "array",
          "description": "The child tabs nested within this tab.",
          "items": {
            "$ref": "Tab"
          }
        },
        "tabProperties": {
          "$ref": "TabProperties",
          "description": "The properties of the tab, like ID and title."
        }
      },
      "id": "Tab"
    },
    "UpdateDropdownPropertiesRequest": {
      "id": "UpdateDropdownPropertiesRequest",
      "type": "object",
      "properties": {
        "dropdownProperties": {
          "description": "The properties to update.",
          "$ref": "DropdownProperties"
        },
        "tabId": {
          "type": "string",
          "description": "The ID of the tab that contains the dropdown to update. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        },
        "dropdownId": {
          "description": "Required. The Dropdown ID.",
          "type": "string"
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `dropdown_properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        }
      },
      "description": "Updates the properties of a Dropdown."
    },
    "TableRowStyleSuggestionState": {
      "id": "TableRowStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "minRowHeightSuggested": {
          "description": "Indicates if there was a suggested change to min_row_height.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Document": {
      "id": "Document",
      "properties": {
        "namedStyles": {
          "description": "Output only. The named styles of the document. Legacy field: Instead, use Document.tabs.documentTab.namedStyles, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "NamedStyles"
        },
        "body": {
          "description": "Output only. The main body of the document. Legacy field: Instead, use Document.tabs.documentTab.body, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "Body"
        },
        "suggestedDocumentStyleChanges": {
          "type": "object",
          "description": "Output only. The suggested changes to the style of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedDocumentStyleChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          }
        },
        "suggestions": {
          "type": "array",
          "description": "Output only. The suggestions associated with the document. Only populated if the commentsViewMode parameter is set to require comments (such as `COMMENTS_VIEW_MODE_INCLUDED`). [Developer Preview](https://developers.google.com/workspace/preview).",
          "items": {
            "$ref": "SuggestionThread"
          }
        },
        "lists": {
          "type": "object",
          "additionalProperties": {
            "$ref": "List"
          },
          "description": "Output only. The lists in the document, keyed by list ID. Legacy field: Instead, use Document.tabs.documentTab.lists, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "suggestionsViewMode": {
          "description": "Output only. The suggestions view mode applied to the document. Note: When editing a document, changes must be based on a document with SUGGESTIONS_INLINE.",
          "enumDescriptions": [
            "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
            "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
          ],
          "type": "string",
          "enum": [
            "DEFAULT_FOR_CURRENT_ACCESS",
            "SUGGESTIONS_INLINE",
            "PREVIEW_SUGGESTIONS_ACCEPTED",
            "PREVIEW_WITHOUT_SUGGESTIONS"
          ]
        },
        "headers": {
          "additionalProperties": {
            "$ref": "Header"
          },
          "type": "object",
          "description": "Output only. The headers in the document, keyed by header ID. Legacy field: Instead, use Document.tabs.documentTab.headers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "commentsViewMode": {
          "enumDescriptions": [
            "The CommentsViewMode is unspecified. COMMENTS_VIEW_MODE_OMITTED is applied.",
            "The CommentsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, COMMENTS_VIEW_MODE_OMITTED is applied. Otherwise, COMMENTS_VIEW_MODE_INCLUDED is applied.",
            "The returned document has comments omitted.",
            "The returned document has comments included. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view comments. When set, suggestions_view_mode must also be set to SUGGESTIONS_INLINE. Returns a 400 bad request error otherwise."
          ],
          "description": "Output only. The comments view mode applied to the document. [Developer Preview](https://developers.google.com/workspace/preview).",
          "type": "string",
          "enum": [
            "COMMENTS_VIEW_MODE_UNSPECIFIED",
            "COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS",
            "COMMENTS_VIEW_MODE_OMITTED",
            "COMMENTS_VIEW_MODE_INCLUDED"
          ]
        },
        "tabs": {
          "type": "array",
          "items": {
            "$ref": "Tab"
          },
          "description": "Output only. Tabs that are part of a document. Tabs can contain child tabs, a tab nested within another tab. Child tabs are represented by the Tab.childTabs field."
        },
        "documentStyle": {
          "description": "Output only. The style of the document. Legacy field: Instead, use Document.tabs.documentTab.documentStyle, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "DocumentStyle"
        },
        "positionedObjects": {
          "description": "Output only. The positioned objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.positionedObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object",
          "additionalProperties": {
            "$ref": "PositionedObject"
          }
        },
        "comments": {
          "type": "array",
          "description": "Output only. The comments associated with the document. Only populated if the commentsViewMode parameter is set to require comments (such as `COMMENTS_VIEW_MODE_INCLUDED`). [Developer Preview](https://developers.google.com/workspace/preview).",
          "items": {
            "$ref": "CommentThread"
          }
        },
        "title": {
          "type": "string",
          "description": "The title of the document."
        },
        "footers": {
          "additionalProperties": {
            "$ref": "Footer"
          },
          "type": "object",
          "description": "Output only. The footers in the document, keyed by footer ID. Legacy field: Instead, use Document.tabs.documentTab.footers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "namedRanges": {
          "type": "object",
          "description": "Output only. The named ranges in the document, keyed by name. Legacy field: Instead, use Document.tabs.documentTab.namedRanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "NamedRanges"
          }
        },
        "documentId": {
          "description": "Output only. The ID of the document.",
          "type": "string"
        },
        "inlineObjects": {
          "additionalProperties": {
            "$ref": "InlineObject"
          },
          "description": "Output only. The inline objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.inlineObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object"
        },
        "suggestedNamedStylesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          },
          "description": "Output only. The suggested changes to the named styles of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedNamedStylesChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object"
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. The revision ID of the document. Can be used in update requests to specify which revision of a document to apply updates to and how the request should behave if the document has been edited since that revision. Only populated if the user has edit access to the document. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the document has not changed. Conversely, a changed ID (for the same document and user) usually means the document has been updated. However, a changed ID can also be due to internal factors such as ID format changes."
        },
        "footnotes": {
          "additionalProperties": {
            "$ref": "Footnote"
          },
          "type": "object",
          "description": "Output only. The footnotes in the document, keyed by footnote ID. Legacy field: Instead, use Document.tabs.documentTab.footnotes, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        }
      },
      "description": "A Google Docs document.",
      "type": "object"
    },
    "NestingLevelSuggestionState": {
      "description": "A mask that indicates which of the fields on the base NestingLevel have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "properties": {
        "glyphSymbolSuggested": {
          "description": "Indicates if there was a suggested change to glyph_symbol.",
          "type": "boolean"
        },
        "glyphTypeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to glyph_type."
        },
        "indentStartSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_start."
        },
        "bulletAlignmentSuggested": {
          "description": "Indicates if there was a suggested change to bullet_alignment.",
          "type": "boolean"
        },
        "indentFirstLineSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_first_line."
        },
        "glyphFormatSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to glyph_format."
        },
        "startNumberSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to start_number."
        },
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion.",
          "$ref": "TextStyleSuggestionState"
        }
      },
      "id": "NestingLevelSuggestionState"
    },
    "PositionedObjectPositioning": {
      "description": "The positioning of a PositionedObject. The positioned object is positioned relative to the beginning of the Paragraph it's tethered to.",
      "id": "PositionedObjectPositioning",
      "type": "object",
      "properties": {
        "leftOffset": {
          "description": "The offset of the left edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling.",
          "$ref": "Dimension"
        },
        "topOffset": {
          "$ref": "Dimension",
          "description": "The offset of the top edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling."
        },
        "layout": {
          "description": "The layout of this positioned object.",
          "enumDescriptions": [
            "The layout is unspecified.",
            "The text wraps around the positioned object.",
            "Breaks text such that the positioned object is on the left and text is on the right.",
            "Breaks text such that the positioned object is on the right and text is on the left.",
            "Breaks text such that there's no text on the left or right of the positioned object.",
            "The positioned object is in front of the text.",
            "The positioned object is behind the text."
          ],
          "type": "string",
          "enum": [
            "POSITIONED_OBJECT_LAYOUT_UNSPECIFIED",
            "WRAP_TEXT",
            "BREAK_LEFT",
            "BREAK_RIGHT",
            "BREAK_LEFT_RIGHT",
            "IN_FRONT_OF_TEXT",
            "BEHIND_TEXT"
          ]
        }
      }
    },
    "DropdownDefinition": {
      "id": "DropdownDefinition",
      "description": "A dropdown definition in the document.",
      "properties": {
        "suggestedDropdownDefinitionPropertiesChanges": {
          "description": "Suggested property changes to this definition, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedDropdownDefinitionProperties"
          }
        },
        "suggestedDeletionId": {
          "type": "string",
          "description": "ID for suggestion that deletes this dropdown definition."
        },
        "dropdownDefinitionId": {
          "description": "The ID of this dropdown definition. If you specify an ID, it must be unique among all IDs in the tab. The ID must start with `kix.` and match regex `^kix\\.[a-zA-Z0-9_-]{2,14}$` (length 6-18 chars). If you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "suggestedInsertionId": {
          "description": "ID for suggestion that inserts this dropdown definition.",
          "type": "string"
        },
        "dropdownDefinitionProperties": {
          "$ref": "DropdownDefinitionProperties",
          "description": "The properties of this dropdown definition."
        }
      },
      "type": "object"
    },
    "Size": {
      "description": "A width and height.",
      "id": "Size",
      "type": "object",
      "properties": {
        "height": {
          "$ref": "Dimension",
          "description": "The height of the object."
        },
        "width": {
          "$ref": "Dimension",
          "description": "The width of the object."
        }
      }
    },
    "UpdateNamedStyleRequest": {
      "id": "UpdateNamedStyleRequest",
      "type": "object",
      "description": "Updates a named style.",
      "properties": {
        "tabId": {
          "description": "The document tab to update. By default, the update is applied to the first tab.",
          "type": "string"
        },
        "namedStyle": {
          "$ref": "NamedStyle",
          "description": "The document style to update."
        },
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The NamedStyle fields that should be updated. At least `named_style_type` must be specified. The root `named_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to include `\"text_style\"` and `\"text_style.bold\"`. To update the paragraph style's alignment property, set `fields` to include `\"paragraph_style\"` and `\"paragraph_style.alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset. Specifying `\"text_style\"` or `\"paragraph_style\"` with an empty TextStyle or ParagraphStyle will reset all of its nested fields."
        }
      }
    },
    "DeleteNamedRangeRequest": {
      "id": "DeleteNamedRangeRequest",
      "type": "object",
      "properties": {
        "namedRangeId": {
          "description": "The ID of the named range to delete.",
          "type": "string"
        },
        "name": {
          "description": "The name of the range(s) to delete. All named ranges with the given name will be deleted.",
          "type": "string"
        },
        "tabsCriteria": {
          "description": "Optional. The criteria used to specify which tab(s) the range deletion should occur in. When omitted, the range deletion is applied to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the range deletion applies to the singular tab. In a document containing multiple tabs: - If provided, the range deletion applies to the specified tabs. - If not provided, the range deletion applies to all tabs.",
          "$ref": "TabsCriteria"
        }
      },
      "description": "Deletes a NamedRange."
    },
    "SheetsChartReference": {
      "description": "A reference to a linked chart embedded from Google Sheets.",
      "properties": {
        "spreadsheetId": {
          "type": "string",
          "description": "The ID of the Google Sheets spreadsheet that contains the source chart."
        },
        "chartId": {
          "type": "integer",
          "description": "The ID of the specific chart in the Google Sheets spreadsheet that's embedded.",
          "format": "int32"
        }
      },
      "id": "SheetsChartReference",
      "type": "object"
    },
    "EmbeddedObject": {
      "type": "object",
      "id": "EmbeddedObject",
      "properties": {
        "linkedContentReference": {
          "description": "A reference to the external linked source content. For example, it contains a reference to the source Google Sheets chart when the embedded object is a linked chart. If unset, then the embedded object is not linked.",
          "$ref": "LinkedContentReference"
        },
        "imageProperties": {
          "description": "The properties of an image.",
          "$ref": "ImageProperties"
        },
        "title": {
          "type": "string",
          "description": "The title of the embedded object. The `title` and `description` are both combined to display alt text."
        },
        "size": {
          "description": "The visible size of the image after cropping.",
          "$ref": "Size"
        },
        "embeddedObjectBorder": {
          "description": "The border of the embedded object.",
          "$ref": "EmbeddedObjectBorder"
        },
        "marginRight": {
          "$ref": "Dimension",
          "description": "The right margin of the embedded object."
        },
        "embeddedDrawingProperties": {
          "$ref": "EmbeddedDrawingProperties",
          "description": "The properties of an embedded drawing."
        },
        "marginLeft": {
          "$ref": "Dimension",
          "description": "The left margin of the embedded object."
        },
        "marginTop": {
          "description": "The top margin of the embedded object.",
          "$ref": "Dimension"
        },
        "description": {
          "type": "string",
          "description": "The description of the embedded object. The `title` and `description` are both combined to display alt text."
        },
        "marginBottom": {
          "description": "The bottom margin of the embedded object.",
          "$ref": "Dimension"
        }
      },
      "description": "An embedded object in the document."
    },
    "UpdateDropdownDefinitionPropertiesRequest": {
      "description": "Updates the properties of a DropdownDefinition.",
      "id": "UpdateDropdownDefinitionPropertiesRequest",
      "type": "object",
      "properties": {
        "dropdownDefinitionProperties": {
          "description": "The properties to update.",
          "$ref": "DropdownDefinitionProperties"
        },
        "selectedOptionIdReplacements": {
          "description": "A map of option IDs to their replacements, used to automatically reassign orphaned Dropdown chips when an option is deleted. The keys are the IDs of the options being deleted, and the values are the IDs of their replacement options. If an option being deleted is selected in one or more Dropdown chips in the document, a replacement entry for that option must be provided in this map, and the replacement option ID must exist in the updated DropdownDefinition. If a replacement is required but not provided, a 400 bad request error is returned. Options being deleted that are not selected in any Dropdown chips do not require a replacement. For example, if option A is being replaced by option B, the map should be `{\"A\": \"B\"}`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "fields": {
          "format": "google-fieldmask",
[...]
