{
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "NamedStyles": {
      "type": "object",
      "properties": {
        "styles": {
          "items": {
            "$ref": "NamedStyle"
          },
          "type": "array",
          "description": "The named styles. There's an entry for each of the possible named style types."
        }
      },
      "id": "NamedStyles",
      "description": "The named styles. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from these named styles."
    },
    "UpdateDocumentStyleRequest": {
      "properties": {
        "documentStyle": {
          "description": "The styles to set on the document. Certain document style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of DocumentStyle for more information.",
          "$ref": "DocumentStyle"
        },
        "tabId": {
          "description": "The tab that contains the style to update. When omitted, the request applies to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If not provided, the request applies to the first tab in the document.",
          "type": "string"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `document_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the background, set `fields` to `\"background\"`.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "UpdateDocumentStyleRequest",
      "description": "Updates the DocumentStyle.",
      "type": "object"
    },
    "OptionalColor": {
      "properties": {
        "color": {
          "$ref": "Color",
          "description": "If set, this will be used as an opaque color. If unset, this represents a transparent color."
        }
      },
      "type": "object",
      "description": "A color that can either be fully opaque or fully transparent.",
      "id": "OptionalColor"
    },
    "DocumentStyle": {
      "type": "object",
      "properties": {
        "pageSize": {
          "description": "The size of a page in the document. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Size"
        },
        "useFirstPageHeaderFooter": {
          "description": "Indicates whether to use the first page header / footer IDs for the first page. If DocumentMode is PAGELESS, this property will not be rendered.",
          "type": "boolean"
        },
        "evenPageHeaderId": {
          "type": "string",
          "description": "The ID of the header used only for even pages. The value of use_even_page_header_footer determines whether to use the default_header_id or this value for the header on even pages. If not set, there's no even page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "background": {
          "$ref": "Background",
          "description": "The background of the document. Documents cannot have a transparent background color."
        },
        "marginBottom": {
          "description": "The bottom page margin. Updating the bottom page margin on the document style clears the bottom page margin on all section styles. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "flipPageOrientation": {
          "type": "boolean",
          "description": "Optional. Indicates whether to flip the dimensions of the page_size, which allows changing the page orientation between portrait and landscape. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "useEvenPageHeaderFooter": {
          "description": "Indicates whether to use the even page header / footer IDs for the even pages. If DocumentMode is PAGELESS, this property will not be rendered.",
          "type": "boolean"
        },
        "marginRight": {
          "description": "The right page margin. Updating the right page margin on the document style clears the right page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "documentFormat": {
          "description": "Specifies document-level format settings, such as the document mode (pages vs pageless).",
          "$ref": "DocumentFormat"
        },
        "firstPageHeaderId": {
          "type": "string",
          "description": "The ID of the header used only for the first page. If not set then a unique header for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_header_id or this value for the header on the first page. If not set, there's no first page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "defaultFooterId": {
          "description": "The ID of the default footer. If not set, there's no default footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "firstPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for the first page. If not set then a unique footer for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_footer_id or this value for the footer on the first page. If not set, there's no first page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "defaultHeaderId": {
          "type": "string",
          "description": "The ID of the default header. If not set, there's no default header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "pageNumberStart": {
          "type": "integer",
          "format": "int32",
          "description": "The page number from which to start counting the number of pages. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "marginHeader": {
          "description": "The amount of space between the top of the page and the contents of the header. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "evenPageFooterId": {
          "description": "The ID of the footer used only for even pages. The value of use_even_page_header_footer determines whether to use the default_footer_id or this value for the footer on even pages. If not set, there's no even page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "useCustomHeaderFooterMargins": {
          "description": "Indicates whether DocumentStyle margin_header, SectionStyle margin_header and DocumentStyle margin_footer, SectionStyle margin_footer are respected. When false, the default values in the Docs editor for header and footer margin is used. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "boolean"
        },
        "marginTop": {
          "description": "The top page margin. Updating the top page margin on the document style clears the top page margin on all section styles. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "marginFooter": {
          "description": "The amount of space between the bottom of the page and the contents of the footer. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "marginLeft": {
          "$ref": "Dimension",
          "description": "The left page margin. Updating the left page margin on the document style clears the left page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered."
        }
      },
      "id": "DocumentStyle",
      "description": "The style of the document."
    },
    "TableRow": {
      "properties": {
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        },
        "startIndex": {
          "description": "The zero-based start index of this row, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        },
        "endIndex": {
          "description": "The zero-based end index of this row, exclusive, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TableRow may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tableRowStyle": {
          "$ref": "TableRowStyle",
          "description": "The style of the table row."
        },
        "suggestedTableRowStyleChanges": {
          "description": "The suggested style changes to this row, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTableRowStyle"
          },
          "type": "object"
        },
        "tableCells": {
          "description": "The contents and style of each cell in this row. It's possible for a table to be non-rectangular, so some rows may have a different number of cells than other rows in the same table.",
          "items": {
            "$ref": "TableCell"
          },
          "type": "array"
        }
      },
      "id": "TableRow",
      "type": "object",
      "description": "The contents and style of a row in a Table."
    },
    "ImagePropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "contrastSuggested": {
          "description": "Indicates if there was a suggested change to contrast.",
          "type": "boolean"
        },
        "sourceUriSuggested": {
          "description": "Indicates if there was a suggested change to source_uri.",
          "type": "boolean"
        },
        "contentUriSuggested": {
          "description": "Indicates if there was a suggested change to content_uri.",
          "type": "boolean"
        },
        "cropPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in crop_properties have been changed in this suggestion.",
          "$ref": "CropPropertiesSuggestionState"
        },
        "brightnessSuggested": {
          "description": "Indicates if there was a suggested change to brightness.",
          "type": "boolean"
        },
        "transparencySuggested": {
          "description": "Indicates if there was a suggested change to transparency.",
          "type": "boolean"
        },
        "angleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to angle."
        }
      },
      "type": "object",
      "id": "ImagePropertiesSuggestionState"
    },
    "TextStyleSuggestionState": {
      "type": "object",
      "properties": {
        "strikethroughSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to strikethrough."
        },
        "boldSuggested": {
          "description": "Indicates if there was a suggested change to bold.",
          "type": "boolean"
        },
        "underlineSuggested": {
          "description": "Indicates if there was a suggested change to underline.",
          "type": "boolean"
        },
        "italicSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to italic."
        },
        "smallCapsSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to small_caps."
        },
        "weightedFontFamilySuggested": {
          "description": "Indicates if there was a suggested change to weighted_font_family.",
          "type": "boolean"
        },
        "backgroundColorSuggested": {
          "description": "Indicates if there was a suggested change to background_color.",
          "type": "boolean"
        },
        "fontSizeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to font_size."
        },
        "foregroundColorSuggested": {
          "description": "Indicates if there was a suggested change to foreground_color.",
          "type": "boolean"
        },
        "baselineOffsetSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to baseline_offset."
        },
        "linkSuggested": {
          "description": "Indicates if there was a suggested change to link.",
          "type": "boolean"
        }
      },
      "id": "TextStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base TextStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "ListPropertiesSuggestionState": {
      "properties": {
        "nestingLevelsSuggestionStates": {
          "items": {
            "$ref": "NestingLevelSuggestionState"
          },
          "description": "A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first.",
          "type": "array"
        }
      },
      "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "id": "ListPropertiesSuggestionState"
    },
    "SuggestedTableRowStyle": {
      "properties": {
        "tableRowStyleSuggestionState": {
          "$ref": "TableRowStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion."
        },
        "tableRowStyle": {
          "$ref": "TableRowStyle",
          "description": "A TableRowStyle that only includes the changes made in this suggestion. This can be used along with the table_row_style_suggestion_state to see which fields have changed and their new values."
        }
      },
      "description": "A suggested change to a TableRowStyle.",
      "id": "SuggestedTableRowStyle",
      "type": "object"
    },
    "BatchUpdateDocumentRequest": {
      "type": "object",
      "id": "BatchUpdateDocumentRequest",
      "description": "Request message for BatchUpdateDocument.",
      "properties": {
        "writeControl": {
          "$ref": "WriteControl",
          "description": "Provides control over how write requests are executed."
        },
        "requests": {
          "items": {
            "$ref": "Request"
          },
          "description": "A list of updates to apply to the document.",
          "type": "array"
        }
      }
    },
    "Tab": {
      "id": "Tab",
      "properties": {
        "childTabs": {
          "items": {
            "$ref": "Tab"
          },
          "type": "array",
          "description": "The child tabs nested within this tab."
        },
        "documentTab": {
          "$ref": "DocumentTab",
          "description": "A tab with document contents, like text and images."
        },
        "tabProperties": {
          "description": "The properties of the tab, like ID and title.",
          "$ref": "TabProperties"
        }
      },
      "description": "A tab in a document.",
      "type": "object"
    },
    "DeleteContentRangeRequest": {
      "id": "DeleteContentRangeRequest",
      "description": "Deletes content from the document.",
      "properties": {
        "range": {
          "description": "The range of content to delete. Deleting text that crosses a paragraph boundary may result in changes to paragraph styles, lists, positioned objects and bookmarks as the two paragraphs are merged. Attempting to delete certain ranges can result in an invalid document structure in which case a 400 bad request error is returned. Some examples of invalid delete requests include: * Deleting one code unit of a surrogate pair. * Deleting the last newline character of a Body, Header, Footer, Footnote, TableCell or TableOfContents. * Deleting the start or end of a Table, TableOfContents or Equation without deleting the entire element. * Deleting the newline character before a Table, TableOfContents or SectionBreak without deleting the element. * Deleting individual rows or cells of a table. Deleting the content within a table cell is allowed.",
          "$ref": "Range"
        }
      },
      "type": "object"
    },
    "LinkedContentReferenceSuggestionState": {
      "description": "A mask that indicates which of the fields on the base LinkedContentReference have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "LinkedContentReferenceSuggestionState",
      "type": "object",
      "properties": {
        "sheetsChartReferenceSuggestionState": {
          "description": "A mask that indicates which of the fields in sheets_chart_reference have been changed in this suggestion.",
          "$ref": "SheetsChartReferenceSuggestionState"
        }
      }
    },
    "UpdateSectionStyleRequest": {
      "type": "object",
      "properties": {
        "sectionStyle": {
          "$ref": "SectionStyle",
          "description": "The styles to be set on the section. Certain section style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of SectionStyle for more information."
        },
        "range": {
          "$ref": "Range",
          "description": "The range overlapping the sections to style. Because section breaks can only be inserted inside the body, the segment ID field must be empty."
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `section_style` is implied and must not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the left margin, set `fields` to `\"margin_left\"`."
        }
      },
      "description": "Updates the SectionStyle.",
      "id": "UpdateSectionStyleRequest"
    },
    "DateElementProperties": {
      "id": "DateElementProperties",
      "description": "Properties of a DateElement.",
      "type": "object",
      "properties": {
        "timeFormat": {
          "type": "string",
          "enum": [
            "TIME_FORMAT_UNSPECIFIED",
            "TIME_FORMAT_DISABLED",
            "TIME_FORMAT_HOUR_MINUTE",
            "TIME_FORMAT_HOUR_MINUTE_TIMEZONE"
          ],
          "enumDescriptions": [
            "The time format is unspecified.",
            "Indicates that the date does not have a time.",
            "The time format shows the hour and minute. For example, \"Jan 1, 1970 12:00 PM\".",
            "The time format shows the hour, minute, and timezone. For example, \"Jan 1, 1970 12:00 PM UTC\"."
          ],
          "description": "Determines how the time part of the DateElement will be displayed in the document. If unset, the default value is TIME_FORMAT_DISABLED, indicating no time should be shown."
        },
        "timeZoneId": {
          "type": "string",
          "description": "The time zone of the DateElement, as defined by the Unicode Common Locale Data Repository (CLDR) project. For example, `America/New_York`. If unset, the default time zone is `etc/UTC`."
        },
        "locale": {
          "description": "The language code of the DateElement. For example, `en`. If unset, the default locale is `en`. Limited to the following locales: `af`, `am`, `ar`, `as`, `az`, `be`, `bg`, `bn`, `ca`, `cs`, `da`, `de`, `el`, `en`, `en-CA`, `en-GB`, `es`, `es-419`, `et`, `eu`, `fa`, `fi`, `fil`, `fr`, `fr-CA`, `gl`, `gu`, `hi`, `hr`, `hu`, `hy`, `id`, `is`, `it`, `iw`, `ja`, `ka`, `kk`, `km`, `kn`, `ko`, `lo`, `lt`, `lv`, `mk`, `ml`, `mn`, `mr`, `ms`, `ne`, `nl`, `no`, `or`, `pa`, `pl`, `pt-BR`, `pt-PT`, `ro`, `ru`, `si`, `sk`, `sl`, `sq`, `sr`, `sv`, `sw`, `ta`, `te`, `th`, `tr`, `uk`, `ur`, `uz`, `vi`, `zh-CN`, `zh-HK`, `zh-TW`, `zu`, `cy`, `my`.",
          "type": "string"
        },
        "timestamp": {
          "description": "The point in time to represent, in seconds and nanoseconds since Unix epoch: January 1, 1970 at midnight UTC. Timestamp is expected to be in UTC. If time_zone_id is set, the timestamp is adjusted according to the time zone. For example, a timestamp of `18000` with a date format of `DATE_FORMAT_ISO8601` and time format of `TIME_FORMAT_HOUR_MINUTE` would be displayed as `1970-01-01 5:00 AM`. A timestamp of `18000` with date format of `DATE_FORMAT_ISO8601`, time format of `TIME_FORMAT_HOUR_MINUTE`, and time zone set to `America/New_York` will instead be `1970-01-01 12:00 AM`.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayText": {
          "description": "Output only. Indicates how the DateElement is displayed in the document.",
          "type": "string"
        },
        "dateFormat": {
          "enumDescriptions": [
            "The date format is unspecified.",
            "Output only. The date format is imported from an external source.",
            "The date format is an abbreviated month followed by the day. For example, \"Jan 1\".",
            "The date format is a month followed by the day. For example, \"January 01\".",
            "The date format is an abbreviated month followed by the day and the year. For example, \"Jan 1, 1970\".",
            "The date format is in ISO 8601 format. For example, \"1970-01-01\"."
          ],
          "type": "string",
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "DATE_FORMAT_CUSTOM",
            "DATE_FORMAT_MONTH_DAY_ABBREVIATED",
            "DATE_FORMAT_MONTH_DAY_FULL",
            "DATE_FORMAT_MONTH_DAY_YEAR_ABBREVIATED",
            "DATE_FORMAT_ISO8601"
          ],
          "description": "Determines how the date part of the DateElement will be displayed in the document. If unset, the default value is DATE_FORMAT_MONTH_DAY_YEAR_ABBREVIATED, indicating the DateElement will be formatted as `MMM d, y` in `en`, or locale specific equivalent."
        }
      }
    },
    "ParagraphStyle": {
      "description": "Styles that apply to a whole paragraph. Inherited paragraph styles are represented as unset fields in this message. A paragraph style's parent depends on where the paragraph style is defined: * The ParagraphStyle on a Paragraph inherits from the paragraph's corresponding named style type. * The ParagraphStyle on a named style inherits from the normal text named style. * The ParagraphStyle of the normal text named style inherits from the default paragraph style in the Docs editor. * The ParagraphStyle on a Paragraph element that's contained in a table may inherit its paragraph style from the table style. If the paragraph style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor.",
      "type": "object",
      "id": "ParagraphStyle",
      "properties": {
        "tabStops": {
          "description": "A list of the tab stops for this paragraph. The list of tab stops is not inherited. This property is read-only.",
          "type": "array",
          "items": {
            "$ref": "TabStop"
          }
        },
        "direction": {
          "description": "The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since paragraph direction is not inherited.",
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ],
          "type": "string",
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ]
        },
        "shading": {
          "description": "The shading of the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Shading"
        },
        "keepLinesTogether": {
          "description": "Whether all lines of the paragraph should be laid out on the same page or column if possible. If unset, the value is inherited from the parent.",
          "type": "boolean"
        },
        "pageBreakBefore": {
          "description": "Whether the current paragraph should always start at the beginning of a page. If unset, the value is inherited from the parent. Attempting to update page_break_before for paragraphs in unsupported regions, including Table, Header, Footer and Footnote, can result in an invalid document state that returns a 400 bad request error.",
          "type": "boolean"
        },
        "borderBottom": {
          "$ref": "ParagraphBorder",
          "description": "The border at the bottom of this paragraph. If unset, the value is inherited from the parent. The bottom border is rendered when the paragraph below has different border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "lineSpacing": {
          "description": "The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent.",
          "format": "float",
          "type": "number"
        },
        "headingId": {
          "type": "string",
          "description": "The heading ID of the paragraph. If empty, then this paragraph is not a heading. This property is read-only."
        },
        "indentFirstLine": {
          "description": "The amount of indentation for the first line of the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "spacingMode": {
          "description": "The spacing mode for the paragraph.",
          "enumDescriptions": [
            "The spacing mode is inherited from the parent.",
            "Paragraph spacing is always rendered.",
            "Paragraph spacing is skipped between list elements."
          ],
          "type": "string",
          "enum": [
            "SPACING_MODE_UNSPECIFIED",
            "NEVER_COLLAPSE",
            "COLLAPSE_LISTS"
          ]
        },
        "borderLeft": {
          "$ref": "ParagraphBorder",
          "description": "The border to the left of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "namedStyleType": {
          "description": "The named style type of the paragraph. Since updating the named style type affects other properties within ParagraphStyle, the named style type is applied before the other properties are updated.",
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "type": "string",
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ]
        },
        "avoidWidowAndOrphan": {
          "type": "boolean",
          "description": "Whether to avoid widows and orphans for the paragraph. If unset, the value is inherited from the parent."
        },
        "borderTop": {
          "$ref": "ParagraphBorder",
          "description": "The border at the top of this paragraph. If unset, the value is inherited from the parent. The top border is rendered when the paragraph above has different border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "borderRight": {
          "$ref": "ParagraphBorder",
          "description": "The border to the right of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "borderBetween": {
          "description": "The border between this paragraph and the next and previous paragraphs. If unset, the value is inherited from the parent. The between border is rendered when the adjacent paragraph has the same border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "spaceAbove": {
          "$ref": "Dimension",
          "description": "The amount of extra space above the paragraph. If unset, the value is inherited from the parent."
        },
        "keepWithNext": {
          "description": "Whether at least a part of this paragraph should be laid out on the same page or column as the next paragraph if possible. If unset, the value is inherited from the parent.",
          "type": "boolean"
        },
        "indentStart": {
          "$ref": "Dimension",
          "description": "The amount of indentation for the paragraph on the side that corresponds to the start of the text, based on the current paragraph direction. If unset, the value is inherited from the parent."
        },
        "spaceBelow": {
          "$ref": "Dimension",
          "description": "The amount of extra space below the paragraph. If unset, the value is inherited from the parent."
        },
        "indentEnd": {
          "description": "The amount of indentation for the paragraph on the side that corresponds to the end of the text, based on the current paragraph direction. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "alignment": {
          "type": "string",
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END",
            "JUSTIFIED"
          ],
          "enumDescriptions": [
            "The paragraph alignment is inherited from the parent.",
            "The paragraph is aligned to the start of the line. Left-aligned for LTR text, right-aligned otherwise.",
            "The paragraph is centered.",
            "The paragraph is aligned to the end of the line. Right-aligned for LTR text, left-aligned otherwise.",
            "The paragraph is justified."
          ],
          "description": "The text alignment for this paragraph."
        }
      }
    },
    "ImageProperties": {
      "type": "object",
      "properties": {
        "sourceUri": {
          "type": "string",
          "description": "The source URI is the URI used to insert the image. The source URI can be empty."
        },
        "transparency": {
          "description": "The transparency effect of the image. The value should be in the interval [0.0, 1.0], where 0 means no effect and 1 means transparent.",
          "format": "float",
          "type": "number"
        },
        "brightness": {
          "format": "float",
          "type": "number",
          "description": "The brightness effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect."
        },
        "contentUri": {
          "description": "A URI to the image with a default lifetime of 30 minutes. This URI is tagged with the account of the requester. Anyone with the URI effectively accesses the image as the original requester. Access to the image may be lost if the document's sharing settings change.",
          "type": "string"
        },
        "contrast": {
          "format": "float",
          "description": "The contrast effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect.",
          "type": "number"
        },
        "angle": {
          "description": "The clockwise rotation angle of the image, in radians.",
          "format": "float",
          "type": "number"
        },
        "cropProperties": {
          "$ref": "CropProperties",
          "description": "The crop properties of the image."
        }
      },
      "description": "The properties of an image.",
      "id": "ImageProperties"
    },
    "CreateParagraphBulletsRequest": {
      "properties": {
        "range": {
          "description": "The range to apply the bullet preset to.",
          "$ref": "Range"
        },
        "bulletPreset": {
          "type": "string",
          "enumDescriptions": [
            "The bullet glyph preset is unspecified.",
            "A bulleted list with a `DISC`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `ARROW3D` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with `CHECKBOX` bullet glyphs for all list nesting levels.",
            "A bulleted list with a `ARROW`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `STAR`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `ARROW3D`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `LEFTTRIANGLE`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `HOLLOWDIAMOND` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMOND`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A numbered list with `DECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `DECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by parenthesis.",
            "A numbered list with `DECIMAL` numeric glyphs separated by periods, where each nesting level uses the previous nesting level's glyph as a prefix. For example: '1.', '1.1.', '2.', '2.2.'.",
            "A numbered list with `UPPERALPHA`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `UPPERROMAN`, `UPPERALPHA` and `DECIMAL` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `ZERODECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods."
          ],
          "enum": [
            "BULLET_GLYPH_PRESET_UNSPECIFIED",
            "BULLET_DISC_CIRCLE_SQUARE",
            "BULLET_DIAMONDX_ARROW3D_SQUARE",
            "BULLET_CHECKBOX",
            "BULLET_ARROW_DIAMOND_DISC",
            "BULLET_STAR_CIRCLE_SQUARE",
            "BULLET_ARROW3D_CIRCLE_SQUARE",
            "BULLET_LEFTTRIANGLE_DIAMOND_DISC",
            "BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE",
            "BULLET_DIAMOND_CIRCLE_SQUARE",
            "NUMBERED_DECIMAL_ALPHA_ROMAN",
            "NUMBERED_DECIMAL_ALPHA_ROMAN_PARENS",
            "NUMBERED_DECIMAL_NESTED",
            "NUMBERED_UPPERALPHA_ALPHA_ROMAN",
            "NUMBERED_UPPERROMAN_UPPERALPHA_DECIMAL",
            "NUMBERED_ZERODECIMAL_ALPHA_ROMAN"
          ],
          "description": "The kinds of bullet glyphs to be used."
        }
      },
      "type": "object",
      "id": "CreateParagraphBulletsRequest",
      "description": "Creates bullets for all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be determined by counting leading tabs in front of each paragraph. To avoid excess space between the bullet and the corresponding paragraph, these leading tabs are removed by this request. This may change the indices of parts of the text. If the paragraph immediately before paragraphs being updated is in a list with a matching preset, the paragraphs being updated are added to that preceding list."
    },
    "InlineObjectElement": {
      "properties": {
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this InlineObjectElement. Similar to text content, like text runs and footnote references, the text style of an inline object element can affect content layout as well as the styling of text inserted next to it."
        },
        "inlineObjectId": {
          "description": "The ID of the InlineObject this element contains.",
          "type": "string"
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this InlineObject, keyed by suggestion ID.",
          "type": "object"
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. An InlineObjectElement may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        }
      },
      "id": "InlineObjectElement",
      "type": "object",
      "description": "A ParagraphElement that contains an InlineObject."
    },
    "StructuralElement": {
      "properties": {
        "startIndex": {
          "type": "integer",
          "description": "The zero-based start index of this structural element, in UTF-16 code units.",
          "format": "int32"
        },
        "table": {
          "description": "A table type of structural element.",
          "$ref": "Table"
        },
        "sectionBreak": {
          "description": "A section break type of structural element.",
          "$ref": "SectionBreak"
        },
        "paragraph": {
          "$ref": "Paragraph",
          "description": "A paragraph type of structural element."
        },
        "endIndex": {
          "description": "The zero-based end index of this structural element, exclusive, in UTF-16 code units.",
          "type": "integer",
          "format": "int32"
        },
        "tableOfContents": {
          "$ref": "TableOfContents",
          "description": "A table of contents type of structural element."
        }
      },
      "id": "StructuralElement",
      "description": "A StructuralElement describes content that provides structure to the document.",
      "type": "object"
    },
    "TableRowStyleSuggestionState": {
      "id": "TableRowStyleSuggestionState",
      "properties": {
        "minRowHeightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to min_row_height."
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "DeleteHeaderRequest": {
      "id": "DeleteHeaderRequest",
      "description": "Deletes a Header from the document.",
      "type": "object",
      "properties": {
        "headerId": {
          "description": "The id of the header to delete. If this header is defined on DocumentStyle, the reference to this header is removed, resulting in no header of that type for the first section of the document. If this header is defined on a SectionStyle, the reference to this header is removed and the header of that type is now continued from the previous section.",
          "type": "string"
        },
        "tabId": {
          "type": "string",
          "description": "The tab containing the header to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        }
      }
    },
    "Range": {
      "description": "Specifies a contiguous range of text.",
      "id": "Range",
      "properties": {
        "tabId": {
          "description": "The tab that contains this range. When omitted, the request applies to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "segmentId": {
          "type": "string",
          "description": "The ID of the header, footer, or footnote that this range is contained in. An empty segment ID signifies the document's body."
        },
        "endIndex": {
          "description": "The zero-based end index of this range, exclusive, in UTF-16 code units. In all current uses, an end index must be provided. This field is an Int32Value in order to accommodate future use cases with open-ended ranges.",
          "type": "integer",
          "format": "int32"
        },
        "startIndex": {
          "description": "The zero-based start index of this range, in UTF-16 code units. In all current uses, a start index must be provided. This field is an Int32Value in order to accommodate future use cases with open-ended ranges.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ReplaceAllTextResponse": {
      "properties": {
        "occurrencesChanged": {
          "type": "integer",
          "format": "int32",
          "description": "The number of occurrences changed by replacing all text."
        }
      },
      "type": "object",
      "id": "ReplaceAllTextResponse",
      "description": "The result of replacing text."
    },
    "PositionedObjectPositioningSuggestionState": {
      "id": "PositionedObjectPositioningSuggestionState",
      "description": "A mask that indicates which of the fields on the base PositionedObjectPositioning have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "properties": {
        "leftOffsetSuggested": {
          "description": "Indicates if there was a suggested change to left_offset.",
          "type": "boolean"
        },
        "layoutSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to layout."
        },
        "topOffsetSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to top_offset."
        }
      }
    },
    "EmbeddedObjectBorderSuggestionState": {
      "type": "object",
      "id": "EmbeddedObjectBorderSuggestionState",
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        },
        "dashStyleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to dash_style."
        },
        "colorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to color."
        },
        "propertyStateSuggested": {
          "description": "Indicates if there was a suggested change to property_state.",
          "type": "boolean"
        }
      }
    },
    "FootnoteReference": {
      "description": "A ParagraphElement representing a footnote reference. A footnote reference is the inline content rendered with a number and is used to identify the footnote.",
      "id": "FootnoteReference",
      "type": "object",
      "properties": {
        "footnoteNumber": {
          "type": "string",
          "description": "The rendered number of this footnote."
        },
        "textStyle": {
          "description": "The text style of this FootnoteReference.",
          "$ref": "TextStyle"
        },
        "footnoteId": {
          "type": "string",
          "description": "The ID of the footnote that contains the content of this footnote reference."
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A FootnoteReference may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this FootnoteReference, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        }
      }
    },
    "InsertInlineImageRequest": {
      "id": "InsertInlineImageRequest",
      "type": "object",
      "description": "Inserts an InlineObject containing an image at the given location.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The image URI. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URI must be publicly accessible and at most 2 kB in length. The URI itself is saved with the image, and exposed via the ImageProperties.content_uri field."
        },
        "endOfSegmentLocation": {
          "description": "Inserts the text at the end of a header, footer or the document body. Inline images cannot be inserted inside a footnote.",
          "$ref": "EndOfSegmentLocation"
        },
        "objectSize": {
          "description": "The size that the image should appear as in the document. This property is optional and the final size of the image in the document is determined by the following rules: * If neither width nor height is specified, then a default size of the image is calculated based on its resolution. * If one dimension is specified then the other dimension is calculated to preserve the aspect ratio of the image. * If both width and height are specified, the image is scaled to fit within the provided dimensions while maintaining its aspect ratio.",
          "$ref": "Size"
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the image at a specific index in the document. The image must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Inline images cannot be inserted inside a footnote or equation."
        }
      }
    },
    "Request": {
      "id": "Request",
      "description": "A single update to apply to a document.",
      "properties": {
        "insertInlineImage": {
          "$ref": "InsertInlineImageRequest",
          "description": "Inserts an inline image at the specified location."
        },
        "insertTableColumn": {
          "description": "Inserts an empty column into a table.",
          "$ref": "InsertTableColumnRequest"
        },
        "deleteTab": {
          "description": "Deletes a document tab.",
          "$ref": "DeleteTabRequest"
        },
        "updateTableCellStyle": {
          "description": "Updates the style of table cells.",
          "$ref": "UpdateTableCellStyleRequest"
        },
        "createNamedRange": {
          "description": "Creates a named range.",
          "$ref": "CreateNamedRangeRequest"
        },
        "replaceAllText": {
          "$ref": "ReplaceAllTextRequest",
          "description": "Replaces all instances of the specified text."
        },
        "updateDocumentStyle": {
          "$ref": "UpdateDocumentStyleRequest",
          "description": "Updates the style of the document."
        },
        "updateTableColumnProperties": {
          "$ref": "UpdateTableColumnPropertiesRequest",
          "description": "Updates the properties of columns in a table."
        },
        "deletePositionedObject": {
          "description": "Deletes a positioned object from the document.",
          "$ref": "DeletePositionedObjectRequest"
        },
        "replaceImage": {
          "description": "Replaces an image in the document.",
          "$ref": "ReplaceImageRequest"
        },
        "deleteHeader": {
          "description": "Deletes a header from the document.",
          "$ref": "DeleteHeaderRequest"
        },
        "createParagraphBullets": {
          "$ref": "CreateParagraphBulletsRequest",
          "description": "Creates bullets for paragraphs."
        },
        "deleteTableRow": {
          "$ref": "DeleteTableRowRequest",
          "description": "Deletes a row from a table."
        },
        "insertPageBreak": {
          "$ref": "InsertPageBreakRequest",
          "description": "Inserts a page break at the specified location."
        },
        "updateSectionStyle": {
          "description": "Updates the section style of the specified range.",
          "$ref": "UpdateSectionStyleRequest"
        },
        "updateNamedStyle": {
          "$ref": "UpdateNamedStyleRequest",
          "description": "Updates a named style."
        },
        "createFootnote": {
          "description": "Creates a footnote.",
          "$ref": "CreateFootnoteRequest"
        },
        "unmergeTableCells": {
          "$ref": "UnmergeTableCellsRequest",
          "description": "Unmerges cells in a table."
        },
        "insertRichLink": {
          "$ref": "InsertRichLinkRequest",
          "description": "Insert a rich link."
        },
        "mergeTableCells": {
          "description": "Merges cells in a table.",
          "$ref": "MergeTableCellsRequest"
        },
        "insertDate": {
          "description": "Inserts a date.",
          "$ref": "InsertDateRequest"
        },
        "updateDocumentTabProperties": {
          "$ref": "UpdateDocumentTabPropertiesRequest",
          "description": "Updates the properties of a document tab."
        },
        "insertTableRow": {
          "description": "Inserts an empty row into a table.",
          "$ref": "InsertTableRowRequest"
        },
        "deleteContentRange": {
          "description": "Deletes content from the document.",
          "$ref": "DeleteContentRangeRequest"
        },
        "deleteTableColumn": {
          "$ref": "DeleteTableColumnRequest",
          "description": "Deletes a column from a table."
        },
        "createFooter": {
          "description": "Creates a footer.",
          "$ref": "CreateFooterRequest"
        },
        "deleteNamedRange": {
          "description": "Deletes a named range.",
          "$ref": "DeleteNamedRangeRequest"
        },
        "updateParagraphStyle": {
          "description": "Updates the paragraph style at the specified range.",
          "$ref": "UpdateParagraphStyleRequest"
        },
        "addDocumentTab": {
          "description": "Adds a document tab.",
          "$ref": "AddDocumentTabRequest"
        },
        "deleteFooter": {
          "description": "Deletes a footer from the document.",
          "$ref": "DeleteFooterRequest"
        },
        "insertPerson": {
          "description": "Inserts a person mention.",
          "$ref": "InsertPersonRequest"
        },
        "updateTextStyle": {
          "description": "Updates the text style at the specified range.",
          "$ref": "UpdateTextStyleRequest"
        },
        "deleteParagraphBullets": {
          "$ref": "DeleteParagraphBulletsRequest",
          "description": "Deletes bullets from paragraphs."
        },
        "createHeader": {
          "description": "Creates a header.",
          "$ref": "CreateHeaderRequest"
        },
        "insertText": {
          "description": "Inserts text at the specified location.",
          "$ref": "InsertTextRequest"
        },
        "insertSectionBreak": {
          "description": "Inserts a section break at the specified location.",
          "$ref": "InsertSectionBreakRequest"
        },
        "insertTable": {
          "description": "Inserts a table at the specified location.",
          "$ref": "InsertTableRequest"
        },
        "replaceNamedRangeContent": {
          "$ref": "ReplaceNamedRangeContentRequest",
          "description": "Replaces the content in a named range."
        },
        "pinTableHeaderRows": {
          "description": "Updates the number of pinned header rows in a table.",
          "$ref": "PinTableHeaderRowsRequest"
        },
        "updateTableRowStyle": {
          "description": "Updates the row style in a table.",
          "$ref": "UpdateTableRowStyleRequest"
        }
      },
      "type": "object"
    },
    "NestingLevel": {
      "description": "Contains properties describing the look and feel of a list bullet at a given level of nesting.",
      "type": "object",
      "properties": {
        "textStyle": {
          "description": "The text style of bullets at this level of nesting.",
          "$ref": "TextStyle"
        },
        "bulletAlignment": {
          "enumDescriptions": [
            "The bullet alignment is unspecified.",
            "The bullet is aligned to the start of the space allotted for rendering the bullet. Left-aligned for LTR text, right-aligned otherwise.",
            "The bullet is aligned to the center of the space allotted for rendering the bullet.",
            "The bullet is aligned to the end of the space allotted for rendering the bullet. Right-aligned for LTR text, left-aligned otherwise."
          ],
          "type": "string",
          "enum": [
            "BULLET_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "description": "The alignment of the bullet within the space allotted for rendering the bullet."
        },
        "glyphFormat": {
          "type": "string",
          "description": "The format string used by bullets at this level of nesting. The glyph format contains one or more placeholders, and these placeholders are replaced with the appropriate values depending on the glyph_type or glyph_symbol. The placeholders follow the pattern `%[nesting_level]`. Furthermore, placeholders can have prefixes and suffixes. Thus, the glyph format follows the pattern `%[nesting_level]`. Note that the prefix and suffix are optional and can be arbitrary strings. For example, the glyph format `%0.` indicates that the rendered glyph will replace the placeholder with the corresponding glyph for nesting level 0 followed by a period as the suffix. So a list with a glyph type of UPPER_ALPHA and glyph format `%0.` at nesting level 0 will result in a list with rendered glyphs `A.` `B.` `C.` The glyph format can contain placeholders for the current nesting level as well as placeholders for parent nesting levels. For example, a list can have a glyph format of `%0.` at nesting level 0 and a glyph format of `%0.%1.` at nesting level 1. Assuming both nesting levels have DECIMAL glyph types, this would result in a list with rendered glyphs `1.` `2.` ` 2.1.` ` 2.2.` `3.` For nesting levels that are ordered, the string that replaces a placeholder in the glyph format for a particular paragraph depends on the paragraph's order within the list."
        },
        "glyphSymbol": {
          "description": "A custom glyph symbol used by bullets when paragraphs at this level of nesting is unordered. The glyph symbol replaces placeholders within the glyph_format. For example, if the glyph_symbol is the solid circle corresponding to Unicode U+25cf code point and the glyph_format is `%0`, the rendered glyph would be the solid circle.",
          "type": "string"
        },
        "indentFirstLine": {
          "description": "The amount of indentation for the first line of paragraphs at this level of nesting.",
          "$ref": "Dimension"
        },
        "startNumber": {
          "type": "integer",
          "description": "The number of the first list item at this nesting level. A value of 0 is treated as a value of 1 for lettered lists and Roman numeral lists. For values of both 0 and 1, lettered and Roman numeral lists will begin at `a` and `i` respectively. This value is ignored for nesting levels with unordered glyphs.",
          "format": "int32"
        },
        "glyphType": {
          "type": "string",
          "enum": [
            "GLYPH_TYPE_UNSPECIFIED",
            "NONE",
            "DECIMAL",
            "ZERO_DECIMAL",
            "UPPER_ALPHA",
            "ALPHA",
            "UPPER_ROMAN",
            "ROMAN"
          ],
          "description": "The type of glyph used by bullets when paragraphs at this level of nesting is ordered. The glyph type determines the type of glyph used to replace placeholders within the glyph_format when paragraphs at this level of nesting are ordered. For example, if the nesting level is 0, the glyph_format is `%0.` and the glyph type is DECIMAL, then the rendered glyph would replace the placeholder `%0` in the glyph format with a number corresponding to the list item's order within the list.",
          "enumDescriptions": [
            "The glyph type is unspecified or unsupported.",
            "An empty string.",
            "A number, like `1`, `2`, or `3`.",
            "A number where single digit numbers are prefixed with a zero, like `01`, `02`, or `03`. Numbers with more than one digit are not prefixed with a zero.",
            "An uppercase letter, like `A`, `B`, or `C`.",
            "A lowercase letter, like `a`, `b`, or `c`.",
            "An uppercase Roman numeral, like `I`, `II`, or `III`.",
            "A lowercase Roman numeral, like `i`, `ii`, or `iii`."
          ]
        },
        "indentStart": {
          "$ref": "Dimension",
          "description": "The amount of indentation for paragraphs at this level of nesting. Applied to the side that corresponds to the start of the text, based on the paragraph's content direction."
        }
      },
      "id": "NestingLevel"
    },
    "NamedRanges": {
      "id": "NamedRanges",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name that all the named ranges share.",
          "type": "string"
        },
        "namedRanges": {
          "type": "array",
          "items": {
            "$ref": "NamedRange"
          },
          "description": "The NamedRanges that share the same name."
        }
      },
      "description": "A collection of all the NamedRanges in the document that share a given name."
    },
    "InsertTextRequest": {
      "id": "InsertTextRequest",
      "description": "Inserts text at the specified location.",
      "properties": {
        "location": {
          "description": "Inserts the text at a specific index in the document. Text must be inserted inside the bounds of an existing Paragraph. For instance, text cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The text must be inserted in the preceding paragraph.",
          "$ref": "Location"
        },
        "endOfSegmentLocation": {
          "description": "Inserts the text at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "text": {
          "description": "The text to be inserted. Inserting a newline character will implicitly create a new Paragraph at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text style for the inserted text will match the text immediately before the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Table": {
      "type": "object",
      "properties": {
        "rows": {
          "type": "integer",
          "format": "int32",
          "description": "Number of rows in the table."
        },
        "tableRows": {
          "type": "array",
          "description": "The contents and style of each row.",
          "items": {
            "$ref": "TableRow"
          }
        },
        "columns": {
          "description": "Number of columns in the table. It's possible for a table to be non-rectangular, so some rows may have a different number of cells.",
          "format": "int32",
          "type": "integer"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A Table may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "tableStyle": {
          "description": "The style of the table.",
          "$ref": "TableStyle"
        }
      },
      "id": "Table",
      "description": "A StructuralElement representing a table."
    },
    "TableCellStyleSuggestionState": {
      "id": "TableCellStyleSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "borderLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_left."
        },
        "paddingRightSuggested": {
          "description": "Indicates if there was a suggested change to padding_right.",
          "type": "boolean"
        },
        "columnSpanSuggested": {
          "description": "Indicates if there was a suggested change to column_span.",
          "type": "boolean"
        },
        "borderRightSuggested": {
          "description": "Indicates if there was a suggested change to border_right.",
          "type": "boolean"
        },
        "borderBottomSuggested": {
          "description": "Indicates if there was a suggested change to border_bottom.",
          "type": "boolean"
        },
        "borderTopSuggested": {
          "description": "Indicates if there was a suggested change to border_top.",
          "type": "boolean"
        },
        "contentAlignmentSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to content_alignment."
        },
        "backgroundColorSuggested": {
          "description": "Indicates if there was a suggested change to background_color.",
          "type": "boolean"
        },
        "paddingTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to padding_top."
        },
        "paddingLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to padding_left."
        },
        "rowSpanSuggested": {
          "description": "Indicates if there was a suggested change to row_span.",
          "type": "boolean"
        },
        "paddingBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to padding_bottom."
        }
      }
    },
    "EndOfSegmentLocation": {
      "description": "Location at the end of a body, header, footer or footnote. The location is immediately before the last newline in the document segment.",
      "id": "EndOfSegmentLocation",
      "properties": {
        "tabId": {
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "segmentId": {
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Body": {
      "description": "The document body. The body typically contains the full document contents except for headers, footers, and footnotes.",
      "type": "object",
      "id": "Body",
      "properties": {
        "content": {
          "description": "The contents of the body. The indexes for the body's content begin at zero.",
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          }
        }
      }
    },
    "InsertTableRequest": {
      "type": "object",
      "description": "Inserts a table at the specified location. A newline character will be inserted before the inserted table.",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the table at the end of the given header, footer or document body. A newline character will be inserted before the inserted table. Tables cannot be inserted inside a footnote.",
          "$ref": "EndOfSegmentLocation"
        },
        "rows": {
          "type": "integer",
          "format": "int32",
          "description": "The number of rows in the table."
        },
        "columns": {
          "format": "int32",
          "description": "The number of columns in the table.",
          "type": "integer"
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the table at a specific model index. A newline character will be inserted before the inserted table, therefore the table start index will be at the specified location index + 1. The table must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph). Tables cannot be inserted inside a footnote or equation."
        }
      },
      "id": "InsertTableRequest"
    },
    "ParagraphBorder": {
      "description": "A border around a paragraph.",
      "type": "object",
      "properties": {
        "color": {
          "$ref": "OptionalColor",
          "description": "The color of the border."
        },
        "padding": {
          "description": "The padding of the border.",
          "$ref": "Dimension"
        },
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        },
        "dashStyle": {
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "type": "string",
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "description": "The dash style of the border."
        }
      },
      "id": "ParagraphBorder"
    },
    "ListProperties": {
      "id": "ListProperties",
      "description": "The properties of a list that describe the look and feel of bullets belonging to paragraphs associated with a list.",
      "properties": {
        "nestingLevels": {
          "description": "Describes the properties of the bullets at the associated level. A list has at most 9 levels of nesting with nesting level 0 corresponding to the top-most level and nesting level 8 corresponding to the most nested level. The nesting levels are returned in ascending order with the least nested returned first.",
          "items": {
            "$ref": "NestingLevel"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "InsertRichLinkRequest": {
      "type": "object",
      "description": "Inserts a RichLink at the specified location.",
      "id": "InsertRichLinkRequest",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the rich link at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "richLinkProperties": {
          "$ref": "RichLinkProperties",
          "description": "The properties of the rich link to insert."
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the rich link at a specific index in the document. The rich link must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The rich link cannot be inserted inside an equation."
        }
      }
    },
    "DocumentFormat": {
      "description": "Represents document-level format settings.",
      "id": "DocumentFormat",
      "properties": {
        "documentMode": {
          "type": "string",
          "enum": [
            "DOCUMENT_MODE_UNSPECIFIED",
            "PAGES",
            "PAGELESS"
          ],
          "enumDescriptions": [
            "The document mode is unspecified.",
            "The document has pages.",
            "The document is pageless."
          ],
          "description": "Whether the document has pages or is pageless."
        }
      },
      "type": "object"
    },
    "SuggestedTableCellStyle": {
      "description": "A suggested change to a TableCellStyle.",
      "type": "object",
      "properties": {
        "tableCellStyle": {
          "description": "A TableCellStyle that only includes the changes made in this suggestion. This can be used along with the table_cell_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "TableCellStyle"
        },
        "tableCellStyleSuggestionState": {
          "$ref": "TableCellStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion."
        }
      },
      "id": "SuggestedTableCellStyle"
    },
    "PinTableHeaderRowsRequest": {
      "properties": {
        "pinnedHeaderRowsCount": {
          "description": "The number of table rows to pin, where 0 implies that all rows are unpinned.",
          "type": "integer",
          "format": "int32"
        },
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        }
      },
      "type": "object",
      "id": "PinTableHeaderRowsRequest",
      "description": "Updates the number of pinned table header rows in a table."
    },
    "Location": {
      "id": "Location",
      "description": "A particular location in the document.",
      "type": "object",
      "properties": {
        "index": {
          "format": "int32",
          "description": "The zero-based index, in UTF-16 code units. The index is relative to the beginning of the segment specified by segment_id.",
          "type": "integer"
        },
        "segmentId": {
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body.",
          "type": "string"
        },
        "tabId": {
          "type": "string",
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        }
      }
    },
    "UpdateTableCellStyleRequest": {
      "properties": {
        "tableCellStyle": {
          "description": "The style to set on the table cells. When updating borders, if a cell shares a border with an adjacent cell, the corresponding border property of the adjacent cell is updated as well. Borders that are merged and invisible are not updated. Since updating a border shared by adjacent cells in the same request can cause conflicting border updates, border updates are applied in the following order: - `border_right` - `border_left` - `border_bottom` - `border_top`",
          "$ref": "TableCellStyle"
        },
        "tableRange": {
          "description": "The table range representing the subset of the table to which the updates are applied.",
          "$ref": "TableRange"
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableCellStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background color, set `fields` to `\"backgroundColor\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        },
        "tableStartLocation": {
          "description": "The location where the table starts in the document. When specified, the updates are applied to all the cells in the table.",
          "$ref": "Location"
        }
      },
      "description": "Updates the style of a range of table cells.",
      "id": "UpdateTableCellStyleRequest",
      "type": "object"
    },
    "TextStyle": {
      "properties": {
        "backgroundColor": {
          "$ref": "OptionalColor",
          "description": "The background color of the text. If set, the color is either an RGB color or transparent, depending on the `color` field."
        },
        "strikethrough": {
          "description": "Whether or not the text is struck through.",
          "type": "boolean"
        },
        "foregroundColor": {
          "$ref": "OptionalColor",
          "description": "The foreground color of the text. If set, the color is either an RGB color or transparent, depending on the `color` field."
        },
        "smallCaps": {
          "description": "Whether or not the text is in small capital letters.",
          "type": "boolean"
        },
        "italic": {
          "description": "Whether or not the text is italicized.",
          "type": "boolean"
        },
        "bold": {
          "description": "Whether or not the text is rendered as bold.",
          "type": "boolean"
        },
        "fontSize": {
          "$ref": "Dimension",
          "description": "The size of the text's font."
        },
        "weightedFontFamily": {
          "$ref": "WeightedFontFamily",
          "description": "The font family and rendered weight of the text. If an update request specifies values for both `weighted_font_family` and `bold`, the `weighted_font_family` is applied first, then `bold`. If `weighted_font_family#weight` is not set, it defaults to `400`. If `weighted_font_family` is set, then `weighted_font_family#font_family` must also be set with a non-empty value. Otherwise, a 400 bad request error is returned."
        },
        "link": {
          "description": "The hyperlink destination of the text. If unset, there's no link. Links are not inherited from parent text. Changing the link in an update request causes some other changes to the text style of the range: * When setting a link, the text foreground color will be updated to the default link color and the text will be underlined. If these fields are modified in the same request, those values will be used instead of the link defaults. * Setting a link on a text range that overlaps with an existing link will also update the existing link to point to the new URL. * Links are not settable on newline characters. As a result, setting a link on a text range that crosses a paragraph boundary, such as `\"ABC\\n123\"`, will separate the newline character(s) into their own text runs. The link will be applied separately to the runs before and after the newline. * Removing a link will update the text style of the range to match the style of the preceding text (or the default text styles if the preceding text is another link) unless different styles are being set in the same request.",
          "$ref": "Link"
        },
        "baselineOffset": {
          "description": "The text's vertical offset from its normal position. Text with `SUPERSCRIPT` or `SUBSCRIPT` baseline offsets is automatically rendered in a smaller font size, computed based on the `font_size` field. Changes in this field don't affect the `font_size`.",
          "enumDescriptions": [
            "The text's baseline offset is inherited from the parent.",
            "The text is not vertically offset.",
            "The text is vertically offset upwards (superscript).",
            "The text is vertically offset downwards (subscript)."
          ],
          "type": "string",
          "enum": [
            "BASELINE_OFFSET_UNSPECIFIED",
            "NONE",
            "SUPERSCRIPT",
            "SUBSCRIPT"
          ]
        },
        "underline": {
          "description": "Whether or not the text is underlined.",
          "type": "boolean"
        }
      },
      "description": "Represents the styling that can be applied to text. Inherited text styles are represented as unset fields in this message. A text style's parent depends on where the text style is defined: * The TextStyle of text in a Paragraph inherits from the paragraph's corresponding named style type. * The TextStyle on a named style inherits from the normal text named style. * The TextStyle of the normal text named style inherits from the default text style in the Docs editor. * The TextStyle on a Paragraph element that's contained in a table may inherit its text style from the table style. If the text style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor.",
      "id": "TextStyle",
      "type": "object"
    },
    "InlineObjectPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "id": "InlineObjectPropertiesSuggestionState",
      "properties": {
        "embeddedObjectSuggestionState": {
          "$ref": "EmbeddedObjectSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion."
        }
      }
    },
    "TabsCriteria": {
      "description": "A criteria that specifies in which tabs a request executes.",
      "type": "object",
      "properties": {
        "tabIds": {
          "description": "The list of tab IDs in which the request executes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TabsCriteria"
    },
    "TableCell": {
      "properties": {
        "startIndex": {
          "description": "The zero-based start index of this cell, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        },
        "suggestedTableCellStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTableCellStyle"
          },
          "type": "object",
          "description": "The suggested changes to the table cell style, keyed by suggestion ID."
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. A TableCell may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "tableCellStyle": {
          "description": "The style of the cell.",
          "$ref": "TableCellStyle"
        },
        "endIndex": {
          "type": "integer",
          "description": "The zero-based end index of this cell, exclusive, in UTF-16 code units.",
          "format": "int32"
        },
        "content": {
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The content of the cell.",
          "type": "array"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The contents and style of a cell in a Table.",
      "type": "object",
      "id": "TableCell"
    },
    "TableColumnProperties": {
      "properties": {
        "width": {
          "$ref": "Dimension",
          "description": "The width of the column. Set when the column's `width_type` is FIXED_WIDTH."
        },
        "widthType": {
          "type": "string",
          "enum": [
            "WIDTH_TYPE_UNSPECIFIED",
            "EVENLY_DISTRIBUTED",
            "FIXED_WIDTH"
          ],
          "description": "The width type of the column.",
          "enumDescriptions": [
            "The column width type is unspecified.",
            "The column width is evenly distributed among the other evenly distributed columns. The width of the column is automatically determined and will have an equal portion of the width remaining for the table after accounting for all columns with specified widths.",
            "A fixed column width. The width property contains the column's width."
          ]
        }
      },
      "type": "object",
      "description": "The properties of a column in a table.",
      "id": "TableColumnProperties"
    },
    "SheetsChartReferenceSuggestionState": {
      "properties": {
        "spreadsheetIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to spreadsheet_id."
        },
        "chartIdSuggested": {
          "description": "Indicates if there was a suggested change to chart_id.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base SheetsChartReference have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "id": "SheetsChartReferenceSuggestionState"
    },
    "DeleteFooterRequest": {
      "id": "DeleteFooterRequest",
      "properties": {
        "footerId": {
          "type": "string",
          "description": "The id of the footer to delete. If this footer is defined on DocumentStyle, the reference to this footer is removed, resulting in no footer of that type for the first section of the document. If this footer is defined on a SectionStyle, the reference to this footer is removed and the footer of that type is now continued from the previous section."
        },
        "tabId": {
          "description": "The tab that contains the footer to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        }
      },
      "description": "Deletes a Footer from the document.",
      "type": "object"
    },
    "HorizontalRule": {
      "properties": {
        "textStyle": {
          "description": "The text style of this HorizontalRule. Similar to text content, like text runs and footnote references, the text style of a horizontal rule can affect content layout as well as the styling of text inserted next to it.",
          "$ref": "TextStyle"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this HorizontalRule, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A ParagraphElement representing a horizontal line.",
      "id": "HorizontalRule",
      "type": "object"
    },
    "NamedRange": {
      "description": "A collection of Ranges with the same named range ID. Named ranges allow developers to associate parts of a document with an arbitrary user-defined label so their contents can be programmatically read or edited later. A document can contain multiple named ranges with the same name, but every named range has a unique ID. A named range is created with a single Range, and content inserted inside a named range generally expands that range. However, certain document changes can cause the range to be split into multiple ranges. Named ranges are not private. All applications and collaborators that have access to the document can see its named ranges.",
      "id": "NamedRange",
      "type": "object",
      "properties": {
        "namedRangeId": {
          "description": "The ID of the named range.",
          "type": "string"
        },
        "ranges": {
          "description": "The ranges that belong to this named range.",
          "items": {
            "$ref": "Range"
          },
          "type": "array"
        },
        "name": {
          "description": "The name of the named range.",
          "type": "string"
        }
      }
    },
    "UpdateTableRowStyleRequest": {
      "description": "Updates the TableRowStyle of rows in a table.",
      "id": "UpdateTableRowStyleRequest",
      "properties": {
        "tableRowStyle": {
          "description": "The styles to be set on the rows.",
          "$ref": "TableRowStyle"
        },
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tableRowStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the minimum row height, set `fields` to `\"min_row_height\"`.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "rowIndices": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "The list of zero-based row indices whose style should be updated. If no indices are specified, all rows will be updated.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "UpdateDocumentTabPropertiesRequest": {
      "properties": {
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tab_properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "tabProperties": {
          "description": "The tab properties to update.",
          "$ref": "TabProperties"
        }
      },
      "type": "object",
      "description": "Update the properties of a document tab.",
      "id": "UpdateDocumentTabPropertiesRequest"
    },
    "PageBreak": {
      "id": "PageBreak",
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A PageBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this PageBreak. Similar to text content, like text runs and footnote references, the text style of a page break can affect content layout as well as the styling of text inserted next to it."
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this PageBreak, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        }
      },
      "description": "A ParagraphElement representing a page break. A page break makes the subsequent text start at the top of the next page.",
      "type": "object"
    },
    "RgbColor": {
      "id": "RgbColor",
      "type": "object",
      "properties": {
        "blue": {
          "description": "The blue component of the color, from 0.0 to 1.0.",
          "format": "float",
          "type": "number"
        },
        "red": {
          "description": "The red component of the color, from 0.0 to 1.0.",
          "type": "number",
          "format": "float"
        },
        "green": {
          "description": "The green component of the color, from 0.0 to 1.0.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "An RGB color."
    },
    "RichLinkProperties": {
      "type": "object",
      "id": "RichLinkProperties",
      "properties": {
        "uri": {
          "description": "The URI to the RichLink. This is always present.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the RichLink as displayed in the link. This title matches the title of the linked resource at the time of the insertion or last update of the link. This field is always present."
        },
        "mimeType": {
          "description": "The [MIME type](https://developers.google.com/drive/api/v3/mime-types) of the RichLink, if there's one (for example, when it's a file in Drive).",
          "type": "string"
        }
      },
      "description": "Properties specific to a RichLink."
    },
    "BulletSuggestionState": {
      "properties": {
        "nestingLevelSuggested": {
          "description": "Indicates if there was a suggested change to the nesting_level.",
          "type": "boolean"
        },
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion.",
          "$ref": "TextStyleSuggestionState"
        },
        "listIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to the list_id."
        }
      },
      "id": "BulletSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "SizeSuggestionState": {
      "description": "A mask that indicates which of the fields on the base Size have been changed in this suggestion. For any field set to true, the Size has a new suggested value.",
      "type": "object",
      "id": "SizeSuggestionState",
      "properties": {
        "heightSuggested": {
          "description": "Indicates if there was a suggested change to height.",
          "type": "boolean"
        },
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        }
      }
    },
    "DocumentTab": {
      "properties": {
        "lists": {
          "description": "The lists in the document tab, keyed by list ID.",
          "additionalProperties": {
            "$ref": "List"
          },
          "type": "object"
        },
        "footnotes": {
          "description": "The footnotes in the document tab, keyed by footnote ID.",
          "additionalProperties": {
            "$ref": "Footnote"
          },
          "type": "object"
        },
        "positionedObjects": {
          "additionalProperties": {
            "$ref": "PositionedObject"
          },
          "type": "object",
          "description": "The positioned objects in the document tab, keyed by object ID."
        },
        "body": {
          "description": "The main body of the document tab.",
          "$ref": "Body"
        },
        "suggestedNamedStylesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          },
          "type": "object",
          "description": "The suggested changes to the named styles of the document tab, keyed by suggestion ID."
        },
        "namedStyles": {
          "description": "The named styles of the document tab.",
          "$ref": "NamedStyles"
        },
        "documentStyle": {
          "description": "The style of the document tab.",
          "$ref": "DocumentStyle"
        },
        "inlineObjects": {
          "type": "object",
          "additionalProperties": {
            "$ref": "InlineObject"
          },
          "description": "The inline objects in the document tab, keyed by object ID."
        },
        "namedRanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "NamedRanges"
          },
          "description": "The named ranges in the document tab, keyed by name."
        },
        "suggestedDocumentStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          },
          "description": "The suggested changes to the style of the document tab, keyed by suggestion ID.",
          "type": "object"
        },
        "headers": {
          "type": "object",
          "description": "The headers in the document tab, keyed by header ID.",
          "additionalProperties": {
            "$ref": "Header"
          }
        },
        "footers": {
          "type": "object",
          "description": "The footers in the document tab, keyed by footer ID.",
          "additionalProperties": {
            "$ref": "Footer"
          }
        }
      },
      "description": "A tab with document contents.",
      "type": "object",
      "id": "DocumentTab"
    },
    "EmbeddedDrawingPropertiesSuggestionState": {
      "properties": {},
      "description": "A mask that indicates which of the fields on the base EmbeddedDrawingProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "EmbeddedDrawingPropertiesSuggestionState",
      "type": "object"
    },
    "SectionColumnProperties": {
      "id": "SectionColumnProperties",
      "description": "Properties that apply to a section's column.",
      "properties": {
        "width": {
          "$ref": "Dimension",
          "description": "Output only. The width of the column."
        },
        "paddingEnd": {
          "description": "The padding at the end of the column.",
          "$ref": "Dimension"
        }
      },
      "type": "object"
    },
    "PositionedObjectProperties": {
      "id": "PositionedObjectProperties",
      "type": "object",
      "properties": {
        "embeddedObject": {
          "description": "The embedded object of this positioned object.",
          "$ref": "EmbeddedObject"
        },
        "positioning": {
          "$ref": "PositionedObjectPositioning",
          "description": "The positioning of this positioned object relative to the newline of the Paragraph that references this positioned object."
        }
      },
      "description": "Properties of a PositionedObject."
    },
    "Response": {
      "id": "Response",
      "type": "object",
      "description": "A single response from an update.",
      "properties": {
        "createFooter": {
[...]
