{
  "protocol": "rest",
  "ownerDomain": "google.com",
  "description": "Reads and writes Google Docs documents.",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://docs.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "docs:v1",
  "schemas": {
    "PinTableHeaderRowsRequest": {
      "description": "Updates the number of pinned table header rows in a table.",
      "type": "object",
      "id": "PinTableHeaderRowsRequest",
      "properties": {
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        },
        "pinnedHeaderRowsCount": {
          "type": "integer",
          "description": "The number of table rows to pin, where 0 implies that all rows are unpinned.",
          "format": "int32"
        }
      }
    },
    "PostAuthor": {
      "type": "object",
      "description": "Represents a user who authored a comment or suggestion post. [Developer Preview](https://developers.google.com/workspace/preview).",
      "properties": {
        "anonymous": {
          "type": "boolean",
          "description": "Whether the user is anonymous."
        },
        "displayName": {
          "description": "The display name of the user. May be absent if the author is anonymous.",
          "type": "string"
        },
        "me": {
          "description": "Whether the user is the authenticated user making the request.",
          "type": "boolean"
        },
        "user": {
          "type": "string",
          "description": "The resource name of the post author user, which can also be used to identify the user in the [Google People API](https://developers.google.com/people/api/rest/v1/people). Format: `users/{user}`. Will not be populated if the anonymous field is `true` or if the post is from an imported document."
        }
      },
      "id": "PostAuthor"
    },
    "CreateFootnoteRequest": {
      "type": "object",
      "id": "CreateFootnoteRequest",
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the footnote reference at the end of the document body. Footnote references cannot be inserted inside a header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty."
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the footnote reference at a specific index in the document. The footnote reference must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Footnote references cannot be inserted inside an equation, header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty."
        }
      },
      "description": "Creates a Footnote segment and inserts a new FootnoteReference to it at the given location. The new Footnote segment will contain a space followed by a newline character."
    },
    "Response": {
      "id": "Response",
      "type": "object",
      "properties": {
        "replaceAllText": {
          "description": "The result of replacing text.",
          "$ref": "ReplaceAllTextResponse"
        },
        "addCommentReply": {
          "$ref": "AddCommentReplyResponse",
          "description": "The result of adding a reply to a comment or suggestion. [Developer Preview](https://developers.google.com/workspace/preview)."
        },
        "createFootnote": {
          "$ref": "CreateFootnoteResponse",
          "description": "The result of creating a footnote."
        },
        "createNamedRange": {
          "description": "The result of creating a named range.",
          "$ref": "CreateNamedRangeResponse"
        },
        "insertInlineImage": {
          "description": "The result of inserting an inline image.",
          "$ref": "InsertInlineImageResponse"
        },
        "createFooter": {
          "description": "The result of creating a footer.",
          "$ref": "CreateFooterResponse"
        },
        "insertComment": {
          "$ref": "InsertCommentResponse",
          "description": "The result of inserting a comment. [Developer Preview](https://developers.google.com/workspace/preview)."
        },
        "createHeader": {
          "description": "The result of creating a header.",
          "$ref": "CreateHeaderResponse"
        },
        "addDocumentTab": {
          "$ref": "AddDocumentTabResponse",
          "description": "The result of adding a document tab."
        },
        "insertInlineSheetsChart": {
          "description": "The result of inserting an inline Google Sheets chart.",
          "$ref": "InsertInlineSheetsChartResponse"
        }
      },
      "description": "A single response from an update."
    },
    "AddCommentReplyRequest": {
      "description": "Inserts a reply Post into a CommentThread or SuggestionThread. [Developer Preview](https://developers.google.com/workspace/preview).",
      "type": "object",
      "properties": {
        "post": {
          "description": "The Post representing the reply.",
          "$ref": "Post"
        },
        "suggestionId": {
          "type": "string",
          "description": "The ID of the SuggestionThread to add the reply to."
        },
        "commentId": {
          "type": "string",
          "description": "The ID of the CommentThread to add the reply to."
        }
      },
      "id": "AddCommentReplyRequest"
    },
    "EmbeddedObject": {
      "description": "An embedded object in the document.",
      "properties": {
        "marginLeft": {
          "description": "The left margin of the embedded object.",
          "$ref": "Dimension"
        },
        "marginRight": {
          "$ref": "Dimension",
          "description": "The right margin of the embedded object."
        },
        "marginBottom": {
          "$ref": "Dimension",
          "description": "The bottom margin of the embedded object."
        },
        "embeddedDrawingProperties": {
          "$ref": "EmbeddedDrawingProperties",
          "description": "The properties of an embedded drawing."
        },
        "imageProperties": {
          "description": "The properties of an image.",
          "$ref": "ImageProperties"
        },
        "title": {
          "description": "The title of the embedded object. The `title` and `description` are both combined to display alt text.",
          "type": "string"
        },
        "marginTop": {
          "$ref": "Dimension",
          "description": "The top margin of the embedded object."
        },
        "description": {
          "description": "The description of the embedded object. The `title` and `description` are both combined to display alt text.",
          "type": "string"
        },
        "size": {
          "description": "The visible size of the image after cropping.",
          "$ref": "Size"
        },
        "linkedContentReference": {
          "description": "A reference to the external linked source content. For example, it contains a reference to the source Google Sheets chart when the embedded object is a linked chart. If unset, then the embedded object is not linked.",
          "$ref": "LinkedContentReference"
        },
        "embeddedObjectBorder": {
          "$ref": "EmbeddedObjectBorder",
          "description": "The border of the embedded object."
        }
      },
      "type": "object",
      "id": "EmbeddedObject"
    },
    "UpdateTableColumnPropertiesRequest": {
      "description": "Updates the TableColumnProperties of columns in a table.",
      "type": "object",
      "id": "UpdateTableColumnPropertiesRequest",
      "properties": {
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tableColumnProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the column width, set `fields` to `\"width\"`.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "tableColumnProperties": {
          "description": "The table column properties to update. If the value of `table_column_properties#width` is less than 5 points (5/72 inch), a 400 bad request error is returned.",
          "$ref": "TableColumnProperties"
        },
        "columnIndices": {
          "description": "The list of zero-based column indices whose property should be updated. If no indices are specified, all columns will be updated.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        }
      }
    },
    "Footer": {
      "type": "object",
      "properties": {
        "content": {
          "type": "array",
          "description": "The contents of the footer. The indexes for a footer's content begin at zero.",
          "items": {
            "$ref": "StructuralElement"
          }
        },
        "footerId": {
          "description": "The ID of the footer.",
          "type": "string"
        }
      },
      "description": "A document footer.",
      "id": "Footer"
    },
    "ObjectReferences": {
      "id": "ObjectReferences",
      "type": "object",
      "properties": {
        "objectIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The object IDs."
        }
      },
      "description": "A collection of object IDs."
    },
    "ListPropertiesSuggestionState": {
      "id": "ListPropertiesSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "nestingLevelsSuggestionStates": {
          "items": {
            "$ref": "NestingLevelSuggestionState"
          },
          "description": "A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first.",
          "type": "array"
        }
      }
    },
    "RejectSuggestionRequest": {
      "description": "Rejects a suggestion. Returns a 403 forbidden error if the requesting user does not have edit access to the document and is not the author of the suggestion. [Developer Preview](https://developers.google.com/workspace/preview).",
      "id": "RejectSuggestionRequest",
      "properties": {
        "suggestionId": {
          "description": "The ID of the suggestion.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SuggestedBullet": {
      "description": "A suggested change to a Bullet.",
      "id": "SuggestedBullet",
      "type": "object",
      "properties": {
        "bulletSuggestionState": {
          "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion.",
          "$ref": "BulletSuggestionState"
        },
        "bullet": {
          "$ref": "Bullet",
          "description": "A Bullet that only includes the changes made in this suggestion. This can be used along with the bullet_suggestion_state to see which fields have changed and their new values."
        }
      }
    },
    "ShadingSuggestionState": {
      "id": "ShadingSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base Shading have been changed in this suggested change. For any field set to true, there's a new suggested value.",
      "properties": {
        "backgroundColorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to the Shading."
        }
      }
    },
    "TableCellStyleSuggestionState": {
      "id": "TableCellStyleSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "rowSpanSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to row_span."
        },
        "paddingLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to padding_left."
        },
        "backgroundColorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to background_color."
        },
        "paddingBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to padding_bottom."
        },
        "borderRightSuggested": {
          "description": "Indicates if there was a suggested change to border_right.",
          "type": "boolean"
        },
        "columnSpanSuggested": {
          "description": "Indicates if there was a suggested change to column_span.",
          "type": "boolean"
        },
        "borderLeftSuggested": {
          "description": "Indicates if there was a suggested change to border_left.",
          "type": "boolean"
        },
        "paddingTopSuggested": {
          "description": "Indicates if there was a suggested change to padding_top.",
          "type": "boolean"
        },
        "borderBottomSuggested": {
          "description": "Indicates if there was a suggested change to border_bottom.",
          "type": "boolean"
        },
        "borderTopSuggested": {
          "description": "Indicates if there was a suggested change to border_top.",
          "type": "boolean"
        },
        "contentAlignmentSuggested": {
          "description": "Indicates if there was a suggested change to content_alignment.",
          "type": "boolean"
        },
        "paddingRightSuggested": {
          "description": "Indicates if there was a suggested change to padding_right.",
          "type": "boolean"
        }
      }
    },
    "Color": {
      "type": "object",
      "id": "Color",
      "properties": {
        "rgbColor": {
          "$ref": "RgbColor",
          "description": "The RGB color value."
        }
      },
      "description": "A solid color."
    },
    "SizeSuggestionState": {
      "description": "A mask that indicates which of the fields on the base Size have been changed in this suggestion. For any field set to true, the Size has a new suggested value.",
      "type": "object",
      "properties": {
        "widthSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to width."
        },
        "heightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to height."
        }
      },
      "id": "SizeSuggestionState"
    },
    "EmbeddedObjectBorderSuggestionState": {
      "type": "object",
      "properties": {
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        },
        "dashStyleSuggested": {
          "description": "Indicates if there was a suggested change to dash_style.",
          "type": "boolean"
        },
        "propertyStateSuggested": {
          "description": "Indicates if there was a suggested change to property_state.",
          "type": "boolean"
        },
        "colorSuggested": {
          "description": "Indicates if there was a suggested change to color.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "EmbeddedObjectBorderSuggestionState"
    },
    "InsertDateRequest": {
      "description": "Inserts a date at the specified location.",
      "id": "InsertDateRequest",
      "type": "object",
      "properties": {
        "location": {
          "$ref": "Location",
          "description": "Inserts the date at a specific index in the document. The date must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph)."
        },
        "dateElementProperties": {
          "$ref": "DateElementProperties",
          "description": "The properties of the date to insert."
        },
        "endOfSegmentLocation": {
          "description": "Inserts the date at the end of the given header, footer or document body.",
          "$ref": "EndOfSegmentLocation"
        }
      }
    },
    "InlineObjectProperties": {
      "description": "Properties of an InlineObject.",
      "properties": {
        "embeddedObject": {
          "description": "The embedded object of this inline object.",
          "$ref": "EmbeddedObject"
        }
      },
      "type": "object",
      "id": "InlineObjectProperties"
    },
    "PersonProperties": {
      "id": "PersonProperties",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the person if it's displayed in the link text instead of the person's email address.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email address linked to this Person. This field is always present."
        }
      },
      "description": "Properties specific to a linked Person."
    },
    "TabStop": {
      "description": "A tab stop within a paragraph.",
      "type": "object",
      "properties": {
        "offset": {
          "description": "The offset between this tab stop and the start margin.",
          "$ref": "Dimension"
        },
        "alignment": {
          "type": "string",
          "description": "The alignment of this tab stop. If unset, the value defaults to START.",
          "enumDescriptions": [
            "The tab stop alignment is unspecified.",
            "The tab stop is aligned to the start of the line. This is the default.",
            "The tab stop is aligned to the center of the line.",
            "The tab stop is aligned to the end of the line."
          ],
          "enum": [
            "TAB_STOP_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ]
        }
      },
      "id": "TabStop"
    },
    "InsertInlineImageRequest": {
      "description": "Inserts an InlineObject containing an image at the given location.",
      "id": "InsertInlineImageRequest",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The image URI. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URI must be publicly accessible and at most 2 kB in length. The URI itself is saved with the image, and exposed via the ImageProperties.content_uri field."
        },
        "objectSize": {
          "description": "The size that the image should appear as in the document. This property is optional and the final size of the image in the document is determined by the following rules: * If neither width nor height is specified, then a default size of the image is calculated based on its resolution. * If one dimension is specified then the other dimension is calculated to preserve the aspect ratio of the image. * If both width and height are specified, the image is scaled to fit within the provided dimensions while maintaining its aspect ratio.",
          "$ref": "Size"
        },
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the text at the end of a header, footer or the document body. Inline images cannot be inserted inside a footnote."
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the image at a specific index in the document. The image must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Inline images cannot be inserted inside a footnote or equation."
        }
      },
      "type": "object"
    },
    "Dimension": {
      "type": "object",
      "id": "Dimension",
      "properties": {
        "unit": {
          "description": "The units for magnitude.",
          "type": "string",
          "enumDescriptions": [
            "The units are unknown.",
            "A point, 1/72 of an inch."
          ],
          "enum": [
            "UNIT_UNSPECIFIED",
            "PT"
          ]
        },
        "magnitude": {
          "type": "number",
          "format": "double",
          "description": "The magnitude."
        }
      },
      "description": "A magnitude in a single direction in the specified units."
    },
    "InsertCommentResponse": {
      "id": "InsertCommentResponse",
      "type": "object",
      "description": "Response message for inserting a comment. [Developer Preview](https://developers.google.com/workspace/preview).",
      "properties": {
        "commentThread": {
          "$ref": "CommentThread",
          "description": "The newly-inserted comment thread."
        }
      }
    },
    "EmbeddedDrawingProperties": {
      "id": "EmbeddedDrawingProperties",
      "type": "object",
      "description": "The properties of an embedded drawing and used to differentiate the object type. An embedded drawing is one that's created and edited within a document. Note that extensive details are not supported.",
      "properties": {}
    },
    "ReplaceAllTextResponse": {
      "id": "ReplaceAllTextResponse",
      "description": "The result of replacing text.",
      "type": "object",
      "properties": {
        "occurrencesChanged": {
          "format": "int32",
          "type": "integer",
          "description": "The number of occurrences changed by replacing all text."
        }
      }
    },
    "SuggestedPositionedObjectProperties": {
      "id": "SuggestedPositionedObjectProperties",
      "type": "object",
      "properties": {
        "positionedObjectPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion.",
          "$ref": "PositionedObjectPropertiesSuggestionState"
        },
        "positionedObjectProperties": {
          "description": "A PositionedObjectProperties that only includes the changes made in this suggestion. This can be used along with the positioned_object_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "PositionedObjectProperties"
        }
      },
      "description": "A suggested change to PositionedObjectProperties."
    },
    "TableColumnProperties": {
      "description": "The properties of a column in a table.",
      "properties": {
        "widthType": {
          "enumDescriptions": [
            "The column width type is unspecified.",
            "The column width is evenly distributed among the other evenly distributed columns. The width of the column is automatically determined and will have an equal portion of the width remaining for the table after accounting for all columns with specified widths.",
            "A fixed column width. The width property contains the column's width."
          ],
          "type": "string",
          "enum": [
            "WIDTH_TYPE_UNSPECIFIED",
            "EVENLY_DISTRIBUTED",
            "FIXED_WIDTH"
          ],
          "description": "The width type of the column."
        },
        "width": {
          "description": "The width of the column. Set when the column's `width_type` is FIXED_WIDTH.",
          "$ref": "Dimension"
        }
      },
      "id": "TableColumnProperties",
      "type": "object"
    },
    "CropProperties": {
      "description": "The crop properties of an image. The crop rectangle is represented using fractional offsets from the original content's 4 edges. - If the offset is in the interval (0, 1), the corresponding edge of crop rectangle is positioned inside of the image's original bounding rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop rectangle is positioned outside of the image's original bounding rectangle. - If all offsets and rotation angles are 0, the image is not cropped.",
      "properties": {
        "offsetBottom": {
          "type": "number",
          "description": "The offset specifies how far inwards the bottom edge of the crop rectangle is from the bottom edge of the original content as a fraction of the original content's height.",
          "format": "float"
        },
        "offsetTop": {
          "description": "The offset specifies how far inwards the top edge of the crop rectangle is from the top edge of the original content as a fraction of the original content's height.",
          "type": "number",
          "format": "float"
        },
        "angle": {
          "format": "float",
          "description": "The clockwise rotation angle of the crop rectangle around its center, in radians. Rotation is applied after the offsets.",
          "type": "number"
        },
        "offsetLeft": {
          "description": "The offset specifies how far inwards the left edge of the crop rectangle is from the left edge of the original content as a fraction of the original content's width.",
          "type": "number",
          "format": "float"
        },
        "offsetRight": {
          "format": "float",
          "type": "number",
          "description": "The offset specifies how far inwards the right edge of the crop rectangle is from the right edge of the original content as a fraction of the original content's width."
        }
      },
      "type": "object",
      "id": "CropProperties"
    },
    "NamedStyles": {
      "properties": {
        "styles": {
          "items": {
            "$ref": "NamedStyle"
          },
          "description": "The named styles. There's an entry for each of the possible named style types.",
          "type": "array"
        }
      },
      "id": "NamedStyles",
      "type": "object",
      "description": "The named styles. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from these named styles."
    },
    "DateElementProperties": {
      "properties": {
        "locale": {
          "description": "The language code of the DateElement. For example, `en`. If unset, the default locale is `en`. Limited to the following locales: `af`, `am`, `ar`, `as`, `az`, `be`, `bg`, `bn`, `ca`, `cs`, `da`, `de`, `el`, `en`, `en-CA`, `en-GB`, `es`, `es-419`, `et`, `eu`, `fa`, `fi`, `fil`, `fr`, `fr-CA`, `gl`, `gu`, `hi`, `hr`, `hu`, `hy`, `id`, `is`, `it`, `iw`, `ja`, `ka`, `kk`, `km`, `kn`, `ko`, `lo`, `lt`, `lv`, `mk`, `ml`, `mn`, `mr`, `ms`, `ne`, `nl`, `no`, `or`, `pa`, `pl`, `pt-BR`, `pt-PT`, `ro`, `ru`, `si`, `sk`, `sl`, `sq`, `sr`, `sv`, `sw`, `ta`, `te`, `th`, `tr`, `uk`, `ur`, `uz`, `vi`, `zh-CN`, `zh-HK`, `zh-TW`, `zu`, `cy`, `my`.",
          "type": "string"
        },
        "timestamp": {
          "description": "The point in time to represent, in seconds and nanoseconds since Unix epoch: January 1, 1970 at midnight UTC. Timestamp is expected to be in UTC. If time_zone_id is set, the timestamp is adjusted according to the time zone. For example, a timestamp of `18000` with a date format of `DATE_FORMAT_ISO8601` and time format of `TIME_FORMAT_HOUR_MINUTE` would be displayed as `1970-01-01 5:00 AM`. A timestamp of `18000` with date format of `DATE_FORMAT_ISO8601`, time format of `TIME_FORMAT_HOUR_MINUTE`, and time zone set to `America/New_York` will instead be `1970-01-01 12:00 AM`.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayText": {
          "description": "Output only. Indicates how the DateElement is displayed in the document.",
          "type": "string"
        },
        "dateFormat": {
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "DATE_FORMAT_CUSTOM",
            "DATE_FORMAT_MONTH_DAY_ABBREVIATED",
            "DATE_FORMAT_MONTH_DAY_FULL",
            "DATE_FORMAT_MONTH_DAY_YEAR_ABBREVIATED",
            "DATE_FORMAT_ISO8601"
          ],
          "description": "Determines how the date part of the DateElement will be displayed in the document. If unset, the default value is DATE_FORMAT_MONTH_DAY_YEAR_ABBREVIATED, indicating the DateElement will be formatted as `MMM d, y` in `en`, or locale specific equivalent.",
          "enumDescriptions": [
            "The date format is unspecified.",
            "Output only. The date format is imported from an external source.",
            "The date format is an abbreviated month followed by the day. For example, \"Jan 1\".",
            "The date format is a month followed by the day. For example, \"January 01\".",
            "The date format is an abbreviated month followed by the day and the year. For example, \"Jan 1, 1970\".",
            "The date format is in ISO 8601 format. For example, \"1970-01-01\"."
          ],
          "type": "string"
        },
        "timeFormat": {
          "enumDescriptions": [
            "The time format is unspecified.",
            "Indicates that the date does not have a time.",
            "The time format shows the hour and minute. For example, \"Jan 1, 1970 12:00 PM\".",
            "The time format shows the hour, minute, and timezone. For example, \"Jan 1, 1970 12:00 PM UTC\"."
          ],
          "enum": [
            "TIME_FORMAT_UNSPECIFIED",
            "TIME_FORMAT_DISABLED",
            "TIME_FORMAT_HOUR_MINUTE",
            "TIME_FORMAT_HOUR_MINUTE_TIMEZONE"
          ],
          "type": "string",
          "description": "Determines how the time part of the DateElement will be displayed in the document. If unset, the default value is TIME_FORMAT_DISABLED, indicating no time should be shown."
        },
        "timeZoneId": {
          "type": "string",
          "description": "The time zone of the DateElement, as defined by the Unicode Common Locale Data Repository (CLDR) project. For example, `America/New_York`. If unset, the default time zone is `etc/UTC`."
        }
      },
      "type": "object",
      "description": "Properties of a DateElement.",
      "id": "DateElementProperties"
    },
    "Shading": {
      "properties": {
        "backgroundColor": {
          "description": "The background color of this paragraph shading.",
          "$ref": "OptionalColor"
        }
      },
      "id": "Shading",
      "type": "object",
      "description": "The shading of a paragraph."
    },
    "DocumentStyle": {
      "properties": {
        "flipPageOrientation": {
          "type": "boolean",
          "description": "Optional. Indicates whether to flip the dimensions of the page_size, which allows changing the page orientation between portrait and landscape. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "useEvenPageHeaderFooter": {
          "type": "boolean",
          "description": "Indicates whether to use the even page header / footer IDs for the even pages. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "pageSize": {
          "$ref": "Size",
          "description": "The size of a page in the document. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "defaultHeaderId": {
          "description": "The ID of the default header. If not set, there's no default header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "background": {
          "description": "The background of the document. Documents cannot have a transparent background color.",
          "$ref": "Background"
        },
        "marginBottom": {
          "description": "The bottom page margin. Updating the bottom page margin on the document style clears the bottom page margin on all section styles. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "marginFooter": {
          "description": "The amount of space between the bottom of the page and the contents of the footer. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "evenPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for even pages. The value of use_even_page_header_footer determines whether to use the default_footer_id or this value for the footer on even pages. If not set, there's no even page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "marginTop": {
          "$ref": "Dimension",
          "description": "The top page margin. Updating the top page margin on the document style clears the top page margin on all section styles. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "firstPageHeaderId": {
          "type": "string",
          "description": "The ID of the header used only for the first page. If not set then a unique header for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_header_id or this value for the header on the first page. If not set, there's no first page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "marginHeader": {
          "description": "The amount of space between the top of the page and the contents of the header. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "evenPageHeaderId": {
          "description": "The ID of the header used only for even pages. The value of use_even_page_header_footer determines whether to use the default_header_id or this value for the header on even pages. If not set, there's no even page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "useCustomHeaderFooterMargins": {
          "description": "Indicates whether DocumentStyle margin_header, SectionStyle margin_header and DocumentStyle margin_footer, SectionStyle margin_footer are respected. When false, the default values in the Docs editor for header and footer margin is used. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "boolean"
        },
        "pageNumberStart": {
          "format": "int32",
          "description": "The page number from which to start counting the number of pages. If DocumentMode is PAGELESS, this property will not be rendered.",
          "type": "integer"
        },
        "useFirstPageHeaderFooter": {
          "description": "Indicates whether to use the first page header / footer IDs for the first page. If DocumentMode is PAGELESS, this property will not be rendered.",
          "type": "boolean"
        },
        "marginLeft": {
          "$ref": "Dimension",
          "description": "The left page margin. Updating the left page margin on the document style clears the left page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "documentFormat": {
          "description": "Specifies document-level format settings, such as the document mode (pages vs pageless).",
          "$ref": "DocumentFormat"
        },
        "defaultFooterId": {
          "type": "string",
          "description": "The ID of the default footer. If not set, there's no default footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "marginRight": {
          "$ref": "Dimension",
          "description": "The right page margin. Updating the right page margin on the document style clears the right page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "firstPageFooterId": {
          "description": "The ID of the footer used only for the first page. If not set then a unique footer for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_footer_id or this value for the footer on the first page. If not set, there's no first page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The style of the document.",
      "id": "DocumentStyle"
    },
    "UpdateParagraphStyleRequest": {
      "properties": {
        "range": {
          "$ref": "Range",
          "description": "The range overlapping the paragraphs to style."
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `paragraph_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the paragraph style's alignment property, set `fields` to `\"alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask"
        },
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "The styles to set on the paragraphs. Certain paragraph style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of ParagraphStyle for more information."
        }
      },
      "id": "UpdateParagraphStyleRequest",
      "description": "Update the styling of all paragraphs that overlap with the given range.",
      "type": "object"
    },
    "AcceptSuggestionRequest": {
      "type": "object",
      "properties": {
        "suggestionId": {
          "description": "The ID of the suggestion.",
          "type": "string"
        }
      },
      "id": "AcceptSuggestionRequest",
      "description": "Accepts a suggestion. Returns a 403 forbidden error if the requesting user does not have edit access to the document. [Developer Preview](https://developers.google.com/workspace/preview)."
    },
    "BackgroundSuggestionState": {
      "id": "BackgroundSuggestionState",
      "description": "A mask that indicates which of the fields on the base Background have been changed in this suggestion. For any field set to true, the Backgound has a new suggested value.",
      "properties": {
        "backgroundColorSuggested": {
          "description": "Indicates whether the current background color has been modified in this suggestion.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "PositionedObjectProperties": {
      "properties": {
        "positioning": {
          "description": "The positioning of this positioned object relative to the newline of the Paragraph that references this positioned object.",
          "$ref": "PositionedObjectPositioning"
        },
        "embeddedObject": {
          "$ref": "EmbeddedObject",
          "description": "The embedded object of this positioned object."
        }
      },
      "description": "Properties of a PositionedObject.",
      "type": "object",
      "id": "PositionedObjectProperties"
    },
    "UpdateCommentPostRequest": {
      "id": "UpdateCommentPostRequest",
      "description": "Updates a Post in a CommentThread or SuggestionThread. Returns a 400 bad request error if: - The post is the headPost of a SuggestionThread. - The requesting user is not the author of the post. [Developer Preview](https://developers.google.com/workspace/preview).",
      "properties": {
        "commentId": {
          "description": "The ID of the CommentThread which the post belongs to.",
          "type": "string"
        },
        "postId": {
          "description": "The ID of the post being updated.",
          "type": "string"
        },
        "suggestionId": {
          "type": "string",
          "description": "The ID of the SuggestionThread which the post belongs to."
        },
        "content": {
          "type": "string",
          "description": "The new text of the comment, as plain text. This text content will be handled similarly to comments created in the Docs editor. It will have similar behaviors for formatting, notifications, etc. This field cannot be empty, and must not exceed 2048 UTF-8 code units."
        }
      },
      "type": "object"
    },
    "Size": {
      "properties": {
        "height": {
          "$ref": "Dimension",
          "description": "The height of the object."
        },
        "width": {
          "description": "The width of the object.",
          "$ref": "Dimension"
        }
      },
      "type": "object",
      "id": "Size",
      "description": "A width and height."
    },
    "ParagraphStyleSuggestionState": {
      "properties": {
        "indentEndSuggested": {
          "description": "Indicates if there was a suggested change to indent_end.",
          "type": "boolean"
        },
        "directionSuggested": {
          "description": "Indicates if there was a suggested change to direction.",
          "type": "boolean"
        },
        "keepLinesTogetherSuggested": {
          "description": "Indicates if there was a suggested change to keep_lines_together.",
          "type": "boolean"
        },
        "borderBottomSuggested": {
          "description": "Indicates if there was a suggested change to border_bottom.",
          "type": "boolean"
        },
        "spaceAboveSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to space_above."
        },
        "alignmentSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to alignment."
        },
        "indentStartSuggested": {
          "description": "Indicates if there was a suggested change to indent_start.",
          "type": "boolean"
        },
        "borderBetweenSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_between."
        },
        "borderRightSuggested": {
          "description": "Indicates if there was a suggested change to border_right.",
          "type": "boolean"
        },
        "namedStyleTypeSuggested": {
          "description": "Indicates if there was a suggested change to named_style_type.",
          "type": "boolean"
        },
        "borderLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_left."
        },
        "avoidWidowAndOrphanSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to avoid_widow_and_orphan."
        },
        "pageBreakBeforeSuggested": {
          "description": "Indicates if there was a suggested change to page_break_before.",
          "type": "boolean"
        },
        "keepWithNextSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to keep_with_next."
        },
        "headingIdSuggested": {
          "description": "Indicates if there was a suggested change to heading_id.",
          "type": "boolean"
        },
        "indentFirstLineSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_first_line."
        },
        "shadingSuggestionState": {
          "$ref": "ShadingSuggestionState",
          "description": "A mask that indicates which of the fields in shading have been changed in this suggestion."
        },
        "borderTopSuggested": {
          "description": "Indicates if there was a suggested change to border_top.",
          "type": "boolean"
        },
        "lineSpacingSuggested": {
          "description": "Indicates if there was a suggested change to line_spacing.",
          "type": "boolean"
        },
        "spaceBelowSuggested": {
          "description": "Indicates if there was a suggested change to space_below.",
          "type": "boolean"
        },
        "spacingModeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to spacing_mode."
        }
      },
      "description": "A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "id": "ParagraphStyleSuggestionState"
    },
    "ParagraphElement": {
      "description": "A ParagraphElement describes content within a Paragraph.",
      "type": "object",
      "properties": {
        "endIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-base end index of this paragraph element, exclusive, in UTF-16 code units."
        },
        "equation": {
          "description": "An equation paragraph element.",
          "$ref": "Equation"
        },
        "dateElement": {
          "description": "A paragraph element that represents a date.",
          "$ref": "DateElement"
        },
        "footnoteReference": {
          "description": "A footnote reference paragraph element.",
          "$ref": "FootnoteReference"
        },
        "pageBreak": {
          "description": "A page break paragraph element.",
          "$ref": "PageBreak"
        },
        "autoText": {
          "$ref": "AutoText",
          "description": "An auto text paragraph element."
        },
        "columnBreak": {
          "description": "A column break paragraph element.",
          "$ref": "ColumnBreak"
        },
        "textRun": {
          "$ref": "TextRun",
          "description": "A text run paragraph element."
        },
        "person": {
          "description": "A paragraph element that links to a person or email address.",
          "$ref": "Person"
        },
        "richLink": {
          "description": "A paragraph element that links to a Google resource (such as a file in Google Drive, a YouTube video, or a Calendar event.)",
          "$ref": "RichLink"
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based start index of this paragraph element, in UTF-16 code units."
        },
        "horizontalRule": {
          "description": "A horizontal rule paragraph element.",
          "$ref": "HorizontalRule"
        },
        "inlineObjectElement": {
          "description": "An inline object paragraph element.",
          "$ref": "InlineObjectElement"
        }
      },
      "id": "ParagraphElement"
    },
    "SuggestedListProperties": {
      "id": "SuggestedListProperties",
      "description": "A suggested change to ListProperties.",
      "type": "object",
      "properties": {
        "listProperties": {
          "$ref": "ListProperties",
          "description": "A ListProperties that only includes the changes made in this suggestion. This can be used along with the list_properties_suggestion_state to see which fields have changed and their new values."
        },
        "listPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion.",
          "$ref": "ListPropertiesSuggestionState"
        }
      }
    },
    "TableRowStyle": {
      "properties": {
        "minRowHeight": {
          "$ref": "Dimension",
          "description": "The minimum height of the row. The row will be rendered in the Docs editor at a height equal to or greater than this value in order to show all the content in the row's cells."
        },
        "tableHeader": {
          "description": "Whether the row is a table header.",
          "type": "boolean"
        },
        "preventOverflow": {
          "description": "Whether the row cannot overflow across page or column boundaries.",
          "type": "boolean"
        }
      },
      "id": "TableRowStyle",
      "type": "object",
      "description": "Styles that apply to a table row."
    },
    "InlineObjectPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "InlineObjectPropertiesSuggestionState",
      "properties": {
        "embeddedObjectSuggestionState": {
          "$ref": "EmbeddedObjectSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion."
        }
      },
      "type": "object"
    },
    "ParagraphStyle": {
      "type": "object",
      "properties": {
        "spaceAbove": {
          "description": "The amount of extra space above the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "namedStyleType": {
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "type": "string",
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "description": "The named style type of the paragraph. Since updating the named style type affects other properties within ParagraphStyle, the named style type is applied before the other properties are updated."
        },
        "keepWithNext": {
          "description": "Whether at least a part of this paragraph should be laid out on the same page or column as the next paragraph if possible. If unset, the value is inherited from the parent.",
          "type": "boolean"
        },
        "spaceBelow": {
          "$ref": "Dimension",
          "description": "The amount of extra space below the paragraph. If unset, the value is inherited from the parent."
        },
        "direction": {
          "description": "The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since paragraph direction is not inherited.",
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ],
          "type": "string",
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ]
        },
        "borderBetween": {
          "description": "The border between this paragraph and the next and previous paragraphs. If unset, the value is inherited from the parent. The between border is rendered when the adjacent paragraph has the same border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "shading": {
          "description": "The shading of the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Shading"
        },
        "indentFirstLine": {
          "$ref": "Dimension",
          "description": "The amount of indentation for the first line of the paragraph. If unset, the value is inherited from the parent."
        },
        "alignment": {
          "description": "The text alignment for this paragraph.",
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END",
            "JUSTIFIED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The paragraph alignment is inherited from the parent.",
            "The paragraph is aligned to the start of the line. Left-aligned for LTR text, right-aligned otherwise.",
            "The paragraph is centered.",
            "The paragraph is aligned to the end of the line. Right-aligned for LTR text, left-aligned otherwise.",
            "The paragraph is justified."
          ]
        },
        "spacingMode": {
          "type": "string",
          "enumDescriptions": [
            "The spacing mode is inherited from the parent.",
            "Paragraph spacing is always rendered.",
            "Paragraph spacing is skipped between list elements."
          ],
          "description": "The spacing mode for the paragraph.",
          "enum": [
            "SPACING_MODE_UNSPECIFIED",
            "NEVER_COLLAPSE",
            "COLLAPSE_LISTS"
          ]
        },
        "keepLinesTogether": {
          "description": "Whether all lines of the paragraph should be laid out on the same page or column if possible. If unset, the value is inherited from the parent.",
          "type": "boolean"
        },
        "borderRight": {
          "$ref": "ParagraphBorder",
          "description": "The border to the right of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "avoidWidowAndOrphan": {
          "type": "boolean",
          "description": "Whether to avoid widows and orphans for the paragraph. If unset, the value is inherited from the parent."
        },
        "borderLeft": {
          "$ref": "ParagraphBorder",
          "description": "The border to the left of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "borderBottom": {
          "description": "The border at the bottom of this paragraph. If unset, the value is inherited from the parent. The bottom border is rendered when the paragraph below has different border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "pageBreakBefore": {
          "type": "boolean",
          "description": "Whether the current paragraph should always start at the beginning of a page. If unset, the value is inherited from the parent. Attempting to update page_break_before for paragraphs in unsupported regions, including Table, Header, Footer and Footnote, can result in an invalid document state that returns a 400 bad request error."
        },
        "headingId": {
          "type": "string",
          "description": "The heading ID of the paragraph. If empty, then this paragraph is not a heading. This property is read-only."
        },
        "lineSpacing": {
          "description": "The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent.",
          "format": "float",
          "type": "number"
        },
        "indentStart": {
          "description": "The amount of indentation for the paragraph on the side that corresponds to the start of the text, based on the current paragraph direction. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "borderTop": {
          "description": "The border at the top of this paragraph. If unset, the value is inherited from the parent. The top border is rendered when the paragraph above has different border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "indentEnd": {
          "description": "The amount of indentation for the paragraph on the side that corresponds to the end of the text, based on the current paragraph direction. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "tabStops": {
          "type": "array",
          "description": "A list of the tab stops for this paragraph. The list of tab stops is not inherited. This property is read-only.",
          "items": {
            "$ref": "TabStop"
          }
        }
      },
      "id": "ParagraphStyle",
      "description": "Styles that apply to a whole paragraph. Inherited paragraph styles are represented as unset fields in this message. A paragraph style's parent depends on where the paragraph style is defined: * The ParagraphStyle on a Paragraph inherits from the paragraph's corresponding named style type. * The ParagraphStyle on a named style inherits from the normal text named style. * The ParagraphStyle of the normal text named style inherits from the default paragraph style in the Docs editor. * The ParagraphStyle on a Paragraph element that's contained in a table may inherit its paragraph style from the table style. If the paragraph style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor."
    },
    "LinkedContentReference": {
      "description": "A reference to the external linked source content.",
      "id": "LinkedContentReference",
      "properties": {
        "sheetsChartReference": {
          "description": "A reference to the linked chart.",
          "$ref": "SheetsChartReference"
        }
      },
      "type": "object"
    },
    "SubstringMatchCriteria": {
      "properties": {
        "searchByRegex": {
          "type": "boolean",
          "description": "Optional. True if the find value should be treated as a regular expression. Any backslashes in the pattern should be escaped. - `True`: the search text is treated as a regular expressions. - `False`: the search text is treated as a substring for matching."
        },
        "text": {
          "description": "The text to search for in the document.",
          "type": "string"
        },
        "matchCase": {
          "description": "Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive.",
          "type": "boolean"
        }
      },
      "description": "A criteria that matches a specific string of text in the document.",
      "type": "object",
      "id": "SubstringMatchCriteria"
    },
    "HeadingLink": {
      "type": "object",
      "id": "HeadingLink",
      "properties": {
        "id": {
          "description": "The ID of a heading in this document.",
          "type": "string"
        },
        "tabId": {
          "description": "The ID of the tab containing this heading.",
          "type": "string"
        }
      },
      "description": "A reference to a heading in this document."
    },
    "AddCommentReplyResponse": {
      "properties": {
        "post": {
          "description": "The newly-inserted reply Post.",
          "$ref": "Post"
        }
      },
      "description": "Response message for adding a reply. [Developer Preview](https://developers.google.com/workspace/preview).",
      "type": "object",
      "id": "AddCommentReplyResponse"
    },
    "SuggestionResponse": {
      "type": "object",
      "id": "SuggestionResponse",
      "properties": {
        "createdSuggestionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of suggestions which were created during the update."
        },
        "deletedSuggestionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IDs of suggestions which were deleted during the update."
        },
        "acceptedSuggestionIds": {
          "type": "array",
          "description": "The IDs of suggestions which were accepted during the update.",
          "items": {
            "type": "string"
          }
        },
        "updatedSummarySuggestionIds": {
          "description": "The IDs of suggestions whose summaries were updated during the update.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "rejectedSuggestionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IDs of suggestions which were rejected during the update."
        }
      },
      "description": "The suggestions which were affected by a given update. [Developer Preview](https://developers.google.com/workspace/preview)."
    },
    "HorizontalRule": {
      "id": "HorizontalRule",
      "description": "A ParagraphElement representing a horizontal line.",
      "properties": {
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this HorizontalRule, keyed by suggestion ID."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this HorizontalRule. Similar to text content, like text runs and footnote references, the text style of a horizontal rule can affect content layout as well as the styling of text inserted next to it."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "TableStyle": {
      "id": "TableStyle",
      "type": "object",
      "properties": {
        "tableColumnProperties": {
          "type": "array",
          "items": {
            "$ref": "TableColumnProperties"
          },
          "description": "The properties of each column. Note that in Docs, tables contain rows and rows contain cells, similar to HTML. So the properties for a row can be found on the row's table_row_style."
        }
      },
      "description": "Styles that apply to a table."
    },
    "TableOfContents": {
      "type": "object",
      "properties": {
        "content": {
          "type": "array",
          "description": "The content of the table of contents.",
          "items": {
            "$ref": "StructuralElement"
          }
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TableOfContents may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A StructuralElement representing a table of contents.",
      "id": "TableOfContents"
    },
    "TableCell": {
      "properties": {
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TableCell may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "tableCellStyle": {
          "description": "The style of the cell.",
          "$ref": "TableCellStyle"
        },
        "content": {
          "description": "The content of the cell.",
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          }
        },
        "suggestedTableCellStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTableCellStyle"
          },
          "description": "The suggested changes to the table cell style, keyed by suggestion ID."
        },
        "startIndex": {
          "description": "The zero-based start index of this cell, in UTF-16 code units.",
          "type": "integer",
          "format": "int32"
        },
        "endIndex": {
          "description": "The zero-based end index of this cell, exclusive, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "TableCell",
      "description": "The contents and style of a cell in a Table.",
      "type": "object"
    },
    "PositionedObject": {
      "id": "PositionedObject",
      "type": "object",
      "description": "An object that's tethered to a Paragraph and positioned relative to the beginning of the paragraph. A PositionedObject contains an EmbeddedObject such as an image.",
      "properties": {
        "suggestedInsertionId": {
          "type": "string",
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion."
        },
        "positionedObjectProperties": {
          "$ref": "PositionedObjectProperties",
          "description": "The properties of this positioned object."
        },
        "suggestedPositionedObjectPropertiesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedPositionedObjectProperties"
          },
          "description": "The suggested changes to the positioned object properties, keyed by suggestion ID.",
          "type": "object"
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        },
        "objectId": {
          "type": "string",
          "description": "The ID of this positioned object."
        }
      }
    },
    "UpdateNamedStyleRequest": {
      "description": "Updates a named style.",
      "id": "UpdateNamedStyleRequest",
      "properties": {
        "namedStyle": {
          "description": "The document style to update.",
          "$ref": "NamedStyle"
        },
        "fields": {
          "type": "string",
          "description": "The NamedStyle fields that should be updated. At least `named_style_type` must be specified. The root `named_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to include `\"text_style\"` and `\"text_style.bold\"`. To update the paragraph style's alignment property, set `fields` to include `\"paragraph_style\"` and `\"paragraph_style.alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset. Specifying `\"text_style\"` or `\"paragraph_style\"` with an empty TextStyle or ParagraphStyle will reset all of its nested fields.",
          "format": "google-fieldmask"
        },
        "tabId": {
          "type": "string",
          "description": "The document tab to update. By default, the update is applied to the first tab."
        }
      },
      "type": "object"
    },
    "LinkedContentReferenceSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base LinkedContentReference have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "LinkedContentReferenceSuggestionState",
      "properties": {
        "sheetsChartReferenceSuggestionState": {
          "description": "A mask that indicates which of the fields in sheets_chart_reference have been changed in this suggestion.",
          "$ref": "SheetsChartReferenceSuggestionState"
        }
      }
    },
    "WeightedFontFamily": {
      "properties": {
        "weight": {
          "type": "integer",
          "description": "The weight of the font. This field can have any value that's a multiple of `100` between `100` and `900`, inclusive. This range corresponds to the numerical values described in the CSS 2.1 Specification, [section 15.6](https://www.w3.org/TR/CSS21/fonts.html#font-boldness), with non-numerical values disallowed. The default value is `400` (\"normal\"). The font weight makes up just one component of the rendered font weight. A combination of the `weight` and the text style's resolved `bold` value determine the rendered weight, after accounting for inheritance: * If the text is bold and the weight is less than `400`, the rendered weight is 400. * If the text is bold and the weight is greater than or equal to `400` but is less than `700`, the rendered weight is `700`. * If the weight is greater than or equal to `700`, the rendered weight is equal to the weight. * If the text is not bold, the rendered weight is equal to the weight.",
          "format": "int32"
        },
        "fontFamily": {
          "description": "The font family of the text. The font family can be any font from the Font menu in Docs or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`.",
          "type": "string"
        }
      },
      "description": "Represents a font family and weight of text.",
      "id": "WeightedFontFamily",
      "type": "object"
    },
    "CreateNamedRangeResponse": {
      "type": "object",
      "properties": {
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the created named range."
        }
      },
      "id": "CreateNamedRangeResponse",
      "description": "The result of creating a named range."
    },
    "BookmarkLink": {
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The ID of the tab containing this bookmark."
        },
        "id": {
          "type": "string",
          "description": "The ID of a bookmark in this document."
        }
      },
      "type": "object",
      "description": "A reference to a bookmark in this document.",
      "id": "BookmarkLink"
    },
    "SuggestedDocumentStyle": {
      "type": "object",
      "description": "A suggested change to the DocumentStyle.",
      "properties": {
        "documentStyleSuggestionState": {
          "$ref": "DocumentStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion."
        },
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "A DocumentStyle that only includes the changes made in this suggestion. This can be used along with the document_style_suggestion_state to see which fields have changed and their new values."
        }
      },
      "id": "SuggestedDocumentStyle"
    },
    "DeleteTableColumnRequest": {
      "type": "object",
      "description": "Deletes a column from a table.",
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which the column will be deleted. The column this cell spans will be deleted. If this is a merged cell that spans multiple columns, all columns that the cell spans will be deleted. If no columns remain in the table after this deletion, the whole table is deleted.",
          "$ref": "TableCellLocation"
        }
      },
      "id": "DeleteTableColumnRequest"
    },
    "InsertPageBreakRequest": {
      "properties": {
        "location": {
          "description": "Inserts the page break at a specific index in the document. The page break must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Page breaks cannot be inserted inside a table, equation, footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "Location"
        },
        "endOfSegmentLocation": {
          "description": "Inserts the page break at the end of the document body. Page breaks cannot be inserted inside a footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        }
      },
      "description": "Inserts a page break followed by a newline at the specified location.",
      "type": "object",
      "id": "InsertPageBreakRequest"
    },
    "ReplaceNamedRangeContentRequest": {
      "type": "object",
      "id": "ReplaceNamedRangeContentRequest",
      "description": "Replaces the contents of the specified NamedRange or NamedRanges with the given replacement content. Note that an individual NamedRange may consist of multiple discontinuous ranges. In this case, only the content in the first range will be replaced. The other ranges and their content will be deleted. In cases where replacing or deleting any ranges would result in an invalid document structure, a 400 bad request error is returned.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Replaces the content of the specified named range(s) with the given text."
        },
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the named range whose content will be replaced. If there is no named range with the given ID a 400 bad request error is returned."
        },
        "tabsCriteria": {
          "$ref": "TabsCriteria",
          "description": "Optional. The criteria used to specify in which tabs the replacement occurs. When omitted, the replacement applies to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the replacement applies to the singular tab. In a document containing multiple tabs: - If provided, the replacement applies to the specified tabs. - If omitted, the replacement applies to all tabs."
        },
        "namedRangeName": {
          "type": "string",
          "description": "The name of the NamedRanges whose content will be replaced. If there are multiple named ranges with the given name, then the content of each one will be replaced. If there are no named ranges with the given name, then the request will be a no-op."
        }
      }
    },
    "TableRowStyleSuggestionState": {
      "properties": {
        "minRowHeightSuggested": {
          "description": "Indicates if there was a suggested change to min_row_height.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "TableRowStyleSuggestionState",
      "type": "object"
    },
    "TextRun": {
      "id": "TextRun",
      "properties": {
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TextRun may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this run, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "textStyle": {
          "description": "The text style of this run.",
          "$ref": "TextStyle"
        },
        "content": {
          "description": "The text of this run. Any non-text elements in the run are replaced with the Unicode character U+E907.",
          "type": "string"
        }
      },
      "description": "A ParagraphElement that represents a run of text that all has the same styling.",
      "type": "object"
    },
    "OptionalColor": {
      "description": "A color that can either be fully opaque or fully transparent.",
      "type": "object",
      "properties": {
        "color": {
          "description": "If set, this will be used as an opaque color. If unset, this represents a transparent color.",
          "$ref": "Color"
        }
      },
      "id": "OptionalColor"
    },
    "DateElementPropertiesSuggestionState": {
      "id": "DateElementPropertiesSuggestionState",
      "properties": {
        "timeZoneIdSuggested": {
          "description": "Indicates if there was a suggested change to time_zone_id.",
          "type": "boolean"
        },
        "localeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to locale."
        },
        "timestampSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to timestamp."
        },
        "dateFormatSuggested": {
          "description": "Indicates if there was a suggested change to date_format.",
          "type": "boolean"
        },
        "timeFormatSuggested": {
          "description": "Indicates if there was a suggested change to time_format.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "Location": {
      "type": "object",
      "description": "A particular location in the document.",
      "id": "Location",
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        },
        "index": {
          "format": "int32",
          "description": "The zero-based index, in UTF-16 code units. The index is relative to the beginning of the segment specified by segment_id.",
          "type": "integer"
        },
        "segmentId": {
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body.",
          "type": "string"
        }
      }
    },
    "ReplaceImageRequest": {
      "id": "ReplaceImageRequest",
      "properties": {
        "tabId": {
          "description": "The tab that the image to be replaced is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "imageObjectId": {
          "type": "string",
          "description": "The ID of the existing image that will be replaced. The ID can be retrieved from the response of a get request."
        },
        "uri": {
          "type": "string",
          "description": "The URI of the new image. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB, cannot exceed 25 megapixels, and must be in PNG, JPEG, or GIF format. The provided URI can't surpass 2 KB in length. The URI is saved with the image, and exposed through the ImageProperties.source_uri field."
        },
        "imageReplaceMethod": {
          "description": "The replacement method.",
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_CROP"
          ],
          "enumDescriptions": [
            "Unspecified image replace method. This value must not be used.",
            "Scales and centers the image to fill the bounds of the original image. The image may be cropped in order to fill the original image's bounds. The rendered size of the image will be the same as the original image."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image in order to mirror the behavior of the Docs editor."
    },
    "InsertTextRequest": {
      "description": "Inserts text at the specified location.",
      "id": "InsertTextRequest",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text to be inserted. Inserting a newline character will implicitly create a new Paragraph at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text style for the inserted text will match the text immediately before the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text."
        },
        "endOfSegmentLocation": {
          "description": "Inserts the text at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the text at a specific index in the document. Text must be inserted inside the bounds of an existing Paragraph. For instance, text cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The text must be inserted in the preceding paragraph."
        }
      }
    },
    "ParagraphBorder": {
      "properties": {
        "padding": {
          "description": "The padding of the border.",
          "$ref": "Dimension"
        },
        "dashStyle": {
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "type": "string",
          "description": "The dash style of the border."
        },
        "width": {
          "$ref": "Dimension",
          "description": "The width of the border."
        },
        "color": {
          "$ref": "OptionalColor",
          "description": "The color of the border."
        }
      },
      "type": "object",
      "id": "ParagraphBorder",
      "description": "A border around a paragraph."
    },
    "Equation": {
      "id": "Equation",
      "properties": {
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested insertion IDs. An Equation may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        }
      },
      "type": "object",
      "description": "A ParagraphElement representing an equation."
    },
    "CreateHeaderRequest": {
      "description": "Creates a Header. The new header is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a header of the specified type already exists, a 400 bad request error is returned.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ],
          "type": "string",
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ],
          "description": "The type of header to create."
        },
        "sectionBreakLocation": {
          "description": "The location of the SectionBreak which begins the section this header should belong to. If `section_break_location' is unset or if it refers to the first section break in the document body, the header applies to the DocumentStyle",
          "$ref": "Location"
        }
      },
      "type": "object",
      "id": "CreateHeaderRequest"
    },
    "DocumentTab": {
      "id": "DocumentTab",
      "description": "A tab with document contents.",
      "type": "object",
      "properties": {
        "headers": {
          "description": "The headers in the document tab, keyed by header ID.",
          "additionalProperties": {
            "$ref": "Header"
          },
          "type": "object"
        },
        "lists": {
          "description": "The lists in the document tab, keyed by list ID.",
          "additionalProperties": {
            "$ref": "List"
          },
          "type": "object"
        },
        "documentStyle": {
          "description": "The style of the document tab.",
          "$ref": "DocumentStyle"
        },
        "commentAnchors": {
          "additionalProperties": {
            "$ref": "CommentAnchor"
          },
          "type": "object",
          "description": "The comment anchors in a document tab, keyed by anchor ID. Only populated if the commentsViewMode parameter is set to require comments (such as `COMMENTS_VIEW_MODE_INCLUDED`). [Developer Preview](https://developers.google.com/workspace/preview)."
        },
        "body": {
          "description": "The main body of the document tab.",
          "$ref": "Body"
        },
        "suggestedNamedStylesChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          },
          "description": "The suggested changes to the named styles of the document tab, keyed by suggestion ID."
        },
        "footers": {
          "description": "The footers in the document tab, keyed by footer ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Footer"
          }
        },
        "positionedObjects": {
          "type": "object",
          "description": "The positioned objects in the document tab, keyed by object ID.",
          "additionalProperties": {
            "$ref": "PositionedObject"
          }
        },
        "footnotes": {
          "additionalProperties": {
            "$ref": "Footnote"
          },
          "type": "object",
          "description": "The footnotes in the document tab, keyed by footnote ID."
        },
        "namedRanges": {
          "description": "The named ranges in the document tab, keyed by name.",
          "type": "object",
          "additionalProperties": {
            "$ref": "NamedRanges"
          }
        },
        "namedStyles": {
          "description": "The named styles of the document tab.",
          "$ref": "NamedStyles"
        },
        "suggestedDocumentStyleChanges": {
          "description": "The suggested changes to the style of the document tab, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          }
        },
        "inlineObjects": {
          "type": "object",
          "additionalProperties": {
            "$ref": "InlineObject"
          },
          "description": "The inline objects in the document tab, keyed by object ID."
        }
      }
    },
    "TableCellStyle": {
      "properties": {
        "backgroundColor": {
          "description": "The background color of the cell.",
          "$ref": "OptionalColor"
        },
        "borderLeft": {
          "description": "The left border of the cell.",
          "$ref": "TableCellBorder"
        },
        "rowSpan": {
          "description": "The row span of the cell. This property is read-only.",
          "type": "integer",
          "format": "int32"
        },
        "borderBottom": {
          "description": "The bottom border of the cell.",
          "$ref": "TableCellBorder"
        },
        "paddingBottom": {
          "description": "The bottom padding of the cell.",
          "$ref": "Dimension"
        },
        "paddingLeft": {
          "description": "The left padding of the cell.",
          "$ref": "Dimension"
        },
        "borderTop": {
          "$ref": "TableCellBorder",
          "description": "The top border of the cell."
        },
        "paddingRight": {
          "description": "The right padding of the cell.",
          "$ref": "Dimension"
        },
        "borderRight": {
          "$ref": "TableCellBorder",
          "description": "The right border of the cell."
        },
        "columnSpan": {
          "description": "The column span of the cell. This property is read-only.",
          "type": "integer",
          "format": "int32"
        },
        "paddingTop": {
          "$ref": "Dimension",
          "description": "The top padding of the cell."
        },
        "contentAlignment": {
          "description": "The alignment of the content in the table cell. The default alignment matches the alignment for newly created table cells in the Docs editor.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified content alignment. The content alignment is inherited from the parent if one exists.",
            "An unsupported content alignment.",
            "An alignment that aligns the content to the top of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 't'.",
            "An alignment that aligns the content to the middle of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'ctr'.",
            "An alignment that aligns the content to the bottom of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'b'."
          ],
          "enum": [
            "CONTENT_ALIGNMENT_UNSPECIFIED",
            "CONTENT_ALIGNMENT_UNSUPPORTED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ]
        }
      },
      "id": "TableCellStyle",
      "description": "The style of a TableCell. Inherited table cell styles are represented as unset fields in this message. A table cell style can inherit from the table's style.",
      "type": "object"
    },
    "DeleteParagraphBulletsRequest": {
      "type": "object",
      "id": "DeleteParagraphBulletsRequest",
      "properties": {
        "range": {
          "description": "The range to delete bullets from.",
          "$ref": "Range"
        }
      },
      "description": "Deletes bullets from all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph."
    },
    "DeleteCommentRequest": {
      "type": "object",
      "id": "DeleteCommentRequest",
      "description": "Deletes a CommentThread. Returns a 400 bad request error if the requesting user is not the author of the headPost. [Developer Preview](https://developers.google.com/workspace/preview).",
      "properties": {
        "commentId": {
          "type": "string",
          "description": "The ID of the CommentThread that is being deleted."
        }
      }
    },
    "CommentThread": {
      "id": "CommentThread",
      "properties": {
        "headPost": {
          "$ref": "Post",
          "description": "The first post in the thread."
        },
        "plainTextQuote": {
          "type": "string",
          "description": "The quoted text from the document when the comment was created, formatted as plain-text."
        },
        "anchorId": {
          "description": "The ID of the CommentAnchor in the document that this thread is tied to. Multiple comment threads may be anchored to the same CommentAnchor.",
          "type": "string"
        },
        "commentId": {
          "description": "The unique ID of the comment thread.",
          "type": "string"
        },
        "replies": {
          "type": "array",
          "description": "Replies to the head post.",
          "items": {
            "$ref": "Post"
          }
        },
        "status": {
          "type": "string",
          "description": "Whether the thread is open or resolved.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The comment thread is open.",
            "The comment thread is resolved."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "OPEN",
            "RESOLVED"
          ]
        }
      },
      "type": "object",
      "description": "Represents a single comment thread. [Developer Preview](https://developers.google.com/workspace/preview)."
    },
    "Tab": {
      "id": "Tab",
      "description": "A tab in a document.",
      "properties": {
        "tabProperties": {
          "$ref": "TabProperties",
          "description": "The properties of the tab, like ID and title."
        },
        "documentTab": {
          "description": "A tab with document contents, like text and images.",
          "$ref": "DocumentTab"
        },
        "childTabs": {
          "description": "The child tabs nested within this tab.",
          "items": {
            "$ref": "Tab"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "InsertTableColumnRequest": {
      "type": "object",
      "id": "InsertTableColumnRequest",
      "description": "Inserts an empty column into a table.",
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which columns will be inserted. A new column will be inserted to the left (or right) of the column where the reference cell is. If the reference cell is a merged cell, a new column will be inserted to the left (or right) of the merged cell.",
          "$ref": "TableCellLocation"
        },
        "insertRight": {
          "type": "boolean",
          "description": "Whether to insert new column to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left."
        }
      }
    },
    "SectionBreak": {
      "type": "object",
      "properties": {
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "sectionStyle": {
          "description": "The style of the section after this section break.",
          "$ref": "SectionStyle"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A SectionBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        }
      },
      "id": "SectionBreak",
      "description": "A StructuralElement representing a section break. A section is a range of content that has the same SectionStyle. A section break represents the start of a new section, and the section style applies to the section after the section break. The document body always begins with a section break."
    },
    "PositionedObjectPositioningSuggestionState": {
      "properties": {
        "leftOffsetSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to left_offset."
        },
        "layoutSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to layout."
        },
        "topOffsetSuggested": {
          "description": "Indicates if there was a suggested change to top_offset.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base PositionedObjectPositioning have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "PositionedObjectPositioningSuggestionState",
      "type": "object"
    },
    "Background": {
      "description": "Represents the background of a document.",
      "properties": {
        "color": {
          "description": "The background color.",
          "$ref": "OptionalColor"
        }
      },
      "type": "object",
      "id": "Background"
    },
    "TableCellLocation": {
      "id": "TableCellLocation",
      "description": "Location of a single cell within a table.",
      "properties": {
[...]
