{
  "discoveryVersion": "v1",
  "basePath": "",
  "batchPath": "batch",
  "mtlsRootUrl": "https://docs.mtls.googleapis.com/",
  "schemas": {
    "DeleteTabRequest": {
      "type": "object",
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The ID of the tab to delete."
        }
      },
      "id": "DeleteTabRequest",
      "description": "Deletes a tab. If the tab has child tabs, they are deleted as well."
    },
    "SheetsChartReferenceSuggestionState": {
      "id": "SheetsChartReferenceSuggestionState",
      "properties": {
        "spreadsheetIdSuggested": {
          "description": "Indicates if there was a suggested change to spreadsheet_id.",
          "type": "boolean"
        },
        "chartIdSuggested": {
          "description": "Indicates if there was a suggested change to chart_id.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base SheetsChartReference have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object"
    },
    "DeletePositionedObjectRequest": {
      "id": "DeletePositionedObjectRequest",
      "description": "Deletes a PositionedObject from the document.",
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The ID of the positioned object to delete.",
          "type": "string"
        },
        "tabId": {
          "type": "string",
          "description": "The tab that the positioned object to delete is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        }
      }
    },
    "ListProperties": {
      "description": "The properties of a list that describe the look and feel of bullets belonging to paragraphs associated with a list.",
      "id": "ListProperties",
      "type": "object",
      "properties": {
        "nestingLevels": {
          "description": "Describes the properties of the bullets at the associated level. A list has at most 9 levels of nesting with nesting level 0 corresponding to the top-most level and nesting level 8 corresponding to the most nested level. The nesting levels are returned in ascending order with the least nested returned first.",
          "type": "array",
          "items": {
            "$ref": "NestingLevel"
          }
        }
      }
    },
    "ParagraphBorder": {
      "description": "A border around a paragraph.",
      "properties": {
        "color": {
          "description": "The color of the border.",
          "$ref": "OptionalColor"
        },
        "padding": {
          "description": "The padding of the border.",
          "$ref": "Dimension"
        },
        "dashStyle": {
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "type": "string",
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "description": "The dash style of the border."
        },
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        }
      },
      "type": "object",
      "id": "ParagraphBorder"
    },
    "SizeSuggestionState": {
      "id": "SizeSuggestionState",
      "properties": {
        "heightSuggested": {
          "description": "Indicates if there was a suggested change to height.",
          "type": "boolean"
        },
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base Size have been changed in this suggestion. For any field set to true, the Size has a new suggested value."
    },
    "DocumentStyleSuggestionState": {
      "id": "DocumentStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "properties": {
        "evenPageFooterIdSuggested": {
          "description": "Indicates if there was a suggested change to even_page_footer_id.",
          "type": "boolean"
        },
        "useEvenPageHeaderFooterSuggested": {
          "description": "Indicates if there was a suggested change to use_even_page_header_footer.",
          "type": "boolean"
        },
        "useFirstPageHeaderFooterSuggested": {
          "description": "Indicates if there was a suggested change to use_first_page_header_footer.",
          "type": "boolean"
        },
        "marginLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_left."
        },
        "marginRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_right."
        },
        "evenPageHeaderIdSuggested": {
          "description": "Indicates if there was a suggested change to even_page_header_id.",
          "type": "boolean"
        },
        "useCustomHeaderFooterMarginsSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to use_custom_header_footer_margins."
        },
        "firstPageHeaderIdSuggested": {
          "description": "Indicates if there was a suggested change to first_page_header_id.",
          "type": "boolean"
        },
        "marginTopSuggested": {
          "description": "Indicates if there was a suggested change to margin_top.",
          "type": "boolean"
        },
        "pageNumberStartSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to page_number_start."
        },
        "defaultFooterIdSuggested": {
          "description": "Indicates if there was a suggested change to default_footer_id.",
          "type": "boolean"
        },
        "marginFooterSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_footer."
        },
        "flipPageOrientationSuggested": {
          "description": "Optional. Indicates if there was a suggested change to flip_page_orientation.",
          "type": "boolean"
        },
        "backgroundSuggestionState": {
          "$ref": "BackgroundSuggestionState",
          "description": "A mask that indicates which of the fields in background have been changed in this suggestion."
        },
        "pageSizeSuggestionState": {
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion.",
          "$ref": "SizeSuggestionState"
        },
        "marginBottomSuggested": {
          "description": "Indicates if there was a suggested change to margin_bottom.",
          "type": "boolean"
        },
        "defaultHeaderIdSuggested": {
          "description": "Indicates if there was a suggested change to default_header_id.",
          "type": "boolean"
        },
        "firstPageFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to first_page_footer_id."
        },
        "marginHeaderSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_header."
        }
      }
    },
    "CreateFooterResponse": {
      "id": "CreateFooterResponse",
      "type": "object",
      "properties": {
        "footerId": {
          "type": "string",
          "description": "The ID of the created footer."
        }
      },
      "description": "The result of creating a footer."
    },
    "CreateFooterRequest": {
      "properties": {
        "sectionBreakLocation": {
          "$ref": "Location",
          "description": "The location of the SectionBreak immediately preceding the section whose SectionStyle this footer should belong to. If this is unset or refers to the first section break in the document, the footer applies to the document style."
        },
        "type": {
          "type": "string",
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ],
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ],
          "description": "The type of footer to create."
        }
      },
      "type": "object",
      "id": "CreateFooterRequest",
      "description": "Creates a Footer. The new footer is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a footer of the specified type already exists, a 400 bad request error is returned."
    },
    "AddDocumentTabResponse": {
      "id": "AddDocumentTabResponse",
      "description": "The result of adding a document tab.",
      "properties": {
        "tabProperties": {
          "$ref": "TabProperties",
          "description": "The properties of the newly added tab."
        }
      },
      "type": "object"
    },
    "InsertPageBreakRequest": {
      "description": "Inserts a page break followed by a newline at the specified location.",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the page break at the end of the document body. Page breaks cannot be inserted inside a footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "description": "Inserts the page break at a specific index in the document. The page break must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Page breaks cannot be inserted inside a table, equation, footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "Location"
        }
      },
      "id": "InsertPageBreakRequest",
      "type": "object"
    },
    "SuggestedTableCellStyle": {
      "id": "SuggestedTableCellStyle",
      "type": "object",
      "properties": {
        "tableCellStyle": {
          "description": "A TableCellStyle that only includes the changes made in this suggestion. This can be used along with the table_cell_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "TableCellStyle"
        },
        "tableCellStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion.",
          "$ref": "TableCellStyleSuggestionState"
        }
      },
      "description": "A suggested change to a TableCellStyle."
    },
    "ReplaceAllTextRequest": {
      "description": "Replaces all instances of text matching a criteria with replace text.",
      "properties": {
        "tabsCriteria": {
          "description": "Optional. The criteria used to specify in which tabs the replacement occurs. When omitted, the replacement applies to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the replacement applies to the singular tab. In a document containing multiple tabs: - If provided, the replacement applies to the specified tabs. - If omitted, the replacement applies to all tabs.",
          "$ref": "TabsCriteria"
        },
        "replaceText": {
          "description": "The text that will replace the matched text.",
          "type": "string"
        },
        "containsText": {
          "$ref": "SubstringMatchCriteria",
          "description": "Finds text in the document matching this substring."
        }
      },
      "type": "object",
      "id": "ReplaceAllTextRequest"
    },
    "UnmergeTableCellsRequest": {
      "properties": {
        "tableRange": {
          "description": "The table range specifying which cells of the table to unmerge. All merged cells in this range will be unmerged, and cells that are already unmerged will not be affected. If the range has no merged cells, the request will do nothing. If there is text in any of the merged cells, the text will remain in the \"head\" cell of the resulting block of unmerged cells. The \"head\" cell is the upper-left cell when the content direction is from left to right, and the upper-right otherwise.",
          "$ref": "TableRange"
        }
      },
      "type": "object",
      "description": "Unmerges cells in a Table.",
      "id": "UnmergeTableCellsRequest"
    },
    "Paragraph": {
      "type": "object",
      "properties": {
        "suggestedParagraphStyleChanges": {
          "description": "The suggested paragraph style changes to this paragraph, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedParagraphStyle"
          }
        },
        "elements": {
          "items": {
            "$ref": "ParagraphElement"
          },
          "type": "array",
          "description": "The content of the paragraph, broken down into its component parts."
        },
        "bullet": {
          "description": "The bullet for this paragraph. If not present, the paragraph does not belong to a list.",
          "$ref": "Bullet"
        },
        "suggestedBulletChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedBullet"
          },
          "description": "The suggested changes to this paragraph's bullet."
        },
        "suggestedPositionedObjectIds": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ObjectReferences"
          },
          "description": "The IDs of the positioned objects suggested to be attached to this paragraph, keyed by suggestion ID."
        },
        "paragraphStyle": {
          "description": "The style of this paragraph.",
          "$ref": "ParagraphStyle"
        },
        "positionedObjectIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of the positioned objects tethered to this paragraph."
        }
      },
      "description": "A StructuralElement representing a paragraph. A paragraph is a range of content that's terminated with a newline character.",
      "id": "Paragraph"
    },
    "NamedStyle": {
      "type": "object",
      "id": "NamedStyle",
      "properties": {
        "paragraphStyle": {
          "description": "The paragraph style of this named style.",
          "$ref": "ParagraphStyle"
        },
        "namedStyleType": {
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "description": "The type of this named style.",
          "type": "string",
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ]
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this named style."
        }
      },
      "description": "A named style. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from this named style when they have the same named style type."
    },
    "NamedStyleSuggestionState": {
      "properties": {
        "paragraphStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in paragraph style have been changed in this suggestion.",
          "$ref": "ParagraphStyleSuggestionState"
        },
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion.",
          "$ref": "TextStyleSuggestionState"
        },
        "namedStyleType": {
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "description": "The named style type that this suggestion state corresponds to. This field is provided as a convenience for matching the NamedStyleSuggestionState with its corresponding NamedStyle.",
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "type": "string"
        }
      },
      "id": "NamedStyleSuggestionState",
      "type": "object",
      "description": "A suggestion state of a NamedStyle message."
    },
    "InsertInlineImageResponse": {
      "id": "InsertInlineImageResponse",
      "description": "The result of inserting an inline image.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the created InlineObject."
        }
      },
      "type": "object"
    },
    "ParagraphStyle": {
      "description": "Styles that apply to a whole paragraph. Inherited paragraph styles are represented as unset fields in this message. A paragraph style's parent depends on where the paragraph style is defined: * The ParagraphStyle on a Paragraph inherits from the paragraph's corresponding named style type. * The ParagraphStyle on a named style inherits from the normal text named style. * The ParagraphStyle of the normal text named style inherits from the default paragraph style in the Docs editor. * The ParagraphStyle on a Paragraph element that's contained in a table may inherit its paragraph style from the table style. If the paragraph style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor.",
      "type": "object",
      "properties": {
        "keepLinesTogether": {
          "description": "Whether all lines of the paragraph should be laid out on the same page or column if possible. If unset, the value is inherited from the parent.",
          "type": "boolean"
        },
        "borderBetween": {
          "description": "The border between this paragraph and the next and previous paragraphs. If unset, the value is inherited from the parent. The between border is rendered when the adjacent paragraph has the same border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "indentFirstLine": {
          "$ref": "Dimension",
          "description": "The amount of indentation for the first line of the paragraph. If unset, the value is inherited from the parent."
        },
        "spaceAbove": {
          "description": "The amount of extra space above the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "avoidWidowAndOrphan": {
          "description": "Whether to avoid widows and orphans for the paragraph. If unset, the value is inherited from the parent.",
          "type": "boolean"
        },
        "alignment": {
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END",
            "JUSTIFIED"
          ],
          "description": "The text alignment for this paragraph.",
          "type": "string",
          "enumDescriptions": [
            "The paragraph alignment is inherited from the parent.",
            "The paragraph is aligned to the start of the line. Left-aligned for LTR text, right-aligned otherwise.",
            "The paragraph is centered.",
            "The paragraph is aligned to the end of the line. Right-aligned for LTR text, left-aligned otherwise.",
            "The paragraph is justified."
          ]
        },
        "lineSpacing": {
          "format": "float",
          "type": "number",
          "description": "The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent."
        },
        "borderRight": {
          "$ref": "ParagraphBorder",
          "description": "The border to the right of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "spacingMode": {
          "enumDescriptions": [
            "The spacing mode is inherited from the parent.",
            "Paragraph spacing is always rendered.",
            "Paragraph spacing is skipped between list elements."
          ],
          "enum": [
            "SPACING_MODE_UNSPECIFIED",
            "NEVER_COLLAPSE",
            "COLLAPSE_LISTS"
          ],
          "description": "The spacing mode for the paragraph.",
          "type": "string"
        },
        "borderLeft": {
          "description": "The border to the left of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "borderBottom": {
          "description": "The border at the bottom of this paragraph. If unset, the value is inherited from the parent. The bottom border is rendered when the paragraph below has different border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "spaceBelow": {
          "description": "The amount of extra space below the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "headingId": {
          "type": "string",
          "description": "The heading ID of the paragraph. If empty, then this paragraph is not a heading. This property is read-only."
        },
        "tabStops": {
          "items": {
            "$ref": "TabStop"
          },
          "type": "array",
          "description": "A list of the tab stops for this paragraph. The list of tab stops is not inherited. This property is read-only."
        },
        "direction": {
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ],
          "type": "string",
          "description": "The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since paragraph direction is not inherited.",
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ]
        },
        "indentEnd": {
          "description": "The amount of indentation for the paragraph on the side that corresponds to the end of the text, based on the current paragraph direction. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "namedStyleType": {
          "type": "string",
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "description": "The named style type of the paragraph. Since updating the named style type affects other properties within ParagraphStyle, the named style type is applied before the other properties are updated.",
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ]
        },
        "indentStart": {
          "description": "The amount of indentation for the paragraph on the side that corresponds to the start of the text, based on the current paragraph direction. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "pageBreakBefore": {
          "description": "Whether the current paragraph should always start at the beginning of a page. If unset, the value is inherited from the parent. Attempting to update page_break_before for paragraphs in unsupported regions, including Table, Header, Footer and Footnote, can result in an invalid document state that returns a 400 bad request error.",
          "type": "boolean"
        },
        "keepWithNext": {
          "description": "Whether at least a part of this paragraph should be laid out on the same page or column as the next paragraph if possible. If unset, the value is inherited from the parent.",
          "type": "boolean"
        },
        "borderTop": {
          "$ref": "ParagraphBorder",
          "description": "The border at the top of this paragraph. If unset, the value is inherited from the parent. The top border is rendered when the paragraph above has different border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "shading": {
          "$ref": "Shading",
          "description": "The shading of the paragraph. If unset, the value is inherited from the parent."
        }
      },
      "id": "ParagraphStyle"
    },
    "WeightedFontFamily": {
      "description": "Represents a font family and weight of text.",
      "type": "object",
      "properties": {
        "weight": {
          "format": "int32",
          "type": "integer",
          "description": "The weight of the font. This field can have any value that's a multiple of `100` between `100` and `900`, inclusive. This range corresponds to the numerical values described in the CSS 2.1 Specification, [section 15.6](https://www.w3.org/TR/CSS21/fonts.html#font-boldness), with non-numerical values disallowed. The default value is `400` (\"normal\"). The font weight makes up just one component of the rendered font weight. A combination of the `weight` and the text style's resolved `bold` value determine the rendered weight, after accounting for inheritance: * If the text is bold and the weight is less than `400`, the rendered weight is 400. * If the text is bold and the weight is greater than or equal to `400` but is less than `700`, the rendered weight is `700`. * If the weight is greater than or equal to `700`, the rendered weight is equal to the weight. * If the text is not bold, the rendered weight is equal to the weight."
        },
        "fontFamily": {
          "description": "The font family of the text. The font family can be any font from the Font menu in Docs or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`.",
          "type": "string"
        }
      },
      "id": "WeightedFontFamily"
    },
    "InlineObjectElement": {
      "properties": {
        "inlineObjectId": {
          "description": "The ID of the InlineObject this element contains.",
          "type": "string"
        },
        "textStyle": {
          "description": "The text style of this InlineObjectElement. Similar to text content, like text runs and footnote references, the text style of an inline object element can affect content layout as well as the styling of text inserted next to it.",
          "$ref": "TextStyle"
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this InlineObject, keyed by suggestion ID."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. An InlineObjectElement may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        }
      },
      "type": "object",
      "id": "InlineObjectElement",
      "description": "A ParagraphElement that contains an InlineObject."
    },
    "Document": {
      "properties": {
        "namedStyles": {
          "description": "Output only. The named styles of the document. Legacy field: Instead, use Document.tabs.documentTab.namedStyles, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "NamedStyles"
        },
        "footnotes": {
          "type": "object",
          "description": "Output only. The footnotes in the document, keyed by footnote ID. Legacy field: Instead, use Document.tabs.documentTab.footnotes, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "Footnote"
          }
        },
        "suggestions": {
          "items": {
            "$ref": "SuggestionThread"
          },
          "description": "Output only. The suggestions associated with the document. Only populated if the commentsViewMode parameter is set to require comments (such as `COMMENTS_VIEW_MODE_INCLUDED`).",
          "type": "array"
        },
        "suggestedNamedStylesChanges": {
          "type": "object",
          "description": "Output only. The suggested changes to the named styles of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedNamedStylesChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          }
        },
        "inlineObjects": {
          "additionalProperties": {
            "$ref": "InlineObject"
          },
          "description": "Output only. The inline objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.inlineObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object"
        },
        "tabs": {
          "type": "array",
          "items": {
            "$ref": "Tab"
          },
          "description": "Output only. Tabs that are part of a document. Tabs can contain child tabs, a tab nested within another tab. Child tabs are represented by the Tab.childTabs field."
        },
        "suggestedDocumentStyleChanges": {
          "type": "object",
          "description": "Output only. The suggested changes to the style of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedDocumentStyleChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          }
        },
        "documentId": {
          "description": "Output only. The ID of the document.",
          "type": "string"
        },
        "namedRanges": {
          "additionalProperties": {
            "$ref": "NamedRanges"
          },
          "type": "object",
          "description": "Output only. The named ranges in the document, keyed by name. Legacy field: Instead, use Document.tabs.documentTab.namedRanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "headers": {
          "additionalProperties": {
            "$ref": "Header"
          },
          "type": "object",
          "description": "Output only. The headers in the document, keyed by header ID. Legacy field: Instead, use Document.tabs.documentTab.headers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "positionedObjects": {
          "additionalProperties": {
            "$ref": "PositionedObject"
          },
          "description": "Output only. The positioned objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.positionedObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object"
        },
        "footers": {
          "type": "object",
          "description": "Output only. The footers in the document, keyed by footer ID. Legacy field: Instead, use Document.tabs.documentTab.footers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "Footer"
          }
        },
        "lists": {
          "description": "Output only. The lists in the document, keyed by list ID. Legacy field: Instead, use Document.tabs.documentTab.lists, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object",
          "additionalProperties": {
            "$ref": "List"
          }
        },
        "comments": {
          "type": "array",
          "items": {
            "$ref": "CommentThread"
          },
          "description": "Output only. The comments associated with the document. Only populated if the commentsViewMode parameter is set to require comments (such as `COMMENTS_VIEW_MODE_INCLUDED`)."
        },
        "title": {
          "type": "string",
          "description": "The title of the document."
        },
        "body": {
          "description": "Output only. The main body of the document. Legacy field: Instead, use Document.tabs.documentTab.body, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "Body"
        },
        "commentsViewMode": {
          "description": "Output only. The comments view mode applied to the document.",
          "enumDescriptions": [
            "The CommentsViewMode is unspecified. COMMENTS_VIEW_MODE_OMITTED is applied.",
            "The CommentsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, COMMENTS_VIEW_MODE_OMITTED is applied. Otherwise, COMMENTS_VIEW_MODE_INCLUDED is applied.",
            "The returned document has comments omitted.",
            "The returned document has comments included. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view comments. When set, suggestions_view_mode must also be set to SUGGESTIONS_INLINE. Returns a 400 bad request error otherwise."
          ],
          "enum": [
            "COMMENTS_VIEW_MODE_UNSPECIFIED",
            "COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS",
            "COMMENTS_VIEW_MODE_OMITTED",
            "COMMENTS_VIEW_MODE_INCLUDED"
          ],
          "type": "string"
        },
        "suggestionsViewMode": {
          "enumDescriptions": [
            "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
            "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
          ],
          "enum": [
            "DEFAULT_FOR_CURRENT_ACCESS",
            "SUGGESTIONS_INLINE",
            "PREVIEW_SUGGESTIONS_ACCEPTED",
            "PREVIEW_WITHOUT_SUGGESTIONS"
          ],
          "type": "string",
          "description": "Output only. The suggestions view mode applied to the document. Note: When editing a document, changes must be based on a document with SUGGESTIONS_INLINE."
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. The revision ID of the document. Can be used in update requests to specify which revision of a document to apply updates to and how the request should behave if the document has been edited since that revision. Only populated if the user has edit access to the document. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the document has not changed. Conversely, a changed ID (for the same document and user) usually means the document has been updated. However, a changed ID can also be due to internal factors such as ID format changes."
        },
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "Output only. The style of the document. Legacy field: Instead, use Document.tabs.documentTab.documentStyle, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        }
      },
      "description": "A Google Docs document.",
      "id": "Document",
      "type": "object"
    },
    "TableRow": {
      "description": "The contents and style of a row in a Table.",
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tableCells": {
          "description": "The contents and style of each cell in this row. It's possible for a table to be non-rectangular, so some rows may have a different number of cells than other rows in the same table.",
          "type": "array",
          "items": {
            "$ref": "TableCell"
          }
        },
        "suggestedTableRowStyleChanges": {
          "type": "object",
          "description": "The suggested style changes to this row, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTableRowStyle"
          }
        },
        "tableRowStyle": {
          "$ref": "TableRowStyle",
          "description": "The style of the table row."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TableRow may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "endIndex": {
          "description": "The zero-based end index of this row, exclusive, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "description": "The zero-based start index of this row, in UTF-16 code units.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "TableRow",
      "type": "object"
    },
    "TableCellBorder": {
      "description": "A border around a table cell. Table cell borders cannot be transparent. To hide a table cell border, make its width 0.",
      "id": "TableCellBorder",
      "type": "object",
      "properties": {
        "width": {
          "$ref": "Dimension",
          "description": "The width of the border."
        },
        "color": {
          "description": "The color of the border. This color cannot be transparent.",
          "$ref": "OptionalColor"
        },
        "dashStyle": {
          "description": "The dash style of the border.",
          "type": "string",
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ]
        }
      }
    },
    "InsertTableRequest": {
      "description": "Inserts a table at the specified location. A newline character will be inserted before the inserted table.",
      "type": "object",
      "id": "InsertTableRequest",
      "properties": {
        "location": {
          "$ref": "Location",
          "description": "Inserts the table at a specific model index. A newline character will be inserted before the inserted table, therefore the table start index will be at the specified location index + 1. The table must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph). Tables cannot be inserted inside a footnote or equation."
        },
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the table at the end of the given header, footer or document body. A newline character will be inserted before the inserted table. Tables cannot be inserted inside a footnote."
        },
        "rows": {
          "type": "integer",
          "format": "int32",
          "description": "The number of rows in the table."
        },
        "columns": {
          "description": "The number of columns in the table.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ListPropertiesSuggestionState": {
      "id": "ListPropertiesSuggestionState",
      "type": "object",
      "properties": {
        "nestingLevelsSuggestionStates": {
          "description": "A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first.",
          "items": {
            "$ref": "NestingLevelSuggestionState"
          },
          "type": "array"
        }
      },
      "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "CreateDropdownDefinitionResponse": {
      "type": "object",
      "id": "CreateDropdownDefinitionResponse",
      "description": "Response message for creating a dropdown definition.",
      "properties": {
        "dropdownDefinition": {
          "$ref": "DropdownDefinition",
          "description": "The newly-created DropdownDefinition."
        }
      }
    },
    "ReplaceNamedRangeContentRequest": {
      "properties": {
        "tabsCriteria": {
          "description": "Optional. The criteria used to specify in which tabs the replacement occurs. When omitted, the replacement applies to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the replacement applies to the singular tab. In a document containing multiple tabs: - If provided, the replacement applies to the specified tabs. - If omitted, the replacement applies to all tabs.",
          "$ref": "TabsCriteria"
        },
        "namedRangeName": {
          "description": "The name of the NamedRanges whose content will be replaced. If there are multiple named ranges with the given name, then the content of each one will be replaced. If there are no named ranges with the given name, then the request will be a no-op.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Replaces the content of the specified named range(s) with the given text."
        },
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the named range whose content will be replaced. If there is no named range with the given ID a 400 bad request error is returned."
        }
      },
      "id": "ReplaceNamedRangeContentRequest",
      "description": "Replaces the contents of the specified NamedRange or NamedRanges with the given replacement content. Note that an individual NamedRange may consist of multiple discontinuous ranges. In this case, only the content in the first range will be replaced. The other ranges and their content will be deleted. In cases where replacing or deleting any ranges would result in an invalid document structure, a 400 bad request error is returned.",
      "type": "object"
    },
    "InsertCommentResponse": {
      "properties": {
        "commentThread": {
          "$ref": "CommentThread",
          "description": "The newly-inserted comment thread."
        }
      },
      "description": "Response message for inserting a comment.",
      "id": "InsertCommentResponse",
      "type": "object"
    },
    "ReplaceImageRequest": {
      "type": "object",
      "description": "Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image in order to mirror the behavior of the Docs editor.",
      "properties": {
        "imageReplaceMethod": {
          "description": "The replacement method.",
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_CROP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified image replace method. This value must not be used.",
            "Scales and centers the image to fill the bounds of the original image. The image may be cropped in order to fill the original image's bounds. The rendered size of the image will be the same as the original image."
          ]
        },
        "tabId": {
          "description": "The tab that the image to be replaced is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "imageObjectId": {
          "description": "The ID of the existing image that will be replaced. The ID can be retrieved from the response of a get request.",
          "type": "string"
        },
        "uri": {
          "description": "The URI of the new image. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB, cannot exceed 25 megapixels, and must be in PNG, JPEG, or GIF format. The provided URI can't surpass 2 KB in length. The URI is saved with the image, and exposed through the ImageProperties.source_uri field.",
          "type": "string"
        }
      },
      "id": "ReplaceImageRequest"
    },
    "RgbColor": {
      "type": "object",
      "description": "An RGB color.",
      "properties": {
        "blue": {
          "description": "The blue component of the color, from 0.0 to 1.0.",
          "format": "float",
          "type": "number"
        },
        "green": {
          "description": "The green component of the color, from 0.0 to 1.0.",
          "type": "number",
          "format": "float"
        },
        "red": {
          "type": "number",
          "format": "float",
          "description": "The red component of the color, from 0.0 to 1.0."
        }
      },
      "id": "RgbColor"
    },
    "NamedRange": {
      "type": "object",
      "id": "NamedRange",
      "properties": {
        "name": {
          "description": "The name of the named range.",
          "type": "string"
        },
        "ranges": {
          "description": "The ranges that belong to this named range.",
          "items": {
            "$ref": "Range"
          },
          "type": "array"
        },
        "namedRangeId": {
          "description": "The ID of the named range.",
          "type": "string"
        }
      },
      "description": "A collection of Ranges with the same named range ID. Named ranges allow developers to associate parts of a document with an arbitrary user-defined label so their contents can be programmatically read or edited later. A document can contain multiple named ranges with the same name, but every named range has a unique ID. A named range is created with a single Range, and content inserted inside a named range generally expands that range. However, certain document changes can cause the range to be split into multiple ranges. Named ranges are not private. All applications and collaborators that have access to the document can see its named ranges."
    },
    "Body": {
      "description": "The document body. The body typically contains the full document contents except for headers, footers, and footnotes.",
      "properties": {
        "content": {
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The contents of the body. The indexes for the body's content begin at zero."
        }
      },
      "id": "Body",
      "type": "object"
    },
    "BookmarkLink": {
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The ID of the tab containing this bookmark."
        },
        "id": {
          "type": "string",
          "description": "The ID of a bookmark in this document."
        }
      },
      "description": "A reference to a bookmark in this document.",
      "id": "BookmarkLink",
      "type": "object"
    },
    "DeleteDropdownDefinitionRequest": {
      "id": "DeleteDropdownDefinitionRequest",
      "type": "object",
      "description": "Deletes a DropdownDefinition. If the dropdown definition is referenced by any dropdown instances (chips) in the document, a 400 bad request error is returned.",
      "properties": {
        "dropdownDefinitionId": {
          "type": "string",
          "description": "The ID of the DropdownDefinition to delete."
        },
        "tabId": {
          "description": "The ID of the tab that contains the dropdown definition to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        }
      }
    },
    "InsertDropdownRequest": {
      "description": "Inserts a Dropdown at the specified location.",
      "id": "InsertDropdownRequest",
      "type": "object",
      "properties": {
        "location": {
          "description": "The Location in the document to insert the dropdown at.",
          "$ref": "Location"
        },
        "endOfSegmentLocation": {
          "description": "The EndOfSegmentLocation in the document to insert the dropdown at.",
          "$ref": "EndOfSegmentLocation"
        },
        "selectedOptionId": {
          "description": "Optional initial value for the dropdown. If this field is not specified, the new dropdown will default to selecting the first option defined in the dropdown definition. If this field is specified but does not reference a valid option in the dropdown definition, a 400 bad request error is returned.",
          "type": "string"
        },
        "dropdownDefinitionId": {
          "description": "Required. The DropdownDefinition ID.",
          "type": "string"
        }
      }
    },
    "CommentThread": {
      "id": "CommentThread",
      "type": "object",
      "properties": {
        "anchorId": {
          "description": "The ID of the CommentAnchor in the document that this thread is tied to. Multiple comment threads may be anchored to the same CommentAnchor.",
          "type": "string"
        },
        "replies": {
          "description": "Replies to the head post.",
          "items": {
            "$ref": "Post"
          },
          "type": "array"
        },
        "headPost": {
          "description": "The first post in the thread.",
          "$ref": "Post"
        },
        "plainTextQuote": {
          "description": "The quoted text from the document when the comment was created, formatted as plain-text.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Whether the thread is open or resolved.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The comment thread is open.",
            "The comment thread is resolved."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "OPEN",
            "RESOLVED"
          ]
        },
        "commentId": {
          "type": "string",
          "description": "The unique ID of the comment thread."
        }
      },
      "description": "Represents a single comment thread."
    },
    "TableCellStyleSuggestionState": {
      "type": "object",
      "properties": {
        "columnSpanSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to column_span."
        },
        "paddingLeftSuggested": {
          "description": "Indicates if there was a suggested change to padding_left.",
          "type": "boolean"
        },
        "borderTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_top."
        },
        "paddingTopSuggested": {
          "description": "Indicates if there was a suggested change to padding_top.",
          "type": "boolean"
        },
        "paddingBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to padding_bottom."
        },
        "rowSpanSuggested": {
          "description": "Indicates if there was a suggested change to row_span.",
          "type": "boolean"
        },
        "paddingRightSuggested": {
          "description": "Indicates if there was a suggested change to padding_right.",
          "type": "boolean"
        },
        "contentAlignmentSuggested": {
          "description": "Indicates if there was a suggested change to content_alignment.",
          "type": "boolean"
        },
        "borderLeftSuggested": {
          "description": "Indicates if there was a suggested change to border_left.",
          "type": "boolean"
        },
        "borderRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_right."
        },
        "backgroundColorSuggested": {
          "description": "Indicates if there was a suggested change to background_color.",
          "type": "boolean"
        },
        "borderBottomSuggested": {
          "description": "Indicates if there was a suggested change to border_bottom.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "TableCellStyleSuggestionState"
    },
    "TableStyle": {
      "id": "TableStyle",
      "description": "Styles that apply to a table.",
      "properties": {
        "tableColumnProperties": {
          "type": "array",
          "description": "The properties of each column. Note that in Docs, tables contain rows and rows contain cells, similar to HTML. So the properties for a row can be found on the row's table_row_style.",
          "items": {
            "$ref": "TableColumnProperties"
          }
        }
      },
      "type": "object"
    },
    "EmbeddedObjectBorder": {
      "description": "A border around an EmbeddedObject.",
      "id": "EmbeddedObjectBorder",
      "properties": {
        "propertyState": {
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered in the document. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered in the document."
          ],
          "description": "The property state of the border property.",
          "type": "string",
          "enum": [
            "RENDERED",
            "NOT_RENDERED"
          ]
        },
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        },
        "dashStyle": {
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "description": "The dash style of the border.",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "type": "string"
        },
        "color": {
          "$ref": "OptionalColor",
          "description": "The color of the border."
        }
      },
      "type": "object"
    },
    "DeleteContentRangeRequest": {
      "type": "object",
      "id": "DeleteContentRangeRequest",
      "properties": {
        "range": {
          "$ref": "Range",
          "description": "The range of content to delete. Deleting text that crosses a paragraph boundary may result in changes to paragraph styles, lists, positioned objects and bookmarks as the two paragraphs are merged. Attempting to delete certain ranges can result in an invalid document structure in which case a 400 bad request error is returned. Some examples of invalid delete requests include: * Deleting one code unit of a surrogate pair. * Deleting the last newline character of a Body, Header, Footer, Footnote, TableCell or TableOfContents. * Deleting the start or end of a Table, TableOfContents or Equation without deleting the entire element. * Deleting the newline character before a Table, TableOfContents or SectionBreak without deleting the element. * Deleting individual rows or cells of a table. Deleting the content within a table cell is allowed."
        }
      },
      "description": "Deletes content from the document."
    },
    "PageBreak": {
      "type": "object",
      "properties": {
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. A PageBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this PageBreak. Similar to text content, like text runs and footnote references, the text style of a page break can affect content layout as well as the styling of text inserted next to it."
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object",
          "description": "The suggested text style changes to this PageBreak, keyed by suggestion ID."
        }
      },
      "id": "PageBreak",
      "description": "A ParagraphElement representing a page break. A page break makes the subsequent text start at the top of the next page."
    },
    "InsertRichLinkRequest": {
      "id": "InsertRichLinkRequest",
      "type": "object",
      "description": "Inserts a RichLink at the specified location.",
      "properties": {
        "location": {
          "$ref": "Location",
          "description": "Inserts the rich link at a specific index in the document. The rich link must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The rich link cannot be inserted inside an equation."
        },
        "richLinkProperties": {
          "$ref": "RichLinkProperties",
          "description": "The properties of the rich link to insert."
        },
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the rich link at the end of a header, footer, footnote or the document body."
        }
      }
    },
    "Tab": {
      "description": "A tab in a document.",
      "id": "Tab",
      "properties": {
        "childTabs": {
          "type": "array",
          "description": "The child tabs nested within this tab.",
          "items": {
            "$ref": "Tab"
          }
        },
        "tabProperties": {
          "description": "The properties of the tab, like ID and title.",
          "$ref": "TabProperties"
        },
        "documentTab": {
          "$ref": "DocumentTab",
          "description": "A tab with document contents, like text and images."
        }
      },
      "type": "object"
    },
    "Location": {
      "type": "object",
      "description": "A particular location in the document.",
      "properties": {
        "tabId": {
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "segmentId": {
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body.",
          "type": "string"
        },
        "index": {
          "type": "integer",
          "description": "The zero-based index, in UTF-16 code units. The index is relative to the beginning of the segment specified by segment_id.",
          "format": "int32"
        }
      },
      "id": "Location"
    },
    "PersonProperties": {
      "properties": {
        "email": {
          "description": "The email address linked to this Person. This field is always present.",
          "type": "string"
        },
        "name": {
          "description": "The name of the person if it's displayed in the link text instead of the person's email address.",
          "type": "string"
        }
      },
      "id": "PersonProperties",
      "description": "Properties specific to a linked Person.",
      "type": "object"
    },
    "DropdownDefinitionPropertiesSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base DropdownDefinitionProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "DropdownDefinitionPropertiesSuggestionState",
      "properties": {
        "titleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to title."
        },
        "optionsSuggested": {
          "description": "Indicates if there was a suggested change to options.",
          "type": "boolean"
        }
      }
    },
    "ImageProperties": {
      "type": "object",
      "properties": {
        "cropProperties": {
          "$ref": "CropProperties",
          "description": "The crop properties of the image."
        },
        "sourceUri": {
          "type": "string",
          "description": "The source URI is the URI used to insert the image. The source URI can be empty."
        },
        "transparency": {
          "description": "The transparency effect of the image. The value should be in the interval [0.0, 1.0], where 0 means no effect and 1 means transparent.",
          "type": "number",
          "format": "float"
        },
        "contrast": {
          "format": "float",
          "type": "number",
          "description": "The contrast effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect."
        },
        "brightness": {
          "description": "The brightness effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect.",
          "type": "number",
          "format": "float"
        },
        "contentUri": {
          "type": "string",
          "description": "A URI to the image with a default lifetime of 30 minutes. This URI is tagged with the account of the requester. Anyone with the URI effectively accesses the image as the original requester. Access to the image may be lost if the document's sharing settings change."
        },
        "angle": {
          "type": "number",
          "description": "The clockwise rotation angle of the image, in radians.",
          "format": "float"
        }
      },
      "description": "The properties of an image.",
      "id": "ImageProperties"
    },
    "SuggestionResponse": {
      "id": "SuggestionResponse",
      "description": "The suggestions which were affected by a given update.",
      "type": "object",
      "properties": {
        "createdSuggestionIds": {
          "description": "The IDs of suggestions which were created during the update.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deletedSuggestionIds": {
          "description": "The IDs of suggestions which were deleted during the update.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "rejectedSuggestionIds": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of suggestions which were rejected during the update.",
          "type": "array"
        },
        "updatedSummarySuggestionIds": {
          "description": "The IDs of suggestions whose summaries were updated during the update.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "acceptedSuggestionIds": {
          "type": "array",
          "description": "The IDs of suggestions which were accepted during the update.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Person": {
      "type": "object",
      "properties": {
        "personProperties": {
          "$ref": "PersonProperties",
          "readOnly": true,
          "description": "Output only. The properties of this Person. This field is always present."
        },
        "personId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of this link."
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this Person, keyed by suggestion ID."
        },
        "suggestedDeletionIds": {
          "description": "IDs for suggestions that remove this person link from the document. A Person might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this Person."
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "IDs for suggestions that insert this person link into the document. A Person might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion.",
          "type": "array"
        }
      },
      "id": "Person",
      "description": "A person or email address mentioned in a document. These mentions behave as a single, immutable element containing the person's name or email address."
    },
    "SuggestedDropdownDefinitionProperties": {
      "description": "A suggested change to dropdown definition properties.",
      "properties": {
        "dropdownDefinitionPropertiesSuggestionState": {
          "$ref": "DropdownDefinitionPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields on the base DropdownDefinitionProperties have been changed in this suggestion."
        },
        "dropdownDefinitionProperties": {
          "description": "A DropdownDefinitionProperties that only includes the changes made in this suggestion. This can be used along with the dropdown_definition_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "DropdownDefinitionProperties"
        }
      },
      "id": "SuggestedDropdownDefinitionProperties",
      "type": "object"
    },
    "EmbeddedObjectBorderSuggestionState": {
      "properties": {
        "propertyStateSuggested": {
          "description": "Indicates if there was a suggested change to property_state.",
          "type": "boolean"
        },
        "colorSuggested": {
          "description": "Indicates if there was a suggested change to color.",
          "type": "boolean"
        },
        "dashStyleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to dash_style."
        },
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "EmbeddedObjectBorderSuggestionState",
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "DocumentStyle": {
      "type": "object",
      "id": "DocumentStyle",
      "properties": {
        "defaultFooterId": {
          "description": "The ID of the default footer. If not set, there's no default footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "marginFooter": {
          "description": "The amount of space between the bottom of the page and the contents of the footer. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "documentFormat": {
          "description": "Specifies document-level format settings, such as the document mode (pages vs pageless).",
          "$ref": "DocumentFormat"
        },
        "firstPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for the first page. If not set then a unique footer for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_footer_id or this value for the footer on the first page. If not set, there's no first page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "useCustomHeaderFooterMargins": {
          "type": "boolean",
          "description": "Indicates whether DocumentStyle margin_header, SectionStyle margin_header and DocumentStyle margin_footer, SectionStyle margin_footer are respected. When false, the default values in the Docs editor for header and footer margin is used. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "marginLeft": {
          "$ref": "Dimension",
          "description": "The left page margin. Updating the left page margin on the document style clears the left page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "useEvenPageHeaderFooter": {
          "description": "Indicates whether to use the even page header / footer IDs for the even pages. If DocumentMode is PAGELESS, this property will not be rendered.",
          "type": "boolean"
        },
        "flipPageOrientation": {
          "description": "Optional. Indicates whether to flip the dimensions of the page_size, which allows changing the page orientation between portrait and landscape. If DocumentMode is PAGELESS, this property will not be rendered.",
          "type": "boolean"
        },
        "marginHeader": {
          "description": "The amount of space between the top of the page and the contents of the header. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "marginRight": {
          "description": "The right page margin. Updating the right page margin on the document style clears the right page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "background": {
          "$ref": "Background",
          "description": "The background of the document. Documents cannot have a transparent background color."
        },
        "defaultHeaderId": {
          "description": "The ID of the default header. If not set, there's no default header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "marginTop": {
          "$ref": "Dimension",
          "description": "The top page margin. Updating the top page margin on the document style clears the top page margin on all section styles. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "pageSize": {
          "$ref": "Size",
          "description": "The size of a page in the document. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "pageNumberStart": {
          "format": "int32",
          "description": "The page number from which to start counting the number of pages. If DocumentMode is PAGELESS, this property will not be rendered.",
          "type": "integer"
        },
        "firstPageHeaderId": {
          "description": "The ID of the header used only for the first page. If not set then a unique header for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_header_id or this value for the header on the first page. If not set, there's no first page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "evenPageHeaderId": {
          "description": "The ID of the header used only for even pages. The value of use_even_page_header_footer determines whether to use the default_header_id or this value for the header on even pages. If not set, there's no even page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "evenPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for even pages. The value of use_even_page_header_footer determines whether to use the default_footer_id or this value for the footer on even pages. If not set, there's no even page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "useFirstPageHeaderFooter": {
          "type": "boolean",
          "description": "Indicates whether to use the first page header / footer IDs for the first page. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "marginBottom": {
          "description": "The bottom page margin. Updating the bottom page margin on the document style clears the bottom page margin on all section styles. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        }
      },
      "description": "The style of the document."
    },
    "InsertTextRequest": {
      "id": "InsertTextRequest",
      "description": "Inserts text at the specified location.",
      "type": "object",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the text at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "text": {
          "type": "string",
          "description": "The text to be inserted. Inserting a newline character will implicitly create a new Paragraph at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text style for the inserted text will match the text immediately before the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text."
        },
        "location": {
          "description": "Inserts the text at a specific index in the document. Text must be inserted inside the bounds of an existing Paragraph. For instance, text cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The text must be inserted in the preceding paragraph.",
          "$ref": "Location"
        }
      }
    },
    "SuggestionThread": {
      "type": "object",
      "description": "Represents a single suggestion thread. Suggestion threads are created as a byproduct of saving changes to the document while in suggestion mode, and cannot be created directly.",
      "id": "SuggestionThread",
      "properties": {
        "replies": {
          "items": {
            "$ref": "Post"
          },
          "type": "array",
          "description": "Replies to the head post."
        },
        "headPost": {
          "$ref": "Post",
          "description": "The first post in the thread."
        },
        "summaryText": {
          "description": "Summary of the suggested differences in the document, in plain text. May be empty.",
          "type": "string"
        },
        "summaryHtml": {
          "type": "string",
          "description": "Summary of the suggested differences in the document, in HTML. May be empty."
        },
        "status": {
          "description": "Whether the thread is open, accepted, or rejected.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "OPEN",
            "ACCEPTED",
            "REJECTED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The suggestion thread is open.",
            "The suggestion thread is accepted.",
            "The suggestion thread is rejected."
          ],
          "type": "string"
        },
        "suggestionId": {
          "description": "The unique ID of the suggestion.",
          "type": "string"
        }
      }
    },
    "CreateHeaderRequest": {
      "description": "Creates a Header. The new header is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a header of the specified type already exists, a 400 bad request error is returned.",
      "properties": {
        "sectionBreakLocation": {
          "description": "The location of the SectionBreak which begins the section this header should belong to. If `section_break_location' is unset or if it refers to the first section break in the document body, the header applies to the DocumentStyle",
          "$ref": "Location"
        },
        "type": {
          "description": "The type of header to create.",
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ],
          "type": "string",
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ]
        }
      },
      "id": "CreateHeaderRequest",
      "type": "object"
    },
    "InlineObjectProperties": {
      "description": "Properties of an InlineObject.",
      "id": "InlineObjectProperties",
      "properties": {
        "embeddedObject": {
          "description": "The embedded object of this inline object.",
          "$ref": "EmbeddedObject"
        }
      },
      "type": "object"
    },
    "PositionedObject": {
      "description": "An object that's tethered to a Paragraph and positioned relative to the beginning of the paragraph. A PositionedObject contains an EmbeddedObject such as an image.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of this positioned object."
        },
        "suggestedInsertionId": {
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion.",
          "type": "string"
        },
        "positionedObjectProperties": {
          "description": "The properties of this positioned object.",
          "$ref": "PositionedObjectProperties"
        },
        "suggestedPositionedObjectPropertiesChanges": {
          "description": "The suggested changes to the positioned object properties, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedPositionedObjectProperties"
          }
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "PositionedObject"
    },
    "DocumentFormat": {
      "type": "object",
      "properties": {
        "documentMode": {
          "description": "Whether the document has pages or is pageless.",
          "enumDescriptions": [
            "The document mode is unspecified.",
            "The document has pages.",
            "The document is pageless."
          ],
          "enum": [
            "DOCUMENT_MODE_UNSPECIFIED",
            "PAGES",
            "PAGELESS"
          ],
          "type": "string"
        }
      },
      "id": "DocumentFormat",
      "description": "Represents document-level format settings."
    },
    "Table": {
      "id": "Table",
      "type": "object",
      "properties": {
        "columns": {
          "description": "Number of columns in the table. It's possible for a table to be non-rectangular, so some rows may have a different number of cells.",
          "format": "int32",
          "type": "integer"
        },
        "tableRows": {
          "description": "The contents and style of each row.",
          "type": "array",
          "items": {
            "$ref": "TableRow"
          }
        },
        "rows": {
          "description": "Number of rows in the table.",
          "type": "integer",
          "format": "int32"
        },
        "tableStyle": {
          "$ref": "TableStyle",
          "description": "The style of the table."
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A Table may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A StructuralElement representing a table."
    },
    "EmbeddedDrawingPropertiesSuggestionState": {
      "type": "object",
      "id": "EmbeddedDrawingPropertiesSuggestionState",
      "properties": {},
      "description": "A mask that indicates which of the fields on the base EmbeddedDrawingProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "PostAuthor": {
      "description": "Represents a user who authored a comment or suggestion post.",
      "id": "PostAuthor",
      "properties": {
        "displayName": {
          "description": "The display name of the user. May be absent if the author is anonymous.",
          "type": "string"
        },
        "me": {
          "type": "boolean",
          "description": "Whether the user is the authenticated user making the request."
        },
        "user": {
          "type": "string",
          "description": "The resource name of the post author user, which can also be used to identify the user in the [Google People API](https://developers.google.com/people/api/rest/v1/people). Format: `users/{user}`. Will not be populated if the anonymous field is `true` or if the post is from an imported document."
        },
        "anonymous": {
          "description": "Whether the user is anonymous.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Background": {
      "id": "Background",
      "description": "Represents the background of a document.",
      "properties": {
        "color": {
          "description": "The background color.",
          "$ref": "OptionalColor"
        }
      },
      "type": "object"
    },
    "TableCell": {
      "id": "TableCell",
      "type": "object",
      "description": "The contents and style of a cell in a Table.",
      "properties": {
        "startIndex": {
          "description": "The zero-based start index of this cell, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TableCell may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "tableCellStyle": {
          "$ref": "TableCellStyle",
          "description": "The style of the cell."
        },
        "content": {
          "description": "The content of the cell.",
          "items": {
            "$ref": "StructuralElement"
          },
          "type": "array"
        },
        "suggestedTableCellStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTableCellStyle"
          },
          "description": "The suggested changes to the table cell style, keyed by suggestion ID.",
          "type": "object"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "endIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-based end index of this cell, exclusive, in UTF-16 code units."
        }
      }
    },
    "Post": {
      "id": "Post",
      "description": "Represents a single post in a comment or suggestion thread.",
      "properties": {
        "postId": {
          "description": "Output only. The unique ID of the post.",
          "type": "string"
        },
        "assigneeEmail": {
          "description": "Optional. The email of the user who is being newly assigned to the thread as part of this post. Returns a 400 bad request error if: - The parent thread is a CommentThread whose headPost does not have an assignee. - The parent thread is a SuggestionThread. - commentAction is specified as `RESOLVE` or `REOPEN`. - `assigneeEmail` exceeds 2048 UTF-8 code units.",
          "type": "string"
        },
        "contentHtml": {
          "description": "Output only. The content of the post as HTML.",
          "type": "string"
        },
        "suggestionAction": {
          "enum": [
            "SUGGESTION_ACTION_TYPE_UNSPECIFIED",
            "NO_SUGGESTION_ACTION_CHANGE",
            "ACCEPT",
            "REJECT"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "No action change in this post.",
            "This post accepts the suggestion.",
            "This post rejects the suggestion."
          ],
          "description": "Output only. The action type for suggestion posts.",
          "type": "string"
        },
        "fromImportedDocument": {
          "type": "boolean",
          "description": "Output only. Whether the post is from an imported document. This field cannot be set directly by callers."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the post was last updated."
        },
        "fromDocumentComparison": {
          "description": "Output only. Whether the post is from a document comparison. This field cannot be set directly by callers.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the post was created."
        },
        "commentAction": {
          "enum": [
            "COMMENT_ACTION_TYPE_UNSPECIFIED",
            "NO_COMMENT_ACTION_CHANGE",
            "RESOLVE",
            "REOPEN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "No action change in this post.",
            "This post resolves the thread.",
            "This post reopens the thread."
          ],
          "description": "Optional. The action type for comment posts."
        },
        "author": {
          "$ref": "PostAuthor",
          "description": "Output only. The user who created the post."
        },
        "fromCopiedDocument": {
          "type": "boolean",
          "description": "Output only. Whether the post is from a copied document. This field cannot be set directly by callers."
        },
        "content": {
          "description": "The content of the post. Required to be non-empty if commentAction is not `RESOLVE` or `REOPEN`. This text content will be handled similarly to comments created in the Docs editor. It will have similar behaviors for formatting, notifications, etc. May not exceed 2048 UTF-8 code units.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether the post is deleted. If `true`, content and author fields will be empty."
        }
      },
      "type": "object"
    },
    "DocumentTab": {
      "type": "object",
      "properties": {
        "dropdownDefinitions": {
          "additionalProperties": {
            "$ref": "DropdownDefinition"
          },
          "type": "object",
          "description": "The dropdown definitions in a document tab, keyed by dropdown definition ID."
        },
        "documentStyle": {
          "description": "The style of the document tab.",
          "$ref": "DocumentStyle"
        },
        "commentAnchors": {
          "type": "object",
          "description": "The comment anchors in a document tab, keyed by anchor ID. Only populated if the commentsViewMode parameter is set to require comments (such as `COMMENTS_VIEW_MODE_INCLUDED`).",
          "additionalProperties": {
            "$ref": "CommentAnchor"
          }
        },
        "footers": {
          "additionalProperties": {
            "$ref": "Footer"
          },
          "description": "The footers in the document tab, keyed by footer ID.",
          "type": "object"
        },
        "suggestedNamedStylesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          },
          "description": "The suggested changes to the named styles of the document tab, keyed by suggestion ID.",
          "type": "object"
        },
        "headers": {
          "description": "The headers in the document tab, keyed by header ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Header"
          }
        },
        "positionedObjects": {
          "additionalProperties": {
            "$ref": "PositionedObject"
          },
          "type": "object",
          "description": "The positioned objects in the document tab, keyed by object ID."
        },
        "footnotes": {
          "type": "object",
          "description": "The footnotes in the document tab, keyed by footnote ID.",
          "additionalProperties": {
            "$ref": "Footnote"
          }
        },
        "lists": {
          "type": "object",
          "description": "The lists in the document tab, keyed by list ID.",
          "additionalProperties": {
            "$ref": "List"
          }
        },
        "namedRanges": {
          "description": "The named ranges in the document tab, keyed by name.",
          "type": "object",
          "additionalProperties": {
            "$ref": "NamedRanges"
          }
        },
        "namedStyles": {
          "$ref": "NamedStyles",
          "description": "The named styles of the document tab."
        },
        "inlineObjects": {
          "type": "object",
          "description": "The inline objects in the document tab, keyed by object ID.",
          "additionalProperties": {
            "$ref": "InlineObject"
          }
        },
        "suggestedDocumentStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          },
          "description": "The suggested changes to the style of the document tab, keyed by suggestion ID.",
          "type": "object"
        },
        "body": {
          "description": "The main body of the document tab.",
          "$ref": "Body"
        }
      },
      "description": "A tab with document contents.",
      "id": "DocumentTab"
    },
    "InsertCommentRequest": {
      "id": "InsertCommentRequest",
      "properties": {
        "content": {
          "description": "The text of the comment, as plain text. This text content will be handled similarly to comments created in the Docs editor. It will have similar behaviors for formatting, notifications, etc. This field cannot be empty, and must not exceed 2048 UTF-8 code units.",
          "type": "string"
        },
        "range": {
          "$ref": "Range",
          "description": "The Range in the document that is tied to this comment."
        },
        "assigneeEmailAddress": {
          "type": "string",
          "description": "Optional. The email address of the assignee of the comment. Leave empty for a non-assigned comment. May not exceed 2048 UTF-8 code units."
        }
      },
      "description": "Inserts a CommentThread into the document.",
      "type": "object"
    },
    "BatchUpdateDocumentResponse": {
      "description": "Response message from a BatchUpdateDocument request.",
      "type": "object",
      "properties": {
        "writeControl": {
          "$ref": "WriteControl",
[...]
