{
  "ownerName": "Google",
  "resources": {
    "documents": {
      "methods": {
        "create": {
          "parameters": {},
          "flatPath": "v1/documents",
          "description": "Creates a blank document using the title given in the request. Other fields in the request, including any provided content, are ignored. Returns the created document.",
          "id": "docs.documents.create",
          "path": "v1/documents",
          "parameterOrder": [],
          "request": {
            "$ref": "Document"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Document"
          },
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/documents.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "docs.documents.get",
          "httpMethod": "GET",
          "path": "v1/documents/{documentId}",
          "response": {
            "$ref": "Document"
          },
          "description": "Gets the latest version of the specified document.",
          "parameters": {
            "suggestionsViewMode": {
              "description": "The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used.",
              "enum": [
                "DEFAULT_FOR_CURRENT_ACCESS",
                "SUGGESTIONS_INLINE",
                "PREVIEW_SUGGESTIONS_ACCEPTED",
                "PREVIEW_WITHOUT_SUGGESTIONS"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
                "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
              ]
            },
            "includeTabsContent": {
              "description": "Whether to populate the `Document.tabs` field instead of the text content fields like `body` and `documentStyle` on `Document`. - When `true`: Document content populates in the `Document.tabs` field instead of the text content fields in `Document`. - When `false`: The content of the document's first tab populates the content fields in `Document` excluding `Document.tabs`. If a document has only one tab, then that tab is used to populate the document content. `Document.tabs` will be empty. If you use a field mask that references the `Document.tabs` field (or any subfield), the API implicitly treats the request as if you set `include_tabs_content` to `true`.",
              "location": "query",
              "type": "boolean"
            },
            "documentId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the document to retrieve.",
              "required": true
            }
          },
          "parameterOrder": [
            "documentId"
          ],
          "flatPath": "v1/documents/{documentId}"
        },
        "batchUpdate": {
          "response": {
            "$ref": "BatchUpdateDocumentResponse"
          },
          "parameterOrder": [
            "documentId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "BatchUpdateDocumentRequest"
          },
          "description": "Applies one or more updates to the document. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies, the reply to the third request, and another empty reply, in that order. Because other users may be editing the document, the document might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the document should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.",
          "path": "v1/documents/{documentId}:batchUpdate",
          "flatPath": "v1/documents/{documentId}:batchUpdate",
          "parameters": {
            "documentId": {
              "location": "path",
              "description": "The ID of the document to update.",
              "required": true,
              "type": "string"
            }
          },
          "id": "docs.documents.batchUpdate"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "description": "Reads and writes Google Docs documents.",
  "canonicalName": "Docs",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/documents.readonly": {
          "description": "See all your Google Docs documents"
        }
      }
    }
  },
  "version": "v1",
  "documentationLink": "https://developers.google.com/workspace/docs/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "baseUrl": "https://docs.googleapis.com/",
  "title": "Google Docs API",
  "rootUrl": "https://docs.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "revision": "20260916",
  "schemas": {
    "ReplaceImageRequest": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the new image. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB, cannot exceed 25 megapixels, and must be in PNG, JPEG, or GIF format. The provided URI can't surpass 2 KB in length. The URI is saved with the image, and exposed through the ImageProperties.source_uri field."
        },
        "tabId": {
          "description": "The tab that the image to be replaced is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "imageObjectId": {
          "type": "string",
          "description": "The ID of the existing image that will be replaced. The ID can be retrieved from the response of a get request."
        },
        "imageReplaceMethod": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified image replace method. This value must not be used.",
            "Scales and centers the image to fill the bounds of the original image. The image may be cropped in order to fill the original image's bounds. The rendered size of the image will be the same as the original image."
          ],
          "description": "The replacement method.",
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_CROP"
          ]
        }
      },
      "id": "ReplaceImageRequest",
      "description": "Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image in order to mirror the behavior of the Docs editor.",
      "type": "object"
    },
    "AddDocumentTabResponse": {
      "id": "AddDocumentTabResponse",
      "type": "object",
      "description": "The result of adding a document tab.",
      "properties": {
        "tabProperties": {
          "description": "The properties of the newly added tab.",
          "$ref": "TabProperties"
        }
      }
    },
    "ShadingSuggestionState": {
      "properties": {
        "backgroundColorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to the Shading."
        }
      },
      "id": "ShadingSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base Shading have been changed in this suggested change. For any field set to true, there's a new suggested value."
    },
    "DocumentStyle": {
      "id": "DocumentStyle",
      "properties": {
        "useFirstPageHeaderFooter": {
          "description": "Indicates whether to use the first page header / footer IDs for the first page. If DocumentMode is PAGELESS, this property will not be rendered.",
          "type": "boolean"
        },
        "marginHeader": {
          "$ref": "Dimension",
          "description": "The amount of space between the top of the page and the contents of the header. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "pageSize": {
          "$ref": "Size",
          "description": "The size of a page in the document. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "evenPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for even pages. The value of use_even_page_header_footer determines whether to use the default_footer_id or this value for the footer on even pages. If not set, there's no even page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "defaultHeaderId": {
          "description": "The ID of the default header. If not set, there's no default header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "marginLeft": {
          "$ref": "Dimension",
          "description": "The left page margin. Updating the left page margin on the document style clears the left page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "background": {
          "description": "The background of the document. Documents cannot have a transparent background color.",
          "$ref": "Background"
        },
        "pageNumberStart": {
          "type": "integer",
          "format": "int32",
          "description": "The page number from which to start counting the number of pages. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "firstPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for the first page. If not set then a unique footer for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_footer_id or this value for the footer on the first page. If not set, there's no first page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "useCustomHeaderFooterMargins": {
          "description": "Indicates whether DocumentStyle margin_header, SectionStyle margin_header and DocumentStyle margin_footer, SectionStyle margin_footer are respected. When false, the default values in the Docs editor for header and footer margin is used. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "boolean"
        },
        "documentFormat": {
          "$ref": "DocumentFormat",
          "description": "Specifies document-level format settings, such as the document mode (pages vs pageless)."
        },
        "marginTop": {
          "$ref": "Dimension",
          "description": "The top page margin. Updating the top page margin on the document style clears the top page margin on all section styles. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "flipPageOrientation": {
          "description": "Optional. Indicates whether to flip the dimensions of the page_size, which allows changing the page orientation between portrait and landscape. If DocumentMode is PAGELESS, this property will not be rendered.",
          "type": "boolean"
        },
        "marginBottom": {
          "$ref": "Dimension",
          "description": "The bottom page margin. Updating the bottom page margin on the document style clears the bottom page margin on all section styles. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "marginFooter": {
          "$ref": "Dimension",
          "description": "The amount of space between the bottom of the page and the contents of the footer. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "firstPageHeaderId": {
          "type": "string",
          "description": "The ID of the header used only for the first page. If not set then a unique header for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_header_id or this value for the header on the first page. If not set, there's no first page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "marginRight": {
          "description": "The right page margin. Updating the right page margin on the document style clears the right page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "evenPageHeaderId": {
          "type": "string",
          "description": "The ID of the header used only for even pages. The value of use_even_page_header_footer determines whether to use the default_header_id or this value for the header on even pages. If not set, there's no even page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "defaultFooterId": {
          "description": "The ID of the default footer. If not set, there's no default footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "useEvenPageHeaderFooter": {
          "type": "boolean",
          "description": "Indicates whether to use the even page header / footer IDs for the even pages. If DocumentMode is PAGELESS, this property will not be rendered."
        }
      },
      "description": "The style of the document.",
      "type": "object"
    },
    "InsertInlineImageResponse": {
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the created InlineObject."
        }
      },
      "description": "The result of inserting an inline image.",
      "type": "object",
      "id": "InsertInlineImageResponse"
    },
    "DeletePositionedObjectRequest": {
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The tab that the positioned object to delete is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        },
        "objectId": {
          "type": "string",
          "description": "The ID of the positioned object to delete."
        }
      },
      "id": "DeletePositionedObjectRequest",
      "description": "Deletes a PositionedObject from the document.",
      "type": "object"
    },
    "Bullet": {
      "id": "Bullet",
      "description": "Describes the bullet of a paragraph.",
      "type": "object",
      "properties": {
        "listId": {
          "type": "string",
          "description": "The ID of the list this paragraph belongs to."
        },
        "nestingLevel": {
          "description": "The nesting level of this paragraph in the list.",
          "format": "int32",
          "type": "integer"
        },
        "textStyle": {
          "description": "The paragraph-specific text style applied to this bullet.",
          "$ref": "TextStyle"
        }
      }
    },
    "InlineObjectPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "embeddedObjectSuggestionState": {
          "$ref": "EmbeddedObjectSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion."
        }
      },
      "id": "InlineObjectPropertiesSuggestionState",
      "type": "object"
    },
    "InsertPersonRequest": {
      "id": "InsertPersonRequest",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the person mention at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "personProperties": {
          "description": "The properties of the person mention to insert.",
          "$ref": "PersonProperties"
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the person mention at a specific index in the document. The person mention must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Person mentions cannot be inserted inside an equation."
        }
      },
      "description": "Inserts a person mention.",
      "type": "object"
    },
    "LinkedContentReference": {
      "properties": {
        "sheetsChartReference": {
          "description": "A reference to the linked chart.",
          "$ref": "SheetsChartReference"
        }
      },
      "type": "object",
      "id": "LinkedContentReference",
      "description": "A reference to the external linked source content."
    },
    "UpdateNamedStyleRequest": {
      "properties": {
        "fields": {
          "description": "The NamedStyle fields that should be updated. At least `named_style_type` must be specified. The root `named_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to include `\"text_style\"` and `\"text_style.bold\"`. To update the paragraph style's alignment property, set `fields` to include `\"paragraph_style\"` and `\"paragraph_style.alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset. Specifying `\"text_style\"` or `\"paragraph_style\"` with an empty TextStyle or ParagraphStyle will reset all of its nested fields.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "namedStyle": {
          "$ref": "NamedStyle",
          "description": "The document style to update."
        },
        "tabId": {
          "description": "The document tab to update. By default, the update is applied to the first tab.",
          "type": "string"
        }
      },
      "description": "Updates a named style.",
      "type": "object",
      "id": "UpdateNamedStyleRequest"
    },
    "EndOfSegmentLocation": {
      "type": "object",
      "properties": {
        "segmentId": {
          "type": "string",
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body."
        },
        "tabId": {
          "type": "string",
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        }
      },
      "description": "Location at the end of a body, header, footer or footnote. The location is immediately before the last newline in the document segment.",
      "id": "EndOfSegmentLocation"
    },
    "EmbeddedObjectBorderSuggestionState": {
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "properties": {
        "dashStyleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to dash_style."
        },
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        },
        "propertyStateSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to property_state."
        },
        "colorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to color."
        }
      },
      "id": "EmbeddedObjectBorderSuggestionState"
    },
    "UpdateSectionStyleRequest": {
      "properties": {
        "sectionStyle": {
          "description": "The styles to be set on the section. Certain section style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of SectionStyle for more information.",
          "$ref": "SectionStyle"
        },
        "range": {
          "description": "The range overlapping the sections to style. Because section breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "Range"
        },
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `section_style` is implied and must not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the left margin, set `fields` to `\"margin_left\"`."
        }
      },
      "description": "Updates the SectionStyle.",
      "type": "object",
      "id": "UpdateSectionStyleRequest"
    },
    "EmbeddedDrawingPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base EmbeddedDrawingProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "EmbeddedDrawingPropertiesSuggestionState",
      "type": "object",
      "properties": {}
    },
    "PositionedObjectPropertiesSuggestionState": {
      "properties": {
        "positioningSuggestionState": {
          "$ref": "PositionedObjectPositioningSuggestionState",
          "description": "A mask that indicates which of the fields in positioning have been changed in this suggestion."
        },
        "embeddedObjectSuggestionState": {
          "$ref": "EmbeddedObjectSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion."
        }
      },
      "type": "object",
      "id": "PositionedObjectPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "DocumentFormat": {
      "properties": {
        "documentMode": {
          "enumDescriptions": [
            "The document mode is unspecified.",
            "The document has pages.",
            "The document is pageless."
          ],
          "enum": [
            "DOCUMENT_MODE_UNSPECIFIED",
            "PAGES",
            "PAGELESS"
          ],
          "type": "string",
          "description": "Whether the document has pages or is pageless."
        }
      },
      "type": "object",
      "description": "Represents document-level format settings.",
      "id": "DocumentFormat"
    },
    "DeleteParagraphBulletsRequest": {
      "type": "object",
      "description": "Deletes bullets from all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph.",
      "id": "DeleteParagraphBulletsRequest",
      "properties": {
        "range": {
          "description": "The range to delete bullets from.",
          "$ref": "Range"
        }
      }
    },
    "TableCellStyle": {
      "properties": {
        "borderLeft": {
          "description": "The left border of the cell.",
          "$ref": "TableCellBorder"
        },
        "paddingBottom": {
          "description": "The bottom padding of the cell.",
          "$ref": "Dimension"
        },
        "borderTop": {
          "$ref": "TableCellBorder",
          "description": "The top border of the cell."
        },
        "paddingLeft": {
          "description": "The left padding of the cell.",
          "$ref": "Dimension"
        },
        "borderBottom": {
          "$ref": "TableCellBorder",
          "description": "The bottom border of the cell."
        },
        "paddingTop": {
          "description": "The top padding of the cell.",
          "$ref": "Dimension"
        },
        "backgroundColor": {
          "description": "The background color of the cell.",
          "$ref": "OptionalColor"
        },
        "contentAlignment": {
          "type": "string",
          "description": "The alignment of the content in the table cell. The default alignment matches the alignment for newly created table cells in the Docs editor.",
          "enumDescriptions": [
            "An unspecified content alignment. The content alignment is inherited from the parent if one exists.",
            "An unsupported content alignment.",
            "An alignment that aligns the content to the top of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 't'.",
            "An alignment that aligns the content to the middle of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'ctr'.",
            "An alignment that aligns the content to the bottom of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'b'."
          ],
          "enum": [
            "CONTENT_ALIGNMENT_UNSPECIFIED",
            "CONTENT_ALIGNMENT_UNSUPPORTED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ]
        },
        "columnSpan": {
          "description": "The column span of the cell. This property is read-only.",
          "type": "integer",
          "format": "int32"
        },
        "rowSpan": {
          "description": "The row span of the cell. This property is read-only.",
          "format": "int32",
          "type": "integer"
        },
        "borderRight": {
          "description": "The right border of the cell.",
          "$ref": "TableCellBorder"
        },
        "paddingRight": {
          "description": "The right padding of the cell.",
          "$ref": "Dimension"
        }
      },
      "type": "object",
      "id": "TableCellStyle",
      "description": "The style of a TableCell. Inherited table cell styles are represented as unset fields in this message. A table cell style can inherit from the table's style."
    },
    "ColumnBreak": {
      "id": "ColumnBreak",
      "type": "object",
      "description": "A ParagraphElement representing a column break. A column break makes the subsequent text start at the top of the next column.",
      "properties": {
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this ColumnBreak, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this ColumnBreak. Similar to text content, like text runs and footnote references, the text style of a column break can affect content layout as well as the styling of text inserted next to it."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A ColumnBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InsertTableRowRequest": {
      "description": "Inserts an empty row into a table.",
      "type": "object",
      "properties": {
        "insertBelow": {
          "description": "Whether to insert new row below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell.",
          "type": "boolean"
        },
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which rows will be inserted. A new row will be inserted above (or below) the row where the reference cell is. If the reference cell is a merged cell, a new row will be inserted above (or below) the merged cell."
        }
      },
      "id": "InsertTableRowRequest"
    },
    "PinTableHeaderRowsRequest": {
      "properties": {
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        },
        "pinnedHeaderRowsCount": {
          "format": "int32",
          "description": "The number of table rows to pin, where 0 implies that all rows are unpinned.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "PinTableHeaderRowsRequest",
      "description": "Updates the number of pinned table header rows in a table."
    },
    "CreateParagraphBulletsRequest": {
      "properties": {
        "bulletPreset": {
          "description": "The kinds of bullet glyphs to be used.",
          "type": "string",
          "enum": [
            "BULLET_GLYPH_PRESET_UNSPECIFIED",
            "BULLET_DISC_CIRCLE_SQUARE",
            "BULLET_DIAMONDX_ARROW3D_SQUARE",
            "BULLET_CHECKBOX",
            "BULLET_ARROW_DIAMOND_DISC",
            "BULLET_STAR_CIRCLE_SQUARE",
            "BULLET_ARROW3D_CIRCLE_SQUARE",
            "BULLET_LEFTTRIANGLE_DIAMOND_DISC",
            "BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE",
            "BULLET_DIAMOND_CIRCLE_SQUARE",
            "NUMBERED_DECIMAL_ALPHA_ROMAN",
            "NUMBERED_DECIMAL_ALPHA_ROMAN_PARENS",
            "NUMBERED_DECIMAL_NESTED",
            "NUMBERED_UPPERALPHA_ALPHA_ROMAN",
            "NUMBERED_UPPERROMAN_UPPERALPHA_DECIMAL",
            "NUMBERED_ZERODECIMAL_ALPHA_ROMAN"
          ],
          "enumDescriptions": [
            "The bullet glyph preset is unspecified.",
            "A bulleted list with a `DISC`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `ARROW3D` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with `CHECKBOX` bullet glyphs for all list nesting levels.",
            "A bulleted list with a `ARROW`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `STAR`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `ARROW3D`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `LEFTTRIANGLE`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `HOLLOWDIAMOND` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMOND`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A numbered list with `DECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `DECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by parenthesis.",
            "A numbered list with `DECIMAL` numeric glyphs separated by periods, where each nesting level uses the previous nesting level's glyph as a prefix. For example: '1.', '1.1.', '2.', '2.2.'.",
            "A numbered list with `UPPERALPHA`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `UPPERROMAN`, `UPPERALPHA` and `DECIMAL` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `ZERODECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods."
          ]
        },
        "range": {
          "description": "The range to apply the bullet preset to.",
          "$ref": "Range"
        }
      },
      "type": "object",
      "description": "Creates bullets for all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be determined by counting leading tabs in front of each paragraph. To avoid excess space between the bullet and the corresponding paragraph, these leading tabs are removed by this request. This may change the indices of parts of the text. If the paragraph immediately before paragraphs being updated is in a list with a matching preset, the paragraphs being updated are added to that preceding list.",
      "id": "CreateParagraphBulletsRequest"
    },
    "CreateNamedRangeResponse": {
      "id": "CreateNamedRangeResponse",
      "properties": {
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the created named range."
        }
      },
      "type": "object",
      "description": "The result of creating a named range."
    },
    "SectionStyle": {
      "type": "object",
      "id": "SectionStyle",
      "description": "The styling that applies to a section.",
      "properties": {
        "marginBottom": {
          "$ref": "Dimension",
          "description": "The bottom page margin of the section. If unset, the value defaults to margin_bottom from DocumentStyle. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "marginFooter": {
          "description": "The footer margin of the section. If unset, the value defaults to margin_footer from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a footer margin is being respected for this section If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "flipPageOrientation": {
          "description": "Optional. Indicates whether to flip the dimensions of DocumentStyle's page_size for this section, which allows changing the page orientation between portrait and landscape. If unset, the value inherits from DocumentStyle's flip_page_orientation. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "type": "boolean"
        },
        "evenPageHeaderId": {
          "type": "string",
          "description": "The ID of the header used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the headers on even pages in the section. If it is false, the headers on even pages use the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "columnProperties": {
          "items": {
            "$ref": "SectionColumnProperties"
          },
          "type": "array",
          "description": "The section's columns properties. If empty, the section contains one column with the default properties in the Docs editor. A section can be updated to have no more than 3 columns. When updating this property, setting a concrete value is required. Unsetting this property will result in a 400 bad request error."
        },
        "defaultFooterId": {
          "description": "The ID of the default footer. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "contentDirection": {
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "description": "The content direction of this section. If unset, the value defaults to LEFT_TO_RIGHT. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ],
          "type": "string"
        },
        "sectionType": {
          "type": "string",
          "description": "Output only. The type of section.",
          "enumDescriptions": [
            "The section type is unspecified.",
            "The section starts immediately after the last paragraph of the previous section.",
            "The section starts on the next page."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "CONTINUOUS",
            "NEXT_PAGE"
          ]
        },
        "firstPageHeaderId": {
          "description": "The ID of the header used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the header on the first page of the section. If it's false, the header on the first page of the section uses the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "columnSeparatorStyle": {
          "enum": [
            "COLUMN_SEPARATOR_STYLE_UNSPECIFIED",
            "NONE",
            "BETWEEN_EACH_COLUMN"
          ],
          "description": "The style of column separators. This style can be set even when there's one column in the section. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified column separator style.",
            "No column separator lines between columns.",
            "Renders a column separator line between each column."
          ]
        },
        "marginLeft": {
          "$ref": "Dimension",
          "description": "The left page margin of the section. If unset, the value defaults to margin_left from DocumentStyle. Updating the left margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "evenPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the footers on even pages in the section. If it is false, the footers on even pages use the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "firstPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the footer on the first page of the section. If it's false, the footer on the first page of the section uses the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "marginHeader": {
          "description": "The header margin of the section. If unset, the value defaults to margin_header from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a header margin is being respected for this section. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "defaultHeaderId": {
          "type": "string",
          "description": "The ID of the default header. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "pageNumberStart": {
          "type": "integer",
          "description": "The page number from which to start counting the number of pages for this section. If unset, page numbering continues from the previous section. If the value is unset in the first SectionBreak, refer to DocumentStyle's page_number_start. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "format": "int32"
        },
        "marginRight": {
          "$ref": "Dimension",
          "description": "The right page margin of the section. If unset, the value defaults to margin_right from DocumentStyle. Updating the right margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "marginTop": {
          "description": "The top page margin of the section. If unset, the value defaults to margin_top from DocumentStyle. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "useFirstPageHeaderFooter": {
          "description": "Indicates whether to use the first page header / footer IDs for the first page of the section. If unset, it inherits from DocumentStyle's use_first_page_header_footer for the first section. If the value is unset for subsequent sectors, it should be interpreted as false. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "type": "boolean"
        }
      }
    },
    "InsertTextRequest": {
      "type": "object",
      "id": "InsertTextRequest",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the text at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "text": {
          "description": "The text to be inserted. Inserting a newline character will implicitly create a new Paragraph at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text style for the inserted text will match the text immediately before the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text.",
          "type": "string"
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the text at a specific index in the document. Text must be inserted inside the bounds of an existing Paragraph. For instance, text cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The text must be inserted in the preceding paragraph."
        }
      },
      "description": "Inserts text at the specified location."
    },
    "DocumentStyleSuggestionState": {
      "id": "DocumentStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "pageSizeSuggestionState": {
          "$ref": "SizeSuggestionState",
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion."
        },
        "pageNumberStartSuggested": {
          "description": "Indicates if there was a suggested change to page_number_start.",
          "type": "boolean"
        },
        "marginHeaderSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_header."
        },
        "marginTopSuggested": {
          "description": "Indicates if there was a suggested change to margin_top.",
          "type": "boolean"
        },
        "defaultHeaderIdSuggested": {
          "description": "Indicates if there was a suggested change to default_header_id.",
          "type": "boolean"
        },
        "marginBottomSuggested": {
          "description": "Indicates if there was a suggested change to margin_bottom.",
          "type": "boolean"
        },
        "flipPageOrientationSuggested": {
          "description": "Optional. Indicates if there was a suggested change to flip_page_orientation.",
          "type": "boolean"
        },
        "useFirstPageHeaderFooterSuggested": {
          "description": "Indicates if there was a suggested change to use_first_page_header_footer.",
          "type": "boolean"
        },
        "marginRightSuggested": {
          "description": "Indicates if there was a suggested change to margin_right.",
          "type": "boolean"
        },
        "useCustomHeaderFooterMarginsSuggested": {
          "description": "Indicates if there was a suggested change to use_custom_header_footer_margins.",
          "type": "boolean"
        },
        "firstPageHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to first_page_header_id."
        },
        "evenPageHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to even_page_header_id."
        },
        "defaultFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to default_footer_id."
        },
        "marginLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_left."
        },
        "backgroundSuggestionState": {
          "$ref": "BackgroundSuggestionState",
          "description": "A mask that indicates which of the fields in background have been changed in this suggestion."
        },
        "evenPageFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to even_page_footer_id."
        },
        "useEvenPageHeaderFooterSuggested": {
          "description": "Indicates if there was a suggested change to use_even_page_header_footer.",
          "type": "boolean"
        },
        "firstPageFooterIdSuggested": {
          "description": "Indicates if there was a suggested change to first_page_footer_id.",
          "type": "boolean"
        },
        "marginFooterSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_footer."
        }
      },
      "type": "object"
    },
    "SubstringMatchCriteria": {
      "id": "SubstringMatchCriteria",
      "properties": {
        "matchCase": {
          "description": "Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive.",
          "type": "boolean"
        },
        "searchByRegex": {
          "type": "boolean",
          "description": "Optional. True if the find value should be treated as a regular expression. Any backslashes in the pattern should be escaped. - `True`: the search text is treated as a regular expressions. - `False`: the search text is treated as a substring for matching."
        },
        "text": {
          "type": "string",
          "description": "The text to search for in the document."
        }
      },
      "description": "A criteria that matches a specific string of text in the document.",
      "type": "object"
    },
    "TableOfContents": {
      "description": "A StructuralElement representing a table of contents.",
      "properties": {
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TableOfContents may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "content": {
          "description": "The content of the table of contents.",
          "items": {
            "$ref": "StructuralElement"
          },
          "type": "array"
        }
      },
      "id": "TableOfContents",
      "type": "object"
    },
    "Request": {
      "id": "Request",
      "description": "A single update to apply to a document.",
      "type": "object",
      "properties": {
        "updateTableColumnProperties": {
          "description": "Updates the properties of columns in a table.",
          "$ref": "UpdateTableColumnPropertiesRequest"
        },
        "insertTableColumn": {
          "$ref": "InsertTableColumnRequest",
          "description": "Inserts an empty column into a table."
        },
        "updateDocumentTabProperties": {
          "description": "Updates the properties of a document tab.",
          "$ref": "UpdateDocumentTabPropertiesRequest"
        },
        "deleteTableRow": {
          "description": "Deletes a row from a table.",
          "$ref": "DeleteTableRowRequest"
        },
        "insertDate": {
          "description": "Inserts a date.",
          "$ref": "InsertDateRequest"
        },
        "pinTableHeaderRows": {
          "$ref": "PinTableHeaderRowsRequest",
          "description": "Updates the number of pinned header rows in a table."
        },
        "updateTableRowStyle": {
          "description": "Updates the row style in a table.",
          "$ref": "UpdateTableRowStyleRequest"
        },
        "createFooter": {
          "$ref": "CreateFooterRequest",
          "description": "Creates a footer."
        },
        "deleteTab": {
          "$ref": "DeleteTabRequest",
          "description": "Deletes a document tab."
        },
        "createNamedRange": {
          "description": "Creates a named range.",
          "$ref": "CreateNamedRangeRequest"
        },
        "insertSectionBreak": {
          "description": "Inserts a section break at the specified location.",
          "$ref": "InsertSectionBreakRequest"
        },
        "updateTableCellStyle": {
          "description": "Updates the style of table cells.",
          "$ref": "UpdateTableCellStyleRequest"
        },
        "insertPageBreak": {
          "$ref": "InsertPageBreakRequest",
          "description": "Inserts a page break at the specified location."
        },
        "deleteNamedRange": {
          "description": "Deletes a named range.",
          "$ref": "DeleteNamedRangeRequest"
        },
        "createFootnote": {
          "$ref": "CreateFootnoteRequest",
          "description": "Creates a footnote."
        },
        "insertPerson": {
          "description": "Inserts a person mention.",
          "$ref": "InsertPersonRequest"
        },
        "updateSectionStyle": {
          "description": "Updates the section style of the specified range.",
          "$ref": "UpdateSectionStyleRequest"
        },
        "insertTableRow": {
          "$ref": "InsertTableRowRequest",
          "description": "Inserts an empty row into a table."
        },
        "updateDocumentStyle": {
          "description": "Updates the style of the document.",
          "$ref": "UpdateDocumentStyleRequest"
        },
        "deleteHeader": {
          "$ref": "DeleteHeaderRequest",
          "description": "Deletes a header from the document."
        },
        "addDocumentTab": {
          "$ref": "AddDocumentTabRequest",
          "description": "Adds a document tab."
        },
        "replaceNamedRangeContent": {
          "description": "Replaces the content in a named range.",
          "$ref": "ReplaceNamedRangeContentRequest"
        },
        "deleteFooter": {
          "$ref": "DeleteFooterRequest",
          "description": "Deletes a footer from the document."
        },
        "deleteContentRange": {
          "$ref": "DeleteContentRangeRequest",
          "description": "Deletes content from the document."
        },
        "createHeader": {
          "$ref": "CreateHeaderRequest",
          "description": "Creates a header."
        },
        "deletePositionedObject": {
          "description": "Deletes a positioned object from the document.",
          "$ref": "DeletePositionedObjectRequest"
        },
        "insertTable": {
          "$ref": "InsertTableRequest",
          "description": "Inserts a table at the specified location."
        },
        "replaceImage": {
          "description": "Replaces an image in the document.",
          "$ref": "ReplaceImageRequest"
        },
        "deleteTableColumn": {
          "description": "Deletes a column from a table.",
          "$ref": "DeleteTableColumnRequest"
        },
        "mergeTableCells": {
          "description": "Merges cells in a table.",
          "$ref": "MergeTableCellsRequest"
        },
        "insertInlineImage": {
          "description": "Inserts an inline image at the specified location.",
          "$ref": "InsertInlineImageRequest"
        },
        "updateTextStyle": {
          "$ref": "UpdateTextStyleRequest",
          "description": "Updates the text style at the specified range."
        },
        "replaceAllText": {
          "description": "Replaces all instances of the specified text.",
          "$ref": "ReplaceAllTextRequest"
        },
        "insertText": {
          "$ref": "InsertTextRequest",
          "description": "Inserts text at the specified location."
        },
        "unmergeTableCells": {
          "$ref": "UnmergeTableCellsRequest",
          "description": "Unmerges cells in a table."
        },
        "insertRichLink": {
          "$ref": "InsertRichLinkRequest",
          "description": "Insert a rich link."
        },
        "updateNamedStyle": {
          "description": "Updates a named style.",
          "$ref": "UpdateNamedStyleRequest"
        },
        "updateParagraphStyle": {
          "description": "Updates the paragraph style at the specified range.",
          "$ref": "UpdateParagraphStyleRequest"
        },
        "createParagraphBullets": {
          "description": "Creates bullets for paragraphs.",
          "$ref": "CreateParagraphBulletsRequest"
        },
        "deleteParagraphBullets": {
          "description": "Deletes bullets from paragraphs.",
          "$ref": "DeleteParagraphBulletsRequest"
        }
      }
    },
    "DateElementProperties": {
      "description": "Properties of a DateElement.",
      "id": "DateElementProperties",
      "type": "object",
      "properties": {
        "dateFormat": {
          "type": "string",
          "description": "Determines how the date part of the DateElement will be displayed in the document. If unset, the default value is DATE_FORMAT_MONTH_DAY_YEAR_ABBREVIATED, indicating the DateElement will be formatted as `MMM d, y` in `en`, or locale specific equivalent.",
          "enumDescriptions": [
            "The date format is unspecified.",
            "Output only. The date format is imported from an external source.",
            "The date format is an abbreviated month followed by the day. For example, \"Jan 1\".",
            "The date format is a month followed by the day. For example, \"January 01\".",
            "The date format is an abbreviated month followed by the day and the year. For example, \"Jan 1, 1970\".",
            "The date format is in ISO 8601 format. For example, \"1970-01-01\"."
          ],
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "DATE_FORMAT_CUSTOM",
            "DATE_FORMAT_MONTH_DAY_ABBREVIATED",
            "DATE_FORMAT_MONTH_DAY_FULL",
            "DATE_FORMAT_MONTH_DAY_YEAR_ABBREVIATED",
            "DATE_FORMAT_ISO8601"
          ]
        },
        "timestamp": {
          "description": "The point in time to represent, in seconds and nanoseconds since Unix epoch: January 1, 1970 at midnight UTC. Timestamp is expected to be in UTC. If time_zone_id is set, the timestamp is adjusted according to the time zone. For example, a timestamp of `18000` with a date format of `DATE_FORMAT_ISO8601` and time format of `TIME_FORMAT_HOUR_MINUTE` would be displayed as `1970-01-01 5:00 AM`. A timestamp of `18000` with date format of `DATE_FORMAT_ISO8601`, time format of `TIME_FORMAT_HOUR_MINUTE`, and time zone set to `America/New_York` will instead be `1970-01-01 12:00 AM`.",
          "type": "string",
          "format": "google-datetime"
        },
        "timeFormat": {
          "enumDescriptions": [
            "The time format is unspecified.",
            "Indicates that the date does not have a time.",
            "The time format shows the hour and minute. For example, \"Jan 1, 1970 12:00 PM\".",
            "The time format shows the hour, minute, and timezone. For example, \"Jan 1, 1970 12:00 PM UTC\"."
          ],
          "type": "string",
          "description": "Determines how the time part of the DateElement will be displayed in the document. If unset, the default value is TIME_FORMAT_DISABLED, indicating no time should be shown.",
          "enum": [
            "TIME_FORMAT_UNSPECIFIED",
            "TIME_FORMAT_DISABLED",
            "TIME_FORMAT_HOUR_MINUTE",
            "TIME_FORMAT_HOUR_MINUTE_TIMEZONE"
          ]
        },
        "locale": {
          "type": "string",
          "description": "The language code of the DateElement. For example, `en`. If unset, the default locale is `en`. Limited to the following locales: `af`, `am`, `ar`, `as`, `az`, `be`, `bg`, `bn`, `ca`, `cs`, `da`, `de`, `el`, `en`, `en-CA`, `en-GB`, `es`, `es-419`, `et`, `eu`, `fa`, `fi`, `fil`, `fr`, `fr-CA`, `gl`, `gu`, `hi`, `hr`, `hu`, `hy`, `id`, `is`, `it`, `iw`, `ja`, `ka`, `kk`, `km`, `kn`, `ko`, `lo`, `lt`, `lv`, `mk`, `ml`, `mn`, `mr`, `ms`, `ne`, `nl`, `no`, `or`, `pa`, `pl`, `pt-BR`, `pt-PT`, `ro`, `ru`, `si`, `sk`, `sl`, `sq`, `sr`, `sv`, `sw`, `ta`, `te`, `th`, `tr`, `uk`, `ur`, `uz`, `vi`, `zh-CN`, `zh-HK`, `zh-TW`, `zu`, `cy`, `my`."
        },
        "timeZoneId": {
          "description": "The time zone of the DateElement, as defined by the Unicode Common Locale Data Repository (CLDR) project. For example, `America/New_York`. If unset, the default time zone is `etc/UTC`.",
          "type": "string"
        },
        "displayText": {
          "description": "Output only. Indicates how the DateElement is displayed in the document.",
          "type": "string"
        }
      }
    },
    "CropProperties": {
      "description": "The crop properties of an image. The crop rectangle is represented using fractional offsets from the original content's 4 edges. - If the offset is in the interval (0, 1), the corresponding edge of crop rectangle is positioned inside of the image's original bounding rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop rectangle is positioned outside of the image's original bounding rectangle. - If all offsets and rotation angles are 0, the image is not cropped.",
      "type": "object",
      "id": "CropProperties",
      "properties": {
        "offsetBottom": {
          "description": "The offset specifies how far inwards the bottom edge of the crop rectangle is from the bottom edge of the original content as a fraction of the original content's height.",
          "format": "float",
          "type": "number"
        },
        "offsetRight": {
          "type": "number",
          "format": "float",
          "description": "The offset specifies how far inwards the right edge of the crop rectangle is from the right edge of the original content as a fraction of the original content's width."
        },
        "angle": {
          "format": "float",
          "type": "number",
          "description": "The clockwise rotation angle of the crop rectangle around its center, in radians. Rotation is applied after the offsets."
        },
        "offsetTop": {
          "format": "float",
          "description": "The offset specifies how far inwards the top edge of the crop rectangle is from the top edge of the original content as a fraction of the original content's height.",
          "type": "number"
        },
        "offsetLeft": {
          "description": "The offset specifies how far inwards the left edge of the crop rectangle is from the left edge of the original content as a fraction of the original content's width.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "Shading": {
      "properties": {
        "backgroundColor": {
          "$ref": "OptionalColor",
          "description": "The background color of this paragraph shading."
        }
      },
      "id": "Shading",
      "description": "The shading of a paragraph.",
      "type": "object"
    },
    "SheetsChartReference": {
      "type": "object",
      "id": "SheetsChartReference",
      "description": "A reference to a linked chart embedded from Google Sheets.",
      "properties": {
        "spreadsheetId": {
          "description": "The ID of the Google Sheets spreadsheet that contains the source chart.",
          "type": "string"
        },
        "chartId": {
          "description": "The ID of the specific chart in the Google Sheets spreadsheet that's embedded.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "NamedRange": {
      "description": "A collection of Ranges with the same named range ID. Named ranges allow developers to associate parts of a document with an arbitrary user-defined label so their contents can be programmatically read or edited later. A document can contain multiple named ranges with the same name, but every named range has a unique ID. A named range is created with a single Range, and content inserted inside a named range generally expands that range. However, certain document changes can cause the range to be split into multiple ranges. Named ranges are not private. All applications and collaborators that have access to the document can see its named ranges.",
      "id": "NamedRange",
      "type": "object",
      "properties": {
        "ranges": {
          "description": "The ranges that belong to this named range.",
          "items": {
            "$ref": "Range"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The name of the named range."
        },
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the named range."
        }
      }
    },
    "PositionedObject": {
      "description": "An object that's tethered to a Paragraph and positioned relative to the beginning of the paragraph. A PositionedObject contains an EmbeddedObject such as an image.",
      "type": "object",
      "id": "PositionedObject",
      "properties": {
        "suggestedPositionedObjectPropertiesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedPositionedObjectProperties"
          },
          "type": "object",
          "description": "The suggested changes to the positioned object properties, keyed by suggestion ID."
        },
        "objectId": {
          "description": "The ID of this positioned object.",
          "type": "string"
        },
        "positionedObjectProperties": {
          "description": "The properties of this positioned object.",
          "$ref": "PositionedObjectProperties"
        },
        "suggestedInsertionId": {
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion.",
          "type": "string"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DeleteNamedRangeRequest": {
      "properties": {
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the named range to delete."
        },
        "name": {
          "description": "The name of the range(s) to delete. All named ranges with the given name will be deleted.",
          "type": "string"
        },
        "tabsCriteria": {
          "$ref": "TabsCriteria",
          "description": "Optional. The criteria used to specify which tab(s) the range deletion should occur in. When omitted, the range deletion is applied to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the range deletion applies to the singular tab. In a document containing multiple tabs: - If provided, the range deletion applies to the specified tabs. - If not provided, the range deletion applies to all tabs."
        }
      },
      "type": "object",
      "id": "DeleteNamedRangeRequest",
      "description": "Deletes a NamedRange."
    },
    "ImagePropertiesSuggestionState": {
      "properties": {
        "contentUriSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to content_uri."
        },
        "brightnessSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to brightness."
        },
        "contrastSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to contrast."
        },
        "transparencySuggested": {
          "description": "Indicates if there was a suggested change to transparency.",
          "type": "boolean"
        },
        "cropPropertiesSuggestionState": {
          "$ref": "CropPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in crop_properties have been changed in this suggestion."
        },
        "sourceUriSuggested": {
          "description": "Indicates if there was a suggested change to source_uri.",
          "type": "boolean"
        },
        "angleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to angle."
        }
      },
      "id": "ImagePropertiesSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "ObjectReferences": {
      "id": "ObjectReferences",
      "description": "A collection of object IDs.",
      "type": "object",
      "properties": {
        "objectIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The object IDs."
        }
      }
    },
    "TableCellBorder": {
      "properties": {
        "dashStyle": {
          "type": "string",
          "description": "The dash style of the border.",
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ]
        },
        "color": {
          "description": "The color of the border. This color cannot be transparent.",
          "$ref": "OptionalColor"
        },
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        }
      },
      "type": "object",
      "description": "A border around a table cell. Table cell borders cannot be transparent. To hide a table cell border, make its width 0.",
      "id": "TableCellBorder"
    },
    "HeadingLink": {
      "description": "A reference to a heading in this document.",
      "properties": {
        "id": {
          "description": "The ID of a heading in this document.",
          "type": "string"
        },
        "tabId": {
          "description": "The ID of the tab containing this heading.",
          "type": "string"
        }
      },
      "id": "HeadingLink",
      "type": "object"
    },
    "CreateHeaderRequest": {
      "description": "Creates a Header. The new header is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a header of the specified type already exists, a 400 bad request error is returned.",
      "type": "object",
      "id": "CreateHeaderRequest",
      "properties": {
        "sectionBreakLocation": {
          "description": "The location of the SectionBreak which begins the section this header should belong to. If `section_break_location' is unset or if it refers to the first section break in the document body, the header applies to the DocumentStyle",
          "$ref": "Location"
        },
        "type": {
          "type": "string",
          "description": "The type of header to create.",
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ],
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ]
        }
      }
    },
    "SectionBreak": {
      "description": "A StructuralElement representing a section break. A section is a range of content that has the same SectionStyle. A section break represents the start of a new section, and the section style applies to the section after the section break. The document body always begins with a section break.",
      "properties": {
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        },
        "sectionStyle": {
          "description": "The style of the section after this section break.",
          "$ref": "SectionStyle"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A SectionBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "SectionBreak"
    },
    "DocumentTab": {
      "description": "A tab with document contents.",
      "id": "DocumentTab",
      "properties": {
        "suggestedDocumentStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          },
          "description": "The suggested changes to the style of the document tab, keyed by suggestion ID."
        },
        "namedStyles": {
          "$ref": "NamedStyles",
          "description": "The named styles of the document tab."
        },
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "The style of the document tab."
        },
        "body": {
          "description": "The main body of the document tab.",
          "$ref": "Body"
        },
        "footnotes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Footnote"
          },
          "description": "The footnotes in the document tab, keyed by footnote ID."
        },
        "positionedObjects": {
          "additionalProperties": {
            "$ref": "PositionedObject"
          },
          "description": "The positioned objects in the document tab, keyed by object ID.",
          "type": "object"
        },
        "namedRanges": {
          "additionalProperties": {
            "$ref": "NamedRanges"
          },
          "type": "object",
          "description": "The named ranges in the document tab, keyed by name."
        },
        "lists": {
          "additionalProperties": {
            "$ref": "List"
          },
          "type": "object",
          "description": "The lists in the document tab, keyed by list ID."
        },
        "inlineObjects": {
          "additionalProperties": {
            "$ref": "InlineObject"
          },
          "type": "object",
          "description": "The inline objects in the document tab, keyed by object ID."
        },
        "headers": {
          "additionalProperties": {
            "$ref": "Header"
          },
          "type": "object",
          "description": "The headers in the document tab, keyed by header ID."
        },
        "suggestedNamedStylesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          },
          "type": "object",
          "description": "The suggested changes to the named styles of the document tab, keyed by suggestion ID."
        },
        "footers": {
          "description": "The footers in the document tab, keyed by footer ID.",
          "additionalProperties": {
            "$ref": "Footer"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "BookmarkLink": {
      "description": "A reference to a bookmark in this document.",
      "type": "object",
      "id": "BookmarkLink",
      "properties": {
        "id": {
          "description": "The ID of a bookmark in this document.",
          "type": "string"
        },
        "tabId": {
          "description": "The ID of the tab containing this bookmark.",
          "type": "string"
        }
      }
    },
    "RgbColor": {
      "type": "object",
      "properties": {
        "red": {
          "description": "The red component of the color, from 0.0 to 1.0.",
          "format": "float",
          "type": "number"
        },
        "blue": {
          "format": "float",
          "type": "number",
          "description": "The blue component of the color, from 0.0 to 1.0."
        },
        "green": {
          "type": "number",
          "format": "float",
          "description": "The green component of the color, from 0.0 to 1.0."
        }
      },
      "id": "RgbColor",
      "description": "An RGB color."
    },
    "Dimension": {
      "id": "Dimension",
      "properties": {
        "unit": {
          "type": "string",
          "enumDescriptions": [
            "The units are unknown.",
            "A point, 1/72 of an inch."
          ],
          "enum": [
            "UNIT_UNSPECIFIED",
            "PT"
          ],
          "description": "The units for magnitude."
        },
        "magnitude": {
          "format": "double",
          "description": "The magnitude.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "A magnitude in a single direction in the specified units."
    },
    "AutoText": {
      "description": "A ParagraphElement representing a spot in the text that's dynamically replaced with content that can change over time, like a page number.",
      "properties": {
        "suggestedTextStyleChanges": {
          "type": "object",
          "description": "The suggested text style changes to this AutoText, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "description": "The text style of this AutoText.",
          "$ref": "TextStyle"
        },
        "type": {
          "enumDescriptions": [
            "An unspecified auto text type.",
            "Type for auto text that represents the current page number.",
            "Type for auto text that represents the total number of pages in the document."
          ],
          "type": "string",
          "description": "The type of this auto text.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PAGE_NUMBER",
            "PAGE_COUNT"
          ]
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. An AutoText may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "AutoText",
      "type": "object"
    },
    "TableStyle": {
      "id": "TableStyle",
      "description": "Styles that apply to a table.",
      "type": "object",
      "properties": {
        "tableColumnProperties": {
          "type": "array",
          "items": {
            "$ref": "TableColumnProperties"
          },
          "description": "The properties of each column. Note that in Docs, tables contain rows and rows contain cells, similar to HTML. So the properties for a row can be found on the row's table_row_style."
        }
      }
    },
    "MergeTableCellsRequest": {
      "properties": {
        "tableRange": {
          "description": "The table range specifying which cells of the table to merge. Any text in the cells being merged will be concatenated and stored in the \"head\" cell of the range. This is the upper-left cell of the range when the content direction is left to right, and the upper-right cell of the range otherwise. If the range is non-rectangular (which can occur in some cases where the range covers cells that are already merged or where the table is non-rectangular), a 400 bad request error is returned.",
          "$ref": "TableRange"
        }
      },
      "type": "object",
      "description": "Merges cells in a Table.",
      "id": "MergeTableCellsRequest"
    },
    "HorizontalRule": {
      "type": "object",
      "properties": {
        "textStyle": {
          "description": "The text style of this HorizontalRule. Similar to text content, like text runs and footnote references, the text style of a horizontal rule can affect content layout as well as the styling of text inserted next to it.",
          "$ref": "TextStyle"
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "description": "The suggested text style changes to this HorizontalRule, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        }
      },
      "description": "A ParagraphElement representing a horizontal line.",
      "id": "HorizontalRule"
    },
    "ParagraphStyle": {
      "properties": {
        "borderBottom": {
          "description": "The border at the bottom of this paragraph. If unset, the value is inherited from the parent. The bottom border is rendered when the paragraph below has different border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "spacingMode": {
          "description": "The spacing mode for the paragraph.",
          "enum": [
            "SPACING_MODE_UNSPECIFIED",
            "NEVER_COLLAPSE",
            "COLLAPSE_LISTS"
          ],
          "enumDescriptions": [
            "The spacing mode is inherited from the parent.",
            "Paragraph spacing is always rendered.",
            "Paragraph spacing is skipped between list elements."
          ],
          "type": "string"
        },
        "pageBreakBefore": {
          "description": "Whether the current paragraph should always start at the beginning of a page. If unset, the value is inherited from the parent. Attempting to update page_break_before for paragraphs in unsupported regions, including Table, Header, Footer and Footnote, can result in an invalid document state that returns a 400 bad request error.",
          "type": "boolean"
        },
        "borderBetween": {
          "$ref": "ParagraphBorder",
          "description": "The border between this paragraph and the next and previous paragraphs. If unset, the value is inherited from the parent. The between border is rendered when the adjacent paragraph has the same border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "shading": {
          "description": "The shading of the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Shading"
        },
        "spaceBelow": {
          "$ref": "Dimension",
          "description": "The amount of extra space below the paragraph. If unset, the value is inherited from the parent."
        },
        "spaceAbove": {
          "description": "The amount of extra space above the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "headingId": {
          "type": "string",
          "description": "The heading ID of the paragraph. If empty, then this paragraph is not a heading. This property is read-only."
        },
        "alignment": {
          "type": "string",
          "enumDescriptions": [
            "The paragraph alignment is inherited from the parent.",
            "The paragraph is aligned to the start of the line. Left-aligned for LTR text, right-aligned otherwise.",
            "The paragraph is centered.",
            "The paragraph is aligned to the end of the line. Right-aligned for LTR text, left-aligned otherwise.",
            "The paragraph is justified."
          ],
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END",
            "JUSTIFIED"
          ],
          "description": "The text alignment for this paragraph."
        },
        "keepWithNext": {
          "description": "Whether at least a part of this paragraph should be laid out on the same page or column as the next paragraph if possible. If unset, the value is inherited from the parent.",
          "type": "boolean"
        },
        "borderLeft": {
          "description": "The border to the left of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "indentFirstLine": {
          "description": "The amount of indentation for the first line of the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "lineSpacing": {
          "format": "float",
          "type": "number",
          "description": "The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent."
        },
        "namedStyleType": {
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "type": "string",
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "description": "The named style type of the paragraph. Since updating the named style type affects other properties within ParagraphStyle, the named style type is applied before the other properties are updated."
        },
        "indentStart": {
          "description": "The amount of indentation for the paragraph on the side that corresponds to the start of the text, based on the current paragraph direction. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "borderTop": {
          "description": "The border at the top of this paragraph. If unset, the value is inherited from the parent. The top border is rendered when the paragraph above has different border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "borderRight": {
          "description": "The border to the right of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "keepLinesTogether": {
          "description": "Whether all lines of the paragraph should be laid out on the same page or column if possible. If unset, the value is inherited from the parent.",
          "type": "boolean"
        },
        "avoidWidowAndOrphan": {
          "type": "boolean",
          "description": "Whether to avoid widows and orphans for the paragraph. If unset, the value is inherited from the parent."
        },
        "tabStops": {
          "items": {
            "$ref": "TabStop"
          },
          "type": "array",
          "description": "A list of the tab stops for this paragraph. The list of tab stops is not inherited. This property is read-only."
        },
        "indentEnd": {
          "description": "The amount of indentation for the paragraph on the side that corresponds to the end of the text, based on the current paragraph direction. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "direction": {
          "description": "The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since paragraph direction is not inherited.",
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ]
        }
      },
      "type": "object",
      "id": "ParagraphStyle",
      "description": "Styles that apply to a whole paragraph. Inherited paragraph styles are represented as unset fields in this message. A paragraph style's parent depends on where the paragraph style is defined: * The ParagraphStyle on a Paragraph inherits from the paragraph's corresponding named style type. * The ParagraphStyle on a named style inherits from the normal text named style. * The ParagraphStyle of the normal text named style inherits from the default paragraph style in the Docs editor. * The ParagraphStyle on a Paragraph element that's contained in a table may inherit its paragraph style from the table style. If the paragraph style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor."
    },
    "ReplaceAllTextRequest": {
      "id": "ReplaceAllTextRequest",
      "description": "Replaces all instances of text matching a criteria with replace text.",
      "type": "object",
      "properties": {
        "replaceText": {
          "type": "string",
          "description": "The text that will replace the matched text."
        },
        "containsText": {
          "$ref": "SubstringMatchCriteria",
          "description": "Finds text in the document matching this substring."
        },
        "tabsCriteria": {
          "description": "Optional. The criteria used to specify in which tabs the replacement occurs. When omitted, the replacement applies to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the replacement applies to the singular tab. In a document containing multiple tabs: - If provided, the replacement applies to the specified tabs. - If omitted, the replacement applies to all tabs.",
          "$ref": "TabsCriteria"
        }
      }
    },
    "DeleteTabRequest": {
      "type": "object",
      "description": "Deletes a tab. If the tab has child tabs, they are deleted as well.",
      "id": "DeleteTabRequest",
      "properties": {
        "tabId": {
          "description": "The ID of the tab to delete.",
          "type": "string"
        }
      }
    },
    "NamedStylesSuggestionState": {
      "type": "object",
      "description": "The suggestion state of a NamedStyles message.",
      "properties": {
        "stylesSuggestionStates": {
          "items": {
            "$ref": "NamedStyleSuggestionState"
          },
          "type": "array",
          "description": "A mask that indicates which of the fields on the corresponding NamedStyle in styles have been changed in this suggestion. The order of these named style suggestion states matches the order of the corresponding named style within the named styles suggestion."
        }
      },
      "id": "NamedStylesSuggestionState"
    },
    "WriteControl": {
      "description": "Provides control over how write requests are executed.",
      "id": "WriteControl",
      "type": "object",
      "properties": {
        "targetRevisionId": {
          "type": "string",
          "description": "The optional target revision ID of the document the write request is applied to. If collaborator changes have occurred after the document was read using the API, the changes produced by this write request are applied against the collaborator changes. This results in a new revision of the document that incorporates both the collaborator changes and the changes in the request, with the Docs server resolving conflicting changes. When using target revision ID, the API client can be thought of as another collaborator of the document. The target revision ID can only be used to write to recent versions of a document. If the target revision is too far behind the latest revision, the request is not processed and returns a 400 bad request error. The request should be tried again after retrieving the latest version of the document. Usually a revision ID remains valid for use as a target revision for several minutes after it's read, but for frequently edited documents this window might be shorter."
        },
        "requiredRevisionId": {
          "type": "string",
          "description": "The optional revision ID of the document the write request is applied to. If this is not the latest revision of the document, the request is not processed and returns a 400 bad request error. When a required revision ID is returned in a response, it indicates the revision ID of the document after the request was applied."
        }
      }
    },
    "ReplaceAllTextResponse": {
      "type": "object",
      "properties": {
        "occurrencesChanged": {
          "format": "int32",
          "description": "The number of occurrences changed by replacing all text.",
          "type": "integer"
        }
      },
      "id": "ReplaceAllTextResponse",
      "description": "The result of replacing text."
    },
    "OptionalColor": {
      "description": "A color that can either be fully opaque or fully transparent.",
      "type": "object",
      "properties": {
        "color": {
          "description": "If set, this will be used as an opaque color. If unset, this represents a transparent color.",
          "$ref": "Color"
        }
      },
      "id": "OptionalColor"
    },
    "DeleteFooterRequest": {
      "id": "DeleteFooterRequest",
      "type": "object",
      "description": "Deletes a Footer from the document.",
      "properties": {
        "tabId": {
          "description": "The tab that contains the footer to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "footerId": {
          "description": "The id of the footer to delete. If this footer is defined on DocumentStyle, the reference to this footer is removed, resulting in no footer of that type for the first section of the document. If this footer is defined on a SectionStyle, the reference to this footer is removed and the footer of that type is now continued from the previous section.",
          "type": "string"
        }
      }
    },
    "Size": {
      "properties": {
        "height": {
          "$ref": "Dimension",
          "description": "The height of the object."
        },
        "width": {
          "$ref": "Dimension",
          "description": "The width of the object."
        }
      },
      "description": "A width and height.",
      "id": "Size",
      "type": "object"
    },
    "SuggestedListProperties": {
[...]
