{
  "description": "Reads and writes Google Docs documents.",
  "documentationLink": "https://developers.google.com/workspace/docs/",
  "id": "docs:v1",
  "version": "v1",
  "mtlsRootUrl": "https://docs.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Docs",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "revision": "20261006",
  "discoveryVersion": "v1",
  "version_module": true,
  "rootUrl": "https://docs.googleapis.com/",
  "batchPath": "batch",
  "name": "docs",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/documents.readonly": {
          "description": "See all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        }
      }
    }
  },
  "title": "Google Docs API",
  "ownerName": "Google",
  "protocol": "rest",
  "schemas": {
    "SuggestedParagraphStyle": {
      "description": "A suggested change to a ParagraphStyle.",
      "properties": {
        "paragraphStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion.",
          "$ref": "ParagraphStyleSuggestionState"
        },
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "A ParagraphStyle that only includes the changes made in this suggestion. This can be used along with the paragraph_style_suggestion_state to see which fields have changed and their new values."
        }
      },
      "type": "object",
      "id": "SuggestedParagraphStyle"
    },
    "CreateNamedRangeResponse": {
      "id": "CreateNamedRangeResponse",
      "properties": {
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the created named range."
        }
      },
      "description": "The result of creating a named range.",
      "type": "object"
    },
    "ParagraphElement": {
      "type": "object",
      "properties": {
        "person": {
          "description": "A paragraph element that links to a person or email address.",
          "$ref": "Person"
        },
        "endIndex": {
          "description": "The zero-base end index of this paragraph element, exclusive, in UTF-16 code units.",
          "type": "integer",
          "format": "int32"
        },
        "columnBreak": {
          "description": "A column break paragraph element.",
          "$ref": "ColumnBreak"
        },
        "startIndex": {
          "type": "integer",
          "description": "The zero-based start index of this paragraph element, in UTF-16 code units.",
          "format": "int32"
        },
        "pageBreak": {
          "description": "A page break paragraph element.",
          "$ref": "PageBreak"
        },
        "equation": {
          "$ref": "Equation",
          "description": "An equation paragraph element."
        },
        "textRun": {
          "$ref": "TextRun",
          "description": "A text run paragraph element."
        },
        "horizontalRule": {
          "description": "A horizontal rule paragraph element.",
          "$ref": "HorizontalRule"
        },
        "richLink": {
          "description": "A paragraph element that links to a Google resource (such as a file in Google Drive, a YouTube video, or a Calendar event.)",
          "$ref": "RichLink"
        },
        "dateElement": {
          "description": "A paragraph element that represents a date.",
          "$ref": "DateElement"
        },
        "footnoteReference": {
          "description": "A footnote reference paragraph element.",
          "$ref": "FootnoteReference"
        },
        "inlineObjectElement": {
          "description": "An inline object paragraph element.",
          "$ref": "InlineObjectElement"
        },
        "autoText": {
          "$ref": "AutoText",
          "description": "An auto text paragraph element."
        },
        "dropdown": {
          "$ref": "Dropdown",
          "description": "A paragraph element that represents a dropdown menu."
        }
      },
      "description": "A ParagraphElement describes content within a Paragraph.",
      "id": "ParagraphElement"
    },
    "MergeTableCellsRequest": {
      "description": "Merges cells in a Table.",
      "type": "object",
      "properties": {
        "tableRange": {
          "description": "The table range specifying which cells of the table to merge. Any text in the cells being merged will be concatenated and stored in the \"head\" cell of the range. This is the upper-left cell of the range when the content direction is left to right, and the upper-right cell of the range otherwise. If the range is non-rectangular (which can occur in some cases where the range covers cells that are already merged or where the table is non-rectangular), a 400 bad request error is returned.",
          "$ref": "TableRange"
        }
      },
      "id": "MergeTableCellsRequest"
    },
    "UpdateTableRowStyleRequest": {
      "id": "UpdateTableRowStyleRequest",
      "properties": {
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableRowStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the minimum row height, set `fields` to `\"min_row_height\"`.",
          "type": "string"
        },
        "tableRowStyle": {
          "description": "The styles to be set on the rows.",
          "$ref": "TableRowStyle"
        },
        "tableStartLocation": {
          "description": "The location where the table starts in the document.",
          "$ref": "Location"
        },
        "rowIndices": {
          "type": "array",
          "description": "The list of zero-based row indices whose style should be updated. If no indices are specified, all rows will be updated.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "type": "object",
      "description": "Updates the TableRowStyle of rows in a table."
    },
    "SheetsChartReference": {
      "description": "A reference to a linked chart embedded from Google Sheets.",
      "type": "object",
      "properties": {
        "chartId": {
          "description": "The ID of the specific chart in the Google Sheets spreadsheet that's embedded.",
          "format": "int32",
          "type": "integer"
        },
        "spreadsheetId": {
          "description": "The ID of the Google Sheets spreadsheet that contains the source chart.",
          "type": "string"
        }
      },
      "id": "SheetsChartReference"
    },
    "PinTableHeaderRowsRequest": {
      "properties": {
        "pinnedHeaderRowsCount": {
          "description": "The number of table rows to pin, where 0 implies that all rows are unpinned.",
          "type": "integer",
          "format": "int32"
        },
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        }
      },
      "description": "Updates the number of pinned table header rows in a table.",
      "type": "object",
      "id": "PinTableHeaderRowsRequest"
    },
    "Background": {
      "id": "Background",
      "properties": {
        "color": {
          "description": "The background color.",
          "$ref": "OptionalColor"
        }
      },
      "description": "Represents the background of a document.",
      "type": "object"
    },
    "EmbeddedObjectBorderSuggestionState": {
      "properties": {
        "dashStyleSuggested": {
          "description": "Indicates if there was a suggested change to dash_style.",
          "type": "boolean"
        },
        "propertyStateSuggested": {
          "description": "Indicates if there was a suggested change to property_state.",
          "type": "boolean"
        },
        "colorSuggested": {
          "description": "Indicates if there was a suggested change to color.",
          "type": "boolean"
        },
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "EmbeddedObjectBorderSuggestionState",
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "EmbeddedObjectSuggestionState": {
      "description": "A mask that indicates which of the fields on the base EmbeddedObject have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "id": "EmbeddedObjectSuggestionState",
      "properties": {
        "imagePropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in image_properties have been changed in this suggestion.",
          "$ref": "ImagePropertiesSuggestionState"
        },
        "marginBottomSuggested": {
          "description": "Indicates if there was a suggested change to margin_bottom.",
          "type": "boolean"
        },
        "marginLeftSuggested": {
          "description": "Indicates if there was a suggested change to margin_left.",
          "type": "boolean"
        },
        "descriptionSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to description."
        },
        "linkedContentReferenceSuggestionState": {
          "description": "A mask that indicates which of the fields in linked_content_reference have been changed in this suggestion.",
          "$ref": "LinkedContentReferenceSuggestionState"
        },
        "marginRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_right."
        },
        "marginTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_top."
        },
        "embeddedObjectBorderSuggestionState": {
          "$ref": "EmbeddedObjectBorderSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object_border have been changed in this suggestion."
        },
        "titleSuggested": {
          "description": "Indicates if there was a suggested change to title.",
          "type": "boolean"
        },
        "embeddedDrawingPropertiesSuggestionState": {
          "$ref": "EmbeddedDrawingPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_drawing_properties have been changed in this suggestion."
        },
        "sizeSuggestionState": {
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion.",
          "$ref": "SizeSuggestionState"
        }
      }
    },
    "InsertPageBreakRequest": {
      "type": "object",
      "id": "InsertPageBreakRequest",
      "description": "Inserts a page break followed by a newline at the specified location.",
      "properties": {
        "location": {
          "$ref": "Location",
          "description": "Inserts the page break at a specific index in the document. The page break must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Page breaks cannot be inserted inside a table, equation, footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty."
        },
        "endOfSegmentLocation": {
          "description": "Inserts the page break at the end of the document body. Page breaks cannot be inserted inside a footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        }
      }
    },
    "BatchUpdateDocumentRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "Request"
          },
          "description": "A list of updates to apply to the document.",
          "type": "array"
        },
        "writeControl": {
          "$ref": "WriteControl",
          "description": "Provides control over how write requests are executed."
        }
      },
      "type": "object",
      "description": "Request message for BatchUpdateDocument.",
      "id": "BatchUpdateDocumentRequest"
    },
    "HeadingLink": {
      "type": "object",
      "properties": {
        "tabId": {
          "description": "The ID of the tab containing this heading.",
          "type": "string"
        },
        "id": {
          "description": "The ID of a heading in this document.",
          "type": "string"
        }
      },
      "description": "A reference to a heading in this document.",
      "id": "HeadingLink"
    },
    "SuggestedDateElementProperties": {
      "properties": {
        "dateElementPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion.",
          "$ref": "DateElementPropertiesSuggestionState"
        },
        "dateElementProperties": {
          "$ref": "DateElementProperties",
          "description": "DateElementProperties that only includes the changes made in this suggestion. This can be used along with the date_element_properties_suggestion_state to see which fields have changed and their new values."
        }
      },
      "description": "A suggested change to a DateElementProperties.",
      "id": "SuggestedDateElementProperties",
      "type": "object"
    },
    "UpdateDocumentStyleRequest": {
      "id": "UpdateDocumentStyleRequest",
      "properties": {
        "documentStyle": {
          "description": "The styles to set on the document. Certain document style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of DocumentStyle for more information.",
          "$ref": "DocumentStyle"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `document_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the background, set `fields` to `\"background\"`.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "tabId": {
          "description": "The tab that contains the style to update. When omitted, the request applies to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If not provided, the request applies to the first tab in the document.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Updates the DocumentStyle."
    },
    "DropdownDefinitionPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base DropdownDefinitionProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "properties": {
        "titleSuggested": {
          "description": "Indicates if there was a suggested change to title.",
          "type": "boolean"
        },
        "optionsSuggested": {
          "description": "Indicates if there was a suggested change to options.",
          "type": "boolean"
        }
      },
      "id": "DropdownDefinitionPropertiesSuggestionState"
    },
    "AddDocumentTabRequest": {
      "properties": {
        "tabProperties": {
          "description": "The properties of the tab to add. All properties are optional.",
          "$ref": "TabProperties"
        }
      },
      "description": "Adds a document tab. When a tab is added at a given index, all subsequent tabs' indexes are incremented.",
      "id": "AddDocumentTabRequest",
      "type": "object"
    },
    "NestingLevelSuggestionState": {
      "type": "object",
      "properties": {
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion.",
          "$ref": "TextStyleSuggestionState"
        },
        "glyphSymbolSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to glyph_symbol."
        },
        "startNumberSuggested": {
          "description": "Indicates if there was a suggested change to start_number.",
          "type": "boolean"
        },
        "indentStartSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_start."
        },
        "glyphFormatSuggested": {
          "description": "Indicates if there was a suggested change to glyph_format.",
          "type": "boolean"
        },
        "indentFirstLineSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_first_line."
        },
        "bulletAlignmentSuggested": {
          "description": "Indicates if there was a suggested change to bullet_alignment.",
          "type": "boolean"
        },
        "glyphTypeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to glyph_type."
        }
      },
      "id": "NestingLevelSuggestionState",
      "description": "A mask that indicates which of the fields on the base NestingLevel have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "Range": {
      "properties": {
        "endIndex": {
          "description": "The zero-based end index of this range, exclusive, in UTF-16 code units. In all current uses, an end index must be provided. This field is an Int32Value in order to accommodate future use cases with open-ended ranges.",
          "format": "int32",
          "type": "integer"
        },
        "segmentId": {
          "description": "The ID of the header, footer, or footnote that this range is contained in. An empty segment ID signifies the document's body.",
          "type": "string"
        },
        "startIndex": {
          "description": "The zero-based start index of this range, in UTF-16 code units. In all current uses, a start index must be provided. This field is an Int32Value in order to accommodate future use cases with open-ended ranges.",
          "type": "integer",
          "format": "int32"
        },
        "tabId": {
          "description": "The tab that contains this range. When omitted, the request applies to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        }
      },
      "description": "Specifies a contiguous range of text.",
      "id": "Range",
      "type": "object"
    },
    "TextRun": {
      "type": "object",
      "properties": {
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "textStyle": {
          "description": "The text style of this run.",
          "$ref": "TextStyle"
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this run, keyed by suggestion ID."
        },
        "content": {
          "description": "The text of this run. Any non-text elements in the run are replaced with the Unicode character U+E907.",
          "type": "string"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TextRun may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A ParagraphElement that represents a run of text that all has the same styling.",
      "id": "TextRun"
    },
    "CreateFooterRequest": {
      "id": "CreateFooterRequest",
      "properties": {
        "sectionBreakLocation": {
          "$ref": "Location",
          "description": "The location of the SectionBreak immediately preceding the section whose SectionStyle this footer should belong to. If this is unset or refers to the first section break in the document, the footer applies to the document style."
        },
        "type": {
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ],
          "description": "The type of footer to create.",
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Creates a Footer. The new footer is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a footer of the specified type already exists, a 400 bad request error is returned."
    },
    "Footnote": {
      "properties": {
        "content": {
          "items": {
            "$ref": "StructuralElement"
          },
          "type": "array",
          "description": "The contents of the footnote. The indexes for a footnote's content begin at zero."
        },
        "footnoteId": {
          "type": "string",
          "description": "The ID of the footnote."
        }
      },
      "description": "A document footnote.",
      "type": "object",
      "id": "Footnote"
    },
    "UpdateDropdownPropertiesRequest": {
      "description": "Updates the properties of a Dropdown.",
      "properties": {
        "tabId": {
          "description": "The ID of the tab that contains the dropdown to update. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "dropdownProperties": {
          "description": "The properties to update.",
          "$ref": "DropdownProperties"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `dropdown_properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "dropdownId": {
          "type": "string",
          "description": "Required. The Dropdown ID."
        }
      },
      "type": "object",
      "id": "UpdateDropdownPropertiesRequest"
    },
    "ImagePropertiesSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "contrastSuggested": {
          "description": "Indicates if there was a suggested change to contrast.",
          "type": "boolean"
        },
        "transparencySuggested": {
          "description": "Indicates if there was a suggested change to transparency.",
          "type": "boolean"
        },
        "angleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to angle."
        },
        "contentUriSuggested": {
          "description": "Indicates if there was a suggested change to content_uri.",
          "type": "boolean"
        },
        "brightnessSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to brightness."
        },
        "cropPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in crop_properties have been changed in this suggestion.",
          "$ref": "CropPropertiesSuggestionState"
        },
        "sourceUriSuggested": {
          "description": "Indicates if there was a suggested change to source_uri.",
          "type": "boolean"
        }
      },
      "id": "ImagePropertiesSuggestionState"
    },
    "AcceptSuggestionRequest": {
      "type": "object",
      "id": "AcceptSuggestionRequest",
      "properties": {
        "suggestionId": {
          "description": "The ID of the suggestion.",
          "type": "string"
        }
      },
      "description": "Accepts a suggestion. Returns a 403 forbidden error if the requesting user does not have edit access to the document."
    },
    "SubstringMatchCriteria": {
      "description": "A criteria that matches a specific string of text in the document.",
      "properties": {
        "searchByRegex": {
          "description": "Optional. True if the find value should be treated as a regular expression. Any backslashes in the pattern should be escaped. - `True`: the search text is treated as a regular expressions. - `False`: the search text is treated as a substring for matching.",
          "type": "boolean"
        },
        "matchCase": {
          "description": "Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive.",
          "type": "boolean"
        },
        "text": {
          "description": "The text to search for in the document.",
          "type": "string"
        }
      },
      "id": "SubstringMatchCriteria",
      "type": "object"
    },
    "FootnoteReference": {
      "properties": {
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this FootnoteReference."
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "footnoteNumber": {
          "description": "The rendered number of this footnote.",
          "type": "string"
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this FootnoteReference, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. A FootnoteReference may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "footnoteId": {
          "type": "string",
          "description": "The ID of the footnote that contains the content of this footnote reference."
        }
      },
      "description": "A ParagraphElement representing a footnote reference. A footnote reference is the inline content rendered with a number and is used to identify the footnote.",
      "type": "object",
      "id": "FootnoteReference"
    },
    "DocumentTab": {
      "type": "object",
      "description": "A tab with document contents.",
      "id": "DocumentTab",
      "properties": {
        "namedStyles": {
          "description": "The named styles of the document tab.",
          "$ref": "NamedStyles"
        },
        "namedRanges": {
          "description": "The named ranges in the document tab, keyed by name.",
          "type": "object",
          "additionalProperties": {
            "$ref": "NamedRanges"
          }
        },
        "positionedObjects": {
          "type": "object",
          "description": "The positioned objects in the document tab, keyed by object ID.",
          "additionalProperties": {
            "$ref": "PositionedObject"
          }
        },
        "body": {
          "description": "The main body of the document tab.",
          "$ref": "Body"
        },
        "headers": {
          "additionalProperties": {
            "$ref": "Header"
          },
          "type": "object",
          "description": "The headers in the document tab, keyed by header ID."
        },
        "footnotes": {
          "additionalProperties": {
            "$ref": "Footnote"
          },
          "type": "object",
          "description": "The footnotes in the document tab, keyed by footnote ID."
        },
        "commentAnchors": {
          "additionalProperties": {
            "$ref": "CommentAnchor"
          },
          "description": "The comment anchors in a document tab, keyed by anchor ID. Only populated if the commentsViewMode parameter is set to require comments (such as `COMMENTS_VIEW_MODE_INCLUDED`).",
          "type": "object"
        },
        "dropdownDefinitions": {
          "additionalProperties": {
            "$ref": "DropdownDefinition"
          },
          "type": "object",
          "description": "The dropdown definitions in a document tab, keyed by dropdown definition ID."
        },
        "inlineObjects": {
          "type": "object",
          "description": "The inline objects in the document tab, keyed by object ID.",
          "additionalProperties": {
            "$ref": "InlineObject"
          }
        },
        "documentStyle": {
          "description": "The style of the document tab.",
          "$ref": "DocumentStyle"
        },
        "lists": {
          "additionalProperties": {
            "$ref": "List"
          },
          "type": "object",
          "description": "The lists in the document tab, keyed by list ID."
        },
        "footers": {
          "additionalProperties": {
            "$ref": "Footer"
          },
          "description": "The footers in the document tab, keyed by footer ID.",
          "type": "object"
        },
        "suggestedNamedStylesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          },
          "description": "The suggested changes to the named styles of the document tab, keyed by suggestion ID.",
          "type": "object"
        },
        "suggestedDocumentStyleChanges": {
          "type": "object",
          "description": "The suggested changes to the style of the document tab, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          }
        }
      }
    },
    "NestingLevel": {
      "type": "object",
      "id": "NestingLevel",
      "properties": {
        "glyphType": {
          "description": "The type of glyph used by bullets when paragraphs at this level of nesting is ordered. The glyph type determines the type of glyph used to replace placeholders within the glyph_format when paragraphs at this level of nesting are ordered. For example, if the nesting level is 0, the glyph_format is `%0.` and the glyph type is DECIMAL, then the rendered glyph would replace the placeholder `%0` in the glyph format with a number corresponding to the list item's order within the list.",
          "type": "string",
          "enumDescriptions": [
            "The glyph type is unspecified or unsupported.",
            "An empty string.",
            "A number, like `1`, `2`, or `3`.",
            "A number where single digit numbers are prefixed with a zero, like `01`, `02`, or `03`. Numbers with more than one digit are not prefixed with a zero.",
            "An uppercase letter, like `A`, `B`, or `C`.",
            "A lowercase letter, like `a`, `b`, or `c`.",
            "An uppercase Roman numeral, like `I`, `II`, or `III`.",
            "A lowercase Roman numeral, like `i`, `ii`, or `iii`."
          ],
          "enum": [
            "GLYPH_TYPE_UNSPECIFIED",
            "NONE",
            "DECIMAL",
            "ZERO_DECIMAL",
            "UPPER_ALPHA",
            "ALPHA",
            "UPPER_ROMAN",
            "ROMAN"
          ]
        },
        "indentFirstLine": {
          "description": "The amount of indentation for the first line of paragraphs at this level of nesting.",
          "$ref": "Dimension"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of bullets at this level of nesting."
        },
        "startNumber": {
          "type": "integer",
          "description": "The number of the first list item at this nesting level. A value of 0 is treated as a value of 1 for lettered lists and Roman numeral lists. For values of both 0 and 1, lettered and Roman numeral lists will begin at `a` and `i` respectively. This value is ignored for nesting levels with unordered glyphs.",
          "format": "int32"
        },
        "bulletAlignment": {
          "enum": [
            "BULLET_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "enumDescriptions": [
            "The bullet alignment is unspecified.",
            "The bullet is aligned to the start of the space allotted for rendering the bullet. Left-aligned for LTR text, right-aligned otherwise.",
            "The bullet is aligned to the center of the space allotted for rendering the bullet.",
            "The bullet is aligned to the end of the space allotted for rendering the bullet. Right-aligned for LTR text, left-aligned otherwise."
          ],
          "description": "The alignment of the bullet within the space allotted for rendering the bullet.",
          "type": "string"
        },
        "glyphSymbol": {
          "type": "string",
          "description": "A custom glyph symbol used by bullets when paragraphs at this level of nesting is unordered. The glyph symbol replaces placeholders within the glyph_format. For example, if the glyph_symbol is the solid circle corresponding to Unicode U+25cf code point and the glyph_format is `%0`, the rendered glyph would be the solid circle."
        },
        "glyphFormat": {
          "description": "The format string used by bullets at this level of nesting. The glyph format contains one or more placeholders, and these placeholders are replaced with the appropriate values depending on the glyph_type or glyph_symbol. The placeholders follow the pattern `%[nesting_level]`. Furthermore, placeholders can have prefixes and suffixes. Thus, the glyph format follows the pattern `%[nesting_level]`. Note that the prefix and suffix are optional and can be arbitrary strings. For example, the glyph format `%0.` indicates that the rendered glyph will replace the placeholder with the corresponding glyph for nesting level 0 followed by a period as the suffix. So a list with a glyph type of UPPER_ALPHA and glyph format `%0.` at nesting level 0 will result in a list with rendered glyphs `A.` `B.` `C.` The glyph format can contain placeholders for the current nesting level as well as placeholders for parent nesting levels. For example, a list can have a glyph format of `%0.` at nesting level 0 and a glyph format of `%0.%1.` at nesting level 1. Assuming both nesting levels have DECIMAL glyph types, this would result in a list with rendered glyphs `1.` `2.` ` 2.1.` ` 2.2.` `3.` For nesting levels that are ordered, the string that replaces a placeholder in the glyph format for a particular paragraph depends on the paragraph's order within the list.",
          "type": "string"
        },
        "indentStart": {
          "description": "The amount of indentation for paragraphs at this level of nesting. Applied to the side that corresponds to the start of the text, based on the paragraph's content direction.",
          "$ref": "Dimension"
        }
      },
      "description": "Contains properties describing the look and feel of a list bullet at a given level of nesting."
    },
    "CreateNamedRangeRequest": {
      "id": "CreateNamedRangeRequest",
      "description": "Creates a NamedRange referencing the given range.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the NamedRange. Names do not need to be unique. Names must be at least 1 character and no more than 256 characters, measured in UTF-16 code units."
        },
        "range": {
          "description": "The range to apply the name to.",
          "$ref": "Range"
        }
      }
    },
    "DeletePositionedObjectRequest": {
      "properties": {
        "tabId": {
          "description": "The tab that the positioned object to delete is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "objectId": {
          "type": "string",
          "description": "The ID of the positioned object to delete."
        }
      },
      "type": "object",
      "description": "Deletes a PositionedObject from the document.",
      "id": "DeletePositionedObjectRequest"
    },
    "BatchUpdateDocumentResponse": {
      "id": "BatchUpdateDocumentResponse",
      "description": "Response message from a BatchUpdateDocument request.",
      "properties": {
        "writeControl": {
          "$ref": "WriteControl",
          "description": "The updated write control after applying the request."
        },
        "replies": {
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.",
          "type": "array",
          "items": {
            "$ref": "Response"
          }
        },
        "suggestionResponses": {
          "items": {
            "$ref": "SuggestionResponse"
          },
          "type": "array",
          "description": "The suggestions which were affected by each update. This maps 1:1 with the updates."
        },
        "commentUpdateState": {
          "enumDescriptions": [
            "The status of comment updates is unspecified.",
            "No comment updates were requested in the batch request.",
            "All requested comment updates were applied in the batch request.",
            "All requested comment updates failed."
          ],
          "enum": [
            "COMMENT_UPDATE_STATE_UNSPECIFIED",
            "NO_UPDATES_REQUESTED",
            "ALL_SAVED",
            "ALL_FAILED_UNKNOWN_REASON"
          ],
          "description": "Whether comment updates were applied in the batch request.",
          "type": "string"
        },
        "documentId": {
          "type": "string",
          "description": "The ID of the document to which the updates were applied to."
        }
      },
      "type": "object"
    },
    "TabStop": {
      "properties": {
        "alignment": {
          "enumDescriptions": [
            "The tab stop alignment is unspecified.",
            "The tab stop is aligned to the start of the line. This is the default.",
            "The tab stop is aligned to the center of the line.",
            "The tab stop is aligned to the end of the line."
          ],
          "type": "string",
          "description": "The alignment of this tab stop. If unset, the value defaults to START.",
          "enum": [
            "TAB_STOP_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ]
        },
        "offset": {
          "$ref": "Dimension",
          "description": "The offset between this tab stop and the start margin."
        }
      },
      "type": "object",
      "description": "A tab stop within a paragraph.",
      "id": "TabStop"
    },
    "EmbeddedObjectBorder": {
      "type": "object",
      "properties": {
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        },
        "dashStyle": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "description": "The dash style of the border.",
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ]
        },
        "color": {
          "description": "The color of the border.",
          "$ref": "OptionalColor"
        },
        "propertyState": {
          "type": "string",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered in the document. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered in the document."
          ],
          "description": "The property state of the border property.",
          "enum": [
            "RENDERED",
            "NOT_RENDERED"
          ]
        }
      },
      "id": "EmbeddedObjectBorder",
      "description": "A border around an EmbeddedObject."
    },
    "ListProperties": {
      "description": "The properties of a list that describe the look and feel of bullets belonging to paragraphs associated with a list.",
      "properties": {
        "nestingLevels": {
          "items": {
            "$ref": "NestingLevel"
          },
          "type": "array",
          "description": "Describes the properties of the bullets at the associated level. A list has at most 9 levels of nesting with nesting level 0 corresponding to the top-most level and nesting level 8 corresponding to the most nested level. The nesting levels are returned in ascending order with the least nested returned first."
        }
      },
      "type": "object",
      "id": "ListProperties"
    },
    "AutoText": {
      "id": "AutoText",
      "description": "A ParagraphElement representing a spot in the text that's dynamically replaced with content that can change over time, like a page number.",
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. An AutoText may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this AutoText, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "textStyle": {
          "description": "The text style of this AutoText.",
          "$ref": "TextStyle"
        },
        "type": {
          "enumDescriptions": [
            "An unspecified auto text type.",
            "Type for auto text that represents the current page number.",
            "Type for auto text that represents the total number of pages in the document."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PAGE_NUMBER",
            "PAGE_COUNT"
          ],
          "description": "The type of this auto text.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TableOfContents": {
      "properties": {
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested insertion IDs. A TableOfContents may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "content": {
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The content of the table of contents.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "TableOfContents",
      "description": "A StructuralElement representing a table of contents."
    },
    "UpdateNamedStyleRequest": {
      "id": "UpdateNamedStyleRequest",
      "description": "Updates a named style.",
      "properties": {
        "tabId": {
          "description": "The document tab to update. By default, the update is applied to the first tab.",
          "type": "string"
        },
        "fields": {
          "description": "The NamedStyle fields that should be updated. At least `named_style_type` must be specified. The root `named_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to include `\"text_style\"` and `\"text_style.bold\"`. To update the paragraph style's alignment property, set `fields` to include `\"paragraph_style\"` and `\"paragraph_style.alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset. Specifying `\"text_style\"` or `\"paragraph_style\"` with an empty TextStyle or ParagraphStyle will reset all of its nested fields.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "namedStyle": {
          "$ref": "NamedStyle",
          "description": "The document style to update."
        }
      },
      "type": "object"
    },
    "ParagraphBorder": {
      "id": "ParagraphBorder",
      "properties": {
        "width": {
          "$ref": "Dimension",
          "description": "The width of the border."
        },
        "padding": {
          "$ref": "Dimension",
          "description": "The padding of the border."
        },
        "color": {
          "description": "The color of the border.",
          "$ref": "OptionalColor"
        },
        "dashStyle": {
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "description": "The dash style of the border.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A border around a paragraph."
    },
    "DeleteTableRowRequest": {
      "type": "object",
      "id": "DeleteTableRowRequest",
      "description": "Deletes a row from a table.",
      "properties": {
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which the row will be deleted. The row this cell spans will be deleted. If this is a merged cell that spans multiple rows, all rows that the cell spans will be deleted. If no rows remain in the table after this deletion, the whole table is deleted."
        }
      }
    },
    "SuggestionResponse": {
      "id": "SuggestionResponse",
      "description": "The suggestions which were affected by a given update.",
      "type": "object",
      "properties": {
        "acceptedSuggestionIds": {
          "description": "The IDs of suggestions which were accepted during the update.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deletedSuggestionIds": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of suggestions which were deleted during the update.",
          "type": "array"
        },
        "updatedSummarySuggestionIds": {
          "type": "array",
          "description": "The IDs of suggestions whose summaries were updated during the update.",
          "items": {
            "type": "string"
          }
        },
        "createdSuggestionIds": {
          "type": "array",
          "description": "The IDs of suggestions which were created during the update.",
          "items": {
            "type": "string"
          }
        },
        "rejectedSuggestionIds": {
          "description": "The IDs of suggestions which were rejected during the update.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "InsertDropdownRequest": {
      "description": "Inserts a Dropdown at the specified location.",
      "type": "object",
      "properties": {
        "location": {
          "description": "The Location in the document to insert the dropdown at.",
          "$ref": "Location"
        },
        "selectedOptionId": {
          "description": "Optional initial value for the dropdown. If this field is not specified, the new dropdown will default to selecting the first option defined in the dropdown definition. If this field is specified but does not reference a valid option in the dropdown definition, a 400 bad request error is returned.",
          "type": "string"
        },
        "endOfSegmentLocation": {
          "description": "The EndOfSegmentLocation in the document to insert the dropdown at.",
          "$ref": "EndOfSegmentLocation"
        },
        "dropdownDefinitionId": {
          "description": "Required. The DropdownDefinition ID.",
          "type": "string"
        }
      },
      "id": "InsertDropdownRequest"
    },
    "InsertDropdownResponse": {
      "type": "object",
      "description": "The result of inserting a Dropdown.",
      "id": "InsertDropdownResponse",
      "properties": {
        "dropdown": {
          "description": "The newly-inserted Dropdown.",
          "$ref": "Dropdown"
        }
      }
    },
    "InsertTableRowRequest": {
      "id": "InsertTableRowRequest",
      "type": "object",
      "properties": {
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which rows will be inserted. A new row will be inserted above (or below) the row where the reference cell is. If the reference cell is a merged cell, a new row will be inserted above (or below) the merged cell."
        },
        "insertBelow": {
          "type": "boolean",
          "description": "Whether to insert new row below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell."
        }
      },
      "description": "Inserts an empty row into a table."
    },
    "TableRowStyle": {
      "properties": {
        "minRowHeight": {
          "$ref": "Dimension",
          "description": "The minimum height of the row. The row will be rendered in the Docs editor at a height equal to or greater than this value in order to show all the content in the row's cells."
        },
        "tableHeader": {
          "description": "Whether the row is a table header.",
          "type": "boolean"
        },
        "preventOverflow": {
          "description": "Whether the row cannot overflow across page or column boundaries.",
          "type": "boolean"
        }
      },
      "description": "Styles that apply to a table row.",
      "type": "object",
      "id": "TableRowStyle"
    },
    "DateElement": {
      "description": "A date instance mentioned in a document.",
      "properties": {
        "suggestedDeletionIds": {
          "description": "IDs for suggestions that remove this date from the document. A DateElement might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this date isn't suggested for deletion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dateElementProperties": {
          "description": "The properties of this DateElement.",
          "$ref": "DateElementProperties"
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this DateElement, keyed by suggestion ID."
        },
        "suggestedInsertionIds": {
          "description": "IDs for suggestions that insert this date into the document. A DateElement might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this date isn't a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dateId": {
          "type": "string",
          "description": "Output only. The unique ID of this date.",
          "readOnly": true
        },
        "suggestedDateElementPropertiesChanges": {
          "description": "The suggested changes to the date element properties, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedDateElementProperties"
          },
          "type": "object"
        },
        "textStyle": {
          "description": "The text style of this DateElement.",
          "$ref": "TextStyle"
        }
      },
      "type": "object",
      "id": "DateElement"
    },
    "RgbColor": {
      "type": "object",
      "id": "RgbColor",
      "properties": {
        "red": {
          "description": "The red component of the color, from 0.0 to 1.0.",
          "type": "number",
          "format": "float"
        },
        "green": {
          "format": "float",
          "description": "The green component of the color, from 0.0 to 1.0.",
          "type": "number"
        },
        "blue": {
          "format": "float",
          "description": "The blue component of the color, from 0.0 to 1.0.",
          "type": "number"
        }
      },
      "description": "An RGB color."
    },
    "EndOfSegmentLocation": {
      "description": "Location at the end of a body, header, footer or footnote. The location is immediately before the last newline in the document segment.",
      "properties": {
        "segmentId": {
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body.",
          "type": "string"
        },
        "tabId": {
          "type": "string",
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        }
      },
      "type": "object",
      "id": "EndOfSegmentLocation"
    },
    "BulletSuggestionState": {
      "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "nestingLevelSuggested": {
          "description": "Indicates if there was a suggested change to the nesting_level.",
          "type": "boolean"
        },
        "listIdSuggested": {
          "description": "Indicates if there was a suggested change to the list_id.",
          "type": "boolean"
        },
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion.",
          "$ref": "TextStyleSuggestionState"
        }
      },
      "id": "BulletSuggestionState",
      "type": "object"
    },
    "BookmarkLink": {
      "type": "object",
      "id": "BookmarkLink",
      "properties": {
        "tabId": {
          "description": "The ID of the tab containing this bookmark.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of a bookmark in this document."
        }
      },
      "description": "A reference to a bookmark in this document."
    },
    "SuggestedPositionedObjectProperties": {
      "id": "SuggestedPositionedObjectProperties",
      "type": "object",
      "properties": {
        "positionedObjectProperties": {
          "description": "A PositionedObjectProperties that only includes the changes made in this suggestion. This can be used along with the positioned_object_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "PositionedObjectProperties"
        },
        "positionedObjectPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion.",
          "$ref": "PositionedObjectPropertiesSuggestionState"
        }
      },
      "description": "A suggested change to PositionedObjectProperties."
    },
    "Bullet": {
      "properties": {
        "nestingLevel": {
          "format": "int32",
          "description": "The nesting level of this paragraph in the list.",
          "type": "integer"
        },
        "listId": {
          "description": "The ID of the list this paragraph belongs to.",
          "type": "string"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The paragraph-specific text style applied to this bullet."
        }
      },
      "id": "Bullet",
      "type": "object",
      "description": "Describes the bullet of a paragraph."
    },
    "SuggestedInlineObjectProperties": {
      "description": "A suggested change to InlineObjectProperties.",
      "properties": {
        "inlineObjectPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion.",
          "$ref": "InlineObjectPropertiesSuggestionState"
        },
        "inlineObjectProperties": {
          "description": "An InlineObjectProperties that only includes the changes made in this suggestion. This can be used along with the inline_object_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "InlineObjectProperties"
        }
      },
      "id": "SuggestedInlineObjectProperties",
      "type": "object"
    },
    "UpdateTextStyleRequest": {
      "description": "Update the styling of text.",
      "properties": {
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `text_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to `\"bold\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The styles to set on the text. If the value for a particular style matches that of the parent, that style will be set to inherit. Certain text style changes may cause other changes in order to to mirror the behavior of the Docs editor. See the documentation of TextStyle for more information."
        },
        "range": {
          "description": "The range of text to style. The range may be extended to include adjacent newlines. If the range fully contains a paragraph belonging to a list, the paragraph's bullet is also updated with the matching text style. Ranges cannot be inserted inside a relative UpdateTextStyleRequest.",
          "$ref": "Range"
        }
      },
      "type": "object",
      "id": "UpdateTextStyleRequest"
    },
    "TableRange": {
      "type": "object",
      "properties": {
        "rowSpan": {
          "type": "integer",
          "format": "int32",
          "description": "The row span of the table range."
        },
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The cell location where the table range starts."
        },
        "columnSpan": {
          "format": "int32",
          "type": "integer",
          "description": "The column span of the table range."
        }
      },
      "description": "A table range represents a reference to a subset of a table. It's important to note that the cells specified by a table range do not necessarily form a rectangle. For example, let's say we have a 3 x 3 table where all the cells of the last row are merged together. The table looks like this: [ ] A table range with table cell location = (table_start_location, row = 0, column = 0), row span = 3 and column span = 2 specifies the following cells: x x [ x x x ]",
      "id": "TableRange"
    },
    "Equation": {
      "id": "Equation",
      "description": "A ParagraphElement representing an equation.",
      "type": "object",
      "properties": {
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. An Equation may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DropdownDefinition": {
      "properties": {
        "dropdownDefinitionProperties": {
          "description": "The properties of this dropdown definition.",
          "$ref": "DropdownDefinitionProperties"
        },
        "suggestedDeletionId": {
          "type": "string",
          "description": "ID for suggestion that deletes this dropdown definition."
        },
        "suggestedInsertionId": {
          "type": "string",
          "description": "ID for suggestion that inserts this dropdown definition."
        },
        "suggestedDropdownDefinitionPropertiesChanges": {
          "type": "object",
          "description": "Suggested property changes to this definition, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedDropdownDefinitionProperties"
          }
        },
        "dropdownDefinitionId": {
          "type": "string",
          "description": "The ID of this dropdown definition. If you specify an ID, it must be unique among all IDs in the tab. The ID must start with `kix.` and match regex `^kix\\.[a-zA-Z0-9_-]{2,14}$` (length 6-18 chars). If you don't specify an ID, a unique one is generated."
        }
      },
      "type": "object",
      "description": "A dropdown definition in the document.",
      "id": "DropdownDefinition"
    },
    "CommentThread": {
      "type": "object",
      "id": "CommentThread",
      "description": "Represents a single comment thread.",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "OPEN",
            "RESOLVED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The comment thread is open.",
            "The comment thread is resolved."
          ],
          "description": "Whether the thread is open or resolved."
        },
        "headPost": {
          "$ref": "Post",
          "description": "The first post in the thread."
        },
        "plainTextQuote": {
          "type": "string",
          "description": "The quoted text from the document when the comment was created, formatted as plain-text."
        },
        "replies": {
          "description": "Replies to the head post.",
          "items": {
            "$ref": "Post"
          },
          "type": "array"
        },
        "anchorId": {
          "type": "string",
          "description": "The ID of the CommentAnchor in the document that this thread is tied to. Multiple comment threads may be anchored to the same CommentAnchor."
        },
        "commentId": {
          "description": "The unique ID of the comment thread.",
          "type": "string"
        }
      }
    },
    "InsertTableRequest": {
      "id": "InsertTableRequest",
      "description": "Inserts a table at the specified location. A newline character will be inserted before the inserted table.",
      "properties": {
        "location": {
          "$ref": "Location",
          "description": "Inserts the table at a specific model index. A newline character will be inserted before the inserted table, therefore the table start index will be at the specified location index + 1. The table must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph). Tables cannot be inserted inside a footnote or equation."
        },
        "columns": {
          "type": "integer",
          "description": "The number of columns in the table.",
          "format": "int32"
        },
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the table at the end of the given header, footer or document body. A newline character will be inserted before the inserted table. Tables cannot be inserted inside a footnote."
        },
        "rows": {
          "format": "int32",
          "type": "integer",
          "description": "The number of rows in the table."
        }
      },
      "type": "object"
    },
    "InsertDateRequest": {
      "type": "object",
      "properties": {
        "dateElementProperties": {
          "description": "The properties of the date to insert.",
          "$ref": "DateElementProperties"
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the date at a specific index in the document. The date must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph)."
        },
        "endOfSegmentLocation": {
          "description": "Inserts the date at the end of the given header, footer or document body.",
          "$ref": "EndOfSegmentLocation"
        }
      },
      "description": "Inserts a date at the specified location.",
      "id": "InsertDateRequest"
    },
    "DocumentStyleSuggestionState": {
      "id": "DocumentStyleSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "marginBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_bottom."
        },
        "firstPageFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to first_page_footer_id."
        },
        "useCustomHeaderFooterMarginsSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to use_custom_header_footer_margins."
        },
        "pageSizeSuggestionState": {
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion.",
          "$ref": "SizeSuggestionState"
        },
        "firstPageHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to first_page_header_id."
        },
        "backgroundSuggestionState": {
          "description": "A mask that indicates which of the fields in background have been changed in this suggestion.",
          "$ref": "BackgroundSuggestionState"
        },
        "useFirstPageHeaderFooterSuggested": {
          "description": "Indicates if there was a suggested change to use_first_page_header_footer.",
          "type": "boolean"
        },
        "pageNumberStartSuggested": {
          "description": "Indicates if there was a suggested change to page_number_start.",
          "type": "boolean"
        },
        "marginTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_top."
        },
        "evenPageFooterIdSuggested": {
          "description": "Indicates if there was a suggested change to even_page_footer_id.",
          "type": "boolean"
        },
        "defaultHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to default_header_id."
        },
        "defaultFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to default_footer_id."
        },
        "evenPageHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to even_page_header_id."
        },
        "marginFooterSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_footer."
        },
        "flipPageOrientationSuggested": {
          "description": "Optional. Indicates if there was a suggested change to flip_page_orientation.",
          "type": "boolean"
        },
        "marginLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_left."
        },
        "marginRightSuggested": {
          "description": "Indicates if there was a suggested change to margin_right.",
          "type": "boolean"
        },
        "useEvenPageHeaderFooterSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to use_even_page_header_footer."
        },
        "marginHeaderSuggested": {
          "description": "Indicates if there was a suggested change to margin_header.",
          "type": "boolean"
        }
      }
    },
    "UpdateSectionStyleRequest": {
      "type": "object",
      "properties": {
        "sectionStyle": {
          "description": "The styles to be set on the section. Certain section style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of SectionStyle for more information.",
          "$ref": "SectionStyle"
        },
        "range": {
          "description": "The range overlapping the sections to style. Because section breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "Range"
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `section_style` is implied and must not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the left margin, set `fields` to `\"margin_left\"`."
        }
      },
      "id": "UpdateSectionStyleRequest",
      "description": "Updates the SectionStyle."
    },
    "RichLinkProperties": {
      "properties": {
        "mimeType": {
          "description": "The [MIME type](https://developers.google.com/drive/api/v3/mime-types) of the RichLink, if there's one (for example, when it's a file in Drive).",
          "type": "string"
        },
        "uri": {
          "description": "The URI to the RichLink. This is always present.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the RichLink as displayed in the link. This title matches the title of the linked resource at the time of the insertion or last update of the link. This field is always present."
        }
      },
      "description": "Properties specific to a RichLink.",
      "type": "object",
      "id": "RichLinkProperties"
    },
    "PositionedObjectPositioningSuggestionState": {
      "description": "A mask that indicates which of the fields on the base PositionedObjectPositioning have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "topOffsetSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to top_offset."
        },
        "layoutSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to layout."
        },
        "leftOffsetSuggested": {
          "description": "Indicates if there was a suggested change to left_offset.",
          "type": "boolean"
        }
      },
      "id": "PositionedObjectPositioningSuggestionState",
      "type": "object"
    },
    "UpdateParagraphStyleRequest": {
      "properties": {
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `paragraph_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the paragraph style's alignment property, set `fields` to `\"alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        },
        "paragraphStyle": {
          "description": "The styles to set on the paragraphs. Certain paragraph style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of ParagraphStyle for more information.",
          "$ref": "ParagraphStyle"
        },
        "range": {
          "description": "The range overlapping the paragraphs to style.",
          "$ref": "Range"
        }
      },
      "description": "Update the styling of all paragraphs that overlap with the given range.",
      "id": "UpdateParagraphStyleRequest",
      "type": "object"
    },
    "AddCommentReplyResponse": {
      "description": "Response message for adding a reply.",
      "id": "AddCommentReplyResponse",
      "type": "object",
      "properties": {
        "post": {
          "description": "The newly-inserted reply Post.",
          "$ref": "Post"
        }
      }
    },
    "InsertTextRequest": {
      "description": "Inserts text at the specified location.",
      "id": "InsertTextRequest",
      "type": "object",
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the text at the end of a header, footer, footnote or the document body."
        },
        "location": {
          "description": "Inserts the text at a specific index in the document. Text must be inserted inside the bounds of an existing Paragraph. For instance, text cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The text must be inserted in the preceding paragraph.",
          "$ref": "Location"
        },
        "text": {
          "description": "The text to be inserted. Inserting a newline character will implicitly create a new Paragraph at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text style for the inserted text will match the text immediately before the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text.",
          "type": "string"
        }
      }
    },
    "InsertPersonRequest": {
      "id": "InsertPersonRequest",
      "properties": {
        "personProperties": {
          "description": "The properties of the person mention to insert.",
          "$ref": "PersonProperties"
        },
        "endOfSegmentLocation": {
          "description": "Inserts the person mention at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "description": "Inserts the person mention at a specific index in the document. The person mention must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Person mentions cannot be inserted inside an equation.",
          "$ref": "Location"
        }
      },
      "description": "Inserts a person mention.",
      "type": "object"
    },
    "Table": {
      "description": "A StructuralElement representing a table.",
      "properties": {
        "tableStyle": {
          "description": "The style of the table.",
          "$ref": "TableStyle"
        },
        "rows": {
          "type": "integer",
          "description": "Number of rows in the table.",
          "format": "int32"
        },
        "columns": {
          "type": "integer",
          "format": "int32",
          "description": "Number of columns in the table. It's possible for a table to be non-rectangular, so some rows may have a different number of cells."
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        },
        "tableRows": {
          "items": {
            "$ref": "TableRow"
          },
          "type": "array",
          "description": "The contents and style of each row."
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A Table may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "Table"
    },
    "InsertRichLinkRequest": {
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the rich link at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the rich link at a specific index in the document. The rich link must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The rich link cannot be inserted inside an equation."
        },
        "richLinkProperties": {
          "$ref": "RichLinkProperties",
          "description": "The properties of the rich link to insert."
        }
      },
      "type": "object",
      "id": "InsertRichLinkRequest",
      "description": "Inserts a RichLink at the specified location."
    },
    "DocumentFormat": {
      "description": "Represents document-level format settings.",
      "properties": {
        "documentMode": {
          "type": "string",
          "description": "Whether the document has pages or is pageless.",
          "enum": [
            "DOCUMENT_MODE_UNSPECIFIED",
            "PAGES",
            "PAGELESS"
          ],
          "enumDescriptions": [
            "The document mode is unspecified.",
            "The document has pages.",
            "The document is pageless."
          ]
        }
      },
      "type": "object",
      "id": "DocumentFormat"
    },
    "StructuralElement": {
      "type": "object",
      "id": "StructuralElement",
      "description": "A StructuralElement describes content that provides structure to the document.",
      "properties": {
        "endIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based end index of this structural element, exclusive, in UTF-16 code units."
        },
        "table": {
          "description": "A table type of structural element.",
          "$ref": "Table"
        },
        "paragraph": {
          "description": "A paragraph type of structural element.",
          "$ref": "Paragraph"
        },
        "tableOfContents": {
          "$ref": "TableOfContents",
          "description": "A table of contents type of structural element."
        },
        "sectionBreak": {
          "description": "A section break type of structural element.",
          "$ref": "SectionBreak"
        },
        "startIndex": {
          "description": "The zero-based start index of this structural element, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Document": {
      "id": "Document",
      "properties": {
        "suggestedDocumentStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          },
          "description": "Output only. The suggested changes to the style of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedDocumentStyleChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object"
        },
        "revisionId": {
          "description": "Output only. The revision ID of the document. Can be used in update requests to specify which revision of a document to apply updates to and how the request should behave if the document has been edited since that revision. Only populated if the user has edit access to the document. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the document has not changed. Conversely, a changed ID (for the same document and user) usually means the document has been updated. However, a changed ID can also be due to internal factors such as ID format changes.",
          "type": "string"
        },
        "footnotes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Footnote"
          },
          "description": "Output only. The footnotes in the document, keyed by footnote ID. Legacy field: Instead, use Document.tabs.documentTab.footnotes, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "suggestionsViewMode": {
          "enum": [
            "DEFAULT_FOR_CURRENT_ACCESS",
            "SUGGESTIONS_INLINE",
            "PREVIEW_SUGGESTIONS_ACCEPTED",
            "PREVIEW_WITHOUT_SUGGESTIONS"
          ],
          "description": "Output only. The suggestions view mode applied to the document. Note: When editing a document, changes must be based on a document with SUGGESTIONS_INLINE.",
          "enumDescriptions": [
            "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
            "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
          ],
          "type": "string"
        },
        "headers": {
          "type": "object",
          "description": "Output only. The headers in the document, keyed by header ID. Legacy field: Instead, use Document.tabs.documentTab.headers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "Header"
          }
        },
        "comments": {
          "description": "Output only. The comments associated with the document. Only populated if the commentsViewMode parameter is set to require comments (such as `COMMENTS_VIEW_MODE_INCLUDED`).",
          "type": "array",
          "items": {
            "$ref": "CommentThread"
          }
        },
        "suggestions": {
          "description": "Output only. The suggestions associated with the document. Only populated if the commentsViewMode parameter is set to require comments (such as `COMMENTS_VIEW_MODE_INCLUDED`).",
          "items": {
            "$ref": "SuggestionThread"
          },
          "type": "array"
        },
        "positionedObjects": {
          "description": "Output only. The positioned objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.positionedObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "PositionedObject"
          },
          "type": "object"
        },
        "suggestedNamedStylesChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          },
          "description": "Output only. The suggested changes to the named styles of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedNamedStylesChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "body": {
          "$ref": "Body",
          "description": "Output only. The main body of the document. Legacy field: Instead, use Document.tabs.documentTab.body, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "title": {
          "description": "The title of the document.",
          "type": "string"
        },
        "commentsViewMode": {
          "enum": [
            "COMMENTS_VIEW_MODE_UNSPECIFIED",
            "COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS",
            "COMMENTS_VIEW_MODE_OMITTED",
            "COMMENTS_VIEW_MODE_INCLUDED"
          ],
          "enumDescriptions": [
            "The CommentsViewMode is unspecified. COMMENTS_VIEW_MODE_OMITTED is applied.",
            "The CommentsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, COMMENTS_VIEW_MODE_OMITTED is applied. Otherwise, COMMENTS_VIEW_MODE_INCLUDED is applied.",
            "The returned document has comments omitted.",
            "The returned document has comments included. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view comments. When set, suggestions_view_mode must also be set to SUGGESTIONS_INLINE. Returns a 400 bad request error otherwise."
          ],
          "description": "Output only. The comments view mode applied to the document.",
          "type": "string"
        },
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "Output only. The style of the document. Legacy field: Instead, use Document.tabs.documentTab.documentStyle, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "inlineObjects": {
          "type": "object",
          "description": "Output only. The inline objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.inlineObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "InlineObject"
          }
        },
        "documentId": {
          "type": "string",
          "description": "Output only. The ID of the document."
        },
        "tabs": {
          "items": {
            "$ref": "Tab"
          },
          "description": "Output only. Tabs that are part of a document. Tabs can contain child tabs, a tab nested within another tab. Child tabs are represented by the Tab.childTabs field.",
          "type": "array"
        },
        "footers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Footer"
          },
          "description": "Output only. The footers in the document, keyed by footer ID. Legacy field: Instead, use Document.tabs.documentTab.footers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "lists": {
          "additionalProperties": {
            "$ref": "List"
          },
          "type": "object",
          "description": "Output only. The lists in the document, keyed by list ID. Legacy field: Instead, use Document.tabs.documentTab.lists, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "namedStyles": {
          "description": "Output only. The named styles of the document. Legacy field: Instead, use Document.tabs.documentTab.namedStyles, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "NamedStyles"
        },
        "namedRanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "NamedRanges"
          },
          "description": "Output only. The named ranges in the document, keyed by name. Legacy field: Instead, use Document.tabs.documentTab.namedRanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        }
      },
      "description": "A Google Docs document.",
      "type": "object"
    },
    "TableCellBorder": {
      "properties": {
        "width": {
          "$ref": "Dimension",
          "description": "The width of the border."
        },
        "dashStyle": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "description": "The dash style of the border."
        },
        "color": {
          "description": "The color of the border. This color cannot be transparent.",
          "$ref": "OptionalColor"
        }
      },
      "description": "A border around a table cell. Table cell borders cannot be transparent. To hide a table cell border, make its width 0.",
      "id": "TableCellBorder",
      "type": "object"
    },
    "TableCellStyle": {
      "type": "object",
      "id": "TableCellStyle",
      "properties": {
        "paddingTop": {
          "description": "The top padding of the cell.",
          "$ref": "Dimension"
        },
        "paddingBottom": {
          "$ref": "Dimension",
          "description": "The bottom padding of the cell."
        },
        "borderRight": {
          "$ref": "TableCellBorder",
          "description": "The right border of the cell."
        },
        "borderTop": {
          "$ref": "TableCellBorder",
          "description": "The top border of the cell."
        },
        "borderLeft": {
          "$ref": "TableCellBorder",
          "description": "The left border of the cell."
        },
        "contentAlignment": {
          "enum": [
            "CONTENT_ALIGNMENT_UNSPECIFIED",
            "CONTENT_ALIGNMENT_UNSUPPORTED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ],
          "description": "The alignment of the content in the table cell. The default alignment matches the alignment for newly created table cells in the Docs editor.",
          "enumDescriptions": [
            "An unspecified content alignment. The content alignment is inherited from the parent if one exists.",
            "An unsupported content alignment.",
            "An alignment that aligns the content to the top of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 't'.",
            "An alignment that aligns the content to the middle of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'ctr'.",
            "An alignment that aligns the content to the bottom of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'b'."
          ],
          "type": "string"
        },
        "paddingRight": {
          "$ref": "Dimension",
          "description": "The right padding of the cell."
        },
        "rowSpan": {
          "description": "The row span of the cell. This property is read-only.",
          "format": "int32",
          "type": "integer"
        },
[...]
