{
  "batchPath": "batch/drive/v2",
  "ownerDomain": "google.com",
  "servicePath": "drive/v2/",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "id": "drive:v2",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "name": "drive",
  "version": "v2",
  "rootUrl": "https://www.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "revision": "20261003",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "baseUrl": "https://www.googleapis.com/drive/v2/",
  "resources": {
    "children": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "drive.children.get",
          "description": "Gets a specific child reference.",
          "response": {
            "$ref": "ChildReference"
          },
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "path": "files/{folderId}/children/{childId}",
          "parameters": {
            "folderId": {
              "location": "path",
              "required": true,
              "description": "The ID of the folder.",
              "type": "string"
            },
            "childId": {
              "description": "The ID of the child.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{folderId}/children/{childId}"
        },
        "delete": {
          "id": "drive.children.delete",
          "parameters": {
            "childId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the child."
            },
            "folderId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the folder."
            },
            "enforceSingleParent": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root."
            }
          },
          "flatPath": "files/{folderId}/children/{childId}",
          "description": "Removes a child from a folder.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "path": "files/{folderId}/children/{childId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "insert": {
          "description": "Inserts a file into a folder.",
          "parameterOrder": [
            "folderId"
          ],
          "parameters": {
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "enforceSingleParent": {
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead."
            },
            "folderId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the folder."
            },
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            }
          },
          "id": "drive.children.insert",
          "path": "files/{folderId}/children",
          "request": {
            "$ref": "ChildReference"
          },
          "flatPath": "files/{folderId}/children",
          "response": {
            "$ref": "ChildReference"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "list": {
          "parameterOrder": [
            "folderId"
          ],
          "path": "files/{folderId}/children",
          "httpMethod": "GET",
          "id": "drive.children.list",
          "response": {
            "$ref": "ChildList"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token for children."
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of sort keys. Valid keys are `createdDate`, `folder`, `lastViewedByMeDate`, `modifiedByMeDate`, `modifiedDate`, `quotaBytesUsed`, `recency`, `sharedWithMeDate`, `starred`, and `title`. Each key sorts ascending by default, but may be reversed with the `desc` modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored."
            },
            "q": {
              "description": "Query string for searching children.",
              "location": "query",
              "type": "string"
            },
            "folderId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the folder."
            },
            "maxResults": {
              "location": "query",
              "default": "100",
              "minimum": "0",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of children to return."
            }
          },
          "description": "Lists a folder's children.",
          "flatPath": "files/{folderId}/children",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        }
      }
    },
    "teamdrives": {
      "methods": {
        "update": {
          "parameters": {
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "type": "string",
              "location": "path",
              "required": true
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "default": "false",
              "type": "boolean"
            }
          },
          "path": "teamdrives/{teamDriveId}",
          "id": "drive.teamdrives.update",
          "description": "Deprecated: Use `drives.update` instead.",
          "flatPath": "teamdrives/{teamDriveId}",
          "response": {
            "$ref": "TeamDrive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "TeamDrive"
          },
          "parameterOrder": [
            "teamDriveId"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "flatPath": "teamdrives/{teamDriveId}",
          "parameters": {
            "teamDriveId": {
              "type": "string",
              "description": "The ID of the Team Drive",
              "location": "path",
              "required": true
            }
          },
          "id": "drive.teamdrives.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "teamdrives/{teamDriveId}",
          "description": "Deprecated: Use `drives.delete` instead.",
          "parameterOrder": [
            "teamDriveId"
          ]
        },
        "list": {
          "description": "Deprecated: Use `drives.list` instead.",
          "response": {
            "$ref": "TeamDriveList"
          },
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token for Team Drives.",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "default": "false",
              "type": "boolean"
            },
            "maxResults": {
              "maximum": "100",
              "location": "query",
              "default": "10",
              "description": "Maximum number of Team Drives to return.",
              "minimum": "1",
              "format": "int32",
              "type": "integer"
            },
            "q": {
              "location": "query",
              "description": "Query string for searching Team Drives.",
              "type": "string"
            }
          },
          "flatPath": "teamdrives",
          "path": "teamdrives",
          "id": "drive.teamdrives.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET"
        },
        "get": {
          "parameterOrder": [
            "teamDriveId"
          ],
          "path": "teamdrives/{teamDriveId}",
          "parameters": {
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "type": "string",
              "location": "path",
              "required": true
            },
            "useDomainAdminAccess": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs."
            }
          },
          "id": "drive.teamdrives.get",
          "response": {
            "$ref": "TeamDrive"
          },
          "description": "Deprecated: Use `drives.get` instead.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "teamdrives/{teamDriveId}",
          "httpMethod": "GET"
        },
        "insert": {
          "parameters": {
            "requestId": {
              "type": "string",
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "location": "query",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Deprecated: Use `drives.insert` instead.",
          "id": "drive.teamdrives.insert",
          "request": {
            "$ref": "TeamDrive"
          },
          "flatPath": "teamdrives",
          "path": "teamdrives",
          "response": {
            "$ref": "TeamDrive"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "requestId"
          ]
        }
      }
    },
    "parents": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "parentId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the parent."
            },
            "enforceSingleParent": {
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root."
            }
          },
          "id": "drive.parents.delete",
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "description": "Removes a parent from a file.",
          "flatPath": "files/{fileId}/parents/{parentId}",
          "path": "files/{fileId}/parents/{parentId}"
        },
        "insert": {
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/parents",
          "id": "drive.parents.insert",
          "request": {
            "$ref": "ParentReference"
          },
          "description": "Adds a parent folder for a file.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "ParentReference"
          },
          "parameters": {
            "enforceSingleParent": {
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "location": "query",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            }
          },
          "flatPath": "files/{fileId}/parents"
        },
        "list": {
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/parents",
          "description": "Lists a file's parents.",
          "flatPath": "files/{fileId}/parents",
          "httpMethod": "GET",
          "id": "drive.parents.list",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "ParentList"
          }
        },
        "get": {
          "id": "drive.parents.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "parentId": {
              "description": "The ID of the parent.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Gets a specific parent reference.",
          "response": {
            "$ref": "ParentReference"
          },
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "flatPath": "files/{fileId}/parents/{parentId}",
          "path": "files/{fileId}/parents/{parentId}",
          "httpMethod": "GET"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "path": "channels/stop",
          "description": "Stops watching resources through this channel.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {},
          "flatPath": "channels/stop",
          "httpMethod": "POST",
          "id": "drive.channels.stop",
          "parameterOrder": []
        }
      }
    },
    "properties": {
      "methods": {
        "insert": {
          "flatPath": "files/{fileId}/properties",
          "httpMethod": "POST",
          "response": {
            "$ref": "Property"
          },
          "request": {
            "$ref": "Property"
          },
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/properties",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "description": "Adds a property to a file, or updates it if it already exists.",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "drive.properties.insert"
        },
        "list": {
          "flatPath": "files/{fileId}/properties",
          "description": "Lists a file's properties.",
          "path": "files/{fileId}/properties",
          "httpMethod": "GET",
          "response": {
            "$ref": "PropertyList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.properties.list",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "get": {
          "id": "drive.properties.get",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "visibility": {
              "default": "private",
              "type": "string",
              "description": "The visibility of the property.",
              "location": "query"
            },
            "propertyKey": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The key of the property."
            }
          },
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "path": "files/{fileId}/properties/{propertyKey}",
          "description": "Gets a property by its key.",
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Property"
          }
        },
        "delete": {
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "id": "drive.properties.delete",
          "description": "Deletes a property.",
          "parameters": {
            "visibility": {
              "default": "private",
              "location": "query",
              "type": "string",
              "description": "The visibility of the property."
            },
            "propertyKey": {
              "location": "path",
              "required": true,
              "description": "The key of the property.",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "files/{fileId}/properties/{propertyKey}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "httpMethod": "DELETE"
        },
        "patch": {
          "description": "Updates a property.",
          "path": "files/{fileId}/properties/{propertyKey}",
          "parameters": {
            "propertyKey": {
              "location": "path",
              "required": true,
              "description": "The key of the property.",
              "type": "string"
            },
            "visibility": {
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "location": "query",
              "type": "string",
              "default": "private"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "response": {
            "$ref": "Property"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "request": {
            "$ref": "Property"
          },
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "httpMethod": "PATCH",
          "id": "drive.properties.patch"
        },
        "update": {
          "description": "Updates a property.",
          "id": "drive.properties.update",
          "parameters": {
            "propertyKey": {
              "type": "string",
              "description": "The key of the property.",
              "location": "path",
              "required": true
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            },
            "visibility": {
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "location": "query",
              "default": "private",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Property"
          },
          "response": {
            "$ref": "Property"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "httpMethod": "PUT",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "path": "files/{fileId}/properties/{propertyKey}"
        }
      }
    },
    "files": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "supportsSubscription": true,
          "id": "drive.files.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "revisionId": {
              "location": "query",
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "type": "string"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "acknowledgeAbuse": {
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "location": "query",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "updateViewedDate": {
              "location": "query",
              "default": "false",
              "description": "Deprecated: Use `files.update` with `modifiedDateBehavior=noChange, updateViewedDate=true` and an empty request body.",
              "type": "boolean",
              "deprecated": true
            },
            "projection": {
              "description": "Deprecated: This parameter has no function.",
              "deprecated": true,
              "enum": [
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID for the file in question.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            }
          },
          "flatPath": "files/{fileId}",
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "path": "files/{fileId}",
          "description": " Gets a file's metadata or content by ID. If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v2/files/export) instead. For more information, see [Download & export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads)."
        },
        "modifyLabels": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file to which the labels belong.",
              "type": "string"
            }
          },
          "flatPath": "files/{fileId}/modifyLabels",
          "description": "Modifies the set of labels applied to a file. Returns a list of the labels that were added or modified.",
          "request": {
            "$ref": "ModifyLabelsRequest"
          },
          "id": "drive.files.modifyLabels",
          "path": "files/{fileId}/modifyLabels",
          "httpMethod": "POST"
        },
        "touch": {
          "response": {
            "$ref": "File"
          },
          "httpMethod": "POST",
          "id": "drive.files.touch",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/touch",
          "description": "Set the file's updated time to the current server time.",
          "path": "files/{fileId}/touch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file to update."
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "supportsTeamDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "location": "query"
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            }
          }
        },
        "delete": {
          "flatPath": "files/{fileId}",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE",
          "description": "Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted.",
          "path": "files/{fileId}",
          "parameters": {
            "enforceSingleParent": {
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query"
            },
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file to delete."
            }
          },
          "id": "drive.files.delete"
        },
        "insert": {
          "parameters": {
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "timedTextTrackName": {
              "location": "query",
              "description": "The timed text track name.",
              "type": "string"
            },
            "enforceSingleParent": {
              "location": "query",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "type": "boolean"
            },
            "ocr": {
              "default": "false",
              "location": "query",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "type": "boolean"
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "pinned": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether to pin the head revision of the uploaded file. A file can have a maximum of 200 pinned revisions."
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false",
              "location": "query"
            },
            "convert": {
              "location": "query",
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "type": "boolean",
              "default": "false"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "timedTextLanguage": {
              "type": "string",
              "description": "The language of the timed text.",
              "location": "query"
            },
            "ocrLanguage": {
              "type": "string",
              "location": "query",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes."
            },
            "visibility": {
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "location": "query",
              "default": "DEFAULT",
              "type": "string",
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when `convert=false`.",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ]
            },
            "useContentAsIndexableText": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether to use the content as indexable text."
            }
          },
          "request": {
            "$ref": "File"
          },
          "parameterOrder": [],
          "description": " Inserts a new file. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with `files.insert` must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `title` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"title\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `title` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the title. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "supportsMediaUpload": true,
          "path": "files",
          "flatPath": "files",
          "httpMethod": "POST",
          "mediaUpload": {
            "maxSize": "5497558138880",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/drive/v2/files",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v2/files"
              }
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "File"
          },
          "id": "drive.files.insert"
        },
        "generateCseToken": {
          "path": "files/generateCseToken",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "fileId": {
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "type": "string",
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request.",
              "location": "query"
            }
          },
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "flatPath": "files/generateCseToken",
          "id": "drive.files.generateCseToken",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "response": {
            "$ref": "GenerateCseTokenResponse"
          }
        },
        "generateIds": {
          "httpMethod": "GET",
          "path": "files/generateIds",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "GeneratedIds"
          },
          "parameters": {
            "space": {
              "location": "query",
              "type": "string",
              "description": "The space in which the IDs can be used to create new files. Supported values are `drive` and `appDataFolder`. (Default: `drive`)",
              "default": "drive"
            },
            "type": {
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`)",
              "default": "files",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "minimum": "1",
              "description": "Maximum number of IDs to return.",
              "format": "int32",
              "maximum": "1000",
              "location": "query",
              "default": "10",
              "type": "integer"
            }
          },
          "flatPath": "files/generateIds",
          "description": "Generates a set of file IDs which can be provided in insert or copy requests.",
          "id": "drive.files.generateIds"
        },
        "emptyTrash": {
          "parameterOrder": [],
          "path": "files/trash",
          "id": "drive.files.emptyTrash",
          "description": "Permanently deletes all of the user's trashed files.",
          "flatPath": "files/trash",
          "httpMethod": "DELETE",
          "parameters": {
            "enforceSingleParent": {
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "location": "query",
              "default": "false",
              "deprecated": true,
              "type": "boolean"
            },
            "driveId": {
              "description": "If set, empties the trash of the provided shared drive.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "listLabels": {
          "httpMethod": "GET",
          "path": "files/{fileId}/listLabels",
          "description": "Lists the labels on a file.",
          "id": "drive.files.listLabels",
          "parameters": {
            "maxResults": {
              "default": "100",
              "location": "query",
              "format": "int32",
              "maximum": "100",
              "type": "integer",
              "minimum": "1",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100."
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID for the file."
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "LabelList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/listLabels"
        },
        "watch": {
          "parameters": {
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "acknowledgeAbuse": {
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "revisionId": {
              "type": "string",
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "fileId": {
              "description": "The ID for the file in question.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "updateViewedDate": {
              "default": "false",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.",
              "type": "boolean"
            },
            "projection": {
              "description": "Deprecated: This parameter has no function.",
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "location": "query",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "deprecated": true
            },
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            }
          },
          "path": "files/{fileId}/watch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Subscribes to changes to a file.",
          "id": "drive.files.watch",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "parameterOrder": [
            "fileId"
          ],
          "supportsSubscription": true,
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/watch",
          "response": {
            "$ref": "Channel"
          }
        },
        "update": {
          "response": {
            "$ref": "File"
          },
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads).",
          "flatPath": "files/{fileId}",
          "httpMethod": "PUT",
          "id": "drive.files.update",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880",
            "protocols": {
              "simple": {
                "path": "/upload/drive/v2/files/{fileId}",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v2/files/{fileId}"
              }
            }
          },
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "path": "files/{fileId}",
          "request": {
            "$ref": "File"
          },
          "parameters": {
            "newRevision": {
              "default": "true",
              "location": "query",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045).",
              "type": "boolean"
            },
            "pinned": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions."
            },
            "supportsTeamDrives": {
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "ocrLanguage": {
              "location": "query",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "type": "string"
            },
            "enforceSingleParent": {
              "type": "boolean",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "deprecated": true,
              "default": "false",
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "updateViewedDate": {
              "type": "boolean",
              "default": "true",
              "location": "query",
              "description": "Whether to update the view date after successfully updating the file."
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "ocr": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads."
            },
            "fileId": {
              "description": "The ID of the file to update.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "convert": {
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: This parameter has no function.",
              "default": "false",
              "type": "boolean"
            },
            "useContentAsIndexableText": {
              "description": "Whether to use the content as indexable text.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "timedTextTrackName": {
              "type": "string",
              "location": "query",
              "description": "The timed text track name."
            },
            "removeParents": {
              "type": "string",
              "description": "Comma-separated list of parent IDs to remove.",
              "location": "query"
            },
            "setModifiedDate": {
              "location": "query",
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "default": "false",
              "type": "boolean"
            },
            "modifiedDateBehavior": {
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`."
            },
            "addParents": {
              "type": "string",
              "description": "Comma-separated list of parent IDs to add.",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "timedTextLanguage": {
              "location": "query",
              "description": "The language of the timed text.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "fileId"
          ]
        },
        "list": {
          "path": "files",
          "httpMethod": "GET",
          "id": "drive.files.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "flatPath": "files",
          "parameterOrder": [],
          "response": {
            "$ref": "FileList"
          },
          "parameters": {
            "projection": {
              "deprecated": true,
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Deprecated: This parameter has no function.",
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "location": "query",
              "type": "string"
            },
            "teamDriveId": {
              "type": "string",
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "deprecated": true
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "Query string for searching files."
            },
            "includeItemsFromAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "deprecated": true,
              "default": "false"
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "ID of the shared drive to search."
            },
            "maxResults": {
              "default": "100",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
              "minimum": "0"
            },
            "spaces": {
              "type": "string",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, and `appDataFolder`.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token for files."
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean"
            },
            "corpora": {
              "location": "query",
              "type": "string",
              "description": "Bodies of items (files/documents) to which the query applies. Supported bodies are `default`, `domain`, `drive` and `allDrives`. Prefer `default` or `drive` to `allDrives` for efficiency."
            },
            "corpus": {
              "enum": [
                "DEFAULT",
                "DOMAIN"
              ],
              "description": "Deprecated: The body of items (files/documents) to which the query applies. Use `corpora` instead.",
              "type": "string",
              "enumDescriptions": [
                "The items that the user has accessed.",
                "Items shared to the user's domain."
              ],
              "deprecated": true,
              "location": "query"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdDate`: When the file was created. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `lastViewedByMeDate`: The last time the file was viewed by the user. * `modifiedByMeDate`: The last time the file was modified by the user. * `modifiedDate`: The last time the file was modified by anyone. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeDate`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `title`: The title of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `title_natural`: The title of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. Each key sorts ascending by default, but can be reversed with the 'desc' modifier. Example usage: `?orderBy=folder,modifiedDate desc,title`. Note that there's a current limitation for users with approximately one million files in which the requested sort order is ignored."
            }
          }
        },
        "untrash": {
          "description": "Restores a file from the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "response": {
            "$ref": "File"
          },
          "flatPath": "files/{fileId}/untrash",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "POST",
          "id": "drive.files.untrash",
          "path": "files/{fileId}/untrash",
          "parameters": {
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "fileId": {
              "description": "The ID of the file to untrash.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "deprecated": true,
              "type": "boolean"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            }
          },
          "parameterOrder": [
            "fileId"
          ]
        },
        "trash": {
          "parameters": {
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file to trash."
            }
          },
          "response": {
            "$ref": "File"
          },
          "id": "drive.files.trash",
          "flatPath": "files/{fileId}/trash",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Moves a file to the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "httpMethod": "POST",
          "path": "files/{fileId}/trash",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "copy": {
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/copy",
          "description": "Creates a copy of the specified file.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "request": {
            "$ref": "File"
          },
          "id": "drive.files.copy",
          "path": "files/{fileId}/copy",
          "parameters": {
            "pinned": {
              "type": "boolean",
              "description": "Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions.",
              "default": "false",
              "location": "query"
            },
            "ocrLanguage": {
              "type": "string",
              "location": "query",
              "description": "If `ocr` is true, hints at the language to use. Valid values are BCP 47 codes."
            },
            "convert": {
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "timedTextTrackName": {
              "type": "string",
              "location": "query",
              "description": "The timed text track name."
            },
            "enforceSingleParent": {
              "default": "false",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file to copy.",
              "type": "string"
            },
            "ocr": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "default": "false"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "visibility": {
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when the source is not a Google Doc file and when `convert=false`.",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "default": "DEFAULT",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "deprecated": true
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "timedTextLanguage": {
              "description": "The language of the timed text.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "export": {
          "path": "files/{fileId}/export",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            },
            "mimeType": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "Required. The MIME type of the format requested for this export."
            }
          },
          "id": "drive.files.export",
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "supportsMediaDownload": true,
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. Note that the exported content is limited to 10MB.",
          "useMediaDownloadService": true,
          "flatPath": "files/{fileId}/export",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET"
        },
        "patch": {
          "id": "drive.files.patch",
          "response": {
            "$ref": "File"
          },
          "parameters": {
            "updateViewedDate": {
              "description": "Whether to update the view date after successfully updating the file.",
              "default": "true",
              "location": "query",
              "type": "boolean"
            },
            "useContentAsIndexableText": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to use the content as indexable text.",
              "default": "false"
            },
            "setModifiedDate": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`."
            },
            "modifiedDateBehavior": {
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "type": "string",
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`.",
              "location": "query",
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ]
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "enforceSingleParent": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query"
            },
            "timedTextLanguage": {
              "location": "query",
              "description": "The language of the timed text.",
              "type": "string"
            },
            "pinned": {
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions. Note that this field is ignored if there is no payload in the request.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "addParents": {
              "description": "Comma-separated list of parent IDs to add.",
              "location": "query",
              "type": "string"
            },
            "convert": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: This parameter has no function."
            },
            "ocr": {
              "default": "false",
              "location": "query",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query"
            },
            "newRevision": {
              "type": "boolean",
              "location": "query",
              "default": "true",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045). Note that this field is ignored if there is no payload in the request."
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file to update."
            },
            "timedTextTrackName": {
              "type": "string",
              "description": "The timed text track name.",
              "location": "query"
            },
            "ocrLanguage": {
              "type": "string",
              "location": "query",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes."
            },
            "removeParents": {
              "description": "Comma-separated list of parent IDs to remove.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might change automatically, such as modifiedDate. This method supports patch semantics.",
          "request": {
            "$ref": "File"
          },
          "flatPath": "files/{fileId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "httpMethod": "PATCH",
          "path": "files/{fileId}",
          "parameterOrder": [
            "fileId"
          ]
        }
      }
    },
    "replies": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "GET",
          "description": "Gets a reply.",
          "response": {
            "$ref": "CommentReply"
          },
          "id": "drive.replies.get",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "parameters": {
            "includeDeleted": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "If set, this will succeed when retrieving a deleted reply."
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            },
            "replyId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the reply."
            },
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "insert": {
          "id": "drive.replies.insert",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "request": {
            "$ref": "CommentReply"
          },
          "path": "files/{fileId}/comments/{commentId}/replies",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "commentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the comment.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "CommentReply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "POST",
          "description": "Creates a new reply to the given comment.",
          "flatPath": "files/{fileId}/comments/{commentId}/replies"
        },
        "list": {
          "path": "files/{fileId}/comments/{commentId}/replies",
          "parameters": {
            "commentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the comment.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "includeDeleted": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "If set, all replies, including deleted replies (with content stripped) will be returned."
            },
            "maxResults": {
              "maximum": "100",
              "location": "query",
              "description": "The maximum number of replies to include in the response, used for paging.",
              "default": "20",
              "minimum": "0",
              "type": "integer",
              "format": "int32"
            }
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "CommentReplyList"
          },
          "httpMethod": "GET",
          "description": "Lists all of the replies to a comment.",
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "id": "drive.replies.list"
        },
        "update": {
          "id": "drive.replies.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "replyId": {
              "type": "string",
              "description": "The ID of the reply.",
              "location": "path",
              "required": true
            },
            "commentId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the comment."
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "description": "Updates an existing reply.",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "response": {
            "$ref": "CommentReply"
          },
          "request": {
            "$ref": "CommentReply"
          },
          "httpMethod": "PUT",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ]
        },
        "delete": {
          "description": "Deletes a reply.",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "id": "drive.replies.delete",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "replyId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the reply."
            },
            "commentId": {
              "type": "string",
              "description": "The ID of the comment.",
              "location": "path",
              "required": true
            }
          }
        },
        "patch": {
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "description": "Updates an existing reply.",
          "parameters": {
            "replyId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the reply."
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            },
            "commentId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the comment."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "request": {
            "$ref": "CommentReply"
          },
          "id": "drive.replies.patch",
          "response": {
            "$ref": "CommentReply"
          },
          "httpMethod": "PATCH"
        }
      }
    },
    "changes": {
      "methods": {
        "getStartPageToken": {
          "httpMethod": "GET",
          "flatPath": "changes/startPageToken",
          "id": "drive.changes.getStartPageToken",
          "response": {
            "$ref": "StartPageToken"
          },
          "parameters": {
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "teamDriveId": {
              "deprecated": true,
              "type": "string",
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "driveId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned."
            }
          },
          "description": "Gets the starting pageToken for listing future changes.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [],
          "path": "changes/startPageToken"
        },
        "list": {
          "parameters": {
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "includeTeamDriveItems": {
              "location": "query",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "type": "boolean"
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier."
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "spaces": {
              "type": "string",
[...]
