{
  "kind": "discovery#restDescription",
  "batchPath": "batch/drive/v3",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "servicePath": "drive/v3/",
  "baseUrl": "https://www.googleapis.com/drive/v3/",
  "id": "drive:v3",
  "version": "v3",
  "discoveryVersion": "v1",
  "resources": {
    "comments": {
      "methods": {
        "delete": {
          "description": "Deletes a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "parameters": {
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string",
              "required": true
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            }
          },
          "path": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.delete",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "httpMethod": "DELETE"
        },
        "get": {
          "response": {
            "$ref": "Comment"
          },
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "includeDeleted": {
              "location": "query",
              "default": "false",
              "description": "Whether to return deleted comments. Deleted comments will not include their original content.",
              "type": "boolean"
            },
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file.",
              "location": "path"
            }
          },
          "description": "Gets a comment by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "path": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.get"
        },
        "create": {
          "flatPath": "files/{fileId}/comments",
          "request": {
            "$ref": "Comment"
          },
          "description": "Creates a comment on a file. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.comments.create",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Comment"
          },
          "httpMethod": "POST",
          "path": "files/{fileId}/comments",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Comment"
          },
          "description": "Updates a comment with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "path": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "httpMethod": "PATCH",
          "id": "drive.comments.update",
          "request": {
            "$ref": "Comment"
          },
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "files/{fileId}/comments/{commentId}"
        },
        "list": {
          "description": "Lists a file's comments. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response."
            },
            "pageSize": {
              "description": "The maximum number of comments to return. The service may return fewer than this value. If unspecified, at most 20 comments will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "default": "20",
              "minimum": "1",
              "maximum": "100",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "startModifiedTime": {
              "description": "The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time).",
              "type": "string",
              "location": "query"
            },
            "includeDeleted": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether to include deleted comments. Deleted comments will not include their original content."
            }
          },
          "httpMethod": "GET",
          "id": "drive.comments.list",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "CommentList"
          },
          "flatPath": "files/{fileId}/comments",
          "path": "files/{fileId}/comments",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        }
      }
    },
    "changes": {
      "methods": {
        "watch": {
          "supportsSubscription": true,
          "parameterOrder": [
            "pageToken"
          ],
          "path": "changes/watch",
          "response": {
            "$ref": "Channel"
          },
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "parameters": {
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
              "required": true,
              "type": "string",
              "location": "query"
            },
            "restrictToMyDrive": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive."
            },
            "teamDriveId": {
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false"
            },
            "includeCorpusRemovals": {
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "pageSize": {
              "description": "The maximum number of changes to return. The service may return fewer than this value. If unspecified, at most 100 changes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "default": "100",
              "minimum": "1",
              "type": "integer",
              "maximum": "1000",
              "format": "int32",
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
              "type": "string",
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "deprecated": true,
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "includeItemsFromAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean"
            },
            "spaces": {
              "location": "query",
              "default": "drive",
              "type": "string",
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are 'drive' and 'appDataFolder'."
            },
            "includeRemoved": {
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "type": "boolean",
              "default": "true",
              "location": "query"
            },
            "driveId": {
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Subscribes to changes for a user. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).",
          "id": "drive.changes.watch",
          "flatPath": "changes/watch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "POST"
        },
        "list": {
          "parameters": {
            "includeItemsFromAllDrives": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results."
            },
            "includeCorpusRemovals": {
              "type": "boolean",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "default": "false",
              "location": "query"
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "includeRemoved": {
              "default": "true",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "location": "query",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "location": "query",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            },
            "teamDriveId": {
              "location": "query",
              "description": "Deprecated: Use `driveId` instead.",
              "deprecated": true,
              "type": "string"
            },
            "driveId": {
              "type": "string",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "type": "boolean",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "default": "false",
              "deprecated": true,
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
              "type": "string",
              "location": "query"
            },
            "restrictToMyDrive": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive."
            },
            "pageSize": {
              "type": "integer",
              "maximum": "1000",
              "description": "The maximum number of changes to return. The service may return fewer than this value. If unspecified, at most 100 changes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "format": "int32",
              "default": "100",
              "minimum": "1"
            },
            "pageToken": {
              "required": true,
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "spaces": {
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are 'drive' and 'appDataFolder'.",
              "location": "query",
              "type": "string",
              "default": "drive"
            }
          },
          "id": "drive.changes.list",
          "description": "Lists the changes for a user or shared drive. For more information, see [Retrieve changes](https://developers.google.com/workspace/drive/api/guides/manage-changes).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "changes",
          "httpMethod": "GET",
          "supportsSubscription": true,
          "path": "changes",
          "response": {
            "$ref": "ChangeList"
          },
          "parameterOrder": [
            "pageToken"
          ]
        },
        "getStartPageToken": {
          "id": "drive.changes.getStartPageToken",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned.",
              "type": "string",
              "location": "query"
            },
            "teamDriveId": {
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "StartPageToken"
          },
          "description": "Gets the starting pageToken for listing future changes. For more information, see [Retrieve changes](https://developers.google.com/workspace/drive/api/guides/manage-changes).",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "changes/startPageToken",
          "flatPath": "changes/startPageToken"
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "path": "operations/{name}",
          "flatPath": "operations/{name}",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "The name of the operation resource.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "id": "drive.operations.get"
        }
      }
    },
    "revisions": {
      "methods": {
        "update": {
          "parameters": {
            "revisionId": {
              "type": "string",
              "required": true,
              "description": "The ID of the revision.",
              "location": "path"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "response": {
            "$ref": "Revision"
          },
          "description": "Updates a revision with patch semantics. For more information, see [Manage file revisions](https://developers.google.com/workspace/drive/api/guides/manage-revisions).",
          "httpMethod": "PATCH",
          "id": "drive.revisions.update",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "request": {
            "$ref": "Revision"
          }
        },
        "delete": {
          "path": "files/{fileId}/revisions/{revisionId}",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "description": "Permanently deletes a file version. You can only delete revisions for files with binary content in Google Drive, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can't be deleted. For more information, see [Manage file revisions](https://developers.google.com/drive/api/guides/manage-revisions).",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            },
            "revisionId": {
              "location": "path",
              "required": true,
              "description": "The ID of the revision.",
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "id": "drive.revisions.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "list": {
          "path": "files/{fileId}/revisions",
          "response": {
            "$ref": "RevisionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists a file's revisions. For more information, see [Manage file revisions](https://developers.google.com/workspace/drive/api/guides/manage-revisions). **Important:** The list of revisions returned by this method might be incomplete for files with a large revision history, including frequently edited Google Docs, Sheets, and Slides. Older revisions might be omitted from the response, meaning the first revision returned may not be the oldest existing revision. The revision history visible in the Workspace editor user interface might be more complete than the list returned by the API.",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.revisions.list",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "type": "string"
            },
            "pageSize": {
              "default": "200",
              "minimum": "1",
              "description": "The maximum number of revisions to return. The service may return fewer than this value. If unspecified, at most 200 revisions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "format": "int32",
              "location": "query",
              "type": "integer",
              "maximum": "1000"
            }
          },
          "flatPath": "files/{fileId}/revisions"
        },
        "get": {
          "supportsMediaDownload": true,
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "description": "Gets a revision's metadata or content by ID. For more information, see [Manage file revisions](https://developers.google.com/workspace/drive/api/guides/manage-revisions).",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "id": "drive.revisions.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "response": {
            "$ref": "Revision"
          },
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            },
            "revisionId": {
              "location": "path",
              "required": true,
              "description": "The ID of the revision.",
              "type": "string"
            },
            "acknowledgeAbuse": {
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            }
          }
        }
      }
    },
    "replies": {
      "methods": {
        "delete": {
          "id": "drive.replies.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a reply. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            },
            "replyId": {
              "description": "The ID of the reply.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "commentId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the comment."
            }
          },
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}"
        },
        "create": {
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "request": {
            "$ref": "Reply"
          },
          "parameters": {
            "commentId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the comment.",
              "required": true
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "description": "Creates a reply to a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "id": "drive.replies.create",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies",
          "response": {
            "$ref": "Reply"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string",
              "required": true
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "required": true,
              "location": "path"
            },
            "replyId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the reply."
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Reply"
          },
          "description": "Updates a reply with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "id": "drive.replies.update",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "request": {
            "$ref": "Reply"
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}"
        },
        "list": {
          "path": "files/{fileId}/comments/{commentId}/replies",
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "id": "drive.replies.list",
          "httpMethod": "GET",
          "description": "Lists a comment's replies. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "response": {
            "$ref": "ReplyList"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response."
            },
            "includeDeleted": {
              "location": "query",
              "description": "Whether to include deleted replies. Deleted replies don't include their original content.",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file."
            },
            "pageSize": {
              "maximum": "100",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of replies to return. The service may return fewer than this value. If unspecified, at most 20 replies will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "type": "integer",
              "default": "20",
              "minimum": "1"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "get": {
          "id": "drive.replies.get",
          "parameters": {
            "replyId": {
              "required": true,
              "location": "path",
              "description": "The ID of the reply.",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            },
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string",
              "required": true
            },
            "includeDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to return deleted replies. Deleted replies don't include their original content.",
              "default": "false"
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "response": {
            "$ref": "Reply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets a reply by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments)."
        }
      }
    },
    "apps": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ],
          "parameters": {
            "languageCode": {
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
              "type": "string",
              "location": "query"
            },
            "appFilterMimeTypes": {
              "default": "",
              "location": "query",
              "description": "A comma-separated list of file extensions to limit returned results. All results within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists.",
              "type": "string"
            },
            "appFilterExtensions": {
              "description": "A comma-separated list of file extensions to limit returned results. All results within the given app query scope which can open any of the given file extensions are included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists.",
              "location": "query",
              "default": "",
              "type": "string"
            }
          },
          "path": "apps",
          "flatPath": "apps",
          "httpMethod": "GET",
          "description": "Lists a user's installed apps. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info).",
          "response": {
            "$ref": "AppList"
          },
          "id": "drive.apps.list",
          "parameterOrder": []
        },
        "get": {
          "parameterOrder": [
            "appId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "appId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the app.",
              "required": true
            }
          },
          "flatPath": "apps/{appId}",
          "response": {
            "$ref": "App"
          },
          "id": "drive.apps.get",
          "path": "apps/{appId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets a specific app. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info)."
        }
      }
    },
    "approvals": {
      "methods": {
        "start": {
          "parameterOrder": [
            "fileId"
          ],
          "description": "Starts an approval on a file. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "request": {
            "$ref": "StartApprovalRequest"
          },
          "response": {
            "$ref": "Approval"
          },
          "flatPath": "files/{fileId}/approvals:start",
          "httpMethod": "POST",
          "id": "drive.approvals.start",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the file that the approval is created on."
            }
          },
          "path": "files/{fileId}/approvals:start"
        },
        "approve": {
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "description": "Approves an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This is used to update the ReviewerResponse of the requesting user with a Response of `APPROVED`. If this is the last required reviewer response, this also completes the approval and sets the approval Status to `APPROVED`.",
          "response": {
            "$ref": "Approval"
          },
          "path": "files/{fileId}/approvals/{approvalId}:approve",
          "request": {
            "$ref": "ApproveApprovalRequest"
          },
          "httpMethod": "POST",
          "id": "drive.approvals.approve",
          "flatPath": "files/{fileId}/approvals/{approvalId}:approve",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "approvalId": {
              "location": "path",
              "description": "Required. The ID of the approval to approve.",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "required": true,
              "description": "Required. The ID of the file that the approval is on.",
              "location": "path",
              "type": "string"
            }
          }
        },
        "get": {
          "parameters": {
            "approvalId": {
              "required": true,
              "description": "Required. The ID of the approval.",
              "location": "path",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "description": "Required. The ID of the file that the approval is on.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Approval"
          },
          "id": "drive.approvals.get",
          "httpMethod": "GET",
          "description": "Gets an approval by ID. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "path": "files/{fileId}/approvals/{approvalId}",
          "flatPath": "files/{fileId}/approvals/{approvalId}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/approvals",
          "path": "files/{fileId}/approvals",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Lists the approvals on a file. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). By default, this method returns a minimal response that may not include the items array. To retrieve approval details, you must explicitly specify the fields you want using the `fields` query parameter. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "id": "drive.approvals.list",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "Required. The ID of the file that the approval is on.",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of approvals to return. When not set, at most 100 approvals are returned.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ApprovalList"
          }
        },
        "reassign": {
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "id": "drive.approvals.reassign",
          "httpMethod": "POST",
          "response": {
            "$ref": "Approval"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "approvalId": {
              "type": "string",
              "required": true,
              "description": "Required. The ID of the approval to reassign.",
              "location": "path"
            },
            "fileId": {
              "type": "string",
              "description": "Required. The ID of the file that the approval is on.",
              "required": true,
              "location": "path"
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}:reassign",
          "request": {
            "$ref": "ReassignApprovalRequest"
          },
          "flatPath": "files/{fileId}/approvals/{approvalId}:reassign",
          "description": "Reassigns the reviewers on an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). Adds or replaces reviewers in the ReviewerResponse of the approval. This can be called by any user with the `writer` permission on the file while the approval Status is `IN_PROGRESS` and the Response for the reviewer being reassigned is `NO_RESPONSE`. A user with the `reader` permission can only reassign an approval that's assigned to themselves. Removing a reviewer isn't allowed."
        },
        "decline": {
          "description": "Declines an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This is used to update the ReviewerResponse of the requesting user with a Response of `DECLINED`. This also completes the approval and sets the approval Status to `DECLINED`.",
          "request": {
            "$ref": "DeclineApprovalRequest"
          },
          "flatPath": "files/{fileId}/approvals/{approvalId}:decline",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "id": "drive.approvals.decline",
          "response": {
            "$ref": "Approval"
          },
          "parameters": {
            "approvalId": {
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the approval to decline.",
              "required": true
            },
            "fileId": {
              "required": true,
              "location": "path",
              "description": "Required. The ID of the file that the approval is on.",
              "type": "string"
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}:decline",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "httpMethod": "POST"
        },
        "cancel": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "response": {
            "$ref": "Approval"
          },
          "description": "Cancels an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). Updates the approval Status to `CANCELLED`. This can be called by any user with the `writer` permission on the file while the approval Status is `IN_PROGRESS`.",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "path": "files/{fileId}/approvals/{approvalId}:cancel",
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the file that the approval is on."
            },
            "approvalId": {
              "description": "Required. The ID of the approval to cancel.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "files/{fileId}/approvals/{approvalId}:cancel",
          "request": {
            "$ref": "CancelApprovalRequest"
          },
          "httpMethod": "POST",
          "id": "drive.approvals.cancel"
        },
        "comment": {
          "id": "drive.approvals.comment",
          "parameters": {
            "approvalId": {
              "required": true,
              "description": "Required. The ID of the approval to comment on.",
              "type": "string",
              "location": "path"
            },
            "fileId": {
              "location": "path",
              "description": "Required. The ID of the file that the approval is on.",
              "required": true,
              "type": "string"
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}:comment",
          "description": "Comments on an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This sends a notification to both the initiator and the reviewers. Additionally, a message is also added to the approval activity log.",
          "flatPath": "files/{fileId}/approvals/{approvalId}:comment",
          "httpMethod": "POST",
          "response": {
            "$ref": "Approval"
          },
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "request": {
            "$ref": "CommentApprovalRequest"
          }
        }
      }
    },
    "teamdrives": {
      "methods": {
        "create": {
          "response": {
            "$ref": "TeamDrive"
          },
          "path": "teamdrives",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "requestId": {
              "required": true,
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "drive.teamdrives.create",
          "request": {
            "$ref": "TeamDrive"
          },
          "description": "Deprecated: Use `drives.create` instead.",
          "parameterOrder": [
            "requestId"
          ],
          "flatPath": "teamdrives",
          "httpMethod": "POST"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "teamdrives/{teamDriveId}",
          "id": "drive.teamdrives.update",
          "path": "teamdrives/{teamDriveId}",
          "request": {
            "$ref": "TeamDrive"
          },
          "parameterOrder": [
            "teamDriveId"
          ],
          "httpMethod": "PATCH",
          "description": "Deprecated: Use `drives.update` instead.",
          "parameters": {
            "teamDriveId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the Team Drive"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs."
            }
          },
          "response": {
            "$ref": "TeamDrive"
          }
        },
        "list": {
          "httpMethod": "GET",
          "path": "teamdrives",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "default": "10",
              "minimum": "1",
              "type": "integer",
              "description": "Maximum number of Team Drives to return.",
              "location": "query",
              "maximum": "100"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token for Team Drives.",
              "type": "string"
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "Query string for searching Team Drives."
            },
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned."
            }
          },
          "flatPath": "teamdrives",
          "response": {
            "$ref": "TeamDriveList"
          },
          "id": "drive.teamdrives.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Deprecated: Use `drives.list` instead."
        },
        "delete": {
          "path": "teamdrives/{teamDriveId}",
          "flatPath": "teamdrives/{teamDriveId}",
          "parameters": {
            "teamDriveId": {
              "location": "path",
              "description": "The ID of the Team Drive",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "teamDriveId"
          ],
          "description": "Deprecated: Use `drives.delete` instead.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.teamdrives.delete"
        },
        "get": {
          "description": "Deprecated: Use `drives.get` instead.",
          "parameterOrder": [
            "teamDriveId"
          ],
          "flatPath": "teamdrives/{teamDriveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "teamdrives/{teamDriveId}",
          "id": "drive.teamdrives.get",
          "parameters": {
            "teamDriveId": {
              "required": true,
              "description": "The ID of the Team Drive",
              "type": "string",
              "location": "path"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs."
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "TeamDrive"
          }
        }
      }
    },
    "drives": {
      "methods": {
        "delete": {
          "id": "drive.drives.delete",
          "path": "drives/{driveId}",
          "parameters": {
            "useDomainAdminAccess": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs."
            },
            "allowItemDeletion": {
              "type": "boolean",
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.",
              "default": "false",
              "location": "query"
            },
            "driveId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the shared drive."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "parameterOrder": [
            "driveId"
          ],
          "httpMethod": "DELETE",
          "flatPath": "drives/{driveId}"
        },
        "create": {
          "description": "Creates a shared drive. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "path": "drives",
          "response": {
            "$ref": "Drive"
          },
          "parameters": {
            "requestId": {
              "type": "string",
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.",
              "required": true,
              "location": "query"
            }
          },
          "request": {
            "$ref": "Drive"
          },
          "flatPath": "drives",
          "parameterOrder": [
            "requestId"
          ],
          "httpMethod": "POST",
          "id": "drive.drives.create",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "list": {
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](https://developers.google.com/workspace/drive/api/guides/search-shareddrives) guide.",
          "id": "drive.drives.list",
          "response": {
            "$ref": "DriveList"
          },
          "parameterOrder": [],
          "flatPath": "drives",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token for shared drives.",
              "type": "string"
            },
            "q": {
              "type": "string",
              "description": "Query string for searching shared drives.",
              "location": "query"
            },
            "pageSize": {
              "default": "10",
              "minimum": "1",
              "description": "The maximum number of shared drives to return. The service may return fewer than this value. If unspecified, at most 10 shared drives will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "type": "integer",
              "location": "query",
              "format": "int32",
              "maximum": "100"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.",
              "default": "false"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "drives"
        },
        "update": {
          "parameters": {
            "driveId": {
              "required": true,
              "description": "The ID of the shared drive.",
              "type": "string",
              "location": "path"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs."
            }
          },
          "flatPath": "drives/{driveId}",
          "httpMethod": "PATCH",
          "path": "drives/{driveId}",
          "description": "Updates the metadata for a shared drive. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.drives.update",
          "parameterOrder": [
            "driveId"
          ],
          "response": {
            "$ref": "Drive"
          },
          "request": {
            "$ref": "Drive"
          }
        },
        "hide": {
          "parameters": {
            "driveId": {
              "required": true,
              "location": "path",
              "description": "The ID of the shared drive.",
              "type": "string"
            }
          },
          "description": "Hides a shared drive from the default view. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "response": {
            "$ref": "Drive"
          },
          "path": "drives/{driveId}/hide",
          "httpMethod": "POST",
          "parameterOrder": [
            "driveId"
          ],
          "id": "drive.drives.hide",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "drives/{driveId}/hide"
        },
        "unhide": {
          "description": "Restores a shared drive to the default view. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "flatPath": "drives/{driveId}/unhide",
          "response": {
            "$ref": "Drive"
          },
          "parameters": {
            "driveId": {
              "location": "path",
              "description": "The ID of the shared drive.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "driveId"
          ],
          "id": "drive.drives.unhide",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "drives/{driveId}/unhide",
          "httpMethod": "POST"
        },
        "get": {
          "description": "Gets a shared drive's metadata by ID. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "parameters": {
            "driveId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the shared drive."
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "id": "drive.drives.get",
          "response": {
            "$ref": "Drive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "drives/{driveId}",
          "httpMethod": "GET",
          "flatPath": "drives/{driveId}",
          "parameterOrder": [
            "driveId"
          ]
        }
      }
    },
    "files": {
      "methods": {
        "download": {
          "id": "drive.files.download",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/download",
          "httpMethod": "POST",
          "description": "Downloads the content of a file. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Operations are valid for 24 hours from the time of creation.",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/download",
          "parameters": {
            "fileId": {
              "description": "Required. The ID of the file to download.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "revisionId": {
              "location": "query",
              "description": "Optional. The revision ID of the file to download. This field can only be set when downloading blob files, Google Docs, and Google Sheets. Returns `INVALID_ARGUMENT` if downloading a specific revision on the file is unsupported.",
              "type": "string"
            },
            "mimeType": {
              "description": "Optional. The MIME type the file should be downloaded as. This field can only be set when downloading Google Workspace documents. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats). If not set, a Google Workspace document is downloaded with a default MIME type. The default MIME type might change in the future.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "generateCseToken": {
          "httpMethod": "GET",
          "id": "drive.files.generateCseToken",
          "flatPath": "files/generateCseToken",
          "parameters": {
            "parent": {
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "parameterOrder": [],
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "path": "files/generateCseToken"
        },
        "update": {
          "response": {
            "$ref": "File"
          },
          "parameters": {
            "addParents": {
              "type": "string",
              "description": "A comma-separated list of parent IDs to add.",
              "location": "query"
            },
            "removeParents": {
              "type": "string",
              "description": "A comma-separated list of parent IDs to remove.",
              "location": "query"
            },
            "useContentAsIndexableText": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether to use the uploaded content as indexable text."
            },
            "enforceSingleParent": {
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use shortcuts instead."
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "keepRevisionForever": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions."
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "ocrLanguage": {
              "type": "string",
              "location": "query",
              "description": "A language hint for OCR processing during image import (ISO 639-1 code)."
            }
          },
          "id": "drive.files.update",
          "request": {
            "$ref": "File"
          },
          "supportsMediaUpload": true,
          "path": "files/{fileId}",
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads).",
          "httpMethod": "PATCH",
          "mediaUpload": {
            "maxSize": "5497558138880",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v3/files/{fileId}"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v3/files/{fileId}"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "flatPath": "files/{fileId}"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}",
          "id": "drive.files.delete",
          "parameters": {
            "enforceSingleParent": {
              "type": "boolean",
              "deprecated": true,
              "location": "query",
              "default": "false",
              "description": "Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root."
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "location": "query",
              "default": "false"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "DELETE",
          "flatPath": "files/{fileId}",
          "description": "Permanently deletes a file owned by the user without moving it to the trash. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete). If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted."
        },
        "create": {
          "httpMethod": "POST",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v3/files"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v3/files"
              }
            },
            "maxSize": "5497558138880"
          },
          "flatPath": "files",
          "parameters": {
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "ocrLanguage": {
              "location": "query",
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "type": "string"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "useContentAsIndexableText": {
              "default": "false",
              "location": "query",
              "description": "Whether to use the uploaded content as indexable text.",
              "type": "boolean"
            },
            "ignoreDefaultVisibility": {
              "default": "false",
              "location": "query",
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
              "type": "boolean"
            },
            "keepRevisionForever": {
              "type": "boolean",
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "default": "false",
              "location": "query"
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "enforceSingleParent": {
              "default": "false",
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "deprecated": true,
              "location": "query",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files",
          "supportsMediaUpload": true,
          "parameterOrder": [],
          "response": {
            "$ref": "File"
          },
          "description": " Creates a file. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file). This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with the `create` method must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `name` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"name\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `name` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the name. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "request": {
            "$ref": "File"
          },
          "id": "drive.files.create"
        },
        "get": {
          "response": {
            "$ref": "File"
          },
          "useMediaDownloadService": true,
          "parameters": {
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file.",
              "location": "path"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "acknowledgeAbuse": {
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "location": "query",
              "type": "boolean"
            }
          },
          "supportsMediaDownload": true,
          "supportsSubscription": true,
          "description": " Gets a file's metadata or content by ID. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v3/files/export) instead. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).",
          "httpMethod": "GET",
          "id": "drive.files.get",
          "path": "files/{fileId}",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}"
        },
        "list": {
          "flatPath": "files",
          "path": "files",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [],
          "parameters": {
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "includeItemsFromAllDrives": {
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "includeTeamDriveItems": {
              "type": "boolean",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "location": "query",
              "default": "false",
              "deprecated": true
            },
            "spaces": {
              "type": "string",
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are `drive` and `appDataFolder`. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "location": "query",
              "default": "drive"
            },
            "corpus": {
              "enum": [
                "domain",
                "user"
              ],
              "enumDescriptions": [
                "Files shared to the user's domain.",
                "Files owned by or shared to the user."
              ],
              "location": "query",
              "type": "string",
              "description": "Deprecated: The source of files to list. Use `corpora` instead.",
              "deprecated": true
            },
            "driveId": {
              "location": "query",
              "description": "ID of the shared drive to search.",
              "type": "string"
            },
            "pageSize": {
              "maximum": "1000",
              "type": "integer",
              "format": "int32",
              "default": "100",
              "minimum": "1",
              "location": "query",
              "description": "The maximum number of files to return. The service may return fewer than this value. If unspecified, at most 100 files will be returned for shared drives, and the entire list of files for non-shared drives. The maximum value is 1000; values above 1000 will be coerced to 1000."
            },
            "q": {
              "location": "query",
              "description": "A query for filtering the file results. For supported syntax, see [Search for files and folders](/workspace/drive/api/guides/search-files).",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdTime`: When the file was created. Avoid using this key for queries on large item collections as it might result in timeouts or other issues. For time-related sorting on large item collections, use `modifiedTime desc` instead. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `modifiedByMeTime`: The last time the file was modified by the user. * `modifiedTime`: The last time the file was modified by anyone. * `name`: The name of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `name_natural`: The name of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeTime`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `viewedByMeTime`: The last time the file was viewed by the user. Each key sorts ascending by default, but can be reversed with the `desc` modifier. Example usage: `?orderBy=folder,modifiedTime desc,name`."
            },
            "supportsTeamDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true
            },
            "teamDriveId": {
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "corpora": {
              "location": "query",
              "type": "string",
              "description": "Specifies a collection of items (files or documents) to which the query applies. Supported items include: * `user` * `domain` * `drive` * `allDrives` Prefer `user` or `drive` to `allDrives` for efficiency. By default, corpora is set to `user`. However, this can change depending on the filter set through the `q` parameter. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization)."
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            }
          },
          "id": "drive.files.list",
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "response": {
            "$ref": "FileList"
          },
          "httpMethod": "GET"
        },
        "modifyLabels": {
          "flatPath": "files/{fileId}/modifyLabels",
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "POST",
          "description": "Modifies the set of labels applied to a file. For more information, see [Set a label field on a file](https://developers.google.com/workspace/drive/api/guides/set-label). Returns a list of the labels that were added or modified.",
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID of the file to which the labels belong.",
              "type": "string"
            }
          },
          "id": "drive.files.modifyLabels",
          "path": "files/{fileId}/modifyLabels",
          "request": {
            "$ref": "ModifyLabelsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "response": {
            "$ref": "ModifyLabelsResponse"
          }
        },
        "export": {
          "path": "files/{fileId}/export",
          "supportsMediaDownload": true,
          "parameters": {
            "mimeType": {
              "required": true,
              "type": "string",
              "description": "Required. The MIME type of the format requested for this export. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats).",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Note that the exported content is limited to 10 MB.",
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "flatPath": "files/{fileId}/export",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.files.export"
        },
        "listLabels": {
          "response": {
            "$ref": "LabelList"
          },
          "id": "drive.files.listLabels",
          "description": "Lists the labels on a file. For more information, see [List labels on a file](https://developers.google.com/workspace/drive/api/guides/list-labels).",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "maximum": "100",
              "type": "integer",
              "location": "query",
              "default": "100",
              "minimum": "1",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100."
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID for the file."
            }
          },
          "path": "files/{fileId}/listLabels",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/listLabels"
        },
        "generateIds": {
          "httpMethod": "GET",
          "id": "drive.files.generateIds",
          "response": {
            "$ref": "GeneratedIds"
          },
          "parameters": {
            "space": {
              "default": "drive",
              "type": "string",
              "location": "query",
              "description": "The space in which the IDs can be used to create files. Supported values are `drive` and `appDataFolder`. (Default: `drive`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization)."
            },
            "type": {
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "type": "string",
              "location": "query",
              "default": "files"
            },
            "count": {
              "maximum": "1000",
              "location": "query",
              "description": "The number of IDs to return.",
              "format": "int32",
              "type": "integer",
              "default": "10",
              "minimum": "1"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/generateIds",
          "description": "Generates a set of file IDs which can be provided in create or copy requests. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file).",
          "path": "files/generateIds",
          "parameterOrder": []
        },
        "emptyTrash": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [],
[...]
