{
  "name": "drivelabels",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "An API for managing Drive Labels",
  "canonicalName": "Drive Labels",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "documentationLink": "https://developers.google.com/workspace/drive/labels",
  "revision": "20260916",
  "servicePath": "",
  "version": "v2beta",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "schemas": {
    "GoogleAppsDriveLabelsV2betaLabel": {
      "type": "object",
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items.",
      "properties": {
        "displayHints": {
          "readOnly": true,
          "description": "Output only. UI display hints for rendering the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelDisplayHints"
        },
        "fields": {
          "description": "List of fields in descending priority order.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaField"
          }
        },
        "enabledAppSettings": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings",
          "description": "Optional. The `EnabledAppSettings` for this Label."
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties",
          "description": "Required. The basic properties of the label."
        },
        "revisionCreator": {
          "readOnly": true,
          "description": "Output only. The user who created this label revision.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who disabled this label. This value has no meaning when the label isn't disabled."
        },
        "labelType": {
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN",
            "GOOGLE_APP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features.",
            "A label owned by an internal Google application rather than a customer. These labels are read-only."
          ],
          "description": "Required. The type of label."
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this label on applied metadata.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time this label was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "appliedLabelPolicy": {
          "description": "Output only. Behavior of this label when it's applied to Drive items.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy"
        },
        "revisionCreateTime": {
          "description": "Output only. The time this label revision was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`."
        },
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "readOnly": true,
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes."
        },
        "creator": {
          "description": "Output only. The user who created this label.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true
        },
        "disableTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time this label was disabled. This value has no meaning when the label isn't disabled."
        },
        "schemaCapabilities": {
          "readOnly": true,
          "description": "Output only. The capabilities the user has on this label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below.",
          "type": "string"
        },
        "learnMoreUri": {
          "type": "string",
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used."
        },
        "lockStatus": {
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus",
          "readOnly": true,
          "description": "Output only. The `LockStatus` of this label."
        },
        "publisher": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who published this label. This value has no meaning when the label isn't published.>>",
          "readOnly": true
        },
        "customer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The customer this label belongs to. For example: `customers/123abc789`."
        },
        "publishTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time this label was published. This value has no meaning when the label isn't published."
        },
        "revisionId": {
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabel"
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest": {
      "type": "object",
      "description": "Request to update the `CopyMode` of the given label. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately. \\",
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "copyMode": {
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "description": "Required. Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "type": "string"
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "view": {
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldUserOptions": {
      "properties": {
        "listOptions": {
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
      "description": "Options for the user field type."
    },
    "GoogleAppsDriveLabelsV2betaField": {
      "id": "GoogleAppsDriveLabelsV2betaField",
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true
        },
        "queryKey": {
          "readOnly": true,
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\".",
          "type": "string"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDisplayHints",
          "readOnly": true
        },
        "publisher": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published.",
          "readOnly": true
        },
        "userOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
          "description": "User field options."
        },
        "createTime": {
          "description": "Output only. The time this field was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "description": "Output only. The lifecycle of this field.",
          "readOnly": true
        },
        "disabler": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled."
        },
        "creator": {
          "readOnly": true,
          "description": "Output only. The user who created this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties",
          "description": "The basic properties of the field."
        },
        "dateOptions": {
          "description": "Date field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time this field was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "integerOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
          "description": "Integer field options."
        },
        "selectionOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
          "description": "Selection field options."
        },
        "textOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions",
          "description": "Text field options."
        },
        "lockStatus": {
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus",
          "readOnly": true,
          "description": "Output only. The `LockStatus` of this field."
        },
        "updater": {
          "description": "Output only. The user who modified this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true
        },
        "appliedCapabilities": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities",
          "description": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items."
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities this user has when editing this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities"
        },
        "disableTime": {
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
      "type": "object",
      "description": "Options for the selection field type.",
      "properties": {
        "choices": {
          "description": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
          }
        },
        "listOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions",
          "description": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelLock": {
      "description": "A lock that can be applied to a label, field, or choice.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLabelLock",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time this label lock was created.",
          "type": "string"
        },
        "fieldId": {
          "type": "string",
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked."
        },
        "creator": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock."
        },
        "deleteTime": {
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "capabilities": {
          "description": "Output only. The user's capabilities on this label lock.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities"
        },
        "choiceId": {
          "type": "string",
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present."
        },
        "name": {
          "description": "Output only. Resource name of this label lock.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ],
          "description": "Output only. This label lock's state.",
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse": {
      "description": "Response following field create.",
      "properties": {
        "id": {
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here.",
          "type": "string"
        },
        "priority": {
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse",
      "type": "object",
      "description": "Response following choice disable.",
      "properties": {}
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate",
      "type": "object",
      "properties": {
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Label permission resource name."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest",
      "description": "Deletes a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldTextOptions": {
      "properties": {
        "maxLength": {
          "description": "Output only. The maximum valid length of values for the text field.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "minLength": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The minimum valid length of values for the text field."
        }
      },
      "description": "Options for the Text field type.",
      "id": "GoogleAppsDriveLabelsV2betaFieldTextOptions",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings": {
      "properties": {
        "enabledApps": {
          "type": "array",
          "description": "Optional. The list of apps where the label can be used.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp"
          }
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings",
      "description": "Describes the Google Workspace apps in which the label can be used."
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities": {
      "description": "The capabilities related to this choice on applied metadata.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
      "properties": {
        "canSelect": {
          "description": "Whether the user can select this choice on an item.",
          "type": "boolean"
        },
        "canSearch": {
          "description": "Whether the user can use this choice in search queries.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts.",
      "properties": {
        "showInApply": {
          "type": "boolean",
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI."
        },
        "hideInSearch": {
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse": {
      "properties": {
        "permissions": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "type": "array",
          "description": "Required. Permissions updated."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse",
      "type": "object",
      "description": "Response for updating one or more label permissions."
    },
    "GoogleAppsDriveLabelsV2betaUserCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaUserCapabilities",
      "properties": {
        "name": {
          "description": "Output only. Resource name for the user capabilities.",
          "readOnly": true,
          "type": "string"
        },
        "canCreateSharedLabels": {
          "description": "Output only. Whether the user is allowed to create shared labels.",
          "type": "boolean",
          "readOnly": true
        },
        "canAccessLabelManager": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the user is allowed access to the label manager."
        },
        "canCreateAdminLabels": {
          "description": "Output only. Whether the user is allowed to create admin labels.",
          "type": "boolean",
          "readOnly": true
        },
        "canAdministrateLabels": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the user is an administrator for the shared labels feature."
        }
      },
      "type": "object",
      "description": "The capabilities of a user."
    },
    "GoogleAppsDriveLabelsV2betaLabelLimits": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLabelLimits",
      "description": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
      "properties": {
        "maxDraftRevisions": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts."
        },
        "fieldLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldLimits",
          "description": "The limits for fields."
        },
        "maxFields": {
          "format": "int32",
          "description": "The maximum number of fields allowed within the label.",
          "type": "integer"
        },
        "maxDeletedFields": {
          "description": "The maximum number of published fields that can be deleted.",
          "format": "int32",
          "type": "integer"
        },
        "maxTitleLength": {
          "type": "integer",
          "description": "The maximum number of characters allowed for the title.",
          "format": "int32"
        },
        "maxDescriptionLength": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of characters allowed for the description."
        },
        "name": {
          "type": "string",
          "description": "Resource name."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "properties": {},
      "description": "Response following choice enable.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse",
      "description": "Response following update to field type.",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities": {
      "type": "object",
      "properties": {
        "canUpdate": {
          "description": "Whether the user can change this label.",
          "type": "boolean"
        },
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled."
        },
        "canEnable": {
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled.",
          "type": "boolean"
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled."
        }
      },
      "description": "The capabilities related to this label when editing the label.",
      "id": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities"
    },
    "GoogleAppsDriveLabelsV2betaLockStatus": {
      "properties": {
        "locked": {
          "description": "Output only. Indicates whether this label component is the (direct) target of a label lock. A label component can be implicitly locked even if it's not the direct target of a label lock, in which case this field is set to false.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "Contains information about whether a label component should be considered locked.",
      "id": "GoogleAppsDriveLabelsV2betaLockStatus",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse": {
      "description": "Response following field delete.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest": {
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest",
      "type": "object",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        },
        "requests": {
          "description": "Required. The request message specifying the resources to update.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest"
          },
          "type": "array"
        }
      },
      "description": "Updates one or more label permissions."
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest": {
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Optional. The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "enabledAppSettings": {
          "description": "Required. The new `EnabledAppSettings` value for the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings"
        },
        "useAdminAccess": {
          "description": "Optional. Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "view": {
          "description": "Optional. When specified, only certain fields belonging to the indicated view will be returned.",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "type": "string",
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        }
      },
      "type": "object",
      "description": "Request to update the `EnabledAppSettings` of the given label. This change is not revisioned, doesn't require publishing, and takes effect immediately. \\"
    },
    "GoogleAppsDriveLabelsV2betaLabelProperties": {
      "description": "Basic properties of the label.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLabelProperties",
      "properties": {
        "description": {
          "description": "The description of the label.",
          "type": "string"
        },
        "title": {
          "description": "Required. Title of the label.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities": {
      "properties": {
        "canEnable": {
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can change this field.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "The capabilities related to this field when editing the field.",
      "id": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "type": "object",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field from which a choice will be deleted."
        },
        "id": {
          "description": "Required. Choice to delete.",
          "type": "string"
        }
      },
      "description": "Request to delete a choice.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest"
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice": {
      "description": "Selection field choice.",
      "properties": {
        "disabler": {
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "disableTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled.",
          "format": "google-datetime"
        },
        "lifecycle": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "description": "Output only. Lifecycle of the choice."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this choice was created."
        },
        "id": {
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`.",
          "type": "string"
        },
        "publisher": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time this choice was updated last.",
          "format": "google-datetime"
        },
        "publishTime": {
          "format": "google-datetime",
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published.",
          "type": "string",
          "readOnly": true
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who created this choice."
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints"
        },
        "properties": {
          "description": "Basic properties of the choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties"
        },
        "lockStatus": {
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus",
          "readOnly": true,
          "description": "Output only. The `LockStatus` of this choice."
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this choice on applied metadata.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
          "readOnly": true
        },
        "updater": {
          "readOnly": true,
          "description": "Output only. The user who updated this choice last.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities related to this option when editing the option.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties",
          "description": "Required. Basic field properties."
        },
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        }
      },
      "description": "Request to update field properties.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest"
    },
    "GoogleAppsDriveLabelsV2betaLabelPermission": {
      "description": "The permission that applies to a principal (user, group, audience) on a label.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLabelPermission",
      "properties": {
        "role": {
          "enum": [
            "LABEL_ROLE_UNSPECIFIED",
            "READER",
            "APPLIER",
            "ORGANIZER",
            "EDITOR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown role.",
            "A reader can read the label and associated metadata applied to Drive items.",
            "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
            "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
            "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
          ],
          "description": "The role the principal should have."
        },
        "audience": {
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified."
        },
        "group": {
          "description": "Group resource name.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of this permission.",
          "type": "string"
        },
        "person": {
          "type": "string",
          "description": "Person resource name."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaEnableLabelRequest": {
      "description": "Request to enable a label.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaEnableLabelRequest",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "writeControl": {
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl",
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaPublishLabelRequest": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "writeControl": {
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl",
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
        }
      },
      "description": "Request to publish a label.",
      "id": "GoogleAppsDriveLabelsV2betaPublishLabelRequest"
    },
    "GoogleAppsDriveLabelsV2betaLabelDisplayHints": {
      "properties": {
        "shownInApply": {
          "description": "This label should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "disabled": {
          "description": "Whether the label should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "priority": {
          "description": "The order to display labels in a list.",
          "format": "int64",
          "type": "string"
        },
        "hiddenInSearch": {
          "description": "This label should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelDisplayHints",
      "type": "object",
      "description": "The UI display hints for rendering the label."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "properties": {
          "description": "Required. Label properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties"
        }
      },
      "description": "Updates basic properties of a label.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
      "properties": {},
      "description": "Response following update to label properties.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest",
      "type": "object",
      "description": "Request to change the type of a field.",
      "properties": {
        "textOptions": {
          "description": "Update field to Text.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "userOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
          "description": "Update field to User."
        },
        "selectionOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
          "description": "Update field to Selection."
        },
        "dateOptions": {
          "description": "Update field to Date.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions"
        },
        "integerOptions": {
          "description": "Update field to Integer.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions"
        },
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        },
        "labelPermissions": {
          "type": "array",
          "description": "Label permissions.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          }
        }
      },
      "description": "Response for listing the permissions on a label.",
      "id": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse"
    },
    "GoogleAppsDriveLabelsV2betaFieldProperties": {
      "properties": {
        "required": {
          "description": "Whether the field should be marked as required.",
          "type": "boolean"
        },
        "insertBeforeField": {
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldProperties",
      "type": "object",
      "description": "The basic properties of the field."
    },
    "GoogleAppsDriveLabelsV2betaBadgeColors": {
      "type": "object",
      "properties": {
        "soloColor": {
          "$ref": "GoogleTypeColor",
          "description": "Output only. Color that can be used for text without a background.",
          "readOnly": true
        },
        "backgroundColor": {
          "description": "Output only. Badge background that pairs with the foreground.",
          "$ref": "GoogleTypeColor",
          "readOnly": true
        },
        "foregroundColor": {
          "readOnly": true,
          "description": "Output only. Badge foreground that pairs with the background.",
          "$ref": "GoogleTypeColor"
        }
      },
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color.",
      "id": "GoogleAppsDriveLabelsV2betaBadgeColors"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "properties": {
        "properties": {
          "description": "Required. The choice properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties"
        },
        "id": {
          "description": "Required. The choice to update.",
          "type": "string"
        },
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field to update."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
      "description": "Request to update a choice property."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest",
      "description": "The set of requests for updating aspects of a label. If any request isn't valid, no requests will be applied.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest"
          },
          "description": "A list of updates to apply to the label. Requests will be applied in the order they are specified."
        },
        "view": {
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ]
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels when `include_label_in_response` is `true`."
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaListLimits": {
      "properties": {
        "maxEntries": {
          "description": "Maximum number of values allowed for the field type.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaListLimits",
      "description": "Limits for list-variant of a field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDisableLabelRequest": {
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
          "description": "Disabled policy to use."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDisableLabelRequest",
      "description": "Request to deprecate a published label."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
      "description": "Response following update to selection choice properties.",
      "type": "object",
      "properties": {
        "priority": {
          "format": "int32",
          "description": "The priority of the updated choice. The priority may change from what was specified to assure contiguous priorities between choices (1-n).",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest": {
      "type": "object",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `DeleteLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        },
        "requests": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest"
          },
          "description": "Required. The request message specifying the resources to update.",
          "type": "array"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest",
      "description": "Deletes one or more label permissions."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse",
      "properties": {
        "id": {
          "type": "string",
          "description": "The server-generated ID of the created choice within the field."
        },
        "fieldId": {
          "description": "The server-generated ID of the field.",
          "type": "string"
        }
      },
      "description": "Response following selection choice create.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaSelectionLimits": {
      "type": "object",
      "properties": {
        "maxChoices": {
          "format": "int32",
          "description": "Maximum number of choices.",
          "type": "integer"
        },
        "maxDeletedChoices": {
          "description": "Maximum number of deleted choices.",
          "type": "integer",
          "format": "int32"
        },
        "maxIdLength": {
          "format": "int32",
          "description": "Maximum ID length for a selection option.",
          "type": "integer"
        },
        "maxDisplayNameLength": {
          "format": "int32",
          "description": "Maximum length for display name.",
          "type": "integer"
        },
        "listLimits": {
          "description": "Limits for list-variant of a field type.",
          "$ref": "GoogleAppsDriveLabelsV2betaListLimits"
        }
      },
      "description": "Limits for selection field type.",
      "id": "GoogleAppsDriveLabelsV2betaSelectionLimits"
    },
    "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp": {
      "id": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp",
      "properties": {
        "app": {
          "enum": [
            "APP_UNSPECIFIED",
            "DRIVE",
            "GMAIL"
          ],
          "description": "Optional. The name of the app.",
          "enumDescriptions": [
            "Unspecified",
            "Drive",
            "Gmail"
          ],
          "type": "string"
        }
      },
      "description": "An app where the label can be used.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest": {
      "description": "Request to disable the field.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. Key of the field to disable."
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
          "description": "Required. Field disabled policy."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest"
    },
    "GoogleAppsDriveLabelsV2betaIntegerLimits": {
      "properties": {
        "minValue": {
          "type": "string",
          "description": "Minimum value for an integer field type.",
          "format": "int64"
        },
        "maxValue": {
          "description": "Maximum value for an integer field type.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Limits for integer field type.",
      "id": "GoogleAppsDriveLabelsV2betaIntegerLimits"
    },
    "GoogleAppsDriveLabelsV2betaFieldIntegerOptions": {
      "properties": {
        "minValue": {
          "readOnly": true,
          "description": "Output only. The minimum valid value for the integer field.",
          "format": "int64",
          "type": "string"
        },
        "maxValue": {
          "description": "Output only. The maximum valid value for the integer field.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Options for the Integer field type.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions"
    },
    "GoogleAppsDriveLabelsV2betaWriteControl": {
      "description": "Provides control over how write requests are executed. When not specified, the last write wins.",
      "type": "object",
      "properties": {
        "requiredRevisionId": {
          "type": "string",
          "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaWriteControl"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse": {
      "type": "object",
      "description": "Response following field disable.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest",
      "description": "Request to enable the field.",
      "properties": {
        "id": {
          "description": "Required. ID of the field to enable.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities": {
      "description": "The capabilities related to this field on applied metadata.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities",
      "properties": {
        "canSearch": {
          "description": "Whether the user can search for Drive items referencing this field.",
          "type": "boolean"
        },
        "canRead": {
          "type": "boolean",
          "description": "Whether the user can read related applied metadata on items."
        },
        "canWrite": {
          "type": "boolean",
          "description": "Whether the user can set this field on Drive items."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldDisplayHints": {
      "type": "object",
      "properties": {
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This field should be hidden in the search menu when searching for Drive items."
        },
        "shownInApply": {
          "description": "This field should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "required": {
          "type": "boolean",
          "description": "Whether the field should be shown as required in the UI."
        },
        "disabled": {
          "description": "Whether the field should be shown in the UI as disabled.",
          "type": "boolean"
        }
      },
      "description": "UI display hints for rendering a field.",
      "id": "GoogleAppsDriveLabelsV2betaFieldDisplayHints"
    },
    "GoogleAppsDriveLabelsV2betaListLabelLocksResponse": {
      "id": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse",
      "properties": {
        "labelLocks": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelLock"
          },
          "type": "array",
          "description": "Label locks."
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      },
      "description": "The response to a `ListLabelLocksRequest`.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest",
      "description": "Request to delete the field.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the field to delete."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse",
      "description": "Response following field enable.",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaLabelLockCapabilities": {
      "properties": {
        "canViewPolicy": {
          "type": "boolean",
          "description": "True if the user is authorized to view the policy."
        }
      },
      "type": "object",
      "description": "A description of a user's capabilities on a label lock.",
      "id": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities"
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities": {
      "properties": {
        "canApply": {
          "type": "boolean",
          "description": "Whether the user can apply this label to items."
        },
        "canRemove": {
          "type": "boolean",
          "description": "Whether the user can remove this label from items."
        },
        "canRead": {
          "description": "Whether the user can read applied metadata related to this label.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities",
      "type": "object",
      "description": "The capabilities a user has on this label's applied metadata."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse": {
      "type": "object",
      "description": "Response following update to field properties.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
      "properties": {
        "priority": {
          "format": "int32",
          "type": "integer",
          "description": "The priority of the updated field. The priority may change from what was specified to assure contiguous priorities between fields (1-n)."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "type": "object",
      "description": "Request to enable a choice.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be enabled.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to enable."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLifecycle": {
      "type": "object",
      "description": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect.",
      "id": "GoogleAppsDriveLabelsV2betaLifecycle",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the object associated with this lifecycle.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ]
        },
        "hasUnpublishedChanges": {
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes.",
          "readOnly": true,
          "type": "boolean"
        },
        "disabledPolicy": {
          "description": "The policy that governs how to show a disabled label, field, or selection choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        }
      }
    },
    "GoogleTypeColor": {
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "type": "object",
      "id": "GoogleTypeColor",
      "properties": {
        "alpha": {
          "type": "number",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "format": "float"
        },
        "red": {
          "format": "float",
          "type": "number",
          "description": "The amount of red in the color as a value in the interval [0, 1]."
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLongTextLimits": {
      "description": "Limits for long text field type.",
      "id": "GoogleAppsDriveLabelsV2betaLongTextLimits",
      "type": "object",
      "properties": {
        "minLength": {
          "description": "Minimum length allowed for a long text field type.",
          "format": "int32",
          "type": "integer"
        },
        "maxLength": {
          "description": "Maximum length allowed for a long text field type.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldDateOptions": {
      "type": "object",
      "description": "Options for the date field type.",
      "id": "GoogleAppsDriveLabelsV2betaFieldDateOptions",
      "properties": {
        "dateFormatType": {
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ],
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale.",
          "type": "string",
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ]
        },
        "maxValue": {
          "description": "Output only. Maximum valid value (year, month, day).",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        },
        "dateFormat": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ICU date format."
        },
        "minValue": {
          "$ref": "GoogleTypeDate",
          "description": "Output only. Minimum valid value (year, month, day).",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDateLimits": {
      "id": "GoogleAppsDriveLabelsV2betaDateLimits",
      "type": "object",
      "description": "Limits for date field type.",
      "properties": {
        "minValue": {
          "$ref": "GoogleTypeDate",
          "description": "Minimum value for the date field type."
        },
        "maxValue": {
          "description": "Maximum value for the date field type.",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest",
      "description": "Request to create a field within a label.",
      "type": "object",
      "properties": {
        "field": {
          "description": "Required. Field to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaField"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldListOptions": {
      "description": "Options for a multi-valued variant of an associated field type.",
      "properties": {
        "maxEntries": {
          "type": "integer",
          "description": "Maximum number of entries permitted.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldListOptions"
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties": {
      "type": "object",
      "description": "Basic properties of the choice.",
      "properties": {
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "description": {
          "description": "The description of this label.",
          "type": "string"
        },
        "insertBeforeChoice": {
          "type": "string",
          "description": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list."
        },
        "badgeConfig": {
          "description": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\".",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeConfig"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties"
    },
    "GoogleAppsDriveLabelsV2betaBadgeConfig": {
      "id": "GoogleAppsDriveLabelsV2betaBadgeConfig",
      "type": "object",
      "description": "Badge status of the label.",
      "properties": {
        "priorityOverride": {
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used.",
          "format": "int64",
          "type": "string"
        },
        "color": {
          "$ref": "GoogleTypeColor",
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities": {
      "type": "object",
      "properties": {
        "canEnable": {
          "description": "Whether the user can enable this choice.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can update this choice.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this choice.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this choice.",
          "type": "boolean"
        }
      },
      "description": "The capabilities related to this choice when editing the choice.",
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities"
    },
    "GoogleAppsDriveLabelsV2betaListLabelsResponse": {
      "id": "GoogleAppsDriveLabelsV2betaListLabelsResponse",
      "description": "Response for listing labels.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        },
        "labels": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "description": "Labels.",
          "type": "array"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be created.",
          "type": "string"
        },
        "choice": {
          "description": "Required. The choice to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
        }
      },
      "description": "Request to create a selection choice.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse": {
      "type": "object",
      "description": "A single response from an update.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse",
      "properties": {
        "createField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse",
          "description": "Creates a field."
        },
        "deleteField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse",
          "description": "Deletes a field from the label."
        },
        "updateFieldType": {
          "description": "Updates field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse"
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse"
        },
        "enableField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse",
          "description": "Enables field."
        },
        "createSelectionChoice": {
          "description": "Creates a selection list option to add to a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse"
        },
        "disableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse",
          "description": "Disables a choice within a selection field."
        },
        "updateSelectionChoiceProperties": {
          "description": "Updates a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse"
        },
        "deleteSelectionChoice": {
          "description": "Deletes a choice from a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse"
        },
        "updateLabel": {
          "description": "Updates basic properties of a label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
        },
        "enableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse",
          "description": "Enables a choice within a selection field."
        },
        "disableField": {
          "description": "Disables field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints": {
      "properties": {
        "darkBadgeColors": {
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeColors"
        },
        "badgePriority": {
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority.",
          "type": "string",
          "format": "int64"
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This option should be shown in the apply menu when applying values to a Drive item."
        },
        "hiddenInSearch": {
          "description": "This option should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "disabled": {
          "description": "Whether the option should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "badgeColors": {
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeColors"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints",
      "type": "object",
      "description": "UI display hints for rendering an option."
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleAppsDriveLabelsV2betaUserLimits": {
      "properties": {
        "listLimits": {
          "description": "Limits for list-variant of a field type.",
          "$ref": "GoogleAppsDriveLabelsV2betaListLimits"
        }
      },
      "description": "Limits for Field.Type.USER.",
      "id": "GoogleAppsDriveLabelsV2betaUserLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse": {
      "description": "Response for label update.",
      "type": "object",
      "properties": {
        "updatedLabel": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabel",
          "description": "The label after updates were applied. This is only set if `include_label_in_response` is `true` and there were no errors."
        },
        "responses": {
          "description": "The reply of the updates. This maps 1:1 with the updates, although responses to some requests may be empty.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse"
          }
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse"
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent label resource name."
        },
        "labelPermission": {
          "description": "Required. The permission to create or update on the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
        }
      },
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy": {
      "description": "Behavior of this label when it's applied to Drive items.",
      "type": "object",
      "properties": {
        "copyMode": {
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest": {
      "description": "A single kind of update to apply to a label.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest",
      "properties": {
        "disableField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest",
          "description": "Disables the field."
        },
        "disableSelectionChoice": {
          "description": "Disable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest"
        },
        "updateFieldType": {
          "description": "Update field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest"
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest"
        },
        "enableField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest",
          "description": "Enables the field."
        },
        "createField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest",
          "description": "Creates a field."
        },
        "deleteField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest",
          "description": "Deletes a field from the label."
        },
        "deleteSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
          "description": "Delete a choice within a selection field."
        },
        "updateLabel": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
          "description": "Updates the label properties."
        },
        "enableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest",
          "description": "Enable a choice within a selection field."
        },
        "updateSelectionChoiceProperties": {
          "description": "Update a choice property within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest"
        },
        "createSelectionChoice": {
          "description": "Create a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. Choice to disable.",
          "type": "string"
        },
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field in which a choice will be disabled."
        },
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "disabledPolicy": {
          "description": "Required. The disabled policy to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        }
      },
      "description": "Request to disable a choice.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest"
    },
    "GoogleAppsDriveLabelsV2betaFieldLimits": {
      "description": "Field constants governing the structure of a field; such as, the maximum title length, minimum and maximum field values or length, etc.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldLimits",
      "properties": {
        "maxIdLength": {
          "description": "Maximum length for the id.",
          "format": "int32",
          "type": "integer"
        },
        "textLimits": {
          "description": "The relevant limits for the specified Field.Type. Text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaTextLimits"
        },
        "maxDescriptionLength": {
          "description": "Limits for field description, also called help text.",
          "format": "int32",
          "type": "integer"
        },
        "maxDisplayNameLength": {
          "format": "int32",
          "type": "integer",
          "description": "Limits for field title."
        },
        "longTextLimits": {
          "description": "Long text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaLongTextLimits"
        },
        "dateLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaDateLimits",
          "description": "Date field limits."
        },
        "selectionLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaSelectionLimits",
          "description": "Selection field limits."
        },
        "userLimits": {
          "description": "User field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserLimits"
        },
        "integerLimits": {
          "description": "Integer field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaIntegerLimits"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "description": "Response following choice delete.",
      "type": "object",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse"
    },
    "GoogleAppsDriveLabelsV2betaUserInfo": {
      "type": "object",
      "description": "Information about a user.",
      "id": "GoogleAppsDriveLabelsV2betaUserInfo",
      "properties": {
        "person": {
          "type": "string",
          "description": "The identifier for this user that can be used with the [People API](https://developers.google.com/people) to get more information. For example, `people/12345678`."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaTextLimits": {
      "description": "Limits for text field type.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaTextLimits",
      "properties": {
        "maxLength": {
          "type": "integer",
          "description": "Maximum length allowed for a text field type.",
          "format": "int32"
        },
        "minLength": {
          "description": "Minimum length allowed for a text field type.",
          "format": "int32",
          "type": "integer"
        }
      }
    }
  },
  "rootUrl": "https://drivelabels.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.admin.labels.readonly": {
          "description": "See all Google Drive labels and label-related admin policies in your organization"
        },
        "https://www.googleapis.com/auth/drive.labels": {
          "description": "See, edit, create, and delete your Google Drive labels"
        },
        "https://www.googleapis.com/auth/drive.admin.labels": {
          "description": "See, edit, create, and delete all Google Drive labels in your organization, and see your organization's label-related admin policies"
        },
        "https://www.googleapis.com/auth/drive.labels.readonly": {
          "description": "See your Google Drive labels"
        }
      }
    }
  },
  "title": "Drive Labels API",
  "baseUrl": "https://drivelabels.googleapis.com/",
  "ownerName": "Google",
  "id": "drivelabels:v2beta",
  "ownerDomain": "google.com",
  "basePath": "",
  "resources": {
    "users": {
      "methods": {
        "getCapabilities": {
          "description": "Gets the user capabilities.",
          "httpMethod": "GET",
          "id": "drivelabels.users.getCapabilities",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2beta/users/{usersId}/capabilities",
          "path": "v2beta/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^users/[^/]+/capabilities$",
              "required": true,
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported."
            },
            "customer": {
              "description": "The customer to scope this request to. For example: `customers/abcd1234`. If unset, it will return settings within the current customer.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaUserCapabilities"
          }
        }
      }
    },
    "labels": {
      "resources": {
        "revisions": {
          "resources": {
            "locks": {
              "methods": {
                "list": {
                  "id": "drivelabels.labels.revisions.locks.list",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Maximum number of locks to return per page. Default: 100. Max: 200."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The token of the page to return."
                    }
                  },
                  "path": "v2beta/{+parent}/locks",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the label locks on a label.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/locks",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse"
                  }
                }
              }
            },
            "permissions": {
              "methods": {
[...]
