{
  "discoveryVersion": "v1",
  "version": "v2",
  "fullyEncodeReservedExpansion": true,
  "description": "Provides a historical view of activity in Google Drive.",
  "basePath": "",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "batchPath": "batch",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "kind": "discovery#restDescription",
  "revision": "20260915",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "version_module": true,
  "id": "driveactivity:v2",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "flatPath": "v2/activity:query",
          "parameters": {},
          "path": "v2/activity:query",
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "description": "Query past activity in Google Drive.",
          "id": "driveactivity.activity.query",
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "response": {
            "$ref": "QueryDriveActivityResponse"
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "canonicalName": "Drive Activity",
  "servicePath": "",
  "ownerName": "Google",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        }
      }
    }
  },
  "title": "Drive Activity API",
  "ownerDomain": "google.com",
  "name": "driveactivity",
  "schemas": {
    "TargetReference": {
      "description": "A lightweight reference to the target of activity.",
      "id": "TargetReference",
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "deprecated": true,
          "description": "This field is deprecated; please use the `drive` field instead."
        },
        "drive": {
          "$ref": "DriveReference",
          "description": "The target is a shared drive."
        }
      },
      "type": "object"
    },
    "Copy": {
      "id": "Copy",
      "type": "object",
      "description": "An object was created by copying an existing object.",
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      }
    },
    "ConsolidationStrategy": {
      "id": "ConsolidationStrategy",
      "properties": {
        "none": {
          "description": "The individual activities are not consolidated.",
          "$ref": "NoConsolidation"
        },
        "legacy": {
          "$ref": "Legacy",
          "description": "The individual activities are consolidated using the legacy strategy."
        }
      },
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "type": "object"
    },
    "AppliedLabelChange": {
      "type": "object",
      "properties": {
        "changes": {
          "type": "array",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "description": "Changes that were made to the Label on the Target."
        }
      },
      "id": "AppliedLabelChange",
      "description": "Label changes that were made on the Target."
    },
    "Post": {
      "type": "object",
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ],
          "description": "The sub-type of this event.",
          "type": "string"
        }
      },
      "id": "Post",
      "description": "A regular posted comment."
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "properties": {
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.title` instead."
        },
        "name": {
          "description": "This field is deprecated; please see `Drive.name` instead.",
          "type": "string"
        },
        "root": {
          "$ref": "DriveItem",
          "description": "This field is deprecated; please see `Drive.root` instead."
        }
      },
      "type": "object",
      "deprecated": true,
      "description": "This item is deprecated; please see `Drive` instead."
    },
    "QueryDriveActivityRequest": {
      "properties": {
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        },
        "itemName": {
          "type": "string",
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`."
        },
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        },
        "pageToken": {
          "type": "string",
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned."
        },
        "pageSize": {
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "type": "integer",
          "format": "int32"
        },
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        }
      },
      "id": "QueryDriveActivityRequest",
      "type": "object",
      "description": "The request message for querying Drive activity."
    },
    "UserList": {
      "properties": {
        "values": {
          "items": {
            "$ref": "SingleUser"
          },
          "type": "array",
          "description": "User values."
        }
      },
      "type": "object",
      "id": "UserList",
      "description": "Wrapper for UserList Field value."
    },
    "RestrictionChange": {
      "description": "Information about restriction policy changes to a feature.",
      "id": "RestrictionChange",
      "properties": {
        "feature": {
          "description": "The feature which had a change in restriction policy.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ],
          "type": "string"
        },
        "newRestriction": {
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "type": "string",
          "description": "The restriction in place after the change.",
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ]
        }
      },
      "type": "object"
    },
    "File": {
      "type": "object",
      "id": "File",
      "properties": {},
      "deprecated": true,
      "description": "This item is deprecated; please see `DriveFile` instead."
    },
    "DataLeakPreventionChange": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "description": "The type of Data Leak Prevention (DLP) change.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataLeakPreventionChange",
      "description": "A change in the object's data leak prevention status."
    },
    "Actor": {
      "properties": {
        "impersonation": {
          "description": "An account acting on behalf of another.",
          "$ref": "Impersonation"
        },
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        },
        "user": {
          "description": "An end user.",
          "$ref": "User"
        },
        "system": {
          "$ref": "SystemEvent",
          "description": "A non-user actor (i.e. system triggered)."
        },
        "administrator": {
          "description": "An administrator.",
          "$ref": "Administrator"
        }
      },
      "description": "The actor of a Drive activity.",
      "id": "Actor",
      "type": "object"
    },
    "Target": {
      "type": "object",
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "properties": {
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "Drive"
        },
        "teamDrive": {
          "$ref": "TeamDrive",
          "deprecated": true,
          "description": "This field is deprecated; please use the `drive` field instead."
        },
        "fileComment": {
          "$ref": "FileComment",
          "description": "The target is a comment on a Drive file."
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        }
      },
      "id": "Target"
    },
    "Folder": {
      "deprecated": true,
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "type": "string"
        }
      },
      "id": "Folder",
      "description": "This item is deprecated; please see `DriveFolder` instead."
    },
    "FieldValueChange": {
      "description": "Change to a Field value.",
      "id": "FieldValueChange",
      "type": "object",
      "properties": {
        "oldValue": {
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        },
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        }
      }
    },
    "DriveActivity": {
      "type": "object",
      "id": "DriveActivity",
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "properties": {
        "actors": {
          "items": {
            "$ref": "Actor"
          },
          "description": "All actor(s) responsible for the activity.",
          "type": "array"
        },
        "targets": {
          "type": "array",
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "items": {
            "$ref": "Target"
          }
        },
        "timestamp": {
          "description": "The activity occurred at this specific time.",
          "format": "google-datetime",
          "type": "string"
        },
        "timeRange": {
          "description": "The activity occurred over this time range.",
          "$ref": "TimeRange"
        },
        "primaryActionDetail": {
          "$ref": "ActionDetail",
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request."
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "Action"
          },
          "description": "Details on all actions in this activity."
        }
      }
    },
    "SystemEvent": {
      "properties": {
        "type": {
          "description": "The type of the system event that may triggered activity.",
          "type": "string",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ]
        }
      },
      "description": "Event triggered by system operations instead of end users.",
      "id": "SystemEvent",
      "type": "object"
    },
    "Restore": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ],
          "type": "string",
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "description": "The type of restore action taken."
        }
      },
      "type": "object",
      "description": "A deleted object was restored.",
      "id": "Restore"
    },
    "Administrator": {
      "type": "object",
      "id": "Administrator",
      "description": "Empty message representing an administrator.",
      "properties": {}
    },
    "UnknownUser": {
      "id": "UnknownUser",
      "description": "A user about whom nothing is currently known.",
      "type": "object",
      "properties": {}
    },
    "DriveFile": {
      "description": "A Drive item which is a file.",
      "properties": {},
      "type": "object",
      "id": "DriveFile"
    },
    "Move": {
      "properties": {
        "addedParents": {
          "type": "array",
          "description": "The added parent object(s).",
          "items": {
            "$ref": "TargetReference"
          }
        },
        "removedParents": {
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array",
          "description": "The removed parent object(s)."
        }
      },
      "id": "Move",
      "type": "object",
      "description": "An object was moved."
    },
    "TextList": {
      "type": "object",
      "id": "TextList",
      "description": "Wrapper for Text List Field value.",
      "properties": {
        "values": {
          "type": "array",
          "description": "Text values.",
          "items": {
            "$ref": "Text"
          }
        }
      }
    },
    "TimeRange": {
      "id": "TimeRange",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The end of the time range.",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The start of the time range.",
          "type": "string"
        }
      },
      "description": "Information about time ranges."
    },
    "AnonymousUser": {
      "id": "AnonymousUser",
      "type": "object",
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "properties": {}
    },
    "DriveFolder": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "description": "The type of Drive folder.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "type": "string"
        }
      },
      "description": "A Drive item which is a folder.",
      "type": "object",
      "id": "DriveFolder"
    },
    "AppliedLabelChangeDetail": {
      "id": "AppliedLabelChangeDetail",
      "type": "object",
      "properties": {
        "fieldChanges": {
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.",
          "type": "array",
          "items": {
            "$ref": "FieldValueChange"
          }
        },
        "label": {
          "type": "string",
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`."
        },
        "types": {
          "type": "array",
          "description": "The types of changes made to the Label on the Target.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ]
          }
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        }
      },
      "description": "A change made to a Label on the Target."
    },
    "TeamDriveReference": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.title` instead."
        },
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        }
      },
      "deprecated": true,
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "id": "TeamDriveReference"
    },
    "Group": {
      "id": "Group",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the group."
        },
        "title": {
          "type": "string",
          "description": "The title of the group."
        }
      },
      "description": "Information about a group."
    },
    "FieldValue": {
      "id": "FieldValue",
      "properties": {
        "textList": {
          "description": "Text List Field value.",
          "$ref": "TextList"
        },
        "selectionList": {
          "$ref": "SelectionList",
          "description": "Selection List Field value."
        },
        "user": {
          "description": "User Field value.",
          "$ref": "SingleUser"
        },
        "userList": {
          "$ref": "UserList",
          "description": "User List Field value."
        },
        "integer": {
          "description": "Integer Field value.",
          "$ref": "Integer"
        },
        "selection": {
          "$ref": "Selection",
          "description": "Selection Field value."
        },
        "date": {
          "description": "Date Field value.",
          "$ref": "Date"
        },
        "text": {
          "$ref": "Text",
          "description": "Text Field value."
        }
      },
      "description": "Contains a value of a Field.",
      "type": "object"
    },
    "Edit": {
      "properties": {},
      "type": "object",
      "description": "An empty message indicating an object was edited.",
      "id": "Edit"
    },
    "DeletedUser": {
      "properties": {},
      "description": "A user whose account has since been deleted.",
      "type": "object",
      "id": "DeletedUser"
    },
    "ActionDetail": {
      "properties": {
        "move": {
          "$ref": "Move",
          "description": "An object was moved."
        },
        "settingsChange": {
          "$ref": "SettingsChange",
          "description": "Settings were changed."
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "appliedLabelChange": {
          "description": "Label was changed.",
          "$ref": "AppliedLabelChange"
        },
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        },
        "rename": {
          "$ref": "Rename",
          "description": "An object was renamed."
        },
        "delete": {
          "description": "An object was deleted.",
          "$ref": "Delete"
        },
        "restore": {
          "description": "A deleted object was restored.",
          "$ref": "Restore"
        },
        "dlpChange": {
          "$ref": "DataLeakPreventionChange",
          "description": "A change happened in data leak prevention status."
        },
        "create": {
          "$ref": "Create",
          "description": "An object was created."
        },
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        },
        "permissionChange": {
          "description": "The permission on an object was changed.",
          "$ref": "PermissionChange"
        }
      },
      "description": "Data describing the type and additional information of an action.",
      "id": "ActionDetail",
      "type": "object"
    },
    "FileComment": {
      "type": "object",
      "id": "FileComment",
      "description": "A comment on a file.",
      "properties": {
        "legacyCommentId": {
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        },
        "legacyDiscussionId": {
          "type": "string",
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        },
        "parent": {
          "$ref": "DriveItem",
          "description": "The Drive item containing this comment."
        }
      }
    },
    "Domain": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the domain, e.g. `google.com`."
        },
        "legacyId": {
          "type": "string",
          "description": "An opaque string used to identify this domain."
        }
      },
      "description": "Information about a domain.",
      "type": "object",
      "id": "Domain"
    },
    "Comment": {
      "type": "object",
      "properties": {
        "assignment": {
          "$ref": "Assignment",
          "description": "A change on an assignment."
        },
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        },
        "mentionedUsers": {
          "description": "Users who are mentioned in this comment.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "post": {
          "$ref": "Post",
          "description": "A change on a regular posted comment."
        }
      },
      "description": "A change about comments on an object.",
      "id": "Comment"
    },
    "QueryDriveActivityResponse": {
      "type": "object",
      "properties": {
        "activities": {
          "type": "array",
          "description": "List of activity requested.",
          "items": {
            "$ref": "DriveActivity"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "id": "QueryDriveActivityResponse",
      "description": "Response message for querying Drive activity."
    },
    "Drive": {
      "description": "Information about a shared drive.",
      "id": "Drive",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        },
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "root": {
          "description": "The root of this shared drive.",
          "$ref": "DriveItem"
        }
      }
    },
    "Permission": {
      "description": "The permission setting of an object.",
      "id": "Permission",
      "properties": {
        "anyone": {
          "description": "If set, this permission applies to anyone, even logged out users.",
          "$ref": "Anyone"
        },
        "domain": {
          "$ref": "Domain",
          "description": "The domain to whom this permission applies."
        },
        "group": {
          "description": "The group to whom this permission applies.",
          "$ref": "Group"
        },
        "user": {
          "$ref": "User",
          "description": "The user to whom this permission applies."
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ],
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "type": "string",
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items."
        },
        "allowDiscovery": {
          "type": "boolean",
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item."
        }
      },
      "type": "object"
    },
    "Rename": {
      "properties": {
        "oldTitle": {
          "type": "string",
          "description": "The previous title of the drive object."
        },
        "newTitle": {
          "description": "The new title of the drive object.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An object was renamed.",
      "id": "Rename"
    },
    "Delete": {
      "id": "Delete",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "description": "The type of delete action taken.",
          "type": "string"
        }
      },
      "description": "An object was deleted."
    },
    "Date": {
      "description": "Wrapper for Date Field value.",
      "id": "Date",
      "type": "object",
      "properties": {
        "value": {
          "description": "Date value.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "New": {
      "id": "New",
      "description": "An object was created from scratch.",
      "properties": {},
      "type": "object"
    },
    "DriveItemReference": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the Drive item."
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "folder": {
          "$ref": "Folder",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFolder` field instead."
        },
        "file": {
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "driveFolder": {
          "$ref": "DriveFolder",
          "description": "The Drive item is a folder. Includes information about the type of folder."
        }
      },
      "type": "object",
      "id": "DriveItemReference",
      "description": "A lightweight reference to a Drive item, such as a file or folder."
    },
    "KnownUser": {
      "id": "KnownUser",
      "type": "object",
      "description": "A known user.",
      "properties": {
        "isCurrentUser": {
          "type": "boolean",
          "description": "True if this is the user making the request."
        },
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        }
      }
    },
    "Impersonation": {
      "properties": {
        "impersonatedUser": {
          "description": "The impersonated user.",
          "$ref": "User"
        }
      },
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "id": "Impersonation",
      "type": "object"
    },
    "DriveReference": {
      "description": "A lightweight reference to a shared drive.",
      "id": "DriveReference",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      }
    },
    "Owner": {
      "properties": {
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDriveReference"
        },
        "drive": {
          "description": "The drive that owns the item.",
          "$ref": "DriveReference"
        },
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        },
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        }
      },
      "id": "Owner",
      "description": "Information about the owner of a Drive item.",
      "type": "object"
    },
    "Legacy": {
      "properties": {},
      "id": "Legacy",
      "type": "object",
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action."
    },
    "Upload": {
      "description": "An object was uploaded into Drive.",
      "properties": {},
      "id": "Upload",
      "type": "object"
    },
    "DriveItem": {
      "description": "A Drive item, such as a file or folder.",
      "type": "object",
      "properties": {
        "folder": {
          "$ref": "Folder",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFolder` field instead."
        },
        "driveFolder": {
          "$ref": "DriveFolder",
          "description": "The Drive item is a folder. Includes information about the type of folder."
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "owner": {
          "description": "Information about the owner of this Drive item.",
          "$ref": "Owner"
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true,
          "$ref": "File"
        },
        "mimeType": {
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the Drive item."
        },
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        }
      },
      "id": "DriveItem"
    },
    "SettingsChange": {
      "description": "Information about settings changes.",
      "type": "object",
      "id": "SettingsChange",
      "properties": {
        "restrictionChanges": {
          "description": "The set of changes made to restrictions.",
          "type": "array",
          "items": {
            "$ref": "RestrictionChange"
          }
        }
      }
    },
    "Anyone": {
      "properties": {},
      "type": "object",
      "id": "Anyone",
      "description": "Represents any user (including a logged out user)."
    },
    "Action": {
      "type": "object",
      "description": "Information about the action.",
      "properties": {
        "detail": {
          "$ref": "ActionDetail",
          "description": "The type and detailed information about the action."
        },
        "target": {
          "$ref": "Target",
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred."
        },
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        },
        "timestamp": {
          "description": "The action occurred at this specific time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Action"
    },
    "User": {
      "type": "object",
      "properties": {
        "unknownUser": {
          "$ref": "UnknownUser",
          "description": "A user about whom nothing is currently known."
        },
        "knownUser": {
          "description": "A known user.",
          "$ref": "KnownUser"
        },
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        }
      },
      "description": "Information about an end user.",
      "id": "User"
    },
    "PermissionChange": {
      "type": "object",
      "properties": {
        "addedPermissions": {
          "description": "The set of permissions added by this change.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "removedPermissions": {
          "description": "The set of permissions removed by this change.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        }
      },
      "id": "PermissionChange",
      "description": "A change of the permission setting on an item."
    },
    "Text": {
      "properties": {
        "value": {
          "description": "Value of Text Field.",
          "type": "string"
        }
      },
      "id": "Text",
      "description": "Wrapper for Text Field value.",
      "type": "object"
    },
    "NoConsolidation": {
      "description": "A strategy that does no consolidation of individual activities.",
      "id": "NoConsolidation",
      "type": "object",
      "properties": {}
    },
    "Suggestion": {
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "type": "string",
          "description": "The sub-type of this event.",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ]
        }
      },
      "id": "Suggestion",
      "description": "A suggestion.",
      "type": "object"
    },
    "Integer": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "Integer value."
        }
      },
      "id": "Integer",
      "description": "Wrapper for Integer Field value."
    },
    "SelectionList": {
      "id": "SelectionList",
      "description": "Wrapper for SelectionList Field value.",
      "properties": {
        "values": {
          "items": {
            "$ref": "Selection"
          },
          "description": "Selection values.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Create": {
      "properties": {
        "new": {
          "$ref": "New",
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object."
        },
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        },
        "upload": {
          "$ref": "Upload",
          "description": "If present, indicates the object originated externally and was uploaded to Drive."
        }
      },
      "description": "An object was created.",
      "type": "object",
      "id": "Create"
    },
    "Assignment": {
      "description": "A comment with an assignment.",
      "properties": {
        "subtype": {
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "description": "The sub-type of this event.",
          "type": "string",
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ]
        },
        "assignedUser": {
          "description": "The user to whom the comment was assigned.",
          "$ref": "User"
        }
      },
      "id": "Assignment",
      "type": "object"
    },
    "ApplicationReference": {
      "properties": {
        "type": {
          "description": "The reference type corresponding to this event.",
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "ApplicationReference",
      "description": "Activity in applications other than Drive."
    },
    "Selection": {
      "type": "object",
      "id": "Selection",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "properties": {
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        },
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        }
      }
    },
    "SingleUser": {
      "properties": {
        "value": {
          "type": "string",
          "description": "User value as email."
        }
      },
      "description": "Wrapper for User Field value.",
      "id": "SingleUser",
      "type": "object"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}
