{
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "parameters": {},
          "path": "v2/activity:query",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "id": "driveactivity.activity.query",
          "description": "Query past activity in Google Drive.",
          "flatPath": "v2/activity:query"
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "revision": "20260922",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "batchPath": "batch",
  "id": "driveactivity:v2",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "title": "Drive Activity API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "servicePath": "",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "description": "Provides a historical view of activity in Google Drive.",
  "discoveryVersion": "v1",
  "basePath": "",
  "schemas": {
    "Edit": {
      "properties": {},
      "id": "Edit",
      "description": "An empty message indicating an object was edited.",
      "type": "object"
    },
    "DriveActivity": {
      "properties": {
        "actions": {
          "items": {
            "$ref": "Action"
          },
          "description": "Details on all actions in this activity.",
          "type": "array"
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "The activity occurred at this specific time."
        },
        "targets": {
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "actors": {
          "description": "All actor(s) responsible for the activity.",
          "items": {
            "$ref": "Actor"
          },
          "type": "array"
        },
        "primaryActionDetail": {
          "$ref": "ActionDetail",
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request."
        },
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The activity occurred over this time range."
        }
      },
      "id": "DriveActivity",
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "type": "object"
    },
    "Text": {
      "description": "Wrapper for Text Field value.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of Text Field."
        }
      },
      "id": "Text",
      "type": "object"
    },
    "Upload": {
      "type": "object",
      "properties": {},
      "description": "An object was uploaded into Drive.",
      "id": "Upload"
    },
    "ApplicationReference": {
      "description": "Activity in applications other than Drive.",
      "properties": {
        "type": {
          "description": "The reference type corresponding to this event.",
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ]
        }
      },
      "id": "ApplicationReference",
      "type": "object"
    },
    "PermissionChange": {
      "description": "A change of the permission setting on an item.",
      "type": "object",
      "properties": {
        "removedPermissions": {
          "description": "The set of permissions removed by this change.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        },
        "addedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "The set of permissions added by this change."
        }
      },
      "id": "PermissionChange"
    },
    "AnonymousUser": {
      "id": "AnonymousUser",
      "properties": {},
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "type": "object"
    },
    "Assignment": {
      "id": "Assignment",
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "description": "The sub-type of this event.",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "type": "string"
        },
        "assignedUser": {
          "description": "The user to whom the comment was assigned.",
          "$ref": "User"
        }
      },
      "type": "object",
      "description": "A comment with an assignment."
    },
    "ActionDetail": {
      "id": "ActionDetail",
      "properties": {
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        },
        "delete": {
          "$ref": "Delete",
          "description": "An object was deleted."
        },
        "settingsChange": {
          "description": "Settings were changed.",
          "$ref": "SettingsChange"
        },
        "create": {
          "description": "An object was created.",
          "$ref": "Create"
        },
        "rename": {
          "$ref": "Rename",
          "description": "An object was renamed."
        },
        "restore": {
          "description": "A deleted object was restored.",
          "$ref": "Restore"
        },
        "appliedLabelChange": {
          "description": "Label was changed.",
          "$ref": "AppliedLabelChange"
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "permissionChange": {
          "description": "The permission on an object was changed.",
          "$ref": "PermissionChange"
        },
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        },
        "dlpChange": {
          "$ref": "DataLeakPreventionChange",
          "description": "A change happened in data leak prevention status."
        },
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        }
      },
      "description": "Data describing the type and additional information of an action.",
      "type": "object"
    },
    "Anyone": {
      "type": "object",
      "id": "Anyone",
      "properties": {},
      "description": "Represents any user (including a logged out user)."
    },
    "Drive": {
      "properties": {
        "root": {
          "$ref": "DriveItem",
          "description": "The root of this shared drive."
        },
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        },
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about a shared drive.",
      "id": "Drive"
    },
    "Restore": {
      "id": "Restore",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "description": "The type of restore action taken.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ]
        }
      },
      "description": "A deleted object was restored.",
      "type": "object"
    },
    "Integer": {
      "type": "object",
      "description": "Wrapper for Integer Field value.",
      "id": "Integer",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "Integer value."
        }
      }
    },
    "Administrator": {
      "type": "object",
      "id": "Administrator",
      "description": "Empty message representing an administrator.",
      "properties": {}
    },
    "TargetReference": {
      "description": "A lightweight reference to the target of activity.",
      "id": "TargetReference",
      "type": "object",
      "properties": {
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "DriveReference"
        },
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        },
        "driveItem": {
          "$ref": "DriveItemReference",
          "description": "The target is a Drive item."
        }
      }
    },
    "TeamDriveReference": {
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "id": "TeamDriveReference",
      "deprecated": true,
      "properties": {
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.title` instead."
        },
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DriveItemReference": {
      "id": "DriveItemReference",
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "properties": {
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "file": {
          "deprecated": true,
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead."
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "Target": {
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "id": "Target",
      "properties": {
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "Drive"
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDrive"
        },
        "driveItem": {
          "$ref": "DriveItem",
          "description": "The target is a Drive item."
        },
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        }
      },
      "type": "object"
    },
    "File": {
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "type": "object",
      "id": "File",
      "deprecated": true,
      "properties": {}
    },
    "AppliedLabelChangeDetail": {
      "description": "A change made to a Label on the Target.",
      "type": "object",
      "properties": {
        "fieldChanges": {
          "type": "array",
          "items": {
            "$ref": "FieldValueChange"
          },
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`."
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`."
        },
        "types": {
          "description": "The types of changes made to the Label on the Target.",
          "type": "array",
          "items": {
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ],
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "type": "string"
          }
        }
      },
      "id": "AppliedLabelChangeDetail"
    },
    "Impersonation": {
      "id": "Impersonation",
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "properties": {
        "impersonatedUser": {
          "$ref": "User",
          "description": "The impersonated user."
        }
      },
      "type": "object"
    },
    "Actor": {
      "description": "The actor of a Drive activity.",
      "id": "Actor",
      "properties": {
        "impersonation": {
          "description": "An account acting on behalf of another.",
          "$ref": "Impersonation"
        },
        "user": {
          "description": "An end user.",
          "$ref": "User"
        },
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        },
        "system": {
          "description": "A non-user actor (i.e. system triggered).",
          "$ref": "SystemEvent"
        },
        "administrator": {
          "description": "An administrator.",
          "$ref": "Administrator"
        }
      },
      "type": "object"
    },
    "DriveFile": {
      "type": "object",
      "properties": {},
      "id": "DriveFile",
      "description": "A Drive item which is a file."
    },
    "Copy": {
      "id": "Copy",
      "type": "object",
      "properties": {
        "originalObject": {
          "$ref": "TargetReference",
          "description": "The original object."
        }
      },
      "description": "An object was created by copying an existing object."
    },
    "Group": {
      "description": "Information about a group.",
      "type": "object",
      "id": "Group",
      "properties": {
        "title": {
          "description": "The title of the group.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the group.",
          "type": "string"
        }
      }
    },
    "TextList": {
      "id": "TextList",
      "description": "Wrapper for Text List Field value.",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "$ref": "Text"
          },
          "description": "Text values.",
          "type": "array"
        }
      }
    },
    "FieldValue": {
      "id": "FieldValue",
      "properties": {
        "selection": {
          "description": "Selection Field value.",
          "$ref": "Selection"
        },
        "textList": {
          "$ref": "TextList",
          "description": "Text List Field value."
        },
        "user": {
          "description": "User Field value.",
          "$ref": "SingleUser"
        },
        "selectionList": {
          "$ref": "SelectionList",
          "description": "Selection List Field value."
        },
        "date": {
          "$ref": "Date",
          "description": "Date Field value."
        },
        "userList": {
          "$ref": "UserList",
          "description": "User List Field value."
        },
        "integer": {
          "$ref": "Integer",
          "description": "Integer Field value."
        },
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        }
      },
      "type": "object",
      "description": "Contains a value of a Field."
    },
    "DriveFolder": {
      "description": "A Drive item which is a folder.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "type": "string",
          "description": "The type of Drive folder.",
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ]
        }
      },
      "id": "DriveFolder"
    },
    "User": {
      "description": "Information about an end user.",
      "properties": {
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "unknownUser": {
          "description": "A user about whom nothing is currently known.",
          "$ref": "UnknownUser"
        },
        "knownUser": {
          "description": "A known user.",
          "$ref": "KnownUser"
        }
      },
      "id": "User",
      "type": "object"
    },
    "Owner": {
      "description": "Information about the owner of a Drive item.",
      "id": "Owner",
      "type": "object",
      "properties": {
        "user": {
          "$ref": "User",
          "description": "The user that owns the Drive item."
        },
        "drive": {
          "$ref": "DriveReference",
          "description": "The drive that owns the item."
        },
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference",
          "deprecated": true
        }
      }
    },
    "ConsolidationStrategy": {
      "id": "ConsolidationStrategy",
      "type": "object",
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "properties": {
        "none": {
          "description": "The individual activities are not consolidated.",
          "$ref": "NoConsolidation"
        },
        "legacy": {
          "description": "The individual activities are consolidated using the legacy strategy.",
          "$ref": "Legacy"
        }
      }
    },
    "Comment": {
      "properties": {
        "mentionedUsers": {
          "description": "Users who are mentioned in this comment.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "assignment": {
          "$ref": "Assignment",
          "description": "A change on an assignment."
        },
        "post": {
          "$ref": "Post",
          "description": "A change on a regular posted comment."
        },
        "suggestion": {
          "$ref": "Suggestion",
          "description": "A change on a suggestion."
        }
      },
      "id": "Comment",
      "type": "object",
      "description": "A change about comments on an object."
    },
    "TeamDrive": {
      "description": "This item is deprecated; please see `Drive` instead.",
      "type": "object",
      "id": "TeamDrive",
      "deprecated": true,
      "properties": {
        "root": {
          "description": "This field is deprecated; please see `Drive.root` instead.",
          "$ref": "DriveItem"
        },
        "name": {
          "description": "This field is deprecated; please see `Drive.name` instead.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.title` instead."
        }
      }
    },
    "FieldValueChange": {
      "description": "Change to a Field value.",
      "id": "FieldValueChange",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The human-readable display name for this field."
        },
        "oldValue": {
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        }
      }
    },
    "Action": {
      "id": "Action",
      "properties": {
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The action occurred over this time range."
        },
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        },
        "timestamp": {
          "type": "string",
          "description": "The action occurred at this specific time.",
          "format": "google-datetime"
        },
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        }
      },
      "description": "Information about the action.",
      "type": "object"
    },
    "SettingsChange": {
      "type": "object",
      "properties": {
        "restrictionChanges": {
          "description": "The set of changes made to restrictions.",
          "type": "array",
          "items": {
            "$ref": "RestrictionChange"
          }
        }
      },
      "description": "Information about settings changes.",
      "id": "SettingsChange"
    },
    "SelectionList": {
      "properties": {
        "values": {
          "type": "array",
          "description": "Selection values.",
          "items": {
            "$ref": "Selection"
          }
        }
      },
      "id": "SelectionList",
      "type": "object",
      "description": "Wrapper for SelectionList Field value."
    },
    "Legacy": {
      "properties": {},
      "type": "object",
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "id": "Legacy"
    },
    "UserList": {
      "description": "Wrapper for UserList Field value.",
      "id": "UserList",
      "type": "object",
      "properties": {
        "values": {
          "description": "User values.",
          "type": "array",
          "items": {
            "$ref": "SingleUser"
          }
        }
      }
    },
    "RestrictionChange": {
      "description": "Information about restriction policy changes to a feature.",
      "properties": {
        "newRestriction": {
          "type": "string",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ],
          "description": "The restriction in place after the change."
        },
        "feature": {
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ],
          "description": "The feature which had a change in restriction policy.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ]
        }
      },
      "type": "object",
      "id": "RestrictionChange"
    },
    "TimeRange": {
      "description": "Information about time ranges.",
      "type": "object",
      "id": "TimeRange",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start of the time range."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The end of the time range.",
          "type": "string"
        }
      }
    },
    "Suggestion": {
      "id": "Suggestion",
      "type": "object",
      "description": "A suggestion.",
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ]
        }
      }
    },
    "Create": {
      "type": "object",
      "properties": {
        "new": {
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.",
          "$ref": "New"
        },
        "upload": {
          "description": "If present, indicates the object originated externally and was uploaded to Drive.",
          "$ref": "Upload"
        },
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        }
      },
      "description": "An object was created.",
      "id": "Create"
    },
    "AppliedLabelChange": {
      "properties": {
        "changes": {
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "description": "Changes that were made to the Label on the Target.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "AppliedLabelChange",
      "description": "Label changes that were made on the Target."
    },
    "SystemEvent": {
      "id": "SystemEvent",
      "type": "object",
      "description": "Event triggered by system operations instead of end users.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "type": "string",
          "description": "The type of the system event that may triggered activity.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ]
        }
      }
    },
    "DeletedUser": {
      "id": "DeletedUser",
      "properties": {},
      "type": "object",
      "description": "A user whose account has since been deleted."
    },
    "Delete": {
      "type": "object",
      "id": "Delete",
      "description": "An object was deleted.",
      "properties": {
        "type": {
          "description": "The type of delete action taken.",
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "type": "string"
        }
      }
    },
    "Post": {
      "description": "A regular posted comment.",
      "type": "object",
      "id": "Post",
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ],
          "description": "The sub-type of this event."
        }
      }
    },
    "Selection": {
      "id": "Selection",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "properties": {
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        },
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SingleUser": {
      "properties": {
        "value": {
          "type": "string",
          "description": "User value as email."
        }
      },
      "id": "SingleUser",
      "type": "object",
      "description": "Wrapper for User Field value."
    },
    "Rename": {
      "id": "Rename",
      "properties": {
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        },
        "newTitle": {
          "type": "string",
          "description": "The new title of the drive object."
        }
      },
      "description": "An object was renamed.",
      "type": "object"
    },
    "Domain": {
      "description": "Information about a domain.",
      "type": "object",
      "id": "Domain",
      "properties": {
        "name": {
          "description": "The name of the domain, e.g. `google.com`.",
          "type": "string"
        },
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        }
      }
    },
    "Move": {
      "properties": {
        "addedParents": {
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array",
          "description": "The added parent object(s)."
        },
        "removedParents": {
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          },
          "description": "The removed parent object(s)."
        }
      },
      "description": "An object was moved.",
      "type": "object",
      "id": "Move"
    },
    "FileComment": {
      "id": "FileComment",
      "description": "A comment on a file.",
      "type": "object",
      "properties": {
        "legacyDiscussionId": {
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "legacyCommentId": {
          "type": "string",
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        },
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        },
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        }
      }
    },
    "UnknownUser": {
      "id": "UnknownUser",
      "description": "A user about whom nothing is currently known.",
      "properties": {},
      "type": "object"
    },
    "DriveReference": {
      "id": "DriveReference",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        },
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        }
      },
      "description": "A lightweight reference to a shared drive."
    },
    "DriveItem": {
      "type": "object",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types."
        },
        "owner": {
          "$ref": "Owner",
          "description": "Information about the owner of this Drive item."
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder",
          "deprecated": true
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "file": {
          "deprecated": true,
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead."
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        }
      },
      "description": "A Drive item, such as a file or folder.",
      "id": "DriveItem"
    },
    "New": {
      "properties": {},
      "description": "An object was created from scratch.",
      "id": "New",
      "type": "object"
    },
    "Folder": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "type": "string"
        }
      },
      "deprecated": true,
      "type": "object",
      "id": "Folder",
      "description": "This item is deprecated; please see `DriveFolder` instead."
    },
    "Date": {
      "type": "object",
      "description": "Wrapper for Date Field value.",
      "id": "Date",
      "properties": {
        "value": {
          "format": "google-datetime",
          "description": "Date value.",
          "type": "string"
        }
      }
    },
    "QueryDriveActivityResponse": {
      "description": "Response message for querying Drive activity.",
      "type": "object",
      "id": "QueryDriveActivityResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "activities": {
          "items": {
            "$ref": "DriveActivity"
          },
          "description": "List of activity requested.",
          "type": "array"
        }
      }
    },
    "Permission": {
      "description": "The permission setting of an object.",
      "id": "Permission",
      "type": "object",
      "properties": {
        "domain": {
          "description": "The domain to whom this permission applies.",
          "$ref": "Domain"
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ],
          "type": "string",
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items."
        },
        "group": {
          "description": "The group to whom this permission applies.",
          "$ref": "Group"
        },
        "anyone": {
          "description": "If set, this permission applies to anyone, even logged out users.",
          "$ref": "Anyone"
        },
        "allowDiscovery": {
          "type": "boolean",
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item."
        },
        "user": {
          "$ref": "User",
          "description": "The user to whom this permission applies."
        }
      }
    },
    "KnownUser": {
      "properties": {
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        },
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A known user.",
      "id": "KnownUser"
    },
    "NoConsolidation": {
      "id": "NoConsolidation",
      "type": "object",
      "description": "A strategy that does no consolidation of individual activities.",
      "properties": {}
    },
    "QueryDriveActivityRequest": {
      "properties": {
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        },
        "filter": {
          "type": "string",
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` "
        },
        "ancestorName": {
          "type": "string",
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`."
        },
        "pageSize": {
          "format": "int32",
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "type": "integer"
        },
        "pageToken": {
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned.",
          "type": "string"
        },
        "itemName": {
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "QueryDriveActivityRequest",
      "description": "The request message for querying Drive activity."
    },
    "DataLeakPreventionChange": {
      "id": "DataLeakPreventionChange",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "type": "string",
          "description": "The type of Data Leak Prevention (DLP) change.",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ]
        }
      },
      "description": "A change in the object's data leak prevention status.",
      "type": "object"
    }
  },
  "name": "driveactivity",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        }
      }
    }
  },
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "canonicalName": "Drive Activity",
  "version": "v2"
}
