{
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "parameterOrder": [],
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "path": "v2/activity:query",
          "description": "Query past activity in Google Drive.",
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "id": "driveactivity.activity.query",
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "httpMethod": "POST",
          "flatPath": "v2/activity:query",
          "parameters": {}
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "canonicalName": "Drive Activity",
  "title": "Drive Activity API",
  "ownerName": "Google",
  "version_module": true,
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "id": "driveactivity:v2",
  "description": "Provides a historical view of activity in Google Drive.",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "basePath": "",
  "revision": "20261006",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        }
      }
    }
  },
  "servicePath": "",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "name": "driveactivity",
  "schemas": {
    "Target": {
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "id": "Target",
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDrive"
        },
        "fileComment": {
          "$ref": "FileComment",
          "description": "The target is a comment on a Drive file."
        },
        "drive": {
          "$ref": "Drive",
          "description": "The target is a shared drive."
        }
      },
      "type": "object"
    },
    "DriveFile": {
      "type": "object",
      "properties": {},
      "id": "DriveFile",
      "description": "A Drive item which is a file."
    },
    "Restore": {
      "id": "Restore",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ],
          "description": "The type of restore action taken."
        }
      },
      "description": "A deleted object was restored."
    },
    "FieldValueChange": {
      "properties": {
        "oldValue": {
          "$ref": "FieldValue",
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set."
        },
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        },
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Change to a Field value.",
      "id": "FieldValueChange"
    },
    "DeletedUser": {
      "description": "A user whose account has since been deleted.",
      "properties": {},
      "type": "object",
      "id": "DeletedUser"
    },
    "Folder": {
      "deprecated": true,
      "id": "Folder",
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      },
      "type": "object"
    },
    "Edit": {
      "id": "Edit",
      "properties": {},
      "description": "An empty message indicating an object was edited.",
      "type": "object"
    },
    "PermissionChange": {
      "description": "A change of the permission setting on an item.",
      "properties": {
        "addedPermissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions added by this change."
        },
        "removedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "The set of permissions removed by this change."
        }
      },
      "id": "PermissionChange",
      "type": "object"
    },
    "Assignment": {
      "id": "Assignment",
      "type": "object",
      "description": "A comment with an assignment.",
      "properties": {
        "subtype": {
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "description": "The sub-type of this event."
        },
        "assignedUser": {
          "$ref": "User",
          "description": "The user to whom the comment was assigned."
        }
      }
    },
    "TextList": {
      "id": "TextList",
      "type": "object",
      "properties": {
        "values": {
          "description": "Text values.",
          "items": {
            "$ref": "Text"
          },
          "type": "array"
        }
      },
      "description": "Wrapper for Text List Field value."
    },
    "Suggestion": {
      "description": "A suggestion.",
      "properties": {
        "subtype": {
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ]
        }
      },
      "type": "object",
      "id": "Suggestion"
    },
    "Impersonation": {
      "type": "object",
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "properties": {
        "impersonatedUser": {
          "$ref": "User",
          "description": "The impersonated user."
        }
      },
      "id": "Impersonation"
    },
    "DriveItem": {
      "type": "object",
      "description": "A Drive item, such as a file or folder.",
      "properties": {
        "folder": {
          "$ref": "Folder",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFolder` field instead."
        },
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "owner": {
          "$ref": "Owner",
          "description": "Information about the owner of this Drive item."
        },
        "file": {
          "$ref": "File",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFile` field instead."
        },
        "mimeType": {
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types.",
          "type": "string"
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        }
      },
      "id": "DriveItem"
    },
    "SingleUser": {
      "id": "SingleUser",
      "description": "Wrapper for User Field value.",
      "properties": {
        "value": {
          "description": "User value as email.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Create": {
      "description": "An object was created.",
      "id": "Create",
      "type": "object",
      "properties": {
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        },
        "new": {
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.",
          "$ref": "New"
        },
        "upload": {
          "description": "If present, indicates the object originated externally and was uploaded to Drive.",
          "$ref": "Upload"
        }
      }
    },
    "AppliedLabelChange": {
      "properties": {
        "changes": {
          "description": "Changes that were made to the Label on the Target.",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "type": "array"
        }
      },
      "id": "AppliedLabelChange",
      "type": "object",
      "description": "Label changes that were made on the Target."
    },
    "Date": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Date value.",
          "format": "google-datetime"
        }
      },
      "description": "Wrapper for Date Field value.",
      "id": "Date"
    },
    "AnonymousUser": {
      "type": "object",
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "id": "AnonymousUser",
      "properties": {}
    },
    "TargetReference": {
      "type": "object",
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "deprecated": true,
          "description": "This field is deprecated; please use the `drive` field instead."
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "DriveReference"
        }
      },
      "description": "A lightweight reference to the target of activity.",
      "id": "TargetReference"
    },
    "Permission": {
      "type": "object",
      "id": "Permission",
      "properties": {
        "role": {
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ],
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ]
        },
        "user": {
          "$ref": "User",
          "description": "The user to whom this permission applies."
        },
        "domain": {
          "$ref": "Domain",
          "description": "The domain to whom this permission applies."
        },
        "group": {
          "$ref": "Group",
          "description": "The group to whom this permission applies."
        },
        "anyone": {
          "$ref": "Anyone",
          "description": "If set, this permission applies to anyone, even logged out users."
        },
        "allowDiscovery": {
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item.",
          "type": "boolean"
        }
      },
      "description": "The permission setting of an object."
    },
    "Drive": {
      "properties": {
        "root": {
          "$ref": "DriveItem",
          "description": "The root of this shared drive."
        },
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        },
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        }
      },
      "description": "Information about a shared drive.",
      "id": "Drive",
      "type": "object"
    },
    "DriveReference": {
      "description": "A lightweight reference to a shared drive.",
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        }
      },
      "id": "DriveReference",
      "type": "object"
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "type": "object",
      "properties": {
        "root": {
          "description": "This field is deprecated; please see `Drive.root` instead.",
          "$ref": "DriveItem"
        },
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.title` instead."
        },
        "name": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.name` instead."
        }
      },
      "deprecated": true,
      "description": "This item is deprecated; please see `Drive` instead."
    },
    "Integer": {
      "properties": {
        "value": {
          "format": "int64",
          "description": "Integer value.",
          "type": "string"
        }
      },
      "description": "Wrapper for Integer Field value.",
      "id": "Integer",
      "type": "object"
    },
    "Selection": {
      "id": "Selection",
      "properties": {
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        },
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice."
    },
    "DriveActivity": {
      "type": "object",
      "id": "DriveActivity",
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "properties": {
        "targets": {
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "items": {
            "$ref": "Target"
          },
          "type": "array"
        },
        "timestamp": {
          "description": "The activity occurred at this specific time.",
          "type": "string",
          "format": "google-datetime"
        },
        "timeRange": {
          "description": "The activity occurred over this time range.",
          "$ref": "TimeRange"
        },
        "actors": {
          "description": "All actor(s) responsible for the activity.",
          "items": {
            "$ref": "Actor"
          },
          "type": "array"
        },
        "primaryActionDetail": {
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.",
          "$ref": "ActionDetail"
        },
        "actions": {
          "items": {
            "$ref": "Action"
          },
          "description": "Details on all actions in this activity.",
          "type": "array"
        }
      }
    },
    "AppliedLabelChangeDetail": {
      "description": "A change made to a Label on the Target.",
      "properties": {
        "types": {
          "type": "array",
          "description": "The types of changes made to the Label on the Target.",
          "items": {
            "type": "string",
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ],
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ]
          }
        },
        "title": {
          "type": "string",
          "description": "The human-readable title of the label that changed."
        },
        "fieldChanges": {
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.",
          "items": {
            "$ref": "FieldValueChange"
          },
          "type": "array"
        },
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        }
      },
      "id": "AppliedLabelChangeDetail",
      "type": "object"
    },
    "UserList": {
      "description": "Wrapper for UserList Field value.",
      "id": "UserList",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "User values.",
          "items": {
            "$ref": "SingleUser"
          }
        }
      }
    },
    "User": {
      "id": "User",
      "type": "object",
      "properties": {
        "deletedUser": {
          "$ref": "DeletedUser",
          "description": "A user whose account has since been deleted."
        },
        "unknownUser": {
          "$ref": "UnknownUser",
          "description": "A user about whom nothing is currently known."
        },
        "knownUser": {
          "$ref": "KnownUser",
          "description": "A known user."
        }
      },
      "description": "Information about an end user."
    },
    "FileComment": {
      "type": "object",
      "id": "FileComment",
      "properties": {
        "linkToDiscussion": {
          "type": "string",
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`."
        },
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        },
        "legacyDiscussionId": {
          "type": "string",
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        },
        "legacyCommentId": {
          "type": "string",
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        }
      },
      "description": "A comment on a file."
    },
    "Comment": {
      "id": "Comment",
      "type": "object",
      "description": "A change about comments on an object.",
      "properties": {
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        },
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        },
        "assignment": {
          "$ref": "Assignment",
          "description": "A change on an assignment."
        },
        "mentionedUsers": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "Users who are mentioned in this comment."
        }
      }
    },
    "Post": {
      "description": "A regular posted comment.",
      "properties": {
        "subtype": {
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ],
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ]
        }
      },
      "id": "Post",
      "type": "object"
    },
    "File": {
      "properties": {},
      "id": "File",
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "type": "object",
      "deprecated": true
    },
    "KnownUser": {
      "properties": {
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        },
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        }
      },
      "id": "KnownUser",
      "description": "A known user.",
      "type": "object"
    },
    "FieldValue": {
      "description": "Contains a value of a Field.",
      "properties": {
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        },
        "user": {
          "$ref": "SingleUser",
          "description": "User Field value."
        },
        "date": {
          "$ref": "Date",
          "description": "Date Field value."
        },
        "userList": {
          "$ref": "UserList",
          "description": "User List Field value."
        },
        "textList": {
          "description": "Text List Field value.",
          "$ref": "TextList"
        },
        "selection": {
          "description": "Selection Field value.",
          "$ref": "Selection"
        },
        "integer": {
          "description": "Integer Field value.",
          "$ref": "Integer"
        },
        "selectionList": {
          "description": "Selection List Field value.",
          "$ref": "SelectionList"
        }
      },
      "id": "FieldValue",
      "type": "object"
    },
    "SystemEvent": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ],
          "description": "The type of the system event that may triggered activity.",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ]
        }
      },
      "description": "Event triggered by system operations instead of end users.",
      "id": "SystemEvent"
    },
    "Upload": {
      "id": "Upload",
      "description": "An object was uploaded into Drive.",
      "type": "object",
      "properties": {}
    },
    "RestrictionChange": {
      "properties": {
        "newRestriction": {
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "description": "The restriction in place after the change.",
          "type": "string",
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ]
        },
        "feature": {
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ],
          "description": "The feature which had a change in restriction policy.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about restriction policy changes to a feature.",
      "id": "RestrictionChange"
    },
    "Text": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of Text Field."
        }
      },
      "type": "object",
      "id": "Text",
      "description": "Wrapper for Text Field value."
    },
    "Delete": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "description": "The type of delete action taken.",
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ]
        }
      },
      "description": "An object was deleted.",
      "id": "Delete"
    },
    "SelectionList": {
      "description": "Wrapper for SelectionList Field value.",
      "id": "SelectionList",
      "properties": {
        "values": {
          "items": {
            "$ref": "Selection"
          },
          "type": "array",
          "description": "Selection values."
        }
      },
      "type": "object"
    },
    "UnknownUser": {
      "properties": {},
      "description": "A user about whom nothing is currently known.",
      "type": "object",
      "id": "UnknownUser"
    },
    "SettingsChange": {
      "description": "Information about settings changes.",
      "type": "object",
      "id": "SettingsChange",
      "properties": {
        "restrictionChanges": {
          "items": {
            "$ref": "RestrictionChange"
          },
          "description": "The set of changes made to restrictions.",
          "type": "array"
        }
      }
    },
    "Actor": {
      "id": "Actor",
      "description": "The actor of a Drive activity.",
      "type": "object",
      "properties": {
        "impersonation": {
          "description": "An account acting on behalf of another.",
          "$ref": "Impersonation"
        },
        "anonymous": {
          "$ref": "AnonymousUser",
          "description": "An anonymous user."
        },
        "administrator": {
          "$ref": "Administrator",
          "description": "An administrator."
        },
        "user": {
          "$ref": "User",
          "description": "An end user."
        },
        "system": {
          "$ref": "SystemEvent",
          "description": "A non-user actor (i.e. system triggered)."
        }
      }
    },
    "Copy": {
      "id": "Copy",
      "description": "An object was created by copying an existing object.",
      "properties": {
        "originalObject": {
          "$ref": "TargetReference",
          "description": "The original object."
        }
      },
      "type": "object"
    },
    "ConsolidationStrategy": {
      "type": "object",
      "properties": {
        "none": {
          "description": "The individual activities are not consolidated.",
          "$ref": "NoConsolidation"
        },
        "legacy": {
          "$ref": "Legacy",
          "description": "The individual activities are consolidated using the legacy strategy."
        }
      },
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "id": "ConsolidationStrategy"
    },
    "Group": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address of the group.",
          "type": "string"
        },
        "title": {
          "description": "The title of the group.",
          "type": "string"
        }
      },
      "id": "Group",
      "description": "Information about a group."
    },
    "QueryDriveActivityResponse": {
      "description": "Response message for querying Drive activity.",
      "type": "object",
      "properties": {
        "activities": {
          "type": "array",
          "description": "List of activity requested.",
          "items": {
            "$ref": "DriveActivity"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "id": "QueryDriveActivityResponse"
    },
    "DataLeakPreventionChange": {
      "properties": {
        "type": {
          "description": "The type of Data Leak Prevention (DLP) change.",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ]
        }
      },
      "type": "object",
      "description": "A change in the object's data leak prevention status.",
      "id": "DataLeakPreventionChange"
    },
    "Administrator": {
      "type": "object",
      "properties": {},
      "description": "Empty message representing an administrator.",
      "id": "Administrator"
    },
    "TeamDriveReference": {
      "id": "TeamDriveReference",
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "properties": {
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.title` instead."
        },
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        }
      },
      "deprecated": true,
      "type": "object"
    },
    "Domain": {
      "id": "Domain",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the domain, e.g. `google.com`."
        },
        "legacyId": {
          "type": "string",
          "description": "An opaque string used to identify this domain."
        }
      },
      "description": "Information about a domain."
    },
    "ActionDetail": {
      "id": "ActionDetail",
      "properties": {
        "dlpChange": {
          "description": "A change happened in data leak prevention status.",
          "$ref": "DataLeakPreventionChange"
        },
        "restore": {
          "$ref": "Restore",
          "description": "A deleted object was restored."
        },
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        },
        "delete": {
          "$ref": "Delete",
          "description": "An object was deleted."
        },
        "permissionChange": {
          "description": "The permission on an object was changed.",
          "$ref": "PermissionChange"
        },
        "settingsChange": {
          "description": "Settings were changed.",
          "$ref": "SettingsChange"
        },
        "reference": {
          "$ref": "ApplicationReference",
          "description": "An object was referenced in an application outside of Drive/Docs."
        },
        "edit": {
          "$ref": "Edit",
          "description": "An object was edited."
        },
        "comment": {
          "$ref": "Comment",
          "description": "A change about comments was made."
        },
        "create": {
          "description": "An object was created.",
          "$ref": "Create"
        },
        "appliedLabelChange": {
          "description": "Label was changed.",
          "$ref": "AppliedLabelChange"
        },
        "rename": {
          "description": "An object was renamed.",
          "$ref": "Rename"
        }
      },
      "type": "object",
      "description": "Data describing the type and additional information of an action."
    },
    "Owner": {
      "properties": {
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        },
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        },
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "deprecated": true,
          "description": "This field is deprecated; please use the `drive` field instead."
        },
        "drive": {
          "description": "The drive that owns the item.",
          "$ref": "DriveReference"
        }
      },
      "description": "Information about the owner of a Drive item.",
      "type": "object",
      "id": "Owner"
    },
    "Rename": {
      "id": "Rename",
      "description": "An object was renamed.",
      "type": "object",
      "properties": {
        "newTitle": {
          "type": "string",
          "description": "The new title of the drive object."
        },
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        }
      }
    },
    "Anyone": {
      "description": "Represents any user (including a logged out user).",
      "type": "object",
      "id": "Anyone",
      "properties": {}
    },
    "DriveItemReference": {
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "type": "object",
      "properties": {
        "folder": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder"
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        },
        "title": {
          "type": "string",
          "description": "The title of the Drive item."
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "$ref": "File",
          "deprecated": true
        },
        "driveFolder": {
          "$ref": "DriveFolder",
          "description": "The Drive item is a folder. Includes information about the type of folder."
        }
      },
      "id": "DriveItemReference"
    },
    "ApplicationReference": {
      "id": "ApplicationReference",
      "properties": {
        "type": {
          "description": "The reference type corresponding to this event.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ]
        }
      },
      "description": "Activity in applications other than Drive.",
      "type": "object"
    },
    "NoConsolidation": {
      "properties": {},
      "description": "A strategy that does no consolidation of individual activities.",
      "type": "object",
      "id": "NoConsolidation"
    },
    "New": {
      "description": "An object was created from scratch.",
      "type": "object",
      "id": "New",
      "properties": {}
    },
    "Legacy": {
      "id": "Legacy",
      "type": "object",
      "properties": {},
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action."
    },
    "Action": {
      "description": "Information about the action.",
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The action occurred at this specific time."
        },
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The action occurred over this time range."
        },
        "detail": {
          "$ref": "ActionDetail",
          "description": "The type and detailed information about the action."
        },
        "target": {
          "$ref": "Target",
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred."
        },
        "actor": {
          "$ref": "Actor",
          "description": "The actor responsible for this action (or empty if all actors are responsible)."
        }
      },
      "type": "object",
      "id": "Action"
    },
    "DriveFolder": {
      "id": "DriveFolder",
      "type": "object",
      "description": "A Drive item which is a folder.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "description": "The type of Drive folder.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      }
    },
    "QueryDriveActivityRequest": {
      "type": "object",
      "id": "QueryDriveActivityRequest",
      "properties": {
        "pageSize": {
          "format": "int32",
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "type": "integer"
        },
        "consolidationStrategy": {
          "$ref": "ConsolidationStrategy",
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated."
        },
        "pageToken": {
          "type": "string",
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned."
        },
        "itemName": {
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "ancestorName": {
          "type": "string",
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`."
        },
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        }
      },
      "description": "The request message for querying Drive activity."
    },
    "TimeRange": {
      "description": "Information about time ranges.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The start of the time range.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The end of the time range.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "TimeRange"
    },
    "Move": {
      "id": "Move",
      "properties": {
        "addedParents": {
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          },
          "description": "The added parent object(s)."
        },
        "removedParents": {
          "type": "array",
          "description": "The removed parent object(s).",
          "items": {
            "$ref": "TargetReference"
          }
        }
      },
      "description": "An object was moved.",
      "type": "object"
    }
  },
  "protocol": "rest",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v2"
}
