{
  "version": "v3",
  "rootUrl": "https://www.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "revision": "20260923",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://www.googleapis.com/drive/v3/",
  "schemas": {
    "Revision": {
      "type": "object",
      "id": "Revision",
      "properties": {
        "publishedOutsideDomain": {
          "description": "Whether this revision is published outside the domain. This is only applicable to Docs Editors files.",
          "type": "boolean"
        },
        "mimeType": {
          "type": "string",
          "description": "Output only. The MIME type of the revision."
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "publishAuto": {
          "type": "boolean",
          "description": "Whether subsequent revisions will be automatically republished. This is only applicable to Docs Editors files."
        },
        "originalFilename": {
          "type": "string",
          "description": "Output only. The original filename used to create this revision. This is only applicable to files with binary content in Drive."
        },
        "md5Checksum": {
          "description": "Output only. The MD5 checksum of the revision's content. This is only applicable to files with binary content in Drive.",
          "type": "string"
        },
        "modifiedTime": {
          "type": "string",
          "description": "The last time the revision was modified (RFC 3339 date-time).",
          "format": "date-time"
        },
        "publishedLink": {
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#revision\"`.",
          "type": "string",
          "default": "drive#revision"
        },
        "size": {
          "format": "int64",
          "description": "Output only. The size of the revision's content in bytes. This is only applicable to files with binary content in Drive.",
          "type": "string"
        },
        "id": {
          "description": "Output only. The ID of the revision.",
          "type": "string"
        },
        "keepForever": {
          "type": "boolean",
          "description": "Whether to keep this revision forever, even if it is no longer the head revision. If not set, the revision will be automatically purged 30 days after newer content is uploaded. This can be set on a maximum of 200 revisions for a file. This field is only applicable to files with binary content in Drive."
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "published": {
          "type": "boolean",
          "description": "Whether this revision is published. This is only applicable to Docs Editors files."
        }
      },
      "description": "The metadata for a revision to a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision."
    },
    "DecryptionMetadata": {
      "id": "DecryptionMetadata",
      "type": "object",
      "properties": {
        "kaclsName": {
          "description": "The name of the KACLS (Key ACL Service) used to encrypt the file.",
          "type": "string"
        },
        "encryptionResourceKeyHash": {
          "type": "string",
          "description": "The URL-safe Base64 encoded HMAC-SHA256 digest of the resource metadata with its DEK (Data Encryption Key); see https://developers.google.com/workspace/cse/reference"
        },
        "jwt": {
          "type": "string",
          "description": "The signed JSON Web Token (JWT) which can be used to authorize the requesting user with the Key ACL Service (KACLS). The JWT asserts that the requesting user has at least read permissions on the file."
        },
        "aes256GcmChunkSize": {
          "type": "string",
          "description": "Chunk size used if content was encrypted with the AES 256 GCM Cipher. Possible values are: - default - small "
        },
        "wrappedKey": {
          "description": "The URL-safe Base64 encoded wrapped key used to encrypt the contents of the file.",
          "type": "string"
        },
        "kaclsId": {
          "description": "The ID of the KACLS (Key ACL Service) used to encrypt the file.",
          "format": "int64",
          "type": "string"
        },
        "keyFormat": {
          "description": "Key format for the unwrapped key. Must be `tinkAesGcmKey`.",
          "type": "string"
        }
      },
      "description": "Representation of the CSE DecryptionMetadata."
    },
    "ApproveApprovalRequest": {
      "description": "Request for approving an approval as a reviewer.",
      "type": "object",
      "id": "ApproveApprovalRequest",
      "properties": {
        "message": {
          "description": "Optional. A message to accompany the reviewer response on the approval. This message is included in notifications for the action and in the approval activity log.",
          "type": "string"
        }
      }
    },
    "LabelField": {
      "description": "Representation of field, which is a typed key-value pair.",
      "properties": {
        "valueType": {
          "description": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`",
          "type": "string"
        },
        "user": {
          "description": "Only present if `valueType` is `user`.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "selection": {
          "items": {
            "type": "string"
          },
          "description": "Only present if `valueType` is `selection`",
          "type": "array"
        },
        "kind": {
          "description": "This is always drive#labelField.",
          "type": "string"
        },
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Only present if `valueType` is `text`."
        },
        "integer": {
          "type": "array",
          "description": "Only present if `valueType` is `integer`.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "dateString": {
          "type": "array",
          "items": {
            "format": "date",
            "type": "string"
          },
          "description": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD."
        },
        "id": {
          "description": "The identifier of this label field.",
          "type": "string"
        }
      },
      "id": "LabelField",
      "type": "object"
    },
    "DownloadRestriction": {
      "type": "object",
      "id": "DownloadRestriction",
      "description": "A restriction for copy and download of the file.",
      "properties": {
        "restrictedForWriters": {
          "description": "Whether download and copy is restricted for writers. If true, download is also restricted for readers.",
          "type": "boolean"
        },
        "restrictedForReaders": {
          "description": "Whether download and copy is restricted for readers.",
          "type": "boolean"
        }
      }
    },
    "Drive": {
      "properties": {
        "themeId": {
          "type": "string",
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#drive\"`.",
          "default": "drive#drive"
        },
        "restrictions": {
          "properties": {
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "driveMembersOnly": {
              "description": "Whether access to items inside this shared drive is restricted to its members.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions.",
              "type": "boolean"
            },
            "domainUsersOnly": {
              "type": "boolean",
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive."
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive.",
              "type": "boolean"
            },
            "downloadRestriction": {
              "description": "Download restrictions applied by shared drive managers.",
              "$ref": "DownloadRestriction"
            }
          },
          "type": "object",
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive. Note that restrictions can't be set when creating a shared drive. To add a restriction, first create a shared drive and then use `drives.update` to add restrictions."
        },
        "backgroundImageFile": {
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "properties": {
            "id": {
              "type": "string",
              "description": "The ID of an image file in Google Drive to use for the background image."
            },
            "yCoordinate": {
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "type": "number",
              "format": "float"
            },
            "width": {
              "format": "float",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "type": "number"
            },
            "xCoordinate": {
              "type": "number",
              "format": "float",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image."
            }
          },
          "type": "object"
        },
        "createdTime": {
          "type": "string",
          "description": "The time at which the shared drive was created (RFC 3339 date-time).",
          "format": "date-time"
        },
        "capabilities": {
          "description": "Output only. Capabilities the current user has on this shared drive.",
          "type": "object",
          "properties": {
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canResetDriveRestrictions": {
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults.",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive."
            },
            "canRenameDrive": {
              "description": "Output only. Whether the current user can rename this shared drive.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive.",
              "type": "boolean"
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit files in this shared drive"
            },
            "canShare": {
              "description": "Output only. Whether the current user can share files or folders in this shared drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of folders in this shared drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive."
            },
            "canDeleteDrive": {
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive.",
              "type": "boolean"
            },
            "canDownload": {
              "type": "boolean",
              "description": "Output only. Whether the current user can download files in this shared drive."
            },
            "canChangeDriveMembersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canChangeDownloadRestriction": {
              "description": "Output only. Whether the current user can change organizer-applied download restrictions of this shared drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children from folders in this shared drive.",
              "type": "boolean"
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add children to folders in this shared drive."
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children from folders in this shared drive.",
              "type": "boolean"
            },
            "canComment": {
              "type": "boolean",
              "description": "Output only. Whether the current user can comment on files in this shared drive."
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role."
            },
            "canCopy": {
              "type": "boolean",
              "description": "Output only. Whether the current user can copy files in this shared drive."
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename files or folders in this shared drive.",
              "type": "boolean"
            },
            "canChangeDriveBackground": {
              "description": "Output only. Whether the current user can change the background of this shared drive.",
              "type": "boolean"
            }
          }
        },
        "colorRgb": {
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "backgroundImageLink": {
          "description": "Output only. A short-lived link to this shared drive's background image.",
          "type": "string"
        },
        "id": {
          "description": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive.",
          "type": "string"
        },
        "hidden": {
          "description": "Whether the shared drive is hidden from default view.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of this shared drive.",
          "type": "string"
        }
      },
      "id": "Drive",
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive.",
      "type": "object"
    },
    "ChangeList": {
      "id": "ChangeList",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#changeList\"`.",
          "default": "drive#changeList",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. The page token doesn't expire.",
          "type": "string"
        },
        "changes": {
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Change"
          },
          "type": "array"
        },
        "newStartPageToken": {
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached. The page token doesn't expire.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A list of changes for a user."
    },
    "Label": {
      "description": "Representation of label and label fields.",
      "type": "object",
      "id": "Label",
      "properties": {
        "id": {
          "description": "The ID of the label.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always drive#label"
        },
        "revisionId": {
          "description": "The revision ID of the label.",
          "type": "string"
        },
        "fields": {
          "description": "A map of the fields on the label, keyed by the field's ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LabelField"
          }
        }
      }
    },
    "Approval": {
      "description": "Metadata for an approval. An approval is a review or approve process for a Drive item.",
      "type": "object",
      "id": "Approval",
      "properties": {
        "reviewerResponses": {
          "items": {
            "$ref": "ReviewerResponse"
          },
          "description": "The responses made on the approval by reviewers.",
          "type": "array"
        },
        "dueTime": {
          "type": "string",
          "description": "The time that the approval is due.",
          "format": "google-datetime"
        },
        "approvalId": {
          "type": "string",
          "description": "The approval ID."
        },
        "modifyTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The most recent time the approval was modified.",
          "format": "google-datetime"
        },
        "kind": {
          "type": "string",
          "description": "This is always drive#approval."
        },
        "createTime": {
          "description": "Output only. The time the approval was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "initiator": {
          "description": "The user that requested the approval.",
          "$ref": "User"
        },
        "status": {
          "description": "Output only. The status of the approval at the time this resource was requested.",
          "enumDescriptions": [
            "The approval status has not been set or was set to an invalid value.",
            "The approval process has started and not finished.",
            "The approval process is finished and the target was approved.",
            "The approval process was cancelled before it finished.",
            "The approval process is finished and the target was declined."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "APPROVED",
            "CANCELLED",
            "DECLINED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "completeTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the approval was completed.",
          "type": "string"
        },
        "fileContentChangeBehavior": {
          "description": "Output only. The behavior of the approval when the file content changes.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "FILE_CONTENT_CHANGE_BEHAVIOR_UNSPECIFIED",
            "RESET_APPROVAL",
            "NO_APPROVAL_ACTION"
          ],
          "enumDescriptions": [
            "The behavior is unspecified.",
            "Any ReviewerResponse with a Response of APPROVED will be reset to NO_DECISION when the file content changes while the approval has a Status of IN_PROGRESS. When the approval has a Status of APPROVED and RESET_APPROVAL is selected, the file is locked.",
            "No action is taken when the file content changes."
          ]
        },
        "targetFileId": {
          "type": "string",
          "description": "Target file id of the approval."
        }
      }
    },
    "ReassignApprovalRequest": {
      "description": "Request for reassigning an approval. Reviewers can be added or replaced, but not removed.",
      "id": "ReassignApprovalRequest",
      "properties": {
        "message": {
          "description": "Optional. A message to send to the new reviewers. This message is included in notifications for the action and in the approval activity log.",
          "type": "string"
        },
        "replaceReviewers": {
          "type": "array",
          "description": "Optional. The list of reviewer replacements.",
          "items": {
            "$ref": "ReplaceReviewer"
          }
        },
        "addReviewers": {
          "type": "array",
          "description": "Optional. The list of reviewers to add.",
          "items": {
            "$ref": "AddReviewer"
          }
        }
      },
      "type": "object"
    },
    "ListAccessProposalsResponse": {
      "properties": {
        "accessProposals": {
          "type": "array",
          "items": {
            "$ref": "AccessProposal"
          },
          "description": "The list of access proposals. This field is only populated in Drive API v3."
        },
        "nextPageToken": {
          "description": "The continuation token for the next page of results. This will be absent if the end of the results list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      },
      "id": "ListAccessProposalsResponse",
      "type": "object",
      "description": "The response to an access proposal list request."
    },
    "Channel": {
      "description": "A notification channel used to watch for resource changes.",
      "properties": {
        "address": {
          "type": "string",
          "description": "The address where notifications are delivered for this channel."
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\".",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "token": {
          "type": "string",
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
        },
        "resourceUri": {
          "type": "string",
          "description": "A version-specific identifier for the watched resource."
        },
        "expiration": {
          "format": "int64",
          "type": "string",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional."
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "default": "api#channel"
        },
        "params": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "A UUID or similar unique string that identifies this channel."
        }
      },
      "type": "object",
      "id": "Channel"
    },
    "About": {
      "description": "Information about the user, the user's Drive, and system capabilities.",
      "id": "About",
      "type": "object",
      "properties": {
        "user": {
          "description": "The authenticated user.",
          "$ref": "User"
        },
        "maxImportSizes": {
          "type": "object",
          "description": "A map of maximum import sizes by MIME type, in bytes.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        },
        "folderColorPalette": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The currently supported folder colors as RGB hex strings."
        },
        "importFormats": {
          "type": "object",
          "description": "A map of source MIME type to possible targets for all supported imports.",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "appInstalled": {
          "type": "boolean",
          "description": "Whether the user has installed the requesting app."
        },
        "teamDriveThemes": {
          "items": {
            "properties": {
              "id": {
                "description": "Deprecated: Use `driveThemes/id` instead.",
                "type": "string",
                "deprecated": true
              },
              "backgroundImageLink": {
                "type": "string",
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead.",
                "deprecated": true
              },
              "colorRgb": {
                "type": "string",
                "deprecated": true,
                "description": "Deprecated: Use `driveThemes/colorRgb` instead."
              }
            },
            "type": "object"
          },
          "deprecated": true,
          "type": "array",
          "description": "Deprecated: Use `driveThemes` instead."
        },
        "canCreateTeamDrives": {
          "deprecated": true,
          "description": "Deprecated: Use `canCreateDrives` instead.",
          "type": "boolean"
        },
        "storageQuota": {
          "description": "The user's storage quota limits and usage. For users that are part of an organization with pooled storage, information about the limit and usage across all services is for the organization, rather than the individual user. All fields are measured in bytes.",
          "type": "object",
          "properties": {
            "usage": {
              "type": "string",
              "description": "The total usage across all services. For users that are part of an organization with pooled storage, this is the usage across all services for the organization, rather than the individual user.",
              "format": "int64"
            },
            "limit": {
              "description": "The usage limit, if applicable. This will not be present if the user has unlimited storage. For users that are part of an organization with pooled storage, this is the limit for the organization, rather than the individual user.",
              "format": "int64",
              "type": "string"
            },
            "usageInDriveTrash": {
              "format": "int64",
              "type": "string",
              "description": "The usage by trashed files in Google Drive."
            },
            "usageInDrive": {
              "type": "string",
              "description": "The usage by all files in Google Drive.",
              "format": "int64"
            }
          }
        },
        "canCreateDrives": {
          "type": "boolean",
          "description": "Whether the user can create shared drives."
        },
        "driveThemes": {
          "items": {
            "type": "object",
            "properties": {
              "backgroundImageLink": {
                "description": "A link to this theme's background image.",
                "type": "string"
              },
              "colorRgb": {
                "type": "string",
                "description": "The color of this theme as an RGB hex string."
              },
              "id": {
                "description": "The ID of the theme.",
                "type": "string"
              }
            }
          },
          "description": "A list of themes that are supported for shared drives.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#about\"`.",
          "default": "drive#about",
          "type": "string"
        },
        "maxUploadSize": {
          "format": "int64",
          "description": "The maximum upload size in bytes.",
          "type": "string"
        },
        "exportFormats": {
          "description": "A map of source MIME type to possible targets for all supported exports.",
          "type": "object",
          "additionalProperties": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      }
    },
    "DownloadRestrictionsMetadata": {
      "properties": {
        "itemDownloadRestriction": {
          "description": "The download restriction of the file applied directly by the owner or organizer. This doesn't take into account shared drive settings or DLP rules.",
          "$ref": "DownloadRestriction"
        },
        "effectiveDownloadRestrictionWithContext": {
          "description": "Output only. The effective download restriction applied to this file. This considers all restriction settings and DLP rules.",
          "$ref": "DownloadRestriction"
        }
      },
      "description": "Download restrictions applied to the file.",
      "type": "object",
      "id": "DownloadRestrictionsMetadata"
    },
    "ModifyLabelsRequest": {
      "type": "object",
      "properties": {
        "labelModifications": {
          "description": "The list of modifications to apply to the labels on the file.",
          "type": "array",
          "items": {
            "$ref": "LabelModification"
          }
        },
        "kind": {
          "description": "This is always `\"drive#modifyLabelsRequest\"`.",
          "type": "string"
        }
      },
      "id": "ModifyLabelsRequest",
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically."
    },
    "CommentList": {
      "type": "object",
      "description": "A list of comments on a file.",
      "id": "CommentList",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "comments": {
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Comment"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#commentList\"`.",
          "default": "drive#commentList",
          "type": "string"
        }
      }
    },
    "Permission": {
      "type": "object",
      "properties": {
        "allowFileDiscovery": {
          "type": "boolean",
          "description": "Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type `domain` or `anyone`."
        },
        "id": {
          "description": "Output only. The ID of this permission. This is a unique identifier for the grantee, and is published in the [User resource](https://developers.google.com/workspace/drive/api/reference/rest/v3/User) as `permissionId`. IDs should be treated as opaque values.",
          "type": "string"
        },
        "inheritedPermissionsDisabled": {
          "description": "When `true`, only organizers, owners, and users with permissions added directly on the item can access it.",
          "type": "boolean"
        },
        "permissionDetails": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Details of whether the permissions on this item are inherited or are directly on this item.",
          "items": {
            "type": "object",
            "properties": {
              "inheritedFrom": {
                "readOnly": true,
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives.",
                "type": "string"
              },
              "inherited": {
                "type": "boolean",
                "description": "Output only. Whether this permission is inherited. This field is always populated. This is an output-only field."
              },
              "permissionType": {
                "type": "string",
                "description": "Output only. The permission type for this user. Supported values include: * `file` * `member`"
              },
              "role": {
                "type": "string",
                "description": "Output only. The primary role for this user. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles)."
              }
            }
          }
        },
        "expirationTime": {
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration times have the following restrictions: - They can only be set on user and group permissions - The time must be in the future - The time cannot be more than a year in the future",
          "type": "string",
          "format": "date-time"
        },
        "domain": {
          "description": "Output only. The domain to which this permission refers.",
          "type": "string",
          "readOnly": true
        },
        "photoLink": {
          "description": "Output only. A link to the user's profile photo, if available.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The \"pretty\" name of the value of the permission. The following is a list of examples for each type of permission: * `user` - User's full name, as defined for their Google Account, such as \"Dana A.\" * `group` - Name of the Google Group, such as \"The Company Administrators.\" * `domain` - String domain name, such as \"cymbalgroup.com.\" * `anyone` - No `displayName` is present.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "The role granted by this permission. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          }
        },
        "teamDrivePermissionDetails": {
          "items": {
            "properties": {
              "inherited": {
                "deprecated": true,
                "description": "Deprecated: Output only. Use `permissionDetails/inherited` instead.",
                "type": "boolean"
              },
              "teamDrivePermissionType": {
                "description": "Deprecated: Output only. Use `permissionDetails/permissionType` instead.",
                "type": "string",
                "deprecated": true
              },
              "role": {
                "deprecated": true,
                "description": "Deprecated: Output only. Use `permissionDetails/role` instead.",
                "type": "string"
              },
              "inheritedFrom": {
                "description": "Deprecated: Output only. Use `permissionDetails/inheritedFrom` instead.",
                "deprecated": true,
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Deprecated: Output only. Use `permissionDetails` instead.",
          "deprecated": true
        },
        "emailAddress": {
          "type": "string",
          "description": "Output only. The email address of the user or group to which this permission refers.",
          "readOnly": true
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#permission\"`.",
          "type": "string",
          "default": "drive#permission"
        },
        "view": {
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. The only supported values are `published` and `metadata`: * `published`: The permission's role is `publishedReader`. * `metadata`: The item is only visible to the `metadata` view because the item has limited access and the scope has at least read access to the parent. The `metadata` view is only supported on folders. For more information, see [Views](https://developers.google.com/workspace/drive/api/guides/ref-roles#views).",
          "type": "string"
        },
        "pendingOwner": {
          "type": "boolean",
          "description": "Whether the account associated with this permission is a pending owner. Only populated for permissions of type `user` for files that aren't in a shared drive."
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to permissions of type `user` or `group`."
        },
        "type": {
          "type": "string",
          "description": "The type of the grantee. Supported values include: * `user` * `group` * `domain` * `anyone` When creating a permission, if `type` is `user` or `group`, you must provide an `emailAddress` for the user or group. If `type` is `domain`, you must provide a `domain`. If `type` is `anyone`, no extra information is required.",
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          }
        }
      },
      "id": "Permission",
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). By default, permission requests only return a subset of fields. Permission `kind`, `ID`, `type`, and `role` are always returned. To retrieve specific fields, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter). Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive."
    },
    "FileList": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        },
        "incompleteSearch": {
          "description": "Whether the search process was incomplete. If true, then some search results might be missing, since all documents were not searched. This can occur when searching multiple drives with the `allDrives` corpora, but all corpora couldn't be searched. When this happens, it's suggested that clients narrow their query by choosing a different corpus such as `user` or `drive`.",
          "type": "boolean"
        },
        "files": {
          "items": {
            "$ref": "File"
          },
          "type": "array",
          "description": "The list of files. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#fileList\"`.",
          "default": "drive#fileList"
        }
      },
      "id": "FileList",
      "type": "object",
      "description": "A list of files."
    },
    "Reply": {
      "id": "Reply",
      "properties": {
        "content": {
          "type": "string",
          "description": "The plain text content of the reply. This field is used for setting the content, while `htmlContent` should be displayed. This field is required by the `create` method if no `action` value is specified.",
          "annotations": {
            "required": [
              "drive.replies.update"
            ]
          }
        },
        "author": {
          "description": "Output only. The author of the reply. The author's email address and permission ID won't be populated.",
          "$ref": "User"
        },
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the reply was created (RFC 3339 date-time)."
        },
        "kind": {
          "default": "drive#reply",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#reply\"`.",
          "type": "string"
        },
        "modifiedTime": {
          "format": "date-time",
          "type": "string",
          "description": "The last time the reply was modified (RFC 3339 date-time)."
        },
        "htmlContent": {
          "type": "string",
          "description": "Output only. The content of the reply with HTML formatting."
        },
        "action": {
          "description": "The action the reply performed to the parent comment. The supported values are: * `resolve` * `reopen`",
          "type": "string"
        },
        "id": {
          "description": "Output only. The ID of the reply.",
          "type": "string"
        },
        "assigneeEmailAddress": {
          "description": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset.",
          "readOnly": true,
          "type": "string"
        },
        "deleted": {
          "description": "Output only. Whether the reply has been deleted. A deleted reply has no content.",
          "type": "boolean"
        },
        "mentionedEmailAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A reply to a comment on a file. Some resource methods (such as `replies.update`) require a `replyId`. Use the `replies.list` method to retrieve the ID for a reply."
    },
    "ReplyList": {
      "description": "A list of replies to a comment on a file.",
      "properties": {
        "replies": {
          "type": "array",
          "items": {
            "$ref": "Reply"
          },
          "description": "The list of replies. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "nextPageToken": {
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#replyList\"`.",
          "default": "drive#replyList",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ReplyList"
    },
    "LabelList": {
      "id": "LabelList",
      "description": "A list of labels applied to a file.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        },
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "description": "The list of labels.",
          "type": "array"
        },
        "kind": {
          "description": "This is always `\"drive#labelList\"`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeclineApprovalRequest": {
      "description": "Request for declining an approval as a reviewer.",
      "type": "object",
      "id": "DeclineApprovalRequest",
      "properties": {
        "message": {
          "type": "string",
          "description": "Optional. A message to accompany the reviewer response on the approval. This message is included in notifications for the action and in the approval activity log."
        }
      }
    },
    "Change": {
      "description": "A change to a file or shared drive.",
      "type": "object",
      "id": "Change",
      "properties": {
        "time": {
          "type": "string",
          "description": "The time of this change (RFC 3339 date-time).",
          "format": "date-time"
        },
        "teamDriveId": {
          "deprecated": true,
          "description": "Deprecated: Use `driveId` instead.",
          "type": "string"
        },
        "kind": {
          "default": "drive#change",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#change\"`."
        },
        "changeType": {
          "type": "string",
          "description": "The type of the change. Possible values are `file` and `drive`."
        },
        "driveId": {
          "type": "string",
          "description": "The ID of the shared drive associated with this change."
        },
        "removed": {
          "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access.",
          "type": "boolean"
        },
        "file": {
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes.",
          "$ref": "File"
        },
        "fileId": {
          "type": "string",
          "description": "The ID of the file which has changed."
        },
        "type": {
          "type": "string",
          "description": "Deprecated: Use `changeType` instead.",
          "deprecated": true
        },
        "teamDrive": {
          "$ref": "TeamDrive",
          "deprecated": true,
          "description": "Deprecated: Use `drive` instead."
        },
        "drive": {
          "$ref": "Drive",
          "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted."
        }
      }
    },
    "DriveList": {
      "description": "A list of shared drives.",
      "properties": {
        "drives": {
          "type": "array",
          "items": {
            "$ref": "Drive"
          },
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "nextPageToken": {
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#driveList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#driveList\"`."
        }
      },
      "id": "DriveList",
      "type": "object"
    },
    "Comment": {
      "properties": {
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether the comment has been deleted. A deleted comment has no content."
        },
        "htmlContent": {
          "type": "string",
          "description": "Output only. The content of the comment with HTML formatting."
        },
        "assigneeEmailAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset."
        },
        "mentionedEmailAddresses": {
          "type": "array",
          "description": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "anchor": {
          "description": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/workspace/drive/api/v3/manage-comments).",
          "type": "string"
        },
        "resolved": {
          "description": "Output only. Whether the comment has been resolved by one of its replies.",
          "type": "boolean"
        },
        "modifiedTime": {
          "description": "The last time the comment or any of its replies was modified (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "createdTime": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which the comment was created (RFC 3339 date-time)."
        },
        "author": {
          "description": "Output only. The author of the comment. The author's email address and permission ID will not be populated.",
          "$ref": "User"
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of the comment."
        },
        "quotedFileContent": {
          "type": "object",
          "properties": {
            "mimeType": {
              "type": "string",
              "description": "The MIME type of the quoted content."
            },
            "value": {
              "type": "string",
              "description": "The quoted content itself. This is interpreted as plain text if set through the API."
            }
          },
          "description": "The file content to which the comment refers, typically within the anchor region. For a text file, for example, this would be the text at the location of the comment."
        },
        "kind": {
          "type": "string",
          "default": "drive#comment",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#comment\"`."
        },
        "content": {
          "type": "string",
          "description": "The plain text content of the comment. This field is used for setting the content, while `htmlContent` should be displayed.",
          "annotations": {
            "required": [
              "drive.comments.create",
              "drive.comments.update"
            ]
          }
        },
        "replies": {
          "description": "Output only. The full list of replies to the comment in chronological order.",
          "items": {
            "$ref": "Reply"
          },
          "type": "array"
        }
      },
      "description": "A comment on a file. Some resource methods (such as `comments.update`) require a `commentId`. Use the `comments.list` method to retrieve the ID for a comment in a file.",
      "type": "object",
      "id": "Comment"
    },
    "CancelApprovalRequest": {
      "type": "object",
      "description": "Request for cancelling an approval as an initiator.",
      "id": "CancelApprovalRequest",
      "properties": {
        "message": {
          "description": "Optional. A message to accompany the cancellation of the approval. This message is included in notifications for the action and in the approval activity log.",
          "type": "string"
        }
      }
    },
    "GeneratedIds": {
      "description": "A list of generated file IDs which can be provided in create requests.",
      "type": "object",
      "id": "GeneratedIds",
      "properties": {
        "ids": {
          "description": "The IDs generated for the requesting user in the specified space.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "space": {
          "description": "The type of file that can be created with these IDs.",
          "type": "string"
        },
        "kind": {
          "default": "drive#generatedIds",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#generatedIds\"`.",
          "type": "string"
        }
      }
    },
    "ContentRestriction": {
      "id": "ContentRestriction",
      "properties": {
        "restrictionTime": {
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "type": "string",
          "format": "date-time"
        },
        "ownerRestricted": {
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction.",
          "type": "boolean"
        },
        "type": {
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`.",
          "type": "string"
        },
        "reason": {
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`.",
          "type": "string"
        },
        "readOnly": {
          "type": "boolean",
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified."
        },
        "restrictingUser": {
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly=true`.",
          "$ref": "User"
        },
        "systemRestricted": {
          "type": "boolean",
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions."
        }
      },
      "type": "object",
      "description": "A restriction for accessing the content of the file."
    },
    "AppList": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "drive#appList",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#appList\"."
        },
        "defaultAppIds": {
          "type": "array",
          "description": "The list of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "items": {
            "type": "string"
          }
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "items": {
          "type": "array",
          "description": "The list of apps.",
          "items": {
            "$ref": "App"
          }
        }
      },
      "description": "A list of third-party applications which the user has installed or given access to Google Drive.",
      "id": "AppList"
    },
    "StartPageToken": {
      "type": "object",
      "id": "StartPageToken",
      "properties": {
        "startPageToken": {
          "type": "string",
          "description": "The starting page token for listing future changes. The page token doesn't expire."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`.",
          "default": "drive#startPageToken"
        }
      }
    },
    "PermissionList": {
      "id": "PermissionList",
      "type": "object",
      "description": "A list of permissions for a file.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#permissionList\"`.",
          "type": "string",
          "default": "drive#permissionList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "The list of permissions. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched."
        }
      }
    },
    "TeamDriveList": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "drive#teamDriveList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDriveList\"`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of Team Drives. This will be absent if the end of the Team Drives list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        },
        "teamDrives": {
          "type": "array",
          "description": "The list of Team Drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "TeamDrive"
          }
        }
      },
      "description": "A list of Team Drives.",
      "type": "object",
      "id": "TeamDriveList"
    },
    "User": {
      "properties": {
        "me": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this user is the requesting user."
        },
        "permissionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The user's ID as visible in Permission resources."
        },
        "displayName": {
          "description": "Output only. A plain text displayable name for this user.",
          "readOnly": true,
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#user",
          "readOnly": true,
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`."
        },
        "emailAddress": {
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.",
          "type": "string",
          "readOnly": true
        },
        "photoLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A link to the user's profile photo, if available."
        }
      },
      "id": "User",
      "type": "object",
      "description": "Information about a Drive user."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "LabelFieldModification": {
      "id": "LabelFieldModification",
      "properties": {
        "setIntegerValues": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Replaces the value of an `integer` field with these new values.",
          "type": "array"
        },
        "setTextValues": {
          "description": "Sets the value of a `text` field.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "setUserValues": {
          "description": "Replaces a `user` field with these new values. The values must be a valid email addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "setDateValues": {
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "date"
          }
        },
        "kind": {
          "type": "string",
          "description": "This is always `\"drive#labelFieldModification\"`."
        },
        "fieldId": {
          "type": "string",
          "description": "The ID of the field to be modified."
        },
        "unsetValues": {
          "type": "boolean",
          "description": "Unsets the values for this field."
        },
        "setSelectionValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Replaces a `selection` field with these new values."
        }
      },
      "description": "A modification to a label's field.",
      "type": "object"
    },
    "ApprovalList": {
      "id": "ApprovalList",
      "type": "object",
      "description": "The response of an approvals list request.",
      "properties": {
        "items": {
          "description": "The list of approvals. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Approval"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This is always drive#approvalList"
        },
        "nextPageToken": {
          "description": "The page token for the next page of approvals. This is absent if the end of the approvals list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      }
    },
    "AddReviewer": {
      "properties": {
        "addedReviewerEmail": {
          "description": "Required. The email of the reviewer to add.",
          "type": "string"
        }
      },
      "id": "AddReviewer",
      "type": "object",
      "description": "Representation of a reviewer addition."
    },
    "CommentApprovalRequest": {
      "properties": {
        "message": {
          "description": "Required. A message to comment on the approval. This message is included in notifications for the action and in the approval activity log.",
          "type": "string"
        }
      },
      "id": "CommentApprovalRequest",
      "type": "object",
      "description": "Request for commenting on an approval."
    },
    "ReviewerResponse": {
      "description": "A response on an approval made by a specific reviewer.",
      "id": "ReviewerResponse",
      "type": "object",
      "properties": {
        "reviewer": {
          "$ref": "User",
          "description": "The user that's responsible for this response."
        },
        "response": {
          "enumDescriptions": [
            "The response was set to an unrecognized value.",
            "The reviewer hasn't responded.",
            "The reviewer has approved the item.",
            "The reviewer has declined the item."
          ],
          "type": "string",
          "description": "A reviewer’s response for the approval.",
          "enum": [
            "RESPONSE_UNSPECIFIED",
            "NO_RESPONSE",
            "APPROVED",
            "DECLINED"
          ]
        },
        "kind": {
          "description": "This is always drive#reviewerResponse.",
          "type": "string"
        }
      }
    },
    "ReplaceReviewer": {
      "properties": {
        "removedReviewerEmail": {
          "type": "string",
          "description": "Required. The email of the reviewer to remove."
        },
        "addedReviewerEmail": {
          "description": "Required. The email of the reviewer to add.",
          "type": "string"
        }
      },
      "id": "ReplaceReviewer",
      "type": "object",
      "description": "Representation of a reviewer replacement."
    },
    "TeamDrive": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive."
        },
        "name": {
          "description": "The name of this Team Drive.",
          "type": "string"
        },
        "orgUnitId": {
          "type": "string",
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`."
        },
        "backgroundImageFile": {
          "description": "The background image file for a Team Drive.",
          "type": "object",
          "properties": {
            "id": {
              "description": "The ID of an image file in Drive to use for the background image.",
              "type": "string"
            },
            "xCoordinate": {
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number",
              "format": "float"
            },
            "yCoordinate": {
              "type": "number",
              "format": "float",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image."
            },
            "width": {
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "type": "number",
              "format": "float"
            }
          }
        },
        "colorRgb": {
          "type": "string",
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`."
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#teamDrive",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDrive\"`."
        },
        "capabilities": {
          "description": "Capabilities the current user has on this Team Drive.",
          "properties": {
            "canCopy": {
              "type": "boolean",
              "description": "Whether the current user can copy files in this Team Drive."
            },
            "canRemoveChildren": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead."
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Whether the current user can delete children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canChangeDownloadRestriction": {
              "description": "Output only. Whether the current user can change organizer-applied download restrictions of this shared drive.",
              "readOnly": true,
              "type": "boolean"
            },
            "canChangeTeamMembersOnlyRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive."
            },
            "canResetTeamDriveRestrictions": {
              "description": "Whether the current user can reset the Team Drive restrictions to defaults.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Whether the current user can read the revisions resource of files in this Team Drive."
            },
            "canRenameTeamDrive": {
              "type": "boolean",
              "description": "Whether the current user can rename this Team Drive."
            },
            "canRename": {
              "description": "Whether the current user can rename files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Whether the current user can list the children of folders in this Team Drive.",
              "type": "boolean"
            },
            "canDownload": {
              "type": "boolean",
              "description": "Whether the current user can download files in this Team Drive."
            },
            "canAddChildren": {
              "description": "Whether the current user can add children to folders in this Team Drive.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Whether the current user can comment on files in this Team Drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive."
            },
            "canEdit": {
              "description": "Whether the current user can edit files in this Team Drive",
              "type": "boolean"
            },
            "canManageMembers": {
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role.",
              "type": "boolean"
            },
            "canChangeTeamDriveBackground": {
              "type": "boolean",
              "description": "Whether the current user can change the background of this Team Drive."
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Whether the current user can trash children from folders in this Team Drive."
            },
            "canShare": {
              "type": "boolean",
              "description": "Whether the current user can share files or folders in this Team Drive."
            },
            "canDeleteTeamDrive": {
              "type": "boolean",
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive."
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive."
            }
          },
          "type": "object"
        },
        "createdTime": {
          "description": "The time at which the Team Drive was created (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "backgroundImageLink": {
          "description": "A short-lived link to this Team Drive's background image.",
          "type": "string"
        },
        "restrictions": {
          "properties": {
            "domainUsersOnly": {
              "type": "boolean",
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive."
            },
            "downloadRestriction": {
              "$ref": "DownloadRestriction",
              "description": "Download restrictions applied by shared drive managers."
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive.",
              "type": "boolean"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "type": "boolean",
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders."
            },
            "teamMembersOnly": {
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions.",
              "type": "boolean"
            }
          },
          "type": "object",
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive."
        }
      },
      "id": "TeamDrive",
      "type": "object",
      "description": "Deprecated: use the drive collection instead. Next ID: 33"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "AccessProposalRoleAndView": {
      "type": "object",
      "description": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
      "properties": {
        "role": {
          "type": "string",
          "description": "The role that was proposed by the requester. The supported values are: * `writer` * `commenter` * `reader`"
        },
        "view": {
          "type": "string",
          "description": "Indicates the view for this access proposal. Only populated for proposals that belong to a view. Only `published` is supported."
        }
      },
      "id": "AccessProposalRoleAndView"
    },
    "RevisionList": {
      "type": "object",
      "properties": {
        "revisions": {
          "description": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Revision"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#revisionList\"`.",
          "default": "drive#revisionList",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of revisions. This will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        }
      },
      "description": "A list of revisions of a file.",
      "id": "RevisionList"
    },
    "App": {
      "description": "The `apps` resource provides a list of apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "type": "object",
      "properties": {
        "openUrlTemplate": {
          "type": "string",
          "description": "The template URL for opening files with this app. The template contains {ids} or {exportIds} to be replaced by the actual file IDs. For more information, see Open Files for the full documentation."
        },
        "kind": {
          "default": "drive#app",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#app\".",
          "type": "string"
        },
        "productId": {
          "description": "The ID of the product listing for this app.",
          "type": "string"
        },
        "installed": {
          "type": "boolean",
          "description": "Whether the app is installed."
        },
        "primaryFileExtensions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of primary file extensions."
        },
        "supportsOfflineCreate": {
          "description": "Whether this app supports creating files when offline.",
          "type": "boolean"
        },
        "supportsImport": {
          "description": "Whether this app supports importing from Google Docs.",
          "type": "boolean"
        },
        "objectType": {
          "type": "string",
          "description": "The type of object this app creates such as a Chart. If empty, the app name should be used instead."
        },
        "productUrl": {
          "type": "string",
          "description": "A link to the product listing for this app."
        },
        "icons": {
          "type": "array",
          "description": "The various icons for the app.",
          "items": {
            "$ref": "AppIcons"
          }
        },
        "secondaryFileExtensions": {
          "type": "array",
          "description": "The list of secondary file extensions.",
          "items": {
            "type": "string"
          }
        },
        "useByDefault": {
          "description": "Whether the app is selected as the default handler for the types it supports.",
          "type": "boolean"
        },
        "supportsCreate": {
          "description": "Whether this app supports creating objects.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "createInFolderTemplate": {
          "type": "string",
          "description": "The template URL to create a file with this app in a given folder. The template contains the {folderId} to be replaced by the folder ID house the new file."
        },
        "authorized": {
          "type": "boolean",
          "description": "Whether the app is authorized to access data on the user's Drive."
        },
        "primaryMimeTypes": {
          "description": "The list of primary MIME types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "shortDescription": {
          "description": "A short description of the app.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the app.",
          "type": "string"
        },
        "longDescription": {
          "description": "A long description of the app.",
          "type": "string"
        },
        "supportsMultiOpen": {
          "description": "Whether this app supports opening more than one file.",
          "type": "boolean"
        },
        "hasDriveWideScope": {
          "description": "Whether the app has Drive-wide scope. An app with Drive-wide scope can access all files in the user's Drive.",
          "type": "boolean"
        },
        "createUrl": {
          "description": "The URL to create a file with this app.",
          "type": "string"
        },
        "secondaryMimeTypes": {
          "items": {
            "type": "string"
          },
          "description": "The list of secondary MIME types.",
          "type": "array"
        }
      },
      "id": "App"
    },
    "GenerateCseTokenResponse": {
      "properties": {
        "currentKaclsName": {
          "type": "string",
          "description": "Name of the KACLs that the returned KACLs ID points to."
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`.",
          "type": "string"
        },
        "currentKaclsId": {
          "format": "int64",
          "description": "The current Key ACL Service (KACLS) ID associated with the JWT.",
          "type": "string"
        },
        "fileId": {
          "type": "string",
          "description": "The fileId for which the JWT was generated."
        },
        "jwt": {
          "description": "The signed JSON Web Token (JWT) for the file.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "JWT and associated metadata used to generate CSE files.",
      "id": "GenerateCseTokenResponse"
    },
    "LabelModification": {
      "description": "A modification to a label on a file. A `LabelModification` can be used to apply a label to a file, update an existing label on a file, or remove a label from a file.",
      "id": "LabelModification",
      "properties": {
        "labelId": {
          "description": "The ID of the label to modify.",
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          },
          "type": "string"
        },
        "removeLabel": {
          "type": "boolean",
          "description": "If true, the label will be removed from the file."
        },
        "kind": {
          "description": "This is always `\"drive#labelModification\"`.",
          "type": "string"
        },
        "fieldModifications": {
          "items": {
            "$ref": "LabelFieldModification"
          },
          "description": "The list of modifications to this label's fields.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ClientEncryptionDetails": {
      "id": "ClientEncryptionDetails",
      "description": "Details about the client-side encryption applied to the file.",
      "type": "object",
      "properties": {
        "decryptionMetadata": {
          "$ref": "DecryptionMetadata",
          "description": "The metadata used for client-side operations."
        },
        "encryptionState": {
          "type": "string",
          "description": "The encryption state of the file. The values expected here are: - encrypted - unencrypted "
        }
      }
    },
    "ModifyLabelsResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `\"drive#modifyLabelsResponse\"`.",
          "type": "string"
        },
        "modifiedLabels": {
          "description": "The list of labels which were added or updated by the request.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        }
      },
      "description": "Response to a `ModifyLabels` request. This contains only those labels which were added or updated by the request.",
      "id": "ModifyLabelsResponse"
    },
    "ResolveAccessProposalRequest": {
      "id": "ResolveAccessProposalRequest",
      "properties": {
        "sendNotification": {
          "type": "boolean",
          "description": "Optional. Whether to send an email to the requester when the access proposal is denied or accepted."
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified action",
            "The user accepts the access proposal. Note: If this action is used, the `role` field must have at least one value.",
            "The user denies the access proposal."
          ],
          "description": "Required. The action to take on the access proposal.",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ACCEPT",
            "DENY"
          ]
        },
        "role": {
          "description": "Optional. The roles that the approver has allowed, if any. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles). Note: This field is required for the `ACCEPT` action.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "view": {
          "type": "string",
          "description": "Optional. Indicates the view for this access proposal. This should only be set when the proposal belongs to a view. Only `published` is supported."
        }
      },
      "description": "Request message for resolving an AccessProposal on a file.",
      "type": "object"
    },
    "AccessProposal": {
      "id": "AccessProposal",
      "properties": {
        "recipientEmailAddress": {
          "type": "string",
          "description": "The email address of the user that will receive permissions, if accepted."
        },
        "proposalId": {
          "description": "The ID of the access proposal.",
          "type": "string"
        },
        "fileId": {
          "type": "string",
          "description": "The file ID that the proposal for access is on."
        },
        "rolesAndViews": {
          "description": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
          "items": {
            "$ref": "AccessProposalRoleAndView"
          },
          "type": "array"
        },
        "requesterEmailAddress": {
          "description": "The email address of the requesting user.",
          "type": "string"
        },
        "createTime": {
          "description": "The creation time.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestMessage": {
          "description": "The message that the requester added to the proposal.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Manage outstanding access proposals on a file."
    },
    "StartApprovalRequest": {
      "properties": {
        "fileContentChangeBehavior": {
          "type": "string",
          "enumDescriptions": [
            "The behavior is unspecified.",
            "Any ReviewerResponse with a Response of APPROVED will be reset to NO_DECISION when the file content changes while the approval has a Status of IN_PROGRESS. When the approval has a Status of APPROVED and RESET_APPROVAL is selected, the file is locked.",
            "No action is taken when the file content changes."
          ],
          "description": "Optional. The behavior of the approval when the file content changes.",
          "enum": [
            "FILE_CONTENT_CHANGE_BEHAVIOR_UNSPECIFIED",
            "RESET_APPROVAL",
            "NO_APPROVAL_ACTION"
          ]
        },
        "reviewerEmails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The emails of the users who are set to review the approval."
        },
        "lockFile": {
          "description": "Optional. Whether to lock the file when starting the approval.",
          "type": "boolean"
        },
        "dueTime": {
          "format": "google-datetime",
          "description": "Optional. The time that the approval is due.",
          "type": "string"
        },
        "message": {
          "description": "Optional. A message to send to reviewers when notifying them of the approval request.",
          "type": "string"
        }
      },
      "id": "StartApprovalRequest",
      "description": "Allows creating an approval on a file.",
      "type": "object"
    },
    "File": {
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "properties": {
        "originalFilename": {
          "type": "string",
          "description": "The original filename of the uploaded content if available, or else the original value of the `name` field. This is only available for files with binary content in Google Drive."
        },
        "parents": {
          "items": {
            "type": "string"
          },
          "description": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of a create request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list.",
          "type": "array"
        },
        "trashed": {
          "description": "Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file, but other users can still access the file in the owner's trash until it's permanently deleted.",
          "type": "boolean"
        },
        "trashingUser": {
[...]
