{
  "rootUrl": "https://www.googleapis.com/",
  "batchPath": "batch/drive/v3",
  "revision": "20260904",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "version": "v3",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "baseUrl": "https://www.googleapis.com/drive/v3/",
  "discoveryVersion": "v1",
  "name": "drive",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "title": "Google Drive API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        }
      }
    }
  },
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "resources": {
    "files": {
      "methods": {
        "update": {
          "request": {
            "$ref": "File"
          },
          "response": {
            "$ref": "File"
          },
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads).",
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.update",
          "supportsMediaUpload": true,
          "path": "files/{fileId}",
          "flatPath": "files/{fileId}",
          "httpMethod": "PATCH",
          "mediaUpload": {
            "maxSize": "5497558138880",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/drive/v3/files/{fileId}",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v3/files/{fileId}"
              }
            }
          },
          "parameters": {
            "useContentAsIndexableText": {
              "default": "false",
              "description": "Whether to use the uploaded content as indexable text.",
              "location": "query",
              "type": "boolean"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "addParents": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of parent IDs to add."
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "type": "boolean"
            },
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file."
            },
            "removeParents": {
              "description": "A comma-separated list of parent IDs to remove.",
              "type": "string",
              "location": "query"
            },
            "keepRevisionForever": {
              "default": "false",
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "location": "query",
              "type": "boolean"
            },
            "enforceSingleParent": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use shortcuts instead.",
              "default": "false"
            },
            "ocrLanguage": {
              "type": "string",
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ]
        },
        "list": {
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "parameterOrder": [],
          "response": {
            "$ref": "FileList"
          },
          "path": "files",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "q": {
              "description": "A query for filtering the file results. For supported syntax, see [Search for files and folders](/workspace/drive/api/guides/search-files).",
              "type": "string",
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "includeItemsFromAllDrives": {
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean"
            },
            "spaces": {
              "default": "drive",
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are `drive` and `appDataFolder`. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of files to return. The service may return fewer than this value. If unspecified, at most 100 files will be returned for shared drives, and the entire list of files for non-shared drives. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "default": "100",
              "maximum": "1000",
              "minimum": "1"
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string"
            },
            "orderBy": {
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdTime`: When the file was created. Avoid using this key for queries on large item collections as it might result in timeouts or other issues. For time-related sorting on large item collections, use `modifiedTime desc` instead. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `modifiedByMeTime`: The last time the file was modified by the user. * `modifiedTime`: The last time the file was modified by anyone. * `name`: The name of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `name_natural`: The name of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeTime`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `viewedByMeTime`: The last time the file was viewed by the user. Each key sorts ascending by default, but can be reversed with the `desc` modifier. Example usage: `?orderBy=folder,modifiedTime desc,name`.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "location": "query",
              "type": "boolean",
              "deprecated": true
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "corpus": {
              "enumDescriptions": [
                "Files shared to the user's domain.",
                "Files owned by or shared to the user."
              ],
              "deprecated": true,
              "type": "string",
              "enum": [
                "domain",
                "user"
              ],
              "description": "Deprecated: The source of files to list. Use `corpora` instead.",
              "location": "query"
            },
            "teamDriveId": {
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string"
            },
            "includeTeamDriveItems": {
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "location": "query",
              "type": "boolean",
              "deprecated": true,
              "default": "false"
            },
            "corpora": {
              "location": "query",
              "description": "Specifies a collection of items (files or documents) to which the query applies. Supported items include: * `user` * `domain` * `drive` * `allDrives` Prefer `user` or `drive` to `allDrives` for efficiency. By default, corpora is set to `user`. However, this can change depending on the filter set through the `q` parameter. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "type": "string"
            },
            "driveId": {
              "type": "string",
              "location": "query",
              "description": "ID of the shared drive to search."
            }
          },
          "flatPath": "files",
          "id": "drive.files.list",
          "httpMethod": "GET"
        },
        "emptyTrash": {
          "httpMethod": "DELETE",
          "parameterOrder": [],
          "path": "files/trash",
          "id": "drive.files.emptyTrash",
          "flatPath": "files/trash",
          "parameters": {
            "driveId": {
              "type": "string",
              "description": "If set, empties the trash of the provided shared drive.",
              "location": "query"
            },
            "enforceSingleParent": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root."
            }
          },
          "description": "Permanently deletes all of the user's trashed files. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete).",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "export": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "useMediaDownloadService": true,
          "path": "files/{fileId}/export",
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/export",
          "supportsMediaDownload": true,
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "mimeType": {
              "description": "Required. The MIME type of the format requested for this export. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats).",
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Note that the exported content is limited to 10 MB.",
          "id": "drive.files.export",
          "parameterOrder": [
            "fileId",
            "mimeType"
          ]
        },
        "get": {
          "description": " Gets a file's metadata or content by ID. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v3/files/export) instead. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).",
          "supportsSubscription": true,
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "response": {
            "$ref": "File"
          },
          "parameters": {
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "supportsTeamDrives": {
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file.",
              "location": "path"
            },
            "acknowledgeAbuse": {
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.files.get",
          "path": "files/{fileId}",
          "flatPath": "files/{fileId}"
        },
        "delete": {
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}",
          "id": "drive.files.delete",
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false"
            },
            "enforceSingleParent": {
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root.",
              "default": "false",
              "type": "boolean"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "path": "files/{fileId}",
          "description": "Permanently deletes a file owned by the user without moving it to the trash. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete). If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "generateIds": {
          "httpMethod": "GET",
          "path": "files/generateIds",
          "parameters": {
            "type": {
              "default": "files",
              "location": "query",
              "type": "string",
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization)."
            },
            "count": {
              "location": "query",
              "description": "The number of IDs to return.",
              "format": "int32",
              "minimum": "1",
              "default": "10",
              "maximum": "1000",
              "type": "integer"
            },
            "space": {
              "default": "drive",
              "type": "string",
              "description": "The space in which the IDs can be used to create files. Supported values are `drive` and `appDataFolder`. (Default: `drive`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "location": "query"
            }
          },
          "description": "Generates a set of file IDs which can be provided in create or copy requests. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file).",
          "response": {
            "$ref": "GeneratedIds"
          },
          "parameterOrder": [],
          "flatPath": "files/generateIds",
          "id": "drive.files.generateIds",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "watch": {
          "supportsSubscription": true,
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "response": {
            "$ref": "Channel"
          },
          "parameterOrder": [
            "fileId"
          ],
          "description": "Subscribes to changes to a file. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).",
          "id": "drive.files.watch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/watch",
          "path": "files/{fileId}/watch",
          "parameters": {
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "acknowledgeAbuse": {
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "supportsTeamDrives": {
              "default": "false",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          },
          "httpMethod": "POST"
        },
        "create": {
          "description": " Creates a file. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file). This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with the `create` method must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `name` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"name\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `name` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the name. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "parameterOrder": [],
          "request": {
            "$ref": "File"
          },
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.files.create",
          "flatPath": "files",
          "supportsMediaUpload": true,
          "parameters": {
            "keepRevisionForever": {
              "location": "query",
              "default": "false",
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "type": "boolean"
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "ignoreDefaultVisibility": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders."
            },
            "enforceSingleParent": {
              "deprecated": true,
              "location": "query",
              "default": "false",
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "type": "boolean",
              "default": "false"
            },
            "ocrLanguage": {
              "type": "string",
              "location": "query",
              "description": "A language hint for OCR processing during image import (ISO 639-1 code)."
            },
            "useContentAsIndexableText": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to use the uploaded content as indexable text.",
              "default": "false"
            }
          },
          "path": "files",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v3/files"
              },
              "resumable": {
                "path": "/resumable/upload/drive/v3/files",
                "multipart": true
              }
            },
            "maxSize": "5497558138880",
            "accept": [
              "*/*"
            ]
          },
          "httpMethod": "POST"
        },
        "generateCseToken": {
          "httpMethod": "GET",
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "parameters": {
            "parent": {
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "files/generateCseToken",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.files.generateCseToken",
          "parameterOrder": [],
          "flatPath": "files/generateCseToken"
        },
        "modifyLabels": {
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "path": "files/{fileId}/modifyLabels",
          "description": "Modifies the set of labels applied to a file. For more information, see [Set a label field on a file](https://developers.google.com/workspace/drive/api/guides/set-label). Returns a list of the labels that were added or modified.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "id": "drive.files.modifyLabels",
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/modifyLabels",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file to which the labels belong."
            }
          },
          "request": {
            "$ref": "ModifyLabelsRequest"
          }
        },
        "download": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Downloads the content of a file. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Operations are valid for 24 hours from the time of creation.",
          "id": "drive.files.download",
          "path": "files/{fileId}/download",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the file to download."
            },
            "revisionId": {
              "location": "query",
              "description": "Optional. The revision ID of the file to download. This field can only be set when downloading blob files, Google Docs, and Google Sheets. Returns `INVALID_ARGUMENT` if downloading a specific revision on the file is unsupported.",
              "type": "string"
            },
            "mimeType": {
              "location": "query",
              "type": "string",
              "description": "Optional. The MIME type the file should be downloaded as. This field can only be set when downloading Google Workspace documents. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats). If not set, a Google Workspace document is downloaded with a default MIME type. The default MIME type might change in the future."
            }
          },
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/download",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "listLabels": {
          "flatPath": "files/{fileId}/listLabels",
          "description": "Lists the labels on a file. For more information, see [List labels on a file](https://developers.google.com/workspace/drive/api/guides/list-labels).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID for the file."
            },
            "maxResults": {
              "format": "int32",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100.",
              "default": "100",
              "maximum": "100",
              "location": "query",
              "minimum": "1",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "LabelList"
          },
          "id": "drive.files.listLabels",
          "httpMethod": "GET",
          "path": "files/{fileId}/listLabels"
        },
        "copy": {
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file.",
              "location": "path"
            },
            "keepRevisionForever": {
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "enforceSingleParent": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "location": "query",
              "default": "false"
            },
            "ignoreDefaultVisibility": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders."
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "ocrLanguage": {
              "location": "query",
              "type": "string",
              "description": "A language hint for OCR processing during image import (ISO 639-1 code)."
            },
            "copyComments": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether to copy the comments associated with the file."
            }
          },
          "path": "files/{fileId}/copy",
          "id": "drive.files.copy",
          "response": {
            "$ref": "File"
          },
          "description": "Creates a copy of a file and applies any requested updates with patch semantics. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file).",
          "request": {
            "$ref": "File"
          },
          "flatPath": "files/{fileId}/copy",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ]
        }
      }
    },
    "drives": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "drives/{driveId}",
          "description": "Updates the metadata for a shared drive. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "flatPath": "drives/{driveId}",
          "parameterOrder": [
            "driveId"
          ],
          "request": {
            "$ref": "Drive"
          },
          "id": "drive.drives.update",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "location": "query"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Drive"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "drives/{driveId}",
          "parameters": {
            "driveId": {
              "location": "path",
              "description": "The ID of the shared drive.",
              "required": true,
              "type": "string"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs."
            },
            "allowItemDeletion": {
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            }
          },
          "parameterOrder": [
            "driveId"
          ],
          "flatPath": "drives/{driveId}",
          "description": "Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "id": "drive.drives.delete",
          "httpMethod": "DELETE"
        },
        "hide": {
          "httpMethod": "POST",
          "response": {
            "$ref": "Drive"
          },
          "path": "drives/{driveId}/hide",
          "description": "Hides a shared drive from the default view. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "drives/{driveId}/hide",
          "parameterOrder": [
            "driveId"
          ],
          "id": "drive.drives.hide",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "list": {
          "path": "drives",
          "id": "drive.drives.list",
          "response": {
            "$ref": "DriveList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](https://developers.google.com/workspace/drive/api/guides/search-shareddrives) guide.",
          "flatPath": "drives",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of shared drives to return. The service may return fewer than this value. If unspecified, at most 10 shared drives will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "default": "10",
              "maximum": "100"
            },
            "q": {
              "description": "Query string for searching shared drives.",
              "location": "query",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token for shared drives."
            }
          }
        },
        "get": {
          "flatPath": "drives/{driveId}",
          "path": "drives/{driveId}",
          "httpMethod": "GET",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.drives.get",
          "parameterOrder": [
            "driveId"
          ],
          "response": {
            "$ref": "Drive"
          },
          "description": "Gets a shared drive's metadata by ID. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives)."
        },
        "create": {
          "response": {
            "$ref": "Drive"
          },
          "path": "drives",
          "description": "Creates a shared drive. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "parameterOrder": [
            "requestId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "request": {
            "$ref": "Drive"
          },
          "flatPath": "drives",
          "parameters": {
            "requestId": {
              "required": true,
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "drive.drives.create",
          "httpMethod": "POST"
        },
        "unhide": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Restores a shared drive to the default view. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "response": {
            "$ref": "Drive"
          },
          "parameters": {
            "driveId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the shared drive."
            }
          },
          "parameterOrder": [
            "driveId"
          ],
          "httpMethod": "POST",
          "flatPath": "drives/{driveId}/unhide",
          "id": "drive.drives.unhide",
          "path": "drives/{driveId}/unhide"
        }
      }
    },
    "comments": {
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.comments.create",
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "Comment"
          },
          "request": {
            "$ref": "Comment"
          },
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "files/{fileId}/comments",
          "description": "Creates a comment on a file. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "flatPath": "files/{fileId}/comments"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/comments",
          "id": "drive.comments.list",
          "flatPath": "files/{fileId}/comments",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "CommentList"
          },
          "parameters": {
            "startModifiedTime": {
              "location": "query",
              "description": "The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time).",
              "type": "string"
            },
            "includeDeleted": {
              "description": "Whether to include deleted comments. Deleted comments will not include their original content.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of comments to return. The service may return fewer than this value. If unspecified, at most 20 comments will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "default": "20",
              "maximum": "100",
              "location": "query",
              "minimum": "1",
              "format": "int32"
            }
          },
          "description": "Lists a file's comments. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter)."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Comment"
          },
          "description": "Updates a comment with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file."
            }
          },
          "id": "drive.comments.update",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Comment"
          },
          "flatPath": "files/{fileId}/comments/{commentId}",
          "path": "files/{fileId}/comments/{commentId}"
        },
        "get": {
          "path": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.get",
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "parameters": {
            "includeDeleted": {
              "location": "query",
              "description": "Whether to return deleted comments. Deleted comments will not include their original content.",
              "type": "boolean",
              "default": "false"
            },
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            }
          },
          "description": "Gets a comment by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/comments/{commentId}"
        },
        "delete": {
          "parameters": {
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string",
              "required": true
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "drive.comments.delete",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "path": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments)."
        }
      }
    },
    "changes": {
      "methods": {
        "getStartPageToken": {
          "response": {
            "$ref": "StartPageToken"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "changes/startPageToken",
          "path": "changes/startPageToken",
          "parameters": {
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "driveId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned."
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "deprecated": true,
              "location": "query"
            }
          },
          "id": "drive.changes.getStartPageToken",
          "description": "Gets the starting pageToken for listing future changes. For more information, see [Retrieve changes](https://developers.google.com/workspace/drive/api/guides/manage-changes)."
        },
        "watch": {
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "pageToken"
          ],
          "supportsSubscription": true,
          "flatPath": "changes/watch",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "httpMethod": "POST",
          "id": "drive.changes.watch",
          "description": "Subscribes to changes for a user. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).",
          "path": "changes/watch",
          "parameters": {
            "pageToken": {
              "required": true,
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
              "location": "query",
              "type": "string"
            },
            "includeRemoved": {
              "default": "true",
              "type": "boolean",
              "location": "query",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access."
            },
            "includeTeamDriveItems": {
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "location": "query",
              "type": "boolean"
            },
            "includeCorpusRemovals": {
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query"
            },
            "spaces": {
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are 'drive' and 'appDataFolder'.",
              "type": "string",
              "default": "drive",
              "location": "query"
            },
            "driveId": {
              "type": "string",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "minimum": "1",
              "default": "100",
              "maximum": "1000",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of changes to return. The service may return fewer than this value. If unspecified, at most 100 changes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
            },
            "restrictToMyDrive": {
              "location": "query",
              "description": "Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.",
              "default": "false",
              "type": "boolean"
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "location": "query",
              "deprecated": true
            },
            "includeItemsFromAllDrives": {
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported."
            }
          }
        },
        "list": {
          "flatPath": "changes",
          "path": "changes",
          "supportsSubscription": true,
          "response": {
            "$ref": "ChangeList"
          },
          "parameters": {
            "includeItemsFromAllDrives": {
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
              "type": "string",
              "location": "query"
            },
            "restrictToMyDrive": {
              "description": "Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true,
              "location": "query",
              "default": "false"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of changes to return. The service may return fewer than this value. If unspecified, at most 100 changes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "minimum": "1",
              "default": "100",
              "maximum": "1000"
            },
            "includeTeamDriveItems": {
              "default": "false",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "deprecated": true,
              "location": "query",
              "type": "boolean"
            },
            "spaces": {
              "default": "drive",
              "location": "query",
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are 'drive' and 'appDataFolder'.",
              "type": "string"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            },
            "teamDriveId": {
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "location": "query"
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier."
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
              "location": "query",
              "type": "string",
              "required": true
            },
            "includeCorpusRemovals": {
              "default": "false",
              "location": "query",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "type": "boolean"
            },
            "includeRemoved": {
              "default": "true",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "location": "query",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists the changes for a user or shared drive. For more information, see [Retrieve changes](https://developers.google.com/workspace/drive/api/guides/manage-changes).",
          "id": "drive.changes.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "pageToken"
          ]
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "flatPath": "channels/stop",
          "path": "channels/stop",
          "parameters": {},
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "id": "drive.channels.stop",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [],
          "description": "Stops watching resources through this channel. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push)."
        }
      }
    },
    "permissions": {
      "methods": {
        "create": {
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "Permission"
          },
          "parameters": {
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "default": "false",
              "type": "boolean"
            },
            "transferOwnership": {
              "description": "Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect. For more information, see [Transfer file ownership](https://developers.google.com/workspace/drive/api/guides/transfer-file).",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "emailMessage": {
              "type": "string",
              "location": "query",
              "description": "A plain text custom message to include in the notification email."
            },
            "moveToNewOwnersRoot": {
              "default": "false",
              "type": "boolean",
              "description": "This parameter only takes effect if the item isn't in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item is moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents aren't changed.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false"
            },
            "sendNotificationEmail": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to send a notification email when sharing to users or groups. This defaults to `true` for users and groups, and is not allowed for other requests. It must not be disabled for ownership transfers."
            },
            "enforceSingleParent": {
              "deprecated": true,
              "default": "false",
              "location": "query",
              "description": "Deprecated: See `moveToNewOwnersRoot` for details.",
              "type": "boolean"
            },
            "enforceExpansiveAccess": {
              "default": "false",
              "description": "Deprecated: All requests use the expansive access rules.",
              "deprecated": true,
              "type": "boolean",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file or shared drive.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Permission"
          },
          "id": "drive.permissions.create",
          "path": "files/{fileId}/permissions",
          "description": "Creates a permission for a file or shared drive. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permissions operations on the same file aren't supported; only the last update is applied.",
          "flatPath": "files/{fileId}/permissions",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "list": {
          "path": "files/{fileId}/permissions",
          "flatPath": "files/{fileId}/permissions",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.permissions.list",
          "httpMethod": "GET",
          "description": "Lists a file's or shared drive's permissions. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing).",
          "parameters": {
            "pageSize": {
              "minimum": "1",
              "maximum": "100",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of permissions to return. The service may return fewer than this value. If unspecified, at most 100 permissions will be returned for shared drives, and the entire list of permissions for non-shared drives. The maximum value is 100; values above 100 will be coerced to 100.",
              "location": "query"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string",
              "location": "query"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators)."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file or shared drive.",
              "required": true,
              "location": "path"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "deprecated": true,
              "location": "query"
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "PermissionList"
          }
        },
        "get": {
          "id": "drive.permissions.get",
          "parameters": {
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "default": "false",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "permissionId": {
              "description": "The ID of the permission.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets a permission by ID. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing).",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "path": "files/{fileId}/permissions/{permissionId}",
          "response": {
            "$ref": "Permission"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "drive.permissions.delete",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "path": "files/{fileId}/permissions/{permissionId}",
          "description": "Deletes a permission. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permissions operations on the same file aren't supported; only the last update is applied.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "useDomainAdminAccess": {
              "type": "boolean",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "default": "false",
              "location": "query"
            },
            "enforceExpansiveAccess": {
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: All requests use the expansive access rules."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "fileId": {
              "description": "The ID of the file or shared drive.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "permissionId": {
              "required": true,
              "location": "path",
              "description": "The ID of the permission.",
              "type": "string"
            }
          }
        },
        "update": {
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "request": {
            "$ref": "Permission"
          },
          "id": "drive.permissions.update",
          "description": "Updates a permission with patch semantics. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permissions operations on the same file aren't supported; only the last update is applied.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Permission"
          },
          "parameters": {
            "removeExpiration": {
              "description": "Whether to remove the expiration date.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "enforceExpansiveAccess": {
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: All requests use the expansive access rules."
            },
            "transferOwnership": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect. For more information, see [Transfer file ownership](https://developers.google.com//workspace/drive/api/guides/transfer-file)."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "type": "boolean",
              "location": "query",
              "deprecated": true
            },
            "permissionId": {
              "type": "string",
              "description": "The ID of the permission.",
              "required": true,
              "location": "path"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "type": "boolean"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file or shared drive.",
              "location": "path"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            }
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "httpMethod": "PATCH"
        }
      }
    },
    "teamdrives": {
      "methods": {
        "delete": {
          "parameters": {
            "teamDriveId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the Team Drive"
            }
          },
          "description": "Deprecated: Use `drives.delete` instead.",
          "path": "teamdrives/{teamDriveId}",
          "flatPath": "teamdrives/{teamDriveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.teamdrives.delete",
          "parameterOrder": [
            "teamDriveId"
          ],
          "httpMethod": "DELETE"
        },
        "update": {
          "parameters": {
            "teamDriveId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the Team Drive"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs."
            }
          },
          "path": "teamdrives/{teamDriveId}",
          "flatPath": "teamdrives/{teamDriveId}",
          "parameterOrder": [
            "teamDriveId"
          ],
          "httpMethod": "PATCH",
          "id": "drive.teamdrives.update",
          "request": {
            "$ref": "TeamDrive"
          },
          "description": "Deprecated: Use `drives.update` instead.",
          "response": {
            "$ref": "TeamDrive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "create": {
          "description": "Deprecated: Use `drives.create` instead.",
          "path": "teamdrives",
          "id": "drive.teamdrives.create",
          "response": {
            "$ref": "TeamDrive"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "requestId"
          ],
          "request": {
            "$ref": "TeamDrive"
          },
          "flatPath": "teamdrives",
          "parameters": {
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "list": {
          "response": {
            "$ref": "TeamDriveList"
          },
          "description": "Deprecated: Use `drives.list` instead.",
          "parameters": {
            "q": {
              "type": "string",
              "description": "Query string for searching Team Drives.",
              "location": "query"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "location": "query"
            },
            "pageToken": {
              "description": "Page token for Team Drives.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "minimum": "1",
              "default": "10",
              "maximum": "100",
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of Team Drives to return."
            }
          },
          "httpMethod": "GET",
          "path": "teamdrives",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "teamdrives",
          "id": "drive.teamdrives.list"
        },
        "get": {
          "description": "Deprecated: Use `drives.get` instead.",
          "flatPath": "teamdrives/{teamDriveId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "teamdrives/{teamDriveId}",
          "parameterOrder": [
            "teamDriveId"
          ],
          "parameters": {
            "teamDriveId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the Team Drive"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "type": "boolean",
              "default": "false"
            }
          },
          "response": {
            "$ref": "TeamDrive"
          },
          "id": "drive.teamdrives.get"
        }
      }
    },
    "replies": {
      "methods": {
        "create": {
          "description": "Creates a reply to a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "response": {
            "$ref": "Reply"
          },
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            },
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "Reply"
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies",
          "httpMethod": "POST",
          "id": "drive.replies.create",
          "flatPath": "files/{fileId}/comments/{commentId}/replies"
        },
        "update": {
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "description": "Updates a reply with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "response": {
            "$ref": "Reply"
          },
          "request": {
            "$ref": "Reply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "fileId": {
              "type": "string",
              "required": true,
[...]
