{
  "baseUrl": "https://www.googleapis.com/drive/v2/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "name": "drive",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch/drive/v2",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "rootUrl": "https://www.googleapis.com/",
  "version": "v2",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "resources": {
    "replies": {
      "methods": {
        "update": {
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "CommentReply"
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "id": "drive.replies.update",
          "parameters": {
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string",
              "required": true
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            },
            "replyId": {
              "required": true,
              "description": "The ID of the reply.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Updates an existing reply.",
          "request": {
            "$ref": "CommentReply"
          }
        },
        "list": {
          "path": "files/{fileId}/comments/{commentId}/replies",
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "id": "drive.replies.list",
          "response": {
            "$ref": "CommentReplyList"
          },
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response."
            },
            "includeDeleted": {
              "description": "If set, all replies, including deleted replies (with content stripped) will be returned.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "commentId": {
              "required": true,
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "default": "20",
              "description": "The maximum number of replies to include in the response, used for paging.",
              "location": "query",
              "type": "integer",
              "format": "int32",
              "minimum": "0",
              "maximum": "100"
            }
          },
          "description": "Lists all of the replies to a comment.",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "patch": {
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "response": {
            "$ref": "CommentReply"
          },
          "parameters": {
            "replyId": {
              "required": true,
              "type": "string",
              "description": "The ID of the reply.",
              "location": "path"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "commentId": {
              "type": "string",
              "required": true,
              "description": "The ID of the comment.",
              "location": "path"
            }
          },
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "CommentReply"
          },
          "description": "Updates an existing reply.",
          "id": "drive.replies.patch",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ]
        },
        "delete": {
          "id": "drive.replies.delete",
          "description": "Deletes a reply.",
          "parameters": {
            "commentId": {
              "required": true,
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path"
            },
            "replyId": {
              "type": "string",
              "required": true,
              "description": "The ID of the reply.",
              "location": "path"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE"
        },
        "get": {
          "response": {
            "$ref": "CommentReply"
          },
          "id": "drive.replies.get",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "httpMethod": "GET",
          "description": "Gets a reply.",
          "parameters": {
            "replyId": {
              "description": "The ID of the reply.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "includeDeleted": {
              "description": "If set, this will succeed when retrieving a deleted reply.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies",
          "description": "Creates a new reply to the given comment.",
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "id": "drive.replies.insert",
          "httpMethod": "POST",
          "response": {
            "$ref": "CommentReply"
          },
          "request": {
            "$ref": "CommentReply"
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "parameters": {
            "commentId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the comment."
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            }
          }
        }
      }
    },
    "files": {
      "methods": {
        "copy": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.copy",
          "httpMethod": "POST",
          "description": "Creates a copy of the specified file.",
          "request": {
            "$ref": "File"
          },
          "parameters": {
            "timedTextLanguage": {
              "type": "string",
              "location": "query",
              "description": "The language of the timed text."
            },
            "ocrLanguage": {
              "type": "string",
              "location": "query",
              "description": "If `ocr` is true, hints at the language to use. Valid values are BCP 47 codes."
            },
            "visibility": {
              "default": "DEFAULT",
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when the source is not a Google Doc file and when `convert=false`.",
              "type": "string",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "location": "query",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ]
            },
            "ocr": {
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file to copy."
            },
            "convert": {
              "location": "query",
              "default": "false",
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "type": "boolean"
            },
            "enforceSingleParent": {
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "pinned": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions."
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean",
              "deprecated": true
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean"
            },
            "timedTextTrackName": {
              "location": "query",
              "description": "The timed text track name.",
              "type": "string"
            }
          },
          "path": "files/{fileId}/copy",
          "flatPath": "files/{fileId}/copy",
          "response": {
            "$ref": "File"
          }
        },
        "untrash": {
          "description": "Restores a file from the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file to untrash.",
              "required": true
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "File"
          },
          "id": "drive.files.untrash",
          "flatPath": "files/{fileId}/untrash",
          "path": "files/{fileId}/untrash",
          "parameterOrder": [
            "fileId"
          ]
        },
        "delete": {
          "id": "drive.files.delete",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}",
          "parameters": {
            "enforceSingleParent": {
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "location": "query"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file to delete."
            },
            "supportsTeamDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            }
          },
          "path": "files/{fileId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted."
        },
        "trash": {
          "description": "Moves a file to the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "flatPath": "files/{fileId}/trash",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.files.trash",
          "response": {
            "$ref": "File"
          },
          "path": "files/{fileId}/trash",
          "parameters": {
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file to trash.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "fileId"
          ]
        },
        "watch": {
          "response": {
            "$ref": "Channel"
          },
          "path": "files/{fileId}/watch",
          "parameters": {
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "updateViewedDate": {
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.",
              "location": "query"
            },
            "acknowledgeAbuse": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "default": "false"
            },
            "revisionId": {
              "location": "query",
              "type": "string",
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified."
            },
            "fileId": {
              "description": "The ID for the file in question.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean"
            },
            "projection": {
              "type": "string",
              "location": "query",
              "deprecated": true,
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Deprecated: This parameter has no function."
            }
          },
          "flatPath": "files/{fileId}/watch",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.watch",
          "description": "Subscribes to changes to a file.",
          "supportsSubscription": true
        },
        "get": {
          "supportsSubscription": true,
          "path": "files/{fileId}",
          "parameters": {
            "revisionId": {
              "location": "query",
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "type": "string"
            },
            "acknowledgeAbuse": {
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "type": "boolean",
              "location": "query",
              "deprecated": true
            },
            "fileId": {
              "description": "The ID for the file in question.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "projection": {
              "description": "Deprecated: This parameter has no function.",
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "enum": [
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "deprecated": true,
              "type": "string"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "updateViewedDate": {
              "description": "Deprecated: Use `files.update` with `modifiedDateBehavior=noChange, updateViewedDate=true` and an empty request body.",
              "location": "query",
              "default": "false",
              "type": "boolean",
              "deprecated": true
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "id": "drive.files.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}",
          "description": " Gets a file's metadata or content by ID. If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v2/files/export) instead. For more information, see [Download & export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).",
          "useMediaDownloadService": true,
          "supportsMediaDownload": true,
          "httpMethod": "GET"
        },
        "touch": {
          "flatPath": "files/{fileId}/touch",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "id": "drive.files.touch",
          "path": "files/{fileId}/touch",
          "description": "Set the file's updated time to the current server time.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "type": "boolean",
              "default": "false"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file to update."
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            }
          }
        },
        "modifyLabels": {
          "id": "drive.files.modifyLabels",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Modifies the set of labels applied to a file. Returns a list of the labels that were added or modified.",
          "path": "files/{fileId}/modifyLabels",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/modifyLabels",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file to which the labels belong.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "ModifyLabelsRequest"
          }
        },
        "generateCseToken": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.files.generateCseToken",
          "parameterOrder": [],
          "path": "files/generateCseToken",
          "parameters": {
            "parent": {
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "flatPath": "files/generateCseToken",
          "httpMethod": "GET"
        },
        "insert": {
          "parameterOrder": [],
          "path": "files",
          "id": "drive.files.insert",
          "request": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/drive/v2/files",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v2/files"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880"
          },
          "parameters": {
            "visibility": {
              "location": "query",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when `convert=false`.",
              "default": "DEFAULT",
              "type": "string"
            },
            "pinned": {
              "type": "boolean",
              "description": "Whether to pin the head revision of the uploaded file. A file can have a maximum of 200 pinned revisions.",
              "location": "query",
              "default": "false"
            },
            "timedTextLanguage": {
              "type": "string",
              "location": "query",
              "description": "The language of the timed text."
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean"
            },
            "ocr": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads."
            },
            "timedTextTrackName": {
              "location": "query",
              "description": "The timed text track name.",
              "type": "string"
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "ocrLanguage": {
              "location": "query",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "type": "string"
            },
            "useContentAsIndexableText": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to use the content as indexable text."
            },
            "convert": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "default": "false"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "enforceSingleParent": {
              "default": "false",
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "type": "boolean",
              "deprecated": true,
              "location": "query"
            }
          },
          "response": {
            "$ref": "File"
          },
          "httpMethod": "POST",
          "flatPath": "files",
          "supportsMediaUpload": true,
          "description": " Inserts a new file. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with `files.insert` must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `title` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"title\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `title` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the title. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type."
        },
        "generateIds": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/generateIds",
          "parameterOrder": [],
          "flatPath": "files/generateIds",
          "response": {
            "$ref": "GeneratedIds"
          },
          "description": "Generates a set of file IDs which can be provided in insert or copy requests.",
          "parameters": {
            "type": {
              "location": "query",
              "default": "files",
              "type": "string",
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`)"
            },
            "space": {
              "type": "string",
              "default": "drive",
              "description": "The space in which the IDs can be used to create new files. Supported values are `drive` and `appDataFolder`. (Default: `drive`)",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "default": "10",
              "description": "Maximum number of IDs to return.",
              "minimum": "1",
              "maximum": "1000",
              "type": "integer"
            }
          },
          "httpMethod": "GET",
          "id": "drive.files.generateIds"
        },
        "patch": {
          "flatPath": "files/{fileId}",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "description": "Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might change automatically, such as modifiedDate. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "request": {
            "$ref": "File"
          },
          "id": "drive.files.patch",
          "parameters": {
            "addParents": {
              "location": "query",
              "type": "string",
              "description": "Comma-separated list of parent IDs to add."
            },
            "ocr": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads."
            },
            "enforceSingleParent": {
              "deprecated": true,
              "location": "query",
              "default": "false",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "setModifiedDate": {
              "default": "false",
              "location": "query",
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "type": "boolean"
            },
            "ocrLanguage": {
              "location": "query",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "type": "string"
            },
            "convert": {
              "deprecated": true,
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: This parameter has no function."
            },
            "removeParents": {
              "description": "Comma-separated list of parent IDs to remove.",
              "type": "string",
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "timedTextLanguage": {
              "location": "query",
              "type": "string",
              "description": "The language of the timed text."
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file to update.",
              "type": "string",
              "required": true
            },
            "useContentAsIndexableText": {
              "description": "Whether to use the content as indexable text.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "newRevision": {
              "type": "boolean",
              "location": "query",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045). Note that this field is ignored if there is no payload in the request.",
              "default": "true"
            },
            "updateViewedDate": {
              "default": "true",
              "location": "query",
              "type": "boolean",
              "description": "Whether to update the view date after successfully updating the file."
            },
            "modifiedDateBehavior": {
              "location": "query",
              "type": "string",
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`."
            },
            "timedTextTrackName": {
              "location": "query",
              "type": "string",
              "description": "The timed text track name."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "pinned": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions. Note that this field is ignored if there is no payload in the request."
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false"
            }
          },
          "path": "files/{fileId}",
          "httpMethod": "PATCH"
        },
        "update": {
          "supportsMediaUpload": true,
          "request": {
            "$ref": "File"
          },
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v2/files/{fileId}"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v2/files/{fileId}"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880"
          },
          "id": "drive.files.update",
          "httpMethod": "PUT",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "parameters": {
            "addParents": {
              "type": "string",
              "location": "query",
              "description": "Comma-separated list of parent IDs to add."
            },
            "useContentAsIndexableText": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to use the content as indexable text."
            },
            "newRevision": {
              "type": "boolean",
              "location": "query",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045).",
              "default": "true"
            },
            "timedTextLanguage": {
              "location": "query",
              "description": "The language of the timed text.",
              "type": "string"
            },
            "updateViewedDate": {
              "default": "true",
              "location": "query",
              "description": "Whether to update the view date after successfully updating the file.",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "ocr": {
              "default": "false",
              "type": "boolean",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "convert": {
              "description": "Deprecated: This parameter has no function.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "fileId": {
              "description": "The ID of the file to update.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "location": "query",
              "deprecated": true
            },
            "timedTextTrackName": {
              "type": "string",
              "location": "query",
              "description": "The timed text track name."
            },
            "removeParents": {
              "location": "query",
              "description": "Comma-separated list of parent IDs to remove.",
              "type": "string"
            },
            "setModifiedDate": {
              "location": "query",
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "type": "boolean",
              "default": "false"
            },
            "pinned": {
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "modifiedDateBehavior": {
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`.",
              "location": "query",
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "type": "string"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "ocrLanguage": {
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "location": "query",
              "type": "string"
            },
            "enforceSingleParent": {
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "default": "false",
              "location": "query",
              "type": "boolean",
              "deprecated": true
            }
          },
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads).",
          "flatPath": "files/{fileId}",
          "response": {
            "$ref": "File"
          },
          "path": "files/{fileId}"
        },
        "export": {
          "flatPath": "files/{fileId}/export",
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. Note that the exported content is limited to 10MB.",
          "id": "drive.files.export",
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "mimeType": {
              "location": "query",
              "type": "string",
              "description": "Required. The MIME type of the format requested for this export.",
              "required": true
            },
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            }
          },
          "path": "files/{fileId}/export",
          "supportsMediaDownload": true
        },
        "list": {
          "id": "drive.files.list",
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "response": {
            "$ref": "FileList"
          },
          "httpMethod": "GET",
          "flatPath": "files",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "teamDriveId": {
              "location": "query",
              "type": "string",
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead."
            },
            "includeItemsFromAllDrives": {
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "corpus": {
              "enum": [
                "DEFAULT",
                "DOMAIN"
              ],
              "enumDescriptions": [
                "The items that the user has accessed.",
                "Items shared to the user's domain."
              ],
              "deprecated": true,
              "type": "string",
              "description": "Deprecated: The body of items (files/documents) to which the query applies. Use `corpora` instead.",
              "location": "query"
            },
            "driveId": {
              "description": "ID of the shared drive to search.",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdDate`: When the file was created. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `lastViewedByMeDate`: The last time the file was viewed by the user. * `modifiedByMeDate`: The last time the file was modified by the user. * `modifiedDate`: The last time the file was modified by anyone. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeDate`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `title`: The title of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `title_natural`: The title of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. Each key sorts ascending by default, but can be reversed with the 'desc' modifier. Example usage: `?orderBy=folder,modifiedDate desc,title`. Note that there's a current limitation for users with approximately one million files in which the requested sort order is ignored."
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "projection": {
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "location": "query",
              "description": "Deprecated: This parameter has no function.",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "deprecated": true
            },
            "corpora": {
              "location": "query",
              "type": "string",
              "description": "Bodies of items (files/documents) to which the query applies. Supported bodies are `default`, `domain`, `drive` and `allDrives`. Prefer `default` or `drive` to `allDrives` for efficiency."
            },
            "spaces": {
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, and `appDataFolder`.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "minimum": "0",
              "default": "100",
              "format": "int32",
              "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached."
            },
            "q": {
              "description": "Query string for searching files.",
              "type": "string",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "default": "false",
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "pageToken": {
              "location": "query",
              "description": "Page token for files.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          },
          "path": "files",
          "parameterOrder": []
        },
        "listLabels": {
          "parameters": {
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "default": "100",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100.",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "maximum": "100"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID for the file."
            }
          },
          "description": "Lists the labels on a file.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/listLabels",
          "response": {
            "$ref": "LabelList"
          },
          "id": "drive.files.listLabels",
          "path": "files/{fileId}/listLabels",
          "parameterOrder": [
            "fileId"
          ]
        },
        "emptyTrash": {
          "description": "Permanently deletes all of the user's trashed files.",
          "httpMethod": "DELETE",
          "flatPath": "files/trash",
          "id": "drive.files.emptyTrash",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "files/trash",
          "parameterOrder": [],
          "parameters": {
            "enforceSingleParent": {
              "type": "boolean",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "default": "false",
              "location": "query",
              "deprecated": true
            },
            "driveId": {
              "type": "string",
              "description": "If set, empties the trash of the provided shared drive.",
              "location": "query"
            }
          }
        }
      }
    },
    "revisions": {
      "methods": {
        "patch": {
          "id": "drive.revisions.patch",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Revision"
          },
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "request": {
            "$ref": "Revision"
          },
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID for the file."
            },
            "revisionId": {
              "location": "path",
              "type": "string",
              "description": "The ID for the revision.",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates a revision."
        },
        "delete": {
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "description": "Permanently deletes a file version. You can only delete revisions for files with binary content, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can't be deleted.",
          "httpMethod": "DELETE",
          "path": "files/{fileId}/revisions/{revisionId}",
          "id": "drive.revisions.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "revisionId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the revision."
            }
          }
        },
        "list": {
          "response": {
            "$ref": "RevisionList"
          },
          "parameters": {
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file.",
              "location": "path"
            },
            "maxResults": {
              "minimum": "1",
              "maximum": "1000",
              "description": "Maximum number of revisions to return.",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "default": "200"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token for revisions. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response."
            }
          },
          "flatPath": "files/{fileId}/revisions",
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/revisions",
          "description": "Lists a file's revisions. **Important:** The list of revisions returned by this method might be incomplete for files with a large revision history, including frequently edited Google Docs, Sheets, and Slides. Older revisions might be omitted from the response, meaning the first revision returned may not be the oldest existing revision. The revision history visible in the Workspace editor user interface might be more complete than the list returned by the API.",
          "id": "drive.revisions.list"
        },
        "get": {
          "path": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "GET",
          "description": "Gets a specific revision.",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "response": {
            "$ref": "Revision"
          },
          "parameters": {
            "revisionId": {
              "required": true,
              "type": "string",
              "description": "The ID of the revision.",
              "location": "path"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "id": "drive.revisions.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "update": {
          "parameters": {
            "fileId": {
              "description": "The ID for the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "revisionId": {
              "description": "The ID for the revision.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "files/{fileId}/revisions/{revisionId}",
          "request": {
            "$ref": "Revision"
          },
          "response": {
            "$ref": "Revision"
          },
          "httpMethod": "PUT",
          "description": "Updates a revision.",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "id": "drive.revisions.update"
        }
      }
    },
    "about": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "about",
          "parameters": {
            "startChangeId": {
              "format": "int64",
              "location": "query",
              "description": "Change ID to start counting from when calculating number of remaining change IDs",
              "type": "string"
            },
            "includeSubscribed": {
              "type": "boolean",
              "location": "query",
              "default": "true",
              "description": "Whether to count changes outside the My Drive hierarchy. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the `maxChangeIdCount`."
            },
            "maxChangeIdCount": {
              "type": "string",
              "description": "Maximum number of remaining change IDs to count",
              "location": "query",
              "default": "1",
              "format": "int64"
            }
          },
          "description": "Gets the information about the current user along with Drive API settings",
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "drive.about.get",
          "response": {
            "$ref": "About"
          },
          "flatPath": "about"
        }
      }
    },
    "comments": {
      "methods": {
        "list": {
          "response": {
            "$ref": "CommentList"
          },
          "id": "drive.comments.list",
          "flatPath": "files/{fileId}/comments",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "description": "Lists a file's comments.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response."
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "updatedMin": {
              "description": "Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp.",
              "location": "query",
              "type": "string"
            },
            "includeDeleted": {
              "type": "boolean",
              "description": "If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned.",
              "default": "false",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of discussions to include in the response, used for paging.",
              "location": "query",
              "default": "20",
              "minimum": "0",
              "maximum": "100",
              "format": "int32",
              "type": "integer"
            }
          },
          "path": "files/{fileId}/comments"
        },
        "patch": {
          "description": "Updates an existing comment.",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            },
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "Comment"
          },
          "flatPath": "files/{fileId}/comments/{commentId}",
          "path": "files/{fileId}/comments/{commentId}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Comment"
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "id": "drive.comments.patch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "update": {
          "path": "files/{fileId}/comments/{commentId}",
          "request": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "httpMethod": "PUT",
          "id": "drive.comments.update",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "description": "Updates an existing comment.",
          "parameters": {
            "commentId": {
              "required": true,
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Comment"
          }
        },
        "get": {
          "description": "Gets a comment by ID.",
          "path": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.get",
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "httpMethod": "GET",
          "parameters": {
            "commentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the comment.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            },
            "includeDeleted": {
              "type": "boolean",
              "description": "If set, this will succeed when retrieving a deleted comment, and will include any deleted replies.",
              "location": "query",
              "default": "false"
            }
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ]
        },
        "insert": {
          "flatPath": "files/{fileId}/comments",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Comment"
          },
          "httpMethod": "POST",
          "path": "files/{fileId}/comments",
          "id": "drive.comments.insert",
          "request": {
            "$ref": "Comment"
          },
          "description": "Creates a new comment on the given file.",
          "parameterOrder": [
            "fileId"
          ]
        },
        "delete": {
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            },
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "path": "files/{fileId}/comments/{commentId}",
          "httpMethod": "DELETE",
          "id": "drive.comments.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Deletes a comment.",
          "flatPath": "files/{fileId}/comments/{commentId}"
        }
      }
    },
    "drives": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "id": "drive.drives.update",
          "response": {
            "$ref": "Drive"
          },
          "request": {
            "$ref": "Drive"
          },
          "flatPath": "drives/{driveId}",
          "parameters": {
            "driveId": {
              "required": true,
              "description": "The ID of the shared drive.",
              "type": "string",
              "location": "path"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false"
            }
          },
          "path": "drives/{driveId}",
          "description": "Updates the metadata for a shared drive.",
          "parameterOrder": [
            "driveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "get": {
          "description": "Gets a shared drive's metadata by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "driveId"
          ],
          "path": "drives/{driveId}",
          "httpMethod": "GET",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "type": "boolean"
            }
          },
          "id": "drive.drives.get",
          "response": {
            "$ref": "Drive"
          },
          "flatPath": "drives/{driveId}"
        },
        "unhide": {
          "flatPath": "drives/{driveId}/unhide",
          "response": {
            "$ref": "Drive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "driveId": {
              "required": true,
              "description": "The ID of the shared drive.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Restores a shared drive to the default view.",
          "parameterOrder": [
            "driveId"
          ],
          "httpMethod": "POST",
          "path": "drives/{driveId}/unhide",
          "id": "drive.drives.unhide"
        },
        "delete": {
          "flatPath": "drives/{driveId}",
          "id": "drive.drives.delete",
          "path": "drives/{driveId}",
          "parameterOrder": [
            "driveId"
          ],
          "httpMethod": "DELETE",
          "description": "Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "useDomainAdminAccess": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs."
            },
            "allowItemDeletion": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`."
            },
            "driveId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the shared drive."
            }
          }
        },
        "hide": {
          "id": "drive.drives.hide",
          "path": "drives/{driveId}/hide",
          "parameters": {
            "driveId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the shared drive."
            }
          },
          "parameterOrder": [
            "driveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "httpMethod": "POST",
          "description": "Hides a shared drive from the default view.",
          "flatPath": "drives/{driveId}/hide",
          "response": {
            "$ref": "Drive"
          }
        },
        "list": {
          "flatPath": "drives",
          "response": {
            "$ref": "DriveList"
          },
          "id": "drive.drives.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](https://developers.google.com/workspace/drive/api/guides/search-shareddrives) guide.",
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token for shared drives.",
              "type": "string"
            },
            "q": {
              "type": "string",
              "description": "Query string for searching shared drives.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "default": "10",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of shared drives to return per page.",
              "minimum": "1",
              "maximum": "100"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "path": "drives"
        },
        "insert": {
          "flatPath": "drives",
          "response": {
            "$ref": "Drive"
          },
          "request": {
            "$ref": "Drive"
          },
          "description": "Creates a new shared drive.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "requestId": {
              "required": true,
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "requestId"
          ],
          "path": "drives",
          "httpMethod": "POST",
          "id": "drive.drives.insert"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "parameterOrder": [],
          "flatPath": "channels/stop",
          "path": "channels/stop",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.channels.stop",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "description": "Stops watching resources through this channel.",
          "httpMethod": "POST"
        }
      }
    },
    "teamdrives": {
      "methods": {
        "list": {
          "id": "drive.teamdrives.list",
          "httpMethod": "GET",
          "path": "teamdrives",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "q": {
              "type": "string",
              "description": "Query string for searching Team Drives.",
              "location": "query"
            },
            "maxResults": {
              "default": "10",
              "description": "Maximum number of Team Drives to return.",
              "location": "query",
              "minimum": "1",
              "maximum": "100",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "Page token for Team Drives.",
              "location": "query"
            }
          },
          "description": "Deprecated: Use `drives.list` instead.",
          "response": {
            "$ref": "TeamDriveList"
          },
          "flatPath": "teamdrives"
        },
        "get": {
          "parameterOrder": [
            "teamDriveId"
          ],
          "description": "Deprecated: Use `drives.get` instead.",
          "response": {
            "$ref": "TeamDrive"
          },
          "flatPath": "teamdrives/{teamDriveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "teamdrives/{teamDriveId}",
          "id": "drive.teamdrives.get",
          "parameters": {
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        },
        "update": {
          "httpMethod": "PUT",
          "description": "Deprecated: Use `drives.update` instead.",
          "parameterOrder": [
            "teamDriveId"
          ],
          "flatPath": "teamdrives/{teamDriveId}",
          "id": "drive.teamdrives.update",
          "parameters": {
            "teamDriveId": {
              "location": "path",
              "description": "The ID of the Team Drive",
              "required": true,
              "type": "string"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs."
            }
          },
          "response": {
            "$ref": "TeamDrive"
          },
          "request": {
            "$ref": "TeamDrive"
          },
          "path": "teamdrives/{teamDriveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "insert": {
          "path": "teamdrives",
          "parameterOrder": [
            "requestId"
          ],
          "request": {
            "$ref": "TeamDrive"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "TeamDrive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "teamdrives",
          "description": "Deprecated: Use `drives.insert` instead.",
          "id": "drive.teamdrives.insert",
          "parameters": {
            "requestId": {
              "location": "query",
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "type": "string",
              "required": true
            }
          }
        },
        "delete": {
          "path": "teamdrives/{teamDriveId}",
[...]
