{
  "revision": "20260909",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "title": "Drive Labels API",
  "rootUrl": "https://drivelabels.googleapis.com/",
  "version_module": true,
  "description": "An API for managing Drive Labels",
  "canonicalName": "Drive Labels",
  "baseUrl": "https://drivelabels.googleapis.com/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "version": "v2beta",
  "name": "drivelabels",
  "resources": {
    "users": {
      "methods": {
        "getCapabilities": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported.",
              "required": true,
              "pattern": "^users/[^/]+/capabilities$"
            },
            "customer": {
              "description": "The customer to scope this request to. For example: `customers/abcd1234`. If unset, it will return settings within the current customer.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v2beta/users/{usersId}/capabilities",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "id": "drivelabels.users.getCapabilities",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaUserCapabilities"
          },
          "description": "Gets the user capabilities.",
          "path": "v2beta/{+name}"
        }
      }
    },
    "labels": {
      "resources": {
        "locks": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "id": "drivelabels.labels.locks.list",
              "description": "Lists the label locks on a label.",
              "flatPath": "v2beta/labels/{labelsId}/locks",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The token of the page to return.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^labels/[^/]+$",
                  "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                  "required": true
                }
              },
              "path": "v2beta/{+parent}/locks"
            }
          }
        },
        "revisions": {
          "methods": {
            "updatePermissions": {
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "path": "v2beta/{+parent}/permissions",
              "httpMethod": "PATCH",
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions",
              "id": "drivelabels.labels.revisions.updatePermissions",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "useAdminAccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                },
                "parent": {
                  "description": "Required. The parent label resource name.",
                  "location": "path",
                  "pattern": "^labels/[^/]+/revisions/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            }
          },
          "resources": {
            "locks": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/locks",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The token of the page to return."
                    }
                  },
                  "path": "v2beta/{+parent}/locks",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse"
                  },
                  "description": "Lists the label locks on a label.",
                  "id": "drivelabels.labels.revisions.locks.list",
                  "httpMethod": "GET"
                }
              }
            },
            "permissions": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+/permissions/.*$",
                      "location": "path",
                      "description": "Required. Label permission resource name."
                    },
                    "useAdminAccess": {
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "id": "drivelabels.labels.revisions.permissions.delete",
                  "path": "v2beta/{+name}",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions/{permissionsId}"
                },
                "batchDelete": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "required": true,
                      "pattern": "^labels/[^/]+/revisions/[^/]+$"
                    }
                  },
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions:batchDelete",
                  "path": "v2beta/{+parent}/permissions:batchDelete",
                  "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "id": "drivelabels.labels.revisions.permissions.batchDelete",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest"
                  }
                },
                "list": {
                  "path": "v2beta/{+parent}/permissions",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "description": "Lists a label's permissions.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`.",
                      "required": true
                    },
                    "useAdminAccess": {
                      "location": "query",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The token of the page to return.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of permissions to return per page. Default: 50. Max: 200."
                    }
                  },
                  "id": "drivelabels.labels.revisions.permissions.list",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse"
                  }
                },
                "batchUpdate": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse"
                  },
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "required": true,
                      "pattern": "^labels/[^/]+/revisions/[^/]+$"
                    }
                  },
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions:batchUpdate",
                  "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "drivelabels.labels.revisions.permissions.batchUpdate",
                  "path": "v2beta/{+parent}/permissions:batchUpdate"
                },
                "create": {
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
                  },
                  "id": "drivelabels.labels.revisions.permissions.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "path": "v2beta/{+parent}/permissions",
                  "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$"
                    },
                    "useAdminAccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                    }
                  },
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        },
        "permissions": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "description": "The token of the page to return.",
                  "location": "query",
                  "type": "string"
                },
                "useAdminAccess": {
                  "location": "query",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "type": "boolean"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`.",
                  "pattern": "^labels/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists a label's permissions.",
              "id": "drivelabels.labels.permissions.list",
              "path": "v2beta/{+parent}/permissions",
              "httpMethod": "GET",
              "flatPath": "v2beta/labels/{labelsId}/permissions"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2beta/labels/{labelsId}/permissions/{permissionsId}",
              "id": "drivelabels.labels.permissions.delete",
              "httpMethod": "DELETE",
              "path": "v2beta/{+name}",
              "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^labels/[^/]+/permissions/.*$",
                  "type": "string",
                  "description": "Required. Label permission resource name.",
                  "location": "path"
                },
                "useAdminAccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "batchUpdate": {
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse"
              },
              "httpMethod": "POST",
              "path": "v2beta/{+parent}/permissions:batchUpdate",
              "parameters": {
                "parent": {
                  "pattern": "^labels/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field."
                }
              },
              "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest"
              },
              "flatPath": "v2beta/labels/{labelsId}/permissions:batchUpdate",
              "parameterOrder": [
                "parent"
              ],
              "id": "drivelabels.labels.permissions.batchUpdate",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ]
            },
            "batchDelete": {
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "parent": {
                  "pattern": "^labels/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "required": true
                }
              },
              "id": "drivelabels.labels.permissions.batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2beta/labels/{labelsId}/permissions:batchDelete",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest"
              },
              "path": "v2beta/{+parent}/permissions:batchDelete",
              "httpMethod": "POST",
              "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "httpMethod": "POST",
              "flatPath": "v2beta/labels/{labelsId}/permissions",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2beta/{+parent}/permissions",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "id": "drivelabels.labels.permissions.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^labels/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`."
                },
                "useAdminAccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                }
              },
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              }
            }
          }
        }
      },
      "methods": {
        "delete": {
          "id": "drivelabels.labels.delete",
          "description": "Permanently deletes a label and related metadata on Drive items. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Once deleted, the label and related Drive item metadata will be deleted. Only draft labels and disabled labels may be deleted.",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "parameters": {
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
              "location": "query",
              "type": "boolean"
            },
            "writeControl.requiredRevisionId": {
              "location": "query",
              "type": "string",
              "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error."
            },
            "name": {
              "location": "path",
              "description": "Required. Label resource name.",
              "required": true,
              "pattern": "^labels/[^/]+$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "flatPath": "v2beta/labels/{labelsId}",
          "path": "v2beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE"
        },
        "enable": {
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "description": "Required. Label resource name.",
              "location": "path"
            }
          },
          "path": "v2beta/{+name}:enable",
          "description": "Enable a disabled label and restore it to its published state. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). This will result in a new published revision based on the current disabled published revision. If there's an existing disabled draft revision, a new revision will be created based on that draft and will be enabled.",
          "flatPath": "v2beta/labels/{labelsId}:enable",
          "id": "drivelabels.labels.enable",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaEnableLabelRequest"
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ]
        },
        "publish": {
          "id": "drivelabels.labels.publish",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaPublishLabelRequest"
          },
          "description": "Publish all draft changes to the label. Once published, the label may not return to its draft state. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label). Publishing a label will result in a new published revision. All previous draft revisions will be deleted. Previous published revisions will be kept but are subject to automated deletion as needed. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). Once published, some changes are no longer permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label will be rejected. For example, the following changes to a label will be rejected after the label is published: * The label cannot be directly deleted. It must be disabled first, then deleted. * `Field.FieldType` cannot be changed. * Changes to field validation options cannot reject something that was previously accepted. * Reducing the maximum entries.",
          "flatPath": "v2beta/labels/{labelsId}:publish",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Label resource name.",
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "httpMethod": "POST",
          "path": "v2beta/{+name}:publish",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "updatePermissions": {
          "flatPath": "v2beta/labels/{labelsId}/permissions",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "path": "v2beta/{+parent}/permissions",
          "httpMethod": "PATCH",
          "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "id": "drivelabels.labels.updatePermissions",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "parameters": {
            "useAdminAccess": {
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
              "location": "query"
            },
            "parent": {
              "pattern": "^labels/[^/]+$",
              "required": true,
              "description": "Required. The parent label resource name.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "parent"
          ]
        },
        "create": {
          "parameterOrder": [],
          "parameters": {
            "languageCode": {
              "location": "query",
              "description": "The BCP-47 language code to use for evaluating localized field labels in response. When not specified, values in the default configured language will be used.",
              "type": "string"
            },
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin privileges. The server will verify the user is an admin before allowing access.",
              "location": "query",
              "type": "boolean"
            }
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "description": "Creates a label. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label).",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "path": "v2beta/labels",
          "flatPath": "v2beta/labels",
          "httpMethod": "POST",
          "id": "drivelabels.labels.create"
        },
        "updateLabelCopyMode": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest"
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The resource name of the label to update.",
              "required": true,
              "location": "path",
              "pattern": "^labels/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Updates a label's `CopyMode`. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately.",
          "path": "v2beta/{+name}:updateLabelCopyMode",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "id": "drivelabels.labels.updateLabelCopyMode",
          "flatPath": "v2beta/labels/{labelsId}:updateLabelCopyMode"
        },
        "disable": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaDisableLabelRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2beta/labels/{labelsId}:disable",
          "description": "Disable a published label. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Disabling a label will result in a new disabled published revision based on the current published revision. If there's a draft revision, a new disabled draft revision will be created based on the latest draft revision. Older draft revisions will be deleted. Once disabled, a label may be deleted with `DeleteLabel`.",
          "id": "drivelabels.labels.disable",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "httpMethod": "POST",
          "path": "v2beta/{+name}:disable",
          "parameters": {
            "name": {
              "description": "Required. Label resource name.",
              "required": true,
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          }
        },
        "updateLabelEnabledAppSettings": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest"
          },
          "httpMethod": "POST",
          "flatPath": "v2beta/labels/{labelsId}:updateLabelEnabledAppSettings",
          "parameterOrder": [
            "name"
          ],
          "path": "v2beta/{+name}:updateLabelEnabledAppSettings",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "description": "Updates a label's `EnabledAppSettings`. Enabling a label in a Google Workspace app allows it to be used in that app. This change isn't revisioned, doesn't require publishing, and takes effect immediately.",
          "id": "drivelabels.labels.updateLabelEnabledAppSettings",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the label to update. The resource name of the label to update.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^labels/[^/]+$"
            }
          }
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "description": "Get a label by its resource name. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label). Resource name may be any of: * `labels/{id}` - See `labels/{id}@latest` * `labels/{id}@latest` - Gets the latest revision of the label. * `labels/{id}@published` - Gets the current published revision of the label. * `labels/{id}@{revision_id}` - Gets the label at the specified revision ID.",
          "flatPath": "v2beta/labels/{labelsId}",
          "id": "drivelabels.labels.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "path": "v2beta/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. Label resource name. May be any of: * `labels/{id}` (equivalent to labels/{id}@latest) * `labels/{id}@latest` * `labels/{id}@published` * `labels/{id}@{revision_id}`",
              "pattern": "^labels/[^/]+$",
              "required": true
            },
            "view": {
              "type": "string",
              "location": "query",
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ]
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used."
            },
            "useAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. The server verifies that the user is an admin for the label before allowing access."
            }
          }
        },
        "list": {
          "parameters": {
            "customer": {
              "type": "string",
              "location": "query",
              "description": "The customer to scope this list request to. For example: `customers/abcd1234`. If unset, will return all labels within the current customer."
            },
            "publishedOnly": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include only published labels in the results. * When `true`, only the current published label revisions are returned. Disabled labels are included. Returned label resource names reference the published revision (`labels/{id}/{revision_id}`). * When `false`, the current label revisions are returned, which might not be published. Returned label resource names don't reference a specific revision (`labels/{id}`)."
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of labels to return per page. Default: 50. Max: 200.",
              "location": "query"
            },
            "useAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Set to `true` in order to use the user's admin credentials. This will return all labels within the customer."
            },
            "minimumRole": {
              "type": "string",
              "description": "Specifies the level of access the user must have on the returned labels. The minimum role a user must have on a label. Defaults to `READER`.",
              "enum": [
                "LABEL_ROLE_UNSPECIFIED",
                "READER",
                "APPLIER",
                "ORGANIZER",
                "EDITOR"
              ],
              "location": "query",
              "enumDescriptions": [
                "Unknown role.",
                "A reader can read the label and associated metadata applied to Drive items.",
                "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
                "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
                "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
              ]
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used."
            },
            "view": {
              "type": "string",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "location": "query",
              "description": "When specified, only certain fields belonging to the indicated view are returned."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token of the page to return."
            }
          },
          "flatPath": "v2beta/labels",
          "description": "List labels. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label).",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "parameterOrder": [],
          "id": "drivelabels.labels.list",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaListLabelsResponse"
          },
          "path": "v2beta/labels"
        },
        "delta": {
          "parameters": {
            "name": {
              "description": "Required. The resource name of the label to update.",
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates a single label by applying a set of update requests resulting in a new draft revision. For more information, see [Update a label](https://developers.google.com/workspace/drive/labels/guides/update-label). The batch update is all-or-nothing: If any of the update requests are invalid, no changes are applied. The resulting draft revision must be published before the changes may be used with Drive items.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "flatPath": "v2beta/labels/{labelsId}:delta",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse"
          },
          "path": "v2beta/{+name}:delta",
          "id": "drivelabels.labels.delta"
        }
      }
    },
    "limits": {
      "methods": {
        "getLabel": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelLimits"
          },
          "description": "Get the constraints on the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
          "id": "drivelabels.limits.getLabel",
          "httpMethod": "GET",
          "path": "v2beta/limits/label",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "flatPath": "v2beta/limits/label",
          "parameters": {
            "name": {
              "description": "Required. Label revision resource name must be: \"limits/label\".",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptions": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
      "properties": {
        "choices": {
          "description": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
          }
        },
        "listOptions": {
          "description": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions"
        }
      },
      "description": "Options for the selection field type."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse": {
      "description": "Response following field create.",
      "properties": {
        "priority": {
          "format": "int32",
          "type": "integer",
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n)."
        },
        "id": {
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldIntegerOptions": {
      "description": "Options for the Integer field type.",
      "properties": {
        "minValue": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The minimum valid value for the integer field.",
          "type": "string"
        },
        "maxValue": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The maximum valid value for the integer field.",
          "format": "int64"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelPermission": {
      "id": "GoogleAppsDriveLabelsV2betaLabelPermission",
      "description": "The permission that applies to a principal (user, group, audience) on a label.",
      "type": "object",
      "properties": {
        "person": {
          "type": "string",
          "description": "Person resource name."
        },
        "audience": {
          "type": "string",
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label."
        },
        "group": {
          "type": "string",
          "description": "Group resource name."
        },
        "name": {
          "type": "string",
          "description": "Resource name of this permission."
        },
        "email": {
          "description": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified.",
          "type": "string"
        },
        "role": {
          "enumDescriptions": [
            "Unknown role.",
            "A reader can read the label and associated metadata applied to Drive items.",
            "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
            "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
            "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
          ],
          "enum": [
            "LABEL_ROLE_UNSPECIFIED",
            "READER",
            "APPLIER",
            "ORGANIZER",
            "EDITOR"
          ],
          "description": "The role the principal should have.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice": {
      "properties": {
        "lockStatus": {
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus",
          "description": "Output only. The `LockStatus` of this choice.",
          "readOnly": true
        },
        "displayHints": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints",
          "readOnly": true,
          "description": "Output only. UI display hints for rendering a choice."
        },
        "properties": {
          "description": "Basic properties of the choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties"
        },
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "description": "Output only. Lifecycle of the choice.",
          "readOnly": true
        },
        "publishTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published."
        },
        "disableTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled.",
          "type": "string"
        },
        "publisher": {
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time this choice was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "updater": {
          "description": "Output only. The user who updated this choice last.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
          "readOnly": true,
          "description": "Output only. The capabilities related to this choice on applied metadata."
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who created this choice.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`."
        },
        "schemaCapabilities": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities",
          "description": "Output only. The capabilities related to this option when editing the option."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time this choice was updated last."
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled.",
          "readOnly": true
        }
      },
      "description": "Selection field choice.",
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest": {
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "properties": {
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "labelPermission": {
          "description": "Required. The permission to create or update on the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
        },
        "parent": {
          "description": "Required. The parent label resource name.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelLock": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLabelLock",
      "properties": {
        "capabilities": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities",
          "description": "Output only. The user's capabilities on this label lock."
        },
        "createTime": {
          "description": "Output only. The time this label lock was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ],
          "readOnly": true,
          "description": "Output only. This label lock's state.",
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ]
        },
        "choiceId": {
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present.",
          "type": "string"
        },
        "creator": {
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "deleteTime": {
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of this label lock.",
          "type": "string",
          "readOnly": true
        },
        "fieldId": {
          "type": "string",
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked."
        }
      },
      "description": "A lock that can be applied to a label, field, or choice."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "description": "Response following selection choice create.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The server-generated ID of the created choice within the field."
        },
        "fieldId": {
          "type": "string",
          "description": "The server-generated ID of the field."
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse"
    },
    "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities": {
      "properties": {
        "canUpdate": {
          "description": "Whether the user can change this field.",
          "type": "boolean"
        },
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated."
        },
        "canEnable": {
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities",
      "description": "The capabilities related to this field when editing the field.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldTextOptions": {
      "properties": {
        "minLength": {
          "readOnly": true,
          "description": "Output only. The minimum valid length of values for the text field.",
          "type": "integer",
          "format": "int32"
        },
        "maxLength": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The maximum valid length of values for the text field."
        }
      },
      "description": "Options for the Text field type.",
      "id": "GoogleAppsDriveLabelsV2betaFieldTextOptions",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLongTextLimits": {
      "id": "GoogleAppsDriveLabelsV2betaLongTextLimits",
      "description": "Limits for long text field type.",
      "type": "object",
      "properties": {
        "minLength": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum length allowed for a long text field type."
        },
        "maxLength": {
          "type": "integer",
          "description": "Maximum length allowed for a long text field type.",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest": {
      "description": "Request to delete the field.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest",
      "properties": {
        "id": {
          "description": "Required. ID of the field to delete.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities",
      "description": "The capabilities a user has on this label's applied metadata.",
      "properties": {
        "canRemove": {
          "description": "Whether the user can remove this label from items.",
          "type": "boolean"
        },
        "canApply": {
          "type": "boolean",
          "description": "Whether the user can apply this label to items."
        },
        "canRead": {
          "description": "Whether the user can read applied metadata related to this label.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "name": {
          "description": "Required. Label permission resource name.",
          "type": "string"
        }
      },
      "description": "Deletes a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "description": "Request to enable a choice.",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be enabled.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to enable."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaWriteControl": {
      "description": "Provides control over how write requests are executed. When not specified, the last write wins.",
      "properties": {
        "requiredRevisionId": {
          "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaWriteControl"
    },
    "GoogleAppsDriveLabelsV2betaField": {
      "id": "GoogleAppsDriveLabelsV2betaField",
      "properties": {
        "lockStatus": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus",
          "description": "Output only. The `LockStatus` of this field."
        },
        "dateOptions": {
          "description": "Date field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions"
        },
        "userOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
          "description": "User field options."
        },
        "properties": {
          "description": "The basic properties of the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties"
        },
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "readOnly": true,
          "description": "Output only. The lifecycle of this field."
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities"
        },
        "displayHints": {
          "readOnly": true,
          "description": "Output only. UI display hints for rendering a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDisplayHints"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this field was created.",
          "readOnly": true
        },
        "queryKey": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\"."
        },
        "disabler": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled."
        },
        "publisher": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published."
        },
        "integerOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
          "description": "Integer field options."
        },
        "textOptions": {
          "description": "Text field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions"
        },
        "updateTime": {
          "description": "Output only. The time this field was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "disableTime": {
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "schemaCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities",
          "description": "Output only. The capabilities this user has when editing this field.",
          "readOnly": true
        },
        "creator": {
          "description": "Output only. The user who created this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true
        },
        "id": {
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`.",
          "type": "string",
          "readOnly": true
        },
        "selectionOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
          "description": "Selection field options."
        },
        "updater": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who modified this field."
        }
      },
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabel": {
      "properties": {
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who created this label."
        },
        "createTime": {
          "description": "Output only. The time this label was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering the label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelDisplayHints"
        },
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities",
          "readOnly": true,
          "description": "Output only. The capabilities related to this label on applied metadata."
        },
        "disabler": {
          "readOnly": true,
          "description": "Output only. The user who disabled this label. This value has no meaning when the label isn't disabled.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "lockStatus": {
          "readOnly": true,
          "description": "Output only. The `LockStatus` of this label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus"
        },
        "learnMoreUri": {
          "type": "string",
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below.",
          "type": "string"
        },
        "appliedLabelPolicy": {
          "description": "Output only. Behavior of this label when it's applied to Drive items.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true
        },
        "properties": {
          "description": "Required. The basic properties of the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties"
        },
        "fields": {
          "description": "List of fields in descending priority order.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaField"
          },
          "type": "array"
        },
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes.",
          "readOnly": true
        },
        "revisionCreateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this label revision was created.",
          "format": "google-datetime"
        },
        "revisionCreator": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who created this label revision."
        },
        "enabledAppSettings": {
          "description": "Optional. The `EnabledAppSettings` for this Label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings"
        },
        "publisher": {
          "description": "Output only. The user who published this label. This value has no meaning when the label isn't published.>>",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "labelType": {
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN",
            "GOOGLE_APP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features.",
            "A label owned by an internal Google application rather than a customer. These labels are read-only."
          ],
          "description": "Required. The type of label."
        },
        "publishTime": {
          "type": "string",
          "description": "Output only. The time this label was published. This value has no meaning when the label isn't published.",
          "format": "google-datetime",
          "readOnly": true
        },
        "customer": {
          "readOnly": true,
          "description": "Output only. The customer this label belongs to. For example: `customers/123abc789`.",
          "type": "string"
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities the user has on this label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities"
        },
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`."
        },
        "disableTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this label was disabled. This value has no meaning when the label isn't disabled."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabel",
      "type": "object",
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items."
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "id": "GoogleTypeDate",
      "properties": {
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaTextLimits": {
      "id": "GoogleAppsDriveLabelsV2betaTextLimits",
      "properties": {
        "minLength": {
          "description": "Minimum length allowed for a text field type.",
          "type": "integer",
          "format": "int32"
        },
        "maxLength": {
          "description": "Maximum length allowed for a text field type.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Limits for text field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse",
      "description": "Response following choice enable.",
      "properties": {}
    },
    "GoogleTypeColor": {
      "id": "GoogleTypeColor",
      "properties": {
        "red": {
          "type": "number",
          "format": "float",
          "description": "The amount of red in the color as a value in the interval [0, 1]."
        },
        "green": {
          "type": "number",
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "alpha": {
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "format": "float",
          "type": "number"
        },
        "blue": {
          "type": "number",
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "format": "float"
        }
      },
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse": {
      "description": "A single response from an update.",
      "type": "object",
      "properties": {
        "createSelectionChoice": {
          "description": "Creates a selection list option to add to a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse"
        },
        "updateLabel": {
          "description": "Updates basic properties of a label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
        },
        "disableSelectionChoice": {
          "description": "Disables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse"
        },
        "disableField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse",
          "description": "Disables field."
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse"
        },
        "deleteField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse",
          "description": "Deletes a field from the label."
        },
        "updateSelectionChoiceProperties": {
          "description": "Updates a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse"
        },
        "enableField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse",
          "description": "Enables field."
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse"
        },
        "enableSelectionChoice": {
          "description": "Enables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse"
        },
        "deleteSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
          "description": "Deletes a choice from a selection field."
        },
        "updateFieldType": {
          "description": "Updates field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse"
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest": {
      "description": "Request to update the `EnabledAppSettings` of the given label. This change is not revisioned, doesn't require publishing, and takes effect immediately. \\",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Optional. The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "view": {
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "description": "Optional. When specified, only certain fields belonging to the indicated view will be returned.",
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        },
        "enabledAppSettings": {
          "description": "Required. The new `EnabledAppSettings` value for the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings"
        },
        "useAdminAccess": {
          "description": "Optional. Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaUserLimits": {
      "type": "object",
      "properties": {
        "listLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaListLimits",
          "description": "Limits for list-variant of a field type."
        }
      },
      "description": "Limits for Field.Type.USER.",
      "id": "GoogleAppsDriveLabelsV2betaUserLimits"
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest",
      "description": "Updates one or more label permissions.",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        },
        "requests": {
          "description": "Required. The request message specifying the resources to update.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest"
          }
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "properties": {
          "description": "Required. Label properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "description": "Updates basic properties of a label."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest": {
      "description": "A single kind of update to apply to a label.",
      "type": "object",
      "properties": {
        "createSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest",
          "description": "Create a choice within a selection field."
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest"
        },
        "enableField": {
          "description": "Enables the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest"
        },
        "disableField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest",
          "description": "Disables the field."
        },
        "disableSelectionChoice": {
          "description": "Disable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest"
        },
        "updateSelectionChoiceProperties": {
          "description": "Update a choice property within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest"
        },
        "updateFieldType": {
          "description": "Update field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest"
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest"
        },
        "updateLabel": {
          "description": "Updates the label properties.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest"
        },
        "enableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest",
          "description": "Enable a choice within a selection field."
        },
        "deleteSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
          "description": "Delete a choice within a selection field."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest"
    },
    "GoogleAppsDriveLabelsV2betaFieldProperties": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldProperties",
      "description": "The basic properties of the field.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The display text to show in the UI identifying this field."
        },
        "insertBeforeField": {
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list.",
          "type": "string"
        },
        "required": {
          "description": "Whether the field should be marked as required.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaEnableLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2betaEnableLabelRequest",
      "description": "Request to enable a label.",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest": {
      "properties": {
        "view": {
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "copyMode": {
          "type": "string",
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "description": "Required. Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ]
        }
      },
      "description": "Request to update the `CopyMode` of the given label. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately. \\",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest": {
      "description": "The set of requests for updating aspects of a label. If any request isn't valid, no requests will be applied.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest",
      "properties": {
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "view": {
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        },
        "requests": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest"
          },
          "type": "array",
          "description": "A list of updates to apply to the label. Requests will be applied in the order they are specified."
        },
        "writeControl": {
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl",
          "description": "Provides control over how write requests are executed."
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels when `include_label_in_response` is `true`."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLockStatus": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLockStatus",
      "properties": {
        "locked": {
          "description": "Output only. Indicates whether this label component is the (direct) target of a label lock. A label component can be implicitly locked even if it's not the direct target of a label lock, in which case this field is set to false.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "Contains information about whether a label component should be considered locked."
    },
    "GoogleAppsDriveLabelsV2betaUserCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaUserCapabilities",
      "description": "The capabilities of a user.",
      "properties": {
        "canCreateAdminLabels": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the user is allowed to create admin labels."
        },
        "canCreateSharedLabels": {
          "description": "Output only. Whether the user is allowed to create shared labels.",
          "type": "boolean",
          "readOnly": true
        },
        "canAccessLabelManager": {
          "type": "boolean",
          "description": "Output only. Whether the user is allowed access to the label manager.",
          "readOnly": true
        },
        "canAdministrateLabels": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the user is an administrator for the shared labels feature."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name for the user capabilities."
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse",
      "description": "Response following update to field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldListOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldListOptions",
      "description": "Options for a multi-valued variant of an associated field type.",
      "type": "object",
      "properties": {
[...]
