{
  "id": "drive:v2",
  "title": "Google Drive API",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        }
      }
    }
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "batchPath": "batch/drive/v2",
  "resources": {
    "channels": {
      "methods": {
        "stop": {
          "parameterOrder": [],
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "httpMethod": "POST",
          "id": "drive.channels.stop",
          "parameters": {},
          "path": "channels/stop",
          "flatPath": "channels/stop",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Stops watching resources through this channel."
        }
      }
    },
    "replies": {
      "methods": {
        "list": {
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "description": "Lists all of the replies to a comment.",
          "response": {
            "$ref": "CommentReplyList"
          },
          "path": "files/{fileId}/comments/{commentId}/replies",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.replies.list",
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            },
            "commentId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the comment."
            },
            "pageToken": {
              "type": "string",
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "location": "query"
            },
            "maxResults": {
              "maximum": "100",
              "default": "20",
              "location": "query",
              "minimum": "0",
              "format": "int32",
              "description": "The maximum number of replies to include in the response, used for paging.",
              "type": "integer"
            },
            "includeDeleted": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "If set, all replies, including deleted replies (with content stripped) will be returned."
            }
          }
        },
        "delete": {
          "parameters": {
            "replyId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the reply."
            },
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "description": "Deletes a reply.",
          "id": "drive.replies.delete",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}"
        },
        "update": {
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "request": {
            "$ref": "CommentReply"
          },
          "response": {
            "$ref": "CommentReply"
          },
          "httpMethod": "PUT",
          "id": "drive.replies.update",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "description": "Updates an existing reply.",
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "replyId": {
              "type": "string",
              "required": true,
              "description": "The ID of the reply.",
              "location": "path"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the file."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "insert": {
          "response": {
            "$ref": "CommentReply"
          },
          "path": "files/{fileId}/comments/{commentId}/replies",
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "commentId": {
              "type": "string",
              "required": true,
              "description": "The ID of the comment.",
              "location": "path"
            }
          },
          "id": "drive.replies.insert",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "request": {
            "$ref": "CommentReply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Creates a new reply to the given comment."
        },
        "patch": {
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "response": {
            "$ref": "CommentReply"
          },
          "id": "drive.replies.patch",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameters": {
            "replyId": {
              "description": "The ID of the reply.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            },
            "commentId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the comment."
            }
          },
          "description": "Updates an existing reply.",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "request": {
            "$ref": "CommentReply"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "id": "drive.replies.get",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "GET",
          "parameters": {
            "replyId": {
              "description": "The ID of the reply.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "commentId": {
              "type": "string",
              "description": "The ID of the comment.",
              "required": true,
              "location": "path"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            },
            "includeDeleted": {
              "type": "boolean",
              "description": "If set, this will succeed when retrieving a deleted reply.",
              "default": "false",
              "location": "query"
            }
          },
          "description": "Gets a reply.",
          "response": {
            "$ref": "CommentReply"
          },
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        }
      }
    },
    "children": {
      "methods": {
        "insert": {
          "path": "files/{folderId}/children",
          "description": "Inserts a file into a folder.",
          "response": {
            "$ref": "ChildReference"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{folderId}/children",
          "httpMethod": "POST",
          "request": {
            "$ref": "ChildReference"
          },
          "id": "drive.children.insert",
          "parameters": {
            "folderId": {
              "required": true,
              "description": "The ID of the folder.",
              "location": "path",
              "type": "string"
            },
            "enforceSingleParent": {
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "location": "query",
              "default": "false",
              "deprecated": true,
              "type": "boolean"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            }
          },
          "parameterOrder": [
            "folderId"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "folderId"
          ],
          "httpMethod": "GET",
          "id": "drive.children.list",
          "parameters": {
            "q": {
              "location": "query",
              "description": "Query string for searching children.",
              "type": "string"
            },
            "maxResults": {
              "default": "100",
              "type": "integer",
              "minimum": "0",
              "location": "query",
              "description": "Maximum number of children to return.",
              "format": "int32"
            },
            "folderId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the folder."
            },
            "orderBy": {
              "description": "A comma-separated list of sort keys. Valid keys are `createdDate`, `folder`, `lastViewedByMeDate`, `modifiedByMeDate`, `modifiedDate`, `quotaBytesUsed`, `recency`, `sharedWithMeDate`, `starred`, and `title`. Each key sorts ascending by default, but may be reversed with the `desc` modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "Page token for children.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "files/{folderId}/children",
          "path": "files/{folderId}/children",
          "description": "Lists a folder's children.",
          "response": {
            "$ref": "ChildList"
          }
        },
        "get": {
          "path": "files/{folderId}/children/{childId}",
          "description": "Gets a specific child reference.",
          "id": "drive.children.get",
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "flatPath": "files/{folderId}/children/{childId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "folderId": {
              "required": true,
              "description": "The ID of the folder.",
              "type": "string",
              "location": "path"
            },
            "childId": {
              "description": "The ID of the child.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "ChildReference"
          },
          "httpMethod": "GET"
        },
        "delete": {
          "parameters": {
            "enforceSingleParent": {
              "default": "false",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "type": "boolean"
            },
            "childId": {
              "location": "path",
              "description": "The ID of the child.",
              "required": true,
              "type": "string"
            },
            "folderId": {
              "description": "The ID of the folder.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "httpMethod": "DELETE",
          "path": "files/{folderId}/children/{childId}",
          "id": "drive.children.delete",
          "description": "Removes a child from a folder.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{folderId}/children/{childId}"
        }
      }
    },
    "comments": {
      "methods": {
        "insert": {
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Comment"
          },
          "httpMethod": "POST",
          "path": "files/{fileId}/comments",
          "description": "Creates a new comment on the given file.",
          "flatPath": "files/{fileId}/comments",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "Comment"
          },
          "id": "drive.comments.insert"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Comment"
          },
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "files/{fileId}/comments/{commentId}",
          "httpMethod": "PUT",
          "id": "drive.comments.update",
          "request": {
            "$ref": "Comment"
          },
          "description": "Updates an existing comment.",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "path": "files/{fileId}/comments/{commentId}"
        },
        "patch": {
          "parameters": {
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "Comment"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Updates an existing comment.",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "path": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.patch",
          "response": {
            "$ref": "Comment"
          }
        },
        "delete": {
          "flatPath": "files/{fileId}/comments/{commentId}",
          "httpMethod": "DELETE",
          "path": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.delete",
          "parameters": {
            "commentId": {
              "type": "string",
              "description": "The ID of the comment.",
              "location": "path",
              "required": true
            },
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            }
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Deletes a comment."
        },
        "list": {
          "id": "drive.comments.list",
          "flatPath": "files/{fileId}/comments",
          "path": "files/{fileId}/comments",
          "response": {
            "$ref": "CommentList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists a file's comments.",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "minimum": "0",
              "type": "integer",
              "default": "20",
              "description": "The maximum number of discussions to include in the response, used for paging.",
              "maximum": "100",
              "format": "int32"
            },
            "updatedMin": {
              "location": "query",
              "type": "string",
              "description": "Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp."
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "includeDeleted": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned."
            },
            "pageToken": {
              "type": "string",
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "location": "query"
            }
          },
          "httpMethod": "GET"
        },
        "get": {
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "includeDeleted": {
              "description": "If set, this will succeed when retrieving a deleted comment, and will include any deleted replies.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Comment"
          },
          "id": "drive.comments.get",
          "path": "files/{fileId}/comments/{commentId}",
          "description": "Gets a comment by ID."
        }
      }
    },
    "revisions": {
      "methods": {
        "patch": {
          "description": "Updates a revision.",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "id": "drive.revisions.patch",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID for the file."
            },
            "revisionId": {
              "type": "string",
              "required": true,
              "description": "The ID for the revision.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Revision"
          },
          "request": {
            "$ref": "Revision"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "path": "files/{fileId}/revisions/{revisionId}"
        },
        "list": {
          "response": {
            "$ref": "RevisionList"
          },
          "path": "files/{fileId}/revisions",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of revisions to return.",
              "location": "query",
              "type": "integer",
              "minimum": "1",
              "default": "200",
              "maximum": "1000"
            },
            "pageToken": {
              "type": "string",
              "description": "Page token for revisions. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "files/{fileId}/revisions",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists a file's revisions. **Important:** The list of revisions returned by this method might be incomplete for files with a large revision history, including frequently edited Google Docs, Sheets, and Slides. Older revisions might be omitted from the response, meaning the first revision returned may not be the oldest existing revision. The revision history visible in the Workspace editor user interface might be more complete than the list returned by the API.",
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.revisions.list"
        },
        "update": {
          "description": "Updates a revision.",
          "request": {
            "$ref": "Revision"
          },
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "response": {
            "$ref": "Revision"
          },
          "httpMethod": "PUT",
          "parameters": {
            "revisionId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID for the revision."
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID for the file."
            }
          },
          "path": "files/{fileId}/revisions/{revisionId}",
          "id": "drive.revisions.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "id": "drive.revisions.get",
          "path": "files/{fileId}/revisions/{revisionId}",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "response": {
            "$ref": "Revision"
          },
          "description": "Gets a specific revision.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID of the file.",
              "type": "string"
            },
            "revisionId": {
              "type": "string",
              "description": "The ID of the revision.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET"
        },
        "delete": {
          "path": "files/{fileId}/revisions/{revisionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE",
          "description": "Permanently deletes a file version. You can only delete revisions for files with binary content, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can't be deleted.",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "parameters": {
            "revisionId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the revision."
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "required": true,
              "location": "path"
            }
          },
          "id": "drive.revisions.delete",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ]
        }
      }
    },
    "teamdrives": {
      "methods": {
        "get": {
          "path": "teamdrives/{teamDriveId}",
          "response": {
            "$ref": "TeamDrive"
          },
          "parameters": {
            "teamDriveId": {
              "type": "string",
              "description": "The ID of the Team Drive",
              "location": "path",
              "required": true
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "type": "boolean",
              "default": "false"
            }
          },
          "parameterOrder": [
            "teamDriveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Deprecated: Use `drives.get` instead.",
          "httpMethod": "GET",
          "id": "drive.teamdrives.get",
          "flatPath": "teamdrives/{teamDriveId}"
        },
        "delete": {
          "id": "drive.teamdrives.delete",
          "parameterOrder": [
            "teamDriveId"
          ],
          "flatPath": "teamdrives/{teamDriveId}",
          "description": "Deprecated: Use `drives.delete` instead.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "teamdrives/{teamDriveId}",
          "parameters": {
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "list": {
          "flatPath": "teamdrives",
          "id": "drive.teamdrives.list",
          "path": "teamdrives",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Page token for Team Drives.",
              "location": "query"
            },
            "q": {
              "description": "Query string for searching Team Drives.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "minimum": "1",
              "default": "10",
              "description": "Maximum number of Team Drives to return.",
              "maximum": "100",
              "location": "query"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "TeamDriveList"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Deprecated: Use `drives.list` instead."
        },
        "insert": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "requestId": {
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "teamdrives",
          "response": {
            "$ref": "TeamDrive"
          },
          "path": "teamdrives",
          "id": "drive.teamdrives.insert",
          "request": {
            "$ref": "TeamDrive"
          },
          "description": "Deprecated: Use `drives.insert` instead.",
          "parameterOrder": [
            "requestId"
          ]
        },
        "update": {
          "request": {
            "$ref": "TeamDrive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "teamdrives/{teamDriveId}",
          "parameterOrder": [
            "teamDriveId"
          ],
          "response": {
            "$ref": "TeamDrive"
          },
          "id": "drive.teamdrives.update",
          "path": "teamdrives/{teamDriveId}",
          "parameters": {
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "default": "false"
            },
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Deprecated: Use `drives.update` instead.",
          "httpMethod": "PUT"
        }
      }
    },
    "properties": {
      "methods": {
        "insert": {
          "description": "Adds a property to a file, or updates it if it already exists.",
          "path": "files/{fileId}/properties",
          "id": "drive.properties.insert",
          "response": {
            "$ref": "Property"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/properties",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "request": {
            "$ref": "Property"
          }
        },
        "update": {
          "response": {
            "$ref": "Property"
          },
          "httpMethod": "PUT",
          "parameters": {
            "propertyKey": {
              "type": "string",
              "description": "The key of the property.",
              "location": "path",
              "required": true
            },
            "visibility": {
              "default": "private",
              "type": "string",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "location": "query"
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "drive.properties.update",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "request": {
            "$ref": "Property"
          },
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "path": "files/{fileId}/properties/{propertyKey}",
          "description": "Updates a property."
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "id": "drive.properties.patch",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "httpMethod": "PATCH",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "description": "Updates a property.",
          "path": "files/{fileId}/properties/{propertyKey}",
          "request": {
            "$ref": "Property"
          },
          "parameters": {
            "propertyKey": {
              "location": "path",
              "description": "The key of the property.",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "visibility": {
              "type": "string",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "location": "query",
              "default": "private"
            }
          },
          "response": {
            "$ref": "Property"
          }
        },
        "delete": {
          "description": "Deletes a property.",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "path": "files/{fileId}/properties/{propertyKey}",
          "id": "drive.properties.delete",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "propertyKey": {
              "description": "The key of the property.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "visibility": {
              "default": "private",
              "type": "string",
              "location": "query",
              "description": "The visibility of the property."
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "description": "Gets a property by its key.",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "visibility": {
              "description": "The visibility of the property.",
              "default": "private",
              "location": "query",
              "type": "string"
            },
            "propertyKey": {
              "description": "The key of the property.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.properties.get",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "path": "files/{fileId}/properties/{propertyKey}",
          "response": {
            "$ref": "Property"
          },
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ]
        },
        "list": {
          "flatPath": "files/{fileId}/properties",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Lists a file's properties.",
          "response": {
            "$ref": "PropertyList"
          },
          "id": "drive.properties.list",
          "path": "files/{fileId}/properties",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        }
      }
    },
    "about": {
      "methods": {
        "get": {
          "flatPath": "about",
          "description": "Gets the information about the current user along with Drive API settings",
          "path": "about",
          "response": {
            "$ref": "About"
          },
          "id": "drive.about.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [],
          "parameters": {
            "startChangeId": {
              "location": "query",
              "format": "int64",
              "description": "Change ID to start counting from when calculating number of remaining change IDs",
              "type": "string"
            },
            "maxChangeIdCount": {
              "default": "1",
              "description": "Maximum number of remaining change IDs to count",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "includeSubscribed": {
              "description": "Whether to count changes outside the My Drive hierarchy. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the `maxChangeIdCount`.",
              "location": "query",
              "default": "true",
              "type": "boolean"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "apps": {
      "methods": {
        "list": {
          "description": "Lists a user's installed apps.",
          "path": "apps",
          "response": {
            "$ref": "AppList"
          },
          "flatPath": "apps",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ],
          "id": "drive.apps.list",
          "httpMethod": "GET",
          "parameters": {
            "languageCode": {
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
              "type": "string",
              "location": "query"
            },
            "appFilterMimeTypes": {
              "type": "string",
              "default": "",
              "location": "query",
              "description": "A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists."
            },
            "appFilterExtensions": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists.",
              "default": ""
            }
          }
        },
        "get": {
          "parameterOrder": [
            "appId"
          ],
          "id": "drive.apps.get",
          "description": "Gets a specific app.",
          "path": "apps/{appId}",
          "httpMethod": "GET",
          "flatPath": "apps/{appId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "appId": {
              "description": "The ID of the app.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "App"
          }
        }
      }
    },
    "drives": {
      "methods": {
        "hide": {
          "flatPath": "drives/{driveId}/hide",
          "parameterOrder": [
            "driveId"
          ],
          "response": {
            "$ref": "Drive"
          },
          "parameters": {
            "driveId": {
              "type": "string",
              "required": true,
              "description": "The ID of the shared drive.",
              "location": "path"
            }
          },
          "id": "drive.drives.hide",
          "httpMethod": "POST",
          "description": "Hides a shared drive from the default view.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "drives/{driveId}/hide"
        },
        "delete": {
          "description": "Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "drives/{driveId}",
          "parameters": {
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "allowItemDeletion": {
              "location": "query",
              "default": "false",
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.",
              "type": "boolean"
            },
            "driveId": {
              "description": "The ID of the shared drive.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "driveId"
          ],
          "id": "drive.drives.delete",
          "flatPath": "drives/{driveId}",
          "httpMethod": "DELETE"
        },
        "unhide": {
          "parameterOrder": [
            "driveId"
          ],
          "description": "Restores a shared drive to the default view.",
          "path": "drives/{driveId}/unhide",
          "response": {
            "$ref": "Drive"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "driveId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the shared drive."
            }
          },
          "id": "drive.drives.unhide",
          "flatPath": "drives/{driveId}/unhide"
        },
        "update": {
          "response": {
            "$ref": "Drive"
          },
          "parameterOrder": [
            "driveId"
          ],
          "description": "Updates the metadata for a shared drive.",
          "id": "drive.drives.update",
          "flatPath": "drives/{driveId}",
          "httpMethod": "PUT",
          "path": "drives/{driveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "request": {
            "$ref": "Drive"
          },
          "parameters": {
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "driveId": {
              "required": true,
              "location": "path",
              "description": "The ID of the shared drive.",
              "type": "string"
            }
          }
        },
        "insert": {
          "path": "drives",
          "httpMethod": "POST",
          "parameters": {
            "requestId": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameterOrder": [
            "requestId"
          ],
          "response": {
            "$ref": "Drive"
          },
          "request": {
            "$ref": "Drive"
          },
          "id": "drive.drives.insert",
          "description": "Creates a new shared drive.",
          "flatPath": "drives"
        },
        "list": {
          "id": "drive.drives.list",
          "flatPath": "drives",
          "response": {
            "$ref": "DriveList"
          },
          "path": "drives",
          "parameterOrder": [],
          "parameters": {
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "q": {
              "location": "query",
              "description": "Query string for searching shared drives.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token for shared drives.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "maximum": "100",
              "default": "10",
              "type": "integer",
              "description": "Maximum number of shared drives to return per page.",
              "format": "int32",
              "minimum": "1"
            }
          },
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](https://developers.google.com/workspace/drive/api/guides/search-shareddrives) guide.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET"
        },
        "get": {
          "description": "Gets a shared drive's metadata by ID.",
          "path": "drives/{driveId}",
          "httpMethod": "GET",
          "parameters": {
            "driveId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the shared drive."
            },
            "useDomainAdminAccess": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs."
            }
          },
          "flatPath": "drives/{driveId}",
          "id": "drive.drives.get",
          "parameterOrder": [
            "driveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Drive"
          }
        }
      }
    },
    "changes": {
      "methods": {
        "get": {
          "parameters": {
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "driveId": {
              "description": "The shared drive from which the change will be returned.",
              "type": "string",
              "location": "query"
            },
            "changeId": {
              "description": "The ID of the change.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "teamDriveId": {
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "type": "string"
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          },
          "path": "changes/{changeId}",
          "httpMethod": "GET",
          "id": "drive.changes.get",
          "parameterOrder": [
            "changeId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "changes/{changeId}",
          "response": {
            "$ref": "Change"
          },
          "description": "Deprecated: Use `changes.getStartPageToken` and `changes.list` to retrieve recent changes."
        },
        "watch": {
          "httpMethod": "POST",
          "description": "Subscribe to changes for a user.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "location": "query",
              "deprecated": true
            },
            "includeSubscribed": {
              "default": "true",
              "type": "boolean",
              "location": "query",
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result."
            },
            "startChangeId": {
              "format": "int64",
              "deprecated": true,
              "type": "string",
              "description": "Deprecated: Use `pageToken` instead.",
              "location": "query"
            },
            "includeCorpusRemovals": {
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "includeItemsFromAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "location": "query"
            },
            "includeDeleted": {
              "type": "boolean",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "location": "query",
              "default": "true"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "includeTeamDriveItems": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead."
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "default": "100",
              "description": "Maximum number of changes to return.",
              "minimum": "1",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method.",
              "type": "string"
            },
            "driveId": {
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "spaces": {
              "location": "query",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`.",
              "type": "string"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "flatPath": "changes/watch",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "id": "drive.changes.watch",
          "supportsSubscription": true,
          "response": {
            "$ref": "Channel"
          },
          "path": "changes/watch",
          "parameterOrder": []
        },
        "getStartPageToken": {
          "response": {
            "$ref": "StartPageToken"
          },
          "parameterOrder": [],
          "description": "Gets the starting pageToken for listing future changes.",
          "id": "drive.changes.getStartPageToken",
          "flatPath": "changes/startPageToken",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned.",
              "location": "query",
              "type": "string"
            },
            "teamDriveId": {
              "location": "query",
              "type": "string",
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead."
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          },
          "httpMethod": "GET",
          "path": "changes/startPageToken"
        },
        "list": {
          "parameters": {
            "includeCorpusRemovals": {
              "location": "query",
              "default": "false",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "type": "boolean"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "includeDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "default": "true"
            },
            "teamDriveId": {
              "type": "string",
              "description": "Deprecated: Use `driveId` instead.",
              "deprecated": true,
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "default": "100",
              "type": "integer",
              "description": "Maximum number of changes to return."
            },
            "includeSubscribed": {
              "default": "true",
              "location": "query",
              "type": "boolean",
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result."
            },
            "includeItemsFromAllDrives": {
              "location": "query",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean",
              "default": "false"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method."
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true
            },
            "startChangeId": {
              "format": "int64",
              "type": "string",
              "description": "Deprecated: Use `pageToken` instead.",
              "location": "query",
              "deprecated": true
            },
            "includeTeamDriveItems": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead."
            },
            "driveId": {
              "type": "string",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "location": "query"
            },
            "spaces": {
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "id": "drive.changes.list",
          "flatPath": "changes",
          "parameterOrder": [],
          "response": {
            "$ref": "ChangeList"
          },
          "supportsSubscription": true,
          "description": "Lists the changes for a user or shared drive.",
          "path": "changes",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        }
      }
    },
    "parents": {
      "methods": {
        "list": {
          "path": "files/{fileId}/parents",
          "description": "Lists a file's parents.",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "ParentList"
          },
          "id": "drive.parents.list",
          "flatPath": "files/{fileId}/parents"
        },
        "get": {
          "id": "drive.parents.get",
          "response": {
            "$ref": "ParentReference"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets a specific parent reference.",
          "flatPath": "files/{fileId}/parents/{parentId}",
          "path": "files/{fileId}/parents/{parentId}",
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "parentId": {
              "description": "The ID of the parent.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        },
        "delete": {
          "description": "Removes a parent from a file.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "flatPath": "files/{fileId}/parents/{parentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "parentId": {
              "type": "string",
              "required": true,
              "description": "The ID of the parent.",
              "location": "path"
            },
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID of the file.",
              "type": "string"
            },
            "enforceSingleParent": {
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "type": "boolean",
              "location": "query"
            }
          },
          "path": "files/{fileId}/parents/{parentId}",
          "id": "drive.parents.delete"
        },
        "insert": {
          "parameterOrder": [
            "fileId"
          ],
          "description": "Adds a parent folder for a file.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/parents",
          "id": "drive.parents.insert",
          "request": {
            "$ref": "ParentReference"
          },
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/parents",
          "parameters": {
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "enforceSingleParent": {
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "response": {
            "$ref": "ParentReference"
          }
        }
      }
    },
    "permissions": {
      "methods": {
        "get": {
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "location": "query"
            },
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "permissionId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID for the permission."
            }
          },
          "description": "Gets a permission by ID.",
          "response": {
            "$ref": "Permission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.permissions.get",
          "flatPath": "files/{fileId}/permissions/{permissionId}"
        },
        "getIdForEmail": {
          "parameters": {
            "email": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The email address for which to return a permission ID"
            }
          },
          "response": {
            "$ref": "PermissionId"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "email"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.permissions.getIdForEmail",
          "path": "permissionIds/{email}",
          "flatPath": "permissionIds/{email}",
          "description": "Returns the permission ID for an email address."
        },
        "patch": {
          "description": "Updates a permission using patch semantics. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "httpMethod": "PATCH",
          "parameters": {
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "removeExpiration": {
              "description": "Whether to remove the expiration date.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "transferOwnership": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`."
            },
            "permissionId": {
              "description": "The ID for the permission.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "enforceExpansiveAccess": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: All requests use the expansive access rules."
            },
            "supportsTeamDrives": {
              "location": "query",
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            }
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "id": "drive.permissions.patch",
          "request": {
            "$ref": "Permission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Permission"
          },
          "parameterOrder": [
            "fileId",
            "permissionId"
          ]
        },
        "list": {
          "flatPath": "files/{fileId}/permissions",
          "response": {
            "$ref": "PermissionList"
          },
          "path": "files/{fileId}/permissions",
          "id": "drive.permissions.list",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "supportsTeamDrives": {
              "default": "false",
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned.",
              "minimum": "1",
              "maximum": "100"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID for the file or shared drive."
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            }
          },
          "httpMethod": "GET",
          "description": "Lists a file's or shared drive's permissions."
        },
        "update": {
          "httpMethod": "PUT",
          "parameters": {
            "transferOwnership": {
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            },
            "enforceExpansiveAccess": {
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "removeExpiration": {
              "description": "Whether to remove the expiration date.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "permissionId": {
              "required": true,
              "description": "The ID for the permission.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Updates a permission. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/permissions/{permissionId}",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "id": "drive.permissions.update",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "request": {
            "$ref": "Permission"
          },
          "response": {
            "$ref": "Permission"
          }
        },
        "insert": {
          "id": "drive.permissions.insert",
          "response": {
            "$ref": "Permission"
          },
          "flatPath": "files/{fileId}/permissions",
          "path": "files/{fileId}/permissions",
          "request": {
            "$ref": "Permission"
          },
          "parameterOrder": [
            "fileId"
          ],
          "description": "Inserts a permission for a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "httpMethod": "POST",
          "parameters": {
            "emailMessage": {
              "description": "A plain text custom message to include in notification emails.",
              "type": "string",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID for the file or shared drive.",
              "location": "path"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true
            },
            "moveToNewOwnersRoot": {
              "description": "This parameter will only take effect if the item is not in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item will be moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents are not changed.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "enforceSingleParent": {
              "default": "false",
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: See `moveToNewOwnersRoot` for details."
            },
            "sendNotificationEmails": {
              "description": "Whether to send notification emails when sharing to users or groups. This parameter is ignored and an email is sent if the `role` is `owner`.",
              "location": "query",
              "default": "true",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "location": "query"
            },
            "enforceExpansiveAccess": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: All requests use the expansive access rules."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "delete": {
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "parameters": {
            "enforceExpansiveAccess": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: All requests use the expansive access rules.",
              "deprecated": true
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "description": "The ID for the file or shared drive.",
              "required": true,
              "location": "path"
            },
            "permissionId": {
              "description": "The ID for the permission.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "supportsTeamDrives": {
              "default": "false",
[...]
