{
  "protocol": "rest",
  "ownerDomain": "google.com",
  "batchPath": "batch/drive/v2",
  "rootUrl": "https://www.googleapis.com/",
  "baseUrl": "https://www.googleapis.com/drive/v2/",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "Permission": {
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "properties": {
        "inheritedPermissionsDisabled": {
          "description": "When true, only organizers, owners, and users with permissions added directly on the item can access it.",
          "type": "boolean"
        },
        "authKey": {
          "type": "string",
          "description": "Output only. Deprecated.",
          "deprecated": true
        },
        "type": {
          "type": "string",
          "description": "The account type. Allowed values are: * `user` * `group` * `domain` * `anyone`",
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          }
        },
        "selfLink": {
          "description": "Output only. A link back to this permission.",
          "type": "string"
        },
        "domain": {
          "description": "Output only. The domain name of the entity this permission refers to. This is an output-only field which is present when the permission type is `user`, `group` or `domain`.",
          "type": "string"
        },
        "expirationDate": {
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration dates have the following restrictions: - They can only be set on user and group permissions - The date must be in the future - The date cannot be more than a year in the future - The date can only be set on drive.permissions.update or drive.permissions.patch requests",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "description": "The ID of the user this permission refers to, and identical to the `permissionId` in the About and Files resources. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored."
        },
        "teamDrivePermissionDetails": {
          "items": {
            "properties": {
              "inheritedFrom": {
                "type": "string",
                "description": "Output only. Deprecated: Use `permissionDetails/inheritedFrom` instead.",
                "deprecated": true
              },
              "role": {
                "description": "Output only. Deprecated: Use `permissionDetails/role` instead.",
                "deprecated": true,
                "type": "string"
              },
              "teamDrivePermissionType": {
                "description": "Output only. Deprecated: Use `permissionDetails/permissionType` instead.",
                "type": "string",
                "deprecated": true
              },
              "inherited": {
                "deprecated": true,
                "type": "boolean",
                "description": "Output only. Deprecated: Use `permissionDetails/inherited` instead."
              },
              "additionalRoles": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Output only. Deprecated: Use `permissionDetails/additionalRoles` instead.",
                "deprecated": true
              }
            },
            "type": "object"
          },
          "readOnly": true,
          "deprecated": true,
          "type": "array",
          "description": "Output only. Deprecated: Use `permissionDetails` instead."
        },
        "name": {
          "type": "string",
          "description": "Output only. The name for this permission."
        },
        "photoLink": {
          "description": "Output only. A link to the profile photo, if available.",
          "type": "string"
        },
        "withLink": {
          "type": "boolean",
          "description": "Whether the link is required for this permission."
        },
        "permissionDetails": {
          "items": {
            "properties": {
              "additionalRoles": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Output only. Additional roles for this user. Only `commenter` is currently possible, though more may be supported in the future."
              },
              "role": {
                "type": "string",
                "description": "Output only. The primary role for this user. While new values may be added in the future, the following are currently possible: * `organizer` * `fileOrganizer` * `writer` * `reader`"
              },
              "inherited": {
                "description": "Output only. Whether this permission is inherited. This field is always populated.",
                "type": "boolean"
              },
              "permissionType": {
                "type": "string",
                "description": "Output only. The permission type for this user. While new values may be added in future, the following are currently possible: * `file` * `member`"
              },
              "inheritedFrom": {
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "Output only. Details of whether the permissions on this item are inherited or directly on this item.",
          "readOnly": true
        },
        "role": {
          "description": "The primary role for this user. While new values may be supported in the future, the following are currently allowed: * `owner` * `organizer` * `fileOrganizer` * `writer` * `reader`",
          "type": "string",
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          }
        },
        "pendingOwner": {
          "type": "boolean",
          "description": "Whether the account associated with this permission is a pending owner. Only populated for `user` type permissions for files that are not in a shared drive."
        },
        "value": {
          "type": "string",
          "description": "The email address or domain name for the entity. This is used during inserts and is not populated in responses. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored."
        },
        "kind": {
          "default": "drive#permission",
          "type": "string",
          "description": "Output only. This is always `drive#permission`."
        },
        "etag": {
          "description": "Output only. The ETag of the permission.",
          "type": "string"
        },
        "view": {
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. published and metadata are the only supported values. - published: The permission's role is published_reader. - metadata: The item is only visible to the metadata view because the item has limited access and the scope has at least read access to the parent. Note: The metadata view is currently only supported on folders. ",
          "type": "string"
        },
        "additionalRoles": {
          "items": {
            "type": "string"
          },
          "description": "Additional roles for this user. Only `commenter` is currently allowed, though more may be supported in the future.",
          "type": "array"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to user and group permissions."
        },
        "emailAddress": {
          "description": "Output only. The email address of the user or group this permission refers to. This is an output-only field which is present when the permission type is `user` or `group`.",
          "type": "string"
        }
      },
      "id": "Permission",
      "type": "object"
    },
    "Label": {
      "type": "object",
      "id": "Label",
      "description": "Representation of a label and label fields.",
      "properties": {
        "fields": {
          "description": "A map of the fields on the label, keyed by the field's ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LabelField"
          }
        },
        "id": {
          "description": "The ID of the label.",
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "description": "The revision ID of the label."
        },
        "kind": {
          "type": "string",
          "default": "drive#label",
          "description": "This is always `drive#label`"
        }
      }
    },
    "PropertyList": {
      "type": "object",
      "id": "PropertyList",
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "The link back to this list."
        },
        "items": {
          "items": {
            "$ref": "Property"
          },
          "type": "array",
          "description": "The list of properties."
        },
        "kind": {
          "description": "This is always `drive#propertyList`.",
          "type": "string",
          "default": "drive#propertyList"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        }
      },
      "description": "A collection of properties, key-value pairs that are either public or private to an application."
    },
    "StartPageToken": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`.",
          "default": "drive#startPageToken"
        },
        "startPageToken": {
          "type": "string",
          "description": "The starting page token for listing changes."
        }
      },
      "id": "StartPageToken"
    },
    "Revision": {
      "type": "object",
      "properties": {
        "pinned": {
          "description": "Whether this revision is pinned to prevent automatic purging. If not set, the revision is automatically purged 30 days after newer content is uploaded. This field can only be modified on files with content stored in Drive, excluding Docs Editors files. Revisions can also be pinned when they are created through the drive.files.insert/update/copy by using the pinned query parameter. Pinned revisions are stored indefinitely using additional storage quota, up to a maximum of 200 revisions.",
          "type": "boolean"
        },
        "publishedOutsideDomain": {
          "type": "boolean",
          "description": "Whether this revision is published outside the domain. This is only populated and can only be modified for Docs Editors files."
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of the revision."
        },
        "downloadUrl": {
          "description": "Output only. Short term download URL for the file. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "modifiedDate": {
          "description": "Last time this revision was modified (formatted RFC 3339 timestamp).",
          "type": "string",
          "format": "date-time"
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this revision.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Output only. The MIME type of the revision."
        },
        "publishedLink": {
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files.",
          "type": "string"
        },
        "md5Checksum": {
          "description": "Output only. An MD5 checksum for the content of this revision. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A link back to this revision.",
          "type": "string"
        },
        "originalFilename": {
          "type": "string",
          "description": "Output only. The original filename when this revision was created. This will only be populated on files with content stored in Drive."
        },
        "published": {
          "description": "Whether this revision is published. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "publishAuto": {
          "description": "Whether subsequent revisions will be automatically republished. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "kind": {
          "default": "drive#revision",
          "type": "string",
          "description": "Output only. This is always `drive#revision`."
        },
        "etag": {
          "type": "string",
          "description": "Output only. The ETag of the revision."
        },
        "fileSize": {
          "description": "Output only. The size of the revision in bytes. This will only be populated on files with content stored in Drive.",
          "type": "string",
          "format": "int64"
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "Revision",
      "description": "A revision of a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision."
    },
    "ClientEncryptionDetails": {
      "properties": {
        "encryptionState": {
          "description": "The encryption state of the file. The values expected here are: - encrypted - unencrypted ",
          "type": "string"
        },
        "decryptionMetadata": {
          "$ref": "DecryptionMetadata",
          "description": "The metadata used for client-side operations."
        }
      },
      "type": "object",
      "description": "Details about the client-side encryption applied to the file.",
      "id": "ClientEncryptionDetails"
    },
    "ChildList": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of children. This will be absent if the end of the children list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "ChildReference"
          },
          "description": "The list of children. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of children."
        },
        "kind": {
          "description": "This is always `drive#childList`.",
          "default": "drive#childList",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        }
      },
      "id": "ChildList",
      "description": "A list of children of a file.",
      "type": "object"
    },
    "GeneratedIds": {
      "properties": {
        "ids": {
          "description": "The IDs generated for the requesting user in the specified space.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "space": {
          "type": "string",
          "description": "The type of file that can be created with these IDs."
        },
        "kind": {
          "default": "drive#generatedIds",
          "description": "This is always `drive#generatedIds`",
          "type": "string"
        }
      },
      "description": "A list of generated IDs which can be provided in insert requests",
      "type": "object",
      "id": "GeneratedIds"
    },
    "DecryptionMetadata": {
      "id": "DecryptionMetadata",
      "properties": {
        "jwt": {
          "description": "The signed JSON Web Token (JWT) which can be used to authorize the requesting user with the Key ACL Service (KACLS). The JWT asserts that the requesting user has at least read permissions on the file.",
          "type": "string"
        },
        "kaclsId": {
          "description": "The ID of the KACLS (Key ACL Service) used to encrypt the file.",
          "format": "int64",
          "type": "string"
        },
        "keyFormat": {
          "description": "Key format for the unwrapped key. Must be `tinkAesGcmKey`.",
          "type": "string"
        },
        "encryptionResourceKeyHash": {
          "type": "string",
          "description": "The URL-safe Base64 encoded HMAC-SHA256 digest of the resource metadata with its DEK (Data Encryption Key); see https://developers.google.com/workspace/cse/reference"
        },
        "kaclsName": {
          "description": "The name of the KACLS (Key ACL Service) used to encrypt the file.",
          "type": "string"
        },
        "wrappedKey": {
          "description": "The URL-safe Base64 encoded wrapped key used to encrypt the contents of the file.",
          "type": "string"
        },
        "aes256GcmChunkSize": {
          "description": "Chunk size used if content was encrypted with the AES 256 GCM Cipher. Possible values are: - default - small ",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Representation of the CSE DecryptionMetadata."
    },
    "PermissionId": {
      "description": "An ID for a user or group as seen in Permission items.",
      "id": "PermissionId",
      "properties": {
        "kind": {
          "description": "This is always `drive#permissionId`.",
          "type": "string",
          "default": "drive#permissionId"
        },
        "id": {
          "type": "string",
          "description": "The permission ID."
        }
      },
      "type": "object"
    },
    "ChangeList": {
      "id": "ChangeList",
      "properties": {
        "nextLink": {
          "description": "A link to the next page of changes.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#changeList`.",
          "default": "drive#changeList"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "largestChangeId": {
          "description": "The current largest change ID.",
          "format": "int64",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Change"
          }
        },
        "newStartPageToken": {
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        }
      },
      "type": "object",
      "description": "A list of changes for a user."
    },
    "ChildReference": {
      "properties": {
        "selfLink": {
          "description": "Output only. A link back to this reference.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. This is always `drive#childReference`.",
          "type": "string",
          "default": "drive#childReference"
        },
        "id": {
          "description": "The ID of the child.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.children.insert"
            ]
          }
        },
        "childLink": {
          "description": "Output only. A link to the child.",
          "type": "string"
        }
      },
      "description": "A reference to a folder's child. Some resource methods (such as `children.get`) require a `childId`. Use the `children.list` method to retrieve the ID of the child.",
      "type": "object",
      "id": "ChildReference"
    },
    "Comment": {
      "properties": {
        "content": {
          "description": "The plain text content used to create this comment. This is not HTML safe and should only be used as a starting point to make edits to a comment's content.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.comments.insert",
              "drive.comments.patch",
              "drive.comments.update"
            ]
          }
        },
        "createdDate": {
          "type": "string",
          "description": "The date when this comment was first created.",
          "format": "date-time"
        },
        "fileId": {
          "type": "string",
          "description": "The file which this comment is addressing."
        },
        "anchor": {
          "type": "string",
          "description": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/workspace/drive/api/v3/manage-comments)."
        },
        "author": {
          "$ref": "User",
          "description": "The user who wrote this comment."
        },
        "modifiedDate": {
          "format": "date-time",
          "description": "The date when this comment or any of its replies were last modified.",
          "type": "string"
        },
        "htmlContent": {
          "type": "string",
          "description": "HTML formatted content for this comment."
        },
        "selfLink": {
          "description": "A link back to this comment.",
          "type": "string"
        },
        "context": {
          "type": "object",
          "properties": {
            "value": {
              "description": "Data representation of the segment of the file being commented on. In the case of a text file for example, this would be the actual text that the comment is about.",
              "type": "string"
            },
            "type": {
              "description": "The MIME type of the context snippet.",
              "type": "string"
            }
          },
          "description": "Context of a file which is being commented on."
        },
        "replies": {
          "description": "Replies to this post.",
          "type": "array",
          "items": {
            "$ref": "CommentReply"
          }
        },
        "deleted": {
          "type": "boolean",
          "description": "Whether this comment has been deleted. If a comment has been deleted the content will be cleared and this will only represent a comment that once existed."
        },
        "commentId": {
          "type": "string",
          "description": "The ID of the comment."
        },
        "fileTitle": {
          "description": "The title of the file which this comment is addressing.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "The status of this comment. Status can be changed by posting a reply to a comment with the desired status. Possible values are: * `open` - The comment is still open. * `resolved` - The comment has been resolved by one of its replies."
        },
        "kind": {
          "default": "drive#comment",
          "description": "This is always drive#comment.",
          "type": "string"
        }
      },
      "id": "Comment",
      "type": "object",
      "description": "A comment on a file in Google Drive."
    },
    "About": {
      "properties": {
        "driveThemes": {
          "type": "array",
          "description": "A list of themes that are supported for shared drives.",
          "items": {
            "properties": {
              "colorRgb": {
                "description": "The color of this theme as an RGB hex string.",
                "type": "string"
              },
              "backgroundImageLink": {
                "type": "string",
                "description": "A link to this theme's background image."
              },
              "id": {
                "type": "string",
                "description": "The ID of the theme."
              }
            },
            "type": "object"
          }
        },
        "folderColorPalette": {
          "description": "The palette of allowable folder colors as RGB hex strings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "quotaBytesUsedInTrash": {
          "format": "int64",
          "type": "string",
          "description": "The number of quota bytes used by trashed items."
        },
        "importFormats": {
          "type": "array",
          "items": {
            "properties": {
              "targets": {
                "description": "The possible content types to convert to.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "source": {
                "description": "The imported file's content type to convert from.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "The allowable import formats."
        },
        "domainSharingPolicy": {
          "description": "Deprecated: Does not granularly represent allowlisted domains or Trust Rules. The domain sharing policy for the current user. Possible values are: * `allowed` * `allowedWithWarning` * `incomingOnly` * `disallowed` Note that if the user is enrolled in Trust Rules, `disallowed` will always be returned. If sharing is restricted to allowlisted domains, either `incomingOnly` or `allowedWithWarning` will be returned, depending on whether receiving files from outside the allowlisted domains is permitted.",
          "deprecated": true,
          "type": "string"
        },
        "exportFormats": {
          "type": "array",
          "description": "The allowable export formats.",
          "items": {
            "properties": {
              "targets": {
                "items": {
                  "type": "string"
                },
                "description": "The possible content types to convert to.",
                "type": "array"
              },
              "source": {
                "type": "string",
                "description": "The content type to convert from."
              }
            },
            "type": "object"
          }
        },
        "largestChangeId": {
          "format": "int64",
          "type": "string",
          "description": "The largest change id."
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the item."
        },
        "teamDriveThemes": {
          "deprecated": true,
          "items": {
            "type": "object",
            "properties": {
              "colorRgb": {
                "description": "Deprecated: Use `driveThemes/colorRgb` instead.",
                "deprecated": true,
                "type": "string"
              },
              "id": {
                "description": "Deprecated: Use `driveThemes/id` instead.",
                "deprecated": true,
                "type": "string"
              },
              "backgroundImageLink": {
                "deprecated": true,
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead.",
                "type": "string"
              }
            }
          },
          "type": "array",
          "description": "Deprecated: Use `driveThemes` instead."
        },
        "quotaBytesTotal": {
          "description": "The total number of quota bytes. This is only relevant when quotaType is LIMITED.",
          "type": "string",
          "format": "int64"
        },
        "quotaBytesByService": {
          "description": "The amount of storage quota used by different Google services.",
          "type": "array",
          "items": {
            "properties": {
              "bytesUsed": {
                "description": "The storage quota bytes used by the service.",
                "type": "string",
                "format": "int64"
              },
              "serviceName": {
                "description": "The service's name, e.g. DRIVE, GMAIL, or PHOTOS.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "quotaBytesUsedAggregate": {
          "type": "string",
          "format": "int64",
          "description": "The number of quota bytes used by all Google apps (Drive, Picasa, etc.)."
        },
        "canCreateTeamDrives": {
          "type": "boolean",
          "description": "Deprecated: Use `canCreateDrives` instead.",
          "deprecated": true
        },
        "languageCode": {
          "type": "string",
          "description": "The user's language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/)."
        },
        "canCreateDrives": {
          "type": "boolean",
          "description": "Whether the user can create shared drives."
        },
        "name": {
          "description": "The name of the current user.",
          "type": "string"
        },
        "rootFolderId": {
          "description": "The id of the root folder.",
          "type": "string"
        },
        "quotaBytesUsed": {
          "description": "The number of quota bytes used by Google Drive.",
          "type": "string",
          "format": "int64"
        },
        "quotaType": {
          "type": "string",
          "description": "The type of the user's storage quota. Possible values are: * `LIMITED` * `UNLIMITED`"
        },
        "permissionId": {
          "type": "string",
          "description": "The current user's ID as visible in the permissions collection."
        },
        "remainingChangeIds": {
          "format": "int64",
          "type": "string",
          "description": "The number of remaining change ids, limited to no more than 2500."
        },
        "features": {
          "description": "List of additional features enabled on this account.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "featureRate": {
                "format": "double",
                "description": "The request limit rate for this feature, in queries per second.",
                "type": "number"
              },
              "featureName": {
                "description": "The name of the feature.",
                "type": "string"
              }
            }
          }
        },
        "additionalRoleInfo": {
          "items": {
            "properties": {
              "roleSets": {
                "description": "The supported additional roles per primary role.",
                "type": "array",
                "items": {
                  "properties": {
                    "primaryRole": {
                      "description": "A primary permission role.",
                      "type": "string"
                    },
                    "additionalRoles": {
                      "description": "The supported additional roles with the primary role.",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "type": "object"
                }
              },
              "type": {
                "description": "The content type that this additional role info applies to.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "Information about supported additional roles per file type. The most specific type takes precedence.",
          "type": "array"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this item."
        },
        "maxUploadSizes": {
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The file type."
              },
              "size": {
                "description": "The max upload size for this type.",
                "type": "string",
                "format": "int64"
              }
            }
          },
          "type": "array",
          "description": "List of max upload sizes for each file type. The most specific type takes precedence."
        },
        "isCurrentAppInstalled": {
          "type": "boolean",
          "description": "A boolean indicating whether the authenticated app is installed by the authenticated user."
        },
        "kind": {
          "description": "This is always `drive#about`.",
          "default": "drive#about",
          "type": "string"
        },
        "user": {
          "$ref": "User",
          "description": "The authenticated user."
        }
      },
      "type": "object",
      "description": "An item with user information and settings.",
      "id": "About"
    },
    "FileList": {
      "type": "object",
      "id": "FileList",
      "description": "A list of files.",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "nextLink": {
          "description": "A link to the next page of files.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "File"
          },
          "description": "The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "kind": {
          "description": "This is always `drive#fileList`.",
          "type": "string",
          "default": "drive#fileList"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "incompleteSearch": {
          "description": "Whether the search process was incomplete. If true, then some search results may be missing, since all documents were not searched. This may occur when searching multiple drives with the \"allDrives\" corpora, but all corpora could not be searched. When this happens, it is suggested that clients narrow their query by choosing a different corpus such as \"default\" or \"drive\".",
          "type": "boolean"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        }
      }
    },
    "ModifyLabelsResponse": {
      "properties": {
        "modifiedLabels": {
          "description": "The list of labels which were added or updated by the request.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "kind": {
          "default": "drive#modifyLabelsResponse",
          "type": "string",
          "description": "This is always `drive#modifyLabelsResponse`"
        }
      },
      "description": "Response to a ModifyLabels request. This contains only those labels which were added or updated by the request.",
      "id": "ModifyLabelsResponse",
      "type": "object"
    },
    "AppList": {
      "type": "object",
      "properties": {
        "items": {
          "description": "The list of apps.",
          "type": "array",
          "items": {
            "$ref": "App"
          }
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "defaultAppIds": {
          "type": "array",
          "description": "List of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#appList`.",
          "type": "string",
          "default": "drive#appList"
        }
      },
      "id": "AppList",
      "description": "A list of third-party applications which the user has installed or given access to Google Drive."
    },
    "Change": {
      "description": "Representation of a change to a file or shared drive.",
      "id": "Change",
      "properties": {
        "file": {
          "$ref": "File",
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes."
        },
        "changeType": {
          "type": "string",
          "description": "The type of the change. Possible values are `file` and `drive`."
        },
        "modificationDate": {
          "type": "string",
          "description": "The time of this modification.",
          "format": "date-time"
        },
        "deleted": {
          "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access.",
          "type": "boolean"
        },
        "driveId": {
          "type": "string",
          "description": "The ID of the shared drive associated with this change."
        },
        "type": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated: Use `changeType` instead."
        },
        "teamDriveId": {
          "deprecated": true,
          "description": "Deprecated: Use `driveId` instead.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the change.",
          "type": "string",
          "format": "int64"
        },
        "fileId": {
          "type": "string",
          "description": "The ID of the file associated with this change."
        },
        "kind": {
          "default": "drive#change",
          "description": "This is always `drive#change`.",
          "type": "string"
        },
        "drive": {
          "$ref": "Drive",
          "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted."
        },
        "selfLink": {
          "description": "A link back to this change.",
          "type": "string"
        },
        "teamDrive": {
          "description": "Deprecated: Use `drive` instead.",
          "$ref": "TeamDrive",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "DriveList": {
      "properties": {
        "kind": {
          "default": "drive#driveList",
          "type": "string",
          "description": "This is always `drive#driveList`"
        },
        "items": {
          "type": "array",
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Drive"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A list of shared drives.",
      "id": "DriveList"
    },
    "ContentRestriction": {
      "properties": {
        "ownerRestricted": {
          "type": "boolean",
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction."
        },
        "readOnly": {
          "type": "boolean",
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified."
        },
        "restrictingUser": {
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly` is true.",
          "$ref": "User"
        },
        "systemRestricted": {
          "type": "boolean",
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions."
        },
        "type": {
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`.",
          "type": "string"
        },
        "restrictionDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true."
        },
        "reason": {
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ContentRestriction",
      "description": "A restriction for accessing the content of the file."
    },
    "App": {
      "description": "The apps resource provides a list of the apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "type": "object",
      "id": "App",
      "properties": {
        "createInFolderTemplate": {
          "type": "string",
          "description": "The template url to create a new file with this app in a given folder. The template will contain {folderId} to be replaced by the folder to create the new file in."
        },
        "authorized": {
          "type": "boolean",
          "description": "Whether the app is authorized to access data on the user's Drive."
        },
        "shortDescription": {
          "type": "string",
          "description": "A short description of the app."
        },
        "installed": {
          "description": "Whether the app is installed.",
          "type": "boolean"
        },
        "secondaryFileExtensions": {
          "description": "The list of secondary file extensions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "openUrlTemplate": {
          "type": "string",
          "description": "The template url for opening files with this app. The template will contain `{ids}` and/or `{exportIds}` to be replaced by the actual file ids. See Open Files for the full documentation."
        },
        "secondaryMimeTypes": {
          "description": "The list of secondary mime types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "This is always `drive#app`.",
          "default": "drive#app",
          "type": "string"
        },
        "longDescription": {
          "description": "A long description of the app.",
          "type": "string"
        },
        "supportsCreate": {
          "type": "boolean",
          "description": "Whether this app supports creating new objects."
        },
        "productId": {
          "description": "The ID of the product listing for this app.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the app."
        },
        "createUrl": {
          "description": "The url to create a new file with this app.",
          "type": "string"
        },
        "supportsImport": {
          "type": "boolean",
          "description": "Whether this app supports importing from Docs Editors."
        },
        "supportsOfflineCreate": {
          "description": "Whether this app supports creating new files when offline.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "supportsMultiOpen": {
          "description": "Whether this app supports opening more than one file.",
          "type": "boolean"
        },
        "icons": {
          "description": "The various icons for the app.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "iconUrl": {
                "type": "string",
                "description": "URL for the icon."
              },
              "size": {
                "type": "integer",
                "format": "int32",
                "description": "Size of the icon. Represented as the maximum of the width and height."
              },
              "category": {
                "description": "Category of the icon. Allowed values are: * `application` - icon for the application * `document` - icon for a file associated with the app * `documentShared` - icon for a shared file associated with the app",
                "type": "string"
              }
            }
          }
        },
        "productUrl": {
          "description": "A link to the product listing for this app.",
          "type": "string"
        },
        "primaryMimeTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of primary mime types."
        },
        "useByDefault": {
          "type": "boolean",
          "description": "Whether the app is selected as the default handler for the types it supports."
        },
        "hasDriveWideScope": {
          "type": "boolean",
          "description": "Whether the app has drive-wide scope. An app with drive-wide scope can access all files in the user's drive."
        },
        "primaryFileExtensions": {
          "description": "The list of primary file extensions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "objectType": {
          "description": "The type of object this app creates (e.g. Chart). If empty, the app name should be used instead.",
          "type": "string"
        }
      }
    },
    "LabelFieldModification": {
      "description": "A modification to a label's field.",
      "id": "LabelFieldModification",
      "type": "object",
      "properties": {
        "setDateValues": {
          "items": {
            "type": "string",
            "format": "date"
          },
          "type": "array",
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD."
        },
        "setSelectionValues": {
          "items": {
            "type": "string"
          },
          "description": "Replaces a `selection` field with these new values.",
          "type": "array"
        },
        "setTextValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Sets the value of a `text` field."
        },
        "setIntegerValues": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Replaces the value of an `integer` field with these new values."
        },
        "kind": {
          "default": "drive#labelFieldModification",
          "description": "This is always `drive#labelFieldModification`.",
          "type": "string"
        },
        "setUserValues": {
          "type": "array",
          "description": "Replaces a `user` field with these new values. The values must be valid email addresses.",
          "items": {
            "type": "string"
          }
        },
        "fieldId": {
          "description": "The ID of the field to be modified.",
          "type": "string"
        },
        "unsetValues": {
          "type": "boolean",
          "description": "Unsets the values for this field."
        }
      }
    },
    "CommentList": {
      "description": "A list of comments on a file in Google Drive.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always drive#commentList.",
          "default": "drive#commentList",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Comment"
          }
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of comments."
        }
      },
      "id": "CommentList"
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "description": "Deprecated: Use the `drive` collection instead.",
      "type": "object",
      "properties": {
        "themeId": {
          "type": "string",
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."
        },
        "restrictions": {
          "properties": {
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "domainUsersOnly": {
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive.",
              "type": "boolean"
            },
            "copyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive."
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions.",
              "type": "boolean"
            },
            "teamMembersOnly": {
              "type": "boolean",
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive."
            }
          },
          "type": "object",
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive."
        },
        "backgroundImageLink": {
          "description": "A short-lived link to this Team Drive's background image.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "createdDate": {
          "description": "The time at which the Team Drive was created (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "capabilities": {
          "type": "object",
          "description": "Capabilities the current user has on this Team Drive.",
          "properties": {
            "canDownload": {
              "description": "Whether the current user can download files in this Team Drive.",
              "type": "boolean"
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Whether the current user can add children to folders in this Team Drive."
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canChangeTeamMembersOnlyRestriction": {
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canEdit": {
              "description": "Whether the current user can edit files in this Team Drive",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Whether the current user can read the revisions resource of files in this Team Drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Whether the current user can list the children of folders in this Team Drive.",
              "type": "boolean"
            },
            "canResetTeamDriveRestrictions": {
              "type": "boolean",
              "description": "Whether the current user can reset the Team Drive restrictions to defaults."
            },
            "canChangeTeamDriveBackground": {
              "type": "boolean",
              "description": "Whether the current user can change the background of this Team Drive."
            },
            "canDeleteTeamDrive": {
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Whether the current user can comment on files in this Team Drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Whether the current user can trash children from folders in this Team Drive."
            },
            "canChangeDomainUsersOnlyRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive."
            },
            "canShare": {
              "type": "boolean",
              "description": "Whether the current user can share files or folders in this Team Drive."
            },
            "canDeleteChildren": {
              "description": "Whether the current user can delete children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canRenameTeamDrive": {
              "type": "boolean",
              "description": "Whether the current user can rename this Team Drive."
            },
            "canRename": {
              "description": "Whether the current user can rename files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Whether the current user can copy files in this Team Drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive.",
              "type": "boolean"
            }
          }
        },
        "colorRgb": {
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "backgroundImageFile": {
          "properties": {
            "yCoordinate": {
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "format": "float",
              "type": "number"
            },
            "id": {
              "type": "string",
              "description": "The ID of an image file in Drive to use for the background image."
            },
            "width": {
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "type": "number",
              "format": "float"
            },
            "xCoordinate": {
              "type": "number",
              "format": "float",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image."
            }
          },
          "type": "object",
          "description": "An image file and cropping parameters from which a background image for this Team Drive is set. This is a write only field; it can only be set on `drive.teamdrives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set."
        },
        "name": {
          "description": "The name of this Team Drive.",
          "annotations": {
            "required": [
              "drive.teamdrives.insert"
            ]
          },
          "type": "string"
        },
        "kind": {
          "default": "drive#teamDrive",
          "type": "string",
          "description": "This is always `drive#teamDrive`"
        },
        "id": {
          "type": "string",
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive."
        }
      }
    },
    "LabelList": {
      "properties": {
        "items": {
          "description": "The list of labels.",
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        },
        "kind": {
          "description": "This is always `drive#labelList`",
          "type": "string",
          "default": "drive#labelList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        }
      },
      "id": "LabelList",
      "type": "object",
      "description": "A list of labels applied to a file."
    },
    "ParentReference": {
      "description": "A reference to a file's parent. A file can only have one parent folder; specifying multiple parents isn't supported. Some resource methods (such as `parents.get`) require a `parentId`. Use the `parents.list` method to retrieve the ID for a parent.",
      "properties": {
        "id": {
          "description": "The ID of the parent.",
          "annotations": {
            "required": [
              "drive.parents.insert"
            ]
          },
          "type": "string"
        },
        "isRoot": {
          "description": "Output only. Whether or not the parent is the root folder.",
          "type": "boolean"
        },
        "selfLink": {
          "description": "Output only. A link back to this reference.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. This is always `drive#parentReference`.",
          "type": "string",
          "default": "drive#parentReference"
        },
        "parentLink": {
          "description": "Output only. A link to the parent.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ParentReference"
    },
    "ModifyLabelsRequest": {
      "properties": {
        "labelModifications": {
          "description": "The list of modifications to apply to the labels on the file.",
          "items": {
            "$ref": "LabelModification"
          },
          "type": "array"
        },
        "kind": {
          "description": "This is always `drive#modifyLabelsRequest`.",
          "default": "drive#modifyLabelsRequest",
          "type": "string"
        }
      },
      "id": "ModifyLabelsRequest",
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically.",
      "type": "object"
    },
    "Property": {
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "Output only. The link back to this property."
        },
        "key": {
          "description": "The key of this property.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.properties.insert"
            ]
          }
        },
        "visibility": {
          "type": "string",
          "description": "The visibility of this property. Allowed values are PRIVATE (default) and PUBLIC. Private properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties."
        },
        "kind": {
          "default": "drive#property",
          "type": "string",
          "description": "Output only. This is always `drive#property`."
        },
        "etag": {
          "description": "Output only. ETag of the property.",
          "type": "string"
        },
        "value": {
          "description": "The value of this property.",
          "type": "string"
        }
      },
      "id": "Property",
      "description": "A key-value pair attached to a file that is either public or private to an application. The following limits apply to file properties: * Maximum of 100 properties total per file * Maximum of 30 private properties per app * Maximum of 30 public properties * Maximum of 124 bytes size limit on (key + value) string in UTF-8 encoding for a single property Some resource methods (such as `properties.update`) require a `propertyKey`. Use the `properties.list` method to retrieve the key for a property.",
      "type": "object"
    },
    "ParentList": {
      "description": "A list of a file's parents.",
      "type": "object",
      "id": "ParentList",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "ParentReference"
          },
          "description": "The list of parents."
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "kind": {
          "default": "drive#parentList",
          "description": "This is always `drive#parentList`.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        }
      }
    },
    "PermissionList": {
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of permissions.",
          "items": {
            "$ref": "Permission"
          }
        },
        "kind": {
          "description": "This is always `drive#permissionList`.",
          "default": "drive#permissionList",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        }
      },
      "id": "PermissionList",
      "description": "A list of permissions associated with a file.",
      "type": "object"
    },
    "Channel": {
      "description": "A notification channel used to watch for resource changes.",
      "id": "Channel",
      "properties": {
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional parameters controlling delivery channel behavior. Optional."
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "kind": {
          "default": "api#channel",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "type": "string"
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\".",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "expiration": {
          "format": "int64",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "type": "string"
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "address": {
          "type": "string",
          "description": "The address where notifications are delivered for this channel."
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Drive": {
      "type": "object",
      "id": "Drive",
      "properties": {
        "id": {
          "type": "string",
          "description": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive."
        },
        "kind": {
          "description": "Output only. This is always `drive#drive`",
          "default": "drive#drive",
          "type": "string"
        },
        "orgUnitId": {
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "capabilities": {
          "properties": {
            "canAddChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add children to folders in this shared drive."
            },
            "canCopy": {
              "type": "boolean",
              "description": "Output only. Whether the current user can copy files in this shared drive."
            },
            "canResetDriveRestrictions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults."
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename files or folders in this shared drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can trash children from folders in this shared drive."
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can list the children of folders in this shared drive."
            },
            "canChangeDomainUsersOnlyRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive."
            },
            "canShare": {
              "type": "boolean",
              "description": "Output only. Whether the current user can share files or folders in this shared drive."
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on files in this shared drive.",
              "type": "boolean"
            },
            "canDownload": {
              "type": "boolean",
              "description": "Output only. Whether the current user can download files in this shared drive."
            },
            "canChangeDriveMembersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canDeleteDrive": {
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete children from folders in this shared drive."
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit files in this shared drive"
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive."
            },
            "canChangeDriveBackground": {
              "description": "Output only. Whether the current user can change the background of this shared drive.",
              "type": "boolean"
            },
            "canRenameDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can rename this shared drive."
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive."
            }
          },
          "description": "Output only. Capabilities the current user has on this shared drive.",
          "type": "object"
        },
        "backgroundImageFile": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "The ID of an image file in Google Drive to use for the background image."
            },
            "width": {
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "format": "float",
              "type": "number"
            },
            "xCoordinate": {
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number",
              "format": "float"
            },
            "yCoordinate": {
              "format": "float",
              "type": "number",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image."
            }
          },
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set."
        },
        "name": {
          "description": "The name of this shared drive.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.drives.insert"
            ]
          }
        },
        "themeId": {
          "type": "string",
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."
        },
        "hidden": {
          "description": "Whether the shared drive is hidden from default view.",
          "type": "boolean"
        },
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the shared drive was created (RFC 3339 date-time)."
        },
        "colorRgb": {
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "restrictions": {
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive.",
          "properties": {
            "domainUsersOnly": {
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive.",
              "type": "boolean"
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive.",
              "type": "boolean"
            },
            "driveMembersOnly": {
              "description": "Whether access to items inside this shared drive is restricted to its members.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "type": "boolean",
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions."
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "type": "boolean",
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders."
            }
          },
          "type": "object"
        },
        "backgroundImageLink": {
          "description": "Output only. A short-lived link to this shared drive's background image.",
          "type": "string"
        }
      },
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive."
    },
    "TeamDriveList": {
      "description": "A list of Team Drives.",
      "type": "object",
      "id": "TeamDriveList",
      "properties": {
        "items": {
          "description": "The list of Team Drives.",
          "items": {
            "$ref": "TeamDrive"
          },
          "type": "array"
        },
        "kind": {
          "default": "drive#teamDriveList",
          "description": "This is always `drive#teamDriveList`",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of Team Drives."
        }
      }
    },
    "CommentReply": {
      "id": "CommentReply",
      "properties": {
        "kind": {
          "type": "string",
          "default": "drive#commentReply",
          "description": "This is always drive#commentReply."
        },
        "deleted": {
          "type": "boolean",
          "description": "Whether this reply has been deleted. If a reply has been deleted the content will be cleared and this will only represent a reply that once existed."
        },
        "author": {
          "description": "The user who wrote this reply.",
          "$ref": "User"
        },
        "content": {
          "description": "The plain text content used to create this reply. This is not HTML safe and should only be used as a starting point to make edits to a reply's content. This field is required on inserts if no verb is specified (resolve/reopen).",
          "type": "string",
          "annotations": {
            "required": [
              "drive.replies.patch",
              "drive.replies.update"
            ]
          }
        },
        "htmlContent": {
          "type": "string",
          "description": "HTML formatted content for this reply."
        },
        "createdDate": {
          "type": "string",
          "description": "The date when this reply was first created.",
          "format": "date-time"
        },
        "replyId": {
          "description": "The ID of the reply.",
          "type": "string"
        },
        "verb": {
          "description": "The action this reply performed to the parent comment. When creating a new reply this is the action to be perform tSo the parent comment. Possible values are: * `resolve` - To resolve a comment. * `reopen` - To reopen (un-resolve) a comment.",
          "type": "string"
        },
        "modifiedDate": {
          "description": "The date when this reply was last modified.",
          "format": "date-time",
          "type": "string"
        }
      },
      "description": "A reply to a comment on a file in Google Drive.",
      "type": "object"
    },
    "CommentReplyList": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#commentReplyList",
          "description": "This is always `drive#commentReplyList`."
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of replies."
        },
        "items": {
          "description": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "CommentReply"
          },
          "type": "array"
        }
      },
      "id": "CommentReplyList",
      "description": "A list of replies to a comment on a file in Google Drive."
    },
    "User": {
      "id": "User",
      "description": "Information about a Drive user.",
      "properties": {
        "kind": {
          "default": "drive#user",
          "readOnly": true,
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`.",
          "type": "string"
        },
        "emailAddress": {
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.",
          "type": "string",
          "readOnly": true
        },
        "picture": {
          "readOnly": true,
          "description": "Output only. The user's profile picture.",
          "type": "object",
          "properties": {
            "url": {
              "type": "string",
              "description": "Output only. A URL that points to a profile picture of this user.",
              "readOnly": true
            }
          }
        },
        "isAuthenticatedUser": {
          "type": "boolean",
          "description": "Output only. Whether this user is the same as the authenticated user for whom the request was made.",
          "readOnly": true
        },
        "permissionId": {
          "readOnly": true,
          "description": "Output only. The user's ID as visible in Permission resources.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. A plain text displayable name for this user.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GenerateCseTokenResponse": {
      "properties": {
        "currentKaclsId": {
          "type": "string",
          "description": "The current Key ACL Service (KACLS) ID associated with the JWT.",
          "format": "int64"
        },
        "fileId": {
          "description": "The fileId for which the JWT was generated.",
          "type": "string"
        },
        "jwt": {
          "type": "string",
          "description": "The signed JSON Web Token (JWT) for the file."
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`."
        },
        "currentKaclsName": {
          "description": "Name of the KACLs that the returned KACLs ID points to.",
          "type": "string"
        }
      },
      "description": "JWT and associated metadata used to generate CSE files.",
      "id": "GenerateCseTokenResponse",
      "type": "object"
    },
    "File": {
      "type": "object",
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "id": "File",
      "properties": {
        "thumbnailVersion": {
          "type": "string",
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation.",
          "format": "int64"
        },
        "copyRequiresWriterPermission": {
          "description": "Whether the options to copy, print, or download this file, should be disabled for readers and commenters.",
          "type": "boolean"
        },
        "labelInfo": {
          "type": "object",
          "properties": {
            "labels": {
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned.",
              "items": {
                "$ref": "Label"
              },
              "type": "array"
            }
          },
          "description": "Output only. An overview of the labels on the file."
        },
        "webViewLink": {
          "type": "string",
          "description": "Output only. A link only available on public folders for viewing their static web assets (HTML, CSS, JS, etc) via Google Drive's Website Hosting."
        },
        "exportLinks": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "defaultOpenWithLink": {
          "type": "string",
          "description": "Output only. A link to open this file with the user's default app for this file. Only populated when the drive.apps.readonly scope is used."
        },
        "isAppAuthorized": {
          "description": "Output only. Whether the file was created or opened by the requesting app.",
          "type": "boolean"
        },
        "webContentLink": {
          "type": "string",
          "description": "Output only. A link for downloading the content of the file in a browser using cookie based authentication. In cases where the content is shared publicly, the content can be downloaded without any credentials."
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this file.",
          "type": "string"
        },
        "thumbnail": {
          "type": "object",
          "description": "A thumbnail for the file. This will only be used if a standard thumbnail cannot be generated.",
          "properties": {
            "mimeType": {
              "type": "string",
              "description": "The MIME type of the thumbnail."
            },
            "image": {
              "description": "The URL-safe Base64 encoded bytes of the thumbnail image. It should conform to RFC 4648 section 5.",
              "format": "byte",
              "type": "string"
            }
          }
        },
        "parents": {
          "description": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of an insert request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list.",
          "type": "array",
          "items": {
            "$ref": "ParentReference"
          }
        },
        "originalFilename": {
          "description": "The original filename of the uploaded content if available, or else the original value of the `title` field. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "teamDriveId": {
          "description": "Output only. Deprecated: Use `driveId` instead.",
          "type": "string",
          "deprecated": true
        },
        "appDataContents": {
          "description": "Output only. Whether this file is in the Application Data folder.",
          "type": "boolean"
        },
        "iconLink": {
          "type": "string",
          "description": "Output only. A link to the file's icon."
        },
        "description": {
          "type": "string",
          "description": "A short description of the file."
        },
        "writersCanShare": {
          "type": "boolean",
          "description": "Whether writers can share the document with other users. Not populated for items in shared drives."
        },
        "driveId": {
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.",
          "type": "string"
        },
        "lastViewedByMeDate": {
          "format": "date-time",
          "description": "Last time this file was viewed by the user (formatted RFC 3339 timestamp).",
          "type": "string"
        },
        "shared": {
          "type": "boolean",
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives."
        },
        "labels": {
          "type": "object",
          "properties": {
            "viewed": {
              "type": "boolean",
              "description": "Whether this file has been viewed by this user."
            },
            "restricted": {
              "description": "Output only. Deprecated: Use `copyRequiresWriterPermission` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "hidden": {
              "description": "Output only. Deprecated.",
              "deprecated": true,
              "type": "boolean"
            },
            "starred": {
              "type": "boolean",
              "description": "Whether this file is starred by the user."
            },
            "trashed": {
              "type": "boolean",
              "description": "Whether this file has been trashed. This label applies to all users accessing the file; however, only owners are allowed to see and untrash files."
            },
            "modified": {
              "description": "Output only. Whether the file has been modified by this user.",
              "type": "boolean"
            }
          },
          "description": "A group of labels for the file."
        },
        "thumbnailLink": {
          "description": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS), consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `Files.thumbnailLink` must be fetched using a credentialed request.",
          "type": "string"
        },
        "contentRestrictions": {
          "items": {
            "$ref": "ContentRestriction"
          },
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists.",
          "type": "array"
        },
        "title": {
          "type": "string",
          "description": "The title of this file. Note that for immutable items such as the top level folders of shared drives, My Drive root folder, and Application Data folder the title is constant."
        },
        "createdDate": {
          "format": "date-time",
          "description": "Create time for this file (formatted RFC 3339 timestamp).",
          "type": "string"
        },
        "shareable": {
          "description": "Output only. Deprecated: Use `capabilities/canShare` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "permissions": {
          "type": "array",
          "description": "Output only. The list of permissions for users with access to this file. Not populated for items in shared drives.",
          "items": {
            "$ref": "Permission"
          }
        },
        "clientEncryptionDetails": {
          "description": "Client Side Encryption related details. Contains details about the encryption state of the file and details regarding the encryption mechanism that clients need to use when decrypting the contents of this item. This will only be present on files and not on folders or shortcuts.",
          "$ref": "ClientEncryptionDetails"
        },
        "etag": {
          "description": "Output only. ETag of the file.",
          "type": "string"
        },
        "owners": {
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "shortcutDetails": {
          "description": "Shortcut file details. Only populated for shortcut files, which have the mimeType field set to `application/vnd.google-apps.shortcut`. Can only be set on `files.insert` requests.",
          "type": "object",
          "properties": {
            "targetResourceKey": {
              "description": "Output only. The ResourceKey for the target file.",
              "type": "string"
            },
            "targetMimeType": {
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created.",
              "type": "string"
            },
            "targetId": {
              "type": "string",
              "description": "The ID of the file that this shortcut points to. Can only be set on `files.insert` requests."
            }
          }
        },
        "fileSize": {
          "description": "Output only. Size in bytes of blobs and first party editor files. Won't be populated for files that have no size, like shortcuts and folders.",
          "type": "string",
          "format": "int64"
        },
        "ownerNames": {
          "type": "array",
          "description": "Output only. Name(s) of the owner(s) of this file. Not populated for items in shared drives.",
          "items": {
            "type": "string"
          }
        },
        "userPermission": {
          "$ref": "Permission",
          "description": "Output only. The permissions for the authenticated user on this file."
        },
        "modifiedByMeDate": {
          "type": "string",
          "description": "Last time this file was modified by the user (formatted RFC 3339 timestamp). Note that setting modifiedDate will also update the modifiedByMe date for the user which set the date.",
          "format": "date-time"
        },
        "openWithLinks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. A map of the id of each of the user's apps to a link to open this file with that app. Only populated when the drive.apps.readonly scope is used."
        },
        "headRevisionId": {
          "description": "Output only. The ID of the file's head revision. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "imageMediaMetadata": {
          "type": "object",
          "properties": {
            "flashUsed": {
              "description": "Output only. Whether a flash was used to create the photo.",
              "type": "boolean"
            },
            "width": {
              "format": "int32",
              "description": "Output only. The width of the image in pixels.",
              "type": "integer"
            },
            "sensor": {
              "description": "Output only. The type of sensor used to create the photo.",
              "type": "string"
            },
            "cameraMake": {
              "type": "string",
              "description": "Output only. The make of the camera used to create the photo."
            },
[...]
