{
  "canonicalName": "Drive Labels",
  "version": "v2",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "resources": {
    "limits": {
      "methods": {
        "getLabel": {
          "path": "v2/limits/label",
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "drivelabels.limits.getLabel",
          "flatPath": "v2/limits/label",
          "description": "Get the constraints on the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2LabelLimits"
          },
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Label revision resource name must be: \"limits/label\".",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ]
        }
      }
    },
    "users": {
      "methods": {
        "getCapabilities": {
          "flatPath": "v2/users/{usersId}/capabilities",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2UserCapabilities"
          },
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^users/[^/]+/capabilities$",
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported.",
              "location": "path",
              "type": "string"
            },
            "customer": {
              "type": "string",
              "description": "The customer to scope this request to. For example: `customers/abcd1234`. If unset, it will return settings within the current customer.",
              "location": "query"
            }
          },
          "description": "Gets the user capabilities.",
          "id": "drivelabels.users.getCapabilities",
          "parameterOrder": [
            "name"
          ],
          "path": "v2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "labels": {
      "resources": {
        "permissions": {
          "methods": {
            "batchDelete": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/labels/{labelsId}/permissions:batchDelete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST",
              "id": "drivelabels.labels.permissions.batchDelete",
              "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "location": "path",
                  "pattern": "^labels/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest"
              },
              "path": "v2/{+parent}/permissions:batchDelete"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/labels/{labelsId}/permissions",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse"
              },
              "id": "drivelabels.labels.permissions.list",
              "description": "Lists a label's permissions.",
              "parameters": {
                "pageToken": {
                  "description": "The token of the page to return.",
                  "location": "query",
                  "type": "string"
                },
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query",
                  "type": "boolean"
                },
                "parent": {
                  "pattern": "^labels/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`.",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                  "location": "query"
                }
              },
              "path": "v2/{+parent}/permissions",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ]
            },
            "create": {
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "httpMethod": "POST",
              "flatPath": "v2/labels/{labelsId}/permissions",
              "id": "drivelabels.labels.permissions.create",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^labels/[^/]+$"
                },
                "useAdminAccess": {
                  "location": "query",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "type": "boolean"
                }
              },
              "path": "v2/{+parent}/permissions",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "batchUpdate": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "flatPath": "v2/labels/{labelsId}/permissions:batchUpdate",
              "path": "v2/{+parent}/permissions:batchUpdate",
              "id": "drivelabels.labels.permissions.batchUpdate",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse"
              },
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^labels/[^/]+$",
                  "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Label permission resource name.",
                  "location": "path",
                  "pattern": "^labels/[^/]+/permissions/.*$"
                },
                "useAdminAccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "flatPath": "v2/labels/{labelsId}/permissions/{permissionsId}",
              "id": "drivelabels.labels.permissions.delete",
              "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE"
            }
          }
        },
        "revisions": {
          "methods": {
            "updatePermissions": {
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "id": "drivelabels.labels.revisions.updatePermissions",
              "httpMethod": "PATCH",
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/permissions",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^labels/[^/]+/revisions/[^/]+$",
                  "description": "Required. The parent label resource name."
                },
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions"
            }
          },
          "resources": {
            "permissions": {
              "methods": {
                "batchUpdate": {
                  "id": "drivelabels.labels.revisions.permissions.batchUpdate",
                  "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse"
                  },
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/permissions:batchUpdate",
                  "parameters": {
                    "parent": {
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field."
                    }
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+/permissions/.*$",
                      "description": "Required. Label permission resource name.",
                      "required": true
                    },
                    "useAdminAccess": {
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions/{permissionsId}",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "httpMethod": "DELETE",
                  "id": "drivelabels.labels.revisions.permissions.delete",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/permissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`.",
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "location": "path"
                    },
                    "useAdminAccess": {
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
                  },
                  "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "id": "drivelabels.labels.revisions.permissions.create",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
                  }
                },
                "batchDelete": {
                  "path": "v2/{+parent}/permissions:batchDelete",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest"
                  },
                  "httpMethod": "POST",
                  "id": "drivelabels.labels.revisions.permissions.batchDelete",
                  "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions:batchDelete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "location": "path",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "path": "v2/{+parent}/permissions",
                  "id": "drivelabels.labels.revisions.permissions.list",
                  "description": "Lists a label's permissions.",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The token of the page to return."
                    },
                    "useAdminAccess": {
                      "type": "boolean",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`.",
                      "location": "path",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse"
                  }
                }
              }
            },
            "locks": {
              "methods": {
                "list": {
                  "path": "v2/{+parent}/locks",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The token of the page to return.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "drivelabels.labels.revisions.locks.list",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/locks",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2ListLabelLocksResponse"
                  },
                  "description": "Lists the label locks on a label."
                }
              }
            }
          }
        },
        "locks": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2ListLabelLocksResponse"
              },
              "id": "drivelabels.labels.locks.list",
              "description": "Lists the label locks on a label.",
              "path": "v2/{+parent}/locks",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/labels/{labelsId}/locks",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "description": "The token of the page to return.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^labels/[^/]+$",
                  "description": "Required. Label on which locks are applied. Format: `labels/{label}`."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                  "location": "query",
                  "format": "int32"
                }
              }
            }
          }
        }
      },
      "methods": {
        "updateLabelCopyMode": {
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest"
          },
          "httpMethod": "POST",
          "id": "drivelabels.labels.updateLabelCopyMode",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/labels/{labelsId}:updateLabelCopyMode",
          "description": "Updates a label's `CopyMode`. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately.",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^labels/[^/]+$",
              "description": "Required. The resource name of the label to update.",
              "location": "path"
            }
          },
          "path": "v2/{+name}:updateLabelCopyMode",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          }
        },
        "create": {
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "description": "Creates a label. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label).",
          "flatPath": "v2/labels",
          "parameters": {
            "languageCode": {
              "type": "string",
              "description": "The BCP-47 language code to use for evaluating localized field labels in response. When not specified, values in the default configured language will be used.",
              "location": "query"
            },
            "useAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Set to `true` in order to use the user's admin privileges. The server will verify the user is an admin before allowing access."
            }
          },
          "parameterOrder": [],
          "path": "v2/labels",
          "id": "drivelabels.labels.create",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          }
        },
        "disable": {
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2DisableLabelRequest"
          },
          "flatPath": "v2/labels/{labelsId}:disable",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Label resource name.",
              "pattern": "^labels/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "path": "v2/{+name}:disable",
          "id": "drivelabels.labels.disable",
          "description": "Disable a published label. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Disabling a label will result in a new disabled published revision based on the current published revision. If there's a draft revision, a new disabled draft revision will be created based on the latest draft revision. Older draft revisions will be deleted. Once disabled, a label may be deleted with `DeleteLabel`.",
          "httpMethod": "POST"
        },
        "delta": {
          "parameters": {
            "name": {
              "description": "Required. The resource name of the label to update.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^labels/[^/]+$"
            }
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest"
          },
          "path": "v2/{+name}:delta",
          "description": "Updates a single label by applying a set of update requests resulting in a new draft revision. For more information, see [Update a label](https://developers.google.com/workspace/drive/labels/guides/update-label). The batch update is all-or-nothing: If any of the update requests are invalid, no changes are applied. The resulting draft revision must be published before the changes may be used with Drive items.",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "id": "drivelabels.labels.delta",
          "flatPath": "v2/labels/{labelsId}:delta",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ]
        },
        "updatePermissions": {
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          },
          "parameterOrder": [
            "parent"
          ],
          "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          },
          "id": "drivelabels.labels.updatePermissions",
          "path": "v2/{+parent}/permissions",
          "parameters": {
            "useAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
            },
            "parent": {
              "type": "string",
              "required": true,
              "pattern": "^labels/[^/]+$",
              "description": "Required. The parent label resource name.",
              "location": "path"
            }
          },
          "flatPath": "v2/labels/{labelsId}/permissions"
        },
        "delete": {
          "description": "Permanently deletes a label and related metadata on Drive items. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Once deleted, the label and related Drive item metadata will be deleted. Only draft labels and disabled labels may be deleted.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "path": "v2/{+name}",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameters": {
            "name": {
              "description": "Required. Label resource name.",
              "type": "string",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true
            },
            "writeControl.requiredRevisionId": {
              "type": "string",
              "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error.",
              "location": "query"
            },
            "useAdminAccess": {
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "flatPath": "v2/labels/{labelsId}",
          "id": "drivelabels.labels.delete"
        },
        "publish": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "path": "v2/{+name}:publish",
          "id": "drivelabels.labels.publish",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2PublishLabelRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "flatPath": "v2/labels/{labelsId}:publish",
          "parameters": {
            "name": {
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Label resource name.",
              "type": "string"
            }
          },
          "description": "Publish all draft changes to the label. Once published, the label may not return to its draft state. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label). Publishing a label will result in a new published revision. All previous draft revisions will be deleted. Previous published revisions will be kept but are subject to automated deletion as needed. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). Once published, some changes are no longer permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label will be rejected. For example, the following changes to a label will be rejected after the label is published: * The label cannot be directly deleted. It must be disabled first, then deleted. * `Field.FieldType` cannot be changed. * Changes to field validation options cannot reject something that was previously accepted. * Reducing the maximum entries."
        },
        "enable": {
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "path": "v2/{+name}:enable",
          "flatPath": "v2/labels/{labelsId}:enable",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Required. Label resource name.",
              "required": true,
              "pattern": "^labels/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "description": "Enable a disabled label and restore it to its published state. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). This will result in a new published revision based on the current disabled published revision. If there's an existing disabled draft revision, a new revision will be created based on that draft and will be enabled.",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2EnableLabelRequest"
          },
          "id": "drivelabels.labels.enable"
        },
        "updateLabelEnabledAppSettings": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest"
          },
          "id": "drivelabels.labels.updateLabelEnabledAppSettings",
          "httpMethod": "POST",
          "description": "Updates a label's `EnabledAppSettings`. Enabling a label in a Google Workspace app allows it to be used in that app. This change isn't revisioned, doesn't require publishing, and takes effect immediately.",
          "flatPath": "v2/labels/{labelsId}:updateLabelEnabledAppSettings",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^labels/[^/]+$",
              "description": "Required. The resource name of the label to update. The resource name of the label to update.",
              "type": "string",
              "required": true
            }
          },
          "path": "v2/{+name}:updateLabelEnabledAppSettings",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "description": "List labels. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label).",
          "path": "v2/labels",
          "parameterOrder": [],
          "flatPath": "v2/labels",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token of the page to return."
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of labels to return per page. Default: 50. Max: 200."
            },
            "customer": {
              "location": "query",
              "description": "The customer to scope this list request to. For example: `customers/abcd1234`. If unset, will return all labels within the current customer.",
              "type": "string"
            },
            "publishedOnly": {
              "description": "Whether to include only published labels in the results. * When `true`, only the current published label revisions are returned. Disabled labels are included. Returned label resource names reference the published revision (`labels/{id}/{revision_id}`). * When `false`, the current label revisions are returned, which might not be published. Returned label resource names don't reference a specific revision (`labels/{id}`).",
              "location": "query",
              "type": "boolean"
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used."
            },
            "minimumRole": {
              "location": "query",
              "type": "string",
              "enum": [
                "LABEL_ROLE_UNSPECIFIED",
                "READER",
                "APPLIER",
                "ORGANIZER",
                "EDITOR"
              ],
              "description": "Specifies the level of access the user must have on the returned labels. The minimum role a user must have on a label. Defaults to `READER`.",
              "enumDescriptions": [
                "Unknown role.",
                "A reader can read the label and associated metadata applied to Drive items.",
                "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
                "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
                "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
              ]
            },
            "useAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Set to `true` in order to use the user's admin credentials. This will return all labels within the customer."
            },
            "view": {
              "location": "query",
              "type": "string",
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ]
            }
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2ListLabelsResponse"
          },
          "id": "drivelabels.labels.list"
        },
        "get": {
          "id": "drivelabels.labels.get",
          "parameters": {
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin credentials. The server verifies that the user is an admin for the label before allowing access.",
              "type": "boolean",
              "location": "query"
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used."
            },
            "view": {
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "type": "string",
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "location": "query"
            },
            "name": {
              "description": "Required. Label resource name. May be any of: * `labels/{id}` (equivalent to labels/{id}@latest) * `labels/{id}@latest` * `labels/{id}@published` * `labels/{id}@{revision_id}`",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^labels/[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "path": "v2/{+name}",
          "flatPath": "v2/labels/{labelsId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "httpMethod": "GET",
          "description": "Get a label by its resource name. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label). Resource name may be any of: * `labels/{id}` - See `labels/{id}@latest` * `labels/{id}@latest` - Gets the latest revision of the label. * `labels/{id}@published` - Gets the current published revision of the label. * `labels/{id}@{revision_id}` - Gets the label at the specified revision ID.",
          "parameterOrder": [
            "name"
          ]
        }
      }
    }
  },
  "schemas": {
    "GoogleAppsDriveLabelsV2FieldListOptions": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldListOptions",
      "properties": {
        "maxEntries": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of entries permitted."
        }
      },
      "description": "Options for a multi-valued variant of an associated field type."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest": {
      "properties": {
        "field": {
          "description": "Required. Field to create.",
          "$ref": "GoogleAppsDriveLabelsV2Field"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest",
      "description": "Request to create a field within a label.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse": {
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse"
          },
          "description": "The reply of the updates. This maps 1:1 with the updates, although responses to some requests may be empty."
        },
        "updatedLabel": {
          "description": "The label after updates were applied. This is only set if `include_label_in_response` is `true` and there were no errors.",
          "$ref": "GoogleAppsDriveLabelsV2Label"
        }
      },
      "description": "Response for label update.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2IntegerLimits": {
      "type": "object",
      "properties": {
        "maxValue": {
          "format": "int64",
          "type": "string",
          "description": "Maximum value for an integer field type."
        },
        "minValue": {
          "format": "int64",
          "description": "Minimum value for an integer field type.",
          "type": "string"
        }
      },
      "description": "Limits for integer field type.",
      "id": "GoogleAppsDriveLabelsV2IntegerLimits"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "type": "object",
      "properties": {},
      "description": "Response following choice disable.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        },
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
          "description": "Required. Field disabled policy."
        },
        "id": {
          "description": "Required. Key of the field to disable.",
          "type": "string"
        }
      },
      "description": "Request to disable the field."
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities": {
      "type": "object",
      "properties": {
        "canSelect": {
          "type": "boolean",
          "description": "Whether the user can select this choice on an item."
        },
        "canSearch": {
          "type": "boolean",
          "description": "Whether the user can use this choice in search queries."
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities",
      "description": "The capabilities related to this choice on applied metadata."
    },
    "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        },
        "labelPermissions": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          },
          "description": "Label permissions.",
          "type": "array"
        }
      },
      "id": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse",
      "description": "Response for listing the permissions on a label.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse",
      "description": "Response following choice enable."
    },
    "GoogleAppsDriveLabelsV2ListLimits": {
      "description": "Limits for list-variant of a field type.",
      "properties": {
        "maxEntries": {
          "type": "integer",
          "description": "Maximum number of values allowed for the field type.",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2ListLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelLockCapabilities": {
      "properties": {
        "canViewPolicy": {
          "description": "True if the user is authorized to view the policy.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A description of a user's capabilities on a label lock.",
      "id": "GoogleAppsDriveLabelsV2LabelLockCapabilities"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "description": "Updates basic properties of a label.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "properties": {
          "description": "Required. Label properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2LabelProperties"
        }
      }
    },
    "GoogleAppsDriveLabelsV2UserCapabilities": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2UserCapabilities",
      "properties": {
        "canCreateSharedLabels": {
          "description": "Output only. Whether the user is allowed to create shared labels.",
          "type": "boolean",
          "readOnly": true
        },
        "canCreateAdminLabels": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the user is allowed to create admin labels."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name for the user capabilities.",
          "type": "string"
        },
        "canAccessLabelManager": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the user is allowed access to the label manager."
        },
        "canAdministrateLabels": {
          "description": "Output only. Whether the user is an administrator for the shared labels feature.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "The capabilities of a user."
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities": {
      "type": "object",
      "description": "The capabilities related to this choice when editing the choice.",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities",
      "properties": {
        "canDelete": {
          "description": "Whether the user can delete this choice.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this choice.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can update this choice.",
          "type": "boolean"
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this choice."
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "description": "Request to change the type of a field.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest",
      "type": "object",
      "properties": {
        "dateOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldDateOptions",
          "description": "Update field to Date."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        },
        "textOptions": {
          "description": "Update field to Text.",
          "$ref": "GoogleAppsDriveLabelsV2FieldTextOptions"
        },
        "selectionOptions": {
          "description": "Update field to Selection.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptions"
        },
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        },
        "integerOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldIntegerOptions",
          "description": "Update field to Integer."
        },
        "userOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldUserOptions",
          "description": "Update field to User."
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "description": "Request to update a choice property.",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        },
        "fieldId": {
          "description": "Required. The selection field to update.",
          "type": "string"
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties",
          "description": "Required. The choice properties to update."
        },
        "id": {
          "description": "Required. The choice to update.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest"
    },
    "GoogleAppsDriveLabelsV2LabelDisplayHints": {
      "description": "The UI display hints for rendering the label.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelDisplayHints",
      "properties": {
        "hiddenInSearch": {
          "description": "This label should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "priority": {
          "type": "string",
          "description": "The order to display labels in a list.",
          "format": "int64"
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This label should be shown in the apply menu when applying values to a Drive item."
        },
        "disabled": {
          "description": "Whether the label should be shown in the UI as disabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2SelectionLimits": {
      "type": "object",
      "properties": {
        "maxChoices": {
          "format": "int32",
          "description": "Maximum number of choices.",
          "type": "integer"
        },
        "maxDisplayNameLength": {
          "format": "int32",
          "description": "Maximum length for display name.",
          "type": "integer"
        },
        "maxDeletedChoices": {
          "format": "int32",
          "description": "Maximum number of deleted choices.",
          "type": "integer"
        },
        "listLimits": {
          "$ref": "GoogleAppsDriveLabelsV2ListLimits",
          "description": "Limits for list-variant of a field type."
        },
        "maxIdLength": {
          "type": "integer",
          "description": "Maximum ID length for a selection option.",
          "format": "int32"
        }
      },
      "description": "Limits for selection field type.",
      "id": "GoogleAppsDriveLabelsV2SelectionLimits"
    },
    "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest",
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "properties": {
        "parent": {
          "description": "Required. The parent label resource name.",
          "type": "string"
        },
        "labelPermission": {
          "$ref": "GoogleAppsDriveLabelsV2LabelPermission",
          "description": "Required. The permission to create or update on the label."
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldLimits": {
      "type": "object",
      "description": "Field constants governing the structure of a field; such as, the maximum title length, minimum and maximum field values or length, etc.",
      "id": "GoogleAppsDriveLabelsV2FieldLimits",
      "properties": {
        "selectionLimits": {
          "description": "Selection field limits.",
          "$ref": "GoogleAppsDriveLabelsV2SelectionLimits"
        },
        "dateLimits": {
          "$ref": "GoogleAppsDriveLabelsV2DateLimits",
          "description": "Date field limits."
        },
        "maxDescriptionLength": {
          "type": "integer",
          "description": "Limits for field description, also called help text.",
          "format": "int32"
        },
        "textLimits": {
          "description": "The relevant limits for the specified Field.Type. Text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2TextLimits"
        },
        "longTextLimits": {
          "description": "Long text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2LongTextLimits"
        },
        "maxDisplayNameLength": {
          "format": "int32",
          "type": "integer",
          "description": "Limits for field title."
        },
        "maxIdLength": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum length for the id."
        },
        "integerLimits": {
          "$ref": "GoogleAppsDriveLabelsV2IntegerLimits",
          "description": "Integer field limits."
        },
        "userLimits": {
          "description": "User field limits.",
          "$ref": "GoogleAppsDriveLabelsV2UserLimits"
        }
      }
    },
    "GoogleAppsDriveLabelsV2BadgeConfig": {
      "type": "object",
      "description": "Badge status of the label.",
      "properties": {
        "color": {
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color.",
          "$ref": "GoogleTypeColor"
        },
        "priorityOverride": {
          "type": "string",
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used.",
          "format": "int64"
        }
      },
      "id": "GoogleAppsDriveLabelsV2BadgeConfig"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse": {
      "description": "Response following field enable.",
      "type": "object",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse"
    },
    "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp",
      "properties": {
        "app": {
          "enum": [
            "APP_UNSPECIFIED",
            "DRIVE",
            "GMAIL"
          ],
          "description": "Optional. The name of the app.",
          "enumDescriptions": [
            "Unspecified",
            "Drive",
            "Gmail"
          ],
          "type": "string"
        }
      },
      "description": "An app where the label can be used."
    },
    "GoogleAppsDriveLabelsV2LabelPermission": {
      "type": "object",
      "properties": {
        "group": {
          "type": "string",
          "description": "Group resource name."
        },
        "person": {
          "description": "Person resource name.",
          "type": "string"
        },
        "audience": {
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of this permission.",
          "type": "string"
        },
        "role": {
          "enumDescriptions": [
            "Unknown role.",
            "A reader can read the label and associated metadata applied to Drive items.",
            "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
            "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
            "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
          ],
          "enum": [
            "LABEL_ROLE_UNSPECIFIED",
            "READER",
            "APPLIER",
            "ORGANIZER",
            "EDITOR"
          ],
          "type": "string",
          "description": "The role the principal should have."
        },
        "email": {
          "description": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2LabelPermission",
      "description": "The permission that applies to a principal (user, group, audience) on a label."
    },
    "GoogleTypeColor": {
      "properties": {
        "alpha": {
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "format": "float",
          "type": "number"
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "green": {
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number"
        },
        "red": {
          "type": "number",
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float"
        }
      },
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "type": "object",
      "id": "GoogleTypeColor"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "description": "Response following update to label properties.",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest"
          },
          "type": "array",
          "description": "Required. The request message specifying the resources to update."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `DeleteLabelPermissionRequest` messages must either be empty or match this field."
        }
      },
      "type": "object",
      "description": "Deletes one or more label permissions.",
      "id": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest"
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      },
      "type": "object",
      "id": "GoogleTypeDate"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
      "type": "object",
      "properties": {
        "priority": {
          "type": "integer",
          "description": "The priority of the updated choice. The priority may change from what was specified to assure contiguous priorities between choices (1-n).",
          "format": "int32"
        }
      },
      "description": "Response following update to selection choice properties."
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice": {
      "description": "Selection field choice.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`.",
          "type": "string"
        },
        "properties": {
          "description": "Basic properties of the choice.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties"
        },
        "schemaCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities",
          "description": "Output only. The capabilities related to this option when editing the option.",
          "readOnly": true
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true,
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled."
        },
        "lifecycle": {
          "description": "Output only. Lifecycle of the choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle"
        },
        "publisher": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published."
        },
        "creator": {
          "description": "Output only. The user who created this choice.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time this choice was updated last.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities",
          "readOnly": true,
          "description": "Output only. The capabilities related to this choice on applied metadata."
        },
        "publishTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published."
        },
        "updater": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who updated this choice last.",
          "readOnly": true
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a choice.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time this choice was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "lockStatus": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LockStatus",
          "description": "Output only. The `LockStatus` of this choice."
        },
        "disableTime": {
          "type": "string",
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse",
      "description": "Response following field disable."
    },
    "GoogleAppsDriveLabelsV2LongTextLimits": {
      "id": "GoogleAppsDriveLabelsV2LongTextLimits",
      "properties": {
        "minLength": {
          "format": "int32",
          "description": "Minimum length allowed for a long text field type.",
          "type": "integer"
        },
        "maxLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum length allowed for a long text field type."
        }
      },
      "type": "object",
      "description": "Limits for long text field type."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest",
      "description": "The set of requests for updating aspects of a label. If any request isn't valid, no requests will be applied.",
      "properties": {
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels when `include_label_in_response` is `true`."
        },
        "requests": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest"
          },
          "type": "array",
          "description": "A list of updates to apply to the label. Requests will be applied in the order they are specified."
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "GoogleAppsDriveLabelsV2WriteControl"
        },
        "view": {
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2ListLabelsResponse": {
      "description": "Response for listing labels.",
      "properties": {
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        },
        "labels": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "description": "Labels.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2ListLabelsResponse"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse",
      "type": "object",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n)."
        },
        "id": {
          "type": "string",
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here."
        }
      },
      "description": "Response following field create."
    },
    "GoogleAppsDriveLabelsV2FieldIntegerOptions": {
      "description": "Options for the Integer field type.",
      "type": "object",
      "properties": {
        "maxValue": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The maximum valid value for the integer field."
        },
        "minValue": {
          "description": "Output only. The minimum valid value for the integer field.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldIntegerOptions"
    },
    "GoogleAppsDriveLabelsV2LockStatus": {
      "id": "GoogleAppsDriveLabelsV2LockStatus",
      "properties": {
        "locked": {
          "description": "Output only. Indicates whether this label component is the (direct) target of a label lock. A label component can be implicitly locked even if it's not the direct target of a label lock, in which case this field is set to false.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Contains information about whether a label component should be considered locked."
    },
    "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy": {
      "id": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
      "type": "object",
      "properties": {
        "hideInSearch": {
          "type": "boolean",
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items."
        },
        "showInApply": {
          "type": "boolean",
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI."
        }
      },
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest",
      "properties": {
        "choice": {
          "description": "Required. The choice to create.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice"
        },
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field in which a choice will be created."
        }
      },
      "type": "object",
      "description": "Request to create a selection choice."
    },
    "GoogleAppsDriveLabelsV2BadgeColors": {
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color.",
      "id": "GoogleAppsDriveLabelsV2BadgeColors",
      "properties": {
        "foregroundColor": {
          "description": "Output only. Badge foreground that pairs with the background.",
          "readOnly": true,
          "$ref": "GoogleTypeColor"
        },
        "backgroundColor": {
          "description": "Output only. Badge background that pairs with the foreground.",
          "$ref": "GoogleTypeColor",
          "readOnly": true
        },
        "soloColor": {
          "description": "Output only. Color that can be used for text without a background.",
          "$ref": "GoogleTypeColor",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldAppliedCapabilities": {
      "description": "The capabilities related to this field on applied metadata.",
      "type": "object",
      "properties": {
        "canSearch": {
          "type": "boolean",
          "description": "Whether the user can search for Drive items referencing this field."
        },
        "canWrite": {
          "type": "boolean",
          "description": "Whether the user can set this field on Drive items."
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldAppliedCapabilities"
    },
    "GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest": {
      "id": "GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest",
      "description": "Deletes a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "properties": {
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "name": {
          "type": "string",
          "description": "Required. Label permission resource name."
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DateLimits": {
      "type": "object",
      "description": "Limits for date field type.",
      "id": "GoogleAppsDriveLabelsV2DateLimits",
      "properties": {
        "maxValue": {
          "description": "Maximum value for the date field type.",
          "$ref": "GoogleTypeDate"
        },
        "minValue": {
          "description": "Minimum value for the date field type.",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
      "description": "Request to update field properties.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The field to update."
        },
        "properties": {
          "description": "Required. Basic field properties.",
          "$ref": "GoogleAppsDriveLabelsV2FieldProperties"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelProperties": {
      "id": "GoogleAppsDriveLabelsV2LabelProperties",
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. Title of the label."
        },
        "description": {
          "description": "The description of the label.",
          "type": "string"
        }
      },
      "description": "Basic properties of the label.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelAppliedCapabilities": {
      "type": "object",
      "properties": {
        "canRemove": {
          "description": "Whether the user can remove this label from items.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read applied metadata related to this label.",
          "type": "boolean"
        },
        "canApply": {
          "description": "Whether the user can apply this label to items.",
          "type": "boolean"
        }
      },
      "description": "The capabilities a user has on this label's applied metadata.",
      "id": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities"
    },
    "GoogleAppsDriveLabelsV2UserLimits": {
      "description": "Limits for Field.Type.USER.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2UserLimits",
      "properties": {
        "listLimits": {
          "description": "Limits for list-variant of a field type.",
          "$ref": "GoogleAppsDriveLabelsV2ListLimits"
        }
      }
    },
    "GoogleAppsDriveLabelsV2WriteControl": {
      "id": "GoogleAppsDriveLabelsV2WriteControl",
      "type": "object",
      "properties": {
        "requiredRevisionId": {
          "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error.",
          "type": "string"
        }
      },
      "description": "Provides control over how write requests are executed. When not specified, the last write wins."
    },
    "GoogleAppsDriveLabelsV2LabelLock": {
      "description": "A lock that can be applied to a label, field, or choice.",
      "type": "object",
      "properties": {
        "capabilities": {
          "$ref": "GoogleAppsDriveLabelsV2LabelLockCapabilities",
          "description": "Output only. The user's capabilities on this label lock.",
          "readOnly": true
        },
        "choiceId": {
          "type": "string",
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present."
        },
        "deleteTime": {
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ],
          "description": "Output only. This label lock's state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ]
        },
        "creator": {
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this label lock."
        },
        "fieldId": {
          "type": "string",
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time this label lock was created.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2LabelLock"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
      "type": "object",
      "description": "Response following update to field properties.",
      "properties": {
        "priority": {
          "description": "The priority of the updated field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "properties": {
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
          "description": "Required. The disabled policy to update."
        },
        "id": {
          "description": "Required. Choice to disable.",
          "type": "string"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "fieldId": {
          "description": "Required. The selection field in which a choice will be disabled.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest",
      "description": "Request to disable a choice.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest": {
      "id": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest",
      "type": "object",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        },
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest"
          },
          "description": "Required. The request message specifying the resources to update."
        }
      },
      "description": "Updates one or more label permissions."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "description": "Request to enable a choice.",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field in which a choice will be enabled."
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to enable."
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest"
    },
    "GoogleAppsDriveLabelsV2TextLimits": {
      "type": "object",
      "properties": {
        "minLength": {
          "description": "Minimum length allowed for a text field type.",
          "type": "integer",
          "format": "int32"
        },
        "maxLength": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum length allowed for a text field type."
        }
      },
      "description": "Limits for text field type.",
      "id": "GoogleAppsDriveLabelsV2TextLimits"
    },
    "GoogleAppsDriveLabelsV2FieldSchemaCapabilities": {
      "description": "The capabilities related to this field when editing the field.",
      "properties": {
        "canUpdate": {
          "description": "Whether the user can change this field.",
          "type": "boolean"
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled."
        },
        "canDelete": {
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldSchemaCapabilities",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelSchemaCapabilities": {
      "type": "object",
      "properties": {
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can change this label."
        },
        "canDelete": {
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled.",
          "type": "boolean"
        },
        "canEnable": {
          "type": "boolean",
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled."
        },
        "canDisable": {
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled.",
          "type": "boolean"
        }
      },
      "description": "The capabilities related to this label when editing the label.",
      "id": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse",
      "description": "Response following selection choice create.",
      "type": "object",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "The server-generated ID of the field."
        },
        "id": {
          "type": "string",
          "description": "The server-generated ID of the created choice within the field."
        }
      }
    },
    "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest": {
      "properties": {
        "useAdminAccess": {
          "type": "boolean",
          "description": "Optional. Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "languageCode": {
          "description": "Optional. The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "enabledAppSettings": {
          "$ref": "GoogleAppsDriveLabelsV2LabelEnabledAppSettings",
          "description": "Required. The new `EnabledAppSettings` value for the label."
        },
        "view": {
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "description": "Optional. When specified, only certain fields belonging to the indicated view will be returned.",
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ]
        }
      },
      "type": "object",
      "description": "Request to update the `EnabledAppSettings` of the given label. This change is not revisioned, doesn't require publishing, and takes effect immediately. \\",
      "id": "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest": {
      "description": "Request to delete the field.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the field to delete."
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelLimits": {
      "id": "GoogleAppsDriveLabelsV2LabelLimits",
      "type": "object",
      "description": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
      "properties": {
        "maxDraftRevisions": {
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts.",
          "type": "integer",
          "format": "int32"
        },
        "maxFields": {
          "format": "int32",
          "description": "The maximum number of fields allowed within the label.",
          "type": "integer"
        },
        "maxDescriptionLength": {
[...]
