{
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        }
      }
    }
  },
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "rootUrl": "https://www.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch/drive/v2",
  "resources": {
    "about": {
      "methods": {
        "get": {
          "response": {
            "$ref": "About"
          },
          "parameters": {
            "maxChangeIdCount": {
              "default": "1",
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Maximum number of remaining change IDs to count"
            },
            "startChangeId": {
              "description": "Change ID to start counting from when calculating number of remaining change IDs",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "includeSubscribed": {
              "default": "true",
              "type": "boolean",
              "location": "query",
              "description": "Whether to count changes outside the My Drive hierarchy. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the `maxChangeIdCount`."
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "about",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.about.get",
          "flatPath": "about",
          "description": "Gets the information about the current user along with Drive API settings"
        }
      }
    },
    "files": {
      "methods": {
        "patch": {
          "request": {
            "$ref": "File"
          },
          "parameters": {
            "enforceSingleParent": {
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "type": "boolean",
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "ocrLanguage": {
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "type": "string",
              "location": "query"
            },
            "timedTextTrackName": {
              "description": "The timed text track name.",
              "type": "string",
              "location": "query"
            },
            "removeParents": {
              "type": "string",
              "description": "Comma-separated list of parent IDs to remove.",
              "location": "query"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file to update.",
              "location": "path",
              "type": "string"
            },
            "useContentAsIndexableText": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to use the content as indexable text.",
              "default": "false"
            },
            "supportsTeamDrives": {
              "location": "query",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "setModifiedDate": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`."
            },
            "timedTextLanguage": {
              "location": "query",
              "description": "The language of the timed text.",
              "type": "string"
            },
            "updateViewedDate": {
              "description": "Whether to update the view date after successfully updating the file.",
              "type": "boolean",
              "location": "query",
              "default": "true"
            },
            "ocr": {
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "modifiedDateBehavior": {
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`.",
              "type": "string",
              "location": "query"
            },
            "convert": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: This parameter has no function."
            },
            "addParents": {
              "type": "string",
              "location": "query",
              "description": "Comma-separated list of parent IDs to add."
            },
            "pinned": {
              "type": "boolean",
              "default": "false",
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions. Note that this field is ignored if there is no payload in the request.",
              "location": "query"
            },
            "newRevision": {
              "default": "true",
              "location": "query",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045). Note that this field is ignored if there is no payload in the request.",
              "type": "boolean"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "File"
          },
          "id": "drive.files.patch",
          "description": "Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might change automatically, such as modifiedDate. This method supports patch semantics.",
          "flatPath": "files/{fileId}",
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ]
        },
        "modifyLabels": {
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "description": "Modifies the set of labels applied to a file. Returns a list of the labels that were added or modified.",
          "request": {
            "$ref": "ModifyLabelsRequest"
          },
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/modifyLabels",
          "parameters": {
            "fileId": {
              "description": "The ID of the file to which the labels belong.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "httpMethod": "POST",
          "id": "drive.files.modifyLabels",
          "flatPath": "files/{fileId}/modifyLabels"
        },
        "list": {
          "id": "drive.files.list",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Page token for files.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
              "minimum": "0",
              "default": "100",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "q": {
              "description": "Query string for searching files.",
              "location": "query",
              "type": "string"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "teamDriveId": {
              "type": "string",
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "deprecated": true
            },
            "corpora": {
              "description": "Bodies of items (files/documents) to which the query applies. Supported bodies are `default`, `domain`, `drive` and `allDrives`. Prefer `default` or `drive` to `allDrives` for efficiency.",
              "location": "query",
              "type": "string"
            },
            "driveId": {
              "description": "ID of the shared drive to search.",
              "type": "string",
              "location": "query"
            },
            "corpus": {
              "deprecated": true,
              "type": "string",
              "location": "query",
              "description": "Deprecated: The body of items (files/documents) to which the query applies. Use `corpora` instead.",
              "enumDescriptions": [
                "The items that the user has accessed.",
                "Items shared to the user's domain."
              ],
              "enum": [
                "DEFAULT",
                "DOMAIN"
              ]
            },
            "orderBy": {
              "location": "query",
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdDate`: When the file was created. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `lastViewedByMeDate`: The last time the file was viewed by the user. * `modifiedByMeDate`: The last time the file was modified by the user. * `modifiedDate`: The last time the file was modified by anyone. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeDate`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `title`: The title of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `title_natural`: The title of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. Each key sorts ascending by default, but can be reversed with the 'desc' modifier. Example usage: `?orderBy=folder,modifiedDate desc,title`. Note that there's a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "type": "string"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true
            },
            "includeItemsFromAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "default": "false"
            },
            "spaces": {
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, and `appDataFolder`.",
              "location": "query",
              "type": "string"
            },
            "projection": {
              "deprecated": true,
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Deprecated: This parameter has no function.",
              "location": "query",
              "type": "string"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "type": "boolean",
              "deprecated": true
            }
          },
          "response": {
            "$ref": "FileList"
          },
          "parameterOrder": [],
          "flatPath": "files",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "path": "files"
        },
        "copy": {
          "parameters": {
            "pinned": {
              "description": "Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "timedTextLanguage": {
              "description": "The language of the timed text.",
              "location": "query",
              "type": "string"
            },
            "ocrLanguage": {
              "description": "If `ocr` is true, hints at the language to use. Valid values are BCP 47 codes.",
              "type": "string",
              "location": "query"
            },
            "timedTextTrackName": {
              "description": "The timed text track name.",
              "type": "string",
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "enforceSingleParent": {
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "visibility": {
              "type": "string",
              "default": "DEFAULT",
              "location": "query",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when the source is not a Google Doc file and when `convert=false`."
            },
            "fileId": {
              "description": "The ID of the file to copy.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "convert": {
              "location": "query",
              "default": "false",
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "type": "boolean"
            },
            "ocr": {
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            }
          },
          "id": "drive.files.copy",
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Creates a copy of the specified file.",
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "request": {
            "$ref": "File"
          },
          "flatPath": "files/{fileId}/copy",
          "path": "files/{fileId}/copy"
        },
        "export": {
          "supportsMediaDownload": true,
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "flatPath": "files/{fileId}/export",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "mimeType": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "Required. The MIME type of the format requested for this export."
            }
          },
          "httpMethod": "GET",
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. Note that the exported content is limited to 10MB.",
          "path": "files/{fileId}/export",
          "id": "drive.files.export"
        },
        "delete": {
          "description": "Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted.",
          "flatPath": "files/{fileId}",
          "parameters": {
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "enforceSingleParent": {
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "location": "query"
            },
            "fileId": {
              "description": "The ID of the file to delete.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            }
          },
          "id": "drive.files.delete",
          "httpMethod": "DELETE",
          "path": "files/{fileId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId"
          ]
        },
        "insert": {
          "request": {
            "$ref": "File"
          },
          "httpMethod": "POST",
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "ocrLanguage": {
              "type": "string",
              "location": "query",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes."
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "useContentAsIndexableText": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether to use the content as indexable text."
            },
            "timedTextTrackName": {
              "type": "string",
              "description": "The timed text track name.",
              "location": "query"
            },
            "ocr": {
              "default": "false",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "location": "query",
              "type": "boolean"
            },
            "timedTextLanguage": {
              "location": "query",
              "description": "The language of the timed text.",
              "type": "string"
            },
            "pinned": {
              "default": "false",
              "type": "boolean",
              "description": "Whether to pin the head revision of the uploaded file. A file can have a maximum of 200 pinned revisions.",
              "location": "query"
            },
            "enforceSingleParent": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "location": "query",
              "default": "false"
            },
            "convert": {
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "visibility": {
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when `convert=false`.",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "location": "query",
              "type": "string",
              "default": "DEFAULT"
            }
          },
          "id": "drive.files.insert",
          "flatPath": "files",
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v2/files"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v2/files"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880"
          },
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files",
          "response": {
            "$ref": "File"
          },
          "parameterOrder": [],
          "description": " Inserts a new file. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with `files.insert` must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `title` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"title\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `title` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the title. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type."
        },
        "trash": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "path": "files/{fileId}/trash",
          "id": "drive.files.trash",
          "description": "Moves a file to the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "parameters": {
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false",
              "type": "boolean"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file to trash.",
              "location": "path",
              "type": "string"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            }
          },
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/trash"
        },
        "touch": {
          "parameters": {
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false",
              "type": "boolean"
            },
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file to update.",
              "location": "path"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "File"
          },
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "id": "drive.files.touch",
          "path": "files/{fileId}/touch",
          "flatPath": "files/{fileId}/touch",
          "description": "Set the file's updated time to the current server time."
        },
        "watch": {
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "updateViewedDate": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body."
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "fileId": {
              "description": "The ID for the file in question.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "projection": {
              "enum": [
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "description": "Deprecated: This parameter has no function.",
              "type": "string",
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "deprecated": true
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "revisionId": {
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "type": "string",
              "location": "query"
            },
            "acknowledgeAbuse": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides."
            }
          },
          "httpMethod": "POST",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "path": "files/{fileId}/watch",
          "id": "drive.files.watch",
          "flatPath": "files/{fileId}/watch",
          "supportsSubscription": true,
          "description": "Subscribes to changes to a file."
        },
        "listLabels": {
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/listLabels",
          "id": "drive.files.listLabels",
          "path": "files/{fileId}/listLabels",
          "description": "Lists the labels on a file.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "maximum": "100",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100.",
              "default": "100",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "description": "The ID for the file.",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response."
            }
          },
          "response": {
            "$ref": "LabelList"
          }
        },
        "untrash": {
          "flatPath": "files/{fileId}/untrash",
          "path": "files/{fileId}/untrash",
          "id": "drive.files.untrash",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "description": "Restores a file from the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "httpMethod": "POST",
          "response": {
            "$ref": "File"
          },
          "parameters": {
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file to untrash.",
              "required": true,
              "location": "path"
            },
            "supportsTeamDrives": {
              "location": "query",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            }
          }
        },
        "generateIds": {
          "response": {
            "$ref": "GeneratedIds"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/generateIds",
          "parameterOrder": [],
          "id": "drive.files.generateIds",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of IDs to return.",
              "location": "query",
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "maximum": "1000",
              "default": "10"
            },
            "space": {
              "default": "drive",
              "location": "query",
              "type": "string",
              "description": "The space in which the IDs can be used to create new files. Supported values are `drive` and `appDataFolder`. (Default: `drive`)"
            },
            "type": {
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`)",
              "default": "files",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Generates a set of file IDs which can be provided in insert or copy requests.",
          "flatPath": "files/generateIds"
        },
        "get": {
          "response": {
            "$ref": "File"
          },
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": " Gets a file's metadata or content by ID. If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v2/files/export) instead. For more information, see [Download & export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).",
          "supportsSubscription": true,
          "flatPath": "files/{fileId}",
          "path": "files/{fileId}",
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID for the file in question.",
              "required": true,
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "acknowledgeAbuse": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides."
            },
            "revisionId": {
              "location": "query",
              "type": "string",
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified."
            },
            "projection": {
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "enum": [
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: This parameter has no function.",
              "type": "string"
            },
            "updateViewedDate": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `files.update` with `modifiedDateBehavior=noChange, updateViewedDate=true` and an empty request body.",
              "deprecated": true,
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "supportsMediaDownload": true,
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.get"
        },
        "emptyTrash": {
          "description": "Permanently deletes all of the user's trashed files.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "files/trash",
          "path": "files/trash",
          "id": "drive.files.emptyTrash",
          "httpMethod": "DELETE",
          "parameters": {
            "driveId": {
              "location": "query",
              "description": "If set, empties the trash of the provided shared drive.",
              "type": "string"
            },
            "enforceSingleParent": {
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean"
            }
          }
        },
        "generateCseToken": {
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "id": "drive.files.generateCseToken",
          "path": "files/generateCseToken",
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "parent": {
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated."
            }
          },
          "httpMethod": "GET",
          "flatPath": "files/generateCseToken",
          "parameterOrder": []
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "flatPath": "files/{fileId}",
          "mediaUpload": {
            "maxSize": "5497558138880",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v2/files/{fileId}"
              },
              "resumable": {
                "path": "/resumable/upload/drive/v2/files/{fileId}",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "httpMethod": "PUT",
          "parameters": {
            "addParents": {
              "location": "query",
              "type": "string",
              "description": "Comma-separated list of parent IDs to add."
            },
            "timedTextTrackName": {
              "location": "query",
              "description": "The timed text track name.",
              "type": "string"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "ocr": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "default": "false"
            },
            "timedTextLanguage": {
              "type": "string",
              "description": "The language of the timed text.",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file to update.",
              "type": "string",
              "required": true
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true
            },
            "newRevision": {
              "default": "true",
              "type": "boolean",
              "location": "query",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045)."
            },
            "convert": {
              "description": "Deprecated: This parameter has no function.",
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "default": "false"
            },
            "updateViewedDate": {
              "default": "true",
              "location": "query",
              "description": "Whether to update the view date after successfully updating the file.",
              "type": "boolean"
            },
            "modifiedDateBehavior": {
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`.",
              "type": "string",
              "location": "query"
            },
            "ocrLanguage": {
              "location": "query",
              "type": "string",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes."
            },
            "removeParents": {
              "type": "string",
              "location": "query",
              "description": "Comma-separated list of parent IDs to remove."
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "pinned": {
              "location": "query",
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.",
              "default": "false",
              "type": "boolean"
            },
            "useContentAsIndexableText": {
              "default": "false",
              "type": "boolean",
              "description": "Whether to use the content as indexable text.",
              "location": "query"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "enforceSingleParent": {
              "type": "boolean",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "default": "false",
              "location": "query",
              "deprecated": true
            },
            "setModifiedDate": {
              "type": "boolean",
              "default": "false",
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "request": {
            "$ref": "File"
          },
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads).",
          "id": "drive.files.update",
          "path": "files/{fileId}",
          "supportsMediaUpload": true,
          "response": {
            "$ref": "File"
          }
        }
      }
    },
    "children": {
      "methods": {
        "get": {
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "response": {
            "$ref": "ChildReference"
          },
          "id": "drive.children.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{folderId}/children/{childId}",
          "description": "Gets a specific child reference.",
          "path": "files/{folderId}/children/{childId}",
          "httpMethod": "GET",
          "parameters": {
            "childId": {
              "required": true,
              "description": "The ID of the child.",
              "location": "path",
              "type": "string"
            },
            "folderId": {
              "type": "string",
              "required": true,
              "description": "The ID of the folder.",
              "location": "path"
            }
          }
        },
        "list": {
          "parameterOrder": [
            "folderId"
          ],
          "path": "files/{folderId}/children",
          "httpMethod": "GET",
          "parameters": {
            "folderId": {
              "required": true,
              "type": "string",
              "description": "The ID of the folder.",
              "location": "path"
            },
            "orderBy": {
              "location": "query",
              "description": "A comma-separated list of sort keys. Valid keys are `createdDate`, `folder`, `lastViewedByMeDate`, `modifiedByMeDate`, `modifiedDate`, `quotaBytesUsed`, `recency`, `sharedWithMeDate`, `starred`, and `title`. Each key sorts ascending by default, but may be reversed with the `desc` modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token for children."
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "minimum": "0",
              "description": "Maximum number of children to return.",
              "type": "integer",
              "default": "100"
            },
            "q": {
              "description": "Query string for searching children.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ChildList"
          },
          "description": "Lists a folder's children.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{folderId}/children",
          "id": "drive.children.list"
        },
        "delete": {
          "flatPath": "files/{folderId}/children/{childId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "childId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the child.",
              "required": true
            },
            "enforceSingleParent": {
              "default": "false",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "type": "boolean",
              "location": "query",
              "deprecated": true
            },
            "folderId": {
              "required": true,
              "description": "The ID of the folder.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Removes a child from a folder.",
          "path": "files/{folderId}/children/{childId}",
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "id": "drive.children.delete"
        },
        "insert": {
          "id": "drive.children.insert",
          "flatPath": "files/{folderId}/children",
          "path": "files/{folderId}/children",
          "parameters": {
            "folderId": {
              "description": "The ID of the folder.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "enforceSingleParent": {
              "deprecated": true,
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            }
          },
          "request": {
            "$ref": "ChildReference"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "folderId"
          ],
          "response": {
            "$ref": "ChildReference"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Inserts a file into a folder."
        }
      }
    },
    "apps": {
      "methods": {
        "get": {
          "id": "drive.apps.get",
          "description": "Gets a specific app.",
          "flatPath": "apps/{appId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "appId": {
              "description": "The ID of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "App"
          },
          "parameterOrder": [
            "appId"
          ],
          "path": "apps/{appId}"
        },
        "list": {
          "path": "apps",
          "flatPath": "apps",
          "id": "drive.apps.list",
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Lists a user's installed apps.",
          "parameters": {
            "appFilterExtensions": {
              "description": "A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists.",
              "default": "",
              "type": "string",
              "location": "query"
            },
            "languageCode": {
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
              "type": "string",
              "location": "query"
            },
            "appFilterMimeTypes": {
              "type": "string",
              "description": "A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists.",
              "location": "query",
              "default": ""
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ],
          "response": {
            "$ref": "AppList"
          }
        }
      }
    },
    "permissions": {
      "methods": {
        "update": {
          "request": {
            "$ref": "Permission"
          },
          "response": {
            "$ref": "Permission"
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameters": {
            "permissionId": {
              "location": "path",
              "description": "The ID for the permission.",
              "required": true,
              "type": "string"
            },
            "enforceExpansiveAccess": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Deprecated: All requests use the expansive access rules.",
              "deprecated": true
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID for the file or shared drive.",
              "location": "path"
            },
            "transferOwnership": {
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "removeExpiration": {
              "description": "Whether to remove the expiration date.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "PUT",
          "description": "Updates a permission. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "id": "drive.permissions.update",
          "flatPath": "files/{fileId}/permissions/{permissionId}"
        },
        "patch": {
          "id": "drive.permissions.patch",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "request": {
            "$ref": "Permission"
          },
          "httpMethod": "PATCH",
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameters": {
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "location": "query"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "enforceExpansiveAccess": {
              "default": "false",
              "location": "query",
              "description": "Deprecated: All requests use the expansive access rules.",
              "deprecated": true,
              "type": "boolean"
            },
            "transferOwnership": {
              "default": "false",
              "type": "boolean",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "location": "query"
            },
            "permissionId": {
              "required": true,
              "location": "path",
              "description": "The ID for the permission.",
              "type": "string"
            },
            "removeExpiration": {
              "default": "false",
              "description": "Whether to remove the expiration date.",
              "location": "query",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Updates a permission using patch semantics. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "response": {
            "$ref": "Permission"
          }
        },
        "list": {
          "path": "files/{fileId}/permissions",
          "httpMethod": "GET",
          "parameters": {
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned.",
              "format": "int32",
              "minimum": "1",
              "maximum": "100",
              "type": "integer"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response."
            }
          },
          "response": {
            "$ref": "PermissionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists a file's or shared drive's permissions.",
          "flatPath": "files/{fileId}/permissions",
          "id": "drive.permissions.list",
          "parameterOrder": [
            "fileId"
          ]
        },
        "get": {
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "permissionId": {
              "description": "The ID for the permission.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "drive.permissions.get",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "description": "Gets a permission by ID.",
          "response": {
            "$ref": "Permission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "permissionId"
          ]
        },
        "getIdForEmail": {
          "parameters": {
            "email": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The email address for which to return a permission ID"
            }
          },
          "httpMethod": "GET",
          "description": "Returns the permission ID for an email address.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "permissionIds/{email}",
          "id": "drive.permissions.getIdForEmail",
          "flatPath": "permissionIds/{email}",
          "response": {
            "$ref": "PermissionId"
          },
          "parameterOrder": [
            "email"
          ]
        },
        "delete": {
          "description": "Deletes a permission from a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "path": "files/{fileId}/permissions/{permissionId}",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "enforceExpansiveAccess": {
              "type": "boolean",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: All requests use the expansive access rules.",
              "default": "false"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            },
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID for the file or shared drive.",
              "location": "path"
            },
            "permissionId": {
              "required": true,
              "type": "string",
              "description": "The ID for the permission.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.permissions.delete"
        },
        "insert": {
          "description": "Inserts a permission for a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "response": {
            "$ref": "Permission"
          },
          "id": "drive.permissions.insert",
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "POST",
          "path": "files/{fileId}/permissions",
          "parameters": {
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "enforceSingleParent": {
              "deprecated": true,
              "description": "Deprecated: See `moveToNewOwnersRoot` for details.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "enforceExpansiveAccess": {
              "description": "Deprecated: All requests use the expansive access rules.",
              "default": "false",
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            },
            "moveToNewOwnersRoot": {
              "default": "false",
              "description": "This parameter will only take effect if the item is not in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item will be moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents are not changed.",
              "location": "query",
              "type": "boolean"
            },
            "sendNotificationEmails": {
              "default": "true",
              "location": "query",
              "type": "boolean",
              "description": "Whether to send notification emails when sharing to users or groups. This parameter is ignored and an email is sent if the `role` is `owner`."
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "type": "boolean"
            },
            "emailMessage": {
              "type": "string",
              "location": "query",
              "description": "A plain text custom message to include in notification emails."
            },
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false",
              "type": "boolean"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID for the file or shared drive.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/permissions",
          "request": {
            "$ref": "Permission"
          }
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "parameterOrder": [],
          "description": "Stops watching resources through this channel.",
          "id": "drive.channels.stop",
          "path": "channels/stop",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "channels/stop",
          "httpMethod": "POST",
          "parameters": {}
        }
      }
    },
    "parents": {
      "methods": {
        "delete": {
          "id": "drive.parents.delete",
          "parameters": {
            "parentId": {
              "location": "path",
              "description": "The ID of the parent.",
              "type": "string",
              "required": true
            },
            "enforceSingleParent": {
              "location": "query",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "deprecated": true,
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE",
          "path": "files/{fileId}/parents/{parentId}",
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "flatPath": "files/{fileId}/parents/{parentId}",
          "description": "Removes a parent from a file."
        },
        "insert": {
          "parameters": {
            "enforceSingleParent": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead."
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query"
            }
          },
          "request": {
            "$ref": "ParentReference"
          },
          "id": "drive.parents.insert",
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/parents",
          "description": "Adds a parent folder for a file.",
          "response": {
            "$ref": "ParentReference"
          },
          "path": "files/{fileId}/parents",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "path": "files/{fileId}/parents/{parentId}",
          "flatPath": "files/{fileId}/parents/{parentId}",
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "id": "drive.parents.get",
          "description": "Gets a specific parent reference.",
          "response": {
            "$ref": "ParentReference"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "parentId": {
              "description": "The ID of the parent.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            }
          }
        },
        "list": {
          "path": "files/{fileId}/parents",
          "response": {
            "$ref": "ParentList"
          },
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "GET",
          "description": "Lists a file's parents.",
          "id": "drive.parents.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/parents",
          "parameterOrder": [
            "fileId"
          ]
        }
      }
    },
    "teamdrives": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "default": "10",
              "minimum": "1",
              "maximum": "100",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of Team Drives to return.",
              "location": "query"
            },
            "q": {
              "description": "Query string for searching Team Drives.",
              "location": "query",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "pageToken": {
              "description": "Page token for Team Drives.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "teamdrives",
          "id": "drive.teamdrives.list",
          "path": "teamdrives",
          "response": {
            "$ref": "TeamDriveList"
          },
          "description": "Deprecated: Use `drives.list` instead."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "teamdrives/{teamDriveId}",
          "response": {
            "$ref": "TeamDrive"
          },
          "parameters": {
            "teamDriveId": {
              "type": "string",
              "description": "The ID of the Team Drive",
              "required": true,
              "location": "path"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs."
            }
          },
          "httpMethod": "PUT",
          "id": "drive.teamdrives.update",
          "request": {
            "$ref": "TeamDrive"
          },
          "flatPath": "teamdrives/{teamDriveId}",
          "parameterOrder": [
            "teamDriveId"
          ],
          "description": "Deprecated: Use `drives.update` instead."
        },
        "get": {
          "parameterOrder": [
            "teamDriveId"
          ],
          "description": "Deprecated: Use `drives.get` instead.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "teamdrives/{teamDriveId}",
          "path": "teamdrives/{teamDriveId}",
          "id": "drive.teamdrives.get",
          "parameters": {
            "teamDriveId": {
              "required": true,
              "type": "string",
              "description": "The ID of the Team Drive",
              "location": "path"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "TeamDrive"
          }
        },
        "delete": {
          "id": "drive.teamdrives.delete",
          "path": "teamdrives/{teamDriveId}",
          "flatPath": "teamdrives/{teamDriveId}",
          "description": "Deprecated: Use `drives.delete` instead.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "teamDriveId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the Team Drive",
              "required": true
            }
          },
          "parameterOrder": [
            "teamDriveId"
          ],
          "httpMethod": "DELETE"
        },
        "insert": {
          "description": "Deprecated: Use `drives.insert` instead.",
          "response": {
            "$ref": "TeamDrive"
          },
          "request": {
            "$ref": "TeamDrive"
          },
          "id": "drive.teamdrives.insert",
          "parameterOrder": [
            "requestId"
          ],
          "path": "teamdrives",
          "scopes": [
[...]
