{
  "fullyEncodeReservedExpansion": true,
  "name": "driveactivity",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://driveactivity.googleapis.com/",
  "revision": "20261006",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "flatPath": "v2/activity:query",
          "id": "driveactivity.activity.query",
          "path": "v2/activity:query",
          "description": "Query past activity in Google Drive.",
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": []
        }
      }
    }
  },
  "description": "Provides a historical view of activity in Google Drive.",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "title": "Drive Activity API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "basePath": "",
  "version": "v2",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "canonicalName": "Drive Activity",
  "ownerDomain": "google.com",
  "version_module": true,
  "batchPath": "batch",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        }
      }
    }
  },
  "schemas": {
    "Restore": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ],
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "description": "The type of restore action taken.",
          "type": "string"
        }
      },
      "description": "A deleted object was restored.",
      "type": "object",
      "id": "Restore"
    },
    "DeletedUser": {
      "description": "A user whose account has since been deleted.",
      "id": "DeletedUser",
      "type": "object",
      "properties": {}
    },
    "Comment": {
      "description": "A change about comments on an object.",
      "properties": {
        "mentionedUsers": {
          "items": {
            "$ref": "User"
          },
          "description": "Users who are mentioned in this comment.",
          "type": "array"
        },
        "assignment": {
          "description": "A change on an assignment.",
          "$ref": "Assignment"
        },
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        },
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        }
      },
      "id": "Comment",
      "type": "object"
    },
    "Copy": {
      "description": "An object was created by copying an existing object.",
      "properties": {
        "originalObject": {
          "$ref": "TargetReference",
          "description": "The original object."
        }
      },
      "id": "Copy",
      "type": "object"
    },
    "DriveFolder": {
      "description": "A Drive item which is a folder.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of Drive folder.",
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      },
      "id": "DriveFolder"
    },
    "ActionDetail": {
      "type": "object",
      "properties": {
        "settingsChange": {
          "$ref": "SettingsChange",
          "description": "Settings were changed."
        },
        "edit": {
          "$ref": "Edit",
          "description": "An object was edited."
        },
        "move": {
          "$ref": "Move",
          "description": "An object was moved."
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "delete": {
          "description": "An object was deleted.",
          "$ref": "Delete"
        },
        "restore": {
          "description": "A deleted object was restored.",
          "$ref": "Restore"
        },
        "permissionChange": {
          "description": "The permission on an object was changed.",
          "$ref": "PermissionChange"
        },
        "appliedLabelChange": {
          "$ref": "AppliedLabelChange",
          "description": "Label was changed."
        },
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        },
        "create": {
          "description": "An object was created.",
          "$ref": "Create"
        },
        "rename": {
          "description": "An object was renamed.",
          "$ref": "Rename"
        },
        "dlpChange": {
          "description": "A change happened in data leak prevention status.",
          "$ref": "DataLeakPreventionChange"
        }
      },
      "id": "ActionDetail",
      "description": "Data describing the type and additional information of an action."
    },
    "ConsolidationStrategy": {
      "properties": {
        "none": {
          "description": "The individual activities are not consolidated.",
          "$ref": "NoConsolidation"
        },
        "legacy": {
          "$ref": "Legacy",
          "description": "The individual activities are consolidated using the legacy strategy."
        }
      },
      "id": "ConsolidationStrategy",
      "type": "object",
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related."
    },
    "File": {
      "deprecated": true,
      "properties": {},
      "type": "object",
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "id": "File"
    },
    "AppliedLabelChangeDetail": {
      "type": "object",
      "description": "A change made to a Label on the Target.",
      "properties": {
        "fieldChanges": {
          "items": {
            "$ref": "FieldValueChange"
          },
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.",
          "type": "array"
        },
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        },
        "types": {
          "type": "array",
          "description": "The types of changes made to the Label on the Target.",
          "items": {
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ],
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "type": "string"
          }
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        }
      },
      "id": "AppliedLabelChangeDetail"
    },
    "Permission": {
      "description": "The permission setting of an object.",
      "id": "Permission",
      "properties": {
        "domain": {
          "description": "The domain to whom this permission applies.",
          "$ref": "Domain"
        },
        "role": {
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "type": "string",
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ]
        },
        "user": {
          "$ref": "User",
          "description": "The user to whom this permission applies."
        },
        "group": {
          "description": "The group to whom this permission applies.",
          "$ref": "Group"
        },
        "allowDiscovery": {
          "type": "boolean",
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item."
        },
        "anyone": {
          "description": "If set, this permission applies to anyone, even logged out users.",
          "$ref": "Anyone"
        }
      },
      "type": "object"
    },
    "TimeRange": {
      "properties": {
        "endTime": {
          "description": "The end of the time range.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start of the time range."
        }
      },
      "id": "TimeRange",
      "description": "Information about time ranges.",
      "type": "object"
    },
    "Actor": {
      "description": "The actor of a Drive activity.",
      "properties": {
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        },
        "system": {
          "description": "A non-user actor (i.e. system triggered).",
          "$ref": "SystemEvent"
        },
        "impersonation": {
          "$ref": "Impersonation",
          "description": "An account acting on behalf of another."
        },
        "user": {
          "$ref": "User",
          "description": "An end user."
        },
        "administrator": {
          "$ref": "Administrator",
          "description": "An administrator."
        }
      },
      "type": "object",
      "id": "Actor"
    },
    "DriveItemReference": {
      "type": "object",
      "id": "DriveItemReference",
      "properties": {
        "driveFolder": {
          "$ref": "DriveFolder",
          "description": "The Drive item is a folder. Includes information about the type of folder."
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "file": {
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true
        },
        "title": {
          "type": "string",
          "description": "The title of the Drive item."
        },
        "folder": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder"
        }
      },
      "description": "A lightweight reference to a Drive item, such as a file or folder."
    },
    "QueryDriveActivityRequest": {
      "id": "QueryDriveActivityRequest",
      "description": "The request message for querying Drive activity.",
      "properties": {
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "type": "integer"
        },
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        },
        "itemName": {
          "type": "string",
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`."
        },
        "pageToken": {
          "type": "string",
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned."
        }
      },
      "type": "object"
    },
    "Suggestion": {
      "id": "Suggestion",
      "type": "object",
      "properties": {
        "subtype": {
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "description": "The sub-type of this event."
        }
      },
      "description": "A suggestion."
    },
    "QueryDriveActivityResponse": {
      "description": "Response message for querying Drive activity.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "activities": {
          "description": "List of activity requested.",
          "items": {
            "$ref": "DriveActivity"
          },
          "type": "array"
        }
      },
      "id": "QueryDriveActivityResponse",
      "type": "object"
    },
    "FieldValue": {
      "type": "object",
      "description": "Contains a value of a Field.",
      "id": "FieldValue",
      "properties": {
        "textList": {
          "description": "Text List Field value.",
          "$ref": "TextList"
        },
        "date": {
          "$ref": "Date",
          "description": "Date Field value."
        },
        "userList": {
          "description": "User List Field value.",
          "$ref": "UserList"
        },
        "selection": {
          "$ref": "Selection",
          "description": "Selection Field value."
        },
        "integer": {
          "description": "Integer Field value.",
          "$ref": "Integer"
        },
        "selectionList": {
          "description": "Selection List Field value.",
          "$ref": "SelectionList"
        },
        "user": {
          "description": "User Field value.",
          "$ref": "SingleUser"
        },
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        }
      }
    },
    "Edit": {
      "properties": {},
      "description": "An empty message indicating an object was edited.",
      "type": "object",
      "id": "Edit"
    },
    "Text": {
      "type": "object",
      "id": "Text",
      "description": "Wrapper for Text Field value.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of Text Field."
        }
      }
    },
    "Target": {
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "properties": {
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        },
        "teamDrive": {
          "$ref": "TeamDrive",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        },
        "drive": {
          "$ref": "Drive",
          "description": "The target is a shared drive."
        }
      },
      "id": "Target",
      "type": "object"
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "deprecated": true,
      "description": "This item is deprecated; please see `Drive` instead.",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.title` instead."
        },
        "root": {
          "description": "This field is deprecated; please see `Drive.root` instead.",
          "$ref": "DriveItem"
        },
        "name": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.name` instead."
        }
      }
    },
    "Rename": {
      "type": "object",
      "properties": {
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        },
        "newTitle": {
          "description": "The new title of the drive object.",
          "type": "string"
        }
      },
      "id": "Rename",
      "description": "An object was renamed."
    },
    "Assignment": {
      "id": "Assignment",
      "description": "A comment with an assignment.",
      "type": "object",
      "properties": {
        "assignedUser": {
          "$ref": "User",
          "description": "The user to whom the comment was assigned."
        },
        "subtype": {
          "type": "string",
          "description": "The sub-type of this event.",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ]
        }
      }
    },
    "DriveFile": {
      "description": "A Drive item which is a file.",
      "type": "object",
      "properties": {},
      "id": "DriveFile"
    },
    "NoConsolidation": {
      "type": "object",
      "id": "NoConsolidation",
      "properties": {},
      "description": "A strategy that does no consolidation of individual activities."
    },
    "AppliedLabelChange": {
      "properties": {
        "changes": {
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "type": "array",
          "description": "Changes that were made to the Label on the Target."
        }
      },
      "id": "AppliedLabelChange",
      "type": "object",
      "description": "Label changes that were made on the Target."
    },
    "PermissionChange": {
      "description": "A change of the permission setting on an item.",
      "properties": {
        "removedPermissions": {
          "description": "The set of permissions removed by this change.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        },
        "addedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions added by this change.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "PermissionChange"
    },
    "TargetReference": {
      "description": "A lightweight reference to the target of activity.",
      "id": "TargetReference",
      "properties": {
        "drive": {
          "$ref": "DriveReference",
          "description": "The target is a shared drive."
        },
        "driveItem": {
          "$ref": "DriveItemReference",
          "description": "The target is a Drive item."
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "DriveActivity": {
      "id": "DriveActivity",
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "type": "object",
      "properties": {
        "timeRange": {
          "description": "The activity occurred over this time range.",
          "$ref": "TimeRange"
        },
        "timestamp": {
          "type": "string",
          "description": "The activity occurred at this specific time.",
          "format": "google-datetime"
        },
        "targets": {
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "actors": {
          "type": "array",
          "items": {
            "$ref": "Actor"
          },
          "description": "All actor(s) responsible for the activity."
        },
        "primaryActionDetail": {
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.",
          "$ref": "ActionDetail"
        },
        "actions": {
          "type": "array",
          "description": "Details on all actions in this activity.",
          "items": {
            "$ref": "Action"
          }
        }
      }
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "description": "Wrapper for Date Field value.",
      "properties": {
        "value": {
          "format": "google-datetime",
          "description": "Date value.",
          "type": "string"
        }
      }
    },
    "FieldValueChange": {
      "type": "object",
      "id": "FieldValueChange",
      "description": "Change to a Field value.",
      "properties": {
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        },
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        },
        "newValue": {
          "$ref": "FieldValue",
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set."
        },
        "oldValue": {
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        }
      }
    },
    "Delete": {
      "description": "An object was deleted.",
      "id": "Delete",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "description": "The type of delete action taken.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ]
        }
      }
    },
    "Impersonation": {
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "properties": {
        "impersonatedUser": {
          "description": "The impersonated user.",
          "$ref": "User"
        }
      },
      "id": "Impersonation",
      "type": "object"
    },
    "AnonymousUser": {
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "type": "object",
      "properties": {},
      "id": "AnonymousUser"
    },
    "New": {
      "description": "An object was created from scratch.",
      "properties": {},
      "type": "object",
      "id": "New"
    },
    "Group": {
      "id": "Group",
      "properties": {
        "email": {
          "description": "The email address of the group.",
          "type": "string"
        },
        "title": {
          "description": "The title of the group.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about a group."
    },
    "Legacy": {
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "properties": {},
      "id": "Legacy",
      "type": "object"
    },
    "Integer": {
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "Integer value."
        }
      },
      "description": "Wrapper for Integer Field value.",
      "type": "object",
      "id": "Integer"
    },
    "Action": {
      "type": "object",
      "id": "Action",
      "properties": {
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        },
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        },
        "timestamp": {
          "description": "The action occurred at this specific time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Information about the action."
    },
    "Owner": {
      "id": "Owner",
      "properties": {
        "drive": {
          "$ref": "DriveReference",
          "description": "The drive that owns the item."
        },
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        },
        "teamDrive": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference"
        },
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        }
      },
      "description": "Information about the owner of a Drive item.",
      "type": "object"
    },
    "DriveItem": {
      "description": "A Drive item, such as a file or folder.",
      "properties": {
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true,
          "$ref": "File"
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "owner": {
          "$ref": "Owner",
          "description": "Information about the owner of this Drive item."
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true,
          "$ref": "Folder"
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types."
        }
      },
      "id": "DriveItem",
      "type": "object"
    },
    "Upload": {
      "id": "Upload",
      "description": "An object was uploaded into Drive.",
      "type": "object",
      "properties": {}
    },
    "Create": {
      "id": "Create",
      "type": "object",
      "properties": {
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        },
        "upload": {
          "$ref": "Upload",
          "description": "If present, indicates the object originated externally and was uploaded to Drive."
        },
        "new": {
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.",
          "$ref": "New"
        }
      },
      "description": "An object was created."
    },
    "TextList": {
      "description": "Wrapper for Text List Field value.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Text"
          },
          "description": "Text values."
        }
      },
      "type": "object",
      "id": "TextList"
    },
    "Move": {
      "type": "object",
      "id": "Move",
      "description": "An object was moved.",
      "properties": {
        "addedParents": {
          "items": {
            "$ref": "TargetReference"
          },
          "description": "The added parent object(s).",
          "type": "array"
        },
        "removedParents": {
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          },
          "description": "The removed parent object(s)."
        }
      }
    },
    "User": {
      "properties": {
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "unknownUser": {
          "description": "A user about whom nothing is currently known.",
          "$ref": "UnknownUser"
        },
        "knownUser": {
          "$ref": "KnownUser",
          "description": "A known user."
        }
      },
      "id": "User",
      "type": "object",
      "description": "Information about an end user."
    },
    "FileComment": {
      "properties": {
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        },
        "legacyCommentId": {
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "legacyDiscussionId": {
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        }
      },
      "description": "A comment on a file.",
      "id": "FileComment",
      "type": "object"
    },
    "UserList": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "SingleUser"
          },
          "description": "User values."
        }
      },
      "description": "Wrapper for UserList Field value.",
      "id": "UserList"
    },
    "Domain": {
      "type": "object",
      "description": "Information about a domain.",
      "properties": {
        "name": {
          "description": "The name of the domain, e.g. `google.com`.",
          "type": "string"
        },
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        }
      },
      "id": "Domain"
    },
    "TeamDriveReference": {
      "deprecated": true,
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "id": "TeamDriveReference",
      "type": "object",
      "properties": {
        "title": {
          "description": "This field is deprecated; please see `DriveReference.title` instead.",
          "type": "string"
        },
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        }
      }
    },
    "DriveReference": {
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      },
      "description": "A lightweight reference to a shared drive.",
      "id": "DriveReference",
      "type": "object"
    },
    "Folder": {
      "type": "object",
      "deprecated": true,
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "properties": {
        "type": {
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ]
        }
      },
      "id": "Folder"
    },
    "Anyone": {
      "properties": {},
      "description": "Represents any user (including a logged out user).",
      "type": "object",
      "id": "Anyone"
    },
    "SettingsChange": {
      "id": "SettingsChange",
      "properties": {
        "restrictionChanges": {
          "description": "The set of changes made to restrictions.",
          "type": "array",
          "items": {
            "$ref": "RestrictionChange"
          }
        }
      },
      "type": "object",
      "description": "Information about settings changes."
    },
    "DataLeakPreventionChange": {
      "description": "A change in the object's data leak prevention status.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "type": "string",
          "description": "The type of Data Leak Prevention (DLP) change."
        }
      },
      "id": "DataLeakPreventionChange",
      "type": "object"
    },
    "SelectionList": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Selection"
          },
          "description": "Selection values."
        }
      },
      "description": "Wrapper for SelectionList Field value.",
      "type": "object",
      "id": "SelectionList"
    },
    "RestrictionChange": {
      "description": "Information about restriction policy changes to a feature.",
      "type": "object",
      "id": "RestrictionChange",
      "properties": {
        "feature": {
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ],
          "type": "string",
          "description": "The feature which had a change in restriction policy.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ]
        },
        "newRestriction": {
          "type": "string",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "description": "The restriction in place after the change.",
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ]
        }
      }
    },
    "Drive": {
      "type": "object",
      "id": "Drive",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        },
        "root": {
          "$ref": "DriveItem",
          "description": "The root of this shared drive."
        }
      },
      "description": "Information about a shared drive."
    },
    "SystemEvent": {
      "id": "SystemEvent",
      "description": "Event triggered by system operations instead of end users.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "description": "The type of the system event that may triggered activity.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ]
        }
      },
      "type": "object"
    },
    "Selection": {
      "type": "object",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "id": "Selection",
      "properties": {
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Selection value as Field Choice ID."
        }
      }
    },
    "ApplicationReference": {
      "id": "ApplicationReference",
      "type": "object",
      "description": "Activity in applications other than Drive.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The reference type corresponding to this event.",
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ]
        }
      }
    },
    "Post": {
      "id": "Post",
      "description": "A regular posted comment.",
      "type": "object",
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "type": "string",
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ]
        }
      }
    },
    "KnownUser": {
      "properties": {
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        },
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        }
      },
      "description": "A known user.",
      "id": "KnownUser",
      "type": "object"
    },
    "SingleUser": {
      "description": "Wrapper for User Field value.",
      "type": "object",
      "id": "SingleUser",
      "properties": {
        "value": {
          "type": "string",
          "description": "User value as email."
        }
      }
    },
    "Administrator": {
      "id": "Administrator",
      "description": "Empty message representing an administrator.",
      "properties": {},
      "type": "object"
    },
    "UnknownUser": {
      "description": "A user about whom nothing is currently known.",
      "properties": {},
      "id": "UnknownUser",
      "type": "object"
    }
  },
  "id": "driveactivity:v2"
}
