{
  "rootUrl": "https://forms.googleapis.com/",
  "description": "Reads and writes Google Forms and responses.",
  "ownerDomain": "google.com",
  "id": "forms:v1",
  "revision": "20260927",
  "baseUrl": "https://forms.googleapis.com/",
  "name": "forms",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/forms.responses.readonly": {
          "description": "See all responses to your Google Forms forms"
        },
        "https://www.googleapis.com/auth/forms.body.readonly": {
          "description": "See all your Google Forms forms"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/forms.body": {
          "description": "See, edit, create, and delete all your Google Forms forms"
        }
      }
    }
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://forms.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    }
  },
  "protocol": "rest",
  "basePath": "",
  "schemas": {
    "CreateWatchRequest": {
      "description": "Create a new watch.",
      "properties": {
        "watchId": {
          "description": "The ID to use for the watch. If specified, the ID must not already be in use. If not specified, an ID is generated. This value should be 4-63 characters, and valid characters are /a-z-/.",
          "type": "string"
        },
        "watch": {
          "$ref": "Watch",
          "description": "Required. The watch object. No ID should be set on this object; use `watch_id` instead."
        }
      },
      "type": "object",
      "id": "CreateWatchRequest"
    },
    "ListWatchesResponse": {
      "description": "The response of a ListWatchesRequest.",
      "properties": {
        "watches": {
          "description": "The returned watches.",
          "type": "array",
          "items": {
            "$ref": "Watch"
          }
        }
      },
      "type": "object",
      "id": "ListWatchesResponse"
    },
    "ListFormResponsesResponse": {
      "type": "object",
      "properties": {
        "responses": {
          "items": {
            "$ref": "FormResponse"
          },
          "type": "array",
          "description": "The returned form responses. Note: The `formId` field is not returned in the `FormResponse` object for list requests."
        },
        "nextPageToken": {
          "description": "If set, there are more responses. To get the next page of responses, provide this as `page_token` in a future request.",
          "type": "string"
        }
      },
      "id": "ListFormResponsesResponse",
      "description": "Response to a ListFormResponsesRequest."
    },
    "TextItem": {
      "id": "TextItem",
      "type": "object",
      "description": "A text item.",
      "properties": {}
    },
    "Watch": {
      "id": "Watch",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of when this was created.",
          "format": "google-datetime"
        },
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "SCHEMA",
            "RESPONSES"
          ],
          "enumDescriptions": [
            "Unspecified event type. This value should not be used.",
            "The schema event type. A watch with this event type will be notified about changes to form content and settings.",
            "The responses event type. A watch with this event type will be notified when form responses are submitted."
          ],
          "description": "Required. Which event type to watch for.",
          "type": "string"
        },
        "errorType": {
          "type": "string",
          "description": "Output only. The most recent error type for an attempted delivery. To begin watching the form again a call can be made to watches.renew which also clears this error information.",
          "readOnly": true,
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "PROJECT_NOT_AUTHORIZED",
            "NO_USER_ACCESS",
            "OTHER_ERRORS"
          ],
          "enumDescriptions": [
            "Unspecified error type.",
            "The cloud project does not have access to the form being watched. This occurs if the user has revoked the authorization for your project to access their form(s). Watches with this error will not be retried. To attempt to begin watching the form again a call can be made to watches.renew",
            "The user that granted access no longer has access to the form being watched. Watches with this error will not be retried. To attempt to begin watching the form again a call can be made to watches.renew",
            "Another type of error has occurred. Whether notifications will continue depends on the watch state."
          ]
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The ID of this watch. See notes on CreateWatchRequest.watch_id.",
          "type": "string"
        },
        "target": {
          "description": "Required. Where to send the notification.",
          "$ref": "WatchTarget"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Watch is active.",
            "The watch is suspended due to an error that may be resolved. The watch will continue to exist until it expires. To attempt to reactivate the watch a call can be made to watches.renew"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ],
          "description": "Output only. The current state of the watch. Additional details about suspended watches can be found by checking the `error_type`."
        },
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp for when this will expire. Each watches.renew call resets this to seven days in the future."
        }
      },
      "type": "object",
      "description": "A watch for events for a form. When the designated event happens, a notification will be published to the specified target. The notification's attributes will include a `formId` key that has the ID of the watched form and an `eventType` key that has the string of the type. Messages are sent with at-least-once delivery and are only dropped in extraordinary circumstances. Typically all notifications should be reliably delivered within a few seconds; however, in some situations notifications may be delayed. A watch expires seven days after it is created unless it is renewed with watches.renew"
    },
    "QuizSettings": {
      "properties": {
        "isQuiz": {
          "type": "boolean",
          "description": "Whether this form is a quiz or not. When true, responses are graded based on question Grading. Upon setting to false, all question Grading is deleted."
        }
      },
      "type": "object",
      "id": "QuizSettings",
      "description": "Settings related to quiz forms and grading. These must be updated with the UpdateSettingsRequest."
    },
    "PublishState": {
      "description": "The publishing state of a form.",
      "properties": {
        "isPublished": {
          "description": "Required. Whether the form is published and visible to others.",
          "type": "boolean"
        },
        "isAcceptingResponses": {
          "type": "boolean",
          "description": "Required. Whether the form accepts responses. If `is_published` is set to `false`, this field is forced to `false`."
        }
      },
      "id": "PublishState",
      "type": "object"
    },
    "TextLink": {
      "description": "Link for text.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The URI."
        },
        "displayText": {
          "type": "string",
          "description": "Required. Display text for the URI."
        }
      },
      "type": "object",
      "id": "TextLink"
    },
    "FileUploadAnswer": {
      "description": "Info for a single file submitted to a file upload question.",
      "id": "FileUploadAnswer",
      "type": "object",
      "properties": {
        "fileId": {
          "description": "Output only. The ID of the Google Drive file.",
          "readOnly": true,
          "type": "string"
        },
        "fileName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The file name, as stored in Google Drive on upload."
        },
        "mimeType": {
          "description": "Output only. The MIME type of the file, as stored in Google Drive on upload.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Form": {
      "type": "object",
      "description": "A Google Forms document. A form is created in Drive, and deleting a form or changing its access protections is done via the [Drive API](https://developers.google.com/drive/api/v3/about-sdk).",
      "id": "Form",
      "properties": {
        "formId": {
          "description": "Output only. The form ID.",
          "readOnly": true,
          "type": "string"
        },
        "settings": {
          "$ref": "FormSettings",
          "description": "The form's settings. This must be updated with UpdateSettingsRequest; it is ignored during CreateForm and UpdateFormInfoRequest."
        },
        "info": {
          "description": "Required. The title and description of the form.",
          "$ref": "Info"
        },
        "items": {
          "items": {
            "$ref": "Item"
          },
          "type": "array",
          "description": "Required. A list of the form's items, which can include section headers, questions, embedded media, etc."
        },
        "revisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The revision ID of the form. Used in the WriteControl in update requests to identify the revision on which the changes are based. The format of the revision ID may change over time, so it should be treated opaquely. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the form *content* has not changed. Conversely, a changed ID (for the same form and user) usually means the form *content* has been updated; however, a changed ID can also be due to internal factors such as ID format changes. Form content excludes form metadata, including: * sharing settings (who has access to the form) * publish_settings (if the form supports publishing and if it is published)"
        },
        "responderUri": {
          "description": "Output only. The form URI to share with responders. This opens a page that allows the user to submit responses but not edit the questions. For forms that have publish_settings value set, this is the published form URI.",
          "readOnly": true,
          "type": "string"
        },
        "linkedSheetId": {
          "description": "Output only. The ID of the linked Google Sheet which is accumulating responses from this Form (if such a Sheet exists).",
          "type": "string",
          "readOnly": true
        },
        "publishSettings": {
          "description": "Output only. The publishing settings for a form. This field isn't set for legacy forms because they don't have the publish_settings field. All newly created forms support publish settings. Forms with publish_settings value set can call SetPublishSettings API to publish or unpublish the form.",
          "readOnly": true,
          "$ref": "PublishSettings"
        }
      }
    },
    "Grade": {
      "properties": {
        "score": {
          "format": "double",
          "type": "number",
          "readOnly": true,
          "description": "Output only. The numeric score awarded for the answer."
        },
        "correct": {
          "readOnly": true,
          "description": "Output only. Whether the question was answered correctly or not. A zero-point score is not enough to infer incorrectness, since a correctly answered question could be worth zero points.",
          "type": "boolean"
        },
        "feedback": {
          "$ref": "Feedback",
          "readOnly": true,
          "description": "Output only. Additional feedback given for an answer."
        }
      },
      "id": "Grade",
      "description": "Grade information associated with a respondent's answer to a question.",
      "type": "object"
    },
    "UpdateFormInfoRequest": {
      "description": "Update Form's Info.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. Only values named in this mask are changed. At least one field must be specified. The root `info` is implied and should not be specified. A single `\"*\"` can be used as short-hand for updating every field."
        },
        "info": {
          "$ref": "Info",
          "description": "The info to update."
        }
      },
      "id": "UpdateFormInfoRequest",
      "type": "object"
    },
    "Info": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. The title of the form which is visible to responders."
        },
        "description": {
          "type": "string",
          "description": "The description of the form."
        },
        "documentTitle": {
          "type": "string",
          "description": "Output only. The title of the document which is visible in Drive. If Info.title is empty, `document_title` may appear in its place in the Google Forms UI and be visible to responders. `document_title` can be set on create, but cannot be modified by a batchUpdate request. Please use the [Google Drive API](https://developers.google.com/drive/api/v3/reference/files/update) if you need to programmatically update `document_title`.",
          "readOnly": true
        }
      },
      "id": "Info",
      "description": "The general information for a form.",
      "type": "object"
    },
    "DateQuestion": {
      "type": "object",
      "properties": {
        "includeTime": {
          "description": "Whether to include the time as part of the question.",
          "type": "boolean"
        },
        "includeYear": {
          "description": "Whether to include the year as part of the question.",
          "type": "boolean"
        }
      },
      "id": "DateQuestion",
      "description": "A date question. Date questions default to just month + day."
    },
    "QuestionGroupItem": {
      "description": "Defines a question that comprises multiple questions grouped together.",
      "properties": {
        "questions": {
          "type": "array",
          "items": {
            "$ref": "Question"
          },
          "description": "Required. A list of questions that belong in this question group. A question must only belong to one group. The `kind` of the group may affect what types of questions are allowed."
        },
        "image": {
          "description": "The image displayed within the question group above the specific questions.",
          "$ref": "Image"
        },
        "grid": {
          "description": "The question group is a grid with rows of multiple choice questions that share the same options. When `grid` is set, all questions in the group must be of kind `row`.",
          "$ref": "Grid"
        }
      },
      "type": "object",
      "id": "QuestionGroupItem"
    },
    "BatchUpdateFormResponse": {
      "properties": {
        "writeControl": {
          "$ref": "WriteControl",
          "description": "The updated write control after applying the request."
        },
        "replies": {
          "description": "The reply of the updates. This maps 1:1 with the update requests, although replies to some requests may be empty.",
          "items": {
            "$ref": "Response"
          },
          "type": "array"
        },
        "form": {
          "$ref": "Form",
          "description": "Based on the bool request field `include_form_in_response`, a form with all applied mutations/updates is returned or not. This may be later than the revision ID created by these changes."
        }
      },
      "description": "Response to a BatchUpdateFormRequest.",
      "type": "object",
      "id": "BatchUpdateFormResponse"
    },
    "FormResponse": {
      "description": "A form response.",
      "properties": {
        "responseId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The response ID."
        },
        "totalScore": {
          "description": "Output only. The total number of points the respondent received for their submission Only set if the form was a quiz and the response was graded. This includes points automatically awarded via autograding adjusted by any manual corrections entered by the form owner.",
          "type": "number",
          "readOnly": true,
          "format": "double"
        },
        "lastSubmittedTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp for the most recent time the response was submitted. Does not track changes to grades.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp for the first time the response was submitted."
        },
        "respondentEmail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The email address (if collected) for the respondent."
        },
        "formId": {
          "description": "Output only. The form ID.",
          "readOnly": true,
          "type": "string"
        },
        "answers": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "Answer"
          },
          "description": "Output only. The actual answers to the questions, keyed by question_id.",
          "type": "object"
        }
      },
      "id": "FormResponse",
      "type": "object"
    },
    "Grading": {
      "description": "Grading for a single question",
      "properties": {
        "whenWrong": {
          "$ref": "Feedback",
          "description": "The feedback displayed for incorrect responses. This feedback can only be set for multiple choice questions that have correct answers provided."
        },
        "whenRight": {
          "description": "The feedback displayed for correct responses. This feedback can only be set for multiple choice questions that have correct answers provided.",
          "$ref": "Feedback"
        },
        "pointValue": {
          "type": "integer",
          "description": "Required. The maximum number of points a respondent can automatically get for a correct answer. This must not be negative.",
          "format": "int32"
        },
        "generalFeedback": {
          "$ref": "Feedback",
          "description": "The feedback displayed for all answers. This is commonly used for short answer questions when a quiz owner wants to quickly give respondents some sense of whether they answered the question correctly before they've had a chance to officially grade the response. General feedback cannot be set for automatically graded multiple choice questions."
        },
        "correctAnswers": {
          "$ref": "CorrectAnswers",
          "description": "Required. The answer key for the question. Responses are automatically graded based on this field."
        }
      },
      "type": "object",
      "id": "Grading"
    },
    "RenewWatchRequest": {
      "description": "Renew an existing Watch for seven days.",
      "type": "object",
      "properties": {},
      "id": "RenewWatchRequest"
    },
    "ScaleQuestion": {
      "type": "object",
      "properties": {
        "highLabel": {
          "type": "string",
          "description": "The label to display describing the highest point on the scale."
        },
        "high": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The highest possible value for the scale."
        },
        "lowLabel": {
          "type": "string",
          "description": "The label to display describing the lowest point on the scale."
        },
        "low": {
          "type": "integer",
          "description": "Required. The lowest possible value for the scale.",
          "format": "int32"
        }
      },
      "id": "ScaleQuestion",
      "description": "A scale question. The user has a range of numeric values to choose from."
    },
    "Response": {
      "type": "object",
      "properties": {
        "createItem": {
          "description": "The result of creating an item.",
          "$ref": "CreateItemResponse"
        }
      },
      "description": "A single response from an update.",
      "id": "Response"
    },
    "VideoItem": {
      "description": "An item containing a video.",
      "id": "VideoItem",
      "type": "object",
      "properties": {
        "caption": {
          "description": "The text displayed below the video.",
          "type": "string"
        },
        "video": {
          "$ref": "Video",
          "description": "Required. The video displayed in the item."
        }
      }
    },
    "Option": {
      "properties": {
        "goToSectionId": {
          "description": "Item ID of section header to go to.",
          "type": "string"
        },
        "image": {
          "$ref": "Image",
          "description": "Display image as an option."
        },
        "isOther": {
          "type": "boolean",
          "description": "Whether the option is \"other\". Currently only applies to `RADIO` and `CHECKBOX` choice types, but is not allowed in a QuestionGroupItem."
        },
        "value": {
          "type": "string",
          "description": "Required. The choice as presented to the user."
        },
        "goToAction": {
          "enumDescriptions": [
            "Default value. Unused.",
            "Go to the next section.",
            "Go back to the beginning of the form.",
            "Submit form immediately."
          ],
          "enum": [
            "GO_TO_ACTION_UNSPECIFIED",
            "NEXT_SECTION",
            "RESTART_FORM",
            "SUBMIT_FORM"
          ],
          "type": "string",
          "description": "Section navigation type."
        }
      },
      "id": "Option",
      "description": "An option for a Choice question.",
      "type": "object"
    },
    "Item": {
      "id": "Item",
      "description": "A single item of the form. `kind` defines which kind of item it is.",
      "type": "object",
      "properties": {
        "itemId": {
          "description": "The item ID. On creation, it can be provided but the ID must not be already used in the form. If not provided, a new ID is assigned.",
          "type": "string"
        },
        "questionItem": {
          "$ref": "QuestionItem",
          "description": "Poses a question to the user."
        },
        "videoItem": {
          "$ref": "VideoItem",
          "description": "Displays a video on the page."
        },
        "questionGroupItem": {
          "$ref": "QuestionGroupItem",
          "description": "Poses one or more questions to the user with a single major prompt."
        },
        "pageBreakItem": {
          "description": "Starts a new page with a title.",
          "$ref": "PageBreakItem"
        },
        "description": {
          "description": "The description of the item.",
          "type": "string"
        },
        "textItem": {
          "description": "Displays a title and description on the page.",
          "$ref": "TextItem"
        },
        "imageItem": {
          "description": "Displays an image on the page.",
          "$ref": "ImageItem"
        },
        "title": {
          "description": "The title of the item.",
          "type": "string"
        }
      }
    },
    "UpdateItemRequest": {
      "description": "Update an item in a form.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Required. The location identifying the item to update.",
          "$ref": "Location"
        },
        "item": {
          "$ref": "Item",
          "description": "Required. New values for the item. Note that item and question IDs are used if they are provided (and are in the field mask). If an ID is blank (and in the field mask) a new ID is generated. This means you can modify an item by getting the form via forms.get, modifying your local copy of that item to be how you want it, and using UpdateItemRequest to write it back, with the IDs being the same (or not in the field mask)."
        },
        "updateMask": {
          "type": "string",
          "description": "Required. Only values named in this mask are changed.",
          "format": "google-fieldmask"
        }
      },
      "id": "UpdateItemRequest"
    },
    "ChoiceQuestion": {
      "type": "object",
      "properties": {
        "shuffle": {
          "type": "boolean",
          "description": "Whether the options should be displayed in random order for different instances of the quiz. This is often used to prevent cheating by respondents who might be looking at another respondent's screen, or to address bias in a survey that might be introduced by always putting the same options first or last."
        },
        "type": {
          "enum": [
            "CHOICE_TYPE_UNSPECIFIED",
            "RADIO",
            "CHECKBOX",
            "DROP_DOWN"
          ],
          "enumDescriptions": [
            "Default value. Unused.",
            "Radio buttons: All choices are shown to the user, who can only pick one of them.",
            "Checkboxes: All choices are shown to the user, who can pick any number of them.",
            "Drop-down menu: The choices are only shown to the user on demand, otherwise only the current choice is shown. Only one option can be chosen."
          ],
          "description": "Required. The type of choice question.",
          "type": "string"
        },
        "options": {
          "type": "array",
          "items": {
            "$ref": "Option"
          },
          "description": "Required. List of options that a respondent must choose from."
        }
      },
      "description": "A radio/checkbox/dropdown question.",
      "id": "ChoiceQuestion"
    },
    "WatchTarget": {
      "properties": {
        "topic": {
          "$ref": "CloudPubsubTopic",
          "description": "A Pub/Sub topic. To receive notifications, the topic must grant publish privileges to the Forms service account `serviceAccount:forms-notifications@system.gserviceaccount.com`. Only the project that owns a topic may create a watch with it. Pub/Sub delivery guarantees should be considered."
        }
      },
      "id": "WatchTarget",
      "description": "The target for notification delivery.",
      "type": "object"
    },
    "TextAnswers": {
      "type": "object",
      "id": "TextAnswers",
      "description": "A question's answers as text.",
      "properties": {
        "answers": {
          "items": {
            "$ref": "TextAnswer"
          },
          "description": "Output only. Answers to a question. For multiple-value ChoiceQuestions, each answer is a separate value.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "TextAnswer": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The answer value. Formatting used for different kinds of question: * ChoiceQuestion * `RADIO` or `DROP_DOWN`: A single string corresponding to the option that was selected. * `CHECKBOX`: Multiple strings corresponding to each option that was selected. * TextQuestion: The text that the user entered. * ScaleQuestion: A string containing the number that was selected. * DateQuestion * Without time or year: MM-DD e.g. \"05-19\" * With year: YYYY-MM-DD e.g. \"1986-05-19\" * With time: MM-DD HH:MM e.g. \"05-19 14:51\" * With year and time: YYYY-MM-DD HH:MM e.g. \"1986-05-19 14:51\" * TimeQuestion: String with time or duration in HH:MM format e.g. \"14:51\" * RowQuestion within QuestionGroupItem: The answer for each row of a QuestionGroupItem is represented as a separate Answer. Each will contain one string for `RADIO`-type choices or multiple strings for `CHECKBOX` choices."
        }
      },
      "type": "object",
      "id": "TextAnswer",
      "description": "An answer to a question represented as text."
    },
    "Request": {
      "description": "The kinds of update requests that can be made.",
      "properties": {
        "updateFormInfo": {
          "$ref": "UpdateFormInfoRequest",
          "description": "Update Form's Info."
        },
        "updateSettings": {
          "$ref": "UpdateSettingsRequest",
          "description": "Updates the Form's settings."
        },
        "createItem": {
          "description": "Create a new item.",
          "$ref": "CreateItemRequest"
        },
        "deleteItem": {
          "description": "Delete an item.",
          "$ref": "DeleteItemRequest"
        },
        "updateItem": {
          "$ref": "UpdateItemRequest",
          "description": "Update an item."
        },
        "moveItem": {
          "$ref": "MoveItemRequest",
          "description": "Move an item to a specified location."
        }
      },
      "type": "object",
      "id": "Request"
    },
    "CorrectAnswer": {
      "id": "CorrectAnswer",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The correct answer value. See the documentation for TextAnswer.value for details on how various value types are formatted."
        }
      },
      "description": "A single correct answer for a question. For multiple-valued (`CHECKBOX`) questions, several `CorrectAnswer`s may be needed to represent a single correct response option.",
      "type": "object"
    },
    "FormSettings": {
      "type": "object",
      "id": "FormSettings",
      "properties": {
        "quizSettings": {
          "$ref": "QuizSettings",
          "description": "Settings related to quiz forms and grading."
        },
        "emailCollectionType": {
          "enum": [
            "EMAIL_COLLECTION_TYPE_UNSPECIFIED",
            "DO_NOT_COLLECT",
            "VERIFIED",
            "RESPONDER_INPUT"
          ],
          "enumDescriptions": [
            "Unspecified. This value is unused.",
            "The form doesn't collect email addresses. Default value if the form owner uses a Google account.",
            "The form collects email addresses automatically based on the account of the signed-in user. Default value if the form owner uses a Google Workspace account.",
            "The form collects email addresses using a field that the respondent completes on the form."
          ],
          "description": "Optional. The setting that determines whether the form collects email addresses from respondents.",
          "type": "string"
        }
      },
      "description": "A form's settings."
    },
    "PublishSettings": {
      "properties": {
        "publishState": {
          "description": "Optional. The publishing state of a form. When updating `publish_state`, both `is_published` and `is_accepting_responses` must be set. However, setting `is_accepting_responses` to `true` and `is_published` to `false` isn't supported and returns an error.",
          "$ref": "PublishState"
        }
      },
      "description": "The publishing settings of a form.",
      "id": "PublishSettings",
      "type": "object"
    },
    "ImageItem": {
      "description": "An item containing an image.",
      "type": "object",
      "id": "ImageItem",
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "Required. The image displayed in the item."
        }
      }
    },
    "CreateItemResponse": {
      "properties": {
        "itemId": {
          "description": "The ID of the created item.",
          "type": "string"
        },
        "questionId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The ID of the question created as part of this item, for a question group it lists IDs of all the questions created for this item."
        }
      },
      "description": "The result of creating an item.",
      "id": "CreateItemResponse",
      "type": "object"
    },
    "VideoLink": {
      "type": "object",
      "id": "VideoLink",
      "description": "Link to a video.",
      "properties": {
        "displayText": {
          "type": "string",
          "description": "Required. The display text for the link."
        },
        "youtubeUri": {
          "description": "The URI of a YouTube video.",
          "type": "string"
        }
      }
    },
    "Image": {
      "type": "object",
      "id": "Image",
      "properties": {
        "altText": {
          "type": "string",
          "description": "A description of the image that is shown on hover and read by screenreaders."
        },
        "sourceUri": {
          "description": "Input only. The source URI is the URI used to insert the image. The source URI can be empty when fetched.",
          "type": "string"
        },
        "properties": {
          "description": "Properties of an image.",
          "$ref": "MediaProperties"
        },
        "contentUri": {
          "type": "string",
          "description": "Output only. A URI from which you can download the image; this is valid only for a limited time.",
          "readOnly": true
        }
      },
      "description": "Data representing an image."
    },
    "PageBreakItem": {
      "description": "A page break. The title and description of this item are shown at the top of the new page.",
      "type": "object",
      "properties": {},
      "id": "PageBreakItem"
    },
    "Question": {
      "id": "Question",
      "properties": {
        "choiceQuestion": {
          "description": "A respondent can choose from a pre-defined set of options.",
          "$ref": "ChoiceQuestion"
        },
        "fileUploadQuestion": {
          "description": "A respondent can upload one or more files.",
          "$ref": "FileUploadQuestion"
        },
        "dateQuestion": {
          "$ref": "DateQuestion",
          "description": "A respondent can enter a date."
        },
        "scaleQuestion": {
          "description": "A respondent can choose a number from a range.",
          "$ref": "ScaleQuestion"
        },
        "ratingQuestion": {
          "$ref": "RatingQuestion",
          "description": "A respondent can choose a rating from a pre-defined set of icons."
        },
        "required": {
          "description": "Whether the question must be answered in order for a respondent to submit their response.",
          "type": "boolean"
        },
        "timeQuestion": {
          "description": "A respondent can enter a time.",
          "$ref": "TimeQuestion"
        },
        "textQuestion": {
          "$ref": "TextQuestion",
          "description": "A respondent can enter a free text response."
        },
        "rowQuestion": {
          "$ref": "RowQuestion",
          "description": "A row of a QuestionGroupItem."
        },
        "questionId": {
          "description": "Read only. The question ID. On creation, it can be provided but the ID must not be already used in the form. If not provided, a new ID is assigned.",
          "type": "string"
        },
        "grading": {
          "$ref": "Grading",
          "description": "Grading setup for the question."
        }
      },
      "description": "Any question. The specific type of question is known by its `kind`.",
      "type": "object"
    },
    "ExtraMaterial": {
      "id": "ExtraMaterial",
      "description": "Supplementary material to the feedback.",
      "properties": {
        "video": {
          "description": "Video feedback.",
          "$ref": "VideoLink"
        },
        "link": {
          "description": "Text feedback.",
          "$ref": "TextLink"
        }
      },
      "type": "object"
    },
    "Grid": {
      "properties": {
        "columns": {
          "description": "Required. The choices shared by each question in the grid. In other words, the values of the columns. Only `CHECK_BOX` and `RADIO` choices are allowed.",
          "$ref": "ChoiceQuestion"
        },
        "shuffleQuestions": {
          "description": "If `true`, the questions are randomly ordered. In other words, the rows appear in a different order for every respondent.",
          "type": "boolean"
        }
      },
      "id": "Grid",
      "description": "A grid of choices (radio or check boxes) with each row constituting a separate question. Each row has the same choices, which are shown as the columns.",
      "type": "object"
    },
    "SetPublishSettingsRequest": {
      "properties": {
        "publishSettings": {
          "$ref": "PublishSettings",
          "description": "Required. The desired publish settings to apply to the form."
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. The `publish_settings` fields to update. This field mask accepts the following values: * `publish_state`: Updates or replaces all `publish_state` settings. * `\"*\"`: Updates or replaces all `publish_settings` fields.",
          "format": "google-fieldmask"
        }
      },
      "id": "SetPublishSettingsRequest",
      "type": "object",
      "description": "Updates the publish settings of a Form."
    },
    "DeleteItemRequest": {
      "description": "Delete an item in a form.",
      "properties": {
        "location": {
          "description": "Required. The location of the item to delete.",
          "$ref": "Location"
        }
      },
      "type": "object",
      "id": "DeleteItemRequest"
    },
    "CorrectAnswers": {
      "description": "The answer key for a question.",
      "properties": {
        "answers": {
          "type": "array",
          "description": "A list of correct answers. A quiz response can be automatically graded based on these answers. For single-valued questions, a response is marked correct if it matches any value in this list (in other words, multiple correct answers are possible). For multiple-valued (`CHECKBOX`) questions, a response is marked correct if it contains exactly the values in this list.",
          "items": {
            "$ref": "CorrectAnswer"
          }
        }
      },
      "id": "CorrectAnswers",
      "type": "object"
    },
    "QuestionItem": {
      "description": "A form item containing a single question.",
      "properties": {
        "image": {
          "description": "The image displayed within the question.",
          "$ref": "Image"
        },
        "question": {
          "$ref": "Question",
          "description": "Required. The displayed question."
        }
      },
      "type": "object",
      "id": "QuestionItem"
    },
    "Answer": {
      "id": "Answer",
      "type": "object",
      "properties": {
        "textAnswers": {
          "$ref": "TextAnswers",
          "description": "Output only. The specific answers as text.",
          "readOnly": true
        },
        "fileUploadAnswers": {
          "$ref": "FileUploadAnswers",
          "readOnly": true,
          "description": "Output only. The answers to a file upload question."
        },
        "questionId": {
          "readOnly": true,
          "description": "Output only. The question's ID. See also Question.question_id.",
          "type": "string"
        },
        "grade": {
          "description": "Output only. The grade for the answer if the form was a quiz.",
          "readOnly": true,
          "$ref": "Grade"
        }
      },
      "description": "The submitted answer for a question."
    },
    "TimeQuestion": {
      "id": "TimeQuestion",
      "description": "A time question.",
      "properties": {
        "duration": {
          "type": "boolean",
          "description": "`true` if the question is about an elapsed time. Otherwise it is about a time of day."
        }
      },
      "type": "object"
    },
    "Location": {
      "properties": {
        "index": {
          "type": "integer",
          "description": "The index of an item in the form. This must be in the range [0..*N*), where *N* is the number of items in the form.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Location",
      "description": "A specific location in a form."
    },
    "SetPublishSettingsResponse": {
      "type": "object",
      "id": "SetPublishSettingsResponse",
      "description": "The response of a SetPublishSettings request.",
      "properties": {
        "formId": {
          "description": "Required. The ID of the Form. This is same as the Form.form_id field.",
          "type": "string"
        },
        "publishSettings": {
          "description": "The publish settings of the form.",
          "$ref": "PublishSettings"
        }
      }
    },
    "CloudPubsubTopic": {
      "properties": {
        "topicName": {
          "description": "Required. A fully qualified Pub/Sub topic name to publish the events to. This topic must be owned by the calling project and already exist in Pub/Sub.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudPubsubTopic",
      "description": "A Pub/Sub topic."
    },
    "CreateItemRequest": {
      "id": "CreateItemRequest",
      "type": "object",
      "properties": {
        "item": {
          "$ref": "Item",
          "description": "Required. The item to create."
        },
        "location": {
          "$ref": "Location",
          "description": "Required. Where to place the new item."
        }
      },
      "description": "Create an item in a form."
    },
    "MoveItemRequest": {
      "id": "MoveItemRequest",
      "properties": {
        "originalLocation": {
          "description": "Required. The location of the item to move.",
          "$ref": "Location"
        },
        "newLocation": {
          "description": "Required. The new location for the item.",
          "$ref": "Location"
        }
      },
      "description": "Move an item in a form.",
      "type": "object"
    },
    "Feedback": {
      "id": "Feedback",
      "type": "object",
      "description": "Feedback for a respondent about their response to a question.",
      "properties": {
        "text": {
          "description": "Required. The main text of the feedback.",
          "type": "string"
        },
        "material": {
          "description": "Additional information provided as part of the feedback, often used to point the respondent to more reading and resources.",
          "items": {
            "$ref": "ExtraMaterial"
          },
          "type": "array"
        }
      }
    },
    "BatchUpdateFormRequest": {
      "type": "object",
      "properties": {
        "writeControl": {
          "$ref": "WriteControl",
          "description": "Provides control over how write requests are executed."
        },
        "requests": {
          "description": "Required. The update requests of this batch.",
          "type": "array",
          "items": {
            "$ref": "Request"
          }
        },
        "includeFormInResponse": {
          "description": "Whether to return an updated version of the model in the response.",
          "type": "boolean"
        }
      },
      "id": "BatchUpdateFormRequest",
      "description": "A batch of updates to perform on a form. All the specified updates are made or none of them are."
    },
    "FileUploadAnswers": {
      "description": "All submitted files for a FileUpload question.",
      "properties": {
        "answers": {
          "items": {
            "$ref": "FileUploadAnswer"
          },
          "description": "Output only. All submitted files for a FileUpload question.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "FileUploadAnswers",
      "type": "object"
    },
    "WriteControl": {
      "type": "object",
      "id": "WriteControl",
      "properties": {
        "targetRevisionId": {
          "description": "The target revision ID of the form that the write request is applied to. If changes have occurred after this revision, the changes in this update request are transformed against those changes. This results in a new revision of the form that incorporates both the changes in the request and the intervening changes, with the server resolving conflicting changes. The target revision ID may only be used to write to recent versions of a form. If the target revision is too far behind the latest revision, the request is not processed and returns a 400 (Bad Request Error). The request may be retried after reading the latest version of the form. In most cases a target revision ID remains valid for several minutes after it is read, but for frequently-edited forms this window may be shorter.",
          "type": "string"
        },
        "requiredRevisionId": {
          "type": "string",
          "description": "The revision ID of the form that the write request is applied to. If this is not the latest revision of the form, the request is not processed and returns a 400 bad request error."
        }
      },
      "description": "Provides control over how write requests are executed."
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "FileUploadQuestion": {
      "type": "object",
      "description": "A file upload question. The API currently does not support creating file upload questions.",
      "properties": {
        "maxFiles": {
          "description": "Maximum number of files that can be uploaded for this question in a single response.",
          "type": "integer",
          "format": "int32"
        },
        "types": {
          "description": "File types accepted by this question.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. Unused.",
              "No restrictions on type.",
              "A Google Docs document.",
              "A Google Slides presentation.",
              "A Google Sheets spreadsheet.",
              "A drawing.",
              "A PDF.",
              "An image.",
              "A video.",
              "An audio file."
            ],
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "ANY",
              "DOCUMENT",
              "PRESENTATION",
              "SPREADSHEET",
              "DRAWING",
              "PDF",
              "IMAGE",
              "VIDEO",
              "AUDIO"
            ]
          },
          "type": "array"
        },
        "folderId": {
          "description": "Required. The ID of the Drive folder where uploaded files are stored.",
          "type": "string"
        },
        "maxFileSize": {
          "type": "string",
          "format": "int64",
          "description": "Maximum number of bytes allowed for any single file uploaded to this question."
        }
      },
      "id": "FileUploadQuestion"
    },
    "TextQuestion": {
      "description": "A text-based question.",
      "id": "TextQuestion",
      "properties": {
        "paragraph": {
          "type": "boolean",
          "description": "Whether the question is a paragraph question or not. If not, the question is a short text question."
        }
      },
      "type": "object"
    },
    "MediaProperties": {
      "type": "object",
      "properties": {
        "width": {
          "type": "integer",
          "description": "The width of the media in pixels. When the media is displayed, it is scaled to the smaller of this value or the width of the displayed form. The original aspect ratio of the media is preserved. If a width is not specified when the media is added to the form, it is set to the width of the media source. Width must be between 0 and 740, inclusive. Setting width to 0 or unspecified is only permitted when updating the media source.",
          "format": "int32"
        },
        "alignment": {
          "description": "Position of the media.",
          "enumDescriptions": [
            "Default value. Unused.",
            "Left align.",
            "Right align.",
            "Center."
          ],
          "type": "string",
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT",
            "CENTER"
          ]
        }
      },
      "description": "Properties of the media.",
      "id": "MediaProperties"
    },
    "Video": {
      "type": "object",
      "description": "Data representing a video.",
      "id": "Video",
      "properties": {
        "properties": {
          "description": "Properties of a video.",
          "$ref": "MediaProperties"
        },
        "youtubeUri": {
          "type": "string",
          "description": "Required. A YouTube URI."
        }
      }
    },
    "RatingQuestion": {
      "description": "A rating question. The user has a range of icons to choose from.",
      "properties": {
        "ratingScaleLevel": {
          "description": "Required. The rating scale level of the rating question.",
          "type": "integer",
          "format": "int32"
        },
        "iconType": {
          "enumDescriptions": [
            "Default value. Unused.",
            "A star icon.",
            "A heart icon.",
            "A thumbs down icon."
          ],
          "type": "string",
          "enum": [
            "RATING_ICON_TYPE_UNSPECIFIED",
            "STAR",
            "HEART",
            "THUMB_UP"
          ],
          "description": "Required. The icon type to use for the rating."
        }
      },
      "type": "object",
      "id": "RatingQuestion"
    },
    "RowQuestion": {
      "type": "object",
      "id": "RowQuestion",
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. The title for the single row in the QuestionGroupItem."
        }
      },
      "description": "Configuration for a question that is part of a question group."
    },
    "UpdateSettingsRequest": {
      "description": "Update Form's FormSettings.",
      "properties": {
        "settings": {
          "description": "Required. The settings to update with.",
          "$ref": "FormSettings"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. Only values named in this mask are changed. At least one field must be specified. The root `settings` is implied and should not be specified. A single `\"*\"` can be used as short-hand for updating every field."
        }
      },
      "id": "UpdateSettingsRequest",
      "type": "object"
    }
  },
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Google Forms API",
  "canonicalName": "Forms",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/workspace/forms/api",
  "resources": {
    "forms": {
      "resources": {
        "watches": {
          "methods": {
            "renew": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "request": {
                "$ref": "RenewWatchRequest"
              },
              "path": "v1/forms/{formId}/watches/{watchId}:renew",
              "httpMethod": "POST",
              "response": {
                "$ref": "Watch"
              },
              "parameterOrder": [
                "formId",
                "watchId"
              ],
              "flatPath": "v1/forms/{formId}/watches/{watchId}:renew",
              "id": "forms.forms.watches.renew",
              "description": "Renew an existing watch for seven days. The state of the watch after renewal is `ACTIVE`, and the `expire_time` is seven days from the renewal. Renewing a watch in an error state (e.g. `SUSPENDED`) succeeds if the error is no longer present, but fail otherwise. After a watch has expired, RenewWatch returns `NOT_FOUND`.",
              "parameters": {
                "watchId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the Watch to renew."
                },
                "formId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the Form."
                }
              }
            },
            "list": {
              "parameters": {
                "formId": {
                  "description": "Required. ID of the Form whose watches to list.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "description": "Return a list of the watches owned by the invoking project. The maximum number of watches is two: For each invoker, the limit is one for each event type per form.",
              "path": "v1/forms/{formId}/watches",
              "httpMethod": "GET",
              "parameterOrder": [
                "formId"
              ],
              "id": "forms.forms.watches.list",
              "flatPath": "v1/forms/{formId}/watches",
              "response": {
                "$ref": "ListWatchesResponse"
              }
            },
            "create": {
              "path": "v1/forms/{formId}/watches",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "id": "forms.forms.watches.create",
              "httpMethod": "POST",
              "flatPath": "v1/forms/{formId}/watches",
              "response": {
                "$ref": "Watch"
              },
              "parameterOrder": [
                "formId"
              ],
              "parameters": {
                "formId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. ID of the Form to watch."
                }
              },
              "request": {
                "$ref": "CreateWatchRequest"
              },
              "description": "Create a new watch. If a watch ID is provided, it must be unused. For each invoking project, the per form limit is one watch per Watch.EventType. A watch expires seven days after it is created (see Watch.expire_time)."
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "parameterOrder": [
                "formId",
                "watchId"
              ],
              "path": "v1/forms/{formId}/watches/{watchId}",
              "parameters": {
                "watchId": {
                  "description": "Required. The ID of the Watch to delete.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "formId": {
                  "type": "string",
                  "description": "Required. The ID of the Form.",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/forms/{formId}/watches/{watchId}",
              "description": "Delete a watch.",
              "id": "forms.forms.watches.delete"
            }
          }
        },
        "responses": {
          "methods": {
            "get": {
              "parameters": {
                "formId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The form ID.",
                  "type": "string"
                },
                "responseId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The response ID within the form.",
                  "type": "string"
                }
              },
              "description": "Get one response from the form.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "path": "v1/forms/{formId}/responses/{responseId}",
              "id": "forms.forms.responses.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "formId",
                "responseId"
              ],
              "response": {
                "$ref": "FormResponse"
              },
              "flatPath": "v1/forms/{formId}/responses/{responseId}"
            },
            "list": {
              "id": "forms.forms.responses.list",
              "parameterOrder": [
                "formId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "description": "List a form's responses.",
              "parameters": {
                "pageToken": {
                  "description": "A page token returned by a previous list response. If this field is set, the form and the values of the filter must be the same as for the original request.",
                  "location": "query",
                  "type": "string"
                },
                "formId": {
                  "location": "path",
                  "description": "Required. ID of the Form whose responses to list.",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of responses to return. The service may return fewer than this value. If unspecified or zero, at most 5000 responses are returned.",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "description": "Which form responses to return. Currently, the only supported filters are: * timestamp > *N* which means to get all form responses submitted after (but not at) timestamp *N*. * timestamp >= *N* which means to get all form responses submitted at and after timestamp *N*. For both supported filters, timestamp must be formatted in RFC3339 UTC \"Zulu\" format. Examples: \"2014-10-02T15:01:23Z\" and \"2014-10-02T15:01:23.045123456Z\".",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/forms/{formId}/responses",
              "response": {
                "$ref": "ListFormResponsesResponse"
              },
              "path": "v1/forms/{formId}/responses"
            }
          }
        }
      },
      "methods": {
        "setPublishSettings": {
          "id": "forms.forms.setPublishSettings",
          "flatPath": "v1/forms/{formId}:setPublishSettings",
          "response": {
            "$ref": "SetPublishSettingsResponse"
          },
          "path": "v1/forms/{formId}:setPublishSettings",
          "description": "Updates the publish settings of a form. Legacy forms aren't supported because they don't have the `publish_settings` field.",
          "parameters": {
            "formId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the form. You can get the id from Form.form_id field.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "formId"
          ],
          "request": {
            "$ref": "SetPublishSettingsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/forms.body"
          ],
          "httpMethod": "POST"
        },
        "create": {
          "request": {
            "$ref": "Form"
          },
          "httpMethod": "POST",
          "parameters": {
            "unpublished": {
              "type": "boolean",
              "description": "Optional. Whether the form is unpublished. If set to `true`, the form doesn't accept responses. If set to `false` or unset, the form is published and accepts responses.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "id": "forms.forms.create",
          "flatPath": "v1/forms",
          "path": "v1/forms",
          "description": "Create a new form using the title given in the provided form message in the request. *Important:* Only the form.info.title and form.info.document_title fields are copied to the new form. All other fields including the form description, items and settings are disallowed. To create a new form and add items, you must first call forms.create to create an empty form with a title and (optional) document title, and then call forms.update to add the items.",
          "response": {
            "$ref": "Form"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/forms.body"
          ]
        },
        "batchUpdate": {
          "path": "v1/forms/{formId}:batchUpdate",
          "httpMethod": "POST",
          "response": {
            "$ref": "BatchUpdateFormResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/forms.body"
          ],
          "flatPath": "v1/forms/{formId}:batchUpdate",
          "request": {
            "$ref": "BatchUpdateFormRequest"
          },
          "parameters": {
            "formId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The form ID."
            }
          },
          "parameterOrder": [
            "formId"
          ],
          "description": "Change the form with a batch of updates.",
          "id": "forms.forms.batchUpdate"
        },
        "get": {
          "flatPath": "v1/forms/{formId}",
          "description": "Get a form.",
          "parameters": {
            "formId": {
              "required": true,
              "description": "Required. The form ID.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "forms.forms.get",
          "response": {
            "$ref": "Form"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "formId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/forms.body",
            "https://www.googleapis.com/auth/forms.body.readonly"
          ],
          "path": "v1/forms/{formId}"
        }
      }
    }
  },
  "version": "v1",
  "servicePath": ""
}
