{
  "ownerName": "Google",
  "description": "The Postmaster Tools API is a RESTful API that provides programmatic access to email traffic metrics (like spam reports, delivery errors etc) otherwise available through the Gmail Postmaster Tools UI currently.",
  "kind": "discovery#restDescription",
  "baseUrl": "https://gmailpostmastertools.googleapis.com/",
  "protocol": "rest",
  "servicePath": "",
  "name": "gmailpostmastertools",
  "discoveryVersion": "v1",
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://gmailpostmastertools.googleapis.com/",
  "revision": "20260908",
  "batchPath": "batch",
  "title": "Gmail Postmaster Tools API",
  "canonicalName": "Postmaster Tools",
  "schemas": {
    "BatchQueryDomainStatsResponse": {
      "properties": {
        "results": {
          "description": "A list of responses, one for each query in the BatchQueryDomainStatsRequest. The order of responses will correspond to the order of requests.",
          "type": "array",
          "items": {
            "$ref": "BatchQueryDomainStatsResult"
          }
        }
      },
      "id": "BatchQueryDomainStatsResponse",
      "type": "object",
      "description": "Response message for BatchQueryDomainStats."
    },
    "DomainStat": {
      "id": "DomainStat",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Optional. The specific date for these stats, if granularity is DAILY. This field is populated if the QueryDomainStatsRequest specified a DAILY aggregation granularity."
        },
        "metric": {
          "description": "The user-defined name from MetricDefinition.name in the request, used to correlate this result with the requested metric.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the DomainStat resource. Format: domains/{domain}/domainStats/{domain_stat} The `{domain_stat}` segment is an opaque, server-generated ID. We recommend using the `metric` field to identify queried metrics instead of parsing the name."
        },
        "value": {
          "$ref": "StatisticValue",
          "description": "The value of the corresponding metric."
        }
      },
      "description": "Email statistics for a domain for a specified time period or date.",
      "type": "object"
    },
    "CreateDomainRequest": {
      "properties": {
        "domainId": {
          "type": "string",
          "description": "Required. The domain to add. e.g., \"example.com\""
        }
      },
      "id": "CreateDomainRequest",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Request message for CreateDomain.",
      "type": "object"
    },
    "HonorUnsubscribeVerdict": {
      "id": "HonorUnsubscribeVerdict",
      "type": "object",
      "description": "Compliance verdict for whether a sender meets the unsubscribe honoring compliance requirement.",
      "properties": {
        "status": {
          "description": "The compliance status.",
          "$ref": "ComplianceStatus"
        },
        "reason": {
          "enum": [
            "REASON_UNSPECIFIED",
            "NOT_HONORING",
            "NOT_HONORING_TOO_FEW_CAMPAIGNS",
            "NOT_HONORING_TOO_MANY_CAMPAIGNS"
          ],
          "description": "The specific reason for the compliance verdict. Must be empty if the status is compliant.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The sender does not honor unsubscribe requests.",
            "The sender does not honor unsubscribe requests and consider to increase the number of relevant campaigns.",
            "The sender does not honor unsubscribe requests and consider to reduce the number of relevant campaigns."
          ]
        }
      }
    },
    "VerifyDomainResponse": {
      "properties": {},
      "type": "object",
      "id": "VerifyDomainResponse",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Response message for VerifyDomain."
    },
    "StringList": {
      "type": "object",
      "description": "Represents a list of strings.",
      "id": "StringList",
      "properties": {
        "values": {
          "description": "The string values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OneClickUnsubscribeVerdict": {
      "id": "OneClickUnsubscribeVerdict",
      "properties": {
        "status": {
          "description": "The compliance status.",
          "$ref": "ComplianceStatus"
        },
        "reason": {
          "description": "The specific reason for the compliance verdict. Must be empty if the status is compliant.",
          "enumDescriptions": [
            "Unspecified.",
            "Sender does not support one-click unsubscribe for the majority of their messages.",
            "Sender does not support one-click unsubscribe for most messages that are manually reported as spam.",
            "Sender does not support one-click unsubscribe for most promotional messages that are manually reported as spam. This classification of messages is a subset of those encompassed by `NO_UNSUB_SPAM_REPORTS`."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "NO_UNSUB_GENERAL",
            "NO_UNSUB_SPAM_REPORTS",
            "NO_UNSUB_PROMO_SPAM_REPORTS"
          ],
          "type": "string"
        }
      },
      "description": "Compliance verdict for whether a sender meets the one-click unsubscribe compliance requirement.",
      "type": "object"
    },
    "ComplianceRowData": {
      "properties": {
        "status": {
          "$ref": "ComplianceStatus",
          "description": "The compliance status for the requirement."
        },
        "requirement": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Whether the sender has properly configured SPF.",
            "Whether the sender has properly configured DKIM.",
            "Whether the sender has properly configured both SPF and DKIM.",
            "Whether the sender has configured DMARC policy.",
            "Whether the From: header is aligned with DKIM or SPF",
            "Whether messages are correctly formatted according to RFC 5322.",
            "Whether the domain has forward and reverse DNS records.",
            "Whether messages has TLS encryption.",
            "Whether the sender is below a threshold for user-reported spam rate.",
            "Whether the sender sufficiently supports one-click unsubscribe. Note that the user-facing requirement is \"one-click unsubscribe\", but we require satisfaction of multiple \"unsubscribe support\" rules.",
            "Whether the sender honors user-initiated unsubscribe requests."
          ],
          "enum": [
            "COMPLIANCE_REQUIREMENT_UNSPECIFIED",
            "SPF",
            "DKIM",
            "SPF_AND_DKIM",
            "DMARC_POLICY",
            "DMARC_ALIGNMENT",
            "MESSAGE_FORMATTING",
            "DNS_RECORDS",
            "ENCRYPTION",
            "USER_REPORTED_SPAM_RATE",
            "ONE_CLICK_UNSUBSCRIBE",
            "HONOR_UNSUBSCRIBE"
          ],
          "description": "The compliance requirement."
        }
      },
      "type": "object",
      "description": "Data for a single row of the compliance status table.",
      "id": "ComplianceRowData"
    },
    "DeliverabilityStatusVerdict": {
      "id": "DeliverabilityStatusVerdict",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Verdict of domain deliverability status.",
      "type": "object",
      "properties": {
        "reason": {
          "description": "Output only. The specific reason for the compliance verdict.",
          "enumDescriptions": [
            "Unspecified.",
            "Not enough outgoing email.",
            "Many messages with delivery errors.",
            "The sender does not meet the sender requirements.",
            "The spam rate is above 0.1%.",
            "Indicates users do not want to receive email messages.",
            "Users do not take action on messages.",
            "Users signal they want to receive email messages."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "MESSAGE_VOLUME_LOW",
            "SMTP_ERRORS_HIGH",
            "SENDER_NOT_COMPLIANT",
            "SPAM_RATE_HIGH",
            "USER_FEEDBACK_NEGATIVE",
            "USER_FEEDBACK_LOW",
            "USER_FEEDBACK_POSITIVE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The compliance state.",
          "readOnly": true,
          "$ref": "ComplianceStatus"
        }
      }
    },
    "Date": {
      "id": "Date",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "DomainComplianceStatus": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the domain's compliance status. Format: `domains/{domain_id}/complianceStatus`.",
          "type": "string"
        },
        "complianceData": {
          "description": "Compliance data for the registrable domain part of the domain in `name`. For example, if `name` is `domains/example.com/complianceStatus`, this field contains compliance data for `example.com`.",
          "$ref": "DomainComplianceData"
        },
        "subdomainComplianceData": {
          "description": "Compliance data calculated specifically for the subdomain in `name`. This field is only populated if the domain in `name` is a subdomain that differs from its registrable domain (e.g., `sub.example.com`), and if compliance data is available for that specific subdomain.",
          "$ref": "DomainComplianceData"
        }
      },
      "id": "DomainComplianceStatus",
      "description": "Compliance status for a domain.",
      "type": "object"
    },
    "ListUsersResponse": {
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Response message for ListUsers.",
      "type": "object",
      "id": "ListUsersResponse",
      "properties": {
        "users": {
          "description": "The users that have access to the domain.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "Domain": {
      "id": "Domain",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the domain. Format: `domains/{domain_name}`, where domain_name is the fully qualified domain name (i.e., mymail.mydomain.com).",
          "type": "string"
        },
        "permission": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READER",
            "ADMIN",
            "OWNER",
            "NONE"
          ],
          "description": "Output only. User's permission of this domain.",
          "enumDescriptions": [
            "Unspecified permission.",
            "User has read access to the domain.",
            "User has admin access to the domain.",
            "User has owner access to the domain.",
            "User has no access to the domain."
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Immutable. The timestamp at which the domain was added to the user's account.",
          "type": "string"
        },
        "lastVerifyTime": {
          "description": "The timestamp at which the domain was last verified by the user.",
          "format": "google-datetime",
          "type": "string"
        },
        "verificationState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The domain is unverified.",
            "The domain is verified."
          ],
          "readOnly": true,
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "UNVERIFIED",
            "VERIFIED"
          ],
          "description": "Output only. Information about a user's verification history and properties for the domain."
        }
      },
      "description": "Information about a domain registered by the user.",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "QueryDomainStatsResponse": {
      "id": "QueryDomainStatsResponse",
      "properties": {
        "domainStats": {
          "type": "array",
          "description": "The list of domain statistics. Each DomainStat object contains the value for a metric requested in the QueryDomainStatsRequest.",
          "items": {
            "$ref": "DomainStat"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object",
      "description": "Response message for QueryDomainStats."
    },
    "MetricDefinition": {
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Optional filters to apply to the metric."
        },
        "baseMetric": {
          "description": "Required. The underlying metric to query.",
          "$ref": "BaseMetric"
        },
        "name": {
          "type": "string",
          "description": "Required. The user-defined name for this metric. This name will be used as the key for this metric's value in the response."
        }
      },
      "description": "Defines a specific metric to query, including a user-defined name, the base metric type, and optional filters.",
      "id": "MetricDefinition"
    },
    "BatchQueryDomainStatsRequest": {
      "properties": {
        "requests": {
          "description": "Required. A list of individual query requests. Each request can be for a different domain. A maximum of 100 requests can be included in a single batch.",
          "type": "array",
          "items": {
            "$ref": "QueryDomainStatsRequest"
          }
        }
      },
      "description": "Request message for BatchQueryDomainStats.",
      "type": "object",
      "id": "BatchQueryDomainStatsRequest"
    },
    "DomainVerificationToken": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the domain verification token. Format: domains/{domain}/verificationToken",
          "type": "string"
        },
        "verificationMethod": {
          "enum": [
            "DOMAIN_VERIFICATION_METHOD_UNSPECIFIED",
            "TXT",
            "CNAME"
          ],
          "type": "string",
          "description": "The verification method used.",
          "enumDescriptions": [
            "Unspecified.",
            "Generate a DNS TXT verification token.",
            "Generate a DNS CNAME verification token."
          ]
        },
        "token": {
          "description": "The verification token.",
          "type": "string"
        }
      },
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): The DNS token a user can use to verify ownership of a domain.",
      "type": "object",
      "id": "DomainVerificationToken"
    },
    "BatchQueryDomainStatsResult": {
      "type": "object",
      "id": "BatchQueryDomainStatsResult",
      "description": "Represents the result of a single QueryDomainStatsRequest within a batch.",
      "properties": {
        "error": {
          "description": "The error status if the individual query failed.",
          "$ref": "Status"
        },
        "response": {
          "description": "The successful response for the individual query.",
          "$ref": "QueryDomainStatsResponse"
        }
      }
    },
    "QueryDomainStatsRequest": {
      "id": "QueryDomainStatsRequest",
      "type": "object",
      "description": "Request message for QueryDomainStats.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource name where the stats are queried. Format: domains/{domain}"
        },
        "timeQuery": {
          "description": "Required. The time range or specific dates for which to retrieve the metrics.",
          "$ref": "TimeQuery"
        },
        "pageToken": {
          "description": "Optional. The next_page_token value returned from a previous List request, if any. If the aggregation granularity is DAILY, the page token will be the encoded date + \"/\" + metric name. If the aggregation granularity is OVERALL, the page token will be the encoded metric name.",
          "type": "string"
        },
        "aggregationGranularity": {
          "enumDescriptions": [
            "Unspecified granularity. Defaults to DAILY.",
            "Statistics are aggregated on a daily basis. Each DomainStats entry in the response will correspond to a single day.",
            "Statistics are aggregated over the entire requested time period. Each DomainStats entry in the response will represent the total for the period."
          ],
          "description": "Optional. The granularity at which to aggregate the statistics. If unspecified, defaults to DAILY.",
          "enum": [
            "AGGREGATION_GRANULARITY_UNSPECIFIED",
            "DAILY",
            "OVERALL"
          ],
          "type": "string"
        },
        "metricDefinitions": {
          "type": "array",
          "description": "Required. The specific metrics to query. You can define a custom name for each metric, which will be used in the response.",
          "items": {
            "$ref": "MetricDefinition"
          }
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of DomainStats resources to return in the response. The server may return fewer than this value. If unspecified, a default value of 10 will be used. The maximum value is 200.",
          "format": "int32"
        }
      }
    },
    "BaseMetric": {
      "type": "object",
      "id": "BaseMetric",
      "description": "Specifies the base metric to query, which can be a predefined standard metric or a user-defined custom metric (if supported in the future).",
      "properties": {
        "standardMetric": {
          "enumDescriptions": [
            "Unspecified standard metric. This value should not be used directly.",
            "Predefined metric for Feedback Loop (FBL) id. The `filter` field supports selecting the aggregation key type. Supported format: `aggregation_key_type` = \"\". Supported values: * `FROM_HEADER`: (Default) The metric includes messages with From: header domain matching the requested domain. * `ALL_DKIM`: The metric includes messages with one of the signed DKIM domains matching the requested domain.",
            "Predefined metric for Feedback Loop (FBL) spam rate. The `filter` field requires a `feedback_loop_id` and optionally accepts an `aggregation_key_type`. Supported formats are: * `feedback_loop_id` = \"\" * `feedback_loop_id` = \"\" AND `aggregation_key_type` = \"\" If `aggregation_key_type` is omitted, it defaults to `FROM_HEADER`. Supported values: * `FROM_HEADER`: (Default) The metric includes messages with From: header domain matching the requested domain. * `ALL_DKIM`: The metric includes messages with one of the signed DKIM domains matching the requested domain.",
            "Predefined metric for spam rate.",
            "The success rate of authentication mechanisms (DKIM, SPF, DMARC). Filter must be of type auth_type = \"\" where is one of: [spf, dkim, dmarc]",
            "The rate of messages that were TLS encrypted in transit Filter must be of type traffic_direction = \"\" where is one of: [inbound, outbound]",
            "The rate of messages that were TLS encrypted in transit Filter must be of type traffic_direction = \"\" where is one of: [inbound, outbound]",
            "The total count of delivery errors encountered (temporary or permanent rejects). The `filter` field supports a limited syntax. Supported formats are: * Empty: No filter is applied. * `error_type` = \"\" * `error_type` = \"\" AND `error_reason` = \"\" If an empty filter is provided, the metric will be aggregated across all error types and reasons. If only `error_type` is specified, the metric will be aggregated across all reasons for that type. Supported values: * reject * temp_fail Supported values depend on the : * For 'reject': [bad_attachment, bad_or_missing_ptr_record, ip_in_rbls, low_domain_reputation, low_ip_reputation, spammy_content, stamp_policy_error, other] * For 'temp_fail': [anomalous_traffic_pattern, other]",
            "Delivery error rate for the specified delivery error type. The `filter` field supports a limited syntax. Supported formats are: * Empty: No filter is applied. * `error_type` = \"\" * `error_type` = \"\" AND `error_reason` = \"\" If an empty filter is provided, the metric will be aggregated across all error types and reasons. If only `error_type` is specified, the metric will be aggregated across all reasons for that type. Supported values: * reject * temp_fail Supported values depend on the : * For 'reject': [bad_attachment, bad_or_missing_ptr_record, ip_in_rbls, low_domain_reputation, low_ip_reputation, spammy_content, stamp_policy_error, other] * For 'temp_fail': [anomalous_traffic_pattern, other]"
          ],
          "enum": [
            "STANDARD_METRIC_UNSPECIFIED",
            "FEEDBACK_LOOP_ID",
            "FEEDBACK_LOOP_SPAM_RATE",
            "SPAM_RATE",
            "AUTH_SUCCESS_RATE",
            "TLS_ENCRYPTION_MESSAGE_COUNT",
            "TLS_ENCRYPTION_RATE",
            "DELIVERY_ERROR_COUNT",
            "DELIVERY_ERROR_RATE"
          ],
          "description": "A predefined standard metric.",
          "type": "string"
        }
      }
    },
    "VerifyDomainRequest": {
      "type": "object",
      "id": "VerifyDomainRequest",
      "properties": {
        "verificationMethod": {
          "type": "string",
          "enum": [
            "DOMAIN_VERIFICATION_METHOD_UNSPECIFIED",
            "TXT",
            "CNAME"
          ],
          "description": "Required. The verification method used. Must be specified, i.e. TXT or CNAME.",
          "enumDescriptions": [
            "Unspecified.",
            "Generate a DNS TXT verification token.",
            "Generate a DNS CNAME verification token."
          ]
        }
      },
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Request message for VerifyDomain."
    },
    "DateList": {
      "description": "A set of specific dates.",
      "properties": {
        "dates": {
          "items": {
            "$ref": "Date"
          },
          "type": "array",
          "description": "Required. The list of specific dates for which to retrieve data."
        }
      },
      "id": "DateList",
      "type": "object"
    },
    "ListDomainsResponse": {
      "description": "Response message for ListDomains.",
      "properties": {
        "domains": {
          "type": "array",
          "items": {
            "$ref": "Domain"
          },
          "description": "The domains that have been registered by the user."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListDomainsResponse",
      "type": "object"
    },
    "DateRanges": {
      "properties": {
        "dateRanges": {
          "type": "array",
          "description": "Required. The list of date ranges for which to retrieve data.",
          "items": {
            "$ref": "DateRange"
          }
        }
      },
      "description": "A set of date ranges.",
      "id": "DateRanges",
      "type": "object"
    },
    "StatisticValue": {
      "properties": {
        "intValue": {
          "description": "Integer value.",
          "type": "string",
          "format": "int64"
        },
        "stringValue": {
          "type": "string",
          "description": "String value."
        },
        "floatValue": {
          "type": "number",
          "format": "float",
          "description": "Float value."
        },
        "stringList": {
          "description": "List of string values.",
          "$ref": "StringList"
        },
        "doubleValue": {
          "type": "number",
          "description": "Double value.",
          "format": "double"
        }
      },
      "description": "The actual value of a statistic.",
      "type": "object",
      "id": "StatisticValue"
    },
    "CreateUserRequest": {
      "id": "CreateUserRequest",
      "type": "object",
      "properties": {
        "userId": {
          "description": "Required. The user to create.",
          "type": "string"
        },
        "permission": {
          "type": "string",
          "description": "Optional. Specifies the permission level to give the user for the specified domain. If not specified, the default value for this field is READER.",
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READER",
            "ADMIN",
            "OWNER",
            "NONE"
          ],
          "enumDescriptions": [
            "Unspecified permission.",
            "User has read access to the domain.",
            "User has admin access to the domain.",
            "User has owner access to the domain.",
            "User has no access to the domain."
          ]
        }
      },
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Request message for CreateUser."
    },
    "TimeQuery": {
      "id": "TimeQuery",
      "description": "The date ranges or specific dates for which you want to retrieve data.",
      "type": "object",
      "properties": {
        "dateRanges": {
          "$ref": "DateRanges",
          "description": "A list of date ranges."
        },
        "dateList": {
          "description": "A list of specific dates.",
          "$ref": "DateList"
        }
      }
    },
    "DateRange": {
      "properties": {
        "start": {
          "description": "Required. The inclusive start date of the date range.",
          "$ref": "Date"
        },
        "end": {
          "$ref": "Date",
          "description": "Required. The inclusive end date of the date range."
        }
      },
      "id": "DateRange",
      "description": "A single date range defined by a start and end date.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "User": {
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Information about a user's access to a domain.",
      "properties": {
        "user": {
          "description": "The user's email address.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the user. Format: users/{user} Note: {user} is the user's email address.",
          "type": "string"
        },
        "accessGranter": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The user that added the current user."
        },
        "permission": {
          "enumDescriptions": [
            "Unspecified permission.",
            "User has read access to the domain.",
            "User has admin access to the domain.",
            "User has owner access to the domain.",
            "User has no access to the domain."
          ],
          "description": "The permission level that the user has for the specified domain.",
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READER",
            "ADMIN",
            "OWNER",
            "NONE"
          ],
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the user was granted access.",
          "type": "string"
        }
      },
      "id": "User",
      "type": "object"
    },
    "DomainComplianceData": {
      "type": "object",
      "properties": {
        "domainId": {
          "type": "string",
          "description": "Domain that this data is for."
        },
        "oneClickUnsubscribeVerdict": {
          "description": "One-click unsubscribe compliance verdict.",
          "$ref": "OneClickUnsubscribeVerdict"
        },
        "honorUnsubscribeVerdict": {
          "description": "Unsubscribe honoring compliance verdict.",
          "$ref": "HonorUnsubscribeVerdict"
        },
        "rowData": {
          "type": "array",
          "description": "Data for each of the rows of the table. Each message contains all the data that backs a single row.",
          "items": {
            "$ref": "ComplianceRowData"
          }
        },
        "deliverabilityStatusVerdict": {
          "$ref": "DeliverabilityStatusVerdict",
          "description": "Output only. Deliverability status verdict.",
          "readOnly": true
        }
      },
      "description": "Compliance data for a given domain.",
      "id": "DomainComplianceData"
    },
    "ComplianceStatus": {
      "type": "object",
      "id": "ComplianceStatus",
      "properties": {
        "status": {
          "description": "Output only. The compliance status.",
          "enumDescriptions": [
            "Unspecified.",
            "The compliance requirement is met, and the sender is deemed compliant.",
            "The compliance requirement is unmet, and the sender needs to do work to achieve compliance."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLIANT",
            "NEEDS_WORK"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The status of a sender compliance requirement."
    }
  },
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/workspace/gmail/postmaster",
  "basePath": "",
  "resources": {
    "domainStats": {
      "methods": {
        "batchQuery": {
          "flatPath": "v2/domainStats:batchQuery",
          "path": "v2/domainStats:batchQuery",
          "id": "gmailpostmastertools.domainStats.batchQuery",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.traffic.readonly"
          ],
          "request": {
            "$ref": "BatchQueryDomainStatsRequest"
          },
          "description": "Executes a batch of QueryDomainStats requests for multiple domains. Returns PERMISSION_DENIED if you don't have permission to access DomainStats for any of the requested domains.",
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "BatchQueryDomainStatsResponse"
          },
          "httpMethod": "POST"
        }
      }
    },
    "domains": {
      "resources": {
        "domainStats": {
          "methods": {
            "query": {
              "description": "Retrieves a list of domain statistics for a given domain and time period. Returns statistics only for dates where data is available. Returns PERMISSION_DENIED if you don't have permission to access DomainStats for the domain.",
              "request": {
                "$ref": "QueryDomainStatsRequest"
              },
              "id": "gmailpostmastertools.domains.domainStats.query",
              "flatPath": "v2/domains/{domainsId}/domainStats:query",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/domainStats:query",
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.traffic.readonly"
              ],
              "response": {
                "$ref": "QueryDomainStatsResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^domains/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource name where the stats are queried. Format: domains/{domain}",
                  "location": "path"
                }
              }
            }
          }
        },
        "users": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "flatPath": "v2/domains/{domainsId}/users",
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Creates a user, who has access to a domain. Returns INVALID_ARGUMENT if a user is not provided.",
              "response": {
                "$ref": "User"
              },
              "httpMethod": "POST",
              "id": "gmailpostmastertools.domains.users.create",
              "path": "v2/{+parent}/users",
              "request": {
                "$ref": "CreateUserRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^domains/[^/]+$",
                  "required": true,
                  "description": "Required. The parent resource where this user will be created. Format: domains/{domain}"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "id": "gmailpostmastertools.domains.users.patch",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "The list of fields to update."
                },
                "name": {
                  "pattern": "^domains/[^/]+/users/[^/]+$",
                  "type": "string",
                  "description": "Identifier. The resource name of the user. Format: users/{user} Note: {user} is the user's email address.",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v2/domains/{domainsId}/users/{usersId}",
              "request": {
                "$ref": "User"
              },
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Updates a user for a domain. Only Owners and Admins can execute this RPC, only a user's domain permission will be allowed to be updated. Returns NOT_FOUND if the user does not exist. Returns INVALID_ARGUMENT if a permission is not provided or is PERMISSION_UNSPECIFIED, NONE, or OWNER.",
              "response": {
                "$ref": "User"
              }
            },
            "get": {
              "httpMethod": "GET",
              "id": "gmailpostmastertools.domains.users.get",
              "flatPath": "v2/domains/{domainsId}/users/{usersId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^domains/[^/]+/users/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the user to retrieve. Format: `domains/{domain}/users/{user}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Retrieves detailed information about a user that has access to a domain. Returns NOT_FOUND if the user does not exist.",
              "path": "v2/{+name}",
              "response": {
                "$ref": "User"
              }
            },
            "delete": {
              "flatPath": "v2/domains/{domainsId}/users/{usersId}",
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Deletes a user from a domain. Returns NOT_FOUND if the user does not exist.",
              "httpMethod": "DELETE",
              "id": "gmailpostmastertools.domains.users.delete",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^domains/[^/]+/users/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the user to delete. Format: domains/{domain}/users/{user}"
                }
              },
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/domains/{domainsId}/users",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. Requested page size. Server may return fewer users than requested. If unspecified, the default value for this field is 10. The maximum value for this field is 200."
                },
                "pageToken": {
                  "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^domains/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent resource name for which to list users. Format: `domains/{domain}`",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "path": "v2/{+parent}/users",
              "httpMethod": "GET",
              "id": "gmailpostmastertools.domains.users.list",
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Lists the users that have access to a domain.",
              "response": {
                "$ref": "ListUsersResponse"
              }
            }
          }
        }
      },
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "id": "gmailpostmastertools.domains.create",
          "flatPath": "v2/domains",
          "request": {
            "$ref": "CreateDomainRequest"
          },
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "path": "v2/domains",
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Adds a domain to the user's account. Returns INVALID_ARGUMENT if a domain is not provided. Returns ALREADY_EXISTS if the domain is already registered by the user.",
          "response": {
            "$ref": "Domain"
          }
        },
        "getVerificationToken": {
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^domains/[^/]+/verificationToken$",
              "description": "Required. The resource name of the verification token to retrieve. Format: `domains/{domain}/verificationToken`"
            },
            "verificationMethod": {
              "location": "query",
              "description": "Required. The verification method used. Must be specified, i.e. TXT or CNAME.",
              "enum": [
                "DOMAIN_VERIFICATION_METHOD_UNSPECIFIED",
                "TXT",
                "CNAME"
              ],
              "enumDescriptions": [
                "Unspecified.",
                "Generate a DNS TXT verification token.",
                "Generate a DNS CNAME verification token."
              ],
              "type": "string"
            }
          },
          "response": {
            "$ref": "DomainVerificationToken"
          },
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Gets a verification token used for verifying a user's ownership over a domain.",
          "flatPath": "v2/domains/{domainsId}/verificationToken",
          "id": "gmailpostmastertools.domains.getVerificationToken",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "path": "v2/{+name}"
        },
        "getComplianceStatus": {
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.traffic.readonly"
          ],
          "flatPath": "v2/domains/{domainsId}/complianceStatus",
          "parameterOrder": [
            "name"
          ],
          "id": "gmailpostmastertools.domains.getComplianceStatus",
          "httpMethod": "GET",
          "response": {
            "$ref": "DomainComplianceStatus"
          },
          "path": "v2/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^domains/[^/]+/complianceStatus$",
              "required": true,
              "description": "Required. The resource name of the domain's compliance status to retrieve. Format: `domains/{domain_id}/complianceStatus`.",
              "location": "path"
            }
          },
          "description": "Retrieves the compliance status for a given domain. Returns PERMISSION_DENIED if you don't have permission to access compliance status for the domain."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "response": {
            "$ref": "ListDomainsResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "Optional. The next_page_token value returned from a previous List request, if any.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "Optional. Requested page size. Server may return fewer domains than requested. If unspecified, the default value for this field is 10. The maximum value for this field is 200.",
              "format": "int32"
            }
          },
          "path": "v2/domains",
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "gmailpostmastertools.domains.list",
          "description": "Retrieves a list of all domains registered by you, along with their corresponding metadata. The order of domains in the response is unspecified and non-deterministic. Newly registered domains will not necessarily be added to the end of this list.",
          "flatPath": "v2/domains"
        },
        "get": {
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^domains/[^/]+$",
              "description": "Required. The resource name of the domain. Format: `domains/{domain_name}`, where domain_name is the fully qualified domain name (i.e., mymail.mydomain.com).",
              "type": "string",
              "required": true
            }
          },
          "id": "gmailpostmastertools.domains.get",
          "httpMethod": "GET",
          "flatPath": "v2/domains/{domainsId}",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "description": "Retrieves detailed information about a domain registered by you. Returns NOT_FOUND if the domain is not registered by you. Domain represents the metadata of a domain that has been registered within the system and linked to a user.",
          "response": {
            "$ref": "Domain"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v2/{+name}"
        },
        "delete": {
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Deletes a domain from the user's account. Returns NOT_FOUND if the domain is not registered by the user.",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^domains/[^/]+$",
              "description": "Required. The domain to delete.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v2/domains/{domainsId}",
          "response": {
            "$ref": "Empty"
          },
          "id": "gmailpostmastertools.domains.delete",
          "path": "v2/{+name}"
        },
        "verify": {
          "flatPath": "v2/domains/{domainsId}:verify",
          "request": {
            "$ref": "VerifyDomainRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Verifies a user's ownership of a domain at the DNS level. Note that this is distinct from checking if the user has OWNER status within IRDB.",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^domains/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The domain to verify."
            }
          },
          "path": "v2/{+name}:verify",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "VerifyDomainResponse"
          },
          "id": "gmailpostmastertools.domains.verify"
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/postmaster.user": {
          "description": "View and manage users for the domains you have registered with Postmaster Tools"
        },
        "https://www.googleapis.com/auth/postmaster": {
          "description": "Get email traffic metrics, manage domains, and manage domain users for the domains you have registered with Postmaster Tools"
        },
        "https://www.googleapis.com/auth/postmaster.traffic.readonly": {
          "description": "Get email traffic metrics for the domains you have registered with Postmaster Tools"
        },
        "https://www.googleapis.com/auth/postmaster.domain": {
          "description": "View and manage the domains you have registered with Postmaster Tools"
        }
      }
    }
  },
  "version": "v2",
  "id": "gmailpostmastertools:v2",
  "mtlsRootUrl": "https://gmailpostmastertools.mtls.googleapis.com/",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "fullyEncodeReservedExpansion": true
}
