{
  "rootUrl": "https://gmail.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/gmail/api/",
  "basePath": "",
  "description": "The Gmail API lets you view and manage Gmail mailbox data like threads, messages, and labels.",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://gmail.mtls.googleapis.com/",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/gmail.modify": {
          "description": "Read, compose, and send emails from your Gmail account"
        },
        "https://www.googleapis.com/auth/gmail.labels": {
          "description": "See and edit your email labels"
        },
        "https://www.googleapis.com/auth/gmail.settings.basic": {
          "description": "See, edit, create, or change your email settings and filters in Gmail"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.action": {
          "description": "View your email messages when you interact with the add-on"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.metadata": {
          "description": "View your email message metadata when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.readonly": {
          "description": "View your email messages when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.settings.sharing": {
          "description": "Manage your sensitive mail settings, including who can manage your mail"
        },
        "https://www.googleapis.com/auth/gmail.send": {
          "description": "Send email on your behalf"
        },
        "https://www.googleapis.com/auth/gmail.compose": {
          "description": "Manage drafts and send emails"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.action.compose": {
          "description": "Manage drafts and send emails when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.insert": {
          "description": "Add emails into your Gmail mailbox"
        },
        "https://www.googleapis.com/auth/gmail.metadata": {
          "description": "View your email message metadata such as labels and headers, but not the email body"
        },
        "https://www.googleapis.com/auth/gmail.readonly": {
          "description": "View your email messages and settings"
        }
      }
    }
  },
  "batchPath": "batch",
  "version": "v1",
  "baseUrl": "https://gmail.googleapis.com/",
  "kind": "discovery#restDescription",
  "revision": "20260907",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "gmail",
  "discoveryVersion": "v1",
  "canonicalName": "Gmail",
  "resources": {
    "users": {
      "methods": {
        "stop": {
          "flatPath": "gmail/v1/users/{userId}/stop",
          "httpMethod": "POST",
          "id": "gmail.users.stop",
          "path": "gmail/v1/users/{userId}/stop",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "description": "Turn off push notification delivery for the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push).",
          "parameters": {
            "userId": {
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "location": "path",
              "required": true,
              "default": "me",
              "type": "string"
            }
          },
          "parameterOrder": [
            "userId"
          ]
        },
        "watch": {
          "parameterOrder": [
            "userId"
          ],
          "request": {
            "$ref": "WatchRequest"
          },
          "flatPath": "gmail/v1/users/{userId}/watch",
          "response": {
            "$ref": "WatchResponse"
          },
          "parameters": {
            "userId": {
              "default": "me",
              "type": "string",
              "required": true,
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "location": "path"
            }
          },
          "description": "Set up or update a push notification watch on the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push).",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "id": "gmail.users.watch",
          "path": "gmail/v1/users/{userId}/watch",
          "httpMethod": "POST"
        },
        "getProfile": {
          "parameters": {
            "userId": {
              "default": "me",
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "location": "path",
              "required": true
            }
          },
          "description": "Gets the current user's Gmail profile.",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.compose",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "id": "gmail.users.getProfile",
          "path": "gmail/v1/users/{userId}/profile",
          "httpMethod": "GET",
          "parameterOrder": [
            "userId"
          ],
          "flatPath": "gmail/v1/users/{userId}/profile",
          "response": {
            "$ref": "Profile"
          }
        }
      },
      "resources": {
        "labels": {
          "methods": {
            "create": {
              "request": {
                "$ref": "Label"
              },
              "parameterOrder": [
                "userId"
              ],
              "flatPath": "gmail/v1/users/{userId}/labels",
              "response": {
                "$ref": "Label"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                }
              },
              "description": "Creates a label. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
              "id": "gmail.users.labels.create",
              "path": "gmail/v1/users/{userId}/labels",
              "httpMethod": "POST"
            },
            "patch": {
              "httpMethod": "PATCH",
              "id": "gmail.users.labels.patch",
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Patch the specified label. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "default": "me",
                  "type": "string"
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the label to update.",
                  "location": "path"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "response": {
                "$ref": "Label"
              },
              "request": {
                "$ref": "Label"
              },
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "delete": {
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "httpMethod": "DELETE",
              "id": "gmail.users.labels.delete",
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "description": "Immediately and permanently deletes the specified label and removes it from any messages and threads that it's applied to. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the label to delete.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "get": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "type": "string"
                },
                "id": {
                  "description": "The ID of the label to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets the specified label. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
              "id": "gmail.users.labels.get",
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "httpMethod": "GET",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "response": {
                "$ref": "Label"
              }
            },
            "list": {
              "httpMethod": "GET",
              "id": "gmail.users.labels.list",
              "path": "gmail/v1/users/{userId}/labels",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "description": "Lists all labels in the user's mailbox. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "gmail/v1/users/{userId}/labels",
              "response": {
                "$ref": "ListLabelsResponse"
              },
              "parameterOrder": [
                "userId"
              ]
            },
            "update": {
              "id": "gmail.users.labels.update",
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "httpMethod": "PUT",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true
                },
                "id": {
                  "description": "The ID of the label to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Updates the specified label. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "response": {
                "$ref": "Label"
              },
              "request": {
                "$ref": "Label"
              },
              "parameterOrder": [
                "userId",
                "id"
              ]
            }
          }
        },
        "threads": {
          "methods": {
            "trash": {
              "httpMethod": "POST",
              "id": "gmail.users.threads.trash",
              "path": "gmail/v1/users/{userId}/threads/{id}/trash",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Moves the specified thread to the trash. Any messages that belong to the thread are also moved to the trash. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                },
                "id": {
                  "description": "The ID of the thread to Trash.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/trash",
              "response": {
                "$ref": "Thread"
              },
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "location": "query",
                  "type": "string"
                },
                "q": {
                  "description": "Only return threads matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope.",
                  "location": "query",
                  "type": "string"
                },
                "includeSpamTrash": {
                  "description": "Include threads from `SPAM` and `TRASH` in the results.",
                  "location": "query",
                  "default": "false",
                  "type": "boolean"
                },
                "labelIds": {
                  "repeated": true,
                  "type": "string",
                  "description": "Only return threads with labels that match all of the specified label IDs.",
                  "location": "query"
                },
                "userId": {
                  "default": "me",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true
                },
                "maxResults": {
                  "description": "Maximum number of threads to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "location": "query",
                  "format": "uint32",
                  "default": "100",
                  "type": "integer"
                }
              },
              "description": "Lists the threads in the user's mailbox. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "id": "gmail.users.threads.list",
              "path": "gmail/v1/users/{userId}/threads",
              "httpMethod": "GET",
              "parameterOrder": [
                "userId"
              ],
              "flatPath": "gmail/v1/users/{userId}/threads",
              "response": {
                "$ref": "ListThreadsResponse"
              }
            },
            "delete": {
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "default": "me",
                  "type": "string"
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the Thread to delete.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "description": "Immediately and permanently deletes the specified thread. Any messages that belong to the thread are also deleted. This operation cannot be undone. Prefer `threads.trash` instead. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "scopes": [
                "https://mail.google.com/"
              ],
              "id": "gmail.users.threads.delete",
              "path": "gmail/v1/users/{userId}/threads/{id}",
              "flatPath": "gmail/v1/users/{userId}/threads/{id}",
              "httpMethod": "DELETE"
            },
            "get": {
              "id": "gmail.users.threads.get",
              "path": "gmail/v1/users/{userId}/threads/{id}",
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "type": "string"
                },
                "format": {
                  "default": "full",
                  "type": "string",
                  "enum": [
                    "full",
                    "metadata",
                    "minimal"
                  ],
                  "enumDescriptions": [
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message IDs, labels, and email headers.",
                    "Returns only email message IDs and labels; does not return the email headers, body, or payload."
                  ],
                  "description": "The format to return the messages in.",
                  "location": "query"
                },
                "metadataHeaders": {
                  "description": "When given and format is METADATA, only include headers specified.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "id": {
                  "description": "The ID of the thread to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets the specified thread. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "flatPath": "gmail/v1/users/{userId}/threads/{id}",
              "response": {
                "$ref": "Thread"
              },
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "modify": {
              "id": "gmail.users.threads.modify",
              "path": "gmail/v1/users/{userId}/threads/{id}/modify",
              "httpMethod": "POST",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "default": "me",
                  "type": "string"
                },
                "id": {
                  "description": "The ID of the thread to modify.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Modifies the labels applied to the thread. This applies to all messages in the thread. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/modify",
              "response": {
                "$ref": "Thread"
              },
              "request": {
                "$ref": "ModifyThreadRequest"
              },
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "untrash": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/untrash",
              "response": {
                "$ref": "Thread"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Removes the specified thread from the trash. Any messages that belong to the thread are also removed from the trash. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the thread to remove from Trash.",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "id": "gmail.users.threads.untrash",
              "path": "gmail/v1/users/{userId}/threads/{id}/untrash"
            }
          }
        },
        "drafts": {
          "methods": {
            "list": {
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "response": {
                "$ref": "ListDraftsResponse"
              },
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "GET",
              "id": "gmail.users.drafts.list",
              "path": "gmail/v1/users/{userId}/drafts",
              "description": "Lists the drafts in the user's mailbox. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "parameters": {
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "location": "query",
                  "type": "string"
                },
                "q": {
                  "description": "Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
                  "location": "query",
                  "type": "string"
                },
                "includeSpamTrash": {
                  "default": "false",
                  "type": "boolean",
                  "description": "Include drafts from `SPAM` and `TRASH` in the results.",
                  "location": "query"
                },
                "userId": {
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                },
                "maxResults": {
                  "default": "100",
                  "type": "integer",
                  "description": "Maximum number of drafts to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "location": "query",
                  "format": "uint32"
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ]
            },
            "update": {
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "supportsMediaUpload": true,
              "response": {
                "$ref": "Draft"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "request": {
                "$ref": "Draft"
              },
              "id": "gmail.users.drafts.update",
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "httpMethod": "PUT",
              "mediaUpload": {
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/{id}"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/{id}"
                  }
                },
                "accept": [
                  "message/*"
                ]
              },
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "type": "string"
                },
                "id": {
                  "description": "The ID of the draft to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Replaces a draft's content. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "delete": {
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "httpMethod": "DELETE",
              "id": "gmail.users.drafts.delete",
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Immediately and permanently deletes the specified draft. Does not simply trash it. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the draft to delete.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "get": {
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "response": {
                "$ref": "Draft"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "id": "gmail.users.drafts.get",
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "httpMethod": "GET",
              "parameters": {
                "id": {
                  "description": "The ID of the draft to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "userId": {
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                },
                "format": {
                  "description": "The format to return the draft in.",
                  "location": "query",
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "default": "full",
                  "type": "string"
                }
              },
              "description": "Gets the specified draft. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ]
            },
            "send": {
              "httpMethod": "POST",
              "id": "gmail.users.drafts.send",
              "path": "gmail/v1/users/{userId}/drafts/send",
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/send"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/send"
                  }
                }
              },
              "description": "Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/drafts/send",
              "supportsMediaUpload": true,
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "userId"
              ],
              "request": {
                "$ref": "Draft"
              }
            },
            "create": {
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                }
              },
              "description": "Creates a draft with the `DRAFT` label. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "id": "gmail.users.drafts.create",
              "path": "gmail/v1/users/{userId}/drafts",
              "httpMethod": "POST",
              "mediaUpload": {
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts"
                  }
                },
                "accept": [
                  "message/*"
                ]
              },
              "parameterOrder": [
                "userId"
              ],
              "request": {
                "$ref": "Draft"
              },
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "supportsMediaUpload": true,
              "response": {
                "$ref": "Draft"
              }
            }
          }
        },
        "history": {
          "methods": {
            "list": {
              "id": "gmail.users.history.list",
              "path": "gmail/v1/users/{userId}/history",
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameters": {
                "labelId": {
                  "type": "string",
                  "description": "Only return messages with a label matching the ID.",
                  "location": "query"
                },
                "historyTypes": {
                  "repeated": true,
                  "enumDescriptions": [
                    "",
                    "",
                    "",
                    ""
                  ],
                  "description": "History types to be returned by the function",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "messageAdded",
                    "messageDeleted",
                    "labelAdded",
                    "labelRemoved"
                  ]
                },
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "location": "query",
                  "type": "string"
                },
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "type": "string"
                },
                "maxResults": {
                  "description": "Maximum number of history records to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "location": "query",
                  "format": "uint32",
                  "default": "100",
                  "type": "integer"
                },
                "startHistoryId": {
                  "description": "Required. Returns history records after the specified `startHistoryId`. The supplied `startHistoryId` should be obtained from the `historyId` of a message, thread, or previous `list` response. History IDs increase chronologically but are not contiguous with random gaps in between valid IDs. Supplying an invalid or out of date `startHistoryId` typically returns an `HTTP 404` error code. A `historyId` is typically valid for at least a week, but in some rare circumstances may be valid for only a few hours. If you receive an `HTTP 404` error response, your application should perform a full sync. If you receive no `nextPageToken` in the response, there are no updates to retrieve and you can store the returned `historyId` for a future request.",
                  "location": "query",
                  "type": "string",
                  "format": "uint64"
                }
              },
              "description": "Lists the history of all changes to the given mailbox. History results are returned in chronological order (increasing `historyId`). For more information, see [Synchronize clients with Gmail](https://developers.google.com/workspace/gmail/api/guides/sync).",
              "flatPath": "gmail/v1/users/{userId}/history",
              "response": {
                "$ref": "ListHistoryResponse"
              },
              "parameterOrder": [
                "userId"
              ]
            }
          }
        },
        "messages": {
          "methods": {
            "delete": {
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true
                },
                "id": {
                  "description": "The ID of the message to delete.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "description": "Immediately and permanently deletes the specified message. This operation cannot be undone. Prefer `messages.trash` instead.",
              "scopes": [
                "https://mail.google.com/"
              ],
              "id": "gmail.users.messages.delete",
              "path": "gmail/v1/users/{userId}/messages/{id}",
              "flatPath": "gmail/v1/users/{userId}/messages/{id}",
              "httpMethod": "DELETE"
            },
            "get": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/{id}",
              "response": {
                "$ref": "Message"
              },
              "parameters": {
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the message to retrieve. This ID is usually retrieved using `messages.list`. The ID is also contained in the result when a message is inserted (`messages.insert`) or imported (`messages.import`).",
                  "location": "path"
                },
                "userId": {
                  "default": "me",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true
                },
                "format": {
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "description": "The format to return the message in.",
                  "location": "query",
                  "default": "full",
                  "type": "string",
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ]
                },
                "metadataHeaders": {
                  "repeated": true,
                  "type": "string",
                  "description": "When given and format is `METADATA`, only include headers specified.",
                  "location": "query"
                }
              },
              "description": "Gets the specified message.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "id": "gmail.users.messages.get",
              "path": "gmail/v1/users/{userId}/messages/{id}",
              "httpMethod": "GET"
            },
            "trash": {
              "httpMethod": "POST",
              "id": "gmail.users.messages.trash",
              "path": "gmail/v1/users/{userId}/messages/{id}/trash",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Moves the specified message to the trash.",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "type": "string"
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the message to Trash.",
                  "location": "path"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/trash",
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "untrash": {
              "id": "gmail.users.messages.untrash",
              "path": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the message to remove from Trash.",
                  "location": "path"
                }
              },
              "description": "Removes the specified message from the trash.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "batchModify": {
              "httpMethod": "POST",
              "id": "gmail.users.messages.batchModify",
              "path": "gmail/v1/users/{userId}/messages/batchModify",
              "description": "Modifies the labels and the Classification Label values on the specified messages. For administrators modifying messages for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.modify.restricted` scope.",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "type": "string"
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/batchModify",
              "parameterOrder": [
                "userId"
              ],
              "request": {
                "$ref": "BatchModifyMessagesRequest"
              }
            },
            "insert": {
              "httpMethod": "POST",
              "id": "gmail.users.messages.insert",
              "path": "gmail/v1/users/{userId}/messages",
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "maxSize": "157286400",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages"
                  }
                }
              },
              "description": "Directly inserts a message into only this user's mailbox similar to `IMAP APPEND`, bypassing most scanning and classification. Does not send a message. For more information, see [Create and send email messages](https://developers.google.com/workspace/gmail/api/guides/sending).",
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true
                },
                "deleted": {
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
                  "location": "query",
                  "default": "false",
                  "type": "boolean"
                },
                "internalDateSource": {
                  "default": "receivedTime",
                  "type": "string",
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ],
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ],
                  "description": "Source for Gmail's internal date of the message.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages",
              "supportsMediaUpload": true,
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "userId"
              ],
              "request": {
                "$ref": "Message"
              }
            },
            "list": {
              "flatPath": "gmail/v1/users/{userId}/messages",
              "response": {
                "$ref": "ListMessagesResponse"
              },
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.messages.list",
              "path": "gmail/v1/users/{userId}/messages",
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                },
                "maxResults": {
                  "default": "100",
                  "type": "integer",
                  "description": "Maximum number of messages to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "location": "query",
                  "format": "uint32"
                },
                "labelIds": {
                  "description": "Only return messages with labels that match all of the specified label IDs. Messages in a thread might have labels that other messages in the same thread don't have. To learn more, see [Manage labels on messages and threads](https://developers.google.com/workspace/gmail/api/guides/labels#manage_labels_on_messages_threads).",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "location": "query",
                  "type": "string"
                },
                "q": {
                  "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope.",
                  "location": "query",
                  "type": "string"
                },
                "includeSpamTrash": {
                  "description": "Include messages from `SPAM` and `TRASH` in the results.",
                  "location": "query",
                  "default": "false",
                  "type": "boolean"
                }
              },
              "description": "Lists the messages in the user's mailbox. For more information, see [List Gmail messages](https://developers.google.com/workspace/gmail/api/guides/list-messages).",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ]
            },
            "batchDelete": {
              "httpMethod": "POST",
              "id": "gmail.users.messages.batchDelete",
              "path": "gmail/v1/users/{userId}/messages/batchDelete",
              "description": "Deletes many messages by message ID. Provides no guarantees that messages were not already deleted or even existed at all.",
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://mail.google.com/"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/batchDelete",
              "parameterOrder": [
                "userId"
              ],
              "request": {
                "$ref": "BatchDeleteMessagesRequest"
              }
            },
            "send": {
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/send"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages/send"
                  }
                }
              },
              "id": "gmail.users.messages.send",
              "path": "gmail/v1/users/{userId}/messages/send",
              "httpMethod": "POST",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.send"
              ],
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Sends the specified message to the recipients in the `To`, `Cc`, and `Bcc` headers. For more information, see [Create and send email messages](https://developers.google.com/workspace/gmail/api/guides/sending).",
              "flatPath": "gmail/v1/users/{userId}/messages/send",
              "supportsMediaUpload": true,
              "response": {
                "$ref": "Message"
              },
              "request": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "userId"
              ]
            },
            "modify": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "request": {
                "$ref": "ModifyMessageRequest"
              },
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/modify",
              "response": {
                "$ref": "Message"
              },
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                },
                "id": {
                  "description": "The ID of the message to modify.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Modifies the labels and the Classification Label values on the specified message. For administrators modifying message for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.modify.restricted` scope.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "id": "gmail.users.messages.modify",
              "path": "gmail/v1/users/{userId}/messages/{id}/modify",
              "httpMethod": "POST"
            },
            "import": {
              "request": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "userId"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/import",
              "supportsMediaUpload": true,
              "response": {
                "$ref": "Message"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                },
                "deleted": {
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
                  "location": "query",
                  "default": "false",
                  "type": "boolean"
                },
                "internalDateSource": {
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ],
                  "default": "dateHeader",
                  "type": "string",
                  "description": "Source for Gmail's internal date of the message.",
                  "location": "query",
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ]
                },
                "neverMarkSpam": {
                  "description": "Ignore the Gmail spam classifier decision and never mark this email as SPAM in the mailbox.",
                  "location": "query",
                  "default": "false",
                  "type": "boolean"
                },
                "processForCalendar": {
                  "description": "Process calendar invites in the email and add any extracted meetings to the Google Calendar for this user.",
                  "location": "query",
                  "default": "false",
                  "type": "boolean"
                }
              },
              "description": "Imports a message into only this user's mailbox, with standard email delivery scanning and classification similar to receiving via SMTP. This method doesn't perform SPF checks, so it might not work for some spam messages, such as those attempting to perform domain spoofing. This method does not send a message. Note that the maximum size of the message is 150 MB.",
              "mediaUpload": {
                "maxSize": "157286400",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/import"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages/import"
                  }
                },
                "accept": [
                  "message/*"
                ]
              },
              "id": "gmail.users.messages.import",
              "path": "gmail/v1/users/{userId}/messages/import",
              "httpMethod": "POST"
            }
          },
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "flatPath": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "response": {
                    "$ref": "MessagePartBody"
                  },
                  "parameterOrder": [
                    "userId",
                    "messageId",
                    "id"
                  ],
                  "httpMethod": "GET",
                  "id": "gmail.users.messages.attachments.get",
                  "path": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly"
                  ],
                  "description": "Gets the specified message attachment.",
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "type": "string",
                      "required": true,
                      "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                      "location": "path"
                    },
                    "messageId": {
                      "required": true,
                      "type": "string",
                      "description": "The ID of the message containing the attachment.",
                      "location": "path"
                    },
                    "id": {
                      "description": "The ID of the attachment.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "settings": {
          "methods": {
            "getPop": {
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "response": {
                "$ref": "PopSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.settings.getPop",
              "path": "gmail/v1/users/{userId}/settings/pop",
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "default": "me",
                  "type": "string"
                }
              },
              "description": "Gets POP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings)."
            },
            "updatePop": {
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "response": {
                "$ref": "PopSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "request": {
                "$ref": "PopSettings"
              },
              "httpMethod": "PUT",
              "id": "gmail.users.settings.updatePop",
              "path": "gmail/v1/users/{userId}/settings/pop",
              "description": "Updates POP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ]
            },
            "getImap": {
              "description": "Gets IMAP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "httpMethod": "GET",
              "id": "gmail.users.settings.getImap",
              "path": "gmail/v1/users/{userId}/settings/imap",
              "parameterOrder": [
                "userId"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "response": {
                "$ref": "ImapSettings"
              }
            },
            "getVacation": {
              "parameterOrder": [
                "userId"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "response": {
                "$ref": "VacationSettings"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Gets vacation responder settings. For more information, see [Manage vacation settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/vacation_settings).",
              "id": "gmail.users.settings.getVacation",
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "httpMethod": "GET"
            },
            "updateVacation": {
              "id": "gmail.users.settings.updateVacation",
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "type": "string"
                }
              },
              "description": "Updates vacation responder settings. For more information, see [Manage vacation settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/vacation_settings).",
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "response": {
                "$ref": "VacationSettings"
              },
              "request": {
                "$ref": "VacationSettings"
              },
              "parameterOrder": [
                "userId"
              ]
            },
            "updateImap": {
              "parameterOrder": [
                "userId"
              ],
              "request": {
                "$ref": "ImapSettings"
              },
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "response": {
                "$ref": "ImapSettings"
              },
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path"
                }
              },
              "description": "Updates IMAP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "id": "gmail.users.settings.updateImap",
              "path": "gmail/v1/users/{userId}/settings/imap",
              "httpMethod": "PUT"
            },
            "getLanguage": {
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "response": {
                "$ref": "LanguageSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "GET",
              "id": "gmail.users.settings.getLanguage",
              "path": "gmail/v1/users/{userId}/settings/language",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "description": "Gets language settings. For more information, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings).",
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "default": "me",
                  "type": "string"
                }
              }
            },
            "updateLanguage": {
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path"
                }
              },
              "description": "Updates language settings. For more information, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings). If successful, the return object contains the `displayLanguage` that was saved for the user, which may differ from the value passed into the request. This is because the requested `displayLanguage` may not be directly supported by Gmail but have a close variant that is, and so the variant may be chosen and saved instead.",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "id": "gmail.users.settings.updateLanguage",
              "path": "gmail/v1/users/{userId}/settings/language",
              "httpMethod": "PUT",
              "parameterOrder": [
                "userId"
              ],
              "request": {
                "$ref": "LanguageSettings"
              },
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "response": {
                "$ref": "LanguageSettings"
              }
            },
            "getAutoForwarding": {
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "response": {
                "$ref": "AutoForwarding"
              },
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "GET",
              "id": "gmail.users.settings.getAutoForwarding",
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "description": "Gets the auto-forwarding setting for the specified account. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings).",
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "default": "me",
                  "type": "string"
                }
              }
            },
            "updateAutoForwarding": {
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "response": {
                "$ref": "AutoForwarding"
              },
              "request": {
                "$ref": "AutoForwarding"
              },
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "PUT",
              "id": "gmail.users.settings.updateAutoForwarding",
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.sharing"
              ],
              "description": "Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "default": "me",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "cse": {
              "resources": {
                "identities": {
                  "methods": {
                    "delete": {
                      "description": "Deletes a client-side encryption identity. The authenticated user can no longer use the identity to send encrypted messages. You cannot restore the identity after you delete it. Instead, use the CreateCseIdentity method to create another identity with the same configuration. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "required": true,
                          "default": "me",
                          "type": "string"
                        },
                        "cseEmailAddress": {
                          "description": "The primary email address associated with the client-side encryption identity configuration that's removed.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "userId",
                        "cseEmailAddress"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "httpMethod": "DELETE",
                      "id": "gmail.users.settings.cse.identities.delete",
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}"
                    },
                    "get": {
                      "parameterOrder": [
                        "userId",
                        "cseEmailAddress"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "userId": {
                          "default": "me",
                          "type": "string",
                          "required": true,
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path"
                        },
                        "cseEmailAddress": {
                          "description": "The primary email address associated with the client-side encryption identity configuration that's retrieved.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Retrieves a client-side encryption identity configuration. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "id": "gmail.users.settings.cse.identities.get",
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "httpMethod": "GET"
                    },
                    "list": {
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "description": "Lists the client-side encrypted identities for an authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "required": true,
                          "default": "me",
                          "type": "string"
                        },
                        "pageSize": {
                          "default": "20",
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of identities to return. If not provided, the page size will default to 20 entries.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Pagination token indicating which page of identities to return. If the token is not supplied, then the API will return the first page of results.",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "gmail.users.settings.cse.identities.list",
                      "path": "gmail/v1/users/{userId}/settings/cse/identities",
                      "parameterOrder": [
                        "userId"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities",
                      "response": {
                        "$ref": "ListCseIdentitiesResponse"
                      }
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "required": true,
                          "default": "me",
                          "type": "string"
                        }
                      },
                      "description": "Creates and configures a client-side encryption identity that's authorized to send mail from the user account. Google publishes the S/MIME certificate to a shared domain-wide directory so that people within a Google Workspace organization can encrypt and send mail to the identity. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "id": "gmail.users.settings.cse.identities.create",
                      "path": "gmail/v1/users/{userId}/settings/cse/identities",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "CseIdentity"
                      },
                      "parameterOrder": [
                        "userId"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities",
                      "response": {
                        "$ref": "CseIdentity"
                      }
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "userId": {
                          "required": true,
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "default": "me",
                          "type": "string"
                        },
                        "emailAddress": {
                          "required": true,
                          "type": "string",
                          "description": "The email address of the client-side encryption identity to update.",
                          "location": "path"
                        }
                      },
                      "description": "Associates a different key pair with an existing client-side encryption identity. The updated key pair must validate against Google's [S/MIME certificate profiles](https://support.google.com/a/answer/7300887). For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "id": "gmail.users.settings.cse.identities.patch",
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "CseIdentity"
                      },
                      "parameterOrder": [
                        "userId",
                        "emailAddress"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}",
                      "response": {
                        "$ref": "CseIdentity"
                      }
                    }
                  }
                },
                "keypairs": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "userId"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "response": {
                        "$ref": "ListCseKeyPairsResponse"
                      },
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "required": true,
                          "default": "me",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The number of key pairs to return. If not provided, the page size will default to 20 entries.",
                          "location": "query",
                          "default": "20",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Pagination token indicating which page of key pairs to return. If the token is not supplied, then the API will return the first page of results.",
                          "location": "query"
                        }
                      },
                      "description": "Lists client-side encryption key pairs for an authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "id": "gmail.users.settings.cse.keypairs.list",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "httpMethod": "GET"
                    },
                    "enable": {
                      "id": "gmail.users.settings.cse.keypairs.enable",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable",
                      "httpMethod": "POST",
                      "parameters": {
                        "userId": {
                          "default": "me",
                          "type": "string",
                          "required": true,
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path"
                        },
                        "keyPairId": {
                          "required": true,
                          "type": "string",
                          "description": "The identifier of the key pair to turn on.",
                          "location": "path"
                        }
                      },
[...]
