{
  "batchPath": "batch",
  "baseUrl": "https://gmailpostmastertools.googleapis.com/",
  "revision": "20260909",
  "kind": "discovery#restDescription",
  "rootUrl": "https://gmailpostmastertools.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/postmaster": {
          "description": "Get email traffic metrics, manage domains, and manage domain users for the domains you have registered with Postmaster Tools"
        },
        "https://www.googleapis.com/auth/postmaster.user": {
          "description": "View and manage users for the domains you have registered with Postmaster Tools"
        },
        "https://www.googleapis.com/auth/postmaster.traffic.readonly": {
          "description": "Get email traffic metrics for the domains you have registered with Postmaster Tools"
        },
        "https://www.googleapis.com/auth/postmaster.domain": {
          "description": "View and manage the domains you have registered with Postmaster Tools"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "domains": {
      "methods": {
        "list": {
          "id": "gmailpostmastertools.domains.list",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Retrieves a list of all domains registered by you, along with their corresponding metadata. The order of domains in the response is unspecified and non-deterministic. Newly registered domains will not necessarily be added to the end of this list.",
          "path": "v2/domains",
          "parameters": {
            "pageToken": {
              "description": "Optional. The next_page_token value returned from a previous List request, if any.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. Requested page size. Server may return fewer domains than requested. If unspecified, the default value for this field is 10. The maximum value for this field is 200.",
              "location": "query"
            }
          },
          "flatPath": "v2/domains",
          "response": {
            "$ref": "ListDomainsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ]
        },
        "create": {
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Adds a domain to the user's account. Returns INVALID_ARGUMENT if a domain is not provided. Returns ALREADY_EXISTS if the domain is already registered by the user.",
          "flatPath": "v2/domains",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "response": {
            "$ref": "Domain"
          },
          "path": "v2/domains",
          "request": {
            "$ref": "CreateDomainRequest"
          },
          "httpMethod": "POST",
          "id": "gmailpostmastertools.domains.create",
          "parameters": {},
          "parameterOrder": []
        },
        "delete": {
          "id": "gmailpostmastertools.domains.delete",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The domain to delete.",
              "pattern": "^domains/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "path": "v2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Deletes a domain from the user's account. Returns NOT_FOUND if the domain is not registered by the user.",
          "flatPath": "v2/domains/{domainsId}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ]
        },
        "getVerificationToken": {
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "response": {
            "$ref": "DomainVerificationToken"
          },
          "flatPath": "v2/domains/{domainsId}/verificationToken",
          "parameters": {
            "verificationMethod": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "Generate a DNS TXT verification token.",
                "Generate a DNS CNAME verification token."
              ],
              "description": "Required. The verification method used. Must be specified, i.e. TXT or CNAME.",
              "enum": [
                "DOMAIN_VERIFICATION_METHOD_UNSPECIFIED",
                "TXT",
                "CNAME"
              ]
            },
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The resource name of the verification token to retrieve. Format: `domains/{domain}/verificationToken`",
              "pattern": "^domains/[^/]+/verificationToken$",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "id": "gmailpostmastertools.domains.getVerificationToken",
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Gets a verification token used for verifying a user's ownership over a domain.",
          "path": "v2/{+name}"
        },
        "verify": {
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Verifies a user's ownership of a domain at the DNS level. Note that this is distinct from checking if the user has OWNER status within IRDB.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/domains/{domainsId}:verify",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "response": {
            "$ref": "VerifyDomainResponse"
          },
          "path": "v2/{+name}:verify",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^domains/[^/]+$",
              "description": "Required. The domain to verify.",
              "required": true
            }
          },
          "id": "gmailpostmastertools.domains.verify",
          "httpMethod": "POST",
          "request": {
            "$ref": "VerifyDomainRequest"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "id": "gmailpostmastertools.domains.get",
          "response": {
            "$ref": "Domain"
          },
          "flatPath": "v2/domains/{domainsId}",
          "parameters": {
            "name": {
              "pattern": "^domains/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The resource name of the domain. Format: `domains/{domain_name}`, where domain_name is the fully qualified domain name (i.e., mymail.mydomain.com).",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "path": "v2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves detailed information about a domain registered by you. Returns NOT_FOUND if the domain is not registered by you. Domain represents the metadata of a domain that has been registered within the system and linked to a user."
        },
        "getComplianceStatus": {
          "parameters": {
            "name": {
              "description": "Required. The resource name of the domain's compliance status to retrieve. Format: `domains/{domain_id}/complianceStatus`.",
              "type": "string",
              "required": true,
              "pattern": "^domains/[^/]+/complianceStatus$",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.traffic.readonly"
          ],
          "id": "gmailpostmastertools.domains.getComplianceStatus",
          "path": "v2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "DomainComplianceStatus"
          },
          "flatPath": "v2/domains/{domainsId}/complianceStatus",
          "description": "Retrieves the compliance status for a given domain. Returns PERMISSION_DENIED if you don't have permission to access compliance status for the domain."
        }
      },
      "resources": {
        "domainStats": {
          "methods": {
            "query": {
              "description": "Retrieves a list of domain statistics for a given domain and time period. Returns statistics only for dates where data is available. Returns PERMISSION_DENIED if you don't have permission to access DomainStats for the domain.",
              "id": "gmailpostmastertools.domains.domainStats.query",
              "path": "v2/{+parent}/domainStats:query",
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.traffic.readonly"
              ],
              "response": {
                "$ref": "QueryDomainStatsResponse"
              },
              "flatPath": "v2/domains/{domainsId}/domainStats:query",
              "request": {
                "$ref": "QueryDomainStatsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^domains/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource name where the stats are queried. Format: domains/{domain}"
                }
              }
            }
          }
        },
        "users": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "gmailpostmastertools.domains.users.list",
              "response": {
                "$ref": "ListUsersResponse"
              },
              "path": "v2/{+parent}/users",
              "flatPath": "v2/domains/{domainsId}/users",
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^domains/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource name for which to list users. Format: `domains/{domain}`"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Requested page size. Server may return fewer users than requested. If unspecified, the default value for this field is 10. The maximum value for this field is 200.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Lists the users that have access to a domain."
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "id": "gmailpostmastertools.domains.users.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name of the user to retrieve. Format: `domains/{domain}/users/{user}`",
                  "location": "path",
                  "pattern": "^domains/[^/]+/users/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "User"
              },
              "flatPath": "v2/domains/{domainsId}/users/{usersId}",
              "parameterOrder": [
                "name"
              ],
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Retrieves detailed information about a user that has access to a domain. Returns NOT_FOUND if the user does not exist.",
              "path": "v2/{+name}"
            },
            "patch": {
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Updates a user for a domain. Only Owners and Admins can execute this RPC, only a user's domain permission will be allowed to be updated. Returns NOT_FOUND if the user does not exist. Returns INVALID_ARGUMENT if a permission is not provided or is PERMISSION_UNSPECIFIED, NONE, or OWNER.",
              "id": "gmailpostmastertools.domains.users.patch",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "response": {
                "$ref": "User"
              },
              "flatPath": "v2/domains/{domainsId}/users/{usersId}",
              "request": {
                "$ref": "User"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "description": "The list of fields to update.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "Identifier. The resource name of the user. Format: users/{user} Note: {user} is the user's email address.",
                  "pattern": "^domains/[^/]+/users/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "create": {
              "id": "gmailpostmastertools.domains.users.create",
              "flatPath": "v2/domains/{domainsId}/users",
              "response": {
                "$ref": "User"
              },
              "path": "v2/{+parent}/users",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "CreateUserRequest"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^domains/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource where this user will be created. Format: domains/{domain}"
                }
              },
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Creates a user, who has access to a domain. Returns INVALID_ARGUMENT if a user is not provided.",
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^domains/[^/]+/users/[^/]+$",
                  "description": "Required. The resource name of the user to delete. Format: domains/{domain}/users/{user}",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v2/domains/{domainsId}/users/{usersId}",
              "id": "gmailpostmastertools.domains.users.delete",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Deletes a user from a domain. Returns NOT_FOUND if the user does not exist."
            }
          }
        }
      }
    },
    "domainStats": {
      "methods": {
        "batchQuery": {
          "request": {
            "$ref": "BatchQueryDomainStatsRequest"
          },
          "id": "gmailpostmastertools.domainStats.batchQuery",
          "description": "Executes a batch of QueryDomainStats requests for multiple domains. Returns PERMISSION_DENIED if you don't have permission to access DomainStats for any of the requested domains.",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.traffic.readonly"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v2/domainStats:batchQuery",
          "response": {
            "$ref": "BatchQueryDomainStatsResponse"
          },
          "path": "v2/domainStats:batchQuery"
        }
      }
    }
  },
  "protocol": "rest",
  "ownerName": "Google",
  "description": "The Postmaster Tools API is a RESTful API that provides programmatic access to email traffic metrics (like spam reports, delivery errors etc) otherwise available through the Gmail Postmaster Tools UI currently.",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "canonicalName": "Postmaster Tools",
  "title": "Gmail Postmaster Tools API",
  "version": "v2",
  "schemas": {
    "StatisticValue": {
      "description": "The actual value of a statistic.",
      "type": "object",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "String value."
        },
        "stringList": {
          "description": "List of string values.",
          "$ref": "StringList"
        },
        "intValue": {
          "format": "int64",
          "description": "Integer value.",
          "type": "string"
        },
        "doubleValue": {
          "description": "Double value.",
          "type": "number",
          "format": "double"
        },
        "floatValue": {
          "description": "Float value.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "StatisticValue"
    },
    "ComplianceStatus": {
      "id": "ComplianceStatus",
      "properties": {
        "status": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLIANT",
            "NEEDS_WORK"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The compliance requirement is met, and the sender is deemed compliant.",
            "The compliance requirement is unmet, and the sender needs to do work to achieve compliance."
          ],
          "description": "Output only. The compliance status.",
          "type": "string"
        }
      },
      "description": "The status of a sender compliance requirement.",
      "type": "object"
    },
    "ListUsersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "users": {
          "description": "The users that have access to the domain.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        }
      },
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Response message for ListUsers.",
      "id": "ListUsersResponse",
      "type": "object"
    },
    "BatchQueryDomainStatsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. A list of individual query requests. Each request can be for a different domain. A maximum of 100 requests can be included in a single batch.",
          "items": {
            "$ref": "QueryDomainStatsRequest"
          }
        }
      },
      "description": "Request message for BatchQueryDomainStats.",
      "id": "BatchQueryDomainStatsRequest"
    },
    "BaseMetric": {
      "type": "object",
      "id": "BaseMetric",
      "properties": {
        "standardMetric": {
          "enumDescriptions": [
            "Unspecified standard metric. This value should not be used directly.",
            "Predefined metric for Feedback Loop (FBL) id. The `filter` field supports selecting the aggregation key type. Supported format: `aggregation_key_type` = \"\". Supported values: * `FROM_HEADER`: (Default) The metric includes messages with From: header domain matching the requested domain. * `ALL_DKIM`: The metric includes messages with one of the signed DKIM domains matching the requested domain.",
            "Predefined metric for Feedback Loop (FBL) spam rate. The `filter` field requires a `feedback_loop_id` and optionally accepts an `aggregation_key_type`. Supported formats are: * `feedback_loop_id` = \"\" * `feedback_loop_id` = \"\" AND `aggregation_key_type` = \"\" If `aggregation_key_type` is omitted, it defaults to `FROM_HEADER`. Supported values: * `FROM_HEADER`: (Default) The metric includes messages with From: header domain matching the requested domain. * `ALL_DKIM`: The metric includes messages with one of the signed DKIM domains matching the requested domain.",
            "Predefined metric for spam rate.",
            "The success rate of authentication mechanisms (DKIM, SPF, DMARC). Filter must be of type auth_type = \"\" where is one of: [spf, dkim, dmarc]",
            "The rate of messages that were TLS encrypted in transit Filter must be of type traffic_direction = \"\" where is one of: [inbound, outbound]",
            "The rate of messages that were TLS encrypted in transit Filter must be of type traffic_direction = \"\" where is one of: [inbound, outbound]",
            "The total count of delivery errors encountered (temporary or permanent rejects). The `filter` field supports a limited syntax. Supported formats are: * Empty: No filter is applied. * `error_type` = \"\" * `error_type` = \"\" AND `error_reason` = \"\" If an empty filter is provided, the metric will be aggregated across all error types and reasons. If only `error_type` is specified, the metric will be aggregated across all reasons for that type. Supported values: * reject * temp_fail Supported values depend on the : * For 'reject': [bad_attachment, bad_or_missing_ptr_record, ip_in_rbls, low_domain_reputation, low_ip_reputation, spammy_content, stamp_policy_error, other] * For 'temp_fail': [anomalous_traffic_pattern, other]",
            "Delivery error rate for the specified delivery error type. The `filter` field supports a limited syntax. Supported formats are: * Empty: No filter is applied. * `error_type` = \"\" * `error_type` = \"\" AND `error_reason` = \"\" If an empty filter is provided, the metric will be aggregated across all error types and reasons. If only `error_type` is specified, the metric will be aggregated across all reasons for that type. Supported values: * reject * temp_fail Supported values depend on the : * For 'reject': [bad_attachment, bad_or_missing_ptr_record, ip_in_rbls, low_domain_reputation, low_ip_reputation, spammy_content, stamp_policy_error, other] * For 'temp_fail': [anomalous_traffic_pattern, other]"
          ],
          "description": "A predefined standard metric.",
          "type": "string",
          "enum": [
            "STANDARD_METRIC_UNSPECIFIED",
            "FEEDBACK_LOOP_ID",
            "FEEDBACK_LOOP_SPAM_RATE",
            "SPAM_RATE",
            "AUTH_SUCCESS_RATE",
            "TLS_ENCRYPTION_MESSAGE_COUNT",
            "TLS_ENCRYPTION_RATE",
            "DELIVERY_ERROR_COUNT",
            "DELIVERY_ERROR_RATE"
          ]
        }
      },
      "description": "Specifies the base metric to query, which can be a predefined standard metric or a user-defined custom metric (if supported in the future)."
    },
    "QueryDomainStatsResponse": {
      "description": "Response message for QueryDomainStats.",
      "properties": {
        "domainStats": {
          "description": "The list of domain statistics. Each DomainStat object contains the value for a metric requested in the QueryDomainStatsRequest.",
          "type": "array",
          "items": {
            "$ref": "DomainStat"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "QueryDomainStatsResponse"
    },
    "DomainVerificationToken": {
      "properties": {
        "token": {
          "type": "string",
          "description": "The verification token."
        },
        "verificationMethod": {
          "enumDescriptions": [
            "Unspecified.",
            "Generate a DNS TXT verification token.",
            "Generate a DNS CNAME verification token."
          ],
          "description": "The verification method used.",
          "type": "string",
          "enum": [
            "DOMAIN_VERIFICATION_METHOD_UNSPECIFIED",
            "TXT",
            "CNAME"
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the domain verification token. Format: domains/{domain}/verificationToken",
          "type": "string"
        }
      },
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): The DNS token a user can use to verify ownership of a domain.",
      "type": "object",
      "id": "DomainVerificationToken"
    },
    "DomainComplianceData": {
      "id": "DomainComplianceData",
      "properties": {
        "honorUnsubscribeVerdict": {
          "description": "Unsubscribe honoring compliance verdict.",
          "$ref": "HonorUnsubscribeVerdict"
        },
        "rowData": {
          "type": "array",
          "description": "Data for each of the rows of the table. Each message contains all the data that backs a single row.",
          "items": {
            "$ref": "ComplianceRowData"
          }
        },
        "oneClickUnsubscribeVerdict": {
          "$ref": "OneClickUnsubscribeVerdict",
          "description": "One-click unsubscribe compliance verdict."
        },
        "domainId": {
          "type": "string",
          "description": "Domain that this data is for."
        },
        "deliverabilityStatusVerdict": {
          "description": "Output only. Deliverability status verdict.",
          "$ref": "DeliverabilityStatusVerdict",
          "readOnly": true
        }
      },
      "description": "Compliance data for a given domain.",
      "type": "object"
    },
    "MetricDefinition": {
      "type": "object",
      "description": "Defines a specific metric to query, including a user-defined name, the base metric type, and optional filters.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The user-defined name for this metric. This name will be used as the key for this metric's value in the response."
        },
        "baseMetric": {
          "$ref": "BaseMetric",
          "description": "Required. The underlying metric to query."
        },
        "filter": {
          "type": "string",
          "description": "Optional. Optional filters to apply to the metric."
        }
      },
      "id": "MetricDefinition"
    },
    "DateList": {
      "description": "A set of specific dates.",
      "type": "object",
      "id": "DateList",
      "properties": {
        "dates": {
          "type": "array",
          "description": "Required. The list of specific dates for which to retrieve data.",
          "items": {
            "$ref": "Date"
          }
        }
      }
    },
    "QueryDomainStatsRequest": {
      "description": "Request message for QueryDomainStats.",
      "type": "object",
      "properties": {
        "metricDefinitions": {
          "description": "Required. The specific metrics to query. You can define a custom name for each metric, which will be used in the response.",
          "type": "array",
          "items": {
            "$ref": "MetricDefinition"
          }
        },
        "parent": {
          "description": "Required. The parent resource name where the stats are queried. Format: domains/{domain}",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. The next_page_token value returned from a previous List request, if any. If the aggregation granularity is DAILY, the page token will be the encoded date + \"/\" + metric name. If the aggregation granularity is OVERALL, the page token will be the encoded metric name.",
          "type": "string"
        },
        "timeQuery": {
          "$ref": "TimeQuery",
          "description": "Required. The time range or specific dates for which to retrieve the metrics."
        },
        "aggregationGranularity": {
          "enumDescriptions": [
            "Unspecified granularity. Defaults to DAILY.",
            "Statistics are aggregated on a daily basis. Each DomainStats entry in the response will correspond to a single day.",
            "Statistics are aggregated over the entire requested time period. Each DomainStats entry in the response will represent the total for the period."
          ],
          "type": "string",
          "enum": [
            "AGGREGATION_GRANULARITY_UNSPECIFIED",
            "DAILY",
            "OVERALL"
          ],
          "description": "Optional. The granularity at which to aggregate the statistics. If unspecified, defaults to DAILY."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of DomainStats resources to return in the response. The server may return fewer than this value. If unspecified, a default value of 10 will be used. The maximum value is 200."
        }
      },
      "id": "QueryDomainStatsRequest"
    },
    "HonorUnsubscribeVerdict": {
      "id": "HonorUnsubscribeVerdict",
      "description": "Compliance verdict for whether a sender meets the unsubscribe honoring compliance requirement.",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "ComplianceStatus",
          "description": "The compliance status."
        },
        "reason": {
          "enumDescriptions": [
            "Unspecified.",
            "The sender does not honor unsubscribe requests.",
            "The sender does not honor unsubscribe requests and consider to increase the number of relevant campaigns.",
            "The sender does not honor unsubscribe requests and consider to reduce the number of relevant campaigns."
          ],
          "description": "The specific reason for the compliance verdict. Must be empty if the status is compliant.",
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "NOT_HONORING",
            "NOT_HONORING_TOO_FEW_CAMPAIGNS",
            "NOT_HONORING_TOO_MANY_CAMPAIGNS"
          ]
        }
      }
    },
    "ComplianceRowData": {
      "description": "Data for a single row of the compliance status table.",
      "type": "object",
      "id": "ComplianceRowData",
      "properties": {
        "requirement": {
          "enumDescriptions": [
            "Unspecified.",
            "Whether the sender has properly configured SPF.",
            "Whether the sender has properly configured DKIM.",
            "Whether the sender has properly configured both SPF and DKIM.",
            "Whether the sender has configured DMARC policy.",
            "Whether the From: header is aligned with DKIM or SPF",
            "Whether messages are correctly formatted according to RFC 5322.",
            "Whether the domain has forward and reverse DNS records.",
            "Whether messages has TLS encryption.",
            "Whether the sender is below a threshold for user-reported spam rate.",
            "Whether the sender sufficiently supports one-click unsubscribe. Note that the user-facing requirement is \"one-click unsubscribe\", but we require satisfaction of multiple \"unsubscribe support\" rules.",
            "Whether the sender honors user-initiated unsubscribe requests."
          ],
          "description": "The compliance requirement.",
          "type": "string",
          "enum": [
            "COMPLIANCE_REQUIREMENT_UNSPECIFIED",
            "SPF",
            "DKIM",
            "SPF_AND_DKIM",
            "DMARC_POLICY",
            "DMARC_ALIGNMENT",
            "MESSAGE_FORMATTING",
            "DNS_RECORDS",
            "ENCRYPTION",
            "USER_REPORTED_SPAM_RATE",
            "ONE_CLICK_UNSUBSCRIBE",
            "HONOR_UNSUBSCRIBE"
          ]
        },
        "status": {
          "description": "The compliance status for the requirement.",
          "$ref": "ComplianceStatus"
        }
      }
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "DateRanges": {
      "properties": {
        "dateRanges": {
          "description": "Required. The list of date ranges for which to retrieve data.",
          "type": "array",
          "items": {
            "$ref": "DateRange"
          }
        }
      },
      "type": "object",
      "description": "A set of date ranges.",
      "id": "DateRanges"
    },
    "CreateUserRequest": {
      "id": "CreateUserRequest",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Request message for CreateUser.",
      "properties": {
        "userId": {
          "description": "Required. The user to create.",
          "type": "string"
        },
        "permission": {
          "enumDescriptions": [
            "Unspecified permission.",
            "User has read access to the domain.",
            "User has admin access to the domain.",
            "User has owner access to the domain.",
            "User has no access to the domain."
          ],
          "description": "Optional. Specifies the permission level to give the user for the specified domain. If not specified, the default value for this field is READER.",
          "type": "string",
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READER",
            "ADMIN",
            "OWNER",
            "NONE"
          ]
        }
      },
      "type": "object"
    },
    "ListDomainsResponse": {
      "id": "ListDomainsResponse",
      "type": "object",
      "description": "Response message for ListDomains.",
      "properties": {
        "domains": {
          "description": "The domains that have been registered by the user.",
          "items": {
            "$ref": "Domain"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "VerifyDomainRequest": {
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Request message for VerifyDomain.",
      "type": "object",
      "properties": {
        "verificationMethod": {
          "enumDescriptions": [
            "Unspecified.",
            "Generate a DNS TXT verification token.",
            "Generate a DNS CNAME verification token."
          ],
          "description": "Required. The verification method used. Must be specified, i.e. TXT or CNAME.",
          "type": "string",
          "enum": [
            "DOMAIN_VERIFICATION_METHOD_UNSPECIFIED",
            "TXT",
            "CNAME"
          ]
        }
      },
      "id": "VerifyDomainRequest"
    },
    "DomainComplianceStatus": {
      "id": "DomainComplianceStatus",
      "type": "object",
      "description": "Compliance status for a domain.",
      "properties": {
        "subdomainComplianceData": {
          "description": "Compliance data calculated specifically for the subdomain in `name`. This field is only populated if the domain in `name` is a subdomain that differs from its registrable domain (e.g., `sub.example.com`), and if compliance data is available for that specific subdomain.",
          "$ref": "DomainComplianceData"
        },
        "complianceData": {
          "description": "Compliance data for the registrable domain part of the domain in `name`. For example, if `name` is `domains/example.com/complianceStatus`, this field contains compliance data for `example.com`.",
          "$ref": "DomainComplianceData"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the domain's compliance status. Format: `domains/{domain_id}/complianceStatus`."
        }
      }
    },
    "DeliverabilityStatusVerdict": {
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Verdict of domain deliverability status.",
      "type": "object",
      "id": "DeliverabilityStatusVerdict",
      "properties": {
        "reason": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Not enough outgoing email.",
            "Many messages with delivery errors.",
            "The sender does not meet the sender requirements.",
            "The spam rate is above 0.1%.",
            "Indicates users do not want to receive email messages.",
            "Users do not take action on messages.",
            "Users signal they want to receive email messages."
          ],
          "description": "Output only. The specific reason for the compliance verdict.",
          "enum": [
            "REASON_UNSPECIFIED",
            "MESSAGE_VOLUME_LOW",
            "SMTP_ERRORS_HIGH",
            "SENDER_NOT_COMPLIANT",
            "SPAM_RATE_HIGH",
            "USER_FEEDBACK_NEGATIVE",
            "USER_FEEDBACK_LOW",
            "USER_FEEDBACK_POSITIVE"
          ]
        },
        "state": {
          "$ref": "ComplianceStatus",
          "description": "Output only. The compliance state.",
          "readOnly": true
        }
      }
    },
    "StringList": {
      "id": "StringList",
      "description": "Represents a list of strings.",
      "type": "object",
      "properties": {
        "values": {
          "description": "The string values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Domain": {
      "properties": {
        "permission": {
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READER",
            "ADMIN",
            "OWNER",
            "NONE"
          ],
          "enumDescriptions": [
            "Unspecified permission.",
            "User has read access to the domain.",
            "User has admin access to the domain.",
            "User has owner access to the domain.",
            "User has no access to the domain."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. User's permission of this domain."
        },
        "name": {
          "description": "Identifier. The resource name of the domain. Format: `domains/{domain_name}`, where domain_name is the fully qualified domain name (i.e., mymail.mydomain.com).",
          "type": "string"
        },
        "verificationState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The domain is unverified.",
            "The domain is verified."
          ],
          "description": "Output only. Information about a user's verification history and properties for the domain.",
          "readOnly": true,
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "UNVERIFIED",
            "VERIFIED"
          ]
        },
        "lastVerifyTime": {
          "description": "The timestamp at which the domain was last verified by the user.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Immutable. The timestamp at which the domain was added to the user's account.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Domain",
      "description": "Information about a domain registered by the user."
    },
    "DomainStat": {
      "type": "object",
      "description": "Email statistics for a domain for a specified time period or date.",
      "properties": {
        "value": {
          "$ref": "StatisticValue",
          "description": "The value of the corresponding metric."
        },
        "date": {
          "$ref": "Date",
          "description": "Optional. The specific date for these stats, if granularity is DAILY. This field is populated if the QueryDomainStatsRequest specified a DAILY aggregation granularity."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the DomainStat resource. Format: domains/{domain}/domainStats/{domain_stat} The `{domain_stat}` segment is an opaque, server-generated ID. We recommend using the `metric` field to identify queried metrics instead of parsing the name."
        },
        "metric": {
          "description": "The user-defined name from MetricDefinition.name in the request, used to correlate this result with the requested metric.",
          "type": "string"
        }
      },
      "id": "DomainStat"
    },
    "OneClickUnsubscribeVerdict": {
      "properties": {
        "reason": {
          "enumDescriptions": [
            "Unspecified.",
            "Sender does not support one-click unsubscribe for the majority of their messages.",
            "Sender does not support one-click unsubscribe for most messages that are manually reported as spam.",
            "Sender does not support one-click unsubscribe for most promotional messages that are manually reported as spam. This classification of messages is a subset of those encompassed by `NO_UNSUB_SPAM_REPORTS`."
          ],
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "NO_UNSUB_GENERAL",
            "NO_UNSUB_SPAM_REPORTS",
            "NO_UNSUB_PROMO_SPAM_REPORTS"
          ],
          "description": "The specific reason for the compliance verdict. Must be empty if the status is compliant."
        },
        "status": {
          "description": "The compliance status.",
          "$ref": "ComplianceStatus"
        }
      },
      "description": "Compliance verdict for whether a sender meets the one-click unsubscribe compliance requirement.",
      "type": "object",
      "id": "OneClickUnsubscribeVerdict"
    },
    "CreateDomainRequest": {
      "id": "CreateDomainRequest",
      "type": "object",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Request message for CreateDomain.",
      "properties": {
        "domainId": {
          "type": "string",
          "description": "Required. The domain to add. e.g., \"example.com\""
        }
      }
    },
    "VerifyDomainResponse": {
      "type": "object",
      "id": "VerifyDomainResponse",
      "properties": {},
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Response message for VerifyDomain."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "id": "Date",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "BatchQueryDomainStatsResponse": {
      "properties": {
        "results": {
          "items": {
            "$ref": "BatchQueryDomainStatsResult"
          },
          "description": "A list of responses, one for each query in the BatchQueryDomainStatsRequest. The order of responses will correspond to the order of requests.",
          "type": "array"
        }
      },
      "id": "BatchQueryDomainStatsResponse",
      "description": "Response message for BatchQueryDomainStats.",
      "type": "object"
    },
    "TimeQuery": {
      "properties": {
        "dateList": {
          "description": "A list of specific dates.",
          "$ref": "DateList"
        },
        "dateRanges": {
          "description": "A list of date ranges.",
          "$ref": "DateRanges"
        }
      },
      "id": "TimeQuery",
      "type": "object",
      "description": "The date ranges or specific dates for which you want to retrieve data."
    },
    "DateRange": {
      "properties": {
        "end": {
          "$ref": "Date",
          "description": "Required. The inclusive end date of the date range."
        },
        "start": {
          "$ref": "Date",
          "description": "Required. The inclusive start date of the date range."
        }
      },
      "type": "object",
      "id": "DateRange",
      "description": "A single date range defined by a start and end date."
    },
    "User": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user. Format: users/{user} Note: {user} is the user's email address."
        },
        "permission": {
          "type": "string",
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READER",
            "ADMIN",
            "OWNER",
            "NONE"
          ],
          "description": "The permission level that the user has for the specified domain.",
          "enumDescriptions": [
            "Unspecified permission.",
            "User has read access to the domain.",
            "User has admin access to the domain.",
            "User has owner access to the domain.",
            "User has no access to the domain."
          ]
        },
        "accessGranter": {
          "description": "Output only. The user that added the current user.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the user was granted access."
        },
        "user": {
          "description": "The user's email address.",
          "type": "string"
        }
      },
      "id": "User",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Information about a user's access to a domain."
    },
    "BatchQueryDomainStatsResult": {
      "properties": {
        "response": {
          "$ref": "QueryDomainStatsResponse",
          "description": "The successful response for the individual query."
        },
        "error": {
          "$ref": "Status",
          "description": "The error status if the individual query failed."
        }
      },
      "description": "Represents the result of a single QueryDomainStatsRequest within a batch.",
      "id": "BatchQueryDomainStatsResult",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    }
  },
  "name": "gmailpostmastertools",
  "mtlsRootUrl": "https://gmailpostmastertools.mtls.googleapis.com/",
  "servicePath": "",
  "version_module": true,
  "id": "gmailpostmastertools:v2",
  "documentationLink": "https://developers.google.com/workspace/gmail/postmaster",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  }
}
