{
  "discoveryVersion": "v1",
  "revision": "20261004",
  "title": "Gmail Postmaster Tools API",
  "resources": {
    "domains": {
      "resources": {
        "users": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "User"
              },
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the user to retrieve. Format: `domains/{domain}/users/{user}`",
                  "pattern": "^domains/[^/]+/users/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "path": "v2/{+name}",
              "flatPath": "v2/domains/{domainsId}/users/{usersId}",
              "id": "gmailpostmastertools.domains.users.get",
              "parameterOrder": [
                "name"
              ],
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Retrieves detailed information about a user that has access to a domain. Returns NOT_FOUND if the user does not exist."
            },
            "delete": {
              "flatPath": "v2/domains/{domainsId}/users/{usersId}",
              "httpMethod": "DELETE",
              "id": "gmailpostmastertools.domains.users.delete",
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Deletes a user from a domain. Returns NOT_FOUND if the user does not exist.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^domains/[^/]+/users/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the user to delete. Format: domains/{domain}/users/{user}"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "path": "v2/{+name}"
            },
            "create": {
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Creates a user, who has access to a domain. Returns INVALID_ARGUMENT if a user is not provided.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^domains/[^/]+$",
                  "description": "Required. The parent resource where this user will be created. Format: domains/{domain}"
                }
              },
              "flatPath": "v2/domains/{domainsId}/users",
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "User"
              },
              "path": "v2/{+parent}/users",
              "id": "gmailpostmastertools.domains.users.create",
              "request": {
                "$ref": "CreateUserRequest"
              }
            },
            "patch": {
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Updates a user for a domain. Only Owners and Admins can execute this RPC, only a user's domain permission will be allowed to be updated. Returns NOT_FOUND if the user does not exist. Returns INVALID_ARGUMENT if a permission is not provided or is PERMISSION_UNSPECIFIED, NONE, or OWNER.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier. The resource name of the user. Format: users/{user} Note: {user} is the user's email address.",
                  "pattern": "^domains/[^/]+/users/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "description": "The list of fields to update.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "User"
              },
              "id": "gmailpostmastertools.domains.users.patch",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "response": {
                "$ref": "User"
              },
              "path": "v2/{+name}",
              "flatPath": "v2/domains/{domainsId}/users/{usersId}"
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.user"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The next_page_token value returned from a previous List request, if any."
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource name for which to list users. Format: `domains/{domain}`",
                  "required": true,
                  "pattern": "^domains/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Requested page size. Server may return fewer users than requested. If unspecified, the default value for this field is 10. The maximum value for this field is 200."
                }
              },
              "flatPath": "v2/domains/{domainsId}/users",
              "path": "v2/{+parent}/users",
              "parameterOrder": [
                "parent"
              ],
              "id": "gmailpostmastertools.domains.users.list",
              "response": {
                "$ref": "ListUsersResponse"
              },
              "description": "[Developer Preview](https://developers.google.com/workspace/preview): Lists the users that have access to a domain."
            }
          }
        },
        "domainStats": {
          "methods": {
            "query": {
              "httpMethod": "POST",
              "response": {
                "$ref": "QueryDomainStatsResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^domains/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource name where the stats are queried. Format: domains/{domain}",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "QueryDomainStatsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/postmaster",
                "https://www.googleapis.com/auth/postmaster.traffic.readonly"
              ],
              "path": "v2/{+parent}/domainStats:query",
              "flatPath": "v2/domains/{domainsId}/domainStats:query",
              "parameterOrder": [
                "parent"
              ],
              "description": "Retrieves a list of domain statistics for a given domain and time period. Returns statistics only for dates where data is available. Returns PERMISSION_DENIED if you don't have permission to access DomainStats for the domain.",
              "id": "gmailpostmastertools.domains.domainStats.query"
            }
          }
        }
      },
      "methods": {
        "getVerificationToken": {
          "id": "gmailpostmastertools.domains.getVerificationToken",
          "response": {
            "$ref": "DomainVerificationToken"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Gets a verification token used for verifying a user's ownership over a domain.",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the verification token to retrieve. Format: `domains/{domain}/verificationToken`",
              "required": true,
              "pattern": "^domains/[^/]+/verificationToken$",
              "location": "path",
              "type": "string"
            },
            "verificationMethod": {
              "description": "Required. The verification method used. Must be specified, i.e. TXT or CNAME.",
              "enumDescriptions": [
                "Unspecified.",
                "Generate a DNS TXT verification token.",
                "Generate a DNS CNAME verification token."
              ],
              "enum": [
                "DOMAIN_VERIFICATION_METHOD_UNSPECIFIED",
                "TXT",
                "CNAME"
              ],
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v2/domains/{domainsId}/verificationToken",
          "httpMethod": "GET"
        },
        "list": {
          "id": "gmailpostmastertools.domains.list",
          "parameters": {
            "pageToken": {
              "description": "Optional. The next_page_token value returned from a previous List request, if any.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. Requested page size. Server may return fewer domains than requested. If unspecified, the default value for this field is 10. The maximum value for this field is 200.",
              "location": "query",
              "format": "int32"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ListDomainsResponse"
          },
          "description": "Retrieves a list of all domains registered by you, along with their corresponding metadata. The order of domains in the response is unspecified and non-deterministic. Newly registered domains will not necessarily be added to the end of this list.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "path": "v2/domains",
          "flatPath": "v2/domains"
        },
        "getComplianceStatus": {
          "flatPath": "v2/domains/{domainsId}/complianceStatus",
          "description": "Retrieves the compliance status for a given domain. Returns PERMISSION_DENIED if you don't have permission to access compliance status for the domain.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.traffic.readonly"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The resource name of the domain's compliance status to retrieve. Format: `domains/{domain_id}/complianceStatus`.",
              "type": "string",
              "pattern": "^domains/[^/]+/complianceStatus$"
            }
          },
          "response": {
            "$ref": "DomainComplianceStatus"
          },
          "httpMethod": "GET",
          "path": "v2/{+name}",
          "id": "gmailpostmastertools.domains.getComplianceStatus"
        },
        "delete": {
          "flatPath": "v2/domains/{domainsId}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "id": "gmailpostmastertools.domains.delete",
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Deletes a domain from the user's account. Returns NOT_FOUND if the domain is not registered by the user.",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The domain to delete.",
              "location": "path",
              "required": true,
              "pattern": "^domains/[^/]+$"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "path": "v2/{+name}"
        },
        "verify": {
          "response": {
            "$ref": "VerifyDomainResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "id": "gmailpostmastertools.domains.verify",
          "path": "v2/{+name}:verify",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/domains/{domainsId}:verify",
          "request": {
            "$ref": "VerifyDomainRequest"
          },
          "httpMethod": "POST",
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Verifies a user's ownership of a domain at the DNS level. Note that this is distinct from checking if the user has OWNER status within IRDB.",
          "parameters": {
            "name": {
              "description": "Required. The domain to verify.",
              "type": "string",
              "location": "path",
              "pattern": "^domains/[^/]+$",
              "required": true
            }
          }
        },
        "create": {
          "request": {
            "$ref": "CreateDomainRequest"
          },
          "id": "gmailpostmastertools.domains.create",
          "path": "v2/domains",
          "flatPath": "v2/domains",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "description": "[Developer Preview](https://developers.google.com/workspace/preview): Adds a domain to the user's account. Returns INVALID_ARGUMENT if a domain is not provided. Returns ALREADY_EXISTS if the domain is already registered by the user.",
          "parameters": {},
          "response": {
            "$ref": "Domain"
          },
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "get": {
          "id": "gmailpostmastertools.domains.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Domain"
          },
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The resource name of the domain. Format: `domains/{domain_name}`, where domain_name is the fully qualified domain name (i.e., mymail.mydomain.com).",
              "required": true,
              "location": "path",
              "pattern": "^domains/[^/]+$"
            }
          },
          "description": "Retrieves detailed information about a domain registered by you. Returns NOT_FOUND if the domain is not registered by you. Domain represents the metadata of a domain that has been registered within the system and linked to a user.",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.domain"
          ],
          "flatPath": "v2/domains/{domainsId}",
          "path": "v2/{+name}"
        }
      }
    },
    "domainStats": {
      "methods": {
        "batchQuery": {
          "description": "Executes a batch of QueryDomainStats requests for multiple domains. Returns PERMISSION_DENIED if you don't have permission to access DomainStats for any of the requested domains.",
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v2/domainStats:batchQuery",
          "id": "gmailpostmastertools.domainStats.batchQuery",
          "path": "v2/domainStats:batchQuery",
          "request": {
            "$ref": "BatchQueryDomainStatsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/postmaster",
            "https://www.googleapis.com/auth/postmaster.traffic.readonly"
          ],
          "response": {
            "$ref": "BatchQueryDomainStatsResponse"
          },
          "parameterOrder": []
        }
      }
    }
  },
  "servicePath": "",
  "basePath": "",
  "version_module": true,
  "canonicalName": "Postmaster Tools",
  "documentationLink": "https://developers.google.com/workspace/gmail/postmaster",
  "baseUrl": "https://gmailpostmastertools.googleapis.com/",
  "description": "The Postmaster Tools API is a RESTful API that provides programmatic access to email traffic metrics (like spam reports, delivery errors etc) otherwise available through the Gmail Postmaster Tools UI currently.",
  "batchPath": "batch",
  "name": "gmailpostmastertools",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "version": "v2",
  "id": "gmailpostmastertools:v2",
  "rootUrl": "https://gmailpostmastertools.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://gmailpostmastertools.mtls.googleapis.com/",
  "schemas": {
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      }
    },
    "QueryDomainStatsResponse": {
      "properties": {
        "domainStats": {
          "items": {
            "$ref": "DomainStat"
          },
          "description": "The list of domain statistics. Each DomainStat object contains the value for a metric requested in the QueryDomainStatsRequest.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "QueryDomainStatsResponse",
      "description": "Response message for QueryDomainStats.",
      "type": "object"
    },
    "DomainComplianceStatus": {
      "id": "DomainComplianceStatus",
      "description": "Compliance status for a domain.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the domain's compliance status. Format: `domains/{domain_id}/complianceStatus`.",
          "type": "string"
        },
        "subdomainComplianceData": {
          "description": "Compliance data calculated specifically for the subdomain in `name`. This field is only populated if the domain in `name` is a subdomain that differs from its registrable domain (e.g., `sub.example.com`), and if compliance data is available for that specific subdomain.",
          "$ref": "DomainComplianceData"
        },
        "complianceData": {
          "$ref": "DomainComplianceData",
          "description": "Compliance data for the registrable domain part of the domain in `name`. For example, if `name` is `domains/example.com/complianceStatus`, this field contains compliance data for `example.com`."
        }
      }
    },
    "User": {
      "type": "object",
      "id": "User",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Information about a user's access to a domain.",
      "properties": {
        "permission": {
          "description": "The permission level that the user has for the specified domain.",
          "type": "string",
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READER",
            "ADMIN",
            "OWNER",
            "NONE"
          ],
          "enumDescriptions": [
            "Unspecified permission.",
            "User has read access to the domain.",
            "User has admin access to the domain.",
            "User has owner access to the domain.",
            "User has no access to the domain."
          ]
        },
        "accessGranter": {
          "description": "Output only. The user that added the current user.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the user was granted access.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "user": {
          "description": "The user's email address.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user. Format: users/{user} Note: {user} is the user's email address."
        }
      }
    },
    "DomainComplianceData": {
      "id": "DomainComplianceData",
      "type": "object",
      "properties": {
        "honorUnsubscribeVerdict": {
          "$ref": "HonorUnsubscribeVerdict",
          "description": "Unsubscribe honoring compliance verdict."
        },
        "domainId": {
          "type": "string",
          "description": "Domain that this data is for."
        },
        "deliverabilityStatusVerdict": {
          "description": "Output only. Deliverability status verdict.",
          "readOnly": true,
          "$ref": "DeliverabilityStatusVerdict"
        },
        "rowData": {
          "description": "Data for each of the rows of the table. Each message contains all the data that backs a single row.",
          "type": "array",
          "items": {
            "$ref": "ComplianceRowData"
          }
        },
        "oneClickUnsubscribeVerdict": {
          "$ref": "OneClickUnsubscribeVerdict",
          "description": "One-click unsubscribe compliance verdict."
        }
      },
      "description": "Compliance data for a given domain."
    },
    "VerifyDomainRequest": {
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Request message for VerifyDomain.",
      "type": "object",
      "id": "VerifyDomainRequest",
      "properties": {
        "verificationMethod": {
          "enum": [
            "DOMAIN_VERIFICATION_METHOD_UNSPECIFIED",
            "TXT",
            "CNAME"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Generate a DNS TXT verification token.",
            "Generate a DNS CNAME verification token."
          ],
          "type": "string",
          "description": "Required. The verification method used. Must be specified, i.e. TXT or CNAME."
        }
      }
    },
    "StringList": {
      "description": "Represents a list of strings.",
      "type": "object",
      "properties": {
        "values": {
          "description": "The string values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "StringList"
    },
    "CreateDomainRequest": {
      "id": "CreateDomainRequest",
      "properties": {
        "domainId": {
          "description": "Required. The domain to add. e.g., \"example.com\"",
          "type": "string"
        }
      },
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Request message for CreateDomain.",
      "type": "object"
    },
    "DateRanges": {
      "type": "object",
      "properties": {
        "dateRanges": {
          "description": "Required. The list of date ranges for which to retrieve data.",
          "items": {
            "$ref": "DateRange"
          },
          "type": "array"
        }
      },
      "description": "A set of date ranges.",
      "id": "DateRanges"
    },
    "VerifyDomainResponse": {
      "id": "VerifyDomainResponse",
      "type": "object",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Response message for VerifyDomain.",
      "properties": {}
    },
    "ComplianceRowData": {
      "description": "Data for a single row of the compliance status table.",
      "properties": {
        "status": {
          "description": "The compliance status for the requirement.",
          "$ref": "ComplianceStatus"
        },
        "requirement": {
          "description": "The compliance requirement.",
          "enumDescriptions": [
            "Unspecified.",
            "Whether the sender has properly configured SPF.",
            "Whether the sender has properly configured DKIM.",
            "Whether the sender has properly configured both SPF and DKIM.",
            "Whether the sender has configured DMARC policy.",
            "Whether the From: header is aligned with DKIM or SPF",
            "Whether messages are correctly formatted according to RFC 5322.",
            "Whether the domain has forward and reverse DNS records.",
            "Whether messages has TLS encryption.",
            "Whether the sender is below a threshold for user-reported spam rate.",
            "Whether the sender sufficiently supports one-click unsubscribe. Note that the user-facing requirement is \"one-click unsubscribe\", but we require satisfaction of multiple \"unsubscribe support\" rules.",
            "Whether the sender honors user-initiated unsubscribe requests."
          ],
          "enum": [
            "COMPLIANCE_REQUIREMENT_UNSPECIFIED",
            "SPF",
            "DKIM",
            "SPF_AND_DKIM",
            "DMARC_POLICY",
            "DMARC_ALIGNMENT",
            "MESSAGE_FORMATTING",
            "DNS_RECORDS",
            "ENCRYPTION",
            "USER_REPORTED_SPAM_RATE",
            "ONE_CLICK_UNSUBSCRIBE",
            "HONOR_UNSUBSCRIBE"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "ComplianceRowData"
    },
    "HonorUnsubscribeVerdict": {
      "properties": {
        "reason": {
          "enumDescriptions": [
            "Unspecified.",
            "The sender does not honor unsubscribe requests.",
            "The sender does not honor unsubscribe requests and consider to increase the number of relevant campaigns.",
            "The sender does not honor unsubscribe requests and consider to reduce the number of relevant campaigns."
          ],
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "NOT_HONORING",
            "NOT_HONORING_TOO_FEW_CAMPAIGNS",
            "NOT_HONORING_TOO_MANY_CAMPAIGNS"
          ],
          "description": "The specific reason for the compliance verdict. Must be empty if the status is compliant."
        },
        "status": {
          "description": "The compliance status.",
          "$ref": "ComplianceStatus"
        }
      },
      "id": "HonorUnsubscribeVerdict",
      "type": "object",
      "description": "Compliance verdict for whether a sender meets the unsubscribe honoring compliance requirement."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ListUsersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "users": {
          "type": "array",
          "description": "The users that have access to the domain.",
          "items": {
            "$ref": "User"
          }
        }
      },
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Response message for ListUsers.",
      "id": "ListUsersResponse"
    },
    "CreateUserRequest": {
      "type": "object",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Request message for CreateUser.",
      "id": "CreateUserRequest",
      "properties": {
        "userId": {
          "description": "Required. The user to create.",
          "type": "string"
        },
        "permission": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified permission.",
            "User has read access to the domain.",
            "User has admin access to the domain.",
            "User has owner access to the domain.",
            "User has no access to the domain."
          ],
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READER",
            "ADMIN",
            "OWNER",
            "NONE"
          ],
          "description": "Optional. Specifies the permission level to give the user for the specified domain. If not specified, the default value for this field is READER."
        }
      }
    },
    "MetricDefinition": {
      "type": "object",
      "id": "MetricDefinition",
      "properties": {
        "baseMetric": {
          "$ref": "BaseMetric",
          "description": "Required. The underlying metric to query."
        },
        "filter": {
          "description": "Optional. Optional filters to apply to the metric.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The user-defined name for this metric. This name will be used as the key for this metric's value in the response."
        }
      },
      "description": "Defines a specific metric to query, including a user-defined name, the base metric type, and optional filters."
    },
    "TimeQuery": {
      "type": "object",
      "description": "The date ranges or specific dates for which you want to retrieve data.",
      "properties": {
        "dateList": {
          "$ref": "DateList",
          "description": "A list of specific dates."
        },
        "dateRanges": {
          "description": "A list of date ranges.",
          "$ref": "DateRanges"
        }
      },
      "id": "TimeQuery"
    },
    "DateList": {
      "id": "DateList",
      "description": "A set of specific dates.",
      "type": "object",
      "properties": {
        "dates": {
          "type": "array",
          "description": "Required. The list of specific dates for which to retrieve data.",
          "items": {
            "$ref": "Date"
          }
        }
      }
    },
    "DeliverabilityStatusVerdict": {
      "id": "DeliverabilityStatusVerdict",
      "properties": {
        "state": {
          "description": "Output only. The compliance state.",
          "readOnly": true,
          "$ref": "ComplianceStatus"
        },
        "reason": {
          "readOnly": true,
          "description": "Output only. The specific reason for the compliance verdict.",
          "enumDescriptions": [
            "Unspecified.",
            "Not enough outgoing email.",
            "Many messages with delivery errors.",
            "The sender does not meet the sender requirements.",
            "The spam rate is above 0.1%.",
            "Indicates users do not want to receive email messages.",
            "Users do not take action on messages.",
            "Users signal they want to receive email messages."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "MESSAGE_VOLUME_LOW",
            "SMTP_ERRORS_HIGH",
            "SENDER_NOT_COMPLIANT",
            "SPAM_RATE_HIGH",
            "USER_FEEDBACK_NEGATIVE",
            "USER_FEEDBACK_LOW",
            "USER_FEEDBACK_POSITIVE"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): Verdict of domain deliverability status."
    },
    "BatchQueryDomainStatsResult": {
      "description": "Represents the result of a single QueryDomainStatsRequest within a batch.",
      "type": "object",
      "properties": {
        "response": {
          "$ref": "QueryDomainStatsResponse",
          "description": "The successful response for the individual query."
        },
        "error": {
          "description": "The error status if the individual query failed.",
          "$ref": "Status"
        }
      },
      "id": "BatchQueryDomainStatsResult"
    },
    "BatchQueryDomainStatsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "QueryDomainStatsRequest"
          },
          "description": "Required. A list of individual query requests. Each request can be for a different domain. A maximum of 100 requests can be included in a single batch.",
          "type": "array"
        }
      },
      "description": "Request message for BatchQueryDomainStats.",
      "id": "BatchQueryDomainStatsRequest",
      "type": "object"
    },
    "Domain": {
      "description": "Information about a domain registered by the user.",
      "properties": {
        "verificationState": {
          "enumDescriptions": [
            "Unspecified.",
            "The domain is unverified.",
            "The domain is verified."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Information about a user's verification history and properties for the domain.",
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "UNVERIFIED",
            "VERIFIED"
          ]
        },
        "permission": {
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READER",
            "ADMIN",
            "OWNER",
            "NONE"
          ],
          "description": "Output only. User's permission of this domain.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified permission.",
            "User has read access to the domain.",
            "User has admin access to the domain.",
            "User has owner access to the domain.",
            "User has no access to the domain."
          ]
        },
        "lastVerifyTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp at which the domain was last verified by the user."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Immutable. The timestamp at which the domain was added to the user's account.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the domain. Format: `domains/{domain_name}`, where domain_name is the fully qualified domain name (i.e., mymail.mydomain.com).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Domain"
    },
    "BaseMetric": {
      "type": "object",
      "properties": {
        "standardMetric": {
          "description": "A predefined standard metric.",
          "enumDescriptions": [
            "Unspecified standard metric. This value should not be used directly.",
            "Predefined metric for Feedback Loop (FBL) id. The `filter` field supports selecting the aggregation key type. Supported format: `aggregation_key_type` = \"\". Supported values: * `FROM_HEADER`: (Default) The metric includes messages with From: header domain matching the requested domain. * `ALL_DKIM`: The metric includes messages with one of the signed DKIM domains matching the requested domain.",
            "Predefined metric for Feedback Loop (FBL) spam rate. The `filter` field requires a `feedback_loop_id` and optionally accepts an `aggregation_key_type`. Supported formats are: * `feedback_loop_id` = \"\" * `feedback_loop_id` = \"\" AND `aggregation_key_type` = \"\" If `aggregation_key_type` is omitted, it defaults to `FROM_HEADER`. Supported values: * `FROM_HEADER`: (Default) The metric includes messages with From: header domain matching the requested domain. * `ALL_DKIM`: The metric includes messages with one of the signed DKIM domains matching the requested domain.",
            "Predefined metric for spam rate.",
            "The success rate of authentication mechanisms (DKIM, SPF, DMARC). Filter must be of type auth_type = \"\" where is one of: [spf, dkim, dmarc]",
            "The rate of messages that were TLS encrypted in transit Filter must be of type traffic_direction = \"\" where is one of: [inbound, outbound]",
            "The rate of messages that were TLS encrypted in transit Filter must be of type traffic_direction = \"\" where is one of: [inbound, outbound]",
            "The total count of delivery errors encountered (temporary or permanent rejects). The `filter` field supports a limited syntax. Supported formats are: * Empty: No filter is applied. * `error_type` = \"\" * `error_type` = \"\" AND `error_reason` = \"\" If an empty filter is provided, the metric will be aggregated across all error types and reasons. If only `error_type` is specified, the metric will be aggregated across all reasons for that type. Supported values: * reject * temp_fail Supported values depend on the : * For 'reject': [bad_attachment, bad_or_missing_ptr_record, ip_in_rbls, low_domain_reputation, low_ip_reputation, spammy_content, stamp_policy_error, other] * For 'temp_fail': [anomalous_traffic_pattern, other]",
            "Delivery error rate for the specified delivery error type. The `filter` field supports a limited syntax. Supported formats are: * Empty: No filter is applied. * `error_type` = \"\" * `error_type` = \"\" AND `error_reason` = \"\" If an empty filter is provided, the metric will be aggregated across all error types and reasons. If only `error_type` is specified, the metric will be aggregated across all reasons for that type. Supported values: * reject * temp_fail Supported values depend on the : * For 'reject': [bad_attachment, bad_or_missing_ptr_record, ip_in_rbls, low_domain_reputation, low_ip_reputation, spammy_content, stamp_policy_error, other] * For 'temp_fail': [anomalous_traffic_pattern, other]"
          ],
          "enum": [
            "STANDARD_METRIC_UNSPECIFIED",
            "FEEDBACK_LOOP_ID",
            "FEEDBACK_LOOP_SPAM_RATE",
            "SPAM_RATE",
            "AUTH_SUCCESS_RATE",
            "TLS_ENCRYPTION_MESSAGE_COUNT",
            "TLS_ENCRYPTION_RATE",
            "DELIVERY_ERROR_COUNT",
            "DELIVERY_ERROR_RATE"
          ],
          "type": "string"
        }
      },
      "description": "Specifies the base metric to query, which can be a predefined standard metric or a user-defined custom metric (if supported in the future).",
      "id": "BaseMetric"
    },
    "QueryDomainStatsRequest": {
      "properties": {
        "aggregationGranularity": {
          "enumDescriptions": [
            "Unspecified granularity. Defaults to DAILY.",
            "Statistics are aggregated on a daily basis. Each DomainStats entry in the response will correspond to a single day.",
            "Statistics are aggregated over the entire requested time period. Each DomainStats entry in the response will represent the total for the period."
          ],
          "enum": [
            "AGGREGATION_GRANULARITY_UNSPECIFIED",
            "DAILY",
            "OVERALL"
          ],
          "description": "Optional. The granularity at which to aggregate the statistics. If unspecified, defaults to DAILY.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of DomainStats resources to return in the response. The server may return fewer than this value. If unspecified, a default value of 10 will be used. The maximum value is 200.",
          "type": "integer"
        },
        "timeQuery": {
          "description": "Required. The time range or specific dates for which to retrieve the metrics.",
          "$ref": "TimeQuery"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. The next_page_token value returned from a previous List request, if any. If the aggregation granularity is DAILY, the page token will be the encoded date + \"/\" + metric name. If the aggregation granularity is OVERALL, the page token will be the encoded metric name."
        },
        "metricDefinitions": {
          "items": {
            "$ref": "MetricDefinition"
          },
          "type": "array",
          "description": "Required. The specific metrics to query. You can define a custom name for each metric, which will be used in the response."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource name where the stats are queried. Format: domains/{domain}"
        }
      },
      "description": "Request message for QueryDomainStats.",
      "id": "QueryDomainStatsRequest",
      "type": "object"
    },
    "StatisticValue": {
      "properties": {
        "floatValue": {
          "description": "Float value.",
          "type": "number",
          "format": "float"
        },
        "intValue": {
          "description": "Integer value.",
          "format": "int64",
          "type": "string"
        },
        "stringValue": {
          "type": "string",
          "description": "String value."
        },
        "stringList": {
          "$ref": "StringList",
          "description": "List of string values."
        },
        "doubleValue": {
          "description": "Double value.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "The actual value of a statistic.",
      "id": "StatisticValue",
      "type": "object"
    },
    "OneClickUnsubscribeVerdict": {
      "description": "Compliance verdict for whether a sender meets the one-click unsubscribe compliance requirement.",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "ComplianceStatus",
          "description": "The compliance status."
        },
        "reason": {
          "type": "string",
          "description": "The specific reason for the compliance verdict. Must be empty if the status is compliant.",
          "enum": [
            "REASON_UNSPECIFIED",
            "NO_UNSUB_GENERAL",
            "NO_UNSUB_SPAM_REPORTS",
            "NO_UNSUB_PROMO_SPAM_REPORTS"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Sender does not support one-click unsubscribe for the majority of their messages.",
            "Sender does not support one-click unsubscribe for most messages that are manually reported as spam.",
            "Sender does not support one-click unsubscribe for most promotional messages that are manually reported as spam. This classification of messages is a subset of those encompassed by `NO_UNSUB_SPAM_REPORTS`."
          ]
        }
      },
      "id": "OneClickUnsubscribeVerdict"
    },
    "DateRange": {
      "description": "A single date range defined by a start and end date.",
      "type": "object",
      "id": "DateRange",
      "properties": {
        "end": {
          "description": "Required. The inclusive end date of the date range.",
          "$ref": "Date"
        },
        "start": {
          "description": "Required. The inclusive start date of the date range.",
          "$ref": "Date"
        }
      }
    },
    "DomainStat": {
      "properties": {
        "date": {
          "description": "Optional. The specific date for these stats, if granularity is DAILY. This field is populated if the QueryDomainStatsRequest specified a DAILY aggregation granularity.",
          "$ref": "Date"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the DomainStat resource. Format: domains/{domain}/domainStats/{domain_stat} The `{domain_stat}` segment is an opaque, server-generated ID. We recommend using the `metric` field to identify queried metrics instead of parsing the name."
        },
        "metric": {
          "type": "string",
          "description": "The user-defined name from MetricDefinition.name in the request, used to correlate this result with the requested metric."
        },
        "value": {
          "$ref": "StatisticValue",
          "description": "The value of the corresponding metric."
        }
      },
      "type": "object",
      "description": "Email statistics for a domain for a specified time period or date.",
      "id": "DomainStat"
    },
    "ComplianceStatus": {
      "properties": {
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The compliance status.",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLIANT",
            "NEEDS_WORK"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The compliance requirement is met, and the sender is deemed compliant.",
            "The compliance requirement is unmet, and the sender needs to do work to achieve compliance."
          ]
        }
      },
      "type": "object",
      "id": "ComplianceStatus",
      "description": "The status of a sender compliance requirement."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Date"
    },
    "ListDomainsResponse": {
      "id": "ListDomainsResponse",
      "type": "object",
      "description": "Response message for ListDomains.",
      "properties": {
        "domains": {
          "description": "The domains that have been registered by the user.",
          "items": {
            "$ref": "Domain"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "BatchQueryDomainStatsResponse": {
      "description": "Response message for BatchQueryDomainStats.",
      "id": "BatchQueryDomainStatsResponse",
      "properties": {
        "results": {
          "description": "A list of responses, one for each query in the BatchQueryDomainStatsRequest. The order of responses will correspond to the order of requests.",
          "type": "array",
          "items": {
            "$ref": "BatchQueryDomainStatsResult"
          }
        }
      },
      "type": "object"
    },
    "DomainVerificationToken": {
      "type": "object",
      "id": "DomainVerificationToken",
      "properties": {
        "verificationMethod": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Generate a DNS TXT verification token.",
            "Generate a DNS CNAME verification token."
          ],
          "enum": [
            "DOMAIN_VERIFICATION_METHOD_UNSPECIFIED",
            "TXT",
            "CNAME"
          ],
          "description": "The verification method used."
        },
        "name": {
          "description": "Identifier. The resource name of the domain verification token. Format: domains/{domain}/verificationToken",
          "type": "string"
        },
        "token": {
          "description": "The verification token.",
          "type": "string"
        }
      },
      "description": "[Developer Preview](https://developers.google.com/workspace/preview): The DNS token a user can use to verify ownership of a domain."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/postmaster": {
          "description": "Get email traffic metrics, manage domains, and manage domain users for the domains you have registered with Postmaster Tools"
        },
        "https://www.googleapis.com/auth/postmaster.traffic.readonly": {
          "description": "Get email traffic metrics for the domains you have registered with Postmaster Tools"
        },
        "https://www.googleapis.com/auth/postmaster.domain": {
          "description": "View and manage the domains you have registered with Postmaster Tools"
        },
        "https://www.googleapis.com/auth/postmaster.user": {
          "description": "View and manage users for the domains you have registered with Postmaster Tools"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "protocol": "rest"
}
