{
  "title": "Google Keep API",
  "version": "v1",
  "canonicalName": "Keep",
  "ownerDomain": "google.com",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  },
  "name": "keep",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "servicePath": "",
  "basePath": "",
  "revision": "20260916",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "rootUrl": "https://keep.googleapis.com/",
  "resources": {
    "media": {
      "methods": {
        "download": {
          "supportsMediaDownload": true,
          "response": {
            "$ref": "Attachment"
          },
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "parameters": {
            "name": {
              "description": "Required. The name of the attachment.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^notes/[^/]+/attachments/[^/]+$"
            },
            "mimeType": {
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "keep.media.download",
          "path": "v1/{+name}",
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "httpMethod": "GET"
        }
      }
    },
    "notes": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "id": "keep.notes.list",
          "path": "v1/notes",
          "parameterOrder": [],
          "response": {
            "$ref": "ListNotesResponse"
          },
          "flatPath": "v1/notes",
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "parameters": {
            "filter": {
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "The previous page's `next_page_token` field.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of results to return.",
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "create": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "Note"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "id": "keep.notes.create",
          "path": "v1/notes",
          "flatPath": "v1/notes",
          "parameters": {},
          "description": "Creates a new note.",
          "request": {
            "$ref": "Note"
          }
        },
        "delete": {
          "flatPath": "v1/notes/{notesId}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Name of the note to delete.",
              "location": "path",
              "required": true,
              "pattern": "^notes/[^/]+$"
            }
          },
          "id": "keep.notes.delete",
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "response": {
            "$ref": "Empty"
          }
        },
        "get": {
          "response": {
            "$ref": "Note"
          },
          "parameters": {
            "name": {
              "description": "Required. Name of the resource.",
              "pattern": "^notes/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Gets a note.",
          "id": "keep.notes.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "flatPath": "v1/notes/{notesId}"
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "pattern": "^notes/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/permissions:batchCreate",
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "id": "keep.notes.permissions.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "parameterOrder": [
                "parent"
              ]
            },
            "batchDelete": {
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "id": "keep.notes.permissions.batchDelete",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^notes/[^/]+$"
                }
              },
              "path": "v1/{+parent}/permissions:batchDelete",
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "httpMethod": "POST"
            }
          }
        }
      }
    }
  },
  "id": "keep:v1",
  "ownerName": "Google",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "Family": {
      "description": "Describes a single Google Family.",
      "properties": {},
      "type": "object",
      "id": "Family"
    },
    "Permission": {
      "type": "object",
      "id": "Permission",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name.",
          "readOnly": true
        },
        "email": {
          "type": "string",
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email."
        },
        "group": {
          "description": "Output only. The group to which this role applies.",
          "readOnly": true,
          "$ref": "Group"
        },
        "deleted": {
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
          "type": "boolean",
          "readOnly": true
        },
        "user": {
          "description": "Output only. The user to whom this role applies.",
          "$ref": "User",
          "readOnly": true
        },
        "role": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ]
        },
        "family": {
          "description": "Output only. The Google Family to which this role applies.",
          "readOnly": true,
          "$ref": "Family"
        }
      },
      "description": "A single permission on the note. Associates a `member` with a `role`."
    },
    "ListNotesResponse": {
      "description": "The response when listing a page of notes.",
      "id": "ListNotesResponse",
      "type": "object",
      "properties": {
        "notes": {
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "A page of notes."
        },
        "nextPageToken": {
          "description": "Next page's `page_token` field.",
          "type": "string"
        }
      }
    },
    "BatchCreatePermissionsRequest": {
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "description": "The request message specifying the resources to create.",
          "type": "array"
        }
      },
      "id": "BatchCreatePermissionsRequest",
      "type": "object"
    },
    "Attachment": {
      "type": "object",
      "id": "Attachment",
      "properties": {
        "mimeType": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The MIME types (IANA media types) in which the attachment is available."
        },
        "name": {
          "type": "string",
          "description": "The resource name;"
        }
      },
      "description": "An attachment to a note."
    },
    "Note": {
      "properties": {
        "title": {
          "description": "The title of the note. Length must be less than 1,000 characters.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. When this note was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "trashed": {
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService."
        },
        "permissions": {
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Permission"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. When this note was created."
        },
        "body": {
          "$ref": "Section",
          "description": "The body of the note."
        },
        "attachments": {
          "type": "array",
          "description": "Output only. The attachments attached to this note.",
          "readOnly": true,
          "items": {
            "$ref": "Attachment"
          }
        },
        "trashTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`)."
        }
      },
      "description": "A single note.",
      "type": "object",
      "id": "Note"
    },
    "Group": {
      "description": "Describes a single Group.",
      "id": "Group",
      "properties": {
        "email": {
          "type": "string",
          "description": "The group email."
        }
      },
      "type": "object"
    },
    "CreatePermissionRequest": {
      "type": "object",
      "id": "CreatePermissionRequest",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`"
        },
        "permission": {
          "$ref": "Permission",
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied."
        }
      },
      "description": "The request to add a single permission on the note."
    },
    "TextContent": {
      "description": "The block of text for a single text section or list item.",
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "id": "TextContent",
      "type": "object"
    },
    "BatchDeletePermissionsRequest": {
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "type": "object",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`"
        }
      },
      "id": "BatchDeletePermissionsRequest"
    },
    "ListContent": {
      "properties": {
        "listItems": {
          "type": "array",
          "items": {
            "$ref": "ListItem"
          },
          "description": "The items in the list. The number of items must be less than 1,000."
        }
      },
      "type": "object",
      "description": "The list of items for a single list note.",
      "id": "ListContent"
    },
    "Section": {
      "id": "Section",
      "description": "The content of the note.",
      "type": "object",
      "properties": {
        "text": {
          "$ref": "TextContent",
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters."
        },
        "list": {
          "description": "Used if this section's content is a list.",
          "$ref": "ListContent"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListItem": {
      "properties": {
        "checked": {
          "description": "Whether this item has been checked off or not.",
          "type": "boolean"
        },
        "text": {
          "$ref": "TextContent",
          "description": "The text of this item. Length must be less than 1,000 characters."
        },
        "childListItems": {
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "type": "array",
          "items": {
            "$ref": "ListItem"
          }
        }
      },
      "id": "ListItem",
      "description": "A single list item in a note's list.",
      "type": "object"
    },
    "BatchCreatePermissionsResponse": {
      "type": "object",
      "description": "The response for creating permissions on a note.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "Permissions created."
        }
      },
      "id": "BatchCreatePermissionsResponse"
    },
    "User": {
      "description": "Describes a single user.",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "User"
    }
  },
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "protocol": "rest",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "baseUrl": "https://keep.googleapis.com/",
  "batchPath": "batch"
}
