{
  "batchPath": "batch",
  "basePath": "",
  "version": "v1",
  "rootUrl": "https://keep.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "revision": "20260916",
  "id": "keep:v1",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "kind": "discovery#restDescription",
  "baseUrl": "https://keep.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "title": "Google Keep API",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "notes": {
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "pattern": "^notes/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1/{+parent}/permissions:batchCreate",
              "httpMethod": "POST",
              "id": "keep.notes.permissions.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ]
            },
            "batchDelete": {
              "id": "keep.notes.permissions.batchDelete",
              "httpMethod": "POST",
              "path": "v1/{+parent}/permissions:batchDelete",
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "required": true,
                  "pattern": "^notes/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete"
            }
          }
        }
      },
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^notes/[^/]+$",
              "description": "Required. Name of the resource."
            }
          },
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/notes/{notesId}",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "id": "keep.notes.get",
          "description": "Gets a note.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Note"
          }
        },
        "create": {
          "httpMethod": "POST",
          "path": "v1/notes",
          "parameterOrder": [],
          "parameters": {},
          "id": "keep.notes.create",
          "response": {
            "$ref": "Note"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "request": {
            "$ref": "Note"
          },
          "flatPath": "v1/notes",
          "description": "Creates a new note."
        },
        "list": {
          "response": {
            "$ref": "ListNotesResponse"
          },
          "flatPath": "v1/notes",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "id": "keep.notes.list",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of results to return.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The previous page's `next_page_token` field."
            },
            "filter": {
              "type": "string",
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "location": "query"
            }
          },
          "path": "v1/notes"
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "keep.notes.delete",
          "flatPath": "v1/notes/{notesId}",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "description": "Required. Name of the note to delete.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^notes/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "id": "keep.media.download",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "response": {
            "$ref": "Attachment"
          },
          "httpMethod": "GET",
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "path": "v1/{+name}",
          "useMediaDownloadService": true,
          "supportsMediaDownload": true,
          "parameters": {
            "mimeType": {
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "type": "string",
              "description": "Required. The name of the attachment.",
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "location": "path",
              "required": true
            }
          }
        }
      }
    }
  },
  "name": "keep",
  "version_module": true,
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  },
  "schemas": {
    "BatchCreatePermissionsResponse": {
      "description": "The response for creating permissions on a note.",
      "properties": {
        "permissions": {
          "description": "Permissions created.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        }
      },
      "id": "BatchCreatePermissionsResponse",
      "type": "object"
    },
    "Section": {
      "type": "object",
      "description": "The content of the note.",
      "id": "Section",
      "properties": {
        "text": {
          "$ref": "TextContent",
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters."
        },
        "list": {
          "$ref": "ListContent",
          "description": "Used if this section's content is a list."
        }
      }
    },
    "Family": {
      "description": "Describes a single Google Family.",
      "properties": {},
      "id": "Family",
      "type": "object"
    },
    "Group": {
      "id": "Group",
      "description": "Describes a single Group.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The group email."
        }
      },
      "type": "object"
    },
    "User": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email."
        }
      },
      "id": "User",
      "type": "object",
      "description": "Describes a single user."
    },
    "ListContent": {
      "type": "object",
      "properties": {
        "listItems": {
          "type": "array",
          "description": "The items in the list. The number of items must be less than 1,000.",
          "items": {
            "$ref": "ListItem"
          }
        }
      },
      "description": "The list of items for a single list note.",
      "id": "ListContent"
    },
    "BatchDeletePermissionsRequest": {
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "id": "BatchDeletePermissionsRequest",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`"
        }
      },
      "type": "object"
    },
    "Note": {
      "properties": {
        "name": {
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "readOnly": true,
          "type": "string"
        },
        "attachments": {
          "items": {
            "$ref": "Attachment"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The attachments attached to this note."
        },
        "trashed": {
          "readOnly": true,
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "type": "boolean"
        },
        "body": {
          "$ref": "Section",
          "description": "The body of the note."
        },
        "updateTime": {
          "description": "Output only. When this note was last modified.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "description": "The title of the note. Length must be less than 1,000 characters."
        },
        "trashTime": {
          "type": "string",
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "format": "google-datetime",
          "readOnly": true
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "readOnly": true,
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When this note was created."
        }
      },
      "description": "A single note.",
      "id": "Note",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "Attachment": {
      "properties": {
        "name": {
          "description": "The resource name;",
          "type": "string"
        },
        "mimeType": {
          "items": {
            "type": "string"
          },
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "type": "array"
        }
      },
      "id": "Attachment",
      "description": "An attachment to a note.",
      "type": "object"
    },
    "Permission": {
      "properties": {
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name.",
          "type": "string"
        },
        "family": {
          "readOnly": true,
          "description": "Output only. The Google Family to which this role applies.",
          "$ref": "Family"
        },
        "email": {
          "type": "string",
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email."
        },
        "group": {
          "$ref": "Group",
          "description": "Output only. The group to which this role applies.",
          "readOnly": true
        },
        "user": {
          "readOnly": true,
          "$ref": "User",
          "description": "Output only. The user to whom this role applies."
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
          "readOnly": true
        }
      },
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "id": "Permission",
      "type": "object"
    },
    "ListItem": {
      "description": "A single list item in a note's list.",
      "id": "ListItem",
      "type": "object",
      "properties": {
        "childListItems": {
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "items": {
            "$ref": "ListItem"
          },
          "type": "array"
        },
        "checked": {
          "description": "Whether this item has been checked off or not.",
          "type": "boolean"
        },
        "text": {
          "$ref": "TextContent",
          "description": "The text of this item. Length must be less than 1,000 characters."
        }
      }
    },
    "BatchCreatePermissionsRequest": {
      "type": "object",
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "description": "The request message specifying the resources to create.",
          "type": "array"
        }
      },
      "id": "BatchCreatePermissionsRequest"
    },
    "TextContent": {
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The block of text for a single text section or list item.",
      "id": "TextContent"
    },
    "ListNotesResponse": {
      "description": "The response when listing a page of notes.",
      "id": "ListNotesResponse",
      "properties": {
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "description": "A page of notes.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page's `page_token` field."
        }
      },
      "type": "object"
    },
    "CreatePermissionRequest": {
      "description": "The request to add a single permission on the note.",
      "properties": {
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        },
        "permission": {
          "$ref": "Permission",
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied."
        }
      },
      "type": "object",
      "id": "CreatePermissionRequest"
    }
  },
  "protocol": "rest",
  "canonicalName": "Keep",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software."
}
