{
  "rootUrl": "https://keep.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "title": "Google Keep API",
  "version_module": true,
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  },
  "name": "keep",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "id": "keep:v1",
  "schemas": {
    "BatchCreatePermissionsResponse": {
      "type": "object",
      "id": "BatchCreatePermissionsResponse",
      "description": "The response for creating permissions on a note.",
      "properties": {
        "permissions": {
          "description": "Permissions created.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        }
      }
    },
    "Section": {
      "properties": {
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        },
        "list": {
          "$ref": "ListContent",
          "description": "Used if this section's content is a list."
        }
      },
      "id": "Section",
      "type": "object",
      "description": "The content of the note."
    },
    "ListItem": {
      "description": "A single list item in a note's list.",
      "id": "ListItem",
      "properties": {
        "text": {
          "description": "The text of this item. Length must be less than 1,000 characters.",
          "$ref": "TextContent"
        },
        "checked": {
          "description": "Whether this item has been checked off or not.",
          "type": "boolean"
        },
        "childListItems": {
          "type": "array",
          "items": {
            "$ref": "ListItem"
          },
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed."
        }
      },
      "type": "object"
    },
    "BatchDeletePermissionsRequest": {
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "type": "object",
      "id": "BatchDeletePermissionsRequest",
      "properties": {
        "names": {
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Family": {
      "description": "Describes a single Google Family.",
      "properties": {},
      "type": "object",
      "id": "Family"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Group": {
      "type": "object",
      "description": "Describes a single Group.",
      "id": "Group",
      "properties": {
        "email": {
          "type": "string",
          "description": "The group email."
        }
      }
    },
    "BatchCreatePermissionsRequest": {
      "properties": {
        "requests": {
          "description": "The request message specifying the resources to create.",
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "type": "array"
        }
      },
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "type": "object",
      "id": "BatchCreatePermissionsRequest"
    },
    "ListContent": {
      "id": "ListContent",
      "properties": {
        "listItems": {
          "items": {
            "$ref": "ListItem"
          },
          "type": "array",
          "description": "The items in the list. The number of items must be less than 1,000."
        }
      },
      "description": "The list of items for a single list note.",
      "type": "object"
    },
    "TextContent": {
      "description": "The block of text for a single text section or list item.",
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TextContent"
    },
    "Attachment": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name;",
          "type": "string"
        },
        "mimeType": {
          "items": {
            "type": "string"
          },
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "type": "array"
        }
      },
      "id": "Attachment",
      "description": "An attachment to a note."
    },
    "Permission": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name."
        },
        "user": {
          "$ref": "User",
          "readOnly": true,
          "description": "Output only. The user to whom this role applies."
        },
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        },
        "family": {
          "$ref": "Family",
          "readOnly": true,
          "description": "Output only. The Google Family to which this role applies."
        },
        "role": {
          "type": "string",
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ]
        },
        "group": {
          "$ref": "Group",
          "description": "Output only. The group to which this role applies.",
          "readOnly": true
        },
        "deleted": {
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "id": "Permission",
      "type": "object"
    },
    "CreatePermissionRequest": {
      "id": "CreatePermissionRequest",
      "description": "The request to add a single permission on the note.",
      "type": "object",
      "properties": {
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`"
        }
      }
    },
    "Note": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When this note was last modified.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. When this note was created."
        },
        "title": {
          "description": "The title of the note. Length must be less than 1,000 characters.",
          "type": "string"
        },
        "attachments": {
          "items": {
            "$ref": "Attachment"
          },
          "description": "Output only. The attachments attached to this note.",
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService."
        },
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        },
        "trashTime": {
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "trashed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted."
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner."
        }
      },
      "type": "object",
      "description": "A single note.",
      "id": "Note"
    },
    "User": {
      "description": "Describes a single user.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email."
        }
      },
      "id": "User",
      "type": "object"
    },
    "ListNotesResponse": {
      "properties": {
        "notes": {
          "description": "A page of notes.",
          "items": {
            "$ref": "Note"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page's `page_token` field."
        }
      },
      "description": "The response when listing a page of notes.",
      "type": "object",
      "id": "ListNotesResponse"
    }
  },
  "resources": {
    "notes": {
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "id": "keep.notes.permissions.batchCreate",
              "httpMethod": "POST",
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "type": "string",
                  "pattern": "^notes/[^/]+$"
                }
              },
              "path": "v1/{+parent}/permissions:batchCreate",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ]
            },
            "batchDelete": {
              "id": "keep.notes.permissions.batchDelete",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "type": "string",
                  "pattern": "^notes/[^/]+$"
                }
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/permissions:batchDelete",
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              }
            }
          }
        }
      },
      "methods": {
        "create": {
          "path": "v1/notes",
          "parameters": {},
          "flatPath": "v1/notes",
          "request": {
            "$ref": "Note"
          },
          "description": "Creates a new note.",
          "id": "keep.notes.create",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "Note"
          }
        },
        "get": {
          "description": "Gets a note.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Name of the resource.",
              "location": "path",
              "pattern": "^notes/[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "keep.notes.get",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "response": {
            "$ref": "Note"
          },
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "flatPath": "v1/notes/{notesId}"
        },
        "list": {
          "flatPath": "v1/notes",
          "parameters": {
            "filter": {
              "location": "query",
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of results to return.",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "The previous page's `next_page_token` field.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "path": "v1/notes",
          "response": {
            "$ref": "ListNotesResponse"
          },
          "httpMethod": "GET",
          "id": "keep.notes.list",
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "parameterOrder": []
        },
        "delete": {
          "path": "v1/{+name}",
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Name of the note to delete.",
              "location": "path",
              "pattern": "^notes/[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v1/notes/{notesId}",
          "id": "keep.notes.delete"
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "parameterOrder": [
            "name"
          ],
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "response": {
            "$ref": "Attachment"
          },
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "id": "keep.media.download",
          "parameters": {
            "mimeType": {
              "location": "query",
              "type": "string",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise."
            },
            "name": {
              "required": true,
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The name of the attachment."
            }
          },
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}"
        }
      }
    }
  },
  "version": "v1",
  "baseUrl": "https://keep.googleapis.com/",
  "ownerName": "Google",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "basePath": "",
  "kind": "discovery#restDescription",
  "revision": "20260916",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Keep"
}
