{
  "version_module": true,
  "name": "keep",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "batchPath": "batch",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "title": "Google Keep API",
  "servicePath": "",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "schemas": {
    "ListNotesResponse": {
      "properties": {
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "type": "array",
          "description": "A page of notes."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page's `page_token` field."
        }
      },
      "id": "ListNotesResponse",
      "description": "The response when listing a page of notes.",
      "type": "object"
    },
    "User": {
      "type": "object",
      "description": "Describes a single user.",
      "id": "User",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Family": {
      "type": "object",
      "id": "Family",
      "properties": {},
      "description": "Describes a single Google Family."
    },
    "BatchCreatePermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "Permissions created.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        }
      },
      "description": "The response for creating permissions on a note.",
      "type": "object",
      "id": "BatchCreatePermissionsResponse"
    },
    "Group": {
      "description": "Describes a single Group.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The group email."
        }
      },
      "id": "Group",
      "type": "object"
    },
    "Permission": {
      "type": "object",
      "id": "Permission",
      "properties": {
        "family": {
          "$ref": "Family",
          "description": "Output only. The Google Family to which this role applies.",
          "readOnly": true
        },
        "email": {
          "type": "string",
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email."
        },
        "deleted": {
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
          "type": "boolean",
          "readOnly": true
        },
        "user": {
          "$ref": "User",
          "description": "Output only. The user to whom this role applies.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name.",
          "type": "string"
        },
        "role": {
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "type": "string"
        },
        "group": {
          "description": "Output only. The group to which this role applies.",
          "readOnly": true,
          "$ref": "Group"
        }
      },
      "description": "A single permission on the note. Associates a `member` with a `role`."
    },
    "TextContent": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text of the note. The limits on this vary with the specific field using this type."
        }
      },
      "id": "TextContent",
      "description": "The block of text for a single text section or list item."
    },
    "CreatePermissionRequest": {
      "id": "CreatePermissionRequest",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        },
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        }
      },
      "description": "The request to add a single permission on the note."
    },
    "ListContent": {
      "type": "object",
      "properties": {
        "listItems": {
          "items": {
            "$ref": "ListItem"
          },
          "type": "array",
          "description": "The items in the list. The number of items must be less than 1,000."
        }
      },
      "description": "The list of items for a single list note.",
      "id": "ListContent"
    },
    "BatchDeletePermissionsRequest": {
      "properties": {
        "names": {
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "BatchDeletePermissionsRequest",
      "type": "object",
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note."
    },
    "Note": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService."
        },
        "trashTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`)."
        },
        "title": {
          "type": "string",
          "description": "The title of the note. Length must be less than 1,000 characters."
        },
        "createTime": {
          "description": "Output only. When this note was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "trashed": {
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "readOnly": true,
          "type": "boolean"
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "Attachment"
          },
          "description": "Output only. The attachments attached to this note.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. When this note was last modified.",
          "format": "google-datetime",
          "readOnly": true
        },
        "permissions": {
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "readOnly": true,
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        },
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        }
      },
      "id": "Note",
      "description": "A single note.",
      "type": "object"
    },
    "BatchCreatePermissionsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "type": "array",
          "description": "The request message specifying the resources to create."
        }
      },
      "id": "BatchCreatePermissionsRequest",
      "type": "object",
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made."
    },
    "ListItem": {
      "id": "ListItem",
      "properties": {
        "checked": {
          "description": "Whether this item has been checked off or not.",
          "type": "boolean"
        },
        "text": {
          "$ref": "TextContent",
          "description": "The text of this item. Length must be less than 1,000 characters."
        },
        "childListItems": {
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "items": {
            "$ref": "ListItem"
          },
          "type": "array"
        }
      },
      "description": "A single list item in a note's list.",
      "type": "object"
    },
    "Section": {
      "type": "object",
      "id": "Section",
      "description": "The content of the note.",
      "properties": {
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        },
        "list": {
          "description": "Used if this section's content is a list.",
          "$ref": "ListContent"
        }
      }
    },
    "Attachment": {
      "description": "An attachment to a note.",
      "id": "Attachment",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name;",
          "type": "string"
        },
        "mimeType": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The MIME types (IANA media types) in which the attachment is available."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "protocol": "rest",
  "revision": "20260906",
  "resources": {
    "notes": {
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "parameters": {
                "parent": {
                  "pattern": "^notes/[^/]+$",
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/permissions:batchCreate",
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "httpMethod": "POST",
              "id": "keep.notes.permissions.batchCreate",
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made."
            },
            "batchDelete": {
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+parent}/permissions:batchDelete",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "pattern": "^notes/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "id": "keep.notes.permissions.batchDelete"
            }
          }
        }
      },
      "methods": {
        "create": {
          "response": {
            "$ref": "Note"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "description": "Creates a new note.",
          "path": "v1/notes",
          "httpMethod": "POST",
          "flatPath": "v1/notes",
          "parameterOrder": [],
          "request": {
            "$ref": "Note"
          },
          "id": "keep.notes.create"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "response": {
            "$ref": "ListNotesResponse"
          },
          "id": "keep.notes.list",
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160)."
            },
            "pageSize": {
              "description": "The maximum number of results to return.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "The previous page's `next_page_token` field.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "path": "v1/notes",
          "httpMethod": "GET",
          "flatPath": "v1/notes",
          "parameterOrder": []
        },
        "get": {
          "path": "v1/{+name}",
          "description": "Gets a note.",
          "id": "keep.notes.get",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^notes/[^/]+$",
              "description": "Required. Name of the resource."
            }
          },
          "response": {
            "$ref": "Note"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "flatPath": "v1/notes/{notesId}"
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "keep.notes.delete",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/notes/{notesId}",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Name of the note to delete.",
              "location": "path",
              "required": true,
              "pattern": "^notes/[^/]+$"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "path": "v1/{+name}"
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "path": "v1/{+name}",
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "id": "keep.media.download",
          "parameterOrder": [
            "name"
          ],
          "useMediaDownloadService": true,
          "parameters": {
            "mimeType": {
              "location": "query",
              "type": "string",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise."
            },
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the attachment.",
              "type": "string",
              "pattern": "^notes/[^/]+/attachments/[^/]+$"
            }
          },
          "response": {
            "$ref": "Attachment"
          }
        }
      }
    }
  },
  "canonicalName": "Keep",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  },
  "rootUrl": "https://keep.googleapis.com/",
  "baseUrl": "https://keep.googleapis.com/",
  "basePath": "",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "id": "keep:v1"
}
