{
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "basePath": "",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "ownerName": "Google",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "baseUrl": "https://keep.googleapis.com/",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://keep.googleapis.com/",
  "kind": "discovery#restDescription",
  "id": "keep:v1",
  "version": "v1",
  "canonicalName": "Keep",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "name": "keep",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        }
      }
    }
  },
  "schemas": {
    "Attachment": {
      "properties": {
        "mimeType": {
          "type": "array",
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The resource name;"
        }
      },
      "description": "An attachment to a note.",
      "id": "Attachment",
      "type": "object"
    },
    "ListContent": {
      "description": "The list of items for a single list note.",
      "type": "object",
      "properties": {
        "listItems": {
          "items": {
            "$ref": "ListItem"
          },
          "type": "array",
          "description": "The items in the list. The number of items must be less than 1,000."
        }
      },
      "id": "ListContent"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListItem": {
      "type": "object",
      "description": "A single list item in a note's list.",
      "id": "ListItem",
      "properties": {
        "childListItems": {
          "items": {
            "$ref": "ListItem"
          },
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "type": "array"
        },
        "text": {
          "$ref": "TextContent",
          "description": "The text of this item. Length must be less than 1,000 characters."
        },
        "checked": {
          "type": "boolean",
          "description": "Whether this item has been checked off or not."
        }
      }
    },
    "Permission": {
      "type": "object",
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "id": "Permission",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email."
        },
        "group": {
          "readOnly": true,
          "description": "Output only. The group to which this role applies.",
          "$ref": "Group"
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name."
        },
        "family": {
          "$ref": "Family",
          "readOnly": true,
          "description": "Output only. The Google Family to which this role applies."
        },
        "user": {
          "$ref": "User",
          "description": "Output only. The user to whom this role applies.",
          "readOnly": true
        },
        "deleted": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note."
        }
      }
    },
    "Family": {
      "properties": {},
      "type": "object",
      "description": "Describes a single Google Family.",
      "id": "Family"
    },
    "ListNotesResponse": {
      "type": "object",
      "properties": {
        "notes": {
          "description": "A page of notes.",
          "items": {
            "$ref": "Note"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Next page's `page_token` field.",
          "type": "string"
        }
      },
      "id": "ListNotesResponse",
      "description": "The response when listing a page of notes."
    },
    "CreatePermissionRequest": {
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`"
        },
        "permission": {
          "$ref": "Permission",
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied."
        }
      },
      "id": "CreatePermissionRequest",
      "description": "The request to add a single permission on the note."
    },
    "BatchDeletePermissionsRequest": {
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`"
        }
      },
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "id": "BatchDeletePermissionsRequest",
      "type": "object"
    },
    "Group": {
      "id": "Group",
      "description": "Describes a single Group.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The group email.",
          "type": "string"
        }
      }
    },
    "BatchCreatePermissionsRequest": {
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "properties": {
        "requests": {
          "description": "The request message specifying the resources to create.",
          "type": "array",
          "items": {
            "$ref": "CreatePermissionRequest"
          }
        }
      },
      "id": "BatchCreatePermissionsRequest",
      "type": "object"
    },
    "TextContent": {
      "id": "TextContent",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text of the note. The limits on this vary with the specific field using this type."
        }
      },
      "description": "The block of text for a single text section or list item."
    },
    "BatchCreatePermissionsResponse": {
      "id": "BatchCreatePermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "Permissions created."
        }
      },
      "description": "The response for creating permissions on a note.",
      "type": "object"
    },
    "User": {
      "type": "object",
      "description": "Describes a single user.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email."
        }
      },
      "id": "User"
    },
    "Section": {
      "description": "The content of the note.",
      "id": "Section",
      "type": "object",
      "properties": {
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        },
        "list": {
          "description": "Used if this section's content is a list.",
          "$ref": "ListContent"
        }
      }
    },
    "Note": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService."
        },
        "title": {
          "description": "The title of the note. Length must be less than 1,000 characters.",
          "type": "string"
        },
        "trashed": {
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "type": "boolean",
          "readOnly": true
        },
        "trashTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When this note was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When this note was last modified.",
          "type": "string"
        },
        "body": {
          "$ref": "Section",
          "description": "The body of the note."
        },
        "permissions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "items": {
            "$ref": "Permission"
          }
        },
        "attachments": {
          "readOnly": true,
          "description": "Output only. The attachments attached to this note.",
          "type": "array",
          "items": {
            "$ref": "Attachment"
          }
        }
      },
      "description": "A single note.",
      "type": "object",
      "id": "Note"
    }
  },
  "resources": {
    "media": {
      "methods": {
        "download": {
          "response": {
            "$ref": "Attachment"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "id": "keep.media.download",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "useMediaDownloadService": true,
          "parameters": {
            "name": {
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "required": true,
              "description": "Required. The name of the attachment.",
              "location": "path",
              "type": "string"
            },
            "mimeType": {
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "type": "string",
              "location": "query"
            }
          },
          "supportsMediaDownload": true
        }
      }
    },
    "notes": {
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "id": "keep.notes.permissions.batchCreate",
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "path": "v1/{+parent}/permissions:batchCreate",
              "httpMethod": "POST",
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "pattern": "^notes/[^/]+$",
                  "type": "string"
                }
              }
            },
            "batchDelete": {
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "parameterOrder": [
                "parent"
              ],
              "id": "keep.notes.permissions.batchDelete",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/permissions:batchDelete",
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^notes/[^/]+$"
                }
              }
            }
          }
        }
      },
      "methods": {
        "create": {
          "parameterOrder": [],
          "path": "v1/notes",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "request": {
            "$ref": "Note"
          },
          "flatPath": "v1/notes",
          "httpMethod": "POST",
          "id": "keep.notes.create",
          "description": "Creates a new note.",
          "response": {
            "$ref": "Note"
          },
          "parameters": {}
        },
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The previous page's `next_page_token` field."
            },
            "filter": {
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of results to return.",
              "format": "int32",
              "type": "integer"
            }
          },
          "flatPath": "v1/notes",
          "path": "v1/notes",
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "parameterOrder": [],
          "response": {
            "$ref": "ListNotesResponse"
          },
          "httpMethod": "GET",
          "id": "keep.notes.list",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ]
        },
        "get": {
          "flatPath": "v1/notes/{notesId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. Name of the resource.",
              "pattern": "^notes/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Note"
          },
          "path": "v1/{+name}",
          "description": "Gets a note.",
          "id": "keep.notes.get"
        },
        "delete": {
          "id": "keep.notes.delete",
          "path": "v1/{+name}",
          "httpMethod": "DELETE",
          "flatPath": "v1/notes/{notesId}",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "name": {
              "description": "Required. Name of the note to delete.",
              "pattern": "^notes/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "parameterOrder": [
            "name"
          ]
        }
      }
    }
  },
  "title": "Google Keep API",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "revision": "20260923",
  "version_module": true
}
