{
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "revision": "20260902",
  "servicePath": "",
  "basePath": "",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "protocol": "rest",
  "rootUrl": "https://keep.googleapis.com/",
  "name": "keep",
  "id": "keep:v1",
  "version": "v1",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "baseUrl": "https://keep.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "resources": {
    "media": {
      "methods": {
        "download": {
          "useMediaDownloadService": true,
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. The name of the attachment."
            },
            "mimeType": {
              "location": "query",
              "type": "string",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise."
            }
          },
          "id": "keep.media.download",
          "supportsMediaDownload": true,
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "response": {
            "$ref": "Attachment"
          },
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "httpMethod": "GET"
        }
      }
    },
    "notes": {
      "methods": {
        "create": {
          "flatPath": "v1/notes",
          "request": {
            "$ref": "Note"
          },
          "httpMethod": "POST",
          "description": "Creates a new note.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "Note"
          },
          "path": "v1/notes",
          "id": "keep.notes.create"
        },
        "get": {
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "description": "Required. Name of the resource.",
              "pattern": "^notes/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "httpMethod": "GET",
          "description": "Gets a note.",
          "flatPath": "v1/notes/{notesId}",
          "response": {
            "$ref": "Note"
          },
          "id": "keep.notes.get"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The previous page's `next_page_token` field.",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of results to return.",
              "location": "query",
              "type": "integer"
            }
          },
          "id": "keep.notes.list",
          "flatPath": "v1/notes",
          "response": {
            "$ref": "ListNotesResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "path": "v1/notes"
        },
        "delete": {
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/notes/{notesId}",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^notes/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Name of the note to delete."
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "id": "keep.notes.delete"
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^notes/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field."
                }
              },
              "id": "keep.notes.permissions.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "httpMethod": "POST",
              "path": "v1/{+parent}/permissions:batchCreate"
            },
            "batchDelete": {
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^notes/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field."
                }
              },
              "path": "v1/{+parent}/permissions:batchDelete",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "id": "keep.notes.permissions.batchDelete"
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        }
      }
    }
  },
  "title": "Google Keep API",
  "canonicalName": "Keep",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "schemas": {
    "BatchDeletePermissionsRequest": {
      "type": "object",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`"
        }
      },
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "id": "BatchDeletePermissionsRequest"
    },
    "BatchCreatePermissionsResponse": {
      "type": "object",
      "id": "BatchCreatePermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "Permissions created.",
          "type": "array"
        }
      },
      "description": "The response for creating permissions on a note."
    },
    "Note": {
      "properties": {
        "title": {
          "description": "The title of the note. Length must be less than 1,000 characters.",
          "type": "string"
        },
        "trashTime": {
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When this note was last modified."
        },
        "permissions": {
          "readOnly": true,
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        },
        "createTime": {
          "description": "Output only. When this note was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "trashed": {
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "type": "boolean",
          "readOnly": true
        },
        "attachments": {
          "items": {
            "$ref": "Attachment"
          },
          "readOnly": true,
          "description": "Output only. The attachments attached to this note.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A single note.",
      "id": "Note"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "TextContent": {
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "description": "The block of text for a single text section or list item.",
      "id": "TextContent",
      "type": "object"
    },
    "BatchCreatePermissionsRequest": {
      "id": "BatchCreatePermissionsRequest",
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "description": "The request message specifying the resources to create."
        }
      },
      "type": "object"
    },
    "CreatePermissionRequest": {
      "description": "The request to add a single permission on the note.",
      "id": "CreatePermissionRequest",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        },
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        }
      }
    },
    "Permission": {
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "id": "Permission",
      "properties": {
        "deleted": {
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
          "type": "boolean",
          "readOnly": true
        },
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name.",
          "readOnly": true,
          "type": "string"
        },
        "role": {
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ]
        },
        "user": {
          "readOnly": true,
          "$ref": "User",
          "description": "Output only. The user to whom this role applies."
        },
        "family": {
          "description": "Output only. The Google Family to which this role applies.",
          "$ref": "Family",
          "readOnly": true
        },
        "group": {
          "readOnly": true,
          "$ref": "Group",
          "description": "Output only. The group to which this role applies."
        }
      },
      "type": "object"
    },
    "Group": {
      "description": "Describes a single Group.",
      "type": "object",
      "id": "Group",
      "properties": {
        "email": {
          "description": "The group email.",
          "type": "string"
        }
      }
    },
    "ListNotesResponse": {
      "description": "The response when listing a page of notes.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page's `page_token` field."
        },
        "notes": {
          "type": "array",
          "description": "A page of notes.",
          "items": {
            "$ref": "Note"
          }
        }
      },
      "id": "ListNotesResponse"
    },
    "Attachment": {
      "description": "An attachment to a note.",
      "type": "object",
      "id": "Attachment",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name;"
        },
        "mimeType": {
          "type": "array",
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListItem": {
      "type": "object",
      "description": "A single list item in a note's list.",
      "id": "ListItem",
      "properties": {
        "text": {
          "description": "The text of this item. Length must be less than 1,000 characters.",
          "$ref": "TextContent"
        },
        "checked": {
          "description": "Whether this item has been checked off or not.",
          "type": "boolean"
        },
        "childListItems": {
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "type": "array",
          "items": {
            "$ref": "ListItem"
          }
        }
      }
    },
    "Section": {
      "properties": {
        "text": {
          "$ref": "TextContent",
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters."
        },
        "list": {
          "$ref": "ListContent",
          "description": "Used if this section's content is a list."
        }
      },
      "type": "object",
      "description": "The content of the note.",
      "id": "Section"
    },
    "ListContent": {
      "id": "ListContent",
      "type": "object",
      "description": "The list of items for a single list note.",
      "properties": {
        "listItems": {
          "type": "array",
          "items": {
            "$ref": "ListItem"
          },
          "description": "The items in the list. The number of items must be less than 1,000."
        }
      }
    },
    "Family": {
      "type": "object",
      "id": "Family",
      "description": "Describes a single Google Family.",
      "properties": {}
    },
    "User": {
      "id": "User",
      "type": "object",
      "description": "Describes a single user.",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      }
    }
  },
  "version_module": true,
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription"
}
