{
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "title": "Google Keep API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "revision": "20260928",
  "ownerName": "Google",
  "schemas": {
    "ListNotesResponse": {
      "id": "ListNotesResponse",
      "type": "object",
      "description": "The response when listing a page of notes.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page's `page_token` field."
        },
        "notes": {
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "A page of notes."
        }
      }
    },
    "CreatePermissionRequest": {
      "type": "object",
      "id": "CreatePermissionRequest",
      "description": "The request to add a single permission on the note.",
      "properties": {
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`"
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "Note": {
      "description": "A single note.",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the note. Length must be less than 1,000 characters."
        },
        "trashed": {
          "type": "boolean",
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "readOnly": true
        },
        "attachments": {
          "description": "Output only. The attachments attached to this note.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Attachment"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When this note was last modified.",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. When this note was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        },
        "trashTime": {
          "readOnly": true,
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "readOnly": true
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "Note"
    },
    "BatchDeletePermissionsRequest": {
      "properties": {
        "names": {
          "type": "array",
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "id": "BatchDeletePermissionsRequest",
      "type": "object"
    },
    "Attachment": {
      "description": "An attachment to a note.",
      "properties": {
        "name": {
          "description": "The resource name;",
          "type": "string"
        },
        "mimeType": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The MIME types (IANA media types) in which the attachment is available."
        }
      },
      "id": "Attachment",
      "type": "object"
    },
    "Section": {
      "description": "The content of the note.",
      "type": "object",
      "properties": {
        "text": {
          "$ref": "TextContent",
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters."
        },
        "list": {
          "description": "Used if this section's content is a list.",
          "$ref": "ListContent"
        }
      },
      "id": "Section"
    },
    "BatchCreatePermissionsRequest": {
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "description": "The request message specifying the resources to create."
        }
      },
      "id": "BatchCreatePermissionsRequest"
    },
    "TextContent": {
      "type": "object",
      "description": "The block of text for a single text section or list item.",
      "id": "TextContent",
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      }
    },
    "ListContent": {
      "type": "object",
      "id": "ListContent",
      "description": "The list of items for a single list note.",
      "properties": {
        "listItems": {
          "description": "The items in the list. The number of items must be less than 1,000.",
          "items": {
            "$ref": "ListItem"
          },
          "type": "array"
        }
      }
    },
    "Permission": {
      "id": "Permission",
      "properties": {
        "family": {
          "description": "Output only. The Google Family to which this role applies.",
          "readOnly": true,
          "$ref": "Family"
        },
        "deleted": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note."
        },
        "group": {
          "$ref": "Group",
          "description": "Output only. The group to which this role applies.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name.",
          "readOnly": true,
          "type": "string"
        },
        "user": {
          "readOnly": true,
          "$ref": "User",
          "description": "Output only. The user to whom this role applies."
        },
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes."
        }
      },
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "type": "object"
    },
    "Family": {
      "description": "Describes a single Google Family.",
      "id": "Family",
      "type": "object",
      "properties": {}
    },
    "ListItem": {
      "type": "object",
      "properties": {
        "text": {
          "description": "The text of this item. Length must be less than 1,000 characters.",
          "$ref": "TextContent"
        },
        "childListItems": {
          "items": {
            "$ref": "ListItem"
          },
          "type": "array",
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed."
        },
        "checked": {
          "type": "boolean",
          "description": "Whether this item has been checked off or not."
        }
      },
      "description": "A single list item in a note's list.",
      "id": "ListItem"
    },
    "User": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email."
        }
      },
      "description": "Describes a single user.",
      "id": "User"
    },
    "Group": {
      "id": "Group",
      "type": "object",
      "description": "Describes a single Group.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The group email."
        }
      }
    },
    "BatchCreatePermissionsResponse": {
      "type": "object",
      "description": "The response for creating permissions on a note.",
      "id": "BatchCreatePermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "Permissions created."
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  },
  "resources": {
    "notes": {
      "methods": {
        "get": {
          "id": "keep.notes.get",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^notes/[^/]+$",
              "description": "Required. Name of the resource."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets a note.",
          "response": {
            "$ref": "Note"
          },
          "flatPath": "v1/notes/{notesId}"
        },
        "create": {
          "response": {
            "$ref": "Note"
          },
          "parameterOrder": [],
          "path": "v1/notes",
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v1/notes",
          "id": "keep.notes.create",
          "description": "Creates a new note.",
          "request": {
            "$ref": "Note"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "pattern": "^notes/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Name of the note to delete."
            }
          },
          "path": "v1/{+name}",
          "id": "keep.notes.delete",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "response": {
            "$ref": "Empty"
          },
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/notes/{notesId}"
        },
        "list": {
          "path": "v1/notes",
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "The previous page's `next_page_token` field.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of results to return.",
              "format": "int32",
              "type": "integer"
            },
            "filter": {
              "type": "string",
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListNotesResponse"
          },
          "parameterOrder": [],
          "id": "keep.notes.list",
          "flatPath": "v1/notes",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ]
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchDelete": {
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "id": "keep.notes.permissions.batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/permissions:batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^notes/[^/]+$"
                }
              }
            },
            "batchCreate": {
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "path": "v1/{+parent}/permissions:batchCreate",
              "id": "keep.notes.permissions.batchCreate",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "pattern": "^notes/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "useMediaDownloadService": true,
          "id": "keep.media.download",
          "response": {
            "$ref": "Attachment"
          },
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the attachment.",
              "location": "path",
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "required": true
            },
            "mimeType": {
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "parameterOrder": [
            "name"
          ],
          "supportsMediaDownload": true
        }
      }
    }
  },
  "baseUrl": "https://keep.googleapis.com/",
  "version_module": true,
  "servicePath": "",
  "name": "keep",
  "rootUrl": "https://keep.googleapis.com/",
  "protocol": "rest",
  "version": "v1",
  "batchPath": "batch",
  "basePath": "",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "canonicalName": "Keep",
  "id": "keep:v1",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "kind": "discovery#restDescription"
}
