{
  "version_module": true,
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "baseUrl": "https://keep.googleapis.com/",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "parameters": {
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "discoveryVersion": "v1",
  "servicePath": "",
  "title": "Google Keep API",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "rootUrl": "https://keep.googleapis.com/",
  "name": "keep",
  "batchPath": "batch",
  "revision": "20260930",
  "canonicalName": "Keep",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  },
  "basePath": "",
  "id": "keep:v1",
  "resources": {
    "notes": {
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "httpMethod": "POST",
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^notes/[^/]+$"
                }
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "path": "v1/{+parent}/permissions:batchCreate",
              "id": "keep.notes.permissions.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ]
            },
            "batchDelete": {
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^notes/[^/]+$",
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "id": "keep.notes.permissions.batchDelete",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/permissions:batchDelete",
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note."
            }
          }
        }
      },
      "methods": {
        "create": {
          "id": "keep.notes.create",
          "request": {
            "$ref": "Note"
          },
          "description": "Creates a new note.",
          "flatPath": "v1/notes",
          "path": "v1/notes",
          "parameters": {},
          "httpMethod": "POST",
          "response": {
            "$ref": "Note"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ]
        },
        "delete": {
          "id": "keep.notes.delete",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "flatPath": "v1/notes/{notesId}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^notes/[^/]+$",
              "required": true,
              "description": "Required. Name of the note to delete."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note."
        },
        "get": {
          "flatPath": "v1/notes/{notesId}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "description": "Gets a note.",
          "httpMethod": "GET",
          "id": "keep.notes.get",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Name of the resource.",
              "required": true,
              "pattern": "^notes/[^/]+$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Note"
          },
          "path": "v1/{+name}"
        },
        "list": {
          "id": "keep.notes.list",
          "parameterOrder": [],
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of results to return."
            },
            "filter": {
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The previous page's `next_page_token` field.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1/notes",
          "response": {
            "$ref": "ListNotesResponse"
          },
          "path": "v1/notes"
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the attachment.",
              "pattern": "^notes/[^/]+/attachments/[^/]+$"
            },
            "mimeType": {
              "type": "string",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "location": "query"
            }
          },
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "id": "keep.media.download",
          "response": {
            "$ref": "Attachment"
          },
          "parameterOrder": [
            "name"
          ],
          "useMediaDownloadService": true,
          "supportsMediaDownload": true
        }
      }
    }
  },
  "schemas": {
    "BatchCreatePermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "Permissions created."
        }
      },
      "description": "The response for creating permissions on a note.",
      "id": "BatchCreatePermissionsResponse"
    },
    "ListItem": {
      "id": "ListItem",
      "type": "object",
      "description": "A single list item in a note's list.",
      "properties": {
        "checked": {
          "description": "Whether this item has been checked off or not.",
          "type": "boolean"
        },
        "childListItems": {
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "type": "array",
          "items": {
            "$ref": "ListItem"
          }
        },
        "text": {
          "description": "The text of this item. Length must be less than 1,000 characters.",
          "$ref": "TextContent"
        }
      }
    },
    "ListNotesResponse": {
      "id": "ListNotesResponse",
      "description": "The response when listing a page of notes.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Next page's `page_token` field.",
          "type": "string"
        },
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "description": "A page of notes.",
          "type": "array"
        }
      }
    },
    "ListContent": {
      "type": "object",
      "properties": {
        "listItems": {
          "type": "array",
          "description": "The items in the list. The number of items must be less than 1,000.",
          "items": {
            "$ref": "ListItem"
          }
        }
      },
      "id": "ListContent",
      "description": "The list of items for a single list note."
    },
    "Group": {
      "description": "Describes a single Group.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The group email.",
          "type": "string"
        }
      },
      "id": "Group"
    },
    "TextContent": {
      "id": "TextContent",
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "description": "The block of text for a single text section or list item.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "CreatePermissionRequest": {
      "description": "The request to add a single permission on the note.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        },
        "permission": {
          "$ref": "Permission",
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied."
        }
      },
      "id": "CreatePermissionRequest"
    },
    "Family": {
      "type": "object",
      "properties": {},
      "id": "Family",
      "description": "Describes a single Google Family."
    },
    "User": {
      "type": "object",
      "description": "Describes a single user.",
      "id": "User",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      }
    },
    "Attachment": {
      "type": "object",
      "properties": {
        "mimeType": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The MIME types (IANA media types) in which the attachment is available."
        },
        "name": {
          "description": "The resource name;",
          "type": "string"
        }
      },
      "id": "Attachment",
      "description": "An attachment to a note."
    },
    "BatchDeletePermissionsRequest": {
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "properties": {
        "names": {
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchDeletePermissionsRequest",
      "type": "object"
    },
    "BatchCreatePermissionsRequest": {
      "type": "object",
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "properties": {
        "requests": {
          "description": "The request message specifying the resources to create.",
          "type": "array",
          "items": {
            "$ref": "CreatePermissionRequest"
          }
        }
      },
      "id": "BatchCreatePermissionsRequest"
    },
    "Permission": {
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "id": "Permission",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note."
        },
        "role": {
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ]
        },
        "group": {
          "description": "Output only. The group to which this role applies.",
          "$ref": "Group",
          "readOnly": true
        },
        "family": {
          "$ref": "Family",
          "readOnly": true,
          "description": "Output only. The Google Family to which this role applies."
        },
        "user": {
          "description": "Output only. The user to whom this role applies.",
          "$ref": "User",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name.",
          "type": "string"
        }
      }
    },
    "Note": {
      "properties": {
        "attachments": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The attachments attached to this note.",
          "items": {
            "$ref": "Attachment"
          }
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When this note was created."
        },
        "name": {
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "readOnly": true,
          "type": "string"
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "readOnly": true,
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. When this note was last modified.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        },
        "trashed": {
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "readOnly": true,
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "The title of the note. Length must be less than 1,000 characters."
        },
        "trashTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Note",
      "description": "A single note."
    },
    "Section": {
      "id": "Section",
      "type": "object",
      "properties": {
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        },
        "list": {
          "$ref": "ListContent",
          "description": "Used if this section's content is a list."
        }
      },
      "description": "The content of the note."
    }
  },
  "kind": "discovery#restDescription",
  "version": "v1",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}
