{
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/workspace/meet/api",
  "version_module": true,
  "mtlsRootUrl": "https://meet.mtls.googleapis.com/",
  "batchPath": "batch",
  "revision": "20260928",
  "name": "meet",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "protocol": "rest",
  "rootUrl": "https://meet.googleapis.com/",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "version": "v2",
  "resources": {
    "spaces": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "description": "Gets details about a meeting space. For more information, see [Manage meeting spaces](https://developers.google.com/workspace/meet/api/guides/manage-meeting-spaces). For an example, see [Get a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#get-meeting-space).",
          "path": "v2/{+name}",
          "parameters": {
            "name": {
              "description": "Required. Resource name of the space. Format: `spaces/{space}` or `spaces/{meetingCode}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. `{meetingCode}` is an alias for the space. It's a typeable, unique character string and is non-case sensitive. For example, `abc-mnop-xyz`. The maximum length is 128 characters. A `meetingCode` shouldn't be stored long term as it can become dissociated from a meeting space and can be reused for different meeting spaces in the future. Generally, a `meetingCode` expires 365 days after last use. For more information, see [Learn about meeting codes in Google Meet](https://support.google.com/meet/answer/10710509). For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^spaces/[^/]+$"
            }
          },
          "response": {
            "$ref": "Space"
          },
          "id": "meet.spaces.get",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/spaces/{spacesId}",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ]
        },
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "parameters": {
            "updateMask": {
              "description": "Optional. Field mask used to specify the fields to be updated in the space. If update_mask isn't provided(not set, set with empty paths, or only has \"\" as paths), it defaults to update all fields provided with values in the request. Using \"*\" as update_mask will update all fields, including deleting fields not set in the request.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "location": "path",
              "type": "string",
              "pattern": "^spaces/[^/]+$",
              "required": true
            }
          },
          "request": {
            "$ref": "Space"
          },
          "description": "Updates details about a meeting space. For more information, see [Manage meeting spaces](https://developers.google.com/workspace/meet/api/guides/manage-meeting-spaces).",
          "httpMethod": "PATCH",
          "flatPath": "v2/spaces/{spacesId}",
          "path": "v2/{+name}",
          "id": "meet.spaces.patch",
          "response": {
            "$ref": "Space"
          }
        },
        "create": {
          "response": {
            "$ref": "Space"
          },
          "description": "Creates a space. For more information, see [Manage meeting spaces](https://developers.google.com/workspace/meet/api/guides/manage-meeting-spaces).",
          "flatPath": "v2/spaces",
          "request": {
            "$ref": "Space"
          },
          "id": "meet.spaces.create",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ],
          "parameters": {},
          "parameterOrder": [],
          "path": "v2/spaces",
          "httpMethod": "POST"
        },
        "endActiveConference": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "EndActiveConferenceRequest"
          },
          "parameters": {
            "name": {
              "pattern": "^spaces/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space)."
            }
          },
          "description": "Ends an active conference (if there's one). For more information, see [Manage meeting spaces](https://developers.google.com/workspace/meet/api/guides/manage-meeting-spaces).",
          "response": {
            "$ref": "Empty"
          },
          "id": "meet.spaces.endActiveConference",
          "flatPath": "v2/spaces/{spacesId}:endActiveConference",
          "path": "v2/{+name}:endActiveConference",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ]
        }
      },
      "resources": {
        "members": {
          "methods": {
            "batchUpdate": {
              "response": {
                "$ref": "BatchUpdateMembersResponse"
              },
              "description": "Updates members of one space within a batch. For more information, see [Manage meeting space members](https://developers.google.com/workspace/meet/api/guides/meeting-space-members).",
              "flatPath": "v2/spaces/{spacesId}/members:batchUpdate",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource shared by all Members being updated. Format: spaces/{space}",
                  "type": "string",
                  "required": true,
                  "pattern": "^spaces/[^/]+$",
                  "location": "path"
                }
              },
              "id": "meet.spaces.members.batchUpdate",
              "request": {
                "$ref": "BatchUpdateMembersRequest"
              },
              "httpMethod": "POST",
              "path": "v2/{+parent}/members:batchUpdate",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created"
              ]
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^spaces/[^/]+/members/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Format: “spaces/{space}/members/{member}”",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created"
              ],
              "path": "v2/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes the member who was previously assigned roles in the space. For more information, see [Manage meeting space members](https://developers.google.com/workspace/meet/api/guides/meeting-space-members).",
              "id": "meet.spaces.members.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/spaces/{spacesId}/members/{membersId}",
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListMembersResponse"
              },
              "path": "v2/{+parent}/members",
              "id": "meet.spaces.members.list",
              "flatPath": "v2/spaces/{spacesId}/members",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Optional. Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Maximum number of members to return. The service might return fewer than this value. If unspecified or set to 0, at most 250 members are returned. The maximum value is 500; values above 500 are coerced to 500. Maximum might change in the future."
                },
                "parent": {
                  "required": true,
                  "pattern": "^spaces/[^/]+$",
                  "description": "Required. Format: spaces/{space}",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Lists members. For more information, see [Manage meeting space members](https://developers.google.com/workspace/meet/api/guides/meeting-space-members). This API supports the `fields` parameter in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters). When the `fields` parameter is omitted this API response will default to \"name,email,role,user\"."
            },
            "create": {
              "description": "Creates a member. For more information, see [Manage meeting space members](https://developers.google.com/workspace/meet/api/guides/meeting-space-members). This API supports the `fields` parameter in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters). When the `fields` parameter is omitted, this API response will default to \"name,email,role,user\".",
              "request": {
                "$ref": "Member"
              },
              "flatPath": "v2/spaces/{spacesId}/members",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Member"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created"
              ],
              "id": "meet.spaces.members.create",
              "httpMethod": "POST",
              "path": "v2/{+parent}/members",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^spaces/[^/]+$",
                  "description": "Required. Format: spaces/{space}",
                  "location": "path"
                }
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "request": {
                "$ref": "Member"
              },
              "response": {
                "$ref": "Member"
              },
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Field mask used to specify the fields to be updated in the member. If update_mask isn't provided(not set, set with empty paths, or only has \"\" as paths), it defaults to update all fields provided with values in the request. Using \"*\" as update_mask will update all fields, including deleting fields not set in the request. In case of BatchUpdate, it must be absent or the same as the update_mask in BatchUpdateMembersRequest when UpdateMemberRequest is built as a child request of BatchUpdateMembersRequest.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^spaces/[^/]+/members/[^/]+$",
                  "required": true,
                  "description": "Identifier. Resource name of the member. Format: spaces/{space}/members/{member}",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v2/spaces/{spacesId}/members/{membersId}",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created"
              ],
              "description": "Updates a member. For more information, see [Manage meeting space members](https://developers.google.com/workspace/meet/api/guides/meeting-space-members).",
              "id": "meet.spaces.members.patch",
              "httpMethod": "PATCH"
            },
            "get": {
              "description": "Gets a member. For more information, see [Manage meeting space members](https://developers.google.com/workspace/meet/api/guides/meeting-space-members). This API supports the `fields` parameter in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters). When the `fields` parameter is omitted, this API response will default to \"name,email,role,user\".",
              "id": "meet.spaces.members.get",
              "flatPath": "v2/spaces/{spacesId}/members/{membersId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Member"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Format: “spaces/{space}/members/{member}”",
                  "pattern": "^spaces/[^/]+/members/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "conferenceRecords": {
      "resources": {
        "recordings": {
          "methods": {
            "get": {
              "path": "v2/{+name}",
              "httpMethod": "GET",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings/{recordingsId}",
              "response": {
                "$ref": "Recording"
              },
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the recording.",
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+/recordings/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "meet.conferenceRecords.recordings.get",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a recording by recording ID. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts)."
            },
            "list": {
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListRecordingsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+$",
                  "location": "path",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`"
                },
                "pageSize": {
                  "description": "Maximum number of recordings to return. The service might return fewer than this value. If unspecified, at most 10 recordings are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "description": "Lists the recording resources from the conference record. By default, ordered by start time and in ascending order. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts).",
              "path": "v2/{+parent}/recordings",
              "id": "meet.conferenceRecords.recordings.list",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "transcripts": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "httpMethod": "GET",
              "id": "meet.conferenceRecords.transcripts.get",
              "response": {
                "$ref": "Transcript"
              },
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of the transcript.",
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$"
                }
              },
              "path": "v2/{+name}",
              "description": "Gets a transcript by transcript ID. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts).",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "description": "Page token returned from previous List Call.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of transcripts to return. The service might return fewer than this value. If unspecified, at most 10 transcripts are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts",
              "id": "meet.conferenceRecords.transcripts.list",
              "response": {
                "$ref": "ListTranscriptsResponse"
              },
              "httpMethod": "GET",
              "path": "v2/{+parent}/transcripts",
              "description": "Lists the set of transcripts from the conference record. By default, ordered by start time and in ascending order. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts).",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "entries": {
              "methods": {
                "list": {
                  "description": "Lists the structured transcript entries per transcript. By default, ordered by start time and in ascending order. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts). Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "id": "meet.conferenceRecords.transcripts.entries.list",
                  "path": "v2/{+parent}/entries",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "response": {
                    "$ref": "ListTranscriptEntriesResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Page token returned from previous List Call.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Maximum number of entries to return. The service might return fewer than this value. If unspecified, at most 10 entries are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`",
                      "required": true,
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+/entries/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of the `TranscriptEntry`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries/{entriesId}",
                  "response": {
                    "$ref": "TranscriptEntry"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "meet.conferenceRecords.transcripts.entries.get",
                  "description": "Gets a `TranscriptEntry` resource by entry ID. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts). Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ]
                }
              }
            }
          }
        },
        "smartNotes": {
          "methods": {
            "get": {
              "response": {
                "$ref": "SmartNote"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "id": "meet.conferenceRecords.smartNotes.get",
              "httpMethod": "GET",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes/{smartNotesId}",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Resource name of the smart note. Format: conferenceRecords/{conference_record}/smartNotes/{smart_note}",
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+/smartNotes/[^/]+$",
                  "required": true
                }
              },
              "description": "Gets smart notes by smart note ID. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts)."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "id": "meet.conferenceRecords.smartNotes.list",
              "description": "Lists the set of smart notes from the conference record. By default, ordered by start time and in ascending order. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts).",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Page token returned from previous List Call."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. Maximum number of smart notes to return. The service might return fewer than this value. If unspecified, at most 10 smart notes are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future."
                },
                "parent": {
                  "pattern": "^conferenceRecords/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Format: `conferenceRecords/{conference_record}`"
                }
              },
              "path": "v2/{+parent}/smartNotes",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListSmartNotesResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes"
            }
          }
        },
        "participants": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "meet.conferenceRecords.participants.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Resource name of the participant."
                }
              },
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}",
              "description": "Gets a participant by participant ID. For more information, see [Work with participants](https://developers.google.com/workspace/meet/api/guides/participants).",
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "response": {
                "$ref": "Participant"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "httpMethod": "GET",
              "path": "v2/{+parent}/participants",
              "response": {
                "$ref": "ListParticipantsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants",
              "id": "meet.conferenceRecords.participants.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^conferenceRecords/[^/]+$",
                  "type": "string",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "required": true
                },
                "pageToken": {
                  "description": "Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `earliest_start_time` * `latest_end_time` For example, `latest_end_time IS NULL` returns active participants in the conference.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of participants to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
                  "type": "integer"
                }
              },
              "description": "Lists the participants in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted, this API defaults to `'participants/*, next_page_token'`. For more information, see [Work with participants](https://developers.google.com/workspace/meet/api/guides/participants)."
            }
          },
          "resources": {
            "participantSessions": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListParticipantSessionsResponse"
                  },
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions",
                  "path": "v2/{+parent}/participantSessions",
                  "description": "Lists the participant sessions of a participant in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted this API defaults to `'participantsessions/*, next_page_token'`. For more information, see [Work with participants](https://developers.google.com/workspace/meet/api/guides/participants).",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
                      "location": "path",
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `start_time` * `end_time` For example, `end_time IS NULL` returns active participant sessions in the conference record.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of participant sessions to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future."
                    },
                    "pageToken": {
                      "description": "Optional. Page token returned from previous List Call.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "meet.conferenceRecords.participants.participantSessions.list"
                },
                "get": {
                  "response": {
                    "$ref": "ParticipantSession"
                  },
                  "path": "v2/{+name}",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions/{participantSessionsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+/participantSessions/[^/]+$",
                      "type": "string",
                      "description": "Required. Resource name of the participant.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "meet.conferenceRecords.participants.participantSessions.get",
                  "description": "Gets a participant session by participant session ID. For more information, see [Work with participants](https://developers.google.com/workspace/meet/api/guides/participants)."
                }
              }
            }
          }
        }
      },
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "httpMethod": "GET",
          "description": "Lists the conference records. By default, ordered by start time and in descending order. For more information, see [Work with conferences](https://developers.google.com/workspace/meet/api/guides/conferences).",
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `space.meeting_code` * `space.name` * `start_time` * `end_time` For example, consider the following filters: * `space.name = \"spaces/NAME\"` * `space.meeting_code = \"abc-mnop-xyz\"` * `start_time>=\"2024-01-01T00:00:00.000Z\" AND start_time<=\"2024-01-02T00:00:00.000Z\"` * `end_time IS NULL`"
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. Maximum number of conference records to return. The service might return fewer than this value. If unspecified, at most 25 conference records are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. Page token returned from previous List Call.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListConferenceRecordsResponse"
          },
          "path": "v2/conferenceRecords",
          "id": "meet.conferenceRecords.list",
          "flatPath": "v2/conferenceRecords",
          "parameterOrder": []
        },
        "get": {
          "path": "v2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "description": "Gets a conference record by conference ID. For more information, see [Work with conferences](https://developers.google.com/workspace/meet/api/guides/conferences).",
          "id": "meet.conferenceRecords.get",
          "parameters": {
            "name": {
              "description": "Required. Resource name of the conference.",
              "location": "path",
              "type": "string",
              "pattern": "^conferenceRecords/[^/]+$",
              "required": true
            }
          },
          "response": {
            "$ref": "ConferenceRecord"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "flatPath": "v2/conferenceRecords/{conferenceRecordsId}"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/meetings.space.created": {
          "description": "Create, edit, and see information about your Google Meet conferences created by the app."
        },
        "https://www.googleapis.com/auth/meetings.space.settings": {
          "description": "Edit, and see settings for all of your Google Meet calls."
        },
        "https://www.googleapis.com/auth/meetings.space.readonly": {
          "description": "Read information about any of your Google Meet conferences"
        }
      }
    }
  },
  "basePath": "",
  "servicePath": "",
  "schemas": {
    "ParticipantSession": {
      "id": "ParticipantSession",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Session id."
        },
        "startTime": {
          "description": "Output only. Timestamp when the user session starts.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. Timestamp when the user session ends. Unset if the user session hasn’t ended.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Refers to each unique join or leave session when a user joins a conference from a device. Note that any time a user joins the conference a new unique ID is assigned. That means if a user joins a space multiple times from the same device, they're assigned different IDs, and are also be treated as different participant sessions."
    },
    "ListTranscriptsResponse": {
      "description": "Response for ListTranscripts method.",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcripts. Unset if all transcripts are returned.",
          "type": "string"
        },
        "transcripts": {
          "type": "array",
          "description": "List of transcripts in one page.",
          "items": {
            "$ref": "Transcript"
          }
        }
      },
      "type": "object",
      "id": "ListTranscriptsResponse"
    },
    "SignedinUser": {
      "id": "SignedinUser",
      "type": "object",
      "description": "A signed-in user can be: a) An individual joining from a personal computer, mobile device, or through companion mode. b) A robot account used by conference room devices.",
      "properties": {
        "user": {
          "description": "Output only. Unique ID for the user. Interoperable with Admin SDK API and People API. Format: `users/{user}`",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. For a personal device, it's the user's first name and last name. For a robot account, it's the administrator-specified device name. For example, \"Altostrat Room\"."
        }
      }
    },
    "ListRecordingsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the recordings. Unset if all recordings are returned.",
          "type": "string"
        },
        "recordings": {
          "type": "array",
          "items": {
            "$ref": "Recording"
          },
          "description": "List of recordings in one page."
        }
      },
      "type": "object",
      "description": "Response for ListRecordings method.",
      "id": "ListRecordingsResponse"
    },
    "ListMembersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further list call if current list doesn't include all the members. Unset if all members are returned.",
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "$ref": "Member"
          },
          "description": "The list of members for the current page."
        }
      },
      "description": "Response of list members.",
      "id": "ListMembersResponse"
    },
    "TranscriptionConfig": {
      "id": "TranscriptionConfig",
      "description": "Configuration related to transcription in a meeting space.",
      "type": "object",
      "properties": {
        "autoTranscriptionGeneration": {
          "description": "Defines whether the content of a meeting is automatically transcribed when someone with the privilege to transcribe joins the meeting.",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "type": "string"
        }
      }
    },
    "BatchUpdateMembersResponse": {
      "type": "object",
      "description": "Response of batch update members.",
      "id": "BatchUpdateMembersResponse",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "$ref": "Member"
          },
          "description": "Members updated."
        }
      }
    },
    "AnonymousUser": {
      "description": "User who joins anonymously (meaning not signed into a Google Account).",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. User provided name when they join a conference anonymously."
        }
      },
      "id": "AnonymousUser"
    },
    "ArtifactConfig": {
      "type": "object",
      "id": "ArtifactConfig",
      "description": "Configuration related to meeting artifacts potentially generated by this meeting space.",
      "properties": {
        "transcriptionConfig": {
          "$ref": "TranscriptionConfig",
          "description": "Configuration for auto-transcript."
        },
        "recordingConfig": {
          "description": "Configuration for recording.",
          "$ref": "RecordingConfig"
        },
        "smartNotesConfig": {
          "$ref": "SmartNotesConfig",
          "description": "Configuration for auto-smart-notes."
        }
      }
    },
    "ListSmartNotesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the smart notes. Unset if all smart notes are returned."
        },
        "smartNotes": {
          "items": {
            "$ref": "SmartNote"
          },
          "description": "List of smart notes in one page.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for ListSmartNotes method.",
      "id": "ListSmartNotesResponse"
    },
    "PhoneAccess": {
      "id": "PhoneAccess",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP 47/LDML language code for the language associated with this phone access. To be parsed by the i18n LanguageCode utility. Examples: \"es-419\" for Latin American Spanish, \"fr-CA\" for Canadian French."
        },
        "pin": {
          "description": "The PIN that users must enter after dialing the given number. The PIN consists of only decimal digits and the length may vary.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The phone number to dial for this meeting space in E.164 format. Full phone number with a leading '+' character.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. To be parsed by the i18n RegionCode utility. Example: \"SE\" for Sweden."
        }
      },
      "description": "Phone access contains information required to dial into a conference using a regional phone number and a PIN that is specific to that phone number.",
      "type": "object"
    },
    "Recording": {
      "id": "Recording",
      "description": "Metadata about a recording created during a conference.",
      "type": "object",
      "properties": {
        "driveDestination": {
          "description": "Output only. Recording is saved to Google Drive as an MP4 file. The `drive_destination` includes the Drive `fileId` that can be used to download the file using the `files.get` method of the Drive API.",
          "$ref": "DriveDestination",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Current state.",
          "enumDescriptions": [
            "Default, never used.",
            "An active recording session has started.",
            "This recording session has ended, but the recording file hasn't been generated yet.",
            "Recording file is generated and ready to download."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ]
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the recording started.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the recording ended."
        },
        "name": {
          "description": "Output only. Resource name of the recording. Format: `conferenceRecords/{conference_record}/recordings/{recording}` where `{recording}` is a 1:1 mapping to each unique recording session during the conference.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BatchUpdateMembersRequest": {
      "description": "Request to update members of one space within a batch.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "UpdateMemberRequest"
          },
          "description": "Required. The request message specifying the resources to update. A maximum of 500 members can be modified in a batch."
        },
        "updateMask": {
          "description": "Optional. Top-level field mask used to specify the fields to be updated in the member for all UpdateMemberRequests. There are 4 possible scenarios for top-level and child field mask: 1. top-level and child field mask is absent: All fields provided in the requests are updated, including deleting fields not set in the requests. 2. top-level field mask is present but child field mask is absent: The fields specified in the top-level field mask are updated. 3. top-level and child field mask is present: The child field mask must be the same as the top-level field mask. 4. top-level field mask is absent but child field mask is present: It isn't supported and will return an error.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "BatchUpdateMembersRequest",
      "type": "object"
    },
    "Participant": {
      "id": "Participant",
      "properties": {
        "latestEndTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the participant left the meeting for the last time. This can be null if it's an active meeting."
        },
        "signedinUser": {
          "$ref": "SignedinUser",
          "description": "Signed-in user."
        },
        "phoneUser": {
          "$ref": "PhoneUser",
          "description": "User calling from their phone."
        },
        "name": {
          "description": "Output only. Resource name of the participant. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
          "readOnly": true,
          "type": "string"
        },
        "earliestStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the participant first joined the meeting.",
          "readOnly": true
        },
        "anonymousUser": {
          "description": "Anonymous user.",
          "$ref": "AnonymousUser"
        }
      },
      "type": "object",
      "description": "User who attended or is attending a conference."
    },
    "SmartNote": {
      "id": "SmartNote",
      "type": "object",
      "description": "Metadata for a smart note generated from a conference. It refers to the notes generated from Take Notes with Gemini during the conference.",
      "properties": {
        "name": {
          "description": "Output only. Identifier. Resource name of the smart notes. Format: `conferenceRecords/{conference_record}/smartNotes/{smart_note}`, where `{smart_note}` is a 1:1 mapping to each unique smart notes session of the conference.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the smart notes stopped.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the smart notes started.",
          "format": "google-datetime"
        },
        "docsDestination": {
          "description": "Output only. The Google Doc destination where the smart notes are saved.",
          "$ref": "DocsDestination",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Current state.",
          "type": "string",
          "enumDescriptions": [
            "Default, never used.",
            "An active smart notes session has started.",
            "This smart notes session has ended, but the smart notes file hasn't been generated yet.",
            "Smart notes file is generated and ready to download."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ]
        }
      }
    },
    "DriveDestination": {
      "id": "DriveDestination",
      "description": "Export location where a recording file is saved in Google Drive.",
      "type": "object",
      "properties": {
        "file": {
          "description": "Output only. The `fileId` for the underlying MP4 file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use `$ GET https://www.googleapis.com/drive/v3/files/{$fileId}?alt=media` to download the blob. For more information, see https://developers.google.com/drive/api/v3/reference/files/get.",
          "readOnly": true,
          "type": "string"
        },
        "exportUri": {
          "readOnly": true,
          "description": "Output only. Link used to play back the recording file in the browser. For example, `https://drive.google.com/file/d/{$fileId}/view`.",
          "type": "string"
        }
      }
    },
    "ModerationRestrictions": {
      "description": "Defines restrictions for features when the meeting is moderated.",
      "type": "object",
      "id": "ModerationRestrictions",
      "properties": {
        "chatRestriction": {
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "description": "Defines who has permission to send chat messages in the meeting space.",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ]
        },
        "presentRestriction": {
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "description": "Defines who has permission to share their screen in the meeting space.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "type": "string"
        },
        "reactionRestriction": {
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "description": "Defines who has permission to send reactions in the meeting space.",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ]
        },
        "defaultJoinAsViewerType": {
          "enum": [
            "DEFAULT_JOIN_AS_VIEWER_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "description": "Defines whether to restrict the default role assigned to users as viewer.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Users will by default join as viewers.",
            "Users will by default join as contributors."
          ],
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "Member": {
      "description": "Users who are configured to have a role in the space. These users can join the space without knocking.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the member. Format: spaces/{space}/members/{member}"
        },
        "role": {
          "type": "string",
          "description": "The meeting role assigned to the member.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "COHOST"
          ],
          "enumDescriptions": [
            "This is used to indicate the user hasn't specified any value and the user’s role will be determined upon joining the meetings between 'contributor' and 'viewer' role depending on meeting configuration. For more information about the viewer role, see [Assign View only roles in Google Meet](https://support.google.com/meet/answer/13658394).",
            "Co-host role."
          ]
        },
        "email": {
          "type": "string",
          "description": "Email for the member. This is required for creating the member."
        }
      },
      "type": "object",
      "id": "Member"
    },
    "ListParticipantsResponse": {
      "id": "ListParticipantsResponse",
      "description": "Response of ListParticipants method.",
      "properties": {
        "totalSize": {
          "description": "Total, exact number of `participants`. By default, this field isn't included in the response. Set the field mask in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters) to receive this field in the response.",
          "format": "int32",
          "type": "integer"
        },
        "participants": {
          "items": {
            "$ref": "Participant"
          },
          "description": "List of participants in one page.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned."
        }
      },
      "type": "object"
    },
    "ListConferenceRecordsResponse": {
      "id": "ListConferenceRecordsResponse",
      "description": "Response of ListConferenceRecords method.",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List does NOT include all the Conferences. Unset if all conferences have been returned.",
          "type": "string"
        },
        "conferenceRecords": {
          "items": {
            "$ref": "ConferenceRecord"
          },
          "description": "List of conferences in one page.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "RecordingConfig": {
      "description": "Configuration related to recording in a meeting space.",
      "properties": {
        "autoRecordingGeneration": {
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "description": "Defines whether a meeting space is automatically recorded when someone with the privilege to record joins the meeting.",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ]
        }
      },
      "id": "RecordingConfig",
      "type": "object"
    },
    "TranscriptEntry": {
      "description": "Single entry for one user’s speech during a transcript session.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the entry. Format: \"conferenceRecords/{conference_record}/transcripts/{transcript}/entries/{entry}\"",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. Timestamp when the transcript entry started.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the transcript entry ended.",
          "readOnly": true
        },
        "participant": {
          "type": "string",
          "description": "Output only. Refers to the participant who speaks.",
          "readOnly": true
        },
        "text": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The transcribed text of the participant's voice, at maximum 10K words. Note that the limit is subject to change."
        },
        "languageCode": {
          "description": "Output only. Language of spoken text, such as \"en-US\". IETF BCP 47 syntax (https://tools.ietf.org/html/bcp47)",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "TranscriptEntry"
    },
    "Space": {
      "type": "object",
      "description": "Virtual place where conferences are held. Only one active conference can be held in one space at any given time.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space)."
        },
        "meetingCode": {
          "description": "Output only. Type friendly unique string used to join the meeting. Format: `[a-z]+-[a-z]+-[a-z]+`. For example, `abc-mnop-xyz`. The maximum length is 128 characters. Can only be used as an alias of the space name to get the space.",
          "type": "string",
          "readOnly": true
        },
        "activeConference": {
          "description": "Active conference, if it exists.",
          "$ref": "ActiveConference"
        },
        "gatewaySipAccess": {
          "type": "array",
          "items": {
            "$ref": "GatewaySipAccess"
          },
          "description": "Output only. The SIP-based access methods that can be used to join the conference. Can be empty.",
          "readOnly": true
        },
        "config": {
          "$ref": "SpaceConfig",
          "description": "Configuration pertaining to the meeting space."
        },
        "phoneAccess": {
          "description": "Output only. All regional phone access methods for this meeting space. Can be empty.",
          "readOnly": true,
          "items": {
            "$ref": "PhoneAccess"
          },
          "type": "array"
        },
        "meetingUri": {
          "type": "string",
          "description": "Output only. URI used to join meetings consisting of `https://meet.google.com/` followed by the `meeting_code`. For example, `https://meet.google.com/abc-mnop-xyz`.",
          "readOnly": true
        }
      },
      "id": "Space"
    },
    "ConferenceRecord": {
      "id": "ConferenceRecord",
      "description": "Single instance of a meeting held in a space.",
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conference ended. Set for past conferences. Unset if the conference is ongoing."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conference started. Always set.",
          "type": "string",
          "readOnly": true
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Server enforced expiration time for when this conference record resource is deleted. The resource is deleted 30 days after the conference ends.",
          "readOnly": true
        },
        "space": {
          "description": "Output only. The space where the conference was held.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the conference record. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space."
        }
      },
      "type": "object"
    },
    "UpdateMemberRequest": {
      "description": "Request to update a member.",
      "type": "object",
      "properties": {
        "member": {
          "description": "Required. The Member to update. Format: spaces/{space}/members/{member}",
          "$ref": "Member"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. Field mask used to specify the fields to be updated in the member. If update_mask isn't provided(not set, set with empty paths, or only has \"\" as paths), it defaults to update all fields provided with values in the request. Using \"*\" as update_mask will update all fields, including deleting fields not set in the request. In case of BatchUpdate, it must be absent or the same as the update_mask in BatchUpdateMembersRequest when UpdateMemberRequest is built as a child request of BatchUpdateMembersRequest."
        }
      },
      "id": "UpdateMemberRequest"
    },
    "GatewaySipAccess": {
      "id": "GatewaySipAccess",
      "properties": {
        "sipAccessCode": {
          "description": "The permanent numeric code for manual entry on specially configured devices.",
          "type": "string"
        },
        "uri": {
          "description": "The Session Initiation Protocol (SIP) URI the conference can be reached through. The string is in one of these formats: * \"sip:USER_ID@GATEWAY_ADDRESS\" * \"sips:USER_ID@GATEWAY_ADDRESS\" where USER_ID is the 13-digit universal pin (with the future option to support using a Meet meeting code as well), and GATEWAY_ADDRESS is a valid address to be resolved using a DNS SRV lookup, or a dotted quad.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details how to join the conference through a SIP gateway."
    },
    "Transcript": {
      "type": "object",
      "id": "Transcript",
      "description": "Metadata for a transcript generated from a conference. It refers to the ASR (Automatic Speech Recognition) result of user's speech during the conference.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "description": "Output only. Current state.",
          "type": "string",
          "enumDescriptions": [
            "Default, never used.",
            "An active transcript session has started.",
            "This transcript session has ended, but the transcript file hasn't been generated yet.",
            "Transcript file is generated and ready to download."
          ],
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Timestamp when the transcript stopped.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "docsDestination": {
          "$ref": "DocsDestination",
          "readOnly": true,
          "description": "Output only. Where the Google Docs transcript is saved."
        },
        "name": {
          "description": "Output only. Resource name of the transcript. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`, where `{transcript}` is a 1:1 mapping to each unique transcription session of the conference.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the transcript started."
        }
      }
    },
    "EndActiveConferenceRequest": {
      "id": "EndActiveConferenceRequest",
      "properties": {},
      "description": "Request to end an ongoing conference of a space.",
      "type": "object"
    },
    "PhoneUser": {
      "id": "PhoneUser",
      "properties": {
        "displayName": {
          "description": "Output only. Partially redacted user's phone number when calling.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "User dialing in from a phone where the user's identity is unknown because they haven't signed in with a Google Account."
    },
    "SmartNotesConfig": {
      "id": "SmartNotesConfig",
      "properties": {
        "autoSmartNotesGeneration": {
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "description": "Defines whether to automatically generate a summary and recap of the meeting for all invitees in the organization when someone with the privilege to enable smart notes joins the meeting.",
          "type": "string"
        }
      },
      "description": "Configuration related to smart notes in a meeting space. For more information about smart notes, see [\"Take notes for me\" in Google Meet](https://support.google.com/meet/answer/14754931).",
      "type": "object"
    },
    "SpaceConfig": {
      "type": "object",
      "properties": {
        "accessType": {
          "type": "string",
          "enumDescriptions": [
            "Default value specified by the user's organization. Note: This is never returned, as the configured access type is returned instead.",
            "Anyone with the join information (for example, the URL or phone access information) can join without knocking.",
            "Members of the host's organization, invited external users, and dial-in users can join without knocking. Everyone else must knock.",
            "Only invitees can join without knocking. Everyone else must knock."
          ],
          "description": "Access type of the meeting space that determines who can join without knocking. Default: The user's default access settings. Controlled by the user's admin for enterprise users or RESTRICTED.",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "OPEN",
            "TRUSTED",
            "RESTRICTED"
          ]
        },
        "moderation": {
          "enumDescriptions": [
            "Moderation type is not specified. This is used to indicate the user hasn't specified any value as the user does not intend to update the state. Users are not allowed to set the value as unspecified.",
            "Moderation is off.",
            "Moderation is on."
          ],
          "type": "string",
          "description": "The pre-configured moderation mode for the Meeting. Default: Controlled by the user's policies.",
          "enum": [
            "MODERATION_UNSPECIFIED",
            "OFF",
            "ON"
          ]
        },
        "moderationRestrictions": {
          "description": "When moderation.ON, these restrictions go into effect for the meeting. When moderation.OFF, will be reset to default ModerationRestrictions.",
          "$ref": "ModerationRestrictions"
        },
        "entryPointAccess": {
          "enum": [
            "ENTRY_POINT_ACCESS_UNSPECIFIED",
            "ALL",
            "CREATOR_APP_ONLY"
          ],
          "description": "Defines the entry points that can be used to join meetings hosted in this meeting space. Default: EntryPointAccess.ALL",
          "enumDescriptions": [
            "Unused.",
            "All entry points are allowed.",
            "Only entry points owned by the Google Cloud project that created the space can be used to join meetings in this space. Apps can use the Meet Embed SDK Web or mobile Meet SDKs to create owned entry points."
          ],
          "type": "string"
        },
        "artifactConfig": {
          "$ref": "ArtifactConfig",
          "description": "Configuration pertaining to the auto-generated artifacts that the meeting supports."
        },
        "attendanceReportGenerationType": {
          "enum": [
            "ATTENDANCE_REPORT_GENERATION_TYPE_UNSPECIFIED",
            "GENERATE_REPORT",
            "DO_NOT_GENERATE"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Attendance report will be generated and sent to drive/email.",
            "Attendance report will not be generated."
          ],
          "description": "Whether attendance report is enabled for the meeting space.",
          "type": "string"
        }
      },
      "id": "SpaceConfig",
      "description": "The configuration pertaining to a meeting space."
    },
    "ActiveConference": {
      "description": "Active conference.",
      "id": "ActiveConference",
      "type": "object",
      "properties": {
        "conferenceRecord": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Reference to 'ConferenceRecord' resource. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space."
        }
      }
    },
    "DocsDestination": {
      "type": "object",
      "description": "Google Docs location where the transcript file is saved.",
      "id": "DocsDestination",
      "properties": {
        "document": {
          "type": "string",
          "description": "Output only. The document ID for the underlying Google Docs transcript file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use the `documents.get` method of the Google Docs API (https://developers.google.com/docs/api/reference/rest/v1/documents/get) to fetch the content.",
          "readOnly": true
        },
        "exportUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI for the Google Docs transcript file. Use `https://docs.google.com/document/d/{$DocumentId}/view` to browse the transcript in the browser."
        }
      }
    },
    "ListParticipantSessionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
          "type": "string"
        },
        "participantSessions": {
          "type": "array",
          "items": {
            "$ref": "ParticipantSession"
          },
          "description": "List of participants in one page."
        }
      },
      "description": "Response of ListParticipants method.",
      "type": "object",
      "id": "ListParticipantSessionsResponse"
    },
    "ListTranscriptEntriesResponse": {
      "description": "Response for ListTranscriptEntries method.",
      "properties": {
        "transcriptEntries": {
          "type": "array",
          "description": "List of TranscriptEntries in one page.",
          "items": {
            "$ref": "TranscriptEntry"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcript entries. Unset if all entries are returned."
        }
      },
      "type": "object",
      "id": "ListTranscriptEntriesResponse"
    }
  },
  "description": "Create and manage meetings in Google Meet.",
  "canonicalName": "Meet",
  "id": "meet:v2",
  "baseUrl": "https://meet.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "title": "Google Meet API"
}
