{
  "title": "Apps Script API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "protocol": "rest",
  "baseUrl": "https://script.googleapis.com/",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "rootUrl": "https://script.googleapis.com/",
  "name": "script",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "mtlsRootUrl": "https://script.mtls.googleapis.com/",
  "basePath": "",
  "canonicalName": "Script",
  "revision": "20260906",
  "discoveryVersion": "v1",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "resources": {
    "scripts": {
      "methods": {
        "run": {
          "flatPath": "v1/scripts/{scriptId}:run",
          "path": "v1/scripts/{scriptId}:run",
          "id": "script.scripts.run",
          "request": {
            "$ref": "ExecutionRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "description": "",
          "parameterOrder": [
            "scriptId"
          ],
          "parameters": {
            "scriptId": {
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\" As multiple executable APIs can be deployed in new IDE for same script, this field should be populated with DeploymentID generated while deploying in new IDE instead of script ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ]
        }
      }
    },
    "processes": {
      "methods": {
        "listScriptProcesses": {
          "parameterOrder": [],
          "id": "script.processes.listScriptProcesses",
          "response": {
            "$ref": "ListScriptProcessesResponse"
          },
          "flatPath": "v1/processes:listScriptProcesses",
          "description": "List information about a script's executed processes, such as process type and current status.",
          "path": "v1/processes:listScriptProcesses",
          "parameters": {
            "scriptProcessFilter.endTime": {
              "type": "string",
              "format": "google-datetime",
              "location": "query",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp."
            },
            "scriptProcessFilter.functionName": {
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.statuses": {
              "location": "query",
              "repeated": true,
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "type": "string"
            },
            "scriptId": {
              "location": "query",
              "description": "The script ID of the project whose processes are listed.",
              "type": "string"
            },
            "scriptProcessFilter.startTime": {
              "format": "google-datetime",
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp."
            },
            "scriptProcessFilter.deploymentId": {
              "type": "string",
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID."
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.userAccessLevels": {
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "location": "query",
              "repeated": true,
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "type": "string",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ]
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of returned processes per page of results. Defaults to 50."
            },
            "scriptProcessFilter.types": {
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "location": "query",
              "repeated": true,
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "httpMethod": "GET"
        },
        "list": {
          "path": "v1/processes",
          "id": "script.processes.list",
          "description": "List information about processes made by or on behalf of a user, such as process type and current status.",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "parameterOrder": [],
          "flatPath": "v1/processes",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListUserProcessesResponse"
          },
          "parameters": {
            "userProcessFilter.statuses": {
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "type": "string",
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "location": "query",
              "repeated": true
            },
            "userProcessFilter.endTime": {
              "format": "google-datetime",
              "location": "query",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "type": "string"
            },
            "userProcessFilter.deploymentId": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID."
            },
            "userProcessFilter.types": {
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "location": "query",
              "repeated": true,
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "type": "string"
            },
            "userProcessFilter.scriptId": {
              "type": "string",
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID."
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query"
            },
            "userProcessFilter.projectName": {
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string.",
              "type": "string",
              "location": "query"
            },
            "userProcessFilter.functionName": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name."
            },
            "pageSize": {
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "userProcessFilter.startTime": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "type": "string",
              "format": "google-datetime"
            },
            "userProcessFilter.userAccessLevels": {
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "location": "query",
              "repeated": true
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "versions": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of versions on each returned page. Defaults to 50.",
                  "type": "integer",
                  "location": "query"
                },
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "id": "script.projects.versions.list",
              "parameterOrder": [
                "scriptId"
              ],
              "flatPath": "v1/projects/{scriptId}/versions",
              "description": "List the versions of a script project.",
              "path": "v1/projects/{scriptId}/versions"
            },
            "create": {
              "id": "script.projects.versions.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ],
              "flatPath": "v1/projects/{scriptId}/versions",
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "location": "path",
                  "description": "The script project's Drive ID.",
                  "required": true
                }
              },
              "request": {
                "$ref": "Version"
              },
              "response": {
                "$ref": "Version"
              },
              "parameterOrder": [
                "scriptId"
              ],
              "path": "v1/projects/{scriptId}/versions",
              "description": "Creates a new immutable version using the current code, with a unique version number."
            },
            "get": {
              "parameters": {
                "versionNumber": {
                  "description": "The version number.",
                  "required": true,
                  "location": "path",
                  "type": "integer",
                  "format": "int32"
                },
                "scriptId": {
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "path": "v1/projects/{scriptId}/versions/{versionNumber}",
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "description": "Gets a version of a script project.",
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}",
              "id": "script.projects.versions.get",
              "response": {
                "$ref": "Version"
              }
            }
          }
        },
        "deployments": {
          "methods": {
            "delete": {
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "id": "script.projects.deployments.delete",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "description": "Deletes a deployment of an Apps Script project.",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "parameters": {
                "scriptId": {
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "type": "string"
                },
                "deploymentId": {
                  "location": "path",
                  "description": "The deployment ID to be undeployed.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}"
            },
            "list": {
              "flatPath": "v1/projects/{scriptId}/deployments",
              "id": "script.projects.deployments.list",
              "response": {
                "$ref": "ListDeploymentsResponse"
              },
              "parameterOrder": [
                "scriptId"
              ],
              "description": "Lists the deployments of an Apps Script project.",
              "httpMethod": "GET",
              "path": "v1/projects/{scriptId}/deployments",
              "parameters": {
                "scriptId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID."
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of deployments on each returned page. Defaults to 50."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ]
            },
            "update": {
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "id": "script.projects.deployments.update",
              "response": {
                "$ref": "Deployment"
              },
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "description": "Updates a deployment of an Apps Script project.",
              "request": {
                "$ref": "UpdateDeploymentRequest"
              },
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "httpMethod": "PUT",
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "location": "path"
                },
                "deploymentId": {
                  "description": "The deployment ID for this deployment.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "create": {
              "request": {
                "$ref": "DeploymentConfig"
              },
              "description": "Creates a deployment of an Apps Script project.",
              "id": "script.projects.deployments.create",
              "parameterOrder": [
                "scriptId"
              ],
              "path": "v1/projects/{scriptId}/deployments",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Deployment"
              }
            },
            "get": {
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "description": "Gets a deployment of an Apps Script project.",
              "parameters": {
                "scriptId": {
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "type": "string",
                  "location": "path"
                },
                "deploymentId": {
                  "required": true,
                  "description": "The deployment ID.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "script.projects.deployments.get",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Deployment"
              }
            }
          }
        }
      },
      "methods": {
        "getContent": {
          "flatPath": "v1/projects/{scriptId}/content",
          "id": "script.projects.getContent",
          "description": "Gets the content of the script project, including the code source and metadata for each script file.",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "response": {
            "$ref": "Content"
          },
          "parameterOrder": [
            "scriptId"
          ],
          "httpMethod": "GET",
          "path": "v1/projects/{scriptId}/content",
          "parameters": {
            "scriptId": {
              "required": true,
              "description": "The script project's Drive ID.",
              "type": "string",
              "location": "path"
            },
            "versionNumber": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned."
            }
          }
        },
        "updateContent": {
          "parameterOrder": [
            "scriptId"
          ],
          "path": "v1/projects/{scriptId}/content",
          "httpMethod": "PUT",
          "response": {
            "$ref": "Content"
          },
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project.",
          "id": "script.projects.updateContent",
          "parameters": {
            "scriptId": {
              "location": "path",
              "description": "The script project's Drive ID.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "Content"
          },
          "flatPath": "v1/projects/{scriptId}/content",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ]
        },
        "get": {
          "response": {
            "$ref": "Project"
          },
          "description": "Gets a script project's metadata.",
          "path": "v1/projects/{scriptId}",
          "flatPath": "v1/projects/{scriptId}",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "parameters": {
            "scriptId": {
              "location": "path",
              "description": "The script project's Drive ID.",
              "required": true,
              "type": "string"
            }
          },
          "id": "script.projects.get",
          "parameterOrder": [
            "scriptId"
          ],
          "httpMethod": "GET"
        },
        "getMetrics": {
          "flatPath": "v1/projects/{scriptId}/metrics",
          "path": "v1/projects/{scriptId}/metrics",
          "description": "Get metrics data for scripts, such as number of executions and active users.",
          "id": "script.projects.getMetrics",
          "response": {
            "$ref": "Metrics"
          },
          "httpMethod": "GET",
          "parameters": {
            "scriptId": {
              "location": "path",
              "description": "Required field indicating the script to get metrics for.",
              "type": "string",
              "required": true
            },
            "metricsFilter.deploymentId": {
              "type": "string",
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "location": "query"
            },
            "metricsGranularity": {
              "location": "query",
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ],
              "description": "Required field indicating what granularity of metrics are returned.",
              "type": "string",
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ],
          "parameterOrder": [
            "scriptId"
          ]
        },
        "create": {
          "description": "Creates a new, empty script project with no script files and a base manifest file.",
          "path": "v1/projects",
          "id": "script.projects.create",
          "flatPath": "v1/projects",
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "response": {
            "$ref": "Project"
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        },
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        },
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        },
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        }
      }
    }
  },
  "schemas": {
    "Metrics": {
      "properties": {
        "activeUsers": {
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of active users.",
          "type": "array"
        },
        "failedExecutions": {
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of failed executions."
        },
        "totalExecutions": {
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of total executions."
        }
      },
      "id": "Metrics",
      "type": "object",
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request."
    },
    "Status": {
      "properties": {
        "details": {
          "type": "array",
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. "
        }
      },
      "type": "object",
      "id": "Status",
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object."
    },
    "DeploymentConfig": {
      "type": "object",
      "description": "Metadata the defines how a deployment is configured.",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "manifestFileName": {
          "type": "string",
          "description": "The manifest file name for this deployment."
        },
        "versionNumber": {
          "type": "integer",
          "description": "The version number on which this deployment is based.",
          "format": "int32"
        },
        "description": {
          "description": "The description for this deployment.",
          "type": "string"
        }
      },
      "id": "DeploymentConfig"
    },
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "properties": {
        "versions": {
          "items": {
            "$ref": "Version"
          },
          "type": "array",
          "description": "The list of versions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list."
        }
      },
      "type": "object",
      "description": "Response with the list of the versions for the specified script project."
    },
    "ListUserProcessesResponse": {
      "id": "ListUserProcessesResponse",
      "description": "Response with the list of Process resources.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        },
        "processes": {
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          },
          "description": "List of processes matching request parameters.",
          "type": "array"
        }
      }
    },
    "GoogleAppsScriptTypeWebAppConfig": {
      "id": "GoogleAppsScriptTypeWebAppConfig",
      "type": "object",
      "description": "Web app entry point configuration.",
      "properties": {
        "executeAs": {
          "type": "string",
          "description": "Who to execute the web app as.",
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ],
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ]
        },
        "access": {
          "description": "Who has permission to run the web app.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ]
        }
      }
    },
    "ScriptStackTraceElement": {
      "type": "object",
      "id": "ScriptStackTraceElement",
      "properties": {
        "function": {
          "description": "The name of the function that failed.",
          "type": "string"
        },
        "lineNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The line number where the script failed."
        }
      },
      "description": "A stack trace through the script that shows where the execution failed."
    },
    "UpdateDeploymentRequest": {
      "description": "Request with deployment information to update an existing deployment.",
      "id": "UpdateDeploymentRequest",
      "properties": {
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        }
      },
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value.",
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error."
        }
      },
      "id": "Operation",
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. "
    },
    "Content": {
      "id": "Content",
      "description": "The Content resource.",
      "type": "object",
      "properties": {
        "files": {
          "items": {
            "$ref": "File"
          },
          "type": "array",
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project."
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        }
      }
    },
    "GoogleAppsScriptTypeFunction": {
      "description": "Represents a function in a script project.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The function name in the script project."
        },
        "parameters": {
          "type": "array",
          "description": "The ordered list of parameter names of the function in the script project.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleAppsScriptTypeFunction",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "ExecutionRequest": {
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script.",
      "id": "ExecutionRequest",
      "properties": {
        "parameters": {
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "function": {
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`.",
          "type": "string"
        },
        "sessionState": {
          "type": "string",
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional."
        },
        "devMode": {
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAppsScriptTypeProcess": {
      "id": "GoogleAppsScriptTypeProcess",
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "description": "Name of the function the started the execution."
        },
        "projectName": {
          "type": "string",
          "description": "Name of the script being executed."
        },
        "processStatus": {
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED",
            "EXECUTION_DISABLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota.",
            "AppsScript executions are disabled by Admin."
          ],
          "type": "string",
          "description": "The executions status."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time the execution started.",
          "type": "string"
        },
        "userAccessLevel": {
          "description": "The executing users access level to the script.",
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ],
          "type": "string",
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ]
        },
        "processType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ],
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ],
          "description": "The executions type."
        },
        "duration": {
          "description": "Duration the execution spent executing.",
          "type": "string",
          "format": "google-duration"
        },
        "runtimeVersion": {
          "enumDescriptions": [
            "Runtime version unset / unknown.",
            "Legacy rhino version of the Apps script runtime",
            "Current default V8 version of the apps script runtime."
          ],
          "description": "Which version of maestro to use to execute the script.",
          "enum": [
            "RUNTIME_VERSION_UNSPECIFIED",
            "DEPRECATED_ES5",
            "V8"
          ],
          "type": "string"
        }
      },
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API."
    },
    "ListScriptProcessesResponse": {
      "type": "object",
      "description": "Response with the list of Process resources.",
      "properties": {
        "processes": {
          "description": "List of processes matching request parameters.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        },
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        }
      },
      "id": "ListScriptProcessesResponse"
    },
    "File": {
      "id": "File",
      "properties": {
        "functionSet": {
          "description": "The defined set of functions in the script file, if any.",
          "$ref": "GoogleAppsScriptTypeFunctionSet"
        },
        "type": {
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ],
          "description": "The type of the file.",
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ],
          "type": "string"
        },
        "lastModifyUser": {
          "description": "The user who modified the file most recently. The details visible in this object are controlled by the profile visibility settings of the last modifying user.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last modified date timestamp."
        },
        "source": {
          "description": "The file content.",
          "type": "string"
        },
        "name": {
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Creation date timestamp.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files."
    },
    "MetricsValue": {
      "type": "object",
      "id": "MetricsValue",
      "description": "Metrics value that holds number of executions counted.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Required field indicating the start time of the interval.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "format": "uint64",
          "description": "Indicates the number of executions counted."
        },
        "endTime": {
          "type": "string",
          "description": "Required field indicating the end time of the interval.",
          "format": "google-datetime"
        }
      }
    },
    "ExecutionError": {
      "properties": {
        "errorType": {
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included.",
          "type": "string"
        },
        "errorMessage": {
          "description": "The error message thrown by Apps Script, usually localized into the user's language.",
          "type": "string"
        },
        "scriptStackTraceElements": {
          "type": "array",
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first.",
          "items": {
            "$ref": "ScriptStackTraceElement"
          }
        }
      },
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects.",
      "id": "ExecutionError",
      "type": "object"
    },
    "ListDeploymentsResponse": {
      "type": "object",
      "id": "ListDeploymentsResponse",
      "properties": {
        "deployments": {
          "description": "The list of deployments.",
          "type": "array",
          "items": {
            "$ref": "Deployment"
          }
        },
        "nextPageToken": {
          "description": "The token that can be used in the next call to get the next page of results.",
          "type": "string"
        }
      },
      "description": "Response with the list of deployments for the specified Apps Script project."
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "description": "A web application entry point.",
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeWebAppConfig"
        },
        "url": {
          "type": "string",
          "description": "The URL for the web application."
        }
      },
      "id": "GoogleAppsScriptTypeWebAppEntryPoint",
      "type": "object"
    },
    "Project": {
      "id": "Project",
      "properties": {
        "createTime": {
          "description": "When the script was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "title": {
          "type": "string",
          "description": "The title for the project."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the script was last updated."
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "parentId": {
          "type": "string",
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This field is optional, and if not set, a stand-alone script will be created."
        },
        "creator": {
          "description": "User who originally created the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "lastModifyUser": {
          "description": "User who last modified the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        }
      },
      "description": "The script project resource.",
      "type": "object"
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "type": "object",
      "id": "GoogleAppsScriptTypeFunctionSet",
      "properties": {
        "values": {
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          },
          "description": "A list of functions composing the set.",
          "type": "array"
        }
      },
      "description": "A set of functions. No duplicates are permitted."
    },
    "Version": {
      "properties": {
        "versionNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created."
        },
        "description": {
          "description": "The description for this version.",
          "type": "string"
        },
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "When the version was created.",
          "type": "string"
        }
      },
      "id": "Version",
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified.",
      "type": "object"
    },
    "EntryPoint": {
      "id": "EntryPoint",
      "properties": {
        "entryPointType": {
          "description": "The type of the entry point.",
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ],
          "type": "string",
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ]
        },
        "webApp": {
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint",
          "description": "An entry point specification for web apps."
        },
        "addOn": {
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint",
          "description": "Add-on properties."
        },
        "executionApi": {
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint",
          "description": "An entry point specification for Apps Script API execution calls."
        }
      },
      "description": "A configuration that defines how a deployment is accessed externally.",
      "type": "object"
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "description": "An add-on entry point.",
      "type": "object",
      "id": "GoogleAppsScriptTypeAddOnEntryPoint",
      "properties": {
        "description": {
          "description": "The add-on's optional description.",
          "type": "string"
        },
        "title": {
          "description": "The add-on's required title.",
          "type": "string"
        },
        "addOnType": {
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ],
          "description": "The add-on's required list of supported container types.",
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ],
          "type": "string"
        },
        "helpUrl": {
          "description": "The add-on's optional help URL.",
          "type": "string"
        },
        "reportIssueUrl": {
          "type": "string",
          "description": "The add-on's optional report issue URL."
        },
        "postInstallTipUrl": {
          "type": "string",
          "description": "The add-on's required post install tip URL."
        }
      }
    },
    "GoogleAppsScriptTypeUser": {
      "type": "object",
      "id": "GoogleAppsScriptTypeUser",
      "description": "A simple user profile resource.",
      "properties": {
        "email": {
          "description": "The user's identifying email address.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The user's display name."
        },
        "domain": {
          "description": "The user's domain.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The user's photo."
        }
      }
    },
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "properties": {
        "access": {
          "description": "Who has permission to run the API executable.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ]
        }
      },
      "type": "object",
      "id": "GoogleAppsScriptTypeExecutionApiConfig",
      "description": "API executable entry point configuration."
    },
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig"
        }
      },
      "type": "object",
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint",
      "description": "An API executable entry point."
    },
    "CreateProjectRequest": {
      "id": "CreateProjectRequest",
      "description": "Request to create a script project.",
      "properties": {
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "parentId": {
          "type": "string",
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created."
        }
      },
      "type": "object"
    },
    "ExecutionResponse": {
      "properties": {
        "result": {
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`.",
          "type": "any"
        }
      },
      "type": "object",
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object.",
      "id": "ExecutionResponse"
    },
    "Deployment": {
      "properties": {
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        },
        "deploymentId": {
          "type": "string",
          "description": "The deployment ID for this deployment."
        },
        "entryPoints": {
          "type": "array",
          "items": {
            "$ref": "EntryPoint"
          },
          "description": "The deployment's entry points."
        },
        "updateTime": {
          "description": "Last modified date time stamp.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Deployment",
      "type": "object",
      "description": "Representation of a single script deployment."
    }
  },
  "description": "Manages and executes Google Apps Script projects. ",
  "version": "v1",
  "id": "script:v1",
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "ownerDomain": "google.com"
}
