{
  "version": "v1",
  "protocol": "rest",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Script",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "rootUrl": "https://script.googleapis.com/",
  "id": "script:v1",
  "basePath": "",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://script.mtls.googleapis.com/",
  "servicePath": "",
  "resources": {
    "scripts": {
      "methods": {
        "run": {
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "description": "",
          "parameters": {
            "scriptId": {
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\" As multiple executable APIs can be deployed in new IDE for same script, this field should be populated with DeploymentID generated while deploying in new IDE instead of script ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "scriptId"
          ],
          "path": "v1/scripts/{scriptId}:run",
          "id": "script.scripts.run",
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "request": {
            "$ref": "ExecutionRequest"
          },
          "flatPath": "v1/scripts/{scriptId}:run"
        }
      }
    },
    "processes": {
      "methods": {
        "listScriptProcesses": {
          "path": "v1/processes:listScriptProcesses",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "description": "List information about a script's executed processes, such as process type and current status.",
          "parameters": {
            "scriptProcessFilter.endTime": {
              "format": "google-datetime",
              "type": "string",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
            },
            "scriptProcessFilter.statuses": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "repeated": true,
              "type": "string"
            },
            "scriptProcessFilter.deploymentId": {
              "type": "string",
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID."
            },
            "scriptProcessFilter.startTime": {
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "format": "google-datetime",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "type": "integer",
              "location": "query"
            },
            "scriptProcessFilter.functionName": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name."
            },
            "scriptProcessFilter.userAccessLevels": {
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "repeated": true
            },
            "scriptProcessFilter.types": {
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "type": "string",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "repeated": true,
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "location": "query"
            },
            "scriptId": {
              "description": "The script ID of the project whose processes are listed.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1/processes:listScriptProcesses",
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "script.processes.listScriptProcesses",
          "response": {
            "$ref": "ListScriptProcessesResponse"
          }
        },
        "list": {
          "description": "List information about processes made by or on behalf of a user, such as process type and current status.",
          "path": "v1/processes",
          "parameters": {
            "userProcessFilter.functionName": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "type": "string"
            },
            "userProcessFilter.startTime": {
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "format": "google-datetime",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.projectName": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string.",
              "type": "string"
            },
            "userProcessFilter.userAccessLevels": {
              "repeated": true,
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "type": "string",
              "location": "query",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ]
            },
            "userProcessFilter.statuses": {
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "repeated": true,
              "type": "string",
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "location": "query"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.endTime": {
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.scriptId": {
              "type": "string",
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID."
            },
            "userProcessFilter.deploymentId": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of returned processes per page of results. Defaults to 50."
            },
            "userProcessFilter.types": {
              "location": "query",
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "repeated": true,
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "type": "string"
            }
          },
          "flatPath": "v1/processes",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "parameterOrder": [],
          "id": "script.processes.list",
          "response": {
            "$ref": "ListUserProcessesResponse"
          }
        }
      }
    },
    "projects": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Project"
          },
          "parameterOrder": [
            "scriptId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "description": "Gets a script project's metadata.",
          "path": "v1/projects/{scriptId}",
          "httpMethod": "GET",
          "parameters": {
            "scriptId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The script project's Drive ID."
            }
          },
          "flatPath": "v1/projects/{scriptId}",
          "id": "script.projects.get"
        },
        "create": {
          "flatPath": "v1/projects",
          "path": "v1/projects",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "description": "Creates a new, empty script project with no script files and a base manifest file.",
          "parameters": {},
          "id": "script.projects.create",
          "httpMethod": "POST",
          "response": {
            "$ref": "Project"
          }
        },
        "getMetrics": {
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ],
          "parameterOrder": [
            "scriptId"
          ],
          "response": {
            "$ref": "Metrics"
          },
          "flatPath": "v1/projects/{scriptId}/metrics",
          "description": "Get metrics data for scripts, such as number of executions and active users.",
          "parameters": {
            "scriptId": {
              "description": "Required field indicating the script to get metrics for.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "metricsFilter.deploymentId": {
              "type": "string",
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "location": "query"
            },
            "metricsGranularity": {
              "type": "string",
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ],
              "location": "query",
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ],
              "description": "Required field indicating what granularity of metrics are returned."
            }
          },
          "path": "v1/projects/{scriptId}/metrics",
          "id": "script.projects.getMetrics",
          "httpMethod": "GET"
        },
        "updateContent": {
          "response": {
            "$ref": "Content"
          },
          "path": "v1/projects/{scriptId}/content",
          "parameters": {
            "scriptId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The script project's Drive ID."
            }
          },
          "parameterOrder": [
            "scriptId"
          ],
          "id": "script.projects.updateContent",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Content"
          },
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project.",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "flatPath": "v1/projects/{scriptId}/content"
        },
        "getContent": {
          "path": "v1/projects/{scriptId}/content",
          "flatPath": "v1/projects/{scriptId}/content",
          "id": "script.projects.getContent",
          "parameterOrder": [
            "scriptId"
          ],
          "description": "Gets the content of the script project, including the code source and metadata for each script file.",
          "parameters": {
            "scriptId": {
              "required": true,
              "type": "string",
              "description": "The script project's Drive ID.",
              "location": "path"
            },
            "versionNumber": {
              "type": "integer",
              "format": "int32",
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Content"
          }
        }
      },
      "resources": {
        "deployments": {
          "methods": {
            "create": {
              "response": {
                "$ref": "Deployment"
              },
              "description": "Creates a deployment of an Apps Script project.",
              "id": "script.projects.deployments.create",
              "request": {
                "$ref": "DeploymentConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "parameters": {
                "scriptId": {
                  "required": true,
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "location": "path"
                }
              },
              "path": "v1/projects/{scriptId}/deployments",
              "parameterOrder": [
                "scriptId"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{scriptId}/deployments"
            },
            "delete": {
              "id": "script.projects.deployments.delete",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true
                },
                "deploymentId": {
                  "description": "The deployment ID to be undeployed.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "description": "Deletes a deployment of an Apps Script project.",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}"
            },
            "update": {
              "request": {
                "$ref": "UpdateDeploymentRequest"
              },
              "response": {
                "$ref": "Deployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "parameters": {
                "scriptId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The script project's Drive ID."
                },
                "deploymentId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The deployment ID for this deployment."
                }
              },
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "id": "script.projects.deployments.update",
              "description": "Updates a deployment of an Apps Script project.",
              "httpMethod": "PUT",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}"
            },
            "list": {
              "id": "script.projects.deployments.list",
              "description": "Lists the deployments of an Apps Script project.",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
                },
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of deployments on each returned page. Defaults to 50."
                }
              },
              "path": "v1/projects/{scriptId}/deployments",
              "httpMethod": "GET",
              "parameterOrder": [
                "scriptId"
              ],
              "response": {
                "$ref": "ListDeploymentsResponse"
              }
            },
            "get": {
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "id": "script.projects.deployments.get",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Deployment"
              },
              "parameters": {
                "deploymentId": {
                  "required": true,
                  "description": "The deployment ID.",
                  "location": "path",
                  "type": "string"
                },
                "scriptId": {
                  "type": "string",
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "location": "path"
                }
              },
              "description": "Gets a deployment of an Apps Script project.",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ]
            }
          }
        },
        "versions": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "Version"
              },
              "response": {
                "$ref": "Version"
              },
              "parameters": {
                "scriptId": {
                  "required": true,
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "scriptId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ],
              "id": "script.projects.versions.create",
              "path": "v1/projects/{scriptId}/versions",
              "flatPath": "v1/projects/{scriptId}/versions",
              "description": "Creates a new immutable version using the current code, with a unique version number."
            },
            "list": {
              "path": "v1/projects/{scriptId}/versions",
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "parameterOrder": [
                "scriptId"
              ],
              "description": "List the versions of a script project.",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "id": "script.projects.versions.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "type": "string",
                  "location": "query"
                },
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of versions on each returned page. Defaults to 50.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "flatPath": "v1/projects/{scriptId}/versions"
            },
            "get": {
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ],
              "parameters": {
                "versionNumber": {
                  "location": "path",
                  "description": "The version number.",
                  "required": true,
                  "format": "int32",
                  "type": "integer"
                },
                "scriptId": {
                  "required": true,
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Version"
              },
              "id": "script.projects.versions.get",
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}",
              "path": "v1/projects/{scriptId}/versions/{versionNumber}",
              "description": "Gets a version of a script project.",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ]
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "revision": "20260906",
  "name": "script",
  "title": "Apps Script API",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    }
  },
  "ownerName": "Google",
  "schemas": {
    "ListUserProcessesResponse": {
      "type": "object",
      "properties": {
        "processes": {
          "type": "array",
          "description": "List of processes matching request parameters.",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        },
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        }
      },
      "description": "Response with the list of Process resources.",
      "id": "ListUserProcessesResponse"
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "id": "GoogleAppsScriptTypeFunctionSet",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          },
          "description": "A list of functions composing the set."
        }
      },
      "description": "A set of functions. No duplicates are permitted."
    },
    "ExecutionError": {
      "properties": {
        "errorType": {
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included.",
          "type": "string"
        },
        "scriptStackTraceElements": {
          "items": {
            "$ref": "ScriptStackTraceElement"
          },
          "type": "array",
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first."
        },
        "errorMessage": {
          "description": "The error message thrown by Apps Script, usually localized into the user's language.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects.",
      "id": "ExecutionError"
    },
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "description": "API executable entry point configuration.",
      "properties": {
        "access": {
          "description": "Who has permission to run the API executable.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "type": "string"
        }
      },
      "id": "GoogleAppsScriptTypeExecutionApiConfig",
      "type": "object"
    },
    "Deployment": {
      "type": "object",
      "description": "Representation of a single script deployment.",
      "id": "Deployment",
      "properties": {
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        },
        "entryPoints": {
          "items": {
            "$ref": "EntryPoint"
          },
          "type": "array",
          "description": "The deployment's entry points."
        },
        "deploymentId": {
          "description": "The deployment ID for this deployment.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last modified date time stamp."
        }
      }
    },
    "GoogleAppsScriptTypeProcess": {
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API.",
      "type": "object",
      "properties": {
        "processStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota.",
            "AppsScript executions are disabled by Admin."
          ],
          "description": "The executions status.",
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED",
            "EXECUTION_DISABLED"
          ]
        },
        "startTime": {
          "description": "Time the execution started.",
          "format": "google-datetime",
          "type": "string"
        },
        "processType": {
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ],
          "description": "The executions type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ]
        },
        "projectName": {
          "description": "Name of the script being executed.",
          "type": "string"
        },
        "userAccessLevel": {
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ],
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ],
          "type": "string",
          "description": "The executing users access level to the script."
        },
        "duration": {
          "type": "string",
          "description": "Duration the execution spent executing.",
          "format": "google-duration"
        },
        "functionName": {
          "type": "string",
          "description": "Name of the function the started the execution."
        },
        "runtimeVersion": {
          "enumDescriptions": [
            "Runtime version unset / unknown.",
            "Legacy rhino version of the Apps script runtime",
            "Current default V8 version of the apps script runtime."
          ],
          "type": "string",
          "enum": [
            "RUNTIME_VERSION_UNSPECIFIED",
            "DEPRECATED_ES5",
            "V8"
          ],
          "description": "Which version of maestro to use to execute the script."
        }
      },
      "id": "GoogleAppsScriptTypeProcess"
    },
    "Metrics": {
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request.",
      "type": "object",
      "id": "Metrics",
      "properties": {
        "activeUsers": {
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of active users."
        },
        "totalExecutions": {
          "type": "array",
          "description": "Number of total executions.",
          "items": {
            "$ref": "MetricsValue"
          }
        },
        "failedExecutions": {
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of failed executions.",
          "type": "array"
        }
      }
    },
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "type": "object",
      "description": "An API executable entry point.",
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint",
      "properties": {
        "entryPointConfig": {
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig",
          "description": "The entry point's configuration."
        }
      }
    },
    "Project": {
      "type": "object",
      "id": "Project",
      "properties": {
        "creator": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "User who originally created the script."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "When the script was created.",
          "type": "string"
        },
        "lastModifyUser": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "User who last modified the script."
        },
        "parentId": {
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This field is optional, and if not set, a stand-alone script will be created.",
          "type": "string"
        },
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "When the script was last updated.",
          "type": "string"
        }
      },
      "description": "The script project resource."
    },
    "EntryPoint": {
      "id": "EntryPoint",
      "description": "A configuration that defines how a deployment is accessed externally.",
      "properties": {
        "addOn": {
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint",
          "description": "Add-on properties."
        },
        "executionApi": {
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint",
          "description": "An entry point specification for Apps Script API execution calls."
        },
        "webApp": {
          "description": "An entry point specification for web apps.",
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint"
        },
        "entryPointType": {
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ],
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ],
          "type": "string",
          "description": "The type of the entry point."
        }
      },
      "type": "object"
    },
    "GoogleAppsScriptTypeWebAppConfig": {
      "properties": {
        "executeAs": {
          "description": "Who to execute the web app as.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ]
        },
        "access": {
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "type": "string",
          "description": "Who has permission to run the web app."
        }
      },
      "description": "Web app entry point configuration.",
      "type": "object",
      "id": "GoogleAppsScriptTypeWebAppConfig"
    },
    "File": {
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files.",
      "id": "File",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "The file content."
        },
        "lastModifyUser": {
          "description": "The user who modified the file most recently. The details visible in this object are controlled by the profile visibility settings of the last modifying user.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "createTime": {
          "type": "string",
          "description": "Creation date timestamp.",
          "format": "google-datetime"
        },
        "type": {
          "description": "The type of the file.",
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ],
          "type": "string",
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Last modified date timestamp.",
          "format": "google-datetime"
        },
        "functionSet": {
          "description": "The defined set of functions in the script file, if any.",
          "$ref": "GoogleAppsScriptTypeFunctionSet"
        }
      }
    },
    "UpdateDeploymentRequest": {
      "description": "Request with deployment information to update an existing deployment.",
      "id": "UpdateDeploymentRequest",
      "properties": {
        "deploymentConfig": {
          "$ref": "DeploymentConfig",
          "description": "The deployment configuration."
        }
      },
      "type": "object"
    },
    "MetricsValue": {
      "properties": {
        "value": {
          "description": "Indicates the number of executions counted.",
          "format": "uint64",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Required field indicating the end time of the interval.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Required field indicating the start time of the interval.",
          "type": "string"
        }
      },
      "id": "MetricsValue",
      "description": "Metrics value that holds number of executions counted.",
      "type": "object"
    },
    "ExecutionResponse": {
      "id": "ExecutionResponse",
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object.",
      "type": "object",
      "properties": {
        "result": {
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`.",
          "type": "any"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "type": "object",
      "id": "GoogleAppsScriptTypeAddOnEntryPoint",
      "properties": {
        "description": {
          "description": "The add-on's optional description.",
          "type": "string"
        },
        "postInstallTipUrl": {
          "description": "The add-on's required post install tip URL.",
          "type": "string"
        },
        "reportIssueUrl": {
          "description": "The add-on's optional report issue URL.",
          "type": "string"
        },
        "helpUrl": {
          "type": "string",
          "description": "The add-on's optional help URL."
        },
        "title": {
          "description": "The add-on's required title.",
          "type": "string"
        },
        "addOnType": {
          "type": "string",
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ],
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ],
          "description": "The add-on's required list of supported container types."
        }
      },
      "description": "An add-on entry point."
    },
    "ScriptStackTraceElement": {
      "type": "object",
      "id": "ScriptStackTraceElement",
      "properties": {
        "function": {
          "description": "The name of the function that failed.",
          "type": "string"
        },
        "lineNumber": {
          "format": "int32",
          "description": "The line number where the script failed.",
          "type": "integer"
        }
      },
      "description": "A stack trace through the script that shows where the execution failed."
    },
    "CreateProjectRequest": {
      "id": "CreateProjectRequest",
      "properties": {
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "parentId": {
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to create a script project."
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "id": "GoogleAppsScriptTypeWebAppEntryPoint",
      "description": "A web application entry point.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL for the web application.",
          "type": "string"
        },
        "entryPointConfig": {
          "$ref": "GoogleAppsScriptTypeWebAppConfig",
          "description": "The entry point's configuration."
        }
      }
    },
    "Content": {
      "id": "Content",
      "description": "The Content resource.",
      "type": "object",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "files": {
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        }
      }
    },
    "ListDeploymentsResponse": {
      "type": "object",
      "id": "ListDeploymentsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token that can be used in the next call to get the next page of results.",
          "type": "string"
        },
        "deployments": {
          "items": {
            "$ref": "Deployment"
          },
          "type": "array",
          "description": "The list of deployments."
        }
      },
      "description": "Response with the list of deployments for the specified Apps Script project."
    },
    "Version": {
      "id": "Version",
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified.",
      "type": "object",
      "properties": {
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "When the version was created.",
          "type": "string"
        },
        "description": {
          "description": "The description for this version.",
          "type": "string"
        },
        "versionNumber": {
          "type": "integer",
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created.",
          "format": "int32"
        }
      }
    },
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "type": "object",
      "description": "Response with the list of the versions for the specified script project.",
      "properties": {
        "nextPageToken": {
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list.",
          "type": "string"
        },
        "versions": {
          "description": "The list of versions.",
          "type": "array",
          "items": {
            "$ref": "Version"
          }
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. ",
      "id": "Operation",
      "properties": {
        "error": {
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error.",
          "$ref": "Status"
        },
        "done": {
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed.",
          "type": "boolean"
        },
        "response": {
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. ",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object.",
      "type": "object"
    },
    "ListScriptProcessesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        },
        "processes": {
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          },
          "type": "array",
          "description": "List of processes matching request parameters."
        }
      },
      "id": "ListScriptProcessesResponse",
      "type": "object",
      "description": "Response with the list of Process resources."
    },
    "GoogleAppsScriptTypeUser": {
      "id": "GoogleAppsScriptTypeUser",
      "properties": {
        "name": {
          "description": "The user's display name.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The user's identifying email address."
        },
        "photoUrl": {
          "description": "The user's photo.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "The user's domain."
        }
      },
      "description": "A simple user profile resource.",
      "type": "object"
    },
    "ExecutionRequest": {
      "id": "ExecutionRequest",
      "properties": {
        "sessionState": {
          "type": "string",
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional."
        },
        "parameters": {
          "type": "array",
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional.",
          "items": {
            "type": "any"
          }
        },
        "devMode": {
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`.",
          "type": "boolean"
        },
        "function": {
          "type": "string",
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`."
        }
      },
      "type": "object",
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script."
    },
    "GoogleAppsScriptTypeFunction": {
      "description": "Represents a function in a script project.",
      "id": "GoogleAppsScriptTypeFunction",
      "properties": {
        "name": {
          "description": "The function name in the script project.",
          "type": "string"
        },
        "parameters": {
          "description": "The ordered list of parameter names of the function in the script project.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "DeploymentConfig": {
      "type": "object",
      "id": "DeploymentConfig",
      "description": "Metadata the defines how a deployment is configured.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description for this deployment."
        },
        "manifestFileName": {
          "type": "string",
          "description": "The manifest file name for this deployment."
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "versionNumber": {
          "description": "The version number on which this deployment is based.",
          "format": "int32",
          "type": "integer"
        }
      }
    }
  },
  "description": "Manages and executes Google Apps Script projects. ",
  "baseUrl": "https://script.googleapis.com/"
}
