{
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "mtlsRootUrl": "https://script.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "baseUrl": "https://script.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        },
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        },
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        }
      }
    }
  },
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "id": "script:v1",
  "servicePath": "",
  "name": "script",
  "resources": {
    "processes": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "path": "v1/processes",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListUserProcessesResponse"
          },
          "parameters": {
            "userProcessFilter.functionName": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name."
            },
            "userProcessFilter.statuses": {
              "repeated": true,
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "location": "query",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "type": "string"
            },
            "userProcessFilter.projectName": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string.",
              "location": "query"
            },
            "userProcessFilter.userAccessLevels": {
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "repeated": true
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "format": "int32",
              "type": "integer"
            },
            "userProcessFilter.scriptId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.deploymentId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "type": "string",
              "location": "query"
            },
            "userProcessFilter.startTime": {
              "type": "string",
              "format": "google-datetime",
              "location": "query",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp."
            },
            "userProcessFilter.endTime": {
              "type": "string",
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "location": "query"
            },
            "userProcessFilter.types": {
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "location": "query",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "repeated": true,
              "type": "string"
            }
          },
          "flatPath": "v1/processes",
          "id": "script.processes.list",
          "parameterOrder": [],
          "description": "List information about processes made by or on behalf of a user, such as process type and current status."
        },
        "listScriptProcesses": {
          "flatPath": "v1/processes:listScriptProcesses",
          "httpMethod": "GET",
          "id": "script.processes.listScriptProcesses",
          "path": "v1/processes:listScriptProcesses",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "parameterOrder": [],
          "description": "List information about a script's executed processes, such as process type and current status.",
          "response": {
            "$ref": "ListScriptProcessesResponse"
          },
          "parameters": {
            "scriptProcessFilter.types": {
              "location": "query",
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "repeated": true,
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "type": "string"
            },
            "scriptProcessFilter.endTime": {
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.startTime": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "format": "google-datetime",
              "type": "string"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "type": "string",
              "location": "query"
            },
            "scriptProcessFilter.userAccessLevels": {
              "type": "string",
              "repeated": true,
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "location": "query"
            },
            "scriptProcessFilter.statuses": {
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "repeated": true,
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of returned processes per page of results. Defaults to 50."
            },
            "scriptProcessFilter.deploymentId": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID."
            },
            "scriptProcessFilter.functionName": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "type": "string"
            },
            "scriptId": {
              "location": "query",
              "description": "The script ID of the project whose processes are listed.",
              "type": "string"
            }
          }
        }
      }
    },
    "scripts": {
      "methods": {
        "run": {
          "description": "",
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/scripts/{scriptId}:run",
          "parameters": {
            "scriptId": {
              "required": true,
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\" As multiple executable APIs can be deployed in new IDE for same script, this field should be populated with DeploymentID generated while deploying in new IDE instead of script ID.",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "ExecutionRequest"
          },
          "path": "v1/scripts/{scriptId}:run",
          "parameterOrder": [
            "scriptId"
          ],
          "id": "script.scripts.run"
        }
      }
    },
    "projects": {
      "resources": {
        "versions": {
          "methods": {
            "list": {
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of versions on each returned page. Defaults to 50.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "scriptId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "flatPath": "v1/projects/{scriptId}/versions",
              "path": "v1/projects/{scriptId}/versions",
              "httpMethod": "GET",
              "description": "List the versions of a script project.",
              "id": "script.projects.versions.list"
            },
            "create": {
              "flatPath": "v1/projects/{scriptId}/versions",
              "parameterOrder": [
                "scriptId"
              ],
              "request": {
                "$ref": "Version"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ],
              "id": "script.projects.versions.create",
              "httpMethod": "POST",
              "description": "Creates a new immutable version using the current code, with a unique version number.",
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Version"
              },
              "path": "v1/projects/{scriptId}/versions"
            },
            "get": {
              "response": {
                "$ref": "Version"
              },
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ],
              "path": "v1/projects/{scriptId}/versions/{versionNumber}",
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "versionNumber": {
                  "required": true,
                  "location": "path",
                  "format": "int32",
                  "description": "The version number.",
                  "type": "integer"
                }
              },
              "httpMethod": "GET",
              "description": "Gets a version of a script project.",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}",
              "id": "script.projects.versions.get"
            }
          }
        },
        "deployments": {
          "methods": {
            "create": {
              "request": {
                "$ref": "DeploymentConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "id": "script.projects.deployments.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "Deployment"
              },
              "description": "Creates a deployment of an Apps Script project.",
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The script project's Drive ID."
                }
              },
              "flatPath": "v1/projects/{scriptId}/deployments",
              "path": "v1/projects/{scriptId}/deployments",
              "parameterOrder": [
                "scriptId"
              ]
            },
            "update": {
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "request": {
                "$ref": "UpdateDeploymentRequest"
              },
              "parameters": {
                "deploymentId": {
                  "required": true,
                  "description": "The deployment ID for this deployment.",
                  "type": "string",
                  "location": "path"
                },
                "scriptId": {
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "httpMethod": "PUT",
              "response": {
                "$ref": "Deployment"
              },
              "description": "Updates a deployment of an Apps Script project.",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "id": "script.projects.deployments.update"
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "parameterOrder": [
                "scriptId"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments",
              "description": "Lists the deployments of an Apps Script project.",
              "parameters": {
                "scriptId": {
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of deployments on each returned page. Defaults to 50.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "id": "script.projects.deployments.list",
              "response": {
                "$ref": "ListDeploymentsResponse"
              },
              "path": "v1/projects/{scriptId}/deployments"
            },
            "get": {
              "parameters": {
                "scriptId": {
                  "required": true,
                  "location": "path",
                  "description": "The script project's Drive ID.",
                  "type": "string"
                },
                "deploymentId": {
                  "location": "path",
                  "description": "The deployment ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "script.projects.deployments.get",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "response": {
                "$ref": "Deployment"
              },
              "description": "Gets a deployment of an Apps Script project.",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "httpMethod": "GET"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "parameters": {
                "deploymentId": {
                  "description": "The deployment ID to be undeployed.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Deletes a deployment of an Apps Script project.",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "id": "script.projects.deployments.delete",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "httpMethod": "DELETE"
            }
          }
        }
      },
      "methods": {
        "updateContent": {
          "request": {
            "$ref": "Content"
          },
          "flatPath": "v1/projects/{scriptId}/content",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "httpMethod": "PUT",
          "id": "script.projects.updateContent",
          "parameters": {
            "scriptId": {
              "description": "The script project's Drive ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "scriptId"
          ],
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project.",
          "path": "v1/projects/{scriptId}/content",
          "response": {
            "$ref": "Content"
          }
        },
        "get": {
          "id": "script.projects.get",
          "parameters": {
            "scriptId": {
              "required": true,
              "description": "The script project's Drive ID.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1/projects/{scriptId}",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "description": "Gets a script project's metadata.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Project"
          },
          "parameterOrder": [
            "scriptId"
          ],
          "path": "v1/projects/{scriptId}"
        },
        "getContent": {
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "parameters": {
            "scriptId": {
              "required": true,
              "description": "The script project's Drive ID.",
              "type": "string",
              "location": "path"
            },
            "versionNumber": {
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "description": "Gets the content of the script project, including the code source and metadata for each script file.",
          "path": "v1/projects/{scriptId}/content",
          "parameterOrder": [
            "scriptId"
          ],
          "id": "script.projects.getContent",
          "response": {
            "$ref": "Content"
          },
          "flatPath": "v1/projects/{scriptId}/content",
          "httpMethod": "GET"
        },
        "create": {
          "response": {
            "$ref": "Project"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "description": "Creates a new, empty script project with no script files and a base manifest file.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "id": "script.projects.create",
          "path": "v1/projects",
          "parameters": {},
          "flatPath": "v1/projects"
        },
        "getMetrics": {
          "description": "Get metrics data for scripts, such as number of executions and active users.",
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ],
          "response": {
            "$ref": "Metrics"
          },
          "id": "script.projects.getMetrics",
          "parameters": {
            "metricsGranularity": {
              "location": "query",
              "type": "string",
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ],
              "description": "Required field indicating what granularity of metrics are returned.",
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ]
            },
            "metricsFilter.deploymentId": {
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "location": "query",
              "type": "string"
            },
            "scriptId": {
              "required": true,
              "description": "Required field indicating the script to get metrics for.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "scriptId"
          ],
          "path": "v1/projects/{scriptId}/metrics",
          "flatPath": "v1/projects/{scriptId}/metrics",
          "httpMethod": "GET"
        }
      }
    }
  },
  "description": "Manages and executes Google Apps Script projects. ",
  "canonicalName": "Script",
  "basePath": "",
  "schemas": {
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "properties": {
        "access": {
          "type": "string",
          "description": "Who has permission to run the API executable.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ]
        }
      },
      "type": "object",
      "id": "GoogleAppsScriptTypeExecutionApiConfig",
      "description": "API executable entry point configuration."
    },
    "Deployment": {
      "type": "object",
      "properties": {
        "deploymentId": {
          "type": "string",
          "description": "The deployment ID for this deployment."
        },
        "entryPoints": {
          "description": "The deployment's entry points.",
          "type": "array",
          "items": {
            "$ref": "EntryPoint"
          }
        },
        "deploymentConfig": {
          "$ref": "DeploymentConfig",
          "description": "The deployment configuration."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Last modified date time stamp.",
          "type": "string"
        }
      },
      "id": "Deployment",
      "description": "Representation of a single script deployment."
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "properties": {
        "values": {
          "description": "A list of functions composing the set.",
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A set of functions. No duplicates are permitted.",
      "id": "GoogleAppsScriptTypeFunctionSet"
    },
    "ListUserProcessesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        },
        "processes": {
          "type": "array",
          "description": "List of processes matching request parameters.",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        }
      },
      "description": "Response with the list of Process resources.",
      "id": "ListUserProcessesResponse",
      "type": "object"
    },
    "ScriptStackTraceElement": {
      "type": "object",
      "description": "A stack trace through the script that shows where the execution failed.",
      "id": "ScriptStackTraceElement",
      "properties": {
        "function": {
          "type": "string",
          "description": "The name of the function that failed."
        },
        "lineNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The line number where the script failed."
        }
      }
    },
    "ListDeploymentsResponse": {
      "description": "Response with the list of deployments for the specified Apps Script project.",
      "id": "ListDeploymentsResponse",
      "type": "object",
      "properties": {
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of deployments."
        },
        "nextPageToken": {
          "description": "The token that can be used in the next call to get the next page of results.",
          "type": "string"
        }
      }
    },
    "Version": {
      "type": "object",
      "id": "Version",
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified.",
      "properties": {
        "versionNumber": {
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created.",
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "type": "string",
          "description": "The description for this version."
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "When the version was created."
        }
      }
    },
    "GoogleAppsScriptTypeUser": {
      "description": "A simple user profile resource.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's identifying email address."
        },
        "photoUrl": {
          "type": "string",
          "description": "The user's photo."
        },
        "domain": {
          "description": "The user's domain.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The user's display name."
        }
      },
      "type": "object",
      "id": "GoogleAppsScriptTypeUser"
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "type": "object",
      "description": "An add-on entry point.",
      "properties": {
        "postInstallTipUrl": {
          "type": "string",
          "description": "The add-on's required post install tip URL."
        },
        "helpUrl": {
          "description": "The add-on's optional help URL.",
          "type": "string"
        },
        "addOnType": {
          "type": "string",
          "description": "The add-on's required list of supported container types.",
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ],
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ]
        },
        "reportIssueUrl": {
          "description": "The add-on's optional report issue URL.",
          "type": "string"
        },
        "title": {
          "description": "The add-on's required title.",
          "type": "string"
        },
        "description": {
          "description": "The add-on's optional description.",
          "type": "string"
        }
      },
      "id": "GoogleAppsScriptTypeAddOnEntryPoint"
    },
    "ListScriptProcessesResponse": {
      "description": "Response with the list of Process resources.",
      "type": "object",
      "properties": {
        "processes": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          },
          "description": "List of processes matching request parameters."
        },
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        }
      },
      "id": "ListScriptProcessesResponse"
    },
    "CreateProjectRequest": {
      "id": "CreateProjectRequest",
      "type": "object",
      "properties": {
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "parentId": {
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created.",
          "type": "string"
        }
      },
      "description": "Request to create a script project."
    },
    "Project": {
      "description": "The script project resource.",
      "id": "Project",
      "type": "object",
      "properties": {
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "parentId": {
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This field is optional, and if not set, a stand-alone script will be created.",
          "type": "string"
        },
        "updateTime": {
          "description": "When the script was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "lastModifyUser": {
          "description": "User who last modified the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "creator": {
          "description": "User who originally created the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the script was created."
        }
      }
    },
    "DeploymentConfig": {
      "properties": {
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "versionNumber": {
          "type": "integer",
          "description": "The version number on which this deployment is based.",
          "format": "int32"
        },
        "description": {
          "type": "string",
          "description": "The description for this deployment."
        },
        "manifestFileName": {
          "type": "string",
          "description": "The manifest file name for this deployment."
        }
      },
      "type": "object",
      "id": "DeploymentConfig",
      "description": "Metadata the defines how a deployment is configured."
    },
    "Metrics": {
      "type": "object",
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request.",
      "properties": {
        "totalExecutions": {
          "description": "Number of total executions.",
          "items": {
            "$ref": "MetricsValue"
          },
          "type": "array"
        },
        "activeUsers": {
          "items": {
            "$ref": "MetricsValue"
          },
          "type": "array",
          "description": "Number of active users."
        },
        "failedExecutions": {
          "type": "array",
          "description": "Number of failed executions.",
          "items": {
            "$ref": "MetricsValue"
          }
        }
      },
      "id": "Metrics"
    },
    "File": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field."
        },
        "updateTime": {
          "description": "Last modified date timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ],
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ],
          "description": "The type of the file."
        },
        "source": {
          "description": "The file content.",
          "type": "string"
        },
        "functionSet": {
          "description": "The defined set of functions in the script file, if any.",
          "$ref": "GoogleAppsScriptTypeFunctionSet"
        },
        "lastModifyUser": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "The user who modified the file most recently. The details visible in this object are controlled by the profile visibility settings of the last modifying user."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Creation date timestamp."
        }
      },
      "id": "File",
      "type": "object",
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files."
    },
    "ExecutionError": {
      "properties": {
        "errorMessage": {
          "description": "The error message thrown by Apps Script, usually localized into the user's language.",
          "type": "string"
        },
        "scriptStackTraceElements": {
          "type": "array",
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first.",
          "items": {
            "$ref": "ScriptStackTraceElement"
          }
        },
        "errorType": {
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects.",
      "id": "ExecutionError"
    },
    "ExecutionRequest": {
      "type": "object",
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script.",
      "id": "ExecutionRequest",
      "properties": {
        "sessionState": {
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional.",
          "type": "string"
        },
        "function": {
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`.",
          "type": "string"
        },
        "devMode": {
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`.",
          "type": "boolean"
        },
        "parameters": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional."
        }
      }
    },
    "GoogleAppsScriptTypeFunction": {
      "description": "Represents a function in a script project.",
      "id": "GoogleAppsScriptTypeFunction",
      "properties": {
        "name": {
          "description": "The function name in the script project.",
          "type": "string"
        },
        "parameters": {
          "description": "The ordered list of parameter names of the function in the script project.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "id": "GoogleAppsScriptTypeWebAppEntryPoint",
      "description": "A web application entry point.",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL for the web application."
        },
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeWebAppConfig"
        }
      }
    },
    "ExecutionResponse": {
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object.",
      "properties": {
        "result": {
          "type": "any",
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`."
        }
      },
      "id": "ExecutionResponse",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Content": {
      "description": "The Content resource.",
      "type": "object",
      "id": "Content",
      "properties": {
        "files": {
          "items": {
            "$ref": "File"
          },
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project.",
          "type": "array"
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        }
      }
    },
    "EntryPoint": {
      "id": "EntryPoint",
      "properties": {
        "executionApi": {
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint",
          "description": "An entry point specification for Apps Script API execution calls."
        },
        "webApp": {
          "description": "An entry point specification for web apps.",
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint"
        },
        "addOn": {
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint",
          "description": "Add-on properties."
        },
        "entryPointType": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ],
          "description": "The type of the entry point.",
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ]
        }
      },
      "type": "object",
      "description": "A configuration that defines how a deployment is accessed externally."
    },
    "Operation": {
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value."
        },
        "done": {
          "type": "boolean",
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed."
        },
        "error": {
          "$ref": "Status",
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error."
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. "
    },
    "MetricsValue": {
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required field indicating the end time of the interval."
        },
        "value": {
          "format": "uint64",
          "description": "Indicates the number of executions counted.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Required field indicating the start time of the interval.",
          "format": "google-datetime"
        }
      },
      "id": "MetricsValue",
      "description": "Metrics value that holds number of executions counted."
    },
    "GoogleAppsScriptTypeWebAppConfig": {
      "description": "Web app entry point configuration.",
      "type": "object",
      "id": "GoogleAppsScriptTypeWebAppConfig",
      "properties": {
        "access": {
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "description": "Who has permission to run the web app."
        },
        "executeAs": {
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ],
          "description": "Who to execute the web app as.",
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ],
          "type": "string"
        }
      }
    },
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "description": "An API executable entry point.",
      "type": "object",
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig"
        }
      },
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint"
    },
    "ListVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list."
        },
        "versions": {
          "type": "array",
          "description": "The list of versions.",
          "items": {
            "$ref": "Version"
          }
        }
      },
      "description": "Response with the list of the versions for the specified script project.",
      "type": "object",
      "id": "ListVersionsResponse"
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. ",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client."
        },
        "details": {
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "type": "object",
      "id": "Status",
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object."
    },
    "GoogleAppsScriptTypeProcess": {
      "properties": {
        "functionName": {
          "type": "string",
          "description": "Name of the function the started the execution."
        },
        "startTime": {
          "description": "Time the execution started.",
          "format": "google-datetime",
          "type": "string"
        },
        "userAccessLevel": {
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ],
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ],
          "type": "string",
          "description": "The executing users access level to the script."
        },
        "duration": {
          "description": "Duration the execution spent executing.",
          "format": "google-duration",
          "type": "string"
        },
        "runtimeVersion": {
          "type": "string",
          "description": "Which version of maestro to use to execute the script.",
          "enumDescriptions": [
            "Runtime version unset / unknown.",
            "Legacy rhino version of the Apps script runtime",
            "Current default V8 version of the apps script runtime."
          ],
          "enum": [
            "RUNTIME_VERSION_UNSPECIFIED",
            "DEPRECATED_ES5",
            "V8"
          ]
        },
        "processStatus": {
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota.",
            "AppsScript executions are disabled by Admin."
          ],
          "type": "string",
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED",
            "EXECUTION_DISABLED"
          ],
          "description": "The executions status."
        },
        "processType": {
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ],
          "type": "string",
          "description": "The executions type.",
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ]
        },
        "projectName": {
          "description": "Name of the script being executed.",
          "type": "string"
        }
      },
      "id": "GoogleAppsScriptTypeProcess",
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API.",
      "type": "object"
    },
    "UpdateDeploymentRequest": {
      "type": "object",
      "properties": {
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        }
      },
      "id": "UpdateDeploymentRequest",
      "description": "Request with deployment information to update an existing deployment."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://script.googleapis.com/",
  "revision": "20260906",
  "title": "Apps Script API"
}
