{
  "servicePath": "",
  "ownerDomain": "google.com",
  "revision": "20260904",
  "protocol": "rest",
  "basePath": "",
  "documentationLink": "https://developers.google.com/workspace/sheets/",
  "discoveryVersion": "v1",
  "baseUrl": "https://sheets.googleapis.com/",
  "title": "Google Sheets API",
  "batchPath": "batch",
  "ownerName": "Google",
  "mtlsRootUrl": "https://sheets.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "Reads and writes Google Sheets.",
  "version": "v4",
  "schemas": {
    "DeleteDimensionGroupResponse": {
      "type": "object",
      "description": "The result of deleting a group.",
      "properties": {
        "dimensionGroups": {
          "type": "array",
          "items": {
            "$ref": "DimensionGroup"
          },
          "description": "All groups of a dimension after deleting a group from that dimension."
        }
      },
      "id": "DeleteDimensionGroupResponse"
    },
    "Slicer": {
      "type": "object",
      "id": "Slicer",
      "description": "A slicer in a sheet.",
      "properties": {
        "slicerId": {
          "description": "The ID of the slicer.",
          "format": "int32",
          "type": "integer"
        },
        "position": {
          "description": "The position of the slicer. Note that slicer can be positioned only on existing sheet. Also, width and height of slicer can be automatically adjusted to keep it within permitted limits.",
          "$ref": "EmbeddedObjectPosition"
        },
        "spec": {
          "$ref": "SlicerSpec",
          "description": "The specification of the slicer."
        }
      }
    },
    "AddBandingRequest": {
      "id": "AddBandingRequest",
      "type": "object",
      "properties": {
        "bandedRange": {
          "$ref": "BandedRange",
          "description": "The banded range to add. The bandedRangeId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a range that already exists.)"
        }
      },
      "description": "Adds a new banded range to the spreadsheet."
    },
    "UpdateTableRequest": {
      "description": "Updates a table in the spreadsheet.",
      "id": "UpdateTableRequest",
      "properties": {
        "table": {
          "$ref": "Table",
          "description": "Required. The table to update."
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. The fields that should be updated. At least one field must be specified. The root `table` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
        }
      },
      "type": "object"
    },
    "DataSourceSpec": {
      "id": "DataSourceSpec",
      "properties": {
        "parameters": {
          "description": "The parameters of the data source, used when querying the data source.",
          "items": {
            "$ref": "DataSourceParameter"
          },
          "type": "array"
        },
        "bigQuery": {
          "$ref": "BigQueryDataSourceSpec",
          "description": "A BigQueryDataSourceSpec."
        },
        "looker": {
          "description": "A LookerDatasourceSpec.",
          "$ref": "LookerDataSourceSpec"
        }
      },
      "type": "object",
      "description": "This specifies the details of the data source. For example, for BigQuery, this specifies information about the BigQuery source."
    },
    "AddFilterViewRequest": {
      "description": "Adds a filter view.",
      "id": "AddFilterViewRequest",
      "properties": {
        "filter": {
          "$ref": "FilterView",
          "description": "The filter to add. The filterViewId field is optional. If one is not set, an ID will be randomly generated. (It is an error to specify the ID of a filter that already exists.)"
        }
      },
      "type": "object"
    },
    "UpdateDeveloperMetadataRequest": {
      "type": "object",
      "properties": {
        "dataFilters": {
          "type": "array",
          "description": "The filters matching the developer metadata entries to update.",
          "items": {
            "$ref": "DataFilter"
          }
        },
        "developerMetadata": {
          "$ref": "DeveloperMetadata",
          "description": "The value that all metadata matched by the data filters will be updated to."
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `developerMetadata` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "UpdateDeveloperMetadataRequest",
      "description": "A request to update properties of developer metadata. Updates the properties of the developer metadata selected by the filters to the values provided in the DeveloperMetadata resource. Callers must specify the properties they wish to update in the fields parameter, as well as specify at least one DataFilter matching the metadata they wish to update."
    },
    "TrimWhitespaceRequest": {
      "type": "object",
      "properties": {
        "range": {
          "$ref": "GridRange",
          "description": "The range whose cells to trim."
        }
      },
      "id": "TrimWhitespaceRequest",
      "description": "Trims the whitespace (such as spaces, tabs, or new lines) in every cell in the specified range. This request removes all whitespace from the start and end of each cell's text, and reduces any subsequence of remaining whitespace characters to a single space. If the resulting trimmed text starts with a '+' or '=' character, the text remains as a string value and isn't interpreted as a formula."
    },
    "UpdateSpreadsheetPropertiesRequest": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root 'properties' is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask"
        },
        "properties": {
          "$ref": "SpreadsheetProperties",
          "description": "The properties to update."
        }
      },
      "description": "Updates properties of a spreadsheet.",
      "id": "UpdateSpreadsheetPropertiesRequest"
    },
    "BandingProperties": {
      "description": "Properties referring a single dimension (either row or column). If both BandedRange.row_properties and BandedRange.column_properties are set, the fill colors are applied to cells according to the following rules: * header_color and footer_color take priority over band colors. * first_band_color takes priority over second_band_color. * row_properties takes priority over column_properties. For example, the first row color takes priority over the first column color, but the first column color takes priority over the second row color. Similarly, the row header takes priority over the column header in the top left cell, but the column header takes priority over the first row color if the row header is not set.",
      "properties": {
        "footerColor": {
          "description": "The color of the last row or column. If this field is not set, the last row or column is filled with either first_band_color or second_band_color, depending on the color of the previous row or column. Deprecated: Use footer_color_style.",
          "$ref": "Color",
          "deprecated": true
        },
        "firstBandColorStyle": {
          "$ref": "ColorStyle",
          "description": "The first color that is alternating. (Required) If first_band_color is also set, this field takes precedence."
        },
        "firstBandColor": {
          "description": "The first color that is alternating. (Required) Deprecated: Use first_band_color_style.",
          "$ref": "Color",
          "deprecated": true
        },
        "footerColorStyle": {
          "$ref": "ColorStyle",
          "description": "The color of the last row or column. If this field is not set, the last row or column is filled with either first_band_color or second_band_color, depending on the color of the previous row or column. If footer_color is also set, this field takes precedence."
        },
        "headerColorStyle": {
          "description": "The color of the first row or column. If this field is set, the first row or column is filled with this color and the colors alternate between first_band_color and second_band_color starting from the second row or column. Otherwise, the first row or column is filled with first_band_color and the colors proceed to alternate as they normally would. If header_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "headerColor": {
          "description": "The color of the first row or column. If this field is set, the first row or column is filled with this color and the colors alternate between first_band_color and second_band_color starting from the second row or column. Otherwise, the first row or column is filled with first_band_color and the colors proceed to alternate as they normally would. Deprecated: Use header_color_style.",
          "deprecated": true,
          "$ref": "Color"
        },
        "secondBandColor": {
          "deprecated": true,
          "description": "The second color that is alternating. (Required) Deprecated: Use second_band_color_style.",
          "$ref": "Color"
        },
        "secondBandColorStyle": {
          "$ref": "ColorStyle",
          "description": "The second color that is alternating. (Required) If second_band_color is also set, this field takes precedence."
        }
      },
      "type": "object",
      "id": "BandingProperties"
    },
    "AddDataSourceRequest": {
      "description": "Adds a data source. After the data source is added successfully, an associated DATA_SOURCE sheet is created and an execution is triggered to refresh the sheet to read data from the data source. The request requires an additional `bigquery.readonly` OAuth scope if you are adding a BigQuery data source.",
      "properties": {
        "dataSource": {
          "description": "The data source to add.",
          "$ref": "DataSource"
        }
      },
      "type": "object",
      "id": "AddDataSourceRequest"
    },
    "BatchClearValuesByDataFilterResponse": {
      "type": "object",
      "properties": {
        "clearedRanges": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The ranges that were cleared, in [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell). If the requests are for an unbounded range or a range larger than the bounds of the sheet, this is the actual ranges that were cleared, bounded to the sheet's limits."
        },
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        }
      },
      "id": "BatchClearValuesByDataFilterResponse",
      "description": "The response when clearing a range of values selected with DataFilters in a spreadsheet."
    },
    "BasicChartSeries": {
      "description": "A single series of data in a chart. For example, if charting stock prices over time, multiple series may exist, one for the \"Open Price\", \"High Price\", \"Low Price\" and \"Close Price\".",
      "type": "object",
      "id": "BasicChartSeries",
      "properties": {
        "dataLabel": {
          "description": "Information about the data labels for this series.",
          "$ref": "DataLabel"
        },
        "type": {
          "enum": [
            "BASIC_CHART_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "COLUMN",
            "SCATTER",
            "COMBO",
            "STEPPED_AREA"
          ],
          "description": "The type of this series. Valid only if the chartType is COMBO. Different types will change the way the series is visualized. Only LINE, AREA, and COLUMN are supported.",
          "enumDescriptions": [
            "Default value, do not use.",
            "A bar chart.",
            "A line chart.",
            "An area chart.",
            "A column chart.",
            "A scatter chart.",
            "A combo chart.",
            "A stepped area chart."
          ],
          "type": "string"
        },
        "colorStyle": {
          "$ref": "ColorStyle",
          "description": "The color for elements (such as bars, lines, and points) associated with this series. If empty, a default color is used. If color is also set, this field takes precedence."
        },
        "styleOverrides": {
          "description": "Style override settings for series data points.",
          "type": "array",
          "items": {
            "$ref": "BasicSeriesDataPointStyleOverride"
          }
        },
        "targetAxis": {
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "The axis rendered at the bottom of a chart. For most charts, this is the standard major axis. For bar charts, this is a minor axis.",
            "The axis rendered at the left of a chart. For most charts, this is a minor axis. For bar charts, this is the standard major axis.",
            "The axis rendered at the right of a chart. For most charts, this is a minor axis. For bar charts, this is an unusual major axis."
          ],
          "enum": [
            "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
            "BOTTOM_AXIS",
            "LEFT_AXIS",
            "RIGHT_AXIS"
          ],
          "description": "The minor axis that will specify the range of values for this series. For example, if charting stocks over time, the \"Volume\" series may want to be pinned to the right with the prices pinned to the left, because the scale of trading volume is different than the scale of prices. It is an error to specify an axis that isn't a valid minor axis for the chart's type."
        },
        "pointStyle": {
          "$ref": "PointStyle",
          "description": "The style for points associated with this series. Valid only if the chartType is AREA, LINE, or SCATTER. COMBO charts are also supported if the series chart type is AREA, LINE, or SCATTER. If empty, a default point style is used."
        },
        "series": {
          "$ref": "ChartData",
          "description": "The data being visualized in this chart series."
        },
        "color": {
          "deprecated": true,
          "$ref": "Color",
          "description": "The color for elements (such as bars, lines, and points) associated with this series. If empty, a default color is used. Deprecated: Use color_style."
        },
        "lineStyle": {
          "$ref": "LineStyle",
          "description": "The line style of this series. Valid only if the chartType is AREA, LINE, or SCATTER. COMBO charts are also supported if the series chart type is AREA or LINE."
        }
      }
    },
    "DataSourceFormula": {
      "type": "object",
      "properties": {
        "dataExecutionStatus": {
          "description": "Output only. The data execution status.",
          "readOnly": true,
          "$ref": "DataExecutionStatus"
        },
        "dataSourceId": {
          "type": "string",
          "description": "The ID of the data source the formula is associated with."
        }
      },
      "id": "DataSourceFormula",
      "description": "A data source formula."
    },
    "CancelDataSourceRefreshResponse": {
      "description": "The response from cancelling one or multiple data source object refreshes.",
      "id": "CancelDataSourceRefreshResponse",
      "properties": {
        "statuses": {
          "description": "The cancellation statuses of refreshes of all data source objects specified in the request. If is_all is specified, the field contains only those in failure status. Refreshing and canceling refresh the same data source object is also not allowed in the same `batchUpdate`.",
          "items": {
            "$ref": "CancelDataSourceRefreshStatus"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BasicChartAxis": {
      "type": "object",
      "id": "BasicChartAxis",
      "properties": {
        "format": {
          "$ref": "TextFormat",
          "description": "The format of the title. Only valid if the axis is not associated with the domain. The link field is not supported."
        },
        "titleTextPosition": {
          "$ref": "TextPosition",
          "description": "The axis title text position."
        },
        "viewWindowOptions": {
          "description": "The view window options for this axis.",
          "$ref": "ChartAxisViewWindowOptions"
        },
        "position": {
          "type": "string",
          "description": "The position of this axis.",
          "enum": [
            "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
            "BOTTOM_AXIS",
            "LEFT_AXIS",
            "RIGHT_AXIS"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "The axis rendered at the bottom of a chart. For most charts, this is the standard major axis. For bar charts, this is a minor axis.",
            "The axis rendered at the left of a chart. For most charts, this is a minor axis. For bar charts, this is the standard major axis.",
            "The axis rendered at the right of a chart. For most charts, this is a minor axis. For bar charts, this is an unusual major axis."
          ]
        },
        "title": {
          "type": "string",
          "description": "The title of this axis. If set, this overrides any title inferred from headers of the data."
        }
      },
      "description": "An axis of the chart. A chart may not have more than one axis per axis position."
    },
    "PasteDataRequest": {
      "properties": {
        "html": {
          "description": "True if the data is HTML.",
          "type": "boolean"
        },
        "coordinate": {
          "$ref": "GridCoordinate",
          "description": "The coordinate at which the data should start being inserted."
        },
        "data": {
          "type": "string",
          "description": "The data to insert."
        },
        "type": {
          "description": "How the data should be pasted.",
          "type": "string",
          "enumDescriptions": [
            "Paste values, formulas, formats, and merges.",
            "Paste the values ONLY without formats, formulas, or merges.",
            "Paste the format only, excluding data validation.",
            "Like `PASTE_NORMAL` but without borders.",
            "Paste the formulas only.",
            "Paste the data validation only.",
            "Paste the conditional formatting rules only."
          ],
          "enum": [
            "PASTE_NORMAL",
            "PASTE_VALUES",
            "PASTE_FORMAT",
            "PASTE_NO_BORDERS",
            "PASTE_FORMULA",
            "PASTE_DATA_VALIDATION",
            "PASTE_CONDITIONAL_FORMATTING"
          ]
        },
        "delimiter": {
          "type": "string",
          "description": "The delimiter in the data."
        }
      },
      "description": "Inserts data into the spreadsheet starting at the specified coordinate.",
      "id": "PasteDataRequest",
      "type": "object"
    },
    "DataSourceRefreshDailySchedule": {
      "type": "object",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "The start time of a time interval in which a data source refresh is scheduled. Only `hours` part is used. The time interval size defaults to that in the Sheets editor."
        }
      },
      "id": "DataSourceRefreshDailySchedule",
      "description": "A schedule for data to refresh every day in a given time interval."
    },
    "DeleteSheetRequest": {
      "type": "object",
      "properties": {
        "sheetId": {
          "description": "The ID of the sheet to delete. If the sheet is of DATA_SOURCE type, the associated DataSource is also deleted.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Deletes the requested sheet.",
      "id": "DeleteSheetRequest"
    },
    "SetBasicFilterRequest": {
      "properties": {
        "filter": {
          "$ref": "BasicFilter",
          "description": "The filter to set."
        }
      },
      "id": "SetBasicFilterRequest",
      "description": "Sets the basic filter associated with a sheet.",
      "type": "object"
    },
    "UpdateEmbeddedObjectPositionResponse": {
      "type": "object",
      "description": "The result of updating an embedded object's position.",
      "id": "UpdateEmbeddedObjectPositionResponse",
      "properties": {
        "position": {
          "description": "The new position of the embedded object.",
          "$ref": "EmbeddedObjectPosition"
        }
      }
    },
    "Sheet": {
      "type": "object",
      "description": "A sheet in a spreadsheet.",
      "id": "Sheet",
      "properties": {
        "tables": {
          "description": "The tables on this sheet.",
          "type": "array",
          "items": {
            "$ref": "Table"
          }
        },
        "data": {
          "type": "array",
          "description": "Data in the grid, if this is a grid sheet. The number of GridData objects returned is dependent on the number of ranges requested on this sheet. For example, if this is representing `Sheet1`, and the spreadsheet was requested with ranges `Sheet1!A1:C10` and `Sheet1!D15:E20`, then the first GridData will have a startRow/startColumn of `0`, while the second one will have `startRow 14` (zero-based row 15), and `startColumn 3` (zero-based column D). For a DATA_SOURCE sheet, you can not request a specific range, the GridData contains all the values.",
          "items": {
            "$ref": "GridData"
          }
        },
        "protectedRanges": {
          "description": "The protected ranges in this sheet.",
          "items": {
            "$ref": "ProtectedRange"
          },
          "type": "array"
        },
        "rowGroups": {
          "items": {
            "$ref": "DimensionGroup"
          },
          "type": "array",
          "description": "All row groups on this sheet, ordered by increasing range start index, then by group depth."
        },
        "merges": {
          "items": {
            "$ref": "GridRange"
          },
          "description": "The ranges that are merged together.",
          "type": "array"
        },
        "bandedRanges": {
          "description": "The banded (alternating colors) ranges on this sheet.",
          "items": {
            "$ref": "BandedRange"
          },
          "type": "array"
        },
        "columnGroups": {
          "type": "array",
          "description": "All column groups on this sheet, ordered by increasing range start index, then by group depth.",
          "items": {
            "$ref": "DimensionGroup"
          }
        },
        "filterViews": {
          "description": "The filter views in this sheet.",
          "type": "array",
          "items": {
            "$ref": "FilterView"
          }
        },
        "charts": {
          "description": "The specifications of every chart on this sheet.",
          "items": {
            "$ref": "EmbeddedChart"
          },
          "type": "array"
        },
        "basicFilter": {
          "$ref": "BasicFilter",
          "description": "The filter on this sheet, if any."
        },
        "properties": {
          "description": "The properties of the sheet.",
          "$ref": "SheetProperties"
        },
        "conditionalFormats": {
          "items": {
            "$ref": "ConditionalFormatRule"
          },
          "type": "array",
          "description": "The conditional format rules in this sheet."
        },
        "developerMetadata": {
          "items": {
            "$ref": "DeveloperMetadata"
          },
          "description": "The developer metadata associated with a sheet.",
          "type": "array"
        },
        "slicers": {
          "description": "The slicers on this sheet.",
          "items": {
            "$ref": "Slicer"
          },
          "type": "array"
        }
      }
    },
    "EmbeddedObjectBorder": {
      "properties": {
        "color": {
          "$ref": "Color",
          "deprecated": true,
          "description": "The color of the border. Deprecated: Use color_style."
        },
        "colorStyle": {
          "description": "The color of the border. If color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        }
      },
      "type": "object",
      "description": "A border along an embedded object.",
      "id": "EmbeddedObjectBorder"
    },
    "RefreshCancellationStatus": {
      "description": "The status of a refresh cancellation. You can send a cancel request to explicitly cancel one or multiple data source object refreshes.",
      "type": "object",
      "id": "RefreshCancellationStatus",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "The API call to Sheets to cancel a refresh has succeeded. This does not mean that the cancel happened successfully, but that the call has been made successfully.",
            "The API call to Sheets to cancel a refresh has failed."
          ],
          "description": "The state of a call to cancel a refresh in Sheets.",
          "enum": [
            "REFRESH_CANCELLATION_STATE_UNSPECIFIED",
            "CANCEL_SUCCEEDED",
            "CANCEL_FAILED"
          ]
        },
        "errorCode": {
          "enum": [
            "REFRESH_CANCELLATION_ERROR_CODE_UNSPECIFIED",
            "EXECUTION_NOT_FOUND",
            "CANCEL_PERMISSION_DENIED",
            "QUERY_EXECUTION_COMPLETED",
            "CONCURRENT_CANCELLATION",
            "CANCEL_OTHER_ERROR"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "Execution to be cancelled not found in the query engine or in Sheets.",
            "The user does not have permission to cancel the query.",
            "The query execution has already completed and thus could not be cancelled.",
            "There is already another cancellation in process.",
            "All other errors."
          ],
          "description": "The error code.",
          "type": "string"
        }
      }
    },
    "UpdateProtectedRangeRequest": {
      "id": "UpdateProtectedRangeRequest",
      "description": "Updates an existing protected range with the specified protectedRangeId.",
      "type": "object",
      "properties": {
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `protectedRange` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        },
        "protectedRange": {
          "description": "The protected range to update with the new properties.",
          "$ref": "ProtectedRange"
        }
      }
    },
    "DataExecutionStatus": {
      "description": "The data execution status. A data execution is created to sync a data source object with the latest data from a DataSource. It is usually scheduled to run at background, you can check its state to tell if an execution completes There are several scenarios where a data execution is triggered to run: * Adding a data source creates an associated data source sheet as well as a data execution to sync the data from the data source to the sheet. * Updating a data source creates a data execution to refresh the associated data source sheet similarly. * You can send refresh request to explicitly refresh one or multiple data source objects.",
      "properties": {
        "errorCode": {
          "description": "The error code.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "The data execution timed out.",
            "The data execution returns more rows than the limit.",
            "The data execution returns more columns than the limit.",
            "The data execution returns more cells than the limit.",
            "Error is received from the backend data execution engine (e.g. BigQuery). Check error_message for details.",
            "One or some of the provided data source parameters are invalid.",
            "The data execution returns an unsupported data type.",
            "The data execution returns duplicate column names or aliases.",
            "The data execution is interrupted. Please refresh later.",
            "The data execution is currently in progress, can not be refreshed until it completes.",
            "Other errors.",
            "The data execution returns values that exceed the maximum characters allowed in a single cell.",
            "The database referenced by the data source is not found. */",
            "The user does not have access to the database referenced by the data source.",
            "The data execution returns columns with missing aliases.",
            "The data source object does not exist.",
            "The data source object is currently in error state. To force refresh, set force in RefreshDataSourceRequest.",
            "The data source object specification is invalid.",
            "The data execution has been cancelled."
          ],
          "enum": [
            "DATA_EXECUTION_ERROR_CODE_UNSPECIFIED",
            "TIMED_OUT",
            "TOO_MANY_ROWS",
            "TOO_MANY_COLUMNS",
            "TOO_MANY_CELLS",
            "ENGINE",
            "PARAMETER_INVALID",
            "UNSUPPORTED_DATA_TYPE",
            "DUPLICATE_COLUMN_NAMES",
            "INTERRUPTED",
            "CONCURRENT_QUERY",
            "OTHER",
            "TOO_MANY_CHARS_PER_CELL",
            "DATA_NOT_FOUND",
            "PERMISSION_DENIED",
            "MISSING_COLUMN_ALIAS",
            "OBJECT_NOT_FOUND",
            "OBJECT_IN_ERROR_STATE",
            "OBJECT_SPEC_INVALID",
            "DATA_EXECUTION_CANCELLED"
          ]
        },
        "state": {
          "description": "The state of the data execution.",
          "enum": [
            "DATA_EXECUTION_STATE_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "The data execution has not started.",
            "The data execution has started and is running.",
            "The data execution is currently being cancelled.",
            "The data execution has completed successfully.",
            "The data execution has completed with errors."
          ]
        },
        "errorMessage": {
          "description": "The error message, which may be empty.",
          "type": "string"
        },
        "lastRefreshTime": {
          "format": "google-datetime",
          "description": "Gets the time the data last successfully refreshed.",
          "type": "string"
        }
      },
      "id": "DataExecutionStatus",
      "type": "object"
    },
    "BatchUpdateValuesRequest": {
      "id": "BatchUpdateValuesRequest",
      "properties": {
        "includeValuesInResponse": {
          "type": "boolean",
          "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. The `updatedData` field within each of the BatchUpdateValuesResponse.responses contains the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns)."
        },
        "valueInputOption": {
          "enum": [
            "INPUT_VALUE_OPTION_UNSPECIFIED",
            "RAW",
            "USER_ENTERED"
          ],
          "enumDescriptions": [
            "Default input value. This value must not be used.",
            "The values the user has entered will not be parsed and will be stored as-is.",
            "The values will be parsed as if the user typed them into the UI. Numbers will stay as numbers, but strings may be converted to numbers, dates, etc. following the same rules that are applied when entering text into a cell via the Google Sheets UI."
          ],
          "type": "string",
          "description": "How the input data should be interpreted."
        },
        "responseValueRenderOption": {
          "enumDescriptions": [
            "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
            "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
            "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
          ],
          "enum": [
            "FORMATTED_VALUE",
            "UNFORMATTED_VALUE",
            "FORMULA"
          ],
          "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
          "type": "string"
        },
        "responseDateTimeRenderOption": {
          "type": "string",
          "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
          "enum": [
            "SERIAL_NUMBER",
            "FORMATTED_STRING"
          ],
          "enumDescriptions": [
            "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
            "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
          ]
        },
        "data": {
          "description": "The new values to apply to the spreadsheet.",
          "type": "array",
          "items": {
            "$ref": "ValueRange"
          }
        }
      },
      "type": "object",
      "description": "The request for updating more than one range of values in a spreadsheet."
    },
    "EmbeddedObjectPosition": {
      "id": "EmbeddedObjectPosition",
      "properties": {
        "sheetId": {
          "format": "int32",
          "type": "integer",
          "description": "The sheet this is on. Set only if the embedded object is on its own sheet. Must be non-negative."
        },
        "newSheet": {
          "type": "boolean",
          "description": "If true, the embedded object is put on a new sheet whose ID is chosen for you. Used only when writing."
        },
        "overlayPosition": {
          "$ref": "OverlayPosition",
          "description": "The position at which the object is overlaid on top of a grid."
        }
      },
      "description": "The position of an embedded object such as a chart.",
      "type": "object"
    },
    "ManualRuleGroup": {
      "description": "A group name and a list of items from the source data that should be placed in the group with this name.",
      "properties": {
        "items": {
          "items": {
            "$ref": "ExtendedValue"
          },
          "type": "array",
          "description": "The items in the source data that should be placed into this group. Each item may be a string, number, or boolean. Items may appear in at most one group within a given ManualRule. Items that do not appear in any group will appear on their own."
        },
        "groupName": {
          "$ref": "ExtendedValue",
          "description": "The group name, which must be a string. Each group in a given ManualRule must have a unique group name."
        }
      },
      "id": "ManualRuleGroup",
      "type": "object"
    },
    "WaterfallChartCustomSubtotal": {
      "type": "object",
      "description": "A custom subtotal column for a waterfall chart series.",
      "id": "WaterfallChartCustomSubtotal",
      "properties": {
        "subtotalIndex": {
          "description": "The zero-based index of a data point within the series. If data_is_subtotal is true, the data point at this index is the subtotal. Otherwise, the subtotal appears after the data point with this index. A series can have multiple subtotals at arbitrary indices, but subtotals do not affect the indices of the data points. For example, if a series has three data points, their indices will always be 0, 1, and 2, regardless of how many subtotals exist on the series or what data points they are associated with.",
          "format": "int32",
          "type": "integer"
        },
        "label": {
          "type": "string",
          "description": "A label for the subtotal column."
        },
        "dataIsSubtotal": {
          "type": "boolean",
          "description": "True if the data point at subtotal_index is the subtotal. If false, the subtotal will be computed and appear after the data point."
        }
      }
    },
    "Border": {
      "description": "A border along a cell.",
      "type": "object",
      "properties": {
        "style": {
          "type": "string",
          "description": "The style of the border.",
          "enumDescriptions": [
            "The style is not specified. Do not use this.",
            "The border is dotted.",
            "The border is dashed.",
            "The border is a thin solid line.",
            "The border is a medium solid line.",
            "The border is a thick solid line.",
            "No border. Used only when updating a border in order to erase it.",
            "The border is two solid lines."
          ],
          "enum": [
            "STYLE_UNSPECIFIED",
            "DOTTED",
            "DASHED",
            "SOLID",
            "SOLID_MEDIUM",
            "SOLID_THICK",
            "NONE",
            "DOUBLE"
          ]
        },
        "colorStyle": {
          "description": "The color of the border. If color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "color": {
          "$ref": "Color",
          "deprecated": true,
          "description": "The color of the border. Deprecated: Use color_style."
        },
        "width": {
          "description": "The width of the border, in pixels. Deprecated; the width is determined by the \"style\" field.",
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Border"
    },
    "BaselineValueFormat": {
      "description": "Formatting options for baseline value.",
      "properties": {
        "textFormat": {
          "description": "Text formatting options for baseline value. The link field is not supported.",
          "$ref": "TextFormat"
        },
        "positiveColorStyle": {
          "description": "Color to be used, in case baseline value represents a positive change for key value. This field is optional. If positive_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "negativeColorStyle": {
          "$ref": "ColorStyle",
          "description": "Color to be used, in case baseline value represents a negative change for key value. This field is optional. If negative_color is also set, this field takes precedence."
        },
        "negativeColor": {
          "description": "Color to be used, in case baseline value represents a negative change for key value. This field is optional. Deprecated: Use negative_color_style.",
          "deprecated": true,
          "$ref": "Color"
        },
        "comparisonType": {
          "enumDescriptions": [
            "Default value, do not use.",
            "Use absolute difference between key and baseline value.",
            "Use percentage difference between key and baseline value."
          ],
          "enum": [
            "COMPARISON_TYPE_UNDEFINED",
            "ABSOLUTE_DIFFERENCE",
            "PERCENTAGE_DIFFERENCE"
          ],
          "type": "string",
          "description": "The comparison type of key value with baseline value."
        },
        "position": {
          "description": "Specifies the horizontal text positioning of baseline value. This field is optional. If not specified, default positioning is used.",
          "$ref": "TextPosition"
        },
        "positiveColor": {
          "$ref": "Color",
          "deprecated": true,
          "description": "Color to be used, in case baseline value represents a positive change for key value. This field is optional. Deprecated: Use positive_color_style."
        },
        "description": {
          "description": "Description which is appended after the baseline value. This field is optional.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BaselineValueFormat"
    },
    "DimensionRange": {
      "description": "A range along a single dimension on a sheet. All indexes are zero-based. Indexes are half open: the start index is inclusive and the end index is exclusive. Missing indexes indicate the range is unbounded on that side.",
      "properties": {
        "endIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The end (exclusive) of the span, or not set if unbounded."
        },
        "dimension": {
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "type": "string",
          "description": "The dimension of the span.",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ]
        },
        "startIndex": {
          "format": "int32",
          "description": "The start (inclusive) of the span, or not set if unbounded.",
          "type": "integer"
        },
        "sheetId": {
          "format": "int32",
          "type": "integer",
          "description": "The sheet this span is on."
        }
      },
      "type": "object",
      "id": "DimensionRange"
    },
    "DataSourceSheetDimensionRange": {
      "description": "A range along a single dimension on a DATA_SOURCE sheet.",
      "id": "DataSourceSheetDimensionRange",
      "properties": {
        "columnReferences": {
          "description": "The columns on the data source sheet.",
          "items": {
            "$ref": "DataSourceColumnReference"
          },
          "type": "array"
        },
        "sheetId": {
          "format": "int32",
          "type": "integer",
          "description": "The ID of the data source sheet the range is on."
        }
      },
      "type": "object"
    },
    "FindReplaceResponse": {
      "properties": {
        "rowsChanged": {
          "description": "The number of rows changed.",
          "format": "int32",
          "type": "integer"
        },
        "occurrencesChanged": {
          "description": "The number of occurrences (possibly multiple within a cell) changed. For example, if replacing `\"e\"` with `\"o\"` in `\"Google Sheets\"`, this would be `\"3\"` because `\"Google Sheets\"` -> `\"Googlo Shoots\"`.",
          "type": "integer",
          "format": "int32"
        },
        "sheetsChanged": {
          "type": "integer",
          "description": "The number of sheets changed.",
          "format": "int32"
        },
        "valuesChanged": {
          "type": "integer",
          "format": "int32",
          "description": "The number of non-formula cells changed."
        },
        "formulasChanged": {
          "type": "integer",
          "description": "The number of formula cells changed.",
          "format": "int32"
        }
      },
      "description": "The result of the find/replace.",
      "type": "object",
      "id": "FindReplaceResponse"
    },
    "BatchClearValuesRequest": {
      "description": "The request for clearing more than one range of values in a spreadsheet.",
      "properties": {
        "ranges": {
          "type": "array",
          "description": "The ranges to clear, in [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchClearValuesRequest",
      "type": "object"
    },
    "ErrorValue": {
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of error.",
          "enumDescriptions": [
            "The default error type, do not use this.",
            "Corresponds to the `#ERROR!` error.",
            "Corresponds to the `#NULL!` error.",
            "Corresponds to the `#DIV/0` error.",
            "Corresponds to the `#VALUE!` error.",
            "Corresponds to the `#REF!` error.",
            "Corresponds to the `#NAME?` error.",
            "Corresponds to the `#NUM!` error.",
            "Corresponds to the `#N/A` error.",
            "Corresponds to the `Loading...` state."
          ],
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "ERROR",
            "NULL_VALUE",
            "DIVIDE_BY_ZERO",
            "VALUE",
            "REF",
            "NAME",
            "NUM",
            "N_A",
            "LOADING"
          ],
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "A message with more information about the error (in the spreadsheet's locale)."
        }
      },
      "id": "ErrorValue",
      "description": "An error in a cell."
    },
    "ThemeColorPair": {
      "type": "object",
      "properties": {
        "colorType": {
          "enum": [
            "THEME_COLOR_TYPE_UNSPECIFIED",
            "TEXT",
            "BACKGROUND",
            "ACCENT1",
            "ACCENT2",
            "ACCENT3",
            "ACCENT4",
            "ACCENT5",
            "ACCENT6",
            "LINK"
          ],
          "description": "The type of the spreadsheet theme color.",
          "enumDescriptions": [
            "Unspecified theme color",
            "Represents the primary text color",
            "Represents the primary background color",
            "Represents the first accent color",
            "Represents the second accent color",
            "Represents the third accent color",
            "Represents the fourth accent color",
            "Represents the fifth accent color",
            "Represents the sixth accent color",
            "Represents the color to use for hyperlinks"
          ],
          "type": "string"
        },
        "color": {
          "description": "The concrete color corresponding to the theme color type.",
          "$ref": "ColorStyle"
        }
      },
      "id": "ThemeColorPair",
      "description": "A pair mapping a spreadsheet theme color type to the concrete color it represents."
    },
    "AddProtectedRangeRequest": {
      "id": "AddProtectedRangeRequest",
      "type": "object",
      "description": "Adds a new protected range.",
      "properties": {
        "protectedRange": {
          "description": "The protected range to be added. The protectedRangeId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a range that already exists.)",
          "$ref": "ProtectedRange"
        }
      }
    },
    "DuplicateSheetResponse": {
      "description": "The result of duplicating a sheet.",
      "type": "object",
      "id": "DuplicateSheetResponse",
      "properties": {
        "properties": {
          "$ref": "SheetProperties",
          "description": "The properties of the duplicate sheet."
        }
      }
    },
    "CreateDeveloperMetadataRequest": {
      "type": "object",
      "id": "CreateDeveloperMetadataRequest",
      "properties": {
        "developerMetadata": {
          "$ref": "DeveloperMetadata",
          "description": "The developer metadata to create."
        }
      },
      "description": "A request to create developer metadata."
    },
    "BatchUpdateSpreadsheetRequest": {
      "properties": {
        "responseRanges": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Limits the ranges included in the response spreadsheet. Meaningful only if include_spreadsheet_in_response is 'true'."
        },
        "includeSpreadsheetInResponse": {
          "description": "Determines if the update response should include the spreadsheet resource.",
          "type": "boolean"
        },
        "responseIncludeGridData": {
          "type": "boolean",
          "description": "True if grid data should be returned. Meaningful only if include_spreadsheet_in_response is 'true'. This parameter is ignored if a field mask was set in the request."
        },
        "requests": {
          "items": {
            "$ref": "Request"
          },
          "type": "array",
          "description": "A list of updates to apply to the spreadsheet. Requests will be applied in the order they are specified. If any request is not valid, no requests will be applied."
        }
      },
      "description": "The request for updating any aspect of a spreadsheet.",
      "id": "BatchUpdateSpreadsheetRequest",
      "type": "object"
    },
    "AppendValuesResponse": {
      "type": "object",
      "id": "AppendValuesResponse",
      "properties": {
        "updates": {
          "$ref": "UpdateValuesResponse",
          "description": "Information about the updates that were applied."
        },
        "tableRange": {
          "description": "The range (in A1 notation) of the table that values are being appended to (before the values were appended). Empty if no table was found.",
          "type": "string"
        },
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        }
      },
      "description": "The response when updating a range of values in a spreadsheet."
    },
    "AppendDimensionRequest": {
      "description": "Appends rows or columns to the end of a sheet.",
      "properties": {
        "sheetId": {
          "description": "The sheet to append rows or columns to.",
          "type": "integer",
          "format": "int32"
        },
        "dimension": {
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "description": "Whether rows or columns should be appended.",
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "type": "string"
        },
        "length": {
          "format": "int32",
          "type": "integer",
          "description": "The number of rows or columns to append."
        }
      },
      "id": "AppendDimensionRequest",
      "type": "object"
    },
    "ExtendedValue": {
      "properties": {
        "numberValue": {
          "type": "number",
          "format": "double",
          "description": "Represents a double value. Note: Dates, Times and DateTimes are represented as doubles in SERIAL_NUMBER format."
        },
        "errorValue": {
          "$ref": "ErrorValue",
          "description": "Represents an error. This field is read-only."
        },
        "formulaValue": {
          "description": "Represents a formula.",
          "type": "string"
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value. Leading single quotes are not included. For example, if the user typed `'123` into the UI, this would be represented as a `stringValue` of `\"123\"`."
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        }
      },
      "id": "ExtendedValue",
      "description": "The kinds of value that a cell in a spreadsheet can have.",
      "type": "object"
    },
    "UpdateDataSourceResponse": {
      "properties": {
        "dataExecutionStatus": {
          "$ref": "DataExecutionStatus",
          "description": "The data execution status."
        },
        "dataSource": {
          "description": "The updated data source.",
          "$ref": "DataSource"
        }
      },
      "description": "The response from updating data source.",
      "id": "UpdateDataSourceResponse",
      "type": "object"
    },
    "BooleanRule": {
      "id": "BooleanRule",
      "description": "A rule that may or may not match, depending on the condition.",
      "type": "object",
      "properties": {
        "format": {
          "description": "The format to apply. Conditional formatting can only apply a subset of formatting: bold, italic, strikethrough, foreground color and, background color.",
          "$ref": "CellFormat"
        },
        "condition": {
          "description": "The condition of the rule. If the condition evaluates to true, the format is applied.",
          "$ref": "BooleanCondition"
        }
      }
    },
    "AddFilterViewResponse": {
      "description": "The result of adding a filter view.",
      "properties": {
        "filter": {
          "$ref": "FilterView",
          "description": "The newly added filter view."
        }
      },
      "id": "AddFilterViewResponse",
      "type": "object"
    },
    "SourceAndDestination": {
      "description": "A combination of a source range and how to extend that source.",
      "properties": {
        "dimension": {
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "description": "The dimension that data should be filled into.",
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "type": "string"
        },
        "fillLength": {
          "format": "int32",
          "description": "The number of rows or columns that data should be filled into. Positive numbers expand beyond the last row or last column of the source. Negative numbers expand before the first row or first column of the source.",
          "type": "integer"
        },
        "source": {
          "description": "The location of the data to use as the source of the autofill.",
          "$ref": "GridRange"
        }
      },
      "id": "SourceAndDestination",
      "type": "object"
    },
    "UpdateBordersRequest": {
      "id": "UpdateBordersRequest",
      "properties": {
        "right": {
          "$ref": "Border",
          "description": "The border to put at the right of the range."
        },
        "innerVertical": {
          "$ref": "Border",
          "description": "The vertical border to put within the range."
        },
        "range": {
          "description": "The range whose borders should be updated.",
          "$ref": "GridRange"
        },
        "bottom": {
          "$ref": "Border",
          "description": "The border to put at the bottom of the range."
        },
        "left": {
          "$ref": "Border",
          "description": "The border to put at the left of the range."
        },
        "innerHorizontal": {
          "description": "The horizontal border to put within the range.",
          "$ref": "Border"
        },
        "top": {
          "$ref": "Border",
          "description": "The border to put at the top of the range."
        }
      },
      "type": "object",
      "description": "Updates the borders of a range. If a field is not set in the request, that means the border remains as-is. For example, with two subsequent UpdateBordersRequest: 1. range: A1:A5 `{ top: RED, bottom: WHITE }` 2. range: A1:A5 `{ left: BLUE }` That would result in A1:A5 having a borders of `{ top: RED, bottom: WHITE, left: BLUE }`. If you want to clear a border, explicitly set the style to NONE."
    },
    "DuplicateFilterViewRequest": {
      "type": "object",
      "description": "Duplicates a particular filter view.",
      "id": "DuplicateFilterViewRequest",
      "properties": {
        "filterId": {
          "format": "int32",
          "type": "integer",
          "description": "The ID of the filter being duplicated."
        }
      }
    },
    "UpdateConditionalFormatRuleRequest": {
      "id": "UpdateConditionalFormatRuleRequest",
      "properties": {
        "newIndex": {
          "type": "integer",
          "description": "The zero-based new index the rule should end up at.",
          "format": "int32"
        },
        "rule": {
          "description": "The rule that should replace the rule at the given index.",
          "$ref": "ConditionalFormatRule"
        },
        "sheetId": {
          "type": "integer",
          "format": "int32",
          "description": "The sheet of the rule to move. Required if new_index is set, unused otherwise."
        },
        "index": {
          "format": "int32",
          "description": "The zero-based index of the rule that should be replaced or moved.",
          "type": "integer"
        }
      },
      "description": "Updates a conditional format rule at the given index, or moves a conditional format rule to another index.",
      "type": "object"
    },
    "GetSpreadsheetByDataFilterRequest": {
      "id": "GetSpreadsheetByDataFilterRequest",
      "description": "The request for retrieving a Spreadsheet.",
      "properties": {
        "includeGridData": {
          "description": "True if grid data should be returned. This parameter is ignored if a field mask was set in the request.",
          "type": "boolean"
        },
        "excludeTablesInBandedRanges": {
          "type": "boolean",
          "description": "True if tables should be excluded in the banded ranges. False if not set."
        },
        "dataFilters": {
          "description": "The DataFilters used to select which ranges to retrieve from the spreadsheet.",
          "type": "array",
          "items": {
            "$ref": "DataFilter"
          }
        }
      },
      "type": "object"
    },
    "DeleteDuplicatesRequest": {
      "description": "Removes rows within this range that contain values in the specified columns that are duplicates of values in any previous row. Rows with identical values but different letter cases, formatting, or formulas are considered to be duplicates. This request also removes duplicate rows hidden from view (for example, due to a filter). When removing duplicates, the first instance of each duplicate row scanning from the top downwards is kept in the resulting range. Content outside of the specified range isn't removed, and rows considered duplicates do not have to be adjacent to each other in the range.",
      "properties": {
        "range": {
          "$ref": "GridRange",
          "description": "The range to remove duplicates rows from."
        },
        "comparisonColumns": {
          "items": {
            "$ref": "DimensionRange"
          },
          "description": "The columns in the range to analyze for duplicate values. If no columns are selected then all columns are analyzed for duplicates.",
          "type": "array"
        }
      },
      "id": "DeleteDuplicatesRequest",
      "type": "object"
    },
    "CandlestickData": {
      "description": "The Candlestick chart data, each containing the low, open, close, and high values for a series.",
      "id": "CandlestickData",
      "properties": {
        "openSeries": {
          "description": "The range data (vertical axis) for the open/initial value for each candle. This is the bottom of the candle body. If less than the close value the candle will be filled. Otherwise the candle will be hollow.",
          "$ref": "CandlestickSeries"
        },
        "closeSeries": {
          "$ref": "CandlestickSeries",
          "description": "The range data (vertical axis) for the close/final value for each candle. This is the top of the candle body. If greater than the open value the candle will be filled. Otherwise the candle will be hollow."
        },
        "lowSeries": {
          "description": "The range data (vertical axis) for the low/minimum value for each candle. This is the bottom of the candle's center line.",
          "$ref": "CandlestickSeries"
        },
        "highSeries": {
          "$ref": "CandlestickSeries",
          "description": "The range data (vertical axis) for the high/maximum value for each candle. This is the top of the candle's center line."
        }
      },
      "type": "object"
    },
    "OverlayPosition": {
      "id": "OverlayPosition",
      "type": "object",
      "properties": {
        "offsetYPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The vertical offset, in pixels, that the object is offset from the anchor cell."
        },
        "heightPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The height of the object, in pixels. Defaults to 371."
        },
        "widthPixels": {
          "format": "int32",
          "type": "integer",
          "description": "The width of the object, in pixels. Defaults to 600."
        },
        "anchorCell": {
          "$ref": "GridCoordinate",
          "description": "The cell the object is anchored to."
        },
        "offsetXPixels": {
          "format": "int32",
          "type": "integer",
          "description": "The horizontal offset, in pixels, that the object is offset from the anchor cell."
        }
      },
      "description": "The location an object is overlaid on top of a grid."
    },
    "BatchClearValuesByDataFilterRequest": {
      "id": "BatchClearValuesByDataFilterRequest",
      "type": "object",
      "description": "The request for clearing more than one range selected by a DataFilter in a spreadsheet.",
      "properties": {
        "dataFilters": {
          "description": "The DataFilters used to determine which ranges to clear.",
          "items": {
            "$ref": "DataFilter"
          },
          "type": "array"
        }
      }
    },
    "CellFormat": {
      "properties": {
        "horizontalAlignment": {
          "type": "string",
          "enumDescriptions": [
            "The horizontal alignment is not specified. Do not use this.",
            "The text is explicitly aligned to the left of the cell.",
            "The text is explicitly aligned to the center of the cell.",
            "The text is explicitly aligned to the right of the cell."
          ],
          "description": "The horizontal alignment of the value in the cell.",
          "enum": [
            "HORIZONTAL_ALIGN_UNSPECIFIED",
            "LEFT",
            "CENTER",
            "RIGHT"
          ]
        },
        "backgroundColor": {
          "$ref": "Color",
          "description": "The background color of the cell. Deprecated: Use background_color_style.",
          "deprecated": true
        },
        "textFormat": {
          "description": "The format of the text in the cell (unless overridden by a format run). Setting a cell-level link here clears the cell's existing links. Setting the link field in a TextFormatRun takes precedence over the cell-level link.",
          "$ref": "TextFormat"
        },
        "hyperlinkDisplayType": {
          "enum": [
            "HYPERLINK_DISPLAY_TYPE_UNSPECIFIED",
            "LINKED",
            "PLAIN_TEXT"
          ],
          "description": "If one exists, how a hyperlink should be displayed in the cell.",
          "type": "string",
          "enumDescriptions": [
            "The default value: the hyperlink is rendered. Do not use this.",
            "A hyperlink should be explicitly rendered.",
            "A hyperlink should not be rendered."
          ]
        },
        "borders": {
          "$ref": "Borders",
          "description": "The borders of the cell."
        },
        "textDirection": {
          "enum": [
            "TEXT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "enumDescriptions": [
            "The text direction is not specified. Do not use this.",
            "The text direction of left-to-right was set by the user.",
            "The text direction of right-to-left was set by the user."
          ],
          "type": "string",
          "description": "The direction of the text in the cell."
        },
        "backgroundColorStyle": {
          "description": "The background color of the cell. If background_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "wrapStrategy": {
          "description": "The wrap strategy for the value in the cell.",
          "enum": [
            "WRAP_STRATEGY_UNSPECIFIED",
            "OVERFLOW_CELL",
            "LEGACY_WRAP",
            "CLIP",
            "WRAP"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value, do not use.",
            "Lines that are longer than the cell width will be written in the next cell over, so long as that cell is empty. If the next cell over is non-empty, this behaves the same as `CLIP`. The text will never wrap to the next line unless the user manually inserts a new line. Example: | First sentence. | | Manual newline that is very long. <- Text continues into next cell | Next newline. |",
            "This wrap strategy represents the old Google Sheets wrap strategy where words that are longer than a line are clipped rather than broken. This strategy is not supported on all platforms and is being phased out. Example: | Cell has a | | loooooooooo| <- Word is clipped. | word. |",
            "Lines that are longer than the cell width will be clipped. The text will never wrap to the next line unless the user manually inserts a new line. Example: | First sentence. | | Manual newline t| <- Text is clipped | Next newline. |",
            "Words that are longer than a line are wrapped at the character level rather than clipped. Example: | Cell has a | | loooooooooo| <- Word is broken. | ong word. |"
          ]
        },
        "padding": {
          "$ref": "Padding",
          "description": "The padding of the cell."
        },
        "verticalAlignment": {
          "enumDescriptions": [
            "The vertical alignment is not specified. Do not use this.",
            "The text is explicitly aligned to the top of the cell.",
            "The text is explicitly aligned to the middle of the cell.",
            "The text is explicitly aligned to the bottom of the cell."
          ],
          "type": "string",
          "enum": [
            "VERTICAL_ALIGN_UNSPECIFIED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ],
          "description": "The vertical alignment of the value in the cell."
        },
        "textRotation": {
          "description": "The rotation applied to text in the cell.",
          "$ref": "TextRotation"
        },
        "numberFormat": {
          "description": "A format describing how number values should be represented to the user.",
          "$ref": "NumberFormat"
        }
      },
      "description": "The format of a cell.",
      "id": "CellFormat",
      "type": "object"
    },
    "Interval": {
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        }
      },
      "id": "Interval",
      "type": "object"
    },
    "DeleteProtectedRangeRequest": {
      "id": "DeleteProtectedRangeRequest",
      "description": "Deletes the protected range with the given ID.",
      "properties": {
        "protectedRangeId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the protected range to delete."
        }
      },
      "type": "object"
    },
    "AddNamedRangeRequest": {
      "type": "object",
      "id": "AddNamedRangeRequest",
      "properties": {
        "namedRange": {
          "description": "The named range to add. The namedRangeId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a range that already exists.)",
          "$ref": "NamedRange"
        }
      },
      "description": "Adds a named range to the spreadsheet."
    },
    "CandlestickSeries": {
      "description": "The series of a CandlestickData.",
      "properties": {
        "data": {
          "$ref": "ChartData",
          "description": "The data of the CandlestickSeries."
        }
      },
      "type": "object",
      "id": "CandlestickSeries"
    },
    "BasicFilter": {
      "id": "BasicFilter",
      "description": "The default filter associated with a sheet. For more information, see [Manage data visibility with filters](https://developers.google.com/workspace/sheets/api/guides/filters).",
      "type": "object",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "The table this filter is backed by, if any. When writing, only one of range or table_id may be set."
        },
        "criteria": {
          "additionalProperties": {
            "$ref": "FilterCriteria"
          },
          "deprecated": true,
          "type": "object",
          "description": "The criteria for showing/hiding values per column. The map's key is the column index, and the value is the criteria for that column. This field is deprecated in favor of filter_specs."
        },
        "filterSpecs": {
          "type": "array",
          "description": "The filter criteria per column. Both criteria and filter_specs are populated in responses. If both fields are specified in an update request, this field takes precedence.",
          "items": {
            "$ref": "FilterSpec"
          }
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range the filter covers."
        },
        "sortSpecs": {
          "type": "array",
          "description": "The sort order per column. Later specifications are used when values are equal in the earlier specifications.",
          "items": {
            "$ref": "SortSpec"
          }
        }
      }
    },
    "TreemapChartSpec": {
      "id": "TreemapChartSpec",
      "description": "A Treemap chart.",
      "properties": {
        "sizeData": {
          "description": "The data that determines the size of each treemap data cell. This data is expected to be numeric. The cells corresponding to non-numeric or missing data will not be rendered. If color_data is not specified, this data is used to determine data cell background colors as well.",
          "$ref": "ChartData"
        },
        "colorData": {
          "description": "The data that determines the background color of each treemap data cell. This field is optional. If not specified, size_data is used to determine background colors. If specified, the data is expected to be numeric. color_scale will determine how the values in this data map to data cell background colors.",
          "$ref": "ChartData"
        },
        "labels": {
          "$ref": "ChartData",
          "description": "The data that contains the treemap cell labels."
        },
        "minValue": {
          "format": "double",
          "description": "The minimum possible data value. Cells with values less than this will have the same color as cells with this value. If not specified, defaults to the actual minimum value from color_data, or the minimum value from size_data if color_data is not specified.",
          "type": "number"
        },
        "headerColor": {
          "deprecated": true,
          "$ref": "Color",
          "description": "The background color for header cells. Deprecated: Use header_color_style."
        },
        "levels": {
          "type": "integer",
          "format": "int32",
          "description": "The number of data levels to show on the treemap chart. These levels are interactive and are shown with their labels. Defaults to 2 if not specified."
        },
        "headerColorStyle": {
          "description": "The background color for header cells. If header_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "parentLabels": {
          "$ref": "ChartData",
          "description": "The data the contains the treemap cells' parent labels."
        },
        "textFormat": {
          "$ref": "TextFormat",
          "description": "The text format for all labels on the chart. The link field is not supported."
        },
        "hintedLevels": {
          "type": "integer",
          "format": "int32",
          "description": "The number of additional data levels beyond the labeled levels to be shown on the treemap chart. These levels are not interactive and are shown without their labels. Defaults to 0 if not specified."
        },
        "colorScale": {
          "description": "The color scale for data cells in the treemap chart. Data cells are assigned colors based on their color values. These color values come from color_data, or from size_data if color_data is not specified. Cells with color values less than or equal to min_value will have minValueColor as their background color. Cells with color values greater than or equal to max_value will have maxValueColor as their background color. Cells with color values between min_value and max_value will have background colors on a gradient between minValueColor and maxValueColor, the midpoint of the gradient being midValueColor. Cells with missing or non-numeric color values will have noDataColor as their background color.",
          "$ref": "TreemapChartColorScale"
        },
        "maxValue": {
          "format": "double",
          "description": "The maximum possible data value. Cells with values greater than this will have the same color as cells with this value. If not specified, defaults to the actual maximum value from color_data, or the maximum value from size_data if color_data is not specified.",
          "type": "number"
        },
        "hideTooltips": {
          "type": "boolean",
          "description": "True to hide tooltips."
        }
      },
      "type": "object"
    },
    "DeveloperMetadata": {
      "id": "DeveloperMetadata",
      "type": "object",
      "properties": {
        "location": {
          "$ref": "DeveloperMetadataLocation",
          "description": "The location where the metadata is associated."
        },
        "visibility": {
          "enumDescriptions": [
            "Default value.",
            "Document-visible metadata is accessible from any developer project with access to the document.",
            "Project-visible metadata is only visible to and accessible by the developer project that created the metadata."
          ],
          "type": "string",
          "description": "The metadata visibility. Developer metadata must always have visibility specified.",
          "enum": [
            "DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED",
            "DOCUMENT",
            "PROJECT"
          ]
        },
        "metadataId": {
          "type": "integer",
          "description": "The spreadsheet-scoped unique ID that identifies the metadata. IDs may be specified when metadata is created, otherwise one will be randomly generated and assigned. Must be positive.",
          "format": "int32"
        },
        "metadataValue": {
          "type": "string",
          "description": "Data associated with the metadata's key."
        },
        "metadataKey": {
          "description": "The metadata key. There may be multiple metadata in a spreadsheet with the same key. Developer metadata must always have a key specified.",
          "type": "string"
        }
      },
      "description": "Developer metadata associated with a location or object in a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). Developer metadata may be used to associate arbitrary data with various parts of a spreadsheet and it will remain associated at those locations as they move around and the spreadsheet is edited. For example, if developer metadata is associated with row 5 and another row is then subsequently inserted above row 5, that original metadata is still associated with the row it was first associated with (what is now row 6). If the associated object is deleted then its metadata is deleted too."
    },
    "DeleteConditionalFormatRuleResponse": {
      "description": "The result of deleting a conditional format rule.",
      "id": "DeleteConditionalFormatRuleResponse",
      "properties": {
        "rule": {
          "$ref": "ConditionalFormatRule",
          "description": "The rule that was deleted."
        }
      },
      "type": "object"
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "properties": {
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        }
      },
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "ChipRun": {
      "description": "The run of a chip. The chip continues until the start index of the next run.",
      "properties": {
        "startIndex": {
          "description": "Required. The zero-based character index where this run starts, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        },
        "chip": {
          "$ref": "Chip",
          "description": "Optional. The chip of this run."
        }
      },
      "type": "object",
      "id": "ChipRun"
    },
    "DuplicateFilterViewResponse": {
      "type": "object",
      "properties": {
        "filter": {
          "$ref": "FilterView",
          "description": "The newly created filter."
        }
      },
      "description": "The result of a filter view being duplicated.",
      "id": "DuplicateFilterViewResponse"
    },
    "PivotGroupValueMetadata": {
      "description": "Metadata about a value in a pivot grouping.",
      "properties": {
        "value": {
          "description": "The calculated value the metadata corresponds to. (Note that formulaValue is not valid, because the values will be calculated.)",
          "$ref": "ExtendedValue"
        },
        "collapsed": {
          "type": "boolean",
          "description": "True if the data corresponding to the value is collapsed."
        }
      },
      "id": "PivotGroupValueMetadata",
      "type": "object"
    },
    "ScorecardChartSpec": {
      "type": "object",
      "properties": {
        "baselineValueData": {
          "$ref": "ChartData",
          "description": "The data for scorecard baseline value. This field is optional."
        },
        "keyValueData": {
          "$ref": "ChartData",
          "description": "The data for scorecard key value."
        },
        "numberFormatSource": {
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "Inherit number formatting from data.",
            "Apply custom formatting as specified by ChartCustomNumberFormatOptions."
          ],
          "description": "The number format source used in the scorecard chart. This field is optional.",
          "enum": [
            "CHART_NUMBER_FORMAT_SOURCE_UNDEFINED",
            "FROM_DATA",
            "CUSTOM"
          ]
        },
        "scaleFactor": {
          "description": "Value to scale scorecard key and baseline value. For example, a factor of 10 can be used to divide all values in the chart by 10. This field is optional.",
          "type": "number",
          "format": "double"
        },
        "aggregateType": {
          "description": "The aggregation type for key and baseline chart data in scorecard chart. This field is not supported for data source charts. Use the ChartData.aggregateType field of the key_value_data or baseline_value_data instead for data source charts. This field is optional.",
          "enum": [
            "CHART_AGGREGATE_TYPE_UNSPECIFIED",
            "AVERAGE",
            "COUNT",
            "MAX",
            "MEDIAN",
            "MIN",
            "SUM"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "Average aggregate function.",
            "Count aggregate function.",
            "Maximum aggregate function.",
            "Median aggregate function.",
            "Minimum aggregate function.",
            "Sum aggregate function."
          ],
          "type": "string"
        },
        "customFormatOptions": {
          "description": "Custom formatting options for numeric key/baseline values in scorecard chart. This field is used only when number_format_source is set to CUSTOM. This field is optional.",
          "$ref": "ChartCustomNumberFormatOptions"
        },
        "keyValueFormat": {
          "description": "Formatting options for key value.",
          "$ref": "KeyValueFormat"
        },
        "baselineValueFormat": {
          "$ref": "BaselineValueFormat",
          "description": "Formatting options for baseline value. This field is needed only if baseline_value_data is specified."
        }
      },
      "id": "ScorecardChartSpec",
      "description": "A scorecard chart. Scorecard charts are used to highlight key performance indicators, known as KPIs, on the spreadsheet. A scorecard chart can represent things like total sales, average cost, or a top selling item. You can specify a single data value, or aggregate over a range of data. Percentage or absolute difference from a baseline value can be highlighted, like changes over time."
    },
    "ClearValuesRequest": {
      "id": "ClearValuesRequest",
      "description": "The request for clearing a range of values in a spreadsheet.",
      "type": "object",
      "properties": {}
    },
    "DeleteDimensionRequest": {
      "properties": {
        "range": {
          "description": "The dimensions to delete from the sheet.",
          "$ref": "DimensionRange"
        }
      },
      "description": " Deletes the dimensions from the sheet.",
      "id": "DeleteDimensionRequest",
      "type": "object"
    },
    "DeleteDeveloperMetadataResponse": {
      "type": "object",
      "id": "DeleteDeveloperMetadataResponse",
      "properties": {
        "deletedDeveloperMetadata": {
          "items": {
            "$ref": "DeveloperMetadata"
          },
          "description": "The metadata that was deleted.",
          "type": "array"
        }
      },
      "description": "The response from deleting developer metadata."
    },
    "DataSourceRefreshWeeklySchedule": {
      "id": "DataSourceRefreshWeeklySchedule",
      "properties": {
        "daysOfWeek": {
          "type": "array",
          "items": {
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "type": "string"
          },
          "description": "Days of the week to refresh. At least one day must be specified."
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "The start time of a time interval in which a data source refresh is scheduled. Only `hours` part is used. The time interval size defaults to that in the Sheets editor."
        }
      },
      "description": "A weekly schedule for data to refresh on specific days in a given time interval.",
      "type": "object"
    },
    "RepeatCellRequest": {
      "properties": {
        "range": {
          "description": "The range to repeat the cell in.",
          "$ref": "GridRange"
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `cell` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        },
        "cell": {
          "description": "The data to write.",
          "$ref": "CellData"
        }
      },
      "id": "RepeatCellRequest",
      "description": "Updates all cells in the range to the values in the given Cell object. Only the fields listed in the fields field are updated; others are unchanged. If writing a cell with a formula, the formula's ranges will automatically increment for each field in the range. For example, if writing a cell with formula `=A1` into range B2:C4, B2 would be `=A1`, B3 would be `=A2`, B4 would be `=A3`, C2 would be `=B1`, C3 would be `=B2`, C4 would be `=B3`. To keep the formula's ranges static, use the `$` indicator. For example, use the formula `=$A$1` to prevent both the row and the column from incrementing.",
      "type": "object"
    },
    "HistogramSeries": {
      "description": "A histogram series containing the series color and data.",
      "type": "object",
      "properties": {
        "barColor": {
          "$ref": "Color",
          "deprecated": true,
          "description": "The color of the column representing this series in each bucket. This field is optional. Deprecated: Use bar_color_style."
        },
        "barColorStyle": {
          "description": "The color of the column representing this series in each bucket. This field is optional. If bar_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "data": {
          "$ref": "ChartData",
          "description": "The data for this histogram series."
        }
      },
      "id": "HistogramSeries"
    },
    "UpdateSheetPropertiesRequest": {
      "description": "Updates properties of the sheet with the specified sheetId.",
      "id": "UpdateSheetPropertiesRequest",
      "properties": {
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "properties": {
          "$ref": "SheetProperties",
          "description": "The properties to update."
        }
      },
      "type": "object"
    },
    "SortSpec": {
      "properties": {
        "foregroundColor": {
          "$ref": "Color",
          "description": "The foreground color to sort by; cells with this foreground color are sorted to the top. Mutually exclusive with background_color. Deprecated: Use foreground_color_style.",
          "deprecated": true
        },
        "dimensionIndex": {
          "format": "int32",
          "description": "The dimension the sort should be applied to.",
          "type": "integer"
        },
        "sortOrder": {
          "description": "The order data should be sorted.",
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "Default value, do not use this.",
            "Sort ascending.",
            "Sort descending."
          ],
          "type": "string"
        },
        "backgroundColorStyle": {
          "description": "The background fill color to sort by; cells with this fill color are sorted to the top. Mutually exclusive with foreground_color, and must be an RGB-type color. If background_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "dataSourceColumnReference": {
          "description": "Reference to a data source column.",
          "$ref": "DataSourceColumnReference"
        },
        "foregroundColorStyle": {
          "description": "The foreground color to sort by; cells with this foreground color are sorted to the top. Mutually exclusive with background_color, and must be an RGB-type color. If foreground_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "backgroundColor": {
          "$ref": "Color",
          "description": "The background fill color to sort by; cells with this fill color are sorted to the top. Mutually exclusive with foreground_color. Deprecated: Use background_color_style.",
          "deprecated": true
        }
      },
      "id": "SortSpec",
      "description": "A sort order associated with a specific column or row.",
      "type": "object"
    },
    "UpdateValuesByDataFilterResponse": {
      "properties": {
        "updatedRows": {
          "description": "The number of rows where at least one cell in the row was updated.",
          "type": "integer",
          "format": "int32"
        },
        "updatedData": {
          "description": "The values of the cells in the range matched by the dataFilter after all updates were applied. This is only included if the request's `includeValuesInResponse` field was `true`.",
          "$ref": "ValueRange"
        },
        "updatedColumns": {
          "description": "The number of columns where at least one cell in the column was updated.",
          "format": "int32",
          "type": "integer"
        },
        "dataFilter": {
          "description": "The data filter that selected the range that was updated.",
          "$ref": "DataFilter"
        },
        "updatedCells": {
          "format": "int32",
          "description": "The number of cells updated.",
          "type": "integer"
        },
        "updatedRange": {
          "type": "string",
          "description": "The range (in [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell)) that updates were applied to."
        }
      },
      "description": "The response when updating a range of values by a data filter in a spreadsheet.",
      "type": "object",
      "id": "UpdateValuesByDataFilterResponse"
    },
    "WaterfallChartColumnStyle": {
      "properties": {
        "color": {
          "description": "The color of the column. Deprecated: Use color_style.",
          "deprecated": true,
          "$ref": "Color"
        },
        "label": {
          "type": "string",
          "description": "The label of the column's legend."
        },
        "colorStyle": {
          "description": "The color of the column. If color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        }
      },
      "type": "object",
      "description": "Styles for a waterfall chart column.",
      "id": "WaterfallChartColumnStyle"
    },
    "DeleteEmbeddedObjectRequest": {
      "type": "object",
      "description": "Deletes the embedded object with the given ID.",
      "id": "DeleteEmbeddedObjectRequest",
      "properties": {
        "objectId": {
          "description": "The ID of the embedded object to delete.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ChartHistogramRule": {
      "type": "object",
      "id": "ChartHistogramRule",
      "properties": {
        "minValue": {
          "format": "double",
          "type": "number",
          "description": "The minimum value at which items are placed into buckets. Values that are less than the minimum are grouped into a single bucket. If omitted, it is determined by the minimum item value."
        },
        "intervalSize": {
          "type": "number",
          "description": "The size of the buckets that are created. Must be positive.",
          "format": "double"
        },
        "maxValue": {
          "type": "number",
          "description": "The maximum value at which items are placed into buckets. Values greater than the maximum are grouped into a single bucket. If omitted, it is determined by the maximum item value.",
          "format": "double"
        }
      },
      "description": "Allows you to organize numeric values in a source data column into buckets of constant size."
    },
    "ClearValuesResponse": {
      "id": "ClearValuesResponse",
      "description": "The response when clearing a range of values in a spreadsheet.",
      "type": "object",
      "properties": {
        "clearedRange": {
          "description": "The range (in A1 notation) that was cleared. (If the request was for an unbounded range or a range larger than the bounds of the sheet, this will be the actual range that was cleared, bounded to the sheet's limits.)",
          "type": "string"
        },
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        }
      }
    },
    "UpdateNamedRangeRequest": {
      "properties": {
        "namedRange": {
          "$ref": "NamedRange",
          "description": "The named range to update with the new properties."
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `namedRange` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        }
      },
      "description": "Updates properties of the named range with the specified namedRangeId.",
      "id": "UpdateNamedRangeRequest",
      "type": "object"
    },
    "CancelDataSourceRefreshRequest": {
      "description": "Cancels one or multiple refreshes of data source objects in the spreadsheet by the specified references. The request requires an additional `bigquery.readonly` OAuth scope if you are cancelling a refresh on a BigQuery data source.",
      "properties": {
        "dataSourceId": {
          "type": "string",
          "description": "Reference to a DataSource. If specified, cancels all associated data source object refreshes for this data source."
        },
        "references": {
          "$ref": "DataSourceObjectReferences",
          "description": "References to data source objects whose refreshes are to be cancelled."
        },
        "isAll": {
          "description": "Cancels all existing data source object refreshes for all data sources in the spreadsheet.",
          "type": "boolean"
        }
      },
      "id": "CancelDataSourceRefreshRequest",
      "type": "object"
    },
    "BatchUpdateSpreadsheetResponse": {
      "id": "BatchUpdateSpreadsheetResponse",
      "type": "object",
      "properties": {
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        },
        "updatedSpreadsheet": {
          "description": "The spreadsheet after updates were applied. This is only set if BatchUpdateSpreadsheetRequest.include_spreadsheet_in_response is `true`.",
          "$ref": "Spreadsheet"
        },
        "replies": {
          "items": {
            "$ref": "Response"
          },
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.",
          "type": "array"
        }
      },
      "description": "The reply for batch updating a spreadsheet."
    },
    "BigQueryQuerySpec": {
      "type": "object",
      "properties": {
        "rawQuery": {
          "description": "The raw query string.",
          "type": "string"
        }
      },
      "id": "BigQueryQuerySpec",
      "description": "Specifies a custom BigQuery query."
    },
    "BatchGetValuesByDataFilterResponse": {
      "description": "The response when retrieving more than one range of values in a spreadsheet selected by DataFilters.",
      "id": "BatchGetValuesByDataFilterResponse",
      "properties": {
[...]
