{
  "servicePath": "",
  "version": "v4",
  "id": "sheets:v4",
  "name": "sheets",
  "canonicalName": "Sheets",
  "discoveryVersion": "v1",
  "description": "Reads and writes Google Sheets.",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "See all your Google Sheets spreadsheets"
        }
      }
    }
  },
  "resources": {
    "spreadsheets": {
      "methods": {
        "batchUpdate": {
          "response": {
            "$ref": "BatchUpdateSpreadsheetResponse"
          },
          "parameterOrder": [
            "spreadsheetId"
          ],
          "flatPath": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
          "description": "Applies one or more updates to the spreadsheet. Each request is validated before being applied. If any request is not valid then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. The replies will mirror the requests. For example, if you applied 4 updates and the 3rd one had a reply, then the response will have 2 empty replies, the actual reply, and another empty reply, in that order. Due to the collaborative nature of spreadsheets, it is not guaranteed that the spreadsheet will reflect exactly your changes after this completes, however it is guaranteed that the updates in the request will be applied together atomically. Your changes may be altered with respect to collaborator changes. If there are no collaborators, the spreadsheet should reflect your changes.",
          "request": {
            "$ref": "BatchUpdateSpreadsheetRequest"
          },
          "id": "sheets.spreadsheets.batchUpdate",
          "parameters": {
            "spreadsheetId": {
              "type": "string",
              "location": "path",
              "description": "The spreadsheet to apply the updates to.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ],
          "path": "v4/spreadsheets/{spreadsheetId}:batchUpdate"
        },
        "getByDataFilter": {
          "id": "sheets.spreadsheets.getByDataFilter",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ],
          "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). This method differs from GetSpreadsheet in that it allows selecting which subsets of spreadsheet data to return by specifying a dataFilters parameter. Multiple DataFilters can be specified. Specifying one or more data filters returns the portions of the spreadsheet that intersect ranges matched by any of the filters. By default, data within grids is not returned. You can include grid data in one of two ways: * Specify a [field mask](https://developers.google.com/workspace/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP. * Set the includeGridData parameter to `true`. If a field mask is set, the `includeGridData` parameter is ignored. For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want.",
          "request": {
            "$ref": "GetSpreadsheetByDataFilterRequest"
          },
          "path": "v4/spreadsheets/{spreadsheetId}:getByDataFilter",
          "flatPath": "v4/spreadsheets/{spreadsheetId}:getByDataFilter",
          "response": {
            "$ref": "Spreadsheet"
          },
          "httpMethod": "POST",
          "parameters": {
            "spreadsheetId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The spreadsheet to request."
            }
          },
          "parameterOrder": [
            "spreadsheetId"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "v4/spreadsheets/{spreadsheetId}",
          "response": {
            "$ref": "Spreadsheet"
          },
          "parameters": {
            "spreadsheetId": {
              "description": "The spreadsheet to request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "includeGridData": {
              "location": "query",
              "type": "boolean",
              "description": "True if grid data should be returned. This parameter is ignored if a field mask was set in the request."
            },
            "excludeTablesInBandedRanges": {
              "type": "boolean",
              "location": "query",
              "description": "True if tables should be excluded in the banded ranges. False if not set."
            },
            "commentsViewMode": {
              "type": "string",
              "enum": [
                "COMMENTS_VIEW_MODE_UNSPECIFIED",
                "COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS",
                "COMMENTS_VIEW_MODE_OMITTED",
                "COMMENTS_VIEW_MODE_INCLUDED"
              ],
              "description": "The comments view mode to apply to the spreadsheet. This allows viewing the spreadsheet with comments omitted or included. If one is not specified, COMMENTS_VIEW_MODE_OMITTED is used.",
              "enumDescriptions": [
                "The CommentsViewMode is unspecified; COMMENTS_VIEW_MODE_OMITTED is applied.",
                "The CommentsViewMode applied to the returned spreadsheet depends on the user's current access level. If the user only has view access, COMMENTS_VIEW_MODE_OMITTED is applied. Otherwise, COMMENTS_VIEW_MODE_INCLUDED is applied.",
                "The returned spreadsheet has comments omitted.",
                "The returned spreadsheet has comments included. Requests to retrieve a spreadsheet using this mode will return a 403 error if the user does not have permission to view comments."
              ],
              "location": "query"
            },
            "ranges": {
              "location": "query",
              "type": "string",
              "description": "The ranges to retrieve from the spreadsheet.",
              "repeated": true
            }
          },
          "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. By default, data within grids is not returned. You can include grid data in one of 2 ways: * Specify a [field mask](https://developers.google.com/workspace/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData URL parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want. To retrieve only subsets of spreadsheet data, use the ranges URL parameter. Ranges are specified using [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell). You can define a single cell (for example, `A1`) or multiple cells (for example, `A1:D5`). You can also get cells from other sheets within the same spreadsheet (for example, `Sheet2!A1:C4`) or retrieve multiple ranges at once (for example, `?ranges=A1:D5&ranges=Sheet2!A1:C4`). Limiting the range returns only the portions of the spreadsheet that intersect the requested ranges.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly"
          ],
          "parameterOrder": [
            "spreadsheetId"
          ],
          "path": "v4/spreadsheets/{spreadsheetId}",
          "id": "sheets.spreadsheets.get"
        },
        "create": {
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "Spreadsheet"
          },
          "response": {
            "$ref": "Spreadsheet"
          },
          "flatPath": "v4/spreadsheets",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ],
          "parameterOrder": [],
          "path": "v4/spreadsheets",
          "description": "Creates a spreadsheet, returning the newly created spreadsheet.",
          "id": "sheets.spreadsheets.create"
        }
      },
      "resources": {
        "values": {
          "methods": {
            "batchClearByDataFilter": {
              "parameterOrder": [
                "spreadsheetId"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter",
              "id": "sheets.spreadsheets.values.batchClearByDataFilter",
              "description": "Clears one or more ranges of values from a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID and one or more DataFilters. Ranges matching any of the specified data filters will be cleared. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc.) are kept.",
              "httpMethod": "POST",
              "parameters": {
                "spreadsheetId": {
                  "required": true,
                  "location": "path",
                  "description": "The ID of the spreadsheet to update.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "BatchClearValuesByDataFilterRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter",
              "response": {
                "$ref": "BatchClearValuesByDataFilterResponse"
              }
            },
            "batchUpdateByDataFilter": {
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter",
              "response": {
                "$ref": "BatchUpdateValuesByDataFilterResponse"
              },
              "request": {
                "$ref": "BatchUpdateValuesByDataFilterRequest"
              },
              "id": "sheets.spreadsheets.values.batchUpdateByDataFilter",
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "description": "Sets values in one or more ranges of a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID, a valueInputOption, and one or more DataFilterValueRanges.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            },
            "batchUpdate": {
              "description": "Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more ValueRanges.",
              "request": {
                "$ref": "BatchUpdateValuesRequest"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "id": "sheets.spreadsheets.values.batchUpdate",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "response": {
                "$ref": "BatchUpdateValuesResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "update": {
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "id": "sheets.spreadsheets.values.update",
              "httpMethod": "PUT",
              "request": {
                "$ref": "ValueRange"
              },
              "parameters": {
                "valueInputOption": {
                  "description": "How the input data should be interpreted.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "INPUT_VALUE_OPTION_UNSPECIFIED",
                    "RAW",
                    "USER_ENTERED"
                  ],
                  "enumDescriptions": [
                    "Default input value. This value must not be used.",
                    "The values the user has entered will not be parsed and will be stored as-is.",
                    "The values will be parsed as if the user typed them into the UI. Numbers will stay as numbers, but strings may be converted to numbers, dates, etc. following the same rules that are applied when entering text into a cell via the Google Sheets UI."
                  ]
                },
                "range": {
                  "location": "path",
                  "description": "The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to update.",
                  "required": true,
                  "type": "string"
                },
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "includeValuesInResponse": {
                  "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).",
                  "location": "query",
                  "type": "boolean"
                },
                "responseValueRenderOption": {
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
                  ]
                },
                "responseDateTimeRenderOption": {
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ],
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER."
                }
              },
              "description": "Sets values in a range of a spreadsheet. The caller must specify the spreadsheet ID, range, and a valueInputOption.",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "response": {
                "$ref": "UpdateValuesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            },
            "batchGetByDataFilter": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "parameterOrder": [
                "spreadsheetId"
              ],
              "description": "Returns one or more ranges of values that match the specified data filters. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID and one or more DataFilters. Ranges that match any of the data filters in the request will be returned.",
              "id": "sheets.spreadsheets.values.batchGetByDataFilter",
              "parameters": {
                "spreadsheetId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the spreadsheet to retrieve data from.",
                  "location": "path"
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter",
              "httpMethod": "POST",
              "response": {
                "$ref": "BatchGetValuesByDataFilterResponse"
              },
              "request": {
                "$ref": "BatchGetValuesByDataFilterRequest"
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter"
            },
            "clear": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "id": "sheets.spreadsheets.values.clear",
              "response": {
                "$ref": "ClearValuesResponse"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}:clear",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}:clear",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "httpMethod": "POST",
              "description": "Clears values from a spreadsheet. The caller must specify the spreadsheet ID and range. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.",
              "parameters": {
                "range": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to clear."
                },
                "spreadsheetId": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the spreadsheet to update.",
                  "required": true
                }
              },
              "request": {
                "$ref": "ClearValuesRequest"
              }
            },
            "append": {
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}:append",
              "httpMethod": "POST",
              "description": "Appends values to a spreadsheet. The input range is used to search for existing data and find a \"table\" within that range. Values will be appended to the next row of the table, starting with the first column of the table. See the [guide](https://developers.google.com/workspace/sheets/api/guides/values#appending_values) and [sample code](https://developers.google.com/workspace/sheets/api/samples/writing#append_values) for specific details of how tables are detected and data is appended. The caller must specify the spreadsheet ID, range, and a valueInputOption. The `valueInputOption` only controls how the input data will be added to the sheet (column-wise or row-wise), it does not influence what cell the data starts being written to.",
              "parameters": {
                "responseDateTimeRenderOption": {
                  "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ],
                  "type": "string",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "location": "query"
                },
                "range": {
                  "type": "string",
                  "required": true,
                  "description": "The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of a range to search for a logical table of data. Values are appended after the last row of the table.",
                  "location": "path"
                },
                "insertDataOption": {
                  "type": "string",
                  "enum": [
                    "OVERWRITE",
                    "INSERT_ROWS"
                  ],
                  "enumDescriptions": [
                    "The new data overwrites existing data in the areas it is written. (Note: adding data to the end of the sheet will still insert new rows or columns so the data can be written.)",
                    "Rows are inserted for the new data."
                  ],
                  "location": "query",
                  "description": "How the input data should be inserted."
                },
                "valueInputOption": {
                  "enumDescriptions": [
                    "Default input value. This value must not be used.",
                    "The values the user has entered will not be parsed and will be stored as-is.",
                    "The values will be parsed as if the user typed them into the UI. Numbers will stay as numbers, but strings may be converted to numbers, dates, etc. following the same rules that are applied when entering text into a cell via the Google Sheets UI."
                  ],
                  "location": "query",
                  "description": "How the input data should be interpreted.",
                  "type": "string",
                  "enum": [
                    "INPUT_VALUE_OPTION_UNSPECIFIED",
                    "RAW",
                    "USER_ENTERED"
                  ]
                },
                "includeValuesInResponse": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Determines if the update response should include the values of the cells that were appended. By default, responses do not include the updated values."
                },
                "spreadsheetId": {
                  "type": "string",
                  "description": "The ID of the spreadsheet to update.",
                  "required": true,
                  "location": "path"
                },
                "responseValueRenderOption": {
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
                  ],
                  "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE."
                }
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}:append",
              "response": {
                "$ref": "AppendValuesResponse"
              },
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "request": {
                "$ref": "ValueRange"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "id": "sheets.spreadsheets.values.append"
            },
            "batchClear": {
              "httpMethod": "POST",
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchClear",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "id": "sheets.spreadsheets.values.batchClear",
              "request": {
                "$ref": "BatchClearValuesRequest"
              },
              "description": "Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges. Only values are cleared -- all other properties of the cell (such as formatting and data validation) are kept.",
              "response": {
                "$ref": "BatchClearValuesResponse"
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchClear",
              "parameterOrder": [
                "spreadsheetId"
              ]
            },
            "get": {
              "response": {
                "$ref": "ValueRange"
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "description": "Returns a range of values from a spreadsheet. The caller must specify the spreadsheet ID and a range.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly"
              ],
              "parameters": {
                "dateTimeRenderOption": {
                  "location": "query",
                  "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ],
                  "type": "string",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ]
                },
                "range": {
                  "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "valueRenderOption": {
                  "description": "How values should be represented in the output. The default render option is FORMATTED_VALUE.",
                  "type": "string",
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
                  ]
                },
                "majorDimension": {
                  "type": "string",
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "ROWS",
                    "COLUMNS"
                  ],
                  "location": "query",
                  "description": "The major dimension that results should use. For example, if the spreadsheet data in Sheet1 is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=Sheet1!A1:B2?majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=Sheet1!A1:B2?majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
                  "enumDescriptions": [
                    "The default value, do not use.",
                    "Operates on the rows of a sheet.",
                    "Operates on the columns of a sheet."
                  ]
                },
                "spreadsheetId": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the spreadsheet to retrieve data from.",
                  "type": "string"
                }
              },
              "id": "sheets.spreadsheets.values.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}"
            },
            "batchGet": {
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchGet",
              "response": {
                "$ref": "BatchGetValuesResponse"
              },
              "parameters": {
                "valueRenderOption": {
                  "type": "string",
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
                  ],
                  "description": "How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE.",
                  "location": "query"
                },
                "dateTimeRenderOption": {
                  "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ],
                  "type": "string",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "location": "query"
                },
                "spreadsheetId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the spreadsheet to retrieve data from."
                },
                "ranges": {
                  "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.",
                  "type": "string",
                  "repeated": true,
                  "location": "query"
                },
                "majorDimension": {
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "ROWS",
                    "COLUMNS"
                  ],
                  "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `ranges=[\"A1:B2\"],majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `ranges=[\"A1:B2\"],majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
                  "enumDescriptions": [
                    "The default value, do not use.",
                    "Operates on the rows of a sheet.",
                    "Operates on the columns of a sheet."
                  ]
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "description": "Returns one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchGet",
              "id": "sheets.spreadsheets.values.batchGet"
            }
          }
        },
        "developerMetadata": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "httpMethod": "GET",
              "parameters": {
                "metadataId": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the developer metadata to retrieve.",
                  "type": "integer",
                  "format": "int32"
                },
                "spreadsheetId": {
                  "location": "path",
                  "description": "The ID of the spreadsheet to retrieve metadata from.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "spreadsheetId",
                "metadataId"
              ],
              "flatPath": "v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}",
              "response": {
                "$ref": "DeveloperMetadata"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}",
              "id": "sheets.spreadsheets.developerMetadata.get",
              "description": "Returns the developer metadata with the specified ID. The caller must specify the spreadsheet ID and the developer metadata's unique metadataId. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata)."
            },
            "search": {
              "response": {
                "$ref": "SearchDeveloperMetadataResponse"
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/developerMetadata:search",
              "request": {
                "$ref": "SearchDeveloperMetadataRequest"
              },
              "parameterOrder": [
                "spreadsheetId"
              ],
              "description": "Returns all developer metadata matching the specified DataFilter. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). If the provided DataFilter represents a DeveloperMetadataLookup object, this will return all DeveloperMetadata entries selected by it. If the DataFilter represents a location in a spreadsheet, this will return all developer metadata associated with locations intersecting that region.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "id": "sheets.spreadsheets.developerMetadata.search",
              "parameters": {
                "spreadsheetId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the spreadsheet to retrieve metadata from."
                }
              },
              "httpMethod": "POST",
              "path": "v4/spreadsheets/{spreadsheetId}/developerMetadata:search"
            }
          }
        },
        "sheets": {
          "methods": {
            "copyTo": {
              "path": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo",
              "httpMethod": "POST",
              "parameters": {
                "sheetId": {
                  "format": "int32",
                  "location": "path",
                  "required": true,
                  "type": "integer",
                  "description": "The ID of the sheet to copy."
                },
                "spreadsheetId": {
                  "required": true,
                  "location": "path",
                  "description": "The ID of the spreadsheet containing the sheet to copy.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "description": "Copies a single sheet from a spreadsheet to another spreadsheet. Returns the properties of the newly created sheet.",
              "id": "sheets.spreadsheets.sheets.copyTo",
              "parameterOrder": [
                "spreadsheetId",
                "sheetId"
              ],
              "request": {
                "$ref": "CopySheetToAnotherSpreadsheetRequest"
              },
              "response": {
                "$ref": "SheetProperties"
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo"
            }
          }
        }
      }
    }
  },
  "title": "Google Sheets API",
  "mtlsRootUrl": "https://sheets.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "revision": "20261005",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "rootUrl": "https://sheets.googleapis.com/",
  "ownerName": "Google",
  "version_module": true,
  "documentationLink": "https://developers.google.com/workspace/sheets/",
  "protocol": "rest",
  "baseUrl": "https://sheets.googleapis.com/",
  "batchPath": "batch",
  "schemas": {
    "DataValidationRule": {
      "description": "A data validation rule.",
      "type": "object",
      "id": "DataValidationRule",
      "properties": {
        "inputMessage": {
          "type": "string",
          "description": "A message to show the user when adding data to the cell."
        },
        "condition": {
          "description": "The condition that data in the cell must match.",
          "$ref": "BooleanCondition"
        },
        "strict": {
          "description": "True if invalid data should be rejected.",
          "type": "boolean"
        },
        "showCustomUi": {
          "description": "True if the UI should be customized based on the kind of condition. If true, \"List\" conditions will show a dropdown.",
          "type": "boolean"
        }
      }
    },
    "InsertDimensionRequest": {
      "properties": {
        "range": {
          "$ref": "DimensionRange",
          "description": "The dimensions to insert. Both the start and end indexes must be bounded."
        },
        "inheritFromBefore": {
          "type": "boolean",
          "description": "Whether dimension properties should be extended from the dimensions before or after the newly inserted dimensions. True to inherit from the dimensions before (in which case the start index must be greater than 0), and false to inherit from the dimensions after. For example, if row index 0 has red background and row index 1 has a green background, then inserting 2 rows at index 1 can inherit either the green or red background. If `inheritFromBefore` is true, the two new rows will be red (because the row before the insertion point was red), whereas if `inheritFromBefore` is false, the two new rows will be green (because the row after the insertion point was green)."
        }
      },
      "type": "object",
      "description": "Inserts rows or columns in a sheet at a particular index.",
      "id": "InsertDimensionRequest"
    },
    "SlicerSpec": {
      "properties": {
        "filterCriteria": {
          "description": "The filtering criteria of the slicer.",
          "$ref": "FilterCriteria"
        },
        "dataRange": {
          "description": "The data range of the slicer.",
          "$ref": "GridRange"
        },
        "backgroundColorStyle": {
          "description": "The background color of the slicer. If background_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "horizontalAlignment": {
          "description": "The horizontal alignment of title in the slicer. If unspecified, defaults to `LEFT`",
          "enumDescriptions": [
            "The horizontal alignment is not specified. Do not use this.",
            "The text is explicitly aligned to the left of the cell.",
            "The text is explicitly aligned to the center of the cell.",
            "The text is explicitly aligned to the right of the cell."
          ],
          "type": "string",
          "enum": [
            "HORIZONTAL_ALIGN_UNSPECIFIED",
            "LEFT",
            "CENTER",
            "RIGHT"
          ]
        },
        "backgroundColor": {
          "description": "The background color of the slicer. Deprecated: Use background_color_style.",
          "deprecated": true,
          "$ref": "Color"
        },
        "textFormat": {
          "description": "The text format of title in the slicer. The link field is not supported.",
          "$ref": "TextFormat"
        },
        "title": {
          "type": "string",
          "description": "The title of the slicer."
        },
        "columnIndex": {
          "description": "The zero-based column index in the data table on which the filter is applied to.",
          "type": "integer",
          "format": "int32"
        },
        "applyToPivotTables": {
          "type": "boolean",
          "description": "True if the filter should apply to pivot tables. If not set, default to `True`."
        }
      },
      "description": "The specifications of a slicer.",
      "type": "object",
      "id": "SlicerSpec"
    },
    "UpdateEmbeddedObjectBorderRequest": {
      "type": "object",
      "id": "UpdateEmbeddedObjectBorderRequest",
      "description": "Updates an embedded object's border property.",
      "properties": {
        "border": {
          "$ref": "EmbeddedObjectBorder",
          "description": "The border that applies to the embedded object."
        },
        "objectId": {
          "format": "int32",
          "type": "integer",
          "description": "The ID of the embedded object to update."
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `border` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "ChartDateTimeRule": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "CHART_DATE_TIME_RULE_TYPE_UNSPECIFIED",
            "SECOND",
            "MINUTE",
            "HOUR",
            "HOUR_MINUTE",
            "HOUR_MINUTE_AMPM",
            "DAY_OF_WEEK",
            "DAY_OF_YEAR",
            "DAY_OF_MONTH",
            "DAY_MONTH",
            "MONTH",
            "QUARTER",
            "YEAR",
            "YEAR_MONTH",
            "YEAR_QUARTER",
            "YEAR_MONTH_DAY"
          ],
          "enumDescriptions": [
            "The default type, do not use.",
            "Group dates by second, from 0 to 59.",
            "Group dates by minute, from 0 to 59.",
            "Group dates by hour using a 24-hour system, from 0 to 23.",
            "Group dates by hour and minute using a 24-hour system, for example 19:45.",
            "Group dates by hour and minute using a 12-hour system, for example 7:45 PM. The AM/PM designation is translated based on the spreadsheet locale.",
            "Group dates by day of week, for example Sunday. The days of the week will be translated based on the spreadsheet locale.",
            "Group dates by day of year, from 1 to 366. Note that dates after Feb. 29 fall in different buckets in leap years than in non-leap years.",
            "Group dates by day of month, from 1 to 31.",
            "Group dates by day and month, for example 22-Nov. The month is translated based on the spreadsheet locale.",
            "Group dates by month, for example Nov. The month is translated based on the spreadsheet locale.",
            "Group dates by quarter, for example Q1 (which represents Jan-Mar).",
            "Group dates by year, for example 2008.",
            "Group dates by year and month, for example 2008-Nov. The month is translated based on the spreadsheet locale.",
            "Group dates by year and quarter, for example 2008 Q4.",
            "Group dates by year, month, and day, for example 2008-11-22."
          ],
          "description": "The type of date-time grouping to apply."
        }
      },
      "id": "ChartDateTimeRule",
      "description": "Allows you to organize the date-time values in a source data column into buckets based on selected parts of their date or time values.",
      "type": "object"
    },
    "DataSourceSheetDimensionRange": {
      "type": "object",
      "properties": {
        "sheetId": {
          "description": "The ID of the data source sheet the range is on.",
          "type": "integer",
          "format": "int32"
        },
        "columnReferences": {
          "type": "array",
          "items": {
            "$ref": "DataSourceColumnReference"
          },
          "description": "The columns on the data source sheet."
        }
      },
      "description": "A range along a single dimension on a DATA_SOURCE sheet.",
      "id": "DataSourceSheetDimensionRange"
    },
    "GridProperties": {
      "properties": {
        "columnGroupControlAfter": {
          "type": "boolean",
          "description": "True if the column grouping control toggle is shown after the group."
        },
        "columnCount": {
          "description": "The number of columns in the grid.",
          "format": "int32",
          "type": "integer"
        },
        "frozenColumnCount": {
          "format": "int32",
          "description": "The number of columns that are frozen in the grid.",
          "type": "integer"
        },
        "hideGridlines": {
          "description": "True if the grid isn't showing gridlines in the UI.",
          "type": "boolean"
        },
        "frozenRowCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of rows that are frozen in the grid."
        },
        "rowCount": {
          "type": "integer",
          "description": "The number of rows in the grid.",
          "format": "int32"
        },
        "rowGroupControlAfter": {
          "description": "True if the row grouping control toggle is shown after the group.",
          "type": "boolean"
        }
      },
      "id": "GridProperties",
      "description": "Properties of a grid.",
      "type": "object"
    },
    "InterpolationPoint": {
      "id": "InterpolationPoint",
      "properties": {
        "color": {
          "$ref": "Color",
          "description": "The color this interpolation point should use. Deprecated: Use color_style.",
          "deprecated": true
        },
        "value": {
          "type": "string",
          "description": "The value this interpolation point uses. May be a formula. Unused if type is MIN or MAX."
        },
        "colorStyle": {
          "description": "The color this interpolation point should use. If color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "type": {
          "description": "How the value should be interpreted.",
          "enumDescriptions": [
            "The default value, do not use.",
            "The interpolation point uses the minimum value in the cells over the range of the conditional format.",
            "The interpolation point uses the maximum value in the cells over the range of the conditional format.",
            "The interpolation point uses exactly the value in InterpolationPoint.value.",
            "The interpolation point is the given percentage over all the cells in the range of the conditional format. This is equivalent to `NUMBER` if the value was: `=(MAX(FLATTEN(range)) * (value / 100)) + (MIN(FLATTEN(range)) * (1 - (value / 100)))` (where errors in the range are ignored when flattening).",
            "The interpolation point is the given percentile over all the cells in the range of the conditional format. This is equivalent to `NUMBER` if the value was: `=PERCENTILE(FLATTEN(range), value / 100)` (where errors in the range are ignored when flattening)."
          ],
          "type": "string",
          "enum": [
            "INTERPOLATION_POINT_TYPE_UNSPECIFIED",
            "MIN",
            "MAX",
            "NUMBER",
            "PERCENT",
            "PERCENTILE"
          ]
        }
      },
      "description": "A single interpolation point on a gradient conditional format. These pin the gradient color scale according to the color, type and value chosen.",
      "type": "object"
    },
    "TextPosition": {
      "id": "TextPosition",
      "type": "object",
      "description": "Position settings for text.",
      "properties": {
        "horizontalAlignment": {
          "type": "string",
          "enum": [
            "HORIZONTAL_ALIGN_UNSPECIFIED",
            "LEFT",
            "CENTER",
            "RIGHT"
          ],
          "description": "Horizontal alignment setting for the piece of text.",
          "enumDescriptions": [
            "The horizontal alignment is not specified. Do not use this.",
            "The text is explicitly aligned to the left of the cell.",
            "The text is explicitly aligned to the center of the cell.",
            "The text is explicitly aligned to the right of the cell."
          ]
        }
      }
    },
    "AutoFillRequest": {
      "id": "AutoFillRequest",
      "properties": {
        "sourceAndDestination": {
          "$ref": "SourceAndDestination",
          "description": "The source and destination areas to autofill. This explicitly lists the source of the autofill and where to extend that data."
        },
        "useAlternateSeries": {
          "description": "True if we should generate data with the \"alternate\" series. This differs based on the type and amount of source data.",
          "type": "boolean"
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range to autofill. This will examine the range and detect the location that has data and automatically fill that data in to the rest of the range."
        }
      },
      "description": "Fills in more data based on existing data.",
      "type": "object"
    },
    "ChartGroupRule": {
      "type": "object",
      "description": "An optional setting on the ChartData of the domain of a data source chart that defines buckets for the values in the domain rather than breaking out each individual value. For example, when plotting a data source chart, you can specify a histogram rule on the domain (it should only contain numeric values), grouping its values into buckets. Any values of a chart series that fall into the same bucket are aggregated based on the aggregate_type.",
      "properties": {
        "histogramRule": {
          "description": "A ChartHistogramRule",
          "$ref": "ChartHistogramRule"
        },
        "dateTimeRule": {
          "$ref": "ChartDateTimeRule",
          "description": "A ChartDateTimeRule."
        }
      },
      "id": "ChartGroupRule"
    },
    "PivotFilterCriteria": {
      "id": "PivotFilterCriteria",
      "properties": {
        "condition": {
          "$ref": "BooleanCondition",
          "description": "A condition that must be true for values to be shown. (`visibleValues` does not override this -- even if a value is listed there, it is still hidden if it does not meet the condition.) Condition values that refer to ranges in A1-notation are evaluated relative to the pivot table sheet. References are treated absolutely, so are not filled down the pivot table. For example, a condition value of `=A1` on \"Pivot Table 1\" is treated as `'Pivot Table 1'!$A$1`. The source data of the pivot table can be referenced by column header name. For example, if the source data has columns named \"Revenue\" and \"Cost\" and a condition is applied to the \"Revenue\" column with type `NUMBER_GREATER` and value `=Cost`, then only columns where \"Revenue\" > \"Cost\" are included."
        },
        "visibleValues": {
          "description": "Values that should be included. Values not listed here are excluded.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "visibleByDefault": {
          "description": "Whether values are visible by default. If true, the visible_values are ignored, all values that meet condition (if specified) are shown. If false, values that are both in visible_values and meet condition are shown.",
          "type": "boolean"
        }
      },
      "description": "Criteria for showing/hiding rows in a pivot table.",
      "type": "object"
    },
    "Post": {
      "type": "object",
      "description": "Represents a single post in a comment thread.",
      "id": "Post",
      "properties": {
        "createTime": {
          "description": "Output only. The time the post was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "commentAction": {
          "description": "Action taken as part of creating the post.",
          "type": "string",
          "enum": [
            "COMMENT_ACTION_TYPE_UNSPECIFIED",
            "NO_COMMENT_ACTION_CHANGE",
            "RESOLVE",
            "REOPEN"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "No action change in this post.",
            "This post resolves the thread.",
            "This post reopens the thread."
          ]
        },
        "fromCopiedSpreadsheet": {
          "description": "Output only. Whether the post is from a copied spreadsheet. This field cannot be set directly by callers.",
          "type": "boolean"
        },
        "contentHtml": {
          "type": "string",
          "description": "Output only. The content of the post as HTML."
        },
        "deleted": {
          "description": "Output only. Whether the post is deleted. If `true`, content and author fields will be empty.",
          "type": "boolean"
        },
        "postId": {
          "description": "Output only. The unique ID of the post.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time the post was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "content": {
          "description": "The content of the post. Required to be non-empty if comment_action is not `RESOLVE` or `REOPEN`. This text content will be handled similarly to comments created in the Sheets editor. It will have similar behaviors for formatting, notifications, etc. May not exceed 2048 UTF-8 code units.",
          "type": "string"
        },
        "author": {
          "$ref": "PostAuthor",
          "description": "Output only. The user who created the post."
        },
        "fromImportedSpreadsheet": {
          "description": "Output only. Whether the post is from an imported spreadsheet. This field cannot be set directly by callers.",
          "type": "boolean"
        },
        "assigneeEmail": {
          "description": "Optional. The email of the user who is being newly assigned to the thread as part of this post. Returns a 400 bad request error if: - The parent thread is a CommentThread whose headPost does not have an assignee. - commentAction is specified as `RESOLVE` or `REOPEN`. - `assignee_email` exceeds 2048 UTF-8 code units.",
          "type": "string"
        }
      }
    },
    "AddBandingResponse": {
      "type": "object",
      "id": "AddBandingResponse",
      "properties": {
        "bandedRange": {
          "$ref": "BandedRange",
          "description": "The banded range that was added."
        }
      },
      "description": "The result of adding a banded range."
    },
    "DeleteBandingRequest": {
      "properties": {
        "bandedRangeId": {
          "description": "The ID of the banded range to delete.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "DeleteBandingRequest",
      "description": "Removes the banded range with the given ID from the spreadsheet.",
      "type": "object"
    },
    "AddCommentReplyResponse": {
      "id": "AddCommentReplyResponse",
      "type": "object",
      "properties": {
        "post": {
          "description": "The newly-inserted reply Post.",
          "$ref": "Post"
        }
      },
      "description": "The result of creating a reply."
    },
    "ColorStyle": {
      "id": "ColorStyle",
      "type": "object",
      "properties": {
        "rgbColor": {
          "$ref": "Color",
          "description": "RGB color. The [`alpha`](https://developers.google.com/workspace/sheets/api/reference/rest/v4/spreadsheets/other#Color.FIELDS.alpha) value in the [`Color`](https://developers.google.com/workspace/sheets/api/reference/rest/v4/spreadsheets/other#color) object isn't generally supported."
        },
        "themeColor": {
          "type": "string",
          "enum": [
            "THEME_COLOR_TYPE_UNSPECIFIED",
            "TEXT",
            "BACKGROUND",
            "ACCENT1",
            "ACCENT2",
            "ACCENT3",
            "ACCENT4",
            "ACCENT5",
            "ACCENT6",
            "LINK"
          ],
          "enumDescriptions": [
            "Unspecified theme color",
            "Represents the primary text color",
            "Represents the primary background color",
            "Represents the first accent color",
            "Represents the second accent color",
            "Represents the third accent color",
            "Represents the fourth accent color",
            "Represents the fifth accent color",
            "Represents the sixth accent color",
            "Represents the color to use for hyperlinks"
          ],
          "description": "Theme color."
        }
      },
      "description": "A color value."
    },
    "DeleteCommentRequest": {
      "type": "object",
      "properties": {
        "commentId": {
          "type": "string",
          "description": "The ID of the CommentThread that is being deleted."
        }
      },
      "description": "Deletes a CommentThread. Returns a 400 bad request error if the requesting user is not the author of the headPost.",
      "id": "DeleteCommentRequest"
    },
    "DeveloperMetadataLocation": {
      "properties": {
        "locationType": {
          "description": "The type of location this object represents. This field is read-only.",
          "enumDescriptions": [
            "Default value.",
            "Developer metadata associated on an entire row dimension.",
            "Developer metadata associated on an entire column dimension.",
            "Developer metadata associated on an entire sheet.",
            "Developer metadata associated on the entire spreadsheet."
          ],
          "type": "string",
          "enum": [
            "DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED",
            "ROW",
            "COLUMN",
            "SHEET",
            "SPREADSHEET"
          ]
        },
        "dimensionRange": {
          "description": "Represents the row or column when metadata is associated with a dimension. The specified DimensionRange must represent a single row or column. It cannot be unbounded or span multiple rows or columns.",
          "$ref": "DimensionRange"
        },
        "sheetId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the sheet when metadata is associated with an entire sheet."
        },
        "spreadsheet": {
          "description": "True when metadata is associated with an entire spreadsheet.",
          "type": "boolean"
        }
      },
      "description": "A location where metadata may be associated in a spreadsheet.",
      "type": "object",
      "id": "DeveloperMetadataLocation"
    },
    "DeleteDuplicatesResponse": {
      "description": "The result of removing duplicates in a range.",
      "type": "object",
      "properties": {
        "duplicatesRemovedCount": {
          "description": "The number of duplicate rows removed.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "DeleteDuplicatesResponse"
    },
    "ErrorValue": {
      "id": "ErrorValue",
      "description": "An error in a cell.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The default error type, do not use this.",
            "Corresponds to the `#ERROR!` error.",
            "Corresponds to the `#NULL!` error.",
            "Corresponds to the `#DIV/0` error.",
            "Corresponds to the `#VALUE!` error.",
            "Corresponds to the `#REF!` error.",
            "Corresponds to the `#NAME?` error.",
            "Corresponds to the `#NUM!` error.",
            "Corresponds to the `#N/A` error.",
            "Corresponds to the `Loading...` state."
          ],
          "description": "The type of error.",
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "ERROR",
            "NULL_VALUE",
            "DIVIDE_BY_ZERO",
            "VALUE",
            "REF",
            "NAME",
            "NUM",
            "N_A",
            "LOADING"
          ]
        },
        "message": {
          "type": "string",
          "description": "A message with more information about the error (in the spreadsheet's locale)."
        }
      },
      "type": "object"
    },
    "BasicChartSeries": {
      "properties": {
        "color": {
          "deprecated": true,
          "description": "The color for elements (such as bars, lines, and points) associated with this series. If empty, a default color is used. Deprecated: Use color_style.",
          "$ref": "Color"
        },
        "dataLabel": {
          "description": "Information about the data labels for this series.",
          "$ref": "DataLabel"
        },
        "targetAxis": {
          "type": "string",
          "enum": [
            "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
            "BOTTOM_AXIS",
            "LEFT_AXIS",
            "RIGHT_AXIS"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "The axis rendered at the bottom of a chart. For most charts, this is the standard major axis. For bar charts, this is a minor axis.",
            "The axis rendered at the left of a chart. For most charts, this is a minor axis. For bar charts, this is the standard major axis.",
            "The axis rendered at the right of a chart. For most charts, this is a minor axis. For bar charts, this is an unusual major axis."
          ],
          "description": "The minor axis that will specify the range of values for this series. For example, if charting stocks over time, the \"Volume\" series may want to be pinned to the right with the prices pinned to the left, because the scale of trading volume is different than the scale of prices. It is an error to specify an axis that isn't a valid minor axis for the chart's type."
        },
        "colorStyle": {
          "description": "The color for elements (such as bars, lines, and points) associated with this series. If empty, a default color is used. If color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "pointStyle": {
          "description": "The style for points associated with this series. Valid only if the chartType is AREA, LINE, or SCATTER. COMBO charts are also supported if the series chart type is AREA, LINE, or SCATTER. If empty, a default point style is used.",
          "$ref": "PointStyle"
        },
        "type": {
          "description": "The type of this series. Valid only if the chartType is COMBO. Different types will change the way the series is visualized. Only LINE, AREA, and COLUMN are supported.",
          "enumDescriptions": [
            "Default value, do not use.",
            "A bar chart.",
            "A line chart.",
            "An area chart.",
            "A column chart.",
            "A scatter chart.",
            "A combo chart.",
            "A stepped area chart."
          ],
          "type": "string",
          "enum": [
            "BASIC_CHART_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "COLUMN",
            "SCATTER",
            "COMBO",
            "STEPPED_AREA"
          ]
        },
        "styleOverrides": {
          "description": "Style override settings for series data points.",
          "type": "array",
          "items": {
            "$ref": "BasicSeriesDataPointStyleOverride"
          }
        },
        "series": {
          "$ref": "ChartData",
          "description": "The data being visualized in this chart series."
        },
        "lineStyle": {
          "description": "The line style of this series. Valid only if the chartType is AREA, LINE, or SCATTER. COMBO charts are also supported if the series chart type is AREA or LINE.",
          "$ref": "LineStyle"
        }
      },
      "id": "BasicChartSeries",
      "description": "A single series of data in a chart. For example, if charting stock prices over time, multiple series may exist, one for the \"Open Price\", \"High Price\", \"Low Price\" and \"Close Price\".",
      "type": "object"
    },
    "CellData": {
      "description": "Data about a specific cell.",
      "id": "CellData",
      "properties": {
        "textFormatRuns": {
          "description": "Runs of rich text applied to subsections of the cell. Runs are only valid on user entered strings, not formulas, bools, or numbers. Properties of a run start at a specific index in the text and continue until the next run. Runs will inherit the properties of the cell unless explicitly changed. When writing, the new runs will overwrite any prior runs. When writing a new user_entered_value, previous runs are erased.",
          "type": "array",
          "items": {
            "$ref": "TextFormatRun"
          }
        },
        "userEnteredValue": {
          "$ref": "ExtendedValue",
          "description": "The value the user entered in the cell. e.g., `1234`, `'Hello'`, or `=NOW()` Note: Dates, Times and DateTimes are represented as doubles in serial number format."
        },
        "userEnteredFormat": {
          "$ref": "CellFormat",
          "description": "The format the user entered for the cell. When writing, the new format will be merged with the existing format."
        },
        "chipRuns": {
          "type": "array",
          "description": "Optional. Runs of chips applied to subsections of the cell. Properties of a run start at a specific index in the text and continue until the next run. When reading, all chipped and non-chipped runs are included. Non-chipped runs will have an empty Chip. When writing, only runs with chips are included. Runs containing chips are of length 1 and are represented in the user-entered text by an “@” placeholder symbol. New runs will overwrite any prior runs. Writing a new user_entered_value will erase previous runs.",
          "items": {
            "$ref": "ChipRun"
          }
        },
        "formattedValue": {
          "description": "The formatted value of the cell. This is the value as it's shown to the user. This field is read-only.",
          "type": "string"
        },
        "dataSourceFormula": {
          "readOnly": true,
          "$ref": "DataSourceFormula",
          "description": "Output only. Information about a data source formula on the cell. The field is set if user_entered_value is a formula referencing some DATA_SOURCE sheet, e.g. `=SUM(DataSheet!Column)`."
        },
        "note": {
          "type": "string",
          "description": "Any note on the cell."
        },
        "pivotTable": {
          "description": "A pivot table anchored at this cell. The size of pivot table itself is computed dynamically based on its data, grouping, filters, values, etc. Only the top-left cell of the pivot table contains the pivot table definition. The other cells will contain the calculated values of the results of the pivot in their effective_value fields.",
          "$ref": "PivotTable"
        },
        "effectiveValue": {
          "description": "The effective value of the cell. For cells with formulas, this is the calculated value. For cells with literals, this is the same as the user_entered_value. This field is read-only.",
          "$ref": "ExtendedValue"
        },
        "dataSourceTable": {
          "description": "A data source table anchored at this cell. The size of data source table itself is computed dynamically based on its configuration. Only the first cell of the data source table contains the data source table definition. The other cells will contain the display values of the data source table result in their effective_value fields.",
          "$ref": "DataSourceTable"
        },
        "effectiveFormat": {
          "$ref": "CellFormat",
          "description": "The effective format being used by the cell. This includes the results of applying any conditional formatting and, if the cell contains a formula, the computed number format. If the effective format is the default format, effective format will not be written. This field is read-only."
        },
        "hyperlink": {
          "description": "A hyperlink this cell points to, if any. If the cell contains multiple hyperlinks, this field will be empty. This field is read-only. To set it, use a `=HYPERLINK` formula in the userEnteredValue.formulaValue field. A cell-level link can also be set from the userEnteredFormat.textFormat field. Alternatively, set a hyperlink in the textFormatRun.format.link field that spans the entire cell.",
          "type": "string"
        },
        "dataValidation": {
          "description": "A data validation rule on the cell, if any. When writing, the new data validation rule will overwrite any prior rule.",
          "$ref": "DataValidationRule"
        }
      },
      "type": "object"
    },
    "CandlestickDomain": {
      "type": "object",
      "properties": {
        "reversed": {
          "type": "boolean",
          "description": "True to reverse the order of the domain values (horizontal axis)."
        },
        "data": {
          "description": "The data of the CandlestickDomain.",
          "$ref": "ChartData"
        }
      },
      "description": "The domain of a CandlestickChart.",
      "id": "CandlestickDomain"
    },
    "DataFilterValueRange": {
      "description": "A range of values whose location is specified by a DataFilter.",
      "type": "object",
      "properties": {
        "majorDimension": {
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "description": "The major dimension of the values.",
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ]
        },
        "dataFilter": {
          "$ref": "DataFilter",
          "description": "The data filter describing the location of the values in the spreadsheet."
        },
        "values": {
          "description": "The data to be written. If the provided values exceed any of the ranges matched by the data filter then the request fails. If the provided values are less than the matched ranges only the specified values are written, existing values in the matched ranges remain unaffected.",
          "items": {
            "type": "array",
            "items": {
              "type": "any"
            }
          },
          "type": "array"
        }
      },
      "id": "DataFilterValueRange"
    },
    "AddCommentReplyRequest": {
      "id": "AddCommentReplyRequest",
      "type": "object",
      "properties": {
        "post": {
          "$ref": "Post",
          "description": "The Post representing the reply."
        },
        "commentId": {
          "description": "The ID of the CommentThread to add the reply to.",
          "type": "string"
        }
      },
      "description": "Inserts a reply Post into a CommentThread."
    },
    "TableColumnDataValidationRule": {
      "properties": {
        "condition": {
          "description": "The condition that data in the cell must match. Valid only if the [BooleanCondition.type] is ONE_OF_LIST.",
          "$ref": "BooleanCondition"
        }
      },
      "description": "A data validation rule for a column in a table.",
      "type": "object",
      "id": "TableColumnDataValidationRule"
    },
    "DimensionGroup": {
      "id": "DimensionGroup",
      "properties": {
        "depth": {
          "type": "integer",
          "description": "The depth of the group, representing how many groups have a range that wholly contains the range of this group.",
          "format": "int32"
        },
        "range": {
          "description": "The range over which this group exists.",
          "$ref": "DimensionRange"
        },
        "collapsed": {
          "description": "This field is true if this group is collapsed. A collapsed group remains collapsed if an overlapping group at a shallower depth is expanded. A true value does not imply that all dimensions within the group are hidden, since a dimension's visibility can change independently from this group property. However, when this property is updated, all dimensions within it are set to hidden if this field is true, or set to visible if this field is false.",
          "type": "boolean"
        }
      },
      "description": "A group over an interval of rows or columns on a sheet, which can contain or be contained within other groups. A group can be collapsed or expanded as a unit on the sheet.",
      "type": "object"
    },
    "DataSourceParameter": {
      "description": "A parameter in a data source's query. The parameter allows the user to pass in values from the spreadsheet into a query.",
      "properties": {
        "namedRangeId": {
          "description": "ID of a NamedRange. Its size must be 1x1.",
          "type": "string"
        },
        "range": {
          "description": "A range that contains the value of the parameter. Its size must be 1x1.",
          "$ref": "GridRange"
        },
        "name": {
          "description": "Named parameter. Must be a legitimate identifier for the DataSource that supports it. For example, [BigQuery identifier](https://cloud.google.com/bigquery/docs/reference/standard-sql/lexical#identifiers).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataSourceParameter"
    },
    "BasicFilter": {
      "properties": {
        "criteria": {
          "type": "object",
          "deprecated": true,
          "additionalProperties": {
            "$ref": "FilterCriteria"
          },
          "description": "The criteria for showing/hiding values per column. The map's key is the column index, and the value is the criteria for that column. This field is deprecated in favor of filter_specs."
        },
        "filterSpecs": {
          "items": {
            "$ref": "FilterSpec"
          },
          "type": "array",
          "description": "The filter criteria per column. Both criteria and filter_specs are populated in responses. If both fields are specified in an update request, this field takes precedence."
        },
        "tableId": {
          "type": "string",
          "description": "The table this filter is backed by, if any. When writing, only one of range or table_id may be set."
        },
        "sortSpecs": {
          "description": "The sort order per column. Later specifications are used when values are equal in the earlier specifications.",
          "items": {
            "$ref": "SortSpec"
          },
          "type": "array"
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range the filter covers."
        }
      },
      "id": "BasicFilter",
      "description": "The default filter associated with a sheet. For more information, see [Manage data visibility with filters](https://developers.google.com/workspace/sheets/api/guides/filters).",
      "type": "object"
    },
    "PostAuthor": {
      "properties": {
        "me": {
          "description": "Whether the user is the authenticated user making the request.",
          "type": "boolean"
        },
        "user": {
          "description": "The resource name of the post author user, which can also be used to identify the user in the [Google People API](https://developers.google.com/people/api/rest/v1/people). Format: `users/{user}`. Will not be populated if the anonymous field is `true` or if the post is from an imported spreadsheet.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user. May be absent if the author is anonymous."
        },
        "anonymous": {
          "type": "boolean",
          "description": "Whether the user is anonymous."
        }
      },
      "type": "object",
      "description": "Represents a user who authored a comment post.",
      "id": "PostAuthor"
    },
    "InsertCommentRequest": {
      "id": "InsertCommentRequest",
      "type": "object",
      "properties": {
        "assigneeEmailAddress": {
          "type": "string",
          "description": "Optional. The email address of the assignee of the comment. Leave empty for a non-assigned comment. May not exceed 2048 UTF-8 code units."
        },
        "coordinate": {
          "description": "The GridCoordinate in the sheet that is tied to this comment.",
          "$ref": "GridCoordinate"
        },
        "content": {
          "description": "The text of the comment, as plain text. This text content will be handled similarly to comments created in the Sheets editor. It will have similar behaviors for formatting, notifications, etc. This field cannot be empty, and must not exceed 2048 UTF-8 code units.",
          "type": "string"
        }
      },
      "description": "Inserts a CommentThread into the spreadsheet."
    },
    "UpdateDeveloperMetadataResponse": {
      "id": "UpdateDeveloperMetadataResponse",
      "description": "The response from updating developer metadata.",
      "type": "object",
      "properties": {
        "developerMetadata": {
          "type": "array",
          "items": {
            "$ref": "DeveloperMetadata"
          },
          "description": "The updated developer metadata."
        }
      }
    },
    "BigQueryQuerySpec": {
      "properties": {
        "rawQuery": {
          "type": "string",
          "description": "The raw query string."
        }
      },
      "id": "BigQueryQuerySpec",
      "description": "Specifies a custom BigQuery query.",
      "type": "object"
    },
    "BigQueryTableSpec": {
      "id": "BigQueryTableSpec",
      "type": "object",
      "properties": {
        "tableProjectId": {
          "description": "The ID of a BigQuery project the table belongs to. If not specified, the project_id is assumed.",
          "type": "string"
        },
        "datasetId": {
          "type": "string",
          "description": "The BigQuery dataset id."
        },
        "tableId": {
          "description": "The BigQuery table id.",
          "type": "string"
        }
      },
      "description": "Specifies a BigQuery table definition. Only [native tables](https://cloud.google.com/bigquery/docs/tables-intro) are allowed."
    },
    "InsertRangeRequest": {
      "description": "Inserts cells into a range, shifting the existing cells over or down.",
      "properties": {
        "range": {
          "$ref": "GridRange",
          "description": "The range to insert new cells into. The range is constrained to the current sheet boundaries."
        },
        "shiftDimension": {
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "description": "The dimension which will be shifted when inserting cells. If ROWS, existing cells will be shifted down. If COLUMNS, existing cells will be shifted right.",
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ]
        }
      },
      "type": "object",
      "id": "InsertRangeRequest"
    },
    "PivotGroupLimit": {
      "id": "PivotGroupLimit",
      "properties": {
        "applyOrder": {
          "type": "integer",
          "description": "The order in which the group limit is applied to the pivot table. Pivot group limits are applied from lower to higher order number. Order numbers are normalized to consecutive integers from 0. For write request, to fully customize the applying orders, all pivot group limits should have this field set with an unique number. Otherwise, the order is determined by the index in the PivotTable.rows list and then the PivotTable.columns list.",
          "format": "int32"
        },
        "countLimit": {
          "format": "int32",
          "type": "integer",
          "description": "The count limit."
        }
      },
      "type": "object",
      "description": "The count limit on rows or columns in the pivot group."
    },
    "BatchUpdateValuesRequest": {
      "id": "BatchUpdateValuesRequest",
      "description": "The request for updating more than one range of values in a spreadsheet.",
      "type": "object",
      "properties": {
        "responseDateTimeRenderOption": {
          "enumDescriptions": [
            "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
            "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
          ],
          "type": "string",
          "enum": [
            "SERIAL_NUMBER",
            "FORMATTED_STRING"
          ],
          "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER."
        },
        "valueInputOption": {
          "type": "string",
          "enum": [
            "INPUT_VALUE_OPTION_UNSPECIFIED",
            "RAW",
            "USER_ENTERED"
          ],
          "enumDescriptions": [
            "Default input value. This value must not be used.",
            "The values the user has entered will not be parsed and will be stored as-is.",
            "The values will be parsed as if the user typed them into the UI. Numbers will stay as numbers, but strings may be converted to numbers, dates, etc. following the same rules that are applied when entering text into a cell via the Google Sheets UI."
          ],
          "description": "How the input data should be interpreted."
        },
        "data": {
          "description": "The new values to apply to the spreadsheet.",
          "type": "array",
          "items": {
            "$ref": "ValueRange"
          }
        },
        "includeValuesInResponse": {
          "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. The `updatedData` field within each of the BatchUpdateValuesResponse.responses contains the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).",
          "type": "boolean"
        },
        "responseValueRenderOption": {
          "enumDescriptions": [
            "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
            "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
            "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
          ],
          "type": "string",
          "enum": [
            "FORMATTED_VALUE",
            "UNFORMATTED_VALUE",
            "FORMULA"
          ],
          "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE."
        }
      }
    },
    "FilterView": {
      "properties": {
        "sortSpecs": {
          "description": "The sort order per column. Later specifications are used when values are equal in the earlier specifications.",
          "items": {
            "$ref": "SortSpec"
          },
          "type": "array"
        },
        "filterViewId": {
          "description": "The ID of the filter view.",
          "type": "integer",
          "format": "int32"
        },
        "title": {
          "type": "string",
          "description": "The name of the filter view."
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range this filter view covers. When writing, only one of range, named_range_id, or table_id may be set."
        },
        "filterSpecs": {
          "items": {
            "$ref": "FilterSpec"
          },
          "type": "array",
          "description": "The filter criteria for showing or hiding values per column. Both criteria and filter_specs are populated in responses. If both fields are specified in an update request, this field takes precedence."
        },
        "namedRangeId": {
          "description": "The named range this filter view is backed by, if any. When writing, only one of range, named_range_id, or table_id may be set.",
          "type": "string"
        },
        "tableId": {
          "description": "The table this filter view is backed by, if any. When writing, only one of range, named_range_id, or table_id may be set.",
          "type": "string"
        },
        "criteria": {
          "additionalProperties": {
            "$ref": "FilterCriteria"
          },
          "deprecated": true,
          "type": "object",
[...]
