{
  "servicePath": "",
  "documentationLink": "https://developers.google.com/workspace/sheets/",
  "kind": "discovery#restDescription",
  "rootUrl": "https://sheets.googleapis.com/",
  "ownerDomain": "google.com",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Reads and writes Google Sheets.",
  "title": "Google Sheets API",
  "name": "sheets",
  "protocol": "rest",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "version_module": true,
  "baseUrl": "https://sheets.googleapis.com/",
  "discoveryVersion": "v1",
  "id": "sheets:v4",
  "ownerName": "Google",
  "revision": "20260921",
  "canonicalName": "Sheets",
  "mtlsRootUrl": "https://sheets.mtls.googleapis.com/",
  "version": "v4",
  "batchPath": "batch",
  "resources": {
    "spreadsheets": {
      "methods": {
        "get": {
          "id": "sheets.spreadsheets.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly"
          ],
          "path": "v4/spreadsheets/{spreadsheetId}",
          "parameters": {
            "includeGridData": {
              "type": "boolean",
              "location": "query",
              "description": "True if grid data should be returned. This parameter is ignored if a field mask was set in the request."
            },
            "spreadsheetId": {
              "location": "path",
              "description": "The spreadsheet to request.",
              "required": true,
              "type": "string"
            },
            "commentsViewMode": {
              "enumDescriptions": [
                "The CommentsViewMode is unspecified; COMMENTS_VIEW_MODE_OMITTED is applied.",
                "The CommentsViewMode applied to the returned spreadsheet depends on the user's current access level. If the user only has view access, COMMENTS_VIEW_MODE_OMITTED is applied. Otherwise, COMMENTS_VIEW_MODE_INCLUDED is applied.",
                "The returned spreadsheet has comments omitted.",
                "The returned spreadsheet has comments included. Requests to retrieve a spreadsheet using this mode will return a 403 error if the user does not have permission to view comments."
              ],
              "enum": [
                "COMMENTS_VIEW_MODE_UNSPECIFIED",
                "COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS",
                "COMMENTS_VIEW_MODE_OMITTED",
                "COMMENTS_VIEW_MODE_INCLUDED"
              ],
              "location": "query",
              "type": "string",
              "description": "The comments view mode to apply to the spreadsheet. This allows viewing the spreadsheet with comments omitted or included. If one is not specified, COMMENTS_VIEW_MODE_OMITTED is used. [Developer Preview](https://developers.google.com/workspace/preview)."
            },
            "ranges": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The ranges to retrieve from the spreadsheet."
            },
            "excludeTablesInBandedRanges": {
              "location": "query",
              "type": "boolean",
              "description": "True if tables should be excluded in the banded ranges. False if not set."
            }
          },
          "flatPath": "v4/spreadsheets/{spreadsheetId}",
          "httpMethod": "GET",
          "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. By default, data within grids is not returned. You can include grid data in one of 2 ways: * Specify a [field mask](https://developers.google.com/workspace/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData URL parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want. To retrieve only subsets of spreadsheet data, use the ranges URL parameter. Ranges are specified using [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell). You can define a single cell (for example, `A1`) or multiple cells (for example, `A1:D5`). You can also get cells from other sheets within the same spreadsheet (for example, `Sheet2!A1:C4`) or retrieve multiple ranges at once (for example, `?ranges=A1:D5&ranges=Sheet2!A1:C4`). Limiting the range returns only the portions of the spreadsheet that intersect the requested ranges.",
          "parameterOrder": [
            "spreadsheetId"
          ],
          "response": {
            "$ref": "Spreadsheet"
          }
        },
        "getByDataFilter": {
          "id": "sheets.spreadsheets.getByDataFilter",
          "parameterOrder": [
            "spreadsheetId"
          ],
          "parameters": {
            "spreadsheetId": {
              "location": "path",
              "description": "The spreadsheet to request.",
              "type": "string",
              "required": true
            }
          },
          "path": "v4/spreadsheets/{spreadsheetId}:getByDataFilter",
          "flatPath": "v4/spreadsheets/{spreadsheetId}:getByDataFilter",
          "request": {
            "$ref": "GetSpreadsheetByDataFilterRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Spreadsheet"
          },
          "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). This method differs from GetSpreadsheet in that it allows selecting which subsets of spreadsheet data to return by specifying a dataFilters parameter. Multiple DataFilters can be specified. Specifying one or more data filters returns the portions of the spreadsheet that intersect ranges matched by any of the filters. By default, data within grids is not returned. You can include grid data in one of two ways: * Specify a [field mask](https://developers.google.com/workspace/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP. * Set the includeGridData parameter to `true`. If a field mask is set, the `includeGridData` parameter is ignored. For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want."
        },
        "batchUpdate": {
          "parameters": {
            "spreadsheetId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The spreadsheet to apply the updates to."
            }
          },
          "request": {
            "$ref": "BatchUpdateSpreadsheetRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ],
          "response": {
            "$ref": "BatchUpdateSpreadsheetResponse"
          },
          "path": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
          "description": "Applies one or more updates to the spreadsheet. Each request is validated before being applied. If any request is not valid then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. The replies will mirror the requests. For example, if you applied 4 updates and the 3rd one had a reply, then the response will have 2 empty replies, the actual reply, and another empty reply, in that order. Due to the collaborative nature of spreadsheets, it is not guaranteed that the spreadsheet will reflect exactly your changes after this completes, however it is guaranteed that the updates in the request will be applied together atomically. Your changes may be altered with respect to collaborator changes. If there are no collaborators, the spreadsheet should reflect your changes.",
          "httpMethod": "POST",
          "flatPath": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
          "id": "sheets.spreadsheets.batchUpdate",
          "parameterOrder": [
            "spreadsheetId"
          ]
        },
        "create": {
          "flatPath": "v4/spreadsheets",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ],
          "description": "Creates a spreadsheet, returning the newly created spreadsheet.",
          "id": "sheets.spreadsheets.create",
          "path": "v4/spreadsheets",
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "Spreadsheet"
          },
          "request": {
            "$ref": "Spreadsheet"
          },
          "parameters": {}
        }
      },
      "resources": {
        "sheets": {
          "methods": {
            "copyTo": {
              "id": "sheets.spreadsheets.sheets.copyTo",
              "httpMethod": "POST",
              "parameterOrder": [
                "spreadsheetId",
                "sheetId"
              ],
              "description": "Copies a single sheet from a spreadsheet to another spreadsheet. Returns the properties of the newly created sheet.",
              "response": {
                "$ref": "SheetProperties"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo",
              "request": {
                "$ref": "CopySheetToAnotherSpreadsheetRequest"
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "parameters": {
                "sheetId": {
                  "format": "int32",
                  "description": "The ID of the sheet to copy.",
                  "location": "path",
                  "type": "integer",
                  "required": true
                },
                "spreadsheetId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The ID of the spreadsheet containing the sheet to copy."
                }
              }
            }
          }
        },
        "developerMetadata": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}",
              "id": "sheets.spreadsheets.developerMetadata.get",
              "response": {
                "$ref": "DeveloperMetadata"
              },
              "parameters": {
                "spreadsheetId": {
                  "location": "path",
                  "description": "The ID of the spreadsheet to retrieve metadata from.",
                  "type": "string",
                  "required": true
                },
                "metadataId": {
                  "required": true,
                  "location": "path",
                  "description": "The ID of the developer metadata to retrieve.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "spreadsheetId",
                "metadataId"
              ],
              "description": "Returns the developer metadata with the specified ID. The caller must specify the spreadsheet ID and the developer metadata's unique metadataId. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata).",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}"
            },
            "search": {
              "id": "sheets.spreadsheets.developerMetadata.search",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "httpMethod": "POST",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/developerMetadata:search",
              "path": "v4/spreadsheets/{spreadsheetId}/developerMetadata:search",
              "request": {
                "$ref": "SearchDeveloperMetadataRequest"
              },
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to retrieve metadata from.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SearchDeveloperMetadataResponse"
              },
              "description": "Returns all developer metadata matching the specified DataFilter. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). If the provided DataFilter represents a DeveloperMetadataLookup object, this will return all DeveloperMetadata entries selected by it. If the DataFilter represents a location in a spreadsheet, this will return all developer metadata associated with locations intersecting that region.",
              "parameterOrder": [
                "spreadsheetId"
              ]
            }
          }
        },
        "values": {
          "methods": {
            "clear": {
              "id": "sheets.spreadsheets.values.clear",
              "description": "Clears values from a spreadsheet. The caller must specify the spreadsheet ID and range. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "httpMethod": "POST",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}:clear",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}:clear",
              "parameters": {
                "spreadsheetId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the spreadsheet to update."
                },
                "range": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to clear."
                }
              },
              "response": {
                "$ref": "ClearValuesResponse"
              },
              "request": {
                "$ref": "ClearValuesRequest"
              }
            },
            "batchUpdateByDataFilter": {
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchUpdateValuesByDataFilterRequest"
              },
              "parameterOrder": [
                "spreadsheetId"
              ],
              "description": "Sets values in one or more ranges of a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID, a valueInputOption, and one or more DataFilterValueRanges.",
              "id": "sheets.spreadsheets.values.batchUpdateByDataFilter",
              "parameters": {
                "spreadsheetId": {
                  "required": true,
                  "description": "The ID of the spreadsheet to update.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "response": {
                "$ref": "BatchUpdateValuesByDataFilterResponse"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter"
            },
            "get": {
              "response": {
                "$ref": "ValueRange"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly"
              ],
              "parameters": {
                "dateTimeRenderOption": {
                  "location": "query",
                  "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
                  "type": "string",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ]
                },
                "range": {
                  "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "valueRenderOption": {
                  "description": "How values should be represented in the output. The default render option is FORMATTED_VALUE.",
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
                  ]
                },
                "majorDimension": {
                  "description": "The major dimension that results should use. For example, if the spreadsheet data in Sheet1 is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=Sheet1!A1:B2?majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=Sheet1!A1:B2?majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "ROWS",
                    "COLUMNS"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "The default value, do not use.",
                    "Operates on the rows of a sheet.",
                    "Operates on the columns of a sheet."
                  ],
                  "type": "string"
                },
                "spreadsheetId": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the spreadsheet to retrieve data from.",
                  "required": true
                }
              },
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "description": "Returns a range of values from a spreadsheet. The caller must specify the spreadsheet ID and a range.",
              "httpMethod": "GET",
              "id": "sheets.spreadsheets.values.get"
            },
            "batchClearByDataFilter": {
              "request": {
                "$ref": "BatchClearValuesByDataFilterRequest"
              },
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Clears one or more ranges of values from a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID and one or more DataFilters. Ranges matching any of the specified data filters will be cleared. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc.) are kept.",
              "response": {
                "$ref": "BatchClearValuesByDataFilterResponse"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "parameterOrder": [
                "spreadsheetId"
              ],
              "id": "sheets.spreadsheets.values.batchClearByDataFilter",
              "httpMethod": "POST",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter"
            },
            "update": {
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "parameters": {
                "range": {
                  "required": true,
                  "description": "The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to update.",
                  "location": "path",
                  "type": "string"
                },
                "responseValueRenderOption": {
                  "location": "query",
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
                  ],
                  "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
                  "type": "string"
                },
                "includeValuesInResponse": {
                  "location": "query",
                  "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).",
                  "type": "boolean"
                },
                "spreadsheetId": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the spreadsheet to update.",
                  "required": true
                },
                "responseDateTimeRenderOption": {
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ],
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER."
                },
                "valueInputOption": {
                  "enum": [
                    "INPUT_VALUE_OPTION_UNSPECIFIED",
                    "RAW",
                    "USER_ENTERED"
                  ],
                  "enumDescriptions": [
                    "Default input value. This value must not be used.",
                    "The values the user has entered will not be parsed and will be stored as-is.",
                    "The values will be parsed as if the user typed them into the UI. Numbers will stay as numbers, but strings may be converted to numbers, dates, etc. following the same rules that are applied when entering text into a cell via the Google Sheets UI."
                  ],
                  "description": "How the input data should be interpreted.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Sets values in a range of a spreadsheet. The caller must specify the spreadsheet ID, range, and a valueInputOption.",
              "response": {
                "$ref": "UpdateValuesResponse"
              },
              "request": {
                "$ref": "ValueRange"
              },
              "id": "sheets.spreadsheets.values.update",
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ]
            },
            "batchGet": {
              "response": {
                "$ref": "BatchGetValuesResponse"
              },
              "description": "Returns one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges.",
              "httpMethod": "GET",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchGet",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly"
              ],
              "id": "sheets.spreadsheets.values.batchGet",
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchGet",
              "parameters": {
                "spreadsheetId": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the spreadsheet to retrieve data from.",
                  "required": true
                },
                "majorDimension": {
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "ROWS",
                    "COLUMNS"
                  ],
                  "location": "query",
                  "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `ranges=[\"A1:B2\"],majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `ranges=[\"A1:B2\"],majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
                  "type": "string",
                  "enumDescriptions": [
                    "The default value, do not use.",
                    "Operates on the rows of a sheet.",
                    "Operates on the columns of a sheet."
                  ]
                },
                "valueRenderOption": {
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
                  ],
                  "description": "How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE.",
                  "type": "string"
                },
                "ranges": {
                  "type": "string",
                  "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.",
                  "location": "query",
                  "repeated": true
                },
                "dateTimeRenderOption": {
                  "location": "query",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ],
                  "type": "string"
                }
              }
            },
            "append": {
              "httpMethod": "POST",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}:append",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "description": "Appends values to a spreadsheet. The input range is used to search for existing data and find a \"table\" within that range. Values will be appended to the next row of the table, starting with the first column of the table. See the [guide](https://developers.google.com/workspace/sheets/api/guides/values#appending_values) and [sample code](https://developers.google.com/workspace/sheets/api/samples/writing#append_values) for specific details of how tables are detected and data is appended. The caller must specify the spreadsheet ID, range, and a valueInputOption. The `valueInputOption` only controls how the input data will be added to the sheet (column-wise or row-wise), it does not influence what cell the data starts being written to.",
              "response": {
                "$ref": "AppendValuesResponse"
              },
              "id": "sheets.spreadsheets.values.append",
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}:append",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "parameters": {
                "includeValuesInResponse": {
                  "description": "Determines if the update response should include the values of the cells that were appended. By default, responses do not include the updated values.",
                  "location": "query",
                  "type": "boolean"
                },
                "responseDateTimeRenderOption": {
                  "location": "query",
                  "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ]
                },
                "insertDataOption": {
                  "location": "query",
                  "enum": [
                    "OVERWRITE",
                    "INSERT_ROWS"
                  ],
                  "description": "How the input data should be inserted.",
                  "enumDescriptions": [
                    "The new data overwrites existing data in the areas it is written. (Note: adding data to the end of the sheet will still insert new rows or columns so the data can be written.)",
                    "Rows are inserted for the new data."
                  ],
                  "type": "string"
                },
                "valueInputOption": {
                  "location": "query",
                  "enum": [
                    "INPUT_VALUE_OPTION_UNSPECIFIED",
                    "RAW",
                    "USER_ENTERED"
                  ],
                  "enumDescriptions": [
                    "Default input value. This value must not be used.",
                    "The values the user has entered will not be parsed and will be stored as-is.",
                    "The values will be parsed as if the user typed them into the UI. Numbers will stay as numbers, but strings may be converted to numbers, dates, etc. following the same rules that are applied when entering text into a cell via the Google Sheets UI."
                  ],
                  "description": "How the input data should be interpreted.",
                  "type": "string"
                },
                "responseValueRenderOption": {
                  "type": "string",
                  "location": "query",
                  "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
                  ]
                },
                "range": {
                  "required": true,
                  "description": "The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of a range to search for a logical table of data. Values are appended after the last row of the table.",
                  "type": "string",
                  "location": "path"
                },
                "spreadsheetId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the spreadsheet to update.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "ValueRange"
              }
            },
            "batchGetByDataFilter": {
              "parameters": {
                "spreadsheetId": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the spreadsheet to retrieve data from.",
                  "required": true
                }
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter",
              "response": {
                "$ref": "BatchGetValuesByDataFilterResponse"
              },
              "description": "Returns one or more ranges of values that match the specified data filters. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID and one or more DataFilters. Ranges that match any of the data filters in the request will be returned.",
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter",
              "request": {
                "$ref": "BatchGetValuesByDataFilterRequest"
              },
              "id": "sheets.spreadsheets.values.batchGetByDataFilter",
              "httpMethod": "POST",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            },
            "batchUpdate": {
              "id": "sheets.spreadsheets.values.batchUpdate",
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "BatchUpdateValuesResponse"
              },
              "parameterOrder": [
                "spreadsheetId"
              ],
              "request": {
                "$ref": "BatchUpdateValuesRequest"
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate",
              "description": "Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more ValueRanges."
            },
            "batchClear": {
              "description": "Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges. Only values are cleared -- all other properties of the cell (such as formatting and data validation) are kept.",
              "id": "sheets.spreadsheets.values.batchClear",
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchClearValuesRequest"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchClear",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "parameters": {
                "spreadsheetId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID of the spreadsheet to update."
                }
              },
              "response": {
                "$ref": "BatchClearValuesResponse"
              },
              "parameterOrder": [
                "spreadsheetId"
              ],
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchClear"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "PivotGroupRule": {
      "id": "PivotGroupRule",
      "type": "object",
      "properties": {
        "manualRule": {
          "$ref": "ManualRule",
          "description": "A ManualRule."
        },
        "histogramRule": {
          "$ref": "HistogramRule",
          "description": "A HistogramRule."
        },
        "dateTimeRule": {
          "description": "A DateTimeRule.",
          "$ref": "DateTimeRule"
        }
      },
      "description": "An optional setting on a PivotGroup that defines buckets for the values in the source data column rather than breaking out each individual value. Only one PivotGroup with a group rule may be added for each column in the source data, though on any given column you may add both a PivotGroup that has a rule and a PivotGroup that does not."
    },
    "DuplicateSheetResponse": {
      "description": "The result of duplicating a sheet.",
      "properties": {
        "properties": {
          "description": "The properties of the duplicate sheet.",
          "$ref": "SheetProperties"
        }
      },
      "id": "DuplicateSheetResponse",
      "type": "object"
    },
    "CommentThread": {
      "id": "CommentThread",
      "description": "Represents a single comment thread inside a spreadsheet. [Developer Preview](https://developers.google.com/workspace/preview).",
      "type": "object",
      "properties": {
        "headPost": {
          "description": "The first post in the thread.",
          "$ref": "Post"
        },
        "commentId": {
          "type": "string",
          "description": "The unique ID of the comment thread."
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "OPEN",
            "RESOLVED"
          ],
          "description": "Whether the thread is open or resolved.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The comment thread is open.",
            "The comment thread is resolved."
          ]
        },
        "anchorId": {
          "type": "string",
          "description": "The ID of the CommentAnchor in the sheet that this thread is tied to."
        },
        "replies": {
          "type": "array",
          "items": {
            "$ref": "Post"
          },
          "description": "Replies to the head post."
        },
        "plainTextQuote": {
          "type": "string",
          "description": "The quoted text from the spreadsheet when the comment was created, formatted as plain-text."
        }
      }
    },
    "KeyValueFormat": {
      "properties": {
        "textFormat": {
          "description": "Text formatting options for key value. The link field is not supported.",
          "$ref": "TextFormat"
        },
        "position": {
          "description": "Specifies the horizontal text positioning of key value. This field is optional. If not specified, default positioning is used.",
          "$ref": "TextPosition"
        }
      },
      "type": "object",
      "description": "Formatting options for key value.",
      "id": "KeyValueFormat"
    },
    "CreateDeveloperMetadataRequest": {
      "type": "object",
      "description": "A request to create developer metadata.",
      "properties": {
        "developerMetadata": {
          "$ref": "DeveloperMetadata",
          "description": "The developer metadata to create."
        }
      },
      "id": "CreateDeveloperMetadataRequest"
    },
    "UpdateBordersRequest": {
      "description": "Updates the borders of a range. If a field is not set in the request, that means the border remains as-is. For example, with two subsequent UpdateBordersRequest: 1. range: A1:A5 `{ top: RED, bottom: WHITE }` 2. range: A1:A5 `{ left: BLUE }` That would result in A1:A5 having a borders of `{ top: RED, bottom: WHITE, left: BLUE }`. If you want to clear a border, explicitly set the style to NONE.",
      "properties": {
        "range": {
          "$ref": "GridRange",
          "description": "The range whose borders should be updated."
        },
        "bottom": {
          "description": "The border to put at the bottom of the range.",
          "$ref": "Border"
        },
        "left": {
          "$ref": "Border",
          "description": "The border to put at the left of the range."
        },
        "innerVertical": {
          "description": "The vertical border to put within the range.",
          "$ref": "Border"
        },
        "top": {
          "$ref": "Border",
          "description": "The border to put at the top of the range."
        },
        "innerHorizontal": {
          "description": "The horizontal border to put within the range.",
          "$ref": "Border"
        },
        "right": {
          "description": "The border to put at the right of the range.",
          "$ref": "Border"
        }
      },
      "id": "UpdateBordersRequest",
      "type": "object"
    },
    "DataSourceRefreshMonthlySchedule": {
      "id": "DataSourceRefreshMonthlySchedule",
      "type": "object",
      "description": "A monthly schedule for data to refresh on specific days in the month in a given time interval.",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "The start time of a time interval in which a data source refresh is scheduled. Only `hours` part is used. The time interval size defaults to that in the Sheets editor."
        },
        "daysOfMonth": {
          "description": "Days of the month to refresh. Only 1-28 are supported, mapping to the 1st to the 28th day. At least one day must be specified.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        }
      }
    },
    "UnmergeCellsRequest": {
      "description": "Unmerges cells in the given range.",
      "id": "UnmergeCellsRequest",
      "type": "object",
      "properties": {
        "range": {
          "$ref": "GridRange",
          "description": "The range within which all cells should be unmerged. If the range spans multiple merges, all will be unmerged. The range must not partially span any merge."
        }
      }
    },
    "AddDimensionGroupRequest": {
      "description": "Creates a group over the specified range. If the requested range is a superset of the range of an existing group G, then the depth of G is incremented and this new group G' has the depth of that group. For example, a group [C:D, depth 1] + [B:E] results in groups [B:E, depth 1] and [C:D, depth 2]. If the requested range is a subset of the range of an existing group G, then the depth of the new group G' becomes one greater than the depth of G. For example, a group [B:E, depth 1] + [C:D] results in groups [B:E, depth 1] and [C:D, depth 2]. If the requested range starts before and ends within, or starts within and ends after, the range of an existing group G, then the range of the existing group G becomes the union of the ranges, and the new group G' has depth one greater than the depth of G and range as the intersection of the ranges. For example, a group [B:D, depth 1] + [C:E] results in groups [B:E, depth 1] and [C:D, depth 2].",
      "properties": {
        "range": {
          "description": "The range over which to create a group.",
          "$ref": "DimensionRange"
        }
      },
      "id": "AddDimensionGroupRequest",
      "type": "object"
    },
    "DeleteDimensionRequest": {
      "type": "object",
      "properties": {
        "range": {
          "description": "The dimensions to delete from the sheet.",
          "$ref": "DimensionRange"
        }
      },
      "id": "DeleteDimensionRequest",
      "description": " Deletes the dimensions from the sheet."
    },
    "TreemapChartSpec": {
      "id": "TreemapChartSpec",
      "properties": {
        "hintedLevels": {
          "type": "integer",
          "description": "The number of additional data levels beyond the labeled levels to be shown on the treemap chart. These levels are not interactive and are shown without their labels. Defaults to 0 if not specified.",
          "format": "int32"
        },
        "colorScale": {
          "$ref": "TreemapChartColorScale",
          "description": "The color scale for data cells in the treemap chart. Data cells are assigned colors based on their color values. These color values come from color_data, or from size_data if color_data is not specified. Cells with color values less than or equal to min_value will have minValueColor as their background color. Cells with color values greater than or equal to max_value will have maxValueColor as their background color. Cells with color values between min_value and max_value will have background colors on a gradient between minValueColor and maxValueColor, the midpoint of the gradient being midValueColor. Cells with missing or non-numeric color values will have noDataColor as their background color."
        },
        "levels": {
          "description": "The number of data levels to show on the treemap chart. These levels are interactive and are shown with their labels. Defaults to 2 if not specified.",
          "format": "int32",
          "type": "integer"
        },
        "headerColorStyle": {
          "description": "The background color for header cells. If header_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "hideTooltips": {
          "description": "True to hide tooltips.",
          "type": "boolean"
        },
        "headerColor": {
          "description": "The background color for header cells. Deprecated: Use header_color_style.",
          "deprecated": true,
          "$ref": "Color"
        },
        "maxValue": {
          "format": "double",
          "description": "The maximum possible data value. Cells with values greater than this will have the same color as cells with this value. If not specified, defaults to the actual maximum value from color_data, or the maximum value from size_data if color_data is not specified.",
          "type": "number"
        },
        "colorData": {
          "$ref": "ChartData",
          "description": "The data that determines the background color of each treemap data cell. This field is optional. If not specified, size_data is used to determine background colors. If specified, the data is expected to be numeric. color_scale will determine how the values in this data map to data cell background colors."
        },
        "sizeData": {
          "$ref": "ChartData",
          "description": "The data that determines the size of each treemap data cell. This data is expected to be numeric. The cells corresponding to non-numeric or missing data will not be rendered. If color_data is not specified, this data is used to determine data cell background colors as well."
        },
        "parentLabels": {
          "description": "The data the contains the treemap cells' parent labels.",
          "$ref": "ChartData"
        },
        "minValue": {
          "description": "The minimum possible data value. Cells with values less than this will have the same color as cells with this value. If not specified, defaults to the actual minimum value from color_data, or the minimum value from size_data if color_data is not specified.",
          "type": "number",
          "format": "double"
        },
        "textFormat": {
          "description": "The text format for all labels on the chart. The link field is not supported.",
          "$ref": "TextFormat"
        },
        "labels": {
          "description": "The data that contains the treemap cell labels.",
          "$ref": "ChartData"
        }
      },
      "type": "object",
      "description": "A Treemap chart."
    },
    "BatchClearValuesRequest": {
      "properties": {
        "ranges": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The ranges to clear, in [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell)."
        }
      },
      "id": "BatchClearValuesRequest",
      "type": "object",
      "description": "The request for clearing more than one range of values in a spreadsheet."
    },
    "DeveloperMetadataLookup": {
      "type": "object",
      "properties": {
        "locationMatchingStrategy": {
          "enumDescriptions": [
            "Default value. This value must not be used.",
            "Indicates that a specified location should be matched exactly. For example, if row three were specified as a location this matching strategy would only match developer metadata also associated on row three. Metadata associated on other locations would not be considered.",
            "Indicates that a specified location should match that exact location as well as any intersecting locations. For example, if row three were specified as a location this matching strategy would match developer metadata associated on row three as well as metadata associated on locations that intersect row three. If, for instance, there was developer metadata associated on column B, this matching strategy would also match that location because column B intersects row three."
          ],
          "enum": [
            "DEVELOPER_METADATA_LOCATION_MATCHING_STRATEGY_UNSPECIFIED",
            "EXACT_LOCATION",
            "INTERSECTING_LOCATION"
          ],
          "description": "Determines how this lookup matches the location. If this field is specified as EXACT, only developer metadata associated on the exact location specified is matched. If this field is specified to INTERSECTING, developer metadata associated on intersecting locations is also matched. If left unspecified, this field assumes a default value of INTERSECTING. If this field is specified, a metadataLocation must also be specified.",
          "type": "string"
        },
        "metadataValue": {
          "type": "string",
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_value."
        },
        "metadataLocation": {
          "description": "Limits the selected developer metadata to those entries associated with the specified location. This field either matches exact locations or all intersecting locations according the specified locationMatchingStrategy.",
          "$ref": "DeveloperMetadataLocation"
        },
        "metadataKey": {
          "type": "string",
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_key."
        },
        "visibility": {
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.visibility. If left unspecified, all developer metadata visible to the requesting project is considered.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Document-visible metadata is accessible from any developer project with access to the document.",
            "Project-visible metadata is only visible to and accessible by the developer project that created the metadata."
          ],
          "enum": [
            "DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED",
            "DOCUMENT",
            "PROJECT"
          ]
        },
        "locationType": {
          "description": "Limits the selected developer metadata to those entries which are associated with locations of the specified type. For example, when this field is specified as ROW this lookup only considers developer metadata associated on rows. If the field is left unspecified, all location types are considered. This field cannot be specified as SPREADSHEET when the locationMatchingStrategy is specified as INTERSECTING or when the metadataLocation is specified as a non-spreadsheet location. Spreadsheet metadata cannot intersect any other developer metadata location. This field also must be left unspecified when the locationMatchingStrategy is specified as EXACT.",
          "enum": [
            "DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED",
            "ROW",
            "COLUMN",
            "SHEET",
            "SPREADSHEET"
          ],
          "enumDescriptions": [
            "Default value.",
            "Developer metadata associated on an entire row dimension.",
            "Developer metadata associated on an entire column dimension.",
            "Developer metadata associated on an entire sheet.",
            "Developer metadata associated on the entire spreadsheet."
          ],
          "type": "string"
        },
        "metadataId": {
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_id.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DeveloperMetadataLookup",
      "description": "Selects DeveloperMetadata that matches all of the specified fields. For example, if only a metadata ID is specified this considers the DeveloperMetadata with that particular unique ID. If a metadata key is specified, this considers all developer metadata with that key. If a key, visibility, and location type are all specified, this considers all developer metadata with that key and visibility that are associated with a location of that type. In general, this selects all DeveloperMetadata that match the intersection of all the specified fields; any field or combination of fields may be specified."
    },
    "Interval": {
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "id": "Interval",
      "type": "object"
    },
    "TableRowsProperties": {
      "description": "The table row properties.",
      "properties": {
        "firstBandColorStyle": {
          "description": "The first color that is alternating. If this field is set, the first banded row is filled with the specified color. Otherwise, the first banded row is filled with a default color.",
          "$ref": "ColorStyle"
        },
        "secondBandColorStyle": {
          "$ref": "ColorStyle",
          "description": "The second color that is alternating. If this field is set, the second banded row is filled with the specified color. Otherwise, the second banded row is filled with a default color."
        },
        "footerColorStyle": {
          "$ref": "ColorStyle",
          "description": "The color of the last row. If this field is not set a footer is not added, the last row is filled with either first_band_color_style or second_band_color_style, depending on the color of the previous row. If updating an existing table without a footer to have a footer, the range will be expanded by 1 row. If updating an existing table with a footer and removing a footer, the range will be shrunk by 1 row."
        },
        "headerColorStyle": {
          "description": "The color of the header row. If this field is set, the header row is filled with the specified color. Otherwise, the header row is filled with a default color.",
          "$ref": "ColorStyle"
        }
      },
      "type": "object",
      "id": "TableRowsProperties"
    },
    "UpdateCellsRequest": {
      "id": "UpdateCellsRequest",
      "type": "object",
      "properties": {
        "start": {
          "description": "The coordinate to start writing data at. Any number of rows and columns (including a different number of columns per row) may be written.",
          "$ref": "GridCoordinate"
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields of CellData that should be updated. At least one field must be specified. The root is the CellData; 'row.values.' should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        },
        "range": {
          "description": "The range to write data to. If the data in rows does not cover the entire requested range, the fields matching those set in fields will be cleared.",
          "$ref": "GridRange"
        },
        "rows": {
          "description": "The data to write.",
          "type": "array",
          "items": {
            "$ref": "RowData"
          }
        }
      },
      "description": "Updates all cells in a range with new data."
    },
    "TextRotation": {
      "id": "TextRotation",
      "description": "The rotation applied to text in a cell.",
      "type": "object",
      "properties": {
        "angle": {
          "format": "int32",
          "type": "integer",
          "description": "The angle between the standard orientation and the desired orientation. Measured in degrees. Valid values are between -90 and 90. Positive angles are angled upwards, negative are angled downwards. Note: For LTR text direction positive angles are in the counterclockwise direction, whereas for RTL they are in the clockwise direction"
        },
        "vertical": {
          "type": "boolean",
          "description": "If true, text reads top to bottom, but the orientation of individual characters is unchanged. For example: | V | | e | | r | | t | | i | | c | | a | | l |"
        }
      }
    },
    "RefreshCancellationStatus": {
      "properties": {
        "state": {
          "enum": [
            "REFRESH_CANCELLATION_STATE_UNSPECIFIED",
            "CANCEL_SUCCEEDED",
            "CANCEL_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "The API call to Sheets to cancel a refresh has succeeded. This does not mean that the cancel happened successfully, but that the call has been made successfully.",
            "The API call to Sheets to cancel a refresh has failed."
          ],
          "description": "The state of a call to cancel a refresh in Sheets."
        },
        "errorCode": {
          "description": "The error code.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "Execution to be cancelled not found in the query engine or in Sheets.",
            "The user does not have permission to cancel the query.",
            "The query execution has already completed and thus could not be cancelled.",
            "There is already another cancellation in process.",
            "All other errors."
          ],
          "enum": [
            "REFRESH_CANCELLATION_ERROR_CODE_UNSPECIFIED",
            "EXECUTION_NOT_FOUND",
            "CANCEL_PERMISSION_DENIED",
            "QUERY_EXECUTION_COMPLETED",
            "CONCURRENT_CANCELLATION",
            "CANCEL_OTHER_ERROR"
          ]
        }
      },
      "description": "The status of a refresh cancellation. You can send a cancel request to explicitly cancel one or multiple data source object refreshes.",
      "id": "RefreshCancellationStatus",
      "type": "object"
    },
    "CancelDataSourceRefreshResponse": {
      "type": "object",
      "description": "The response from cancelling one or multiple data source object refreshes.",
      "properties": {
        "statuses": {
          "type": "array",
          "description": "The cancellation statuses of refreshes of all data source objects specified in the request. If is_all is specified, the field contains only those in failure status. Refreshing and canceling refresh the same data source object is also not allowed in the same `batchUpdate`.",
          "items": {
            "$ref": "CancelDataSourceRefreshStatus"
          }
        }
      },
      "id": "CancelDataSourceRefreshResponse"
    },
    "Chip": {
      "type": "object",
      "description": "The Smart Chip.",
      "id": "Chip",
      "properties": {
        "richLinkProperties": {
          "description": "Properties of a rich link.",
          "$ref": "RichLinkProperties"
        },
        "personProperties": {
          "$ref": "PersonProperties",
          "description": "Properties of a linked person."
        }
      }
    },
    "SheetProperties": {
      "properties": {
        "sheetType": {
          "type": "string",
          "description": "The type of sheet. Defaults to GRID. This field cannot be changed once set.",
          "enumDescriptions": [
            "Default value, do not use.",
            "The sheet is a grid.",
            "The sheet has no grid and instead has an object like a chart or image.",
            "The sheet connects with an external DataSource and shows the preview of data."
          ],
          "enum": [
            "SHEET_TYPE_UNSPECIFIED",
            "GRID",
            "OBJECT",
            "DATA_SOURCE"
          ]
        },
        "hidden": {
          "description": "True if the sheet is hidden in the UI, false if it's visible.",
          "type": "boolean"
        },
        "index": {
          "format": "int32",
          "type": "integer",
          "description": "The index of the sheet within the spreadsheet. When adding or updating sheet properties, if this field is excluded then the sheet is added or moved to the end of the sheet list. When updating sheet indices or inserting sheets, movement is considered in \"before the move\" indexes. For example, if there were three sheets (S1, S2, S3) in order to move S1 ahead of S2 the index would have to be set to 2. A sheet index update request is ignored if the requested index is identical to the sheets current index or if the requested new index is equal to the current sheet index + 1."
        },
        "tabColor": {
          "deprecated": true,
          "$ref": "Color",
          "description": "The color of the tab in the UI. Deprecated: Use tab_color_style."
        },
        "rightToLeft": {
          "description": "True if the sheet is an RTL sheet instead of an LTR sheet.",
          "type": "boolean"
        },
        "title": {
          "description": "The name of the sheet.",
          "type": "string"
        },
        "gridProperties": {
          "$ref": "GridProperties",
          "description": "Additional properties of the sheet if this sheet is a grid. (If the sheet is an object sheet, containing a chart or image, then this field will be absent.) When writing it is an error to set any grid properties on non-grid sheets. If this sheet is a DATA_SOURCE sheet, this field is output only but contains the properties that reflect how a data source sheet is rendered in the UI, e.g. row_count."
        },
        "sheetId": {
          "description": "The ID of the sheet. Must be non-negative. This field cannot be changed once set.",
          "type": "integer",
          "format": "int32"
        },
        "dataSourceSheetProperties": {
          "readOnly": true,
          "description": "Output only. If present, the field contains DATA_SOURCE sheet specific properties.",
          "$ref": "DataSourceSheetProperties"
        },
        "tabColorStyle": {
          "$ref": "ColorStyle",
          "description": "The color of the tab in the UI. If tab_color is also set, this field takes precedence."
        }
      },
      "type": "object",
      "description": "Properties of a sheet.",
      "id": "SheetProperties"
    },
    "AddSlicerResponse": {
      "id": "AddSlicerResponse",
      "properties": {
        "slicer": {
          "description": "The newly added slicer.",
          "$ref": "Slicer"
        }
      },
      "type": "object",
      "description": "The result of adding a slicer to a spreadsheet."
    },
    "BatchUpdateValuesResponse": {
      "description": "The response when updating a range of values in a spreadsheet.",
      "type": "object",
      "properties": {
        "totalUpdatedRows": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of rows where at least one cell in the row was updated."
        },
        "totalUpdatedSheets": {
          "type": "integer",
          "description": "The total number of sheets where at least one cell in the sheet was updated.",
          "format": "int32"
        },
        "responses": {
          "items": {
            "$ref": "UpdateValuesResponse"
          },
          "type": "array",
          "description": "One UpdateValuesResponse per requested range, in the same order as the requests appeared."
        },
        "totalUpdatedCells": {
          "type": "integer",
          "description": "The total number of cells updated.",
          "format": "int32"
        },
        "spreadsheetId": {
          "type": "string",
          "description": "The spreadsheet the updates were applied to."
        },
        "totalUpdatedColumns": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of columns where at least one cell in the column was updated."
        }
      },
      "id": "BatchUpdateValuesResponse"
    },
    "BatchUpdateValuesByDataFilterResponse": {
      "properties": {
        "totalUpdatedSheets": {
          "description": "The total number of sheets where at least one cell in the sheet was updated.",
          "format": "int32",
          "type": "integer"
        },
        "totalUpdatedRows": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of rows where at least one cell in the row was updated."
        },
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        },
        "totalUpdatedColumns": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of columns where at least one cell in the column was updated."
        },
        "responses": {
          "description": "The response for each range updated.",
          "items": {
            "$ref": "UpdateValuesByDataFilterResponse"
          },
          "type": "array"
        },
        "totalUpdatedCells": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of cells updated."
        }
      },
      "description": "The response when updating a range of values in a spreadsheet.",
      "type": "object",
      "id": "BatchUpdateValuesByDataFilterResponse"
    },
    "DeleteConditionalFormatRuleRequest": {
      "description": "Deletes a conditional format rule at the given index. All subsequent rules' indexes are decremented.",
      "properties": {
        "index": {
          "format": "int32",
          "description": "The zero-based index of the rule to be deleted.",
          "type": "integer"
        },
        "sheetId": {
          "description": "The sheet the rule is being deleted from.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DeleteConditionalFormatRuleRequest",
      "type": "object"
    },
    "DateTimeRule": {
      "id": "DateTimeRule",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "DATE_TIME_RULE_TYPE_UNSPECIFIED",
            "SECOND",
            "MINUTE",
            "HOUR",
            "HOUR_MINUTE",
            "HOUR_MINUTE_AMPM",
            "DAY_OF_WEEK",
            "DAY_OF_YEAR",
            "DAY_OF_MONTH",
            "DAY_MONTH",
            "MONTH",
            "QUARTER",
            "YEAR",
            "YEAR_MONTH",
            "YEAR_QUARTER",
            "YEAR_MONTH_DAY"
          ],
          "description": "The type of date-time grouping to apply.",
          "enumDescriptions": [
            "The default type, do not use.",
            "Group dates by second, from 0 to 59.",
            "Group dates by minute, from 0 to 59.",
            "Group dates by hour using a 24-hour system, from 0 to 23.",
            "Group dates by hour and minute using a 24-hour system, for example 19:45.",
            "Group dates by hour and minute using a 12-hour system, for example 7:45 PM. The AM/PM designation is translated based on the spreadsheet locale.",
            "Group dates by day of week, for example Sunday. The days of the week will be translated based on the spreadsheet locale.",
            "Group dates by day of year, from 1 to 366. Note that dates after Feb. 29 fall in different buckets in leap years than in non-leap years.",
            "Group dates by day of month, from 1 to 31.",
            "Group dates by day and month, for example 22-Nov. The month is translated based on the spreadsheet locale.",
            "Group dates by month, for example Nov. The month is translated based on the spreadsheet locale.",
            "Group dates by quarter, for example Q1 (which represents Jan-Mar).",
            "Group dates by year, for example 2008.",
            "Group dates by year and month, for example 2008-Nov. The month is translated based on the spreadsheet locale.",
            "Group dates by year and quarter, for example 2008 Q4.",
            "Group dates by year, month, and day, for example 2008-11-22."
          ]
        }
      },
      "description": "Allows you to organize the date-time values in a source data column into buckets based on selected parts of their date or time values. For example, consider a pivot table showing sales transactions by date: +----------+--------------+ | Date | SUM of Sales | +----------+--------------+ | 1/1/2017 | $621.14 | | 2/3/2017 | $708.84 | | 5/8/2017 | $326.84 | ... +----------+--------------+ Applying a date-time group rule with a DateTimeRuleType of YEAR_MONTH results in the following pivot table. +--------------+--------------+ | Grouped Date | SUM of Sales | +--------------+--------------+ | 2017-Jan | $53,731.78 | | 2017-Feb | $83,475.32 | | 2017-Mar | $94,385.05 | ... +--------------+--------------+",
      "type": "object"
    },
    "SlicerSpec": {
      "description": "The specifications of a slicer.",
      "properties": {
        "dataRange": {
          "description": "The data range of the slicer.",
          "$ref": "GridRange"
        },
        "applyToPivotTables": {
          "type": "boolean",
          "description": "True if the filter should apply to pivot tables. If not set, default to `True`."
        },
        "backgroundColorStyle": {
          "$ref": "ColorStyle",
          "description": "The background color of the slicer. If background_color is also set, this field takes precedence."
        },
        "backgroundColor": {
          "$ref": "Color",
          "deprecated": true,
          "description": "The background color of the slicer. Deprecated: Use background_color_style."
        },
        "title": {
          "description": "The title of the slicer.",
          "type": "string"
        },
        "horizontalAlignment": {
          "enumDescriptions": [
            "The horizontal alignment is not specified. Do not use this.",
            "The text is explicitly aligned to the left of the cell.",
            "The text is explicitly aligned to the center of the cell.",
            "The text is explicitly aligned to the right of the cell."
          ],
          "enum": [
            "HORIZONTAL_ALIGN_UNSPECIFIED",
            "LEFT",
            "CENTER",
            "RIGHT"
          ],
          "description": "The horizontal alignment of title in the slicer. If unspecified, defaults to `LEFT`",
          "type": "string"
        },
        "columnIndex": {
          "description": "The zero-based column index in the data table on which the filter is applied to.",
          "type": "integer",
          "format": "int32"
        },
        "textFormat": {
          "description": "The text format of title in the slicer. The link field is not supported.",
          "$ref": "TextFormat"
        },
        "filterCriteria": {
          "description": "The filtering criteria of the slicer.",
          "$ref": "FilterCriteria"
        }
      },
      "id": "SlicerSpec",
      "type": "object"
    },
    "AutoFillRequest": {
      "properties": {
        "useAlternateSeries": {
          "type": "boolean",
          "description": "True if we should generate data with the \"alternate\" series. This differs based on the type and amount of source data."
        },
        "sourceAndDestination": {
          "$ref": "SourceAndDestination",
          "description": "The source and destination areas to autofill. This explicitly lists the source of the autofill and where to extend that data."
        },
        "range": {
          "description": "The range to autofill. This will examine the range and detect the location that has data and automatically fill that data in to the rest of the range.",
          "$ref": "GridRange"
        }
      },
      "description": "Fills in more data based on existing data.",
      "id": "AutoFillRequest",
      "type": "object"
    },
    "TimeOfDay": {
      "properties": {
        "minutes": {
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "GridRange": {
      "properties": {
        "startRowIndex": {
          "description": "The start row (inclusive) of the range, or not set if unbounded.",
          "format": "int32",
          "type": "integer"
        },
        "sheetId": {
          "description": "The sheet this range is on.",
          "format": "int32",
          "type": "integer"
        },
        "endColumnIndex": {
          "description": "The end column (exclusive) of the range, or not set if unbounded.",
          "format": "int32",
          "type": "integer"
        },
        "endRowIndex": {
          "description": "The end row (exclusive) of the range, or not set if unbounded.",
          "format": "int32",
          "type": "integer"
        },
        "startColumnIndex": {
          "description": "The start column (inclusive) of the range, or not set if unbounded.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "A range on a sheet. All indexes are zero-based. Indexes are half open, i.e. the start index is inclusive and the end index is exclusive -- [start_index, end_index). Missing indexes indicate the range is unbounded on that side. For example, if `\"Sheet1\"` is sheet ID 123456, then: `Sheet1!A1:A1 == sheet_id: 123456, start_row_index: 0, end_row_index: 1, start_column_index: 0, end_column_index: 1` `Sheet1!A3:B4 == sheet_id: 123456, start_row_index: 2, end_row_index: 4, start_column_index: 0, end_column_index: 2` `Sheet1!A:B == sheet_id: 123456, start_column_index: 0, end_column_index: 2` `Sheet1!A5:B == sheet_id: 123456, start_row_index: 4, start_column_index: 0, end_column_index: 2` `Sheet1 == sheet_id: 123456` The start index must always be less than or equal to the end index. If the start index equals the end index, then the range is empty. Empty ranges are typically not meaningful and are usually rendered in the UI as `#REF!`.",
      "id": "GridRange"
    },
    "DataSourceSheetProperties": {
      "description": "Additional properties of a DATA_SOURCE sheet.",
      "properties": {
        "columns": {
          "items": {
            "$ref": "DataSourceColumn"
          },
          "type": "array",
          "description": "The columns displayed on the sheet, corresponding to the values in RowData."
        },
        "dataExecutionStatus": {
          "description": "The data execution status.",
          "$ref": "DataExecutionStatus"
        },
        "dataSourceId": {
          "description": "ID of the DataSource the sheet is connected to.",
          "type": "string"
        }
      },
      "id": "DataSourceSheetProperties",
      "type": "object"
    },
    "AddBandingRequest": {
      "properties": {
        "bandedRange": {
          "$ref": "BandedRange",
          "description": "The banded range to add. The bandedRangeId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a range that already exists.)"
        }
      },
      "description": "Adds a new banded range to the spreadsheet.",
      "id": "AddBandingRequest",
      "type": "object"
    },
    "TreemapChartColorScale": {
      "properties": {
        "minValueColor": {
          "$ref": "Color",
          "deprecated": true,
          "description": "The background color for cells with a color value less than or equal to minValue. Defaults to #dc3912 if not specified. Deprecated: Use min_value_color_style."
        },
        "maxValueColor": {
          "description": "The background color for cells with a color value greater than or equal to maxValue. Defaults to #109618 if not specified. Deprecated: Use max_value_color_style.",
          "deprecated": true,
          "$ref": "Color"
        },
        "midValueColorStyle": {
          "$ref": "ColorStyle",
          "description": "The background color for cells with a color value at the midpoint between minValue and maxValue. Defaults to #efe6dc if not specified. If mid_value_color is also set, this field takes precedence."
        },
        "noDataColor": {
          "$ref": "Color",
          "description": "The background color for cells that have no color data associated with them. Defaults to #000000 if not specified. Deprecated: Use no_data_color_style.",
          "deprecated": true
        },
        "minValueColorStyle": {
          "$ref": "ColorStyle",
          "description": "The background color for cells with a color value less than or equal to minValue. Defaults to #dc3912 if not specified. If min_value_color is also set, this field takes precedence."
        },
        "noDataColorStyle": {
          "description": "The background color for cells that have no color data associated with them. Defaults to #000000 if not specified. If no_data_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "midValueColor": {
          "deprecated": true,
          "$ref": "Color",
          "description": "The background color for cells with a color value at the midpoint between minValue and maxValue. Defaults to #efe6dc if not specified. Deprecated: Use mid_value_color_style."
        },
        "maxValueColorStyle": {
          "$ref": "ColorStyle",
          "description": "The background color for cells with a color value greater than or equal to maxValue. Defaults to #109618 if not specified. If max_value_color is also set, this field takes precedence."
        }
      },
      "description": "A color scale for a treemap chart.",
      "id": "TreemapChartColorScale",
      "type": "object"
    },
    "BatchUpdateValuesByDataFilterRequest": {
      "id": "BatchUpdateValuesByDataFilterRequest",
      "properties": {
        "data": {
          "items": {
            "$ref": "DataFilterValueRange"
          },
          "type": "array",
          "description": "The new values to apply to the spreadsheet. If more than one range is matched by the specified DataFilter the specified values are applied to all of those ranges."
        },
        "responseDateTimeRenderOption": {
          "type": "string",
          "enumDescriptions": [
            "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
            "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
          ],
          "enum": [
            "SERIAL_NUMBER",
            "FORMATTED_STRING"
          ],
          "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER."
        },
        "responseValueRenderOption": {
          "enum": [
            "FORMATTED_VALUE",
            "UNFORMATTED_VALUE",
            "FORMULA"
          ],
          "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
          "type": "string",
          "enumDescriptions": [
            "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
            "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
            "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
          ]
        },
        "includeValuesInResponse": {
          "type": "boolean",
          "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. The `updatedData` field within each of the BatchUpdateValuesResponse.responses contains the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns)."
        },
        "valueInputOption": {
          "description": "How the input data should be interpreted.",
          "enumDescriptions": [
            "Default input value. This value must not be used.",
            "The values the user has entered will not be parsed and will be stored as-is.",
            "The values will be parsed as if the user typed them into the UI. Numbers will stay as numbers, but strings may be converted to numbers, dates, etc. following the same rules that are applied when entering text into a cell via the Google Sheets UI."
          ],
          "enum": [
            "INPUT_VALUE_OPTION_UNSPECIFIED",
            "RAW",
            "USER_ENTERED"
          ],
          "type": "string"
        }
      },
      "description": "The request for updating more than one range of values in a spreadsheet.",
      "type": "object"
    },
    "PieChartSpec": {
      "id": "PieChartSpec",
      "type": "object",
      "description": "A pie chart.",
      "properties": {
        "legendPosition": {
          "enum": [
            "PIE_CHART_LEGEND_POSITION_UNSPECIFIED",
            "BOTTOM_LEGEND",
            "LEFT_LEGEND",
            "RIGHT_LEGEND",
            "TOP_LEGEND",
            "NO_LEGEND",
            "LABELED_LEGEND"
          ],
          "type": "string",
          "description": "Where the legend of the pie chart should be drawn.",
          "enumDescriptions": [
            "Default value, do not use.",
            "The legend is rendered on the bottom of the chart.",
            "The legend is rendered on the left of the chart.",
            "The legend is rendered on the right of the chart.",
            "The legend is rendered on the top of the chart.",
            "No legend is rendered.",
            "Each pie slice has a label attached to it."
          ]
        },
        "domain": {
          "description": "The data that covers the domain of the pie chart.",
          "$ref": "ChartData"
        },
        "series": {
          "$ref": "ChartData",
          "description": "The data that covers the one and only series of the pie chart."
        },
        "pieHole": {
          "description": "The size of the hole in the pie chart.",
          "format": "double",
          "type": "number"
        },
        "threeDimensional": {
          "type": "boolean",
          "description": "True if the pie is three dimensional."
        }
      }
    },
    "DuplicateFilterViewResponse": {
      "type": "object",
      "description": "The result of a filter view being duplicated.",
      "properties": {
        "filter": {
          "description": "The newly created filter.",
          "$ref": "FilterView"
        }
      },
      "id": "DuplicateFilterViewResponse"
    },
    "DeleteProtectedRangeRequest": {
      "properties": {
        "protectedRangeId": {
          "type": "integer",
          "description": "The ID of the protected range to delete.",
          "format": "int32"
        }
      },
      "id": "DeleteProtectedRangeRequest",
      "type": "object",
[...]
