{
  "name": "slides",
  "revision": "20260914",
  "title": "Google Slides API",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "See all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/presentations": {
          "description": "See, edit, create, and delete all your Google Slides presentations"
        },
        "https://www.googleapis.com/auth/presentations.readonly": {
          "description": "See all your Google Slides presentations"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/workspace/slides/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "description": "Reads and writes Google Slides presentations.",
  "schemas": {
    "PageElement": {
      "type": "object",
      "properties": {
        "image": {
          "description": "An image page element.",
          "$ref": "Image"
        },
        "elementGroup": {
          "$ref": "Group",
          "description": "A collection of page elements joined as a single unit."
        },
        "objectId": {
          "description": "The object ID for this page element. Object IDs used by google.apps.slides.v1.Page and google.apps.slides.v1.PageElement share the same namespace.",
          "type": "string"
        },
        "wordArt": {
          "$ref": "WordArt",
          "description": "A word art page element."
        },
        "shape": {
          "description": "A generic shape.",
          "$ref": "Shape"
        },
        "speakerSpotlight": {
          "$ref": "SpeakerSpotlight",
          "description": "A Speaker Spotlight."
        },
        "line": {
          "$ref": "Line",
          "description": "A line page element."
        },
        "description": {
          "description": "The description of the page element. Combined with title to display alt text. The field is not supported for Group elements.",
          "type": "string"
        },
        "transform": {
          "description": "The transform of the page element. The visual appearance of the page element is determined by its absolute transform. To compute the absolute transform, preconcatenate a page element's transform with the transforms of all of its parent groups. If the page element is not in a group, its absolute transform is the same as the value in this field. The initial transform for the newly created Group is always the identity transform.",
          "$ref": "AffineTransform"
        },
        "title": {
          "description": "The title of the page element. Combined with description to display alt text. The field is not supported for Group elements.",
          "type": "string"
        },
        "video": {
          "description": "A video page element.",
          "$ref": "Video"
        },
        "sheetsChart": {
          "description": "A linked chart embedded from Google Sheets. Unlinked charts are represented as images.",
          "$ref": "SheetsChart"
        },
        "size": {
          "description": "The size of the page element.",
          "$ref": "Size"
        },
        "table": {
          "description": "A table page element.",
          "$ref": "Table"
        }
      },
      "description": "A visual element rendered on a page.",
      "id": "PageElement"
    },
    "TableRange": {
      "description": "A table range represents a reference to a subset of a table. It's important to note that the cells specified by a table range do not necessarily form a rectangle. For example, let's say we have a 3 x 3 table where all the cells of the last row are merged together. The table looks like this: [ ] A table range with location = (0, 0), row span = 3 and column span = 2 specifies the following cells: x x [ x x x ]",
      "properties": {
        "location": {
          "$ref": "TableCellLocation",
          "description": "The starting location of the table range."
        },
        "columnSpan": {
          "description": "The column span of the table range.",
          "type": "integer",
          "format": "int32"
        },
        "rowSpan": {
          "format": "int32",
          "type": "integer",
          "description": "The row span of the table range."
        }
      },
      "type": "object",
      "id": "TableRange"
    },
    "SpeakerSpotlightProperties": {
      "description": "The properties of the SpeakerSpotlight.",
      "type": "object",
      "properties": {
        "shadow": {
          "description": "The shadow of the Speaker Spotlight. If not set, it has no shadow.",
          "$ref": "Shadow"
        },
        "outline": {
          "description": "The outline of the Speaker Spotlight. If not set, it has no outline.",
          "$ref": "Outline"
        }
      },
      "id": "SpeakerSpotlightProperties"
    },
    "TableRowProperties": {
      "type": "object",
      "description": "Properties of each row in a table.",
      "id": "TableRowProperties",
      "properties": {
        "minRowHeight": {
          "description": "Minimum height of the row. The row will be rendered in the Slides editor at a height equal to or greater than this value in order to show all the text in the row's cell(s).",
          "$ref": "Dimension"
        }
      }
    },
    "CreateTableResponse": {
      "type": "object",
      "id": "CreateTableResponse",
      "description": "The result of creating a table.",
      "properties": {
        "objectId": {
          "description": "The object ID of the created table.",
          "type": "string"
        }
      }
    },
    "InsertTableRowsRequest": {
      "id": "InsertTableRowsRequest",
      "type": "object",
      "properties": {
        "tableObjectId": {
          "description": "The table to insert rows into.",
          "type": "string"
        },
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which rows will be inserted. A new row will be inserted above (or below) the row where the reference cell is. If the reference cell is a merged cell, a new row will be inserted above (or below) the merged cell."
        },
        "insertBelow": {
          "description": "Whether to insert new rows below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell.",
          "type": "boolean"
        },
        "number": {
          "description": "The number of rows to be inserted. Maximum 20 per request.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Inserts rows into a table."
    },
    "SpeakerSpotlight": {
      "type": "object",
      "description": "A PageElement kind representing a Speaker Spotlight.",
      "id": "SpeakerSpotlight",
      "properties": {
        "speakerSpotlightProperties": {
          "description": "The properties of the Speaker Spotlight.",
          "$ref": "SpeakerSpotlightProperties"
        }
      }
    },
    "UpdatePagePropertiesRequest": {
      "id": "UpdatePagePropertiesRequest",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the page the update is applied to."
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `pageProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the page background solid fill color, set `fields` to `\"pageBackgroundFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask"
        },
        "pageProperties": {
          "description": "The page properties to update.",
          "$ref": "PageProperties"
        }
      },
      "description": "Updates the properties of a Page.",
      "type": "object"
    },
    "RefreshSheetsChartRequest": {
      "id": "RefreshSheetsChartRequest",
      "description": "Refreshes an embedded Google Sheets chart by replacing it with the latest version of the chart from Google Sheets. NOTE: Refreshing charts requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly, or drive OAuth scopes.",
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The object ID of the chart to refresh.",
          "type": "string"
        }
      }
    },
    "NotesProperties": {
      "id": "NotesProperties",
      "properties": {
        "speakerNotesObjectId": {
          "description": "The object ID of the shape on this notes page that contains the speaker notes for the corresponding slide. The actual shape may not always exist on the notes page. Inserting text using this object ID will automatically create the shape. In this case, the actual shape may have different object ID. The `GetPresentation` or `GetPage` action will always return the latest object ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The properties of Page that are only relevant for pages with page_type NOTES."
    },
    "DeleteTextRequest": {
      "description": "Deletes text from a shape or a table cell.",
      "id": "DeleteTextRequest",
      "type": "object",
      "properties": {
        "textRange": {
          "description": "The range of text to delete, based on TextElement indexes. There is always an implicit newline character at the end of a shape's or table cell's text that cannot be deleted. `Range.Type.ALL` will use the correct bounds, but care must be taken when specifying explicit bounds for range types `FROM_START_INDEX` and `FIXED_RANGE`. For example, if the text is \"ABC\", followed by an implicit newline, then the maximum value is 2 for `text_range.start_index` and 3 for `text_range.end_index`. Deleting text that crosses a paragraph boundary may result in changes to paragraph styles and lists as the two paragraphs are merged. Ranges that include only one code unit of a surrogate pair are expanded to include both code units.",
          "$ref": "Range"
        },
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The optional table cell location if the text is to be deleted from a table cell. If present, the object_id must refer to a table."
        },
        "objectId": {
          "description": "The object ID of the shape or table from which the text will be deleted.",
          "type": "string"
        }
      }
    },
    "DeleteParagraphBulletsRequest": {
      "id": "DeleteParagraphBulletsRequest",
      "description": "Deletes bullets from all of the paragraphs that overlap with the given text index range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph.",
      "type": "object",
      "properties": {
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The optional table cell location if the text to be modified is in a table cell. If present, the object_id must refer to a table."
        },
        "objectId": {
          "description": "The object ID of the shape or table containing the text to delete bullets from.",
          "type": "string"
        },
        "textRange": {
          "$ref": "Range",
          "description": "The range of text to delete bullets from, based on TextElement indexes."
        }
      }
    },
    "UngroupObjectsRequest": {
      "type": "object",
      "id": "UngroupObjectsRequest",
      "properties": {
        "objectIds": {
          "type": "array",
          "description": "The object IDs of the objects to ungroup. Only groups that are not inside other groups can be ungrouped. All the groups should be on the same page. The group itself is deleted. The visual sizes and positions of all the children are preserved.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Ungroups objects, such as groups."
    },
    "UpdateLineCategoryRequest": {
      "description": "Updates the category of a line.",
      "id": "UpdateLineCategoryRequest",
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The object ID of the line the update is applied to. Only a line with a category indicating it is a \"connector\" can be updated. The line may be rerouted after updating its category.",
          "type": "string"
        },
        "lineCategory": {
          "enum": [
            "LINE_CATEGORY_UNSPECIFIED",
            "STRAIGHT",
            "BENT",
            "CURVED"
          ],
          "description": "The line category to update to. The exact line type is determined based on the category to update to and how it's routed to connect to other page elements.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified line category.",
            "Straight connectors, including straight connector 1.",
            "Bent connectors, including bent connector 2 to 5.",
            "Curved connectors, including curved connector 2 to 5."
          ]
        }
      }
    },
    "UnmergeTableCellsRequest": {
      "properties": {
        "objectId": {
          "description": "The object ID of the table.",
          "type": "string"
        },
        "tableRange": {
          "description": "The table range specifying which cells of the table to unmerge. All merged cells in this range will be unmerged, and cells that are already unmerged will not be affected. If the range has no merged cells, the request will do nothing. If there is text in any of the merged cells, the text will remain in the upper-left (\"head\") cell of the resulting block of unmerged cells.",
          "$ref": "TableRange"
        }
      },
      "type": "object",
      "id": "UnmergeTableCellsRequest",
      "description": "Unmerges cells in a Table."
    },
    "Thumbnail": {
      "description": "The thumbnail of a page.",
      "id": "Thumbnail",
      "properties": {
        "contentUrl": {
          "description": "The content URL of the thumbnail image. The URL to the image has a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the image as the original requester. Access to the image may be lost if the presentation's sharing settings change. The mime type of the thumbnail image is the same as specified in the `GetPageThumbnailRequest`.",
          "type": "string"
        },
        "width": {
          "format": "int32",
          "description": "The positive width in pixels of the thumbnail image.",
          "type": "integer"
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "The positive height in pixels of the thumbnail image."
        }
      },
      "type": "object"
    },
    "UpdateTableCellPropertiesRequest": {
      "properties": {
        "tableCellProperties": {
          "$ref": "TableCellProperties",
          "description": "The table cell properties to update."
        },
        "tableRange": {
          "$ref": "TableRange",
          "description": "The table range representing the subset of the table to which the updates are applied. If a table range is not specified, the updates will apply to the entire table."
        },
        "objectId": {
          "description": "The object ID of the table.",
          "type": "string"
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableCellProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background solid fill color, set `fields` to `\"tableCellBackgroundFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string"
        }
      },
      "description": "Update the properties of a TableCell.",
      "id": "UpdateTableCellPropertiesRequest",
      "type": "object"
    },
    "OptionalColor": {
      "properties": {
        "opaqueColor": {
          "description": "If set, this will be used as an opaque color. If unset, this represents a transparent color.",
          "$ref": "OpaqueColor"
        }
      },
      "id": "OptionalColor",
      "type": "object",
      "description": "A color that can either be fully opaque or fully transparent."
    },
    "Link": {
      "type": "object",
      "description": "A hypertext link.",
      "properties": {
        "relativeLink": {
          "enumDescriptions": [
            "An unspecified relative slide link.",
            "A link to the next slide.",
            "A link to the previous slide.",
            "A link to the first slide in the presentation.",
            "A link to the last slide in the presentation."
          ],
          "description": "If set, indicates this is a link to a slide in this presentation, addressed by its position.",
          "enum": [
            "RELATIVE_SLIDE_LINK_UNSPECIFIED",
            "NEXT_SLIDE",
            "PREVIOUS_SLIDE",
            "FIRST_SLIDE",
            "LAST_SLIDE"
          ],
          "type": "string"
        },
        "slideIndex": {
          "type": "integer",
          "description": "If set, indicates this is a link to the slide at this zero-based index in the presentation. There may not be a slide at this index.",
          "format": "int32"
        },
        "pageObjectId": {
          "description": "If set, indicates this is a link to the specific page in this presentation with this ID. A page with this ID may not exist.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "If set, indicates this is a link to the external web page at this URL."
        }
      },
      "id": "Link"
    },
    "CreateLineRequest": {
      "properties": {
        "objectId": {
          "type": "string",
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated."
        },
        "elementProperties": {
          "$ref": "PageElementProperties",
          "description": "The element properties for the line."
        },
        "lineCategory": {
          "type": "string",
          "deprecated": true,
          "enumDescriptions": [
            "Straight connectors, including straight connector 1. The is the default category when one is not specified.",
            "Bent connectors, including bent connector 2 to 5.",
            "Curved connectors, including curved connector 2 to 5."
          ],
          "description": "The category of the line to be created. *Deprecated*: use `category` instead. The exact line type created is determined based on the category and how it's routed to connect to other page elements. If you specify both a `category` and a `line_category`, the `category` takes precedence.",
          "enum": [
            "STRAIGHT",
            "BENT",
            "CURVED"
          ]
        },
        "category": {
          "type": "string",
          "enum": [
            "LINE_CATEGORY_UNSPECIFIED",
            "STRAIGHT",
            "BENT",
            "CURVED"
          ],
          "description": "The category of the line to be created. The exact line type created is determined based on the category and how it's routed to connect to other page elements. If you specify both a `category` and a `line_category`, the `category` takes precedence. If you do not specify a value for `category`, but specify a value for `line_category`, then the specified `line_category` value is used. If you do not specify either, then STRAIGHT is used.",
          "enumDescriptions": [
            "Unspecified line category.",
            "Straight connectors, including straight connector 1.",
            "Bent connectors, including bent connector 2 to 5.",
            "Curved connectors, including curved connector 2 to 5."
          ]
        }
      },
      "description": "Creates a line.",
      "type": "object",
      "id": "CreateLineRequest"
    },
    "UpdateImagePropertiesRequest": {
      "properties": {
        "imageProperties": {
          "$ref": "ImageProperties",
          "description": "The image properties to update."
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `imageProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the image outline color, set `fields` to `\"outline.outlineFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask"
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the image the updates are applied to."
        }
      },
      "description": "Update the properties of an Image.",
      "id": "UpdateImagePropertiesRequest",
      "type": "object"
    },
    "WriteControl": {
      "id": "WriteControl",
      "description": "Provides control over how write requests are executed.",
      "properties": {
        "requiredRevisionId": {
          "description": "The revision ID of the presentation required for the write request. If specified and the required revision ID doesn't match the presentation's current revision ID, the request is not processed and returns a 400 bad request error. When a required revision ID is returned in a response, it indicates the revision ID of the document after the request was applied.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpdatePageElementAltTextRequest": {
      "id": "UpdatePageElementAltTextRequest",
      "type": "object",
      "properties": {
        "description": {
          "description": "The updated alt text description of the page element. If unset the existing value will be maintained. The description is exposed to screen readers and other accessibility interfaces. Only use human readable values related to the content of the page element.",
          "type": "string"
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the page element the updates are applied to."
        },
        "title": {
          "type": "string",
          "description": "The updated alt text title of the page element. If unset the existing value will be maintained. The title is exposed to screen readers and other accessibility interfaces. Only use human readable values related to the content of the page element."
        }
      },
      "description": "Updates the alt text title and/or description of a page element."
    },
    "TableCellBackgroundFill": {
      "description": "The table cell background fill.",
      "id": "TableCellBackgroundFill",
      "properties": {
        "propertyState": {
          "description": "The background fill property state. Updating the fill on a table cell will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no fill on a table cell, set this field to `NOT_RENDERED`. In this case, any other fill fields set in the same request will be ignored.",
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ],
          "type": "string",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered on a page. If the element is a placeholder shape as determined by the placeholder field, and it inherits from a placeholder shape, the corresponding field may be unset, meaning that the property value is inherited from a parent placeholder. If the element does not inherit, then the field will contain the rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered on a page. However, the field may still be set so it can be inherited by child shapes. To remove a property from a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of corresponding `property_state` field on the parent shape. Elements that do not inherit will never have an INHERIT property state."
          ]
        },
        "solidFill": {
          "$ref": "SolidFill",
          "description": "Solid color fill."
        }
      },
      "type": "object"
    },
    "Shadow": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified shadow type.",
            "Outer shadow."
          ],
          "enum": [
            "SHADOW_TYPE_UNSPECIFIED",
            "OUTER"
          ],
          "description": "The type of the shadow. This property is read-only."
        },
        "alignment": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Top left.",
            "Top center.",
            "Top right.",
            "Left center.",
            "Center.",
            "Right center.",
            "Bottom left.",
            "Bottom center.",
            "Bottom right."
          ],
          "enum": [
            "RECTANGLE_POSITION_UNSPECIFIED",
            "TOP_LEFT",
            "TOP_CENTER",
            "TOP_RIGHT",
            "LEFT_CENTER",
            "CENTER",
            "RIGHT_CENTER",
            "BOTTOM_LEFT",
            "BOTTOM_CENTER",
            "BOTTOM_RIGHT"
          ],
          "description": "The alignment point of the shadow, that sets the origin for translate, scale and skew of the shadow. This property is read-only."
        },
        "propertyState": {
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ],
          "description": "The shadow property state. Updating the shadow on a page element will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no shadow on a page element, set this field to `NOT_RENDERED`. In this case, any other shadow fields set in the same request will be ignored.",
          "type": "string",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered on a page. If the element is a placeholder shape as determined by the placeholder field, and it inherits from a placeholder shape, the corresponding field may be unset, meaning that the property value is inherited from a parent placeholder. If the element does not inherit, then the field will contain the rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered on a page. However, the field may still be set so it can be inherited by child shapes. To remove a property from a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of corresponding `property_state` field on the parent shape. Elements that do not inherit will never have an INHERIT property state."
          ]
        },
        "transform": {
          "description": "Transform that encodes the translate, scale, and skew of the shadow, relative to the alignment position.",
          "$ref": "AffineTransform"
        },
        "color": {
          "description": "The shadow color value.",
          "$ref": "OpaqueColor"
        },
        "rotateWithShape": {
          "description": "Whether the shadow should rotate with the shape. This property is read-only.",
          "type": "boolean"
        },
        "alpha": {
          "description": "The alpha of the shadow's color, from 0.0 to 1.0.",
          "format": "float",
          "type": "number"
        },
        "blurRadius": {
          "$ref": "Dimension",
          "description": "The radius of the shadow blur. The larger the radius, the more diffuse the shadow becomes."
        }
      },
      "description": "The shadow properties of a page element. If these fields are unset, they may be inherited from a parent placeholder if it exists. If there is no parent, the fields will default to the value used for new page elements created in the Slides editor, which may depend on the page element kind.",
      "type": "object",
      "id": "Shadow"
    },
    "Shape": {
      "properties": {
        "shapeType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Text box shape.",
            "Rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'rect'",
            "Round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'roundRect'",
            "Ellipse shape. Corresponds to ECMA-376 ST_ShapeType 'ellipse'",
            "Curved arc shape. Corresponds to ECMA-376 ST_ShapeType 'arc'",
            "Bent arrow shape. Corresponds to ECMA-376 ST_ShapeType 'bentArrow'",
            "Bent up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'bentUpArrow'",
            "Bevel shape. Corresponds to ECMA-376 ST_ShapeType 'bevel'",
            "Block arc shape. Corresponds to ECMA-376 ST_ShapeType 'blockArc'",
            "Brace pair shape. Corresponds to ECMA-376 ST_ShapeType 'bracePair'",
            "Bracket pair shape. Corresponds to ECMA-376 ST_ShapeType 'bracketPair'",
            "Can shape. Corresponds to ECMA-376 ST_ShapeType 'can'",
            "Chevron shape. Corresponds to ECMA-376 ST_ShapeType 'chevron'",
            "Chord shape. Corresponds to ECMA-376 ST_ShapeType 'chord'",
            "Cloud shape. Corresponds to ECMA-376 ST_ShapeType 'cloud'",
            "Corner shape. Corresponds to ECMA-376 ST_ShapeType 'corner'",
            "Cube shape. Corresponds to ECMA-376 ST_ShapeType 'cube'",
            "Curved down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'curvedDownArrow'",
            "Curved left arrow shape. Corresponds to ECMA-376 ST_ShapeType 'curvedLeftArrow'",
            "Curved right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'curvedRightArrow'",
            "Curved up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'curvedUpArrow'",
            "Decagon shape. Corresponds to ECMA-376 ST_ShapeType 'decagon'",
            "Diagonal stripe shape. Corresponds to ECMA-376 ST_ShapeType 'diagStripe'",
            "Diamond shape. Corresponds to ECMA-376 ST_ShapeType 'diamond'",
            "Dodecagon shape. Corresponds to ECMA-376 ST_ShapeType 'dodecagon'",
            "Donut shape. Corresponds to ECMA-376 ST_ShapeType 'donut'",
            "Double wave shape. Corresponds to ECMA-376 ST_ShapeType 'doubleWave'",
            "Down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'downArrow'",
            "Callout down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'downArrowCallout'",
            "Folded corner shape. Corresponds to ECMA-376 ST_ShapeType 'foldedCorner'",
            "Frame shape. Corresponds to ECMA-376 ST_ShapeType 'frame'",
            "Half frame shape. Corresponds to ECMA-376 ST_ShapeType 'halfFrame'",
            "Heart shape. Corresponds to ECMA-376 ST_ShapeType 'heart'",
            "Heptagon shape. Corresponds to ECMA-376 ST_ShapeType 'heptagon'",
            "Hexagon shape. Corresponds to ECMA-376 ST_ShapeType 'hexagon'",
            "Home plate shape. Corresponds to ECMA-376 ST_ShapeType 'homePlate'",
            "Horizontal scroll shape. Corresponds to ECMA-376 ST_ShapeType 'horizontalScroll'",
            "Irregular seal 1 shape. Corresponds to ECMA-376 ST_ShapeType 'irregularSeal1'",
            "Irregular seal 2 shape. Corresponds to ECMA-376 ST_ShapeType 'irregularSeal2'",
            "Left arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftArrow'",
            "Callout left arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftArrowCallout'",
            "Left brace shape. Corresponds to ECMA-376 ST_ShapeType 'leftBrace'",
            "Left bracket shape. Corresponds to ECMA-376 ST_ShapeType 'leftBracket'",
            "Left right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftRightArrow'",
            "Callout left right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftRightArrowCallout'",
            "Left right up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftRightUpArrow'",
            "Left up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftUpArrow'",
            "Lightning bolt shape. Corresponds to ECMA-376 ST_ShapeType 'lightningBolt'",
            "Divide math shape. Corresponds to ECMA-376 ST_ShapeType 'mathDivide'",
            "Equal math shape. Corresponds to ECMA-376 ST_ShapeType 'mathEqual'",
            "Minus math shape. Corresponds to ECMA-376 ST_ShapeType 'mathMinus'",
            "Multiply math shape. Corresponds to ECMA-376 ST_ShapeType 'mathMultiply'",
            "Not equal math shape. Corresponds to ECMA-376 ST_ShapeType 'mathNotEqual'",
            "Plus math shape. Corresponds to ECMA-376 ST_ShapeType 'mathPlus'",
            "Moon shape. Corresponds to ECMA-376 ST_ShapeType 'moon'",
            "No smoking shape. Corresponds to ECMA-376 ST_ShapeType 'noSmoking'",
            "Notched right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'notchedRightArrow'",
            "Octagon shape. Corresponds to ECMA-376 ST_ShapeType 'octagon'",
            "Parallelogram shape. Corresponds to ECMA-376 ST_ShapeType 'parallelogram'",
            "Pentagon shape. Corresponds to ECMA-376 ST_ShapeType 'pentagon'",
            "Pie shape. Corresponds to ECMA-376 ST_ShapeType 'pie'",
            "Plaque shape. Corresponds to ECMA-376 ST_ShapeType 'plaque'",
            "Plus shape. Corresponds to ECMA-376 ST_ShapeType 'plus'",
            "Quad-arrow shape. Corresponds to ECMA-376 ST_ShapeType 'quadArrow'",
            "Callout quad-arrow shape. Corresponds to ECMA-376 ST_ShapeType 'quadArrowCallout'",
            "Ribbon shape. Corresponds to ECMA-376 ST_ShapeType 'ribbon'",
            "Ribbon 2 shape. Corresponds to ECMA-376 ST_ShapeType 'ribbon2'",
            "Right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'rightArrow'",
            "Callout right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'rightArrowCallout'",
            "Right brace shape. Corresponds to ECMA-376 ST_ShapeType 'rightBrace'",
            "Right bracket shape. Corresponds to ECMA-376 ST_ShapeType 'rightBracket'",
            "One round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'round1Rect'",
            "Two diagonal round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'round2DiagRect'",
            "Two same-side round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'round2SameRect'",
            "Right triangle shape. Corresponds to ECMA-376 ST_ShapeType 'rtTriangle'",
            "Smiley face shape. Corresponds to ECMA-376 ST_ShapeType 'smileyFace'",
            "One snip corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'snip1Rect'",
            "Two diagonal snip corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'snip2DiagRect'",
            "Two same-side snip corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'snip2SameRect'",
            "One snip one round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'snipRoundRect'",
            "Ten pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star10'",
            "Twelve pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star12'",
            "Sixteen pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star16'",
            "Twenty four pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star24'",
            "Thirty two pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star32'",
            "Four pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star4'",
            "Five pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star5'",
            "Six pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star6'",
            "Seven pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star7'",
            "Eight pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star8'",
            "Striped right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'stripedRightArrow'",
            "Sun shape. Corresponds to ECMA-376 ST_ShapeType 'sun'",
            "Trapezoid shape. Corresponds to ECMA-376 ST_ShapeType 'trapezoid'",
            "Triangle shape. Corresponds to ECMA-376 ST_ShapeType 'triangle'",
            "Up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'upArrow'",
            "Callout up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'upArrowCallout'",
            "Up down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'upDownArrow'",
            "U-turn arrow shape. Corresponds to ECMA-376 ST_ShapeType 'uturnArrow'",
            "Vertical scroll shape. Corresponds to ECMA-376 ST_ShapeType 'verticalScroll'",
            "Wave shape. Corresponds to ECMA-376 ST_ShapeType 'wave'",
            "Callout wedge ellipse shape. Corresponds to ECMA-376 ST_ShapeType 'wedgeEllipseCallout'",
            "Callout wedge rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'wedgeRectCallout'",
            "Callout wedge round rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'wedgeRoundRectCallout'",
            "Alternate process flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartAlternateProcess'",
            "Collate flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartCollate'",
            "Connector flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartConnector'",
            "Decision flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartDecision'",
            "Delay flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartDelay'",
            "Display flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartDisplay'",
            "Document flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartDocument'",
            "Extract flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartExtract'",
            "Input output flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartInputOutput'",
            "Internal storage flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartInternalStorage'",
            "Magnetic disk flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartMagneticDisk'",
            "Magnetic drum flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartMagneticDrum'",
            "Magnetic tape flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartMagneticTape'",
            "Manual input flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartManualInput'",
            "Manual operation flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartManualOperation'",
            "Merge flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartMerge'",
            "Multi-document flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartMultidocument'",
            "Offline storage flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartOfflineStorage'",
            "Off-page connector flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartOffpageConnector'",
            "Online storage flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartOnlineStorage'",
            "Or flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartOr'",
            "Predefined process flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartPredefinedProcess'",
            "Preparation flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartPreparation'",
            "Process flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartProcess'",
            "Punched card flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartPunchedCard'",
            "Punched tape flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartPunchedTape'",
            "Sort flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartSort'",
            "Summing junction flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartSummingJunction'",
            "Terminator flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartTerminator'",
            "East arrow shape.",
            "Northeast arrow shape.",
            "North arrow shape.",
            "Speech shape.",
            "Star burst shape.",
            "Teardrop shape. Corresponds to ECMA-376 ST_ShapeType 'teardrop'",
            "Ellipse ribbon shape. Corresponds to ECMA-376 ST_ShapeType 'ellipseRibbon'",
            "Ellipse ribbon 2 shape. Corresponds to ECMA-376 ST_ShapeType 'ellipseRibbon2'",
            "Callout cloud shape. Corresponds to ECMA-376 ST_ShapeType 'cloudCallout'",
            "Custom shape."
          ],
          "description": "The type of the shape.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TEXT_BOX",
            "RECTANGLE",
            "ROUND_RECTANGLE",
            "ELLIPSE",
            "ARC",
            "BENT_ARROW",
            "BENT_UP_ARROW",
            "BEVEL",
            "BLOCK_ARC",
            "BRACE_PAIR",
            "BRACKET_PAIR",
            "CAN",
            "CHEVRON",
            "CHORD",
            "CLOUD",
            "CORNER",
            "CUBE",
            "CURVED_DOWN_ARROW",
            "CURVED_LEFT_ARROW",
            "CURVED_RIGHT_ARROW",
            "CURVED_UP_ARROW",
            "DECAGON",
            "DIAGONAL_STRIPE",
            "DIAMOND",
            "DODECAGON",
            "DONUT",
            "DOUBLE_WAVE",
            "DOWN_ARROW",
            "DOWN_ARROW_CALLOUT",
            "FOLDED_CORNER",
            "FRAME",
            "HALF_FRAME",
            "HEART",
            "HEPTAGON",
            "HEXAGON",
            "HOME_PLATE",
            "HORIZONTAL_SCROLL",
            "IRREGULAR_SEAL_1",
            "IRREGULAR_SEAL_2",
            "LEFT_ARROW",
            "LEFT_ARROW_CALLOUT",
            "LEFT_BRACE",
            "LEFT_BRACKET",
            "LEFT_RIGHT_ARROW",
            "LEFT_RIGHT_ARROW_CALLOUT",
            "LEFT_RIGHT_UP_ARROW",
            "LEFT_UP_ARROW",
            "LIGHTNING_BOLT",
            "MATH_DIVIDE",
            "MATH_EQUAL",
            "MATH_MINUS",
            "MATH_MULTIPLY",
            "MATH_NOT_EQUAL",
            "MATH_PLUS",
            "MOON",
            "NO_SMOKING",
            "NOTCHED_RIGHT_ARROW",
            "OCTAGON",
            "PARALLELOGRAM",
            "PENTAGON",
            "PIE",
            "PLAQUE",
            "PLUS",
            "QUAD_ARROW",
            "QUAD_ARROW_CALLOUT",
            "RIBBON",
            "RIBBON_2",
            "RIGHT_ARROW",
            "RIGHT_ARROW_CALLOUT",
            "RIGHT_BRACE",
            "RIGHT_BRACKET",
            "ROUND_1_RECTANGLE",
            "ROUND_2_DIAGONAL_RECTANGLE",
            "ROUND_2_SAME_RECTANGLE",
            "RIGHT_TRIANGLE",
            "SMILEY_FACE",
            "SNIP_1_RECTANGLE",
            "SNIP_2_DIAGONAL_RECTANGLE",
            "SNIP_2_SAME_RECTANGLE",
            "SNIP_ROUND_RECTANGLE",
            "STAR_10",
            "STAR_12",
            "STAR_16",
            "STAR_24",
            "STAR_32",
            "STAR_4",
            "STAR_5",
            "STAR_6",
            "STAR_7",
            "STAR_8",
            "STRIPED_RIGHT_ARROW",
            "SUN",
            "TRAPEZOID",
            "TRIANGLE",
            "UP_ARROW",
            "UP_ARROW_CALLOUT",
            "UP_DOWN_ARROW",
            "UTURN_ARROW",
            "VERTICAL_SCROLL",
            "WAVE",
            "WEDGE_ELLIPSE_CALLOUT",
            "WEDGE_RECTANGLE_CALLOUT",
            "WEDGE_ROUND_RECTANGLE_CALLOUT",
            "FLOW_CHART_ALTERNATE_PROCESS",
            "FLOW_CHART_COLLATE",
            "FLOW_CHART_CONNECTOR",
            "FLOW_CHART_DECISION",
            "FLOW_CHART_DELAY",
            "FLOW_CHART_DISPLAY",
            "FLOW_CHART_DOCUMENT",
            "FLOW_CHART_EXTRACT",
            "FLOW_CHART_INPUT_OUTPUT",
            "FLOW_CHART_INTERNAL_STORAGE",
            "FLOW_CHART_MAGNETIC_DISK",
            "FLOW_CHART_MAGNETIC_DRUM",
            "FLOW_CHART_MAGNETIC_TAPE",
            "FLOW_CHART_MANUAL_INPUT",
            "FLOW_CHART_MANUAL_OPERATION",
            "FLOW_CHART_MERGE",
            "FLOW_CHART_MULTIDOCUMENT",
            "FLOW_CHART_OFFLINE_STORAGE",
            "FLOW_CHART_OFFPAGE_CONNECTOR",
            "FLOW_CHART_ONLINE_STORAGE",
            "FLOW_CHART_OR",
            "FLOW_CHART_PREDEFINED_PROCESS",
            "FLOW_CHART_PREPARATION",
            "FLOW_CHART_PROCESS",
            "FLOW_CHART_PUNCHED_CARD",
            "FLOW_CHART_PUNCHED_TAPE",
            "FLOW_CHART_SORT",
            "FLOW_CHART_SUMMING_JUNCTION",
            "FLOW_CHART_TERMINATOR",
            "ARROW_EAST",
            "ARROW_NORTH_EAST",
            "ARROW_NORTH",
            "SPEECH",
            "STARBURST",
            "TEARDROP",
            "ELLIPSE_RIBBON",
            "ELLIPSE_RIBBON_2",
            "CLOUD_CALLOUT",
            "CUSTOM"
          ]
        },
        "text": {
          "$ref": "TextContent",
          "description": "The text content of the shape."
        },
        "shapeProperties": {
          "description": "The properties of the shape.",
          "$ref": "ShapeProperties"
        },
        "placeholder": {
          "description": "Placeholders are page elements that inherit from corresponding placeholders on layouts and masters. If set, the shape is a placeholder shape and any inherited properties can be resolved by looking at the parent placeholder identified by the Placeholder.parent_object_id field.",
          "$ref": "Placeholder"
        }
      },
      "id": "Shape",
      "type": "object",
      "description": "A PageElement kind representing a generic shape that doesn't have a more specific classification. For more information, see [Size and position page elements](https://developers.google.com/workspace/slides/api/guides/transform)."
    },
    "CreateVideoRequest": {
      "description": "Creates a video. NOTE: Creating a video from Google Drive requires that the requesting app have at least one of the drive, drive.readonly, or drive.file OAuth scopes.",
      "type": "object",
      "id": "CreateVideoRequest",
      "properties": {
        "objectId": {
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "id": {
          "description": "The video source's unique identifier for this video. e.g. For YouTube video https://www.youtube.com/watch?v=7U3axjORYZ0, the ID is 7U3axjORYZ0. For a Google Drive video https://drive.google.com/file/d/1xCgQLFTJi5_Xl8DgW_lcUYq5e-q6Hi5Q the ID is 1xCgQLFTJi5_Xl8DgW_lcUYq5e-q6Hi5Q. To access a Google Drive video file, you might need to add a resource key to the HTTP header for a subset of old files. For more information, see [Access link-shared files using resource keys](https://developers.google.com/drive/api/v3/resource-keys).",
          "type": "string"
        },
        "elementProperties": {
          "description": "The element properties for the video. The PageElementProperties.size property is optional. If you don't specify a size, a default size is chosen by the server. The PageElementProperties.transform property is optional. The transform must not have shear components. If you don't specify a transform, the video will be placed at the top left corner of the page.",
          "$ref": "PageElementProperties"
        },
        "source": {
          "enumDescriptions": [
            "The video source is unspecified.",
            "The video source is YouTube.",
            "The video source is Google Drive."
          ],
          "description": "The video source.",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "YOUTUBE",
            "DRIVE"
          ],
          "type": "string"
        }
      }
    },
    "Request": {
      "properties": {
        "createLine": {
          "description": "Creates a line.",
          "$ref": "CreateLineRequest"
        },
        "deleteParagraphBullets": {
          "$ref": "DeleteParagraphBulletsRequest",
          "description": "Deletes bullets from paragraphs."
        },
        "updateSlidesPosition": {
          "$ref": "UpdateSlidesPositionRequest",
          "description": "Updates the position of a set of slides in the presentation."
        },
        "updatePageProperties": {
          "$ref": "UpdatePagePropertiesRequest",
          "description": "Updates the properties of a Page."
        },
        "updateTableColumnProperties": {
          "description": "Updates the properties of a Table column.",
          "$ref": "UpdateTableColumnPropertiesRequest"
        },
        "insertTableColumns": {
          "description": "Inserts columns into a table.",
          "$ref": "InsertTableColumnsRequest"
        },
        "refreshSheetsChart": {
          "$ref": "RefreshSheetsChartRequest",
          "description": "Refreshes a Google Sheets chart."
        },
        "rerouteLine": {
          "description": "Reroutes a line such that it's connected at the two closest connection sites on the connected page elements.",
          "$ref": "RerouteLineRequest"
        },
        "createSheetsChart": {
          "$ref": "CreateSheetsChartRequest",
          "description": "Creates an embedded Google Sheets chart."
        },
        "updateLineCategory": {
          "description": "Updates the category of a line.",
          "$ref": "UpdateLineCategoryRequest"
        },
        "updatePageElementTransform": {
          "$ref": "UpdatePageElementTransformRequest",
          "description": "Updates the transform of a page element."
        },
        "updateImageProperties": {
          "$ref": "UpdateImagePropertiesRequest",
          "description": "Updates the properties of an Image."
        },
        "updateVideoProperties": {
          "description": "Updates the properties of a Video.",
          "$ref": "UpdateVideoPropertiesRequest"
        },
        "unmergeTableCells": {
          "description": "Unmerges cells in a Table.",
          "$ref": "UnmergeTableCellsRequest"
        },
        "createShape": {
          "description": "Creates a new shape.",
          "$ref": "CreateShapeRequest"
        },
        "insertText": {
          "$ref": "InsertTextRequest",
          "description": "Inserts text into a shape or table cell."
        },
        "createTable": {
          "description": "Creates a new table.",
          "$ref": "CreateTableRequest"
        },
        "insertTableRows": {
          "$ref": "InsertTableRowsRequest",
          "description": "Inserts rows into a table."
        },
        "updateLineProperties": {
          "$ref": "UpdateLinePropertiesRequest",
          "description": "Updates the properties of a Line."
        },
        "deleteTableColumn": {
          "description": "Deletes a column from a table.",
          "$ref": "DeleteTableColumnRequest"
        },
        "updatePageElementsZOrder": {
          "$ref": "UpdatePageElementsZOrderRequest",
          "description": "Updates the Z-order of page elements."
        },
        "replaceAllShapesWithSheetsChart": {
          "$ref": "ReplaceAllShapesWithSheetsChartRequest",
          "description": "Replaces all shapes matching some criteria with a Google Sheets chart."
        },
        "replaceAllText": {
          "description": "Replaces all instances of specified text.",
          "$ref": "ReplaceAllTextRequest"
        },
        "updateTableRowProperties": {
          "description": "Updates the properties of a Table row.",
          "$ref": "UpdateTableRowPropertiesRequest"
        },
        "duplicateObject": {
          "description": "Duplicates a slide or page element.",
          "$ref": "DuplicateObjectRequest"
        },
        "replaceImage": {
          "description": "Replaces an existing image with a new image.",
          "$ref": "ReplaceImageRequest"
        },
        "deleteTableRow": {
          "description": "Deletes a row from a table.",
          "$ref": "DeleteTableRowRequest"
        },
        "updateSlideProperties": {
          "description": "Updates the properties of a Slide",
          "$ref": "UpdateSlidePropertiesRequest"
        },
        "groupObjects": {
          "description": "Groups objects, such as page elements.",
          "$ref": "GroupObjectsRequest"
        },
        "createParagraphBullets": {
          "$ref": "CreateParagraphBulletsRequest",
          "description": "Creates bullets for paragraphs."
        },
        "updatePageElementAltText": {
          "description": "Updates the alt text title and/or description of a page element.",
          "$ref": "UpdatePageElementAltTextRequest"
        },
        "updateTableBorderProperties": {
          "description": "Updates the properties of the table borders in a Table.",
          "$ref": "UpdateTableBorderPropertiesRequest"
        },
        "createVideo": {
          "$ref": "CreateVideoRequest",
          "description": "Creates a video."
        },
        "deleteText": {
          "$ref": "DeleteTextRequest",
          "description": "Deletes text from a shape or a table cell."
        },
        "updateTableCellProperties": {
          "$ref": "UpdateTableCellPropertiesRequest",
          "description": "Updates the properties of a TableCell."
        },
        "deleteObject": {
          "$ref": "DeleteObjectRequest",
          "description": "Deletes a page or page element from the presentation."
        },
        "createSlide": {
          "description": "Creates a new slide.",
          "$ref": "CreateSlideRequest"
        },
        "ungroupObjects": {
          "description": "Ungroups objects, such as groups.",
          "$ref": "UngroupObjectsRequest"
        },
        "replaceAllShapesWithImage": {
          "description": "Replaces all shapes matching some criteria with an image.",
          "$ref": "ReplaceAllShapesWithImageRequest"
        },
        "createImage": {
          "description": "Creates an image.",
          "$ref": "CreateImageRequest"
        },
        "updateTextStyle": {
          "$ref": "UpdateTextStyleRequest",
          "description": "Updates the styling of text within a Shape or Table."
        },
        "mergeTableCells": {
          "description": "Merges cells in a Table.",
          "$ref": "MergeTableCellsRequest"
        },
        "updateShapeProperties": {
          "$ref": "UpdateShapePropertiesRequest",
          "description": "Updates the properties of a Shape."
        },
        "updateParagraphStyle": {
          "description": "Updates the styling of paragraphs within a Shape or Table.",
          "$ref": "UpdateParagraphStyleRequest"
        }
      },
      "type": "object",
      "id": "Request",
      "description": "A single kind of update to apply to a presentation."
    },
    "StretchedPictureFill": {
      "type": "object",
      "properties": {
        "size": {
          "$ref": "Size",
          "description": "The original size of the picture fill. This field is read-only."
        },
        "contentUrl": {
          "type": "string",
          "description": "Reading the content_url: An URL to a picture with a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the picture as the original requester. Access to the picture may be lost if the presentation's sharing settings change. Writing the content_url: The picture is fetched once at insertion time and a copy is stored for display inside the presentation. Pictures must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URL can be at most 2 kB in length."
        }
      },
      "description": "The stretched picture fill. The page or page element is filled entirely with the specified picture. The picture is stretched to fit its container.",
      "id": "StretchedPictureFill"
    },
    "BatchUpdatePresentationResponse": {
      "description": "Response message from a batch update.",
      "type": "object",
      "properties": {
        "writeControl": {
          "$ref": "WriteControl",
          "description": "The updated write control after applying the request."
        },
        "replies": {
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.",
          "items": {
            "$ref": "Response"
          },
          "type": "array"
        },
        "presentationId": {
          "description": "The presentation the updates were applied to.",
          "type": "string"
        }
      },
      "id": "BatchUpdatePresentationResponse"
    },
    "ThemeColorPair": {
      "description": "A pair mapping a theme color type to the concrete color it represents.",
      "properties": {
        "color": {
          "$ref": "RgbColor",
          "description": "The concrete color corresponding to the theme color type above."
        },
        "type": {
          "enum": [
            "THEME_COLOR_TYPE_UNSPECIFIED",
            "DARK1",
            "LIGHT1",
            "DARK2",
            "LIGHT2",
            "ACCENT1",
            "ACCENT2",
            "ACCENT3",
            "ACCENT4",
            "ACCENT5",
            "ACCENT6",
            "HYPERLINK",
            "FOLLOWED_HYPERLINK",
            "TEXT1",
            "BACKGROUND1",
            "TEXT2",
            "BACKGROUND2"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified theme color. This value should not be used.",
            "Represents the first dark color.",
            "Represents the first light color.",
            "Represents the second dark color.",
            "Represents the second light color.",
            "Represents the first accent color.",
            "Represents the second accent color.",
            "Represents the third accent color.",
            "Represents the fourth accent color.",
            "Represents the fifth accent color.",
            "Represents the sixth accent color.",
            "Represents the color to use for hyperlinks.",
            "Represents the color to use for visited hyperlinks.",
            "Represents the first text color.",
            "Represents the first background color.",
            "Represents the second text color.",
            "Represents the second background color."
          ],
          "description": "The type of the theme color."
        }
      },
      "type": "object",
      "id": "ThemeColorPair"
    },
    "CreateTableRequest": {
      "id": "CreateTableRequest",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated."
        },
        "elementProperties": {
          "description": "The element properties for the table. The table will be created at the provided size, subject to a minimum size. If no size is provided, the table will be automatically sized. Table transforms must have a scale of 1 and no shear components. If no transform is provided, the table will be centered on the page.",
          "$ref": "PageElementProperties"
        },
        "rows": {
          "description": "Number of rows in the table.",
          "type": "integer",
          "format": "int32"
        },
        "columns": {
          "format": "int32",
          "description": "Number of columns in the table.",
          "type": "integer"
        }
      },
      "description": "Creates a new table.",
      "type": "object"
    },
    "CreateSlideRequest": {
      "type": "object",
      "description": "Creates a slide.",
      "id": "CreateSlideRequest",
      "properties": {
        "placeholderIdMappings": {
          "type": "array",
          "description": "An optional list of object ID mappings from the placeholder(s) on the layout to the placeholders that are created on the slide from the specified layout. Can only be used when `slide_layout_reference` is specified.",
          "items": {
            "$ref": "LayoutPlaceholderIdMapping"
          }
        },
        "objectId": {
          "type": "string",
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The ID length must be between 5 and 50 characters, inclusive. If you don't specify an ID, a unique one is generated."
        },
        "insertionIndex": {
          "type": "integer",
          "description": "The optional zero-based index indicating where to insert the slides. If you don't specify an index, the slide is created at the end.",
          "format": "int32"
        },
        "slideLayoutReference": {
          "$ref": "LayoutReference",
          "description": "Layout reference of the slide to be inserted, based on the *current master*, which is one of the following: - The master of the previous slide index. - The master of the first slide, if the insertion_index is zero. - The first master in the presentation, if there are no slides. If the LayoutReference is not found in the current master, a 400 bad request error is returned. If you don't specify a layout reference, the slide uses the predefined `BLANK` layout."
        }
      }
    },
    "ShapeBackgroundFill": {
      "description": "The shape background fill.",
      "id": "ShapeBackgroundFill",
      "type": "object",
      "properties": {
        "propertyState": {
          "description": "The background fill property state. Updating the fill on a shape will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no fill on a shape, set this field to `NOT_RENDERED`. In this case, any other fill fields set in the same request will be ignored.",
          "type": "string",
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ],
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered on a page. If the element is a placeholder shape as determined by the placeholder field, and it inherits from a placeholder shape, the corresponding field may be unset, meaning that the property value is inherited from a parent placeholder. If the element does not inherit, then the field will contain the rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered on a page. However, the field may still be set so it can be inherited by child shapes. To remove a property from a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of corresponding `property_state` field on the parent shape. Elements that do not inherit will never have an INHERIT property state."
          ]
        },
        "solidFill": {
          "$ref": "SolidFill",
          "description": "Solid color fill."
        }
      }
    },
    "TextElement": {
      "properties": {
        "paragraphMarker": {
          "description": "A marker representing the beginning of a new paragraph. The `start_index` and `end_index` of this TextElement represent the range of the paragraph. Other TextElements with an index range contained inside this paragraph's range are considered to be part of this paragraph. The range of indices of two separate paragraphs will never overlap.",
          "$ref": "ParagraphMarker"
        },
        "textRun": {
          "description": "A TextElement representing a run of text where all of the characters in the run have the same TextStyle. The `start_index` and `end_index` of TextRuns will always be fully contained in the index range of a single `paragraph_marker` TextElement. In other words, a TextRun will never span multiple paragraphs.",
          "$ref": "TextRun"
        },
        "endIndex": {
          "description": "The zero-based end index of this text element, exclusive, in Unicode code units.",
          "type": "integer",
          "format": "int32"
        },
        "autoText": {
          "$ref": "AutoText",
          "description": "A TextElement representing a spot in the text that is dynamically replaced with content that can change over time."
        },
        "startIndex": {
          "description": "The zero-based start index of this text element, in Unicode code units.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "TextElement",
      "description": "A TextElement describes the content of a range of indices in the text content of a Shape or TableCell."
    },
    "AffineTransform": {
      "description": "AffineTransform uses a 3x3 matrix with an implied last row of [ 0 0 1 ] to transform source coordinates (x,y) into destination coordinates (x', y') according to: x' x = shear_y scale_y translate_y 1 [ 1 ] After transformation, x' = scale_x * x + shear_x * y + translate_x; y' = scale_y * y + shear_y * x + translate_y; This message is therefore composed of these six matrix elements.",
      "id": "AffineTransform",
      "properties": {
        "unit": {
          "enumDescriptions": [
            "The units are unknown.",
            "An English Metric Unit (EMU) is defined as 1/360,000 of a centimeter and thus there are 914,400 EMUs per inch, and 12,700 EMUs per point.",
            "A point, 1/72 of an inch."
          ],
          "description": "The units for translate elements.",
          "type": "string",
          "enum": [
            "UNIT_UNSPECIFIED",
            "EMU",
            "PT"
          ]
        },
        "translateX": {
          "type": "number",
          "description": "The X coordinate translation element.",
          "format": "double"
        },
        "translateY": {
          "type": "number",
          "description": "The Y coordinate translation element.",
          "format": "double"
        },
        "scaleX": {
          "format": "double",
          "description": "The X coordinate scaling element.",
          "type": "number"
        },
        "shearX": {
          "description": "The X coordinate shearing element.",
          "type": "number",
          "format": "double"
        },
        "shearY": {
          "format": "double",
          "description": "The Y coordinate shearing element.",
          "type": "number"
        },
        "scaleY": {
          "format": "double",
          "description": "The Y coordinate scaling element.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "OutlineFill": {
      "description": "The fill of the outline.",
      "id": "OutlineFill",
      "type": "object",
      "properties": {
        "solidFill": {
          "description": "Solid color fill.",
          "$ref": "SolidFill"
        }
      }
    },
    "DeleteObjectRequest": {
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the page or page element to delete. If after a delete operation a group contains only 1 or no page elements, the group is also deleted. If a placeholder is deleted on a layout, any empty inheriting placeholders are also deleted."
        }
      },
      "id": "DeleteObjectRequest",
      "type": "object",
      "description": "Deletes an object, either pages or page elements, from the presentation."
    },
    "CreateParagraphBulletsRequest": {
      "properties": {
        "textRange": {
          "$ref": "Range",
          "description": "The range of text to apply the bullet presets to, based on TextElement indexes."
        },
        "bulletPreset": {
          "type": "string",
          "enum": [
            "BULLET_DISC_CIRCLE_SQUARE",
            "BULLET_DIAMONDX_ARROW3D_SQUARE",
            "BULLET_CHECKBOX",
            "BULLET_ARROW_DIAMOND_DISC",
            "BULLET_STAR_CIRCLE_SQUARE",
            "BULLET_ARROW3D_CIRCLE_SQUARE",
            "BULLET_LEFTTRIANGLE_DIAMOND_DISC",
            "BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE",
            "BULLET_DIAMOND_CIRCLE_SQUARE",
            "NUMBERED_DIGIT_ALPHA_ROMAN",
            "NUMBERED_DIGIT_ALPHA_ROMAN_PARENS",
            "NUMBERED_DIGIT_NESTED",
            "NUMBERED_UPPERALPHA_ALPHA_ROMAN",
            "NUMBERED_UPPERROMAN_UPPERALPHA_DIGIT",
            "NUMBERED_ZERODIGIT_ALPHA_ROMAN"
          ],
          "description": "The kinds of bullet glyphs to be used. Defaults to the `BULLET_DISC_CIRCLE_SQUARE` preset.",
          "enumDescriptions": [
            "A bulleted list with a `DISC`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `ARROW3D` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with `CHECKBOX` bullet glyphs for all list nesting levels.",
            "A bulleted list with a `ARROW`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `STAR`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `ARROW3D`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `LEFTTRIANGLE`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `HOLLOWDIAMOND` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMOND`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A numbered list with `DIGIT`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `DIGIT`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by parenthesis.",
            "A numbered list with `DIGIT` numeric glyphs separated by periods, where each nesting level uses the previous nesting level's glyph as a prefix. For example: '1.', '1.1.', '2.', '2.2.'.",
            "A numbered list with `UPPERALPHA`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `UPPERROMAN`, `UPPERALPHA` and `DIGIT` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `ZERODIGIT`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods."
          ]
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the shape or table containing the text to add bullets to."
        },
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The optional table cell location if the text to be modified is in a table cell. If present, the object_id must refer to a table."
        }
      },
      "description": "Creates bullets for all of the paragraphs that overlap with the given text index range. The nesting level of each paragraph will be determined by counting leading tabs in front of each paragraph. To avoid excess space between the bullet and the corresponding paragraph, these leading tabs are removed by this request. This may change the indices of parts of the text. If the paragraph immediately before paragraphs being updated is in a list with a matching preset, the paragraphs being updated are added to that preceding list.",
      "id": "CreateParagraphBulletsRequest",
      "type": "object"
    },
    "PageElementProperties": {
      "properties": {
        "size": {
          "$ref": "Size",
          "description": "The size of the element."
        },
        "pageObjectId": {
          "description": "The object ID of the page where the element is located.",
          "type": "string"
        },
        "transform": {
          "$ref": "AffineTransform",
          "description": "The transform for the element."
        }
      },
      "description": "Common properties for a page element. Note: When you initially create a PageElement, the API may modify the values of both `size` and `transform`, but the visual size will be unchanged.",
      "type": "object",
      "id": "PageElementProperties"
    },
    "ImageProperties": {
      "properties": {
        "cropProperties": {
          "description": "The crop properties of the image. If not set, the image is not cropped. This property is read-only.",
          "$ref": "CropProperties"
        },
        "recolor": {
          "description": "The recolor effect of the image. If not set, the image is not recolored. This property is read-only.",
          "$ref": "Recolor"
        },
        "brightness": {
          "format": "float",
          "description": "The brightness effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect. This property is read-only.",
          "type": "number"
        },
        "contrast": {
          "type": "number",
          "format": "float",
          "description": "The contrast effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect. This property is read-only."
        },
        "outline": {
          "description": "The outline of the image. If not set, the image has no outline.",
          "$ref": "Outline"
        },
        "shadow": {
          "description": "The shadow of the image. If not set, the image has no shadow. This property is read-only.",
          "$ref": "Shadow"
        },
        "link": {
          "$ref": "Link",
          "description": "The hyperlink destination of the image. If unset, there is no link."
        },
        "transparency": {
          "format": "float",
          "type": "number",
          "description": "The transparency effect of the image. The value should be in the interval [0.0, 1.0], where 0 means no effect and 1 means completely transparent. This property is read-only."
        }
      },
      "type": "object",
      "id": "ImageProperties",
      "description": "The properties of the Image."
    },
    "DuplicateObjectResponse": {
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the new duplicate object."
        }
      },
      "description": "The response of duplicating an object.",
      "id": "DuplicateObjectResponse",
      "type": "object"
    },
    "List": {
      "properties": {
        "listId": {
          "type": "string",
          "description": "The ID of the list."
        },
        "nestingLevel": {
          "additionalProperties": {
            "$ref": "NestingLevel"
          },
          "description": "A map of nesting levels to the properties of bullets at the associated level. A list has at most nine levels of nesting, so the possible values for the keys of this map are 0 through 8, inclusive.",
          "type": "object"
        }
      },
      "description": "A List describes the look and feel of bullets belonging to paragraphs associated with a list. A paragraph that is part of a list has an implicit reference to that list's ID.",
      "type": "object",
      "id": "List"
    },
    "TextContent": {
      "properties": {
        "lists": {
          "description": "The bulleted lists contained in this text, keyed by list ID.",
          "additionalProperties": {
            "$ref": "List"
          },
          "type": "object"
        },
        "textElements": {
          "type": "array",
          "description": "The text contents broken down into its component parts, including styling information. This property is read-only.",
          "items": {
            "$ref": "TextElement"
          }
        }
      },
      "type": "object",
      "id": "TextContent",
      "description": "The general text content. The text must reside in a compatible shape (e.g. text box or rectangle) or a table cell in a page."
    },
    "UpdateShapePropertiesRequest": {
      "id": "UpdateShapePropertiesRequest",
      "properties": {
        "shapeProperties": {
          "description": "The shape properties to update.",
          "$ref": "ShapeProperties"
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `shapeProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the shape background solid fill color, set `fields` to `\"shapeBackgroundFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask"
        },
        "objectId": {
          "description": "The object ID of the shape the updates are applied to.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Update the properties of a Shape."
    },
    "ColorStop": {
      "type": "object",
      "id": "ColorStop",
      "properties": {
        "color": {
          "$ref": "OpaqueColor",
          "description": "The color of the gradient stop."
        },
        "alpha": {
          "format": "float",
          "description": "The alpha value of this color in the gradient band. Defaults to 1.0, fully opaque.",
          "type": "number"
        },
        "position": {
          "format": "float",
          "type": "number",
          "description": "The relative position of the color stop in the gradient band measured in percentage. The value should be in the interval [0.0, 1.0]."
        }
      },
      "description": "A color and position in a gradient band."
    },
    "CreateLineResponse": {
      "type": "object",
      "description": "The result of creating a line.",
      "id": "CreateLineResponse",
      "properties": {
        "objectId": {
          "description": "The object ID of the created line.",
          "type": "string"
        }
      }
    },
    "CreateVideoResponse": {
      "id": "CreateVideoResponse",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the created video."
        }
      },
      "type": "object",
      "description": "The result of creating a video."
    },
    "UpdateSlidesPositionRequest": {
      "properties": {
        "slideObjectIds": {
          "type": "array",
          "description": "The IDs of the slides in the presentation that should be moved. The slides in this list must be in existing presentation order, without duplicates.",
          "items": {
            "type": "string"
          }
        },
        "insertionIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The index where the slides should be inserted, based on the slide arrangement before the move takes place. Must be between zero and the number of slides in the presentation, inclusive."
        }
      },
      "id": "UpdateSlidesPositionRequest",
      "description": "Updates the position of slides in the presentation.",
      "type": "object"
    },
    "DeleteTableRowRequest": {
      "id": "DeleteTableRowRequest",
      "properties": {
        "tableObjectId": {
          "description": "The table to delete rows from.",
          "type": "string"
        },
        "cellLocation": {
          "description": "The reference table cell location from which a row will be deleted. The row this cell spans will be deleted. If this is a merged cell, multiple rows will be deleted. If no rows remain in the table after this deletion, the whole table is deleted.",
          "$ref": "TableCellLocation"
        }
      },
      "description": "Deletes a row from a table.",
      "type": "object"
    },
    "TableBorderRow": {
      "id": "TableBorderRow",
      "description": "Contents of each border row in a table.",
      "properties": {
        "tableBorderCells": {
          "items": {
            "$ref": "TableBorderCell"
          },
          "type": "array",
          "description": "Properties of each border cell. When a border's adjacent table cells are merged, it is not included in the response."
        }
      },
      "type": "object"
    },
    "Size": {
      "id": "Size",
      "properties": {
        "width": {
          "description": "The width of the object.",
          "$ref": "Dimension"
        },
        "height": {
          "$ref": "Dimension",
          "description": "The height of the object."
        }
      },
      "type": "object",
      "description": "A width and height."
    },
    "Image": {
      "properties": {
        "imageProperties": {
          "description": "The properties of the image.",
          "$ref": "ImageProperties"
        },
        "placeholder": {
          "description": "Placeholders are page elements that inherit from corresponding placeholders on layouts and masters. If set, the image is a placeholder image and any inherited properties can be resolved by looking at the parent placeholder identified by the Placeholder.parent_object_id field.",
          "$ref": "Placeholder"
        },
        "contentUrl": {
          "type": "string",
          "description": "An URL to an image with a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the image as the original requester. Access to the image may be lost if the presentation's sharing settings change."
        },
        "sourceUrl": {
          "description": "The source URL is the URL used to insert the image. The source URL can be empty.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Image",
      "description": "A PageElement kind representing an image."
    },
    "TextRun": {
      "properties": {
        "content": {
          "description": "The text of this run.",
          "type": "string"
        },
        "style": {
          "description": "The styling applied to this run.",
          "$ref": "TextStyle"
        }
      },
      "type": "object",
      "description": "A TextElement kind that represents a run of text that all has the same styling.",
      "id": "TextRun"
    },
    "LineFill": {
      "properties": {
        "solidFill": {
          "description": "Solid color fill.",
          "$ref": "SolidFill"
        }
      },
      "type": "object",
      "description": "The fill of the line.",
      "id": "LineFill"
    },
    "ReplaceAllShapesWithImageRequest": {
      "description": "Replaces all shapes that match the given criteria with the provided image. The images replacing the shapes are rectangular after being inserted into the presentation and do not take on the forms of the shapes.",
      "id": "ReplaceAllShapesWithImageRequest",
      "type": "object",
      "properties": {
        "imageReplaceMethod": {
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_INSIDE",
            "CENTER_CROP"
          ],
          "enumDescriptions": [
            "Unspecified image replace method. This value must not be used.",
            "Scales and centers the image to fit within the bounds of the original shape and maintains the image's aspect ratio. The rendered size of the image may be smaller than the size of the shape. This is the default method when one is not specified.",
            "Scales and centers the image to fill the bounds of the original shape. The image may be cropped in order to fill the shape. The rendered size of the image will be the same as the original shape."
          ],
          "description": "The image replace method. If you specify both a `replace_method` and an `image_replace_method`, the `image_replace_method` takes precedence. If you do not specify a value for `image_replace_method`, but specify a value for `replace_method`, then the specified `replace_method` value is used. If you do not specify either, then CENTER_INSIDE is used.",
          "type": "string"
        },
        "replaceMethod": {
          "type": "string",
          "deprecated": true,
          "enumDescriptions": [
            "Scales and centers the image to fit within the bounds of the original shape and maintains the image's aspect ratio. The rendered size of the image may be smaller than the size of the shape. This is the default method when one is not specified.",
            "Scales and centers the image to fill the bounds of the original shape. The image may be cropped in order to fill the shape. The rendered size of the image will be the same as that of the original shape."
          ],
          "enum": [
            "CENTER_INSIDE",
            "CENTER_CROP"
          ],
          "description": "The replace method. *Deprecated*: use `image_replace_method` instead. If you specify both a `replace_method` and an `image_replace_method`, the `image_replace_method` takes precedence."
        },
        "pageObjectIds": {
          "description": "If non-empty, limits the matches to page elements only on the given pages. Returns a 400 bad request error if given the page object ID of a notes page or a notes master, or if a page with that object ID doesn't exist in the presentation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "containsText": {
          "$ref": "SubstringMatchCriteria",
          "description": "If set, this request will replace all of the shapes that contain the given text."
        },
        "imageUrl": {
          "type": "string",
          "description": "The image URL. The image is fetched once at insertion time and a copy is stored for display inside the presentation. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URL can be at most 2 kB in length. The URL itself is saved with the image, and exposed via the Image.source_url field."
        }
      }
    },
    "Dimension": {
      "description": "A magnitude in a single direction in the specified units.",
      "type": "object",
      "properties": {
        "unit": {
          "type": "string",
          "enumDescriptions": [
            "The units are unknown.",
            "An English Metric Unit (EMU) is defined as 1/360,000 of a centimeter and thus there are 914,400 EMUs per inch, and 12,700 EMUs per point.",
            "A point, 1/72 of an inch."
          ],
          "description": "The units for magnitude.",
          "enum": [
            "UNIT_UNSPECIFIED",
            "EMU",
            "PT"
          ]
        },
        "magnitude": {
          "type": "number",
          "description": "The magnitude.",
          "format": "double"
        }
      },
      "id": "Dimension"
    },
    "UpdateTableRowPropertiesRequest": {
      "type": "object",
      "properties": {
        "rowIndices": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "The list of zero-based indices specifying which rows to update. If no indices are provided, all rows in the table will be updated.",
          "type": "array"
        },
        "tableRowProperties": {
          "description": "The table row properties to update.",
          "$ref": "TableRowProperties"
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableRowProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the minimum row height, set `fields` to `\"min_row_height\"`. If '\"min_row_height\"' is included in the field mask but the property is left unset, the minimum row height will default to 0.",
          "format": "google-fieldmask"
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the table."
        }
      },
      "description": "Updates the properties of a Table row.",
      "id": "UpdateTableRowPropertiesRequest"
    },
    "Range": {
      "type": "object",
      "description": "Specifies a contiguous range of an indexed collection, such as characters in text.",
      "id": "Range",
      "properties": {
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The optional zero-based index of the beginning of the collection. Required for `FIXED_RANGE` and `FROM_START_INDEX` ranges."
        },
        "endIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The optional zero-based index of the end of the collection. Required for `FIXED_RANGE` ranges."
        },
        "type": {
          "type": "string",
          "enum": [
            "RANGE_TYPE_UNSPECIFIED",
            "FIXED_RANGE",
            "FROM_START_INDEX",
            "ALL"
          ],
          "enumDescriptions": [
            "Unspecified range type. This value must not be used.",
            "A fixed range. Both the `start_index` and `end_index` must be specified.",
            "Starts the range at `start_index` and continues until the end of the collection. The `end_index` must not be specified.",
            "Sets the range to be the whole length of the collection. Both the `start_index` and the `end_index` must not be specified."
          ],
          "description": "The type of range."
        }
      }
    },
    "CreateShapeRequest": {
      "description": "Creates a new shape.",
      "type": "object",
      "id": "CreateShapeRequest",
      "properties": {
        "shapeType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TEXT_BOX",
            "RECTANGLE",
            "ROUND_RECTANGLE",
            "ELLIPSE",
            "ARC",
            "BENT_ARROW",
            "BENT_UP_ARROW",
            "BEVEL",
            "BLOCK_ARC",
            "BRACE_PAIR",
            "BRACKET_PAIR",
            "CAN",
            "CHEVRON",
            "CHORD",
            "CLOUD",
            "CORNER",
            "CUBE",
            "CURVED_DOWN_ARROW",
            "CURVED_LEFT_ARROW",
            "CURVED_RIGHT_ARROW",
            "CURVED_UP_ARROW",
            "DECAGON",
            "DIAGONAL_STRIPE",
            "DIAMOND",
            "DODECAGON",
            "DONUT",
            "DOUBLE_WAVE",
            "DOWN_ARROW",
            "DOWN_ARROW_CALLOUT",
            "FOLDED_CORNER",
            "FRAME",
            "HALF_FRAME",
            "HEART",
            "HEPTAGON",
            "HEXAGON",
            "HOME_PLATE",
            "HORIZONTAL_SCROLL",
            "IRREGULAR_SEAL_1",
            "IRREGULAR_SEAL_2",
            "LEFT_ARROW",
            "LEFT_ARROW_CALLOUT",
            "LEFT_BRACE",
            "LEFT_BRACKET",
            "LEFT_RIGHT_ARROW",
            "LEFT_RIGHT_ARROW_CALLOUT",
            "LEFT_RIGHT_UP_ARROW",
            "LEFT_UP_ARROW",
            "LIGHTNING_BOLT",
            "MATH_DIVIDE",
            "MATH_EQUAL",
            "MATH_MINUS",
            "MATH_MULTIPLY",
            "MATH_NOT_EQUAL",
            "MATH_PLUS",
            "MOON",
            "NO_SMOKING",
            "NOTCHED_RIGHT_ARROW",
            "OCTAGON",
            "PARALLELOGRAM",
            "PENTAGON",
            "PIE",
            "PLAQUE",
            "PLUS",
            "QUAD_ARROW",
            "QUAD_ARROW_CALLOUT",
            "RIBBON",
            "RIBBON_2",
            "RIGHT_ARROW",
            "RIGHT_ARROW_CALLOUT",
            "RIGHT_BRACE",
            "RIGHT_BRACKET",
            "ROUND_1_RECTANGLE",
            "ROUND_2_DIAGONAL_RECTANGLE",
            "ROUND_2_SAME_RECTANGLE",
            "RIGHT_TRIANGLE",
            "SMILEY_FACE",
            "SNIP_1_RECTANGLE",
            "SNIP_2_DIAGONAL_RECTANGLE",
            "SNIP_2_SAME_RECTANGLE",
            "SNIP_ROUND_RECTANGLE",
            "STAR_10",
            "STAR_12",
            "STAR_16",
            "STAR_24",
            "STAR_32",
            "STAR_4",
            "STAR_5",
            "STAR_6",
            "STAR_7",
            "STAR_8",
            "STRIPED_RIGHT_ARROW",
            "SUN",
            "TRAPEZOID",
            "TRIANGLE",
            "UP_ARROW",
            "UP_ARROW_CALLOUT",
            "UP_DOWN_ARROW",
            "UTURN_ARROW",
            "VERTICAL_SCROLL",
            "WAVE",
            "WEDGE_ELLIPSE_CALLOUT",
            "WEDGE_RECTANGLE_CALLOUT",
            "WEDGE_ROUND_RECTANGLE_CALLOUT",
            "FLOW_CHART_ALTERNATE_PROCESS",
            "FLOW_CHART_COLLATE",
            "FLOW_CHART_CONNECTOR",
            "FLOW_CHART_DECISION",
            "FLOW_CHART_DELAY",
            "FLOW_CHART_DISPLAY",
            "FLOW_CHART_DOCUMENT",
            "FLOW_CHART_EXTRACT",
            "FLOW_CHART_INPUT_OUTPUT",
            "FLOW_CHART_INTERNAL_STORAGE",
            "FLOW_CHART_MAGNETIC_DISK",
            "FLOW_CHART_MAGNETIC_DRUM",
            "FLOW_CHART_MAGNETIC_TAPE",
            "FLOW_CHART_MANUAL_INPUT",
            "FLOW_CHART_MANUAL_OPERATION",
            "FLOW_CHART_MERGE",
            "FLOW_CHART_MULTIDOCUMENT",
            "FLOW_CHART_OFFLINE_STORAGE",
            "FLOW_CHART_OFFPAGE_CONNECTOR",
            "FLOW_CHART_ONLINE_STORAGE",
            "FLOW_CHART_OR",
            "FLOW_CHART_PREDEFINED_PROCESS",
            "FLOW_CHART_PREPARATION",
            "FLOW_CHART_PROCESS",
            "FLOW_CHART_PUNCHED_CARD",
            "FLOW_CHART_PUNCHED_TAPE",
            "FLOW_CHART_SORT",
            "FLOW_CHART_SUMMING_JUNCTION",
            "FLOW_CHART_TERMINATOR",
            "ARROW_EAST",
            "ARROW_NORTH_EAST",
            "ARROW_NORTH",
            "SPEECH",
            "STARBURST",
            "TEARDROP",
            "ELLIPSE_RIBBON",
            "ELLIPSE_RIBBON_2",
            "CLOUD_CALLOUT",
            "CUSTOM"
          ],
          "description": "The shape type.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Text box shape.",
            "Rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'rect'",
            "Round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'roundRect'",
            "Ellipse shape. Corresponds to ECMA-376 ST_ShapeType 'ellipse'",
            "Curved arc shape. Corresponds to ECMA-376 ST_ShapeType 'arc'",
            "Bent arrow shape. Corresponds to ECMA-376 ST_ShapeType 'bentArrow'",
            "Bent up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'bentUpArrow'",
            "Bevel shape. Corresponds to ECMA-376 ST_ShapeType 'bevel'",
            "Block arc shape. Corresponds to ECMA-376 ST_ShapeType 'blockArc'",
            "Brace pair shape. Corresponds to ECMA-376 ST_ShapeType 'bracePair'",
            "Bracket pair shape. Corresponds to ECMA-376 ST_ShapeType 'bracketPair'",
            "Can shape. Corresponds to ECMA-376 ST_ShapeType 'can'",
            "Chevron shape. Corresponds to ECMA-376 ST_ShapeType 'chevron'",
            "Chord shape. Corresponds to ECMA-376 ST_ShapeType 'chord'",
            "Cloud shape. Corresponds to ECMA-376 ST_ShapeType 'cloud'",
            "Corner shape. Corresponds to ECMA-376 ST_ShapeType 'corner'",
            "Cube shape. Corresponds to ECMA-376 ST_ShapeType 'cube'",
            "Curved down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'curvedDownArrow'",
            "Curved left arrow shape. Corresponds to ECMA-376 ST_ShapeType 'curvedLeftArrow'",
            "Curved right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'curvedRightArrow'",
            "Curved up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'curvedUpArrow'",
            "Decagon shape. Corresponds to ECMA-376 ST_ShapeType 'decagon'",
            "Diagonal stripe shape. Corresponds to ECMA-376 ST_ShapeType 'diagStripe'",
            "Diamond shape. Corresponds to ECMA-376 ST_ShapeType 'diamond'",
            "Dodecagon shape. Corresponds to ECMA-376 ST_ShapeType 'dodecagon'",
            "Donut shape. Corresponds to ECMA-376 ST_ShapeType 'donut'",
            "Double wave shape. Corresponds to ECMA-376 ST_ShapeType 'doubleWave'",
            "Down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'downArrow'",
            "Callout down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'downArrowCallout'",
            "Folded corner shape. Corresponds to ECMA-376 ST_ShapeType 'foldedCorner'",
            "Frame shape. Corresponds to ECMA-376 ST_ShapeType 'frame'",
[...]
