{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "discoveryVersion": "v1",
  "schemas": {
    "Tasks": {
      "type": "object",
      "properties": {
        "items": {
          "description": "Collection of tasks.",
          "type": "array",
          "items": {
            "$ref": "Task"
          }
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#tasks\"."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "id": "Tasks"
    },
    "SpaceInfo": {
      "id": "SpaceInfo",
      "description": "Information about the Chat Space where a task was assigned from.",
      "properties": {
        "space": {
          "readOnly": true,
          "description": "Output only. The Chat space where this task originates from. The format is \"spaces/{space}\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Task": {
      "id": "Task",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Task identifier."
        },
        "parent": {
          "description": "Output only. Parent task identifier. This field is omitted if it is a top-level task. Use the \"move\" method to move the task under a different parent or to the top level. A parent task can never be an assigned task (from Chat Spaces, Docs). This field is read-only.",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the task. This is either \"needsAction\" or \"completed\"."
        },
        "title": {
          "description": "Title of the task. Maximum length allowed: 1024 characters.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "Notes describing the task. Tasks assigned from Google Docs cannot have notes. Optional. Maximum length allowed: 8192 characters."
        },
        "due": {
          "type": "string",
          "description": "Scheduled date for the task (as an RFC 3339 timestamp). Optional. This represents the day that the task should be done, or that the task is visible on the calendar grid. It doesn't represent the deadline of the task. Only date information is recorded; the time portion of the timestamp is discarded when setting this field. It isn't possible to read or write the time that a task is scheduled for using the API."
        },
        "updated": {
          "description": "Output only. Last modification time of the task (as a RFC 3339 timestamp).",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "hidden": {
          "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only.",
          "type": "boolean"
        },
        "selfLink": {
          "description": "Output only. URL pointing to this task. Used to retrieve, update, or delete this task.",
          "readOnly": true,
          "type": "string"
        },
        "kind": {
          "readOnly": true,
          "description": "Output only. Type of the resource. This is always \"tasks#task\".",
          "type": "string"
        },
        "deleted": {
          "description": "Flag indicating whether the task has been deleted. For assigned tasks this field is read-only. They can only be deleted by calling tasks.delete, in which case both the assigned task and the original task (in Docs or Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there. The default is False.",
          "type": "boolean"
        },
        "position": {
          "type": "string",
          "description": "Output only. String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). Use the \"move\" method to move the task to another position.",
          "readOnly": true
        },
        "links": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "link": {
                "type": "string",
                "description": "The URL."
              },
              "description": {
                "description": "The description (might be empty).",
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "Type of the link, e.g. \"email\", \"generic\", \"chat_message\", \"keep_note\"."
              }
            }
          },
          "description": "Output only. Collection of links. This collection is read-only."
        },
        "completed": {
          "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed.",
          "type": "string"
        },
        "webViewLink": {
          "readOnly": true,
          "description": "Output only. An absolute link to the task in the Google Tasks Web UI.",
          "type": "string"
        },
        "assignmentInfo": {
          "readOnly": true,
          "description": "Output only. Context information for assigned tasks. A task can be assigned to a user, currently possible from surfaces like Docs and Chat Spaces. This field is populated for tasks assigned to the current user and identifies where the task was assigned from. This field is read-only.",
          "$ref": "AssignmentInfo"
        }
      }
    },
    "TaskLists": {
      "properties": {
        "nextPageToken": {
          "description": "Token that can be used to request the next page of this result.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource. This is always \"tasks#taskLists\".",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "items": {
          "description": "Collection of task lists.",
          "type": "array",
          "items": {
            "$ref": "TaskList"
          }
        }
      },
      "type": "object",
      "id": "TaskLists"
    },
    "TaskList": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Task list identifier."
        },
        "selfLink": {
          "description": "Output only. URL pointing to this task list. Used to retrieve, update, or delete this task list.",
          "readOnly": true,
          "type": "string"
        },
        "kind": {
          "description": "Output only. Type of the resource. This is always \"tasks#taskList\".",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Output only. Last modification time of the task list (as a RFC 3339 timestamp).",
          "readOnly": true
        },
        "title": {
          "description": "Title of the task list. Maximum length allowed: 1024 characters.",
          "type": "string"
        }
      },
      "id": "TaskList",
      "type": "object"
    },
    "AssignmentInfo": {
      "id": "AssignmentInfo",
      "properties": {
        "linkToTask": {
          "type": "string",
          "description": "Output only. An absolute link to the original task in the surface of assignment (Docs, Chat spaces, etc.).",
          "readOnly": true
        },
        "driveResourceInfo": {
          "readOnly": true,
          "$ref": "DriveResourceInfo",
          "description": "Output only. Information about the Drive file where this task originates from. Currently, the Drive file can only be a document. This field is read-only."
        },
        "spaceInfo": {
          "description": "Output only. Information about the Chat Space where this task originates from. This field is read-only.",
          "$ref": "SpaceInfo",
          "readOnly": true
        },
        "surfaceType": {
          "readOnly": true,
          "description": "Output only. The type of surface this assigned task originates from. Currently limited to DOCUMENT or SPACE.",
          "enum": [
            "CONTEXT_TYPE_UNSPECIFIED",
            "GMAIL",
            "DOCUMENT",
            "SPACE"
          ],
          "enumDescriptions": [
            "Unknown value for this task's context.",
            "The task is created from Gmail.",
            "The task is assigned from a document.",
            "The task is assigned from a Chat Space."
          ],
          "type": "string"
        }
      },
      "description": "Information about the source of the task assignment (Document, Chat Space).",
      "type": "object"
    },
    "DriveResourceInfo": {
      "description": "Information about the Drive resource where a task was assigned from (the document, sheet, etc.).",
      "type": "object",
      "id": "DriveResourceInfo",
      "properties": {
        "resourceKey": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource key required to access files shared via a shared link. Not required for all files. See also developers.google.com/drive/api/guides/resource-keys."
        },
        "driveFileId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier of the file in the Drive API."
        }
      }
    }
  },
  "batchPath": "batch",
  "ownerName": "Google",
  "mtlsRootUrl": "https://tasks.mtls.googleapis.com/",
  "version": "v1",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "revision": "20260920",
  "name": "tasks",
  "canonicalName": "Tasks",
  "id": "tasks:v1",
  "title": "Google Tasks API",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "protocol": "rest",
  "description": "The Google Tasks API lets you manage your tasks and task lists.",
  "documentationLink": "https://developers.google.com/workspace/tasks/",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tasks.readonly": {
          "description": "View your tasks"
        },
        "https://www.googleapis.com/auth/tasks": {
          "description": "Create, edit, organize, and delete all your tasks"
        }
      }
    }
  },
  "rootUrl": "https://tasks.googleapis.com/",
  "resources": {
    "tasks": {
      "methods": {
        "list": {
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "response": {
            "$ref": "Tasks"
          },
          "id": "tasks.tasks.list",
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "description": "Returns all tasks in the specified task list. Doesn't return assigned tasks by default (from Docs, Chat Spaces). A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "parameters": {
            "updatedMin": {
              "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.",
              "type": "string",
              "location": "query"
            },
            "completedMin": {
              "location": "query",
              "type": "string",
              "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date."
            },
            "showHidden": {
              "type": "boolean",
              "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
              "location": "query"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False."
            },
            "dueMin": {
              "location": "query",
              "type": "string",
              "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date."
            },
            "pageToken": {
              "description": "Token specifying the result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of tasks returned on one page. Optional. The default is 20 (max allowed: 100)."
            },
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "showAssigned": {
              "location": "query",
              "description": "Optional. Flag indicating whether tasks assigned to the current user are returned in the result. Optional. The default is False.",
              "type": "boolean"
            },
            "completedMax": {
              "type": "string",
              "location": "query",
              "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date."
            },
            "dueMax": {
              "type": "string",
              "location": "query",
              "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date."
            },
            "showCompleted": {
              "location": "query",
              "type": "boolean",
              "description": "Flag indicating whether completed tasks are returned in the result. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps. Optional. The default is True."
            }
          }
        },
        "clear": {
          "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.",
          "httpMethod": "POST",
          "id": "tasks.tasks.clear",
          "path": "tasks/v1/lists/{tasklist}/clear",
          "parameterOrder": [
            "tasklist"
          ],
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/clear"
        },
        "move": {
          "parameters": {
            "task": {
              "description": "Task identifier.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "previous": {
              "type": "string",
              "location": "query",
              "description": "Optional. New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. The task set as previous must exist in the task list and can not be hidden. Exceptions: 1. Tasks that are both completed and hidden can only be moved to position 0, so the previous field must be empty."
            },
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "destinationTasklist": {
              "description": "Optional. Destination task list identifier. If set, the task is moved from tasklist to the destinationTasklist list. Otherwise the task is moved within its current list. Recurrent tasks cannot currently be moved between lists.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "Optional. New parent task identifier. If the task is moved to the top level, this parameter is omitted. The task set as parent must exist in the task list and can not be hidden. Exceptions: 1. Assigned and repeating tasks cannot be set as parent tasks (have subtasks), or be moved under a parent task (become subtasks). 2. Tasks that are both completed and hidden cannot be nested, so the parent field must be empty."
            }
          },
          "httpMethod": "POST",
          "description": "Moves the specified task to another position in the destination task list. If the destination list is not specified, the task is moved within its current list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks. A user can have up to 2,000 subtasks per task.",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "response": {
            "$ref": "Task"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "id": "tasks.tasks.move",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        },
        "update": {
          "description": "Updates the specified task.",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "id": "tasks.tasks.update",
          "response": {
            "$ref": "Task"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "Task"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task list identifier."
            },
            "task": {
              "description": "Task identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "delete": {
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameters": {
            "task": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task identifier."
            },
            "tasklist": {
              "description": "Task list identifier.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Deletes the specified task from the task list. If the task is assigned, both the assigned task and the original task (in Docs, Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there.",
          "id": "tasks.tasks.delete"
        },
        "get": {
          "response": {
            "$ref": "Task"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "description": "Returns the specified task.",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "task": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task identifier."
            }
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "id": "tasks.tasks.get"
        },
        "insert": {
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "response": {
            "$ref": "Task"
          },
          "parameterOrder": [
            "tasklist"
          ],
          "description": "Creates a new task on the specified task list. Tasks assigned from Docs or Chat Spaces cannot be inserted from Tasks Public API; they can only be created by assigning them from Docs or Chat Spaces. A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "id": "tasks.tasks.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "Task"
          },
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. An assigned task cannot be a parent task, nor can it have a parent. Setting the parent to an assigned task results in failure of the request. Optional.",
              "location": "query"
            },
            "previous": {
              "type": "string",
              "location": "query",
              "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional."
            },
            "tasklist": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task list identifier."
            }
          }
        },
        "patch": {
          "response": {
            "$ref": "Task"
          },
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "request": {
            "$ref": "Task"
          },
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "description": "Task list identifier.",
              "type": "string"
            },
            "task": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task identifier."
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates the specified task. This method supports patch semantics.",
          "id": "tasks.tasks.patch"
        }
      }
    },
    "tasklists": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "description": "Creates a new task list and adds it to the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "flatPath": "tasks/v1/users/@me/lists",
          "id": "tasks.tasklists.insert",
          "parameters": {},
          "response": {
            "$ref": "TaskList"
          },
          "request": {
            "$ref": "TaskList"
          },
          "path": "tasks/v1/users/@me/lists",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameterOrder": []
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "TaskList"
          },
          "httpMethod": "PATCH",
          "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "id": "tasks.tasklists.patch",
          "parameterOrder": [
            "tasklist"
          ],
          "request": {
            "$ref": "TaskList"
          },
          "path": "tasks/v1/users/@me/lists/{tasklist}"
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "response": {
            "$ref": "TaskList"
          },
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Returns the authenticated user's specified task list.",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "id": "tasks.tasklists.get",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "parameterOrder": [
            "tasklist"
          ]
        },
        "delete": {
          "parameterOrder": [
            "tasklist"
          ],
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "id": "tasks.tasklists.delete",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "description": "Deletes the authenticated user's specified task list. If the list contains assigned tasks, both the assigned tasks and the original tasks in the assignment surface (Docs, Chat Spaces) are deleted.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        },
        "update": {
          "parameterOrder": [
            "tasklist"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "request": {
            "$ref": "TaskList"
          },
          "description": "Updates the authenticated user's specified task list.",
          "httpMethod": "PUT",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "id": "tasks.tasklists.update",
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "TaskList"
          }
        },
        "list": {
          "response": {
            "$ref": "TaskLists"
          },
          "id": "tasks.tasklists.list",
          "flatPath": "tasks/v1/users/@me/lists",
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "description": "Maximum number of task lists returned on one page. Optional. The default is 1000 (max allowed: 1000).",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying the result page to return. Optional.",
              "type": "string"
            }
          },
          "path": "tasks/v1/users/@me/lists",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "description": "Returns all the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "httpMethod": "GET"
        }
      }
    }
  },
  "baseUrl": "https://tasks.googleapis.com/"
}
