{
  "name": "tasks",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://tasks.mtls.googleapis.com/",
  "rootUrl": "https://tasks.googleapis.com/",
  "title": "Google Tasks API",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "documentationLink": "https://developers.google.com/workspace/tasks/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260908",
  "resources": {
    "tasks": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "parameterOrder": [
            "tasklist"
          ],
          "httpMethod": "GET",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "response": {
            "$ref": "Tasks"
          },
          "id": "tasks.tasks.list",
          "parameters": {
            "showCompleted": {
              "description": "Flag indicating whether completed tasks are returned in the result. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps. Optional. The default is True.",
              "type": "boolean",
              "location": "query"
            },
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False."
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying the result page to return. Optional.",
              "type": "string"
            },
            "completedMax": {
              "location": "query",
              "type": "string",
              "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date."
            },
            "completedMin": {
              "type": "string",
              "location": "query",
              "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date."
            },
            "dueMax": {
              "location": "query",
              "type": "string",
              "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date."
            },
            "showAssigned": {
              "type": "boolean",
              "description": "Optional. Flag indicating whether tasks assigned to the current user are returned in the result. Optional. The default is False.",
              "location": "query"
            },
            "tasklist": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task list identifier."
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of tasks returned on one page. Optional. The default is 20 (max allowed: 100)."
            },
            "updatedMin": {
              "type": "string",
              "location": "query",
              "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time."
            },
            "dueMin": {
              "type": "string",
              "location": "query",
              "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date."
            },
            "showHidden": {
              "type": "boolean",
              "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
              "location": "query"
            }
          },
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "description": "Returns all tasks in the specified task list. Doesn't return assigned tasks by default (from Docs, Chat Spaces). A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time."
        },
        "get": {
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "id": "tasks.tasks.get",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "response": {
            "$ref": "Task"
          },
          "description": "Returns the specified task.",
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "location": "path",
              "required": true
            },
            "task": {
              "location": "path",
              "required": true,
              "description": "Task identifier.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "GET"
        },
        "patch": {
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "response": {
            "$ref": "Task"
          },
          "parameters": {
            "task": {
              "location": "path",
              "required": true,
              "description": "Task identifier.",
              "type": "string"
            },
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "Task"
          },
          "id": "tasks.tasks.patch",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "description": "Updates the specified task. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "DELETE",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "task": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task identifier."
            }
          },
          "id": "tasks.tasks.delete",
          "description": "Deletes the specified task from the task list. If the task is assigned, both the assigned task and the original task (in Docs, Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there.",
          "parameterOrder": [
            "tasklist",
            "task"
          ]
        },
        "update": {
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "description": "Task list identifier.",
              "type": "string"
            },
            "task": {
              "type": "string",
              "description": "Task identifier.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "Task"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "response": {
            "$ref": "Task"
          },
          "id": "tasks.tasks.update",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "PUT",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "description": "Updates the specified task."
        },
        "insert": {
          "request": {
            "$ref": "Task"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "response": {
            "$ref": "Task"
          },
          "parameterOrder": [
            "tasklist"
          ],
          "httpMethod": "POST",
          "description": "Creates a new task on the specified task list. Tasks assigned from Docs or Chat Spaces cannot be inserted from Tasks Public API; they can only be created by assigning them from Docs or Chat Spaces. A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "id": "tasks.tasks.insert",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "description": "Task list identifier.",
              "type": "string"
            },
            "previous": {
              "type": "string",
              "location": "query",
              "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional."
            },
            "parent": {
              "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. An assigned task cannot be a parent task, nor can it have a parent. Setting the parent to an assigned task results in failure of the request. Optional.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "move": {
          "httpMethod": "POST",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "id": "tasks.tasks.move",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameters": {
            "parent": {
              "type": "string",
              "location": "query",
              "description": "Optional. New parent task identifier. If the task is moved to the top level, this parameter is omitted. The task set as parent must exist in the task list and can not be hidden. Exceptions: 1. Assigned and repeating tasks cannot be set as parent tasks (have subtasks), or be moved under a parent task (become subtasks). 2. Tasks that are both completed and hidden cannot be nested, so the parent field must be empty."
            },
            "tasklist": {
              "location": "path",
              "required": true,
              "description": "Task list identifier.",
              "type": "string"
            },
            "destinationTasklist": {
              "location": "query",
              "type": "string",
              "description": "Optional. Destination task list identifier. If set, the task is moved from tasklist to the destinationTasklist list. Otherwise the task is moved within its current list. Recurrent tasks cannot currently be moved between lists."
            },
            "previous": {
              "location": "query",
              "type": "string",
              "description": "Optional. New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. The task set as previous must exist in the task list and can not be hidden. Exceptions: 1. Tasks that are both completed and hidden can only be moved to position 0, so the previous field must be empty."
            },
            "task": {
              "description": "Task identifier.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "response": {
            "$ref": "Task"
          },
          "description": "Moves the specified task to another position in the destination task list. If the destination list is not specified, the task is moved within its current list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks. A user can have up to 2,000 subtasks per task."
        },
        "clear": {
          "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "POST",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "tasks/v1/lists/{tasklist}/clear",
          "id": "tasks.tasks.clear",
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/clear"
        }
      }
    },
    "tasklists": {
      "methods": {
        "insert": {
          "id": "tasks.tasklists.insert",
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "tasks/v1/users/@me/lists",
          "flatPath": "tasks/v1/users/@me/lists",
          "response": {
            "$ref": "TaskList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameters": {},
          "request": {
            "$ref": "TaskList"
          },
          "description": "Creates a new task list and adds it to the authenticated user's task lists. A user can have up to 2000 lists at a time."
        },
        "patch": {
          "id": "tasks.tasklists.patch",
          "httpMethod": "PATCH",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "TaskList"
          },
          "parameterOrder": [
            "tasklist"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "response": {
            "$ref": "TaskList"
          }
        },
        "list": {
          "httpMethod": "GET",
          "description": "Returns all the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "id": "tasks.tasklists.list",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "flatPath": "tasks/v1/users/@me/lists",
          "response": {
            "$ref": "TaskLists"
          },
          "path": "tasks/v1/users/@me/lists",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Token specifying the result page to return. Optional.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of task lists returned on one page. Optional. The default is 1000 (max allowed: 1000).",
              "format": "int32"
            }
          },
          "parameterOrder": []
        },
        "delete": {
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "parameterOrder": [
            "tasklist"
          ],
          "id": "tasks.tasklists.delete",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "description": "Deletes the authenticated user's specified task list. If the list contains assigned tasks, both the assigned tasks and the original tasks in the assignment surface (Docs, Chat Spaces) are deleted.",
          "httpMethod": "DELETE",
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "response": {
            "$ref": "TaskList"
          },
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates the authenticated user's specified task list.",
          "request": {
            "$ref": "TaskList"
          },
          "id": "tasks.tasklists.update",
          "parameterOrder": [
            "tasklist"
          ]
        },
        "get": {
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "httpMethod": "GET",
          "parameterOrder": [
            "tasklist"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "description": "Returns the authenticated user's specified task list.",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "response": {
            "$ref": "TaskList"
          },
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task list identifier."
            }
          },
          "id": "tasks.tasklists.get"
        }
      }
    }
  },
  "id": "tasks:v1",
  "canonicalName": "Tasks",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "description": "The Google Tasks API lets you manage your tasks and task lists.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tasks": {
          "description": "Create, edit, organize, and delete all your tasks"
        },
        "https://www.googleapis.com/auth/tasks.readonly": {
          "description": "View your tasks"
        }
      }
    }
  },
  "version": "v1",
  "baseUrl": "https://tasks.googleapis.com/",
  "basePath": "",
  "batchPath": "batch",
  "schemas": {
    "TaskList": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "type": "string",
          "description": "Output only. Type of the resource. This is always \"tasks#taskList\".",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "description": "Title of the task list. Maximum length allowed: 1024 characters."
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. URL pointing to this task list. Used to retrieve, update, or delete this task list.",
          "readOnly": true
        },
        "updated": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last modification time of the task list (as a RFC 3339 timestamp)."
        },
        "id": {
          "type": "string",
          "description": "Task list identifier."
        }
      },
      "id": "TaskList"
    },
    "SpaceInfo": {
      "id": "SpaceInfo",
      "description": "Information about the Chat Space where a task was assigned from.",
      "properties": {
        "space": {
          "type": "string",
          "description": "Output only. The Chat space where this task originates from. The format is \"spaces/{space}\".",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Tasks": {
      "id": "Tasks",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#tasks\"."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Task"
          },
          "description": "Collection of tasks."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result.",
          "type": "string"
        }
      }
    },
    "TaskLists": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be used to request the next page of this result."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#taskLists\"."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "TaskList"
          },
          "description": "Collection of task lists."
        }
      },
      "id": "TaskLists"
    },
    "DriveResourceInfo": {
      "id": "DriveResourceInfo",
      "properties": {
        "driveFileId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier of the file in the Drive API."
        },
        "resourceKey": {
          "type": "string",
          "description": "Output only. Resource key required to access files shared via a shared link. Not required for all files. See also developers.google.com/drive/api/guides/resource-keys.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Information about the Drive resource where a task was assigned from (the document, sheet, etc.)."
    },
    "Task": {
      "properties": {
        "hidden": {
          "type": "boolean",
          "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only."
        },
        "selfLink": {
          "description": "Output only. URL pointing to this task. Used to retrieve, update, or delete this task.",
          "type": "string",
          "readOnly": true
        },
        "links": {
          "description": "Output only. Collection of links. This collection is read-only.",
          "items": {
            "properties": {
              "description": {
                "description": "The description (might be empty).",
                "type": "string"
              },
              "link": {
                "type": "string",
                "description": "The URL."
              },
              "type": {
                "description": "Type of the link, e.g. \"email\", \"generic\", \"chat_message\", \"keep_note\".",
                "type": "string"
              }
            },
            "type": "object"
          },
          "readOnly": true,
          "type": "array"
        },
        "deleted": {
          "description": "Flag indicating whether the task has been deleted. For assigned tasks this field is read-only. They can only be deleted by calling tasks.delete, in which case both the assigned task and the original task (in Docs or Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there. The default is False.",
          "type": "boolean"
        },
        "assignmentInfo": {
          "readOnly": true,
          "description": "Output only. Context information for assigned tasks. A task can be assigned to a user, currently possible from surfaces like Docs and Chat Spaces. This field is populated for tasks assigned to the current user and identifies where the task was assigned from. This field is read-only.",
          "$ref": "AssignmentInfo"
        },
        "parent": {
          "description": "Output only. Parent task identifier. This field is omitted if it is a top-level task. Use the \"move\" method to move the task under a different parent or to the top level. A parent task can never be an assigned task (from Chat Spaces, Docs). This field is read-only.",
          "type": "string",
          "readOnly": true
        },
        "webViewLink": {
          "type": "string",
          "description": "Output only. An absolute link to the task in the Google Tasks Web UI.",
          "readOnly": true
        },
        "position": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). Use the \"move\" method to move the task to another position."
        },
        "completed": {
          "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the task. Maximum length allowed: 1024 characters."
        },
        "updated": {
          "description": "Output only. Last modification time of the task (as a RFC 3339 timestamp).",
          "type": "string",
          "readOnly": true
        },
        "due": {
          "type": "string",
          "description": "Scheduled date for the task (as an RFC 3339 timestamp). Optional. This represents the day that the task should be done, or that the task is visible on the calendar grid. It doesn't represent the deadline of the task. Only date information is recorded; the time portion of the timestamp is discarded when setting this field. It isn't possible to read or write the time that a task is scheduled for using the API."
        },
        "notes": {
          "description": "Notes describing the task. Tasks assigned from Google Docs cannot have notes. Optional. Maximum length allowed: 8192 characters.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Task identifier."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the task. This is either \"needsAction\" or \"completed\"."
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the resource. This is always \"tasks#task\"."
        }
      },
      "id": "Task",
      "type": "object"
    },
    "AssignmentInfo": {
      "id": "AssignmentInfo",
      "properties": {
        "spaceInfo": {
          "readOnly": true,
          "$ref": "SpaceInfo",
          "description": "Output only. Information about the Chat Space where this task originates from. This field is read-only."
        },
        "linkToTask": {
          "description": "Output only. An absolute link to the original task in the surface of assignment (Docs, Chat spaces, etc.).",
          "readOnly": true,
          "type": "string"
        },
        "surfaceType": {
          "enumDescriptions": [
            "Unknown value for this task's context.",
            "The task is created from Gmail.",
            "The task is assigned from a document.",
            "The task is assigned from a Chat Space."
          ],
          "description": "Output only. The type of surface this assigned task originates from. Currently limited to DOCUMENT or SPACE.",
          "enum": [
            "CONTEXT_TYPE_UNSPECIFIED",
            "GMAIL",
            "DOCUMENT",
            "SPACE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "driveResourceInfo": {
          "readOnly": true,
          "description": "Output only. Information about the Drive file where this task originates from. Currently, the Drive file can only be a document. This field is read-only.",
          "$ref": "DriveResourceInfo"
        }
      },
      "type": "object",
      "description": "Information about the source of the task assignment (Document, Chat Space)."
    }
  }
}
