{
  "baseUrl": "https://vault.googleapis.com/",
  "ownerName": "Google",
  "description": "Retention and eDiscovery for Google Workspace. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege. For example, to download an export, an account needs the **Manage Exports** privilege and the matter shared with them. ",
  "rootUrl": "https://vault.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ediscovery": {
          "description": "Manage your eDiscovery data"
        },
        "https://www.googleapis.com/auth/ediscovery.readonly": {
          "description": "View your eDiscovery data"
        }
      }
    }
  },
  "servicePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "id": "vault:v1",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://vault.mtls.googleapis.com/",
  "revision": "20260915",
  "canonicalName": "Vault",
  "protocol": "rest",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "name": "vault",
  "title": "Google Vault API",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "documentationLink": "https://developers.google.com/workspace/vault",
  "kind": "discovery#restDescription",
  "schemas": {
    "UndeleteMatterRequest": {
      "id": "UndeleteMatterRequest",
      "type": "object",
      "properties": {},
      "description": "Undelete a matter by ID."
    },
    "CountArtifactsResponse": {
      "description": "Definition of the response for method CountArtifacts.",
      "type": "object",
      "properties": {
        "mailCountResult": {
          "description": "Count metrics for Gmail and classic Hangouts.",
          "$ref": "MailCountResult"
        },
        "groupsCountResult": {
          "description": "Count metrics for Groups.",
          "$ref": "GroupsCountResult"
        },
        "totalCount": {
          "format": "int64",
          "type": "string",
          "description": "Total count of messages."
        }
      },
      "id": "CountArtifactsResponse"
    },
    "HeldAccount": {
      "properties": {
        "firstName": {
          "description": "Output only. The first name of the account holder.",
          "type": "string"
        },
        "holdTime": {
          "type": "string",
          "description": "Output only. When the account was put on hold.",
          "format": "google-datetime"
        },
        "email": {
          "type": "string",
          "description": "The primary email address of the account. If used as an input, this takes precedence over **accountId**."
        },
        "lastName": {
          "description": "Output only. The last name of the account holder.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/)."
        }
      },
      "type": "object",
      "description": "An account covered by a hold. This structure is immutable. It can be an individual account or a Google Group, depending on the service. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "id": "HeldAccount"
    },
    "VoiceExportOptions": {
      "type": "object",
      "description": "The options for Voice exports.",
      "id": "VoiceExportOptions",
      "properties": {
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "description": "The file format for exported text messages.",
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ]
        }
      }
    },
    "CalendarOptions": {
      "properties": {
        "peopleQuery": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Matches only those events whose attendees contain all of the words in the given set. Entries in the set are considered in \"and\"."
        },
        "versionDate": {
          "type": "string",
          "description": "Search the current version of the Calendar event, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC.",
          "format": "google-datetime"
        },
        "responseStatuses": {
          "type": "array",
          "description": "Matches only events for which the custodian gave one of these responses. If the set is empty or contains ATTENDEE_RESPONSE_UNSPECIFIED there will be no filtering on responses.",
          "items": {
            "type": "string",
            "enum": [
              "ATTENDEE_RESPONSE_UNSPECIFIED",
              "ATTENDEE_RESPONSE_NEEDS_ACTION",
              "ATTENDEE_RESPONSE_ACCEPTED",
              "ATTENDEE_RESPONSE_DECLINED",
              "ATTENDEE_RESPONSE_TENTATIVE"
            ],
            "enumDescriptions": [
              "Attendee response unspecified. If this is set no filtering on responses will be done, all other attendee responses that are part of the query options are ignored.",
              "The participant has been invited but has not responded yet.",
              "The participant plans to attend.",
              "The participant does not plan to attend.",
              "The participant expects to possibly attend."
            ]
          }
        },
        "locationQuery": {
          "description": "Matches only those events whose location contains all of the words in the given set. If the string contains quoted phrases, this method only matches those events whose location contain the exact phrase. Entries in the set are considered in \"and\". Word splitting example: [\"New Zealand\"] vs [\"New\",\"Zealand\"] \"New Zealand\": matched by both \"New and better Zealand\": only matched by the later",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "minusWords": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Matches only those events that do not contain any of the words in the given set in title, description, location, or attendees. Entries in the set are considered in \"or\"."
        }
      },
      "id": "CalendarOptions",
      "description": "Additional options for Calendar search",
      "type": "object"
    },
    "CloudStorageFile": {
      "properties": {
        "objectName": {
          "description": "The name of the Cloud Storage object for the export file. You can use this value in the Cloud Storage [JSON API](https://cloud.google.com/storage/docs/json_api) or [XML API](https://cloud.google.com/storage/docs/xml-api).",
          "type": "string"
        },
        "md5Hash": {
          "description": "The md5 hash of the file.",
          "type": "string"
        },
        "bucketName": {
          "type": "string",
          "description": "The name of the Cloud Storage bucket for the export file. You can use this value in the Cloud Storage [JSON API](https://cloud.google.com/storage/docs/json_api) or [XML API](https://cloud.google.com/storage/docs/xml-api), but not to list the bucket contents. Instead, you can [get individual export files](https://cloud.google.com/storage/docs/json_api/v1/objects/get) by object name."
        },
        "size": {
          "format": "int64",
          "type": "string",
          "description": "The export file size."
        }
      },
      "id": "CloudStorageFile",
      "description": "The export file in Cloud Storage",
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "CorpusQuery": {
      "properties": {
        "hangoutsChatQuery": {
          "$ref": "HeldHangoutsChatQuery",
          "description": "Service-specific options for Chat holds. If set, **CorpusType** must be **HANGOUTS_CHAT**."
        },
        "voiceQuery": {
          "description": "Service-specific options for Voice holds. If set, **CorpusType** must be **VOICE**.",
          "$ref": "HeldVoiceQuery"
        },
        "mailQuery": {
          "description": "Service-specific options for Gmail holds. If set, **CorpusType** must be **MAIL**.",
          "$ref": "HeldMailQuery"
        },
        "calendarQuery": {
          "$ref": "HeldCalendarQuery",
          "description": "Service-specific options for Calendar holds. If set, **CorpusType** must be **CALENDAR**."
        },
        "groupsQuery": {
          "description": "Service-specific options for Groups holds. If set, **CorpusType** must be **GROUPS**.",
          "$ref": "HeldGroupsQuery"
        },
        "geminiQuery": {
          "description": "Service-specific options for Gemini holds. If set, **CorpusType** must be **GEMINI**.",
          "$ref": "HeldGeminiQuery"
        },
        "driveQuery": {
          "$ref": "HeldDriveQuery",
          "description": "Service-specific options for Drive holds. If set, **CorpusType** must be **DRIVE**."
        }
      },
      "description": "Service-specific options for holds.",
      "id": "CorpusQuery",
      "type": "object"
    },
    "HeldOrgUnit": {
      "description": "The organizational unit covered by a hold. This structure is immutable.",
      "id": "HeldOrgUnit",
      "properties": {
        "orgUnitId": {
          "type": "string",
          "description": "The organizational unit's immutable ID as provided by the [Admin SDK](https://developers.google.com/admin-sdk/)."
        },
        "holdTime": {
          "description": "When the organizational unit was put on hold. This property is immutable.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ListExportsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "exports": {
          "type": "array",
          "items": {
            "$ref": "Export"
          },
          "description": "The list of exports."
        }
      },
      "type": "object",
      "description": "The exports for a matter.",
      "id": "ListExportsResponse"
    },
    "DriveExportOptions": {
      "type": "object",
      "id": "DriveExportOptions",
      "description": "Options for Drive exports.",
      "properties": {
        "includeAccessInfo": {
          "description": "To include access level information for users with [indirect access](https://support.google.com/vault/answer/6099459#metadata) to files, set to **true**.",
          "type": "boolean"
        }
      }
    },
    "HangoutsChatInfo": {
      "properties": {
        "roomId": {
          "description": "A list of Chat spaces IDs, as provided by the [Chat API](https://developers.google.com/workspace/chat). There is a limit of exporting from 500 Chat spaces per request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "HangoutsChatInfo",
      "description": "The Chat spaces to search"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "ListHeldAccountsResponse": {
      "id": "ListHeldAccountsResponse",
      "type": "object",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "HeldAccount"
          },
          "description": "The held accounts on a hold.",
          "type": "array"
        }
      },
      "description": "Returns a list of the accounts covered by a hold."
    },
    "HangoutsChatExportOptions": {
      "description": "Options for Chat exports.",
      "properties": {
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "description": "The file format for exported messages.",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "HangoutsChatExportOptions"
    },
    "DriveDocumentIds": {
      "properties": {
        "ids": {
          "description": "Required. A list of Drive document IDs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Specify Drive documents by document ID.",
      "type": "object",
      "id": "DriveDocumentIds"
    },
    "RemoveHeldAccountsResponse": {
      "id": "RemoveHeldAccountsResponse",
      "description": "Response for batch delete held accounts.",
      "type": "object",
      "properties": {
        "statuses": {
          "items": {
            "$ref": "Status"
          },
          "description": "A list of statuses for the deleted accounts. Results have the same order as the request.",
          "type": "array"
        }
      }
    },
    "Hold": {
      "description": "A hold. A hold prevents the specified Google Workspace service from purging data for specific accounts or all members of an organizational unit. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "The last time this hold was modified.",
          "type": "string"
        },
        "corpus": {
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE",
            "CALENDAR",
            "GEMINI"
          ],
          "type": "string",
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice.",
            "Calendar.",
            "Gemini."
          ],
          "description": "The service to be searched."
        },
        "holdId": {
          "description": "The unique immutable ID of the hold. Assigned during creation.",
          "type": "string"
        },
        "name": {
          "description": "The name of the hold.",
          "type": "string"
        },
        "orgUnit": {
          "description": "If set, the hold applies to all members of the organizational unit and **accounts** must be empty. This property is mutable. For Groups holds, set **accounts**.",
          "$ref": "HeldOrgUnit"
        },
        "query": {
          "description": "Service-specific options. If set, **CorpusQuery** must match **CorpusType**.",
          "$ref": "CorpusQuery"
        },
        "accounts": {
          "items": {
            "$ref": "HeldAccount"
          },
          "description": "If set, the hold applies to the specified accounts and **orgUnit** must be empty.",
          "type": "array"
        }
      },
      "id": "Hold"
    },
    "GeminiOptions": {
      "description": "Additional options for Gemini search",
      "properties": {},
      "type": "object",
      "id": "GeminiOptions"
    },
    "VoiceOptions": {
      "id": "VoiceOptions",
      "description": "Additional options for Voice search",
      "properties": {
        "coveredData": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ],
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ]
          },
          "description": "Datatypes to search"
        }
      },
      "type": "object"
    },
    "HeldGeminiQuery": {
      "id": "HeldGeminiQuery",
      "properties": {},
      "type": "object",
      "description": "Options for Gemini holds."
    },
    "ExportStats": {
      "description": "Progress information for an export.",
      "type": "object",
      "id": "ExportStats",
      "properties": {
        "sizeInBytes": {
          "type": "string",
          "description": "The size of export in bytes.",
          "format": "int64"
        },
        "totalArtifactCount": {
          "description": "The number of messages or files to be exported.",
          "type": "string",
          "format": "int64"
        },
        "exportedArtifactCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of messages or files already processed for export."
        }
      }
    },
    "CloudStorageSink": {
      "type": "object",
      "id": "CloudStorageSink",
      "properties": {
        "files": {
          "type": "array",
          "items": {
            "$ref": "CloudStorageFile"
          },
          "description": "Output only. The exported files in Cloud Storage."
        }
      },
      "description": "Export sink for Cloud Storage files."
    },
    "CountArtifactsMetadata": {
      "properties": {
        "query": {
          "description": "The search query from the request.",
          "$ref": "Query"
        },
        "matterId": {
          "description": "The matter ID of the associated matter.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "End time of count operation. Available when operation is done.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Creation time of count operation.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "CountArtifactsMetadata",
      "description": "Long running operation metadata for CountArtifacts."
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "RemoveHeldAccountsRequest": {
      "description": "Remove a list of accounts from a hold.",
      "type": "object",
      "properties": {
        "accountIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The account IDs of the accounts to remove from the hold."
        }
      },
      "id": "RemoveHeldAccountsRequest"
    },
    "MailExportOptions": {
      "description": "Options for Gmail exports.",
      "properties": {
        "exportFormat": {
          "description": "The file format for exported messages.",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ]
        },
        "showConfidentialModeContent": {
          "description": "To export confidential mode content, set to **true**.",
          "type": "boolean"
        },
        "exportLinkedDriveFiles": {
          "type": "boolean",
          "description": "Optional. To enable exporting linked Drive files, set to **true**."
        },
        "useNewExport": {
          "description": "To use the new export system, set to **true**.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "MailExportOptions"
    },
    "AccountInfo": {
      "properties": {
        "emails": {
          "type": "array",
          "description": "A set of accounts to search.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AccountInfo",
      "description": "The accounts to search",
      "type": "object"
    },
    "Export": {
      "description": "An export. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "properties": {
        "requester": {
          "description": "Output only. The requester of the export.",
          "$ref": "UserInfo"
        },
        "exportOptions": {
          "description": "Additional export options.",
          "$ref": "ExportOptions"
        },
        "name": {
          "description": "The export name. Don't use special characters (~!$'(),;@:/?) in the name, they can prevent you from downloading exports.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the export was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "matterId": {
          "type": "string",
          "description": "Output only. The matter ID."
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "The status is unspecified.",
            "The export completed.",
            "The export failed.",
            "The export is in progress."
          ],
          "enum": [
            "EXPORT_STATUS_UNSPECIFIED",
            "COMPLETED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "description": "Output only. The status of the export."
        },
        "cloudStorageSink": {
          "description": "Output only. The sink for export files in Cloud Storage.",
          "$ref": "CloudStorageSink"
        },
        "parentExportId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifies the parent export that spawned this child export. This is only set on child exports."
        },
        "query": {
          "description": "The query parameters used to create the export.",
          "$ref": "Query"
        },
        "id": {
          "description": "Output only. The generated export ID.",
          "type": "string"
        },
        "stats": {
          "$ref": "ExportStats",
          "description": "Output only. Details about the export progress and size."
        }
      },
      "type": "object",
      "id": "Export"
    },
    "AddHeldAccountsResponse": {
      "description": "Response for batch create held accounts.",
      "id": "AddHeldAccountsResponse",
      "type": "object",
      "properties": {
        "responses": {
          "description": "The list of responses, in the same order as the batch request.",
          "items": {
            "$ref": "AddHeldAccountResult"
          },
          "type": "array"
        }
      }
    },
    "DriveDocumentInfo": {
      "id": "DriveDocumentInfo",
      "description": "The Drive documents to search.",
      "properties": {
        "documentIds": {
          "description": "Specify Drive documents by document ID.",
          "$ref": "DriveDocumentIds"
        }
      },
      "type": "object"
    },
    "CountArtifactsRequest": {
      "description": "Count artifacts request.",
      "id": "CountArtifactsRequest",
      "properties": {
        "view": {
          "type": "string",
          "enumDescriptions": [
            "Default. Same as **TOTAL_COUNT**.",
            "Response includes counts of the total accounts, queried accounts, matching accounts, non-queryable accounts, and queried account errors.",
            "Response includes the same details as **TOTAL_COUNT**, plus additional account breakdown."
          ],
          "enum": [
            "COUNT_RESULT_VIEW_UNSPECIFIED",
            "TOTAL_COUNT",
            "ALL"
          ],
          "description": "Sets the granularity of the count results."
        },
        "query": {
          "$ref": "Query",
          "description": "The search query."
        }
      },
      "type": "object"
    },
    "SitesUrlInfo": {
      "id": "SitesUrlInfo",
      "description": "The published site URLs of new Google Sites to search",
      "properties": {
        "urls": {
          "type": "array",
          "description": "A list of published site URLs.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GeminiExportOptions": {
      "id": "GeminiExportOptions",
      "description": "The options for Gemini exports.",
      "type": "object",
      "properties": {
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "description": "The file format for exported messages.",
          "type": "string"
        }
      }
    },
    "RemoveMatterPermissionsRequest": {
      "type": "object",
      "properties": {
        "accountId": {
          "description": "The account ID.",
          "type": "string"
        }
      },
      "description": "Remove an account as a matter collaborator.",
      "id": "RemoveMatterPermissionsRequest"
    },
    "HeldCalendarQuery": {
      "description": "Options for Calendar holds.",
      "id": "HeldCalendarQuery",
      "type": "object",
      "properties": {}
    },
    "AddMatterPermissionsRequest": {
      "id": "AddMatterPermissionsRequest",
      "properties": {
        "ccMe": {
          "description": "Only relevant if **sendEmails** is **true**. To CC the requestor in the email message, set to **true**. To not CC requestor, set to **false**.",
          "type": "boolean"
        },
        "sendEmails": {
          "type": "boolean",
          "description": "To send a notification email to the added account, set to **true**. To not send a notification email, set to **false**."
        },
        "matterPermission": {
          "description": "The account and its role to add.",
          "$ref": "MatterPermission"
        }
      },
      "description": "Add an account with the permission specified. The role cannot be owner. If an account already has a role in the matter, the existing role is overwritten.",
      "type": "object"
    },
    "GroupsExportOptions": {
      "id": "GroupsExportOptions",
      "type": "object",
      "properties": {
        "exportFormat": {
          "type": "string",
          "description": "The file format for exported messages.",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ]
        }
      },
      "description": "Options for Groups exports."
    },
    "HangoutsChatOptions": {
      "type": "object",
      "description": "Additional options for Google Chat search",
      "properties": {
        "includeRooms": {
          "type": "boolean",
          "description": "For searches by account or organizational unit, set to **true** to include rooms."
        }
      },
      "id": "HangoutsChatOptions"
    },
    "ReopenMatterResponse": {
      "description": "Response to a ReopenMatterRequest.",
      "type": "object",
      "properties": {
        "matter": {
          "description": "The updated matter, with state **OPEN**.",
          "$ref": "Matter"
        }
      },
      "id": "ReopenMatterResponse"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "Operation"
    },
    "ListSavedQueriesResponse": {
      "properties": {
        "savedQueries": {
          "description": "List of saved queries.",
          "items": {
            "$ref": "SavedQuery"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more saved queries to list.",
          "type": "string"
        }
      },
      "id": "ListSavedQueriesResponse",
      "type": "object",
      "description": "Definition of the response for method ListSaveQuery."
    },
    "MailCountResult": {
      "type": "object",
      "id": "MailCountResult",
      "properties": {
        "accountCounts": {
          "items": {
            "$ref": "AccountCount"
          },
          "description": "Subtotal count per matching account that have more than zero messages.",
          "type": "array"
        },
        "queriedAccountsCount": {
          "description": "Total number of accounts involved in this count operation.",
          "format": "int64",
          "type": "string"
        },
        "accountCountErrors": {
          "type": "array",
          "description": "Errors occurred when querying these accounts.",
          "items": {
            "$ref": "AccountCountError"
          }
        },
        "nonQueryableAccounts": {
          "type": "array",
          "description": "When **DataScope** is **HELD_DATA** and when account emails are passed in explicitly, the list of accounts in the request that are not queried because they are not on hold in the matter. For other data scopes, this field is not set.",
          "items": {
            "type": "string"
          }
        },
        "matchingAccountsCount": {
          "description": "Total number of accounts that can be queried and have more than zero messages.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Gmail and classic Hangouts-specific count metrics."
    },
    "AddHeldAccountResult": {
      "id": "AddHeldAccountResult",
      "type": "object",
      "description": "The status of each account creation, and the **HeldAccount**, if successful.",
      "properties": {
        "account": {
          "$ref": "HeldAccount",
          "description": "Returned when the account was successfully created."
        },
        "status": {
          "$ref": "Status",
          "description": "Reports the request status. If it failed, returns an error message."
        }
      }
    },
    "AccountCount": {
      "description": "The results count for each account.",
      "properties": {
        "count": {
          "format": "int64",
          "type": "string",
          "description": "The number of results (messages or files) found for this account."
        },
        "account": {
          "description": "Account owner.",
          "$ref": "UserInfo"
        }
      },
      "type": "object",
      "id": "AccountCount"
    },
    "MailOptions": {
      "properties": {
        "clientSideEncryptedOption": {
          "type": "string",
          "description": "Specifies whether the results should include encrypted content, unencrypted content, or both. Defaults to including both.",
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ],
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ]
        },
        "excludeDrafts": {
          "type": "boolean",
          "description": "Set to **true** to exclude drafts."
        }
      },
      "description": "Additional options for Gmail search",
      "type": "object",
      "id": "MailOptions"
    },
    "HeldDriveQuery": {
      "description": "Options for Drive holds.",
      "type": "object",
      "properties": {
        "includeSharedDriveFiles": {
          "description": "To include files in shared drives in the hold, set to **true**.",
          "type": "boolean"
        },
        "includeTeamDriveFiles": {
          "deprecated": true,
          "type": "boolean",
          "description": "To include files in Team Drives in the hold, set to **true**."
        }
      },
      "id": "HeldDriveQuery"
    },
    "CalendarExportOptions": {
      "properties": {
        "exportFormat": {
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "description": "The file format for exported text messages.",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ]
        }
      },
      "type": "object",
      "description": "The options for Calendar exports.",
      "id": "CalendarExportOptions"
    },
    "SavedQuery": {
      "id": "SavedQuery",
      "type": "object",
      "properties": {
        "savedQueryId": {
          "description": "A unique identifier for the saved query.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The server-generated timestamp when the saved query was created."
        },
        "matterId": {
          "description": "Output only. The matter ID of the matter the saved query is saved in. The server does not use this field during create and always uses matter ID in the URL.",
          "type": "string"
        },
        "query": {
          "description": "The search parameters of the saved query.",
          "$ref": "Query"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the saved query."
        }
      },
      "description": "The definition of a saved query. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege."
    },
    "Query": {
      "id": "Query",
      "type": "object",
      "properties": {
        "sitesUrlInfo": {
          "description": "Required when **SearchMethod** is **SITES_URL**.",
          "$ref": "SitesUrlInfo"
        },
        "orgUnitInfo": {
          "description": "Required when **SearchMethod** is **ORG_UNIT**.",
          "$ref": "OrgUnitInfo"
        },
        "mailOptions": {
          "$ref": "MailOptions",
          "description": "Set Gmail search-specific options."
        },
        "driveDocumentInfo": {
          "$ref": "DriveDocumentInfo",
          "description": "Required when **SearchMethod** is **DRIVE_DOCUMENT**."
        },
        "geminiOptions": {
          "description": "Set Gemini search-specific options.",
          "$ref": "GeminiOptions"
        },
        "timeZone": {
          "description": "The time zone name. It should be an IANA TZ name, such as \"America/Los_Angeles\". For a list of time zone names, see [Time Zone](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). For more information about how Vault uses time zones, see [the Vault help center](https://support.google.com/vault/answer/6092995#time).",
          "type": "string"
        },
        "sharedDriveInfo": {
          "$ref": "SharedDriveInfo",
          "description": "Required when **SearchMethod** is **SHARED_DRIVE**."
        },
        "hangoutsChatOptions": {
          "description": "Set Chat search-specific options. (read-only)",
          "$ref": "HangoutsChatOptions"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date."
        },
        "teamDriveInfo": {
          "deprecated": true,
          "$ref": "TeamDriveInfo",
          "description": "Required when **SearchMethod** is **TEAM_DRIVE**."
        },
        "accountInfo": {
          "$ref": "AccountInfo",
          "description": "Required when **SearchMethod** is **ACCOUNT**."
        },
        "terms": {
          "description": "Service-specific [search operators](https://support.google.com/vault/answer/2474474) to filter search results.",
          "type": "string"
        },
        "dataScope": {
          "type": "string",
          "description": "The data source to search.",
          "enumDescriptions": [
            "No data source specified.",
            "All available data.",
            "Only data on hold.",
            "Only data not yet processed by Vault. (Gmail and Groups only)"
          ],
          "enum": [
            "DATA_SCOPE_UNSPECIFIED",
            "ALL_DATA",
            "HELD_DATA",
            "UNPROCESSED_DATA"
          ]
        },
        "endTime": {
          "description": "The end time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime",
          "type": "string"
        },
        "corpus": {
          "type": "string",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE",
            "CALENDAR",
            "GEMINI"
          ],
          "description": "The Google Workspace service to search.",
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice.",
            "Calendar.",
            "Gemini."
          ]
        },
        "voiceOptions": {
          "$ref": "VoiceOptions",
          "description": "Set Voice search-specific options."
        },
        "method": {
          "description": "The entity to search. This field replaces **searchMethod** to support shared drives. When **searchMethod** is **TEAM_DRIVE**, the response of this field is **SHARED_DRIVE**.",
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search for sites by the published site URLs specified in [SitesUrlInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#sitesurlinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#shareddriveinfo).",
            "Retrieve the documents specified in DriveDocumentInfo."
          ],
          "type": "string",
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SITES_URL",
            "SHARED_DRIVE",
            "DRIVE_DOCUMENT"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "driveOptions": {
          "description": "Set Drive search-specific options.",
          "$ref": "DriveOptions"
        },
        "calendarOptions": {
          "description": "Set Calendar search-specific options.",
          "$ref": "CalendarOptions"
        },
        "hangoutsChatInfo": {
          "description": "Required when **SearchMethod** is **ROOM**. (read-only)",
          "$ref": "HangoutsChatInfo"
        },
        "searchMethod": {
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SITES_URL",
            "SHARED_DRIVE",
            "DRIVE_DOCUMENT"
          ],
          "description": "The search method to use.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search for sites by the published site URLs specified in [SitesUrlInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#sitesurlinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#shareddriveinfo).",
            "Retrieve the documents specified in DriveDocumentInfo."
          ],
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "The query definition used for search and export."
    },
    "HeldVoiceQuery": {
      "properties": {
        "coveredData": {
          "type": "array",
          "items": {
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ],
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ],
            "type": "string"
          },
          "description": "A list of data types covered by the hold. Should be non-empty. Order does not matter and duplicates are ignored."
        }
      },
      "description": "Options for Voice holds.",
      "id": "HeldVoiceQuery",
      "type": "object"
    },
    "MatterPermission": {
      "description": "Users can be matter owners or collaborators. Each matter has only one owner. All others users who can access the matter are collaborators. When an account is purged, its corresponding MatterPermission resources cease to exist.",
      "properties": {
        "role": {
          "description": "The user's role for the matter.",
          "type": "string",
          "enumDescriptions": [
            "No role assigned.",
            "A collaborator on the matter.",
            "The owner of the matter."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "COLLABORATOR",
            "OWNER"
          ]
        },
        "accountId": {
          "type": "string",
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/)."
        }
      },
      "id": "MatterPermission",
      "type": "object"
    },
    "HeldGroupsQuery": {
      "description": "Query options for group holds.",
      "id": "HeldGroupsQuery",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string",
          "format": "google-datetime"
        },
        "terms": {
          "type": "string",
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold."
        }
      },
      "type": "object"
    },
    "Matter": {
      "description": "Represents a matter. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "properties": {
        "matterRegion": {
          "enum": [
            "MATTER_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ],
          "description": "Optional. The requested data region for the matter.",
          "type": "string",
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ]
        },
        "state": {
          "description": "The state of the matter.",
          "enumDescriptions": [
            "The matter has no specified state.",
            "The matter is open.",
            "The matter is closed.",
            "The matter is deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "DELETED"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the matter."
        },
        "matterId": {
          "type": "string",
          "description": "The matter ID, which is generated by the server. Leave blank when creating a matter."
        },
        "description": {
          "description": "An optional description for the matter.",
          "type": "string"
        },
        "matterPermissions": {
          "description": "Lists the users and their permission for the matter. Currently there is no programmer defined limit on the number of permissions a matter can have.",
          "items": {
            "$ref": "MatterPermission"
          },
          "type": "array"
        }
      },
      "id": "Matter",
      "type": "object"
    },
    "HeldHangoutsChatQuery": {
      "id": "HeldHangoutsChatQuery",
      "type": "object",
      "properties": {
        "includeRooms": {
          "description": "To include messages in Chat spaces the user was a member of, set to **true**.",
          "type": "boolean"
        }
      },
      "description": "Options for Chat holds."
    },
    "CloseMatterRequest": {
      "properties": {},
      "id": "CloseMatterRequest",
      "description": "Close a matter by ID.",
      "type": "object"
    },
    "HeldMailQuery": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime",
          "type": "string"
        },
        "terms": {
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold.",
          "type": "string"
        }
      },
      "id": "HeldMailQuery",
      "description": "Query options for Gmail holds."
    },
    "OrgUnitInfo": {
      "description": "The organizational unit to search",
      "id": "OrgUnitInfo",
      "type": "object",
      "properties": {
        "orgUnitId": {
          "description": "The name of the organizational unit to search, as provided by the [Admin SDK Directory API](https://developers.google.com/admin-sdk/directory/).",
          "type": "string"
        }
      }
    },
    "ListHoldsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more holds to list.",
          "type": "string"
        },
        "holds": {
          "type": "array",
          "items": {
            "$ref": "Hold"
          },
          "description": "The list of holds."
        }
      },
      "description": "The holds for a matter.",
      "id": "ListHoldsResponse"
    },
    "AccountCountError": {
      "id": "AccountCountError",
      "type": "object",
      "properties": {
        "account": {
          "$ref": "UserInfo",
          "description": "Account owner."
        },
        "errorType": {
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Permanent - prefix terms expanded to too many query terms.",
            "Permanent - query contains too many terms.",
            "Transient - data in transit between storage replicas, temporarily unavailable.",
            "Unrecognized error.",
            "Deadline exceeded when querying the account."
          ],
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "WILDCARD_TOO_BROAD",
            "TOO_MANY_TERMS",
            "LOCATION_UNAVAILABLE",
            "UNKNOWN",
            "DEADLINE_EXCEEDED"
          ],
          "description": "Account query error."
        }
      },
      "description": "An error that occurred when querying a specific account"
    },
    "GroupsCountResult": {
      "id": "GroupsCountResult",
      "type": "object",
      "description": "Groups specific count metrics.",
      "properties": {
        "accountCountErrors": {
          "type": "array",
          "items": {
            "$ref": "AccountCountError"
          },
          "description": "Error occurred when querying these accounts."
        },
        "queriedAccountsCount": {
          "format": "int64",
          "description": "Total number of accounts involved in this count operation.",
          "type": "string"
        },
        "accountCounts": {
          "description": "Subtotal count per matching account that have more than zero messages.",
          "items": {
            "$ref": "AccountCount"
          },
          "type": "array"
        },
        "nonQueryableAccounts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "When **DataScope** is **HELD_DATA**, these accounts in the request are not queried because they are not on hold. For other data scope, this field is not set."
        },
        "matchingAccountsCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of accounts that can be queried and have more than zero messages."
        }
      }
    },
    "TeamDriveInfo": {
      "description": "Team Drives to search",
      "properties": {
        "teamDriveIds": {
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of Team Drive IDs, as provided by the [Drive API](https://developers.google.com/drive)."
        }
      },
      "type": "object",
      "id": "TeamDriveInfo",
      "deprecated": true
    },
    "CloseMatterResponse": {
      "description": "Response to a CloseMatterRequest.",
      "type": "object",
      "id": "CloseMatterResponse",
      "properties": {
        "matter": {
          "$ref": "Matter",
          "description": "The updated matter, with state **CLOSED**."
        }
      }
    },
    "DriveOptions": {
      "type": "object",
      "description": "Additional options for Drive search.",
      "properties": {
        "versionDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Search the current version of the Drive file, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC."
        },
        "sharedDrivesOption": {
          "enum": [
            "SHARED_DRIVES_OPTION_UNSPECIFIED",
            "NOT_INCLUDED",
            "INCLUDED_IF_ACCOUNT_IS_NOT_A_MEMBER",
            "INCLUDED"
          ],
          "description": "Optional. Options to include or exclude documents in shared drives. We recommend using this field over include_shared_drives. This field overrides include_shared_drives and include_team_drives when set.",
          "enumDescriptions": [
            "No shared drive option specified.",
            "If a resource is in a shared drive, it isn't included in the search.",
            "Shared drive resources are only included in instances where the account is a collaborator on a resource but they are not a member of the shared drive. This maps to the *\"Included only if documents shared directly (not due to shared drive membership)\"* option in the Vault UI. (Previously \"include_shared_drives\" off)",
            "Resources in shared drives are included in the search. (Previously \"include_shared_drives\" on)"
          ],
          "type": "string"
        },
        "clientSideEncryptedOption": {
          "description": "Set whether the results include only content encrypted with [Google Workspace Client-side encryption](https://support.google.com/a?p=cse_ov) content, only unencrypted content, or both. Defaults to both. Currently supported for Drive.",
          "type": "string",
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ],
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ]
        },
        "includeSharedDrives": {
          "type": "boolean",
          "deprecated": true,
          "description": "Set to **true** to include shared drives."
        },
        "includeTeamDrives": {
          "deprecated": true,
          "type": "boolean",
          "description": "Set to true to include Team Drive."
        }
      },
      "id": "DriveOptions"
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "AddHeldAccountsRequest": {
      "properties": {
        "accountIds": {
          "description": "A comma-separated list of the account IDs of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "emails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A comma-separated list of the emails of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both."
        }
      },
      "description": "Add a list of accounts to a hold.",
      "type": "object",
      "id": "AddHeldAccountsRequest"
    },
    "UserInfo": {
      "type": "object",
      "id": "UserInfo",
      "description": "User's information.",
      "properties": {
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The displayed name of the user."
        }
      }
    },
    "SharedDriveInfo": {
      "type": "object",
      "id": "SharedDriveInfo",
      "properties": {
        "sharedDriveIds": {
          "description": "A list of shared drive IDs, as provided by the [Drive API](https://developers.google.com/drive).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The shared drives to search"
    },
    "ListMattersResponse": {
      "description": "Provides the list of matters.",
      "id": "ListMattersResponse",
      "type": "object",
      "properties": {
        "matters": {
          "description": "List of matters.",
          "items": {
            "$ref": "Matter"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      }
    },
    "ExportOptions": {
      "type": "object",
      "description": "Additional options for exports",
      "properties": {
        "region": {
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ],
          "enum": [
            "EXPORT_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ],
          "type": "string",
          "description": "The requested data region for the export."
        },
        "driveOptions": {
          "$ref": "DriveExportOptions",
          "description": "Options for Drive exports."
        },
        "hangoutsChatOptions": {
          "$ref": "HangoutsChatExportOptions",
          "description": "Options for Chat exports."
        },
        "voiceOptions": {
          "description": "Options for Voice exports.",
          "$ref": "VoiceExportOptions"
        },
        "calendarOptions": {
          "$ref": "CalendarExportOptions",
          "description": "Option available for Calendar export."
        },
        "mailOptions": {
          "$ref": "MailExportOptions",
          "description": "Options for Gmail exports."
        },
        "groupsOptions": {
          "description": "Options for Groups exports.",
          "$ref": "GroupsExportOptions"
        },
        "geminiOptions": {
          "$ref": "GeminiExportOptions",
          "description": "Option available for Gemini export."
        }
      },
      "id": "ExportOptions"
    },
    "ReopenMatterRequest": {
      "type": "object",
      "properties": {},
      "description": "Reopen a matter by ID.",
      "id": "ReopenMatterRequest"
    }
  },
  "resources": {
    "operations": {
      "methods": {
        "cancel": {
          "path": "v1/{+name}:cancel",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The name of the operation resource to be cancelled.",
              "pattern": "^operations/.*$"
            }
          },
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "flatPath": "v1/operations/{operationsId}:cancel",
          "id": "vault.operations.cancel"
        },
        "list": {
          "flatPath": "v1/operations",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "id": "vault.operations.list",
          "path": "v1/{+name}",
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The standard list page token.",
              "location": "query"
            },
            "returnPartialSuccess": {
              "location": "query",
              "type": "boolean",
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
            },
            "name": {
              "required": true,
              "description": "The name of the operation's parent resource.",
              "type": "string",
              "pattern": "^operations$",
              "location": "path"
            },
            "pageSize": {
              "location": "query",
              "description": "The standard list page size.",
              "type": "integer",
              "format": "int32"
            },
            "filter": {
              "location": "query",
              "description": "The standard list filter.",
              "type": "string"
            }
          },
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ]
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "flatPath": "v1/operations/{operationsId}",
          "id": "vault.operations.get",
          "parameters": {
            "name": {
              "required": true,
              "description": "The name of the operation resource.",
              "pattern": "^operations/.*$",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ]
        },
        "delete": {
          "id": "vault.operations.delete",
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "flatPath": "v1/operations/{operationsId}",
          "parameters": {
            "name": {
              "required": true,
              "description": "The name of the operation resource to be deleted.",
              "location": "path",
              "type": "string",
              "pattern": "^operations/.*$"
            }
          }
        }
      }
    },
    "matters": {
      "methods": {
        "update": {
          "parameterOrder": [
            "matterId"
          ],
          "flatPath": "v1/matters/{matterId}",
          "path": "v1/matters/{matterId}",
          "request": {
            "$ref": "Matter"
          },
          "parameters": {
            "matterId": {
              "required": true,
              "description": "The matter ID.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "response": {
            "$ref": "Matter"
          },
          "httpMethod": "PUT",
          "id": "vault.matters.update",
          "description": "Updates the specified matter. This updates only the name and description of the matter, identified by matter ID. Changes to any other fields are ignored. Returns the default view of the matter."
        },
        "delete": {
          "parameterOrder": [
            "matterId"
          ],
          "response": {
            "$ref": "Matter"
          },
          "description": "Deletes the specified matter. Returns the matter with updated state.",
          "httpMethod": "DELETE",
          "flatPath": "v1/matters/{matterId}",
          "path": "v1/matters/{matterId}",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "id": "vault.matters.delete",
          "parameters": {
            "matterId": {
              "required": true,
              "type": "string",
              "description": "The matter ID",
              "location": "path"
            }
          }
        },
        "get": {
          "parameterOrder": [
            "matterId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "description": "Gets the specified matter.",
          "parameters": {
            "view": {
              "location": "query",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "description": "Specifies how much information about the matter to return in the response.",
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/workspace/vault/reference/rest/v1/matters#matterpermission))."
              ]
            },
            "matterId": {
              "type": "string",
              "description": "The matter ID.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Matter"
          },
          "id": "vault.matters.get",
          "httpMethod": "GET",
          "flatPath": "v1/matters/{matterId}",
          "path": "v1/matters/{matterId}"
        },
        "reopen": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameterOrder": [
            "matterId"
          ],
          "id": "vault.matters.reopen",
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "ReopenMatterResponse"
          },
          "description": "Reopens the specified matter. Returns the matter with updated state.",
          "request": {
            "$ref": "ReopenMatterRequest"
          },
          "httpMethod": "POST",
          "path": "v1/matters/{matterId}:reopen",
          "flatPath": "v1/matters/{matterId}:reopen"
        },
        "count": {
          "path": "v1/matters/{matterId}:count",
          "id": "vault.matters.count",
          "parameterOrder": [
            "matterId"
          ],
          "description": "Counts the accounts processed by the specified query.",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "request": {
            "$ref": "CountArtifactsRequest"
          },
          "httpMethod": "POST",
          "flatPath": "v1/matters/{matterId}:count"
        },
        "close": {
          "parameterOrder": [
            "matterId"
          ],
          "id": "vault.matters.close",
          "flatPath": "v1/matters/{matterId}:close",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "path": "v1/matters/{matterId}:close",
          "request": {
            "$ref": "CloseMatterRequest"
          },
          "response": {
            "$ref": "CloseMatterResponse"
          },
          "description": "Closes the specified matter. Returns the matter with updated state.",
          "parameters": {
            "matterId": {
              "required": true,
              "description": "The matter ID.",
              "type": "string",
              "location": "path"
            }
          }
        },
        "addPermissions": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "description": "Adds an account as a matter collaborator.",
          "flatPath": "v1/matters/{matterId}:addPermissions",
          "request": {
            "$ref": "AddMatterPermissionsRequest"
          },
          "parameterOrder": [
            "matterId"
          ],
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "v1/matters/{matterId}:addPermissions",
          "httpMethod": "POST",
          "id": "vault.matters.addPermissions",
          "response": {
            "$ref": "MatterPermission"
          }
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "response": {
            "$ref": "ListMattersResponse"
          },
          "path": "v1/matters",
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The pagination token as returned in the response.",
              "location": "query"
            },
            "view": {
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/workspace/vault/reference/rest/v1/matters#matterpermission))."
              ],
              "description": "Specifies how much information about the matter to return in response.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "The number of matters to return in the response. Default and maximum are 100.",
              "type": "integer"
            },
            "state": {
              "enumDescriptions": [
                "The matter has no specified state.",
                "The matter is open.",
                "The matter is closed.",
                "The matter is deleted."
              ],
              "description": "If set, lists only matters with the specified state. The default lists matters of all states.",
              "enum": [
                "STATE_UNSPECIFIED",
                "OPEN",
                "CLOSED",
                "DELETED"
              ],
              "location": "query",
              "type": "string"
            }
          },
          "id": "vault.matters.list",
          "flatPath": "v1/matters",
          "description": "Lists matters the requestor has access to."
        },
        "create": {
          "response": {
            "$ref": "Matter"
          },
          "parameters": {},
          "path": "v1/matters",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameterOrder": [],
          "flatPath": "v1/matters",
          "request": {
            "$ref": "Matter"
          },
          "description": "Creates a matter with the given name and description. The initial state is open, and the owner is the method caller. Returns the created matter with default view.",
          "httpMethod": "POST",
          "id": "vault.matters.create"
        },
        "removePermissions": {
          "id": "vault.matters.removePermissions",
          "request": {
            "$ref": "RemoveMatterPermissionsRequest"
          },
          "flatPath": "v1/matters/{matterId}:removePermissions",
          "parameterOrder": [
            "matterId"
          ],
          "httpMethod": "POST",
          "description": "Removes an account as a matter collaborator.",
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/matters/{matterId}:removePermissions",
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ]
        },
        "undelete": {
          "response": {
            "$ref": "Matter"
          },
          "parameters": {
            "matterId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The matter ID."
            }
          },
          "description": "Undeletes the specified matter. Returns the matter with updated state.",
          "parameterOrder": [
            "matterId"
          ],
          "flatPath": "v1/matters/{matterId}:undelete",
          "httpMethod": "POST",
          "id": "vault.matters.undelete",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "path": "v1/matters/{matterId}:undelete",
          "request": {
            "$ref": "UndeleteMatterRequest"
          }
        }
      },
      "resources": {
        "savedQueries": {
          "methods": {
            "list": {
              "parameterOrder": [
                "matterId"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "id": "vault.matters.savedQueries.list",
              "parameters": {
                "matterId": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the matter to get the saved queries for.",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of saved queries to return.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The pagination token as returned in the previous response. An empty token means start from the beginning.",
                  "location": "query"
                }
              },
              "description": "Lists the saved queries in a matter.",
              "path": "v1/matters/{matterId}/savedQueries",
              "response": {
                "$ref": "ListSavedQueriesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ]
            },
            "get": {
              "id": "vault.matters.savedQueries.get",
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ],
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "parameters": {
                "savedQueryId": {
                  "location": "path",
                  "description": "ID of the saved query to retrieve.",
                  "required": true,
                  "type": "string"
                },
                "matterId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the matter to get the saved query from."
                }
              },
              "response": {
                "$ref": "SavedQuery"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "description": "Retrieves the specified saved query."
            },
            "delete": {
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "parameters": {
                "matterId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the matter to delete the saved query from.",
                  "location": "path"
                },
                "savedQueryId": {
                  "type": "string",
                  "required": true,
                  "description": "ID of the saved query to delete.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ],
              "description": "Deletes the specified saved query.",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "httpMethod": "DELETE",
              "id": "vault.matters.savedQueries.delete"
            },
            "create": {
              "parameterOrder": [
                "matterId"
              ],
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "parameters": {
                "matterId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the matter to create the saved query in."
                }
              },
              "request": {
                "$ref": "SavedQuery"
              },
              "path": "v1/matters/{matterId}/savedQueries",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "response": {
                "$ref": "SavedQuery"
              },
              "httpMethod": "POST",
              "description": "Creates a saved query.",
              "id": "vault.matters.savedQueries.create"
            }
          }
        },
        "holds": {
          "resources": {
            "accounts": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "matterId",
                    "holdId",
                    "accountId"
                  ],
                  "id": "vault.matters.holds.accounts.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The ID of the account to remove from the hold.",
                      "type": "string"
                    },
                    "holdId": {
                      "required": true,
                      "type": "string",
                      "description": "The hold ID.",
                      "location": "path"
                    },
                    "matterId": {
                      "required": true,
                      "type": "string",
                      "description": "The matter ID.",
                      "location": "path"
                    }
                  },
                  "description": "Removes an account from a hold.",
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "httpMethod": "DELETE",
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "create": {
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "description": "Adds an account to a hold. Accounts can be added only to a hold that does not have an organizational unit set. If you try to add an account to an organizational unit-based hold, an error is returned.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "HeldAccount"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ],
                  "response": {
                    "$ref": "HeldAccount"
                  },
                  "parameters": {
                    "holdId": {
                      "required": true,
                      "type": "string",
                      "description": "The hold ID.",
                      "location": "path"
                    },
                    "matterId": {
                      "location": "path",
                      "type": "string",
                      "description": "The matter ID.",
                      "required": true
                    }
                  },
                  "id": "vault.matters.holds.accounts.create"
                },
                "list": {
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery",
                    "https://www.googleapis.com/auth/ediscovery.readonly"
                  ],
                  "response": {
                    "$ref": "ListHeldAccountsResponse"
                  },
                  "description": "Lists the accounts covered by a hold. This can list only individually-specified accounts covered by the hold. If the hold covers an organizational unit, use the [Admin SDK](https://developers.google.com/admin-sdk/). to list the members of the organizational unit on hold.",
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ],
                  "parameters": {
                    "matterId": {
                      "location": "path",
                      "type": "string",
                      "description": "The matter ID.",
                      "required": true
                    },
                    "holdId": {
                      "required": true,
                      "description": "The hold ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "id": "vault.matters.holds.accounts.list"
                }
              }
            }
          },
          "methods": {
            "addHeldAccounts": {
              "description": "Adds accounts to a hold. Returns a list of accounts that have been successfully added. Accounts can be added only to an existing account-based hold.",
              "httpMethod": "POST",
              "response": {
                "$ref": "AddHeldAccountsResponse"
              },
              "request": {
                "$ref": "AddHeldAccountsRequest"
              },
              "parameters": {
                "holdId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The hold ID."
                },
                "matterId": {
                  "location": "path",
                  "type": "string",
                  "description": "The matter ID.",
                  "required": true
                }
              },
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
              "path": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
              "id": "vault.matters.holds.addHeldAccounts",
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ]
            },
            "create": {
              "path": "v1/matters/{matterId}/holds",
              "flatPath": "v1/matters/{matterId}/holds",
              "parameterOrder": [
                "matterId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "httpMethod": "POST",
              "description": "Creates a hold in the specified matter.",
              "request": {
                "$ref": "Hold"
              },
              "response": {
                "$ref": "Hold"
              },
              "id": "vault.matters.holds.create",
              "parameters": {
                "matterId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The matter ID."
                }
              }
            },
            "list": {
              "flatPath": "v1/matters/{matterId}/holds",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "parameters": {
                "matterId": {
                  "location": "path",
                  "description": "The matter ID.",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ],
                  "description": "The amount of detail to return for a hold.",
                  "location": "query",
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ],
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The number of holds to return in the response, between 0 and 100 inclusive. Leaving this empty, or as 0, is the same as **page_size** = 100.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The pagination token as returned in the response. An empty token means start from the beginning.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
[...]
