{
  "title": "Google Vault API",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://vault.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "rootUrl": "https://vault.googleapis.com/",
  "ownerName": "Google",
  "servicePath": "",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ediscovery.readonly": {
          "description": "View your eDiscovery data"
        },
        "https://www.googleapis.com/auth/ediscovery": {
          "description": "Manage your eDiscovery data"
        }
      }
    }
  },
  "version_module": true,
  "resources": {
    "matters": {
      "resources": {
        "exports": {
          "methods": {
            "list": {
              "path": "v1/matters/{matterId}/exports",
              "response": {
                "$ref": "ListExportsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "id": "vault.matters.exports.list",
              "description": "Lists details about the exports in the specified matter.",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The number of exports to return in the response."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The pagination token as returned in the response."
                },
                "matterId": {
                  "required": true,
                  "description": "The matter ID.",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/matters/{matterId}/exports",
              "parameterOrder": [
                "matterId"
              ]
            },
            "get": {
              "parameterOrder": [
                "matterId",
                "exportId"
              ],
              "flatPath": "v1/matters/{matterId}/exports/{exportId}",
              "response": {
                "$ref": "Export"
              },
              "parameters": {
                "matterId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The matter ID."
                },
                "exportId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The export ID."
                }
              },
              "path": "v1/matters/{matterId}/exports/{exportId}",
              "httpMethod": "GET",
              "description": "Gets an export.",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "id": "vault.matters.exports.get"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "request": {
                "$ref": "Export"
              },
              "parameters": {
                "matterId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The matter ID."
                }
              },
              "flatPath": "v1/matters/{matterId}/exports",
              "httpMethod": "POST",
              "id": "vault.matters.exports.create",
              "parameterOrder": [
                "matterId"
              ],
              "response": {
                "$ref": "Export"
              },
              "path": "v1/matters/{matterId}/exports",
              "description": "Creates an export."
            },
            "delete": {
              "parameterOrder": [
                "matterId",
                "exportId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "flatPath": "v1/matters/{matterId}/exports/{exportId}",
              "path": "v1/matters/{matterId}/exports/{exportId}",
              "response": {
                "$ref": "Empty"
              },
              "id": "vault.matters.exports.delete",
              "description": "Deletes an export.",
              "parameters": {
                "matterId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The matter ID."
                },
                "exportId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The export ID."
                }
              },
              "httpMethod": "DELETE"
            }
          }
        },
        "savedQueries": {
          "methods": {
            "create": {
              "path": "v1/matters/{matterId}/savedQueries",
              "response": {
                "$ref": "SavedQuery"
              },
              "description": "Creates a saved query.",
              "id": "vault.matters.savedQueries.create",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "matterId"
              ],
              "request": {
                "$ref": "SavedQuery"
              },
              "parameters": {
                "matterId": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the matter to create the saved query in.",
                  "required": true
                }
              },
              "flatPath": "v1/matters/{matterId}/savedQueries"
            },
            "delete": {
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ],
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "id": "vault.matters.savedQueries.delete",
              "description": "Deletes the specified saved query.",
              "httpMethod": "DELETE",
              "parameters": {
                "savedQueryId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "ID of the saved query to delete."
                },
                "matterId": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the matter to delete the saved query from.",
                  "required": true
                }
              },
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "response": {
                "$ref": "Empty"
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "matterId": {
                  "required": true,
                  "description": "The ID of the matter to get the saved query from.",
                  "location": "path",
                  "type": "string"
                },
                "savedQueryId": {
                  "location": "path",
                  "description": "ID of the saved query to retrieve.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "id": "vault.matters.savedQueries.get",
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "response": {
                "$ref": "SavedQuery"
              },
              "description": "Retrieves the specified saved query.",
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ]
            },
            "list": {
              "parameterOrder": [
                "matterId"
              ],
              "id": "vault.matters.savedQueries.list",
              "response": {
                "$ref": "ListSavedQueriesResponse"
              },
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "description": "The pagination token as returned in the previous response. An empty token means start from the beginning.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of saved queries to return.",
                  "format": "int32"
                },
                "matterId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the matter to get the saved queries for."
                }
              },
              "httpMethod": "GET",
              "path": "v1/matters/{matterId}/savedQueries",
              "description": "Lists the saved queries in a matter."
            }
          }
        },
        "holds": {
          "methods": {
            "list": {
              "id": "vault.matters.holds.list",
              "flatPath": "v1/matters/{matterId}/holds",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "description": "Lists the holds in a matter.",
              "response": {
                "$ref": "ListHoldsResponse"
              },
              "path": "v1/matters/{matterId}/holds",
              "parameterOrder": [
                "matterId"
              ],
              "parameters": {
                "pageToken": {
                  "description": "The pagination token as returned in the response. An empty token means start from the beginning.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The number of holds to return in the response, between 0 and 100 inclusive. Leaving this empty, or as 0, is the same as **page_size** = 100.",
                  "format": "int32",
                  "type": "integer"
                },
                "matterId": {
                  "description": "The matter ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "view": {
                  "description": "The amount of detail to return for a hold.",
                  "type": "string",
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ]
                }
              },
              "httpMethod": "GET"
            },
            "addHeldAccounts": {
              "description": "Adds accounts to a hold. Returns a list of accounts that have been successfully added. Accounts can be added only to an existing account-based hold.",
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "response": {
                "$ref": "AddHeldAccountsResponse"
              },
              "parameters": {
                "matterId": {
                  "location": "path",
                  "description": "The matter ID.",
                  "type": "string",
                  "required": true
                },
                "holdId": {
                  "location": "path",
                  "type": "string",
                  "description": "The hold ID.",
                  "required": true
                }
              },
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "httpMethod": "POST",
              "id": "vault.matters.holds.addHeldAccounts",
              "request": {
                "$ref": "AddHeldAccountsRequest"
              },
              "path": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts"
            },
            "create": {
              "path": "v1/matters/{matterId}/holds",
              "response": {
                "$ref": "Hold"
              },
              "httpMethod": "POST",
              "parameters": {
                "matterId": {
                  "description": "The matter ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Creates a hold in the specified matter.",
              "parameterOrder": [
                "matterId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "id": "vault.matters.holds.create",
              "request": {
                "$ref": "Hold"
              },
              "flatPath": "v1/matters/{matterId}/holds"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "id": "vault.matters.holds.get",
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "response": {
                "$ref": "Hold"
              },
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "description": "Gets the specified hold.",
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "httpMethod": "GET",
              "parameters": {
                "holdId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The hold ID."
                },
                "matterId": {
                  "description": "The matter ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "view": {
                  "location": "query",
                  "description": "The amount of detail to return for a hold.",
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ]
                }
              }
            },
            "removeHeldAccounts": {
              "parameters": {
                "holdId": {
                  "type": "string",
                  "required": true,
                  "description": "The hold ID.",
                  "location": "path"
                },
                "matterId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The matter ID."
                }
              },
              "id": "vault.matters.holds.removeHeldAccounts",
              "httpMethod": "POST",
              "description": "Removes the specified accounts from a hold. Returns a list of statuses in the same order as the request.",
              "response": {
                "$ref": "RemoveHeldAccountsResponse"
              },
              "path": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
              "request": {
                "$ref": "RemoveHeldAccountsRequest"
              },
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts"
            },
            "delete": {
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "response": {
                "$ref": "Empty"
              },
              "description": "Removes the specified hold and releases the accounts or organizational unit covered by the hold. If the data is not preserved by another hold or retention rule, it might be purged.",
              "id": "vault.matters.holds.delete",
              "parameters": {
                "matterId": {
                  "description": "The matter ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "holdId": {
                  "description": "The hold ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ]
            },
            "update": {
              "httpMethod": "PUT",
              "parameters": {
                "holdId": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the hold.",
                  "location": "path"
                },
                "matterId": {
                  "location": "path",
                  "type": "string",
                  "description": "The matter ID.",
                  "required": true
                }
              },
              "description": "Updates the scope (organizational unit or accounts) and query parameters of a hold. You cannot add accounts to a hold that covers an organizational unit, nor can you add organizational units to a hold that covers individual accounts. If you try, the unsupported values are ignored.",
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "id": "vault.matters.holds.update",
              "request": {
                "$ref": "Hold"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "response": {
                "$ref": "Hold"
              }
            }
          },
          "resources": {
            "accounts": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListHeldAccountsResponse"
                  },
                  "id": "vault.matters.holds.accounts.list",
                  "description": "Lists the accounts covered by a hold. This can list only individually-specified accounts covered by the hold. If the hold covers an organizational unit, use the [Admin SDK](https://developers.google.com/admin-sdk/). to list the members of the organizational unit on hold.",
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery",
                    "https://www.googleapis.com/auth/ediscovery.readonly"
                  ],
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ],
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "parameters": {
                    "matterId": {
                      "required": true,
                      "location": "path",
                      "description": "The matter ID.",
                      "type": "string"
                    },
                    "holdId": {
                      "description": "The hold ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts"
                },
                "create": {
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ],
                  "description": "Adds an account to a hold. Accounts can be added only to a hold that does not have an organizational unit set. If you try to add an account to an organizational unit-based hold, an error is returned.",
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "id": "vault.matters.holds.accounts.create",
                  "response": {
                    "$ref": "HeldAccount"
                  },
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "parameters": {
                    "matterId": {
                      "location": "path",
                      "description": "The matter ID.",
                      "type": "string",
                      "required": true
                    },
                    "holdId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The hold ID."
                    }
                  },
                  "request": {
                    "$ref": "HeldAccount"
                  },
                  "httpMethod": "POST"
                },
                "delete": {
                  "description": "Removes an account from a hold.",
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "parameterOrder": [
                    "matterId",
                    "holdId",
                    "accountId"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The ID of the account to remove from the hold."
                    },
                    "holdId": {
                      "type": "string",
                      "location": "path",
                      "description": "The hold ID.",
                      "required": true
                    },
                    "matterId": {
                      "required": true,
                      "description": "The matter ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "vault.matters.holds.accounts.delete"
                }
              }
            }
          }
        }
      },
      "methods": {
        "addPermissions": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "path": "v1/matters/{matterId}:addPermissions",
          "id": "vault.matters.addPermissions",
          "flatPath": "v1/matters/{matterId}:addPermissions",
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "MatterPermission"
          },
          "parameterOrder": [
            "matterId"
          ],
          "description": "Adds an account as a matter collaborator.",
          "request": {
            "$ref": "AddMatterPermissionsRequest"
          }
        },
        "create": {
          "description": "Creates a matter with the given name and description. The initial state is open, and the owner is the method caller. Returns the created matter with default view.",
          "response": {
            "$ref": "Matter"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "v1/matters",
          "id": "vault.matters.create",
          "request": {
            "$ref": "Matter"
          },
          "path": "v1/matters"
        },
        "reopen": {
          "flatPath": "v1/matters/{matterId}:reopen",
          "request": {
            "$ref": "ReopenMatterRequest"
          },
          "httpMethod": "POST",
          "id": "vault.matters.reopen",
          "parameters": {
            "matterId": {
              "type": "string",
              "description": "The matter ID.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "response": {
            "$ref": "ReopenMatterResponse"
          },
          "path": "v1/matters/{matterId}:reopen",
          "description": "Reopens the specified matter. Returns the matter with updated state.",
          "parameterOrder": [
            "matterId"
          ]
        },
        "delete": {
          "id": "vault.matters.delete",
          "response": {
            "$ref": "Matter"
          },
          "parameterOrder": [
            "matterId"
          ],
          "parameters": {
            "matterId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The matter ID"
            }
          },
          "path": "v1/matters/{matterId}",
          "httpMethod": "DELETE",
          "description": "Deletes the specified matter. Returns the matter with updated state.",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "flatPath": "v1/matters/{matterId}"
        },
        "removePermissions": {
          "parameters": {
            "matterId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The matter ID."
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "RemoveMatterPermissionsRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "description": "Removes an account as a matter collaborator.",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameterOrder": [
            "matterId"
          ],
          "path": "v1/matters/{matterId}:removePermissions",
          "id": "vault.matters.removePermissions",
          "flatPath": "v1/matters/{matterId}:removePermissions"
        },
        "update": {
          "flatPath": "v1/matters/{matterId}",
          "response": {
            "$ref": "Matter"
          },
          "parameterOrder": [
            "matterId"
          ],
          "description": "Updates the specified matter. This updates only the name and description of the matter, identified by matter ID. Changes to any other fields are ignored. Returns the default view of the matter.",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "id": "vault.matters.update",
          "path": "v1/matters/{matterId}",
          "request": {
            "$ref": "Matter"
          },
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID.",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "PUT"
        },
        "close": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "request": {
            "$ref": "CloseMatterRequest"
          },
          "description": "Closes the specified matter. Returns the matter with updated state.",
          "response": {
            "$ref": "CloseMatterResponse"
          },
          "parameterOrder": [
            "matterId"
          ],
          "flatPath": "v1/matters/{matterId}:close",
          "id": "vault.matters.close",
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "path": "v1/matters/{matterId}:close"
        },
        "count": {
          "id": "vault.matters.count",
          "description": "Counts the accounts processed by the specified query.",
          "flatPath": "v1/matters/{matterId}:count",
          "path": "v1/matters/{matterId}:count",
          "request": {
            "$ref": "CountArtifactsRequest"
          },
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "matterId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ]
        },
        "undelete": {
          "parameterOrder": [
            "matterId"
          ],
          "flatPath": "v1/matters/{matterId}:undelete",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "path": "v1/matters/{matterId}:undelete",
          "request": {
            "$ref": "UndeleteMatterRequest"
          },
          "id": "vault.matters.undelete",
          "parameters": {
            "matterId": {
              "required": true,
              "description": "The matter ID.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Undeletes the specified matter. Returns the matter with updated state.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Matter"
          }
        },
        "list": {
          "path": "v1/matters",
          "response": {
            "$ref": "ListMattersResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The number of matters to return in the response. Default and maximum are 100."
            },
            "state": {
              "type": "string",
              "enumDescriptions": [
                "The matter has no specified state.",
                "The matter is open.",
                "The matter is closed.",
                "The matter is deleted."
              ],
              "description": "If set, lists only matters with the specified state. The default lists matters of all states.",
              "enum": [
                "STATE_UNSPECIFIED",
                "OPEN",
                "CLOSED",
                "DELETED"
              ],
              "location": "query"
            },
            "view": {
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/workspace/vault/reference/rest/v1/matters#matterpermission))."
              ],
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "description": "Specifies how much information about the matter to return in response.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The pagination token as returned in the response.",
              "type": "string"
            }
          },
          "description": "Lists matters the requestor has access to.",
          "flatPath": "v1/matters",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "parameterOrder": [],
          "id": "vault.matters.list"
        },
        "get": {
          "description": "Gets the specified matter.",
          "response": {
            "$ref": "Matter"
          },
          "id": "vault.matters.get",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "parameters": {
            "view": {
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "description": "Specifies how much information about the matter to return in the response.",
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/workspace/vault/reference/rest/v1/matters#matterpermission))."
              ],
              "type": "string"
            },
            "matterId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The matter ID."
            }
          },
          "parameterOrder": [
            "matterId"
          ],
          "path": "v1/matters/{matterId}",
          "flatPath": "v1/matters/{matterId}",
          "httpMethod": "GET"
        }
      }
    },
    "operations": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The standard list page token."
            },
            "returnPartialSuccess": {
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "The standard list page size.",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "description": "The standard list filter.",
              "location": "query"
            },
            "name": {
              "pattern": "^operations$",
              "description": "The name of the operation's parent resource.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "path": "v1/{+name}",
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations",
          "id": "vault.operations.list",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ]
        },
        "get": {
          "path": "v1/{+name}",
          "flatPath": "v1/operations/{operationsId}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^operations/.*$"
            }
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "response": {
            "$ref": "Operation"
          },
          "id": "vault.operations.get"
        },
        "delete": {
          "id": "vault.operations.delete",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "name": {
              "required": true,
              "description": "The name of the operation resource to be deleted.",
              "location": "path",
              "type": "string",
              "pattern": "^operations/.*$"
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations/{operationsId}",
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
        },
        "cancel": {
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/{+name}:cancel",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "id": "vault.operations.cancel",
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the operation resource to be cancelled.",
              "type": "string",
              "required": true,
              "pattern": "^operations/.*$"
            }
          },
          "httpMethod": "POST",
          "flatPath": "v1/operations/{operationsId}:cancel"
        }
      }
    }
  },
  "description": "Retention and eDiscovery for Google Workspace. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege. For example, to download an export, an account needs the **Manage Exports** privilege and the matter shared with them. ",
  "name": "vault",
  "canonicalName": "Vault",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://vault.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "revision": "20260905",
  "id": "vault:v1",
  "documentationLink": "https://developers.google.com/workspace/vault",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "schemas": {
    "DriveExportOptions": {
      "id": "DriveExportOptions",
      "properties": {
        "includeAccessInfo": {
          "description": "To include access level information for users with [indirect access](https://support.google.com/vault/answer/6099459#metadata) to files, set to **true**.",
          "type": "boolean"
        }
      },
      "description": "Options for Drive exports.",
      "type": "object"
    },
    "ExportStats": {
      "id": "ExportStats",
      "properties": {
        "totalArtifactCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of messages or files to be exported."
        },
        "sizeInBytes": {
          "format": "int64",
          "description": "The size of export in bytes.",
          "type": "string"
        },
        "exportedArtifactCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of messages or files already processed for export."
        }
      },
      "type": "object",
      "description": "Progress information for an export."
    },
    "GroupsExportOptions": {
      "type": "object",
      "id": "GroupsExportOptions",
      "properties": {
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "description": "The file format for exported messages.",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "type": "string"
        }
      },
      "description": "Options for Groups exports."
    },
    "AddHeldAccountResult": {
      "description": "The status of each account creation, and the **HeldAccount**, if successful.",
      "id": "AddHeldAccountResult",
      "type": "object",
      "properties": {
        "account": {
          "$ref": "HeldAccount",
          "description": "Returned when the account was successfully created."
        },
        "status": {
          "description": "Reports the request status. If it failed, returns an error message.",
          "$ref": "Status"
        }
      }
    },
    "MailCountResult": {
      "id": "MailCountResult",
      "description": "Gmail and classic Hangouts-specific count metrics.",
      "properties": {
        "accountCounts": {
          "items": {
            "$ref": "AccountCount"
          },
          "description": "Subtotal count per matching account that have more than zero messages.",
          "type": "array"
        },
        "accountCountErrors": {
          "description": "Errors occurred when querying these accounts.",
          "type": "array",
          "items": {
            "$ref": "AccountCountError"
          }
        },
        "nonQueryableAccounts": {
          "items": {
            "type": "string"
          },
          "description": "When **DataScope** is **HELD_DATA** and when account emails are passed in explicitly, the list of accounts in the request that are not queried because they are not on hold in the matter. For other data scopes, this field is not set.",
          "type": "array"
        },
        "queriedAccountsCount": {
          "description": "Total number of accounts involved in this count operation.",
          "type": "string",
          "format": "int64"
        },
        "matchingAccountsCount": {
          "description": "Total number of accounts that can be queried and have more than zero messages.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "DriveDocumentIds": {
      "type": "object",
      "id": "DriveDocumentIds",
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of Drive document IDs."
        }
      },
      "description": "Specify Drive documents by document ID."
    },
    "MailOptions": {
      "type": "object",
      "description": "Additional options for Gmail search",
      "properties": {
        "excludeDrafts": {
          "description": "Set to **true** to exclude drafts.",
          "type": "boolean"
        },
        "clientSideEncryptedOption": {
          "type": "string",
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ],
          "description": "Specifies whether the results should include encrypted content, unencrypted content, or both. Defaults to including both.",
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ]
        }
      },
      "id": "MailOptions"
    },
    "MailExportOptions": {
      "description": "Options for Gmail exports.",
      "type": "object",
      "properties": {
        "showConfidentialModeContent": {
          "type": "boolean",
          "description": "To export confidential mode content, set to **true**."
        },
        "exportLinkedDriveFiles": {
          "type": "boolean",
          "description": "Optional. To enable exporting linked Drive files, set to **true**."
        },
        "exportFormat": {
          "type": "string",
          "description": "The file format for exported messages.",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ]
        },
        "useNewExport": {
          "type": "boolean",
          "description": "To use the new export system, set to **true**."
        }
      },
      "id": "MailExportOptions"
    },
    "ListHeldAccountsResponse": {
      "id": "ListHeldAccountsResponse",
      "type": "object",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "HeldAccount"
          },
          "type": "array",
          "description": "The held accounts on a hold."
        }
      },
      "description": "Returns a list of the accounts covered by a hold."
    },
    "CloudStorageSink": {
      "id": "CloudStorageSink",
      "type": "object",
      "properties": {
        "files": {
          "description": "Output only. The exported files in Cloud Storage.",
          "type": "array",
          "items": {
            "$ref": "CloudStorageFile"
          }
        }
      },
      "description": "Export sink for Cloud Storage files."
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "HeldAccount": {
      "type": "object",
      "id": "HeldAccount",
      "properties": {
        "holdTime": {
          "type": "string",
          "description": "Output only. When the account was put on hold.",
          "format": "google-datetime"
        },
        "lastName": {
          "description": "Output only. The last name of the account holder.",
          "type": "string"
        },
        "email": {
          "description": "The primary email address of the account. If used as an input, this takes precedence over **accountId**.",
          "type": "string"
        },
        "accountId": {
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        },
        "firstName": {
          "type": "string",
          "description": "Output only. The first name of the account holder."
        }
      },
      "description": "An account covered by a hold. This structure is immutable. It can be an individual account or a Google Group, depending on the service. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege."
    },
    "HeldDriveQuery": {
      "description": "Options for Drive holds.",
      "type": "object",
      "id": "HeldDriveQuery",
      "properties": {
        "includeTeamDriveFiles": {
          "description": "To include files in Team Drives in the hold, set to **true**.",
          "type": "boolean",
          "deprecated": true
        },
        "includeSharedDriveFiles": {
          "description": "To include files in shared drives in the hold, set to **true**.",
          "type": "boolean"
        }
      }
    },
    "HeldCalendarQuery": {
      "type": "object",
      "description": "Options for Calendar holds.",
      "properties": {},
      "id": "HeldCalendarQuery"
    },
    "AccountCountError": {
      "type": "object",
      "id": "AccountCountError",
      "description": "An error that occurred when querying a specific account",
      "properties": {
        "account": {
          "$ref": "UserInfo",
          "description": "Account owner."
        },
        "errorType": {
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "WILDCARD_TOO_BROAD",
            "TOO_MANY_TERMS",
            "LOCATION_UNAVAILABLE",
            "UNKNOWN",
            "DEADLINE_EXCEEDED"
          ],
          "description": "Account query error.",
          "enumDescriptions": [
            "Default.",
            "Permanent - prefix terms expanded to too many query terms.",
            "Permanent - query contains too many terms.",
            "Transient - data in transit between storage replicas, temporarily unavailable.",
            "Unrecognized error.",
            "Deadline exceeded when querying the account."
          ]
        }
      }
    },
    "ListSavedQueriesResponse": {
      "type": "object",
      "properties": {
        "savedQueries": {
          "type": "array",
          "items": {
            "$ref": "SavedQuery"
          },
          "description": "List of saved queries."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more saved queries to list."
        }
      },
      "description": "Definition of the response for method ListSaveQuery.",
      "id": "ListSavedQueriesResponse"
    },
    "DriveOptions": {
      "properties": {
        "includeTeamDrives": {
          "type": "boolean",
          "description": "Set to true to include Team Drive.",
          "deprecated": true
        },
        "clientSideEncryptedOption": {
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ],
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ],
          "description": "Set whether the results include only content encrypted with [Google Workspace Client-side encryption](https://support.google.com/a?p=cse_ov) content, only unencrypted content, or both. Defaults to both. Currently supported for Drive.",
          "type": "string"
        },
        "includeSharedDrives": {
          "description": "Set to **true** to include shared drives.",
          "type": "boolean",
          "deprecated": true
        },
        "sharedDrivesOption": {
          "enum": [
            "SHARED_DRIVES_OPTION_UNSPECIFIED",
            "NOT_INCLUDED",
            "INCLUDED_IF_ACCOUNT_IS_NOT_A_MEMBER",
            "INCLUDED"
          ],
          "enumDescriptions": [
            "No shared drive option specified.",
            "If a resource is in a shared drive, it isn't included in the search.",
            "Shared drive resources are only included in instances where the account is a collaborator on a resource but they are not a member of the shared drive. This maps to the *\"Included only if documents shared directly (not due to shared drive membership)\"* option in the Vault UI. (Previously \"include_shared_drives\" off)",
            "Resources in shared drives are included in the search. (Previously \"include_shared_drives\" on)"
          ],
          "type": "string",
          "description": "Optional. Options to include or exclude documents in shared drives. We recommend using this field over include_shared_drives. This field overrides include_shared_drives and include_team_drives when set."
        },
        "versionDate": {
          "description": "Search the current version of the Drive file, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Additional options for Drive search.",
      "type": "object",
      "id": "DriveOptions"
    },
    "CloseMatterResponse": {
      "description": "Response to a CloseMatterRequest.",
      "id": "CloseMatterResponse",
      "properties": {
        "matter": {
          "description": "The updated matter, with state **CLOSED**.",
          "$ref": "Matter"
        }
      },
      "type": "object"
    },
    "RemoveHeldAccountsResponse": {
      "properties": {
        "statuses": {
          "items": {
            "$ref": "Status"
          },
          "description": "A list of statuses for the deleted accounts. Results have the same order as the request.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "RemoveHeldAccountsResponse",
      "description": "Response for batch delete held accounts."
    },
    "CalendarOptions": {
      "properties": {
        "locationQuery": {
          "items": {
            "type": "string"
          },
          "description": "Matches only those events whose location contains all of the words in the given set. If the string contains quoted phrases, this method only matches those events whose location contain the exact phrase. Entries in the set are considered in \"and\". Word splitting example: [\"New Zealand\"] vs [\"New\",\"Zealand\"] \"New Zealand\": matched by both \"New and better Zealand\": only matched by the later",
          "type": "array"
        },
        "minusWords": {
          "items": {
            "type": "string"
          },
          "description": "Matches only those events that do not contain any of the words in the given set in title, description, location, or attendees. Entries in the set are considered in \"or\".",
          "type": "array"
        },
        "peopleQuery": {
          "description": "Matches only those events whose attendees contain all of the words in the given set. Entries in the set are considered in \"and\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "responseStatuses": {
          "type": "array",
          "description": "Matches only events for which the custodian gave one of these responses. If the set is empty or contains ATTENDEE_RESPONSE_UNSPECIFIED there will be no filtering on responses.",
          "items": {
            "enum": [
              "ATTENDEE_RESPONSE_UNSPECIFIED",
              "ATTENDEE_RESPONSE_NEEDS_ACTION",
              "ATTENDEE_RESPONSE_ACCEPTED",
              "ATTENDEE_RESPONSE_DECLINED",
              "ATTENDEE_RESPONSE_TENTATIVE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Attendee response unspecified. If this is set no filtering on responses will be done, all other attendee responses that are part of the query options are ignored.",
              "The participant has been invited but has not responded yet.",
              "The participant plans to attend.",
              "The participant does not plan to attend.",
              "The participant expects to possibly attend."
            ]
          }
        },
        "versionDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Search the current version of the Calendar event, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC."
        }
      },
      "description": "Additional options for Calendar search",
      "id": "CalendarOptions",
      "type": "object"
    },
    "HeldGroupsQuery": {
      "id": "HeldGroupsQuery",
      "properties": {
        "endTime": {
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime"
        },
        "terms": {
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold.",
          "type": "string"
        }
      },
      "description": "Query options for group holds.",
      "type": "object"
    },
    "ReopenMatterRequest": {
      "id": "ReopenMatterRequest",
      "type": "object",
      "properties": {},
      "description": "Reopen a matter by ID."
    },
    "ListMattersResponse": {
      "id": "ListMattersResponse",
      "type": "object",
      "properties": {
        "matters": {
          "type": "array",
          "description": "List of matters.",
          "items": {
            "$ref": "Matter"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list."
        }
      },
      "description": "Provides the list of matters."
    },
    "HeldGeminiQuery": {
      "id": "HeldGeminiQuery",
      "description": "Options for Gemini holds.",
      "properties": {},
      "type": "object"
    },
    "TeamDriveInfo": {
      "properties": {
        "teamDriveIds": {
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of Team Drive IDs, as provided by the [Drive API](https://developers.google.com/drive)."
        }
      },
      "deprecated": true,
      "id": "TeamDriveInfo",
      "description": "Team Drives to search",
      "type": "object"
    },
    "Hold": {
      "description": "A hold. A hold prevents the specified Google Workspace service from purging data for specific accounts or all members of an organizational unit. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "properties": {
        "query": {
          "description": "Service-specific options. If set, **CorpusQuery** must match **CorpusType**.",
          "$ref": "CorpusQuery"
        },
        "orgUnit": {
          "description": "If set, the hold applies to all members of the organizational unit and **accounts** must be empty. This property is mutable. For Groups holds, set **accounts**.",
          "$ref": "HeldOrgUnit"
        },
        "holdId": {
          "description": "The unique immutable ID of the hold. Assigned during creation.",
          "type": "string"
        },
        "name": {
          "description": "The name of the hold.",
          "type": "string"
        },
        "corpus": {
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE",
            "CALENDAR",
            "GEMINI"
          ],
          "description": "The service to be searched.",
          "type": "string",
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice.",
            "Calendar.",
            "Gemini."
          ]
        },
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "HeldAccount"
          },
          "description": "If set, the hold applies to the specified accounts and **orgUnit** must be empty."
        },
        "updateTime": {
          "type": "string",
          "description": "The last time this hold was modified.",
          "format": "google-datetime"
        }
      },
      "id": "Hold",
      "type": "object"
    },
    "SharedDriveInfo": {
      "description": "The shared drives to search",
      "properties": {
        "sharedDriveIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of shared drive IDs, as provided by the [Drive API](https://developers.google.com/drive)."
        }
      },
      "id": "SharedDriveInfo",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "DriveDocumentInfo": {
      "id": "DriveDocumentInfo",
      "description": "The Drive documents to search.",
      "type": "object",
      "properties": {
        "documentIds": {
          "description": "Specify Drive documents by document ID.",
          "$ref": "DriveDocumentIds"
        }
      }
    },
    "ListExportsResponse": {
      "type": "object",
      "id": "ListExportsResponse",
      "description": "The exports for a matter.",
      "properties": {
        "exports": {
          "items": {
            "$ref": "Export"
          },
          "type": "array",
          "description": "The list of exports."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list."
        }
      }
    },
    "AddMatterPermissionsRequest": {
      "id": "AddMatterPermissionsRequest",
      "properties": {
        "sendEmails": {
          "type": "boolean",
          "description": "To send a notification email to the added account, set to **true**. To not send a notification email, set to **false**."
        },
        "ccMe": {
          "type": "boolean",
          "description": "Only relevant if **sendEmails** is **true**. To CC the requestor in the email message, set to **true**. To not CC requestor, set to **false**."
        },
        "matterPermission": {
          "description": "The account and its role to add.",
          "$ref": "MatterPermission"
        }
      },
      "description": "Add an account with the permission specified. The role cannot be owner. If an account already has a role in the matter, the existing role is overwritten.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "OrgUnitInfo": {
      "description": "The organizational unit to search",
      "id": "OrgUnitInfo",
      "type": "object",
      "properties": {
        "orgUnitId": {
          "description": "The name of the organizational unit to search, as provided by the [Admin SDK Directory API](https://developers.google.com/admin-sdk/directory/).",
          "type": "string"
        }
      }
    },
    "VoiceOptions": {
      "description": "Additional options for Voice search",
      "id": "VoiceOptions",
      "properties": {
        "coveredData": {
          "type": "array",
          "description": "Datatypes to search",
          "items": {
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ],
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ],
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "UserInfo": {
      "id": "UserInfo",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "displayName": {
          "type": "string",
          "description": "The displayed name of the user."
        }
      },
      "description": "User's information."
    },
    "Export": {
      "properties": {
        "status": {
          "enumDescriptions": [
            "The status is unspecified.",
            "The export completed.",
            "The export failed.",
            "The export is in progress."
          ],
          "type": "string",
          "description": "Output only. The status of the export.",
          "enum": [
            "EXPORT_STATUS_UNSPECIFIED",
            "COMPLETED",
            "FAILED",
            "IN_PROGRESS"
          ]
        },
        "id": {
          "description": "Output only. The generated export ID.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the export was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "query": {
          "$ref": "Query",
          "description": "The query parameters used to create the export."
        },
        "name": {
          "description": "The export name. Don't use special characters (~!$'(),;@:/?) in the name, they can prevent you from downloading exports.",
          "type": "string"
        },
        "exportOptions": {
          "description": "Additional export options.",
          "$ref": "ExportOptions"
        },
        "cloudStorageSink": {
          "description": "Output only. The sink for export files in Cloud Storage.",
          "$ref": "CloudStorageSink"
        },
        "stats": {
          "$ref": "ExportStats",
          "description": "Output only. Details about the export progress and size."
        },
        "parentExportId": {
          "description": "Output only. Identifies the parent export that spawned this child export. This is only set on child exports.",
          "type": "string",
          "readOnly": true
        },
        "requester": {
          "description": "Output only. The requester of the export.",
          "$ref": "UserInfo"
        },
        "matterId": {
          "description": "Output only. The matter ID.",
          "type": "string"
        }
      },
      "description": "An export. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "type": "object",
      "id": "Export"
    },
    "GroupsCountResult": {
      "type": "object",
      "description": "Groups specific count metrics.",
      "properties": {
        "accountCountErrors": {
          "description": "Error occurred when querying these accounts.",
          "items": {
            "$ref": "AccountCountError"
          },
          "type": "array"
        },
        "matchingAccountsCount": {
          "description": "Total number of accounts that can be queried and have more than zero messages.",
          "format": "int64",
          "type": "string"
        },
        "accountCounts": {
          "items": {
            "$ref": "AccountCount"
          },
          "description": "Subtotal count per matching account that have more than zero messages.",
          "type": "array"
        },
        "nonQueryableAccounts": {
          "items": {
            "type": "string"
          },
          "description": "When **DataScope** is **HELD_DATA**, these accounts in the request are not queried because they are not on hold. For other data scope, this field is not set.",
          "type": "array"
        },
        "queriedAccountsCount": {
          "description": "Total number of accounts involved in this count operation.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GroupsCountResult"
    },
    "ExportOptions": {
      "id": "ExportOptions",
      "properties": {
        "groupsOptions": {
          "$ref": "GroupsExportOptions",
          "description": "Options for Groups exports."
        },
        "driveOptions": {
          "$ref": "DriveExportOptions",
          "description": "Options for Drive exports."
        },
        "voiceOptions": {
          "description": "Options for Voice exports.",
          "$ref": "VoiceExportOptions"
        },
        "calendarOptions": {
          "$ref": "CalendarExportOptions",
          "description": "Option available for Calendar export."
        },
        "mailOptions": {
          "description": "Options for Gmail exports.",
          "$ref": "MailExportOptions"
        },
        "geminiOptions": {
          "$ref": "GeminiExportOptions",
          "description": "Option available for Gemini export."
        },
        "hangoutsChatOptions": {
          "description": "Options for Chat exports.",
          "$ref": "HangoutsChatExportOptions"
        },
        "region": {
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ],
          "description": "The requested data region for the export.",
          "enum": [
            "EXPORT_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ],
          "type": "string"
        }
      },
      "description": "Additional options for exports",
      "type": "object"
    },
    "ListHoldsResponse": {
      "id": "ListHoldsResponse",
      "type": "object",
      "description": "The holds for a matter.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more holds to list."
        },
        "holds": {
          "items": {
            "$ref": "Hold"
          },
          "description": "The list of holds.",
          "type": "array"
        }
      }
    },
    "HeldVoiceQuery": {
      "description": "Options for Voice holds.",
      "id": "HeldVoiceQuery",
      "properties": {
        "coveredData": {
          "type": "array",
          "description": "A list of data types covered by the hold. Should be non-empty. Order does not matter and duplicates are ignored.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ],
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ]
          }
        }
      },
      "type": "object"
    },
    "VoiceExportOptions": {
      "type": "object",
      "id": "VoiceExportOptions",
      "properties": {
        "exportFormat": {
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "description": "The file format for exported text messages.",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "type": "string"
        }
      },
      "description": "The options for Voice exports."
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "HangoutsChatExportOptions": {
      "description": "Options for Chat exports.",
      "properties": {
        "exportFormat": {
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "type": "string",
          "description": "The file format for exported messages.",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ]
        }
      },
      "id": "HangoutsChatExportOptions",
      "type": "object"
    },
    "CountArtifactsMetadata": {
      "id": "CountArtifactsMetadata",
      "type": "object",
      "description": "Long running operation metadata for CountArtifacts.",
      "properties": {
        "startTime": {
          "description": "Creation time of count operation.",
          "format": "google-datetime",
          "type": "string"
        },
        "query": {
          "description": "The search query from the request.",
          "$ref": "Query"
        },
        "matterId": {
          "description": "The matter ID of the associated matter.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "End time of count operation. Available when operation is done.",
          "format": "google-datetime"
        }
      }
    },
    "Matter": {
      "type": "object",
      "properties": {
        "matterRegion": {
          "description": "Optional. The requested data region for the matter.",
          "type": "string",
          "enum": [
            "MATTER_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ],
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ]
        },
        "matterPermissions": {
          "description": "Lists the users and their permission for the matter. Currently there is no programmer defined limit on the number of permissions a matter can have.",
          "type": "array",
          "items": {
            "$ref": "MatterPermission"
          }
        },
        "matterId": {
          "description": "The matter ID, which is generated by the server. Leave blank when creating a matter.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "DELETED"
          ],
          "description": "The state of the matter.",
          "type": "string",
          "enumDescriptions": [
            "The matter has no specified state.",
            "The matter is open.",
            "The matter is closed.",
            "The matter is deleted."
          ]
        },
        "name": {
          "description": "The name of the matter.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "An optional description for the matter."
        }
      },
      "description": "Represents a matter. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "id": "Matter"
    },
    "CorpusQuery": {
      "id": "CorpusQuery",
      "properties": {
        "groupsQuery": {
          "description": "Service-specific options for Groups holds. If set, **CorpusType** must be **GROUPS**.",
          "$ref": "HeldGroupsQuery"
        },
        "voiceQuery": {
          "description": "Service-specific options for Voice holds. If set, **CorpusType** must be **VOICE**.",
          "$ref": "HeldVoiceQuery"
        },
        "geminiQuery": {
          "description": "Service-specific options for Gemini holds. If set, **CorpusType** must be **GEMINI**.",
          "$ref": "HeldGeminiQuery"
        },
        "mailQuery": {
          "$ref": "HeldMailQuery",
          "description": "Service-specific options for Gmail holds. If set, **CorpusType** must be **MAIL**."
        },
        "hangoutsChatQuery": {
          "$ref": "HeldHangoutsChatQuery",
          "description": "Service-specific options for Chat holds. If set, **CorpusType** must be **HANGOUTS_CHAT**."
        },
        "calendarQuery": {
          "description": "Service-specific options for Calendar holds. If set, **CorpusType** must be **CALENDAR**.",
          "$ref": "HeldCalendarQuery"
        },
        "driveQuery": {
          "description": "Service-specific options for Drive holds. If set, **CorpusType** must be **DRIVE**.",
          "$ref": "HeldDriveQuery"
        }
      },
      "type": "object",
      "description": "Service-specific options for holds."
    },
    "AccountCount": {
      "id": "AccountCount",
      "description": "The results count for each account.",
      "type": "object",
      "properties": {
        "account": {
          "$ref": "UserInfo",
          "description": "Account owner."
        },
        "count": {
          "format": "int64",
          "description": "The number of results (messages or files) found for this account.",
          "type": "string"
        }
      }
    },
    "RemoveMatterPermissionsRequest": {
      "id": "RemoveMatterPermissionsRequest",
      "properties": {
        "accountId": {
          "description": "The account ID.",
          "type": "string"
        }
      },
      "description": "Remove an account as a matter collaborator.",
      "type": "object"
    },
    "UndeleteMatterRequest": {
      "type": "object",
      "description": "Undelete a matter by ID.",
      "id": "UndeleteMatterRequest",
      "properties": {}
    },
    "HangoutsChatOptions": {
      "description": "Additional options for Google Chat search",
      "type": "object",
      "properties": {
        "includeRooms": {
          "type": "boolean",
          "description": "For searches by account or organizational unit, set to **true** to include rooms."
        }
      },
      "id": "HangoutsChatOptions"
    },
    "AddHeldAccountsRequest": {
      "properties": {
        "emails": {
          "description": "A comma-separated list of the emails of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accountIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A comma-separated list of the account IDs of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both."
        }
      },
      "description": "Add a list of accounts to a hold.",
      "id": "AddHeldAccountsRequest",
      "type": "object"
    },
    "CloseMatterRequest": {
      "type": "object",
      "description": "Close a matter by ID.",
      "id": "CloseMatterRequest",
      "properties": {}
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "MatterPermission": {
      "description": "Users can be matter owners or collaborators. Each matter has only one owner. All others users who can access the matter are collaborators. When an account is purged, its corresponding MatterPermission resources cease to exist.",
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/)."
        },
        "role": {
          "enumDescriptions": [
            "No role assigned.",
            "A collaborator on the matter.",
            "The owner of the matter."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "COLLABORATOR",
            "OWNER"
          ],
          "type": "string",
          "description": "The user's role for the matter."
        }
      },
      "id": "MatterPermission"
    },
    "ReopenMatterResponse": {
      "type": "object",
      "description": "Response to a ReopenMatterRequest.",
      "id": "ReopenMatterResponse",
      "properties": {
        "matter": {
          "$ref": "Matter",
          "description": "The updated matter, with state **OPEN**."
        }
      }
    },
    "SavedQuery": {
      "description": "The definition of a saved query. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "properties": {
        "query": {
          "$ref": "Query",
          "description": "The search parameters of the saved query."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The server-generated timestamp when the saved query was created.",
          "format": "google-datetime"
        },
        "matterId": {
          "type": "string",
          "description": "Output only. The matter ID of the matter the saved query is saved in. The server does not use this field during create and always uses matter ID in the URL."
        },
        "displayName": {
          "description": "The name of the saved query.",
          "type": "string"
        },
        "savedQueryId": {
          "description": "A unique identifier for the saved query.",
          "type": "string"
        }
      },
      "id": "SavedQuery",
      "type": "object"
    },
    "CountArtifactsRequest": {
      "properties": {
        "query": {
          "description": "The search query.",
          "$ref": "Query"
        },
        "view": {
          "description": "Sets the granularity of the count results.",
          "enum": [
            "COUNT_RESULT_VIEW_UNSPECIFIED",
            "TOTAL_COUNT",
            "ALL"
          ],
          "enumDescriptions": [
            "Default. Same as **TOTAL_COUNT**.",
            "Response includes counts of the total accounts, queried accounts, matching accounts, non-queryable accounts, and queried account errors.",
            "Response includes the same details as **TOTAL_COUNT**, plus additional account breakdown."
          ],
          "type": "string"
        }
      },
      "description": "Count artifacts request.",
      "id": "CountArtifactsRequest",
      "type": "object"
    },
    "CalendarExportOptions": {
      "type": "object",
      "properties": {
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "type": "string",
          "description": "The file format for exported text messages."
        }
      },
      "id": "CalendarExportOptions",
      "description": "The options for Calendar exports."
    },
    "AddHeldAccountsResponse": {
      "description": "Response for batch create held accounts.",
      "id": "AddHeldAccountsResponse",
      "properties": {
        "responses": {
          "type": "array",
          "description": "The list of responses, in the same order as the batch request.",
          "items": {
            "$ref": "AddHeldAccountResult"
          }
        }
      },
      "type": "object"
    },
    "GeminiOptions": {
      "properties": {},
      "id": "GeminiOptions",
      "description": "Additional options for Gemini search",
      "type": "object"
    },
    "GeminiExportOptions": {
      "id": "GeminiExportOptions",
      "properties": {
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "type": "string",
          "description": "The file format for exported messages."
        }
      },
      "description": "The options for Gemini exports.",
      "type": "object"
    },
    "HeldHangoutsChatQuery": {
      "type": "object",
      "properties": {
        "includeRooms": {
          "type": "boolean",
          "description": "To include messages in Chat spaces the user was a member of, set to **true**."
        }
      },
      "description": "Options for Chat holds.",
      "id": "HeldHangoutsChatQuery"
    },
    "HeldOrgUnit": {
      "properties": {
        "orgUnitId": {
          "description": "The organizational unit's immutable ID as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        },
        "holdTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "When the organizational unit was put on hold. This property is immutable."
        }
      },
      "description": "The organizational unit covered by a hold. This structure is immutable.",
      "id": "HeldOrgUnit",
      "type": "object"
    },
    "CloudStorageFile": {
      "properties": {
        "md5Hash": {
          "type": "string",
          "description": "The md5 hash of the file."
        },
        "size": {
          "format": "int64",
          "description": "The export file size.",
          "type": "string"
        },
        "bucketName": {
          "description": "The name of the Cloud Storage bucket for the export file. You can use this value in the Cloud Storage [JSON API](https://cloud.google.com/storage/docs/json_api) or [XML API](https://cloud.google.com/storage/docs/xml-api), but not to list the bucket contents. Instead, you can [get individual export files](https://cloud.google.com/storage/docs/json_api/v1/objects/get) by object name.",
          "type": "string"
        },
        "objectName": {
          "description": "The name of the Cloud Storage object for the export file. You can use this value in the Cloud Storage [JSON API](https://cloud.google.com/storage/docs/json_api) or [XML API](https://cloud.google.com/storage/docs/xml-api).",
          "type": "string"
        }
      },
      "id": "CloudStorageFile",
      "description": "The export file in Cloud Storage",
      "type": "object"
    },
    "RemoveHeldAccountsRequest": {
      "properties": {
        "accountIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The account IDs of the accounts to remove from the hold."
        }
      },
      "description": "Remove a list of accounts from a hold.",
      "type": "object",
      "id": "RemoveHeldAccountsRequest"
    },
    "CountArtifactsResponse": {
      "description": "Definition of the response for method CountArtifacts.",
      "properties": {
        "groupsCountResult": {
          "$ref": "GroupsCountResult",
          "description": "Count metrics for Groups."
        },
        "mailCountResult": {
          "$ref": "MailCountResult",
          "description": "Count metrics for Gmail and classic Hangouts."
[...]
