{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "baseUrl": "https://vault.googleapis.com/",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ediscovery": {
          "description": "Manage your eDiscovery data"
        },
        "https://www.googleapis.com/auth/ediscovery.readonly": {
          "description": "View your eDiscovery data"
        }
      }
    }
  },
  "rootUrl": "https://vault.googleapis.com/",
  "id": "vault:v1",
  "schemas": {
    "AccountCountError": {
      "properties": {
        "account": {
          "description": "Account owner.",
          "$ref": "UserInfo"
        },
        "errorType": {
          "enumDescriptions": [
            "Default.",
            "Permanent - prefix terms expanded to too many query terms.",
            "Permanent - query contains too many terms.",
            "Transient - data in transit between storage replicas, temporarily unavailable.",
            "Unrecognized error.",
            "Deadline exceeded when querying the account."
          ],
          "description": "Account query error.",
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "WILDCARD_TOO_BROAD",
            "TOO_MANY_TERMS",
            "LOCATION_UNAVAILABLE",
            "UNKNOWN",
            "DEADLINE_EXCEEDED"
          ]
        }
      },
      "description": "An error that occurred when querying a specific account",
      "id": "AccountCountError",
      "type": "object"
    },
    "ListHoldsResponse": {
      "type": "object",
      "description": "The holds for a matter.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more holds to list."
        },
        "holds": {
          "type": "array",
          "items": {
            "$ref": "Hold"
          },
          "description": "The list of holds."
        }
      },
      "id": "ListHoldsResponse"
    },
    "HangoutsChatExportOptions": {
      "id": "HangoutsChatExportOptions",
      "type": "object",
      "properties": {
        "exportFormat": {
          "type": "string",
          "description": "The file format for exported messages.",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ]
        }
      },
      "description": "Options for Chat exports."
    },
    "VoiceExportOptions": {
      "properties": {
        "exportFormat": {
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "description": "The file format for exported text messages.",
          "type": "string"
        }
      },
      "description": "The options for Voice exports.",
      "id": "VoiceExportOptions",
      "type": "object"
    },
    "MatterPermission": {
      "id": "MatterPermission",
      "description": "Users can be matter owners or collaborators. Each matter has only one owner. All others users who can access the matter are collaborators. When an account is purged, its corresponding MatterPermission resources cease to exist.",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "No role assigned.",
            "A collaborator on the matter.",
            "The owner of the matter."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "COLLABORATOR",
            "OWNER"
          ],
          "description": "The user's role for the matter."
        }
      }
    },
    "CountArtifactsMetadata": {
      "id": "CountArtifactsMetadata",
      "description": "Long running operation metadata for CountArtifacts.",
      "type": "object",
      "properties": {
        "matterId": {
          "description": "The matter ID of the associated matter.",
          "type": "string"
        },
        "endTime": {
          "description": "End time of count operation. Available when operation is done.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Creation time of count operation."
        },
        "query": {
          "description": "The search query from the request.",
          "$ref": "Query"
        }
      }
    },
    "ListExportsResponse": {
      "properties": {
        "exports": {
          "type": "array",
          "items": {
            "$ref": "Export"
          },
          "description": "The list of exports."
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      },
      "id": "ListExportsResponse",
      "type": "object",
      "description": "The exports for a matter."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "GroupsExportOptions": {
      "properties": {
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "description": "The file format for exported messages.",
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ]
        }
      },
      "id": "GroupsExportOptions",
      "type": "object",
      "description": "Options for Groups exports."
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ExportStats": {
      "type": "object",
      "description": "Progress information for an export.",
      "id": "ExportStats",
      "properties": {
        "exportedArtifactCount": {
          "type": "string",
          "description": "The number of messages or files already processed for export.",
          "format": "int64"
        },
        "sizeInBytes": {
          "description": "The size of export in bytes.",
          "format": "int64",
          "type": "string"
        },
        "totalArtifactCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of messages or files to be exported."
        }
      }
    },
    "AddMatterPermissionsRequest": {
      "description": "Add an account with the permission specified. The role cannot be owner. If an account already has a role in the matter, the existing role is overwritten.",
      "type": "object",
      "id": "AddMatterPermissionsRequest",
      "properties": {
        "matterPermission": {
          "$ref": "MatterPermission",
          "description": "The account and its role to add."
        },
        "ccMe": {
          "type": "boolean",
          "description": "Only relevant if **sendEmails** is **true**. To CC the requestor in the email message, set to **true**. To not CC requestor, set to **false**."
        },
        "sendEmails": {
          "type": "boolean",
          "description": "To send a notification email to the added account, set to **true**. To not send a notification email, set to **false**."
        }
      }
    },
    "HeldOrgUnit": {
      "id": "HeldOrgUnit",
      "properties": {
        "holdTime": {
          "type": "string",
          "description": "When the organizational unit was put on hold. This property is immutable.",
          "format": "google-datetime"
        },
        "orgUnitId": {
          "description": "The organizational unit's immutable ID as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The organizational unit covered by a hold. This structure is immutable."
    },
    "GeminiOptions": {
      "description": "Additional options for Gemini search",
      "type": "object",
      "id": "GeminiOptions",
      "properties": {}
    },
    "RemoveHeldAccountsResponse": {
      "properties": {
        "statuses": {
          "description": "A list of statuses for the deleted accounts. Results have the same order as the request.",
          "items": {
            "$ref": "Status"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "RemoveHeldAccountsResponse",
      "description": "Response for batch delete held accounts."
    },
    "CorpusQuery": {
      "id": "CorpusQuery",
      "type": "object",
      "description": "Service-specific options for holds.",
      "properties": {
        "geminiQuery": {
          "$ref": "HeldGeminiQuery",
          "description": "Service-specific options for Gemini holds. If set, **CorpusType** must be **GEMINI**."
        },
        "calendarQuery": {
          "description": "Service-specific options for Calendar holds. If set, **CorpusType** must be **CALENDAR**.",
          "$ref": "HeldCalendarQuery"
        },
        "hangoutsChatQuery": {
          "$ref": "HeldHangoutsChatQuery",
          "description": "Service-specific options for Chat holds. If set, **CorpusType** must be **HANGOUTS_CHAT**."
        },
        "mailQuery": {
          "$ref": "HeldMailQuery",
          "description": "Service-specific options for Gmail holds. If set, **CorpusType** must be **MAIL**."
        },
        "groupsQuery": {
          "description": "Service-specific options for Groups holds. If set, **CorpusType** must be **GROUPS**.",
          "$ref": "HeldGroupsQuery"
        },
        "driveQuery": {
          "description": "Service-specific options for Drive holds. If set, **CorpusType** must be **DRIVE**.",
          "$ref": "HeldDriveQuery"
        },
        "voiceQuery": {
          "description": "Service-specific options for Voice holds. If set, **CorpusType** must be **VOICE**.",
          "$ref": "HeldVoiceQuery"
        }
      }
    },
    "MailOptions": {
      "properties": {
        "excludeDrafts": {
          "description": "Set to **true** to exclude drafts.",
          "type": "boolean"
        },
        "clientSideEncryptedOption": {
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ],
          "description": "Specifies whether the results should include encrypted content, unencrypted content, or both. Defaults to including both.",
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ],
          "type": "string"
        }
      },
      "id": "MailOptions",
      "type": "object",
      "description": "Additional options for Gmail search"
    },
    "HangoutsChatOptions": {
      "properties": {
        "includeRooms": {
          "description": "For searches by account or organizational unit, set to **true** to include rooms.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Additional options for Google Chat search",
      "id": "HangoutsChatOptions"
    },
    "Query": {
      "id": "Query",
      "type": "object",
      "description": "The query definition used for search and export.",
      "properties": {
        "searchMethod": {
          "type": "string",
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SITES_URL",
            "SHARED_DRIVE",
            "DRIVE_DOCUMENT"
          ],
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search for sites by the published site URLs specified in [SitesUrlInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#sitesurlinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#shareddriveinfo).",
            "Retrieve the documents specified in DriveDocumentInfo."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "deprecated": true,
          "description": "The search method to use."
        },
        "driveDocumentInfo": {
          "$ref": "DriveDocumentInfo",
          "description": "Required when **SearchMethod** is **DRIVE_DOCUMENT**."
        },
        "driveOptions": {
          "description": "Set Drive search-specific options.",
          "$ref": "DriveOptions"
        },
        "hangoutsChatInfo": {
          "description": "Required when **SearchMethod** is **ROOM**. (read-only)",
          "$ref": "HangoutsChatInfo"
        },
        "hangoutsChatOptions": {
          "description": "Set Chat search-specific options. (read-only)",
          "$ref": "HangoutsChatOptions"
        },
        "mailOptions": {
          "description": "Set Gmail search-specific options.",
          "$ref": "MailOptions"
        },
        "sitesUrlInfo": {
          "description": "Required when **SearchMethod** is **SITES_URL**.",
          "$ref": "SitesUrlInfo"
        },
        "timeZone": {
          "description": "The time zone name. It should be an IANA TZ name, such as \"America/Los_Angeles\". For a list of time zone names, see [Time Zone](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). For more information about how Vault uses time zones, see [the Vault help center](https://support.google.com/vault/answer/6092995#time).",
          "type": "string"
        },
        "calendarOptions": {
          "description": "Set Calendar search-specific options.",
          "$ref": "CalendarOptions"
        },
        "dataScope": {
          "enumDescriptions": [
            "No data source specified.",
            "All available data.",
            "Only data on hold.",
            "Only data not yet processed by Vault. (Gmail and Groups only)"
          ],
          "type": "string",
          "description": "The data source to search.",
          "enum": [
            "DATA_SCOPE_UNSPECIFIED",
            "ALL_DATA",
            "HELD_DATA",
            "UNPROCESSED_DATA"
          ]
        },
        "sharedDriveInfo": {
          "description": "Required when **SearchMethod** is **SHARED_DRIVE**.",
          "$ref": "SharedDriveInfo"
        },
        "terms": {
          "description": "Service-specific [search operators](https://support.google.com/vault/answer/2474474) to filter search results.",
          "type": "string"
        },
        "startTime": {
          "description": "The start time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime",
          "type": "string"
        },
        "voiceOptions": {
          "description": "Set Voice search-specific options.",
          "$ref": "VoiceOptions"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The end time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date."
        },
        "corpus": {
          "type": "string",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE",
            "CALENDAR",
            "GEMINI"
          ],
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice.",
            "Calendar.",
            "Gemini."
          ],
          "description": "The Google Workspace service to search."
        },
        "accountInfo": {
          "$ref": "AccountInfo",
          "description": "Required when **SearchMethod** is **ACCOUNT**."
        },
        "orgUnitInfo": {
          "description": "Required when **SearchMethod** is **ORG_UNIT**.",
          "$ref": "OrgUnitInfo"
        },
        "teamDriveInfo": {
          "$ref": "TeamDriveInfo",
          "deprecated": true,
          "description": "Required when **SearchMethod** is **TEAM_DRIVE**."
        },
        "method": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search for sites by the published site URLs specified in [SitesUrlInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#sitesurlinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#shareddriveinfo).",
            "Retrieve the documents specified in DriveDocumentInfo."
          ],
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SITES_URL",
            "SHARED_DRIVE",
            "DRIVE_DOCUMENT"
          ],
          "description": "The entity to search. This field replaces **searchMethod** to support shared drives. When **searchMethod** is **TEAM_DRIVE**, the response of this field is **SHARED_DRIVE**."
        },
        "geminiOptions": {
          "description": "Set Gemini search-specific options.",
          "$ref": "GeminiOptions"
        }
      }
    },
    "AccountCount": {
      "description": "The results count for each account.",
      "type": "object",
      "id": "AccountCount",
      "properties": {
        "account": {
          "description": "Account owner.",
          "$ref": "UserInfo"
        },
        "count": {
          "description": "The number of results (messages or files) found for this account.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "CloudStorageSink": {
      "id": "CloudStorageSink",
      "description": "Export sink for Cloud Storage files.",
      "properties": {
        "files": {
          "type": "array",
          "description": "Output only. The exported files in Cloud Storage.",
          "items": {
            "$ref": "CloudStorageFile"
          }
        }
      },
      "type": "object"
    },
    "CountArtifactsResponse": {
      "type": "object",
      "id": "CountArtifactsResponse",
      "properties": {
        "totalCount": {
          "description": "Total count of messages.",
          "format": "int64",
          "type": "string"
        },
        "mailCountResult": {
          "description": "Count metrics for Gmail and classic Hangouts.",
          "$ref": "MailCountResult"
        },
        "groupsCountResult": {
          "description": "Count metrics for Groups.",
          "$ref": "GroupsCountResult"
        }
      },
      "description": "Definition of the response for method CountArtifacts."
    },
    "SavedQuery": {
      "type": "object",
      "properties": {
        "matterId": {
          "description": "Output only. The matter ID of the matter the saved query is saved in. The server does not use this field during create and always uses matter ID in the URL.",
          "type": "string"
        },
        "savedQueryId": {
          "description": "A unique identifier for the saved query.",
          "type": "string"
        },
        "query": {
          "description": "The search parameters of the saved query.",
          "$ref": "Query"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The server-generated timestamp when the saved query was created."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the saved query."
        }
      },
      "id": "SavedQuery",
      "description": "The definition of a saved query. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege."
    },
    "CloseMatterRequest": {
      "properties": {},
      "description": "Close a matter by ID.",
      "type": "object",
      "id": "CloseMatterRequest"
    },
    "OrgUnitInfo": {
      "properties": {
        "orgUnitId": {
          "type": "string",
          "description": "The name of the organizational unit to search, as provided by the [Admin SDK Directory API](https://developers.google.com/admin-sdk/directory/)."
        }
      },
      "type": "object",
      "description": "The organizational unit to search",
      "id": "OrgUnitInfo"
    },
    "SitesUrlInfo": {
      "properties": {
        "urls": {
          "items": {
            "type": "string"
          },
          "description": "A list of published site URLs.",
          "type": "array"
        }
      },
      "description": "The published site URLs of new Google Sites to search",
      "id": "SitesUrlInfo",
      "type": "object"
    },
    "AddHeldAccountResult": {
      "properties": {
        "account": {
          "description": "Returned when the account was successfully created.",
          "$ref": "HeldAccount"
        },
        "status": {
          "description": "Reports the request status. If it failed, returns an error message.",
          "$ref": "Status"
        }
      },
      "description": "The status of each account creation, and the **HeldAccount**, if successful.",
      "type": "object",
      "id": "AddHeldAccountResult"
    },
    "CalendarExportOptions": {
      "properties": {
        "exportFormat": {
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "description": "The file format for exported text messages.",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ]
        }
      },
      "description": "The options for Calendar exports.",
      "id": "CalendarExportOptions",
      "type": "object"
    },
    "HeldHangoutsChatQuery": {
      "id": "HeldHangoutsChatQuery",
      "type": "object",
      "properties": {
        "includeRooms": {
          "description": "To include messages in Chat spaces the user was a member of, set to **true**.",
          "type": "boolean"
        }
      },
      "description": "Options for Chat holds."
    },
    "Matter": {
      "description": "Represents a matter. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "properties": {
        "matterPermissions": {
          "description": "Lists the users and their permission for the matter. Currently there is no programmer defined limit on the number of permissions a matter can have.",
          "items": {
            "$ref": "MatterPermission"
          },
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "The matter has no specified state.",
            "The matter is open.",
            "The matter is closed.",
            "The matter is deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "DELETED"
          ],
          "description": "The state of the matter."
        },
        "description": {
          "description": "An optional description for the matter.",
          "type": "string"
        },
        "matterId": {
          "description": "The matter ID, which is generated by the server. Leave blank when creating a matter.",
          "type": "string"
        },
        "matterRegion": {
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ],
          "type": "string",
          "description": "Optional. The requested data region for the matter.",
          "enum": [
            "MATTER_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ]
        },
        "name": {
          "description": "The name of the matter.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Matter"
    },
    "AddHeldAccountsResponse": {
      "id": "AddHeldAccountsResponse",
      "type": "object",
      "description": "Response for batch create held accounts.",
      "properties": {
        "responses": {
          "type": "array",
          "description": "The list of responses, in the same order as the batch request.",
          "items": {
            "$ref": "AddHeldAccountResult"
          }
        }
      }
    },
    "CountArtifactsRequest": {
      "type": "object",
      "id": "CountArtifactsRequest",
      "properties": {
        "query": {
          "$ref": "Query",
          "description": "The search query."
        },
        "view": {
          "description": "Sets the granularity of the count results.",
          "enum": [
            "COUNT_RESULT_VIEW_UNSPECIFIED",
            "TOTAL_COUNT",
            "ALL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default. Same as **TOTAL_COUNT**.",
            "Response includes counts of the total accounts, queried accounts, matching accounts, non-queryable accounts, and queried account errors.",
            "Response includes the same details as **TOTAL_COUNT**, plus additional account breakdown."
          ]
        }
      },
      "description": "Count artifacts request."
    },
    "ExportOptions": {
      "id": "ExportOptions",
      "description": "Additional options for exports",
      "type": "object",
      "properties": {
        "mailOptions": {
          "$ref": "MailExportOptions",
          "description": "Options for Gmail exports."
        },
        "region": {
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ],
          "type": "string",
          "description": "The requested data region for the export.",
          "enum": [
            "EXPORT_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ]
        },
        "hangoutsChatOptions": {
          "$ref": "HangoutsChatExportOptions",
          "description": "Options for Chat exports."
        },
        "calendarOptions": {
          "$ref": "CalendarExportOptions",
          "description": "Option available for Calendar export."
        },
        "driveOptions": {
          "$ref": "DriveExportOptions",
          "description": "Options for Drive exports."
        },
        "voiceOptions": {
          "description": "Options for Voice exports.",
          "$ref": "VoiceExportOptions"
        },
        "groupsOptions": {
          "$ref": "GroupsExportOptions",
          "description": "Options for Groups exports."
        },
        "geminiOptions": {
          "$ref": "GeminiExportOptions",
          "description": "Option available for Gemini export."
        }
      }
    },
    "MailExportOptions": {
      "description": "Options for Gmail exports.",
      "id": "MailExportOptions",
      "type": "object",
      "properties": {
        "exportFormat": {
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "description": "The file format for exported messages.",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ]
        },
        "exportLinkedDriveFiles": {
          "type": "boolean",
          "description": "Optional. To enable exporting linked Drive files, set to **true**."
        },
        "showConfidentialModeContent": {
          "description": "To export confidential mode content, set to **true**.",
          "type": "boolean"
        },
        "useNewExport": {
          "description": "To use the new export system, set to **true**.",
          "type": "boolean"
        }
      }
    },
    "Hold": {
      "type": "object",
      "description": "A hold. A hold prevents the specified Google Workspace service from purging data for specific accounts or all members of an organizational unit. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "id": "Hold",
      "properties": {
        "query": {
          "$ref": "CorpusQuery",
          "description": "Service-specific options. If set, **CorpusQuery** must match **CorpusType**."
        },
        "name": {
          "description": "The name of the hold.",
          "type": "string"
        },
        "accounts": {
          "items": {
            "$ref": "HeldAccount"
          },
          "type": "array",
          "description": "If set, the hold applies to the specified accounts and **orgUnit** must be empty."
        },
        "holdId": {
          "description": "The unique immutable ID of the hold. Assigned during creation.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The last time this hold was modified.",
          "type": "string"
        },
        "orgUnit": {
          "$ref": "HeldOrgUnit",
          "description": "If set, the hold applies to all members of the organizational unit and **accounts** must be empty. This property is mutable. For Groups holds, set **accounts**."
        },
        "corpus": {
          "description": "The service to be searched.",
          "type": "string",
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice.",
            "Calendar.",
            "Gemini."
          ],
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE",
            "CALENDAR",
            "GEMINI"
          ]
        }
      }
    },
    "VoiceOptions": {
      "properties": {
        "coveredData": {
          "type": "array",
          "description": "Datatypes to search",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ],
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ]
          }
        }
      },
      "description": "Additional options for Voice search",
      "id": "VoiceOptions",
      "type": "object"
    },
    "CalendarOptions": {
      "properties": {
        "peopleQuery": {
          "type": "array",
          "description": "Matches only those events whose attendees contain all of the words in the given set. Entries in the set are considered in \"and\".",
          "items": {
            "type": "string"
          }
        },
        "versionDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Search the current version of the Calendar event, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC."
        },
        "responseStatuses": {
          "description": "Matches only events for which the custodian gave one of these responses. If the set is empty or contains ATTENDEE_RESPONSE_UNSPECIFIED there will be no filtering on responses.",
          "items": {
            "enum": [
              "ATTENDEE_RESPONSE_UNSPECIFIED",
              "ATTENDEE_RESPONSE_NEEDS_ACTION",
              "ATTENDEE_RESPONSE_ACCEPTED",
              "ATTENDEE_RESPONSE_DECLINED",
              "ATTENDEE_RESPONSE_TENTATIVE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Attendee response unspecified. If this is set no filtering on responses will be done, all other attendee responses that are part of the query options are ignored.",
              "The participant has been invited but has not responded yet.",
              "The participant plans to attend.",
              "The participant does not plan to attend.",
              "The participant expects to possibly attend."
            ]
          },
          "type": "array"
        },
        "minusWords": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Matches only those events that do not contain any of the words in the given set in title, description, location, or attendees. Entries in the set are considered in \"or\"."
        },
        "locationQuery": {
          "description": "Matches only those events whose location contains all of the words in the given set. If the string contains quoted phrases, this method only matches those events whose location contain the exact phrase. Entries in the set are considered in \"and\". Word splitting example: [\"New Zealand\"] vs [\"New\",\"Zealand\"] \"New Zealand\": matched by both \"New and better Zealand\": only matched by the later",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Additional options for Calendar search",
      "type": "object",
      "id": "CalendarOptions"
    },
    "GeminiExportOptions": {
      "properties": {
        "exportFormat": {
          "description": "The file format for exported messages.",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ]
        }
      },
      "id": "GeminiExportOptions",
      "type": "object",
      "description": "The options for Gemini exports."
    },
    "DriveDocumentInfo": {
      "properties": {
        "documentIds": {
          "description": "Specify Drive documents by document ID.",
          "$ref": "DriveDocumentIds"
        }
      },
      "type": "object",
      "description": "The Drive documents to search.",
      "id": "DriveDocumentInfo"
    },
    "HeldAccount": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The primary email address of the account. If used as an input, this takes precedence over **accountId**."
        },
        "accountId": {
          "type": "string",
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/)."
        },
        "firstName": {
          "description": "Output only. The first name of the account holder.",
          "type": "string"
        },
        "lastName": {
          "description": "Output only. The last name of the account holder.",
          "type": "string"
        },
        "holdTime": {
          "format": "google-datetime",
          "description": "Output only. When the account was put on hold.",
          "type": "string"
        }
      },
      "description": "An account covered by a hold. This structure is immutable. It can be an individual account or a Google Group, depending on the service. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "id": "HeldAccount",
      "type": "object"
    },
    "DriveDocumentIds": {
      "id": "DriveDocumentIds",
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of Drive document IDs."
        }
      },
      "description": "Specify Drive documents by document ID.",
      "type": "object"
    },
    "HeldVoiceQuery": {
      "properties": {
        "coveredData": {
          "description": "A list of data types covered by the hold. Should be non-empty. Order does not matter and duplicates are ignored.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ],
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ]
          },
          "type": "array"
        }
      },
      "description": "Options for Voice holds.",
      "id": "HeldVoiceQuery",
      "type": "object"
    },
    "HeldGeminiQuery": {
      "id": "HeldGeminiQuery",
      "type": "object",
      "description": "Options for Gemini holds.",
      "properties": {}
    },
    "CloudStorageFile": {
      "properties": {
        "md5Hash": {
          "description": "The md5 hash of the file.",
          "type": "string"
        },
        "size": {
          "format": "int64",
          "description": "The export file size.",
          "type": "string"
        },
        "objectName": {
          "description": "The name of the Cloud Storage object for the export file. You can use this value in the Cloud Storage [JSON API](https://cloud.google.com/storage/docs/json_api) or [XML API](https://cloud.google.com/storage/docs/xml-api).",
          "type": "string"
        },
        "bucketName": {
          "description": "The name of the Cloud Storage bucket for the export file. You can use this value in the Cloud Storage [JSON API](https://cloud.google.com/storage/docs/json_api) or [XML API](https://cloud.google.com/storage/docs/xml-api), but not to list the bucket contents. Instead, you can [get individual export files](https://cloud.google.com/storage/docs/json_api/v1/objects/get) by object name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudStorageFile",
      "description": "The export file in Cloud Storage"
    },
    "RemoveMatterPermissionsRequest": {
      "description": "Remove an account as a matter collaborator.",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "The account ID.",
          "type": "string"
        }
      },
      "id": "RemoveMatterPermissionsRequest"
    },
    "HeldCalendarQuery": {
      "description": "Options for Calendar holds.",
      "id": "HeldCalendarQuery",
      "properties": {},
      "type": "object"
    },
    "UserInfo": {
      "description": "User's information.",
      "id": "UserInfo",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The displayed name of the user."
        },
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        }
      }
    },
    "SharedDriveInfo": {
      "description": "The shared drives to search",
      "type": "object",
      "properties": {
        "sharedDriveIds": {
          "description": "A list of shared drive IDs, as provided by the [Drive API](https://developers.google.com/drive).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "SharedDriveInfo"
    },
    "ReopenMatterRequest": {
      "id": "ReopenMatterRequest",
      "type": "object",
      "properties": {},
      "description": "Reopen a matter by ID."
    },
    "UndeleteMatterRequest": {
      "properties": {},
      "type": "object",
      "id": "UndeleteMatterRequest",
      "description": "Undelete a matter by ID."
    },
    "HeldMailQuery": {
      "type": "object",
      "id": "HeldMailQuery",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date."
        },
        "terms": {
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date."
        }
      },
      "description": "Query options for Gmail holds."
    },
    "RemoveHeldAccountsRequest": {
      "id": "RemoveHeldAccountsRequest",
      "description": "Remove a list of accounts from a hold.",
      "type": "object",
      "properties": {
        "accountIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The account IDs of the accounts to remove from the hold."
        }
      }
    },
    "ReopenMatterResponse": {
      "id": "ReopenMatterResponse",
      "properties": {
        "matter": {
          "$ref": "Matter",
          "description": "The updated matter, with state **OPEN**."
        }
      },
      "type": "object",
      "description": "Response to a ReopenMatterRequest."
    },
    "ListSavedQueriesResponse": {
      "id": "ListSavedQueriesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more saved queries to list."
        },
        "savedQueries": {
          "type": "array",
          "items": {
            "$ref": "SavedQuery"
          },
          "description": "List of saved queries."
        }
      },
      "description": "Definition of the response for method ListSaveQuery.",
      "type": "object"
    },
    "ListMattersResponse": {
      "description": "Provides the list of matters.",
      "type": "object",
      "properties": {
        "matters": {
          "type": "array",
          "items": {
            "$ref": "Matter"
          },
          "description": "List of matters."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list."
        }
      },
      "id": "ListMattersResponse"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "Export": {
      "description": "An export. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "The status is unspecified.",
            "The export completed.",
            "The export failed.",
            "The export is in progress."
          ],
          "description": "Output only. The status of the export.",
          "enum": [
            "EXPORT_STATUS_UNSPECIFIED",
            "COMPLETED",
            "FAILED",
            "IN_PROGRESS"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the export was created."
        },
        "query": {
          "description": "The query parameters used to create the export.",
          "$ref": "Query"
        },
        "name": {
          "type": "string",
          "description": "The export name. Don't use special characters (~!$'(),;@:/?) in the name, they can prevent you from downloading exports."
        },
        "requester": {
          "description": "Output only. The requester of the export.",
          "$ref": "UserInfo"
        },
        "parentExportId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifies the parent export that spawned this child export. This is only set on child exports."
        },
        "exportOptions": {
          "$ref": "ExportOptions",
          "description": "Additional export options."
        },
        "cloudStorageSink": {
          "$ref": "CloudStorageSink",
          "description": "Output only. The sink for export files in Cloud Storage."
        },
        "stats": {
          "description": "Output only. Details about the export progress and size.",
          "$ref": "ExportStats"
        },
        "matterId": {
          "description": "Output only. The matter ID.",
          "type": "string"
        },
        "id": {
          "description": "Output only. The generated export ID.",
          "type": "string"
        }
      },
      "id": "Export",
      "type": "object"
    },
    "HeldDriveQuery": {
      "id": "HeldDriveQuery",
      "properties": {
        "includeSharedDriveFiles": {
          "type": "boolean",
          "description": "To include files in shared drives in the hold, set to **true**."
        },
        "includeTeamDriveFiles": {
          "description": "To include files in Team Drives in the hold, set to **true**.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Options for Drive holds."
    },
    "GroupsCountResult": {
      "description": "Groups specific count metrics.",
      "properties": {
        "accountCountErrors": {
          "items": {
            "$ref": "AccountCountError"
          },
          "description": "Error occurred when querying these accounts.",
          "type": "array"
        },
        "accountCounts": {
          "type": "array",
          "description": "Subtotal count per matching account that have more than zero messages.",
          "items": {
            "$ref": "AccountCount"
          }
        },
        "queriedAccountsCount": {
          "format": "int64",
          "description": "Total number of accounts involved in this count operation.",
          "type": "string"
        },
        "nonQueryableAccounts": {
          "description": "When **DataScope** is **HELD_DATA**, these accounts in the request are not queried because they are not on hold. For other data scope, this field is not set.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "matchingAccountsCount": {
          "description": "Total number of accounts that can be queried and have more than zero messages.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GroupsCountResult",
      "type": "object"
    },
    "HeldGroupsQuery": {
      "description": "Query options for group holds.",
      "id": "HeldGroupsQuery",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date."
        },
        "terms": {
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold.",
          "type": "string"
        }
      }
    },
    "MailCountResult": {
      "id": "MailCountResult",
      "description": "Gmail and classic Hangouts-specific count metrics.",
      "properties": {
        "nonQueryableAccounts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "When **DataScope** is **HELD_DATA** and when account emails are passed in explicitly, the list of accounts in the request that are not queried because they are not on hold in the matter. For other data scopes, this field is not set."
        },
        "accountCountErrors": {
          "items": {
            "$ref": "AccountCountError"
          },
          "type": "array",
          "description": "Errors occurred when querying these accounts."
        },
        "queriedAccountsCount": {
          "type": "string",
          "description": "Total number of accounts involved in this count operation.",
          "format": "int64"
        },
        "accountCounts": {
          "description": "Subtotal count per matching account that have more than zero messages.",
          "type": "array",
          "items": {
            "$ref": "AccountCount"
          }
        },
        "matchingAccountsCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of accounts that can be queried and have more than zero messages."
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "ListHeldAccountsResponse": {
      "id": "ListHeldAccountsResponse",
      "type": "object",
      "description": "Returns a list of the accounts covered by a hold.",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "HeldAccount"
          },
          "type": "array",
          "description": "The held accounts on a hold."
        }
      }
    },
    "TeamDriveInfo": {
      "description": "Team Drives to search",
      "deprecated": true,
      "id": "TeamDriveInfo",
      "type": "object",
      "properties": {
        "teamDriveIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "description": "List of Team Drive IDs, as provided by the [Drive API](https://developers.google.com/drive)."
        }
      }
    },
    "AccountInfo": {
      "description": "The accounts to search",
      "type": "object",
      "id": "AccountInfo",
      "properties": {
        "emails": {
          "description": "A set of accounts to search.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "HangoutsChatInfo": {
      "properties": {
        "roomId": {
          "description": "A list of Chat spaces IDs, as provided by the [Chat API](https://developers.google.com/workspace/chat). There is a limit of exporting from 500 Chat spaces per request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "HangoutsChatInfo",
      "type": "object",
      "description": "The Chat spaces to search"
    },
    "AddHeldAccountsRequest": {
      "type": "object",
      "description": "Add a list of accounts to a hold.",
      "properties": {
        "emails": {
          "items": {
            "type": "string"
          },
          "description": "A comma-separated list of the emails of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both.",
          "type": "array"
        },
        "accountIds": {
          "description": "A comma-separated list of the account IDs of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AddHeldAccountsRequest"
    },
    "DriveOptions": {
      "type": "object",
      "properties": {
        "clientSideEncryptedOption": {
          "description": "Set whether the results include only content encrypted with [Google Workspace Client-side encryption](https://support.google.com/a?p=cse_ov) content, only unencrypted content, or both. Defaults to both. Currently supported for Drive.",
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ],
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ],
          "type": "string"
        },
        "includeSharedDrives": {
          "description": "Set to **true** to include shared drives.",
          "deprecated": true,
          "type": "boolean"
        },
        "versionDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Search the current version of the Drive file, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC."
        },
        "includeTeamDrives": {
          "description": "Set to true to include Team Drive.",
          "type": "boolean",
          "deprecated": true
        },
        "sharedDrivesOption": {
          "description": "Optional. Options to include or exclude documents in shared drives. We recommend using this field over include_shared_drives. This field overrides include_shared_drives and include_team_drives when set.",
          "enumDescriptions": [
            "No shared drive option specified.",
            "If a resource is in a shared drive, it isn't included in the search.",
            "Shared drive resources are only included in instances where the account is a collaborator on a resource but they are not a member of the shared drive. This maps to the *\"Included only if documents shared directly (not due to shared drive membership)\"* option in the Vault UI. (Previously \"include_shared_drives\" off)",
            "Resources in shared drives are included in the search. (Previously \"include_shared_drives\" on)"
          ],
          "enum": [
            "SHARED_DRIVES_OPTION_UNSPECIFIED",
            "NOT_INCLUDED",
            "INCLUDED_IF_ACCOUNT_IS_NOT_A_MEMBER",
            "INCLUDED"
          ],
          "type": "string"
        }
      },
      "description": "Additional options for Drive search.",
      "id": "DriveOptions"
    },
    "CloseMatterResponse": {
      "description": "Response to a CloseMatterRequest.",
      "properties": {
        "matter": {
          "$ref": "Matter",
          "description": "The updated matter, with state **CLOSED**."
        }
      },
      "type": "object",
      "id": "CloseMatterResponse"
    },
    "DriveExportOptions": {
      "properties": {
        "includeAccessInfo": {
          "type": "boolean",
          "description": "To include access level information for users with [indirect access](https://support.google.com/vault/answer/6099459#metadata) to files, set to **true**."
        }
      },
      "id": "DriveExportOptions",
      "type": "object",
      "description": "Options for Drive exports."
    }
  },
  "title": "Google Vault API",
  "version_module": true,
  "mtlsRootUrl": "https://vault.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/vault",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "servicePath": "",
  "protocol": "rest",
  "name": "vault",
  "canonicalName": "Vault",
  "parameters": {
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "version": "v1",
  "resources": {
    "matters": {
      "resources": {
        "holds": {
          "methods": {
            "delete": {
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "id": "vault.matters.holds.delete",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "description": "Removes the specified hold and releases the accounts or organizational unit covered by the hold. If the data is not preserved by another hold or retention rule, it might be purged.",
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "matterId": {
                  "required": true,
                  "location": "path",
                  "description": "The matter ID.",
                  "type": "string"
                },
                "holdId": {
                  "description": "The hold ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "httpMethod": "DELETE"
            },
            "list": {
              "flatPath": "v1/matters/{matterId}/holds",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListHoldsResponse"
              },
              "description": "Lists the holds in a matter.",
              "path": "v1/matters/{matterId}/holds",
              "id": "vault.matters.holds.list",
              "parameterOrder": [
                "matterId"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The pagination token as returned in the response. An empty token means start from the beginning.",
                  "location": "query"
                },
                "matterId": {
                  "description": "The matter ID.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "view": {
                  "location": "query",
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ],
                  "type": "string",
                  "description": "The amount of detail to return for a hold.",
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ]
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of holds to return in the response, between 0 and 100 inclusive. Leaving this empty, or as 0, is the same as **page_size** = 100."
                }
              }
            },
            "create": {
              "description": "Creates a hold in the specified matter.",
              "parameterOrder": [
                "matterId"
              ],
              "request": {
                "$ref": "Hold"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "path": "v1/matters/{matterId}/holds",
              "response": {
                "$ref": "Hold"
              },
              "flatPath": "v1/matters/{matterId}/holds",
              "id": "vault.matters.holds.create",
              "parameters": {
                "matterId": {
                  "required": true,
                  "location": "path",
                  "description": "The matter ID.",
                  "type": "string"
                }
              }
            },
            "update": {
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "description": "Updates the scope (organizational unit or accounts) and query parameters of a hold. You cannot add accounts to a hold that covers an organizational unit, nor can you add organizational units to a hold that covers individual accounts. If you try, the unsupported values are ignored.",
              "parameters": {
                "matterId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The matter ID."
                },
                "holdId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the hold."
                }
              },
              "httpMethod": "PUT",
              "request": {
                "$ref": "Hold"
              },
              "response": {
                "$ref": "Hold"
              },
              "id": "vault.matters.holds.update",
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "flatPath": "v1/matters/{matterId}/holds/{holdId}"
            },
            "get": {
              "description": "Gets the specified hold.",
              "parameters": {
                "holdId": {
                  "required": true,
                  "description": "The hold ID.",
                  "location": "path",
                  "type": "string"
                },
                "matterId": {
                  "location": "path",
                  "description": "The matter ID.",
                  "type": "string",
                  "required": true
                },
                "view": {
                  "location": "query",
                  "description": "The amount of detail to return for a hold.",
                  "type": "string",
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ],
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ]
                }
              },
              "httpMethod": "GET",
              "id": "vault.matters.holds.get",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "response": {
                "$ref": "Hold"
              },
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "parameterOrder": [
                "matterId",
                "holdId"
              ]
            },
            "addHeldAccounts": {
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "id": "vault.matters.holds.addHeldAccounts",
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
              "response": {
                "$ref": "AddHeldAccountsResponse"
              },
              "parameters": {
                "matterId": {
                  "required": true,
                  "location": "path",
                  "description": "The matter ID.",
                  "type": "string"
                },
                "holdId": {
                  "location": "path",
                  "required": true,
                  "description": "The hold ID.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "AddHeldAccountsRequest"
              },
              "description": "Adds accounts to a hold. Returns a list of accounts that have been successfully added. Accounts can be added only to an existing account-based hold.",
              "path": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts"
            },
            "removeHeldAccounts": {
              "path": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameters": {
                "holdId": {
                  "description": "The hold ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "matterId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The matter ID."
                }
              },
              "id": "vault.matters.holds.removeHeldAccounts",
              "httpMethod": "POST",
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "request": {
                "$ref": "RemoveHeldAccountsRequest"
              },
              "response": {
                "$ref": "RemoveHeldAccountsResponse"
              },
              "description": "Removes the specified accounts from a hold. Returns a list of statuses in the same order as the request."
            }
          },
          "resources": {
            "accounts": {
              "methods": {
                "delete": {
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "parameters": {
                    "accountId": {
                      "description": "The ID of the account to remove from the hold.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "holdId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The hold ID."
                    },
                    "matterId": {
                      "location": "path",
                      "description": "The matter ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "vault.matters.holds.accounts.delete",
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "parameterOrder": [
                    "matterId",
                    "holdId",
                    "accountId"
                  ],
                  "description": "Removes an account from a hold.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ]
                },
                "list": {
                  "parameters": {
                    "matterId": {
                      "description": "The matter ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "holdId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The hold ID."
                    }
                  },
                  "response": {
                    "$ref": "ListHeldAccountsResponse"
                  },
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery",
                    "https://www.googleapis.com/auth/ediscovery.readonly"
                  ],
                  "description": "Lists the accounts covered by a hold. This can list only individually-specified accounts covered by the hold. If the hold covers an organizational unit, use the [Admin SDK](https://developers.google.com/admin-sdk/). to list the members of the organizational unit on hold.",
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "id": "vault.matters.holds.accounts.list",
                  "httpMethod": "GET"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ],
                  "request": {
                    "$ref": "HeldAccount"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "matterId": {
                      "location": "path",
                      "required": true,
                      "description": "The matter ID.",
                      "type": "string"
                    },
                    "holdId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The hold ID."
                    }
                  },
                  "response": {
                    "$ref": "HeldAccount"
                  },
                  "description": "Adds an account to a hold. Accounts can be added only to a hold that does not have an organizational unit set. If you try to add an account to an organizational unit-based hold, an error is returned.",
                  "id": "vault.matters.holds.accounts.create",
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts"
                }
              }
            }
          }
        },
        "exports": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "matterId",
                "exportId"
              ],
              "flatPath": "v1/matters/{matterId}/exports/{exportId}",
              "description": "Gets an export.",
              "response": {
                "$ref": "Export"
              },
              "id": "vault.matters.exports.get",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "parameters": {
                "matterId": {
                  "description": "The matter ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "exportId": {
                  "location": "path",
                  "required": true,
                  "description": "The export ID.",
                  "type": "string"
                }
              },
              "path": "v1/matters/{matterId}/exports/{exportId}"
            },
            "create": {
              "parameters": {
                "matterId": {
                  "required": true,
                  "type": "string",
                  "description": "The matter ID.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Export"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "id": "vault.matters.exports.create",
              "response": {
                "$ref": "Export"
              },
              "parameterOrder": [
                "matterId"
              ],
              "description": "Creates an export.",
              "flatPath": "v1/matters/{matterId}/exports",
              "path": "v1/matters/{matterId}/exports",
              "httpMethod": "POST"
            },
            "list": {
              "description": "Lists details about the exports in the specified matter.",
              "httpMethod": "GET",
              "path": "v1/matters/{matterId}/exports",
              "parameterOrder": [
                "matterId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "flatPath": "v1/matters/{matterId}/exports",
              "id": "vault.matters.exports.list",
              "parameters": {
                "matterId": {
                  "required": true,
                  "location": "path",
                  "description": "The matter ID.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The pagination token as returned in the response."
                },
                "pageSize": {
                  "description": "The number of exports to return in the response.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListExportsResponse"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameterOrder": [
                "matterId",
                "exportId"
              ],
              "parameters": {
                "matterId": {
                  "type": "string",
                  "description": "The matter ID.",
                  "location": "path",
                  "required": true
                },
                "exportId": {
                  "required": true,
                  "location": "path",
                  "description": "The export ID.",
                  "type": "string"
                }
              },
              "path": "v1/matters/{matterId}/exports/{exportId}",
              "flatPath": "v1/matters/{matterId}/exports/{exportId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes an export.",
              "id": "vault.matters.exports.delete"
            }
          }
        },
        "savedQueries": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "response": {
                "$ref": "SavedQuery"
              },
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ],
              "description": "Retrieves the specified saved query.",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "id": "vault.matters.savedQueries.get",
              "parameters": {
                "savedQueryId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "ID of the saved query to retrieve."
                },
                "matterId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The ID of the matter to get the saved query from."
                }
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameters": {
                "matterId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the matter to delete the saved query from."
                },
                "savedQueryId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the saved query to delete."
                }
              },
              "description": "Deletes the specified saved query.",
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ],
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "response": {
                "$ref": "Empty"
              },
              "id": "vault.matters.savedQueries.delete",
              "httpMethod": "DELETE",
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}"
            },
            "create": {
              "path": "v1/matters/{matterId}/savedQueries",
              "response": {
                "$ref": "SavedQuery"
              },
              "parameters": {
                "matterId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the matter to create the saved query in."
                }
              },
              "request": {
                "$ref": "SavedQuery"
              },
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "description": "Creates a saved query.",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameterOrder": [
                "matterId"
              ],
              "id": "vault.matters.savedQueries.create",
              "httpMethod": "POST"
            },
            "list": {
              "path": "v1/matters/{matterId}/savedQueries",
              "id": "vault.matters.savedQueries.list",
              "description": "Lists the saved queries in a matter.",
              "httpMethod": "GET",
              "parameterOrder": [
                "matterId"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of saved queries to return.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The pagination token as returned in the previous response. An empty token means start from the beginning."
                },
                "matterId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the matter to get the saved queries for."
                }
              },
              "response": {
                "$ref": "ListSavedQueriesResponse"
              },
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ]
            }
          }
        }
      },
      "methods": {
        "undelete": {
          "response": {
            "$ref": "Matter"
          },
          "id": "vault.matters.undelete",
          "parameters": {
            "matterId": {
              "required": true,
              "location": "path",
              "description": "The matter ID.",
              "type": "string"
            }
          },
          "flatPath": "v1/matters/{matterId}:undelete",
          "path": "v1/matters/{matterId}:undelete",
          "request": {
            "$ref": "UndeleteMatterRequest"
          },
          "parameterOrder": [
            "matterId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "description": "Undeletes the specified matter. Returns the matter with updated state."
        },
        "removePermissions": {
          "flatPath": "v1/matters/{matterId}:removePermissions",
          "id": "vault.matters.removePermissions",
          "parameters": {
            "matterId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The matter ID."
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "description": "Removes an account as a matter collaborator.",
          "request": {
            "$ref": "RemoveMatterPermissionsRequest"
          },
          "httpMethod": "POST",
          "path": "v1/matters/{matterId}:removePermissions",
          "parameterOrder": [
            "matterId"
          ]
        },
        "create": {
          "request": {
            "$ref": "Matter"
          },
          "parameters": {},
          "flatPath": "v1/matters",
          "response": {
            "$ref": "Matter"
          },
          "path": "v1/matters",
          "description": "Creates a matter with the given name and description. The initial state is open, and the owner is the method caller. Returns the created matter with default view.",
          "id": "vault.matters.create",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "list": {
          "flatPath": "v1/matters",
          "description": "Lists matters the requestor has access to.",
          "httpMethod": "GET",
          "path": "v1/matters",
          "response": {
            "$ref": "ListMattersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "parameterOrder": [],
          "id": "vault.matters.list",
          "parameters": {
            "view": {
              "location": "query",
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/workspace/vault/reference/rest/v1/matters#matterpermission))."
              ],
              "type": "string",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "description": "Specifies how much information about the matter to return in response."
            },
            "state": {
              "enumDescriptions": [
                "The matter has no specified state.",
                "The matter is open.",
                "The matter is closed.",
                "The matter is deleted."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "STATE_UNSPECIFIED",
                "OPEN",
                "CLOSED",
                "DELETED"
              ],
              "description": "If set, lists only matters with the specified state. The default lists matters of all states."
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "The number of matters to return in the response. Default and maximum are 100.",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "The pagination token as returned in the response.",
              "location": "query"
            }
          }
        },
        "count": {
          "flatPath": "v1/matters/{matterId}:count",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "request": {
            "$ref": "CountArtifactsRequest"
          },
          "path": "v1/matters/{matterId}:count",
          "description": "Counts the accounts processed by the specified query.",
          "parameterOrder": [
            "matterId"
          ],
          "parameters": {
            "matterId": {
              "type": "string",
              "description": "The matter ID.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "vault.matters.count",
          "httpMethod": "POST"
        },
        "addPermissions": {
          "description": "Adds an account as a matter collaborator.",
          "httpMethod": "POST",
          "flatPath": "v1/matters/{matterId}:addPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameterOrder": [
            "matterId"
          ],
          "path": "v1/matters/{matterId}:addPermissions",
          "id": "vault.matters.addPermissions",
          "parameters": {
            "matterId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The matter ID."
            }
          },
          "request": {
            "$ref": "AddMatterPermissionsRequest"
          },
          "response": {
            "$ref": "MatterPermission"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "id": "vault.matters.delete",
          "parameters": {
            "matterId": {
              "description": "The matter ID",
[...]
