{
  "ownerDomain": "google.com",
  "version_module": true,
  "id": "workspaceevents:v1",
  "baseUrl": "https://workspaceevents.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chat.messages.readonly": {
          "description": "See messages as well as their reactions and message content in Google Chat"
        },
        "https://www.googleapis.com/auth/meetings.space.readonly": {
          "description": "Read information about any of your Google Meet conferences"
        },
        "https://www.googleapis.com/auth/chat.spaces": {
          "description": "Create conversations and spaces and see or update metadata (including history settings and access settings) in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.messages.reactions.readonly": {
          "description": "View reactions as well as their reaction content to messages in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.app.all.memberships.readonly": {
          "description": "On their own behalf, apps in Google Chat can see all members in Google Chat spaces and conversations throughout your Workspace organization, even when the Chat app isn't a member"
        },
        "https://www.googleapis.com/auth/chat.bot": {
          "description": "Private Service: https://www.googleapis.com/auth/chat.bot"
        },
        "https://www.googleapis.com/auth/chat.app.memberships": {
          "description": "On their own behalf, apps in Google Chat can see, add, update, and remove members from conversations and spaces"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/chat.app.spaces": {
          "description": "On their own behalf, apps in Google Chat can create conversations and spaces and see or update their metadata (including history settings and access settings)"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/meetings.space.created": {
          "description": "Create, edit, and see information about your Google Meet conferences created by the app."
        },
        "https://www.googleapis.com/auth/chat.memberships.readonly": {
          "description": "View members in Google Chat conversations."
        },
        "https://www.googleapis.com/auth/chat.app.messages.readonly": {
          "description": "On their own behalf, apps in Google Chat can see all messages and their associated reactions and message content"
        },
        "https://www.googleapis.com/auth/chat.app.all.messages.readonly": {
          "description": "On their own behalf, apps in Google Chat can see all messages and reactions throughout your Workspace organization, even when the Chat app isn't a member of a space or conversation"
        },
        "https://www.googleapis.com/auth/chat.users.availability": {
          "description": "See and change your availability status in Google Chat."
        },
        "https://www.googleapis.com/auth/chat.messages.reactions": {
          "description": "See, add, and delete reactions as well as their reaction content to messages in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.users.availability.readonly": {
          "description": "See your availability status in Google Chat."
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/chat.messages": {
          "description": "See, compose, send, update, and delete messages, their content, and attached cards; add, see, and delete reactions to messages."
        },
        "https://www.googleapis.com/auth/chat.users.readstate": {
          "description": "View and modify last read time for Google Chat conversations"
        },
        "https://www.googleapis.com/auth/chat.app.all.spaces.readonly": {
          "description": "On their own behalf, apps in Google Chat can see metadata about all spaces and conversations in Google Chat throughout your Workspace organization, even when the Chat app isn't a member"
        },
        "https://www.googleapis.com/auth/chat.app.spaces.readonly": {
          "description": "On their own behalf, apps in Google Chat can see conversations and spaces and their metadata (including history settings and access settings)"
        },
        "https://www.googleapis.com/auth/chat.memberships": {
          "description": "See, add, update, and remove members from conversations and spaces in Google Chat"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/chat.spaces.readonly": {
          "description": "View chat and spaces in Google Chat"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/chat.app.memberships.readonly": {
          "description": "On their own behalf, apps in Google Chat can see members of conversations and spaces"
        },
        "https://www.googleapis.com/auth/chat.app.all.users.readstate.readonly": {
          "description": "On their own behalf, apps in Google Chat can see the last read time for all users in all spaces and conversations throughout your Workspace organization, even when the Chat app isn't a member."
        },
        "https://www.googleapis.com/auth/chat.users.readstate.readonly": {
          "description": "View last read time for Google Chat conversations"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "canonicalName": "Workspace Events",
  "batchPath": "batch",
  "rootUrl": "https://workspaceevents.googleapis.com/",
  "basePath": "",
  "version": "v1",
  "documentationLink": "https://developers.google.com/workspace/events",
  "schemas": {
    "Subscription": {
      "id": "Subscription",
      "description": "A subscription to receive events about a Google Workspace resource. To learn more about subscriptions, see the [Google Workspace Events API overview](https://developers.google.com/workspace/events).",
      "properties": {
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and might be sent on update requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Input only. The time-to-live (TTL) or duration for the subscription. If unspecified or set to `0`, uses the maximum possible duration."
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Non-empty default. The timestamp in UTC when the subscription expires. Always displayed on output, regardless of what was used on input."
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. If `true`, the subscription is in the process of being updated.",
          "type": "boolean"
        },
        "targetResource": {
          "description": "Required. Immutable. The Google Workspace resource that's monitored for events, formatted as the [full resource name](https://google.aip.dev/122#full-resource-names). To learn about target resources and the events that they support, see [Supported Google Workspace events](https://developers.google.com/workspace/events#supported-events). A user can only authorize your app to create one subscription for a given target resource. If your app tries to create another subscription with the same user credentials, the request returns an `ALREADY_EXISTS` error.",
          "type": "string"
        },
        "eventTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Unordered list. Input for creating a subscription. Otherwise, output only. One or more types of events to receive about the target resource. Formatted according to the CloudEvents specification. The supported event types depend on the target resource of your subscription. For details, see [Supported Google Workspace events](https://developers.google.com/workspace/events/guides#supported-events). By default, you also receive events about the [lifecycle of your subscription](https://developers.google.com/workspace/events/guides/events-lifecycle). You don't need to specify lifecycle events for this field. If you specify an event type that doesn't exist for the target resource, the request returns an HTTP `400 Bad Request` status code."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED",
            "DELETED"
          ],
          "description": "Output only. The state of the subscription. Determines whether the subscription can receive events and deliver them to the notification endpoint.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The subscription is active and can receive and deliver events to its notification endpoint.",
            "The subscription is unable to receive events due to an error. To identify the error, see the `suspension_reason` field.",
            "The subscription is deleted."
          ]
        },
        "userAuthority": {
          "readOnly": true,
          "description": "Output only. The user who authorized the creation of the subscription. The user must be able to view the `target_resource`. For Google Workspace users, the `{user}` value is the [`user.id`](https://developers.google.com/workspace/admin/directory/reference/rest/v1/users#User.FIELDS.id) field from the Directory API. Format: `users/{user}`",
          "type": "string"
        },
        "driveOptions": {
          "description": "Optional. Features that are supported only for subscriptions on Drive resources.",
          "$ref": "DriveOptions"
        },
        "createTime": {
          "description": "Output only. The time when the subscription is created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name of the subscription. Format: `subscriptions/{subscription}`",
          "type": "string"
        },
        "suspensionReason": {
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "USER_SCOPE_REVOKED",
            "APP_SCOPE_REVOKED",
            "RESOURCE_DELETED",
            "USER_AUTHORIZATION_FAILURE",
            "APP_AUTHORIZATION_FAILURE",
            "ENDPOINT_PERMISSION_DENIED",
            "ENDPOINT_NOT_FOUND",
            "ENDPOINT_RESOURCE_EXHAUSTED",
            "OTHER"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error that suspended the subscription. To reactivate the subscription, resolve the error and call the `ReactivateSubscription` method.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The authorizing user has revoked the grant of one or more OAuth scopes. To learn more about authorization for Google Workspace, see [Configure the OAuth consent screen](https://developers.google.com/workspace/guides/configure-oauth-consent#choose-scopes).",
            "The domain administrator has revoked the grant of one or more OAuth scopes for the app.",
            "The target resource for the subscription no longer exists.",
            "The user that authorized the creation of the subscription no longer has access to the subscription's target resource.",
            "The app that authorized the creation of the subscription no longer has access to the subscription's target resource.",
            "The Google Workspace application doesn't have access to deliver events to your subscription's notification endpoint.",
            "The subscription's notification endpoint doesn't exist, or the endpoint can't be found in the Google Cloud project where you created the subscription.",
            "The subscription's notification endpoint failed to receive events due to insufficient quota or reaching rate limiting.",
            "An unidentified error has occurred."
          ]
        },
        "notificationEndpoint": {
          "description": "Required. Immutable. The endpoint where the subscription delivers events, such as a Pub/Sub topic.",
          "$ref": "NotificationEndpoint"
        },
        "payloadOptions": {
          "description": "Optional. Options about what data to include in the event payload. Only supported for Google Chat and Google Drive events.",
          "$ref": "PayloadOptions"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-assigned unique identifier for the subscription."
        },
        "serviceAccountAuthority": {
          "description": "Output only. The service account that was used to authorize the creation of the subscription. This service account must be owned by the same Google Cloud project where you created this subscription. Format: `projects/{project_id}/serviceAccounts/{service_account_id}`",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last time that the subscription is updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "authority": {
          "description": "Output only. The user who authorized the creation of the subscription. When a user authorizes the subscription, this field and the `user_authority` field have the same value and the format is: Format: `users/{user}` For Google Workspace users, the `{user}` value is the [`user.id`](https://developers.google.com/admin-sdk/directory/reference/rest/v1/users#User.FIELDS.ids) field from the Directory API. When a Chat app authorizes the subscription, only `service_account_authority` field populates and this field is empty.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "TaskArtifactUpdateEvent": {
      "description": "TaskArtifactUpdateEvent represents a task delta where an artifact has been generated.",
      "id": "TaskArtifactUpdateEvent",
      "type": "object",
      "properties": {
        "artifact": {
          "description": "The artifact itself",
          "$ref": "Artifact"
        },
        "taskId": {
          "type": "string",
          "description": "The id of the task for this artifact"
        },
        "metadata": {
          "type": "object",
          "description": "Optional metadata associated with the artifact update.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "append": {
          "type": "boolean",
          "description": "Whether this should be appended to a prior one produced"
        },
        "contextId": {
          "type": "string",
          "description": "The id of the context that this task belongs too"
        },
        "lastChunk": {
          "description": "Whether this represents the last part of an artifact",
          "type": "boolean"
        }
      }
    },
    "StreamResponse": {
      "id": "StreamResponse",
      "type": "object",
      "description": "The stream response for a message. The stream should be one of the following sequences: If the response is a message, the stream should contain one, and only one, message and then close If the response is a task lifecycle, the first response should be a Task object followed by zero or more TaskStatusUpdateEvents and TaskArtifactUpdateEvents. The stream should complete when the Task if in an interrupted or terminal state. A stream that ends before these conditions are met are",
      "properties": {
        "artifactUpdate": {
          "$ref": "TaskArtifactUpdateEvent"
        },
        "message": {
          "$ref": "Message"
        },
        "statusUpdate": {
          "$ref": "TaskStatusUpdateEvent"
        },
        "task": {
          "$ref": "Task"
        }
      }
    },
    "TaskStatus": {
      "id": "TaskStatus",
      "properties": {
        "message": {
          "description": "A message associated with the status.",
          "$ref": "Message"
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\"",
          "type": "string"
        },
        "state": {
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELLED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "Represents the status that acknowledges a task is created",
            "Represents the status that a task is actively being processed",
            "Represents the status a task is finished. This is a terminal state",
            "Represents the status a task is done but failed. This is a terminal state",
            "Represents the status a task was cancelled before it finished. This is a terminal state.",
            "Represents the status that the task requires information to complete. This is an interrupted state.",
            "Represents the status that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Represents the state that some authentication is needed from the upstream client. Authentication is expected to come out-of-band thus this is not an interrupted or terminal state."
          ],
          "description": "The current state of this task",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A container for the status of a task"
    },
    "NotificationEndpoint": {
      "properties": {
        "pubsubTopic": {
          "description": "Immutable. The Pub/Sub topic that receives events for the subscription. Format: `projects/{project}/topics/{topic}` You must create the topic in the same Google Cloud project where you create this subscription. Note: The Google Workspace Events API uses [ordering keys](https://cloud.google.com/pubsub/docs/ordering) for the benefit of sequential events. If the Cloud Pub/Sub topic has a [message storage policy](https://cloud.google.com/pubsub/docs/resource-location-restriction#exceptions) configured to exclude the nearest Google Cloud region, publishing events with ordering keys will fail. When the topic receives events, the events are encoded as Pub/Sub messages. For details, see the [Google Cloud Pub/Sub Protocol Binding for CloudEvents](https://github.com/googleapis/google-cloudevents/blob/main/docs/spec/pubsub.md).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The endpoint where the subscription delivers events.",
      "id": "NotificationEndpoint"
    },
    "PayloadOptions": {
      "properties": {
        "fieldMask": {
          "format": "google-fieldmask",
          "description": "Optional. If `include_resource` is set to `true`, the list of fields to include in the event payload. Separate fields with a comma. For example, to include a Google Chat message's sender and create time, enter `message.sender,message.createTime`. If omitted, the payload includes all fields for the resource. If you specify a field that doesn't exist for the resource, the system ignores the field.",
          "type": "string"
        },
        "includeResource": {
          "type": "boolean",
          "description": "Optional. Whether the event payload includes data about the resource that changed. For example, for an event where a Google Chat message was created, whether the payload contains data about the [`Message`](https://developers.google.com/chat/api/reference/rest/v1/spaces.messages) resource. If false, the event payload only includes the name of the changed resource."
        }
      },
      "type": "object",
      "description": "Options about what data to include in the event payload. Only supported for Google Chat and Google Drive events.",
      "id": "PayloadOptions"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "CancelTaskRequest": {
      "id": "CancelTaskRequest",
      "properties": {
        "tenant": {
          "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SendMessageRequest": {
      "description": "/////////// Request Messages ///////////",
      "properties": {
        "configuration": {
          "$ref": "SendMessageConfiguration",
          "description": "Configuration for the send request."
        },
        "message": {
          "description": "Required. The message to send to the agent.",
          "$ref": "Message"
        },
        "metadata": {
          "description": "Optional metadata for the request.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "tenant": {
          "type": "string",
          "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
        }
      },
      "id": "SendMessageRequest",
      "type": "object"
    },
    "FilePart": {
      "description": "FilePart represents the different ways files can be provided. If files are small, directly feeding the bytes is supported via file_with_bytes. If the file is large, the agent should read the content as appropriate directly from the file_with_uri source.",
      "type": "object",
      "properties": {
        "fileWithBytes": {
          "type": "string",
          "format": "byte"
        },
        "name": {
          "type": "string"
        },
        "fileWithUri": {
          "type": "string"
        },
        "mimeType": {
          "type": "string"
        }
      },
      "id": "FilePart"
    },
    "ListTaskPushNotificationConfigResponse": {
      "properties": {
        "configs": {
          "items": {
            "$ref": "TaskPushNotificationConfig"
          },
          "type": "array",
          "description": "The list of push notification configurations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListTaskPushNotificationConfigResponse"
    },
    "TaskStatusUpdateEvent": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional metadata to associate with the task update."
        },
        "final": {
          "description": "Whether this is the last status update expected for this task.",
          "type": "boolean"
        },
        "status": {
          "$ref": "TaskStatus",
          "description": "The new status of the task."
        },
        "contextId": {
          "type": "string",
          "description": "The id of the context that the task belongs to"
        },
        "taskId": {
          "type": "string",
          "description": "The id of the task that is changed"
        }
      },
      "description": "TaskStatusUpdateEvent is a delta even on a task indicating that a task has changed.",
      "type": "object",
      "id": "TaskStatusUpdateEvent"
    },
    "PushNotificationConfig": {
      "description": "Configuration for setting up push notifications for task updates.",
      "id": "PushNotificationConfig",
      "properties": {
        "id": {
          "type": "string",
          "description": "A unique identifier (e.g. UUID) for this push notification."
        },
        "url": {
          "description": "Url to send the notification too",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "Token unique for this task/session"
        },
        "authentication": {
          "$ref": "AuthenticationInfo",
          "description": "Information about the authentication to sent with the notification"
        }
      },
      "type": "object"
    },
    "DriveOptions": {
      "description": "Additional supported options for serving Drive events.",
      "id": "DriveOptions",
      "type": "object",
      "properties": {
        "includeDescendants": {
          "description": "Optional. Immutable. For subscriptions to Google Drive events, whether to receive events about Drive files that are children of the target folder or shared drive. This field must be `true` for subscriptions on shared drives. * If `false`, the subscription only receives events about changes to the folder or shared drive that's specified as the `targetResource`. * If `true`, the `mimeType` field of the `file` resource must be set to `application/vnd.google-apps.folder`. For details, see [Google Drive event types](https://developers.google.com/workspace/events/guides/events-drive#event-types).",
          "type": "boolean"
        }
      }
    },
    "Artifact": {
      "type": "object",
      "id": "Artifact",
      "description": "Artifacts are the container for task completed results. These are similar to Messages but are intended to be the product of a task, as opposed to point-to-point communication.",
      "properties": {
        "name": {
          "description": "A human readable name for the artifact.",
          "type": "string"
        },
        "artifactId": {
          "description": "Unique identifier (e.g. UUID) for the artifact. It must be at least unique within a task.",
          "type": "string"
        },
        "parts": {
          "items": {
            "$ref": "Part"
          },
          "description": "The content of the artifact.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "A human readable description of the artifact, optional."
        },
        "extensions": {
          "description": "The URIs of extensions that are present or contributed to this Artifact.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional metadata included with the artifact."
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "Task": {
      "description": "Task is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history.",
      "id": "Task",
      "type": "object",
      "properties": {
        "artifacts": {
          "type": "array",
          "items": {
            "$ref": "Artifact"
          },
          "description": "A set of output artifacts for a Task."
        },
        "status": {
          "description": "The current status of a Task, including state and a message.",
          "$ref": "TaskStatus"
        },
        "history": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a task."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task."
        },
        "contextId": {
          "type": "string",
          "description": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages). Created by the A2A server."
        },
        "id": {
          "description": "Unique identifier (e.g. UUID) for the task, generated by the server for a new task.",
          "type": "string"
        }
      }
    },
    "SendMessageConfiguration": {
      "properties": {
        "blocking": {
          "description": "If true, the message will be blocking until the task is completed. If false, the message will be non-blocking and the task will be returned immediately. It is the caller's responsibility to check for any task updates.",
          "type": "boolean"
        },
        "acceptedOutputModes": {
          "description": "The output modes that the agent is expected to respond with.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "historyLength": {
          "format": "int32",
          "description": "The maximum number of messages to include in the history. if 0, the history will be unlimited.",
          "type": "integer"
        },
        "pushNotification": {
          "$ref": "PushNotificationConfig",
          "description": "A configuration of a webhook that can be used to receive updates"
        }
      },
      "description": "Configuration of a send message request.",
      "id": "SendMessageConfiguration",
      "type": "object"
    },
    "DataPart": {
      "description": "DataPart represents a structured blob. This is most commonly a JSON payload.",
      "id": "DataPart",
      "type": "object",
      "properties": {
        "data": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "Message": {
      "properties": {
        "extensions": {
          "description": "The URIs of extensions that are present or contributed to this Message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messageId": {
          "type": "string",
          "description": "The unique identifier (e.g. UUID)of the message. This is required and created by the message creator."
        },
        "content": {
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Content is the container of the message content.",
          "type": "array",
          "items": {
            "$ref": "Part"
          }
        },
        "role": {
          "type": "string",
          "description": "A role for the message.",
          "enumDescriptions": [
            "",
            "USER role refers to communication from the client to the server.",
            "AGENT role refers to communication from the server to the client."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ]
        },
        "contextId": {
          "description": "The context id of the message. This is optional and if set, the message will be associated with the given context.",
          "type": "string"
        },
        "taskId": {
          "type": "string",
          "description": "The task id of the message. This is optional and if set, the message will be associated with the given task."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED Any optional metadata to provide along with the message."
        }
      },
      "description": "Message is one unit of communication between client and server. It is associated with a context and optionally a task. Since the server is responsible for the context definition, it must always provide a context_id in its messages. The client can optionally provide the context_id if it knows the context to associate the message to. Similarly for task_id, except the server decides if a task is created and whether to include the task_id.",
      "type": "object",
      "id": "Message"
    },
    "ReactivateSubscriptionRequest": {
      "type": "object",
      "properties": {},
      "id": "ReactivateSubscriptionRequest",
      "description": "The request message for SubscriptionsService.ReactivateSubscription."
    },
    "AuthenticationInfo": {
      "id": "AuthenticationInfo",
      "properties": {
        "schemes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Supported authentication schemes - e.g. Basic, Bearer, etc"
        },
        "credentials": {
          "description": "Optional credentials",
          "type": "string"
        }
      },
      "description": "Defines authentication details, used for push notifications.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "TaskPushNotificationConfig": {
      "properties": {
        "name": {
          "description": "The resource name of the config. Format: tasks/{task_id}/pushNotificationConfigs/{config_id}",
          "type": "string"
        },
        "pushNotificationConfig": {
          "$ref": "PushNotificationConfig",
          "description": "The push notification configuration details."
        }
      },
      "id": "TaskPushNotificationConfig",
      "type": "object"
    },
    "Part": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional metadata associated with this part.",
          "type": "object"
        },
        "text": {
          "type": "string"
        },
        "file": {
          "$ref": "FilePart"
        },
        "data": {
          "$ref": "DataPart"
        }
      },
      "type": "object",
      "description": "Part represents a container for a section of communication content. Parts can be purely textual, some sort of file (image, video, etc) or a structured data blob (i.e. JSON).",
      "id": "Part"
    },
    "ListSubscriptionsResponse": {
      "properties": {
        "subscriptions": {
          "description": "List of subscriptions.",
          "type": "array",
          "items": {
            "$ref": "Subscription"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for SubscriptionsService.ListSubscriptions.",
      "id": "ListSubscriptionsResponse"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://workspaceevents.mtls.googleapis.com/",
  "revision": "20260929",
  "resources": {
    "message": {
      "methods": {
        "stream": {
          "parameterOrder": [],
          "request": {
            "$ref": "SendMessageRequest"
          },
          "httpMethod": "POST",
          "path": "v1/message:stream",
          "flatPath": "v1/message:stream",
          "parameters": {},
          "id": "workspaceevents.message.stream",
          "response": {
            "$ref": "StreamResponse"
          },
          "description": "SendStreamingMessage is a streaming call that will return a stream of task update events until the Task is in an interrupted or terminal state."
        }
      }
    },
    "subscriptions": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous list subscriptions call. Provide this parameter to retrieve the subsequent page. When paginating, the filter value should match the call that provided the page token. Passing a different value might lead to unexpected results.",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "Required. A query filter. You can filter subscriptions by event type (`event_types`) and target resource (`target_resource`). You must specify at least one event type in your query. To filter for multiple event types, use the `OR` operator. To filter by both event type and target resource, use the `AND` operator and specify the full resource name, such as `//chat.googleapis.com/spaces/{space}`. For example, the following queries are valid: ``` event_types:\"google.workspace.chat.membership.v1.updated\" OR event_types:\"google.workspace.chat.message.v1.created\" event_types:\"google.workspace.chat.message.v1.created\" AND target_resource=\"//chat.googleapis.com/spaces/{space}\" ( event_types:\"google.workspace.chat.membership.v1.updated\" OR event_types:\"google.workspace.chat.message.v1.created\" ) AND target_resource=\"//chat.googleapis.com/spaces/{space}\" ``` The following query is available in [Developer Preview](https://developers.google.com/workspace/preview): ``` event_types:\"google.workspace.chat.message.v1.created\" AND target_resource=\"//admin.googleapis.com/customers/my_customer\" ``` The server rejects invalid queries with an `INVALID_ARGUMENT` error.",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. The maximum number of subscriptions to return. The service might return fewer than this value. If unspecified or set to `0`, up to 50 subscriptions are returned. The maximum value is 100. If you specify a value more than 100, the system only returns 100 subscriptions.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "description": "Lists Google Workspace subscriptions. To learn how to use this method, see [List Google Workspace subscriptions](https://developers.google.com/workspace/events/guides/list-subscriptions).",
          "scopes": [
            "https://www.googleapis.com/auth/chat.bot",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "path": "v1/subscriptions",
          "id": "workspaceevents.subscriptions.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListSubscriptionsResponse"
          },
          "flatPath": "v1/subscriptions",
          "parameterOrder": []
        },
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/subscriptions/{subscriptionsId}",
          "description": "Updates or renews a Google Workspace subscription. To learn how to use this method, see [Update or renew a Google Workspace subscription](https://developers.google.com/workspace/events/guides/update-subscription). For a subscription on a [Chat target resource](https://developers.google.com/workspace/events/guides/events-chat), you can update a subscription as: - A Chat app subscribing to space events where the app is a member by specifying an authorization scope that begins with `chat.app` and getting one-time administrator approval. To learn more, see [Authorize as a Chat app with administrator approval](https://developers.google.com/workspace/chat/authenticate-authorize-chat-app). - [Developer Preview](https://developers.google.com/workspace/preview): A Chat app subscribing to all events in a Google Workspace organization by specifying an authorization scope that begins with `chat.app.all` and getting one-time administrator approval. To learn more, see [Subscribe to all Google Chat events in a Workspace organization ](https://developers.google.com/workspace/events/guides/create-subscription#customer-subscription). - A user by specifying an authorization scope that doesn't include `app` in its name. To learn more, see [Authorize as a Chat user](https://developers.google.com/workspace/chat/authenticate-authorize-chat-user).",
          "request": {
            "$ref": "Subscription"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "validateOnly": {
              "location": "query",
              "description": "Optional. If set to `true`, validates and previews the request, but doesn't update the subscription.",
              "type": "boolean"
            },
            "name": {
              "description": "Identifier. Resource name of the subscription. Format: `subscriptions/{subscription}`",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^subscriptions/[^/]+$"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "Optional. The field to update. If omitted, updates any fields included in the request. You can update one of the following fields in a subscription: * `expire_time`: The timestamp when the subscription expires. * `ttl`: The time-to-live (TTL) or duration of the subscription. * `event_types`: The list of event types to receive about the target resource. When using the `*` wildcard (equivalent to `PUT`), omitted fields are set to empty values and rejected if they're invalid.",
              "location": "query"
            }
          },
          "path": "v1/{+name}",
          "id": "workspaceevents.subscriptions.patch",
          "scopes": [
            "https://www.googleapis.com/auth/chat.app.all.memberships.readonly",
            "https://www.googleapis.com/auth/chat.app.all.messages.readonly",
            "https://www.googleapis.com/auth/chat.app.all.spaces.readonly",
            "https://www.googleapis.com/auth/chat.app.all.users.readstate.readonly",
            "https://www.googleapis.com/auth/chat.app.memberships",
            "https://www.googleapis.com/auth/chat.app.memberships.readonly",
            "https://www.googleapis.com/auth/chat.app.messages.readonly",
            "https://www.googleapis.com/auth/chat.app.spaces",
            "https://www.googleapis.com/auth/chat.app.spaces.readonly",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ]
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/subscriptions/{subscriptionsId}",
          "httpMethod": "DELETE",
          "path": "v1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chat.bot",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "description": "Deletes a Google Workspace subscription. To learn how to use this method, see [Delete a Google Workspace subscription](https://developers.google.com/workspace/events/guides/delete-subscription).",
          "parameters": {
            "allowMissing": {
              "description": "Optional. If set to `true` and the subscription isn't found, the request succeeds but doesn't delete the subscription.",
              "location": "query",
              "type": "boolean"
            },
            "etag": {
              "description": "Optional. Etag of the subscription. If present, it must match with the server's etag. Otherwise, request fails with the status `ABORTED`.",
              "type": "string",
              "location": "query"
            },
            "validateOnly": {
              "description": "Optional. If set to `true`, validates and previews the request, but doesn't delete the subscription.",
              "location": "query",
              "type": "boolean"
            },
            "name": {
              "description": "Required. Resource name of the subscription to delete. Format: `subscriptions/{subscription}`",
              "type": "string",
              "pattern": "^subscriptions/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "id": "workspaceevents.subscriptions.delete"
        },
        "create": {
          "parameters": {
            "validateOnly": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. If set to `true`, validates and previews the request, but doesn't create the subscription."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chat.app.all.memberships.readonly",
            "https://www.googleapis.com/auth/chat.app.all.messages.readonly",
            "https://www.googleapis.com/auth/chat.app.all.spaces.readonly",
            "https://www.googleapis.com/auth/chat.app.all.users.readstate.readonly",
            "https://www.googleapis.com/auth/chat.app.memberships",
            "https://www.googleapis.com/auth/chat.app.memberships.readonly",
            "https://www.googleapis.com/auth/chat.app.messages.readonly",
            "https://www.googleapis.com/auth/chat.app.spaces",
            "https://www.googleapis.com/auth/chat.app.spaces.readonly",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "description": "Creates a Google Workspace subscription. To learn how to use this method, see [Create a Google Workspace subscription](https://developers.google.com/workspace/events/guides/create-subscription). For a subscription on a [Chat target resource](https://developers.google.com/workspace/events/guides/events-chat), you can create a subscription as: - A Chat app subscribing to space events where the app is a member by specifying an authorization scope that begins with `chat.app` and getting one-time administrator approval. To learn more, see [Authorize as a Chat app with administrator approval](https://developers.google.com/workspace/chat/authenticate-authorize-chat-app). - [Developer Preview](https://developers.google.com/workspace/preview): A Chat app subscribing to all events in a Google Workspace organization by specifying an authorization scope that begins with `chat.app.all` and obtaining one-time administrator approval. To learn more, see [Subscribe to all Google Chat events in a Workspace organization ](https://developers.google.com/workspace/events/guides/create-subscription#customer-subscription). - A user by specifying an authorization scope that doesn't include `app` in its name. To learn more, see [Authorize as a Chat user](https://developers.google.com/workspace/chat/authenticate-authorize-chat-user).",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/subscriptions",
          "flatPath": "v1/subscriptions",
          "id": "workspaceevents.subscriptions.create",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "Subscription"
          }
        },
        "reactivate": {
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "ReactivateSubscriptionRequest"
          },
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Resource name of the subscription. Format: `subscriptions/{subscription}`",
              "location": "path",
              "required": true,
              "pattern": "^subscriptions/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chat.app.all.memberships.readonly",
            "https://www.googleapis.com/auth/chat.app.all.messages.readonly",
            "https://www.googleapis.com/auth/chat.app.all.spaces.readonly",
            "https://www.googleapis.com/auth/chat.app.all.users.readstate.readonly",
            "https://www.googleapis.com/auth/chat.app.memberships",
            "https://www.googleapis.com/auth/chat.app.memberships.readonly",
            "https://www.googleapis.com/auth/chat.app.messages.readonly",
            "https://www.googleapis.com/auth/chat.app.spaces",
            "https://www.googleapis.com/auth/chat.app.spaces.readonly",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "id": "workspaceevents.subscriptions.reactivate",
          "flatPath": "v1/subscriptions/{subscriptionsId}:reactivate",
          "parameterOrder": [
            "name"
          ],
          "description": "Reactivates a suspended Google Workspace subscription. This method resets your subscription's `State` field to `ACTIVE`. Before you use this method, you must fix the error that suspended the subscription. This method will ignore or reject any subscription that isn't currently in a suspended state. To learn how to use this method, see [Reactivate a Google Workspace subscription](https://developers.google.com/workspace/events/guides/reactivate-subscription). For a subscription on a [Chat target resource](https://developers.google.com/workspace/events/guides/events-chat), you can reactivate a subscription as: - A Chat app subscribing to space events where the app is a member by specifying an authorization scope that begins with `chat.app` and getting one-time administrator approval. To learn more, see [Authorize as a Chat app with administrator approval](https://developers.google.com/workspace/chat/authenticate-authorize-chat-app). - [Developer Preview](https://developers.google.com/workspace/preview): A Chat app subscribing to all events in a Google Workspace organization by specifying an authorization scope that begins with `chat.app.all` and getting one-time administrator approval. To learn more, see [Subscribe to all Google Chat events in a Workspace organization ](https://developers.google.com/workspace/events/guides/create-subscription#customer-subscription). - A user by specifying an authorization scope that doesn't include `app` in its name. To learn more, see [Authorize as a Chat user](https://developers.google.com/workspace/chat/authenticate-authorize-chat-user).",
          "path": "v1/{+name}:reactivate",
          "httpMethod": "POST"
        },
        "get": {
          "flatPath": "v1/subscriptions/{subscriptionsId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Resource name of the subscription. Format: `subscriptions/{subscription}`",
              "pattern": "^subscriptions/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chat.bot",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "response": {
            "$ref": "Subscription"
          },
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "description": "Gets details about a Google Workspace subscription. To learn how to use this method, see [Get details about a Google Workspace subscription](https://developers.google.com/workspace/events/guides/get-subscription).",
          "id": "workspaceevents.subscriptions.get"
        }
      }
    },
    "tasks": {
      "resources": {
        "pushNotificationConfigs": {
          "methods": {
            "get": {
              "description": "Get a push notification config for a task.",
              "id": "workspaceevents.tasks.pushNotificationConfigs.get",
              "response": {
                "$ref": "TaskPushNotificationConfig"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "tenant": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
                },
                "name": {
                  "description": "The resource name of the config to retrieve. Format: tasks/{task_id}/pushNotificationConfigs/{config_id}",
                  "type": "string",
                  "pattern": "^tasks/[^/]+/pushNotificationConfigs/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/tasks/{tasksId}/pushNotificationConfigs/{pushNotificationConfigsId}"
            },
            "list": {
              "flatPath": "v1/tasks/{tasksId}/pushNotificationConfigs",
              "path": "v1/{+parent}/pushNotificationConfigs",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "A page token received from a previous ListTaskPushNotificationConfigRequest call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTaskPushNotificationConfigRequest` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "The parent task resource. Format: tasks/{task_id}",
                  "pattern": "^tasks/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "For AIP-158 these fields are present. Usually not used/needed. The maximum number of configurations to return. If unspecified, all configs will be returned.",
                  "type": "integer",
                  "format": "int32"
                },
                "tenant": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
                }
              },
              "id": "workspaceevents.tasks.pushNotificationConfigs.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Get a list of push notifications configured for a task.",
              "response": {
                "$ref": "ListTaskPushNotificationConfigResponse"
              }
            },
            "delete": {
              "parameters": {
                "tenant": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
                },
                "name": {
                  "pattern": "^tasks/[^/]+/pushNotificationConfigs/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The resource name of the config to delete. Format: tasks/{task_id}/pushNotificationConfigs/{config_id}"
                }
              },
              "flatPath": "v1/tasks/{tasksId}/pushNotificationConfigs/{pushNotificationConfigsId}",
              "httpMethod": "DELETE",
              "description": "Delete a push notification config for a task.",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "workspaceevents.tasks.pushNotificationConfigs.delete"
            },
            "create": {
              "id": "workspaceevents.tasks.pushNotificationConfigs.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "TaskPushNotificationConfig"
              },
              "description": "Set a push notification config for a task.",
              "flatPath": "v1/tasks/{tasksId}/pushNotificationConfigs",
              "path": "v1/{+parent}",
              "response": {
                "$ref": "TaskPushNotificationConfig"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent task resource for this config. Format: tasks/{task_id}",
                  "pattern": "^tasks/[^/]+/pushNotificationConfigs$"
                },
                "configId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The ID for the new config."
                },
                "tenant": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
                }
              }
            }
          }
        }
      },
      "methods": {
        "cancel": {
          "response": {
            "$ref": "Task"
          },
          "description": "Cancel a task from the agent. If supported one should expect no more task updates for the task.",
          "httpMethod": "POST",
          "request": {
            "$ref": "CancelTaskRequest"
          },
          "flatPath": "v1/tasks/{tasksId}:cancel",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}:cancel",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^tasks/[^/]+$",
              "type": "string",
              "description": "The resource name of the task to cancel. Format: tasks/{task_id}"
            }
          },
          "id": "workspaceevents.tasks.cancel"
        },
        "subscribe": {
          "parameters": {
            "tenant": {
              "type": "string",
              "location": "query",
              "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
            },
            "name": {
              "location": "path",
              "required": true,
              "description": "The resource name of the task to subscribe to. Format: tasks/{task_id}",
              "type": "string",
              "pattern": "^tasks/[^/]+$"
            }
          },
          "flatPath": "v1/tasks/{tasksId}:subscribe",
          "httpMethod": "GET",
          "description": "TaskSubscription is a streaming call that will return a stream of task update events. This attaches the stream to an existing in process task. If the task is complete the stream will return the completed task (like GetTask) and close the stream.",
          "id": "workspaceevents.tasks.subscribe",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}:subscribe",
          "response": {
            "$ref": "StreamResponse"
          }
        },
        "get": {
          "description": "Get the current state of a task from the agent.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Task"
          },
          "id": "workspaceevents.tasks.get",
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "parameters": {
            "tenant": {
              "location": "query",
              "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
              "type": "string"
            },
            "name": {
              "description": "Required. The resource name of the task. Format: tasks/{task_id}",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^tasks/[^/]+$"
            },
            "historyLength": {
              "location": "query",
              "description": "The number of most recent messages from the task's history to retrieve.",
              "format": "int32",
              "type": "integer"
            }
          },
          "flatPath": "v1/tasks/{tasksId}"
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "flatPath": "v1/operations/{operationsId}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The name of the operation resource."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chat.bot",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "id": "workspaceevents.operations.get",
          "path": "v1/{+name}",
          "httpMethod": "GET"
        }
      }
    }
  },
  "servicePath": "",
  "protocol": "rest",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "kind": "discovery#restDescription",
  "description": "The Google Workspace Events API lets you subscribe to events and manage change notifications across Google Workspace applications.",
  "title": "Google Workspace Events API",
  "name": "workspaceevents"
}
