{
  "id": "workspaceevents:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chat.users.readstate": {
          "description": "View and modify last read time for Google Chat conversations"
        },
        "https://www.googleapis.com/auth/chat.users.availability.readonly": {
          "description": "See your availability status in Google Chat."
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/chat.app.all.memberships.readonly": {
          "description": "On their own behalf, apps in Google Chat can see all members in Google Chat spaces and conversations throughout your Workspace organization, even when the Chat app isn't a member"
        },
        "https://www.googleapis.com/auth/chat.spaces": {
          "description": "Create conversations and spaces and see or update metadata (including history settings and access settings) in Google Chat"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/chat.app.all.messages.readonly": {
          "description": "On their own behalf, apps in Google Chat can see all messages and reactions throughout your Workspace organization, even when the Chat app isn't a member of a space or conversation"
        },
        "https://www.googleapis.com/auth/meetings.space.created": {
          "description": "Create, edit, and see information about your Google Meet conferences created by the app."
        },
        "https://www.googleapis.com/auth/chat.users.readstate.readonly": {
          "description": "View last read time for Google Chat conversations"
        },
        "https://www.googleapis.com/auth/chat.users.availability": {
          "description": "See and change your availability status in Google Chat."
        },
        "https://www.googleapis.com/auth/chat.messages.reactions": {
          "description": "See, add, and delete reactions as well as their reaction content to messages in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.memberships": {
          "description": "See, add, update, and remove members from conversations and spaces in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.messages.readonly": {
          "description": "See messages as well as their reactions and message content in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.app.spaces": {
          "description": "On their own behalf, apps in Google Chat can create conversations and spaces and see or update their metadata (including history settings and access settings)"
        },
        "https://www.googleapis.com/auth/chat.bot": {
          "description": "Private Service: https://www.googleapis.com/auth/chat.bot"
        },
        "https://www.googleapis.com/auth/chat.app.messages.readonly": {
          "description": "On their own behalf, apps in Google Chat can see all messages and their associated reactions and message content"
        },
        "https://www.googleapis.com/auth/chat.app.memberships.readonly": {
          "description": "On their own behalf, apps in Google Chat can see members of conversations and spaces"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/chat.app.all.spaces.readonly": {
          "description": "On their own behalf, apps in Google Chat can see metadata about all spaces and conversations in Google Chat throughout your Workspace organization, even when the Chat app isn't a member"
        },
        "https://www.googleapis.com/auth/meetings.space.readonly": {
          "description": "Read information about any of your Google Meet conferences"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/chat.messages.reactions.readonly": {
          "description": "View reactions as well as their reaction content to messages in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.app.memberships": {
          "description": "On their own behalf, apps in Google Chat can see, add, update, and remove members from conversations and spaces"
        },
        "https://www.googleapis.com/auth/chat.spaces.readonly": {
          "description": "View chat and spaces in Google Chat"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/chat.app.spaces.readonly": {
          "description": "On their own behalf, apps in Google Chat can see conversations and spaces and their metadata (including history settings and access settings)"
        },
        "https://www.googleapis.com/auth/chat.app.all.users.readstate.readonly": {
          "description": "On their own behalf, apps in Google Chat can see the last read time for all users in all spaces and conversations throughout your Workspace organization, even when the Chat app isn't a member."
        },
        "https://www.googleapis.com/auth/chat.memberships.readonly": {
          "description": "View members in Google Chat conversations."
        },
        "https://www.googleapis.com/auth/chat.messages": {
          "description": "See, compose, send, update, and delete messages as well as their message content; add, see, and delete reactions to messages."
        }
      }
    }
  },
  "baseUrl": "https://workspaceevents.googleapis.com/",
  "version": "v1",
  "canonicalName": "Workspace Events",
  "documentationLink": "https://developers.google.com/workspace/events",
  "description": "The Google Workspace Events API lets you subscribe to events and manage change notifications across Google Workspace applications.",
  "protocol": "rest",
  "name": "workspaceevents",
  "discoveryVersion": "v1",
  "schemas": {
    "NotificationEndpoint": {
      "type": "object",
      "description": "The endpoint where the subscription delivers events.",
      "id": "NotificationEndpoint",
      "properties": {
        "pubsubTopic": {
          "type": "string",
          "description": "Immutable. The Pub/Sub topic that receives events for the subscription. Format: `projects/{project}/topics/{topic}` You must create the topic in the same Google Cloud project where you create this subscription. Note: The Google Workspace Events API uses [ordering keys](https://cloud.google.com/pubsub/docs/ordering) for the benefit of sequential events. If the Cloud Pub/Sub topic has a [message storage policy](https://cloud.google.com/pubsub/docs/resource-location-restriction#exceptions) configured to exclude the nearest Google Cloud region, publishing events with ordering keys will fail. When the topic receives events, the events are encoded as Pub/Sub messages. For details, see the [Google Cloud Pub/Sub Protocol Binding for CloudEvents](https://github.com/googleapis/google-cloudevents/blob/main/docs/spec/pubsub.md)."
        }
      }
    },
    "Part": {
      "description": "Part represents a container for a section of communication content. Parts can be purely textual, some sort of file (image, video, etc) or a structured data blob (i.e. JSON).",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "data": {
          "$ref": "DataPart"
        },
        "file": {
          "$ref": "FilePart"
        },
        "metadata": {
          "type": "object",
          "description": "Optional metadata associated with this part.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "Part"
    },
    "ReactivateSubscriptionRequest": {
      "type": "object",
      "properties": {},
      "description": "The request message for SubscriptionsService.ReactivateSubscription.",
      "id": "ReactivateSubscriptionRequest"
    },
    "PayloadOptions": {
      "type": "object",
      "properties": {
        "fieldMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. If `include_resource` is set to `true`, the list of fields to include in the event payload. Separate fields with a comma. For example, to include a Google Chat message's sender and create time, enter `message.sender,message.createTime`. If omitted, the payload includes all fields for the resource. If you specify a field that doesn't exist for the resource, the system ignores the field."
        },
        "includeResource": {
          "description": "Optional. Whether the event payload includes data about the resource that changed. For example, for an event where a Google Chat message was created, whether the payload contains data about the [`Message`](https://developers.google.com/chat/api/reference/rest/v1/spaces.messages) resource. If false, the event payload only includes the name of the changed resource.",
          "type": "boolean"
        }
      },
      "description": "Options about what data to include in the event payload. Only supported for Google Chat and Google Drive events.",
      "id": "PayloadOptions"
    },
    "Message": {
      "properties": {
        "contextId": {
          "type": "string",
          "description": "The context id of the message. This is optional and if set, the message will be associated with the given context."
        },
        "content": {
          "type": "array",
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Content is the container of the message content.",
          "items": {
            "$ref": "Part"
          }
        },
        "messageId": {
          "type": "string",
          "description": "The unique identifier (e.g. UUID)of the message. This is required and created by the message creator."
        },
        "role": {
          "description": "A role for the message.",
          "type": "string",
          "enumDescriptions": [
            "",
            "USER role refers to communication from the client to the server.",
            "AGENT role refers to communication from the server to the client."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ]
        },
        "extensions": {
          "items": {
            "type": "string"
          },
          "description": "The URIs of extensions that are present or contributed to this Message.",
          "type": "array"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED Any optional metadata to provide along with the message.",
          "type": "object"
        },
        "taskId": {
          "description": "The task id of the message. This is optional and if set, the message will be associated with the given task.",
          "type": "string"
        }
      },
      "id": "Message",
      "type": "object",
      "description": "Message is one unit of communication between client and server. It is associated with a context and optionally a task. Since the server is responsible for the context definition, it must always provide a context_id in its messages. The client can optionally provide the context_id if it knows the context to associate the message to. Similarly for task_id, except the server decides if a task is created and whether to include the task_id."
    },
    "Task": {
      "type": "object",
      "description": "Task is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history.",
      "properties": {
        "metadata": {
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "Unique identifier (e.g. UUID) for the task, generated by the server for a new task."
        },
        "artifacts": {
          "description": "A set of output artifacts for a Task.",
          "type": "array",
          "items": {
            "$ref": "Artifact"
          }
        },
        "history": {
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a task.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "status": {
          "$ref": "TaskStatus",
          "description": "The current status of a Task, including state and a message."
        },
        "contextId": {
          "description": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages). Created by the A2A server.",
          "type": "string"
        }
      },
      "id": "Task"
    },
    "Artifact": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional metadata included with the artifact.",
          "type": "object"
        },
        "name": {
          "description": "A human readable name for the artifact.",
          "type": "string"
        },
        "artifactId": {
          "description": "Unique identifier (e.g. UUID) for the artifact. It must be at least unique within a task.",
          "type": "string"
        },
        "description": {
          "description": "A human readable description of the artifact, optional.",
          "type": "string"
        },
        "extensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The URIs of extensions that are present or contributed to this Artifact."
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "Part"
          },
          "description": "The content of the artifact."
        }
      },
      "id": "Artifact",
      "type": "object",
      "description": "Artifacts are the container for task completed results. These are similar to Messages but are intended to be the product of a task, as opposed to point-to-point communication."
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      }
    },
    "PushNotificationConfig": {
      "properties": {
        "id": {
          "description": "A unique identifier (e.g. UUID) for this push notification.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Url to send the notification too"
        },
        "token": {
          "type": "string",
          "description": "Token unique for this task/session"
        },
        "authentication": {
          "description": "Information about the authentication to sent with the notification",
          "$ref": "AuthenticationInfo"
        }
      },
      "id": "PushNotificationConfig",
      "description": "Configuration for setting up push notifications for task updates.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "ListSubscriptionsResponse": {
      "id": "ListSubscriptionsResponse",
      "description": "The response message for SubscriptionsService.ListSubscriptions.",
      "type": "object",
      "properties": {
        "subscriptions": {
          "description": "List of subscriptions.",
          "items": {
            "$ref": "Subscription"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Subscription": {
      "description": "A subscription to receive events about a Google Workspace resource. To learn more about subscriptions, see the [Google Workspace Events API overview](https://developers.google.com/workspace/events).",
      "id": "Subscription",
      "type": "object",
      "properties": {
        "authority": {
          "description": "Output only. The user who authorized the creation of the subscription. When a user authorizes the subscription, this field and the `user_authority` field have the same value and the format is: Format: `users/{user}` For Google Workspace users, the `{user}` value is the [`user.id`](https://developers.google.com/admin-sdk/directory/reference/rest/v1/users#User.FIELDS.ids) field from the Directory API. When a Chat app authorizes the subscription, only `service_account_authority` field populates and this field is empty.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The last time that the subscription is updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "eventTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Unordered list. Input for creating a subscription. Otherwise, output only. One or more types of events to receive about the target resource. Formatted according to the CloudEvents specification. The supported event types depend on the target resource of your subscription. For details, see [Supported Google Workspace events](https://developers.google.com/workspace/events/guides#supported-events). By default, you also receive events about the [lifecycle of your subscription](https://developers.google.com/workspace/events/guides/events-lifecycle). You don't need to specify lifecycle events for this field. If you specify an event type that doesn't exist for the target resource, the request returns an HTTP `400 Bad Request` status code."
        },
        "targetResource": {
          "type": "string",
          "description": "Required. Immutable. The Google Workspace resource that's monitored for events, formatted as the [full resource name](https://google.aip.dev/122#full-resource-names). To learn about target resources and the events that they support, see [Supported Google Workspace events](https://developers.google.com/workspace/events#supported-events). A user can only authorize your app to create one subscription for a given target resource. If your app tries to create another subscription with the same user credentials, the request returns an `ALREADY_EXISTS` error."
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Non-empty default. The timestamp in UTC when the subscription expires. Always displayed on output, regardless of what was used on input."
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and might be sent on update requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "description": "Input only. The time-to-live (TTL) or duration for the subscription. If unspecified or set to `0`, uses the maximum possible duration.",
          "format": "google-duration"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System-assigned unique identifier for the subscription."
        },
        "notificationEndpoint": {
          "description": "Required. Immutable. The endpoint where the subscription delivers events, such as a Pub/Sub topic.",
          "$ref": "NotificationEndpoint"
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. If `true`, the subscription is in the process of being updated.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name of the subscription. Format: `subscriptions/{subscription}`",
          "type": "string"
        },
        "serviceAccountAuthority": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The service account that was used to authorize the creation of the subscription. This service account must be owned by the same Google Cloud project where you created this subscription. Format: `projects/{project_id}/serviceAccounts/{service_account_id}`"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the subscription is created."
        },
        "suspensionReason": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The authorizing user has revoked the grant of one or more OAuth scopes. To learn more about authorization for Google Workspace, see [Configure the OAuth consent screen](https://developers.google.com/workspace/guides/configure-oauth-consent#choose-scopes).",
            "The domain administrator has revoked the grant of one or more OAuth scopes for the app.",
            "The target resource for the subscription no longer exists.",
            "The user that authorized the creation of the subscription no longer has access to the subscription's target resource.",
            "The app that authorized the creation of the subscription no longer has access to the subscription's target resource.",
            "The Google Workspace application doesn't have access to deliver events to your subscription's notification endpoint.",
            "The subscription's notification endpoint doesn't exist, or the endpoint can't be found in the Google Cloud project where you created the subscription.",
            "The subscription's notification endpoint failed to receive events due to insufficient quota or reaching rate limiting.",
            "An unidentified error has occurred."
          ],
          "readOnly": true,
          "description": "Output only. The error that suspended the subscription. To reactivate the subscription, resolve the error and call the `ReactivateSubscription` method.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "USER_SCOPE_REVOKED",
            "APP_SCOPE_REVOKED",
            "RESOURCE_DELETED",
            "USER_AUTHORIZATION_FAILURE",
            "APP_AUTHORIZATION_FAILURE",
            "ENDPOINT_PERMISSION_DENIED",
            "ENDPOINT_NOT_FOUND",
            "ENDPOINT_RESOURCE_EXHAUSTED",
            "OTHER"
          ],
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the subscription. Determines whether the subscription can receive events and deliver them to the notification endpoint.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The subscription is active and can receive and deliver events to its notification endpoint.",
            "The subscription is unable to receive events due to an error. To identify the error, see the `suspension_reason` field.",
            "The subscription is deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED",
            "DELETED"
          ],
          "type": "string",
          "readOnly": true
        },
        "userAuthority": {
          "readOnly": true,
          "description": "Output only. The user who authorized the creation of the subscription. The user must be able to view the `target_resource`. For Google Workspace users, the `{user}` value is the [`user.id`](https://developers.google.com/workspace/admin/directory/reference/rest/v1/users#User.FIELDS.id) field from the Directory API. Format: `users/{user}`",
          "type": "string"
        },
        "payloadOptions": {
          "description": "Optional. Options about what data to include in the event payload. Only supported for Google Chat and Google Drive events.",
          "$ref": "PayloadOptions"
        },
        "driveOptions": {
          "$ref": "DriveOptions",
          "description": "Optional. Features that are supported only for subscriptions on Drive resources."
        }
      }
    },
    "SendMessageConfiguration": {
      "type": "object",
      "description": "Configuration of a send message request.",
      "properties": {
        "historyLength": {
          "format": "int32",
          "description": "The maximum number of messages to include in the history. if 0, the history will be unlimited.",
          "type": "integer"
        },
        "acceptedOutputModes": {
          "items": {
            "type": "string"
          },
          "description": "The output modes that the agent is expected to respond with.",
          "type": "array"
        },
        "blocking": {
          "type": "boolean",
          "description": "If true, the message will be blocking until the task is completed. If false, the message will be non-blocking and the task will be returned immediately. It is the caller's responsibility to check for any task updates."
        },
        "pushNotification": {
          "description": "A configuration of a webhook that can be used to receive updates",
          "$ref": "PushNotificationConfig"
        }
      },
      "id": "SendMessageConfiguration"
    },
    "AuthenticationInfo": {
      "description": "Defines authentication details, used for push notifications.",
      "properties": {
        "credentials": {
          "description": "Optional credentials",
          "type": "string"
        },
        "schemes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Supported authentication schemes - e.g. Basic, Bearer, etc"
        }
      },
      "id": "AuthenticationInfo",
      "type": "object"
    },
    "CancelTaskRequest": {
      "id": "CancelTaskRequest",
      "properties": {
        "tenant": {
          "type": "string",
          "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
        }
      },
      "type": "object"
    },
    "DataPart": {
      "id": "DataPart",
      "description": "DataPart represents a structured blob. This is most commonly a JSON payload.",
      "properties": {
        "data": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "TaskStatus": {
      "description": "A container for the status of a task",
      "type": "object",
      "id": "TaskStatus",
      "properties": {
        "message": {
          "description": "A message associated with the status.",
          "$ref": "Message"
        },
        "timestamp": {
          "description": "Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\"",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The current state of this task",
          "enumDescriptions": [
            "",
            "Represents the status that acknowledges a task is created",
            "Represents the status that a task is actively being processed",
            "Represents the status a task is finished. This is a terminal state",
            "Represents the status a task is done but failed. This is a terminal state",
            "Represents the status a task was cancelled before it finished. This is a terminal state.",
            "Represents the status that the task requires information to complete. This is an interrupted state.",
            "Represents the status that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Represents the state that some authentication is needed from the upstream client. Authentication is expected to come out-of-band thus this is not an interrupted or terminal state."
          ],
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELLED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ]
        }
      }
    },
    "TaskPushNotificationConfig": {
      "properties": {
        "pushNotificationConfig": {
          "$ref": "PushNotificationConfig",
          "description": "The push notification configuration details."
        },
        "name": {
          "description": "The resource name of the config. Format: tasks/{task_id}/pushNotificationConfigs/{config_id}",
          "type": "string"
        }
      },
      "id": "TaskPushNotificationConfig",
      "type": "object"
    },
    "FilePart": {
      "id": "FilePart",
      "type": "object",
      "description": "FilePart represents the different ways files can be provided. If files are small, directly feeding the bytes is supported via file_with_bytes. If the file is large, the agent should read the content as appropriate directly from the file_with_uri source.",
      "properties": {
        "fileWithBytes": {
          "type": "string",
          "format": "byte"
        },
        "fileWithUri": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "mimeType": {
          "type": "string"
        }
      }
    },
    "TaskStatusUpdateEvent": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Optional metadata to associate with the task update.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "contextId": {
          "type": "string",
          "description": "The id of the context that the task belongs to"
        },
        "status": {
          "description": "The new status of the task.",
          "$ref": "TaskStatus"
        },
        "taskId": {
          "description": "The id of the task that is changed",
          "type": "string"
        },
        "final": {
          "type": "boolean",
          "description": "Whether this is the last status update expected for this task."
        }
      },
      "description": "TaskStatusUpdateEvent is a delta even on a task indicating that a task has changed.",
      "id": "TaskStatusUpdateEvent"
    },
    "ListTaskPushNotificationConfigResponse": {
      "properties": {
        "configs": {
          "description": "The list of push notification configurations.",
          "type": "array",
          "items": {
            "$ref": "TaskPushNotificationConfig"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListTaskPushNotificationConfigResponse",
      "type": "object"
    },
    "StreamResponse": {
      "properties": {
        "task": {
          "$ref": "Task"
        },
        "statusUpdate": {
          "$ref": "TaskStatusUpdateEvent"
        },
        "message": {
          "$ref": "Message"
        },
        "artifactUpdate": {
          "$ref": "TaskArtifactUpdateEvent"
        }
      },
      "id": "StreamResponse",
      "description": "The stream response for a message. The stream should be one of the following sequences: If the response is a message, the stream should contain one, and only one, message and then close If the response is a task lifecycle, the first response should be a Task object followed by zero or more TaskStatusUpdateEvents and TaskArtifactUpdateEvents. The stream should complete when the Task if in an interrupted or terminal state. A stream that ends before these conditions are met are",
      "type": "object"
    },
    "DriveOptions": {
      "type": "object",
      "properties": {
        "includeDescendants": {
          "type": "boolean",
          "description": "Optional. Immutable. For subscriptions to Google Drive events, whether to receive events about Drive files that are children of the target folder or shared drive. This field must be `true` for subscriptions on shared drives. * If `false`, the subscription only receives events about changes to the folder or shared drive that's specified as the `targetResource`. * If `true`, the `mimeType` field of the `file` resource must be set to `application/vnd.google-apps.folder`. For details, see [Google Drive event types](https://developers.google.com/workspace/events/guides/events-drive#event-types)."
        }
      },
      "description": "Additional supported options for serving Drive events.",
      "id": "DriveOptions"
    },
    "TaskArtifactUpdateEvent": {
      "id": "TaskArtifactUpdateEvent",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional metadata associated with the artifact update."
        },
        "append": {
          "description": "Whether this should be appended to a prior one produced",
          "type": "boolean"
        },
        "contextId": {
          "description": "The id of the context that this task belongs too",
          "type": "string"
        },
        "lastChunk": {
          "type": "boolean",
          "description": "Whether this represents the last part of an artifact"
        },
        "artifact": {
          "$ref": "Artifact",
          "description": "The artifact itself"
        },
        "taskId": {
          "type": "string",
          "description": "The id of the task for this artifact"
        }
      },
      "type": "object",
      "description": "TaskArtifactUpdateEvent represents a task delta where an artifact has been generated."
    },
    "SendMessageRequest": {
      "id": "SendMessageRequest",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional metadata for the request."
        },
        "message": {
          "description": "Required. The message to send to the agent.",
          "$ref": "Message"
        },
        "configuration": {
          "$ref": "SendMessageConfiguration",
          "description": "Configuration for the send request."
        },
        "tenant": {
          "type": "string",
          "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
        }
      },
      "description": "/////////// Request Messages ///////////",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    }
  },
  "version_module": true,
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://workspaceevents.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260906",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "resources": {
    "subscriptions": {
      "methods": {
        "create": {
          "id": "workspaceevents.subscriptions.create",
          "scopes": [
            "https://www.googleapis.com/auth/chat.app.all.memberships.readonly",
            "https://www.googleapis.com/auth/chat.app.all.messages.readonly",
            "https://www.googleapis.com/auth/chat.app.all.spaces.readonly",
            "https://www.googleapis.com/auth/chat.app.all.users.readstate.readonly",
            "https://www.googleapis.com/auth/chat.app.memberships",
            "https://www.googleapis.com/auth/chat.app.memberships.readonly",
            "https://www.googleapis.com/auth/chat.app.messages.readonly",
            "https://www.googleapis.com/auth/chat.app.spaces",
            "https://www.googleapis.com/auth/chat.app.spaces.readonly",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "request": {
            "$ref": "Subscription"
          },
          "flatPath": "v1/subscriptions",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "validateOnly": {
              "description": "Optional. If set to `true`, validates and previews the request, but doesn't create the subscription.",
              "type": "boolean",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "path": "v1/subscriptions",
          "httpMethod": "POST",
          "description": "Creates a Google Workspace subscription. To learn how to use this method, see [Create a Google Workspace subscription](https://developers.google.com/workspace/events/guides/create-subscription). For a subscription on a [Chat target resource](https://developers.google.com/workspace/events/guides/events-chat), you can create a subscription as: - A Chat app subscribing to space events where the app is a member by specifying an authorization scope that begins with `chat.app` and getting one-time administrator approval. To learn more, see [Authorize as a Chat app with administrator approval](https://developers.google.com/workspace/chat/authenticate-authorize-chat-app). - [Developer Preview](https://developers.google.com/workspace/preview): A Chat app subscribing to all events in a Google Workspace organization by specifying an authorization scope that begins with `chat.app.all` and obtaining one-time administrator approval. To learn more, see [Subscribe to all Google Chat events in a Workspace organization ](https://developers.google.com/workspace/events/guides/create-subscription#customer-subscription). - A user by specifying an authorization scope that doesn't include `app` in its name. To learn more, see [Authorize as a Chat user](https://developers.google.com/workspace/chat/authenticate-authorize-chat-user)."
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/chat.bot",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "flatPath": "v1/subscriptions/{subscriptionsId}",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "DELETE",
          "parameters": {
            "validateOnly": {
              "description": "Optional. If set to `true`, validates and previews the request, but doesn't delete the subscription.",
              "type": "boolean",
              "location": "query"
            },
            "allowMissing": {
              "description": "Optional. If set to `true` and the subscription isn't found, the request succeeds but doesn't delete the subscription.",
              "location": "query",
              "type": "boolean"
            },
            "etag": {
              "location": "query",
              "type": "string",
              "description": "Optional. Etag of the subscription. If present, it must match with the server's etag. Otherwise, request fails with the status `ABORTED`."
            },
            "name": {
              "description": "Required. Resource name of the subscription to delete. Format: `subscriptions/{subscription}`",
              "type": "string",
              "pattern": "^subscriptions/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "description": "Deletes a Google Workspace subscription. To learn how to use this method, see [Delete a Google Workspace subscription](https://developers.google.com/workspace/events/guides/delete-subscription).",
          "id": "workspaceevents.subscriptions.delete"
        },
        "list": {
          "id": "workspaceevents.subscriptions.list",
          "response": {
            "$ref": "ListSubscriptionsResponse"
          },
          "description": "Lists Google Workspace subscriptions. To learn how to use this method, see [List Google Workspace subscriptions](https://developers.google.com/workspace/events/guides/list-subscriptions).",
          "parameterOrder": [],
          "path": "v1/subscriptions",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of subscriptions to return. The service might return fewer than this value. If unspecified or set to `0`, up to 50 subscriptions are returned. The maximum value is 100. If you specify a value more than 100, the system only returns 100 subscriptions.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous list subscriptions call. Provide this parameter to retrieve the subsequent page. When paginating, the filter value should match the call that provided the page token. Passing a different value might lead to unexpected results.",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "description": "Required. A query filter. You can filter subscriptions by event type (`event_types`) and target resource (`target_resource`). You must specify at least one event type in your query. To filter for multiple event types, use the `OR` operator. To filter by both event type and target resource, use the `AND` operator and specify the full resource name, such as `//chat.googleapis.com/spaces/{space}`. For example, the following queries are valid: ``` event_types:\"google.workspace.chat.membership.v1.updated\" OR event_types:\"google.workspace.chat.message.v1.created\" event_types:\"google.workspace.chat.message.v1.created\" AND target_resource=\"//chat.googleapis.com/spaces/{space}\" ( event_types:\"google.workspace.chat.membership.v1.updated\" OR event_types:\"google.workspace.chat.message.v1.created\" ) AND target_resource=\"//chat.googleapis.com/spaces/{space}\" ``` The following query is available in [Developer Preview](https://developers.google.com/workspace/preview): ``` event_types:\"google.workspace.chat.message.v1.created\" AND target_resource=\"//admin.googleapis.com/customers/my_customer\" ``` The server rejects invalid queries with an `INVALID_ARGUMENT` error.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chat.bot",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/subscriptions"
        },
        "patch": {
          "path": "v1/{+name}",
          "request": {
            "$ref": "Subscription"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chat.app.all.memberships.readonly",
            "https://www.googleapis.com/auth/chat.app.all.messages.readonly",
            "https://www.googleapis.com/auth/chat.app.all.spaces.readonly",
            "https://www.googleapis.com/auth/chat.app.all.users.readstate.readonly",
            "https://www.googleapis.com/auth/chat.app.memberships",
            "https://www.googleapis.com/auth/chat.app.memberships.readonly",
            "https://www.googleapis.com/auth/chat.app.messages.readonly",
            "https://www.googleapis.com/auth/chat.app.spaces",
            "https://www.googleapis.com/auth/chat.app.spaces.readonly",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "id": "workspaceevents.subscriptions.patch",
          "flatPath": "v1/subscriptions/{subscriptionsId}",
          "description": "Updates or renews a Google Workspace subscription. To learn how to use this method, see [Update or renew a Google Workspace subscription](https://developers.google.com/workspace/events/guides/update-subscription). For a subscription on a [Chat target resource](https://developers.google.com/workspace/events/guides/events-chat), you can update a subscription as: - A Chat app subscribing to space events where the app is a member by specifying an authorization scope that begins with `chat.app` and getting one-time administrator approval. To learn more, see [Authorize as a Chat app with administrator approval](https://developers.google.com/workspace/chat/authenticate-authorize-chat-app). - [Developer Preview](https://developers.google.com/workspace/preview): A Chat app subscribing to all events in a Google Workspace organization by specifying an authorization scope that begins with `chat.app.all` and getting one-time administrator approval. To learn more, see [Subscribe to all Google Chat events in a Workspace organization ](https://developers.google.com/workspace/events/guides/create-subscription#customer-subscription). - A user by specifying an authorization scope that doesn't include `app` in its name. To learn more, see [Authorize as a Chat user](https://developers.google.com/workspace/chat/authenticate-authorize-chat-user).",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "Optional. The field to update. If omitted, updates any fields included in the request. You can update one of the following fields in a subscription: * `expire_time`: The timestamp when the subscription expires. * `ttl`: The time-to-live (TTL) or duration of the subscription. * `event_types`: The list of event types to receive about the target resource. When using the `*` wildcard (equivalent to `PUT`), omitted fields are set to empty values and rejected if they're invalid."
            },
            "validateOnly": {
              "type": "boolean",
              "description": "Optional. If set to `true`, validates and previews the request, but doesn't update the subscription.",
              "location": "query"
            },
            "name": {
              "description": "Identifier. Resource name of the subscription. Format: `subscriptions/{subscription}`",
              "pattern": "^subscriptions/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PATCH"
        },
        "reactivate": {
          "path": "v1/{+name}:reactivate",
          "httpMethod": "POST",
          "description": "Reactivates a suspended Google Workspace subscription. This method resets your subscription's `State` field to `ACTIVE`. Before you use this method, you must fix the error that suspended the subscription. This method will ignore or reject any subscription that isn't currently in a suspended state. To learn how to use this method, see [Reactivate a Google Workspace subscription](https://developers.google.com/workspace/events/guides/reactivate-subscription). For a subscription on a [Chat target resource](https://developers.google.com/workspace/events/guides/events-chat), you can reactivate a subscription as: - A Chat app subscribing to space events where the app is a member by specifying an authorization scope that begins with `chat.app` and getting one-time administrator approval. To learn more, see [Authorize as a Chat app with administrator approval](https://developers.google.com/workspace/chat/authenticate-authorize-chat-app). - [Developer Preview](https://developers.google.com/workspace/preview): A Chat app subscribing to all events in a Google Workspace organization by specifying an authorization scope that begins with `chat.app.all` and getting one-time administrator approval. To learn more, see [Subscribe to all Google Chat events in a Workspace organization ](https://developers.google.com/workspace/events/guides/create-subscription#customer-subscription). - A user by specifying an authorization scope that doesn't include `app` in its name. To learn more, see [Authorize as a Chat user](https://developers.google.com/workspace/chat/authenticate-authorize-chat-user).",
          "scopes": [
            "https://www.googleapis.com/auth/chat.app.all.memberships.readonly",
            "https://www.googleapis.com/auth/chat.app.all.messages.readonly",
            "https://www.googleapis.com/auth/chat.app.all.spaces.readonly",
            "https://www.googleapis.com/auth/chat.app.all.users.readstate.readonly",
            "https://www.googleapis.com/auth/chat.app.memberships",
            "https://www.googleapis.com/auth/chat.app.memberships.readonly",
            "https://www.googleapis.com/auth/chat.app.messages.readonly",
            "https://www.googleapis.com/auth/chat.app.spaces",
            "https://www.googleapis.com/auth/chat.app.spaces.readonly",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Resource name of the subscription. Format: `subscriptions/{subscription}`",
              "type": "string",
              "pattern": "^subscriptions/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v1/subscriptions/{subscriptionsId}:reactivate",
          "response": {
            "$ref": "Operation"
          },
          "id": "workspaceevents.subscriptions.reactivate",
          "request": {
            "$ref": "ReactivateSubscriptionRequest"
          }
        },
        "get": {
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^subscriptions/[^/]+$",
              "description": "Required. Resource name of the subscription. Format: `subscriptions/{subscription}`",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Subscription"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/chat.bot",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "description": "Gets details about a Google Workspace subscription. To learn how to use this method, see [Get details about a Google Workspace subscription](https://developers.google.com/workspace/events/guides/get-subscription).",
          "flatPath": "v1/subscriptions/{subscriptionsId}",
          "id": "workspaceevents.subscriptions.get"
        }
      }
    },
    "tasks": {
      "resources": {
        "pushNotificationConfigs": {
          "methods": {
            "get": {
              "flatPath": "v1/tasks/{tasksId}/pushNotificationConfigs/{pushNotificationConfigsId}",
              "parameters": {
                "name": {
                  "description": "The resource name of the config to retrieve. Format: tasks/{task_id}/pushNotificationConfigs/{config_id}",
                  "pattern": "^tasks/[^/]+/pushNotificationConfigs/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "tenant": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
                }
              },
              "response": {
                "$ref": "TaskPushNotificationConfig"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "workspaceevents.tasks.pushNotificationConfigs.get",
              "path": "v1/{+name}",
              "description": "Get a push notification config for a task."
            },
            "list": {
              "id": "workspaceevents.tasks.pushNotificationConfigs.list",
              "flatPath": "v1/tasks/{tasksId}/pushNotificationConfigs",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^tasks/[^/]+$",
                  "description": "The parent task resource. Format: tasks/{task_id}"
                },
                "tenant": {
                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "For AIP-158 these fields are present. Usually not used/needed. The maximum number of configurations to return. If unspecified, all configs will be returned."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from a previous ListTaskPushNotificationConfigRequest call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTaskPushNotificationConfigRequest` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "Get a list of push notifications configured for a task.",
              "response": {
                "$ref": "ListTaskPushNotificationConfigResponse"
              },
              "path": "v1/{+parent}/pushNotificationConfigs"
            },
            "create": {
              "flatPath": "v1/tasks/{tasksId}/pushNotificationConfigs",
              "description": "Set a push notification config for a task.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "tenant": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
                },
                "parent": {
                  "description": "Required. The parent task resource for this config. Format: tasks/{task_id}",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^tasks/[^/]+/pushNotificationConfigs$"
                },
                "configId": {
                  "description": "Required. The ID for the new config.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "workspaceevents.tasks.pushNotificationConfigs.create",
              "response": {
                "$ref": "TaskPushNotificationConfig"
              },
              "path": "v1/{+parent}",
              "request": {
                "$ref": "TaskPushNotificationConfig"
              },
              "httpMethod": "POST"
            },
            "delete": {
              "id": "workspaceevents.tasks.pushNotificationConfigs.delete",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The resource name of the config to delete. Format: tasks/{task_id}/pushNotificationConfigs/{config_id}",
                  "pattern": "^tasks/[^/]+/pushNotificationConfigs/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "tenant": {
                  "type": "string",
                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                  "location": "query"
                }
              },
              "description": "Delete a push notification config for a task.",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "flatPath": "v1/tasks/{tasksId}/pushNotificationConfigs/{pushNotificationConfigsId}"
            }
          }
        }
      },
      "methods": {
        "get": {
          "response": {
            "$ref": "Task"
          },
          "parameters": {
            "historyLength": {
              "description": "The number of most recent messages from the task's history to retrieve.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "tenant": {
              "type": "string",
              "location": "query",
              "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
            },
            "name": {
              "description": "Required. The resource name of the task. Format: tasks/{task_id}",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^tasks/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/tasks/{tasksId}",
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "id": "workspaceevents.tasks.get",
          "description": "Get the current state of a task from the agent."
        },
        "subscribe": {
          "parameters": {
            "tenant": {
              "location": "query",
              "type": "string",
              "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
            },
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The resource name of the task to subscribe to. Format: tasks/{task_id}",
              "pattern": "^tasks/[^/]+$"
            }
          },
          "flatPath": "v1/tasks/{tasksId}:subscribe",
          "description": "TaskSubscription is a streaming call that will return a stream of task update events. This attaches the stream to an existing in process task. If the task is complete the stream will return the completed task (like GetTask) and close the stream.",
          "path": "v1/{+name}:subscribe",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "StreamResponse"
          },
          "id": "workspaceevents.tasks.subscribe"
        },
        "cancel": {
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/tasks/{tasksId}:cancel",
          "parameters": {
            "name": {
              "pattern": "^tasks/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The resource name of the task to cancel. Format: tasks/{task_id}"
            }
          },
          "request": {
            "$ref": "CancelTaskRequest"
          },
          "id": "workspaceevents.tasks.cancel",
          "response": {
            "$ref": "Task"
          },
          "description": "Cancel a task from the agent. If supported one should expect no more task updates for the task.",
          "path": "v1/{+name}:cancel"
        }
      }
    },
    "message": {
      "methods": {
        "stream": {
          "request": {
            "$ref": "SendMessageRequest"
          },
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v1/message:stream",
          "response": {
            "$ref": "StreamResponse"
          },
          "id": "workspaceevents.message.stream",
          "description": "SendStreamingMessage is a streaming call that will return a stream of task update events until the Task is in an interrupted or terminal state.",
          "parameterOrder": [],
          "path": "v1/message:stream"
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chat.bot",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "id": "workspaceevents.operations.get",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "location": "path",
              "pattern": "^operations/.*$",
              "required": true,
              "type": "string"
            }
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "path": "v1/{+name}",
          "flatPath": "v1/operations/{operationsId}",
          "parameterOrder": [
            "name"
          ]
        }
      }
    }
  },
  "rootUrl": "https://workspaceevents.googleapis.com/",
  "ownerName": "Google",
  "servicePath": "",
  "ownerDomain": "google.com",
  "title": "Google Workspace Events API",
  "basePath": ""
}
