{
  "basePath": "",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/chat.messages.reactions.readonly": {
          "description": "View reactions as well as their reaction content to messages in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.app.spaces": {
          "description": "On their own behalf, apps in Google Chat can create conversations and spaces and see or update their metadata (including history settings and access settings)"
        },
        "https://www.googleapis.com/auth/chat.users.availability.readonly": {
          "description": "See your availability status in Google Chat."
        },
        "https://www.googleapis.com/auth/meetings.space.created": {
          "description": "Create, edit, and see information about your Google Meet conferences created by the app."
        },
        "https://www.googleapis.com/auth/chat.app.all.messages.readonly": {
          "description": "On their own behalf, apps in Google Chat can see all messages and reactions throughout your Workspace organization, even when the Chat app isn't a member of a space or conversation"
        },
        "https://www.googleapis.com/auth/chat.memberships": {
          "description": "See, add, update, and remove members from conversations and spaces in Google Chat"
        },
        "https://www.googleapis.com/auth/meetings.space.readonly": {
          "description": "Read information about any of your Google Meet conferences"
        },
        "https://www.googleapis.com/auth/chat.messages.readonly": {
          "description": "See messages as well as their reactions and message content in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.app.memberships": {
          "description": "On their own behalf, apps in Google Chat can see, add, update, and remove members from conversations and spaces"
        },
        "https://www.googleapis.com/auth/chat.app.all.users.readstate.readonly": {
          "description": "On their own behalf, apps in Google Chat can see the last read time for all users in all spaces and conversations throughout your Workspace organization, even when the Chat app isn't a member."
        },
        "https://www.googleapis.com/auth/chat.app.all.memberships.readonly": {
          "description": "On their own behalf, apps in Google Chat can see all members in Google Chat spaces and conversations throughout your Workspace organization, even when the Chat app isn't a member"
        },
        "https://www.googleapis.com/auth/chat.users.readstate.readonly": {
          "description": "View last read time for Google Chat conversations"
        },
        "https://www.googleapis.com/auth/chat.messages.reactions": {
          "description": "See, add, and delete reactions as well as their reaction content to messages in Google Chat"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/chat.app.messages.readonly": {
          "description": "On their own behalf, apps in Google Chat can see all messages and their associated reactions and message content"
        },
        "https://www.googleapis.com/auth/chat.users.availability": {
          "description": "See and change your availability status in Google Chat."
        },
        "https://www.googleapis.com/auth/chat.users.readstate": {
          "description": "View and modify last read time for Google Chat conversations"
        },
        "https://www.googleapis.com/auth/chat.app.all.spaces.readonly": {
          "description": "On their own behalf, apps in Google Chat can see metadata about all spaces and conversations in Google Chat throughout your Workspace organization, even when the Chat app isn't a member"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/chat.app.spaces.readonly": {
          "description": "On their own behalf, apps in Google Chat can see conversations and spaces and their metadata (including history settings and access settings)"
        },
        "https://www.googleapis.com/auth/chat.bot": {
          "description": "Private Service: https://www.googleapis.com/auth/chat.bot"
        },
        "https://www.googleapis.com/auth/chat.app.memberships.readonly": {
          "description": "On their own behalf, apps in Google Chat can see members of conversations and spaces"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/chat.spaces.readonly": {
          "description": "View chat and spaces in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.spaces": {
          "description": "Create conversations and spaces and see or update metadata (including history settings and access settings) in Google Chat"
        },
        "https://www.googleapis.com/auth/chat.messages": {
          "description": "See, compose, send, update, and delete messages, their content, and attached cards; add, see, and delete reactions to messages."
        },
        "https://www.googleapis.com/auth/chat.memberships.readonly": {
          "description": "View members in Google Chat conversations."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "rootUrl": "https://workspaceevents.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "PayloadOptions": {
      "description": "Options about what data to include in the event payload. Only supported for Google Chat and Google Drive events.",
      "properties": {
        "includeResource": {
          "description": "Optional. Whether the event payload includes data about the resource that changed. For example, for an event where a Google Chat message was created, whether the payload contains data about the [`Message`](https://developers.google.com/chat/api/reference/rest/v1/spaces.messages) resource. If false, the event payload only includes the name of the changed resource.",
          "type": "boolean"
        },
        "fieldMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. If `include_resource` is set to `true`, the list of fields to include in the event payload. Separate fields with a comma. For example, to include a Google Chat message's sender and create time, enter `message.sender,message.createTime`. If omitted, the payload includes all fields for the resource. If you specify a field that doesn't exist for the resource, the system ignores the field."
        }
      },
      "type": "object",
      "id": "PayloadOptions"
    },
    "ListSubscriptionsResponse": {
      "type": "object",
      "properties": {
        "subscriptions": {
          "items": {
            "$ref": "Subscription"
          },
          "type": "array",
          "description": "List of subscriptions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "The response message for SubscriptionsService.ListSubscriptions.",
      "id": "ListSubscriptionsResponse"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Subscription": {
      "description": "A subscription to receive events about a Google Workspace resource. To learn more about subscriptions, see the [Google Workspace Events API overview](https://developers.google.com/workspace/events).",
      "id": "Subscription",
      "type": "object",
      "properties": {
        "notificationEndpoint": {
          "$ref": "NotificationEndpoint",
          "description": "Required. Immutable. The endpoint where the subscription delivers events, such as a Pub/Sub topic."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last time that the subscription is updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "userAuthority": {
          "description": "Output only. The user who authorized the creation of the subscription. The user must be able to view the `target_resource`. For Google Workspace users, the `{user}` value is the [`user.id`](https://developers.google.com/workspace/admin/directory/reference/rest/v1/users#User.FIELDS.id) field from the Directory API. Format: `users/{user}`",
          "readOnly": true,
          "type": "string"
        },
        "targetResource": {
          "description": "Required. Immutable. The Google Workspace resource that's monitored for events, formatted as the [full resource name](https://google.aip.dev/122#full-resource-names). To learn about target resources and the events that they support, see [Supported Google Workspace events](https://developers.google.com/workspace/events#supported-events). A user can only authorize your app to create one subscription for a given target resource. If your app tries to create another subscription with the same user credentials, the request returns an `ALREADY_EXISTS` error.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. If `true`, the subscription is in the process of being updated.",
          "type": "boolean",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED",
            "DELETED"
          ],
          "description": "Output only. The state of the subscription. Determines whether the subscription can receive events and deliver them to the notification endpoint.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The subscription is active and can receive and deliver events to its notification endpoint.",
            "The subscription is unable to receive events due to an error. To identify the error, see the `suspension_reason` field.",
            "The subscription is deleted."
          ]
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and might be sent on update requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-assigned unique identifier for the subscription."
        },
        "serviceAccountAuthority": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The service account that was used to authorize the creation of the subscription. This service account must be owned by the same Google Cloud project where you created this subscription. Format: `projects/{project_id}/serviceAccounts/{service_account_id}`"
        },
        "authority": {
          "readOnly": true,
          "description": "Output only. The user who authorized the creation of the subscription. When a user authorizes the subscription, this field and the `user_authority` field have the same value and the format is: Format: `users/{user}` For Google Workspace users, the `{user}` value is the [`user.id`](https://developers.google.com/admin-sdk/directory/reference/rest/v1/users#User.FIELDS.ids) field from the Directory API. When a Chat app authorizes the subscription, only `service_account_authority` field populates and this field is empty.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the subscription is created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "suspensionReason": {
          "readOnly": true,
          "description": "Output only. The error that suspended the subscription. To reactivate the subscription, resolve the error and call the `ReactivateSubscription` method.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "USER_SCOPE_REVOKED",
            "APP_SCOPE_REVOKED",
            "RESOURCE_DELETED",
            "USER_AUTHORIZATION_FAILURE",
            "APP_AUTHORIZATION_FAILURE",
            "ENDPOINT_PERMISSION_DENIED",
            "ENDPOINT_NOT_FOUND",
            "ENDPOINT_RESOURCE_EXHAUSTED",
            "OTHER"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The authorizing user has revoked the grant of one or more OAuth scopes. To learn more about authorization for Google Workspace, see [Configure the OAuth consent screen](https://developers.google.com/workspace/guides/configure-oauth-consent#choose-scopes).",
            "The domain administrator has revoked the grant of one or more OAuth scopes for the app.",
            "The target resource for the subscription no longer exists.",
            "The user that authorized the creation of the subscription no longer has access to the subscription's target resource.",
            "The app that authorized the creation of the subscription no longer has access to the subscription's target resource.",
            "The Google Workspace application doesn't have access to deliver events to your subscription's notification endpoint.",
            "The subscription's notification endpoint doesn't exist, or the endpoint can't be found in the Google Cloud project where you created the subscription.",
            "The subscription's notification endpoint failed to receive events due to insufficient quota or reaching rate limiting.",
            "An unidentified error has occurred."
          ],
          "type": "string"
        },
        "payloadOptions": {
          "description": "Optional. Options about what data to include in the event payload. Only supported for Google Chat and Google Drive events.",
          "$ref": "PayloadOptions"
        },
        "eventTypes": {
          "items": {
            "type": "string"
          },
          "description": "Required. Unordered list. Input for creating a subscription. Otherwise, output only. One or more types of events to receive about the target resource. Formatted according to the CloudEvents specification. The supported event types depend on the target resource of your subscription. For details, see [Supported Google Workspace events](https://developers.google.com/workspace/events/guides#supported-events). By default, you also receive events about the [lifecycle of your subscription](https://developers.google.com/workspace/events/guides/events-lifecycle). You don't need to specify lifecycle events for this field. If you specify an event type that doesn't exist for the target resource, the request returns an HTTP `400 Bad Request` status code.",
          "type": "array"
        },
        "driveOptions": {
          "$ref": "DriveOptions",
          "description": "Optional. Features that are supported only for subscriptions on Drive resources."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the subscription. Format: `subscriptions/{subscription}`"
        },
        "ttl": {
          "type": "string",
          "description": "Input only. The time-to-live (TTL) or duration for the subscription. If unspecified or set to `0`, uses the maximum possible duration.",
          "format": "google-duration"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Non-empty default. The timestamp in UTC when the subscription expires. Always displayed on output, regardless of what was used on input."
        }
      }
    },
    "DriveOptions": {
      "type": "object",
      "id": "DriveOptions",
      "description": "Additional supported options for serving Drive events.",
      "properties": {
        "includeDescendants": {
          "description": "Optional. Immutable. For subscriptions to Google Drive events, whether to receive events about Drive files that are children of the target folder or shared drive. This field must be `true` for subscriptions on shared drives. * If `false`, the subscription only receives events about changes to the folder or shared drive that's specified as the `targetResource`. * If `true`, the `mimeType` field of the `file` resource must be set to `application/vnd.google-apps.folder`. For details, see [Google Drive event types](https://developers.google.com/workspace/events/guides/events-drive#event-types).",
          "type": "boolean"
        }
      }
    },
    "NotificationEndpoint": {
      "type": "object",
      "properties": {
        "pubsubTopic": {
          "type": "string",
          "description": "Immutable. The Pub/Sub topic that receives events for the subscription. Format: `projects/{project}/topics/{topic}` You must create the topic in the same Google Cloud project where you create this subscription. Note: The Google Workspace Events API uses [ordering keys](https://cloud.google.com/pubsub/docs/ordering) for the benefit of sequential events. If the Cloud Pub/Sub topic has a [message storage policy](https://cloud.google.com/pubsub/docs/resource-location-restriction#exceptions) configured to exclude the nearest Google Cloud region, publishing events with ordering keys will fail. When the topic receives events, the events are encoded as Pub/Sub messages. For details, see the [Google Cloud Pub/Sub Protocol Binding for CloudEvents](https://github.com/googleapis/google-cloudevents/blob/main/docs/spec/pubsub.md)."
        }
      },
      "description": "The endpoint where the subscription delivers events.",
      "id": "NotificationEndpoint"
    },
    "ReactivateSubscriptionRequest": {
      "description": "The request message for SubscriptionsService.ReactivateSubscription.",
      "type": "object",
      "id": "ReactivateSubscriptionRequest",
      "properties": {}
    }
  },
  "canonicalName": "Workspace Events",
  "documentationLink": "https://developers.google.com/workspace/events",
  "revision": "20261004",
  "mtlsRootUrl": "https://workspaceevents.mtls.googleapis.com/",
  "description": "The Google Workspace Events API lets you subscribe to events and manage change notifications across Google Workspace applications.",
  "baseUrl": "https://workspaceevents.googleapis.com/",
  "servicePath": "",
  "version_module": true,
  "protocol": "rest",
  "id": "workspaceevents:v1",
  "name": "workspaceevents",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    }
  },
  "title": "Google Workspace Events API",
  "batchPath": "batch",
  "resources": {
    "subscriptions": {
      "methods": {
        "reactivate": {
          "flatPath": "v1/subscriptions/{subscriptionsId}:reactivate",
          "scopes": [
            "https://www.googleapis.com/auth/chat.app.all.memberships.readonly",
            "https://www.googleapis.com/auth/chat.app.all.messages.readonly",
            "https://www.googleapis.com/auth/chat.app.all.spaces.readonly",
            "https://www.googleapis.com/auth/chat.app.all.users.readstate.readonly",
            "https://www.googleapis.com/auth/chat.app.memberships",
            "https://www.googleapis.com/auth/chat.app.memberships.readonly",
            "https://www.googleapis.com/auth/chat.app.messages.readonly",
            "https://www.googleapis.com/auth/chat.app.spaces",
            "https://www.googleapis.com/auth/chat.app.spaces.readonly",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "id": "workspaceevents.subscriptions.reactivate",
          "description": "Reactivates a suspended Google Workspace subscription. This method resets your subscription's `State` field to `ACTIVE`. Before you use this method, you must fix the error that suspended the subscription. This method will ignore or reject any subscription that isn't currently in a suspended state. To learn how to use this method, see [Reactivate a Google Workspace subscription](https://developers.google.com/workspace/events/guides/reactivate-subscription). For a subscription on a [Chat target resource](https://developers.google.com/workspace/events/guides/events-chat), you can reactivate a subscription as: - A Chat app subscribing to space events where the app is a member by specifying an authorization scope that begins with `chat.app` and getting one-time administrator approval. To learn more, see [Authorize as a Chat app with administrator approval](https://developers.google.com/workspace/chat/authenticate-authorize-chat-app). - [Developer Preview](https://developers.google.com/workspace/preview): A Chat app subscribing to all events in a Google Workspace organization by specifying an authorization scope that begins with `chat.app.all` and getting one-time administrator approval. To learn more, see [Subscribe to all Google Chat events in a Workspace organization ](https://developers.google.com/workspace/events/guides/create-subscription#customer-subscription). - A user by specifying an authorization scope that doesn't include `app` in its name. To learn more, see [Authorize as a Chat user](https://developers.google.com/workspace/chat/authenticate-authorize-chat-user).",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^subscriptions/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Resource name of the subscription. Format: `subscriptions/{subscription}`"
            }
          },
          "request": {
            "$ref": "ReactivateSubscriptionRequest"
          },
          "path": "v1/{+name}:reactivate",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST"
        },
        "create": {
          "flatPath": "v1/subscriptions",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/chat.app.all.memberships.readonly",
            "https://www.googleapis.com/auth/chat.app.all.messages.readonly",
            "https://www.googleapis.com/auth/chat.app.all.spaces.readonly",
            "https://www.googleapis.com/auth/chat.app.all.users.readstate.readonly",
            "https://www.googleapis.com/auth/chat.app.memberships",
            "https://www.googleapis.com/auth/chat.app.memberships.readonly",
            "https://www.googleapis.com/auth/chat.app.messages.readonly",
            "https://www.googleapis.com/auth/chat.app.spaces",
            "https://www.googleapis.com/auth/chat.app.spaces.readonly",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "request": {
            "$ref": "Subscription"
          },
          "httpMethod": "POST",
          "description": "Creates a Google Workspace subscription. To learn how to use this method, see [Create a Google Workspace subscription](https://developers.google.com/workspace/events/guides/create-subscription). For a subscription on a [Chat target resource](https://developers.google.com/workspace/events/guides/events-chat), you can create a subscription as: - A Chat app subscribing to space events where the app is a member by specifying an authorization scope that begins with `chat.app` and getting one-time administrator approval. To learn more, see [Authorize as a Chat app with administrator approval](https://developers.google.com/workspace/chat/authenticate-authorize-chat-app). - [Developer Preview](https://developers.google.com/workspace/preview): A Chat app subscribing to all events in a Google Workspace organization by specifying an authorization scope that begins with `chat.app.all` and obtaining one-time administrator approval. To learn more, see [Subscribe to all Google Chat events in a Workspace organization ](https://developers.google.com/workspace/events/guides/create-subscription#customer-subscription). - A user by specifying an authorization scope that doesn't include `app` in its name. To learn more, see [Authorize as a Chat user](https://developers.google.com/workspace/chat/authenticate-authorize-chat-user).",
          "path": "v1/subscriptions",
          "id": "workspaceevents.subscriptions.create",
          "parameters": {
            "validateOnly": {
              "description": "Optional. If set to `true`, validates and previews the request, but doesn't create the subscription.",
              "location": "query",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/chat.bot",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/subscriptions/{subscriptionsId}",
          "parameters": {
            "allowMissing": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. If set to `true` and the subscription isn't found, the request succeeds but doesn't delete the subscription."
            },
            "etag": {
              "location": "query",
              "type": "string",
              "description": "Optional. Etag of the subscription. If present, it must match with the server's etag. Otherwise, request fails with the status `ABORTED`."
            },
            "validateOnly": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. If set to `true`, validates and previews the request, but doesn't delete the subscription."
            },
            "name": {
              "pattern": "^subscriptions/[^/]+$",
              "description": "Required. Resource name of the subscription to delete. Format: `subscriptions/{subscription}`",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Deletes a Google Workspace subscription. To learn how to use this method, see [Delete a Google Workspace subscription](https://developers.google.com/workspace/events/guides/delete-subscription).",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "workspaceevents.subscriptions.delete"
        },
        "patch": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Updates or renews a Google Workspace subscription. To learn how to use this method, see [Update or renew a Google Workspace subscription](https://developers.google.com/workspace/events/guides/update-subscription). For a subscription on a [Chat target resource](https://developers.google.com/workspace/events/guides/events-chat), you can update a subscription as: - A Chat app subscribing to space events where the app is a member by specifying an authorization scope that begins with `chat.app` and getting one-time administrator approval. To learn more, see [Authorize as a Chat app with administrator approval](https://developers.google.com/workspace/chat/authenticate-authorize-chat-app). - [Developer Preview](https://developers.google.com/workspace/preview): A Chat app subscribing to all events in a Google Workspace organization by specifying an authorization scope that begins with `chat.app.all` and getting one-time administrator approval. To learn more, see [Subscribe to all Google Chat events in a Workspace organization ](https://developers.google.com/workspace/events/guides/create-subscription#customer-subscription). - A user by specifying an authorization scope that doesn't include `app` in its name. To learn more, see [Authorize as a Chat user](https://developers.google.com/workspace/chat/authenticate-authorize-chat-user).",
          "httpMethod": "PATCH",
          "id": "workspaceevents.subscriptions.patch",
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "Optional. The field to update. If omitted, updates any fields included in the request. You can update one of the following fields in a subscription: * `expire_time`: The timestamp when the subscription expires. * `ttl`: The time-to-live (TTL) or duration of the subscription. * `event_types`: The list of event types to receive about the target resource. When using the `*` wildcard (equivalent to `PUT`), omitted fields are set to empty values and rejected if they're invalid."
            },
            "name": {
              "location": "path",
              "required": true,
              "description": "Identifier. Resource name of the subscription. Format: `subscriptions/{subscription}`",
              "pattern": "^subscriptions/[^/]+$",
              "type": "string"
            },
            "validateOnly": {
              "description": "Optional. If set to `true`, validates and previews the request, but doesn't update the subscription.",
              "type": "boolean",
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/chat.app.all.memberships.readonly",
            "https://www.googleapis.com/auth/chat.app.all.messages.readonly",
            "https://www.googleapis.com/auth/chat.app.all.spaces.readonly",
            "https://www.googleapis.com/auth/chat.app.all.users.readstate.readonly",
            "https://www.googleapis.com/auth/chat.app.memberships",
            "https://www.googleapis.com/auth/chat.app.memberships.readonly",
            "https://www.googleapis.com/auth/chat.app.messages.readonly",
            "https://www.googleapis.com/auth/chat.app.spaces",
            "https://www.googleapis.com/auth/chat.app.spaces.readonly",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "request": {
            "$ref": "Subscription"
          },
          "path": "v1/{+name}",
          "flatPath": "v1/subscriptions/{subscriptionsId}"
        },
        "list": {
          "id": "workspaceevents.subscriptions.list",
          "path": "v1/subscriptions",
          "response": {
            "$ref": "ListSubscriptionsResponse"
          },
          "parameters": {
            "filter": {
              "location": "query",
              "description": "Required. A query filter. You can filter subscriptions by event type (`event_types`) and target resource (`target_resource`). You must specify at least one event type in your query. To filter for multiple event types, use the `OR` operator. To filter by both event type and target resource, use the `AND` operator and specify the full resource name, such as `//chat.googleapis.com/spaces/{space}`. For example, the following queries are valid: ``` event_types:\"google.workspace.chat.membership.v1.updated\" OR event_types:\"google.workspace.chat.message.v1.created\" event_types:\"google.workspace.chat.message.v1.created\" AND target_resource=\"//chat.googleapis.com/spaces/{space}\" ( event_types:\"google.workspace.chat.membership.v1.updated\" OR event_types:\"google.workspace.chat.message.v1.created\" ) AND target_resource=\"//chat.googleapis.com/spaces/{space}\" ``` The following query is available in [Developer Preview](https://developers.google.com/workspace/preview): ``` event_types:\"google.workspace.chat.message.v1.created\" AND target_resource=\"//admin.googleapis.com/customers/my_customer\" ``` The server rejects invalid queries with an `INVALID_ARGUMENT` error.",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The maximum number of subscriptions to return. The service might return fewer than this value. If unspecified or set to `0`, up to 50 subscriptions are returned. The maximum value is 100. If you specify a value more than 100, the system only returns 100 subscriptions.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous list subscriptions call. Provide this parameter to retrieve the subsequent page. When paginating, the filter value should match the call that provided the page token. Passing a different value might lead to unexpected results."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Lists Google Workspace subscriptions. To learn how to use this method, see [List Google Workspace subscriptions](https://developers.google.com/workspace/events/guides/list-subscriptions).",
          "flatPath": "v1/subscriptions",
          "scopes": [
            "https://www.googleapis.com/auth/chat.bot",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ]
        },
        "get": {
          "id": "workspaceevents.subscriptions.get",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/chat.bot",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "response": {
            "$ref": "Subscription"
          },
          "httpMethod": "GET",
          "description": "Gets details about a Google Workspace subscription. To learn how to use this method, see [Get details about a Google Workspace subscription](https://developers.google.com/workspace/events/guides/get-subscription).",
          "flatPath": "v1/subscriptions/{subscriptionsId}",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^subscriptions/[^/]+$",
              "description": "Required. Resource name of the subscription. Format: `subscriptions/{subscription}`",
              "required": true
            }
          },
          "path": "v1/{+name}"
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations/{operationsId}",
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/chat.bot",
            "https://www.googleapis.com/auth/chat.memberships",
            "https://www.googleapis.com/auth/chat.memberships.readonly",
            "https://www.googleapis.com/auth/chat.messages",
            "https://www.googleapis.com/auth/chat.messages.reactions",
            "https://www.googleapis.com/auth/chat.messages.reactions.readonly",
            "https://www.googleapis.com/auth/chat.messages.readonly",
            "https://www.googleapis.com/auth/chat.spaces",
            "https://www.googleapis.com/auth/chat.spaces.readonly",
            "https://www.googleapis.com/auth/chat.users.availability",
            "https://www.googleapis.com/auth/chat.users.availability.readonly",
            "https://www.googleapis.com/auth/chat.users.readstate",
            "https://www.googleapis.com/auth/chat.users.readstate.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "id": "workspaceevents.operations.get",
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the operation resource.",
              "type": "string",
              "required": true,
              "pattern": "^operations/.*$"
            }
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "response": {
            "$ref": "Operation"
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "ownerName": "Google"
}
